Repository DataDog/integrations-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/agent-integrations, @DataDog/baklava, @DataDog/container-integrations

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                  @DataDog/agent-integrations

# Documentation
/docs/             @DataDog/baklava @DataDog/agent-integrations
*.md               @DataDog/baklava @DataDog/agent-integrations                          
manifest.json      @DataDog/baklava @DataDog/agent-integrations

# Container monitoring
/docker_daemon/    @DataDog/container-integrations @DataDog/agent-integrations
/ecs_fargate/      @DataDog/container-integrations @DataDog/agent-integrations
/kube_dns/         @DataDog/container-integrations @DataDog/agent-integrations
/kube_proxy/       @DataDog/container-integrations @DataDog/agent-integrations
/kubelet/          @DataDog/container-integrations @DataDog/agent-integrations
/kubernetes/       @DataDog/container-integrations @DataDog/agent-integrations
/kubernetes_state/ @DataDog/container-integrations @DataDog/agent-integrations

Add option to prevent duplicate hostnames
  elastic/datadog_checks/elastic/config.py
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/conftest.py
  elastic/tests/test_elastic.py
Owners: @DataDog/agent-integrations

Handle any clipboard errors
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env_commands/start.py
Owners: @DataDog/agent-integrations

add logos
  concourse_ci/logos/avatars-bot.png
  concourse_ci/logos/saas_logos-bot.png
  concourse_ci/logos/saas_logos-small.png
Owners: @DataDog/agent-integrations

Ensure new checks include the E2E fixture
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/tests/conftest.py
Owners: @DataDog/agent-integrations

add manifest.json
  concourse_ci/README.md
  concourse_ci/manifest.json
Owners: @DataDog/baklava, @DataDog/agent-integrations

add metadata
  concourse_ci/metadata.csv
Owners: @DataDog/agent-integrations

Make all tox envs available to E2E
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env_commands/ls.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env_commands/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/test.py
Owners: @DataDog/agent-integrations

wording update
  rabbitmq/README.md
Owners: @DataDog/baklava, @DataDog/agent-integrations

adding placeholder
  rabbitmq/README.md
Owners: @DataDog/baklava, @DataDog/agent-integrations

Document datadog minimum permissions (#2413)
  rabbitmq/README.md
Owners: @DataDog/baklava, @DataDog/agent-integrations

Add tests
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  rabbitmq/metadata.csv
  rabbitmq/tests/conftest.py
  rabbitmq/tests/metrics.py
  rabbitmq/tests/test_rabbitmq.py
Owners: @DataDog/agent-integrations

adjustements
  datadog_checks_dev/datadog_checks/dev/tooling/commands/manifest.py
Owners: @DataDog/agent-integrations

adjustment
  datadog_checks_dev/datadog_checks/dev/tooling/commands/service_checks.py
Owners: @DataDog/agent-integrations

fix json format
  concourse_ci/manifest.json
Owners: @DataDog/baklava, @DataDog/agent-integrations

add required fields to manifest.json
  concourse_ci/manifest.json
Owners: @DataDog/baklava, @DataDog/agent-integrations

update the unit_name in metadata.csv
  concourse_ci/metadata.csv
Owners: @DataDog/agent-integrations

Add option to prevent duplicate hostnames (#2453)
  elastic/datadog_checks/elastic/config.py
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/conftest.py
  elastic/tests/test_elastic.py
Owners: @DataDog/agent-integrations

Handle any clipboard errors (#2454)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env_commands/start.py
Owners: @DataDog/agent-integrations

Ensure new checks include the E2E fixture (#2455)
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/tests/conftest.py
Owners: @DataDog/agent-integrations

Make all tox envs available to E2E (#2457)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env_commands/ls.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env_commands/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/test.py
Owners: @DataDog/agent-integrations

Fix output when JSON error
  datadog_checks_dev/datadog_checks/dev/tooling/commands/manifest.py
Owners: @DataDog/agent-integrations

Fix output when JSON error
  datadog_checks_dev/datadog_checks/dev/tooling/commands/service_checks.py
Owners: @DataDog/agent-integrations

move util func
  datadog_checks_dev/datadog_checks/dev/tooling/commands/service_checks.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/utils.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Owners: @DataDog/agent-integrations

move util func
  datadog_checks_dev/datadog_checks/dev/tooling/commands/manifest.py
Owners: @DataDog/agent-integrations

Fix so tests don't run e2e/undefined envs
  datadog_checks_dev/datadog_checks/dev/tooling/test.py
Owners: @DataDog/agent-integrations

Fix so tests don't run e2e/undefined envs (#2458)
  datadog_checks_dev/datadog_checks/dev/tooling/test.py
Owners: @DataDog/agent-integrations

Fix metadata
  rabbitmq/metadata.csv
Owners: @DataDog/agent-integrations

Add service_checks.json files validation (#2432)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/service_checks.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Owners: @DataDog/agent-integrations

[Release] Bumped elastic version to 1.9.0
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
Owners: @DataDog/baklava, @DataDog/agent-integrations

[Release] Update metadata
  .links/tag.c295cf63.link
Owners: @DataDog/agent-integrations

Add cluster wide metrics (#2449)
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  rabbitmq/metadata.csv
  rabbitmq/tests/conftest.py
  rabbitmq/tests/metrics.py
  rabbitmq/tests/test_rabbitmq.py
Owners: @DataDog/agent-integrations

Improve output of `ddev manifest verify` command (#2444)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/manifest.py
Owners: @DataDog/agent-integrations

[Release] Bumped elastic version to 1.9.0 (#2459)
  .links/tag.c295cf63.link
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
Owners: @DataDog/agent-integrations, @DataDog/baklava

fix is_containerized
  datadog_checks_base/datadog_checks/base/utils/platform.py
Owners: @DataDog/agent-integrations

Fix is_containerized platform detection (#2460)
  datadog_checks_base/datadog_checks/base/utils/platform.py
Owners: @DataDog/agent-integrations

Fix is_containerized platform detection (#2460)
  datadog_checks_base/datadog_checks/base/utils/platform.py
Owners: @DataDog/agent-integrations

Add option to run the full check on any node
  consul/datadog_checks/consul/consul.py
  consul/datadog_checks/consul/data/conf.yaml.example
  consul/tests/conftest.py
  consul/tests/test_integration.py
Owners: @DataDog/agent-integrations

Update for additional changes from Agent 5 to Agent 6 (#2450)
  docker_daemon/README.md
Owners: @DataDog/container-integrations, @DataDog/agent-integrations

drop the metric from the catalog too
  couch/metadata.csv
Owners: @DataDog/agent-integrations

make flake8 happy
  couch/tests/test_couchv2.py
Owners: @DataDog/agent-integrations
