Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Fix windows unit tests
  ddev/src/ddev/config/file.py
  ddev/tests/cli/config/test_show.py
Labels: none

Refactor deep merge method to clarify docstring
  .pre-commit-config.yaml
  ddev/src/ddev/config/file.py
Labels: none

Fix windows unit tests
  ddev/src/ddev/config/file.py
  ddev/tests/cli/config/test_show.py
Labels: none

Fix new class name in config_file fixture patch
  ddev/tests/conftest.py
Labels: none

Rename the CombinedConfigFile to a more suitable name
  ddev/src/ddev/cli/application.py
  ddev/src/ddev/config/file.py
  ddev/src/ddev/plugin/external/starship/prompt.py
  ddev/tests/cli/config/test_show.py
  ddev/tests/config/test_file.py
  ddev/tests/conftest.py
Labels: none

Update configuration docs with mention to the local overrides
  .pre-commit-config.yaml
  ddev/src/ddev/cli/config/show.py
  docs/developer/ddev/configuration.md
Labels: documentation

Ensure github user and token are set for new unit tests added
  ddev/tests/cli/config/test_show.py
Labels: none

Improve covereage
  .coveragerc
  ddev/src/ddev/cli/config/restore.py
  ddev/tests/cli/config/test_restore.py
  ddev/tests/cli/config/test_show.py
Labels: none

Simplify save and update ensuring local file is also kept udpated
  ddev/src/ddev/config/file.py
Labels: none

Fix line numbers by accounting for the same line appearing more than once
  ddev/src/ddev/config/file.py
  ddev/tests/cli/config/test_show.py
  ddev/tests/config/test_file.py
Labels: none

Add new command to quickly set the current working directory as a local repo
  ddev/src/ddev/cli/config/__init__.py
  ddev/src/ddev/cli/config/local_repo.py
  ddev/src/ddev/cli/config/set.py
  ddev/src/ddev/config/file.py
  ddev/src/ddev/config/utils.py
  ddev/tests/cli/config/test_local_repo.py
Labels: none

Add support for local overrides from .ddev.toml file
  ddev/src/ddev/cli/__init__.py
  ddev/src/ddev/cli/application.py
  ddev/src/ddev/cli/config/edit.py
  ddev/src/ddev/cli/config/restore.py
  ddev/src/ddev/cli/config/set.py
  ddev/src/ddev/cli/config/show.py
  ddev/src/ddev/config/file.py
  ddev/src/ddev/config/model.py
  ddev/src/ddev/plugin/external/starship/prompt.py
  ddev/src/ddev/utils/toml.py
  ddev/tests/cli/config/test_edit.py
  ddev/tests/cli/config/test_set.py
  ddev/tests/cli/config/test_show.py
  ddev/tests/config/test_file.py
  ddev/tests/config/test_model.py
  ddev/tests/conftest.py
Labels: none

Fix "ddev set repos.core" in "release-auto" in GitLab
  .gitlab-ci.yml
Labels: none

[Release] SQLServer fixes (#19957)
  .in-toto/tag.bd79a691.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/19930.fixed
  sqlserver/changelog.d/19931.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

fix inconsistent capitalization of `Fluentd` (#19941)
  fluentd/README.md
Labels: documentation

remove extract_sql_comments and rely on obfuscator for comment and procedure collection (#19935)
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/19935.added
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_statements.py
Labels: none

createIndexes is not explainable
  mongo/datadog_checks/mongo/dbm/utils.py
Labels: none

Test that FoundationDB process metrics are tagged with process class and role
  foundationdb/tests/test_foundationdb.py
Labels: none

createIndexes is not explainable (#19959)
  mongo/datadog_checks/mongo/dbm/utils.py
Labels: none

Honor `tags` instance configuration in FoundationDB integration
  foundationdb/changelog.d/19771.fixed
  foundationdb/datadog_checks/foundationdb/check.py
  foundationdb/tests/test_foundationdb.py
Labels: none

add a comment to a python file
  ddev/src/ddev/cli/validate/ci.py
Labels: none

relative import fixes for integrations not dcd or dcb
  gitlab/datadog_checks/gitlab/gitlab_v2.py
  ibm_mq/datadog_checks/ibm_mq/collectors/channel_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/stats_collector.py
  ibm_mq/datadog_checks/ibm_mq/stats/base_stats.py
  ibm_mq/datadog_checks/ibm_mq/stats/channel_stats.py
  ibm_mq/datadog_checks/ibm_mq/stats/queue_stats.py
  marklogic/datadog_checks/marklogic/parsers/common.py
  marklogic/datadog_checks/marklogic/parsers/health.py
  marklogic/datadog_checks/marklogic/parsers/resources.py
  marklogic/datadog_checks/marklogic/parsers/status.py
  mongo/datadog_checks/mongo/mongo.py
  mysql/datadog_checks/mysql/activity.py
  mysql/datadog_checks/mysql/databases_data.py
  mysql/datadog_checks/mysql/metadata.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  pyproject.toml
  snmp/datadog_checks/snmp/parsing/metric_tags.py
  snmp/datadog_checks/snmp/parsing/metrics.py
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/agent_history.py
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/datadog_checks/sqlserver/metadata.py
  sqlserver/datadog_checks/sqlserver/schemas.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/datadog_checks/sqlserver/stored_procedures.py
  vsphere/datadog_checks/vsphere/legacy/vsphere_legacy.py
Labels: none

add back old rules and lint
  gitlab/datadog_checks/gitlab/gitlab_v2.py
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/stats_collector.py
  ibm_mq/datadog_checks/ibm_mq/stats/channel_stats.py
  ibm_mq/datadog_checks/ibm_mq/stats/queue_stats.py
  marklogic/datadog_checks/marklogic/parsers/health.py
  pyproject.toml
  snmp/datadog_checks/snmp/parsing/metric_tags.py
  snmp/datadog_checks/snmp/parsing/metrics.py
Labels: none

second commit
  ddev/src/ddev/cli/validate/ci.py
Labels: none

Update dashboard query
  juniper_srx_firewall/assets/dashboards/juniper_srx_firewall_authentication_logs.json
Labels: none

Integrating queue_delivery_metrics endpoint
  rabbitmq/datadog_checks/rabbitmq/openmetrics/metrics.py
Labels: none

Add option to lowercase "device" tag
  disk/assets/configuration/spec.yaml
  disk/datadog_checks/disk/config_models/defaults.py
  disk/datadog_checks/disk/config_models/instance.py
  disk/datadog_checks/disk/data/conf.yaml.default
  disk/datadog_checks/disk/disk.py
  disk/tests/test_unit.py
Labels: none

add changelog
  disk/changelog.d/19964.added
Labels: none

Limit to linux
  disk/assets/configuration/spec.yaml
  disk/datadog_checks/disk/data/conf.yaml.default
  disk/tests/test_unit.py
Labels: none

Update disk/assets/configuration/spec.yaml
  disk/assets/configuration/spec.yaml
Labels: none

sync config
  disk/datadog_checks/disk/data/conf.yaml.default
Labels: none

initial scaffolding
  wlan/CHANGELOG.md
  wlan/README.md
  wlan/assets/dashboards/wlan_overview.json
  wlan/assets/service_checks.json
  wlan/images/IMAGES_README.md
  wlan/manifest.json
  wlan/metadata.csv
Labels: documentation

validate manifest description
  celery/manifest.json
  celery/metadata.csv
Labels: none

add Celery to labeler.yml
  .github/workflows/config/labeler.yml
  celery/assets/dashboards/celery_overview.json
  celery/manifest.json
  celery/metadata.csv
Labels: dev/tooling

fix mocks
  glusterfs/tests/conftest.py
  glusterfs/tests/fixtures/gstatus.txt
Labels: none

Better metric descriptions and readme docs (#19933)
  infiniband/README.md
  infiniband/assets/configuration/spec.yaml
  infiniband/datadog_checks/infiniband/data/conf.yaml.example
  infiniband/manifest.json
  infiniband/metadata.csv
Labels: documentation

Update README.md
  postgres/README.md
Labels: documentation

Update manifest.json (#19787)
  databricks/manifest.json
Labels: none

add group by
  postgres/assets/monitors/percent_usage_connections.json
Labels: none

Ensure github user and token are set for new unit tests added
  ddev/tests/cli/config/test_show.py
Labels: none
