Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Have postgres run do the AgentCheck.count and checking for db monitoring flag rather than the statements class doing it
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statements.py
Labels: none

Fix tests
  mongo/tests/results/metrics-replset-lag-from-primary-configsvr.json
  mongo/tests/test_integration.py
Labels: none

Fix tests (#7863)
  mongo/tests/results/metrics-replset-lag-from-primary-configsvr.json
  mongo/tests/test_integration.py
Labels: none

Move PR_DATE_FORMAT to the top of the file
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/github_users.py
Labels: none

Make refresh_oids_cache_interval available as init_config (#7821)
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_check.py
Labels: none

Install vcpython27 for ddbase on windows
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Store english and localized counter classes for reusability
  datadog_checks_base/datadog_checks/base/checks/win/winpdh.py
Labels: none

Add config specs (#7856)
  win32_event_log/assets/configuration/spec.yaml
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
  win32_event_log/manifest.json
Labels: none

Use new properties in file
  datadog_checks_base/datadog_checks/base/checks/win/winpdh.py
Labels: none

Fix style
  datadog_checks_base/datadog_checks/base/checks/win/winpdh.py
Labels: none

Address review
  datadog_checks_base/datadog_checks/base/checks/win/winpdh.py
Labels: none

Use sql.normalize_query_tag from datadog_checks_base instead of defining that in this integration
  postgres/datadog_checks/postgres/statements.py
Labels: none

Install vcpython27 for ddbase on windows (#7862)
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Sync config
  etcd/datadog_checks/etcd/data/conf.yaml.example
Labels: none

Add config specs (#7848)
  crio/assets/configuration/spec.yaml
  crio/datadog_checks/crio/data/conf.yaml.example
  crio/manifest.json
  crio/setup.py
Labels: none

Update metadata.csv (#7859)
  mysql/metadata.csv
Labels: none

Refine wording
  docs/developer/base/basics.md
Labels: documentation

Add shared class for statement metrics
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
Labels: none

Black formatting
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
Labels: none

Add function for computing sql signature
  datadog_checks_base/datadog_checks/base/utils/db/sql.py
  datadog_checks_base/requirements.in
Labels: none

Update db statements lib with tests
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
  datadog_checks_base/tests/test_db_statements.py
Labels: none

Bugfixes
  postgres/datadog_checks/postgres/statements.py
Labels: none

Add statement metrics
  postgres/datadog_checks/postgres/statements.py
Labels: none

Fix edge case that would drop results on stats reset
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
  datadog_checks_base/tests/test_db_statements.py
Labels: none

Update config for deep database monitoring options
  postgres/datadog_checks/postgres/config.py
Labels: none

Add a test for stats resets
  datadog_checks_base/tests/test_db_statements.py
Labels: none

Revert postgres for its own PR
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/compose/docker-compose.yaml
  postgres/tests/compose/etc/postgresql/postgresql.conf
  postgres/tests/compose/resources/02_load_data.sh
  postgres/tests/compose/resources/04_mark_container_as_ready.sh
  postgres/tests/test_pg_integration.py
Labels: none

Code review feedback
  datadog_checks_base/datadog_checks/base/utils/db/sql.py
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statements.py
  postgres/requirements.in
Labels: none

Add RDS tags to postgres tags
  postgres/datadog_checks/postgres/config.py
Labels: none

Cleanup unused vars
  postgres/datadog_checks/postgres/statements.py
Labels: none

Bump datadog_checks_base version in agent requirements
  requirements-agent-release.txt
Labels: none

Fix comment
  postgres/datadog_checks/postgres/config.py
Labels: none

Support tests on pg_stat_statements in testing framework
  postgres/tests/compose/docker-compose.yaml
  postgres/tests/compose/etc/postgresql/postgresql.conf
  postgres/tests/compose/resources/02_load_data.sh
  postgres/tests/compose/resources/04_mark_container_as_ready.sh
Labels: none

Use the statement metrics in postgres check
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statements.py
Labels: none

Add stub for obfuscate_sql to datadog_agent
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
Labels: none

Remove unnecessary variable
  postgres/datadog_checks/postgres/statements.py
Labels: none

Fix imports in postgres check
  postgres/datadog_checks/postgres/statements.py
Labels: none

Add a test for statement level metrics
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  postgres/tests/test_pg_integration.py
Labels: none

Lint and test fixes
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
  postgres/datadog_checks/postgres/statements.py
  postgres/requirements.in
Labels: none

Bump datadog_checks_base version
  datadog_checks_base/datadog_checks/base/__about__.py
Labels: none
