Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

test
  weaviate/tests/conftest.py
Labels: none

revert
  weaviate/tests/conftest.py
Labels: none

further reverts
  weaviate/tests/conftest.py
Labels: none

formatting
  weaviate/datadog_checks/weaviate/check.py
Labels: none

change response check from 200 to ok
  weaviate/datadog_checks/weaviate/check.py
Labels: none

styling
  weaviate/datadog_checks/weaviate/check.py
Labels: none

re-order api calls
  weaviate/datadog_checks/weaviate/check.py
Labels: none

test for liveness
  weaviate/tests/conftest.py
Labels: none

styling
  weaviate/tests/conftest.py
Labels: none

add a sleep
  weaviate/tests/conftest.py
Labels: none

small refactor
  weaviate/tests/common.py
  weaviate/tests/conftest.py
Labels: none

small changes
  weaviate/datadog_checks/weaviate/check.py
  weaviate/datadog_checks/weaviate/config_models/validators.py
  weaviate/tests/common.py
  weaviate/tests/conftest.py
Labels: none

add undocumented metrics
  weaviate/datadog_checks/weaviate/check.py
  weaviate/datadog_checks/weaviate/metrics.py
  weaviate/metadata.csv
  weaviate/tests/common.py
Labels: none

fix tests with new metrics
  weaviate/datadog_checks/weaviate/check.py
  weaviate/datadog_checks/weaviate/metrics.py
  weaviate/metadata.csv
  weaviate/tests/common.py
  weaviate/tests/conftest.py
  weaviate/tests/test_e2e.py
  weaviate/tests/test_weaviate.py
Labels: none

cleanup
  weaviate/datadog_checks/weaviate/check.py
Labels: none

Update weaviate/tests/utils.py
  weaviate/tests/utils.py
Labels: none

nits
  weaviate/assets/configuration/spec.yaml
  weaviate/datadog_checks/weaviate/data/conf.yaml.example
Labels: none

rename test
  weaviate/tests/test_e2e.py
Labels: none

nits
  weaviate/tests/conftest.py
Labels: none

styling
  weaviate/datadog_checks/weaviate/check.py
  weaviate/tests/conftest.py
Labels: none

nits
  weaviate/assets/service_checks.json
Labels: none

raise on error
  weaviate/datadog_checks/weaviate/check.py
Labels: none

revert raise
  weaviate/datadog_checks/weaviate/check.py
Labels: none

expand fixtures
  weaviate/metadata.csv
  weaviate/tests/common.py
  weaviate/tests/fixtures/weaviate_openmetrics.txt
Labels: none

get validations passing
  weaviate/assets/dashboards/weaviate_overview.json
  weaviate/datadog_checks/weaviate/config_models/defaults.py
  weaviate/datadog_checks/weaviate/config_models/instance.py
  weaviate/datadog_checks/weaviate/data/conf.yaml.example
  weaviate/manifest.json
  weaviate/metadata.csv
Labels: none

fix link
  weaviate/datadog_checks/weaviate/metrics.py
Labels: none

refactor module
  weaviate/tests/test_weaviate.py
  weaviate/tests/utils.py
Labels: none

nits
  weaviate/assets/configuration/spec.yaml
  weaviate/datadog_checks/weaviate/check.py
Labels: none

get test passing
  weaviate/assets/configuration/spec.yaml
  weaviate/assets/dashboards/weaviate_overview.json
  weaviate/tests/test_weaviate.py
Labels: none

change fixture file extensions
  weaviate/CHANGELOG.md
  weaviate/tests/fixtures/weaviate_meta_api.json
  weaviate/tests/fixtures/weaviate_nodes_api.json
  weaviate/tests/test_weaviate.py
Labels: documentation

delete file
  weaviate/assets/dashboards/weaviate_overview.json
Labels: none

[AI-2985] Add process signature for flink integration (#15155)
  flink/manifest.json
Labels: none

Rename windows event log (#15118)
  win32_event_log/README.md
  win32_event_log/manifest.json
Labels: documentation

fix ci
  .github/workflows/test-all.yml
Labels: dev/tooling

update snmprec
  snmp/tests/compose/data/cisco-ironport-email.snmprec
Labels: none

Add profile for extreme-switching (#15164)
  snmp/datadog_checks/snmp/data/default_profiles/extreme-switching.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/extreme-switching.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_extreme_switching.py
Labels: none

fix license headers
  weaviate/tests/common.py
  weaviate/tests/test_e2e.py
Labels: none

update test
  snmp/tests/compose/data/cisco-ironport-email.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_ironport_email.py
Labels: none

comment 1.3.6.1.4.1.9.12.3.1.3.1788
  snmp/datadog_checks/snmp/data/default_profiles/cisco-firepower.yaml
Labels: none

fix tags
  snmp/datadog_checks/snmp/data/default_profiles/cisco-ironport-email.yaml
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
