Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

remove timing data now that we have tracked methods
  sqlserver/datadog_checks/sqlserver/xe_collection/base.py
Labels: none

license fix
  sqlserver/datadog_checks/sqlserver/xe_collection/base.py
  sqlserver/datadog_checks/sqlserver/xe_collection/error_events.py
  sqlserver/datadog_checks/sqlserver/xe_collection/query_completion_events.py
  sqlserver/datadog_checks/sqlserver/xe_collection/registry.py
  sqlserver/tests/test_xe_collection.py
Labels: none

validate config
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: none

add change log
  sqlserver/changelog.d/20229.added
Labels: none

fix conditional logging
  sqlserver/datadog_checks/sqlserver/xe_collection/base.py
Labels: none

clean up code
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-ha/sql/aoag_secondary.sql
  sqlserver/tests/conftest.py
Labels: none

fix unit tests
  sqlserver/tests/test_xe_collection.py
Labels: none

add query visibility into error
  sqlserver/tests/conftest.py
Labels: none

validate models
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
Labels: none

update all setup scripts to set up XE sessions
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-ha/sql/aoag_secondary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
Labels: none

make collection interval a number, not int
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/tests/compose-windows/setup.sql
Labels: none

Ensure Validate Pinned Actions run on master
  .github/workflows/validate-pinned-actions.yml
Labels: dev/tooling

Ensure Validate Pinned Actions run on master (#20245)
  .github/workflows/validate-pinned-actions.yml
Labels: dev/tooling

Unpin MapR
  mapr/hatch.toml
  mapr/tests/conftest.py
Labels: none

WIP seff
  slurm/datadog_checks/slurm/check.py
Labels: none

fix tests
  slurm/tests/common.py
Labels: none

Fix slurm partition metrics with proper name (#20169)
  slurm/changelog.d/20169.fixed
  slurm/datadog_checks/slurm/check.py
  slurm/datadog_checks/slurm/constants.py
  slurm/metadata.csv
  slurm/tests/common.py
Labels: none

add raw query signature to query completion and error
  sqlserver/datadog_checks/sqlserver/xe_collection/base.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_xe_collection.py
Labels: none

revert to execute with retries
  sqlserver/tests/test_integration.py
Labels: none

Fix terraform link (#20241)
  ecs_fargate/README.md
Labels: documentation

sign binary
  .github/workflows/build-ddev.yml
Labels: dev/tooling

test
  mapr/tests/conftest.py
Labels: none

test
  .github/workflows/build-ddev.yml
Labels: dev/tooling

test again
  .github/workflows/build-ddev.yml
Labels: dev/tooling

test
  .github/workflows/datadog-static-analysis.yml
Labels: dev/tooling

Update build-ddev.yml
  .github/workflows/build-ddev.yml
Labels: dev/tooling

debug pipeline, only run on 2022 sqlserver
  sqlserver/hatch.toml
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
Labels: none

Use workflow ID in wheel upload
  .builders/tests/test_upload.py
  .builders/upload.py
Labels: none

Update build-ddev.yml
  .github/workflows/build-ddev.yml
Labels: dev/tooling

[Release] Bumped slurm version to 1.2.0
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/20165.added
  slurm/changelog.d/20167.fixed
  slurm/changelog.d/20169.fixed
  slurm/changelog.d/20170.added
  slurm/changelog.d/20225.added
  slurm/changelog.d/20230.fixed
  slurm/changelog.d/20231.added
  slurm/datadog_checks/slurm/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

Bumped slurm version to 1.2.0 (#20249)
  .in-toto/tag.ec45eb9d.link
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/20165.added
  slurm/changelog.d/20167.fixed
  slurm/changelog.d/20169.fixed
  slurm/changelog.d/20170.added
  slurm/changelog.d/20225.added
  slurm/changelog.d/20230.fixed
  slurm/changelog.d/20231.added
  slurm/datadog_checks/slurm/__about__.py
Labels: documentation

add Cisco ACI faults
  cisco_aci/README.md
Labels: documentation

Update permissions needed for github actions that run tests (#20239)
  .github/workflows/flaky-tests.yml
  .github/workflows/master.yml
  .github/workflows/nightly-base-package.yml
  .github/workflows/pr-all.yml
  .github/workflows/pr.yml
  .github/workflows/test-agent.yml
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
  .github/workflows/weekly-latest.yml
Labels: dev/tooling

test
  arangodb/datadog_checks/arangodb/check.py
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Unpin MapR (#20246)
  mapr/hatch.toml
  mapr/tests/conftest.py
Labels: none

add logs_enabled true and wording fix
  cisco_aci/README.md
Labels: documentation

adding seff metrics
  slurm/datadog_checks/slurm/check.py
  slurm/metadata.csv
  slurm/tests/fixtures/seff.txt
  slurm/tests/test_unit.py
Labels: none

validataions
  slurm/assets/configuration/spec.yaml
  slurm/datadog_checks/slurm/config_models/defaults.py
  slurm/datadog_checks/slurm/config_models/instance.py
  slurm/datadog_checks/slurm/data/conf.yaml.example
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
