Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Bound remote query page sends by a write timeout instead of the connect timeout
  datadog_checks_base/datadog_checks/base/utils/remote_queries/upload.py
  datadog_checks_base/tests/utils/remote_queries/helpers.py
  datadog_checks_base/tests/utils/remote_queries/test_pages.py
  datadog_checks_base/tests/utils/remote_queries/test_upload.py
Labels: none

Pass --ignore-teardown-errors to E2E tests only in core
  .github/actions/setup-test-target-scripts/src/run-e2e-tests.sh
Labels: none

Improve Dispatcher outcome metrics after the first dashboard review (#25441)
  ddev/changelog.d/25441.added
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/src/ddev/cli/ci/tests/dispatcher.py
  ddev/src/ddev/cli/ci/tests/execution_metrics.py
  ddev/src/ddev/cli/ci/tests/task_test_gatherer.py
  ddev/tests/cli/ci/test_dispatch_tests.py
  ddev/tests/cli/ci/tests/test_dispatcher.py
  ddev/tests/cli/ci/tests/test_task_test_gatherer.py
Labels: none

Pass --ignore-teardown-errors to E2E tests only in core (#25490)
  .github/actions/setup-test-target-scripts/src/run-e2e-tests.sh
Labels: none

Simplify HTTP response storage
  ddev/src/ddev/ai/tools/http/response_store.py
  ddev/tests/ai/tools/http/test_response_store.py
Labels: none

Add shared HTTP transport and POST tool
  ddev/src/ddev/ai/tools/http/base.py
  ddev/src/ddev/ai/tools/http/http_get.py
  ddev/src/ddev/ai/tools/http/http_post.py
  ddev/src/ddev/ai/tools/registry.py
  ddev/tests/ai/tools/agents/test_base.py
  ddev/tests/ai/tools/http/helpers.py
  ddev/tests/ai/tools/http/test_base.py
  ddev/tests/ai/tools/http/test_http_get.py
  ddev/tests/ai/tools/http/test_http_post.py
  ddev/tests/ai/tools/test_registry.py
Labels: none

Adapt HTTP tools to the simplified response store
  ddev/src/ddev/ai/tools/http/base.py
  ddev/tests/ai/tools/http/test_base.py
Labels: none

Bind HTTP response storage to each AI run
  ddev/src/ddev/ai/agent/build.py
  ddev/src/ddev/ai/runtime/orchestrator.py
  ddev/src/ddev/ai/runtime/resources.py
  ddev/src/ddev/ai/tools/registry.py
  ddev/tests/ai/agent/test_build.py
  ddev/tests/ai/runtime/test_resources.py
  ddev/tests/ai/tools/test_registry.py
Labels: none

Deduplicate connection errors by kind and code, and drop the zero error code
  mysql/datadog_checks/mysql/data_observability.py
  mysql/tests/test_data_observability.py
Labels: none

Report no error code for a closed socket in task results
  mysql/datadog_checks/mysql/do_task.py
  mysql/tests/test_do_task.py
Labels: none

Name the HTTP response directory in the run lifecycle
  ddev/src/ddev/ai/runtime/resources.py
  ddev/tests/ai/runtime/test_resources.py
Labels: none

Update build_agent.yaml to use agent branch: 7.85.x
  .gitlab/build_agent.yaml
Labels: none

fix(skills): extract dotless asset metrics
  .claude/skills/onboard-evalya/scripts/asset_metrics.py
  .claude/skills/onboard-evalya/scripts/test_asset_metrics.py
Labels: none

docs(skills): use Markdown literals in docstring
  .claude/skills/onboard-evalya/scripts/asset_metrics.py
Labels: none

style(rabbitmq): type-hint slow_reader helpers
  rabbitmq/tests/slow_reader.py
Labels: none

fix(rabbitmq): gate all workloads on ACTIVITY_GEN
  rabbitmq/tests/README.md
  rabbitmq/tests/compose/full-coverage.compose
Labels: documentation

fix(mongo): reject URI-unsafe credentials
  mongo/tests/README.md
  mongo/tests/seed.sh
Labels: documentation

fix(mongo): probe forwarded ports in healthcheck
  mongo/tests/evalya.yaml
Labels: none

fix(mongo): publish overridden DB credentials
  mongo/tests/evalya.yaml
Labels: none

Run task instances as their own check and share the DO query session
  mysql/changelog.d/25414.fixed
  mysql/datadog_checks/mysql/data_observability.py
  mysql/datadog_checks/mysql/do_query.py
  mysql/datadog_checks/mysql/do_task.py
  mysql/datadog_checks/mysql/instance_mixin.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/do_fakes.py
  mysql/tests/test_data_observability.py
  mysql/tests/test_do_query.py
  mysql/tests/test_do_task.py
  mysql/tests/test_managed_auth.py
Labels: none

Simplify omit_histogram_bound_tags tests
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/histogram.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_histogram.py
Labels: none

Move multi-bucket capability check onto AgentCheck
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transform.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
Labels: none

Shorten two monitor descriptions to fit the 300 character limit
  intersystems_iris/assets/monitors/instance_cpu_usage_is_saturated.json
  intersystems_iris/assets/monitors/new_system_alerts_have_been_posted.json
Labels: none

Update Temporal Cloud README to reflect that data collection has stopped
  temporal_cloud/README.md
Labels: documentation

Log Dispatcher operation failures and finished jobs from their own component
  ddev/changelog.d/25491.added
  ddev/src/ddev/cli/ci/tests/dispatcher_attributes.py
  ddev/src/ddev/cli/ci/tests/execution_metrics.py
  ddev/src/ddev/cli/ci/tests/task_run_reporter.py
  ddev/src/ddev/cli/ci/tests/task_test_gatherer.py
  ddev/src/ddev/cli/ci/tests/task_test_runner.py
  ddev/tests/cli/ci/tests/helpers.py
  ddev/tests/cli/ci/tests/test_dispatcher_attributes.py
  ddev/tests/cli/ci/tests/test_execution_metrics.py
  ddev/tests/cli/ci/tests/test_task_run_reporter.py
  ddev/tests/cli/ci/tests/test_task_test_gatherer.py
  ddev/tests/cli/ci/tests/test_task_test_runner.py
Labels: none

Finalize Agent release 7.84.1
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
Labels: documentation

patch librdkafka
  .builders/images/linux-aarch64/build_script.sh
  .builders/images/linux-x86_64/build_script.sh
  .builders/images/macos/extra_build.sh
  .builders/images/windows-x86_64/build_script.ps1
  .builders/patches/librdkafka-fix-offsetfetch-null-cgrp.patch
  .ddev/ci/scripts/kafka_consumer/linux/32_install_kerberos.sh
Labels: none

generate new admin client when running into coordinator errors
  kafka_consumer/changelog.d/PR_NUMBER.fixed
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/tests/test_unit.py
Labels: none

Assert clustered key order and descending index keys.
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_metadata.py
  sqlserver/tests/test_schemas.py
Labels: none

Fix ruff format so SQL Server CI can run tests.
  sqlserver/tests/test_schemas.py
Labels: none

Update Temporal Cloud README to reflect that data collection has stopped (#25493)
  temporal_cloud/README.md
Labels: documentation

Stream task results as chunk events and a final event
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/25414.added
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/do_query.py
  mysql/datadog_checks/mysql/do_task.py
  mysql/tests/do_fakes.py
  mysql/tests/test_do_query.py
  mysql/tests/test_do_task.py
  mysql/tests/test_do_task_integration.py
Labels: none

Expect key_order primary key columns to be non-nullable.
  sqlserver/tests/test_metadata.py
Labels: none

Drop the per-row database name from database payloads
  postgres/datadog_checks/postgres/role_queries.py
  postgres/tests/test_roles.py
Labels: none

Add pre-review PR checklist and description check
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-description-check.yml
  .github/workflows/scripts/check_pr_description.py
  .github/workflows/scripts/tests/test_check_pr_description.py
  AGENTS.md
Labels: documentation, dev/tooling

Trim checklist to judgment items and add human-author attestation
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Labels: documentation

Limit QA skip default to code owned exclusively by agent-integrations
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Labels: documentation

Never use qa/required for code owned exclusively by agent-integrations
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Labels: documentation

Test the PR description check against the real template
  .github/workflows/scripts/tests/test_check_pr_description.py
Labels: dev/tooling

Fix nvidia_triton server info URL for IPv6 endpoints (#25316)
  nvidia_triton/changelog.d/25316.fixed
  nvidia_triton/datadog_checks/nvidia_triton/check.py
  nvidia_triton/tests/test_unit.py
Labels: none
