Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Cast to float before computing temporal percent (#6146)
  datadog_checks_base/datadog_checks/base/utils/db/transform.py
  datadog_checks_base/tests/test_db.py
Labels: none

[Release] Bumped datadog_checks_base version to 11.3.1
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.31091c85.link
Labels: none

[Release] Bumped datadog_checks_base version to 11.3.1 (#6157)
  .in-toto/tag.31091c85.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

Original ProxySQL implementation
  proxysql/CHANGELOG.md
  proxysql/MANIFEST.in
  proxysql/README.md
  proxysql/assets/service_checks.json
  proxysql/datadog_checks/__init__.py
  proxysql/datadog_checks/proxysql/__about__.py
  proxysql/datadog_checks/proxysql/__init__.py
  proxysql/datadog_checks/proxysql/data/conf.yaml.example
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/manifest.json
  proxysql/metadata.csv
  proxysql/requirements-dev.txt
  proxysql/requirements.in
  proxysql/setup.py
  proxysql/tests/__init__.py
  proxysql/tests/common.py
  proxysql/tests/compose/docker-compose.yml
  proxysql/tests/compose/proxysql.cnf
  proxysql/tests/conftest.py
  proxysql/tests/test_proxysql.py
  proxysql/tox.ini
Labels: documentation

Use QueryManager
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/datadog_checks/proxysql/queries.py
  proxysql/tests/test_proxysql.py
Labels: none

integration and e2e testing
  .azure-pipelines/templates/test-all-checks.yml
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/datadog_checks/proxysql/queries.py
  proxysql/manifest.json
  proxysql/requirements-dev.txt
  proxysql/setup.py
  proxysql/tests/common.py
  proxysql/tests/conftest.py
  proxysql/tests/test_proxysql.py
  proxysql/tox.ini
Labels: dev/testing

Refactor passing of logger to queries
  rethinkdb/datadog_checks/rethinkdb/check.py
  rethinkdb/datadog_checks/rethinkdb/document_db/_example.py
  rethinkdb/datadog_checks/rethinkdb/document_db/query.py
  rethinkdb/datadog_checks/rethinkdb/document_db/utils.py
Labels: none

use configspecs
  proxysql/assets/configuration/spec.yaml
  proxysql/datadog_checks/proxysql/data/conf.yaml.example
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/manifest.json
  proxysql/tests/conftest.py
  proxysql/tests/test_proxysql.py
Labels: none

Drop query duration metric
  rethinkdb/datadog_checks/rethinkdb/config.py
  rethinkdb/datadog_checks/rethinkdb/operations.py
  rethinkdb/datadog_checks/rethinkdb/types.py
  rethinkdb/tests/unit/test_config.py
  rethinkdb/tests/unit/test_system_jobs_metrics.py
Labels: none

Fix tests
  proxysql/tests/test_proxysql.py
Labels: none

Address feedback
  rethinkdb/datadog_checks/rethinkdb/check.py
  rethinkdb/datadog_checks/rethinkdb/document_db/query.py
  rethinkdb/datadog_checks/rethinkdb/types.py
Labels: none

Add config specs (#6145)
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/manifest.json
  mongo/setup.py
Labels: none

Add logs section (#6120)
  confluent_platform/README.md
  confluent_platform/assets/configuration/spec.yaml
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
Labels: documentation

PDH check to use new agent signature
  pdh_check/datadog_checks/pdh_check/pdh_check.py
  pdh_check/setup.py
  pdh_check/tests/test_pdh_check.py
Labels: none

Update service_checks.json
  proxysql/assets/service_checks.json
Labels: none

Use new agent signature
  iis/datadog_checks/iis/iis.py
  iis/tests/test_iis.py
Labels: none

Bump base package
  iis/setup.py
Labels: none

Update fluentd/assets/configuration/spec.yaml
  fluentd/assets/configuration/spec.yaml
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
Labels: none

[Release] Bumped confluent_platform version to 1.0.0-beta.1
  confluent_platform/CHANGELOG.md
  confluent_platform/datadog_checks/confluent_platform/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.fbc63ae0.link
Labels: none

Update metadata.csv
  proxysql/datadog_checks/proxysql/queries.py
  proxysql/metadata.csv
Labels: none

Do not pass counter_list to base class
  datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
  datadog_checks_base/tests/test_pdhbasecheck.py
  pdh_check/datadog_checks/pdh_check/pdh_check.py
  pdh_check/setup.py
  pdh_check/tests/test_pdh_check.py
Labels: none

Pass counter_list as kwarg
  pdh_check/datadog_checks/pdh_check/pdh_check.py
Labels: none

Update documentation
  proxysql/README.md
Labels: documentation

Cleanup comment
  proxysql/datadog_checks/proxysql/proxysql.py
Labels: none

Update datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
  datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
Labels: none

Update weekly checks to run explicit checks
  .azure-pipelines/latest_metrics.yml
Labels: dev/testing

Update to include rack namespace
  gitlab/datadog_checks/gitlab/metrics.py
Labels: none

Add service_check_prefix config to jmx
  activemq/datadog_checks/activemq/data/conf.yaml.example
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/jmx.yaml
  hive/datadog_checks/hive/data/conf.yaml.example
Labels: none

Drop detailed jobs metrics in favor of jobs summary
  rethinkdb/datadog_checks/rethinkdb/check.py
  rethinkdb/datadog_checks/rethinkdb/operations.py
  rethinkdb/datadog_checks/rethinkdb/queries.py
  rethinkdb/datadog_checks/rethinkdb/types.py
  rethinkdb/metadata.csv
  rethinkdb/tests/assertions.py
  rethinkdb/tests/common.py
  rethinkdb/tests/test_integration.py
  rethinkdb/tests/unit/test_system_jobs_metrics.py
Labels: none

Update metadata.csv
  rethinkdb/metadata.csv
Labels: none

Submit version metadata
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/datadog_checks/proxysql/queries.py
Labels: none

Update licensing
  proxysql/datadog_checks/__init__.py
  proxysql/datadog_checks/proxysql/__about__.py
  proxysql/datadog_checks/proxysql/__init__.py
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/datadog_checks/proxysql/queries.py
  proxysql/setup.py
  proxysql/tests/__init__.py
  proxysql/tests/common.py
  proxysql/tests/conftest.py
  proxysql/tests/test_proxysql.py
Labels: none

Fix E2E
  rethinkdb/tests/assertions.py
  rethinkdb/tests/common.py
Labels: none

Add dashboard
  sidekiq/assets/dashboards/overview.json
  sidekiq/manifest.json
Labels: none

Test more versions and assert version metadata submission
  proxysql/datadog_checks/proxysql/queries.py
  proxysql/tests/compose/docker-compose.yml
  proxysql/tests/compose/proxysql.cnf
  proxysql/tests/conftest.py
  proxysql/tests/test_proxysql.py
  proxysql/tox.ini
Labels: none

Use homemade certificates for tls tests (#6104)
  tls/tests/compose/Dockerfile
  tls/tests/compose/ca.crt
  tls/tests/compose/ca.key
  tls/tests/compose/docker-compose.yml
  tls/tests/compose/nginx-tls1-1.conf
  tls/tests/compose/nginx-tls1-2.conf
  tls/tests/compose/nginx-tls1-3.conf
  tls/tests/compose/nginx.conf
  tls/tests/compose/ssl.conf
  tls/tests/conftest.py
  tls/tests/test_e2e.py
  tls/tests/test_remote.py
  tls/tests/utils.py
Labels: none

Leave counter_list in kwargs
  datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
Labels: none

Update rack uncaught errors
  gitlab/metadata.csv
  gitlab/tests/common.py
Labels: none
