Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

linter
  kafka_consumer/datadog_checks/kafka_consumer/config.py
Labels: none

set default ssl path
  kafka_consumer/datadog_checks/kafka_consumer/config.py
Labels: none

linter
  .builders/images/linux-aarch64/build_script.sh
Labels: none

update test results with new metrics
  mongo/tests/results/metrics-collection-autodiscover.json
Labels: none

Add collect of metrics for buffer cache usage (#17960)
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/17960.added
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/common.py
  postgres/tests/compose/resources/02_setup.sh
  postgres/tests/test_pg_integration.py
Labels: none

[mongo] deprecate collStats command and use $collStats aggregation stage to collect collection metrics (#17961)
  mongo/changelog.d/17961.added
  mongo/changelog.d/17961.fixed
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/index_stats.py
  mongo/datadog_checks/mongo/metrics.py
  mongo/metadata.csv
  mongo/tests/fixtures/$collStats-bar
  mongo/tests/fixtures/$collStats-foo
  mongo/tests/fixtures/$indexStats-bar
  mongo/tests/fixtures/$indexStats-foo
  mongo/tests/fixtures/collstats-bar
  mongo/tests/fixtures/collstats-foo
  mongo/tests/fixtures/collstats-orders
  mongo/tests/mocked_api.py
  mongo/tests/results/metrics-collection-autodiscover.json
  mongo/tests/results/metrics-collection.json
Labels: none

update appid and spec.yml
  ping_federate/assets/configuration/spec.yaml
  ping_federate/manifest.json
Labels: none

Update metrics that have per second unit, update incorrect units
  cisco_aci/metadata.csv
Labels: none

Update README.md
  kubernetes_cluster_autoscaler/README.md
Labels: documentation

updates Airflow metric units
  airflow/metadata.csv
Labels: none

fixed minor dashboard issues
  ping_federate/assets/dashboards/ping_federate_admin.json
  ping_federate/assets/dashboards/ping_federate_audit.json
Labels: none

Address review comments
  suricata/README.md
  suricata/assets/dashboards/suricata_alert.json
  suricata/assets/dashboards/suricata_dhcp.json
  suricata/assets/dashboards/suricata_dns.json
  suricata/assets/dashboards/suricata_flow.json
  suricata/assets/dashboards/suricata_network_protocols.json
  suricata/assets/dashboards/suricata_overview.json
  suricata/assets/dashboards/suricata_smb.json
  suricata/manifest.json
Labels: documentation

fix manifest json
  vllm/manifest.json
Labels: none

Apply suggestions from code review
  vllm/assets/dashboards/overview.json
Labels: none

Dashboard changes based on review
  vllm/assets/dashboards/overview.json
Labels: none

Add ssl path option when building the librdkafka dependency (#17957)
  kafka_consumer/datadog_checks/kafka_consumer/config.py
Labels: none

Used finally
  sqlserver/datadog_checks/sqlserver/schemas.py
Labels: none

Minor dashboard panel name update
  suricata/assets/dashboards/suricata_dhcp.json
Labels: none

add network_path tile
  .github/workflows/config/labeler.yml
  network_path/CHANGELOG.md
  network_path/README.md
  network_path/assets/service_checks.json
  network_path/manifest.json
  network_path/metadata.csv
Labels: documentation, dev/tooling

bold
  cisco_sdwan/README.md
Labels: documentation

Fix format issue with master pipeline flaky test management pr17910 (#17979)
  .github/workflows/flaky-tests.yml
  .github/workflows/pr-test.yml
  .github/workflows/test-all.yml
  .github/workflows/test-target.yml
  ddev/src/ddev/cli/validate/ci.py
Labels: dev/tooling

Mark envoy tests as flaky
  envoy/tests/legacy/test_integration.py
  envoy/tests/test_integration.py
Labels: none

Add manual trigger for flaky test suite
  .github/workflows/flaky-tests.yml
Labels: dev/tooling

Mark envoy tests as flaky (#17985)
  envoy/tests/legacy/test_integration.py
  envoy/tests/test_integration.py
Labels: none

Updated ReadMe for endpoint enrichment details
  sophos_central_cloud/README.md
Labels: documentation

[Release] Bumped vllm version to 1.0.0
  requirements-agent-release.txt
  vllm/CHANGELOG.md
  vllm/changelog.d/17756.added
  vllm/datadog_checks/vllm/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.b9ca7eb3.link
Labels: none

Rename: logs file name and changlog for CI checks
  ossec_security/assets/logs/ossec-security.yaml
  ossec_security/assets/logs/ossec-security_tests.yaml
  ossec_security/changelog.d/17938.added
Labels: none

Release vLLM (#17987)
  .in-toto/tag.b9ca7eb3.link
  requirements-agent-release.txt
  vllm/CHANGELOG.md
  vllm/changelog.d/17756.added
  vllm/datadog_checks/vllm/__about__.py
Labels: documentation

[Release] Bumped active_directory version to 2.1.1
  active_directory/CHANGELOG.md
  active_directory/changelog.d/17802.fixed
  active_directory/datadog_checks/active_directory/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped aerospike version to 2.2.2
  aerospike/CHANGELOG.md
  aerospike/changelog.d/17802.fixed
  aerospike/datadog_checks/aerospike/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped amazon_msk version to 4.9.0
  amazon_msk/CHANGELOG.md
  amazon_msk/changelog.d/17802.fixed
  amazon_msk/changelog.d/17817.added
  amazon_msk/changelog.d/17953.added
  amazon_msk/datadog_checks/amazon_msk/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped arangodb version to 2.2.2
  arangodb/CHANGELOG.md
  arangodb/changelog.d/17802.fixed
  arangodb/datadog_checks/arangodb/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped argo_rollouts version to 1.0.2
  argo_rollouts/CHANGELOG.md
  argo_rollouts/changelog.d/17802.fixed
  argo_rollouts/datadog_checks/argo_rollouts/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped argo_workflows version to 1.0.2
  argo_workflows/CHANGELOG.md
  argo_workflows/changelog.d/17802.fixed
  argo_workflows/datadog_checks/argo_workflows/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped argocd version to 2.4.2
  argocd/CHANGELOG.md
  argocd/changelog.d/17802.fixed
  argocd/datadog_checks/argocd/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped aspdotnet version to 2.1.1
  aspdotnet/CHANGELOG.md
  aspdotnet/changelog.d/17802.fixed
  aspdotnet/datadog_checks/aspdotnet/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped avi_vantage version to 4.2.2
  avi_vantage/CHANGELOG.md
  avi_vantage/changelog.d/17802.fixed
  avi_vantage/datadog_checks/avi_vantage/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped boundary version to 2.2.3
  boundary/CHANGELOG.md
  boundary/changelog.d/17802.fixed
  boundary/datadog_checks/boundary/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped calico version to 2.2.2
  calico/CHANGELOG.md
  calico/changelog.d/17802.fixed
  calico/datadog_checks/calico/__about__.py
  requirements-agent-release.txt
Labels: documentation

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
