Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Update vsphere_overview.json (#18684)
  vsphere/assets/dashboards/vsphere_overview.json
Labels: none

Align OMv2 labels with kubernetes agent tags (#18654)
  dcgm/changelog.d/18654.added
  dcgm/datadog_checks/dcgm/check.py
  dcgm/datadog_checks/dcgm/metrics.py
  dcgm/tests/conftest.py
  dcgm/tests/fixtures/label_remap.txt
  dcgm/tests/test_unit.py
Labels: none

final 3.12.6 test
  .github/workflows/test-target.yml
Labels: dev/tooling

Sy/porting to master2 (#18530)
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/18496.added
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  hazelcast/CHANGELOG.md
  hazelcast/changelog.d/18520.added
  hazelcast/datadog_checks/hazelcast/__about__.py
  requirements-agent-release.txt
Labels: documentation

Switch to boto3 (#18495)
  riakcs/changelog.d/18495.added
Labels: none

fix build-deps.yaml
  .github/workflows/build-deps.yml
Labels: dev/tooling

Fix dependency build for macOS (#18581)
  .builders/images/macos-x86_64/builder_setup.sh
Labels: none

test
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/tests/test_unit.py
Labels: none

test
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

test
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/tests/test_unit.py
Labels: none

test
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_agent_jobs.py
  sqlserver/tests/test_connection.py
  sqlserver/tests/test_cursor.py
  sqlserver/tests/test_database_metrics.py
  sqlserver/tests/test_deadlocks.py
  sqlserver/tests/test_e2e.py
  sqlserver/tests/test_high_cardinality.py
  sqlserver/tests/test_metadata.py
  sqlserver/tests/test_statements.py
  sqlserver/tests/test_stored_procedures.py
Labels: none

test
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: none

test
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

test
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

test
  sqlserver/datadog_checks/sqlserver/config.py
Labels: none

test
  sqlserver/tests/test_integration.py
Labels: none

test
  sqlserver/tests/test_integration.py
Labels: none

test
  sqlserver/tests/test_integration.py
Labels: none

test
  sqlserver/tests/test_integration.py
Labels: none

test
  sqlserver/tests/test_integration.py
Labels: none

test
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

test
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

Address review comments
  trellix_endpoint_security/README.md
Labels: documentation

Update vsphere_overview.json
  vsphere/assets/dashboards/vsphere_overview.json
Labels: none

Update dashboard
  isc_bind/assets/dashboards/isc_bind_details.json
Labels: none

fix(mongo) fix typo (`max_collection_per_database` should be `max_collections_per_database`)
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: none

Added Symantect Endpoint Protection integration
  .github/workflows/config/labeler.yml
  symantec_endpoint_protection/CHANGELOG.md
  symantec_endpoint_protection/README.md
  symantec_endpoint_protection/assets/configuration/spec.yaml
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_application_control_logs.json
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_overview.json
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_risk_logs.json
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_scan_logs.json
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_security_logs.json
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_system_logs.json
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_traffic_logs.json
  symantec_endpoint_protection/assets/logs/symantec-endpoint-protection.yaml
  symantec_endpoint_protection/assets/logs/symantec-endpoint-protection_tests.yaml
  symantec_endpoint_protection/assets/service_checks.json
  symantec_endpoint_protection/assets/symantec_endpoint_protection.svg
  symantec_endpoint_protection/changelog.d/1.added
  symantec_endpoint_protection/datadog_checks/__init__.py
  symantec_endpoint_protection/datadog_checks/symantec_endpoint_protection/__about__.py
  symantec_endpoint_protection/datadog_checks/symantec_endpoint_protection/__init__.py
  symantec_endpoint_protection/datadog_checks/symantec_endpoint_protection/data/conf.yaml.example
  symantec_endpoint_protection/images/symantec_endpoint_protection_application_control_logs.png
  symantec_endpoint_protection/images/symantec_endpoint_protection_overview.png
  symantec_endpoint_protection/images/symantec_endpoint_protection_risk_logs.png
  symantec_endpoint_protection/images/symantec_endpoint_protection_scan_logs.png
  symantec_endpoint_protection/images/symantec_endpoint_protection_security_logs.png
  symantec_endpoint_protection/images/symantec_endpoint_protection_system_logs.png
  symantec_endpoint_protection/images/symantec_endpoint_protection_traffic_logs.png
  symantec_endpoint_protection/manifest.json
  symantec_endpoint_protection/pyproject.toml
Labels: documentation, dev/tooling

updated pipeline and dashboards
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_overview.json
  sonicwall_firewall/assets/logs/sonicwall-firewall.yaml
Labels: none

Update test results and description in manifest
  symantec_endpoint_protection/CHANGELOG.md
  symantec_endpoint_protection/assets/logs/symantec-endpoint-protection_tests.yaml
  symantec_endpoint_protection/changelog.d/18714.added
  symantec_endpoint_protection/manifest.json
Labels: documentation

Fixed pipeline suggestion for log pipeline
  symantec_endpoint_protection/assets/logs/symantec-endpoint-protection.yaml
Labels: none

Fixed pipeline suggestion for spec file
  symantec_endpoint_protection/assets/configuration/spec.yaml
  symantec_endpoint_protection/datadog_checks/symantec_endpoint_protection/data/conf.yaml.example
Labels: none

Fixed pipeline suggestion for conf.yaml.example
  symantec_endpoint_protection/datadog_checks/symantec_endpoint_protection/data/conf.yaml.example
Labels: none

Added filters for Dashboards and fixed pipeline
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_and_firewall_settings.json
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_anti_spam.json
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_overview.json
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_security_services.json
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_user.json
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_vpn.json
  sonicwall_firewall/assets/logs/sonicwall-firewall_tests.yaml
Labels: none

Add Squid Integration
  squid/CHANGELOG.md
  squid/README.md
  squid/assets/dashboards/squid.json
  squid/assets/logs/squid.yaml
  squid/assets/monitors/cpu_usage_exceeded.json
  squid/assets/monitors/high_latency_requests.json
  squid/assets/monitors/high_number_of_client_http_errors.json
  squid/assets/monitors/high_number_of_server_errors.json
  squid/manifest.json
Labels: documentation

Fixed pipeline suggestion for conf.yaml.example
  symantec_endpoint_protection/datadog_checks/symantec_endpoint_protection/data/conf.yaml.example
Labels: none

Fixed pipeline suggestion for changlog.md
  symantec_endpoint_protection/CHANGELOG.md
Labels: documentation

Display Palo Alto Cortex XDR docs
  palo_alto_cortex_xdr/manifest.json
Labels: none

Update: readme for Verdict delay note
  cisco_secure_email_threat_defense/README.md
Labels: documentation

Update vsphere_overview.json (#18712)
  vsphere/assets/dashboards/vsphere_overview.json
Labels: none

Initial commit of CSWA.
  .github/workflows/config/labeler.yml
  cisco_secure_web_appliance/CHANGELOG.md
  cisco_secure_web_appliance/README.md
  cisco_secure_web_appliance/assets/cisco_secure_web_appliance.svg
  cisco_secure_web_appliance/assets/configuration/spec.yaml
  cisco_secure_web_appliance/assets/dashboards/cisco_secure_web_appliance_access_logs.json
  cisco_secure_web_appliance/assets/dashboards/cisco_secure_web_appliance_l4tm_logs.json
  cisco_secure_web_appliance/assets/logs/cisco-secure-web-appliance.yaml
  cisco_secure_web_appliance/assets/logs/cisco-secure-web-appliance_tests.yaml
  cisco_secure_web_appliance/assets/service_checks.json
  cisco_secure_web_appliance/changelog.d/1.added
  cisco_secure_web_appliance/datadog_checks/__init__.py
  cisco_secure_web_appliance/datadog_checks/cisco_secure_web_appliance/__about__.py
  cisco_secure_web_appliance/datadog_checks/cisco_secure_web_appliance/__init__.py
  cisco_secure_web_appliance/datadog_checks/cisco_secure_web_appliance/data/conf.yaml.example
  cisco_secure_web_appliance/images/IMAGES_README.md
  cisco_secure_web_appliance/manifest.json
  cisco_secure_web_appliance/pyproject.toml
Labels: documentation, dev/tooling

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
