Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Renaming vsphere_tags_prefix config to tags_prefix (#5771)
  vsphere/datadog_checks/vsphere/api_rest.py
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/tests/test_check.py
Labels: none

Capitalize integration title
  flink/manifest.json
Labels: none

Update version
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: none

add touch
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: none

remove touch
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: none

true
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: none

print update_os_version
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: none

Move to init_logging
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/log.py
Labels: none

introduce _wildcards_re
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
Labels: none

Add tests
  datadog_checks_base/tests/test_log.py
Labels: none

Rename
  datadog_checks_base/tests/test_log.py
Labels: none

Update rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
Labels: none

[Haproxy] Update Log Collection instructions
  haproxy/README.md
Labels: documentation

Capture python warnings as logs (#5730)
  datadog_checks_base/datadog_checks/base/log.py
  datadog_checks_base/tests/test_log.py
Labels: none

Remove references to disable_validation
  http_check/README.md
Labels: documentation

Submit collected vsphere tags as host tags for realtime resources
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/fixtures/host_tags_values.json
  vsphere/tests/test_check.py
Labels: none

Submit collected vsphere tags as host tags for realtime resources (#5776)
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/fixtures/host_tags_values.json
  vsphere/tests/test_check.py
Labels: none

Add tls_ignore_warning
  vsphere/datadog_checks/vsphere/api_rest.py
  vsphere/datadog_checks/vsphere/config.py
Labels: none

Add to config example
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: none

fixed typo from init to etc
  oracle/README.md
Labels: documentation

Update openshift/README.md
  openshift/README.md
Labels: documentation

Update vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: none

PDH Metrics edits (#5699)
  pdh_check/README.md
Labels: documentation

Add flink integration (#5613)
  flink/README.md
  flink/assets/service_checks.json
  flink/manifest.json
  flink/metadata.csv
Labels: documentation

Add log readme and conf.yaml
  flink/README.md
  flink/datadog_checks/flink/data/conf.yaml.example
Labels: documentation

Unbold agent warning
  flink/README.md
Labels: documentation

Apply suggestions from code review
  openshift/README.md
Labels: documentation

Remove references to disable_validation (#5775)
  http_check/README.md
Labels: documentation

sarah/flink-logs
  flink/datadog_checks/flink/data/conf.yaml.example
Labels: none

Upgrade `aerospike` dependency
  .azure-pipelines/scripts/aerospike/linux/55_build_client.sh
  aerospike/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: dev/testing

Add `tls_ignore_warning` option (#5777)
  vsphere/datadog_checks/vsphere/api_rest.py
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: none

Upgrade `aerospike` dependency (#5779)
  .azure-pipelines/scripts/aerospike/linux/55_build_client.sh
  aerospike/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: dev/testing

Add logs collection reference
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: none

Adds HostHeaderSSLAdapter
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/requirements.in
Labels: none

Revert "Adds HostHeaderSSLAdapter"
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/requirements.in
Labels: none

test
  aerospike/tox.ini
Labels: none

Revert "test"
  aerospike/tox.ini
Labels: none

test
  aerospike/tox.ini
Labels: none

Update docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: none

Update tox.ini
  datadog_checks_dev/tox.ini
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
