Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Change process signatures.
  kuma/manifest.json
Labels: none

Delete IMAGES_README.md for now.
  kuma/images/IMAGES_README.md
Labels: documentation

fix: Add support for AM/PM timestamp format for IBM MQ logs
  ibm_mq/assets/logs/ibm_mq.yaml
  ibm_mq/assets/logs/ibm_mq_tests.yaml
Labels: none

Change openmetrics endpoint example in config.
  kuma/assets/configuration/spec.yaml
Labels: none

Use the openmetrics init_config template.
  kuma/assets/configuration/spec.yaml
Labels: none

Regenerate configs.
  kuma/datadog_checks/kuma/config_models/defaults.py
  kuma/datadog_checks/kuma/config_models/shared.py
  kuma/datadog_checks/kuma/data/conf.yaml.example
Labels: none

SImplify "if" condition.
  kuma/datadog_checks/kuma/check.py
Labels: none

Remove unused code.
  kuma/tests/conftest.py
Labels: none

Updated test format
  ibm_mq/assets/logs/ibm_mq_tests.yaml
Labels: none

updated metric id in logs files
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

description line lenght
  barracuda_secure_edge/manifest.json
Labels: none

updated images and tests
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
  barracuda_secure_edge/images/secureEdge1.png
  barracuda_secure_edge/images/secureEdge2.png
  barracuda_secure_edge/images/secure_edge overview.png
  barracuda_secure_edge/images/secure_edge_overview.JPG
Labels: none

udpated changelog.d file name
  barracuda_secure_edge/changelog.d/20423.added
Labels: none

resolved CI checks
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

Barracuda Secure Edge Integration PR
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  barracuda_secure_edge/CHANGELOG.md
  barracuda_secure_edge/README.md
  barracuda_secure_edge/assets/configuration/spec.yaml
  barracuda_secure_edge/assets/dashboards/barracuda_secure_edge_overview.json
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
  barracuda_secure_edge/changelog.d/1.added
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/__about__.py
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/__init__.py
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/data/conf.yaml.example
  barracuda_secure_edge/images/secureEdge1.png
  barracuda_secure_edge/images/secureEdge2.png
  barracuda_secure_edge/images/secure_edge_overview.JPG
  barracuda_secure_edge/manifest.json
  barracuda_secure_edge/metadata.csv
  barracuda_secure_edge/pyproject.toml
Labels: documentation, dev/tooling

added conf.yml using -s and removed metadata
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/data/conf.yaml.example
  barracuda_secure_edge/manifest.json
  barracuda_secure_edge/metadata.csv
Labels: none

Use the @pytest.fixture to avoid having unused parameters in test functions.
  kuma/tests/test_tag_injection.py
  kuma/tests/test_unit.py
Labels: none

Fix using count instead of bucket in test.
  kuma/tests/test_unit.py
Labels: none

Use a matrix for KUMA_VERSION env vars.
  kuma/hatch.toml
Labels: none

change timezone
  ibm_mq/assets/logs/ibm_mq_tests.yaml
Labels: none

Parametrize suffixes for metrics tests.
  kuma/tests/test_unit.py
Labels: none

Don't assert in the middle of loops
  kuma/tests/test_tag_injection.py
Labels: none

Add service check metadata.
  kuma/assets/service_checks.json
Labels: none

Split test in two.
  kuma/tests/test_tag_injection.py
Labels: none

Flip parameters so that the suffix is reported last in the test result string.
  kuma/tests/test_unit.py
Labels: none

updated images
  barracuda_secure_edge/images/secure_edge_overview.png
Labels: none

updated images
  barracuda_secure_edge/manifest.json
Labels: none

Speed up tests by avoiding unnecessary fixture setups.
  kuma/tests/test_unit.py
Labels: none

Run the linter.
  kuma/datadog_checks/kuma/check.py
  kuma/tests/conftest.py
  kuma/tests/test_tag_injection.py
  kuma/tests/test_unit.py
Labels: none

Edit wording in assertion.
  kuma/tests/test_unit.py
Labels: none

Edit comment.
  kuma/tests/test_unit.py
Labels: none

Edit Agent version.
  kuma/assets/service_checks.json
Labels: none

Ensure that ddev does not treat worktrees as extra packages
  ddev/changelog.d/20444.added
  ddev/src/ddev/repo/core.py
  ddev/src/ddev/utils/git.py
  ddev/tests/cli/env/conftest.py
  ddev/tests/cli/meta/scripts/conftest.py
  ddev/tests/cli/release/test_changelog.py
  ddev/tests/cli/test/test_test.py
  ddev/tests/cli/test_dep.py
  ddev/tests/cli/validate/conftest.py
  ddev/tests/cli/validate/test_codeowners.py
  ddev/tests/cli/validate/test_metrics.py
  ddev/tests/cli/validate/test_version.py
  ddev/tests/conftest.py
  ddev/tests/helpers/api.py
  ddev/tests/integration/test_core.py
  ddev/tests/repo/test_core.py
  ddev/tests/utils/test_git.py
Labels: none

Update datadog_checks_dev/changelog.d/20445.fixed
  datadog_checks_dev/changelog.d/20445.fixed
Labels: none

Fix error reporting not shown when running model validation
  datadog_checks_dev/changelog.d/20445.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
Labels: none

[NDM] fix remote port index None case (#20418)
  cisco_aci/changelog.d/20418.fixed
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/datadog_checks/cisco_aci/models.py
  cisco_aci/datadog_checks/cisco_aci/ndm.py
Labels: none

Updates from v17 ceremony, changing the root layout version too
  datadog_checks_downloader/datadog_checks/downloader/data/repo/metadata/root.json
  datadog_checks_downloader/datadog_checks/downloader/download.py
Labels: none

add changelog
  datadog_checks_downloader/changelog.d/20477.changed
Labels: none

testing ignore please
  testing_int_ignore/manifest.json
Labels: none

Updates from v17 ceremony, changing the root layout version too (#20477)
  datadog_checks_downloader/changelog.d/20477.changed
  datadog_checks_downloader/datadog_checks/downloader/data/repo/metadata/root.json
  datadog_checks_downloader/datadog_checks/downloader/download.py
Labels: none
