Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Add account config schema for forcepoint_security_service_edge (Generic AMS) (#25396)
  forcepoint_security_service_edge/assets/account_config.json
Labels: none

Add account config schema for extrahop (Generic AMS) (#25394)
  extrahop/assets/account_config.json
Labels: none

Add account config schema for forcepoint_secure_web_gateway (Generic AMS) (#25395)
  forcepoint_secure_web_gateway/assets/account_config.json
Labels: none

test(mongo): drive lock contention in mongo-full
  mongo/tests/README.md
  mongo/tests/activity-gen.sh
  mongo/tests/compose/full-coverage.compose
  mongo/tests/seed.sh
Labels: documentation

Add account config schema for cisco_umbrella_dns (Generic AMS) (#25393)
  cisco_umbrella_dns/assets/account_config.json
Labels: none

Preserve E2E test results when automatic cleanup fails
  .github/actions/setup-test-target-scripts/src/run-e2e-tests.sh
  .github/workflows/test-fips-e2e.yml
  ddev/changelog.d/25319.added
  ddev/src/ddev/cli/env/test.py
  ddev/tests/cli/env/test_test.py
Labels: dev/tooling

[DBMON-6926] Bump libpq to 18.6 (#25297)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos/builder_setup.sh
  .builders/images/windows-x86_64/Dockerfile
  .deps/builder_inputs.toml
  .deps/image_digests.json
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
Labels: none

Preserve E2E test results when automatic cleanup fails (#25319)
  .github/actions/setup-test-target-scripts/src/run-e2e-tests.sh
  .github/workflows/test-fips-e2e.yml
  ddev/changelog.d/25319.added
  ddev/src/ddev/cli/env/test.py
  ddev/tests/cli/env/test_test.py
Labels: dev/tooling

Avoid casts
  ddev/src/ddev/ai/agent/anthropic_agent.py
  ddev/tests/ai/agent/test_anthropic_agent.py
Labels: none

Configure the Dispatcher from .ddev/dispatcher.toml
  .ddev/config.toml
  .ddev/dispatcher.toml
  ddev/changelog.d/25429.added
  ddev/src/ddev/cli/ci/tests/batching/targets.py
  ddev/tests/cli/ci/tests/batching/test_targets.py
Labels: none

Fix compaction of Anthropic tool conversations (#25427)
  ddev/src/ddev/ai/agent/anthropic_agent.py
  ddev/src/ddev/ai/agent/base.py
  ddev/tests/ai/agent/test_anthropic_agent.py
  ddev/tests/ai/agent/test_base.py
Labels: none

address review comments
  cisco_catalyst_center/tests/test_events.py
  cisco_catalyst_center/tests/test_ndm.py
  cisco_catalyst_center/tests/test_spec_conformance.py
Labels: none

sync ci config
  .github/workflows/test-all.yml
  code-coverage.datadog.yml
Labels: dev/tooling

Remove the url format from vmanage_endpoint
  cisco_sdwan/assets/configuration/spec.yaml
Labels: none

Make the review bot's octo-sts policy read-only
  .github/chainguard/agent-integrations-review-bot-staging.sts.yaml
Labels: none

Fix process check collect_children failing on inaccessible pids (#25367)
  process/changelog.d/25367.fixed
  process/datadog_checks/process/process.py
  process/tests/test_bench.py
  process/tests/test_process.py
Labels: none

Remove the url format from vmanage_endpoint (#25431)
  cisco_sdwan/assets/configuration/spec.yaml
Labels: none

Match the task check config the Agent now builds in tests
  mysql/tests/test_do_task.py
Labels: none

Update column nullable to is_nullable
  ibm_db2/datadog_checks/ibm_db2/schemas.py
  ibm_db2/tests/test_schemas.py
Labels: none

Document the backend-neutral HTTP layer in AGENTS.md
  AGENTS.md
Labels: documentation

Send internal dd.mysql.do_task.* metrics from task mode
  mysql/datadog_checks/mysql/do_task.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/test_do_task.py
Labels: none

Fix counts
  mysql/datadog_checks/mysql/schemas.py
  mysql/tests/test_schemas.py
  mysql/tests/test_unit.py
Labels: none

Add logic for raising cancel during database iteration
  mysql/datadog_checks/mysql/schemas.py
  mysql/tests/test_schemas.py
Labels: none

fix(kafka_consumer): match complete group IDs before offset fetch
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_unit.py
Labels: none

Simplify collection strategy logic
  mysql/datadog_checks/mysql/schemas.py
  mysql/tests/test_metadata.py
  mysql/tests/test_schemas.py
Labels: none

docs(kafka_consumer): add changelog entry
  kafka_consumer/changelog.d/25232.fixed
Labels: none

[Release] Bumped ddev version to 20.0.0
  ddev/CHANGELOG.md
  ddev/changelog.d/24746.fixed
  ddev/changelog.d/24749.fixed
  ddev/changelog.d/25050.fixed
  ddev/changelog.d/25218.changed
  ddev/changelog.d/25240.fixed
  ddev/changelog.d/25263.added
  ddev/changelog.d/25272.fixed
  ddev/changelog.d/25274.added
  ddev/changelog.d/25291.fixed
  ddev/changelog.d/25305.added
  ddev/changelog.d/25307.fixed
  ddev/changelog.d/25317.added
  ddev/changelog.d/25319.added
  ddev/changelog.d/25320.fixed
  ddev/changelog.d/25331.added
  ddev/changelog.d/25345.added
  ddev/changelog.d/25349.fixed
  ddev/changelog.d/25358.added
  ddev/changelog.d/25360.added
  ddev/changelog.d/25372.fixed
  ddev/changelog.d/25374.added
  ddev/changelog.d/25375.fixed
  ddev/changelog.d/25376.added
  ddev/changelog.d/25426.fixed
Labels: documentation

Fix connection handling
  mysql/datadog_checks/mysql/schemas.py
  mysql/tests/test_schemas.py
Labels: none

Additional cleanup
  mysql/changelog.d/24653.added
  mysql/datadog_checks/mysql/queries.py
  mysql/datadog_checks/mysql/schemas.py
  mysql/hatch.toml
  mysql/tests/test_schemas.py
Labels: none

Gate remote query producer spans behind a development-only switch
  datadog_checks_base/changelog.d/23499.added
  datadog_checks_base/datadog_checks/base/utils/remote_queries/tracing.py
  datadog_checks_base/tests/utils/remote_queries/test_tracing.py
Labels: none

add dashboards, monitors and dataflows
  cisco_catalyst_center/assets/dashboards/cisco_catalyst_center_devices_and_interfaces.json
  cisco_catalyst_center/assets/dashboards/cisco_catalyst_center_overview.json
  cisco_catalyst_center/assets/dataflows.yaml
  cisco_catalyst_center/assets/monitors/collection_failure.json
  cisco_catalyst_center/assets/monitors/degraded_network_health.json
  cisco_catalyst_center/assets/monitors/managed_device_unreachable.json
  cisco_catalyst_center/manifest.json
Labels: none

fix network health metadata scale
  cisco_catalyst_center/metadata.csv
Labels: none

update readme
  cisco_catalyst_center/README.md
Labels: documentation

test(rabbitmq): drive zero-valued evalya metrics
  rabbitmq/tests/compose/full-coverage.compose
Labels: none

docs(rabbitmq): document evalya zero metrics
  rabbitmq/tests/README.md
Labels: documentation

fix dashboard table sorts
  cisco_catalyst_center/assets/dashboards/cisco_catalyst_center_devices_and_interfaces.json
Labels: none

[IDP-1735] Add dd-octo-sts trust policy for Publishing Platform
  .github/chainguard/pub-platform.publish.prod.sts.yaml
Labels: none

test(rabbitmq): steady the evalya unacked workload
  rabbitmq/tests/compose/full-coverage.compose
Labels: none

Move MySQL schema collection to the shared SchemaCollector and remove the legacy collector (#24653)
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/24653.added
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/databases_data.py
  mysql/datadog_checks/mysql/metadata.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/queries.py
  mysql/datadog_checks/mysql/schemas.py
  mysql/hatch.toml
  mysql/tests/test_metadata.py
  mysql/tests/test_schemas.py
  mysql/tests/test_unit.py
Labels: none

Handle vSAN collection errors per cluster instead of per vCenter
  vsphere/datadog_checks/vsphere/api.py
  vsphere/tests/test_api.py
Labels: none
