Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Use OpenMetrics hook for metric limit telemetry
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
Labels: none

Use agnostic SSL error in Azure IoT Edge E2E test (#24688)
  azure_iot_edge/tests/test_e2e.py
Labels: none

Fix incorrect description for buffer snapshot config
  clickhouse/assets/configuration/spec.yaml
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
Labels: none

Rename asynchronous_insert_buffer_snapshot config to collect_pending_async_inserts
  clickhouse/assets/configuration/spec.yaml
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  clickhouse/datadog_checks/clickhouse/config.py
  clickhouse/datadog_checks/clickhouse/config_models/dict_defaults.py
  clickhouse/datadog_checks/clickhouse/config_models/instance.py
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  clickhouse/datadog_checks/clickhouse/statement_samples.py
  clickhouse/tests/test_config_defaults.py
  clickhouse/tests/test_statement_samples.py
Labels: none

Rename payload_row_limit to max_samples_per_collection and add integer greater than 0 validation
  clickhouse/assets/configuration/spec.yaml
  clickhouse/datadog_checks/clickhouse/config.py
  clickhouse/datadog_checks/clickhouse/config_models/dict_defaults.py
  clickhouse/datadog_checks/clickhouse/config_models/instance.py
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  clickhouse/datadog_checks/clickhouse/statement_samples.py
  clickhouse/tests/test_config_defaults.py
  clickhouse/tests/test_statement_samples.py
Labels: none

Rename Kubernetes Agent module constants
  ddev/src/ddev/e2e/agent/kubernetes.py
Labels: none

kubevirt_handler: add container-based config discovery support
  kubevirt_handler/assets/configuration/spec.yaml
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/discovery.py
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/discovery_overrides.py
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/discovery_strategies.py
  kubevirt_handler/datadog_checks/kubevirt_handler/data/auto_conf.yaml
  kubevirt_handler/pyproject.toml
  kubevirt_handler/tests/conftest.py
  kubevirt_handler/tests/test_discovery.py
  kubevirt_handler/tests/test_e2e.py
Labels: none

Add changelog entry for #24520
  kubevirt_handler/changelog.d/24520.added
Labels: none

Update Kubernetes node support description
  docs/developer/ddev/test.md
Labels: documentation

refactor(http): finish requests coupling removal
  citrix_hypervisor/datadog_checks/citrix_hypervisor/check.py
  http_check/datadog_checks/http_check/http_check.py
  nifi/datadog_checks/nifi/check.py
  vault/datadog_checks/vault/vault.py
Labels: none

Decouple Kubernetes Agent tests from commands
  ddev/tests/e2e/agent/test_kubernetes.py
Labels: none

Keep Velero discovery compatible with released base
  datadog_checks_dev/changelog.d/24645.added
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/discovery/core_strategies.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/discovery/openmetrics_from_named_ports.yaml
  datadog_checks_dev/tests/tooling/configuration/test_load.py
  velero/assets/configuration/spec.yaml
  velero/datadog_checks/velero/config_models/discovery.py
  velero/datadog_checks/velero/config_models/discovery_strategies.py
  velero/pyproject.toml
Labels: none

gearmand: add container-based config discovery support
  gearmand/assets/configuration/spec.yaml
  gearmand/changelog.d/24487.added
  gearmand/datadog_checks/gearmand/config_models/discovery.py
  gearmand/datadog_checks/gearmand/config_models/discovery_overrides.py
  gearmand/datadog_checks/gearmand/config_models/discovery_strategies.py
  gearmand/datadog_checks/gearmand/data/auto_conf.yaml
  gearmand/pyproject.toml
  gearmand/tests/conftest.py
  gearmand/tests/test_integration_e2e.py
Labels: none

Expose shared Agent image normalization
  ddev/src/ddev/e2e/agent/docker.py
  ddev/src/ddev/e2e/agent/kubernetes.py
Labels: none

gearmand: add container-based config discovery support (#24487)
  gearmand/assets/configuration/spec.yaml
  gearmand/changelog.d/24487.added
  gearmand/datadog_checks/gearmand/config_models/discovery.py
  gearmand/datadog_checks/gearmand/config_models/discovery_overrides.py
  gearmand/datadog_checks/gearmand/config_models/discovery_strategies.py
  gearmand/datadog_checks/gearmand/data/auto_conf.yaml
  gearmand/pyproject.toml
  gearmand/tests/conftest.py
  gearmand/tests/test_integration_e2e.py
Labels: none

boundary: add container-based config discovery support (#24494)
  boundary/assets/configuration/spec.yaml
  boundary/changelog.d/24494.added
  boundary/datadog_checks/boundary/config_models/discovery.py
  boundary/datadog_checks/boundary/config_models/discovery_overrides.py
  boundary/datadog_checks/boundary/config_models/discovery_strategies.py
  boundary/datadog_checks/boundary/data/auto_conf.yaml
  boundary/pyproject.toml
  boundary/tests/conftest.py
  boundary/tests/docker/boundary.hcl
  boundary/tests/docker/docker-compose.yaml
  boundary/tests/test_e2e.py
Labels: none

Tighten HTTP seam comments
  argocd/datadog_checks/argocd/resources.py
  argocd/datadog_checks/argocd/stream_listener.py
  argocd/tests/test_resources.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/base_scraper.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/http_protocol.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/scraper/test_stream_connection_lines.py
  datadog_checks_base/tests/base/utils/http/test_capabilities.py
  datadog_checks_base/tests/base/utils/http/test_dev_http_client.py
  datadog_checks_base/tests/base/utils/http/test_exceptions.py
  datadog_checks_base/tests/base/utils/http/test_http.py
  datadog_checks_dev/datadog_checks/dev/http.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  http_check/tests/test_unit.py
  http_check/tests/test_unit_config.py
  kube_controller_manager/tests/test_kube_controller_manager.py
  kube_scheduler/tests/test_kube_scheduler_1_14.py
  kubelet/tests/test_kubelet.py
  openstack/tests/test_openstack.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/tests/test_unit_component.py
  squid/tests/test_unit.py
  voltdb/datadog_checks/voltdb/client.py
  voltdb/tests/test_unit.py
  voltdb/tests/utils.py
Labels: none

gitlab_runner: add container-based config discovery support
  gitlab_runner/README.md
  gitlab_runner/assets/configuration/spec.yaml
  gitlab_runner/changelog.d/24608.added
  gitlab_runner/datadog_checks/gitlab_runner/config_models/defaults.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/discovery.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/discovery_overrides.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/discovery_strategies.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/instance.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/shared.py
  gitlab_runner/datadog_checks/gitlab_runner/data/auto_conf.yaml
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/gitlab_runner.py
  gitlab_runner/pyproject.toml
  gitlab_runner/tests/conftest.py
  gitlab_runner/tests/test_e2e.py
  gitlab_runner/tests/test_integration.py
Labels: documentation

fix: catch connect timeout in gitlab scrapers
  gitlab/datadog_checks/gitlab/gitlab.py
  gitlab/tests/test_unit.py
  gitlab_runner/datadog_checks/gitlab_runner/gitlab_runner.py
  gitlab_runner/tests/test_unit.py
Labels: none

fix(openmetrics): keep user-set Accept header
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/base_scraper.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_config.py
Labels: none

docs(http): require case-insensitive headers
  datadog_checks_base/datadog_checks/base/utils/http_protocol.py
Labels: none

test(http_check): cover proxy bypass in cert fetch
  http_check/tests/test_unit_utils.py
Labels: none

[AGV-1524] Add investigation metrics unit
  ddev/src/ddev/cli/validate/metadata_utils.py
Labels: none

Add changelog entry for investigation metrics unit
  ddev/changelog.d/24689.added
Labels: none

Add integer greater than 0 check for max_samples_per_collection in config.py instead of spec.yaml minimum
  clickhouse/assets/configuration/spec.yaml
  clickhouse/datadog_checks/clickhouse/config.py
  clickhouse/datadog_checks/clickhouse/config_models/instance.py
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
Labels: none

Add InterSystems IRIS integration
  .ddev/config.toml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  code-coverage.datadog.yml
  iris/CHANGELOG.md
  iris/README.md
  iris/assets/configuration/spec.yaml
  iris/assets/dashboards/iris_overview.json
  iris/assets/service_checks.json
  iris/changelog.d/1.added
  iris/datadog_checks/iris/__about__.py
  iris/datadog_checks/iris/__init__.py
  iris/datadog_checks/iris/check.py
  iris/datadog_checks/iris/config_models/__init__.py
  iris/datadog_checks/iris/config_models/defaults.py
  iris/datadog_checks/iris/config_models/instance.py
  iris/datadog_checks/iris/config_models/shared.py
  iris/datadog_checks/iris/config_models/validators.py
  iris/datadog_checks/iris/data/conf.yaml.example
  iris/datadog_checks/iris/metrics.yaml
  iris/hatch.toml
  iris/images/.gitkeep
  iris/metadata.csv
  iris/pyproject.toml
  iris/tests/__init__.py
  iris/tests/conftest.py
  iris/tests/docker/docker-compose.yaml
  iris/tests/docker/init/MonitorProduction.cls
  iris/tests/docker/init/iris-init.sh
  iris/tests/fixtures/metrics.txt
  iris/tests/test_e2e.py
  iris/tests/test_integration.py
  iris/tests/test_unit.py
Labels: documentation, dev/tooling

spark: emit worker_count from standalone master even with no running apps
  spark/datadog_checks/spark/spark.py
  spark/metadata.csv
  spark/tests/test_spark.py
Labels: none

Add dd.clickhouse.async_inserts_flush metrics to track the size of returned data
  clickhouse/datadog_checks/clickhouse/query_completions.py
  clickhouse/tests/test_query_completions.py
Labels: none

test(prometheus): decouple base tests from requests
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
Labels: none

Add dd.clickhouse.async_inserts_buffer metrics to track the size of returned data
  clickhouse/datadog_checks/clickhouse/statement_samples.py
  clickhouse/tests/test_statement_samples.py
Labels: none

test(openmetrics): decouple legacy tests from requests
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
Labels: none

Add tests for node-level DBM data (server_node / clickhouse_node)
  clickhouse/tests/test_parts_and_merges.py
  clickhouse/tests/test_query_completions.py
  clickhouse/tests/test_query_errors.py
  clickhouse/tests/test_statement_metrics.py
Labels: none

test(http): decouple integration suites from requests
  appgate_sdp/tests/test_unit.py
  crio/tests/test_crio.py
  dcgm/tests/test_unit.py
  falco/tests/test_unit.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_15.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_19.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_23.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_24.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_26.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_27.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_28.py
  kube_apiserver_metrics/tests/test_sli_metrics.py
  linkerd/tests/test_linkerd.py
  nvidia_nim/tests/test_unit.py
  openmetrics/tests/conftest.py
  openmetrics/tests/test_openmetrics.py
  vault/tests/test_vault.py
Labels: none

Fix SNMP e2e flake (#24569)
  snmp/tests/conftest.py
  snmp/tests/test_e2e_snmp_listener.py
Labels: none

test(marklogic): cover connection failures
  marklogic/tests/test_marklogic.py
Labels: none

Remove bytes_submitted metric from async_inserts_flush
  clickhouse/datadog_checks/clickhouse/query_completions.py
  clickhouse/tests/test_query_completions.py
Labels: none

Remove bytes_submitted metric from async_inserts_buffer
  clickhouse/datadog_checks/clickhouse/statement_samples.py
  clickhouse/tests/test_statement_samples.py
Labels: none

Drop mocked-obfuscator digest test and trim comments
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_statements.py
Labels: none

fix(http): enable OPTIONS in mock fixture
  datadog_checks_base/tests/base/utils/http/test_http_testing.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: none

fix(http_check): handle request errors
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/test_unit.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
