Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Logs integrations assets for Cisco ACI integration faults sent as logs. (#19837)
  cisco_aci/assets/logs/cisco-aci.yaml
  cisco_aci/assets/logs/cisco-aci_tests.yaml
Labels: none

config option
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/config_models/defaults.py
  ibm_mq/datadog_checks/ibm_mq/config_models/instance.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/tests/test_ibm_mq_unit.py
Labels: none

remove comment
  ibm_mq/datadog_checks/ibm_mq/config.py
Labels: none

change test
  ibm_mq/tests/test_ibm_mq_unit.py
Labels: none

Publish keycloack (#19918)
  keycloak/manifest.json
Labels: none

Publish Ivanti Connect Secure (#19920)
  ivanti_connect_secure/manifest.json
Labels: none

[DSM] Add link text to DSM to each core DSM integration so that DSM shows up on the website
  amazon_msk/README.md
  confluent_platform/README.md
  kafka/README.md
  rabbitmq/README.md
Labels: documentation

Apply suggestions from code review
  amazon_msk/README.md
  confluent_platform/README.md
  kafka/README.md
  rabbitmq/README.md
Labels: documentation

lint
  ibm_mq/tests/test_ibm_mq_unit.py
Labels: none

forgot variable
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/tests/test_ibm_mq_unit.py
Labels: none

comment
  ibm_mq/datadog_checks/ibm_mq/config.py
Labels: none

[DSM] Add link text to DSM to each core DSM integration so that DSM shows up on the website (#19854)
  amazon_msk/README.md
  confluent_platform/README.md
  kafka/README.md
  rabbitmq/README.md
Labels: documentation

fix test
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/tests/test_ibm_mq_unit.py
Labels: none

refactor
  ibm_mq/datadog_checks/ibm_mq/config.py
Labels: none

Fix target info spec
  openmetrics/assets/configuration/spec.yaml
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: none

update changelog + bump version
  openmetrics/changelog.d/19926.added
  openmetrics/datadog_checks/openmetrics/__about__.py
Labels: none

Bump openmetrics version in agent requirements
  requirements-agent-release.txt
Labels: none

unbump integration version
  openmetrics/datadog_checks/openmetrics/__about__.py
  requirements-agent-release.txt
Labels: none

Fix version bump
  requirements-agent-release.txt
Labels: none

Update delinea_secret_server/README.md
  delinea_secret_server/README.md
Labels: documentation

Updated README.md
  delinea_secret_server/README.md
Labels: documentation

Update delinea_secret_server/README.md
  delinea_secret_server/README.md
Labels: documentation

Add: Kaspersky Integration v1.0.0
  kaspersky/CHANGELOG.md
  kaspersky/README.md
  kaspersky/assets/configuration/spec.yaml
  kaspersky/assets/dashboards/kaspersky_device_health_and_policy_compliance_insight.json
  kaspersky/assets/dashboards/kaspersky_network_and_web_security.json
  kaspersky/assets/dashboards/kaspersky_overview.json
  kaspersky/assets/dashboards/kaspersky_system_audit_activities.json
  kaspersky/assets/dashboards/kaspersky_threat_detection_and_response.json
  kaspersky/assets/kaspersky.svg
  kaspersky/assets/logs/kaspersky.yaml
  kaspersky/assets/logs/kaspersky_tests.yaml
  kaspersky/changelog.d/1.added
  kaspersky/datadog_checks/__init__.py
  kaspersky/datadog_checks/kaspersky/__about__.py
  kaspersky/datadog_checks/kaspersky/__init__.py
  kaspersky/datadog_checks/kaspersky/data/conf.yaml.example
  kaspersky/manifest.json
  kaspersky/pyproject.toml
Labels: documentation

Update: labeler.yml
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Update: add event_type in tests and facets in log pipeline yaml
  kaspersky/assets/logs/kaspersky.yaml
  kaspersky/assets/logs/kaspersky_tests.yaml
Labels: none

Update: test json formatted sample
  kaspersky/assets/logs/kaspersky_tests.yaml
Labels: none

[AI-4902] Add Velero recommended monitors (#19922)
  velero/assets/monitors/backup_failures.json
  velero/assets/monitors/backup_staleness.json
  velero/assets/monitors/restore_failures.json
  velero/manifest.json
Labels: none

Add logs files
  velero/assets/logs/velero.yaml
  velero/assets/logs/velero_tests.yaml
Labels: none

Add saved_views files
  velero/assets/saved_views/error_logs_overview.json
  velero/assets/saved_views/logs_overview.json
  velero/manifest.json
Labels: none

Fill in fields in logs files
  velero/assets/logs/velero.yaml
  velero/assets/logs/velero_tests.yaml
Labels: none

Add logs to config and readme
  velero/README.md
  velero/assets/configuration/spec.yaml
  velero/datadog_checks/velero/data/conf.yaml.example
Labels: documentation

Update the logs test results
  velero/assets/logs/velero_tests.yaml
Labels: none

Fix log pipeline definition
  velero/assets/logs/velero.yaml
Labels: none

Fix tab typo
  velero/README.md
Labels: documentation

Apply suggestions from code review
  velero/README.md
Labels: documentation

Improve parsers and add facets
  velero/assets/logs/velero.yaml
  velero/assets/logs/velero_tests.yaml
Labels: none

Update from CI suggestions
  velero/assets/logs/velero.yaml
  velero/assets/logs/velero_tests.yaml
Labels: none

Revert test result
  velero/assets/logs/velero_tests.yaml
Labels: none

Fix time
  velero/assets/logs/velero.yaml
Labels: none

Remove quote from test log
  velero/assets/logs/velero.yaml
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
