Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

update metadata csv with new metrics
  kube_apiserver_metrics/metadata.csv
Labels: none

document new metrics
  cilium/datadog_checks/cilium/metrics.py
  cilium/metadata.csv
  cilium/tests/kind/cilium-deployment.yaml
  cilium/tests/kind/cilium-k8s.yaml
Labels: none

add new metrics to tests
  cilium/tests/common.py
Labels: none

Release changed integrations for 7.33.0-rc.11 (#10905)
  .in-toto/tag.bb47f8e8.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  ibm_was/requirements.in
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
  sqlserver/requirements.in
Labels: documentation

[Release] Update metadata
  .in-toto/tag.bb47f8e8.link
Labels: none

Update datadog_checks_base/CHANGELOG.md
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.bb47f8e8.link
Labels: none

Add DD_TAGS section for cluster name, fix links
  eks_fargate/README.md
Labels: documentation

Handle the case where a template is overriden
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
Labels: none

Add example to iis
  iis/assets/configuration/spec.yaml
  iis/datadog_checks/iis/data/conf.yaml.example
Labels: none

Update integration version in changelog (#10908)
  .in-toto/tag.bb47f8e8.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

update changelogs and versions
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

Remove unneeded intermediate variable
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
Labels: none

Remove unneeded intermediate variable
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
Labels: none

Move to else clause
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
Labels: none

Remove space
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
Labels: none

[Release] Bumped iis version to 2.14.0
  iis/CHANGELOG.md
  iis/datadog_checks/iis/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.57ce2495.link
Labels: none

Update custom_query formatting
  elastic/assets/configuration/spec.yaml
  elastic/datadog_checks/elastic/config_models/validators.py
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/conftest.py
  elastic/tests/test_config.py
  elastic/tests/test_elastic.py
Labels: none

Fix style
  elastic/tests/conftest.py
  elastic/tests/test_config.py
  elastic/tests/test_elastic.py
Labels: none

Fix tests
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/test_elastic.py
Labels: none

DOCS-2530 Lint Integrations section (part 6)
  ibm_was/README.md
  ignite/README.md
  istio/README.md
  jboss_wildfly/README.md
  jmeter/README.md
  journald/README.md
  kafka/README.md
  kafka_consumer/README.md
  kong/README.md
  kube_apiserver_metrics/README.md
  kube_dns/README.md
Labels: documentation

[Release] Bumped iis version to 2.14.0 (#10913)
  .in-toto/tag.57ce2495.link
  iis/CHANGELOG.md
  iis/datadog_checks/iis/__about__.py
  requirements-agent-release.txt
Labels: documentation

migrate e2e to helm
  cilium/tests/conftest.py
  cilium/tox.ini
Labels: none

fix e2e for py2
  cilium/tests/conftest.py
  cilium/tests/test_cilium.py
Labels: none

update changelogs and versions (#10912)
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

fix style
  cilium/tests/conftest.py
  cilium/tests/test_cilium.py
Labels: none

Handle nested template name overrides in config specs (#10910)
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
Labels: none

fix metric names, and update versions
  cilium/datadog_checks/cilium/metrics.py
  cilium/metadata.csv
  cilium/tests/common.py
  cilium/tox.ini
Labels: none

try to fix build
  .azure-pipelines/changes.yml
  .azure-pipelines/scripts/ibm_mq/windows/55_install_client.py
  .azure-pipelines/scripts/ibm_mq/windows/install_ibm_mq.bat
  ibm_mq/tests/common.py
  ibm_mq/tests/conftest.py
  ibm_mq/tox.ini
Labels: dev/testing

Remove conflicts
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
Labels: none

Add example metris for aspdotnet
  aspdotnet/assets/configuration/spec.yaml
  aspdotnet/datadog_checks/aspdotnet/data/conf.yaml.example
Labels: none

Add extra_metrics config example for hyperv
  hyperv/assets/configuration/spec.yaml
  hyperv/datadog_checks/hyperv/data/conf.yaml.example
Labels: none

Add extra_metrics example for active directory
  active_directory/assets/configuration/spec.yaml
  active_directory/datadog_checks/active_directory/data/conf.yaml.example
Labels: none

Add mysql_version to dbm query metrics payloads
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_statements.py
Labels: none

Migrate integration_id
  mesos_slave/manifest.json
Labels: none

Add `apc_ups` profile metadata (#10857)
  snmp/datadog_checks/snmp/data/profiles/apc_ups.yaml
  snmp/tests/compose/data/apc_ups.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: none

Refactor model consumer (#10872)
  datadog_checks_dev/datadog_checks/dev/fs.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_consumer.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_file.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_info.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/openapi_document.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/core.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_deprecations.py
Labels: none

migrate script to python
  .azure-pipelines/scripts/ibm_mq/windows/install_ibm_mq.bat
  .azure-pipelines/scripts/ibm_mq/windows/install_ibm_mq.py
Labels: dev/testing

Fix os separator in conftest
  .azure-pipelines/scripts/ibm_mq/windows/55_install_ibm_mq.py
  .azure-pipelines/scripts/ibm_mq/windows/55_install_ibm_mq_client.py
  ibm_mq/tests/conftest.py
Labels: dev/testing

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
