Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Fix windows compose
  .github/workflows/fips/compose/compose-windows.yml
  .github/workflows/fips/tests/test_connections.py
Labels: dev/tooling

Remove trello client (#19536)
  datadog_checks_dev/changelog.d/19536.removed
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
  datadog_checks_dev/tests/tooling/test_trello.py
Labels: none

test
  fly_io/README.md
Labels: documentation

Add scaffolding
  velero/CHANGELOG.md
  velero/README.md
  velero/assets/configuration/spec.yaml
  velero/assets/dashboards/velero_overview.json
  velero/assets/service_checks.json
  velero/changelog.d/1.added
  velero/datadog_checks/__init__.py
  velero/datadog_checks/velero/__about__.py
  velero/datadog_checks/velero/__init__.py
  velero/datadog_checks/velero/check.py
  velero/datadog_checks/velero/config_models/__init__.py
  velero/datadog_checks/velero/config_models/defaults.py
  velero/datadog_checks/velero/config_models/instance.py
  velero/datadog_checks/velero/config_models/shared.py
  velero/datadog_checks/velero/config_models/validators.py
  velero/datadog_checks/velero/data/conf.yaml.example
  velero/hatch.toml
  velero/images/IMAGES_README.md
  velero/manifest.json
  velero/metadata.csv
  velero/pyproject.toml
  velero/tests/__init__.py
  velero/tests/conftest.py
  velero/tests/test_unit.py
Labels: documentation

Revert "test"
  fly_io/README.md
Labels: documentation

Pin beautifulsoup (#19538)
  datadog_checks_dev/changelog.d/19538.fixed
  datadog_checks_dev/pyproject.toml
Labels: none

Fix casing
  keda/README.md
  keda/manifest.json
Labels: documentation

[SAASINT-3456] DDSaaS: BlazeMeter: Crawler Integration without Assets (#19184)
  .github/workflows/config/labeler.yml
  blazemeter/CHANGELOG.md
  blazemeter/README.md
  blazemeter/assets/service_checks.json
  blazemeter/manifest.json
  blazemeter/metadata.csv
Labels: documentation, dev/tooling

Supabase dashboard
  supabase/assets/dashboards/supabase_overview.json
  supabase/manifest.json
Labels: none

Update keda/assets/dashboards/keda_overview.json
  keda/assets/dashboards/keda_overview.json
Labels: none

Update keda/assets/dashboards/keda_overview.json
  keda/assets/dashboards/keda_overview.json
Labels: none

Update keda/assets/dashboards/keda_overview.json
  keda/assets/dashboards/keda_overview.json
Labels: none

Update keda/assets/dashboards/keda_overview.json
  keda/assets/dashboards/keda_overview.json
Labels: none

Update keda/manifest.json
  keda/manifest.json
Labels: none

Update keda_overview.json
  keda/assets/dashboards/keda_overview.json
Labels: none

Document one more permission needed to collect logs (#19531)
  sap_hana/README.md
Labels: documentation

Add logs
  octopus_deploy/README.md
  octopus_deploy/assets/logs/octopus_deploy.yaml
  octopus_deploy/assets/logs/octopus_deploy_tests.yaml
  octopus_deploy/manifest.json
Labels: documentation

Supabase recommended monitor
  supabase/assets/monitors/ram_usage.json
  supabase/manifest.json
Labels: none

fix integration id and name
  octopus_deploy/assets/logs/octopus_deploy.yaml
Labels: none

Update supabase/assets/dashboards/supabase_overview.json
  supabase/assets/dashboards/supabase_overview.json
Labels: none

Update supabase/assets/dashboards/supabase_overview.json
  supabase/assets/dashboards/supabase_overview.json
Labels: none

Update supabase/assets/dashboards/supabase_overview.json
  supabase/assets/dashboards/supabase_overview.json
Labels: none

Update supabase/assets/monitors/ram_usage.json
  supabase/assets/monitors/ram_usage.json
Labels: none

dashboard (#19533)
  keda/assets/dashboards/keda_overview.json
  keda/manifest.json
  keda/metadata.csv
Labels: none

Supabase recommended monitor (#19544)
  supabase/assets/monitors/ram_usage.json
  supabase/manifest.json
Labels: none

Bump Snowflake dependency
  agent_requirements.in
  snowflake/pyproject.toml
Labels: none

Add changelog
  snowflake/changelog.d/19545.added
Labels: none

Supabase dashboard (#19542)
  supabase/assets/dashboards/supabase_overview.json
  supabase/manifest.json
Labels: none

Bump confluent-kafka OpenSSL version to 3.4.0
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
  .builders/images/windows-x86_64/Dockerfile
Labels: none

Separate pytest execution to prevent concurency issues
  .github/workflows/fips-test.yml
Labels: dev/tooling

update tests and readme
  octopus_deploy/README.md
  octopus_deploy/assets/logs/octopus_deploy_tests.yaml
Labels: documentation

Add chacha20 to paramiko preferred ciphers
  .github/workflows/fips/compose/agent/checks.d/connections.py
Labels: dev/tooling

Remove unnecessary Exception handling
  .github/workflows/fips/compose/agent/checks.d/connections.py
  .github/workflows/fips/compose/agent/checks.d/libraries.py
Labels: dev/tooling

Remove paramiko cipher modification
  .github/workflows/fips/compose/agent/checks.d/connections.py
Labels: dev/tooling

[SAASINT-3564] DDSaaS: ServiceNow Performance: Crawler integration without Assets (#19462)
  .github/workflows/config/labeler.yml
  servicenow_performance/CHANGELOG.md
  servicenow_performance/README.md
  servicenow_performance/assets/service_checks.json
  servicenow_performance/manifest.json
  servicenow_performance/metadata.csv
Labels: documentation, dev/tooling

Sy/keda patch (#19530)
  keda/assets/configuration/spec.yaml
  keda/changelog.d/19530.fixed
  keda/datadog_checks/keda/config_models/defaults.py
  keda/datadog_checks/keda/config_models/instance.py
  keda/datadog_checks/keda/data/conf.yaml.example
  keda/datadog_checks/keda/metrics.py
  keda/metadata.csv
  keda/tests/common.py
  keda/tests/test_unit.py
Labels: none

Add test step in workflow
  .github/workflows/fips-test.yml
Labels: dev/tooling

Add sleep time
  .github/workflows/fips-test.yml
  .github/workflows/fips/compose/compose-windows.yml
Labels: dev/tooling

Replace sleep with wait
  .github/workflows/fips-test.yml
Labels: dev/tooling

public docs
  keda/manifest.json
Labels: none
