Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

add support for rendering nutanix event messages
  nutanix/datadog_checks/nutanix/activity_monitor.py
  nutanix/tests/test_events.py
Labels: none

remove all X_id tags
  nutanix/datadog_checks/nutanix/activity_monitor.py
  nutanix/datadog_checks/nutanix/infrastructure_monitor.py
  nutanix/tests/test_alerts.py
  nutanix/tests/test_audits.py
  nutanix/tests/test_capacity_metrics.py
  nutanix/tests/test_clusters.py
  nutanix/tests/test_events.py
  nutanix/tests/test_hosts.py
  nutanix/tests/test_integration.py
  nutanix/tests/test_resource_filters.py
  nutanix/tests/test_tasks.py
  nutanix/tests/test_vms.py
Labels: none

add caches for activity entities
  nutanix/datadog_checks/nutanix/activity_monitor.py
  nutanix/datadog_checks/nutanix/check.py
Labels: none

update test fixtures and adjust tests to work with the new data
  nutanix/tests/fixtures/alerts.json
  nutanix/tests/fixtures/events.json
  nutanix/tests/fixtures/tasks.json
  nutanix/tests/test_alerts.py
  nutanix/tests/test_tasks.py
Labels: none

test
  control_m/tests/test_unit.py
Labels: none

add support for displaying affected alerts in tasks
  nutanix/datadog_checks/nutanix/activity_monitor.py
  nutanix/datadog_checks/nutanix/check.py
  nutanix/tests/conftest.py
  nutanix/tests/test_tasks.py
Labels: none

refactor: reduce code duplication in activity_monitor
  nutanix/datadog_checks/nutanix/activity_monitor.py
Labels: none

remove debugging code
  nutanix/datadog_checks/nutanix/infrastructure_monitor.py
Labels: none

improve readability of activity_monitor.py code related to filtering
  nutanix/datadog_checks/nutanix/activity_monitor.py
Labels: none

Supabase Cloud: Update instructions on which API Key to provide the integration for metrics gathering
  supabase_cloud/README.md
Labels: documentation

code cleanup + reduce code duplication
  nutanix/datadog_checks/nutanix/activity_monitor.py
  nutanix/datadog_checks/nutanix/check.py
  nutanix/datadog_checks/nutanix/infrastructure_monitor.py
Labels: none

Finalize Agent release 7.76.2
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
  cisco_aci/CHANGELOG.md
  datadog_checks_base/CHANGELOG.md
  http_check/CHANGELOG.md
  ibm_spectrum_lsf/CHANGELOG.md
  kafka_actions/CHANGELOG.md
  kafka_consumer/CHANGELOG.md
  mysql/CHANGELOG.md
  postgres/CHANGELOG.md
  snowflake/CHANGELOG.md
  spark/CHANGELOG.md
  sqlserver/CHANGELOG.md
  tls/CHANGELOG.md
  zscaler_private_access/CHANGELOG.md
Labels: documentation

Wrap Google Storage Blob for better testing and abstraction (#22780)
  .builders/tests/test_upload.py
  .builders/upload.py
Labels: none

split collect_cluster_metrics into isolated collection phases to enable partial data collection on failures
  nutanix/datadog_checks/nutanix/infrastructure_monitor.py
Labels: none

improve error isolation for host processing to allow non-blocking errors when single host fails
  nutanix/datadog_checks/nutanix/infrastructure_monitor.py
Labels: none

replace log.exception with log.error for more user friendly log message for known errors
  nutanix/datadog_checks/nutanix/infrastructure_monitor.py
Labels: none

Improve logging
  prefect/datadog_checks/prefect/check.py
Labels: none

Add read-only user best practice recommendation to integration READMEs (#22778)
  clickhouse/README.md
  cloudera/README.md
  foundationdb/README.md
  ibm_was/README.md
  openldap/README.md
  singlestore/README.md
  snowflake/README.md
Labels: documentation

make resource_filters proprety always required and remove its default values
  nutanix/README.md
  nutanix/assets/configuration/spec.yaml
  nutanix/datadog_checks/nutanix/__about__.py
  nutanix/datadog_checks/nutanix/data/conf.yaml.example
  nutanix/datadog_checks/nutanix/resource_filters.py
Labels: documentation

Add recommendation for DB2 machine user permissions
  ibm_db2/README.md
Labels: documentation

switch super() call to python3 style
  nutanix/datadog_checks/nutanix/check.py
Labels: none

Remove time dependent metrics from e2e test
  prefect/tests/conftest.py
  prefect/tests/docker/failing_flow.py
  prefect/tests/fixtures/e2e_metric_tags.py
  prefect/tests/test_e2e.py
Labels: none

address some code smells
  nutanix/datadog_checks/nutanix/activity_monitor.py
  nutanix/datadog_checks/nutanix/check.py
  nutanix/datadog_checks/nutanix/infrastructure_monitor.py
  nutanix/datadog_checks/nutanix/utils.py
Labels: none

Add baketime to dependabot actions updates (#22785)
  .github/dependabot.yml
Labels: none

Fix missing secret and legacy markers on fleet-configurable config fields
  openstack/assets/configuration/spec.yaml
  openstack_controller/assets/configuration/spec.yaml
  prometheus/assets/configuration/spec.yaml
  snmp/assets/configuration/spec.yaml
Labels: none

Revert legacy: true from prometheus ssl_* fields (still primary config interface)
  prometheus/assets/configuration/spec.yaml
Labels: none

Move logic to Python scripts
  .github/workflows/dispatch-release.yml
  .github/workflows/scripts/dispatch-release.py
  .github/workflows/scripts/tag-and-detect.py
  .github/workflows/trigger-release.yml
Labels: dev/tooling

Remove fleet_configurable: true additions from this PR
  openstack/assets/configuration/spec.yaml
  openstack_controller/assets/configuration/spec.yaml
  snmp/assets/configuration/spec.yaml
Labels: none

Improve logic separation
  .github/workflows/dispatch-release.yml
  .github/workflows/scripts/detect-integrations.py
  .github/workflows/scripts/dispatch-release.py
  .github/workflows/scripts/tag-and-detect.py
  .github/workflows/scripts/tag-releases.py
  .github/workflows/scripts/utils.py
  .github/workflows/trigger-release.yml
Labels: dev/tooling

Rename trigger job
  .github/workflows/trigger-release.yml
Labels: dev/tooling

snmp: annotate init_config refresh_oids_cache_interval with legacy: true
  snmp/assets/configuration/spec.yaml
Labels: none

update page_limit default value from 50 to 100 to reduce API calls
  nutanix/assets/configuration/spec.yaml
  nutanix/datadog_checks/nutanix/check.py
  nutanix/datadog_checks/nutanix/config_models/defaults.py
  nutanix/datadog_checks/nutanix/data/conf.yaml.example
Labels: none

Add environment condition for workflow dispatch
  .github/workflows/dispatch-release.yml
Labels: dev/tooling

ddev config
  .ddev/config.toml
Labels: none

Revert accidental version modification for dev
  nutanix/datadog_checks/nutanix/__about__.py
Labels: none

[FA] Add missing fleet_configurable (#22748)
  coredns/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  istio/assets/configuration/spec.yaml
  mysql/assets/configuration/spec.yaml
  openstack/assets/configuration/spec.yaml
  openstack_controller/assets/configuration/spec.yaml
  postgres/assets/configuration/spec.yaml
  prometheus/assets/configuration/spec.yaml
  snmp/assets/configuration/spec.yaml
  teleport/assets/configuration/spec.yaml
  traefik_mesh/assets/configuration/spec.yaml
  voltdb/assets/configuration/spec.yaml
Labels: none

Add recommendation for DB2 machine user permissions (#22790)
  ibm_db2/README.md
Labels: documentation

feat(ddev): implement secret provider
  ddev/CHANGELOG.md
  ddev/src/ddev/cli/__init__.py
  ddev/src/ddev/cli/config/__init__.py
  ddev/src/ddev/cli/config/allow.py
  ddev/src/ddev/cli/config/deny.py
  ddev/src/ddev/cli/meta/scripts/_dynamicd/cli.py
  ddev/src/ddev/config/file.py
  ddev/src/ddev/config/model.py
  ddev/src/ddev/config/secret_command.py
  ddev/src/ddev/config/secret_resolution.py
  ddev/src/ddev/config/trust.py
  ddev/src/ddev/config/utils.py
  ddev/src/ddev/utils/scripts/check_pr.py
  ddev/tests/cli/config/test_allow_deny.py
  ddev/tests/cli/config/test_show.py
  ddev/tests/cli/meta/scripts/test_dynamicd.py
  ddev/tests/cli/test_secret_resolution_errors.py
  ddev/tests/config/test_file.py
  ddev/tests/config/test_model.py
  ddev/tests/config/test_secret_resolution.py
  ddev/tests/config/test_secret_scrubbing_guardrails.py
  ddev/tests/config/test_trust.py
  docs/developer/ddev/configuration.md
  docs/developer/ddev/multirepo.md
Labels: documentation

Add SQLSever 2025 to CI
  .github/workflows/test-all-windows.yml
  .github/workflows/test-all.yml
  sqlserver/hatch.toml
Labels: dev/tooling

Hatch
  sqlserver/hatch.toml
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
