Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Minor dashboard update
  ivanti_nzta/assets/dashboards/ivanti_nzta_analytics_logs.json
Labels: none

Fix short-circuited condition
  .builders/build.py
Labels: none

Force build Cryptography on Linux
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-aarch64/build_script.sh
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/linux-x86_64/build_script.sh
Labels: none

Update silverstripe_cms_overview.json
  silverstripe_cms/assets/dashboards/silverstripe_cms_overview.json
Labels: none

Minor dashboard update
  ivanti_nzta/assets/dashboards/ivanti_nzta_analytics_logs.json
Labels: none

Don't `enable-fips`
  .builders/images/linux-x86_64/Dockerfile
Labels: none

Remove unused CI script for foundationdb
  .ddev/ci/scripts/foundationdb/linux/55_install_client.sh
Labels: none

Remove unused CI script for foundationdb (#19636)
  .ddev/ci/scripts/foundationdb/linux/55_install_client.sh
Labels: none

Update: address review comments in README
  forcepoint_security_service_edge/README.md
Labels: documentation

Lazily import requests-related objects
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
Labels: none

Revert "Remove unused CI script for foundationdb (#19636)"
  .ddev/ci/scripts/foundationdb/linux/55_install_client.sh
Labels: none

aerospike agent and dashboard changes - review feedback
  aerospike/CHANGELOG.md
  aerospike/datadog_checks/aerospike/__about__.py
  aerospike/datadog_checks/aerospike/config_models/instance.py
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  aerospike/pyproject.toml
Labels: documentation

Build cryptography (Linux) (#19635)
  .builders/build.py
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-aarch64/build_script.sh
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/linux-x86_64/build_script.sh
Labels: none

Revert "Remove unused CI script for foundationdb (#19636)" (#19639)
  .ddev/ci/scripts/foundationdb/linux/55_install_client.sh
Labels: none

review feedback
  aerospike/metadata.csv
Labels: none

Add validation that filtering is in place (#19631)
  octopus_deploy/README.md
  octopus_deploy/changelog.d/19631.fixed
  octopus_deploy/datadog_checks/octopus_deploy/config_models/validators.py
  octopus_deploy/tests/constants.py
  octopus_deploy/tests/test_unit.py
Labels: documentation

Force build cryptography on Windows
  .builders/images/windows-x86_64/Dockerfile
  .builders/images/windows-x86_64/build_script.ps1
Labels: none

cert_manager: add renewal_timestamp metric collection Add collection of the `certmanager_certificate_renewal_timestamp_seconds` metric as `certificate.renewal_timestamp`
  cert_manager/changelog.d/19643.added
  cert_manager/datadog_checks/cert_manager/metrics.py
  cert_manager/metadata.csv
  cert_manager/tests/common.py
  cert_manager/tests/conftest.py
  cert_manager/tests/fixtures/cert_manager.txt
Labels: none

Set "display_on_public_website" to true for DubckDB
  duckdb/manifest.json
Labels: none

Undo the version change to make the validator happy.
  spark/datadog_checks/spark/__about__.py
Labels: none

Revert "Remove linux runner overrides for CI"
  .ddev/config.toml
Labels: none

Remove linux runner overrides for CI, exclude mesos_slave
  .ddev/config.toml
  .github/workflows/test-all.yml
Labels: dev/tooling

[DJM] Add callout to DJM in airflow docs (#19590)
  airflow/README.md
Labels: documentation

fix changelog
  octopus_deploy/changelog.d/19543.fixed
Labels: none

Set "display_on_public_website" to true for DubckDB (#19645)
  duckdb/manifest.json
Labels: none

refactor: move imports of prometheus inside functions using it
  datadog_checks_base/datadog_checks/base/checks/libs/prometheus.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/utils.py
Labels: none

fix: linter
  datadog_checks_base/datadog_checks/base/checks/libs/prometheus.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/utils.py
Labels: none

fix: linter again
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
Labels: none

Update kubernetes_pods.json
  kubernetes/assets/dashboards/kubernetes_pods.json
Labels: none

CODEOWNERS updated
  .github/CODEOWNERS
Labels: none

CODEOWNERS reverted
  .github/CODEOWNERS
Labels: none

Gracefully handle unavailable apps and their aspects (#19561)
  spark/changelog.d/19561.fixed
  spark/datadog_checks/spark/spark.py
  spark/tests/common.py
  spark/tests/test_spark.py
Labels: none

Revert "TODO remove: trigger CI"
  datadog_checks_base/datadog_checks/base/checks/base.py
  glusterfs/datadog_checks/glusterfs/check.py
  mesos_slave/datadog_checks/mesos_slave/mesos_slave.py
  mysql/datadog_checks/mysql/mysql.py
  spark/datadog_checks/spark/spark.py
  ssh_check/datadog_checks/ssh_check/ssh_check.py
Labels: none

Add additional Teleport metrics (#19473)
  teleport/README.md
  teleport/changelog.d/19473.added
  teleport/datadog_checks/teleport/metrics.py
  teleport/metadata.csv
  teleport/tests/common.py
  teleport/tests/docker/caddy/fixtures/metrics/get.txt
  teleport/tests/docker/teleport/docker-compose.yaml
  teleport/tests/fixtures/metrics.txt
Labels: documentation

[AI-5058] Remove ubuntu-20 runners from test-all workflow (#19604)
  .ddev/config.toml
  .github/workflows/test-all.yml
Labels: dev/tooling

Cilium: add 1.16+ metrics (#19520)
  cilium/changelog.d/19520.added
  cilium/datadog_checks/cilium/metrics.py
  cilium/metadata.csv
  cilium/tests/common.py
  cilium/tests/fixtures/agent_metrics.txt
  cilium/tests/legacy/legacy_common.py
Labels: none

Update metadata
  gpu/metadata.csv
Labels: none

Fix metadata.csv entries
  network_path/metadata.csv
Labels: none

fix
  network_path/metadata.csv
Labels: none

fix
  network_path/metadata.csv
Labels: none
