Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

add changelog
  mongo/changelog.d/17836.fixed
Labels: none

exclude mayBypassWriteBlocking
  mongo/changelog.d/17836.fixed
  mongo/datadog_checks/mongo/dbm/operation_samples.py
Labels: none

Skip integration/e2e as ianbytchek/riak-cs docker image is incompatible with gh runner docker v26 (#17834)
  riakcs/hatch.toml
  riakcs/tests/common.py
  riakcs/tests/conftest.py
  riakcs/tests/test_e2e.py
  riakcs/tests/test_integration.py
Labels: none

Skip integration/e2e as ianbytchek/riak-cs docker image is incompatible with gh runner docker v26 (#17834) f115f2c1bbc616f6f55fae764e3be7bf2562f24b
  meta/status/index.html
  search/search_index.json
Labels: none

Remove testing on py2
  activemq_xml/hatch.toml
Labels: none

Remove testing on py2
  amazon_msk/hatch.toml
Labels: none

add cursor object to sampled activities
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/types.py
  mongo/tests/fixtures/$currentOp-mongos-getmore
  mongo/tests/fixtures/getCmdLineOpts-mongos-getmore
  mongo/tests/results/opeartion-activities-mongos-getmore.json
  mongo/tests/results/opeartion-activities-mongos.json
  mongo/tests/results/opeartion-activities-standalone.json
  mongo/tests/results/operation-samples-mongos.json
  mongo/tests/results/operation-samples-standalone.json
  mongo/tests/test_dbm_operation_samples.py
Labels: none

Remove testing on py2
  ambari/hatch.toml
Labels: none

add changelog
  mongo/changelog.d/17840.added
Labels: none

Remove testing on py2
  aerospike/hatch.toml
Labels: none

Remove testing on py2
  apache/hatch.toml
Labels: none

Remove testing on py2
  azure_iot_edge/hatch.toml
Labels: none

Remove testing on py2
  btrfs/hatch.toml
Labels: none

include cursor plan summary
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/types.py
  mongo/tests/fixtures/$currentOp-mongos-getmore
  mongo/tests/results/opeartion-activities-mongos-getmore.json
Labels: none

fix unit test
  mongo/tests/fixtures/$currentOp-mongos
  mongo/tests/fixtures/$currentOp-mongos-getmore
  mongo/tests/fixtures/getCmdLineOpts-mongos-getmore
  mongo/tests/results/opeartion-activities-mongos-getmore.json
  mongo/tests/results/opeartion-activities-mongos.json
  mongo/tests/test_dbm_operation_samples.py
Labels: none

Update pydantic and datamodel-code-gen (#17802) 519b9f0454b72963b52eb76e6bb0c0a79e314439
  search/search_index.json
  testing/index.html
Labels: none

Update dependency resolution
  .deps/metadata.json
  .deps/resolved/linux-aarch64_py3.txt
  .deps/resolved/linux-x86_64_py3.txt
  .deps/resolved/macos-x86_64_py2.txt
  .deps/resolved/macos-x86_64_py3.txt
  .deps/resolved/windows-x86_64_py3.txt
Labels: none

Update README.md
  eks_fargate/README.md
Labels: documentation

Update README.md
  eks_fargate/README.md
Labels: documentation

Update README.md
  eks_fargate/README.md
Labels: documentation

Update README.md
  eks_fargate/README.md
Labels: documentation

Update README.md
  eks_fargate/README.md
Labels: documentation

Update README.md
  eks_fargate/README.md
Labels: documentation

Update README.md
  eks_fargate/README.md
Labels: documentation

Update README.md
  eks_fargate/README.md
Labels: documentation

Update README.md
  eks_fargate/README.md
Labels: documentation

Release mongo integration (#17835)
  .in-toto/tag.b9ca7eb3.link
  mongo/CHANGELOG.md
  mongo/changelog.d/17730.added
  mongo/changelog.d/17779.added
  mongo/changelog.d/17785.fixed
  mongo/changelog.d/17798.added
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation

[SIEMINT-36] Zeek: Enhancements (#17350)
  zeek/assets/dashboards/zeek_files.json
  zeek/assets/logs/zeek.yaml
  zeek/assets/logs/zeek_tests.yaml
Labels: none

[mongo] add cursor object to sampled activities and explain plan payload (#17840)
  mongo/changelog.d/17840.added
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/types.py
  mongo/tests/fixtures/$currentOp-mongos
  mongo/tests/results/opeartion-activities-mongos.json
  mongo/tests/results/opeartion-activities-standalone.json
  mongo/tests/results/operation-samples-mongos.json
  mongo/tests/results/operation-samples-standalone.json
Labels: none

[mongo] excludes keys from sampled commands that cause explain to fail (#17836)
  mongo/changelog.d/17836.fixed
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/tests/fixtures/$currentOp-mongos
  mongo/tests/results/opeartion-activities-mongos.json
  mongo/tests/results/operation-samples-mongos.json
  mongo/tests/test_dbm_operation_samples.py
Labels: none

Bump tuf dependency
  agent_requirements.in
  datadog_checks_downloader/pyproject.toml
Labels: none

[mongo ]add config option to set a reported_database_hostname to override the mongodb hostname (#17800)
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/17800.added
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/test_integration_standalone.py
Labels: none

Bump TUF to address security vulnerability (#17848)
  agent_requirements.in
  datadog_checks_downloader/pyproject.toml
Labels: none

Bump TUF to address security vulnerability (#17848)
  agent_requirements.in
  datadog_checks_downloader/pyproject.toml
Labels: none

Add missing changelog
  datadog_checks_downloader/changelog.d/17849.security
Labels: none

Correct changelog number
  datadog_checks_downloader/changelog.d/17848.security
Labels: none

Add missing changelog (#17851)
  datadog_checks_downloader/changelog.d/17848.security
Labels: none

Add missing changelog (#17851)
  datadog_checks_downloader/changelog.d/17848.security
Labels: none

Update dependency resolution
  .deps/metadata.json
  .deps/resolved/linux-aarch64_py2.txt
  .deps/resolved/linux-aarch64_py3.txt
  .deps/resolved/linux-x86_64_py3.txt
  .deps/resolved/macos-x86_64_py2.txt
  .deps/resolved/macos-x86_64_py3.txt
  .deps/resolved/windows-x86_64_py3.txt
Labels: none

Add link to workflow that creates PR to update dependency resolution
  .github/workflows/build-deps.yml
Labels: dev/tooling

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
