Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

postgres: fix ERROR-level log spam from explain_parameterized_queries on type mismatch
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
  postgres/tests/test_explain_parameterized_queries.py
Labels: none

postgres: add changelog entry for #23993
  postgres/changelog.d/23993.fixed
Labels: none

postgres: fix test_no_plan_returned mock after None sentinel change
  postgres/tests/test_explain_parameterized_queries.py
Labels: none

postgres: test full-flow None sentinel -> undefined_function in explain_statement
  postgres/tests/test_explain_parameterized_queries.py
Labels: none

download retry
  ddev/src/ddev/cli/ci/tests/task_test_runner.py
  ddev/src/ddev/utils/github_async/client.py
  ddev/tests/cli/ci/tests/test_task_test_runner.py
  ddev/tests/utils/test_github_async.py
Labels: none

Add metrics exposition to inspect endpoint and mark some ddev tools as read-only
  ddev/src/ddev/ai/flows/openmetrics/phases/inspect_endpoint.py
  ddev/src/ddev/ai/tools/registry.py
  ddev/tests/ai/flows/openmetrics/phases/test_inspect_endpoint.py
Labels: none

postgres: fix unit test - mock version and db_pool for explain_statement
  postgres/tests/test_explain_parameterized_queries.py
Labels: none

lint
  ddev/src/ddev/cli/ci/tests/task_test_runner.py
Labels: none

Address review feedback on consumer-group signals
  kafka_consumer/README.md
  kafka_consumer/changelog.d/23915.added
  kafka_consumer/datadog_checks/kafka_consumer/cluster_metadata.py
  kafka_consumer/tests/test_cluster_metadata.py
Labels: documentation

Remove consumer-group signals demo compose file
  kafka_consumer/tests/docker/docker-compose-consumer-group-signals-demo.yaml
Labels: none

[DBMON-6715] Update TagManager to handle internal and db tags (#23976)
  datadog_checks_base/changelog.d/23976.added
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: none

Run autodiagnostics on init
  postgres/changelog.d/23645.added
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
Labels: none

Restore clear
  postgres/datadog_checks/postgres/postgres.py
Labels: none

FA
  postgres/assets/configuration/spec.yaml
Labels: none

Port forward new integrations to master (#23980)
  dell_powerflex/CHANGELOG.md
  dell_powerflex/changelog.d/23183.added
  dell_powerflex/datadog_checks/dell_powerflex/__about__.py
  hpe_aruba_edgeconnect/CHANGELOG.md
  hpe_aruba_edgeconnect/changelog.d/23594.added
  hpe_aruba_edgeconnect/datadog_checks/hpe_aruba_edgeconnect/__about__.py
  requirements-agent-release.txt
Labels: documentation

[AI-6502] Migrate new dependency resolution workflow to `dd-octo-sts` (#23968)
  .deps/builder_inputs.toml
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
  .github/workflows/resolve-build-deps.yaml
Labels: dev/tooling

Apply queue_regex or queue_patterns to statistics metrics (ibm_mq.stats.queue.*) (#23933)
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/changelog.d/23933.added
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/stats_collector.py
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/config_models/defaults.py
  ibm_mq/datadog_checks/ibm_mq/config_models/instance.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/datadog_checks/ibm_mq/stats/queue_stats.py
  ibm_mq/tests/test_queue_metric_collector.py
Labels: none

Apply queue_regex or queue_patterns to statistics metrics (ibm_mq.stats.queue.*) (#23933)
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/changelog.d/23933.added
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/stats_collector.py
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/config_models/defaults.py
  ibm_mq/datadog_checks/ibm_mq/config_models/instance.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/datadog_checks/ibm_mq/stats/queue_stats.py
  ibm_mq/tests/test_queue_metric_collector.py
Labels: none

[Release] Bumped ibm_mq version to 8.10.0
  ibm_mq/CHANGELOG.md
  ibm_mq/changelog.d/23933.added
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped nutanix version to 1.5.0
  nutanix/CHANGELOG.md
  nutanix/changelog.d/23538.added
  nutanix/datadog_checks/nutanix/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

Fix typos in K8s control plane dashboard
  kubernetes/assets/dashboards/kubernetes_control_plane.json
Labels: none

Fix kerberos tests (#23923)
  datadog_checks_base/tests/compose/kerberos/kerberos-agent.yaml
  datadog_checks_base/tests/compose/kerberos/kerberos-nginx/Dockerfile
  datadog_checks_base/tests/compose/kerberos/kerberos.yaml
Labels: none

Update kafka_consumer/README.md
  kafka_consumer/README.md
Labels: documentation

Update kafka_consumer/README.md
  kafka_consumer/README.md
Labels: documentation

Update kafka_consumer/README.md
  kafka_consumer/README.md
Labels: documentation

Update kafka_consumer/README.md
  kafka_consumer/README.md
Labels: documentation

Update kafka_consumer/metadata.csv
  kafka_consumer/metadata.csv
Labels: none

Update kafka_consumer/metadata.csv
  kafka_consumer/metadata.csv
Labels: none

Release Nutanix and IBM MQ (#24002)
  .in-toto/tag.ec45eb9d.link
  ibm_mq/CHANGELOG.md
  ibm_mq/changelog.d/23933.added
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  nutanix/CHANGELOG.md
  nutanix/changelog.d/23538.added
  nutanix/datadog_checks/nutanix/__about__.py
  requirements-agent-release.txt
Labels: documentation

postgres: shorten changelog entry for #23993
  postgres/changelog.d/23993.fixed
Labels: none

Add smoke test for automatic diagnostics
  postgres/tests/test_pg_integration.py
Labels: none

Fix typos in kubernetes_control_plane dashboard
  kubernetes/assets/dashboards/kubernetes_control_plane.json
Labels: none

porting changelogs etc
  ibm_mq/CHANGELOG.md
  ibm_mq/changelog.d/23933.added
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  nutanix/CHANGELOG.md
  nutanix/changelog.d/23538.added
  nutanix/datadog_checks/nutanix/__about__.py
  requirements-agent-release.txt
Labels: documentation

[AI-6754] Run macos-packaging job in ddev-sign-upload environment and add job to test macos build (#23456)
  .github/workflows/build-ddev.yml
Labels: dev/tooling

Simplify sign and upload job
  .github/workflows/build-ddev.yml
Labels: dev/tooling

verify package was produced
  .github/workflows/build-ddev.yml
Labels: dev/tooling

porting changelogs etc (#24005)
  ibm_mq/CHANGELOG.md
  ibm_mq/changelog.d/23933.added
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  nutanix/CHANGELOG.md
  nutanix/changelog.d/23538.added
  nutanix/datadog_checks/nutanix/__about__.py
  requirements-agent-release.txt
Labels: documentation

Simplify sign and upload job (#24006)
  .github/workflows/build-ddev.yml
Labels: dev/tooling

Potential fix for pull request finding
  ddev/src/ddev/cli/release/branch/build_agent.py
Labels: none
