Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Add filesystem tag
  lustre/datadog_checks/lustre/check.py
  lustre/datadog_checks/lustre/constants.py
  lustre/tests/conftest.py
  lustre/tests/test_unit.py
Labels: none

Add changelog
  lustre/changelog.d/21270.added
Labels: none

try delete
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/size-quality-gates.yml
Labels: dev/tooling

Apply suggestions from code review
  pan_firewall/assets/logs/pan.firewall.yaml
Labels: none

redo activity_name
  pan_firewall/assets/logs/pan.firewall.yaml
Labels: none

try delete
  .github/workflows/resolve-build-deps.yaml
Labels: dev/tooling

update tests file
  pan_firewall/assets/logs/pan.firewall_tests.yaml
Labels: none

Clean up
  datadog_checks_dev/datadog_checks/dev/kind.py
Labels: none

changelog
  ddev/changelog.d/21289.changed
Labels: none

Remove deprecated ContestManager type
  datadog_checks_dev/datadog_checks/dev/kind.py
Labels: none

Update README and add missing metrics information
  amazon_app_mesh/README.md
  amazon_app_mesh/manifest.json
Labels: documentation

[SAASINT-4510] DDS: Supply Chain Firewall Integration v1.0.0 (#21096)
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  supply_chain_firewall/CHANGELOG.md
  supply_chain_firewall/README.md
  supply_chain_firewall/assets/dashboards/supply_chain_firewall_events.json
  supply_chain_firewall/assets/logs/supply-chain-firewall.yaml
  supply_chain_firewall/assets/logs/supply-chain-firewall_tests.yaml
  supply_chain_firewall/assets/supply_chain_firewall.svg
  supply_chain_firewall/images/supply_chain_firewall_events_1.png
  supply_chain_firewall/images/supply_chain_firewall_events_2.png
  supply_chain_firewall/manifest.json
Labels: documentation, dev/tooling

CONTINT-4754: adds kubernetes_state.deployment.rollout_duration metric to metadata.csv (#21265)
  kubernetes_state_core/metadata.csv
Labels: none

cloudera event params
  cloudera/datadog_checks/cloudera/api/api_v7.py
Labels: none

[Release] Bumped cloudera version to 3.2.1-beta.4
  cloudera/CHANGELOG.md
  cloudera/datadog_checks/cloudera/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.47c5a022.link
Labels: none

Add a KindLoad context manager that allows loading custom docker images into a kind cluster (#21288)
  datadog_checks_dev/changelog.d/21288.added
  datadog_checks_dev/datadog_checks/dev/kind.py
  datadog_checks_dev/tests/test_kind.py
Labels: none

Increate TTL in RateLimitingTTLCache cache test
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: none

new round of fixes
  azure_active_directory/assets/logs/azure.activedirectory.yaml
Labels: none

add base events, add original sample back
  pan_firewall/assets/logs/pan.firewall.yaml
  pan_firewall/assets/logs/pan.firewall_tests.yaml
Labels: none

Increate TTL in RateLimitingTTLCache cache test (#21290)
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: none

workflow
  .github/workflows/measure-disk-usage.yml
Labels: dev/tooling

fix formatting
  pan_firewall/assets/logs/pan.firewall_tests.yaml
Labels: none

explicit query match mapping
  clickhouse/datadog_checks/clickhouse/queries/system_async_metrics.py
  clickhouse/datadog_checks/clickhouse/queries/system_errors.py
  clickhouse/datadog_checks/clickhouse/queries/system_events.py
  clickhouse/datadog_checks/clickhouse/queries/system_metrics.py
  clickhouse/scripts/templates/system_async_metrics.tpl
  clickhouse/scripts/templates/system_errors.tpl
  clickhouse/scripts/templates/system_events.tpl
  clickhouse/scripts/templates/system_metrics.tpl
  clickhouse/tests/conftest.py
  clickhouse/tests/test_e2e.py
Labels: none

fix formatting
  pan_firewall/assets/logs/pan.firewall_tests.yaml
Labels: none

update tests file
  pan_firewall/assets/logs/pan.firewall_tests.yaml
Labels: none

change pre-processor filter
  pan_firewall/assets/logs/pan.firewall.yaml
Labels: none

added explicit agent check before the next assert
  clickhouse/tests/test_e2e.py
Labels: none

[IDP-592] Add owner field to Windows Agent integrations (#21001)
  active_directory/manifest.json
  aspdotnet/manifest.json
  dotnetclr/manifest.json
  exchange_server/manifest.json
  hyperv/manifest.json
  iis/manifest.json
  win32_event_log/manifest.json
  wincrashdetect/manifest.json
  windows_certificate/manifest.json
  windows_performance_counters/manifest.json
  windows_registry/manifest.json
  windows_service/manifest.json
  wmi_check/manifest.json
Labels: none

try failure
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/size-quality-gates.yml
Labels: dev/tooling

fix
  .github/workflows/size-qg-prev-dep-sizes-json.yml
Labels: dev/tooling

change pre-processor filter
  pan_firewall/assets/logs/pan.firewall.yaml
Labels: none

isolate db interaction by test name
  postgres/tests/test_progress_stats.py
  postgres/tests/utils.py
Labels: none

run format
  postgres/tests/test_progress_stats.py
Labels: none

checkout
  .github/workflows/resolve-build-deps.yaml
Labels: dev/tooling

Add custom kubectl image
  velero/tests/conftest.py
  velero/tests/kind/kubectl.Dockerfile
  velero/tests/kind/velero-values.yaml
Labels: none

Move KindLoad to a condition instead of a wrapper
  datadog_checks_dev/datadog_checks/dev/kind.py
  datadog_checks_dev/tests/test_kind.py
Labels: none

[Hugging Face TGI] Add process signature
  hugging_face_tgi/manifest.json
Labels: none

Add changelog
  datadog_checks_dev/changelog.d/21292.fixed
Labels: none

Clean up typing
  datadog_checks_dev/datadog_checks/dev/kind.py
Labels: none
