Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Call correct method when sending events
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
  kafka_consumer/datadog_checks/kafka_consumer/new_kafka_consumer.py
Labels: none

Fix merge conflict
  mysql/tests/test_mysql.py
Labels: none

Add simple test for sending events
  kafka_consumer/tests/test_kafka_consumer.py
Labels: none

Rename test table
  sqlserver/tests/compose-high-cardinality/setup.sh
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/utils.py
Labels: none

Add test to see how the integration performs against a hc database
  sqlserver/tests/test_hc.py
  sqlserver/tests/utils.py
Labels: none

Move tests and lower expected database count
  sqlserver/tests/compose-high-cardinality/setup.sh
  sqlserver/tests/test_hc.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/utils.py
Labels: none

Add connection failure test and cleanup
  sqlserver/tests/test_connection.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/utils.py
Labels: none

Update the default value of the `bearer_token` parameter
  kube_controller_manager/assets/configuration/spec.yaml
  kube_controller_manager/datadog_checks/kube_controller_manager/data/auto_conf.yaml
Labels: none

Add more metadata
  snmp/datadog_checks/snmp/data/profiles/palo-alto.yaml
Labels: none

update snmprec
  snmp/tests/compose/data/palo-alto.snmprec
Labels: none

add test
  snmp/tests/test_e2e_core_metadata.py
Labels: none

fix lint
  snmp/datadog_checks/snmp/data/profiles/palo-alto.yaml
  snmp/tests/test_e2e_core_metadata.py
Labels: none

Fix `auto_create_group` value
  eks_fargate/README.md
Labels: documentation

revert some snmp rec
  snmp/tests/compose/data/palo-alto.snmprec
Labels: none

fix test
  snmp/datadog_checks/snmp/data/profiles/palo-alto.yaml
  snmp/tests/test_e2e_core_metadata.py
Labels: none

Add DD_TAGS section for cluster name, fix links (#10909)
  eks_fargate/README.md
Labels: documentation

update snmprec
  snmp/datadog_checks/snmp/data/profiles/palo-alto.yaml
  snmp/tests/compose/data/palo-alto.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: none

fix incorrect logging in case of exceptions thrown during job cancellation (#10934)
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Labels: none

improve common tracing instrumentation (#10947)
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/datadog_checks/base/utils/tracing.py
  datadog_checks_base/tests/base/utils/test_tracing.py
Labels: none

Add complex query
  sqlserver/tests/compose-high-cardinality/setup.sh
  sqlserver/tests/test_integration.py
  sqlserver/tests/utils.py
Labels: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: dev/tooling

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: dev/tooling

Adding test files to paths-ignore
  .github/codeql_config.yml
Labels: none

adding custom_config for codescanning
  .github/workflows/codeql-analysis.yml
Labels: dev/tooling

Fix json.loads() exception not being backwards compatible between versions
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Labels: none

Add the option to set a reported hostname (MySQL) (#10687)
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/test_mysql.py
Labels: none

DOCS-2530 Lint Integrations section (part 8)
  lighttpd/README.md
  linkerd/README.md
  mapr/README.md
  mapreduce/README.md
  marathon/README.md
  marklogic/README.md
  mcache/README.md
  mesos_master/README.md
  mesos_slave/README.md
Labels: documentation

add curated_metric to the validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: none

update the redis metadata.csv
  redisdb/metadata.csv
Labels: none

Move db population into init script and cleanup
  sqlserver/tests/compose-high-cardinality/setup.sh
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/test_integration.py
  sqlserver/tests/utils.py
Labels: none

Update the default value of the `bearer_token` parameter (#10706)
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/base/checks/openmetrics/test_openmetrics_base_check.py
Labels: none

Update the default value of the `bearer_token` parameter (#10708)
  kube_controller_manager/assets/configuration/spec.yaml
  kube_controller_manager/datadog_checks/kube_controller_manager/data/auto_conf.yaml
Labels: none

Update the default value of the `bearer_token` parameter to send the bearer token only to secure https endpoints by default (#10709)
  kube_scheduler/assets/configuration/spec.yaml
  kube_scheduler/datadog_checks/kube_scheduler/data/auto_conf.yaml
Labels: none

Update the default value of the `bearer_token` parameter to send the bearer token only to secure https endpoints by default (#10772)
  kube_apiserver_metrics/assets/configuration/spec.yaml
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/auto_conf.yaml
Labels: none

more metrics
  snmp/datadog_checks/snmp/data/profiles/apc_ups.yaml
Labels: none

move oids
  snmp/datadog_checks/snmp/data/profiles/apc_ups.yaml
Labels: none

move oids
  snmp/datadog_checks/snmp/data/profiles/apc_ups.yaml
Labels: none

Print the diff when the example file isn’t in sync with the spec
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
Labels: none

Add metrics to test
  snmp/tests/test_profiles.py
Labels: none

+1.3.6.1.4.1.318.1.1.1.4.2.12.0
  snmp/tests/compose/data/apc_ups.snmprec
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
