Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Fallback to 'other'
  mysql/datadog_checks/mysql/activity.py
Labels: none

Fix rows with empty SQL text in DBM Activity Query (#12393)
  mysql/datadog_checks/mysql/activity.py
Labels: none

Checking Python 3.8.13 works as expected
  .azure-pipelines/agent.yml
Labels: dev/testing

Try to manually trigger workflow
  .azure-pipelines/agent.yml
Labels: dev/testing

Move compose_file function out of common.py
  vertica/tests/common.py
  vertica/tests/conftest.py
Labels: none

Add debug logs for skipped metrics when running Vertica 11
  vertica/datadog_checks/vertica/vertica.py
Labels: none

Update manifest to version 2.0.0 (#12314)
  teamcity/manifest.json
  teamcity/metadata.csv
Labels: none

Fix agent changelog command for manifest v2
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/changelog.py
Labels: none

Update agent changelog
  AGENT_CHANGELOG.md
Labels: documentation

Update agent integrations
  AGENT_INTEGRATIONS.md
Labels: documentation

Make teradata and arangodb public
  arangodb/manifest.json
  teradata/manifest.json
Labels: none

Use general manifest loader
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/changelog.py
Labels: none

Add Boundary integration
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  boundary/CHANGELOG.md
  boundary/README.md
  boundary/assets/configuration/spec.yaml
  boundary/assets/service_checks.json
  boundary/datadog_checks/__init__.py
  boundary/datadog_checks/boundary/__about__.py
  boundary/datadog_checks/boundary/__init__.py
  boundary/datadog_checks/boundary/check.py
  boundary/datadog_checks/boundary/config_models/__init__.py
  boundary/datadog_checks/boundary/config_models/defaults.py
  boundary/datadog_checks/boundary/config_models/instance.py
  boundary/datadog_checks/boundary/config_models/shared.py
  boundary/datadog_checks/boundary/config_models/validators.py
  boundary/datadog_checks/boundary/data/conf.yaml.example
  boundary/datadog_checks/boundary/metrics.py
  boundary/hatch.toml
  boundary/images/.gitkeep
  boundary/manifest.json
  boundary/metadata.csv
  boundary/pyproject.toml
  boundary/tests/__init__.py
  boundary/tests/common.py
  boundary/tests/conftest.py
  boundary/tests/docker/boundary.hcl
  boundary/tests/docker/docker-compose.yaml
  boundary/tests/test_e2e.py
  boundary/tests/test_integration.py
  boundary/tests/test_unit.py
Labels: documentation, dev/testing

Add Boundary integration (#12410)
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  boundary/CHANGELOG.md
  boundary/README.md
  boundary/assets/configuration/spec.yaml
  boundary/assets/service_checks.json
  boundary/datadog_checks/__init__.py
  boundary/datadog_checks/boundary/__about__.py
  boundary/datadog_checks/boundary/__init__.py
  boundary/datadog_checks/boundary/check.py
  boundary/datadog_checks/boundary/config_models/__init__.py
  boundary/datadog_checks/boundary/config_models/defaults.py
  boundary/datadog_checks/boundary/config_models/instance.py
  boundary/datadog_checks/boundary/config_models/shared.py
  boundary/datadog_checks/boundary/config_models/validators.py
  boundary/datadog_checks/boundary/data/conf.yaml.example
  boundary/datadog_checks/boundary/metrics.py
  boundary/hatch.toml
  boundary/images/.gitkeep
  boundary/manifest.json
  boundary/metadata.csv
  boundary/pyproject.toml
  boundary/tests/__init__.py
  boundary/tests/common.py
  boundary/tests/conftest.py
  boundary/tests/docker/boundary.hcl
  boundary/tests/docker/docker-compose.yaml
  boundary/tests/test_e2e.py
  boundary/tests/test_integration.py
  boundary/tests/test_unit.py
Labels: documentation, dev/testing

Fix agent changelog command for manifest v2 (#12406)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/changelog.py
Labels: none

Make teradata and arangodb public (#12408)
  arangodb/manifest.json
  teradata/manifest.json
Labels: none

Fix tooling builds to support v2 manifests
  datadog_checks_dev/datadog_checks/dev/tooling/release.py
Labels: none

Fix tooling to support v2 manifests (#12411)
  datadog_checks_dev/datadog_checks/dev/tooling/release.py
Labels: none

[Release] Bumped boundary version to 1.0.0
  boundary/CHANGELOG.md
  boundary/datadog_checks/boundary/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.c295cf63.link
Labels: none

[Release] new (#12412)
  .in-toto/tag.c295cf63.link
  boundary/CHANGELOG.md
  boundary/datadog_checks/boundary/__about__.py
Labels: documentation

[Release] Bumped airflow version to 3.1.1
  airflow/CHANGELOG.md
  airflow/datadog_checks/airflow/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped arangodb version to 1.2.0
  arangodb/CHANGELOG.md
  arangodb/datadog_checks/arangodb/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped datadog_checks_base version to 25.4.2
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped datadog_checks_dev version to 16.5.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Bumped elastic version to 5.2.0
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped envoy version to 2.2.0
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped gitlab version to 5.2.1
  gitlab/CHANGELOG.md
  gitlab/datadog_checks/gitlab/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kafka version to 2.13.0
  kafka/CHANGELOG.md
  kafka/datadog_checks/kafka/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kafka_consumer version to 2.15.2
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kube_scheduler version to 4.3.0
  kube_scheduler/CHANGELOG.md
  kube_scheduler/datadog_checks/kube_scheduler/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mongo version to 3.2.3
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mysql version to 8.4.0
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped network version to 2.8.0
  network/CHANGELOG.md
  network/datadog_checks/network/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped php_fpm version to 2.1.1
  php_fpm/CHANGELOG.md
  php_fpm/datadog_checks/php_fpm/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped postgres version to 12.5.0
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped snowflake version to 4.4.0
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: documentation

[Release] Bumped sqlserver version to 8.0.1
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

[Release] Bumped teradata version to 1.0.1
  requirements-agent-release.txt
  teradata/CHANGELOG.md
  teradata/datadog_checks/teradata/__about__.py
Labels: documentation

[Release] Bumped voltdb version to 2.1.2
  requirements-agent-release.txt
  voltdb/CHANGELOG.md
  voltdb/datadog_checks/voltdb/__about__.py
Labels: documentation
