Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

updated Readme file
  plaid/README.md
Labels: documentation

Migrate PyPi publishing to Trusted Publishers and environments
  .github/workflows/build-ddev.yml
  .github/workflows/claim-pypi-name.yaml
  .github/workflows/release-base.yml
  .github/workflows/release-dev.yml
Labels: dev/tooling

[Release] Bumped datadog_checks_dev version to 35.1.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/20292.added
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.b9ca7eb3.link
Labels: none

Add comments to clarify the OIDC workflow
  .github/workflows/build-ddev.yml
  .github/workflows/release-base.yml
  .github/workflows/release-dev.yml
Labels: dev/tooling

Migrate PyPi publishing to Trusted Publishers and environments (#20376)
  .github/workflows/build-ddev.yml
  .github/workflows/claim-pypi-name.yaml
  .github/workflows/release-base.yml
  .github/workflows/release-dev.yml
Labels: dev/tooling

Change create-dashboard help
  ddev/src/ddev/cli/size/create_dashboard.py
Labels: none

Release v35.1.0 of datadog_checks_dev (#20377)
  .in-toto/tag.b9ca7eb3.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/20292.added
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Bumped ddev version to 11.4.0
  ddev/CHANGELOG.md
  ddev/changelog.d/19877.added
  ddev/changelog.d/20128.added
  ddev/changelog.d/20195.added
Labels: documentation

Simplify output formats
  ddev/src/ddev/cli/size/diff.py
  ddev/src/ddev/cli/size/timeline.py
  ddev/src/ddev/cli/size/utils/common_funcs.py
Labels: none

Fix docker build in GitLab pipeline to ensure only builds in master when there are changes
  .gitlab-ci.yml
Labels: none

Unpin ddtrace dependency
  .ddev/config.toml
Labels: none

Undo change on gitlab file, will move it to a separate pr
  .gitlab-ci.yml
Labels: none

Fix builder jobs in gitlab pipeline
  .gitlab-ci.yml
Labels: none

Fix builder jobs in gitlab pipeline (#20380)
  .gitlab-ci.yml
Labels: none

Bump version of datadog-checks-dev and update tag-release (#20370)
  .gitlab/tagger/tag-release.sh
  ddev/changelog.d/20370.added
  ddev/pyproject.toml
Labels: none

[Release] Bumped ddev version to 11.4.0
  ddev/CHANGELOG.md
  ddev/changelog.d/19877.added
  ddev/changelog.d/20128.added
  ddev/changelog.d/20195.added
  ddev/changelog.d/20370.added
Labels: documentation

Create cmd_latency.json
  redisdb/assets/monitors/cmd_latency.json
Labels: none

[Release] Bumped ddev version to 11.4.0 (#20381)
  ddev/CHANGELOG.md
  ddev/changelog.d/19877.added
  ddev/changelog.d/20128.added
  ddev/changelog.d/20195.added
  ddev/changelog.d/20370.added
Labels: documentation

Unpin ddtrace dependency (#20379)
  .ddev/config.toml
Labels: none

Updated README
  microsoft_sysmon/README.md
Labels: documentation

Update manifest.json
  redisdb/manifest.json
Labels: none

Create cmd_latency.json
  redisdb/assets/monitors/cmd_latency.json
Labels: none

Add: DNSFilter Assets
  dnsfilter/README.md
  dnsfilter/assets/dashboards/dnsfilter_overview.json
  dnsfilter/assets/dashboards/dnsfilter_security_insights.json
  dnsfilter/assets/dnsfilter.svg
  dnsfilter/assets/logs/dnsfilter.yaml
  dnsfilter/assets/logs/dnsfilter_tests.yaml
  dnsfilter/assets/monitors/high_number_of_SERVFAIL_responses_from_a_server.json
  dnsfilter/images/dnsfilter_overview.png
  dnsfilter/images/dnsfilter_security_insights_1.png
  dnsfilter/images/dnsfilter_security_insights_2.png
  dnsfilter/manifest.json
Labels: documentation

Update: facets in logs file
  dnsfilter/assets/logs/dnsfilter.yaml
Labels: none

Update cmd_latency.json
  redisdb/assets/monitors/cmd_latency.json
Labels: none

Update: fix CI checks and add sample results
  dnsfilter/assets/logs/dnsfilter_tests.yaml
  dnsfilter/assets/monitors/high_number_of_SERVFAIL_responses_from_a_server.json
Labels: none

Fix the valid repos in the documentation page for the override command
  docs/developer/ddev/multirepo.md
Labels: documentation

Fix the valid repos in the documentation page for the override command (#20385)
  docs/developer/ddev/multirepo.md
Labels: documentation

Bump redis dependency to 6.0.0 (#20265)
  agent_requirements.in
  redisdb/changelog.d/20265.changed
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/pyproject.toml
  redisdb/tests/test_unit.py
Labels: none

fix permissions to typosquatting github workflow
  .github/workflows/claim-pypi-name.yaml
Labels: dev/tooling

fix permissions to typosquatting github workflow (#20386)
  .github/workflows/claim-pypi-name.yaml
Labels: dev/tooling

Create error.json
  redisdb/assets/monitors/error.json
Labels: none

Update manifest.json
  redisdb/manifest.json
Labels: none

Update error.json
  redisdb/assets/monitors/error.json
Labels: none

Package Size Analyzer Improvements (AI-5309) (#20330)
  ddev/changelog.d/20330.added
  ddev/changelog.d/20330.changed
  ddev/pyproject.toml
  ddev/src/ddev/cli/size/__init__.py
  ddev/src/ddev/cli/size/create_dashboard.py
  ddev/src/ddev/cli/size/diff.py
  ddev/src/ddev/cli/size/status.py
  ddev/src/ddev/cli/size/timeline.py
  ddev/src/ddev/cli/size/utils/common_funcs.py
  ddev/src/ddev/cli/size/utils/common_params.py
  ddev/tests/cli/size/test_create_dashboard.py
  ddev/tests/cli/size/test_diff.py
  ddev/tests/cli/size/test_status.py
  ddev/tests/cli/size/test_timeline.py
  ddev/tests/size/test_common.py
  ddev/tests/size/test_diff.py
  ddev/tests/size/test_timeline.py
Labels: none

Add core TLS context changes
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/network.py
  datadog_checks_base/datadog_checks/base/utils/tls.py
Labels: none

Fix base package tests
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
  datadog_checks_base/tests/base/utils/http/test_api.py
  datadog_checks_base/tests/base/utils/http/test_authtoken.py
  datadog_checks_base/tests/base/utils/http/test_config.py
  datadog_checks_base/tests/base/utils/http/test_headers.py
  datadog_checks_base/tests/base/utils/http/test_http.py
  datadog_checks_base/tests/base/utils/http/test_kerberos_unit.py
  datadog_checks_base/tests/base/utils/http/test_proxy.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: none

Update elasticsearch.yaml
  elastic/assets/logs/elasticsearch.yaml
Labels: none

Format
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/database_metrics/__init__.py
  sqlserver/datadog_checks/sqlserver/database_metrics/table_size_metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/common.py
  sqlserver/tests/test_database_metrics.py
  sqlserver/tests/test_integration.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
