Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

added remappers for facets
  cloudgen_firewall/assets/dashboards/cloudgen_firewall_overview.json
  cloudgen_firewall/assets/logs/cloudgen_firewall.yaml
  cloudgen_firewall/assets/logs/cloudgen_firewall_tests.yaml
Labels: none

updated source in conf yaml
  cloudgen_firewall/assets/configuration/spec.yaml
  cloudgen_firewall/datadog_checks/cloudgen_firewall/data/conf.yaml.example
Labels: none

added test results
  cloudgen_firewall/assets/logs/cloudgen_firewall_tests.yaml
Labels: none

addded test results
  cloudgen_firewall/assets/logs/cloudgen_firewall_tests.yaml
Labels: none

updated pipeline fields to be same and updated dashboard
  cloudgen_firewall/assets/dashboards/cloudgen_firewall_overview.json
  cloudgen_firewall/assets/logs/cloudgen_firewall.yaml
  cloudgen_firewall/assets/logs/cloudgen_firewall_tests.yaml
Labels: none

Barracuda Secure Edge Integration PR
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  barracuda_secure_edge/CHANGELOG.md
  barracuda_secure_edge/README.md
  barracuda_secure_edge/assets/configuration/spec.yaml
  barracuda_secure_edge/assets/dashboards/barracuda_secure_edge_overview.json
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
  barracuda_secure_edge/changelog.d/1.added
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/__about__.py
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/__init__.py
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/data/conf.yaml.example
  barracuda_secure_edge/images/secureEdge1.png
  barracuda_secure_edge/images/secureEdge2.png
  barracuda_secure_edge/images/secure_edge_overview.JPG
  barracuda_secure_edge/manifest.json
  barracuda_secure_edge/metadata.csv
  barracuda_secure_edge/pyproject.toml
Labels: documentation, dev/tooling

description length check
  barracuda_secure_edge/manifest.json
Labels: none

added conf.yml using -s and removed metadata
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/data/conf.yaml.example
  barracuda_secure_edge/manifest.json
  barracuda_secure_edge/metadata.csv
Labels: none

Updated tests
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

description line lenght
  barracuda_secure_edge/manifest.json
Labels: none

updated images and tests
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
  barracuda_secure_edge/images/secureEdge1.png
  barracuda_secure_edge/images/secureEdge2.png
  barracuda_secure_edge/images/secure_edge overview.png
  barracuda_secure_edge/images/secure_edge_overview.JPG
Labels: none

updated readme
  barracuda_secure_edge/README.md
  barracuda_secure_edge/assets/dashboards/barracuda_secure_edge_overview.json
  barracuda_secure_edge/manifest.json
Labels: documentation

updated metric id in logs files
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

updated and added all test cases
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

updated path of facets
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

udpated changelog.d file name
  barracuda_secure_edge/changelog.d/20423.added
Labels: none

updated images
  barracuda_secure_edge/manifest.json
Labels: none

updated images
  barracuda_secure_edge/images/secure_edge_overview.png
Labels: none

added test
  barracuda_secure_edge/assets/dashboards/barracuda_secure_edge_overview.json
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

updated README
  barracuda_secure_edge/README.md
Labels: documentation

added filters for source and service in tests
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
  barracuda_secure_edge/manifest.json
Labels: none

added fresh test cases
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

resolved CI checks
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

updated README
  barracuda_secure_edge/README.md
Labels: documentation

reverted line lenght
  barracuda_secure_edge/manifest.json
Labels: none

added test case
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

added test results
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

updated test yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

updated test cases
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

added the logo
  barracuda_secure_edge/assets/secureedge_logo.svg
  barracuda_secure_edge/manifest.json
Labels: none

tests updated
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

resolved linitng issues
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

bypassing parsing logs
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

added tests new
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

seperated rules
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

updated GROK syntax
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

added test cases
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

changed tags for auth
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

refined auth parsing rules
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

added tests new
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
