Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Update Active Directory docs
  active_directory/README.md
Labels: documentation

Upgrade pywin32 on Python 3
  active_directory/requirements.in
  aspdotnet/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  dotnetclr/requirements.in
  exchange_server/requirements.in
  iis/requirements.in
  pdh_check/requirements.in
  sqlserver/requirements.in
  win32_event_log/requirements.in
  windows_service/requirements.in
  wmi_check/requirements.in
Labels: none

Add log support (#8717)
  mesos_master/README.md
  mesos_master/assets/configuration/spec.yaml
  mesos_master/datadog_checks/mesos_master/data/conf.yaml.example
  mesos_master/manifest.json
  mesos_slave/README.md
  mesos_slave/assets/configuration/spec.yaml
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
  mesos_slave/manifest.json
Labels: documentation

Add types to conditions (#8703)
  datadog_checks_dev/datadog_checks/dev/conditions.py
Labels: none

Do not instantiate subclasses explicitly in tests
  datadog_checks_base/datadog_checks/base/checks/base.py
  tls/tests/test_local.py
  tls/tests/test_remote.py
Labels: none

Revert base class
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: none

Refactor TLS check (#8792)
  tls/datadog_checks/tls/const.py
  tls/datadog_checks/tls/tls.py
  tls/datadog_checks/tls/tls_local.py
  tls/datadog_checks/tls/tls_remote.py
  tls/tests/test_e2e.py
  tls/tests/test_local.py
  tls/tests/test_remote.py
Labels: none

Utilize time precision function from datadog_checks_base (#8841)
  dns_check/datadog_checks/dns_check/dns_check.py
  dns_check/setup.py
  dns_check/tests/test_dns_check.py
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/setup.py
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  tcp_check/setup.py
Labels: none

Update Active Directory docs (#8844)
  active_directory/README.md
Labels: documentation

Upgrade pywin32 on Python 3 (#8845)
  active_directory/requirements.in
  aspdotnet/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  dotnetclr/requirements.in
  exchange_server/requirements.in
  iis/requirements.in
  pdh_check/requirements.in
  sqlserver/requirements.in
  win32_event_log/requirements.in
  windows_service/requirements.in
  wmi_check/requirements.in
Labels: none

link to oofficial documentation
  oracle/README.md
Labels: documentation

Fix linux
  oracle/README.md
Labels: documentation

cleanup
  oracle/README.md
Labels: documentation

Add default dashboard and additional init script examples (#8781)
  databricks/README.md
  databricks/assets/dashboards/databricks_overview.json
  databricks/manifest.json
Labels: documentation

move log widget below metrics
  active_directory/assets/dashboards/active_directory.json
Labels: none

Add Postgres recommended monitors (#8836)
  postgres/assets/monitors/percent_usage_connections.json
  postgres/assets/monitors/replication_delay.json
  postgres/manifest.json
Labels: none

Add actions to auto-release base and dev packages
  .github/workflows/release-base.yml
  .github/workflows/release-dev.yml
  docs/developer/.snippets/links.txt
  docs/developer/process/integration-release.md
Labels: documentation, dev/tooling

Add troubleshooting instructions (#8744)
  oracle/README.md
Labels: documentation

Add log widget to Active Directory dashboard (#8843)
  active_directory/assets/dashboards/active_directory.json
Labels: none

AIA chasing for HTTP (#8725)
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/network.py
  datadog_checks_base/setup.py
  datadog_checks_base/tests/test_http.py
Labels: none

add kafka consumer metrics to kafka dash
  kafka/assets/dashboards/kafka_dashboard.json
Labels: none

[skip ci] Use SVG logo for Databricks dash
  databricks/assets/dashboards/databricks_overview.json
Labels: none

update note content
  redisdb/assets/dashboards/overview.json
Labels: none

Add kafka consumer metrics to kafka dash (#8847)
  kafka/assets/dashboards/kafka_dashboard.json
Labels: none

update note content and network graph
  mongo/assets/dashboards/overview.json
Labels: none

typo
  redisdb/assets/dashboards/overview.json
Labels: none

[us.1 prod] fixed typo for Custer Instance to Cluster Instance
  sqlserver/metadata.csv
Labels: none

Update vault dashboard
  vault/assets/dashboards/vault_overview.json
Labels: none

Update metadata description
  vault/metadata.csv
Labels: none

Link to pypi tokens
  .github/workflows/release-base.yml
  .github/workflows/release-dev.yml
Labels: dev/tooling

Fix tick marks
  activemq/assets/dashboards/artemis_dashboard.json
Labels: none

Fix empty queue parsing
  postfix/datadog_checks/postfix/postfix.py
  postfix/tests/test_unit.py
Labels: none

Update docs/developer/process/integration-release.md
  docs/developer/process/integration-release.md
Labels: documentation

Add actions to auto-release base and dev packages (#8846)
  .github/workflows/release-base.yml
  .github/workflows/release-dev.yml
  docs/developer/.snippets/links.txt
  docs/developer/process/integration-release.md
Labels: documentation, dev/tooling

[Release] Bumped datadog_checks_base version to 16.8.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped datadog_checks_dev version to 9.1.1
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.b023b02a.link
Labels: none

[skip ci] Use SVG logo for Databricks dash (#8848)
  databricks/assets/dashboards/databricks_overview.json
Labels: none

[us.1 prod] fixed typo for Custer Instance to Cluster Instance (#8849)
  sqlserver/metadata.csv
Labels: none

Fix empty queue parsing (#8852)
  postfix/datadog_checks/postfix/postfix.py
  postfix/tests/test_unit.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
