Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

oops, too many new lines
  snmp_fortinet/README.md
Labels: documentation

Add comments clarifying need for escaping
  sqlserver/datadog_checks/sqlserver/utils.py
Labels: none

Update cisco_aci/README.md
  cisco_aci/README.md
Labels: documentation

Update cisco_sdwan/README.md
  cisco_sdwan/README.md
Labels: documentation

Update snmp_fortinet/README.md
  snmp_fortinet/README.md
Labels: documentation

Update versa/README.md
  versa/README.md
Labels: documentation

Address review comments
  valence_security/README.md
  valence_security/assets/dashboards/valence_security_alert_insights.json
  valence_security/assets/dashboards/valence_security_audit_insights.json
Labels: documentation

Update n8n/datadog_checks/n8n/check.py
  n8n/datadog_checks/n8n/check.py
Labels: none

Update n8n/tests/test_e2e.py
  n8n/tests/test_e2e.py
Labels: none

Update OCSF pipeline
  linux_audit_logs/assets/logs/linux-audit-logs.yaml
  linux_audit_logs/assets/logs/linux-audit-logs_tests.yaml
Labels: none

Update log pipeline
  cato_networks/assets/logs/cato-networks.yaml
  cato_networks/assets/logs/cato-networks_tests.yaml
Labels: none

Update OCSF pre transformations query
  linux_audit_logs/assets/logs/linux-audit-logs.yaml
Labels: none

update log pipeline
  linux_audit_logs/assets/logs/linux-audit-logs.yaml
  linux_audit_logs/assets/logs/linux-audit-logs_tests.yaml
Labels: none

Update query of activity id
  linux_audit_logs/assets/logs/linux-audit-logs.yaml
Labels: none

chnage schema processor name
  cisco_umbrella_dns/assets/logs/cisco-umbrella-dns.yaml
Labels: none

Add top level bool
  kafka/assets/configuration/spec.yaml
  tomcat/assets/configuration/spec.yaml
Labels: none

Delete botocore API models that we don't use to save disk space
  .builders/scripts/files_to_remove.toml
Labels: none

add facets
  cisco_umbrella_dns/assets/logs/cisco-umbrella-dns.yaml
Labels: none

Update the README related to AWS configuration
  cato_networks/README.md
Labels: documentation

remove conflicting facets
  cisco_umbrella_dns/assets/logs/cisco-umbrella-dns.yaml
Labels: none

update activity id mapping
  cisco_umbrella_dns/assets/logs/cisco-umbrella-dns.yaml
  cisco_umbrella_dns/assets/logs/cisco-umbrella-dns_tests.yaml
Labels: none

update activity id mapping
  cisco_umbrella_dns/assets/logs/cisco-umbrella-dns.yaml
Labels: none

preserve source
  cisco_umbrella_dns/assets/logs/cisco-umbrella-dns.yaml
Labels: none

update test file
  cisco_umbrella_dns/assets/logs/cisco-umbrella-dns_tests.yaml
Labels: none

Rename combined-agent team
  datadog_csi_driver/assets/dashboards/datadog_csi_driver_overview.json
Labels: none

Replace SQLServer checks for year with major version
  sqlserver/datadog_checks/sqlserver/database_metrics/ao_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/availability_replicas_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/base.py
  sqlserver/datadog_checks/sqlserver/database_metrics/fci_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/file_stats_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/server_state_metrics.py
Labels: none

WIP
  sqlserver/datadog_checks/sqlserver/database_metrics/base.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/tests/test_unit.py
Labels: none

Lint
  sqlserver/datadog_checks/sqlserver/database_metrics/fci_metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/tests/test_unit.py
Labels: none

Changelog
  sqlserver/changelog.d/22285.fixed
Labels: none

Rename combined-agent team (#22284)
  datadog_csi_driver/assets/dashboards/datadog_csi_driver_overview.json
Labels: none

Fix
  sqlserver/datadog_checks/sqlserver/database_metrics/ao_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/base.py
Labels: none

remove fortinet snmp updates
  snmp_fortinet/README.md
Labels: documentation

Guard
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

Add major version comment
  sqlserver/datadog_checks/sqlserver/database_metrics/base.py
Labels: none

Add comments
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/database_metrics/base.py
Labels: none

Lint
  sqlserver/datadog_checks/sqlserver/database_metrics/base.py
Labels: none

stop checking for ddev updates in CI
  .github/workflows/docs.yml
  .github/workflows/release-base.yml
  .github/workflows/release-dev.yml
  .github/workflows/test-fips-e2e.yml
  .github/workflows/update-agent-changelog.yml
  .github/workflows/update-dependencies.yml
  .github/workflows/upgrade-python-version.yml
Labels: dev/tooling

convert port to int and other validation fixes
  ssh_check/assets/logs/sshd.yaml
  ssh_check/assets/logs/sshd_tests.yaml
Labels: none

Improve use stmt escaping (#22277)
  sqlserver/changelog.d/22277.fixed
  sqlserver/datadog_checks/__init__.py
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/schemas.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/tests/conftest.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_unit.py
Labels: none

fix int conversion fields
  ssh_check/assets/logs/sshd.yaml
Labels: none
