Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

map os name
  iis/assets/logs/iis.yaml
  iis/assets/logs/iis_tests.yaml
Labels: none

Add hyperv
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/perf_counters.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/pdh_legacy.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/perf_counters.yaml
  hyperv/assets/configuration/spec.yaml
Labels: none

Add ssh_check
  ssh_check/assets/configuration/spec.yaml
Labels: none

Add mongo
  mongo/assets/configuration/spec.yaml
Labels: none

Remove Oracle changelog
  oracle/changelog.d/22303.added
Labels: none

Add aerospike
  aerospike/assets/configuration/spec.yaml
Labels: none

Add saved view
  ibm_spectrum_lsf/assets/saved_views/job_errors.json
  ibm_spectrum_lsf/manifest.json
Labels: none

[AI-5936] Support logs for ibm spectrum lsf (#22416)
  ibm_spectrum_lsf/README.md
  ibm_spectrum_lsf/assets/configuration/spec.yaml
  ibm_spectrum_lsf/assets/logs/ibm_spectrum_lsf.yaml
  ibm_spectrum_lsf/assets/logs/ibm_spectrum_lsf_tests.yaml
  ibm_spectrum_lsf/changelog.d/22416.added
  ibm_spectrum_lsf/datadog_checks/ibm_spectrum_lsf/data/conf.yaml.example
  ibm_spectrum_lsf/manifest.json
Labels: documentation

Add syystem error logs monitor
  ibm_spectrum_lsf/assets/saved_views/system_errors.json
  ibm_spectrum_lsf/manifest.json
Labels: none

fix target
  iis/assets/logs/iis.yaml
Labels: none

Fix replica offline and add tests
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/common.py
  mysql/tests/compose/mysql8-hybrid.yaml
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
  mysql/tests/test_unit.py
  mysql/tests/variables.py
Labels: none

Run ddev validate ci --sync
  .github/workflows/test-all.yml
Labels: dev/tooling

[AI-6402] DDS: Cisco Secure Client Integration v1.0.0 (#22260)
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  cisco_secure_client/CHANGELOG.md
  cisco_secure_client/README.md
  cisco_secure_client/assets/cisco-secure-client.svg
  cisco_secure_client/assets/configuration/spec.yaml
  cisco_secure_client/assets/dashboards/cisco_secure_client_overview.json
  cisco_secure_client/assets/dashboards/cisco_secure_client_vpn_connection_insights.json
  cisco_secure_client/assets/logs/cisco-secure-client.yaml
  cisco_secure_client/assets/logs/cisco-secure-client_tests.yaml
  cisco_secure_client/assets/monitors/cisco_secure_client_maximum_client_connection_limit_reached.json
  cisco_secure_client/changelog.d/22260.added
  cisco_secure_client/datadog_checks/cisco_secure_client/__about__.py
  cisco_secure_client/datadog_checks/cisco_secure_client/__init__.py
  cisco_secure_client/datadog_checks/cisco_secure_client/data/conf.yaml.example
  cisco_secure_client/images/cisco_secure_client_overview_dark.png
  cisco_secure_client/images/cisco_secure_client_overview_light.png
  cisco_secure_client/images/cisco_secure_client_vpn_connection_insights_dark_1.png
  cisco_secure_client/images/cisco_secure_client_vpn_connection_insights_dark_2.png
  cisco_secure_client/images/cisco_secure_client_vpn_connection_insights_light_1.png
  cisco_secure_client/images/cisco_secure_client_vpn_connection_insights_light_2.png
  cisco_secure_client/manifest.json
  cisco_secure_client/pyproject.toml
Labels: documentation, dev/tooling

Map os name in IIS OCSF pipeline (#22584)
  iis/assets/logs/iis.yaml
  iis/assets/logs/iis_tests.yaml
Labels: none

[AI-5936] Add saved views for ibm lsf (#22585)
  ibm_spectrum_lsf/assets/saved_views/job_errors.json
  ibm_spectrum_lsf/assets/saved_views/system_errors.json
  ibm_spectrum_lsf/manifest.json
Labels: none

simpler metrics, update surrounding code
  sqlserver/datadog_checks/sqlserver/database_metrics/database_memory_metrics.py
  sqlserver/metadata.csv
  sqlserver/tests/test_database_metrics.py
Labels: none

remove min page count and collection interval cruft
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/database_metrics/database_memory_metrics.py
  sqlserver/tests/test_database_metrics.py
Labels: none

fix tests
  sqlserver/datadog_checks/sqlserver/database_metrics/database_memory_metrics.py
  sqlserver/tests/test_database_metrics.py
Labels: none

[go_expvar] update conf.yaml.example (#22564)
  go_expvar/assets/configuration/spec.yaml
  go_expvar/datadog_checks/go_expvar/data/conf.yaml.example
Labels: none

Finalize Agent release 7.75.3
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
  datadog_checks_base/CHANGELOG.md
  kafka_actions/CHANGELOG.md
  kafka_consumer/CHANGELOG.md
Labels: documentation

fix(sqlserver): update changelog with PR number
  sqlserver/changelog.d/22573.fixed
Labels: none

Fix Azure SQL Server major version parsing
  sqlserver/changelog.d/0000.fixed
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/tests/test_unit.py
Labels: none

Add statsd
  statsd/assets/configuration/spec.yaml
Labels: none

[FA] Onboard more integration (#22493)
  activemq/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/jmx.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
  ibm_i/assets/configuration/spec.yaml
  system_core/assets/configuration/spec.yaml
  torchserve/assets/configuration/spec.yaml
  twemproxy/assets/configuration/spec.yaml
  wmi_check/assets/configuration/spec.yaml
Labels: none

[FA] Onboard more integrations to fleet (#22480)
  argocd/assets/configuration/spec.yaml
  cassandra/assets/configuration/spec.yaml
  cert_manager/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy_base.yaml
  external_dns/assets/configuration/spec.yaml
  fluxcd/assets/configuration/spec.yaml
  haproxy/assets/configuration/spec.yaml
  kyverno/assets/configuration/spec.yaml
  nginx_ingress_controller/assets/configuration/spec.yaml
  squid/assets/configuration/spec.yaml
  temporal/assets/configuration/spec.yaml
  vault/assets/configuration/spec.yaml
Labels: none

support oauth scope and extension (#22560)
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/changelog.d/22560.added
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/instance.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
Labels: none

Add riakcs
  riakcs/assets/configuration/spec.yaml
Labels: none

Add velero
  velero/assets/configuration/spec.yaml
Labels: none

Add watchguard_firebox
  watchguard_firebox/assets/configuration/spec.yaml
Labels: none

Add teamcity
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
  teamcity/assets/configuration/spec.yaml
Labels: none

Update ocsf processor
  microsoft_dns/assets/logs/microsoft-dns.yaml
Labels: none

Add cisco_aci
  cisco_aci/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/http.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
Labels: none

Add avi_vantage
  avi_vantage/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
Labels: none

Add ping_federate
  ping_federate/assets/configuration/spec.yaml
Labels: none

Add flink
  flink/assets/configuration/spec.yaml
Labels: none

Add eks_fargate
  eks_fargate/assets/configuration/spec.yaml
Labels: none

Add prerequisites in readme
  sophos_central_cloud/README.md
Labels: documentation

Add ibm_ace
  ibm_ace/assets/configuration/spec.yaml
Labels: none

Add symantec_endpoint_protection
  symantec_endpoint_protection/assets/configuration/spec.yaml
Labels: none

Add krakend
  krakend/assets/configuration/spec.yaml
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
