Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

update metadata.csv
  teleport/metadata.csv
Labels: none

Sy/argo rollouts (#17006)
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  argo_rollouts/CHANGELOG.md
  argo_rollouts/README.md
  argo_rollouts/assets/configuration/spec.yaml
  argo_rollouts/assets/dashboards/overview.json
  argo_rollouts/assets/service_checks.json
  argo_rollouts/changelog.d/17006.added
  argo_rollouts/datadog_checks/__init__.py
  argo_rollouts/datadog_checks/argo_rollouts/__about__.py
  argo_rollouts/datadog_checks/argo_rollouts/__init__.py
  argo_rollouts/datadog_checks/argo_rollouts/check.py
  argo_rollouts/datadog_checks/argo_rollouts/config_models/__init__.py
  argo_rollouts/datadog_checks/argo_rollouts/config_models/defaults.py
  argo_rollouts/datadog_checks/argo_rollouts/config_models/instance.py
  argo_rollouts/datadog_checks/argo_rollouts/config_models/shared.py
  argo_rollouts/datadog_checks/argo_rollouts/config_models/validators.py
  argo_rollouts/datadog_checks/argo_rollouts/data/conf.yaml.example
  argo_rollouts/datadog_checks/argo_rollouts/metrics.py
  argo_rollouts/hatch.toml
  argo_rollouts/manifest.json
  argo_rollouts/metadata.csv
  argo_rollouts/pyproject.toml
  argo_rollouts/tests/__init__.py
  argo_rollouts/tests/common.py
  argo_rollouts/tests/conftest.py
  argo_rollouts/tests/fixtures/label_rename.txt
  argo_rollouts/tests/fixtures/openmetrics.txt
  argo_rollouts/tests/kind/argo_rollouts_install.yaml
  argo_rollouts/tests/test_e2e.py
  argo_rollouts/tests/test_unit.py
Labels: documentation, dev/tooling

Add sidecar injection section to EKS Fargate readme (#17209)
  eks_fargate/README.md
Labels: documentation

Sy/argo rollouts (#17006)
  meta/status/index.html
  search/search_index.json
Labels: none

add assertion about service check and update CI
  .github/workflows/test-all.yml
  argo_workflows/tests/test_unit.py
Labels: dev/tooling

Add Argo Workflows Integration (#16918)
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  argo_workflows/CHANGELOG.md
  argo_workflows/README.md
  argo_workflows/assets/configuration/spec.yaml
  argo_workflows/assets/service_checks.json
  argo_workflows/changelog.d/16918.added
  argo_workflows/datadog_checks/__init__.py
  argo_workflows/datadog_checks/argo_workflows/__about__.py
  argo_workflows/datadog_checks/argo_workflows/__init__.py
  argo_workflows/datadog_checks/argo_workflows/check.py
  argo_workflows/datadog_checks/argo_workflows/config_models/__init__.py
  argo_workflows/datadog_checks/argo_workflows/config_models/defaults.py
  argo_workflows/datadog_checks/argo_workflows/config_models/instance.py
  argo_workflows/datadog_checks/argo_workflows/config_models/shared.py
  argo_workflows/datadog_checks/argo_workflows/config_models/validators.py
  argo_workflows/datadog_checks/argo_workflows/data/conf.yaml.example
  argo_workflows/datadog_checks/argo_workflows/metrics.py
  argo_workflows/hatch.toml
  argo_workflows/manifest.json
  argo_workflows/metadata.csv
  argo_workflows/pyproject.toml
  argo_workflows/tests/__init__.py
  argo_workflows/tests/conftest.py
  argo_workflows/tests/fixtures/metrics.txt
  argo_workflows/tests/kind/quick-start-minimal.yaml
  argo_workflows/tests/test_e2e.py
  argo_workflows/tests/test_unit.py
Labels: documentation, dev/tooling

fix metadata duplications, and invalid histogram types to their corresponding count type
  teleport/metadata.csv
Labels: none

Update tekton/README.md
  tekton/README.md
Labels: documentation

Update the readme file (#17237)
  tekton/README.md
Labels: documentation

Update the readme file for JMX integrations (#17236)
  cassandra/README.md
  hazelcast/README.md
  hive/README.md
  hivemq/README.md
  ignite/README.md
  jboss_wildfly/README.md
  presto/README.md
  sonarqube/README.md
Labels: documentation

Add Argo Workflows Integration (#16918)
  meta/status/index.html
  search/search_index.json
Labels: none

Update README.md
  tekton/README.md
Labels: documentation

[Release] Bumped datadog_checks_dev version to 32.0.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/16835.added
  datadog_checks_dev/changelog.d/16873.fixed
  datadog_checks_dev/changelog.d/16916.added
  datadog_checks_dev/changelog.d/16917.fixed
  datadog_checks_dev/changelog.d/16957.added
  datadog_checks_dev/changelog.d/16972.fixed
  datadog_checks_dev/changelog.d/16995.removed
  datadog_checks_dev/changelog.d/17008.removed
  datadog_checks_dev/changelog.d/17016.fixed
  datadog_checks_dev/changelog.d/17042.fixed
  datadog_checks_dev/changelog.d/17065.fixed
  datadog_checks_dev/changelog.d/17066.fixed
  datadog_checks_dev/changelog.d/17071.added
  datadog_checks_dev/changelog.d/17185.added
  datadog_checks_dev/changelog.d/17199.added
  datadog_checks_dev/changelog.d/17214.fixed
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.b9ca7eb3.link
Labels: none

Avoid TTL cache by replacing cache based on most recent pgss snapshot.
  postgres/changelog.d/17187.fixed
  postgres/datadog_checks/postgres/query_calls_cache.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_query_calls_cache.py
  postgres/tests/test_query_count_cache.py
Labels: none

Update README.md (#17242)
  tekton/README.md
Labels: documentation

remove periods at the end of descriptions
  teleport/metadata.csv
Labels: none

refactor init connector and adoprovider from config
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

Apply suggestions from code review
  datadog_checks_dev/CHANGELOG.md
Labels: documentation

Merge entries for removal of commands
  datadog_checks_dev/CHANGELOG.md
Labels: documentation

leave comments and better variable naming
  istio/tests/common.py
  istio/tests/test_istio_v1.py
  istio/tests/test_istio_v2.py
  istio/tests/utils.py
Labels: none

better comment
  istio/tests/common.py
Labels: none

Sy/istio remove exclude (#17225)
  istio/assets/configuration/spec.yaml
  istio/changelog.d/17225.changed
  istio/datadog_checks/istio/data/auto_conf.yaml
  istio/datadog_checks/istio/data/conf.yaml.example
  istio/tests/common.py
  istio/tests/fixtures/test-labels.txt
  istio/tests/test_istio_v1.py
  istio/tests/test_istio_v2.py
  istio/tests/utils.py
Labels: none

bump pydantic and ruff
  datadog_checks_base/pyproject.toml
  ddev/src/ddev/plugin/external/hatch/environment_collector.py
Labels: none

bump agent requirements
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: none

update comment
  sqlserver/datadog_checks/sqlserver/connection.py
Labels: none

logs pipeline
  argo_rollouts/assets/logs/argo_rollouts.yaml
  argo_rollouts/assets/logs/argo_rollouts_test.yaml
Labels: none

add changelog
  sqlserver/changelog.d/17245.fixed
Labels: none

Test integration samples
  cisco_duo/assets/logs/cisco-duo_tests.yaml
Labels: none

Fix integration samples for cisco-duo
  cisco_duo/assets/logs/cisco-duo_tests.yaml
Labels: none

fix unit tests
  sqlserver/tests/test_connection.py
Labels: none

force errors for tekton and cisco secure firewall
  cisco_secure_firewall/assets/logs/cisco-secure-firewall_tests.yaml
  tekton/assets/logs/tekton_tests.yaml
Labels: none

Fix integrations samples for tekton
  tekton/assets/logs/tekton_tests.yaml
Labels: none

Fix integrations samples for cisco-secure-firewall
  cisco_secure_firewall/assets/logs/cisco-secure-firewall_tests.yaml
Labels: none

[SDBM-842] Postgres integration performance optimization: Limit how many records are pulled from pg_stat_statements. (#17187)
  postgres/changelog.d/17187.fixed
  postgres/datadog_checks/postgres/query_calls_cache.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_query_calls_cache.py
Labels: none

Fix logs integrations test samples (#17247)
  cisco_duo/assets/logs/cisco-duo_tests.yaml
  cisco_secure_firewall/assets/logs/cisco-secure-firewall_tests.yaml
  tekton/assets/logs/tekton_tests.yaml
Labels: none

test cases
  oracle/datadog_checks/oracle/oracle.py
  oracle/tests/conftest.py
  oracle/tests/test_jdbc.py
  oracle/tests/test_oracledb.py
Labels: none

remove pydantic bumps
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  ddev/src/ddev/plugin/external/hatch/environment_collector.py
Labels: none

add changelog
  ddev/changelog.d/17244.added
Labels: none

fix syntax
  argo_rollouts/assets/logs/argo_rollouts_test.yaml
Labels: none
