Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

[Release] Bumped sqlserver version to 17.4.0
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/17258.added
  sqlserver/changelog.d/17717.fixed
  sqlserver/changelog.d/17729.added
  sqlserver/changelog.d/17750.fixed
  sqlserver/changelog.d/17765.added
  sqlserver/changelog.d/17775.fixed
  sqlserver/changelog.d/17817.added
  sqlserver/changelog.d/17862.fixed
  sqlserver/changelog.d/17933.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

[Release] Bumped strimzi version to 2.2.2
  requirements-agent-release.txt
  strimzi/CHANGELOG.md
  strimzi/changelog.d/17802.fixed
  strimzi/datadog_checks/strimzi/__about__.py
Labels: documentation

[Release] Bumped tcp_check version to 4.9.0
  requirements-agent-release.txt
  tcp_check/CHANGELOG.md
  tcp_check/changelog.d/17912.added
  tcp_check/datadog_checks/tcp_check/__about__.py
Labels: documentation

[Release] Bumped teamcity version to 4.3.0
  requirements-agent-release.txt
  teamcity/CHANGELOG.md
  teamcity/changelog.d/17695.added
  teamcity/changelog.d/17802.fixed
  teamcity/datadog_checks/teamcity/__about__.py
Labels: documentation

[Release] Bumped tekton version to 1.0.2
  requirements-agent-release.txt
  tekton/CHANGELOG.md
  tekton/changelog.d/17802.fixed
  tekton/datadog_checks/tekton/__about__.py
Labels: documentation

[Release] Bumped temporal version to 2.2.2
  requirements-agent-release.txt
  temporal/CHANGELOG.md
  temporal/changelog.d/17802.fixed
  temporal/datadog_checks/temporal/__about__.py
Labels: documentation

[Release] Bumped teradata version to 2.2.1
  requirements-agent-release.txt
  teradata/CHANGELOG.md
  teradata/changelog.d/17802.fixed
  teradata/datadog_checks/teradata/__about__.py
Labels: documentation

[Release] Bumped tls version to 2.18.0
  requirements-agent-release.txt
  tls/CHANGELOG.md
  tls/changelog.d/17817.added
  tls/datadog_checks/tls/__about__.py
Labels: documentation

[Release] Bumped torchserve version to 2.2.2
  requirements-agent-release.txt
  torchserve/CHANGELOG.md
  torchserve/changelog.d/17802.fixed
  torchserve/datadog_checks/torchserve/__about__.py
Labels: documentation

[Release] Bumped traefik_mesh version to 1.0.1
  requirements-agent-release.txt
  traefik_mesh/CHANGELOG.md
  traefik_mesh/changelog.d/17802.fixed
  traefik_mesh/datadog_checks/traefik_mesh/__about__.py
Labels: documentation

[Release] Bumped vault version to 4.2.1
  requirements-agent-release.txt
  vault/CHANGELOG.md
  vault/changelog.d/17802.fixed
  vault/datadog_checks/vault/__about__.py
Labels: documentation

[Release] Bumped vsphere version to 7.6.0
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/changelog.d/17855.added
  vsphere/changelog.d/17917.added
  vsphere/changelog.d/17953.added
  vsphere/datadog_checks/vsphere/__about__.py
Labels: documentation

[Release] Bumped weaviate version to 2.3.3
  requirements-agent-release.txt
  weaviate/CHANGELOG.md
  weaviate/changelog.d/17802.fixed
  weaviate/datadog_checks/weaviate/__about__.py
Labels: documentation

[Release] Bumped windows_performance_counters version to 2.1.1
  requirements-agent-release.txt
  windows_performance_counters/CHANGELOG.md
  windows_performance_counters/changelog.d/17802.fixed
  windows_performance_counters/datadog_checks/windows_performance_counters/__about__.py
Labels: documentation

[Release] Bumped windows_service version to 4.9.1
  requirements-agent-release.txt
  windows_service/CHANGELOG.md
  windows_service/changelog.d/17749.fixed
  windows_service/datadog_checks/windows_service/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.b9ca7eb3.link
Labels: none

Allow pytest to return success when no tests are collected for flaky test suite
  .github/workflows/test-target.yml
Labels: dev/tooling

[Release] Bumped argocd version to 2.4.2
  argocd/CHANGELOG.md
  argocd/changelog.d/17802.fixed
  argocd/datadog_checks/argocd/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped cert_manager version to 4.1.2
  cert_manager/CHANGELOG.md
  cert_manager/changelog.d/17802.fixed
  cert_manager/datadog_checks/cert_manager/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped cilium version to 3.5.1
  cilium/CHANGELOG.md
  cilium/changelog.d/17802.fixed
  cilium/datadog_checks/cilium/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped arangodb version to 2.2.2
  arangodb/CHANGELOG.md
  arangodb/changelog.d/17802.fixed
  arangodb/datadog_checks/arangodb/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped boundary version to 2.2.3
  boundary/CHANGELOG.md
  boundary/changelog.d/17802.fixed
  boundary/datadog_checks/boundary/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped argo_workflows version to 1.0.2
  argo_workflows/CHANGELOG.md
  argo_workflows/changelog.d/17802.fixed
  argo_workflows/datadog_checks/argo_workflows/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped argo_rollouts version to 1.0.2
  argo_rollouts/CHANGELOG.md
  argo_rollouts/changelog.d/17802.fixed
  argo_rollouts/datadog_checks/argo_rollouts/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped active_directory version to 2.1.1
  active_directory/CHANGELOG.md
  active_directory/changelog.d/17802.fixed
  active_directory/datadog_checks/active_directory/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped clickhouse version to 3.6.0
  clickhouse/CHANGELOG.md
  clickhouse/changelog.d/17817.added
  clickhouse/datadog_checks/clickhouse/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped amazon_msk version to 4.9.0
  amazon_msk/CHANGELOG.md
  amazon_msk/changelog.d/17802.fixed
  amazon_msk/changelog.d/17817.added
  amazon_msk/changelog.d/17953.added
  amazon_msk/datadog_checks/amazon_msk/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped avi_vantage version to 4.2.2
  avi_vantage/CHANGELOG.md
  avi_vantage/changelog.d/17802.fixed
  avi_vantage/datadog_checks/avi_vantage/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped aspdotnet version to 2.1.1
  aspdotnet/CHANGELOG.md
  aspdotnet/changelog.d/17802.fixed
  aspdotnet/datadog_checks/aspdotnet/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped aerospike version to 2.2.2
  aerospike/CHANGELOG.md
  aerospike/changelog.d/17802.fixed
  aerospike/datadog_checks/aerospike/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped calico version to 2.2.2
  calico/CHANGELOG.md
  calico/changelog.d/17802.fixed
  calico/datadog_checks/calico/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped cisco_aci version to 2.9.0
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/17817.added
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped http_check version to 9.7.0
  http_check/CHANGELOG.md
  http_check/changelog.d/17817.added
  http_check/datadog_checks/http_check/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped etcd version to 6.2.2
  etcd/CHANGELOG.md
  etcd/changelog.d/17878.fixed
  etcd/datadog_checks/etcd/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped iis version to 3.1.1
  iis/CHANGELOG.md
  iis/changelog.d/17802.fixed
  iis/datadog_checks/iis/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped impala version to 2.2.2
  impala/CHANGELOG.md
  impala/changelog.d/17802.fixed
  impala/datadog_checks/impala/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped gitlab version to 7.3.2
  gitlab/CHANGELOG.md
  gitlab/changelog.d/17802.fixed
  gitlab/datadog_checks/gitlab/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped datadog_checks_downloader version to 4.7.0
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/changelog.d/17817.added
  datadog_checks_downloader/changelog.d/17848.security
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped datadog_checks_base version to 36.9.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/17802.security
  datadog_checks_base/changelog.d/17817.added
  datadog_checks_base/changelog.d/17893.fixed
  datadog_checks_base/changelog.d/17953.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped exchange_server version to 2.1.1
  exchange_server/CHANGELOG.md
  exchange_server/changelog.d/17802.fixed
  exchange_server/datadog_checks/exchange_server/__about__.py
  requirements-agent-release.txt
Labels: documentation

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
