Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Update setup instructions for Kafka consumer integration
  kafka_consumer/README.md
Labels: documentation

Resolve validate-assets stage
  crowdstrike_fdr/manifest.json
Labels: none

Update README.md
  amazon_app_mesh/README.md
Labels: documentation

Update README.md
  amazon_app_mesh/README.md
Labels: documentation

updating dashboard
  windows_certificate/assets/dashboards/windows_certificate_overview.json
Labels: none

fixing grammar
  windows_certificate/assets/dashboards/windows_certificate_overview.json
Labels: none

Update README.md
  kafka_consumer/README.md
Labels: documentation

Update README.md
  kafka_consumer/README.md
Labels: documentation

Added svg file
  zscaler_private_access/assets/zscaler_private_access.svg
Labels: none

Update test-target job to install the integration in the agent when running e2e tests
  .github/workflows/test-target.yml
Labels: dev/tooling

Update test-target job to install the integration in the agent when running e2e tests (#21245)
  .github/workflows/test-target.yml
Labels: dev/tooling

test sample log format issue with time field
  pan_firewall/assets/logs/pan.firewall_tests.yaml
Labels: none

(DOCS-11888) Added Agent support info for container health service check (#21174)
  docker_daemon/assets/service_checks.json
Labels: none

dashboard tweak
  openai/assets/dashboards/usage_admin_overview_dashboard.json
Labels: none

Update README.md
  kafka_consumer/README.md
Labels: documentation

Launch sanity
  sanity/manifest.json
Labels: none

[Release] Bumped datadog_checks_base version to 37.18.1
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/21150.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.47c5a022.link
Labels: none

update pipeline
  pan_firewall/assets/logs/pan.firewall.yaml
  pan_firewall/assets/logs/pan.firewall_tests.yaml
Labels: none

manifest
  bentoml/manifest.json
Labels: none

Turn on public docs for Symantec VIP
  symantec_vip/manifest.json
Labels: none

validations
  bentoml/manifest.json
Labels: none

Update release date
  symantec_vip/CHANGELOG.md
Labels: documentation

SAASINT-3637 Turn on public docs for Symantec VIP (#21248)
  symantec_vip/CHANGELOG.md
  symantec_vip/manifest.json
Labels: documentation

[Release] Bumped datadog_checks_base version to 37.18.1 (#21247)
  .in-toto/tag.47c5a022.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/21150.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

test timestamp grok
  pan_firewall/assets/logs/pan.firewall.yaml
  pan_firewall/assets/logs/pan.firewall_tests.yaml
Labels: none

Launch sanity (#21246)
  sanity/manifest.json
Labels: none

port to master
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

fix formatting
  datadog_checks_base/CHANGELOG.md
Labels: documentation

Update min base check version
  postgres/pyproject.toml
Labels: none

Update manifest.json
  amazon_app_mesh/manifest.json
Labels: none

Labeller
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Remove broken test_submit_is_called_if_too_many_columns test
  sqlserver/tests/test_unit.py
Labels: none

Port datadog-checks-base `37.18.1` release to master (#21249)
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

Update kafka_consumer/README.md
  kafka_consumer/README.md
Labels: documentation

Update kafka_consumer/README.md
  kafka_consumer/README.md
Labels: documentation

Update kafka_consumer/README.md
  kafka_consumer/README.md
Labels: documentation

update
  kafka_consumer/README.md
Labels: documentation

assertions
  bentoml/tests/common.py
  bentoml/tests/test_unit.py
Labels: none

test
  bentoml/tests/test_unit.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
