Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

fix(proxmox): consolidate hostname error tests into single parameterized test
  proxmox/tests/test_unit.py
Labels: none

Add volume heal entries count metric
  glusterfs/changelog.d/21634.added
  glusterfs/datadog_checks/glusterfs/check.py
  glusterfs/datadog_checks/glusterfs/metrics.py
  glusterfs/metadata.csv
  glusterfs/tests/common.py
  glusterfs/tests/fixtures/gstatus.txt
Labels: none

Update dependencies
  LICENSE-3rdparty.csv
  agent_requirements.in
  amazon_msk/changelog.d/21595.added
  amazon_msk/pyproject.toml
  cisco_aci/changelog.d/21595.added
  cisco_aci/pyproject.toml
  clickhouse/changelog.d/21595.added
  clickhouse/pyproject.toml
  datadog_checks_base/changelog.d/21595.added
  datadog_checks_base/pyproject.toml
  dns_check/changelog.d/21595.added
  dns_check/pyproject.toml
  http_check/changelog.d/21595.added
  http_check/pyproject.toml
  kafka_consumer/changelog.d/21595.added
  kafka_consumer/pyproject.toml
  kubevirt_api/changelog.d/21595.added
  kubevirt_api/pyproject.toml
  mongo/changelog.d/21595.added
  mongo/pyproject.toml
  mysql/changelog.d/21595.added
  mysql/pyproject.toml
  openstack_controller/changelog.d/21595.added
  openstack_controller/pyproject.toml
  postgres/changelog.d/21595.added
  postgres/pyproject.toml
  redisdb/changelog.d/21595.added
  redisdb/pyproject.toml
  riakcs/changelog.d/21595.added
  riakcs/pyproject.toml
  snowflake/changelog.d/21595.added
  snowflake/pyproject.toml
  spark/changelog.d/21595.added
  spark/pyproject.toml
  sqlserver/changelog.d/21595.added
  sqlserver/pyproject.toml
  ssh_check/changelog.d/21595.added
  ssh_check/pyproject.toml
  tls/changelog.d/21595.added
  tls/pyproject.toml
Labels: none

Sync ddtrace version from agent_requirements.in to datadog_checks_base pyproject.toml
  datadog_checks_base/pyproject.toml
Labels: none

Sync ddtrace version from agent_requirements.in to datadog_checks_base pyproject.toml
  datadog_checks_base/pyproject.toml
Labels: none

Apply requested changes
  .github/workflows/measure-disk-usage.yml
  ddev/changelog.d/21554.added
  ddev/changelog.d/21554.changed
  ddev/src/ddev/cli/size/diff.py
Labels: dev/tooling

Update snmp/changelog.d/21620.added
  snmp/changelog.d/21620.added
Labels: none

Update snmp/assets/configuration/spec.yaml
  snmp/assets/configuration/spec.yaml
Labels: none

ddev validate config snmp -s
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: none

Apply requested changes
  ddev/src/ddev/cli/size/diff.py
  ddev/src/ddev/cli/size/status.py
  ddev/src/ddev/cli/size/utils/common_params.py
  ddev/tests/cli/size/test_diff.py
  ddev/tests/cli/size/test_status.py
Labels: none

Apply requested changes
  ddev/src/ddev/cli/size/utils/common_funcs.py
Labels: none

Update SNMP conf.yaml.example (#21620)
  snmp/assets/configuration/spec.yaml
  snmp/changelog.d/21620.added
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: none

Apply requested changes
  .github/workflows/measure-disk-usage.yml
  ddev/src/ddev/cli/size/diff.py
Labels: dev/tooling

Update: add fixture with example dependencies
  guarddog/tests/conftest.py
  guarddog/tests/test_unit.py
Labels: none

Run master test in PR
  .github/workflows/master.yml
Labels: dev/tooling

Disable ddtrace stack v2
  .github/workflows/test-target.yml
Labels: dev/tooling

Logo update in dashboards
  forescout/assets/dashboards/forescout_nac_policy_logs.json
  forescout/assets/dashboards/forescout_overview.json
  forescout/assets/dashboards/forescout_system_logs_and_events.json
  forescout/assets/dashboards/forescout_threat_protection.json
  forescout/assets/dashboards/forescout_user_operations.json
Labels: none

Resolved readme issue
  have_i_been_pwned/README.md
Labels: documentation

Add ddtrace version verification step to CI
  .github/workflows/test-target.yml
  postgres/tests/conftest.py
Labels: dev/tooling

Add ddtrace version verification step to CI
  .github/workflows/test-target.yml
  postgres/tests/conftest.py
Labels: dev/tooling

Remove base package tests so that we don't reach the max workflow size.
  .github/workflows/test-target.yml
Labels: dev/tooling

Resolved readme issue (#21638)
  have_i_been_pwned/README.md
Labels: documentation

Remove the minimum base package tests so that we don't reach the GHA workflow size limit.
  .github/workflows/test-target.yml
Labels: dev/tooling

Add python version to mypy
  pyproject.toml
Labels: none

Run ddev test postgres --fmt on downgrade-ddrace-2
  postgres/tests/conftest.py
Labels: none

Run ddev test postgres --fmt on bump-ddrace-2
  postgres/tests/conftest.py
Labels: none

Apply suggestions from code review
  teamcity/README.md
Labels: documentation

Add workflow that prints github.actor
  .github/workflows/dummy-wf.yml
Labels: dev/tooling

Add name to workflow
  .github/workflows/dummy-wf.yml
Labels: dev/tooling

Change to pull request
  .github/workflows/dummy-wf.yml
Labels: dev/tooling

Add brackets
  .github/workflows/dummy-wf.yml
Labels: dev/tooling

Update README and spec file
  barracuda_secure_edge/README.md
  barracuda_secure_edge/assets/configuration/spec.yaml
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/data/conf.yaml.example
Labels: documentation

Reword Secure Edge to SecureEdge since this is the way it is written in the official material
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
  barracuda_secure_edge/manifest.json
Labels: none

Add python version to mypy (#21639)
  pyproject.toml
Labels: none

add -v flag
  .github/workflows/measure-disk-usage.yml
Labels: dev/tooling

Add RabbitMQ stream metrics and queue info metric for replication monitoring
  rabbitmq/changelog.d/21604.added
  rabbitmq/datadog_checks/rabbitmq/openmetrics/metrics.py
  rabbitmq/metadata.csv
  rabbitmq/tests/fixtures/detailed-only-metrics.txt
  rabbitmq/tests/fixtures/detailed-queue_coarse_metrics-queue_consumer_count.txt
  rabbitmq/tests/fixtures/detailed-queue_coarse_metrics.txt
  rabbitmq/tests/fixtures/metrics.txt
  rabbitmq/tests/fixtures/per-object.txt
  rabbitmq/tests/metrics.py
  rabbitmq/tests/test_openmetrics.py
Labels: none

Remove extra space
  .github/workflows/measure-disk-usage.yml
Labels: dev/tooling

Add verbosity flag to measure disk size workflow (#21641)
  .github/workflows/measure-disk-usage.yml
Labels: dev/tooling

Add RabbitMQ stream metrics and queue info metric for replication monitoring (#21604)
  rabbitmq/changelog.d/21604.added
  rabbitmq/datadog_checks/rabbitmq/openmetrics/metrics.py
  rabbitmq/metadata.csv
  rabbitmq/tests/fixtures/detailed-only-metrics.txt
  rabbitmq/tests/fixtures/detailed-queue_coarse_metrics-queue_consumer_count.txt
  rabbitmq/tests/fixtures/detailed-queue_coarse_metrics.txt
  rabbitmq/tests/fixtures/metrics.txt
  rabbitmq/tests/fixtures/per-object.txt
  rabbitmq/tests/metrics.py
  rabbitmq/tests/test_openmetrics.py
Labels: none

Update barracuda_secure_edge/README.md
  barracuda_secure_edge/README.md
Labels: documentation
