Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Update pipelines to resolve CI check
  palo_alto_panorama/assets/logs/palo-alto-panorama.yaml
  palo_alto_panorama/assets/logs/palo-alto-panorama_tests.yaml
Labels: none

Add `source_type_id` in manifest
  cisco_umbrella_dns/manifest.json
Labels: none

Update standard attributes format
  palo_alto_panorama/assets/logs/palo-alto-panorama.yaml
Labels: none

Update standard attributes groups and names
  palo_alto_panorama/assets/logs/palo-alto-panorama.yaml
Labels: none

Fix indent for facet
  zeek/assets/logs/zeek.yaml
Labels: none

Update first sample format
  zeek/assets/logs/zeek_tests.yaml
Labels: none

Add the `cisco_duo` integration the labeler config
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Update results as per latest CI check
  zeek/assets/logs/zeek_tests.yaml
Labels: none

Update bytes facets' attributes
  palo_alto_panorama/assets/logs/palo-alto-panorama.yaml
Labels: none

Add a `validate labeler` command
  .github/workflows/run-validations.yml
  .github/workflows/validate.yml
  ddev/changelog.d/16774.added
  ddev/src/ddev/cli/validate/__init__.py
  ddev/src/ddev/cli/validate/labeler.py
  ddev/tests/cli/validate/conftest.py
  ddev/tests/cli/validate/test_labeler.py
Labels: dev/tooling

Update order of facets
  palo_alto_panorama/assets/logs/palo-alto-panorama.yaml
Labels: none

Unpin `black` and update `datamodel-code-generator`
  datadog_checks_dev/changelog.d/16776.fixed
  datadog_checks_dev/pyproject.toml
Labels: none

Add results to YAML
  palo_alto_panorama/assets/logs/palo-alto-panorama_tests.yaml
Labels: none

Add the `cisco_duo` integration the labeler config (#16775)
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Update manifest and add standard attributes in pipeline yaml file
  checkpoint_quantum_firewall/assets/logs/checkpoint_quantum_firewall.yaml
  checkpoint_quantum_firewall/manifest.json
Labels: none

Use forked version of auditwheel with correct rpath patching
  .builders/images/runner_dependencies.txt
  .builders/scripts/repair_wheels.py
Labels: none

Nginx: suppport the upstream response time if use_vts is true
  nginx/changelog.d/16720.added
  nginx/datadog_checks/nginx/metrics.py
  nginx/tests/common.py
  nginx/tests/fixtures/vts.json
  nginx/tests/test_vts.py
Labels: none

Fix indentation for samples in yaml test file
  checkpoint_quantum_firewall/assets/logs/checkpoint_quantum_firewall.yaml
  checkpoint_quantum_firewall/assets/logs/checkpoint_quantum_firewall_tests.yaml
Labels: none

New integration release: zeek v1.0.0 (#16499)
  zeek/CHANGELOG.md
  zeek/README.md
  zeek/assets/configuration/spec.yaml
  zeek/assets/dashboards/corelight_suricata.json
  zeek/assets/dashboards/zeek_connections.json
  zeek/assets/dashboards/zeek_detection.json
  zeek/assets/dashboards/zeek_dhcp.json
  zeek/assets/dashboards/zeek_diagnostics.json
  zeek/assets/dashboards/zeek_dns.json
  zeek/assets/dashboards/zeek_files.json
  zeek/assets/dashboards/zeek_miscellaneous.json
  zeek/assets/dashboards/zeek_network_observations.json
  zeek/assets/dashboards/zeek_network_protocols.json
  zeek/assets/dashboards/zeek_network_protocols_ntp_snmp_ssl.json
  zeek/assets/dashboards/zeek_syslog.json
  zeek/assets/logs/zeek.yaml
  zeek/assets/logs/zeek_tests.yaml
  zeek/assets/service_checks.json
  zeek/assets/zeek.svg
  zeek/changelog.d/16499.changed
  zeek/datadog_checks/__init__.py
  zeek/datadog_checks/zeek/__about__.py
  zeek/datadog_checks/zeek/__init__.py
  zeek/datadog_checks/zeek/data/conf.yaml.example
  zeek/images/zeek_connections.png
  zeek/images/zeek_detection.png
  zeek/images/zeek_dhcp.png
  zeek/images/zeek_diagnostics.png
  zeek/images/zeek_dns.png
  zeek/images/zeek_files.png
  zeek/images/zeek_network_observations.png
  zeek/images/zeek_network_protocols.png
  zeek/manifest.json
  zeek/pyproject.toml
Labels: documentation

Nginx: suppport the upstream response time if use_vts is true (#16720)
  nginx/changelog.d/16720.added
  nginx/datadog_checks/nginx/metrics.py
  nginx/tests/common.py
  nginx/tests/fixtures/vts.json
  nginx/tests/test_vts.py
Labels: none

Add the `zeek` integration the labeler config
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Add the `zeek` integration the labeler config (#16778)
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Tweaks to Linux dependency build (#16757)
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/linux-x86_64/build_script.sh
Labels: none

set variable in the image itself
  .builders/build.py
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/windows-x86_64/Dockerfile
Labels: none

Update dependency resolution
  .deps/image_digests.json
  .deps/resolved/linux-x86_64_py2.txt
  .deps/resolved/linux-x86_64_py3.txt
  .deps/resolved/macos_py2.txt
  .deps/resolved/macos_py3.txt
  .deps/resolved/windows-x86_64_py2.txt
  .deps/resolved/windows-x86_64_py3.txt
Labels: none

Use forked version of auditwheel with correct rpath patching (#16777)
  .builders/images/runner_dependencies.txt
  .builders/scripts/repair_wheels.py
Labels: none

[SNMP] Add abstract profiles for VoIP (#16711)
  snmp/changelog.d/16711.added
  snmp/datadog_checks/snmp/data/default_profiles/_generic-rtp.yaml
  snmp/datadog_checks/snmp/data/default_profiles/_generic-sip.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/_generic-rtp.snmprec
  snmp/tests/compose/data/_generic-sip.snmprec
  snmp/tests/fixtures/user_profiles/generic-rtp.yaml
  snmp/tests/fixtures/user_profiles/generic-sip.yaml
  snmp/tests/test_e2e_core_profiles/test_profile__generic_rtp.py
  snmp/tests/test_e2e_core_profiles/test_profile__generic_sip.py
Labels: none

Update dependency resolution
  .deps/image_digests.json
  .deps/resolved/linux-x86_64_py2.txt
  .deps/resolved/linux-x86_64_py3.txt
  .deps/resolved/macos_py2.txt
  .deps/resolved/macos_py3.txt
  .deps/resolved/windows-x86_64_py2.txt
  .deps/resolved/windows-x86_64_py3.txt
Labels: none

New Integration Release Cisco Umbrella DNS v1.0.0 (#16503)
  cisco_umbrella_dns/CHANGELOG.md
  cisco_umbrella_dns/README.md
  cisco_umbrella_dns/assets/cisco_umbrella_dns.svg
  cisco_umbrella_dns/assets/dashboards/cisco_umbrella_dns_dns_traffic.json
  cisco_umbrella_dns/assets/dashboards/cisco_umbrella_dns_proxied_traffic.json
  cisco_umbrella_dns/assets/logs/cisco_umbrella_dns.yaml
  cisco_umbrella_dns/assets/logs/cisco_umbrella_dns_tests.yaml
  cisco_umbrella_dns/assets/service_checks.json
  cisco_umbrella_dns/images/cisco_umbrella_dns_dns_traffic.png
  cisco_umbrella_dns/images/cisco_umbrella_dns_proxied_traffic.png
  cisco_umbrella_dns/manifest.json
Labels: documentation

Update manifest.json
  cisco_umbrella_dns/manifest.json
Labels: none

Update manifest.json (#16781)
  cisco_umbrella_dns/manifest.json
Labels: none

pin conf.yaml.example to release version and fix grammatical issues in monitors
  fluxcd/README.md
  fluxcd/assets/monitors/error_count.json
Labels: documentation

DOCS-7136
  cockroachdb/metadata.csv
  postgres/CHANGELOG.md
  rabbitmq/assets/dashboards/rabbitmq_dashboard.json
  teamcity/assets/dashboards/overview.json
Labels: documentation

Update dependencies
  LICENSE-3rdparty.csv
  amazon_msk/pyproject.toml
  btrfs/pyproject.toml
  clickhouse/pyproject.toml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  disk/pyproject.toml
  dns_check/pyproject.toml
  gunicorn/pyproject.toml
  ibm_mq/pyproject.toml
  network/pyproject.toml
  openstack_controller/pyproject.toml
  postgres/pyproject.toml
  process/pyproject.toml
  snmp/pyproject.toml
  snowflake/pyproject.toml
  spark/pyproject.toml
  system_core/pyproject.toml
  system_swap/pyproject.toml
  tls/pyproject.toml
  vsphere/pyproject.toml
Labels: none

Update changelogs
  amazon_msk/changelog.d/16784.added
  btrfs/changelog.d/16784.added
  clickhouse/changelog.d/16784.added
  datadog_checks_base/changelog.d/16784.added
  disk/changelog.d/16784.added
  dns_check/changelog.d/16784.added
  gunicorn/changelog.d/16784.added
  ibm_mq/changelog.d/16784.added
  network/changelog.d/16784.added
  openstack_controller/changelog.d/16784.added
  postgres/changelog.d/16784.added
  process/changelog.d/16784.added
  snmp/changelog.d/16784.added
  snowflake/changelog.d/16784.added
  spark/changelog.d/16784.added
  system_core/changelog.d/16784.added
  system_swap/changelog.d/16784.added
  tls/changelog.d/16784.added
  vsphere/changelog.d/16784.added
Labels: none

Update GeoIP source to check if results include geoip results
  palo_alto_panorama/assets/logs/palo-alto-panorama.yaml
Labels: none

Update IP addresses in sample
  palo_alto_panorama/assets/logs/palo-alto-panorama.yaml
  palo_alto_panorama/assets/logs/palo-alto-panorama_tests.yaml
Labels: none

changelog
  datadog_checks_dev/changelog.d/16759.fixed
Labels: none

Remove unsupported characters from README templates. (#16759)
  datadog_checks_dev/changelog.d/16759.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_pull/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/tile/{check_name}/README.md
Labels: documentation

DOCS-7136 Integrations Doc Update (#16783)
  cockroachdb/metadata.csv
  postgres/CHANGELOG.md
  rabbitmq/assets/dashboards/rabbitmq_dashboard.json
  teamcity/assets/dashboards/overview.json
Labels: documentation

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
