Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Make Trendmicro email security Docs Public (#18982)
  trend_micro_email_security/manifest.json
Labels: none

[mongo] fix db name parsing when namespace has no collection (#18953) (#18957)
  mongo/changelog.d/18953.fixed
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/slow_operations.py
  mongo/datadog_checks/mongo/dbm/utils.py
  mongo/tests/test_unit.py
Labels: none

Update HubSpot monitors name
  hubspot_content_hub/assets/monitors/blog_posts_bounce_rate.json
  hubspot_content_hub/assets/monitors/page_bounce_rate.json
  hubspot_content_hub/manifest.json
Labels: none

Run linter.
  sqlserver/tests/test_statements.py
Labels: none

Update LLMObs title
  openai/README.md
Labels: documentation

Remove redundant section and steps
  openai/README.md
Labels: documentation

add more slurm metrics
  slurm/datadog_checks/slurm/constants.py
  slurm/tests/common.py
  slurm/tests/fixtures/sdiag.txt
Labels: none

metadata entries
  slurm/metadata.csv
Labels: none

Add jboss wildfly process signature
  jboss_wildfly/manifest.json
Labels: none

Add jboss wildfly process signature (#18985)
  jboss_wildfly/manifest.json
Labels: none

add heartbeat metric
  slurm/datadog_checks/slurm/check.py
  slurm/metadata.csv
  slurm/tests/common.py
Labels: none

Add config param to spec.
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
Labels: none

add node count
  slurm/datadog_checks/slurm/check.py
  slurm/datadog_checks/slurm/constants.py
  slurm/metadata.csv
  slurm/tests/common.py
  slurm/tests/fixtures/sinfo_partition.txt
Labels: none

remove yaml
  .github/workflows/dismiss-stale-reviews.yaml
Labels: dev/tooling

remove yaml (#18986)
  .github/workflows/dismiss-stale-reviews.yaml
Labels: dev/tooling

Match config spec.
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: none

Fix type.
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: none

update monitor
  argocd/assets/monitors/application_sync_status.json
Labels: none

Sync models.
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
Labels: none

lint
  slurm/datadog_checks/slurm/constants.py
Labels: none

update monitor (#18987)
  argocd/assets/monitors/application_sync_status.json
Labels: none

Sy/slurm integration (#18893)
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  slurm/CHANGELOG.md
  slurm/README.md
  slurm/assets/configuration/spec.yaml
  slurm/assets/dashboards/slurm_overview.json
  slurm/assets/service_checks.json
  slurm/changelog.d/18893.added
  slurm/datadog_checks/__init__.py
  slurm/datadog_checks/slurm/__about__.py
  slurm/datadog_checks/slurm/__init__.py
  slurm/datadog_checks/slurm/check.py
  slurm/datadog_checks/slurm/config_models/__init__.py
  slurm/datadog_checks/slurm/config_models/defaults.py
  slurm/datadog_checks/slurm/config_models/instance.py
  slurm/datadog_checks/slurm/config_models/shared.py
  slurm/datadog_checks/slurm/config_models/validators.py
  slurm/datadog_checks/slurm/constants.py
  slurm/datadog_checks/slurm/data/conf.yaml.example
  slurm/hatch.toml
  slurm/manifest.json
  slurm/metadata.csv
  slurm/pyproject.toml
  slurm/tests/__init__.py
  slurm/tests/common.py
  slurm/tests/conftest.py
  slurm/tests/fixtures/sacct.txt
  slurm/tests/fixtures/sdiag.txt
  slurm/tests/fixtures/sinfo.txt
  slurm/tests/fixtures/sinfo_partition.txt
  slurm/tests/fixtures/sinfo_version.txt
  slurm/tests/fixtures/squeue.txt
  slurm/tests/fixtures/sshare.txt
  slurm/tests/test_unit.py
Labels: documentation, dev/tooling

Sy/slurm integration (#18893)
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  slurm/CHANGELOG.md
  slurm/README.md
  slurm/assets/configuration/spec.yaml
  slurm/assets/dashboards/slurm_overview.json
  slurm/assets/service_checks.json
  slurm/changelog.d/18893.added
  slurm/datadog_checks/__init__.py
  slurm/datadog_checks/slurm/__about__.py
  slurm/datadog_checks/slurm/__init__.py
  slurm/datadog_checks/slurm/check.py
  slurm/datadog_checks/slurm/config_models/__init__.py
  slurm/datadog_checks/slurm/config_models/defaults.py
  slurm/datadog_checks/slurm/config_models/instance.py
  slurm/datadog_checks/slurm/config_models/shared.py
  slurm/datadog_checks/slurm/config_models/validators.py
  slurm/datadog_checks/slurm/constants.py
  slurm/datadog_checks/slurm/data/conf.yaml.example
  slurm/hatch.toml
  slurm/manifest.json
  slurm/metadata.csv
  slurm/pyproject.toml
  slurm/tests/__init__.py
  slurm/tests/common.py
  slurm/tests/conftest.py
  slurm/tests/fixtures/sacct.txt
  slurm/tests/fixtures/sdiag.txt
  slurm/tests/fixtures/sinfo.txt
  slurm/tests/fixtures/sinfo_partition.txt
  slurm/tests/fixtures/sinfo_version.txt
  slurm/tests/fixtures/squeue.txt
  slurm/tests/fixtures/sshare.txt
  slurm/tests/test_unit.py
Labels: documentation, dev/tooling

Fix new deployment logic and support in progress and queued deployments
  octopus_deploy/datadog_checks/octopus_deploy/check.py
  octopus_deploy/datadog_checks/octopus_deploy/constants.py
  octopus_deploy/datadog_checks/octopus_deploy/project_groups.py
  octopus_deploy/metadata.csv
  octopus_deploy/tests/conftest.py
  octopus_deploy/tests/constants.py
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-1/fromCompletedDate=2024-09-2314:45:58.888492+00:00/toCompletedDate=2024-09-2314:45:58.888492+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-1/states=Queued/states=Executing/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-2/fromCompletedDate=2024-09-2314:45:58.888492+00:00/toCompletedDate=2024-09-2314:45:58.888492+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-2/states=Queued/states=Executing/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/fromCompletedDate=2024-09-2314:45:58.888492+00:00/toCompletedDate=2024-09-2314:45:58.888492+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/states=Queued/states=Executing/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-4/fromCompletedDate=2024-09-2314:45:58.888492+00:00/toCompletedDate=2024-09-2314:46:13.888492+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-4/states=Queued/states=Executing/response.json
  octopus_deploy/tests/test_unit.py
Labels: none

sync metadata
  octopus_deploy/metadata.csv
Labels: none

Sy/slurm integration (#18893)
  meta/status/index.html
  search/search_index.json
Labels: none

update caddyfile
  octopus_deploy/tests/docker/Caddyfile
Labels: none

fix
  octopus_deploy/tests/docker/Caddyfile
Labels: none

fix cost dash name
  databricks/manifest.json
Labels: none

add to completed date
  octopus_deploy/tests/docker/Caddyfile
Labels: none

Fix slurm
  slurm/assets/dashboards/slurm_overview.json
Labels: none

Fix slurm (#18990)
  slurm/assets/dashboards/slurm_overview.json
Labels: none

Update databricks/assets/dashboards/clusters_dashboard.json
  databricks/assets/dashboards/clusters_dashboard.json
Labels: none

add assets for slurm
  slurm/assets/dashboards/slurm_overview.json
  slurm/assets/monitors/slurm_dbd_agent.json
  slurm/assets/monitors/slurm_partition.json
  slurm/manifest.json
Labels: none

update dash
  aws_neuron/assets/dashboards/aws_neuron_overview.json
Labels: none

removing disk-level metrics
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/api.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/metrics.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/metadata.csv
  vsphere/tests/mocked_api.py
  vsphere/tests/test_api.py
  vsphere/tests/test_unit.py
Labels: none

removing vsan disk events
  vsphere/datadog_checks/vsphere/constants.py
Labels: none

Add Readme
  nvidia_nim/README.md
  nvidia_nim/assets/dashboards/nvidia_nim_overview.json
  nvidia_nim/assets/monitors/latency.json
  nvidia_nim/datadog_checks/nvidia_nim/metrics.py
  nvidia_nim/images/IMAGES_README.md
  nvidia_nim/manifest.json
  nvidia_nim/metadata.csv
Labels: documentation

README statement corrected
  postmark/README.md
Labels: documentation

Don't hardcode location of payload file in serving script.
  ddev/src/ddev/cli/meta/scripts/scripts/serve.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
