Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Increase SQL Server docker start attempts (#12802)
  sqlserver/tests/conftest.py
Labels: none

mark metric as optional (#12804)
  clickhouse/tests/metrics.py
Labels: none

Added integration test
  tdd/tests/conftest.py
  tdd/tests/test_integration.py
  tdd/tests/test_tdd.py
Labels: none

Run ddev validate ci --fix
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
Labels: dev/testing

Run ddev validate config tdd -s
  tdd/datadog_checks/tdd/data/conf.yaml.example
Labels: none

Post to other slack channel
  .gitlab-ci.yml
Labels: none

Fix codeowners
  .github/CODEOWNERS
Labels: none

Modified manifest.json
  tdd/manifest.json
  tdd/metadata.csv
Labels: none

Run ddev validate models tdd -s
  tdd/datadog_checks/tdd/config_models/__init__.py
  tdd/datadog_checks/tdd/config_models/defaults.py
  tdd/datadog_checks/tdd/config_models/instance.py
  tdd/datadog_checks/tdd/config_models/shared.py
Labels: none

Removed metadata.csv dependency in unit tests
  tdd/tests/test_tdd.py
Labels: none

Fixed tests
  tdd/datadog_checks/tdd/check.py
  tdd/tests/test_integration.py
  tdd/tests/test_tdd.py
Labels: none

Added metric
  tdd/manifest.json
  tdd/metadata.csv
Labels: none

Add selected_message_queues flag
  ibm_i/datadog_checks/ibm_i/config_models/defaults.py
  ibm_i/datadog_checks/ibm_i/config_models/instance.py
  ibm_i/datadog_checks/ibm_i/data/conf.yaml.example
  ibm_i/datadog_checks/ibm_i/queries.py
Labels: none

Replace baklava with documentation
  .github/CODEOWNERS
Labels: none

try
  .azure-pipelines/templates/test-single-linux.yml
  twemproxy/tests/compose/Dockerfile
  twemproxy/tests/compose/docker-compose.yaml
  twemproxy/tests/compose/resources/confd/conf.d/twemproxy.toml
  twemproxy/tests/compose/resources/confd/templates/twemproxy.tmpl
  twemproxy/tests/compose/resources/run.sh
  twemproxy/tests/compose/resources/supervisord.conf
  twemproxy/tests/conftest.py
  twemproxy/tests/test_twemproxy.py
  twemproxy/tox.ini
Labels: dev/testing

Fix
  fastly/manifest.json
Labels: none

Fix
  fastly/manifest.json
Labels: none

Fix codeowners (#12807)
  .github/CODEOWNERS
Labels: none

Post to other slack channel (#12806)
  .gitlab-ci.yml
Labels: none

Simplify test setup (#12797)
  twemproxy/tests/compose/Dockerfile
  twemproxy/tests/compose/docker-compose.yaml
  twemproxy/tests/compose/resources/confd/conf.d/twemproxy.toml
  twemproxy/tests/compose/resources/confd/templates/twemproxy.tmpl
  twemproxy/tests/compose/resources/run.sh
  twemproxy/tests/compose/resources/supervisord.conf
  twemproxy/tests/conftest.py
  twemproxy/tests/test_twemproxy.py
  twemproxy/tox.ini
Labels: none

Upgrade VM images in CI
  .azure-pipelines/templates/test-single-linux.yml
  datadog_checks_base/datadog_checks/base/__about__.py
Labels: dev/testing

fix tls
  tls/tests/compose/docker-compose.yml
  tls/tests/compose/nginx-tls1-1.conf
  tls/tests/conftest.py
  tls/tests/test_remote.py
Labels: none

Initial pass at moving the IAM Access Analyzer Integration to this repo
  iam_access_analyzer/CHANGELOG.md
  iam_access_analyzer/README.md
  iam_access_analyzer/manifest.json
Labels: documentation

all good
  datadog_checks_base/datadog_checks/base/__about__.py
Labels: none

Deprecate legacy database metric
  kong/datadog_checks/kong/kong.py
Labels: none

Revert change to Kong integration
  kong/datadog_checks/kong/kong.py
Labels: none

Remove outdated Kong dashboard
  kong/assets/dashboards/kong_dashboard.json
  kong/manifest.json
Labels: none

Upgrade VM images in CI (#12774)
  .azure-pipelines/templates/test-single-linux.yml
  tls/tests/compose/docker-compose.yml
  tls/tests/compose/nginx-tls1-1.conf
  tls/tests/conftest.py
  tls/tests/test_remote.py
Labels: dev/testing

Revert change to Kong integration (#12809)
  kong/datadog_checks/kong/kong.py
Labels: none

Initial pass at moving the IAM Access Analyzer Integration to this repo (#12812)
  iam_access_analyzer/CHANGELOG.md
  iam_access_analyzer/README.md
  iam_access_analyzer/manifest.json
Labels: documentation

AI-2549 switch to official gh labeler action
  .github/workflows/labeler.yml
Labels: dev/tooling

update permissions
  .github/workflows/labeler.yml
Labels: dev/tooling

update trigger
  .github/workflows/labeler.yml
Labels: dev/tooling

add integration labels
  .github/workflows/config/labeler.yml
Labels: dev/tooling

add ci validation
  .github/workflows/config/labeler.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
Labels: dev/tooling

sort labels, add validations for unknown checks and label configs
  .github/workflows/config/labeler.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
Labels: dev/tooling

change order of unknown and missing checks
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
Labels: none

update labeler config, handle valid checks that are not defined
  .github/workflows/config/labeler.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
Labels: dev/tooling

small syntax fixes
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
Labels: none

remove `integration` prefix from non-integrations`
  .github/workflows/config/labeler.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
Labels: dev/tooling

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
