Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

[Release] Bumped mongo version to 8.5.1
  mongo/CHANGELOG.md
  mongo/changelog.d/19814.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

[Release] Bumped mongo version to 8.5.1 (#19824)
  .in-toto/tag.ec45eb9d.link
  mongo/CHANGELOG.md
  mongo/changelog.d/19814.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation

Add faults unit test.
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/tests/common.py
  cisco_aci/tests/fixtures/faults.py
  cisco_aci/tests/fixtures/faults/431f5593e6349e09f0097d3f23dea75c.txt
  cisco_aci/tests/fixtures/faults/5058ab43747e6423c036a89104ec05dc.txt
  cisco_aci/tests/fixtures/faults/5d56882ce9d312af184fedfe77bc08df.txt
  cisco_aci/tests/fixtures/faults/8bf03ccb4d494c0f8d05f7e8d9115dfd.txt
  cisco_aci/tests/test_faults.py
Labels: none

Add e2e tests
  sonatype_nexus/tests/common.py
  sonatype_nexus/tests/compose/docker-compose.yaml
  sonatype_nexus/tests/conftest.py
  sonatype_nexus/tests/test_check.py
  sonatype_nexus/tests/test_e2e.py
Labels: none

Added newlines
  sonatype_nexus/tests/common.py
  sonatype_nexus/tests/conftest.py
Labels: none

Master port of "[Release] Bumped mongo version to 8.5.1 (#19824)"
  mongo/CHANGELOG.md
  mongo/changelog.d/19814.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation

Master port of "[Release] Bumped mongo version to 8.5.1 (#19824)" (#19827)
  mongo/CHANGELOG.md
  mongo/changelog.d/19814.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation

ddev validate config models test -fs
  avi_vantage/datadog_checks/avi_vantage/check.py
  avi_vantage/datadog_checks/avi_vantage/config_models/defaults.py
  avi_vantage/tests/conftest.py
  avi_vantage/tests/test_avi_vantage.py
Labels: none

SEMCON-763: Updating the OTel collector metrics metadata with some missing metrics
  otel/metadata.csv
Labels: none

SEMCON-763: Updating the OTel collector metrics metadata with some missing metrics
  otel/metadata.csv
Labels: none

fixed speed metric unit
  gpu/metadata.csv
Labels: none

GPU: added more metrics to the gpu metadata.csv (#19823)
  gpu/metadata.csv
Labels: none

Updated minor changes
  openvpn/README.md
  openvpn/assets/dashboards/openvpn_overview.json
Labels: documentation

update templates
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/datadog_checks/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/datadog_checks/__init__.py
Labels: none

Run fips tests if base pkg deps change
  .github/workflows/test-fips-e2e.yml
Labels: dev/tooling

Soft deprecation of service check submission:
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/{check_name}/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/tests/test_unit.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/tests/test_unit.py
Labels: none

add changelog
  datadog_checks_dev/changelog.d/19804.fixed
Labels: none

fix changelog
  datadog_checks_dev/changelog.d/19831.fixed
Labels: none

Remove duckdb empty service check asset
  duckdb/assets/service_checks.json
  duckdb/manifest.json
Labels: none

Add faults unit test.
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/tests/common.py
  cisco_aci/tests/fixtures/faults.py
  cisco_aci/tests/fixtures/faults/431f5593e6349e09f0097d3f23dea75c.txt
  cisco_aci/tests/fixtures/faults/5058ab43747e6423c036a89104ec05dc.txt
  cisco_aci/tests/fixtures/faults/5d56882ce9d312af184fedfe77bc08df.txt
  cisco_aci/tests/fixtures/faults/8bf03ccb4d494c0f8d05f7e8d9115dfd.txt
  cisco_aci/tests/test_faults.py
Labels: none

Run fips tests if base pkg deps change (#19833)
  .github/workflows/test-fips-e2e.yml
Labels: dev/tooling

Remove more mentions of service checks in template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/assets/service_checks.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/{check_name}/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/assets/service_checks.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/check.py
  datadog_checks_dev/tests/tooling/commands/validate/data/my_check/manifest.json
Labels: none

Stop validating assets since APW now handles that
  .github/workflows/validate.yml
Labels: dev/tooling

...
  cisco_aci/changelog.d/19834.added
Labels: none

Stop validating assets since APW now handles that (#19835)
  .github/workflows/validate.yml
Labels: dev/tooling

Add pipeline, facet and test assets.
  cisco_aci/assets/logs/cisco-aci.yaml
  cisco_aci/assets/logs/cisco-aci_tests.yaml
Labels: none

Add results to cisco-aci_tests.yaml.
  cisco_aci/assets/logs/cisco-aci_tests.yaml
Labels: none

Add faults unit test.
  cisco_aci/changelog.d/19836.added
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/tests/common.py
  cisco_aci/tests/fixtures/faults.py
  cisco_aci/tests/fixtures/faults/431f5593e6349e09f0097d3f23dea75c.txt
  cisco_aci/tests/fixtures/faults/5058ab43747e6423c036a89104ec05dc.txt
  cisco_aci/tests/fixtures/faults/5d56882ce9d312af184fedfe77bc08df.txt
  cisco_aci/tests/fixtures/faults/8bf03ccb4d494c0f8d05f7e8d9115dfd.txt
  cisco_aci/tests/test_faults.py
Labels: none

Add note about soft deprecation for service checks (#19804)
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: none

Add note about soft deprecation for service checks (#19804) 126ba17d230284e68b7ea4c1b668b5d076f7973a
  base/api/index.html
  search/search_index.json
Labels: none

Remove duckdb empty service check asset (#19832)
  duckdb/assets/service_checks.json
  duckdb/manifest.json
Labels: none

Collect Cisco ACI faults as logs. (#19836)
  cisco_aci/README.md
  cisco_aci/assets/configuration/spec.yaml
  cisco_aci/changelog.d/19836.added
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/datadog_checks/cisco_aci/cisco.py
  cisco_aci/datadog_checks/cisco_aci/config_models/defaults.py
  cisco_aci/datadog_checks/cisco_aci/config_models/instance.py
  cisco_aci/datadog_checks/cisco_aci/data/conf.yaml.example
  cisco_aci/datadog_checks/cisco_aci/faults.py
  cisco_aci/manifest.json
  cisco_aci/tests/common.py
  cisco_aci/tests/fixtures/faults.py
  cisco_aci/tests/fixtures/faults/431f5593e6349e09f0097d3f23dea75c.txt
  cisco_aci/tests/fixtures/faults/5058ab43747e6423c036a89104ec05dc.txt
  cisco_aci/tests/fixtures/faults/5d56882ce9d312af184fedfe77bc08df.txt
  cisco_aci/tests/fixtures/faults/8bf03ccb4d494c0f8d05f7e8d9115dfd.txt
  cisco_aci/tests/test_faults.py
Labels: documentation

Add `lazy-loader` dependency
  .ddev/config.toml
  LICENSE-3rdparty.csv
  agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: none

Add kind E2E environment
  velero/datadog_checks/velero/metrics.py
  velero/metadata.csv
  velero/tests/common.py
  velero/tests/compose/Caddyfile
  velero/tests/compose/docker-compose.yaml
  velero/tests/conftest.py
  velero/tests/kind/credentials-velero
  velero/tests/kind/kind-config.yaml
  velero/tests/kind/minio.yaml
  velero/tests/test_e2e.py
  velero/tests/test_unit.py
Labels: none

Remove default Go metrics
  velero/datadog_checks/velero/check.py
  velero/datadog_checks/velero/metrics.py
  velero/metadata.csv
  velero/tests/common.py
Labels: none

Made minor changes (#19809)
  zero_networks/README.md
  zero_networks/assets/dashboards/zero_networks_network_activities.json
Labels: documentation

Sort metadata.csv
  velero/metadata.csv
Labels: none

Add `lazy-loader` dependency (#19839)
  .ddev/config.toml
  LICENSE-3rdparty.csv
  agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: none

Make E2E env functional
  velero/tests/conftest.py
  velero/tests/kind/credentials-velero
  velero/tests/kind/minio.yaml
  velero/tests/kind/nginx.yaml
  velero/tests/kind/velero-values.yaml
Labels: none
