Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Update operator/README.md
  operator/README.md
Labels: documentation

Update operator/assets/dashboards/operator_overview.json
  operator/assets/dashboards/operator_overview.json
Labels: none

Update operator/assets/dashboards/operator_overview.json
  operator/assets/dashboards/operator_overview.json
Labels: none

Update operator/assets/dashboards/operator_overview.json
  operator/assets/dashboards/operator_overview.json
Labels: none

Update operator/assets/dashboards/operator_overview.json
  operator/assets/dashboards/operator_overview.json
Labels: none

Update operator/assets/dashboards/operator_overview.json
  operator/assets/dashboards/operator_overview.json
Labels: none

Update operator/assets/dashboards/operator_overview.json
  operator/assets/dashboards/operator_overview.json
Labels: none

Update CI job enumeration parameters specific to each repo
  .github/workflows/test-all.yml
  ddev/src/ddev/cli/validate/ci.py
Labels: dev/tooling

Implement regex for consumer_groups
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_unit.py
Labels: none

Update tests
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/tests/test_integration.py
  kafka_consumer/tests/test_unit.py
Labels: none

Separate regex and non-regex config options
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/defaults.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/instance.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/tests/test_integration.py
Labels: none

Skip tests for legacy implementation
  kafka_consumer/tests/test_integration.py
Labels: none

Add test case for overlapping topic-partition
  kafka_consumer/tests/test_integration.py
Labels: none

Apply suggestions
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/config.py
Labels: none

Fix topic partition creation
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
Labels: none

Fix style
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
Labels: none

Add back removed LEGACY_CLIENT
  kafka_consumer/tests/test_integration.py
Labels: none

Fix style
  kafka_consumer/datadog_checks/kafka_consumer/config.py
Labels: none

Update CI job enumeration parameters specific to each repo (#14283)
  .github/workflows/test-all.yml
  ddev/src/ddev/cli/validate/ci.py
Labels: dev/tooling

Refactor PR test result publishing
  .github/workflows/publish-test-results-pr.yml
  .github/workflows/test-results-pr.yml
Labels: dev/tooling

Updates
  operator/CHANGELOG.md
  operator/assets/dashboards/operator_overview.json
  operator/images/IMAGES_README.md
  operator/manifest.json
Labels: documentation

rename operator
  datadog_operator/CHANGELOG.md
  datadog_operator/README.md
  datadog_operator/assets/dashboards/operator_overview.json
  datadog_operator/assets/service_checks.json
  datadog_operator/manifest.json
  datadog_operator/metadata.csv
Labels: documentation

Fix manifest
  datadog_operator/manifest.json
Labels: none

Fix manifest
  datadog_operator/manifest.json
Labels: none

fix ci
  .github/workflows/config/labeler.yml
Labels: dev/tooling

add metric metadata
  datadog_operator/manifest.json
  datadog_operator/metadata.csv
Labels: none

Add Further Reading section and link
  calico/README.md
Labels: documentation

Refactor the structure of the test results artifact
  .github/workflows/test-results-pr.yml
  .github/workflows/test-target.yml
Labels: dev/tooling

Refactor the structure of the test results artifact (#14284)
  .github/workflows/test-results-pr.yml
  .github/workflows/test-target.yml
Labels: dev/tooling

Add dedicated README
  README.md
Labels: documentation

Add test result publishing to master
  .github/workflows/master.yml
  .github/workflows/test-results-master.yml
Labels: dev/tooling

Update test-results-master.yml
  .github/workflows/test-results-master.yml
Labels: dev/tooling

Finalize master test result publishing
  .github/workflows/master.yml
  .github/workflows/test-results-master.yml
  .github/workflows/test-target.yml
Labels: dev/tooling

Renamed user_name to username and user_password to password to match other integrations
  openstack_controller/datadog_checks/openstack_controller/check.py
  openstack_controller/datadog_checks/openstack_controller/config.py
  openstack_controller/tests/common.py
  openstack_controller/tests/test_config.py
Labels: none

Fix the `health_service_check` config option
  gitlab/assets/configuration/spec.yaml
  gitlab/datadog_checks/gitlab/config_models/defaults.py
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
Labels: none

add lldp vs cdp test
  snmp/tests/test_e2e_core_metadata.py
Labels: none

add test e2e_test_core_metadata_cisco_cdp
  snmp/tests/compose/data/cisco-cdp.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: none

add snmprec
  snmp/tests/compose/data/cisco-cdp-lldp.snmprec
Labels: none

update cdp test
  snmp/tests/test_e2e_core_metadata.py
Labels: none

Updated README.md
  openstack_controller/README.md
Labels: documentation

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
