Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

clean up
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Labels: none

add changelog
  datadog_checks_base/changelog.d/18215.added
  datadog_checks_base/changelog.d/18275.added
Labels: none

lint
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Labels: none

[PLINT-343] Add Fly.io integration (#17820)
  meta/status/index.html
  search/search_index.json
Labels: none

GlusterFS uses stdlib subprocess
  glusterfs/datadog_checks/glusterfs/check.py
  glusterfs/hatch.toml
Labels: none

add changelog
  glusterfs/changelog.d/18276.fixed
Labels: none

downgrade ddtrace (#18275)
  agent_requirements.in
  datadog_checks_base/changelog.d/18215.added
  datadog_checks_base/changelog.d/18275.added
  datadog_checks_base/pyproject.toml
Labels: none

Update dependency resolution
  .deps/metadata.json
  .deps/resolved/linux-aarch64_py3.txt
  .deps/resolved/linux-x86_64_py3.txt
  .deps/resolved/macos-x86_64_py2.txt
  .deps/resolved/macos-x86_64_py3.txt
  .deps/resolved/windows-x86_64_py3.txt
Labels: none

Add `log` transformer to the QueryManager
  datadog_checks_base/changelog.d/18278.added
  datadog_checks_base/datadog_checks/base/utils/db/query.py
  datadog_checks_base/datadog_checks/base/utils/db/transform.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/common.py
  datadog_checks_base/tests/base/utils/db/test_query_manager.py
  datadog_checks_base/tests/base/utils/db/test_transformers.py
Labels: none

Address review comments
  trend_micro_email_security/README.md
Labels: documentation

Added empty metadata.csv for mailchimp
  mailchimp/metadata.csv
Labels: none

Initial commit
  aws_neuron/CHANGELOG.md
  aws_neuron/README.md
  aws_neuron/assets/configuration/spec.yaml
  aws_neuron/assets/dashboards/aws_neuron_overview.json
  aws_neuron/assets/service_checks.json
  aws_neuron/changelog.d/1.added
  aws_neuron/datadog_checks/__init__.py
  aws_neuron/datadog_checks/aws_neuron/__about__.py
  aws_neuron/datadog_checks/aws_neuron/__init__.py
  aws_neuron/datadog_checks/aws_neuron/check.py
  aws_neuron/datadog_checks/aws_neuron/config_models/__init__.py
  aws_neuron/datadog_checks/aws_neuron/config_models/defaults.py
  aws_neuron/datadog_checks/aws_neuron/config_models/instance.py
  aws_neuron/datadog_checks/aws_neuron/config_models/shared.py
  aws_neuron/datadog_checks/aws_neuron/config_models/validators.py
  aws_neuron/datadog_checks/aws_neuron/data/conf.yaml.example
  aws_neuron/hatch.toml
  aws_neuron/images/IMAGES_README.md
  aws_neuron/manifest.json
  aws_neuron/metadata.csv
  aws_neuron/pyproject.toml
  aws_neuron/tests/__init__.py
  aws_neuron/tests/conftest.py
  aws_neuron/tests/test_unit.py
Labels: documentation

Add metrics
  aws_neuron/datadog_checks/aws_neuron/metrics.py
  aws_neuron/metadata.csv
Labels: none

Update check
  aws_neuron/datadog_checks/aws_neuron/check.py
Labels: none

Update spec
  aws_neuron/assets/configuration/spec.yaml
  aws_neuron/datadog_checks/aws_neuron/config_models/__init__.py
  aws_neuron/datadog_checks/aws_neuron/config_models/defaults.py
  aws_neuron/datadog_checks/aws_neuron/config_models/instance.py
  aws_neuron/datadog_checks/aws_neuron/config_models/shared.py
  aws_neuron/datadog_checks/aws_neuron/config_models/validators.py
  aws_neuron/datadog_checks/aws_neuron/data/conf.yaml.example
Labels: none

Add e2e test
  aws_neuron/tests/common.py
  aws_neuron/tests/test_e2e.py
Labels: none

Add unit tests
  aws_neuron/tests/common.py
  aws_neuron/tests/conftest.py
  aws_neuron/tests/docker/Caddyfile
  aws_neuron/tests/docker/docker-compose.yaml
  aws_neuron/tests/fixtures/aws_neuron_metrics.txt
  aws_neuron/tests/fixtures/rename_labels.txt
  aws_neuron/tests/test_unit.py
Labels: none

Update metrics
  aws_neuron/datadog_checks/aws_neuron/metrics.py
  aws_neuron/metadata.csv
Labels: none

Update metadata
  .codecov.yml
  .github/workflows/test-all.yml
  aws_neuron/assets/service_checks.json
  aws_neuron/datadog_checks/aws_neuron/metrics.py
  aws_neuron/manifest.json
  aws_neuron/metadata.csv
  aws_neuron/tests/common.py
Labels: dev/tooling

Update README
  aws_neuron/README.md
Labels: documentation

Run ddev -fs aws_neuron
  aws_neuron/tests/conftest.py
  aws_neuron/tests/test_unit.py
Labels: none

Add example monitor
  aws_neuron/assets/monitors/execution_latency.json
  aws_neuron/manifest.json
Labels: none

Remove asset files
  aws_neuron/assets/dashboards/aws_neuron_overview.json
  aws_neuron/assets/monitors/execution_latency.json
  aws_neuron/assets/saved_views/EXAMPLE.json
Labels: none

Fix e2e test
  aws_neuron/tests/test_e2e.py
Labels: none

Remove assets from manifest
  aws_neuron/assets/monitors/execution_latency.json
  aws_neuron/assets/saved_views/EXAMPLE.json
  aws_neuron/datadog_checks/aws_neuron/check.py
  aws_neuron/manifest.json
Labels: none

Add recommended monitor
  aws_neuron/assets/monitors/execution_latency.json
  aws_neuron/manifest.json
Labels: none

Update agent version in service_checks.json
  aws_neuron/assets/service_checks.json
Labels: none

Update README
  aws_neuron/README.md
Labels: documentation

Delete aws_neuron/images/IMAGES_README.md
  aws_neuron/images/IMAGES_README.md
Labels: documentation

Fix license headers
  aws_neuron/tests/common.py
  aws_neuron/tests/conftest.py
  aws_neuron/tests/test_e2e.py
Labels: none

Add metric type assertion
  aws_neuron/tests/common.py
  aws_neuron/tests/test_e2e.py
  aws_neuron/tests/test_unit.py
Labels: none

Add labeler config
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Add Neuron Monitor to installation instructions
  aws_neuron/README.md
Labels: documentation

Update aws_neuron/README.md
  aws_neuron/README.md
Labels: documentation

Update aws_neuron/README.md
  aws_neuron/README.md
Labels: documentation

Fix e2e test
  aws_neuron/tests/test_e2e.py
Labels: none

Update aws_neuron/assets/configuration/spec.yaml
  aws_neuron/assets/configuration/spec.yaml
Labels: none

Add DEFAULT_METRIC_LIMIT
  aws_neuron/datadog_checks/aws_neuron/check.py
Labels: none

Remove type check from e2e test
  aws_neuron/tests/test_e2e.py
Labels: none

Update aws_neuron/README.md
  aws_neuron/README.md
Labels: documentation

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
