Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Update cockroachdb/README.md
  cockroachdb/README.md
Labels: documentation

Update gitlab/README.md
  gitlab/README.md
Labels: documentation

Update istio/README.md
  istio/README.md
Labels: documentation

Update linkerd/README.md
  linkerd/README.md
Labels: documentation

Update openmetrics/README.md
  openmetrics/README.md
Labels: documentation

Improve APC profile structure
  snmp/datadog_checks/snmp/data/default_profiles/_apc-metadata.yaml
  snmp/datadog_checks/snmp/data/default_profiles/_apc.yaml
  snmp/datadog_checks/snmp/data/default_profiles/apc-netbotz.yaml
  snmp/datadog_checks/snmp/data/default_profiles/apc.yaml
  snmp/tests/compose/data/apc-netbotz.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_apc_netbotz.py
Labels: none

Lint
  snmp/tests/test_e2e_core_profiles/test_profile_apc_netbotz.py
Labels: none

Add profile for raritan-dominion (#15326)
  snmp/datadog_checks/snmp/data/default_profiles/raritan-dominion.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/raritan-dominion.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_raritan_dominion.py
Labels: none

Add profile for ruckus-unleashed (#15311)
  snmp/datadog_checks/snmp/data/default_profiles/ruckus-unleashed.yaml
  snmp/datadog_checks/snmp/data/default_profiles/ruckus-wap.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/ruckus-unleashed.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_ruckus_unleashed.py
Labels: none

Fixed integration tests error on CI
  openstack_controller/tests/conftest.py
  openstack_controller/tests/test_integration.py
Labels: none

Removed unexpected 'id' causing errors in Dashboard validation
  openstack_controller/assets/dashboards/openstack-controller-legacy.json
  openstack_controller/assets/dashboards/openstack-controller.json
Labels: none

Add profile for synology-disk-station
  snmp/datadog_checks/snmp/data/default_profiles/synology-disk-station.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/synology-disk-station.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_synology_disk_station.py
Labels: none

[SNMP] Add profile for HP Nimble (#15312)
  snmp/datadog_checks/snmp/data/default_profiles/hpe-nimble.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/hpe-nimble.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_hpe_nimble.py
Labels: none

Add profile for server-iron-switch (#15329)
  snmp/datadog_checks/snmp/data/default_profiles/server-iron-switch.yaml
  snmp/tests/compose/data/server-iron-switch.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_server_iron_switch.py
Labels: none

Revert "Upgrade ddtrace to 1.11.2 on Python 3 (#14367) (#15144)"
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/tracing.py
  datadog_checks_base/pyproject.toml
  datadog_checks_base/tests/base/utils/test_tracing.py
Labels: none

Revert "Bump pydantic version in the agent_requirements.in file (#15320)"
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: none

Add profile for tp-link
  snmp/datadog_checks/snmp/data/default_profiles/tp-link.yaml
  snmp/tests/compose/data/tp-link.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_tp_link.py
Labels: none

Add profile for sinetica-eagle-i
  snmp/datadog_checks/snmp/data/default_profiles/sinetica-eagle-i.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/sinetica-eagle-i.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_sinetica_eagle_i.py
Labels: none

Update kafka_consumer version for beta
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
Labels: none

[Release] Update metadata
  .in-toto/tag.a7b04961.link
Labels: none

Rename raw_error -> rawerror to use correct field name
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
  datadog_checks_base/tests/base/utils/test_diagnose.py
Labels: none

Add minor comment
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: none

Fix lint issues
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
Labels: none

First iteration of diagnose API for integrations
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
  datadog_checks_base/tests/base/utils/test_diagnose.py
Labels: none

Sanitize fields
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
  datadog_checks_base/tests/base/utils/test_diagnose.py
Labels: none

Addition of check's get_diagnose() method to support agent diangose CLI comamnd
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
Labels: none

Handle exceptions during explicit diagnostics
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
  datadog_checks_base/tests/base/utils/test_diagnose.py
Labels: none

Fix linting issues
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
Labels: none

Remove `DIAGNOSIS_NOT_ENABLE` enum value
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
Labels: none

Return JSON instead of Python objects from `get_diagnoses()`
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/base/utils/test_diagnose.py
Labels: none

Pass all diagnose fields correctly
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
Labels: none

Add the LangChain integration (#15229)
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  langchain/CHANGELOG.md
  langchain/README.md
  langchain/assets/dashboards/overview_dashboard.json
  langchain/assets/recommended_monitors/error_rate.json
  langchain/assets/recommended_monitors/request_duration.json
  langchain/assets/service_checks.json
  langchain/manifest.json
  langchain/metadata.csv
Labels: documentation, dev/tooling

Add profile for servertech-pdu3
  snmp/datadog_checks/snmp/data/default_profiles/servertech-pdu3.yaml
  snmp/datadog_checks/snmp/data/default_profiles/servertech.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/servertech-pdu3.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_servertech_pdu3.py
Labels: none

Fix sysobjectid
  snmp/datadog_checks/snmp/data/default_profiles/servertech.yaml
Labels: none

Forgotten test
  snmp/tests/test_e2e_core_profiles/test_profile_servertech_pdu3.py
Labels: none

Add tags & change vendor value
  snmp/datadog_checks/snmp/data/default_profiles/tp-link.yaml
Labels: none

Test file
  snmp/tests/test_e2e_core_profiles/test_profile_tp_link.py
Labels: none

Apply suggestions from code review
  network/README.md
Labels: documentation

Add profile for Huawei devices
  snmp/datadog_checks/snmp/data/default_profiles/huawei.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/huawei.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_huawei.py
Labels: none

Forgotten tag
  snmp/datadog_checks/snmp/data/default_profiles/tp-link.yaml
Labels: none
