Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Add DDEV_E2E_AGENT_PY2 env option
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: none

Add DDEV_E2E_AGENT_PY2 env option (#10221)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: none

Add agent pipeline
  .azure-pipelines/agent.yml
Labels: dev/testing

Add job name
  .azure-pipelines/agent.yml
Labels: dev/testing

Support windows image
  .azure-pipelines/agent.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Temp branches trigger
  .azure-pipelines/agent.yml
Labels: dev/testing

Update agent.yml for Azure Pipelines
  .azure-pipelines/agent.yml
Labels: dev/testing

Fix windows env var
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Use az variable
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Fix quotes
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Py2 tests optional
  .azure-pipelines/agent.yml
Labels: dev/testing

Skip py3 option
  .azure-pipelines/agent.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Support only one image
  .azure-pipelines/agent.yml
Labels: dev/testing

Fix typo
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
Labels: dev/testing

Split py2-py3 testing
  .azure-pipelines/templates/run-tests.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Revert "Split py2-py3 testing"
  .azure-pipelines/templates/run-tests.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Remove py3 split
  .azure-pipelines/agent.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Revert "Remove py3 split"
  .azure-pipelines/agent.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Add py2 option again
  .azure-pipelines/agent.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

AUpdate common.py with coredns v1.8.5 metrics and Corefile name
  coredns/tests/common.py
  coredns/tests/docker/coredns/Corefile-v1.8
Labels: none

Addds_postgres_latest_env
  postgres/tests/common.py
  postgres/tests/compose/docker-compose-latest-alpine.yaml
  postgres/tests/conftest.py
  postgres/tests/test_pg_integration.py
  postgres/tox.ini
Labels: none

Add new function database_monitoring_query_activity to report dbm-activity events
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: none

wrap `requests.Response` objects
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/requirements.in
Labels: none

update condition for debug log
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
Labels: none

sync config
  marathon/datadog_checks/marathon/config_models/defaults.py
  marathon/datadog_checks/marathon/config_models/instance.py
Labels: none

Update downloader dependencies
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_downloader/requirements.in
Labels: none

Migrate config spec location also
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/manifest.py
Labels: none

Update dev keys
  docs/developer/process/integration-release.md
Labels: documentation

Update date
  docs/developer/process/integration-release.md
Labels: documentation

Update dependencies (first batch)
  amazon_msk/requirements.in
  cisco_aci/requirements.in
  clickhouse/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  http_check/requirements.in
  mysql/requirements.in
  postgres/requirements.in
  riakcs/requirements.in
  spark/requirements.in
  sqlserver/requirements.in
  tls/requirements.in
Labels: none

update condition for debug log (#10224)
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
Labels: none

Add batch option to ddev dep updates command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
Labels: none

Update 3rd party license
  LICENSE-3rdparty.csv
Labels: none

Add new function database_monitoring_query_activity to report dbm-activity events (#10223)
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: none

update postgres data models
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
Labels: none

refactor flow we capture activity even if obfuscation fails
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: none

fix config example for postgres
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: none

fix for tests with postgres version 9
  postgres/assets/configuration/spec.yaml
Labels: none

update conf example
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: none

Send query sig under key query_signature
  postgres/datadog_checks/postgres/statement_samples.py
Labels: none
