Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Update databricks/README.md
  databricks/README.md
Labels: documentation

Update the dashboard
  cockroachdb/assets/dashboards/overview.json
Labels: none

Update the dashboard
  teamcity/assets/dashboards/overview.json
Labels: none

fix style
  snmp/tests/metrics.py
  snmp/tests/test_e2e_core.py
Labels: none

handle SKIPPED_CORE_ONLY_COUNTED_AS_SUBMITTED_METRICS
  snmp/tests/test_e2e_core_vs_python.py
Labels: none

revert
  snmp/tests/test_e2e_core_vs_python.py
Labels: none

Readme: updates and clarifications before public launch
  rabbitmq/README.md
  rabbitmq/images/rabbitmq_dashboard.png
Labels: documentation

update order
  snmp/tests/test_e2e_core_vs_python.py
Labels: none

update order
  snmp/tests/test_e2e_core_vs_python.py
Labels: none

test submitted_metrics
  snmp/tests/test_e2e_core.py
Labels: none

Fix test_e2e_snmp_listener
  snmp/tests/test_e2e_snmp_listener.py
Labels: none

Use assert_metrics_using_metadata
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_vs_python.py
Labels: none

Add missing metrics
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/common.py
Labels: none

Update e2e to handle new interface speed metrics (#14062)
  snmp/tests/metrics.py
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_e2e_snmp_listener.py
Labels: none

clean up
  snmp/tests/test_e2e_core_vs_python.py
Labels: none

Backport releases (#14082)
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: documentation

Add missing metrics (#14088)
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/common.py
Labels: none

increase win file path len
  .azure-pipelines/templates/set-up-windows.yml
Labels: dev/testing

Update openstack_controller/tests/test_config.py
  openstack_controller/tests/test_config.py
Labels: none

Update wording of exact_match (#14042)
  process/assets/configuration/spec.yaml
  process/datadog_checks/process/data/conf.yaml.example
Labels: none

Clean up README (#14071)
  cloudera/README.md
Labels: documentation

comment to explain
  .azure-pipelines/templates/set-up-windows.yml
Labels: dev/testing

fix: add missing metrics `kube_deployment_status_replicas_ready` and `kube_horizontalpodautoscaler_status_target_metric` (#14061)
  kubernetes_state_core/metadata.csv
Labels: none

Add dependency (#14076)
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  kafka_consumer/pyproject.toml
Labels: none

Standardize logging messages (#14072)
  openstack_controller/datadog_checks/openstack_controller/api.py
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
Labels: none

Add interface speed metrics to metadata.csv
  snmp/metadata.csv
Labels: none

use global time for kubernetes nodes overview
  kubernetes/assets/dashboards/kubernetes_nodes.json
Labels: none

Add tests for invalid configurations (#14057)
  openstack_controller/tests/common.py
  openstack_controller/tests/fixtures/openstack_bad_config.yaml
  openstack_controller/tests/test_config.py
Labels: none

Add interface_config
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: none

Lint and format 🥲
  datadog_checks_dev/tests/tooling/commands/meta/snmp/test_generate_traps_db.py
Labels: none

fix typo
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: none

use global time for kubernets overview when time is greater than 1h
  kubernetes/assets/dashboards/kubernetes_dashboard.json
Labels: none

improve doc
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: none

fix
  datadog_checks_dev/datadog_checks/dev/plugin/hatch/environment_collector.py
  ssh_check/MANIFEST.in
Labels: none

Rename speed_source tag value from `snmp` to `device`
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_snmp_listener.py
Labels: none

use global time for kubernetes pods overview for top lists scoped to 4h
  kubernetes/assets/dashboards/kubernetes_pods.json
Labels: none

restore time lock for kubelet ping and status
  kubernetes/assets/dashboards/kubernetes_nodes.json
Labels: none

restore time lock for kube events
  kubernetes/assets/dashboards/kubernetes_dashboard.json
Labels: none

changelog
  releasenotes/notes/remove-time-scope-dashboard-panels.yaml
Labels: none

datadog_checks/sqlserver: add driver to metadata
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
