Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Fix schema id propagation
  postgres/datadog_checks/postgres/metadata.py
Labels: none

Conditionals for postgres version 9, no partitions
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/test_metadata.py
Labels: none

Revert models
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/config_models/shared.py
Labels: none

Make manual changes to instance.py
  postgres/datadog_checks/postgres/config_models/instance.py
Labels: none

Reverting instance.py?
  postgres/datadog_checks/postgres/config_models/instance.py
Labels: none

One more validation update
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/config_models/shared.py
Labels: none

Validating after ddev update
  postgres/datadog_checks/postgres/config_models/shared.py
Labels: none

Update dependencies with ddev3.3
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/config_models/shared.py
Labels: none

Update
  postgres/datadog_checks/postgres/config_models/instance.py
Labels: none

Validating instance file?
  postgres/datadog_checks/postgres/config_models/instance.py
Labels: none

fix instance config
  mysql/datadog_checks/mysql/config_models/instance.py
Labels: none

update mysql kind
  mysql/datadog_checks/mysql/metadata.py
  mysql/tests/test_metadata.py
Labels: none

AGGHHHH
  postgres/datadog_checks/postgres/config.py
Labels: none

fix metadata test
  mysql/tests/test_metadata.py
Labels: none

What if we just get rid of the config block?
  postgres/assets/configuration/spec.yaml
Labels: none

fix mariadb query
  mysql/datadog_checks/mysql/metadata.py
Labels: none

Add support for ingesting mysql config settings (#15498)
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/metadata.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/test_metadata.py
Labels: none

address review
  ddev/src/ddev/cli/release/changelog/__init__.py
  ddev/src/ddev/cli/release/changelog/fix.py
  ddev/src/ddev/cli/release/changelog/new.py
  ddev/src/ddev/repo/core.py
  ddev/src/ddev/utils/scripts/check_pr.py
  ddev/tests/cli/release/test_changelog.py
Labels: none

Update README.md (#15495)
  process/README.md
Labels: documentation

OpenAI Update Resources (#15494)
  openai/README.md
  openai/assets/recommended_monitors/api_token_usage.json
  openai/images/openai_dash_samples.png
  openai/images/openai_dash_tokens_cost.png
  openai/images/openai_dash_usage_trends.png
  openai/manifest.json
Labels: documentation

test 2.6.2
  airflow/hatch.toml
Labels: none

Remove the log collection classifier (#15500)
  ecs_fargate/manifest.json
Labels: none

Test build
  .github/workflows/test-target.yml
  snmp/tests/test_e2e_core_vs_python.py
Labels: dev/tooling

update
  snmp/tests/test_e2e_core_vs_python.py
Labels: none

Simplify the test environment (#15503)
  airflow/hatch.toml
  airflow/tests/compose/Dockerfile
  airflow/tests/compose/docker-compose.yaml
  airflow/tests/compose/init.sh
  airflow/tests/compose/latest/.gitignore
  airflow/tests/compose/latest/Dockerfile
  airflow/tests/compose/latest/tmp_data/.keep
  airflow/tests/compose/v2/.gitignore
  airflow/tests/compose/v2/docker-compose.yaml
  airflow/tests/compose/v2/init.sh
  airflow/tests/compose/v2/tmp_data/.keep
  airflow/tests/conftest.py
Labels: none

Tests for ddev release agent changelog
  ddev/tests/cli/release/agent/test_changelog.py
Labels: none

Add hardware metrics for cisco (fan) (#15507)
  snmp/datadog_checks/snmp/data/default_profiles/_cisco-generic.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/cisco-access-point.snmprec
  snmp/tests/compose/data/cisco-load-balancer.snmprec
  snmp/tests/compose/data/cisco-wan-optimizer.snmprec
  snmp/tests/compose/data/cisco.snmprec
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_profiles/test_profile__cisco_generic.py
  snmp/tests/test_e2e_core_profiles/test_profile_cisco.py
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_access_point.py
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_load_balancer.py
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_wan_optimizer.py
  snmp/tests/test_e2e_core_profiles/utils.py
  snmp/tests/test_e2e_core_vs_python.py
Labels: none

Add hardware metrics for Dell (power supplies) (#15456)
  snmp/datadog_checks/snmp/data/default_profiles/_dell-rac.yaml
  snmp/datadog_checks/snmp/data/default_profiles/dell-poweredge.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/_dell-rac.snmprec
  snmp/tests/fixtures/user_profiles/dell-rac.yaml
  snmp/tests/test_e2e_core_profiles/test_profile__dell_rac.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_profiles.py
Labels: none

Diagnose TLS setup
  mongo/datadog_checks/mongo/mongo.py
Labels: none

Add tests for diagnoses
  mongo/tests/test_diagnose.py
Labels: none

Refactor tests to work on a clean repo
  ddev/tests/cli/release/agent/test_changelog.py
Labels: none

Move ddev release agent changelog command to ddev as-is
  ddev/src/ddev/cli/release/agent/__init__.py
  ddev/src/ddev/cli/release/agent/changelog.py
Labels: none

Replace old `console` functions with `Application` methods
  ddev/src/ddev/cli/release/agent/changelog.py
Labels: none

Remove more imports from datadog_checks_dev
  ddev/src/ddev/cli/release/agent/changelog.py
  ddev/src/ddev/cli/release/agent/common.py
  ddev/src/ddev/repo/core.py
Labels: none

Simplify code by using the Path object directly
  ddev/src/ddev/cli/release/agent/changelog.py
Labels: none

Remove dependencies on old package's constants and git functions
  ddev/src/ddev/cli/release/agent/changelog.py
  ddev/src/ddev/cli/release/agent/common.py
  ddev/src/ddev/repo/core.py
  ddev/src/ddev/utils/git.py
Labels: none

Inline remaining dependencies
  ddev/src/ddev/cli/release/agent/common.py
Labels: none

Add type annotations to migrated code
  ddev/src/ddev/cli/release/agent/changelog.py
  ddev/src/ddev/cli/release/agent/common.py
Labels: none

Inline imports
  ddev/src/ddev/cli/release/agent/changelog.py
  ddev/src/ddev/cli/release/agent/common.py
Labels: none

Add hardware metrics Checkpoint Firewall (fan)
  snmp/datadog_checks/snmp/data/default_profiles/checkpoint.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/_checkpoint-firewall-cpu-memory.snmprec
  snmp/tests/compose/data/checkpoint.snmprec
  snmp/tests/fixtures/user_profiles/checkpoint-firewall-cpu-memory.yaml
  snmp/tests/test_e2e_core_profiles/test_profile__checkpoint_firewall_cpu_memory.py
  snmp/tests/test_e2e_core_profiles/test_profile_checkpoint.py
  snmp/tests/test_e2e_core_profiles/utils.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_profiles.py
Labels: none
