Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

revert deleting the conditions.py file, only delete the new CheckVMLogs function
  datadog_checks_dev/datadog_checks/dev/conditions.py
Labels: none

Add excluded emails to mergegate configuration (#20523)
  repository.datadog.yaml
Labels: none

Pin the kubernetes version for strimzi
  strimzi/tests/conftest.py
  strimzi/tests/kind/0.34.0/kind-config.yaml
Labels: none

Refactor into dict comprehension
  .builders/scripts/repair_wheels.py
Labels: none

Add tests with custom server
  datadog_checks_base/tests/base/utils/http/test_http.py
Labels: none

Fix request method use
  datadog_checks_base/datadog_checks/base/utils/http.py
  vault/tests/test_vault.py
Labels: none

Explain the excluded files
  ddev/src/ddev/cli/size/utils/common_funcs.py
Labels: none

Use json-based PyPI API instead of html-based one to determine whether a build was built (#20521)
  .builders/scripts/repair_wheels.py
Labels: none

Don't check external psycopg packages for openssl3 copies
  .builders/scripts/repair_wheels.py
Labels: none

Upgrade psycopg2 to psycopg (3)
  agent_requirements.in
  pgbouncer/pyproject.toml
  postgres/pyproject.toml
  silverstripe_cms/pyproject.toml
Labels: none

Refactor into common function
  .builders/scripts/repair_wheels.py
Labels: none

Add KUBERNETES_VERSION to hatch.toml.
  strimzi/hatch.toml
  strimzi/tests/common.py
  strimzi/tests/conftest.py
  strimzi/tests/kind/0.34.0/kind-config.yaml
  strimzi/tests/kind/kind-config.yaml
Labels: none

Add support for mlx5_core drivers in ethtool integration
  network/changelog.d/20481.added
  network/datadog_checks/network/const.py
  network/datadog_checks/network/ethtool.py
  network/metadata.csv
  network/tests/test_ethtool.py
Labels: none

tmp
  .github/workflows/resolve-build-deps.yaml
Labels: dev/tooling

Add macOS build for AArch64/ARM64
  .builders/images/macos-aarch64
  .builders/lock.py
  .deps/resolved/macos-aarch64_3.12.txt
  .github/workflows/resolve-build-deps.yaml
  ddev/tests/cli/size/test_diff.py
  ddev/tests/cli/size/test_status.py
Labels: dev/tooling

tmp
  .builders/images/macos-x86_64/extra_build.sh
Labels: none

tmp
  .github/workflows/resolve-build-deps.yaml
Labels: dev/tooling

Check for missing version env variables and set a longer timeout for the kubernetes setup.
  strimzi/tests/common.py
  strimzi/tests/conftest.py
Labels: none

add count metrics
  proxmox/datadog_checks/proxmox/check.py
  proxmox/tests/test_unit.py
Labels: none

Finalize Agent release 7.67.0
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
  amazon_msk/CHANGELOG.md
  cisco_aci/CHANGELOG.md
  clickhouse/CHANGELOG.md
  consul/CHANGELOG.md
  datadog_checks_base/CHANGELOG.md
  datadog_checks_downloader/CHANGELOG.md
  delinea_secret_server/CHANGELOG.md
  esxi/CHANGELOG.md
  foundationdb/CHANGELOG.md
  http_check/CHANGELOG.md
  juniper_srx_firewall/CHANGELOG.md
  kafka_consumer/CHANGELOG.md
  karpenter/CHANGELOG.md
  kaspersky/CHANGELOG.md
  linux_audit_logs/CHANGELOG.md
  microsoft_sysmon/CHANGELOG.md
  mongo/CHANGELOG.md
  mysql/CHANGELOG.md
  openstack/CHANGELOG.md
  openstack_controller/CHANGELOG.md
  openvpn/CHANGELOG.md
  postgres/CHANGELOG.md
  redisdb/CHANGELOG.md
  riakcs/CHANGELOG.md
  slurm/CHANGELOG.md
  snowflake/CHANGELOG.md
  spark/CHANGELOG.md
  sqlserver/CHANGELOG.md
  tls/CHANGELOG.md
  tokumx/CHANGELOG.md
  twistlock/CHANGELOG.md
  win32_event_log/CHANGELOG.md
Labels: documentation

Export historical size metrics to Datadog (AI-5520) (#20431)
  .github/workflows/measure-disk-usage.yml
  ddev/changelog.d/20431.added
  ddev/src/ddev/cli/size/create_dashboard.py
  ddev/src/ddev/cli/size/diff.py
  ddev/src/ddev/cli/size/historical_metrics.py
  ddev/src/ddev/cli/size/status.py
  ddev/src/ddev/cli/size/timeline.py
  ddev/src/ddev/cli/size/utils/common_funcs.py
  ddev/src/ddev/cli/size/utils/dashboard.json
  ddev/src/ddev/cli/size/utils/readme.md
  ddev/tests/cli/size/test_create_dashboard.py
  ddev/tests/cli/size/test_timeline.py
  ddev/tests/size/test_common.py
Labels: documentation, dev/tooling

FoundationDB: Respect 'tls_ca_file' config option
  foundationdb/datadog_checks/foundationdb/check.py
Labels: none

fix: "Password should be set before setting the key for the password to be used."
  foundationdb/datadog_checks/foundationdb/check.py
Labels: none

FoundationDB: also respect tls_password
  foundationdb/datadog_checks/foundationdb/check.py
Labels: none

Export historical size metrics to Datadog (AI-5520) (#20431) b50c54b82bcb0eea012a59deaf6f5a476e1cf3c5
  ddev/cli/index.html
  search/search_index.json
Labels: none

Fixing vsphere tests WIP
  vsphere/datadog_checks/vsphere/api.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/common.py
  vsphere/tests/conftest.py
  vsphere/tests/mocked_api.py
  vsphere/tests/test_check.py
Labels: none

chore: add fix changelog
  foundationdb/changelog.d/19865.fixed
Labels: none

Update airflow/README.md
  airflow/README.md
Labels: documentation

FoundationDB: Respect 'tls_ca_file' and 'tls_password' config options (#19865)
  foundationdb/changelog.d/19865.fixed
  foundationdb/datadog_checks/foundationdb/check.py
Labels: none

add more tags
  proxmox/datadog_checks/proxmox/check.py
  proxmox/tests/test_unit.py
Labels: none

Update dependency resolution
  .deps/image_digests.json
  .deps/resolved/linux-aarch64_3.12.txt
  .deps/resolved/linux-x86_64_3.12.txt
  .deps/resolved/macos-aarch64_3.12.txt
  .deps/resolved/macos-x86_64_3.12.txt
  .deps/resolved/windows-x86_64_3.12.txt
Labels: none

Fix vsphere tests
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/common.py
  vsphere/tests/conftest.py
  vsphere/tests/mocked_api.py
  vsphere/tests/test_check.py
Labels: none

Revert "Upgrade psycopg2 to psycopg (3)"
  agent_requirements.in
  pgbouncer/pyproject.toml
  postgres/pyproject.toml
  silverstripe_cms/pyproject.toml
Labels: none

PG: Add recovery prefetch metrics (#20464)
  postgres/changelog.d/20464.added
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/common.py
  postgres/tests/test_logical_replication.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
Labels: none

Run formatter
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/base/utils/http/test_http.py
  http_check/tests/test_http_integration.py
  vsphere/datadog_checks/vsphere/api.py
  vsphere/tests/conftest.py
Labels: none

Add comment to hatch.toml
  strimzi/hatch.toml
Labels: none

Fix channel metric collection logic and update unit tests
  ibm_mq/datadog_checks/ibm_mq/collectors/channel_metric_collector.py
  ibm_mq/tests/test_channel_metric_collector.py
Labels: none

Fix channel metric collection logic and update unit tests
  ibm_mq/datadog_checks/ibm_mq/collectors/channel_metric_collector.py
  ibm_mq/tests/test_channel_metric_collector.py
Labels: none

updated description for collect_raw_query_statement (#20443)
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: none

add ibm_mq.channel.conns to metadata.csv
  ibm_mq/metadata.csv
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
