Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Update: yum nested pipeline helper rule
  wazuh/assets/logs/wazuh.yaml
Labels: none

adding mtu and speed tags to interfaces that support it
  network/datadog_checks/network/check_linux.py
Labels: none

Remove the comment that deadlock is supported only with ODBC (#18817)
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: none

Remove the comment that deadlock is supported only with ODBC (#18817)
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: none

adding more information to kube_api_server check
  kube_apiserver_metrics/README.md
Labels: documentation

add changelog
  datadog_checks_downloader/changelog.d/18824.added
Labels: none

Update sonicwall_firewall/README.md
  sonicwall_firewall/README.md
Labels: documentation

Update root.json for v14 ceremony (#18824)
  datadog_checks_downloader/changelog.d/18824.added
  datadog_checks_downloader/datadog_checks/downloader/data/repo/metadata/root.json
Labels: none

Readme suggested changes
  greenhouse/README.md
Labels: documentation

In ints-core repo skip test job for pull requests in merge queue
  .github/workflows/pr.yml
Labels: dev/tooling

[Release] Bumped postgres version to 22.0.1
  postgres/CHANGELOG.md
  postgres/changelog.d/18788.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.5d245df7.link
Labels: none

[Release] Bumped postgres version to 22.0.1
  postgres/CHANGELOG.md
  postgres/changelog.d/18788.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation

Removed service remapper
  greenhouse/assets/logs/greenhouse.yaml
Labels: none

Cilium: fix metric table
  cilium/metadata.csv
Labels: none

Release Postgres from backport to 7.59.x (#18827)
  .in-toto/tag.5d245df7.link
  postgres/CHANGELOG.md
  postgres/changelog.d/18788.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped postgres version to 22.0.1 (#18828)
  postgres/CHANGELOG.md
  postgres/changelog.d/18788.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation

Update conf sample example (#18793)
  go-metro/README.md
Labels: documentation

Cilium: fix metric table (#18829)
  cilium/metadata.csv
Labels: none

updated format and added changelog entry
  network/changelog.d/18819.added
  network/datadog_checks/network/check_linux.py
Labels: none

update docs for include_events option
  vsphere/README.md
Labels: documentation

fix typo
  vsphere/README.md
Labels: documentation

include_events update
  vsphere/README.md
Labels: documentation

Bump cython
  .builders/deps/build_dependencies.txt
Labels: none

Skip workflow in ints-extras too
  .github/workflows/pr.yml
Labels: dev/tooling

updating conf.yaml
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: none

update oracle config example
  oracle/README.md
Labels: documentation

Skip test job for pull requests in merge queue if it's flaky (#18825)
  .github/workflows/pr.yml
Labels: dev/tooling

Bump cython (#18832)
  .builders/deps/build_dependencies.txt
Labels: none

Update vsphere/README.md
  vsphere/README.md
Labels: documentation

Update vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: none

Update vsphere/assets/configuration/spec.yaml
  vsphere/assets/configuration/spec.yaml
Labels: none

syncing conf.yaml.example
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: none

Remove modprobes for nf_conntract_{ipv4,ipv6}
  network/README.md
Labels: documentation

Update dependency resolution
  .deps/image_digests.json
  .deps/resolved/linux-aarch64_3.12.txt
  .deps/resolved/linux-x86_64_3.12.txt
  .deps/resolved/macos-x86_64_3.12.txt
  .deps/resolved/windows-x86_64_3.12.txt
Labels: none

Fix workflow condition syntax
  .github/workflows/pr.yml
Labels: dev/tooling

Fix workflow condition syntax (#18837)
  .github/workflows/pr.yml
Labels: dev/tooling

Update run-validations.yml
  .github/workflows/run-validations.yml
Labels: dev/tooling

Use single quotes in workflow conditional
  .github/workflows/pr.yml
Labels: dev/tooling

Update run-validations.yml (#18838)
  .github/workflows/run-validations.yml
Labels: dev/tooling

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
