Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Implement KrakenD check (#20668)
  meta/status/index.html
  search/search_index.json
Labels: none

wip: Work in Progress
  krakend/manifest.json
Labels: none

[Release] Bumped datadog_checks_base version to 37.16.0
  .in-toto/tag.4e75cfa1.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/20179.fixed
  datadog_checks_base/changelog.d/20528.added
  datadog_checks_base/changelog.d/20555.fixed
  datadog_checks_base/changelog.d/20561.added
  datadog_checks_base/changelog.d/20563.added
  datadog_checks_base/changelog.d/20640.fixed
  datadog_checks_base/changelog.d/20646.fixed
  datadog_checks_base/changelog.d/20651.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped datadog_checks_base version to 37.16.0 (#20710)
  .in-toto/tag.4e75cfa1.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/20179.fixed
  datadog_checks_base/changelog.d/20528.added
  datadog_checks_base/changelog.d/20555.fixed
  datadog_checks_base/changelog.d/20561.added
  datadog_checks_base/changelog.d/20563.added
  datadog_checks_base/changelog.d/20640.fixed
  datadog_checks_base/changelog.d/20646.fixed
  datadog_checks_base/changelog.d/20651.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

Run min base package test on pull request.
  .github/workflows/nightly-base-package.yml
Labels: dev/tooling

Fix wheel naming on macOS for single-arch rebuilds
  .builders/scripts/repair_wheels.py
Labels: none

Fix wheel naming on macOS for single-arch rebuilds (#20699)
  .builders/scripts/repair_wheels.py
Labels: none

Update dependencies
  agent_requirements.in
  amazon_msk/changelog.d/20699.added
  amazon_msk/pyproject.toml
  cisco_aci/changelog.d/20699.added
  cisco_aci/pyproject.toml
  datadog_checks_base/changelog.d/20699.added
  datadog_checks_base/pyproject.toml
  http_check/changelog.d/20699.added
  http_check/pyproject.toml
  kafka_consumer/changelog.d/20699.added
  kafka_consumer/pyproject.toml
  mysql/changelog.d/20699.added
  mysql/pyproject.toml
  postgres/changelog.d/20699.added
  postgres/pyproject.toml
  riakcs/changelog.d/20699.added
  riakcs/pyproject.toml
  snowflake/changelog.d/20699.added
  snowflake/pyproject.toml
  tls/changelog.d/20699.added
  tls/pyproject.toml
Labels: none

Add changelog for the bump to proxmox for clarity
  proxmox/changelog.d/20711.added
Labels: none

Switch table rows stats query over to performance_schema (#20702)
  mysql/changelog.d/20702.fixed
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/queries.py
Labels: none

fmt
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/validator.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
Labels: none

Add Lustre process signature
  lustre/manifest.json
Labels: none

[Release] Bumped iboss version to 1.0.0
  iboss/CHANGELOG.md
  iboss/changelog.d/20414.added
  iboss/datadog_checks/iboss/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped krakend version to 1.0.0
  krakend/CHANGELOG.md
  krakend/changelog.d/20668.added
  krakend/changelog.d/20711.changed
  krakend/datadog_checks/krakend/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped lustre version to 1.0.0
  lustre/CHANGELOG.md
  lustre/changelog.d/20146.added
  lustre/datadog_checks/lustre/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mac_audit_logs version to 1.0.0
  mac_audit_logs/CHANGELOG.md
  mac_audit_logs/changelog.d/19989.added
  mac_audit_logs/datadog_checks/mac_audit_logs/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped proxmox version to 1.0.0
  proxmox/CHANGELOG.md
  proxmox/changelog.d/20428.added
  proxmox/changelog.d/20711.added
  proxmox/datadog_checks/proxmox/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.4e75cfa1.link
Labels: none

Release new integrations to 7.69 (#20718)
  .in-toto/tag.4e75cfa1.link
  iboss/CHANGELOG.md
  iboss/changelog.d/20414.added
  iboss/datadog_checks/iboss/__about__.py
  krakend/CHANGELOG.md
  krakend/changelog.d/20668.added
  krakend/changelog.d/20711.changed
  krakend/datadog_checks/krakend/__about__.py
  lustre/CHANGELOG.md
  lustre/changelog.d/20146.added
  lustre/datadog_checks/lustre/__about__.py
  mac_audit_logs/CHANGELOG.md
  mac_audit_logs/changelog.d/19989.added
  mac_audit_logs/datadog_checks/mac_audit_logs/__about__.py
  proxmox/CHANGELOG.md
  proxmox/changelog.d/20428.added
  proxmox/changelog.d/20711.added
  proxmox/datadog_checks/proxmox/__about__.py
  requirements-agent-release.txt
Labels: documentation

Release new integrations to 7.69 (#20718)
  iboss/CHANGELOG.md
  iboss/changelog.d/20414.added
  iboss/datadog_checks/iboss/__about__.py
  krakend/CHANGELOG.md
  krakend/changelog.d/20668.added
  krakend/changelog.d/20711.changed
  krakend/datadog_checks/krakend/__about__.py
  lustre/CHANGELOG.md
  lustre/changelog.d/20146.added
  lustre/datadog_checks/lustre/__about__.py
  mac_audit_logs/CHANGELOG.md
  mac_audit_logs/changelog.d/19989.added
  mac_audit_logs/datadog_checks/mac_audit_logs/__about__.py
  proxmox/CHANGELOG.md
  proxmox/changelog.d/20428.added
  proxmox/changelog.d/20711.added
  proxmox/datadog_checks/proxmox/__about__.py
  requirements-agent-release.txt
Labels: documentation

Improve kafka consumer highwater offset collection time
  kafka_consumer/changelog.d/20716.fixed
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: none

Release new integrations to 7.69 (#20718) (#20719)
  iboss/CHANGELOG.md
  iboss/changelog.d/20414.added
  iboss/datadog_checks/iboss/__about__.py
  krakend/CHANGELOG.md
  krakend/changelog.d/20668.added
  krakend/changelog.d/20711.changed
  krakend/datadog_checks/krakend/__about__.py
  lustre/CHANGELOG.md
  lustre/changelog.d/20146.added
  lustre/datadog_checks/lustre/__about__.py
  mac_audit_logs/CHANGELOG.md
  mac_audit_logs/changelog.d/19989.added
  mac_audit_logs/datadog_checks/mac_audit_logs/__about__.py
  proxmox/CHANGELOG.md
  proxmox/changelog.d/20428.added
  proxmox/changelog.d/20711.added
  proxmox/datadog_checks/proxmox/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped aerospike version to 5.0.0
  aerospike/CHANGELOG.md
  aerospike/changelog.d/20711.changed
  aerospike/datadog_checks/aerospike/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped airflow version to 7.0.0
  airflow/CHANGELOG.md
  airflow/changelog.d/20711.changed
  airflow/datadog_checks/airflow/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped amazon_msk version to 7.0.0
  amazon_msk/CHANGELOG.md
  amazon_msk/changelog.d/20561.added
  amazon_msk/changelog.d/20711.changed
  amazon_msk/datadog_checks/amazon_msk/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped apache version to 7.0.0
  apache/CHANGELOG.md
  apache/changelog.d/20711.changed
  apache/datadog_checks/apache/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped appgate_sdp version to 2.0.0
  appgate_sdp/CHANGELOG.md
  appgate_sdp/changelog.d/20711.changed
  appgate_sdp/datadog_checks/appgate_sdp/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped arangodb version to 4.0.0
  arangodb/CHANGELOG.md
  arangodb/changelog.d/20711.changed
  arangodb/datadog_checks/arangodb/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped argo_rollouts version to 3.0.0
  argo_rollouts/CHANGELOG.md
  argo_rollouts/changelog.d/20711.changed
  argo_rollouts/datadog_checks/argo_rollouts/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped argo_workflows version to 3.0.0
  argo_workflows/CHANGELOG.md
  argo_workflows/changelog.d/20711.changed
  argo_workflows/datadog_checks/argo_workflows/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped argocd version to 4.0.0
  argocd/CHANGELOG.md
  argocd/changelog.d/20711.changed
  argocd/datadog_checks/argocd/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped avi_vantage version to 6.0.0
  avi_vantage/CHANGELOG.md
  avi_vantage/changelog.d/20711.changed
  avi_vantage/datadog_checks/avi_vantage/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped aws_neuron version to 3.0.0
  aws_neuron/CHANGELOG.md
  aws_neuron/changelog.d/20711.changed
  aws_neuron/datadog_checks/aws_neuron/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped boundary version to 4.0.0
  boundary/CHANGELOG.md
  boundary/changelog.d/20711.changed
  boundary/datadog_checks/boundary/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped calico version to 5.0.0
  calico/CHANGELOG.md
  calico/changelog.d/20711.changed
  calico/datadog_checks/calico/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped celery version to 2.0.0
  celery/CHANGELOG.md
  celery/changelog.d/20711.changed
  celery/datadog_checks/celery/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped cert_manager version to 6.0.0
  cert_manager/CHANGELOG.md
  cert_manager/changelog.d/20711.changed
  cert_manager/datadog_checks/cert_manager/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped cilium version to 6.0.0
  cilium/CHANGELOG.md
  cilium/changelog.d/20711.changed
  cilium/datadog_checks/cilium/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped cisco_aci version to 4.8.0
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/20561.added
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped citrix_hypervisor version to 6.0.0
  citrix_hypervisor/CHANGELOG.md
  citrix_hypervisor/changelog.d/20711.changed
  citrix_hypervisor/datadog_checks/citrix_hypervisor/__about__.py
  requirements-agent-release.txt
Labels: documentation
