Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

log_level=trace
  .azure-pipelines/templates/run-tests.yml
Labels: dev/testing

log_level=debug
  .azure-pipelines/templates/run-tests.yml
Labels: dev/testing

no debug
  .azure-pipelines/templates/run-tests.yml
Labels: dev/testing

Add config spec support for options with multiple types
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/example.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/spec.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  datadog_checks_dev/tests/tooling/configuration/test_load.py
  docs/developer/meta/config-specs.md
Labels: documentation

log_level=trace
  .azure-pipelines/templates/run-tests.yml
Labels: dev/testing

log_level=debug
  .azure-pipelines/templates/run-tests.yml
Labels: dev/testing

seq 100
  .azure-pipelines/changes.yml
Labels: dev/testing

x20
  .azure-pipelines/changes.yml
Labels: dev/testing

Fix misleading debug message
  http_check/datadog_checks/http_check/http_check.py
Labels: none

Refactor replica metrics and add some debug lines
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/mysql.py
Labels: none

Tighten condition for mysql.replication.slave_running
  mysql/datadog_checks/mysql/mysql.py
Labels: none

Fix misleading debug message (#8379)
  http_check/datadog_checks/http_check/http_check.py
Labels: none

Style fix
  mysql/datadog_checks/mysql/mysql.py
Labels: none

Add more comments
  mysql/datadog_checks/mysql/mysql.py
Labels: none

Add more cases
  mysql/datadog_checks/mysql/mysql.py
Labels: none

Add more comments
  mysql/datadog_checks/mysql/mysql.py
Labels: none

Add config spec support for options with multiple types (#8378)
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/example.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/spec.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  datadog_checks_dev/tests/tooling/configuration/test_load.py
  docs/developer/meta/config-specs.md
Labels: documentation

Update performance metrics
  snmp/datadog_checks/snmp/snmp.py
Labels: none

Add get_usage test (#8376)
  btrfs/tests/test_btrfs.py
Labels: none

Update datadog_checks_dev/datadog_checks/dev/tooling/commands/release/stats/stats.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/stats/stats.py
Labels: none

Tighten condition for mysql.replication.slave_running (#8381)
  mysql/datadog_checks/mysql/mysql.py
Labels: none

DOCS-1517 document prometheus prereq
  vault/README.md
Labels: documentation

add ecs
  redisdb/README.md
Labels: documentation

minor
  redisdb/README.md
Labels: documentation

minor
  redisdb/README.md
Labels: documentation

add secrets manager
  redisdb/README.md
Labels: documentation

Fix telemetry counts
  snmp/tests/test_core_e2e.py
Labels: none

Assert value
  snmp/tests/test_core_e2e.py
Labels: none

Update submitted metric count
  snmp/datadog_checks/snmp/snmp.py
Labels: none

Add OOTB dashboard
  azure_iot_edge/assets/dashboards/azure_iot_edge_overview.json
  azure_iot_edge/assets/dashboards/overview.json
  azure_iot_edge/manifest.json
Labels: none

Fix submitted metrics
  snmp/datadog_checks/snmp/snmp.py
Labels: none

keep 1
  .azure-pipelines/changes.yml
Labels: dev/testing

Fix uptime aggregator: avg -> min
  azure_iot_edge/assets/dashboards/overview.json
Labels: none

Tweak widget titles
  azure_iot_edge/assets/dashboards/overview.json
Labels: none

x20
  .azure-pipelines/changes.yml
Labels: dev/testing

Fix test_e2e_profile_dell_poweredge
  snmp/tests/test_core_e2e.py
Labels: none

Remove `calculate_text_stack_trace` setting from Clickhouse Integration (#6637)
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  clickhouse/tests/test_unit.py
Labels: none

add numbering to prereqs
  vault/README.md
Labels: documentation

Add logs support
  voltdb/README.md
  voltdb/assets/configuration/spec.yaml
  voltdb/datadog_checks/voltdb/data/conf.yaml.example
  voltdb/manifest.json
  voltdb/tests/compose/docker-compose.yaml
  voltdb/tests/compose/log4j.xml
  voltdb/tests/conftest.py
Labels: documentation

Update tcp_queue_length README.md
  tcp_queue_length/README.md
Labels: documentation
