Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

[Release] Update metadata
  .in-toto/tag.b9ca7eb3.link
Labels: none

[Release] Bumped ibm_spectrum_lsf version to 1.2.0
  ibm_spectrum_lsf/CHANGELOG.md
  ibm_spectrum_lsf/changelog.d/22083.added
  ibm_spectrum_lsf/datadog_checks/ibm_spectrum_lsf/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kafka_consumer version to 6.11.0
  kafka_consumer/CHANGELOG.md
  kafka_consumer/changelog.d/22375.fixed
  kafka_consumer/changelog.d/22378.added
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mysql version to 15.11.2
  mysql/CHANGELOG.md
  mysql/changelog.d/22264.fixed
  mysql/changelog.d/22373.fixed
  mysql/changelog.d/22376.fixed
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped postgres version to 23.3.4
  postgres/CHANGELOG.md
  postgres/changelog.d/22200.fixed
  postgres/changelog.d/22376.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped spark version to 7.4.0
  requirements-agent-release.txt
  spark/CHANGELOG.md
  spark/changelog.d/22252.added
  spark/datadog_checks/spark/__about__.py
Labels: documentation

[Release] Bumped sqlserver version to 22.12.3
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/22277.fixed
  sqlserver/changelog.d/22338.fixed
  sqlserver/changelog.d/22376.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.b9ca7eb3.link
Labels: none

Update minimum base check version (#22386)
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/pyproject.toml
Labels: none

improve vm stats collection by cluster, improve info logs and debug logs
  nutanix/datadog_checks/nutanix/activity_monitor.py
  nutanix/datadog_checks/nutanix/check.py
  nutanix/datadog_checks/nutanix/infrastructure_monitor.py
Labels: none

Validated check failures
  beyondtrust_privileged_remote_access/assets/logs/beyondtrust-privileged-remote-access_tests.yaml
Labels: none

Validated check failures
  beyondtrust_privileged_remote_access/assets/logs/beyondtrust-privileged-remote-access_tests.yaml
Labels: none

Supabase Cloud: Rename log source to supabase to match hardcoded Supabase Log Drain
  supabase_cloud/assets/dashboards/supabase_cloud_overview.json
  supabase_cloud/assets/logs/supabase-cloud.yaml
  supabase_cloud/manifest.json
Labels: none

[SDBM-2278] Add LRU cache for SQL obfuscation to reduce CGO calls
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: none

Remove verbose comments
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Labels: none

Add changelog entry
  datadog_checks_base/changelog.d/22382.added
Labels: none

Fix empty table name in synology-disk-station.yaml profile
  snmp/datadog_checks/snmp/data/default_profiles/synology-disk-station.yaml
Labels: none

Release existing integrations for Agent 7.76 (#22388)
  .in-toto/tag.b9ca7eb3.link
  ibm_spectrum_lsf/CHANGELOG.md
  ibm_spectrum_lsf/changelog.d/22083.added
  ibm_spectrum_lsf/datadog_checks/ibm_spectrum_lsf/__about__.py
  kafka_consumer/CHANGELOG.md
  kafka_consumer/changelog.d/22375.fixed
  kafka_consumer/changelog.d/22378.added
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  mysql/CHANGELOG.md
  mysql/changelog.d/22264.fixed
  mysql/changelog.d/22373.fixed
  mysql/changelog.d/22376.fixed
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/22200.fixed
  postgres/changelog.d/22376.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  spark/CHANGELOG.md
  spark/changelog.d/22252.added
  spark/datadog_checks/spark/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/22277.fixed
  sqlserver/changelog.d/22338.fixed
  sqlserver/changelog.d/22376.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

Fix another empty table name
  snmp/datadog_checks/snmp/data/default_profiles/synology-disk-station.yaml
Labels: none

Port Release existing integrations for Agent 7.76 (#22388)
  ibm_spectrum_lsf/CHANGELOG.md
  ibm_spectrum_lsf/changelog.d/22083.added
  ibm_spectrum_lsf/datadog_checks/ibm_spectrum_lsf/__about__.py
  kafka_consumer/CHANGELOG.md
  kafka_consumer/changelog.d/22375.fixed
  kafka_consumer/changelog.d/22378.added
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  mysql/CHANGELOG.md
  mysql/changelog.d/22264.fixed
  mysql/changelog.d/22373.fixed
  mysql/changelog.d/22376.fixed
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/22200.fixed
  postgres/changelog.d/22376.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  spark/CHANGELOG.md
  spark/changelog.d/22252.added
  spark/datadog_checks/spark/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/22277.fixed
  sqlserver/changelog.d/22338.fixed
  sqlserver/changelog.d/22376.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

Add warning to the configuration docs about host keys
  ssh_check/assets/configuration/spec.yaml
  ssh_check/datadog_checks/ssh_check/data/conf.yaml.example
Labels: none

[AI-6329] DDS: Cisco ASA Integration v1.0.0 (#21972)
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  cisco_asa/CHANGELOG.md
  cisco_asa/README.md
  cisco_asa/assets/configuration/spec.yaml
  cisco_asa/assets/dashboards/cisco_asa_firewall_details.json
  cisco_asa/assets/dashboards/cisco_asa_network_activity.json
  cisco_asa/assets/dashboards/cisco_asa_overview.json
  cisco_asa/assets/dashboards/cisco_asa_threat_detection.json
  cisco_asa/assets/dashboards/cisco_asa_user_activity.json
  cisco_asa/assets/logs/cisco-asa.yaml
  cisco_asa/assets/logs/cisco-asa_tests.yaml
  cisco_asa/changelog.d/21972.added
  cisco_asa/datadog_checks/cisco_asa/__about__.py
  cisco_asa/datadog_checks/cisco_asa/__init__.py
  cisco_asa/datadog_checks/cisco_asa/data/conf.yaml.example
  cisco_asa/images/cisco_asa_firewall_details_dark.png
  cisco_asa/images/cisco_asa_firewall_details_light.png
  cisco_asa/images/cisco_asa_network_activity_light.png
  cisco_asa/images/cisco_asa_overview_dark.png
  cisco_asa/images/cisco_asa_overview_light.png
  cisco_asa/images/cisco_asa_threat_detection_light.png
  cisco_asa/images/cisco_asa_user_activity_dark.png
  cisco_asa/images/cisco_asa_user_activity_light.png
  cisco_asa/manifest.json
  cisco_asa/pyproject.toml
Labels: documentation, dev/tooling

add changelog
  ssh_check/changelog.d/22391.security
Labels: none

[SAASINT-5085] DDS: Cato Networks: Crawler Integration v1.0.0 (#22152)
  cato_networks/README.md
  cato_networks/assets/cato_networks.svg
  cato_networks/assets/dashboards/cato_networks_audit_logs.json
  cato_networks/assets/dashboards/cato_networks_events.json
  cato_networks/assets/dashboards/cato_networks_overview.json
  cato_networks/assets/logs/cato-networks.yaml
  cato_networks/assets/logs/cato-networks_tests.yaml
  cato_networks/images/cato_networks_audit_logs_dark.png
  cato_networks/images/cato_networks_audit_logs_light.png
  cato_networks/images/cato_networks_events_dark_1.png
  cato_networks/images/cato_networks_events_dark_2.png
  cato_networks/images/cato_networks_events_light_1.png
  cato_networks/images/cato_networks_events_light_2.png
  cato_networks/images/cato_networks_overview_dark.png
  cato_networks/images/cato_networks_overview_light.png
  cato_networks/manifest.json
Labels: documentation

Resort metadata.csv to show changes
  temporal/metadata.csv
Labels: none

update copy
  openai/README.md
Labels: documentation

Add metrics to metadata.csv affecting test case
  temporal/metadata.csv
Labels: none

Fix empty table name in synology-disk-station.yaml profile (#22389)
  snmp/datadog_checks/snmp/data/default_profiles/synology-disk-station.yaml
Labels: none

improve type hints and method comments
  nutanix/datadog_checks/nutanix/activity_monitor.py
  nutanix/datadog_checks/nutanix/infrastructure_monitor.py
Labels: none

Add warning to the configuration docs about host keys (#22391)
  ssh_check/assets/configuration/spec.yaml
  ssh_check/changelog.d/22391.security
  ssh_check/datadog_checks/ssh_check/data/conf.yaml.example
Labels: none

improve type hints and method comments
  nutanix/datadog_checks/nutanix/activity_monitor.py
  nutanix/datadog_checks/nutanix/infrastructure_monitor.py
Labels: none

update copy to remove note
  openai/README.md
Labels: documentation

Port Release existing integrations for Agent 7.76 (#22388) (#22390)
  ibm_spectrum_lsf/CHANGELOG.md
  ibm_spectrum_lsf/changelog.d/22083.added
  ibm_spectrum_lsf/datadog_checks/ibm_spectrum_lsf/__about__.py
  kafka_consumer/CHANGELOG.md
  kafka_consumer/changelog.d/22375.fixed
  kafka_consumer/changelog.d/22378.added
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  mysql/CHANGELOG.md
  mysql/changelog.d/22264.fixed
  mysql/changelog.d/22373.fixed
  mysql/changelog.d/22376.fixed
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/22200.fixed
  postgres/changelog.d/22376.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  spark/CHANGELOG.md
  spark/changelog.d/22252.added
  spark/datadog_checks/spark/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/22277.fixed
  sqlserver/changelog.d/22338.fixed
  sqlserver/changelog.d/22376.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

Update README.md
  fly_io/README.md
Labels: documentation

Add EventBusOrchestrator to ddev
  ddev/src/ddev/event_bus/__init__.py
  ddev/src/ddev/event_bus/exceptions.py
  ddev/src/ddev/event_bus/orchestrator.py
  ddev/tests/event_bus/__init__.py
  ddev/tests/event_bus/test_event_bus.py
Labels: none

Fix formatting
  ddev/src/ddev/event_bus/__init__.py
  ddev/src/ddev/event_bus/orchestrator.py
  ddev/tests/event_bus/__init__.py
Labels: none

Add changelog
  ddev/changelog.d/22394.added
Labels: none

Update README.md (#22393)
  fly_io/README.md
Labels: documentation

update openai copy (#22392)
  openai/README.md
Labels: documentation

dashboard
  n8n/assets/dashboards/n8n_overview.json
Labels: none
