Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Remove live messages reading from kafka_consumer
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/pyproject.toml
  kafka_consumer/tests/test_integration.py
  kafka_consumer/tests/test_unit.py
Labels: none

Add changelog entry
  kafka_consumer/changelog.d/23842.removed
Labels: none

Fix lint
  kafka_consumer/tests/test_integration.py
  kafka_consumer/tests/test_unit.py
Labels: none

better unique identifier
  argocd/datadog_checks/argocd/resources.py
Labels: none

Split 3001 Account Change into target/self sub-pipelines
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs.yaml
Labels: none

Regenerate tests.yaml expected output after 3001 split
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs_tests.yaml
Labels: none

Revert "Regenerate tests.yaml expected output after 3001 split"
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs_tests.yaml
Labels: none

Update org_user_invite_sent expected output after 3001 split
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs_tests.yaml
Labels: none

Expand 3002 Authentication to cover all documented auth event types
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs.yaml
Labels: none

Remove dead auth_method schema-remapper
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs.yaml
Labels: none

Key auth_protocol_id off the documented auth_method field
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs.yaml
Labels: none

Stop conflating unauthenticated_email_address with user.uid in 3002
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs.yaml
Labels: none

Fix organization_id/uuid mappings - org.uid not org.name
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs.yaml
Labels: none

Add actor user.type_id category mapper; drop session.uid and credential_uid
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs.yaml
Labels: none

Default user.type_id to Unknown when actor.type is missing
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs.yaml
Labels: none

Drop user.type_id mapper; satisfy user.at_least_one via user.name
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs.yaml
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs_tests.yaml
Labels: none

Restore actor user.type_id mapper with negated missing-value filter
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs.yaml
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs_tests.yaml
Labels: none

Add Admin user.type for admin_api_key; route platform_api_key_updated by status
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs.yaml
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs_tests.yaml
Labels: none

Shape resources and web_resources as arrays per OCSF schema
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs.yaml
  anthropic_compliance_logs/assets/logs/anthropic-compliance-logs_tests.yaml
Labels: none

Clarify Replay PBT report triage
  .github/workflows/scripts/replay-pbt-report.py
  .github/workflows/zz-test-worker-poc.yaml
Labels: dev/tooling

[snmp] Re-categorize aruba-clearpass metric type fix as breaking change
  snmp/changelog.d/23791.changed
Labels: none

[snmp] Re-categorize aruba-clearpass metric type fix as breaking change (#23844)
  snmp/changelog.d/23791.changed
Labels: none

Show exact run URL and add lifecycle comment to wheel promotion (#23828)
  .github/workflows/dependency-wheel-promotion.yaml
  ddev/changelog.d/23828.added
  ddev/src/ddev/cli/dep/promote.py
  ddev/src/ddev/utils/github.py
  ddev/tests/cli/dep/conftest.py
  ddev/tests/cli/dep/test_promote.py
  ddev/tests/utils/test_github.py
Labels: dev/tooling

Add _parse_config, config tags, and dedicated orch credentials
  hpe_aruba_edgeconnect/assets/configuration/spec.yaml
  hpe_aruba_edgeconnect/datadog_checks/hpe_aruba_edgeconnect/check.py
  hpe_aruba_edgeconnect/datadog_checks/hpe_aruba_edgeconnect/config_models/instance.py
  hpe_aruba_edgeconnect/datadog_checks/hpe_aruba_edgeconnect/data/conf.yaml.example
  hpe_aruba_edgeconnect/tests/conftest.py
  hpe_aruba_edgeconnect/tests/test_unit.py
Labels: none

Restructure Replay PBT report findings
  .github/workflows/scripts/replay-pbt-report.py
Labels: dev/tooling

Sync config descriptions
  hpe_aruba_edgeconnect/assets/configuration/spec.yaml
  hpe_aruba_edgeconnect/datadog_checks/hpe_aruba_edgeconnect/data/conf.yaml.example
Labels: none

Refine Replay PBT report sections
  .github/workflows/scripts/replay-pbt-report.py
Labels: dev/tooling

Add v2 downloader reviewer test coverage
  datadog_checks_downloader/tests/test_v2_downloader.py
Labels: none

Reuse v2 downloader test wheel name
  datadog_checks_downloader/tests/test_v2_downloader.py
Labels: none

Restore unsafe v1 fallback regression test
  datadog_checks_downloader/tests/test_v2_downloader.py
Labels: none

Write goal_attempt_log in checkpoints even if the validation failed
  ddev/src/ddev/ai/phases/agentic_phase.py
  ddev/tests/ai/phases/test_agentic_phase.py
Labels: none

Count tokens when GoalParseError is raised
  ddev/src/ddev/ai/phases/goal.py
  ddev/tests/ai/phases/test_goal.py
Labels: none

Pin coverage datadog action to the latest one
  .github/workflows/master-windows.yml
  .github/workflows/master.yml
  .github/workflows/pr-all-windows.yml
  .github/workflows/pr-all.yml
  .github/workflows/pr-test.yml
  .github/workflows/test-fips-e2e.yml
Labels: dev/tooling

Clarify replay validation POC reports
  .github/workflows/scripts/replay-pbt-combine-reports.py
  .github/workflows/scripts/replay-pbt-matrix.py
  .github/workflows/scripts/replay-pbt-report.py
  .github/workflows/scripts/replay-pbt-secret-scan.py
  .github/workflows/scripts/replay-validation-README.md
  .github/workflows/scripts/test_replay_pbt_report.py
  .github/workflows/zz-test-worker-poc.yaml
  datadog_checks_dev/datadog_checks/dev/replay/pbt/artifacts.py
  datadog_checks_dev/datadog_checks/dev/replay/pbt/properties.py
  ddev/src/ddev/cli/env/replay_pbt.py
  ddev/tests/cli/env/test_replay_pbt.py
  ddev/tests/cli/env/test_replay_static_contracts.py
Labels: documentation, dev/tooling

Measure OpenMetrics coverage empirically
  .github/workflows/scripts/replay-pbt-combine-reports.py
  .github/workflows/scripts/replay-pbt-report.py
  datadog_checks_dev/datadog_checks/dev/replay/openmetrics_mapper.py
  ddev/tests/cli/env/test_replay_pbt.py
Labels: dev/tooling

Pin coverage datadog action to the latest one (#23845)
  .github/workflows/master-windows.yml
  .github/workflows/master.yml
  .github/workflows/pr-all-windows.yml
  .github/workflows/pr-all.yml
  .github/workflows/pr-test.yml
  .github/workflows/test-fips-e2e.yml
Labels: dev/tooling

feat(downloader): add TUFPointerDownloader for v2 pointer-file format (#23144)
  datadog_checks_downloader/changelog.d/23144.added
  datadog_checks_downloader/datadog_checks/downloader/cli.py
  datadog_checks_downloader/datadog_checks/downloader/data/v2/metadata/root.json
  datadog_checks_downloader/datadog_checks/downloader/download_v2.py
  datadog_checks_downloader/datadog_checks/downloader/exceptions.py
  datadog_checks_downloader/pyproject.toml
  datadog_checks_downloader/tests/test_unit.py
  datadog_checks_downloader/tests/test_v2_downloader.py
Labels: none

Wait for the gamesim_primary index to be online before running tests
  couchbase/tests/conftest.py
Labels: none

Confirm gamesim_primary build completes before yielding environment
  couchbase/tests/conftest.py
Labels: none

Fix token counting
  ddev/src/ddev/ai/phases/agentic_phase.py
  ddev/src/ddev/ai/phases/goal.py
  ddev/tests/ai/phases/test_agentic_phase.py
  ddev/tests/ai/phases/test_goal.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
