Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

public docs (#19547)
  keda/manifest.json
Labels: none

Bump Snowflake dependency (#19545)
  agent_requirements.in
  snowflake/changelog.d/19545.added
  snowflake/pyproject.toml
Labels: none

Bump confluent-kafka OpenSSL version to 3.4.0 (#19546)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
  .builders/images/windows-x86_64/Dockerfile
Labels: none

Make Supabase docs public
  supabase/manifest.json
Labels: none

Bump Snowflake dependency (#19545)
  agent_requirements.in
  snowflake/changelog.d/19545.added
  snowflake/pyproject.toml
Labels: none

process signatures (#19540)
  keda/manifest.json
Labels: none

Make Supabase docs public (#19548)
  supabase/manifest.json
Labels: none

[INTPLAT-481] DDSaaS: Sanity: Crawler Integration without Assets (#19297)
  .github/workflows/config/labeler.yml
  sanity/CHANGELOG.md
  sanity/README.md
  sanity/assets/service_checks.json
  sanity/manifest.json
Labels: documentation, dev/tooling

fix timestamp and update readme
  octopus_deploy/README.md
  octopus_deploy/assets/logs/octopus_deploy_tests.yaml
Labels: documentation

fix timestamp
  octopus_deploy/assets/logs/octopus_deploy_tests.yaml
Labels: none

Update dependency resolution
  .deps/metadata.json
  .deps/resolved/linux-aarch64_3.12.txt
  .deps/resolved/linux-x86_64_3.12.txt
  .deps/resolved/macos-x86_64_3.12.txt
  .deps/resolved/windows-x86_64_3.12.txt
Labels: none

fix style;
  vsphere/datadog_checks/vsphere/event.py
Labels: none

allow for check to skip over empty brokerinfo
  amazon_msk/datadog_checks/amazon_msk/amazon_msk.py
  amazon_msk/datadog_checks/amazon_msk/check.py
  amazon_msk/tests/fixtures/list_nodes.json
  amazon_msk/tests/test_unit.py
Labels: none

changelog
  amazon_msk/changelog.d/19552.added
Labels: none

Update 19552.added
  amazon_msk/changelog.d/19552.added
Labels: none

Update 19552.added
  amazon_msk/changelog.d/19552.added
Labels: none

collect mongodb activity lsid and transaction
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/slow_operations.py
  mongo/datadog_checks/mongo/dbm/types.py
  mongo/tests/fixtures/$currentOp-mongos
  mongo/tests/results/operation-activities-mongos.json
  mongo/tests/results/operation-activities-standalone.json
  mongo/tests/results/operation-samples-mongos.json
  mongo/tests/results/operation-samples-standalone.json
Labels: none

add changelog
  mongo/changelog.d/19553.added
Labels: none

Sy/fix msk (#19552)
  amazon_msk/changelog.d/19552.added
  amazon_msk/datadog_checks/amazon_msk/amazon_msk.py
  amazon_msk/datadog_checks/amazon_msk/check.py
  amazon_msk/tests/fixtures/list_nodes.json
  amazon_msk/tests/test_unit.py
Labels: none

[SAASINT-3539] DDS: Tanium: Crawler Integration Without Assets (#19329)
  .github/workflows/config/labeler.yml
  tanium/CHANGELOG.md
  tanium/README.md
  tanium/assets/service_checks.json
  tanium/manifest.json
Labels: documentation, dev/tooling

Update manifest (#19525)
  trend_micro_vision_one_xdr/manifest.json
Labels: none

edit readme
  docs/README.md
Labels: documentation

edit readme
  docs/README.md
Labels: documentation

Fix casing (#19541)
  keda/README.md
  keda/manifest.json
Labels: documentation

add new line in README
  docs/README.md
Labels: documentation

[mongo] collect mongodb activity lsid and transaction (#19553)
  mongo/changelog.d/19553.added
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/slow_operations.py
  mongo/datadog_checks/mongo/dbm/types.py
  mongo/tests/fixtures/$currentOp-mongos
  mongo/tests/results/operation-activities-mongos.json
  mongo/tests/results/operation-activities-standalone.json
  mongo/tests/results/operation-samples-mongos.json
  mongo/tests/results/operation-samples-standalone.json
Labels: none

Remove LLMObs logs/metrics references
  langchain/README.md
  openai/README.md
Labels: documentation

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update README.md
  servicenow_performance/README.md
Labels: documentation

Update README.md
  servicenow_performance/README.md
Labels: documentation

Bump confluent-kafka OpenSSL version to 3.4.0 (#19546)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
  .builders/images/windows-x86_64/Dockerfile
Labels: none

Improve healthchecks for docker compose
  .github/workflows/fips-test.yml
  .github/workflows/fips/compose/compose-linux.yml
  .github/workflows/fips/compose/compose-windows.yml
Labels: dev/tooling

Update dependency resolution
  .deps/metadata.json
  .deps/resolved/linux-aarch64_3.12.txt
  .deps/resolved/linux-x86_64_3.12.txt
  .deps/resolved/macos-x86_64_3.12.txt
  .deps/resolved/windows-x86_64_3.12.txt
Labels: none

Add workaround for Windows
  .github/workflows/fips/tests/test_libraries.py
Labels: dev/tooling

Vonage Integrations:Added ddtags in results
  vonage/assets/logs/vonage_tests.yaml
Labels: none

Lengthen healthcheck for windows servers
  .github/workflows/fips/compose/compose-windows.yml
Labels: dev/tooling

Vonage Integrations:Added ddtags in results
  vonage/assets/logs/vonage_tests.yaml
Labels: none

fix: add assertions for new stats
  couch/metadata.csv
Labels: none

[Release] Bumped snowflake version to 7.3.0
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/changelog.d/19545.added
  snowflake/datadog_checks/snowflake/__about__.py
Labels: documentation
