Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

add ls for troubleshooting in the future
  .github/workflows/build-ddev.yml
Labels: dev/tooling

fix gh action that uploads standalone binaries (#18340)
  .github/workflows/build-ddev.yml
Labels: dev/tooling

collection metrics should be optional
  mongo/datadog_checks/mongo/mongo.py
Labels: none

Add to test fixture and update tests and metadata
  fly_io/datadog_checks/fly_io/metrics.py
  fly_io/metadata.csv
  fly_io/tests/fixtures/output.txt
  fly_io/tests/metrics.py
  fly_io/tests/test_e2e.py
  fly_io/tests/test_unit.py
Labels: none

add changelog
  mongo/changelog.d/18342.fixed
Labels: none

[Release] Bumped datadog_checks_dev version to 33.1.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/18213.added
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

[mongo] collection stats metrics should be optional (#18342)
  mongo/changelog.d/18342.fixed
  mongo/datadog_checks/mongo/mongo.py
Labels: none

[mongo] collection stats metrics should be optional (#18342)
  mongo/changelog.d/18342.fixed
  mongo/datadog_checks/mongo/mongo.py
Labels: none

Propagate agent host tags for postgres
  postgres/datadog_checks/postgres/config.py
Labels: none

test
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Labels: none

test
  postgres/datadog_checks/postgres/config.py
Labels: none

Bumped datadog_checks_dev version to 33.1.0 (#18343)
  .in-toto/tag.ec45eb9d.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/18213.added
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

bump dcd
  ddev/pyproject.toml
Labels: none

Update README.md (#18238)
  redisdb/README.md
Labels: documentation

DOCS-8540 - Put AD table in NGINX readme (#18239)
  nginx/README.md
Labels: documentation

changelog
  ddev/changelog.d/18346.added
Labels: none

begin moving metrics to agent_history to send to backend
  sqlserver/datadog_checks/sqlserver/agent_history.py
Labels: none

Bump dcd in ddev (#18346)
  ddev/changelog.d/18346.added
  ddev/pyproject.toml
Labels: none

[Release] Bumped ddev version to 10.1.0
  ddev/CHANGELOG.md
  ddev/changelog.d/18213.added
  ddev/changelog.d/18221.added
  ddev/changelog.d/18271.fixed
  ddev/changelog.d/18346.added
Labels: documentation

[Release] Bumped ddev version to 10.1.0 (#18347)
  ddev/CHANGELOG.md
  ddev/changelog.d/18213.added
  ddev/changelog.d/18221.added
  ddev/changelog.d/18271.fixed
  ddev/changelog.d/18346.added
Labels: documentation

fix tests
  ssh_check/tests/common.py
Labels: none

remove broken step
  .github/workflows/build-ddev.yml
Labels: dev/tooling

remove broken step (#18349)
  .github/workflows/build-ddev.yml
Labels: dev/tooling

remove broken step (#18349) 138b5e104dc6be1f2103713391e82cfc43c0120f
  search/search_index.json
  setup/index.html
Labels: none

make the changelog one line
  postgres/changelog.d/18331.changed
Labels: none

feat(ray): improve ray serve metrics
  ray/datadog_checks/ray/metrics.py
Labels: none

use debug log
  postgres/datadog_checks/postgres/postgres.py
Labels: none

Review comment incorporated
  contentful/README.md
Labels: documentation

Initial Commit
  .github/CODEOWNERS
  godaddy/CHANGELOG.md
  godaddy/README.md
  godaddy/assets/dashboards/godaddy.json
  godaddy/assets/godaddy.svg
  godaddy/assets/monitors/godaddy_certificate_denied.json
  godaddy/assets/monitors/godaddy_certificate_expired.json
  godaddy/assets/monitors/godaddy_certificate_in_an_error_state.json
  godaddy/assets/monitors/godaddy_certificate_revoked.json
  godaddy/assets/monitors/godaddy_days_remaining_for_expiration_of_certificate.json
  godaddy/assets/monitors/godaddy_domain_dropped_from_request.json
  godaddy/assets/monitors/godaddy_domain_fraud_detected.json
  godaddy/assets/monitors/godaddy_domain_verification_failed.json
  godaddy/assets/service_checks.json
  godaddy/images/godaddy.png
  godaddy/manifest.json
  godaddy/metadata.csv
Labels: documentation

updated tags for monitors
  godaddy/assets/monitors/godaddy_certificate_denied.json
  godaddy/assets/monitors/godaddy_certificate_expired.json
  godaddy/assets/monitors/godaddy_certificate_in_an_error_state.json
  godaddy/assets/monitors/godaddy_certificate_revoked.json
  godaddy/assets/monitors/godaddy_days_remaining_for_expiration_of_certificate.json
  godaddy/assets/monitors/godaddy_domain_dropped_from_request.json
  godaddy/assets/monitors/godaddy_domain_fraud_detected.json
  godaddy/assets/monitors/godaddy_domain_verification_failed.json
Labels: none

updated labeler file
  .github/workflows/config/labeler.yml
Labels: dev/tooling

update metadata.csv
  godaddy/metadata.csv
Labels: none

Update README Content
  trend_micro_vision_one_endpoint_security/README.md
  trend_micro_vision_one_endpoint_security/assets/dashboards/trend_micro_vision_one_endpoint_security_data_loss_prevention.json
  trend_micro_vision_one_endpoint_security/assets/dashboards/trend_micro_vision_one_endpoint_security_network_events.json
  trend_micro_vision_one_endpoint_security/assets/dashboards/trend_micro_vision_one_endpoint_security_system_events.json
  trend_micro_vision_one_endpoint_security/assets/logs/trend-micro-vision-one-endpoint-security.yaml
  trend_micro_vision_one_endpoint_security/assets/logs/trend-micro-vision-one-endpoint-security_tests.yaml
Labels: documentation

updated readme file
  godaddy/README.md
Labels: documentation

Finalize Agent release 7.56.0
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
  amazon_msk/CHANGELOG.md
  cisco_aci/CHANGELOG.md
  clickhouse/CHANGELOG.md
  cloudera/CHANGELOG.md
  datadog_checks_base/CHANGELOG.md
  esxi/CHANGELOG.md
  etcd/CHANGELOG.md
  http_check/CHANGELOG.md
  kafka_consumer/CHANGELOG.md
  kyverno/CHANGELOG.md
  mongo/CHANGELOG.md
  mysql/CHANGELOG.md
  openstack_controller/CHANGELOG.md
  postgres/CHANGELOG.md
  process/CHANGELOG.md
  redisdb/CHANGELOG.md
  snowflake/CHANGELOG.md
  sqlserver/CHANGELOG.md
  tcp_check/CHANGELOG.md
  teamcity/CHANGELOG.md
  tls/CHANGELOG.md
  vllm/CHANGELOG.md
  vsphere/CHANGELOG.md
  windows_service/CHANGELOG.md
Labels: documentation

Pass explicit paths for building lxml
  .builders/images/macos-x86_64/extra_build.sh
Labels: none

Update Dashobard content
  trend_micro_vision_one_endpoint_security/assets/dashboards/trend_micro_vision_one_endpoint_security_network_events.json
  trend_micro_vision_one_endpoint_security/assets/dashboards/trend_micro_vision_one_endpoint_security_system_events.json
Labels: none

removed non ascii characters from readme.md
  godaddy/README.md
Labels: documentation

Add verbose flag to confirm version
  .builders/scripts/build_wheels.py
Labels: none
