Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Remove logging
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
  postgres/datadog_checks/postgres/statements.py
Labels: none

Lint fixes
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_apply_called_queries.py
Labels: none

Remove more logs
  postgres/datadog_checks/postgres/statements.py
Labels: none

Expire baseline metrics cache based on size.
  postgres/datadog_checks/postgres/statements.py
Labels: none

Skip package that's blocked on pypi
  .github/workflows/scripts/build_placeholders.sh
Labels: dev/tooling

fix bash syntax error
  .github/workflows/scripts/build_placeholders.sh
Labels: dev/tooling

Simplify submit-trace action and adjust it to new artifact upload
  .github/workflows/submit-traces.yml
Labels: dev/tooling

Simplify submit-trace action and adjust it to new artifact upload (#17589)
  .github/workflows/submit-traces.yml
Labels: dev/tooling

Upgrade action that adds assets to github release (#17586)
  .github/workflows/build-ddev.yml
Labels: dev/tooling

Give some context to the test-target action (#17578)
  .github/workflows/test-target.yml
Labels: dev/tooling

monitors and dashboard
  kubernetes_cluster_autoscaler/assets/dashboards/kubernetes_cluster_autoscaler_overview.json
  kubernetes_cluster_autoscaler/assets/monitors/KCA_not_safe_to_autosclae.json
  kubernetes_cluster_autoscaler/assets/monitors/KCA_reporting_errors.json
  kubernetes_cluster_autoscaler/assets/monitors/KCA_unused_nodes_forecast.json
  kubernetes_cluster_autoscaler/assets/service_checks.json
Labels: none

create kube cluster autoscaler integration
  kubernetes_autoscaler/CHANGELOG.md
  kubernetes_autoscaler/README.md
  kubernetes_autoscaler/assets/configuration/spec.yaml
  kubernetes_autoscaler/datadog_checks/kubernetes_autoscaler/config_models/defaults.py
  kubernetes_autoscaler/datadog_checks/kubernetes_autoscaler/config_models/instance.py
  kubernetes_autoscaler/datadog_checks/kubernetes_autoscaler/data/conf.yaml.example
  kubernetes_cluster_autoscaler/CHANGELOG.md
  kubernetes_cluster_autoscaler/README.md
  kubernetes_cluster_autoscaler/assets/configuration/spec.yaml
  kubernetes_cluster_autoscaler/assets/dashboards/kubernetes_cluster_autoscaler_overview.json
  kubernetes_cluster_autoscaler/assets/service_checks.json
  kubernetes_cluster_autoscaler/changelog.d/1.added
  kubernetes_cluster_autoscaler/datadog_checks/__init__.py
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/__about__.py
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/__init__.py
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/check.py
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/config_models/__init__.py
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/config_models/defaults.py
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/config_models/instance.py
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/config_models/shared.py
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/config_models/validators.py
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/data/conf.yaml.example
  kubernetes_cluster_autoscaler/hatch.toml
  kubernetes_cluster_autoscaler/images/IMAGES_README.md
  kubernetes_cluster_autoscaler/manifest.json
  kubernetes_cluster_autoscaler/metadata.csv
  kubernetes_cluster_autoscaler/pyproject.toml
  kubernetes_cluster_autoscaler/tests/__init__.py
  kubernetes_cluster_autoscaler/tests/conftest.py
  kubernetes_cluster_autoscaler/tests/test_unit.py
Labels: documentation

validate ci
  .codecov.yml
  .github/workflows/test-all.yml
Labels: dev/tooling

implement check
  kubernetes_cluster_autoscaler/assets/configuration/spec.yaml
  kubernetes_cluster_autoscaler/assets/service_checks.json
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/data/conf.yaml.example
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/metrics.py
Labels: none

add metadata file
  kubernetes_cluster_autoscaler/metadata.csv
Labels: none

check.py
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/check.py
Labels: none

typos
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/check.py
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/metrics.py
  kubernetes_cluster_autoscaler/metadata.csv
  kubernetes_cluster_autoscaler/tests/common.py
  kubernetes_cluster_autoscaler/tests/fixtures/kubernetes_cluster_autoscaler_metrics.txt
Labels: none

remove integration tag
  kubernetes_cluster_autoscaler/assets/monitors/KCA_not_safe_to_autosclae.json
  kubernetes_cluster_autoscaler/assets/monitors/KCA_reporting_errors.json
  kubernetes_cluster_autoscaler/assets/monitors/KCA_unused_nodes_forecast.json
Labels: none

monitors
  kubernetes_cluster_autoscaler/assets/monitors/KCA_not_safe_to_autosclae.json
  kubernetes_cluster_autoscaler/assets/monitors/KCA_reporting_errors.json
  kubernetes_cluster_autoscaler/assets/monitors/KCA_unused_nodes_forecast.json
Labels: none

implement tests 3
  kubernetes_cluster_autoscaler/assets/configuration/spec.yaml
  kubernetes_cluster_autoscaler/tests/fixtures/kubernetes_cluster_autoscaler_metrics.txt
  kubernetes_cluster_autoscaler/tests/test_unit.py
Labels: none

metadata file
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/check.py
  kubernetes_cluster_autoscaler/manifest.json
  kubernetes_cluster_autoscaler/metadata.csv
Labels: none

create kub autoscaler integration
  kubernetes_autoscaler/CHANGELOG.md
  kubernetes_autoscaler/README.md
  kubernetes_autoscaler/assets/configuration/spec.yaml
  kubernetes_autoscaler/assets/dashboards/kubernetes_autoscaler_overview.json
  kubernetes_autoscaler/assets/service_checks.json
  kubernetes_autoscaler/changelog.d/1.added
  kubernetes_autoscaler/datadog_checks/__init__.py
  kubernetes_autoscaler/datadog_checks/kubernetes_autoscaler/__about__.py
  kubernetes_autoscaler/datadog_checks/kubernetes_autoscaler/__init__.py
  kubernetes_autoscaler/datadog_checks/kubernetes_autoscaler/check.py
  kubernetes_autoscaler/datadog_checks/kubernetes_autoscaler/config_models/__init__.py
  kubernetes_autoscaler/datadog_checks/kubernetes_autoscaler/config_models/defaults.py
  kubernetes_autoscaler/datadog_checks/kubernetes_autoscaler/config_models/instance.py
  kubernetes_autoscaler/datadog_checks/kubernetes_autoscaler/config_models/shared.py
  kubernetes_autoscaler/datadog_checks/kubernetes_autoscaler/config_models/validators.py
  kubernetes_autoscaler/datadog_checks/kubernetes_autoscaler/data/conf.yaml.example
  kubernetes_autoscaler/hatch.toml
  kubernetes_autoscaler/images/IMAGES_README.md
  kubernetes_autoscaler/manifest.json
  kubernetes_autoscaler/metadata.csv
  kubernetes_autoscaler/pyproject.toml
  kubernetes_autoscaler/tests/__init__.py
  kubernetes_autoscaler/tests/conftest.py
  kubernetes_autoscaler/tests/test_unit.py
Labels: documentation

manifest
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/data/conf.yaml.example
  kubernetes_cluster_autoscaler/manifest.json
Labels: none

implement tests 2
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/metrics.py
  kubernetes_cluster_autoscaler/tests/fixtures/kubernetes_cluster_autoscaler_metrics.txt
Labels: none

typo
  kubernetes_cluster_autoscaler/manifest.json
Labels: none

typo
  kubernetes_cluster_autoscaler/assets/monitors/KCA_not_safe_to_autosclae.json
  kubernetes_cluster_autoscaler/assets/monitors/KCA_reporting_errors.json
  kubernetes_cluster_autoscaler/assets/monitors/KCA_unused_nodes_forecast.json
Labels: none

implement tests
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/metrics.py
  kubernetes_cluster_autoscaler/manifest.json
  kubernetes_cluster_autoscaler/metadata.csv
  kubernetes_cluster_autoscaler/tests/common.py
  kubernetes_cluster_autoscaler/tests/conftest.py
  kubernetes_cluster_autoscaler/tests/docker/Caddyfile
  kubernetes_cluster_autoscaler/tests/docker/docker-compose.yaml
  kubernetes_cluster_autoscaler/tests/fixtures/kubernetes_cluster_autoscaler_metrics.txt
  kubernetes_cluster_autoscaler/tests/test_e2e.py
  kubernetes_cluster_autoscaler/tests/test_unit.py
Labels: none

changelog
  kubernetes_cluster_autoscaler/changelog.d/17463.added
  kubernetes_cluster_autoscaler/metadata.csv
Labels: none

labeler
  .github/workflows/config/labeler.yml
Labels: dev/tooling

linter
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/check.py
Labels: none

changelog
  kubernetes_cluster_autoscaler/CHANGELOG.md
  kubernetes_cluster_autoscaler/datadog_checks/kubernetes_cluster_autoscaler/metrics.py
Labels: documentation

update dashboard
  kubernetes_cluster_autoscaler/assets/dashboards/kubernetes_cluster_autoscaler_overview.json
Labels: none

Add unit and end to end tests
  traefik_mesh/datadog_checks/traefik_mesh/check.py
  traefik_mesh/metadata.csv
  traefik_mesh/tests/common.py
  traefik_mesh/tests/conftest.py
  traefik_mesh/tests/fixtures/mesh_proxy_version.json
  traefik_mesh/tests/test_e2e.py
  traefik_mesh/tests/test_unit.py
Labels: none

Make Teleport Documentation Public (#17568)
  teleport/README.md
  teleport/manifest.json
Labels: documentation

Send database instance metdata prior to check queries
  postgres/datadog_checks/postgres/postgres.py
Labels: none

Add changelog
  postgres/changelog.d/17590.fixed
Labels: none

fix typo
  postgres/changelog.d/17590.fixed
Labels: none

addressed comments
  openstack_controller/datadog_checks/openstack_controller/components/heat.py
  openstack_controller/datadog_checks/openstack_controller/metrics.py
  openstack_controller/metadata.csv
  openstack_controller/tests/metrics.py
Labels: none

reordered metadata.csv
  openstack_controller/metadata.csv
Labels: none

Postgres Performance Optimization: Cache baseline metrics and apply updates incrementaly (#17554)
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/17554.fixed
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/query_calls_cache.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_apply_called_queries.py
  postgres/tests/test_query_calls_cache.py
  postgres/tests/test_statements.py
Labels: none
