Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

[Release] Update metadata
  .in-toto/tag.b023b02a.link
Labels: none

Apply types
  win32_event_log/datadog_checks/win32_event_log/win32_event_log.py
  win32_event_log/setup.py
  win32_event_log/tox.ini
Labels: none

Improve autodiscovery support
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/tests/test_check.py
Labels: none

Release checks base 11.6.0 (#6525)
  .in-toto/tag.4a5409a2.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

Style fix
  postgres/tests/test_integration.py
Labels: none

try pytest check
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_dev/setup.py
  lighttpd/tests/test_check.py
Labels: none

Fix style
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
Labels: none

update .azure-pipelines/changes.yml
  .azure-pipelines/changes.yml
Labels: dev/testing

changed
  clickhouse/datadog_checks/clickhouse/clickhouse.py
Labels: none

clean up
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_dev/setup.py
  lighttpd/tests/test_check.py
Labels: none

Remove multi instance hacks (#6510)
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_integration.py
Labels: none

Move custom metrics to config
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/postgres.py
Labels: none

Refactor _connect (#6509)
  postgres/datadog_checks/postgres/postgres.py
Labels: none

Style fix
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/postgres.py
Labels: none

Update to original metric name and assert metadata in e2e
  gitlab/datadog_checks/gitlab/metrics.py
  gitlab/metadata.csv
  gitlab/tests/common.py
  gitlab/tests/test_integration_e2e.py
Labels: none

Use right constructor
  win32_event_log/datadog_checks/win32_event_log/win32_event_log.py
Labels: none

Add HiveMQ integration
  hivemq/CHANGELOG.md
  hivemq/MANIFEST.in
  hivemq/README.md
  hivemq/assets/configuration/spec.yaml
  hivemq/assets/service_checks.json
  hivemq/datadog_checks/__init__.py
  hivemq/datadog_checks/hivemq/__about__.py
  hivemq/datadog_checks/hivemq/__init__.py
  hivemq/datadog_checks/hivemq/data/conf.yaml.example
  hivemq/datadog_checks/hivemq/data/metrics.yaml
  hivemq/manifest.json
  hivemq/metadata.csv
  hivemq/requirements-dev.txt
  hivemq/requirements.in
  hivemq/setup.py
  hivemq/tests/__init__.py
  hivemq/tests/common.py
  hivemq/tests/conftest.py
  hivemq/tests/docker/docker-compose.yaml
  hivemq/tests/test_e2e.py
  hivemq/tox.ini
Labels: documentation

Bump checks base
  wmi_check/setup.py
Labels: none

[Release] Bumped hivemq version to 0.1.0-rc.1
  hivemq/CHANGELOG.md
  hivemq/datadog_checks/hivemq/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.c295cf63.link
Labels: none

Pass wmi_sampler to extract metrics
  wmi_check/datadog_checks/wmi_check/wmi_check.py
Labels: none

style fix
  wmi_check/datadog_checks/wmi_check/wmi_check.py
Labels: none

Update wording for more metrics
  aerospike/metadata.csv
Labels: none

Fix typo in metadata.csv
  gitlab/metadata.csv
Labels: none

Revert metric type change and use assert metadata in only e2e
  gitlab_runner/metadata.csv
  gitlab_runner/tests/test_integration_e2e.py
Labels: none

Send monotonic counter in e2e
  gitlab_runner/tests/common.py
Labels: none

add linux (#13)
  sqlserver/manifest.json
Labels: none

Assert metadata and remove duplicate descriptions
  rabbitmq/metadata.csv
  rabbitmq/tests/test_integration_e2e.py
Labels: none

remove ref to cisco base
  snmp/datadog_checks/snmp/data/profiles/_base_cisco.yaml
Labels: none

increase wait
  hazelcast/tests/conftest.py
Labels: none

add hazelcast 2
  hazelcast/tests/docker/docker-compose.yaml
Labels: none

update .azure-pipelines/changes.yml
  .azure-pipelines/changes.yml
Labels: dev/testing

disable logs
  hazelcast/tests/docker/docker-compose.yaml
Labels: none

Add restart
  hazelcast/tests/docker/docker-compose.yaml
Labels: none

changed
  hazelcast/datadog_checks/hazelcast/check.py
Labels: none

revert hazelcast/tests/conftest.py
  hazelcast/tests/conftest.py
Labels: none

Exclude flaky metric
  hazelcast/tests/metrics.py
  hazelcast/tests/test_e2e.py
Labels: none

revert changes
  hazelcast/tests/docker/docker-compose.yaml
Labels: none

wait jmx ready
  hazelcast/requirements-dev.txt
  hazelcast/tests/conftest.py
Labels: none

Better conditions
  hazelcast/tests/conftest.py
Labels: none
