Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

set wsrep_local_cert_failures as MONOTONIC
  mysql/datadog_checks/mysql/const.py
  mysql/metadata.csv
Labels: none

[tests] [detailed_index_stats] Asserting rest of metrics for tests to pass
  elastic/metadata.csv
  elastic/tests/test_elastic.py
Labels: none

Fix test
  mapr/tests/conftest.py
Labels: none

[elastic] Adding correct columns to elastic/metadata.csv
  elastic/metadata.csv
Labels: none

Bump base package dependency
  iis/setup.py
Labels: none

Group by host to return number of nodes (#10647)
  elastic/assets/dashboards/overview.json
Labels: none

Add singlestore dashboard (#10662)
  singlestore/assets/dashboards/overview.json
  singlestore/assets/dashboards/singlestore_overview.json
  singlestore/manifest.json
Labels: none

[elastic] Adding missing metrics to metadata.csv
  elastic/metadata.csv
Labels: none

Bump base package dependency
  hyperv/setup.py
Labels: none

Add profile metadata for Cisco Catalyst and 3850 (#10767)
  snmp/datadog_checks/snmp/data/profiles/_cisco-catalyst.yaml
  snmp/datadog_checks/snmp/data/profiles/_cisco-generic.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-3850.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-asa-5525.yaml
  snmp/tests/compose/data/cisco-catalyst.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: none

Update Vault dashboard to add security content (#10707)
  vault/assets/dashboards/vault_overview.json
Labels: none

Bump base package dependency (#10797)
  hyperv/setup.py
  iis/setup.py
Labels: none

Begin _get_enabled_apis to dynamically determine enabled apis
  nginx/datadog_checks/nginx/nginx.py
Labels: none

Update with rc3
  hudi/tests/docker/docker-compose.yaml
Labels: none

DOCS-2530 Lint Integrations section (part 3) (#10795)
  containerd/README.md
  coredns/README.md
  couch/README.md
  couchbase/README.md
  cri/README.md
  databricks/README.md
  dns_check/README.md
  docker_daemon/README.md
  ecs_fargate/README.md
Labels: documentation

Add new dashboard for NGINX (#10540)
  nginx/assets/dashboards/NGINX-Overview_dashboard.json
Labels: none

Update comment typo and fix units in metadata.csv
  nginx/datadog_checks/nginx/metrics.py
  nginx/metadata.csv
Labels: none

Remove peer unit
  nginx/metadata.csv
Labels: none

[elastic] Remove system.* metrics from metadata.csv for now
  elastic/metadata.csv
Labels: none

[elastic] Remove system.* metrics from assert_metrics_using_metadata
  elastic/tests/test_elastic.py
Labels: none

[elastic] Remove aggregator.assert_all_metrics_covered()
  elastic/tests/test_elastic.py
Labels: none

[elastic] python-black on elastic/tests/test_elastic.py
  elastic/tests/test_elastic.py
Labels: none

add missing unit for metric
  couchbase/metadata.csv
Labels: none

Disable validations on PRs (#10785)
  .azure-pipelines/changes.yml
Labels: dev/testing

DOCS-2530 Lint Integrations section (part 4)
  eks_fargate/README.md
  elastic/README.md
  envoy/README.md
  etcd/README.md
  exchange_server/README.md
  flink/README.md
  fluentd/README.md
  gearmand/README.md
  gitlab/README.md
  gitlab_runner/README.md
  gke/README.md
Labels: documentation

Ignore agent_metrics in metric_to_check validator
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/common/validator.py
Labels: none

Update agent_metrics/README.md
  agent_metrics/README.md
Labels: documentation

fix
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/common/validator.py
Labels: none

small nits and metadata edits
  couchbase/datadog_checks/couchbase/couchbase_consts.py
  couchbase/metadata.csv
  couchbase/tests/common.py
  couchbase/tests/conftest.py
  couchbase/tests/test_couchbase.py
Labels: none

Change no_data_timeframe to none
  hudi/assets/monitors/commit_duration.json
Labels: none

styling
  couchbase/tests/test_couchbase.py
Labels: none

small tweak in test
  couchbase/tests/test_couchbase.py
Labels: none

Make service checks more verbose, remove port and use host_address
  silk/assets/configuration/spec.yaml
  silk/datadog_checks/silk/check.py
  silk/datadog_checks/silk/config_models/defaults.py
  silk/datadog_checks/silk/config_models/instance.py
  silk/datadog_checks/silk/data/conf.yaml.example
  silk/datadog_checks/silk/metrics.py
  silk/manifest.json
  silk/tests/common.py
  silk/tests/conftest.py
Labels: none

Add metrics metadata
  silk/manifest.json
  silk/metadata.csv
Labels: none

Update envoy/tests/legacy/test_bench.py
  envoy/tests/legacy/test_bench.py
Labels: none

Fix url in test env, clean up sc
  silk/datadog_checks/silk/check.py
  silk/tests/common.py
  silk/tests/conftest.py
  silk/tests/docker/docker-compose.yaml
  silk/tests/docker/silk_metrics/api/v2/events
  silk/tests/docker/silk_metrics/api/v2/hosts
  silk/tests/docker/silk_metrics/api/v2/stats/system
  silk/tests/docker/silk_metrics/api/v2/stats/volumes
  silk/tests/docker/silk_metrics/api/v2/system/capacity
  silk/tests/docker/silk_metrics/api/v2/system/servers
  silk/tests/docker/silk_metrics/api/v2/system/state
  silk/tests/docker/silk_metrics/api/v2/volumes
  silk/tests/docker/silk_metrics/volumes
  silk/tests/test_silk.py
Labels: none

Document service checks
  silk/assets/service_checks.json
Labels: none

Update e2e mock responses
  silk/README.md
  silk/tests/docker/silk_metrics/api/v2/events
  silk/tests/docker/silk_metrics/api/v2/hosts
  silk/tests/docker/silk_metrics/api/v2/replication/stats/system
  silk/tests/docker/silk_metrics/api/v2/replication/stats/volumes
  silk/tests/docker/silk_metrics/api/v2/stats/system
  silk/tests/docker/silk_metrics/api/v2/stats/volumes
  silk/tests/docker/silk_metrics/api/v2/system/capacity
  silk/tests/docker/silk_metrics/api/v2/system/state
  silk/tests/docker/silk_metrics/api/v2/volumes
Labels: documentation

Add metrics to assert
  silk/metadata.csv
  silk/tests/common.py
  silk/tests/docker/silk_metrics/api/v2/snapshots
  silk/tests/test_silk.py
Labels: none

Configure test env for TCPS
  oracle/tests/conftest.py
  oracle/tests/docker/Dockerfile
  oracle/tests/docker/docker-compose.yaml
  oracle/tests/docker/server/listener.ora
  oracle/tests/docker/server/server_wallet/cwallet.sso
  oracle/tests/docker/server/server_wallet/cwallet.sso.lck
  oracle/tests/docker/server/server_wallet/ewallet.p12
  oracle/tests/docker/server/server_wallet/ewallet.p12.lck
  oracle/tests/docker/server/tnsnames.ora
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
