Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

enrich ndm interface metrics with redapl tags
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/tests/test_fabric.py
Labels: none

tag metrics by redapl tags'
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/tests/test_fabric.py
Labels: none

[NDMII-3524] Direct users to profile onboarding docs from ddev SNMP profiles docs (#21201)
  docs/developer/tutorials/snmp/profiles.md
Labels: documentation

all plats
  .github/workflows/size-quality-gates.yml
Labels: dev/tooling

Update barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

pinned actions
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/size-qg-prev-dep-sizes-json.yml
Labels: dev/tooling

PG: Directly run ANALYZE for the test_analyze_progress
  postgres/tests/test_progress_stats.py
Labels: none

Update dashboard guidelines in docs
  docs/developer/guidelines/dashboards.md
Labels: documentation

Collect consumer group state only once per consumer group.
  kafka_consumer/changelog.d/9999.fixed
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_unit.py
Labels: none

Fix changelog.
  kafka_consumer/changelog.d/21221.fixed
  kafka_consumer/changelog.d/9999.fixed
Labels: none

PG: Only test backend transaction age on test app
  postgres/tests/test_pg_integration.py
Labels: none

updated GROK syntax
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Labels: none

last run
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/size-qg-prev-dep-sizes-json.yml
  .github/workflows/size-quality-gates.yml
Labels: dev/tooling

PG: Use dedicated application_name for vacuum and tx age tests
  postgres/tests/test_pg_integration.py
Labels: none

[kafka_consumer] Improve efficiency of collecting consumer group state. (#21221)
  kafka_consumer/changelog.d/21221.fixed
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_unit.py
Labels: none

updated test yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

format
  ddev/src/ddev/cli/size/utils/gha_diff.py
Labels: none

PG: Directly run ANALYZE for the test_analyze_progress (#21219)
  postgres/tests/test_pg_integration.py
  postgres/tests/test_progress_stats.py
Labels: none

Add close connection test
  postgres/tests/test_cursor.py
Labels: none

uncomment changes
  ddev/src/ddev/cli/size/utils/gha_diff.py
Labels: none

test
  .builders/scripts/build_wheels.py
Labels: none

Fix context count
  kafka_consumer/changelog.d/21201.fixed
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_unit.py
Labels: none

Edit changelog.
  kafka_consumer/changelog.d/21201.fixed
Labels: none

test
  .builders/scripts/build_wheels.py
  .github/workflows/resolve-build-deps.yaml
  ddev/src/ddev/cli/size/utils/gha_diff.py
Labels: dev/tooling

Fix changelog PR number.
  kafka_consumer/changelog.d/21223.fixed
Labels: none

uncomment all
  .builders/scripts/build_wheels.py
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/size-qg-prev-dep-sizes-json.yml
  .github/workflows/size-quality-gates.yml
  ddev/src/ddev/cli/size/utils/gha_diff.py
Labels: dev/tooling

simplify
  .builders/scripts/repair_wheels.py
  .builders/scripts/utils.py
Labels: none

simplify
  ddev/src/ddev/cli/size/utils/gha_diff.py
Labels: none

lint
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
Labels: none

remove comment
  .github/workflows/size-qg-prev-dep-sizes-json.yml
  ddev/src/ddev/cli/size/utils/common_funcs.py
Labels: dev/tooling

import
  .builders/scripts/repair_wheels.py
Labels: none

lint
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

lint
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
Labels: none

Add PipelineRun TaskRun duration metrics and refactor test setup
  tekton/metadata.csv
  tekton/tests/conftest.py
  tekton/tests/kind/tekton-pipeline-bye.yaml
  tekton/tests/kind/tekton-pipeline-install.yaml
  tekton/tests/kind/tekton-pipelinerun-bye.yaml
  tekton/tests/kind/tekton-task-bye.yaml
  tekton/tests/kind/tekton-taskrun-bye.yaml
  tekton/tests/kind/tekton-trigger-install.yaml
Labels: none

Force check log conditions in tests for specific service
  voltdb/hatch.toml
  voltdb/tests/conftest.py
Labels: none

Force check log conditions in tests for specific service
  voltdb/hatch.toml
  voltdb/tests/conftest.py
Labels: none

Run the formatter.
  kafka_consumer/tests/test_unit.py
Labels: none

Force check log conditions in tests for specific service (#21227)
  voltdb/hatch.toml
  voltdb/tests/conftest.py
Labels: none

[CONTP-902] Implement datadog_csi_driver check (#21151)
  .codecov.yml
  .ddqa/config.toml
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  datadog_csi_driver/CHANGELOG.md
  datadog_csi_driver/README.md
  datadog_csi_driver/assets/configuration/spec.yaml
  datadog_csi_driver/assets/dashboards/datadog_csi_driver_overview.json
  datadog_csi_driver/changelog.d/21151.added
  datadog_csi_driver/datadog_checks/datadog_csi_driver/__about__.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/__init__.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/check.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/config_models/__init__.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/config_models/defaults.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/config_models/instance.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/config_models/shared.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/config_models/validators.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/data/auto_conf.yaml
  datadog_csi_driver/datadog_checks/datadog_csi_driver/data/conf.yaml.example
  datadog_csi_driver/hatch.toml
  datadog_csi_driver/images/IMAGES_README.md
  datadog_csi_driver/manifest.json
  datadog_csi_driver/metadata.csv
  datadog_csi_driver/pyproject.toml
  datadog_csi_driver/tests/__init__.py
  datadog_csi_driver/tests/common.py
  datadog_csi_driver/tests/conftest.py
  datadog_csi_driver/tests/docker/Caddyfile
  datadog_csi_driver/tests/docker/docker-compose.yaml
  datadog_csi_driver/tests/fixtures/metrics.txt
  datadog_csi_driver/tests/test_unit.py
Labels: documentation, dev/tooling
