Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Fix typo in test
  datadog_checks_dev/tests/tooling/manifest_validator/test_v2_validator.py
Labels: none

Remove bench
  ibm_db2/tox.ini
Labels: none

Remove benchmarks
  ibm_db2/requirements-dev.txt
  ibm_db2/tox.ini
Labels: none

Remove benchmarks
  ibm_db2/tox.ini
Labels: none

Add only_custom_query option
  datadog_checks_base/datadog_checks/base/utils/db/core.py
  datadog_checks_base/tests/base/utils/db/test_custom_queries.py
Labels: none

Pin setuptools
  .azure-pipelines/templates/install-deps.yml
Labels: dev/testing

Test
  ibm_db2/datadog_checks/ibm_db2/__about__.py
Labels: none

Fix test
  datadog_checks_base/tests/base/utils/db/test_custom_queries.py
Labels: none

Update template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/db.yaml
Labels: none

Replace oracle's option
  oracle/assets/configuration/spec.yaml
  oracle/datadog_checks/oracle/data/conf.yaml.example
Labels: none

Sync config with db template
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  ibm_db2/datadog_checks/ibm_db2/data/conf.yaml.example
  ibm_was/datadog_checks/ibm_was/data/conf.yaml.example
  mysql/datadog_checks/mysql/data/conf.yaml.example
  sap_hana/datadog_checks/sap_hana/data/conf.yaml.example
  singlestore/datadog_checks/singlestore/data/conf.yaml.example
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  vertica/datadog_checks/vertica/data/conf.yaml.example
  voltdb/datadog_checks/voltdb/data/conf.yaml.example
Labels: none

Sync models
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  oracle/datadog_checks/oracle/config_models/defaults.py
  sap_hana/datadog_checks/sap_hana/config_models/defaults.py
  sap_hana/datadog_checks/sap_hana/config_models/instance.py
  singlestore/datadog_checks/singlestore/config_models/defaults.py
  singlestore/datadog_checks/singlestore/config_models/instance.py
  snowflake/datadog_checks/snowflake/config_models/defaults.py
  snowflake/datadog_checks/snowflake/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  vertica/datadog_checks/vertica/config_models/defaults.py
  vertica/datadog_checks/vertica/config_models/instance.py
  voltdb/datadog_checks/voltdb/config_models/defaults.py
  voltdb/datadog_checks/voltdb/config_models/instance.py
Labels: none

test sqlserver
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: none

Pin setuptools
  .azure-pipelines/templates/install-deps.yml
Labels: dev/testing

Update datadog_checks_base/datadog_checks/base/utils/db/core.py
  datadog_checks_base/datadog_checks/base/utils/db/core.py
Labels: none

Fix scope of E2E state management fixtures
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: none

try older version
  .azure-pipelines/templates/install-deps.yml
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: dev/testing

Fix scope of E2E state management fixtures (#10316)
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: none

try older version
  .azure-pipelines/templates/install-deps.yml
Labels: dev/testing

Refactor E2E state management
  vault/tests/conftest.py
  vault/tests/utils.py
Labels: none

Pin in tox
  .azure-pipelines/templates/install-deps.yml
  tox.ini
Labels: dev/testing

try install
  .azure-pipelines/templates/install-deps.yml
Labels: dev/testing

Try
  .azure-pipelines/templates/install-deps.yml
Labels: dev/testing

Add only_custom_queries option to database utils (#10314)
  datadog_checks_base/datadog_checks/base/utils/db/core.py
  datadog_checks_base/tests/base/utils/db/test_custom_queries.py
Labels: none

[Release] Bumped datadog_checks_base version to 23.1.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.57ce2495.link
Labels: none

Bump base req
  clickhouse/setup.py
  ibm_db2/setup.py
  ibm_was/setup.py
  mysql/setup.py
  sap_hana/setup.py
  singlestore/setup.py
  snowflake/setup.py
  sqlserver/setup.py
  vertica/setup.py
  voltdb/setup.py
Labels: none

Fix default
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/db.yaml
  ibm_db2/datadog_checks/ibm_db2/data/conf.yaml.example
  ibm_was/datadog_checks/ibm_was/data/conf.yaml.example
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  oracle/datadog_checks/oracle/config_models/defaults.py
  oracle/datadog_checks/oracle/data/conf.yaml.example
  sap_hana/datadog_checks/sap_hana/config_models/defaults.py
  sap_hana/datadog_checks/sap_hana/data/conf.yaml.example
  singlestore/datadog_checks/singlestore/config_models/defaults.py
  singlestore/datadog_checks/singlestore/data/conf.yaml.example
  snowflake/datadog_checks/snowflake/config_models/defaults.py
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  vertica/datadog_checks/vertica/config_models/defaults.py
  vertica/datadog_checks/vertica/data/conf.yaml.example
  voltdb/datadog_checks/voltdb/config_models/defaults.py
  voltdb/datadog_checks/voltdb/data/conf.yaml.example
Labels: none

[Release] Bumped datadog_checks_base version to 23.1.0 (#10318)
  .in-toto/tag.57ce2495.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

Update snowflake model
  snowflake/datadog_checks/snowflake/config_models/instance.py
Labels: none

Update instance
  snowflake/datadog_checks/snowflake/config_models/instance.py
Labels: none

Sync configs with new option and bump base requirement (#10315)
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  clickhouse/setup.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/db.yaml
  ibm_db2/datadog_checks/ibm_db2/data/conf.yaml.example
  ibm_db2/setup.py
  ibm_was/datadog_checks/ibm_was/data/conf.yaml.example
  ibm_was/setup.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/setup.py
  oracle/assets/configuration/spec.yaml
  oracle/datadog_checks/oracle/data/conf.yaml.example
  sap_hana/datadog_checks/sap_hana/config_models/defaults.py
  sap_hana/datadog_checks/sap_hana/config_models/instance.py
  sap_hana/datadog_checks/sap_hana/data/conf.yaml.example
  sap_hana/setup.py
  singlestore/datadog_checks/singlestore/config_models/defaults.py
  singlestore/datadog_checks/singlestore/config_models/instance.py
  singlestore/datadog_checks/singlestore/data/conf.yaml.example
  singlestore/setup.py
  snowflake/datadog_checks/snowflake/config_models/defaults.py
  snowflake/datadog_checks/snowflake/config_models/instance.py
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  snowflake/setup.py
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/setup.py
  vertica/datadog_checks/vertica/config_models/defaults.py
  vertica/datadog_checks/vertica/config_models/instance.py
  vertica/datadog_checks/vertica/data/conf.yaml.example
  vertica/setup.py
  voltdb/datadog_checks/voltdb/config_models/defaults.py
  voltdb/datadog_checks/voltdb/config_models/instance.py
  voltdb/datadog_checks/voltdb/data/conf.yaml.example
  voltdb/setup.py
Labels: none

Refactor E2E state management (#10317)
  vault/tests/conftest.py
  vault/tests/utils.py
Labels: none

[Release] Bumped hudi version to 1.0.0
  hudi/CHANGELOG.md
  hudi/datadog_checks/hudi/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.47c5a022.link
Labels: none

Update agent requirements
  requirements-agent-release.txt
Labels: none

Release new integrations (#10320)
  .in-toto/tag.47c5a022.link
  hudi/CHANGELOG.md
  hudi/datadog_checks/hudi/__about__.py
  requirements-agent-release.txt
Labels: documentation

Fix test
  hudi/tests/docker/Dockerfile
Labels: none

[Release] Bumped active_directory version to 1.12.0
  active_directory/CHANGELOG.md
  active_directory/datadog_checks/active_directory/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped activemq version to 2.2.0
  activemq/CHANGELOG.md
  activemq/datadog_checks/activemq/__about__.py
  requirements-agent-release.txt
Labels: documentation
