Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Remove broker_id tag from service_check.json
  amazon_msk/assets/service_checks.json
Labels: none

Add note on Autopilot admission controller
  gke/README.md
Labels: documentation

Update docs/dev/new_check_howto.md
  docs/dev/new_check_howto.md
Labels: documentation

Update the platform to `windows`
  active_directory/hatch.toml
  aspdotnet/hatch.toml
  dotnetclr/hatch.toml
  exchange_server/hatch.toml
  hyperv/hatch.toml
  iis/hatch.toml
  pdh_check/hatch.toml
  win32_event_log/hatch.toml
  windows_performance_counters/hatch.toml
  windows_service/hatch.toml
  wmi_check/hatch.toml
Labels: none

Add _clusters_discovery as a class member
  cloudera/datadog_checks/cloudera/api_client_v7.py
Labels: none

Fixed unit tests missing checks
  cloudera/tests/test_unit.py
Labels: none

attempt to fix win32_event_log py2 tests
  win32_event_log/hatch.toml
Labels: none

Fixed integration test
  cloudera/tests/test_integration.py
Labels: none

Exclude the `DD_GITHUB_USER` env variable from the unit tests
  ddev/hatch.toml
Labels: none

Exclude the `DD_SITE` env variable from the unit tests
  ddev/hatch.toml
Labels: none

Exclude all DD_* env variables
  ddev/hatch.toml
Labels: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Labels: none

Delete config file env variables during the tests
  ddev/hatch.toml
  ddev/tests/conftest.py
Labels: none

Update ddev/tests/conftest.py
  ddev/tests/conftest.py
Labels: none

fix tests
  ddev/tests/conftest.py
Labels: none

Assign ownership (#13667)
  .github/CODEOWNERS
Labels: none

Add `ddev validate license-headers` to validations run on CI
  .azure-pipelines/templates/run-validations.yml
  .github/workflows/validations.yaml
Labels: dev/testing, dev/tooling

Test failure
  vertica/datadog_checks/vertica/vertica.py
Labels: none

Revert "Test failure"
  vertica/datadog_checks/vertica/vertica.py
Labels: none

Update the platform to `windows` (#13671)
  active_directory/hatch.toml
  aspdotnet/hatch.toml
  dotnetclr/hatch.toml
  exchange_server/hatch.toml
  hyperv/hatch.toml
  iis/hatch.toml
  pdh_check/hatch.toml
  win32_event_log/hatch.toml
  windows_performance_counters/hatch.toml
  windows_service/hatch.toml
  wmi_check/hatch.toml
Labels: none

Add `ddev validate license-headers` to validations run on CI (#13674)
  .azure-pipelines/templates/run-validations.yml
  .github/workflows/validations.yaml
Labels: dev/testing, dev/tooling

Automatically delete the agent container when the container is stopped
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: none

Support license header validation for files encoded with utf8 with bom
  datadog_checks_dev/datadog_checks/dev/tooling/license_headers.py
  datadog_checks_dev/tests/tooling/test_license_headers.py
Labels: none

Added instance_bad_url
  cloudera/tests/common.py
  cloudera/tests/conftest.py
  cloudera/tests/test_integration.py
Labels: none

Added license header
  cloudera/tests/common.py
  cloudera/tests/conftest.py
  cloudera/tests/test_e2e.py
  cloudera/tests/test_integration.py
Labels: none

Added license header
  cloudera/datadog_checks/cloudera/api_client.py
  cloudera/datadog_checks/cloudera/api_client_factory.py
  cloudera/datadog_checks/cloudera/api_client_v7.py
  cloudera/datadog_checks/cloudera/common.py
  cloudera/datadog_checks/cloudera/entity_status.py
  cloudera/datadog_checks/cloudera/event.py
  cloudera/datadog_checks/cloudera/metrics.py
Labels: none

Support license header validation for files encoded with utf8 with bom (#13676)
  datadog_checks_dev/datadog_checks/dev/tooling/license_headers.py
  datadog_checks_dev/tests/tooling/test_license_headers.py
Labels: none

Move ddev installation instructions
  docs/dev/new_check_howto.md
  docs/dev/python.md
Labels: documentation

Move and improve ddev install instructions
  docs/dev/new_check_howto.md
Labels: documentation

Add license header files where missing
  cloudera/datadog_checks/cloudera/api_client.py
  cloudera/datadog_checks/cloudera/api_client_factory.py
  cloudera/datadog_checks/cloudera/api_client_v7.py
  cloudera/datadog_checks/cloudera/common.py
  cloudera/datadog_checks/cloudera/entity_status.py
  cloudera/datadog_checks/cloudera/event.py
  cloudera/datadog_checks/cloudera/metrics.py
  cloudera/tests/common.py
  cloudera/tests/test_e2e.py
  cloudera/tests/test_integration.py
  mysql/tests/generate_unique_query_signatures.py
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
  postgres/tests/test_explain_parameterized_queries.py
  sqlserver/datadog_checks/sqlserver/connection_errors.py
Labels: none

fix codeblock
  docs/dev/python.md
Labels: documentation

Update docs/dev/new_check_howto.md
  docs/dev/new_check_howto.md
Labels: documentation

Update cloudera_overview.json
  cloudera/assets/dashboards/cloudera_overview.json
Labels: none

Skip typo or not yet installed Windows performance counters to allow collection of subsequent counters
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/counter.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/test_integration.py
Labels: none

Remove broker_id tag from service_check.json (#13669)
  amazon_msk/assets/service_checks.json
Labels: none

Fix python paths
  docs/dev/python.md
Labels: documentation

(DOCS-4573) Update create an integrations docs (#13562)
  docs/dev/new_check_howto.md
  docs/dev/python.md
Labels: documentation

DBM-1844 Fix missing instance metrics when instance_name is a GUID
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: none
