Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

updated pipeline to solve pipeline failure
  authorize_net/assets/logs/authorize-net_tests.yaml
Labels: none

updated sample in test file
  authorize_net/assets/logs/authorize-net_tests.yaml
Labels: none

updating the identation of the logs
  authorize_net/assets/logs/authorize-net_tests.yaml
Labels: none

updated dashboard and image
  authorize_net/assets/dashboards/authorize_net_unsettled_transactions.json
  authorize_net/images/authorize_net_unsettled_transactions.png
Labels: none

Updated dashboards
  authorize_net/assets/dashboards/authorize_net_unsettled_transactions.json
Labels: none

aerospike-agent-and-dashboards
  aerospike/tests/docker/docker-compose.yaml
Labels: none

Resolved identation issue
  authorize_net/assets/logs/authorize-net_tests.yaml
Labels: none

updated vanta assets and sample logs
  vanta/README.md
  vanta/assets/dashboards/vanta_framework_analytics.json
  vanta/assets/dashboards/vanta_vulnerability_overview.json
  vanta/assets/logs/vanta_tests.yaml
Labels: documentation

update vanta sample logs result
  vanta/assets/logs/vanta_tests.yaml
Labels: none

update CODEOWNERS file for vanta
  .github/CODEOWNERS
Labels: none

Add md5 tests
  .github/workflows/test-fips.yml
  datadog_checks_base/tests/fips/test_fips.py
Labels: dev/tooling

Release Slurm 1.0.3 (#19213)
  .in-toto/tag.b9ca7eb3.link
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/19182.fixed
  slurm/datadog_checks/slurm/__about__.py
Labels: documentation

Allow agent integrations to approve changes to snowflake CHANGELOG (#19201)
  .github/CODEOWNERS
Labels: none

Make md5 tests pass
  .github/workflows/test-fips.yml
  datadog_checks_base/datadog_checks/base/utils/fips.py
  datadog_checks_base/tests/fips/test_fips.py
Labels: dev/tooling

Try separating FIPS and non-FIPS md5 tests
  .github/workflows/test-fips.yml
  datadog_checks_base/tests/fips/test_md5_after_fips.py
  datadog_checks_base/tests/fips/test_md5_before_fips.py
Labels: dev/tooling

Report pg_class xmin
  postgres/changelog.d/19218.added
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/metadata.csv
  postgres/tests/test_relations.py
Labels: none

Renamed the pipeline name
  authorize_net/assets/logs/authorize-net.yaml
Labels: none

Refactoring dummy log
  authorize_net/assets/logs/authorize-net_tests.yaml
Labels: none

Reverted the pipeline name
  authorize_net/assets/logs/authorize-net.yaml
Labels: none

Added result in yaml file
  authorize_net/assets/logs/authorize-net_tests.yaml
Labels: none

[NDM] [Cisco ACI] Support submitting topology metadata (#18675)
  cisco_aci/assets/configuration/spec.yaml
  cisco_aci/changelog.d/18675.added
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/datadog_checks/cisco_aci/data/conf.yaml.example
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/datadog_checks/cisco_aci/helpers.py
  cisco_aci/datadog_checks/cisco_aci/models.py
  cisco_aci/datadog_checks/cisco_aci/ndm.py
  cisco_aci/tests/common.py
  cisco_aci/tests/fixtures/fabric/588ea77fffc6df4b37dfdfa4290cdc89.txt
  cisco_aci/tests/fixtures/fabric/f3713df3a586908a3a11f4c356153519.txt
  cisco_aci/tests/fixtures/metadata.py
Labels: none

aerospike-agent-and-dashboards
  aerospike/tests/common.py
Labels: none

DDSaaS: Mux: Crawler Integration v1.0.0 (#18686)
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  mux/CHANGELOG.md
  mux/README.md
  mux/assets/dashboards/mux_metrics.json
  mux/assets/monitors/anomaly_detected_in_page_load_time.json
  mux/assets/monitors/playback_failure_percentage_is_higher_than_usual.json
  mux/assets/monitors/video_startup_failure_percentage_is_higher_than_usual.json
  mux/assets/mux.svg
  mux/assets/service_checks.json
  mux/images/mux_metrics_1.png
  mux/images/mux_metrics_2.png
  mux/images/mux_metrics_3.png
  mux/images/mux_metrics_4.png
  mux/images/mux_metrics_5.png
  mux/images/mux_overview.png
  mux/manifest.json
  mux/metadata.csv
Labels: documentation, dev/tooling

Remove manifest validation call that calls deprecated endpoint (#19208)
  ddev/changelog.d/19208.removed
  ddev/src/ddev/cli/validate/__init__.py
  ddev/src/ddev/cli/validate/manifest.py
  ddev/tests/cli/validate/test_manifest.py
Labels: none

Remove manifest validation call that calls deprecated endpoint (#19208)
  ddev/cli/index.html
  search/search_index.json
Labels: none

adding clarification
  snmp/assets/service_checks.json
Labels: none

small fix
  snmp/assets/service_checks.json
Labels: none

aerospike-agent-and-dashboards
  aerospike/datadog_checks/aerospike/check.py
  aerospike/datadog_checks/aerospike/metrics.py
  aerospike/metadata.csv
  aerospike/tests/common.py
  aerospike/tests/conftest.py
  aerospike/tests/docker/docker-compose.yaml
  aerospike/tests/test_aerospike.py
  aerospike/tests/test_unit_openmetricsv2.py
Labels: none

aerospike-agent-and-dashboards
  aerospike/datadog_checks/aerospike/check.py
  aerospike/tests/common.py
  aerospike/tests/conftest.py
  aerospike/tests/test_aerospike.py
Labels: none

aerospike-agent-and-dashboards
  aerospike/datadog_checks/aerospike/check.py
Labels: none

aerospike-agent-and-dashboards
  aerospike/datadog_checks/aerospike/metrics.py
Labels: none

aerospike-agent-and-dashboards
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/metadata.csv
  aerospike/tests/fixtures/prometheus.txt
  aerospike/tests/test_aerospike.py
Labels: none

aerospike-agent-and-dashboards
  aerospike/tests/test_aerospike.py
Labels: none

aerospike-agent-and-dashboards
  aerospike/metadata.csv
  aerospike/tests/common.py
  aerospike/tests/fixtures/prometheus.txt
Labels: none

aerospike-agent-and-dashboard
  aerospike/metadata.csv
Labels: none

aerospike-agent-and-dashboards
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/hatch.toml
  aerospike/tests/conftest.py
Labels: none

fix CI for failing downloader test
  datadog_checks_downloader/tests/test_downloader.py
Labels: none

add one more exclude
  datadog_checks_downloader/tests/test_downloader.py
Labels: none

tokumx and lint
  datadog_checks_downloader/tests/test_downloader.py
Labels: none

aerospike-agent-and-dashboard
  aerospike/metadata.csv
  aerospike/tests/common.py
  aerospike/tests/conftest.py
  aerospike/tests/docker/config/aerospike.conf
  aerospike/tests/docker/docker-compose.yaml
  aerospike/tests/fixtures/prometheus.txt
Labels: none
