Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

exception handling
  sqlserver/datadog_checks/sqlserver/deadlocks.py
Labels: none

lookback
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/tests/test_deadlocks.py
Labels: none

test diag change
  sqlserver/tests/test_deadlocks.py
Labels: none

licence
  sqlserver/tests/test_deadlocks.py
Labels: none

instance fix
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
Labels: none

enrich exception only on code error
  sqlserver/datadog_checks/sqlserver/deadlocks.py
Labels: none

linter
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_deadlocks.py
Labels: none

Update dependency resolution
  .deps/metadata.json
  .deps/resolved/linux-aarch64_3.12.txt
  .deps/resolved/linux-x86_64_3.12.txt
  .deps/resolved/macos-x86_64_3.12.txt
  .deps/resolved/windows-x86_64_3.12.txt
Labels: none

add sqlserver agent completed job metrics to metadata
  sqlserver/metadata.csv
Labels: none

Shopify Crawler integration with assets
  shopify/README.md
  shopify/assets/dashboards/shopify_customer_overview.json
  shopify/assets/dashboards/shopify_event_overview.json
  shopify/assets/dashboards/shopify_order_overview.json
  shopify/assets/dashboards/shopify_product_overview.json
  shopify/assets/logs/shopify.yaml
  shopify/assets/logs/shopify_tests.yaml
  shopify/assets/monitors/order_cancellation_rate.json
  shopify/assets/monitors/product_inventory_out_of_stock.json
  shopify/assets/shopify_dark_theme.svg
  shopify/assets/shopify_white_them.svg
  shopify/images/shopify_customer.png
  shopify/images/shopify_event.png
  shopify/images/shopify_order.png
  shopify/images/shopify_product.png
  shopify/manifest.json
Labels: documentation

Sy/elastic sc tags (#18687)
  elastic/assets/configuration/spec.yaml
  elastic/changelog.d/18687.added
  elastic/datadog_checks/elastic/config.py
  elastic/datadog_checks/elastic/config_models/defaults.py
  elastic/datadog_checks/elastic/config_models/instance.py
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/tests/test_unit.py
Labels: none

Collect sqlserver deadlock data (#18108)
  .ddev/ci/scripts/sqlserver/windows/41_install_native_client.bat
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/18108.added
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/schemas.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/hatch.toml
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/deadlocks/sqlserver_deadlock_event.xml
  sqlserver/tests/test_deadlocks.py
Labels: none

test
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

test
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

test
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

Updated log pipeline
  shopify/assets/logs/shopify.yaml
Labels: none

simplified collect_vsan_metrics logic
  vsphere/datadog_checks/vsphere/constants.py
  vsphere/datadog_checks/vsphere/metrics.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/mocked_api.py
Labels: none

Added sample log result
  shopify/assets/logs/shopify_tests.yaml
Labels: none

test
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

add sqlserver agent completed job metrics to metadata (#18691)
  sqlserver/metadata.csv
Labels: none

line 2
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

Clean up + add some test cases
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/datadog_checks/cisco_aci/helpers.py
  cisco_aci/datadog_checks/cisco_aci/models.py
  cisco_aci/datadog_checks/cisco_aci/ndm.py
  cisco_aci/tests/common.py
  cisco_aci/tests/fixtures/fabric/588ea77fffc6df4b37dfdfa4290cdc89.txt
  cisco_aci/tests/fixtures/fabric/f3713df3a586908a3a11f4c356153519.txt
  cisco_aci/tests/fixtures/metadata.py
Labels: none

Bump OpenSSL in dependency builders (#18669)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
Labels: none

Bump OpenSSL in dependency builders (#18669)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
Labels: none

Add `kubevirt_handler` integration (#18283)
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  kubevirt_handler/CHANGELOG.md
  kubevirt_handler/README.md
  kubevirt_handler/assets/configuration/spec.yaml
  kubevirt_handler/assets/service_checks.json
  kubevirt_handler/changelog.d/18283.added
  kubevirt_handler/datadog_checks/__init__.py
  kubevirt_handler/datadog_checks/kubevirt_handler/__about__.py
  kubevirt_handler/datadog_checks/kubevirt_handler/__init__.py
  kubevirt_handler/datadog_checks/kubevirt_handler/check.py
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/__init__.py
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/defaults.py
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/instance.py
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/shared.py
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/validators.py
  kubevirt_handler/datadog_checks/kubevirt_handler/data/conf.yaml.example
  kubevirt_handler/datadog_checks/kubevirt_handler/metrics.py
  kubevirt_handler/hatch.toml
  kubevirt_handler/images/IMAGES_README.md
  kubevirt_handler/manifest.json
  kubevirt_handler/metadata.csv
  kubevirt_handler/pyproject.toml
  kubevirt_handler/tests/__init__.py
  kubevirt_handler/tests/conftest.py
  kubevirt_handler/tests/fixtures/healthz.txt
  kubevirt_handler/tests/fixtures/metrics.txt
  kubevirt_handler/tests/kind/kubevirt-cr.yaml
  kubevirt_handler/tests/kind/kubevirt-operator.yaml
  kubevirt_handler/tests/kind/vm.yaml
  kubevirt_handler/tests/test_e2e.py
  kubevirt_handler/tests/test_unit.py
Labels: documentation, dev/tooling

Update manifest.json
  coredns/manifest.json
Labels: none

Add `kubevirt_handler` integration (#18283)
  meta/status/index.html
  search/search_index.json
Labels: none

update sqlserver test images
  sqlserver/hatch.toml
  sqlserver/tests/compose-ha/sql/db-init.sh
  sqlserver/tests/compose-high-cardinality/setup.sh
  sqlserver/tests/compose/setup.sh
Labels: none

Bump `lxml` version for py3.12 E2E tests (#18637)
  agent_requirements.in
  ibm_was/changelog.d/18637.added
  ibm_was/pyproject.toml
  sqlserver/changelog.d/18637.added
  sqlserver/pyproject.toml
Labels: none

Update Cisco ACI readme
  cisco_aci/README.md
Labels: documentation

Update dependency resolution
  .deps/metadata.json
  .deps/resolved/linux-aarch64_3.12.txt
  .deps/resolved/linux-x86_64_3.12.txt
  .deps/resolved/macos-x86_64_3.12.txt
  .deps/resolved/windows-x86_64_3.12.txt
Labels: none

update sqlserver test images (#18698)
  sqlserver/hatch.toml
  sqlserver/tests/compose-ha/sql/db-init.sh
  sqlserver/tests/compose-high-cardinality/setup.sh
  sqlserver/tests/compose/setup.sh
Labels: none

line 3
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

test
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: none

test
  sqlserver/tests/test_unit.py
Labels: none

add support for task count metrics
  octopus_deploy/datadog_checks/octopus_deploy/check.py
  octopus_deploy/datadog_checks/octopus_deploy/project_groups.py
  octopus_deploy/metadata.csv
  octopus_deploy/tests/conftest.py
  octopus_deploy/tests/constants.py
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-1/fromCompletedDate=2024-09-23 14:45:58.888492+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-2/fromCompletedDate=2024-09-23 14:45:58.888492+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/fromCompletedDate=2024-09-23 14:45:58.888492+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-4/fromCompletedDate=2024-09-23 14:45:58.888492+00:00/response.json
  octopus_deploy/tests/test_unit.py
Labels: none

istio docs
  istio/README.md
Labels: documentation

istio docs (#18703)
  istio/README.md
Labels: documentation

Fix KubeVirt E2E environment
  kubevirt_handler/hatch.toml
Labels: none

Fix KubeVirt E2E environment (#18704)
  kubevirt_handler/hatch.toml
Labels: none
