Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Fix style
  http_check/tests/conftest.py
  kafka_consumer/tests/conftest.py
  kafka_consumer/tests/test_kafka_consumer.py
Labels: none

Rebase and use latest helpers
  http_check/tests/conftest.py
  kafka_consumer/tests/conftest.py
  mapreduce/tests/conftest.py
  mapreduce/tox.ini
Labels: none

Fix tags
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/tests/test_slowlog.py
Labels: none

Remove useless sort
  redisdb/datadog_checks/redisdb/redisdb.py
Labels: none

Fix test
  mapreduce/tests/conftest.py
Labels: none

Fix test
  http_check/tests/test_integration_e2e.py
  kafka_consumer/tests/test_kafka_consumer.py
Labels: none

[disk] Add `include_all_devices` option and improve error logs (#7378)
  disk/assets/configuration/spec.yaml
  disk/datadog_checks/disk/data/conf.yaml.default
  disk/datadog_checks/disk/disk.py
  disk/tests/test_unit.py
Labels: none

update kubernetes_state auto_conf.yaml with valid example configuration
  kubernetes_state/datadog_checks/kubernetes_state/data/auto_conf.yaml
Labels: none

kube_apiserver_metrics missing tile note (#7383)
  kube_apiserver_metrics/README.md
Labels: documentation

Update docs
  iis/README.md
Labels: documentation

README updates for config options
  vsphere/README.md
Labels: documentation

Compute query_signature from the digest text and resource_hash from the raw text
  mysql/datadog_checks/mysql/execution_plans.py
Labels: none

Update docs (#7415)
  iis/README.md
Labels: documentation

Use author_name instead of author_info object
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/dashboard.py
Labels: none

Apply suggestions from code review
  sqlserver/tests/README.md
Labels: documentation

Fix broken docs build, deleted tab start
  iis/README.md
Labels: documentation

Use author_name instead of author_info object (#7417)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/dashboard.py
Labels: none

Compute query_signature and resource_hash for postgres plans and metrics
  postgres/datadog_checks/postgres/statements.py
Labels: none

Fix broken docs build, deleted tab start (#7418)
  iis/README.md
Labels: documentation

Change old_payload warning to failure
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dashboards.py
Labels: none

fix CI
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
Labels: dev/testing

Update README.md
  activemq/README.md
Labels: documentation

Add security team (#7357)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/status.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: none

Auto assign card (#7347)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/rc_build_cards_updater.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/cache.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/github_trello_user_matcher.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/github_users.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/tester_selector.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/tester_selector_team.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/trello_users.py
  datadog_checks_dev/datadog_checks/dev/tooling/github.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: none

Add a test helper to mock dns on local and e2e (#7106)
  datadog_checks_tests_helper/datadog_test_libs/utils/__init__.py
  datadog_checks_tests_helper/datadog_test_libs/utils/mock_dns.py
  http_check/tests/conftest.py
  http_check/tests/test_http_integration.py
  http_check/tests/test_integration_e2e.py
  http_check/tox.ini
  kafka_consumer/tests/conftest.py
  kafka_consumer/tests/test_kafka_consumer.py
  kafka_consumer/tox.ini
  mapreduce/tests/conftest.py
  mapreduce/tox.ini
  tls/tests/conftest.py
  tls/tests/test_remote.py
  tls/tox.ini
Labels: none

[Release] Bumped datadog_checks_dev version to 3.22.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.024e42fe.link
Labels: none

Fix changelog
  datadog_checks_dev/CHANGELOG.md
Labels: documentation

[Release] Bumped datadog_checks_dev version to 3.22.0 (#7422)
  .in-toto/tag.024e42fe.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

Update agent_requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: none

Apply suggestions from code review
  vsphere/README.md
Labels: documentation

remove old config options
  vsphere/README.md
Labels: documentation

Add RDS tags to MySQL
  mysql/datadog_checks/mysql/config.py
Labels: none

Resolve merge conflicts
  postgres/datadog_checks/postgres/config.py
Labels: none

Apply option to ignore InsecureRequestWarning permanently
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/warnings_util.py
Labels: none

add support for etcd logs
  etcd/README.md
  etcd/datadog_checks/etcd/data/conf.yaml.example
  etcd/manifest.json
Labels: documentation

refactor
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/warnings_util.py
Labels: none

fix
  datadog_checks_base/datadog_checks/base/utils/warnings_util.py
Labels: none

Parse bytes version
  mysql/datadog_checks/mysql/version_utils.py
  mysql/tests/test_mysql.py
Labels: none

Address review
  mysql/datadog_checks/mysql/version_utils.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
