Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Fix typing issues
  postgres/datadog_checks/postgres/statements.py
Labels: none

Revert "Fix typing issues"
  postgres/datadog_checks/postgres/statements.py
Labels: none

Revert "Add type checks to postgres integration"
  postgres/datadog_checks/postgres/statements.py
  postgres/tox.ini
Labels: none

Add PR comments
  docs/developer/base/basics.md
Labels: documentation

Remove last line
  docs/developer/base/basics.md
Labels: documentation

Add triple quotes
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: none

Support postgres statement-level metrics for deep database monitoring (#7852)
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/setup.py
  postgres/tests/compose/docker-compose.yaml
  postgres/tests/compose/etc/postgresql/postgresql.conf
  postgres/tests/compose/resources/02_load_data.sh
  postgres/tests/compose/resources/04_mark_container_as_ready.sh
  postgres/tests/test_pg_integration.py
  postgres/tox.ini
Labels: none

Fix spacing
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: none

Add logs support
  azure_iot_edge/README.md
  azure_iot_edge/manifest.json
Labels: documentation

Update CODEWONERS file (#7876)
  .github/CODEOWNERS
Labels: none

Check types inside untyped functions by default (#7839)
  azure_iot_edge/tox.ini
  datadog_checks_base/tox.ini
  docs/developer/guidelines/style.md
  mypy.ini
Labels: documentation

document persistent cache
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: none

Fix failing unit tests
  consul/tests/test_unit.py
  php_fpm/tests/test_unit.py
Labels: none

Add logs support (#7877)
  azure_iot_edge/README.md
  azure_iot_edge/manifest.json
Labels: documentation

Add config spec
  php_fpm/assets/configuration/spec.yaml
  php_fpm/datadog_checks/php_fpm/data/conf.yaml.example
  php_fpm/manifest.json
  php_fpm/setup.py
Labels: none

Update datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: none

Update TUF, in-toto and securesystemslib (#7844)
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_downloader/requirements.in
Labels: none

Add back defaults
  directory/assets/configuration/spec.yaml
  directory/datadog_checks/directory/data/conf.yaml.example
Labels: none

Fix warning when adding 'jumbo_chunks' metrics (#7864)
  mongo/datadog_checks/mongo/mongo.py
Labels: none

Revert "Check types inside untyped functions by default (#7839)"
  azure_iot_edge/tox.ini
  datadog_checks_base/tox.ini
  docs/developer/guidelines/style.md
  mypy.ini
Labels: documentation

Revert "Check types inside untyped functions by default (#7839)" (#7880)
  azure_iot_edge/tox.ini
  datadog_checks_base/tox.ini
  docs/developer/guidelines/style.md
  mypy.ini
Labels: documentation

Add AlwaysOn metrics for SQLServer (#7824)
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
  sqlserver/tests/compose-ha/docker-compose.yaml
  sqlserver/tests/compose-ha/sql/Dockerfile
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-ha/sql/aoag_secondary.sql
  sqlserver/tests/compose-ha/sql/db-init.sh
  sqlserver/tests/compose-ha/sql/entrypoint.sh
  sqlserver/tests/conftest.py
  sqlserver/tests/test_sqlserver.py
  sqlserver/tests/utils.py
  sqlserver/tox.ini
Labels: none

Fix iis metrics collection on non-english systems (#7875)
  iis/datadog_checks/iis/iis.py
Labels: none

Store english and localized counter classes for reusability (#7855)
  datadog_checks_base/datadog_checks/base/checks/win/winpdh.py
Labels: none

Fix iis metrics collection on non-english systems (#7875)
  iis/datadog_checks/iis/iis.py
Labels: none

Fix conditional installation of vcpython27 (#7870)
  .azure-pipelines/scripts/datadog_checks_base/windows/55_vcpython27.bat
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Upgrade `cryptography` dependency (#7869)
  cisco_aci/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  http_check/requirements.in
  mysql/requirements.in
  tls/requirements.in
Labels: none

Filter metrics by label keys and values (#7822)
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
Labels: none

[Release] Bumped datadog_checks_base version to 15.4.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.57ce2495.link
Labels: none

[Release] Bumped datadog_checks_base version to 15.4.0 (#7882)
  .in-toto/tag.57ce2495.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

Clean up API documentation links
  docs/developer/base/basics.md
Labels: documentation

remove changes to http_check
  http_check/datadog_checks/http_check/http_check.py
Labels: none

remove changes to datadog_checks_dev
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/http.py
Labels: none

fix style
  http_check/datadog_checks/http_check/http_check.py
Labels: none

Put wildcard in list
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
Labels: none

Sync configs
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  kube_scheduler/datadog_checks/kube_scheduler/data/conf.yaml.example
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: none

Add option
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
Labels: none

remove unused property
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
Labels: none

Update config examples and sync
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  kube_scheduler/datadog_checks/kube_scheduler/data/conf.yaml.example
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: none
