Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Update README
  hugging_face_tgi/README.md
Labels: documentation

Sync configuration files
  hugging_face_tgi/datadog_checks/hugging_face_tgi/data/conf.yaml.example
Labels: none

Add metrics check to manifest
  hugging_face_tgi/manifest.json
Labels: none

Sync configuration files
  .github/workflows/test-all.yml
Labels: dev/tooling

Fix metadata.csv for validation
  hugging_face_tgi/metadata.csv
Labels: none

Sync labeler
  .github/workflows/config/labeler.yml
Labels: dev/tooling

fix grok parser
  pan_firewall/assets/logs/pan.firewall.yaml
Labels: none

Replace hugo highlight syntax with native code blocks
  eks_fargate/README.md
Labels: documentation

lxml bump (#21230)
  agent_requirements.in
  ibm_was/pyproject.toml
  mac_audit_logs/pyproject.toml
  sqlserver/pyproject.toml
Labels: none

unit tests
  bentoml/datadog_checks/bentoml/check.py
  bentoml/datadog_checks/bentoml/metrics.py
  bentoml/tests/common.py
  bentoml/tests/fixtures/metrics.txt
  bentoml/tests/test_unit.py
Labels: none

validations
  .codecov.yml
  .github/workflows/test-all.yml
  bentoml/assets/configuration/spec.yaml
  bentoml/datadog_checks/bentoml/config_models/__init__.py
  bentoml/datadog_checks/bentoml/config_models/defaults.py
  bentoml/datadog_checks/bentoml/config_models/instance.py
  bentoml/datadog_checks/bentoml/config_models/shared.py
  bentoml/datadog_checks/bentoml/data/conf.yaml.example
Labels: dev/tooling

manifest
  bentoml/assets/dashboards/bentoml_overview.json
  bentoml/assets/dashboards/placeholder.json
  bentoml/manifest.json
  bentoml/metadata.csv
Labels: none

changelog
  bentoml/changelog.d/21232.added
Labels: none

sort metadata
  bentoml/metadata.csv
Labels: none

fix changelog
  bentoml/changelog.d/1.added
  bentoml/images/IMAGES_README.md
Labels: documentation

validation
  bentoml/metadata.csv
Labels: none

validate
  bentoml/manifest.json
  bentoml/metadata.csv
Labels: none

validation
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Add nimimum-bnase-package tests to PR workflow
  .github/workflows/pr-test.yml
Labels: dev/tooling

fix path
  ddev/src/ddev/cli/size/utils/common_funcs.py
Labels: none

Update job required in next steps after running tests
  .github/workflows/pr-test.yml
Labels: dev/tooling

changelog
  ddev/changelog.d/21234.fixed
Labels: none

Add nimimum-bnase-package tests to PR workflow (#21233)
  .github/workflows/pr-test.yml
Labels: dev/tooling

added support of plain and json logs by default
  clickhouse/assets/configuration/spec.yaml
  clickhouse/assets/logs/clickhouse.yaml
  clickhouse/hatch.toml
  clickhouse/tests/common.py
  clickhouse/tests/conftest.py
  clickhouse/tests/docker/compose.yaml
  clickhouse/tests/docker/volumes/clickhouse-02.xml
Labels: none

Add Have I Been Pwned integration without assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  have_i_been_pwned/CHANGELOG.md
  have_i_been_pwned/README.md
  have_i_been_pwned/manifest.json
Labels: documentation, dev/tooling

added the logo
  barracuda_secure_edge/assets/secureedge_logo.svg
  barracuda_secure_edge/manifest.json
Labels: none

fixed linters
  clickhouse/datadog_checks/clickhouse/queries/system_async_metrics.py
  clickhouse/datadog_checks/clickhouse/queries/system_events.py
  clickhouse/datadog_checks/clickhouse/queries/system_metrics.py
  clickhouse/scripts/generate_metrics.py
  clickhouse/scripts/templates/metrics.tpl
  clickhouse/scripts/templates/system_async_metrics.tpl
  clickhouse/scripts/templates/system_events.tpl
  clickhouse/scripts/templates/system_metrics.tpl
  clickhouse/tests/conftest.py
  clickhouse/tests/metrics.py
  clickhouse/tests/test_clickhouse.py
Labels: none

fix itf id:
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/tests/test_fabric.py
Labels: none

Fix the example path used for the logo in dashboard guidelines
  docs/developer/guidelines/dashboards.md
Labels: documentation

fix
  cisco_aci/datadog_checks/cisco_aci/fabric.py
Labels: none

Fixing pipeline errors
  have_i_been_pwned/manifest.json
Labels: none

Update the minimum datadog_checks_base version for postgress
  postgres/pyproject.toml
Labels: none

Add changelog
  postgres/changelog.d/21238.changed
Labels: none

Adding classifier tags
  have_i_been_pwned/manifest.json
Labels: none

exported new dashboard
  clickhouse/assets/dashboards/overview.json
  clickhouse/manifest.json
Labels: none

Attempt a real E2E env
  hugging_face_tgi/tests/common.py
  hugging_face_tgi/tests/conftest.py
  hugging_face_tgi/tests/docker/Caddyfile
  hugging_face_tgi/tests/docker/docker-compose.yaml
Labels: none

Revert "Attempt a real E2E env"
  hugging_face_tgi/tests/common.py
  hugging_face_tgi/tests/conftest.py
  hugging_face_tgi/tests/docker/Caddyfile
  hugging_face_tgi/tests/docker/docker-compose.yaml
Labels: none

Fix the example path used for the logo in dashboard guidelines (#21237)
  docs/developer/guidelines/dashboards.md
Labels: documentation

Remove images
  hugging_face_tgi/images/IMAGES_README.md
Labels: documentation

[kafka_consumer] Fix context count for max_partition_contexts (#21223)
  kafka_consumer/changelog.d/21223.fixed
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_unit.py
Labels: none
