Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

add changelog
  postgres/changelog.d/15594.fixed
Labels: none

Remove an unnecessary print statement (#15594)
  postgres/changelog.d/15594.fixed
  postgres/datadog_checks/postgres/metadata.py
Labels: none

Update containerd working_set metric (#15359)
  containerd/metadata.csv
Labels: none

Update troubleshooting instructions (#15286)
  openmetrics/README.md
Labels: documentation

docs
  nvidia_triton/README.md
Labels: documentation

add test debugging (#15108)
  sqlserver/tests/test_statements.py
Labels: none

remove exclude_null from monitor_pods_restarting (#14439)
  kubernetes/assets/monitors/monitor_pods_restarting.json
Labels: none

sync si
  .github/workflows/test-all.yml
Labels: dev/tooling

Update MSOLEDBSQL provider details (#14198)
  sqlserver/README.md
Labels: documentation

Update gke/README.md
  gke/README.md
Labels: documentation

Add note on Autopilot admission controller (#13670)
  gke/README.md
Labels: documentation

Update dependencies before Agent release (#16154)
  amazon_msk/changelog.d/16154.added
  amazon_msk/pyproject.toml
  cloud_foundry_api/changelog.d/16154.added
  cloud_foundry_api/pyproject.toml
  datadog_checks_base/changelog.d/16154.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  datadog_checks_downloader/changelog.d/16154.added
  datadog_checks_downloader/pyproject.toml
  mysql/changelog.d/16154.added
  mysql/pyproject.toml
  pgbouncer/changelog.d/16154.added
  pgbouncer/pyproject.toml
  postgres/changelog.d/16154.added
  postgres/pyproject.toml
  snowflake/changelog.d/16154.added
  snowflake/pyproject.toml
  sqlserver/changelog.d/16154.added
  sqlserver/pyproject.toml
  vertica/changelog.d/16154.added
  vertica/pyproject.toml
Labels: none

Pin agent version in the CI
  .github/workflows/test-target.yml
Labels: dev/tooling

[DBM] - Monitor SQL Server log shipping configurations (#16101)
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/16101.added
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/metadata.csv
  sqlserver/tests/test_activity.py
Labels: none

Update Nvidia Triton Dashboard (#16151)
  nvidia_triton/README.md
  nvidia_triton/assets/dashboards/nvidia_triton_overview.json
Labels: documentation

remove header
  karpenter/README.md
Labels: documentation

[Release] Bumped sqlserver version to 15.0.3
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

Revert name change
  openstack_controller/manifest.json
Labels: none

Revert name change (#16177)
  openstack_controller/manifest.json
Labels: none

Set SLI scraper config per instance
  kube_controller_manager/changelog.d/15914.added
  kube_controller_manager/datadog_checks/kube_controller_manager/kube_controller_manager.py
  kube_controller_manager/datadog_checks/kube_controller_manager/sli_metrics.py
  kube_controller_manager/tests/test_sli_metrics.py
Labels: none

[Release] Bumped datadog_checks_base version to 34.0.3
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

[Release] Bumped ibm_was version to 3.1.1
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

[Release] Bumped datadog_checks_base version to 34.0.3-beta.1
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

force ci to use last stable build
  .github/workflows/test-target.yml
Labels: dev/tooling

force ci to use last stable build fix
  .github/workflows/test-target.yml
Labels: dev/tooling

envoy: add rbac metrics
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/common.py
  envoy/tests/docker/api_v3/front-envoy.yaml
  envoy/tests/fixtures/openmetrics.txt
Labels: documentation

fix changelog
  envoy/CHANGELOG.md
  envoy/changelog.d/16165.added
Labels: documentation

Handle mongodb versions with suffixes.
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/test_unit.py
Labels: none

changelog
  mongo/changelog.d/16181.fixed
Labels: none

fix typo
  mongo/tests/test_unit.py
Labels: none

add gpu metrics to ksm doc
  kubernetes_state_core/metadata.csv
Labels: none

Add a link to the Amazon EMR blog post
  spark/README.md
Labels: documentation

[KSM] Add gpu metrics to ksm doc (#16182)
  kubernetes_state_core/metadata.csv
Labels: none

7.49.1 releases for lxml downgrade (#16178)
  .in-toto/tag.ec45eb9d.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  ibm_was/pyproject.toml
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
  sqlserver/pyproject.toml
Labels: documentation

Add Karpenter Integration (#16082)
  .codecov.yml
  .github/workflows/test-all.yml
  karpenter/CHANGELOG.md
  karpenter/README.md
  karpenter/assets/configuration/spec.yaml
  karpenter/assets/dashboards/karpenter_overview.json
  karpenter/assets/service_checks.json
  karpenter/changelog.d/16082.added
  karpenter/datadog_checks/__init__.py
  karpenter/datadog_checks/karpenter/__about__.py
  karpenter/datadog_checks/karpenter/__init__.py
  karpenter/datadog_checks/karpenter/check.py
  karpenter/datadog_checks/karpenter/config_models/__init__.py
  karpenter/datadog_checks/karpenter/config_models/defaults.py
  karpenter/datadog_checks/karpenter/config_models/instance.py
  karpenter/datadog_checks/karpenter/config_models/shared.py
  karpenter/datadog_checks/karpenter/config_models/validators.py
  karpenter/datadog_checks/karpenter/data/conf.yaml.example
  karpenter/datadog_checks/karpenter/metrics.py
  karpenter/hatch.toml
  karpenter/manifest.json
  karpenter/metadata.csv
  karpenter/pyproject.toml
  karpenter/tests/__init__.py
  karpenter/tests/common.py
  karpenter/tests/conftest.py
  karpenter/tests/docker/Caddyfile
  karpenter/tests/docker/docker-compose.yaml
  karpenter/tests/fixtures/karpenter_metrics.txt
  karpenter/tests/fixtures/rename_labels_metrics.txt
  karpenter/tests/test_e2e.py
  karpenter/tests/test_unit.py
Labels: documentation, dev/tooling

clean up changelogs
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/16080.fixed
  ibm_was/CHANGELOG.md
  ibm_was/changelog.d/16080.fixed
  ibm_was/datadog_checks/ibm_was/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
Labels: documentation
