Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Add ivanti-nzta integration without assets
  .github/workflows/config/labeler.yml
  ivanti_nzta/CHANGELOG.md
  ivanti_nzta/README.md
  ivanti_nzta/assets/service_checks.json
  ivanti_nzta/manifest.json
Labels: documentation, dev/tooling

Port changelogs and version bumps from 7.63 RC3 to master. (#19513)
  pgbouncer/CHANGELOG.md
  pgbouncer/changelog.d/19497.fixed
  pgbouncer/datadog_checks/pgbouncer/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/19499.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation

Update description in manifest
  ivanti_nzta/manifest.json
Labels: none

Try go script on Windows
  .github/workflows/fips/compose/compose-linux.yml
  .github/workflows/fips/compose/compose-windows.yml
  .github/workflows/fips/compose/linux/Dockerfile
  .github/workflows/fips/compose/windows/Dockerfile
  .github/workflows/fips/compose/windows/http-server.go
  .github/workflows/fips/compose/windows/start-server.ps1
Labels: dev/tooling

Cilium: add 1.16+ metrics
  cilium/changelog.d/19520.added
  cilium/datadog_checks/cilium/metrics.py
  cilium/metadata.csv
  cilium/tests/common.py
  cilium/tests/fixtures/agent_metrics.txt
  cilium/tests/legacy/legacy_common.py
Labels: none

Forcepoint SWG: Updated dashboards
  forcepoint_secure_web_gateway/assets/dashboards/forcepoint_secure_web_gateway_web_dlp_logs.json
  forcepoint_secure_web_gateway/assets/dashboards/forcepoint_secure_web_gateway_web_logs.json
Labels: none

Unify linux and windows server
  .github/workflows/fips/compose/compose-linux.yml
  .github/workflows/fips/compose/compose-windows.yml
  .github/workflows/fips/compose/server/Dockerfile
  .github/workflows/fips/compose/server/ca.crt
  .github/workflows/fips/compose/server/ca.key
  .github/workflows/fips/compose/server/http-server.go
  .github/workflows/fips/compose/windows/Dockerfile
  .github/workflows/fips/compose/windows/ca.crt
  .github/workflows/fips/compose/windows/ca.key
  .github/workflows/fips/compose/windows/http-server.go
Labels: dev/tooling

[LOI-346] Milvus Logs (#19331)
  milvus/README.md
  milvus/assets/configuration/spec.yaml
  milvus/assets/logs/milvus.yaml
  milvus/assets/logs/milvus_tests.yaml
  milvus/assets/saved_views/error_logs_overview.json
  milvus/assets/saved_views/logs_overview.json
  milvus/changelog.d/19331.added
  milvus/datadog_checks/milvus/data/conf.yaml.example
  milvus/manifest.json
Labels: documentation

Resolved Readme review changes
  orca_security/README.md
Labels: documentation

Fix windows docker compose args
  .github/workflows/fips-test.yml
  .github/workflows/fips/compose/compose-linux.yml
  .github/workflows/fips/compose/compose-windows.yml
  .github/workflows/fips/compose/server/Dockerfile-nix
  .github/workflows/fips/compose/server/Dockerfile-win
Labels: dev/tooling

DDSaaS: Plivo: Crawler Integration v1.0.0 (#18719)
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  plivo/CHANGELOG.md
  plivo/README.md
  plivo/assets/dashboards/plivo_messages.json
  plivo/assets/dashboards/plivo_voice_calls.json
  plivo/assets/logs/plivo.yaml
  plivo/assets/logs/plivo_tests.yaml
  plivo/assets/monitors/messages_budget_overrun.json
  plivo/assets/monitors/messages_error_rate_is_higher_than_usual.json
  plivo/assets/monitors/voice_calls_budget_overrun.json
  plivo/assets/monitors/voice_calls_error_rate_is_higher_than_usual.json
  plivo/assets/plivo_logo.svg
  plivo/assets/service_checks.json
  plivo/images/plivo_messages_1.png
  plivo/images/plivo_messages_2.png
  plivo/images/plivo_voice_calls_1.png
  plivo/images/plivo_voice_calls_2.png
  plivo/manifest.json
Labels: documentation, dev/tooling

Fix CouchDB 2+ message_queues metric collection
  couch/datadog_checks/couch/couch.py
Labels: none

Add debug function for windows
  .github/workflows/fips-test.yml
  .github/workflows/fips/tests/conftest.py
  .github/workflows/fips/tests/test_connections.py
  .github/workflows/fips/tests/test_libraries.py
Labels: dev/tooling

Re-implement workaround for libraries tests
  .github/workflows/fips/tests/conftest.py
  .github/workflows/fips/tests/test_libraries.py
Labels: dev/tooling

OPTIONAL: expose more useful message_queues metrics
  couch/datadog_checks/couch/couch.py
Labels: none

lint
  couch/datadog_checks/couch/couch.py
Labels: none

Update metabase/assets/monitors/high_number_of_user_deactivations.json
  metabase/assets/monitors/high_number_of_user_deactivations.json
Labels: none

Update metabase/README.md
  metabase/README.md
Labels: documentation

Update metabase/README.md
  metabase/README.md
Labels: documentation

Update metabase/README.md
  metabase/README.md
Labels: documentation

Update metabase/README.md
  metabase/README.md
Labels: documentation

Update metabase/README.md
  metabase/README.md
Labels: documentation

Add JSON example for AP1 (#19516)
  ecs_fargate/README.md
Labels: documentation

[SAASINT-3328] DDS: Avast: Crawler Integration Without Assets (#18911)
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  avast/CHANGELOG.md
  avast/README.md
  avast/assets/service_checks.json
  avast/manifest.json
Labels: documentation, dev/tooling

update oci oke integration metadata and log pipeline
  oke/assets/logs/oci.oke.yaml
  oke/assets/logs/oci.oke_tests.yaml
  oke/manifest.json
  oke/metadata.csv
Labels: none

[eci][oci] create oci oke OOTB dashboard (#19373)
  oke/assets/dashboards/oci_oke_overview.json
  oke/manifest.json
Labels: none

use suggested integration name
  oke/metadata.csv
Labels: none

Update ivanti_nzta/README.md
  ivanti_nzta/README.md
Labels: documentation

fix app id
  oke/assets/logs/oci.oke.yaml
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update keda/README.md
  keda/README.md
Labels: documentation

Update keda/README.md
  keda/README.md
Labels: documentation

Update manifest
  trend_micro_vision_one_xdr/manifest.json
Labels: none

Update: pipeline with additional grok parser to convert fields to list
  forcepoint_security_service_edge/assets/logs/forcepoint-security-service-edge.yaml
Labels: none

Update: test results for pipeline
  forcepoint_security_service_edge/assets/logs/forcepoint-security-service-edge_tests.yaml
Labels: none

Update: minor change in cloud logs dashboard
  forcepoint_security_service_edge/assets/dashboards/forcepoint_security_service_edge_cloud_logs.json
Labels: none

Added dashboard changes
  adyen/CHANGELOG.md
  adyen/README.md
  adyen/assets/adyen.svg
  adyen/assets/dashboards/adyen_disputes.json
  adyen/assets/dashboards/adyen_payouts.json
  adyen/assets/dashboards/adyen_transactions.json
  adyen/assets/logs/adyen.yaml
  adyen/assets/logs/adyen_tests.yaml
  adyen/assets/monitors/expired_payout_detected.json
  adyen/assets/monitors/failed_capture_detected_due_to_a_rejection_by_the_card_scheme.json
  adyen/assets/monitors/failed_refund_detected_due_to_a_rejection_by_the_card_scheme.json
  adyen/assets/monitors/high_number_of_declined_payouts_detected.json
  adyen/assets/monitors/high_number_of_failed_captures_detected.json
  adyen/assets/monitors/high_number_of_failed_payout_requests_detected.json
  adyen/assets/monitors/high_number_of_failed_refunds_detected.json
  adyen/assets/monitors/notification_of_chargeback.json
  adyen/assets/monitors/notification_of_fraud.json
  adyen/assets/monitors/second_chargeback_detected.json
  adyen/assets/service_checks.json
  adyen/images/adyen_disputes.png
  adyen/images/adyen_payouts.png
  adyen/images/adyen_transaction_1.png
  adyen/images/adyen_transaction_2.png
  adyen/manifest.json
Labels: documentation

Added adyen disputes dashboard changes
  adyen/assets/dashboards/adyen_disputes.json
Labels: none

Add Windows FIPS workaround
  .github/workflows/fips/compose/compose-windows.yml
  .github/workflows/fips/tests/test_connections.py
Labels: dev/tooling

edit readme
  docs/README.md
Labels: documentation

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
