Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Azure Active Directory - Credential Expiry Event documentation (#16158)
  azure_active_directory/README.md
Labels: documentation

Build on windows
  .deps-builder/build-dependencies.sh
  .deps-builder/buildwin.bat
  .deps-builder/omnibus/config/software/datadog-agent-integrations-buildenv-py3.rb
  .deps-builder/omnibus/config/software/snowflake-connector-python-py3.rb
  .deps-builder/omnibus/config/software/vc_redist_14.rb
  .deps-builder/omnibus/lib/build_env.rb
  .deps-builder/omnibus/lib/paths.rb
  .deps-builder/windows/decompress_merge_module.ps1
  .github/workflows/build-deps.yml
Labels: dev/tooling

[SQLServer] - Add index type to index usage metrics
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/metadata.csv
  sqlserver/tests/test_metrics.py
Labels: none

[SQLServer] - Add index type to index fragmentation metrics
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/metadata.csv
  sqlserver/tests/test_metrics.py
Labels: none

fix lint
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: none

Update title and description
  openai/assets/monitors/api_token_usage.json
  openai/assets/monitors/request_limits.json
  openai/assets/monitors/tokens_limits.json
Labels: none

Update title and description
  airbyte/assets/monitors/long_running_jobs.json
Labels: none

changelog
  sqlserver/changelog.d/16214.added
Labels: none

changelog entries for 7.49.1
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
  ibm_was/CHANGELOG.md
  sqlserver/CHANGELOG.md
Labels: documentation

fix
  AGENT_INTEGRATIONS.md
Labels: documentation

Update title and description
  kubernetes/assets/monitors/monitor_deployments_replicas.json
  kubernetes/assets/monitors/monitor_node_unavailable.json
  kubernetes/assets/monitors/monitor_pod_crashloopbackoff.json
  kubernetes/assets/monitors/monitor_pod_imagepullbackoff.json
  kubernetes/assets/monitors/monitor_pods_failed_state.json
  kubernetes/assets/monitors/monitor_pods_restarting.json
  kubernetes/assets/monitors/monitor_statefulset_replicas.json
Labels: none

Update title and description
  calico/assets/monitors/dataplane_failures.json
  calico/assets/monitors/ipset_error.json
  calico/assets/monitors/iptables_restore_errors.json
  calico/assets/monitors/iptables_save_errors.json
Labels: none

[SQLServer] - Add stolen memory performance counter
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/metadata.csv
Labels: none

[SQLServer] changelog entry
  sqlserver/changelog.d/16220.added
Labels: none

oops
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: none

Add iam_auth config option to explicitly enable or disable RDS iam auth
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_statements.py
Labels: none

add changelog
  postgres/changelog.d/16221.added
Labels: none

mock aws generate_db_auth_token method in test
  postgres/tests/test_pg_integration.py
Labels: none

Join PipeHistory queries with pipes for additional tags
  snowflake/datadog_checks/snowflake/queries.py
Labels: none

Update queries.py
  snowflake/datadog_checks/snowflake/queries.py
Labels: none

fix tests
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_metrics.py
  sqlserver/tests/test_unit.py
Labels: none

Update CHANGELOG.md
  snowflake/CHANGELOG.md
Labels: documentation

Remove unused images assets
  ambari/assets/images/apache_ambari_200x128@2x.png
  ambari/assets/images/base_dashboard.png
Labels: none

Changelog entries for 7.49.1 (#16217)
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
  ibm_was/CHANGELOG.md
  sqlserver/CHANGELOG.md
Labels: documentation

Add missing integrations to the labeler
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Add missing integrations to the labeler (#16224)
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Update the labeler and ddqa configs to automatically assign QA cards
  .ddqa/config.toml
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Build on macOS
  .deps-builder/build.sh
  .deps-builder/omnibus/config/software/libgcrypt.rb
  .deps-builder/omnibus/config/software/librdkafka.rb
  .github/workflows/build-deps.yml
Labels: dev/tooling

Remove unused images assets (#16223)
  ambari/assets/images/apache_ambari_200x128@2x.png
  ambari/assets/images/base_dashboard.png
Labels: none

log events
  silk/datadog_checks/silk/check.py
Labels: none

Add source_type_id to nvidia_triton
  nvidia_triton/manifest.json
Labels: none

Update manifest.json
  nvidia_triton/manifest.json
Labels: none

[Release] Bumped silk version to 1.2.3-beta.1
  requirements-agent-release.txt
  silk/CHANGELOG.md
  silk/datadog_checks/silk/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

Add source_type_id to nvidia_triton (#16227)
  nvidia_triton/manifest.json
Labels: none

Update title and description
  temporal/assets/monitors/FrontendLatency.json
  temporal/assets/monitors/HistoryLatency.json
  temporal/assets/monitors/MatchingLatency.json
  temporal/assets/monitors/PersistenceLatency.json
Labels: none

Clarify which metrics are available via integration setup methods
  openai/README.md
Labels: documentation

Update title and description
  arangodb/assets/monitors/high_server_kernel_mode.json
  arangodb/assets/monitors/high_server_user_mode.json
Labels: none

[Release] Bumped silk version to 1.2.3-beta.2
  requirements-agent-release.txt
  silk/CHANGELOG.md
  silk/datadog_checks/silk/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
