Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

[kafka_consumer] Add changelog entry for auto_load_distribution
  kafka_consumer/changelog.d/24435.added
Labels: none

[builders] Patch librdkafka cluster_id strlen() overrun in DescribeCluster metadata parsing
  .builders/images/linux-aarch64/build_script.sh
  .builders/images/linux-x86_64/build_script.sh
  .builders/patches/librdkafka-fix-cluster-id-strlen.patch
Labels: none

[kafka_consumer] Add changelog entry for librdkafka cluster_id fix
  kafka_consumer/changelog.d/24437.fixed
Labels: none

Shorten the rate limiting changelog entry
  ddev/changelog.d/24179.added
Labels: none

Add test-debug label to run PR tests with verbose pytest logging
  .github/workflows/pr.yml
Labels: dev/tooling

[Release] Release Kueue for 7.82 (#24433)
  .in-toto/tag.3fd906bb.link
  kueue/CHANGELOG.md
  kueue/changelog.d/23908.added
  kueue/changelog.d/23999.added
  kueue/changelog.d/24311.added
  kueue/datadog_checks/kueue/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Backport] [Release] Release Kueue for 7.82
  kueue/CHANGELOG.md
  kueue/changelog.d/23908.added
  kueue/changelog.d/23999.added
  kueue/changelog.d/24311.added
  kueue/datadog_checks/kueue/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped argocd version to 4.8.0
  argocd/CHANGELOG.md
  argocd/changelog.d/24288.added
  argocd/datadog_checks/argocd/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped clickhouse version to 7.1.0
  clickhouse/CHANGELOG.md
  clickhouse/changelog.d/24247.fixed
  clickhouse/changelog.d/24267.added
  clickhouse/changelog.d/24268.fixed
  clickhouse/changelog.d/24272.fixed
  clickhouse/changelog.d/24276.fixed
  clickhouse/datadog_checks/clickhouse/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped datadog_checks_base version to 37.42.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/24297.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped dcgm version to 5.0.0
  dcgm/CHANGELOG.md
  dcgm/changelog.d/24171.added
  dcgm/changelog.d/24171.changed
  dcgm/datadog_checks/dcgm/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped elastic version to 9.6.0
  elastic/CHANGELOG.md
  elastic/changelog.d/24323.added
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped envoy version to 6.6.0
  envoy/CHANGELOG.md
  envoy/changelog.d/24237.added
  envoy/datadog_checks/envoy/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped flink version to 3.3.0
  flink/CHANGELOG.md
  flink/changelog.d/23857.added
  flink/datadog_checks/flink/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped fluentd version to 5.7.0
  fluentd/CHANGELOG.md
  fluentd/changelog.d/24159.added
  fluentd/datadog_checks/fluentd/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped fluxcd version to 3.5.0
  fluxcd/CHANGELOG.md
  fluxcd/changelog.d/24053.added
  fluxcd/datadog_checks/fluxcd/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped hpe_aruba_edgeconnect version to 1.0.1
  hpe_aruba_edgeconnect/CHANGELOG.md
  hpe_aruba_edgeconnect/changelog.d/24130.fixed
  hpe_aruba_edgeconnect/datadog_checks/hpe_aruba_edgeconnect/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped ibm_i version to 5.0.0
  ibm_i/CHANGELOG.md
  ibm_i/changelog.d/23986.changed
  ibm_i/datadog_checks/ibm_i/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped istio version to 9.5.3
  istio/CHANGELOG.md
  istio/changelog.d/23396.fixed
  istio/datadog_checks/istio/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kafka_actions version to 2.8.0
  kafka_actions/CHANGELOG.md
  kafka_actions/changelog.d/23588.fixed
  kafka_actions/changelog.d/24165.added
  kafka_actions/datadog_checks/kafka_actions/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kafka_consumer version to 8.1.0
  kafka_consumer/CHANGELOG.md
  kafka_consumer/changelog.d/23915.added
  kafka_consumer/changelog.d/24013.added
  kafka_consumer/changelog.d/24033.added
  kafka_consumer/changelog.d/24149.fixed
  kafka_consumer/changelog.d/24167.fixed
  kafka_consumer/changelog.d/24263.fixed
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped krakend version to 1.5.0
  krakend/CHANGELOG.md
  krakend/changelog.d/24126.added
  krakend/datadog_checks/krakend/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mongo version to 10.11.0
  mongo/CHANGELOG.md
  mongo/changelog.d/24140.fixed
  mongo/changelog.d/24267.added
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mysql version to 15.18.0
  mysql/CHANGELOG.md
  mysql/changelog.d/24125.fixed
  mysql/changelog.d/24178.fixed
  mysql/changelog.d/24267.added
  mysql/changelog.d/24269.fixed
  mysql/changelog.d/24273.fixed
  mysql/changelog.d/24277.fixed
  mysql/changelog.d/24287.fixed
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped n8n version to 2.1.0
  n8n/CHANGELOG.md
  n8n/changelog.d/23964.added
  n8n/datadog_checks/n8n/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped nutanix version to 1.6.0
  nutanix/CHANGELOG.md
  nutanix/changelog.d/24161.added
  nutanix/changelog.d/24303.added
  nutanix/datadog_checks/nutanix/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped postgres version to 23.10.0
  postgres/CHANGELOG.md
  postgres/changelog.d/23645.added
  postgres/changelog.d/24096.fixed
  postgres/changelog.d/24102.fixed
  postgres/changelog.d/24265.fixed
  postgres/changelog.d/24267.added
  postgres/changelog.d/24270.fixed
  postgres/changelog.d/24278.fixed
  postgres/changelog.d/24287.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped proxmox version to 2.6.0
  proxmox/CHANGELOG.md
  proxmox/changelog.d/24008.added
  proxmox/datadog_checks/proxmox/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped pulsar version to 3.7.0
  pulsar/CHANGELOG.md
  pulsar/changelog.d/24116.added
  pulsar/datadog_checks/pulsar/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped ray version to 3.5.0
  ray/CHANGELOG.md
  ray/changelog.d/23997.added
  ray/datadog_checks/ray/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped redisdb version to 8.9.0
  redisdb/CHANGELOG.md
  redisdb/changelog.d/23734.added
  redisdb/datadog_checks/redisdb/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped sap_hana version to 5.6.0
  requirements-agent-release.txt
  sap_hana/CHANGELOG.md
  sap_hana/changelog.d/23934.added
  sap_hana/datadog_checks/sap_hana/__about__.py
Labels: documentation

[Release] Bumped slurm version to 2.5.0
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/24235.security
  slurm/changelog.d/24384.fixed
  slurm/datadog_checks/slurm/__about__.py
Labels: documentation

[Release] Bumped snmp version to 13.1.0
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/changelog.d/23939.added
  snmp/changelog.d/24107.fixed
  snmp/datadog_checks/snmp/__about__.py
Labels: documentation

[Release] Bumped sqlserver version to 23.3.0
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/24138.fixed
  sqlserver/changelog.d/24203.fixed
  sqlserver/changelog.d/24206.fixed
  sqlserver/changelog.d/24267.added
  sqlserver/changelog.d/24271.fixed
  sqlserver/changelog.d/24274.fixed
  sqlserver/changelog.d/24279.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

[Release] Bumped temporal version to 4.7.0
  requirements-agent-release.txt
  temporal/CHANGELOG.md
  temporal/changelog.d/24043.added
  temporal/datadog_checks/temporal/__about__.py
Labels: documentation

[Release] Bumped win32_event_log version to 5.6.1
  requirements-agent-release.txt
  win32_event_log/CHANGELOG.md
  win32_event_log/changelog.d/23588.fixed
  win32_event_log/datadog_checks/win32_event_log/__about__.py
Labels: documentation

[Release] Bumped yarn version to 8.4.2
  requirements-agent-release.txt
  yarn/CHANGELOG.md
  yarn/changelog.d/23588.fixed
  yarn/datadog_checks/yarn/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.3fd906bb.link
Labels: none

Pin redis, pymysql, cryptography back to master versions
  agent_requirements.in
  cacti/changelog.d/24321.added
  cacti/pyproject.toml
  cisco_aci/changelog.d/24321.added
  cisco_aci/pyproject.toml
  datadog_checks_base/pyproject.toml
  http_check/changelog.d/24321.added
  http_check/pyproject.toml
  mysql/pyproject.toml
  proxysql/changelog.d/24321.added
  proxysql/pyproject.toml
  redisdb/changelog.d/24321.added
  redisdb/pyproject.toml
  silverstripe_cms/pyproject.toml
  singlestore/changelog.d/24321.added
  singlestore/pyproject.toml
  tls/pyproject.toml
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
