Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Fix the Python 2 nightly build
  .ddev/config.toml
  .github/workflows/test-all.yml
  .github/workflows/test-target.yml
  ddev/changelog.d/17281.fixed
  ddev/src/ddev/cli/validate/ci.py
  ddev/src/ddev/utils/scripts/ci_matrix.py
Labels: dev/tooling

Rename test files (#17278)
  mongo/tests/common.py
  mongo/tests/test_integration_shard.py
  mongo/tests/test_integration_standalone.py
  mongo/tests/test_unit_config.py
  mongo/tests/test_unit_diagnose.py
Labels: none

oracle-doc
  oracle/README.md
Labels: documentation

corrected copy/paste errors
  oracle/README.md
Labels: documentation

corrected copy/paste errors
  oracle/README.md
Labels: documentation

Update metadata.csv (#17265)
  snmp/metadata.csv
Labels: none

Update README.md (#17263)
  kafka/README.md
Labels: documentation

Update README.md (#17262)
  go-metro/README.md
Labels: documentation

[Python-based kubelet] Parse resources with exponent notation (#17280)
  kubelet/changelog.d/17280.fixed
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/test_kubelet.py
Labels: none

Break circular dependency between sqlserver check and connection (#17275)
  sqlserver/changelog.d/17275.fixed
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_connection.py
Labels: none

correct commands
  oracle/README.md
Labels: documentation

correct commands
  oracle/README.md
Labels: documentation

correct commands
  oracle/README.md
Labels: documentation

Mention contributors in the changelog (#17277)
  cockroachdb/CHANGELOG.md
Labels: documentation

Mention contributors in the changelog (#17277)
  cockroachdb/CHANGELOG.md
Labels: documentation

correct commands
  oracle/README.md
Labels: documentation

correct commands
  oracle/README.md
Labels: documentation

Reuse our own package indices when retrieving wheels for resolution (#17279)
  .builders/build.py
  .builders/scripts/build_wheels.py
  .builders/scripts/repair_wheels.py
  .builders/upload.py
Labels: none

correct commands
  oracle/README.md
Labels: documentation

formatting
  oracle/README.md
Labels: documentation

Update dependency resolution
  .deps/image_digests.json
  .deps/resolved/linux-aarch64_py2.txt
  .deps/resolved/linux-aarch64_py3.txt
  .deps/resolved/linux-x86_64_py2.txt
  .deps/resolved/linux-x86_64_py3.txt
  .deps/resolved/macos-x86_64_py2.txt
  .deps/resolved/macos-x86_64_py3.txt
  .deps/resolved/windows-x86_64_py3.txt
Labels: none

corrections
  oracle/README.md
Labels: documentation

add missing bracket in common.py test file
  mongo/tests/common.py
Labels: none

corrections
  oracle/README.md
Labels: documentation

correct subdir
  oracle/README.md
Labels: documentation

boundaries
  oracle/README.md
Labels: documentation

istio Saved views
  istio/assets/saved_views/istio_error_overview.json
  istio/assets/saved_views/istio_overview.json
  istio/assets/saved_views/istio_pilot_errors.json
  istio/assets/saved_views/istio_pilot_logs.json
  istio/assets/saved_views/istio_proxyv2_errors.json
  istio/assets/saved_views/istio_proxyv2_logs.json
  istio/manifest.json
Labels: none

istio Saved views
  istio/manifest.json
Labels: none

Update {check_name}_overview.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/assets/dashboards/{check_name}_overview.json
Labels: none

Update {check_name}_overview.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/assets/dashboards/{check_name}_overview.json
Labels: none

event host resolution
  mongo/datadog_checks/mongo/collectors/replica.py
  mongo/tests/test_integration.py
Labels: none

update test case with param id
  postgres/tests/test_pg_integration.py
Labels: none

migrate db fragmentation metrics to query executor
  sqlserver/datadog_checks/sqlserver/database_metrics.py
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/common.py
  sqlserver/tests/test_metrics.py
Labels: none

Minor grammar updates
  oracle/README.md
Labels: documentation

migrate master files metrics to query executor
  sqlserver/datadog_checks/sqlserver/database_metrics.py
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/common.py
Labels: none

Fix build error
  oracle/README.md
Labels: documentation

migrate database backup metrics
  sqlserver/datadog_checks/sqlserver/database_metrics.py
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/common.py
  sqlserver/tests/test_unit.py
Labels: none

migrate task scheduler metrics
  sqlserver/datadog_checks/sqlserver/database_metrics.py
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/common.py
Labels: none

migrate database stats metrics
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/database_metrics.py
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/common.py
Labels: none

Update mongo/changelog.d/17276.added
  mongo/changelog.d/17276.added
Labels: none
