Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

fix resource endpoint
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/azure.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: none

style check again
  postgres/datadog_checks/postgres/postgres.py
Labels: none

Add new ScyllaDB metrics (#15592)
  scylla/CHANGELOG.md
  scylla/datadog_checks/scylla/metrics.py
  scylla/hatch.toml
  scylla/tests/common.py
  scylla/tests/conftest.py
  scylla/tests/fixtures/scylla_5_metrics.txt
  scylla/tests/test_scylla.py
Labels: documentation

Remove python 2 references from SQL Server integration
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  sqlserver/pyproject.toml
Labels: none

sync licenses & update changelog
  LICENSE-3rdparty.csv
Labels: none

fix changelog
  sqlserver/CHANGELOG.md
Labels: documentation

fix changelog for base checks
  datadog_checks_base/CHANGELOG.md
Labels: documentation

consolidate changed headers
  sqlserver/CHANGELOG.md
Labels: documentation

Update PR checker workflow to run on forks
  .github/workflows/pr-check.yml
Labels: dev/tooling

Add support for authenticating through Azure Managed Identity (#15609)
  postgres/CHANGELOG.md
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/azure.py
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/pyproject.toml
Labels: documentation

Remove python 2 references from SQL Server integration (#15606)
  LICENSE-3rdparty.csv
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  sqlserver/CHANGELOG.md
  sqlserver/pyproject.toml
Labels: documentation

optimize time
  .github/workflows/pr-quick-check.yml
Labels: dev/tooling

update CHANGELOG
  postgres/CHANGELOG.md
Labels: documentation

update style and add types
  vsphere/datadog_checks/vsphere/utils.py
  vsphere/datadog_checks/vsphere/vsphere.py
Labels: none

Update changelog
  vsphere/CHANGELOG.md
Labels: documentation

Update PR checker workflow to run on forks (#15610)
  .github/workflows/pr-check.yml
  .github/workflows/pr-quick-check.yml
Labels: dev/tooling

skip explain parameterized query test for pg version < 12
  postgres/tests/test_statements.py
Labels: none

refactor redundant code
  scylla/tests/common.py
Labels: none

fix helper function
  scylla/tests/common.py
Labels: none

add config for new metrics
  scylla/assets/configuration/spec.yaml
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: none

remove unused variable
  scylla/tests/common.py
Labels: none

clean up
  scylla/tests/common.py
Labels: none

update changelog
  scylla/CHANGELOG.md
Labels: documentation

Apply suggestions from code review
  scylla/assets/configuration/spec.yaml
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: none

Add config for new metrics groups (#15614)
  scylla/CHANGELOG.md
  scylla/assets/configuration/spec.yaml
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: documentation

Migrate `ddev release agent integrations` to `ddev` (#15598)
  ddev/CHANGELOG.md
  ddev/src/ddev/cli/release/agent/__init__.py
  ddev/src/ddev/cli/release/agent/integrations_changelog.py
  ddev/src/ddev/cli/terminal.py
  ddev/tests/cli/release/agent/test_integrations_changelog.py
Labels: documentation

run the tests
  tcp_check/datadog_checks/tcp_check/tcp_check.py
Labels: none

test with 7.47
  .github/workflows/test-target.yml
Labels: dev/tooling

run test without breaking validation
  tcp_check/datadog_checks/tcp_check/tcp_check.py
Labels: none

agent 6 for py2 tests
  .github/workflows/test-target.yml
Labels: dev/tooling

only run py3
  .github/workflows/pr-test.yml
  .github/workflows/test-target.yml
Labels: dev/tooling

switch image
  .github/workflows/test-target.yml
Labels: dev/tooling

switch image
  .github/workflows/test-target.yml
Labels: dev/tooling

switch image
  .github/workflows/test-target.yml
Labels: dev/tooling

Improve airbyte process signature based on testing with dd-go
  airbyte/manifest.json
Labels: none

switch image
  .github/workflows/test-target.yml
Labels: dev/tooling

Improve airbyte process signature based on testing with dd-go (#15616)
  airbyte/manifest.json
Labels: none

Do not install libpython2-dev in the agent container
  cacti/tests/common.py
Labels: none

Do not install libpython2-dev in the agent container (#15617)
  cacti/tests/common.py
Labels: none

[Release] Bumped amazon_msk version to 4.1.0
  amazon_msk/CHANGELOG.md
  amazon_msk/datadog_checks/amazon_msk/__about__.py
  requirements-agent-release.txt
Labels: documentation

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
