Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Return obfuscation failures from populate
  datadog_checks_base/datadog_checks/base/utils/db/obfuscation_lookup.py
  datadog_checks_base/tests/base/utils/db/test_obfuscation_lookup.py
Labels: none

Extract a module-level obfuscate_statement
  datadog_checks_base/datadog_checks/base/utils/db/obfuscation_lookup.py
  datadog_checks_base/tests/base/utils/db/test_obfuscation_lookup.py
Labels: none

Add resolve_obfuscations to own the cache miss path
  datadog_checks_base/datadog_checks/base/utils/db/obfuscation_lookup.py
  datadog_checks_base/tests/base/utils/db/test_obfuscation_resolver.py
Labels: none

Add changelog entry
  datadog_checks_base/changelog.d/24791.added
Labels: none

test(http): restore dropped config-to-wire proofs
  datadog_checks_base/tests/base/utils/http/common.py
  datadog_checks_base/tests/base/utils/http/test_auth.py
  datadog_checks_base/tests/base/utils/http/test_capabilities.py
  datadog_checks_base/tests/base/utils/http/test_headers.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
  http_check/tests/test_http_integration.py
  vault/tests/test_vault.py
  yarn/tests/test_yarn.py
Labels: none

Correct the fabricated connection direction and duplicate IPv6 address in the network test samples
  crowdstrike_fdr/assets/logs/crowdstrike-fdr_tests.yaml
Labels: none

add workflow to notify pypi admins
  .github/workflows/notify-new-integration.yml
Labels: dev/tooling

use this branch
  .github/workflows/notify-new-integration.yml
Labels: dev/tooling

Add fake integration
  test_fake_integration/datadog_checks/test_fake_integration/__init__.py
  test_fake_integration/pyproject.toml
Labels: none

update message
  .github/workflows/notify-new-integration.yml
Labels: dev/tooling

test
  test_fake_integration_2/datadog_checks/test_fake_integration_2/__init__.py
  test_fake_integration_2/pyproject.toml
Labels: none

[SEC-35266] Restructure CrowdStrike FDR log pipeline into per-event-type sub-pipelines (#24762)
  crowdstrike_fdr/assets/logs/crowdstrike-fdr.yaml
  crowdstrike_fdr/assets/logs/crowdstrike-fdr_tests.yaml
Labels: none

Update manifest.json
  amazon_eks/manifest.json
Labels: none

[SEC-35272] Add crowdstrike_fdr dataflows.yaml and correct the README onboarding path (#24763)
  crowdstrike_fdr/README.md
  crowdstrike_fdr/assets/account_config.json
  crowdstrike_fdr/assets/dataflows.yaml
Labels: documentation

fix(openstack): read status off the raised error
  harbor/tests/test_unit.py
  openstack/datadog_checks/openstack/openstack.py
  openstack/tests/test_openstack.py
Labels: none

fix(base): give foreign sessions their own adapter
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
Labels: none

fix(openstack_controller): carry auth to keystone
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/tests/test_unit_auth.py
Labels: none

test(base): cover the OpenMetrics TLS shims
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
Labels: none

test: swap ad hoc client doubles for the sealed
  gitlab/tests/test_unit.py
  voltdb/tests/test_unit.py
Labels: none

test(elastic): stop issuing a live unit-test GET
  elastic/tests/test_unit.py
Labels: none

test(base): census off-protocol client members
  datadog_checks_base/tests/base/utils/http/test_capabilities.py
Labels: none

fix(nifi): suppress client auth with disable_auth
  nifi/datadog_checks/nifi/check.py
  nifi/tests/test_unit.py
Labels: none

fix(avi_vantage): pin the scrape Accept header
  avi_vantage/datadog_checks/avi_vantage/check.py
  avi_vantage/tests/test_avi_vantage.py
Labels: none

test: cover HTTP paths their suites never ran
  kube_controller_manager/tests/test_kube_controller_manager.py
  kube_dns/tests/test_kube_dns.py
  kube_metrics_server/tests/test_kube_metrics_server.py
  kube_proxy/tests/test_kube_proxy.py
  kube_scheduler/tests/test_kube_scheduler_1_14.py
  marathon/tests/test_unit.py
  mesos_slave/tests/test_unit.py
  vsphere/tests/test_api_rest.py
Labels: none

docs(base): document the agnostic error contract
  datadog_checks_base/changelog.d/22676.changed
  docs/developer/base/http.md
Labels: documentation

feat(base): add the agnostic HTTP protocol, exceptions and test doubles
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/base_scraper.py
  datadog_checks_base/datadog_checks/base/utils/headers.py
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/http_exceptions.py
  datadog_checks_base/datadog_checks/base/utils/http_protocol.py
  datadog_checks_base/tests/base/utils/http/common.py
  datadog_checks_base/tests/base/utils/http/test_auth.py
  datadog_checks_base/tests/base/utils/http/test_capabilities.py
  datadog_checks_base/tests/base/utils/http/test_config.py
  datadog_checks_base/tests/base/utils/http/test_exceptions.py
  datadog_checks_base/tests/base/utils/http/test_headers.py
  datadog_checks_base/tests/base/utils/http/test_http.py
  datadog_checks_base/tests/base/utils/http/test_http_testing.py
  datadog_checks_base/tests/base/utils/http/test_legacy_options.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
  datadog_checks_dev/datadog_checks/dev/http.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  ddev/src/ddev/cli/validate/http.py
  ddev/tests/cli/validate/test_http.py
  docs/developer/base/http.md
Labels: documentation

docs: add changelog entries for the agnostic HTTP floor
  datadog_checks_base/changelog.d/24795.added
  datadog_checks_dev/changelog.d/24795.added
  ddev/changelog.d/24795.fixed
Labels: none

revert(ddev): drop the validate http tightening from this PR
  ddev/changelog.d/24795.fixed
  ddev/src/ddev/cli/validate/http.py
  ddev/tests/cli/validate/test_http.py
Labels: none

Surface unreadable checkpoints and re-check resumability before resuming
  ddev/src/ddev/ai/runtime/checkpoints.py
  ddev/src/ddev/cli/meta/ai/tui/runs.py
  ddev/src/ddev/cli/meta/ai/tui/screens/flow.py
  ddev/src/ddev/cli/meta/ai/tui/screens/main.py
  ddev/src/ddev/cli/meta/ai/tui/widgets/flow_card.py
  ddev/tests/cli/meta/ai/tui/test_flow_screen.py
  ddev/tests/cli/meta/ai/tui/test_main_screen.py
Labels: none

envoy: match envoy-distroless containers for config discovery
  envoy/assets/configuration/spec.yaml
  envoy/datadog_checks/envoy/data/auto_conf.yaml
Labels: none

[ibm_mq] Collect per-queue PCF metrics in bulk with wildcard names
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/tests/test_queue_metric_collector.py
Labels: none

[ibm_mq] Add changelog fragment for wildcard PCF collection
  ibm_mq/changelog.d/24796.fixed
Labels: none

[voltdb] Switch to native VoltDB Python client (#24714)
  .deps/builder_inputs.toml
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
  .github/workflows/test-all.yml
  LICENSE-3rdparty.csv
  agent_requirements.in
  voltdb/README.md
  voltdb/assets/configuration/spec.yaml
  voltdb/changelog.d/24714.added
  voltdb/datadog_checks/voltdb/check.py
  voltdb/datadog_checks/voltdb/client.py
  voltdb/datadog_checks/voltdb/config.py
  voltdb/datadog_checks/voltdb/config_models/defaults.py
  voltdb/datadog_checks/voltdb/config_models/instance.py
  voltdb/datadog_checks/voltdb/data/conf.yaml.example
  voltdb/datadog_checks/voltdb/http_client.py
  voltdb/datadog_checks/voltdb/queries.py
  voltdb/datadog_checks/voltdb/types.py
  voltdb/hatch.toml
  voltdb/pyproject.toml
  voltdb/tests/common.py
  voltdb/tests/compose/docker-compose.yaml
  voltdb/tests/conftest.py
  voltdb/tests/test_integration.py
  voltdb/tests/test_unit.py
  voltdb/tests/utils.py
Labels: documentation, dev/tooling

Stabilize modal layout tests
  ddev/tests/cli/meta/ai/tui/test_launch_modal.py
  ddev/tests/cli/meta/ai/tui/test_main_screen.py
Labels: none

Add MySQL Data Observability job
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config_models/__init__.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/config_models/shared.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/data_observability.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/pyproject.toml
  mysql/tests/test_data_observability.py
Labels: none

Add changelog for PR 24798
  mysql/changelog.d/24798.added
Labels: none

Fix MySQL validation metadata
  agent_requirements.in
  mysql/datadog_checks/mysql/config_models/__init__.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/config_models/shared.py
Labels: none

Update third-party licence inventory
  LICENSE-3rdparty.csv
Labels: none

Use authenticated licence metadata
  LICENSE-3rdparty.csv
Labels: none

Address the review comments
  ddev/src/ddev/cli/ci/tests/messages.py
  ddev/src/ddev/cli/ci/tests/progress.py
  ddev/src/ddev/cli/ci/tests/status.py
  ddev/src/ddev/cli/ci/tests/task_test_gatherer.py
  ddev/tests/cli/ci/tests/test_messages.py
  ddev/tests/cli/ci/tests/test_progress.py
  ddev/tests/cli/ci/tests/test_task_test_gatherer.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
