Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Fix ruff formatting on fgHwSensorAlarmStatus assertion
  snmp/tests/test_profiles.py
Labels: none

Port datadog_checks_base 38.0.2 release to master (#25011)
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/24864.security
Labels: documentation

Remove preview note from collect_raw_query_statement
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: none

Add dataflow_config section to account_config.json
  proofpoint_tap/assets/account_config.json
Labels: none

Remove ineffective HTTP warning assertions
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
Labels: none

Restore OpenMetrics Accept precedence
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/base_scraper.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_config.py
Labels: none

Repoint release dispatch to ddoghq/agent-integration-wheels-release (#24974)
  .github/workflows/release-dispatch.yml
  .github/workflows/scripts/_release/__init__.py
Labels: dev/tooling

Register Measure Disk Usage as a post-pr-comment.yml producer
  .github/workflows/post-pr-comment.yml
Labels: dev/tooling

[Release] Bumped datadog_checks_base version to 38.2.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/24905.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.4604c9db.link
Labels: none

Fix transposed VPN status tags in Sophos XGS e2e test
  snmp/tests/test_e2e_core_profiles/test_profile_sophos_xgs_firewall.py
Labels: none

Release Datadog checks base 38.2.0 (#25017)
  .in-toto/tag.4604c9db.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/24905.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

Remove all C sources from psycopg wheels
  .builders/scripts/files_to_remove.toml
  .builders/tests/test_build_wheels.py
Labels: none

Centralize the DDIGNORE query comment in one constant
  postgres/datadog_checks/postgres/cursor.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/statements_v2.py
  postgres/datadog_checks/postgres/util.py
Labels: none

Add changelog
  postgres/changelog.d/25018.fixed
Labels: none

Skip metric limit handling in isolated parent
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/base/checks/openmetrics/test_metric_limit_issue.py
Labels: none

Centralize the insufficient-privilege query sentinel in one constant.
  postgres/datadog_checks/postgres/diagnose.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/statements_v2.py
  postgres/datadog_checks/postgres/util.py
Labels: none

Add changelog
  postgres/changelog.d/25019.fixed
Labels: none

Fix formatting
  postgres/datadog_checks/postgres/diagnose.py
Labels: none

Centralize the DDIGNORE query comment in one constant (#25018)
  postgres/changelog.d/25018.fixed
  postgres/datadog_checks/postgres/cursor.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/statements_v2.py
  postgres/datadog_checks/postgres/util.py
Labels: none

Standardize HTTP tests on backend-neutral fake
  appgate_sdp/tests/test_unit.py
  argo_workflows/tests/test_unit.py
  celery/tests/test_unit.py
  citrix_hypervisor/tests/conftest.py
  citrix_hypervisor/tests/test_citrix_hypervisor.py
  citrix_hypervisor/tests/test_metadata.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
  datadog_checks_base/tests/base/checks/test_kubelet_base.py
  datadog_checks_base/tests/base/utils/http/test_http_testing.py
  datadog_checks_base/tests/base/utils/http/test_legacy_options.py
  datadog_checks_base/tests/stubs/test_http.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  dcgm/tests/conftest.py
  dcgm/tests/test_unit.py
  fly_io/tests/conftest.py
  fly_io/tests/test_unit.py
  gitlab/tests/conftest.py
  gitlab/tests/test_unit.py
  kubelet/tests/test_cadvisor.py
  kubelet/tests/test_kubelet.py
  nvidia_nim/tests/test_unit.py
  nvidia_triton/tests/test_unit.py
  openmetrics/tests/conftest.py
  openmetrics/tests/test_openmetrics.py
  powerdns_recursor/tests/test_metadata.py
  proxmox/tests/conftest.py
  quarkus/tests/test_unit.py
  rabbitmq/tests/test_openmetrics.py
  rabbitmq/tests/test_unit.py
  spark/tests/test_spark.py
  vllm/tests/test_unit.py
Labels: none

Simplify OpenMetrics multi-endpoint issue reporting
  cilium/tests/test_unit.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/metric_limit_issue.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
  datadog_checks_base/tests/base/checks/openmetrics/test_metric_limit_issue.py
  openmetrics/tests/test_metric_limit_issue.py
Labels: none

Add backend-neutral HTTP core and test fakes
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/kubelet_base/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/base_scraper.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/base/stubs/http.py
  datadog_checks_base/datadog_checks/base/utils/headers.py
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/http_exceptions.py
  datadog_checks_base/datadog_checks/base/utils/http_protocol.py
  datadog_checks_base/datadog_checks/base/utils/requests_adapter.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_compat_scraper.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/scraper/test_stream_connection_lines.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_config.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_interface.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
  datadog_checks_base/tests/base/checks/test_kubelet_base.py
  datadog_checks_base/tests/base/utils/http/common.py
  datadog_checks_base/tests/base/utils/http/test_auth.py
  datadog_checks_base/tests/base/utils/http/test_authtoken.py
  datadog_checks_base/tests/base/utils/http/test_capabilities.py
  datadog_checks_base/tests/base/utils/http/test_config.py
  datadog_checks_base/tests/base/utils/http/test_exceptions.py
  datadog_checks_base/tests/base/utils/http/test_headers.py
  datadog_checks_base/tests/base/utils/http/test_http.py
  datadog_checks_base/tests/base/utils/http/test_http_testing.py
  datadog_checks_base/tests/base/utils/http/test_kerberos_unit.py
  datadog_checks_base/tests/base/utils/http/test_legacy_options.py
  datadog_checks_base/tests/base/utils/http/test_socks5_proxy_integration.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
  datadog_checks_base/tests/stubs/test_http.py
  datadog_checks_dev/datadog_checks/dev/http.py
  datadog_checks_dev/datadog_checks/dev/http_legacy.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  docs/developer/base/http.md
Labels: documentation

Avoid resolving agent version every call
  postgres/datadog_checks/postgres/column_statistics.py
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/statements_v2.py
  postgres/pyproject.toml
Labels: none

Add changelog entries
  datadog_checks_base/changelog.d/25020.added
  datadog_checks_dev/changelog.d/25020.added
Labels: none

Add changelog
  postgres/changelog.d/25021.fixed
Labels: none

Avoid resolving agent version every call
  mysql/datadog_checks/mysql/activity.py
  mysql/datadog_checks/mysql/databases_data.py
  mysql/datadog_checks/mysql/metadata.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
  mysql/pyproject.toml
Labels: none

Add changelog
  mysql/changelog.d/25022.fixed
Labels: none

Avoid resolving agent version every call
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/agent_history.py
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/datadog_checks/sqlserver/metadata.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/datadog_checks/sqlserver/stored_procedures.py
  sqlserver/datadog_checks/sqlserver/xe_collection/base.py
  sqlserver/pyproject.toml
  sqlserver/tests/test_xe_collection.py
Labels: none

Add changelog
  sqlserver/changelog.d/25023.fixed
Labels: none

Avoid resolving agent version every call
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  clickhouse/datadog_checks/clickhouse/explain_plans.py
  clickhouse/datadog_checks/clickhouse/parts_and_merges.py
  clickhouse/datadog_checks/clickhouse/query_completions.py
  clickhouse/datadog_checks/clickhouse/query_errors.py
  clickhouse/datadog_checks/clickhouse/statement_samples.py
  clickhouse/datadog_checks/clickhouse/statements.py
  clickhouse/pyproject.toml
  clickhouse/tests/test_dbm_integration.py
  clickhouse/tests/test_explain_plans.py
  clickhouse/tests/test_parts_and_merges.py
  clickhouse/tests/test_query_completions.py
  clickhouse/tests/test_query_errors.py
  clickhouse/tests/test_statement_samples.py
Labels: none

Add changelog
  clickhouse/changelog.d/25024.fixed
Labels: none

Defer unaffected HTTP fixture migrations
  citrix_hypervisor/changelog.d/24815.fixed
  citrix_hypervisor/datadog_checks/citrix_hypervisor/check.py
  citrix_hypervisor/tests/conftest.py
  citrix_hypervisor/tests/test_citrix_hypervisor.py
  citrix_hypervisor/tests/test_metadata.py
  proxmox/changelog.d/24815.fixed
  proxmox/datadog_checks/proxmox/check.py
  proxmox/tests/conftest.py
  proxmox/tests/test_unit.py
  spark/changelog.d/24815.fixed
  spark/datadog_checks/spark/spark.py
  spark/tests/test_spark.py
Labels: none

Set data_type for saas-integrations dataflows
  bluecat_edge/assets/dataflows.yaml
  cisco_sdwan/assets/dataflows.yaml
  databricks/assets/dataflows.yaml
Labels: none

Clarify OpenMetrics filter option display text
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/metric_limit_issue.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
Labels: none

Test remediation copy in its owning package
  datadog_checks_base/tests/base/checks/openmetrics/test_metric_limit_issue.py
  openmetrics/tests/test_metric_limit_issue.py
Labels: none

Set data_type for hubspot-content-hub-reference-tables
  hubspot_content_hub/assets/dataflows.yaml
Labels: none

Centralize the insufficient-privilege query sentinel in one constant (#25019)
  postgres/changelog.d/25019.fixed
  postgres/datadog_checks/postgres/diagnose.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/statements_v2.py
  postgres/datadog_checks/postgres/util.py
Labels: none

Fix Prometheus text encoding fallback
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
Labels: none

Use the shared DDIGNORE_COMMENT constant in the integration test spy
  postgres/tests/test_statements_v2_integration.py
Labels: none
