Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

remove halt vm and destroy vm vars
  ddev/src/ddev/e2e/agent/vagrant.py
Labels: none

gpu: update metric metadata (#20788)
  gpu/metadata.csv
Labels: none

Update libcurl used to build dependencies to 8.15.0
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos/builder_setup.sh
  .builders/images/windows-x86_64/Dockerfile
Labels: none

addressing review: oneliner guest_cmds and remove interactive bool from format command
  ddev/src/ddev/e2e/agent/vagrant.py
Labels: none

addressing review: small code improvement
  ddev/src/ddev/e2e/agent/vagrant.py
Labels: none

addressing review: add a comment about not using pathlib
  ddev/src/ddev/e2e/agent/constants.py
Labels: none

adressing review: move variable closer to where its used
  ddev/src/ddev/e2e/agent/vagrant.py
Labels: none

adressing review: remove redundant variables
  ddev/src/ddev/e2e/agent/vagrant.py
Labels: none

Increase timeout for create_simple_user, in an attempt to fix test flakes.
  harbor/tests/conftest.py
Labels: none

Update hatchling version in pyproject.toml.
  harbor/pyproject.toml
Labels: none

Dummy change to trigger another integration's tests
  kuma/tests/conftest.py
Labels: none

Add combined semantic mode to mysql dashboards
  mysql/assets/dashboards/overview-screenboard.json
  mysql/assets/dashboards/overview.json
Labels: none

Update libcurl used to build dependencies to 8.15.0 (#20925)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos/builder_setup.sh
  .builders/images/windows-x86_64/Dockerfile
Labels: none

Update suggested OTel collector config to work with semantic combined mode
  otel/README.md
Labels: documentation

remove unused template variable for dd_api_key
  ddev/src/ddev/e2e/agent/vagrant.py
Labels: none

Adapt MySQL dashboards for OTel
  mysql/assets/dashboards/overview-screenboard.json
  mysql/assets/dashboards/overview.json
Labels: none

remove unnecessary comments and unsued param
  ddev/src/ddev/e2e/agent/vagrant.py
Labels: none

Allow using datadog/agent:latest as agent image when running tests
  .github/workflows/test-target.yml
  ddev/changelog.d/20917.fixed
  ddev/src/ddev/e2e/agent/docker.py
  ddev/tests/e2e/agent/test_docker.py
Labels: dev/tooling

CloudGen Firewall NO Assets PR
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  cloudgen_firewall/CHANGELOG.md
  cloudgen_firewall/README.md
  cloudgen_firewall/changelog.d/20329.added
  cloudgen_firewall/datadog_checks/cloudgen_firewall/__about__.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/__init__.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/check.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/config_models/__init__.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/config_models/defaults.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/config_models/instance.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/config_models/shared.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/config_models/validators.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/data/conf.yaml.example
  cloudgen_firewall/hatch.toml
  cloudgen_firewall/manifest.json
  cloudgen_firewall/metadata.csv
  cloudgen_firewall/pyproject.toml
Labels: documentation, dev/tooling

CloudGen Firewall NO Assets PR
  cloudgen_firewall/manifest.json
Labels: none

added CloudGen Firewall assets
  cloudgen_firewall/assets/logs/cloudgen-firewall.yaml
  cloudgen_firewall/assets/logs/cloudgen-firewall_tests.yaml
Labels: none

added CloudGen Firewall assets
  cloudgen_firewall/assets/logs/cloudgen_firewall.yaml
  cloudgen_firewall/assets/logs/cloudgen_firewall_tests.yaml
  cloudgen_firewall/images/cloudgen_firewall_logs1.png
  cloudgen_firewall/images/cloudgen_firewall_logs2.png
  cloudgen_firewall/images/cloudgen_firewall_overview.png
Labels: none

CloudGen Firewall NO Assets PR
  cloudgen_firewall/changelog.d/1.added
  cloudgen_firewall/changelog.d/20329.added
  cloudgen_firewall/manifest.json
Labels: none

CloudGen Firewall NO Assets PR
  cloudgen_firewall/manifest.json
Labels: none

added CloudGen Firewall assets
  cloudgen_firewall/assets/logs/cloudgen_firewall.yaml
Labels: none

added CloudGen Firewall assets
  cloudgen_firewall/manifest.json
Labels: none

added CloudGen Firewall assets
  cloudgen_firewall/assets/configuration/spec.yaml
  cloudgen_firewall/assets/dashboards/cloudgen_firewall_overview.json
  cloudgen_firewall/assets/logs/cloudgen-firewall.yaml
  cloudgen_firewall/assets/logs/cloudgen-firewall_tests.yaml
  cloudgen_firewall/assets/service_checks.json
  cloudgen_firewall/images/cloudgen_firewall_logs1.png
  cloudgen_firewall/images/cloudgen_firewall_logs2.png
  cloudgen_firewall/images/cloudgen_firewall_overview.png
  cloudgen_firewall/manifest.json
  cloudgen_firewall/tests/__init__.py
  cloudgen_firewall/tests/conftest.py
  cloudgen_firewall/tests/test_unit.py
Labels: none

added conf file via ddev cmd with -s
  cloudgen_firewall/datadog_checks/cloudgen_firewall/data/conf.yaml.example
Labels: none

updated tests for proper indentation
  cloudgen_firewall/assets/logs/cloudgen_firewall.yaml
  cloudgen_firewall/assets/logs/cloudgen_firewall_tests.yaml
Labels: none

created integration with type --logs
  cloudgen_firewall/README.md
  cloudgen_firewall/assets/configuration/spec.yaml
  cloudgen_firewall/assets/service_checks.json
  cloudgen_firewall/changelog.d/1.added
  cloudgen_firewall/changelog.d/20344.added
  cloudgen_firewall/datadog_checks/cloudgen_firewall/__init__.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/check.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/config_models/__init__.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/config_models/defaults.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/config_models/instance.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/config_models/shared.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/config_models/validators.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/data/conf.yaml.example
  cloudgen_firewall/hatch.toml
  cloudgen_firewall/manifest.json
  cloudgen_firewall/pyproject.toml
  cloudgen_firewall/tests/__init__.py
  cloudgen_firewall/tests/conftest.py
  cloudgen_firewall/tests/test_unit.py
Labels: documentation

updated metric id
  cloudgen_firewall/assets/logs/cloudgen_firewall.yaml
Labels: none

Added test cases
  cloudgen_firewall/assets/logs/cloudgen_firewall_tests.yaml
Labels: none

updated tests
  cloudgen_firewall/assets/logs/cloudgen_firewall_tests.yaml
Labels: none

fixed bot suggested issue
  cloudgen_firewall/assets/logs/cloudgen_firewall_tests.yaml
Labels: none

added CloudGen Firewall assets
  cloudgen_firewall/assets/logs/cloudgen_firewall.yaml
Labels: none

updated PR
  cloudgen_firewall/assets/logs/cloudgen_firewall.yaml
Labels: none

Readme Updated as per Doc stds
  cloudgen_firewall/README.md
  cloudgen_firewall/assets/dashboards/cloudgen_firewall_overview.json
  cloudgen_firewall/datadog_checks/cloudgen_firewall/data/conf.yaml.example
Labels: documentation

renamed integration id mentioned in PI checks
  cloudgen_firewall/assets/logs/cloudgen_firewall_tests.yaml
Labels: none

metadata.csv as it is not required
  cloudgen_firewall/metadata.csv
Labels: none

added metadata for manifest
  cloudgen_firewall/manifest.json
Labels: none
