Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Add tls
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/tls.yaml
Labels: none

add support for capacity metrics
  nutanix/assets/dashboards/nutanix_overview.json
  nutanix/datadog_checks/nutanix/__about__.py
  nutanix/datadog_checks/nutanix/infrastructure_monitor.py
  nutanix/metadata.csv
  nutanix/tests/metrics.py
  nutanix/tests/test_capacity_metrics.py
Labels: none

Testing bluecat edge pipeline
  bluecat_edge/CHANGELOG.md
  bluecat_edge/README.md
  bluecat_edge/assets/logs/bluecat-edge.yaml
  bluecat_edge/assets/logs/bluecat-edge_tests.yaml
  bluecat_edge/manifest.json
Labels: documentation

Update cassandra.yaml
  cassandra/assets/logs/cassandra.yaml
Labels: none

Testing bluecat edge pipeline
  bluecat_edge/manifest.json
Labels: none

Testing bluecat edge pipeline
  .github/workflows/config/labeler.yml
  bluecat_edge/manifest.json
Labels: dev/tooling

Add network
  network/assets/configuration/spec.yaml
Labels: none

Add disk
  disk/assets/configuration/spec.yaml
Labels: none

Add spark
  spark/assets/configuration/spec.yaml
Labels: none

Add process
  process/assets/configuration/spec.yaml
Labels: none

Add ray
  ray/assets/configuration/spec.yaml
Labels: none

Refactor SNMP _generic-ucd profile into composable modules
  snmp/datadog_checks/snmp/data/default_profiles/_generic-ucd-base.yaml
  snmp/datadog_checks/snmp/data/default_profiles/_generic-ucd-cpu-mem.yaml
  snmp/datadog_checks/snmp/data/default_profiles/infoblox-ipam.yaml
  snmp/tests/compose/data/_generic-ucd-base.snmprec
  snmp/tests/compose/data/_generic-ucd-cpu-mem.snmprec
  snmp/tests/fixtures/user_profiles/generic-ucd-base.yaml
  snmp/tests/fixtures/user_profiles/generic-ucd-cpu-mem.yaml
  snmp/tests/test_e2e_core_profiles/test_profile__generic_ucd_base.py
  snmp/tests/test_e2e_core_profiles/test_profile__generic_ucd_cpu_mem.py
Labels: none

add changelog
  snmp/changelog.d/22459.fixed
Labels: none

Add dns_check integration
  dns_check/assets/configuration/spec.yaml
Labels: none

Bump OpenSSL to 3.6.1 (#22438)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos/builder_setup.sh
  .builders/images/windows-x86_64/Dockerfile
  .builders/images/windows-x86_64/build_script.ps1
Labels: none

Bump OpenSSL to 3.6.1 (#22438)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos/builder_setup.sh
  .builders/images/windows-x86_64/Dockerfile
  .builders/images/windows-x86_64/build_script.ps1
Labels: none

Bump OpenSSL to 3.6.1 (#22438)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos/builder_setup.sh
  .builders/images/windows-x86_64/Dockerfile
  .builders/images/windows-x86_64/build_script.ps1
Labels: none

Update versa/README.md
  versa/README.md
Labels: documentation

Update cisco_sdwan/README.md
  cisco_sdwan/README.md
Labels: documentation

Update versa/README.md
  versa/README.md
Labels: documentation

Update versa/README.md
  versa/README.md
Labels: documentation

Update versa/README.md
  versa/README.md
Labels: documentation

Update cisco_sdwan/README.md
  cisco_sdwan/README.md
Labels: documentation

test
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
Labels: none

Remove backtick
  cisco_sdwan/README.md
Labels: documentation

test
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
Labels: none

NDM Integration Public Doc Refresh (#22365)
  cisco_aci/README.md
  cisco_sdwan/README.md
  versa/README.md
Labels: documentation

feat(istio): Add DNS and certificate expiry metrics to Istio integration
  istio/changelog.d/22463.added
  istio/datadog_checks/istio/metrics.py
  istio/metadata.csv
  istio/tests/common.py
  istio/tests/fixtures/1.5/istio-merged.txt
  istio/tests/test_unit_istio_v2.py
Labels: none

Update Versa and Cisco SD-WAN dashboards
  cisco_sdwan/assets/dashboards/cisco_sd-wan.json
  versa/assets/dashboards/versa.json
Labels: none

DDS: Tenable.io: Added checkbox for streams (#22434)
  tenable_io/README.md
Labels: documentation

Replace ssl.SSLContext with truststore.SSLContext
  datadog_checks_base/datadog_checks/base/utils/tls.py
Labels: none

refactor(http): Replace requests library with httpx
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/pyproject.toml
Labels: none

Lint
  datadog_checks_base/datadog_checks/base/utils/tls.py
Labels: none

Add truststore to dependencies
  agent_requirements.in
  datadog_checks_base/changelog.d/22465.added
  datadog_checks_base/pyproject.toml
Labels: none

apply suggestion: remove unnecessary assertion
  process/tests/test_process.py
Labels: none

Clean up obsolete Oracle resources (#22423)
  oracle/README.md
  oracle/changelog.d/22423.fixed
  oracle/datadog_checks/oracle/__about__.py
  oracle/datadog_checks/oracle/__init__.py
  oracle/datadog_checks/oracle/config_models/__init__.py
  oracle/datadog_checks/oracle/config_models/defaults.py
  oracle/datadog_checks/oracle/config_models/instance.py
  oracle/datadog_checks/oracle/config_models/shared.py
  oracle/datadog_checks/oracle/config_models/validators.py
  oracle/datadog_checks/oracle/data/conf.yaml.example
  oracle/pyproject.toml
  requirements-agent-release.txt
Labels: documentation

remove pause_auto_refresh
  cisco_sdwan/assets/dashboards/cisco_sd-wan.json
  versa/assets/dashboards/versa.json
Labels: none

Remove certifi fallback and get_ca_certs check
  datadog_checks_base/datadog_checks/base/utils/tls.py
Labels: none

Clean up obsolete Oracle resources (#22423) 26017238edbb13e863c7523657c2dfbfe7677fa6
  meta/status/index.html
  search/search_index.json
Labels: none

Add truststore license
  LICENSE-3rdparty.csv
Labels: none
