Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

[Release] Update metadata
  .in-toto/tag.47c5a022.link
Labels: none

Rename variables to be consistent
  kafka_consumer/datadog_checks/kafka_consumer/client/kafka_client_factory.py
Labels: none

Implement highwater offsets
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/kafka_client_factory.py
  kafka_consumer/tests/conftest.py
  kafka_consumer/tests/start_commands.sh
Labels: none

Update master with release from 7.43.x (#13858)
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

Add Aruba
  snmp_aruba/CHANGELOG.md
  snmp_aruba/README.md
  snmp_aruba/assets/service_checks.json
  snmp_aruba/manifest.json
Labels: documentation

Fix CI
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Grammar fix
  snmp_aruba/README.md
Labels: documentation

Update snmp_american_power_conversion/README.md
  snmp_american_power_conversion/README.md
Labels: documentation

Update snmp_arista/README.md
  snmp_arista/README.md
Labels: documentation

Update snmp_american_power_conversion/README.md
  snmp_american_power_conversion/README.md
Labels: documentation

Update snmp_arista/README.md
  snmp_arista/README.md
Labels: documentation

Update snmp_chatsworth_products/README.md
  snmp_chatsworth_products/README.md
Labels: documentation

Update snmp_fortinet/README.md
  snmp_fortinet/README.md
Labels: documentation

Update snmp_hewlett_packard_enterprise/README.md
  snmp_hewlett_packard_enterprise/README.md
Labels: documentation

Update snmp_netapp/README.md
  snmp_netapp/README.md
Labels: documentation

Update snmp_netapp/README.md
  snmp_netapp/README.md
Labels: documentation

Update snmp_hewlett_packard_enterprise/README.md
  snmp_hewlett_packard_enterprise/README.md
Labels: documentation

Restore service checks
  snmp_aruba/manifest.json
Labels: none

collect unlisted consumer groups
  kafka_consumer/datadog_checks/kafka_consumer/client/common.py
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/kafka_python_client.py
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/pyproject.toml
Labels: none

fix style
  kafka_consumer/datadog_checks/kafka_consumer/client/common.py
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/kafka_client_factory.py
  kafka_consumer/datadog_checks/kafka_consumer/client/kafka_python_client.py
  kafka_consumer/tests/conftest.py
Labels: none

collect consumer offsets for configured groups
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
Labels: none

add comment
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
Labels: none

fix indentation
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
Labels: none

Update cryptography to 39.0.1
  cisco_aci/pyproject.toml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  http_check/pyproject.toml
  mysql/pyproject.toml
  tls/pyproject.toml
Labels: none

Add explicit license for cryptography
  LICENSE-3rdparty.csv
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
Labels: none

Update cryptography to 39.0.1 (#13913)
  LICENSE-3rdparty.csv
  cisco_aci/pyproject.toml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
  http_check/pyproject.toml
  mysql/pyproject.toml
  tls/pyproject.toml
Labels: none

Port mypy to hatch
  directory/hatch.toml
  directory/tox.ini
Labels: none

Fix traps db generation for expended representation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/generate_traps_db.py
Labels: none

Added caddy config files and fixtures
  openstack_controller/hatch.toml
  openstack_controller/tests/common.py
  openstack_controller/tests/conftest.py
  openstack_controller/tests/docker/docker-compose.yaml
  openstack_controller/tests/docker/etc/caddy/keystone/Caddyfile
  openstack_controller/tests/docker/etc/caddy/neutron/Caddyfile
  openstack_controller/tests/docker/etc/caddy/nova/Caddyfile
  openstack_controller/tests/docker/fixtures/keystone/identity/v3/auth/projects/get.json
  openstack_controller/tests/docker/fixtures/keystone/identity/v3/auth/tokens/post.json
  openstack_controller/tests/docker/fixtures/keystone/identity/v3/projects/get.json
  openstack_controller/tests/docker/fixtures/neutron/get.json
  openstack_controller/tests/docker/fixtures/neutron/v2.0/networks/get.json
  openstack_controller/tests/docker/fixtures/nova/v2.1/4bfc1/get.json
  openstack_controller/tests/docker/fixtures/nova/v2.1/4bfc1/limits/147d1.json
  openstack_controller/tests/docker/fixtures/nova/v2.1/4bfc1/limits/3fb11.json
  openstack_controller/tests/docker/fixtures/nova/v2.1/4bfc1/limits/44736.json
  openstack_controller/tests/docker/fixtures/nova/v2.1/4bfc1/limits/4bfc1.json
  openstack_controller/tests/docker/fixtures/nova/v2.1/4bfc1/limits/73dbe.json
  openstack_controller/tests/docker/fixtures/nova/v2.1/4bfc1/limits/d91a1.json
  openstack_controller/tests/docker/fixtures/nova/v2.1/4bfc1/os-aggregates/get.json
  openstack_controller/tests/docker/fixtures/nova/v2.1/4bfc1/os-hypervisors/detail/get.json
  openstack_controller/tests/docker/fixtures/nova/v2.1/4bfc1/os-hypervisors/uptime/get.json
  openstack_controller/tests/docker/fixtures/nova/v2.1/4bfc1/servers/detail/get.json
Labels: none

add profile tests
  snmp/tests/test_profiles.py
Labels: none

add snmpwalks for tests
  snmp/tests/compose/data/cisco-asr-1001x.snmpwalk
  snmp/tests/compose/data/cisco-asr-9001.snmpwalk
  snmp/tests/compose/data/cisco-asr-9901.snmpwalk
Labels: none

Add missing in generic container check
  container/metadata.csv
Labels: none

Move variable definition
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/generate_traps_db.py
Labels: none

Add missing in generic container check (#14004)
  container/metadata.csv
Labels: none

Downgrade setuptools
  kafka_consumer/pyproject.toml
Labels: none

Fix the fetch_size_(max|avg) metadata unit (#13996)
  kafka/metadata.csv
Labels: none

Add health check to zookeeper container, reduce duplication
  clickhouse/tests/docker/docker-compose.yaml
Labels: none

Increase number of endpoint check retries to combat flaky tests
  clickhouse/tests/conftest.py
Labels: none

fix metric description (#13990)
  elastic/metadata.csv
Labels: none

add e2e_core_vs_python test for asr 1001x
  snmp/tests/test_e2e_core_vs_python.py
Labels: none
