Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Update: configuration steps for Datadog Forwarder
  carbon_black_cloud/README.md
Labels: documentation

Skip labeler job in dependabot prs
  .github/workflows/labeler-reusable.yml
Labels: dev/tooling

Skip static analysis on dependabot triggered workflows
  .github/workflows/datadog-static-analysis.yml
Labels: dev/tooling

Minor steps update
  carbon_black_cloud/README.md
Labels: documentation

Updated sample as per enrichment
  bluecat_edge/assets/logs/bluecat-edge.yaml
  bluecat_edge/assets/logs/bluecat-edge_tests.yaml
Labels: none

Updated pipeline
  bluecat_edge/assets/logs/bluecat-edge.yaml
  bluecat_edge/assets/logs/bluecat-edge_tests.yaml
Labels: none

Update spec.yaml
  sqlserver/assets/configuration/spec.yaml
Labels: none

Fix infoblox-ipam profile collecting duplicate cpu/memory metrics (#22459)
  snmp/changelog.d/22459.fixed
  snmp/datadog_checks/snmp/data/default_profiles/_generic-ucd-base.yaml
  snmp/datadog_checks/snmp/data/default_profiles/_generic-ucd-cpu-mem.yaml
  snmp/datadog_checks/snmp/data/default_profiles/infoblox-ipam.yaml
  snmp/tests/compose/data/_generic-ucd-base.snmprec
  snmp/tests/compose/data/_generic-ucd-cpu-mem.snmprec
  snmp/tests/fixtures/user_profiles/generic-ucd-base.yaml
  snmp/tests/fixtures/user_profiles/generic-ucd-cpu-mem.yaml
  snmp/tests/test_e2e_core_profiles/test_profile__generic_ucd_base.py
  snmp/tests/test_e2e_core_profiles/test_profile__generic_ucd_cpu_mem.py
Labels: none

Update changelog.
  datadog_checks_dev/changelog.d/22489.fixed
Labels: none

Skip workflows that require secrets in dependabot prs (#22491)
  .github/workflows/build-ddev.yml
  .github/workflows/datadog-static-analysis.yml
  .github/workflows/labeler-reusable.yml
  pyproject.toml
Labels: dev/tooling

Mark http auth_token as a secret in spec.yaml (#22489)
  datadog_checks_dev/changelog.d/22489.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
Labels: none

Add kong
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  kong/assets/configuration/spec.yaml
Labels: none

[FA] Onboard more integrations to fleet (#22455)
  coredns/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/tls.yaml
  disk/assets/configuration/spec.yaml
  envoy/assets/configuration/spec.yaml
  http_check/assets/configuration/spec.yaml
  istio/assets/configuration/spec.yaml
  ray/assets/configuration/spec.yaml
  snowflake/assets/configuration/spec.yaml
  spark/assets/configuration/spec.yaml
  tls/assets/configuration/spec.yaml
  vertica/assets/configuration/spec.yaml
  voltdb/assets/configuration/spec.yaml
Labels: none

Add fluxcd
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  fluxcd/assets/configuration/spec.yaml
Labels: none

update version collection
  n8n/assets/service_checks.json
  n8n/datadog_checks/n8n/check.py
  n8n/datadog_checks/n8n/metrics.py
  n8n/tests/test_unit.py
Labels: none

Add nvidia_triton
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  nvidia_triton/assets/configuration/spec.yaml
Labels: none

Add keda
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  keda/assets/configuration/spec.yaml
Labels: none

Update metric types
  gpu/metadata.csv
Labels: none

Add wmi_check integration
  wmi_check/assets/configuration/spec.yaml
Labels: none

Add linkerd
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy_base.yaml
  linkerd/assets/configuration/spec.yaml
Labels: none

Enforce read-only mode for custom_queries in PostgreSQL
  postgres/changelog.d/0.changed
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_custom_queries_readonly.py
Labels: none

throw error if bhist details is enabled without bhist
  ibm_spectrum_lsf/datadog_checks/ibm_spectrum_lsf/config_models/validators.py
  ibm_spectrum_lsf/tests/test_unit.py
Labels: none

Fix missing metrics
  gpu/metadata.csv
Labels: none

Add activemq
  activemq/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/jmx.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
Labels: none

Add strimzi
  strimzi/assets/configuration/spec.yaml
Labels: none

Add system_core
  system_core/assets/configuration/spec.yaml
Labels: none

Add karpenter
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  karpenter/assets/configuration/spec.yaml
Labels: none

Fix changelog for the oracle integration.
  oracle/CHANGELOG.md
  oracle/changelog.d/22423.fixed
Labels: documentation

Revise CHANGELOG format and remove obsolete entries
  oracle/CHANGELOG.md
Labels: documentation

add type metadata field to interfaces
  snmp/datadog_checks/snmp/data/default_profiles/_generic-if.yaml
  snmp/tests/compose/data/f5-big-ip.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: none

changelog
  snmp/changelog.d/22496.added
Labels: none

sync config file
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: none

Add changelog
  sqlserver/changelog.d/21364.fixed
Labels: none

sync config models
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
Labels: none

Update cluster disk utilization metrics for K8s Cluster OOTB dashboard
  kubernetes/assets/dashboards/kubernetes_clusters.json
Labels: none

Add OCSF schema support to SSH check integration
  ssh_check/assets/logs/sshd.yaml
  ssh_check/assets/logs/sshd_tests.yaml
Labels: none

[SNMP] Add type metadata field to`_generic-if` profile (#22496)
  snmp/changelog.d/22496.added
  snmp/datadog_checks/snmp/data/default_profiles/_generic-if.yaml
  snmp/tests/compose/data/f5-big-ip.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: none

improve model generation to be more concise
  datadog_checks_base/datadog_checks/base/utils/models/validation/security.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_file.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy_base.yaml
Labels: none

Enforce read-only mode for custom_queries in mysql
  mysql/changelog.d/XXXXX.changed
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/test_mysql.py
Labels: none

Enforce read-only mode for custom_queries in sqlserver
  sqlserver/changelog.d/XXXXX.changed
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_e2e.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
