Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

cache the query
  mysql/datadog_checks/mysql/activity.py
Labels: none

specify mysql version in the change log
  mysql/changelog.d/20008.added
Labels: none

validate config
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: none

linter
  mysql/datadog_checks/mysql/activity.py
Labels: none

linter
  mysql/datadog_checks/mysql/activity.py
Labels: none

Disable tag signing to be able to run ddev tests locally (#19971)
  ddev/changelog.d/19971.fixed
  ddev/tests/cli/release/agent/conftest.py
Labels: none

Filter faults by service:cisco-aci also.
  cisco_aci/assets/dashboards/cisco_aci_dashboard.json
  cisco_aci/assets/monitors/critical_fault.json
Labels: none

Added change in check file
  sonatype_nexus/datadog_checks/sonatype_nexus/check.py
Labels: none

Deprecate mesos_slave in `ddev validate ci` (#19894)
  .ddev/config.toml
  .github/workflows/test-all.yml
  ddev/src/ddev/utils/scripts/ci_matrix.py
  mesos_slave/tests/conftest.py
Labels: dev/tooling

Add: images and Update: pipeline and dashboards
  watchguard_firebox/assets/dashboards/watchguard_firebox_firewall.json
  watchguard_firebox/assets/dashboards/watchguard_firebox_management_activity_monitor.json
  watchguard_firebox/assets/dashboards/watchguard_firebox_networking_events.json
  watchguard_firebox/assets/dashboards/watchguard_firebox_overview.json
  watchguard_firebox/assets/dashboards/watchguard_firebox_proxy_policy.json
  watchguard_firebox/assets/dashboards/watchguard_firebox_vpn.json
  watchguard_firebox/assets/logs/watchguard-firebox.yaml
  watchguard_firebox/images/watchguard_firebox_firewall.png
  watchguard_firebox/images/watchguard_firebox_management_activity_monitor.png
  watchguard_firebox/images/watchguard_firebox_networking_events.png
  watchguard_firebox/images/watchguard_firebox_overview.png
  watchguard_firebox/images/watchguard_firebox_proxy_policy.png
  watchguard_firebox/images/watchguard_firebox_vpn.png
Labels: none

[Release] Bumped active_directory version to 4.2.0
  active_directory/CHANGELOG.md
  active_directory/changelog.d/19962.added
  active_directory/datadog_checks/active_directory/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.60ed9a6b.link
Labels: none

Added failure changes
  sonatype_nexus/CHANGELOG.md
  sonatype_nexus/datadog_checks/sonatype_nexus/check.py
Labels: documentation

Release Active Directory (#20040)
  .in-toto/tag.60ed9a6b.link
  active_directory/CHANGELOG.md
  active_directory/changelog.d/19962.added
  active_directory/datadog_checks/active_directory/__about__.py
  requirements-agent-release.txt
Labels: documentation

Added password related changes
  sonatype_nexus/tests/compose/docker-compose.yaml
  sonatype_nexus/tests/conftest.py
  sonatype_nexus/tests/test_e2e.py
Labels: none

Adding linting changes
  sonatype_nexus/tests/conftest.py
Labels: none

Adding linting changes
  sonatype_nexus/tests/conftest.py
Labels: none

resolved unsorted import error
  sonatype_nexus/tests/conftest.py
Labels: none

Add units to Velero metrics
  velero/metadata.csv
Labels: none

Adding lint error
  sonatype_nexus/tests/conftest.py
Labels: none

Fix unit names
  velero/metadata.csv
Labels: none

update comment
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
Labels: none

update changelog
  datadog_checks_base/changelog.d/20037.added
Labels: none

Implement review suggestions
  velero/metadata.csv
Labels: none

support openstack_controller instead
  openstack/changelog.d/19992.added
  openstack/datadog_checks/openstack/openstack.py
  openstack_controller/changelog.d/19992.fixed
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
Labels: none

Add units to Velero metrics (#20041)
  velero/metadata.csv
Labels: none

Update: add pipeline results
  watchguard_firebox/assets/logs/watchguard-firebox_tests.yaml
Labels: none

Add: watchguard svg logo
  watchguard_firebox/assets/watchguard-firebox.svg
Labels: none

Add Celery dashboard
  celery/assets/dashboards/celery_overview.json
  celery/manifest.json
Labels: none

openstack_controller/changelog.d/19992.added
  openstack_controller/changelog.d/19992.added
Labels: none

remove old changelog
  openstack_controller/changelog.d/19992.fixed
Labels: none

Tag FoundationDB process metrics with process class, assigned roles
  foundationdb/changelog.d/19682.added
  foundationdb/datadog_checks/foundationdb/check.py
Labels: none

add test for adding wal slot information to REPLICATION STATS metrics
  postgres/datadog_checks/postgres/util.py
  postgres/tests/test_replication_slot.py
Labels: none

Test that FoundationDB process metrics are tagged with process class and role
  foundationdb/tests/test_foundationdb.py
Labels: none

lint fix
  postgres/datadog_checks/postgres/util.py
  postgres/tests/test_replication_slot.py
Labels: none

[AGENT-13541] Properly support for custom tags in esxi (#20022)
  esxi/changelog.d/20022.fixed
  esxi/datadog_checks/esxi/check.py
  esxi/tests/test_unit.py
Labels: none

postgres change replication metric:lint fix
  postgres/datadog_checks/postgres/discovery.py
  postgres/tests/test_replication_slot.py
Labels: none

author to author_name
  celery/assets/dashboards/celery_overview.json
Labels: none

Added test cases
  sonatype_nexus/tests/test_check.py
Labels: none

Resolved linting error
  sonatype_nexus/CHANGELOG.md
  sonatype_nexus/tests/test_check.py
Labels: documentation

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
