Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

add changelog
  barracuda_secure_edge/changelog.d/21848.added
  checkpoint_harmony_endpoint/changelog.d/21848.added
  cloudgen_firewall/changelog.d/21848.added
  hugging_face_tgi/changelog.d/21848.added
Labels: none

Remove trend_micro_cloud_one (#21796)
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  trend_micro_cloud_one/CHANGELOG.md
  trend_micro_cloud_one/README.md
  trend_micro_cloud_one/assets/configuration/spec.yaml
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_anti-malware_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_application_control_and_device_control_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_file_storage_security_insights.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_firewall_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_integrity_monitoring_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_intrusion_prevention_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_log_inspection_and_web_reputation_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_network_security_insights.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_system_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_workload_security_insights.json
  trend_micro_cloud_one/assets/trend_micro_cloud_one.svg
  trend_micro_cloud_one/datadog_checks/trend_micro_cloud_one/__about__.py
  trend_micro_cloud_one/datadog_checks/trend_micro_cloud_one/__init__.py
  trend_micro_cloud_one/datadog_checks/trend_micro_cloud_one/data/conf.yaml.example
  trend_micro_cloud_one/images/trend_micro_cloud_one_anti_malware_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_application_control_and_device_control_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_file_storage_security_insights.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_firewall_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_integrity_monitoring_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_log_inspection_and_web_reputation_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_network_security_insights.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_workload_security_insights.png
  trend_micro_cloud_one/manifest.json
  trend_micro_cloud_one/pyproject.toml
Labels: documentation, dev/tooling

[Release] Update metadata
  .in-toto/tag.60ed9a6b.link
Labels: none

Remove trend_micro_cloud_one (#21796) c387ccafdff43cec137f288ddc18ea98416f27a9
  meta/status/index.html
  search/search_index.json
Labels: none

fix requirement
  requirements-agent-release.txt
Labels: none

[Release] Update metadata (#21849)
  .in-toto/tag.60ed9a6b.link
Labels: none

Fix changelog and versioning (#21847)
  datadog_csi_driver/CHANGELOG.md
  datadog_csi_driver/datadog_checks/datadog_csi_driver/__about__.py
  requirements-agent-release.txt
Labels: documentation

Use dd-octo-sts for Python version upgrades to enable workflow file modifications
  .github/CODEOWNERS
  .github/chainguard/upgrade-python-version.sts.yaml
  .github/workflows/upgrade-python-version.yml
Labels: dev/tooling

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

Why 1
  windows_service/datadog_checks/windows_service/windows_service.py
Labels: none

make columns larger and add an in progress job example
  ibm_spectrum_lsf/datadog_checks/ibm_spectrum_lsf/client.py
  ibm_spectrum_lsf/tests/common.py
  ibm_spectrum_lsf/tests/fixtures/bjobs.txt
Labels: none

Fix AttributeError in fetch_intermediate_certs: use http.tls_config
  tls/datadog_checks/tls/tls_remote.py
Labels: none

Update implementation
  clickhouse/README.md
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  clickhouse/datadog_checks/clickhouse/statement_samples.py
  clickhouse/datadog_checks/clickhouse/statements.py
  clickhouse/test_query_samples.py
  clickhouse/tests/test_dbm_integration.py
Labels: documentation

fix merge conflict
  bentoml/assets/logs/bentoml.yaml
  bentoml/assets/logs/bentoml_tests.yaml
Labels: none

Update
  clickhouse/README.md
  clickhouse/datadog_checks/clickhouse/statement_samples.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

fix merge conflicts
  .in-toto/tag.4e75cfa1.link
  requirements-agent-release.txt
Labels: none

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/21784.fixed
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

Collector id
  datadog_checks_base/datadog_checks/base/utils/db/schemas.py
Labels: none

fix merge conf
  bentoml/assets/logs/bentoml.yaml
Labels: none

Fix YAML configuration parsing with Unicode characters on non-UTF-8 locales
  datadog_checks_base/changelog.d/21850.fixed
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/base/checks/test_load_config.py
Labels: none

remove raw_connections_chan_size
  network_path/assets/dashboards/network_path_agents.json
Labels: none

Remove reassigned integrations from agent-integrations ownership
  beyondtrust_identity_security_insights/manifest.json
  keeper/manifest.json
  supply_chain_firewall/manifest.json
  versa/manifest.json
Labels: none

Add owner field to versa manifest file
  versa/manifest.json
Labels: none

Add owner field to saas-integrations manifest files
  beyondtrust_identity_security_insights/manifest.json
  keeper/manifest.json
  supply_chain_firewall/manifest.json
Labels: none

Add owner field to saas-integrations manifest files (#21854)
  beyondtrust_identity_security_insights/manifest.json
  keeper/manifest.json
  supply_chain_firewall/manifest.json
Labels: none

Update
  clickhouse/assets/configuration/spec.yaml
  clickhouse/datadog_checks/clickhouse/config_models/instance.py
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  clickhouse/datadog_checks/clickhouse/statement_samples.py
Labels: none

Address review comment
  linux_audit_logs/assets/dashboards/linux_audit_logs_system_call.json
  linux_audit_logs/assets/logs/linux-audit-logs.yaml
  linux_audit_logs/assets/logs/linux-audit-logs_tests.yaml
Labels: none

Update test result
  linux_audit_logs/assets/logs/linux-audit-logs_tests.yaml
Labels: none

fix position
  network_path/assets/dashboards/network_path_agents.json
Labels: none

Adding disclaimer in tile
  have_i_been_pwned/README.md
Labels: documentation

commit
  n8n/assets/dashboards/n8n_overview.json
  n8n/datadog_checks/n8n/config_models/instance.py
  n8n/manifest.json
Labels: none

labeler
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Update dashboards and screen-shots
  shopify/assets/dashboards/shopify_customer_overview.json
  shopify/assets/dashboards/shopify_event_overview.json
  shopify/assets/dashboards/shopify_order_overview.json
  shopify/assets/dashboards/shopify_product_overview.json
  shopify/assets/logs/shopify.yaml
  shopify/assets/logs/shopify_tests.yaml
  shopify/images/shopify_customer_overview.png
  shopify/images/shopify_order_overview.png
  shopify/images/shopify_product_overview.png
Labels: none

Update pipeline
  shopify/assets/logs/shopify.yaml
Labels: none

fix tests
  n8n/assets/service_checks.json
  n8n/tests/common.py
  n8n/tests/docker/docker-compose.yaml
Labels: none

fix pr number
  n8n/changelog.d/21835.added
Labels: none

DDS: Cofense Triage Readme Update (#21832)
  cofense_triage/README.md
Labels: documentation

Add owner field to versa manifest file (#21853)
  versa/manifest.json
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
