Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

make spec/example consistent with internal defaults + don't wrap conn query in try/catch
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
Labels: none

Update changelog with new live queries feature
  postgres/CHANGELOG.md
Labels: documentation

remove CHANGELOG manual update
  postgres/CHANGELOG.md
Labels: documentation

add group by to query template
  postgres/datadog_checks/postgres/statement_samples.py
Labels: none

Keep track of activity event coll in PostgresStatementSamples
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  postgres/datadog_checks/postgres/statement_samples.py
Labels: none

update comment
  postgres/datadog_checks/postgres/statement_samples.py
Labels: none

update query_activity config -> remove snapshot refs
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: none

Impl a limit on the number of activity rows we send to prevent dropping data
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: none

remove filtering for query_start
  postgres/datadog_checks/postgres/statement_samples.py
Labels: none

Support reporting pg stats for active queries
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: none

don't re-read stale idle connections
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: none

Rename active_queries field to postgres_activity
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: none

Some refactoring + review feedback
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: none

enable activity collection by default
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
Labels: none

add coll interval to activity payloads
  postgres/datadog_checks/postgres/statement_samples.py
Labels: none

add ddagentversion and update conf example
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: none

send tags with activity events
  postgres/datadog_checks/postgres/statement_samples.py
Labels: none

Send postgres_connections in activity payload
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: none

fix formatting
  postgres/datadog_checks/postgres/statement_samples.py
Labels: none

more review feedback
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: none

address review feedback
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: none

Update boto
  amazon_msk/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: none

Update botocore
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Labels: none

fix
  avi_vantage/tests/conftest.py
Labels: none

Pin botocore for python 2
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Labels: none

Add hit/miss metrics for connection cache
  coredns/datadog_checks/coredns/coredns.py
  coredns/metadata.csv
  coredns/tests/common.py
  coredns/tests/fixtures/metrics.txt
Labels: none

Handle case where batch size is not specified
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
Labels: none

Update AZP templates to take in a dd_url and small fixes to validator
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/validator.py
Labels: dev/testing

Pin cachetools for python 2
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  mysql/requirements.in
  postgres/requirements.in
Labels: none

Add e2e test for aspdotnet
  aspdotnet/tests/conftest.py
  aspdotnet/tests/test_aspdotnet.py
  aspdotnet/tox.ini
Labels: none

Fix style
  aspdotnet/tests/conftest.py
  aspdotnet/tests/test_aspdotnet.py
Labels: none

Pin boto3 for python2
  amazon_msk/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: none

Sort by last name
  docs/developer/process/integration-release.md
Labels: documentation

Use correct import
  aspdotnet/tests/test_aspdotnet.py
Labels: none

Pin clickhouse-driver for python 2
  clickhouse/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: none

Don't set empty asset values on migration
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/manifest.py
Labels: none

Add barebones e2e test for cisco_aci
  cisco_aci/tests/conftest.py
  cisco_aci/tests/test_cisco.py
  cisco_aci/tox.ini
Labels: none

Update test
  aspdotnet/tests/test_aspdotnet.py
Labels: none

Fix style
  aspdotnet/tests/test_aspdotnet.py
Labels: none

Pin adodbapi for python 2 and update pywin32
  LICENSE-3rdparty.csv
  active_directory/requirements.in
  aspdotnet/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  dotnetclr/requirements.in
  exchange_server/requirements.in
  iis/requirements.in
  pdh_check/requirements.in
  sqlserver/requirements.in
  win32_event_log/requirements.in
  windows_service/requirements.in
  wmi_check/requirements.in
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
