Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

refactor
  .github/workflows/config/labeler.yml
  .github/workflows/labeler.yml
Labels: dev/tooling

test more stuff
  .github/workflows/config/labeler.yml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  docs/README.md
Labels: documentation, dev/tooling

cool
  .github/workflows/config/labeler.yml
  apache/assets/configuration/spec.yaml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  docs/README.md
Labels: documentation, dev/tooling

ok
  apache/assets/configuration/spec.yaml
Labels: none

more
  .github/workflows/config/labeler.yml
  apache/manifest.json
Labels: dev/tooling

ok
  apache/manifest.json
Labels: none

more
  .codecov.yml
  .github/workflows/config/labeler.yml
Labels: dev/tooling

ok
  .codecov.yml
Labels: none

release label
  .github/workflows/config/labeler.yml
  requirements-agent-release.txt
Labels: dev/tooling

ok
  requirements-agent-release.txt
Labels: none

oh sweet
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Uncomment required config: search_string (#5359)
  process/datadog_checks/process/data/conf.yaml.example
Labels: none

Fix test
  vertica/tests/test_vertica.py
Labels: none

Exclude agent_requirements.in from AZP
  .azure-pipelines/all_pr.yml
Labels: dev/testing

Add .json extension to json fixtures
  twistlock/tests/fixtures/containers.json
  twistlock/tests/fixtures/hosts.json
  twistlock/tests/fixtures/images.json
  twistlock/tests/fixtures/license.json
  twistlock/tests/fixtures/vulnerabilities.json
  twistlock/tests/test_twistlock.py
Labels: none

Restore _is_affirmative compatibility
  datadog_checks_base/datadog_checks/base/config.py
Labels: none

Fix discrepencies between tests and snmprec file
  snmp/datadog_checks/snmp/data/profiles/cisco-nexus.yaml
  snmp/tests/compose/data/cisco_nexus.snmprec
  snmp/tests/test_check.py
Labels: none

Clean up
  snmp/datadog_checks/snmp/data/profiles/cisco-nexus.yaml
Labels: none

remove action
  .github/stale.yml
  .github/workflows/config/labeler.yml
  .github/workflows/stale.yml
Labels: dev/tooling

Address review comments
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
Labels: none

Fix import order
  datadog_checks_base/datadog_checks/base/checks/__init__.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/__init__.py
  datadog_checks_base/datadog_checks/base/checks/win/__init__.py
Labels: none

Update stale.yml
  .github/stale.yml
Labels: none

Exclude agent_requirements.in from AZP (#5367)
  .azure-pipelines/all_pr.yml
Labels: dev/testing

Add label bot (#5355)
  .github/stale.yml
  .github/workflows/config/labeler.yml
  .github/workflows/labeler.yml
Labels: dev/tooling

Add profile for Cisco Nexus switches (#5363)
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/data/profiles/cisco-nexus.yaml
  snmp/tests/compose/data/cisco_nexus.snmprec
  snmp/tests/test_check.py
Labels: none

add description
  aerospike/assets/dashboards/overview.json
Labels: none

Add dashboard
  aerospike/assets/dashboards/overview.json
  aerospike/manifest.json
Labels: none

[Release] Bumped snmp version to 2.2.0
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.b023b02a.link
Labels: none

Add .json extension to json fixtures (#5356)
  twistlock/tests/fixtures/containers.json
  twistlock/tests/fixtures/hosts.json
  twistlock/tests/fixtures/images.json
  twistlock/tests/fixtures/license.json
  twistlock/tests/fixtures/vulnerabilities.json
  twistlock/tests/test_twistlock.py
Labels: none

Move unit conversion helpers to openmetrics mixin (#5364)
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  kube_scheduler/datadog_checks/kube_scheduler/kube_scheduler.py
Labels: none

Add conversions for metrics in >= 1.14
  kubelet/datadog_checks/kubelet/__about__.py
  kubelet/datadog_checks/kubelet/kubelet.py
Labels: none

Address review feedback
  kubelet/datadog_checks/kubelet/__about__.py
  kubelet/datadog_checks/kubelet/kubelet.py
Labels: none

Fix styling error
  kubelet/datadog_checks/kubelet/kubelet.py
Labels: none

Fix more styling errors
  kubelet/datadog_checks/kubelet/kubelet.py
Labels: none

Add test for kubelet metrics in 1.14
  kubelet/tests/fixtures/kubelet_metrics_1_14.txt
  kubelet/tests/test_kubelet.py
Labels: none

Fix formatting
  kubelet/tests/test_kubelet.py
Labels: none

Move constructing of the transformers to __init__
  kubelet/datadog_checks/kubelet/kubelet.py
Labels: none

Reuse helper from openmetrics mixin
  kubelet/datadog_checks/kubelet/kubelet.py
Labels: none

[Release] Bumped SNMP version to 2.2.0 (#5369)
  .in-toto/tag.b023b02a.link
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: documentation

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
