Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Deleting tab and links
  iis/README.md
Labels: documentation

Fix mock
  aerospike/tests/test_unit.py
Labels: none

Use return value
  aerospike/tests/test_unit.py
Labels: none

add config spec for openstack controller
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
  openstack_controller/manifest.json
Labels: none

rm unused code
  openstack_controller/assets/configuration/spec.yaml
Labels: none

fix grammar nit
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
Labels: none

Revert "Pin decorator to 4.4.2 (#9074)"
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  openstack_controller/requirements.in
Labels: none

Fix no_auth support
  mongo/datadog_checks/mongo/config.py
  mongo/tests/test_unit.py
Labels: none

Revert "Pin decorator to 4.4.2 (#9074)" (#9093)
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  openstack_controller/requirements.in
Labels: none

Fix no_auth support (#9094)
  mongo/datadog_checks/mongo/config.py
  mongo/tests/test_unit.py
Labels: none

[Release] Bumped mongo version to 2.3.1
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.31091c85.link
Labels: none

[Release] Bumped mongo version to 2.3.1 (#9095)
  .in-toto/tag.31091c85.link
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation

Rename transformers dict
  vault/datadog_checks/vault/vault.py
  vault/tests/test_vault.py
Labels: none

Expand the list of integrations where it does not make sense to have a dashboard
  datadog_checks_dev/datadog_checks/dev/tooling/catalog_const.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  docs/developer/.scripts/33_render_status.py
Labels: none

Style fix
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: none

Include docker_daemon
  datadog_checks_dev/datadog_checks/dev/tooling/catalog_const.py
Labels: none

Bump minimum base package version
  kong/setup.py
Labels: none

reuse base package refreshing (#8823)
  iis/datadog_checks/iis/iis.py
  iis/setup.py
Labels: none

New integration: JMeter plugin
  jmeter/README.md
  jmeter/assets/service_checks.json
  jmeter/images/.gitkeep
  jmeter/manifest.json
  jmeter/metadata.csv
Labels: documentation

Rename tests annotation file
  datadog_checks_base/tests/models/test_interface.py
  datadog_checks_base/tests/models/test_types.py
  datadog_checks_base/tests/openmetrics/test_bench.py
  datadog_checks_base/tests/openmetrics/test_compat_scraper.py
  datadog_checks_base/tests/openmetrics/test_config.py
  datadog_checks_base/tests/openmetrics/test_interface.py
  datadog_checks_base/tests/openmetrics/test_options.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_counter.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_counter_gauge.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_gauge.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_histogram.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_metadata.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_native_dynamic.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_rate.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_service_check.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_summary.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_temporal_percent.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_time_elapsed.py
  datadog_checks_base/tests/test_agent_check.py
  datadog_checks_base/tests/test_pdhbasecheck.py
  datadog_checks_base/tests/test_winpdh.py
  datadog_checks_base/tests/test_wmicheck.py
  datadog_checks_base/tests/test_wmisampler.py
  datadog_checks_dev/datadog_checks/dev/testing.py
Labels: none

Metadata.csv
  jmeter/metadata.csv
Labels: none

Bump minimum base package version (#9096)
  kong/setup.py
Labels: none

Update dashboards status (#9083)
  datadog_checks_dev/datadog_checks/dev/tooling/catalog_const.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  docs/developer/.scripts/33_render_status.py
Labels: none

Fix metadata
  jmeter/metadata.csv
Labels: none

Make all tests run when there are changes on the dev package
  .azure-pipelines/all_pr.yml
  .azure-pipelines/changes.yml
Labels: dev/testing

Document integration and installation
  jmeter/README.md
Labels: documentation

Add version requirements as common util in dev package (#9081)
  .azure-pipelines/templates/test-all-checks.yml
  datadog_checks_base/tests/models/test_interface.py
  datadog_checks_base/tests/models/test_types.py
  datadog_checks_base/tests/openmetrics/test_bench.py
  datadog_checks_base/tests/openmetrics/test_compat_scraper.py
  datadog_checks_base/tests/openmetrics/test_config.py
  datadog_checks_base/tests/openmetrics/test_interface.py
  datadog_checks_base/tests/openmetrics/test_options.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_counter.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_counter_gauge.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_gauge.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_histogram.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_metadata.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_native_dynamic.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_rate.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_service_check.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_summary.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_temporal_percent.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_time_elapsed.py
  datadog_checks_base/tests/test_agent_check.py
  datadog_checks_base/tests/test_pdhbasecheck.py
  datadog_checks_base/tests/test_winpdh.py
  datadog_checks_base/tests/test_wmicheck.py
  datadog_checks_base/tests/test_wmisampler.py
  datadog_checks_base/tests/utils.py
  datadog_checks_dev/datadog_checks/dev/testing.py
Labels: dev/testing

Allow the use of the new OpenMetrics implementation (#9082)
  amazon_msk/README.md
  amazon_msk/assets/configuration/spec.yaml
  amazon_msk/assets/service_checks.json
  amazon_msk/datadog_checks/amazon_msk/amazon_msk.py
  amazon_msk/datadog_checks/amazon_msk/check.py
  amazon_msk/datadog_checks/amazon_msk/config_models/defaults.py
  amazon_msk/datadog_checks/amazon_msk/config_models/instance.py
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  amazon_msk/datadog_checks/amazon_msk/metrics.py
  amazon_msk/tests/common.py
  amazon_msk/tests/conftest.py
  amazon_msk/tests/test_unit.py
Labels: documentation

Apply suggestions from code review
  disk/tests/test_filter.py
  disk/tox.ini
  pdh_check/tests/test_pdh_check.py
Labels: none

Ignore validation for extras
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: none

Ignore validation for extras (#9098)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: none

[Release] Bumped datadog_checks_dev version to 9.4.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.f90c0097.link
Labels: none

[Release] Bump datadog_checks_dev to version 9.4.0 (#9099)
  .in-toto/tag.f90c0097.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

Add Additional Vault Route Metrics (#8761)
  vault/datadog_checks/vault/metrics.py
  vault/datadog_checks/vault/vault.py
  vault/metadata.csv
  vault/tests/test_vault.py
Labels: none

Move error checking to per line
  aerospike/datadog_checks/aerospike/aerospike.py
Labels: none

Ignore validation for marketplace
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: none

Ignore validation for marketplace (#9100)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: none

[Release] Bumped datadog_checks_dev version to 9.4.1
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation
