Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Add `trend_micro_cloud_one` to removed integrations (#21864)
  ddev/src/ddev/cli/release/agent/changelog.py
Labels: none

consistently map to ocsf.actor fields across audit + signin logs
  azure_active_directory/assets/logs/azure.activedirectory.yaml
Labels: none

consistent OCSf mapping for Entra users
  azure_active_directory/assets/logs/azure.activedirectory.yaml
Labels: none

Update postgresql.yaml
  postgres/assets/logs/postgresql.yaml
Labels: none

Update kafka_actions/README.md
  kafka_actions/README.md
Labels: documentation

Update kafka_actions/assets/configuration/spec.yaml
  kafka_actions/assets/configuration/spec.yaml
Labels: none

Update kafka_actions/assets/configuration/spec.yaml
  kafka_actions/assets/configuration/spec.yaml
Labels: none

Update kafka_actions/README.md
  kafka_actions/README.md
Labels: documentation

Update kafka_actions/README.md
  kafka_actions/README.md
Labels: documentation

Update kafka_actions/README.md
  kafka_actions/README.md
Labels: documentation

Update kafka_actions/README.md
  kafka_actions/README.md
Labels: documentation

Update kafka_actions/README.md
  kafka_actions/README.md
Labels: documentation

Update kafka_actions/README.md
  kafka_actions/README.md
Labels: documentation

Update kafka_actions/README.md
  kafka_actions/README.md
Labels: documentation

Update kafka_actions/README.md
  kafka_actions/README.md
Labels: documentation

Update kafka_actions/README.md
  kafka_actions/README.md
Labels: documentation

Update kafka_actions/README.md
  kafka_actions/README.md
Labels: documentation

update readme
  kafka_actions/README.md
Labels: documentation

commit
  ibm_spectrum_lsf/CHANGELOG.md
Labels: documentation

validate models
  kafka_actions/datadog_checks/kafka_actions/config_models/instance.py
Labels: none

Update kafka_actions/README.md
  kafka_actions/README.md
Labels: documentation

Update vsphere dashboard filenames and manifest.json
  vsphere/assets/dashboards/vmware_vsphere-_property_metrics.json
  vsphere/assets/dashboards/vsphere_overview.json
  vsphere/manifest.json
Labels: none

Add some explanation comments to towncrier template.
  changelog_template.jinja
Labels: none

Add: Cisco ASA pipeline
  .github/workflows/config/labeler.yml
  cisco_asa/CHANGELOG.md
  cisco_asa/README.md
  cisco_asa/assets/configuration/spec.yaml
  cisco_asa/assets/logs/cisco-asa.yaml
  cisco_asa/assets/logs/cisco-asa_tests.yaml
  cisco_asa/changelog.d/1.added
  cisco_asa/datadog_checks/cisco_asa/__about__.py
  cisco_asa/datadog_checks/cisco_asa/__init__.py
  cisco_asa/datadog_checks/cisco_asa/data/conf.yaml.example
  cisco_asa/manifest.json
  cisco_asa/pyproject.toml
Labels: documentation, dev/tooling

Add: logs in manifest.json
  cisco_asa/manifest.json
Labels: none

testing pipeline for aurora
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/CHANGELOG.md
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/README.md
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/assets/configuration/spec.yaml
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/assets/dashboards/arctic_wolf_aurora_endpoint_security_overview.json
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/assets/logs/arctic-wolf-aurora-endpoint-security.yaml
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/assets/logs/arctic-wolf-aurora-endpoint-security_tests.yaml
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/changelog.d/1.added
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/datadog_checks/arctic_wolf_aurora_endpoint_security/__about__.py
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/datadog_checks/arctic_wolf_aurora_endpoint_security/__init__.py
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/datadog_checks/arctic_wolf_aurora_endpoint_security/data/conf.yaml.example
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/images/IMAGES_README.md
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/manifest.json
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/metadata.csv
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/pyproject.toml
Labels: documentation

testing pipeline for aurora
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/manifest.json
Labels: none

Add some explanation comments to towncrier template. (#21971)
  changelog_template.jinja
Labels: none

Update: CI checks
  cisco_asa/assets/logs/cisco-asa.yaml
  cisco_asa/assets/logs/cisco-asa_tests.yaml
  cisco_asa/changelog.d/21972.added
  cisco_asa/manifest.json
Labels: none

add test results
  cisco_asa/assets/logs/cisco-asa_tests.yaml
Labels: none

changelog
  ibm_spectrum_lsf/CHANGELOG.md
Labels: documentation

testing pipeline for aurora
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/assets/logs/arctic-wolf-aurora-endpoint-security_tests.yaml
Labels: none

Fix ibm lsf changelog (#21963)
  ibm_spectrum_lsf/CHANGELOG.md
Labels: documentation

changelog forscout
  forescout/CHANGELOG.md
Labels: documentation

changelog
  forescout/CHANGELOG.md
Labels: documentation

testing pipeline for aurora
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/assets/logs/arctic-wolf-aurora-endpoint-security.yaml
  arctic_wolf_aurora_endpoint_security/arctic_wolf_aurora_endpoint_security/assets/logs/arctic-wolf-aurora-endpoint-security_tests.yaml
Labels: none

lint
  forescout/CHANGELOG.md
Labels: documentation

fix(json-specs): add secret flags on all secret fields
  cassandra_nodetool/assets/configuration/spec.yaml
  clickhouse/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/tls.yaml
  disk/assets/configuration/spec.yaml
  esxi/assets/configuration/spec.yaml
  foundationdb/assets/configuration/spec.yaml
  gitlab/assets/configuration/spec.yaml
  harbor/assets/configuration/spec.yaml
  ibm_db2/assets/configuration/spec.yaml
  ibm_i/assets/configuration/spec.yaml
  mcache/assets/configuration/spec.yaml
  mongo/assets/configuration/spec.yaml
  mysql/assets/configuration/spec.yaml
  openldap/assets/configuration/spec.yaml
  openstack_controller/assets/configuration/spec.yaml
  oracle/assets/configuration/spec.yaml
  pgbouncer/assets/configuration/spec.yaml
  postgres/assets/configuration/spec.yaml
  powerdns_recursor/assets/configuration/spec.yaml
  proxysql/assets/configuration/spec.yaml
  rethinkdb/assets/configuration/spec.yaml
  sap_hana/assets/configuration/spec.yaml
  singlestore/assets/configuration/spec.yaml
  snowflake/assets/configuration/spec.yaml
  sonatype_nexus/assets/configuration/spec.yaml
  sqlserver/assets/configuration/spec.yaml
  ssh_check/assets/configuration/spec.yaml
  supervisord/assets/configuration/spec.yaml
  tibco_ems/assets/configuration/spec.yaml
  vertica/assets/configuration/spec.yaml
  vsphere/assets/configuration/spec.yaml
  win32_event_log/assets/configuration/spec.yaml
  wmi_check/assets/configuration/spec.yaml
Labels: none

typo
  ibm_spectrum_lsf/CHANGELOG.md
Labels: documentation

Fix forscout changelog (#21974)
  forescout/CHANGELOG.md
Labels: documentation
