Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

[Release] Update metadata
  .in-toto/tag.b9ca7eb3.link
Labels: none

Add note to base changelog about 38.3.2 release
  datadog_checks_base/CHANGELOG.md
Labels: documentation

Fix auto-enabling the logs Agent for mounted logs on POSIX
  ddev/src/ddev/cli/env/start.py
  ddev/tests/cli/env/test_start.py
Labels: none

Add changelog entry
  ddev/changelog.d/25588.fixed
Labels: none

Restore original logs detection comment
  ddev/src/ddev/cli/env/start.py
Labels: none

Add test 3.8.5
  prefect/hatch.toml
  prefect/tests/docker/prefect.yaml
Labels: none

Add 'bewaire' requirement to repository configuration
  repository.datadog.yaml
Labels: none

Update compose for e2e tests
  prefect/tests/docker/docker-compose.yml
Labels: none

Automate paired jemalloc integration smoke tests
  .github/workflows/scripts/jemalloc_smoke.py
  .github/workflows/scripts/tests/test_jemalloc_smoke.py
  .github/workflows/test-agent.yml
  .github/workflows/test-target.yml
Labels: dev/tooling

Expose smoke runner failures in CI annotations
  .github/workflows/scripts/jemalloc_smoke.py
Labels: dev/tooling

[Release] Bumped datadog_checks_base version to 38.3.2 (#25587)
  .in-toto/tag.b9ca7eb3.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/25283.fixed
  datadog_checks_base/changelog.d/25510.fixed
  datadog_checks_base/changelog.d/25514.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

Keep discovery diagnostics separate from JSON
  .github/workflows/scripts/jemalloc_smoke.py
  .github/workflows/scripts/tests/test_jemalloc_smoke.py
Labels: dev/tooling

[Backport 7.84.x] Add collect_histograms_as_distributions option to OpenMetrics V2 (#25378) (#25582)
  datadog_checks_base/changelog.d/25378.added
  datadog_checks_base/changelog.d/25378.fixed
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transform.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/histogram.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/utils.py
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/datadog_checks/base/stubs/common.py
  datadog_checks_base/datadog_checks/base/utils/discovery/probe.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_histogram.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
  datadog_checks_base/tests/base/utils/discovery/test_probe.py
  datadog_checks_base/tests/stubs/test_assert_histogram_bucket.py
Labels: none

Disable color in CI environment discovery
  .github/workflows/scripts/jemalloc_smoke.py
Labels: dev/tooling

Add changelog entry
  datadog_checks_dev/changelog.d/25590.added
Labels: none

Revert "[Release] Bumped datadog_checks_base version to 38.3.2 (#25587)"
  .in-toto/tag.b9ca7eb3.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/25283.fixed
  datadog_checks_base/changelog.d/25510.fixed
  datadog_checks_base/changelog.d/25514.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

rework overview dashboard and add fabric health monitor
  cisco_catalyst_center/README.md
  cisco_catalyst_center/assets/dashboards/cisco_catalyst_center_overview.json
  cisco_catalyst_center/assets/monitors/poor_fabric_health.json
  cisco_catalyst_center/manifest.json
Labels: documentation

nifi: name the source type NiFi so metadata.csv validates
  .ddev/config.toml
  nifi/manifest.json
Labels: none

Fix Helm instructions for `oom_kill` and `tcp_queue_length` (#25584)
  oom_kill/README.md
  tcp_queue_length/README.md
Labels: documentation

Revert "[Release] Bumped datadog_checks_base version to 38.3.2 (#25587)" (#25591)
  .in-toto/tag.b9ca7eb3.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/25283.fixed
  datadog_checks_base/changelog.d/25510.fixed
  datadog_checks_base/changelog.d/25514.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

more comments
  cisco_catalyst_center/datadog_checks/cisco_catalyst_center/collectors.py
  cisco_catalyst_center/tests/test_events.py
  cisco_catalyst_center/tests/test_p1_collectors.py
  cisco_catalyst_center/tests/test_stack_and_clients.py
Labels: none

fix timeline
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/24947.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

fix timeline (#25593)
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/24947.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped datadog_checks_base version to 38.3.3
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/25283.fixed
  datadog_checks_base/changelog.d/25378.added
  datadog_checks_base/changelog.d/25378.fixed
  datadog_checks_base/changelog.d/25510.fixed
  datadog_checks_base/changelog.d/25514.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

Update CHANGELOG.md
  datadog_checks_base/CHANGELOG.md
Labels: documentation

Remove Db2 query metrics test walkthrough
  ibm_db2/tests/README.md
Labels: documentation

Add minimal Db2 DBM query metrics collection (#25486)
  ibm_db2/README.md
  ibm_db2/changelog.d/25486.added
  ibm_db2/changelog.d/25486.fixed
  ibm_db2/datadog_checks/ibm_db2/connection.py
  ibm_db2/datadog_checks/ibm_db2/ibm_db2.py
  ibm_db2/datadog_checks/ibm_db2/query_metrics.py
  ibm_db2/hatch.toml
  ibm_db2/tests/test_query_metrics.py
  ibm_db2/tests/test_unit.py
Labels: documentation

Align Db2 query metrics with database instance metadata
  ibm_db2/datadog_checks/ibm_db2/ibm_db2.py
  ibm_db2/datadog_checks/ibm_db2/query_metrics.py
  ibm_db2/tests/test_query_metrics.py
Labels: none

Add changelog for Db2 instance identity alignment
  ibm_db2/changelog.d/25487.fixed
Labels: none

Warn when a DBM instance sets a reserved tag key
  datadog_checks_base/datadog_checks/base/checks/db.py
Labels: none

Align Db2 query metrics with instance metadata (#25487)
  ibm_db2/changelog.d/25487.fixed
  ibm_db2/datadog_checks/ibm_db2/ibm_db2.py
  ibm_db2/datadog_checks/ibm_db2/query_metrics.py
  ibm_db2/tests/test_query_metrics.py
Labels: none

Collect Db2 query CPU time and row counts
  ibm_db2/datadog_checks/ibm_db2/query_metrics.py
  ibm_db2/tests/test_query_metrics.py
Labels: none

Add changelog for Db2 query resource metrics
  ibm_db2/changelog.d/25516.added
Labels: none

Use requested keys to drive Db2 text lookups
  ibm_db2/datadog_checks/ibm_db2/query_metrics.py
Labels: none

Preserve Db2 query counters when text lookup fails
  ibm_db2/changelog.d/25531.fixed
  ibm_db2/datadog_checks/ibm_db2/query_metrics.py
  ibm_db2/tests/test_unit.py
Labels: none

Verify Db2 text lookup against the counter scan
  ibm_db2/tests/test_query_metrics.py
Labels: none

Reduce Db2 text lookup round trips with larger batches
  ibm_db2/datadog_checks/ibm_db2/query_metrics.py
Labels: none

Document provisional Db2 text cache limit
  ibm_db2/datadog_checks/ibm_db2/query_metrics.py
Labels: none

Increase Db2 statement text lookup batches to 500
  ibm_db2/datadog_checks/ibm_db2/query_metrics.py
Labels: none
