Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Updated images as per the ci check
  okta_workflows/images/okta_workflows_1_light.png
  okta_workflows/images/okta_workflows_2_light.png
  plivo/images/plivo_messages_1_light.png
  plivo/images/plivo_voice_calls_2_light.png
Labels: none

short output
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/size-quality-gates.yml
  ddev/src/ddev/cli/size/utils/gha_diff.py
Labels: dev/tooling

remove: openvpn manifest formatting changes
  openvpn/manifest.json
Labels: none

fix
  .github/workflows/size-quality-gates.yml
  ddev/src/ddev/cli/size/utils/gha_diff.py
Labels: dev/tooling

format fix
  ddev/src/ddev/cli/size/utils/gha_diff.py
Labels: none

Add dummy change
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: none

Updated dashboard and pipeline
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_anti-malware_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_application_control_and_device_control_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_file_storage_security_insights.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_firewall_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_integrity_monitoring_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_intrusion_prevention_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_log_inspection_and_web_reputation_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_network_security_insights.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_system_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_workload_security_insights.json
  trend_micro_cloud_one/assets/logs/trend-micro-cloud-one.yaml
  trend_micro_cloud_one/assets/logs/trend-micro-cloud-one_tests.yaml
Labels: none

Time get_highwater_offsets
  kafka_consumer/changelog.d/21132.fixed
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_e2e.py
  kafka_consumer/tests/test_integration.py
Labels: none

feat: making Jamf Pro docs public
  jamf_pro/manifest.json
Labels: none

Added dashboard screen-shots and Updated Dashboard,Readme
  zerofox_cloud_platform/README.md
  zerofox_cloud_platform/assets/dashboards/zerofox_cloud_platform_alert_insights.json
  zerofox_cloud_platform/assets/logs/zerofox-cloud-platform_tests.yaml
  zerofox_cloud_platform/images/zerofox_cloud_platform_alert_insights_1.png
  zerofox_cloud_platform/images/zerofox_cloud_platform_alert_insights_2.png
  zerofox_cloud_platform/manifest.json
Labels: documentation

Updated pipeline
  trend_micro_cloud_one/assets/logs/trend-micro-cloud-one.yaml
Labels: none

Run the linter.
  kafka_consumer/tests/test_e2e.py
  kafka_consumer/tests/test_integration.py
Labels: none

Updated pipeline
  trend_micro_cloud_one/assets/logs/trend-micro-cloud-one.yaml
Labels: none

Updated pipeline
  trend_micro_cloud_one/assets/logs/trend-micro-cloud-one.yaml
Labels: none

format fix
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/size-quality-gates.yml
  ddev/src/ddev/cli/size/utils/gha_diff.py
Labels: dev/tooling

Show print statements in CI
  .github/workflows/test-target.yml
Labels: dev/tooling

Updated pipeline
  trend_micro_cloud_one/assets/logs/trend-micro-cloud-one.yaml
Labels: none

fix
  .github/workflows/resolve-build-deps.yaml
  ddev/src/ddev/cli/size/utils/gha_diff.py
Labels: dev/tooling

Updated pipeline
  trend_micro_cloud_one/assets/logs/trend-micro-cloud-one.yaml
Labels: none

get output
  .github/workflows/resolve-build-deps.yaml
  ddev/src/ddev/cli/size/utils/gha_diff.py
Labels: dev/tooling

fix
  .github/workflows/resolve-build-deps.yaml
Labels: dev/tooling

Microsoft Copilot: no-assets introduction
  microsoft_copilot/CHANGELOG.md
  microsoft_copilot/README.md
  microsoft_copilot/assets/service_checks.json
  microsoft_copilot/manifest.json
  microsoft_copilot/metadata.csv
Labels: documentation

SDBM-1909: Change statement_rows dict to a TTL cache to fix mysql memory leaks (#21097)
  mysql/changelog.d/21097.fixed
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/statements.py
Labels: none

debugging
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/size-quality-gates.yml
Labels: dev/tooling

Wrap up tests
  .builders/tests/test_upload_and_lock.py
  .builders/upload_and_lock.py
Labels: none

Use ddev to target Agent branch in build_agent.yaml
  ddev/src/ddev/cli/release/branch/create.py
  ddev/src/ddev/cli/release/branch/tag.py
Labels: none

Fix invalid group reference error
  ddev/src/ddev/cli/release/branch/create.py
Labels: none

fix
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/size-quality-gates.yml
Labels: dev/tooling

Ensure ddev env test skips environments when disabled by e2e-env (#21119)
  ddev/changelog.d/21119.fixed
  ddev/pyproject.toml
  ddev/src/ddev/cli/env/test.py
  ddev/src/ddev/repo/constants.py
  ddev/tests/cli/env/test_test.py
Labels: none

debug
  .github/workflows/size-quality-gates.yml
Labels: dev/tooling

Create wrapper around hatch commands and refactor `ddev env test` to use it. This simplifies the logic for environment selection.
  ddev/changelog.d/21119.added
  ddev/src/ddev/cli/env/test.py
  ddev/src/ddev/cli/test/__init__.py
  ddev/src/ddev/e2e/run.py
  ddev/src/ddev/testing/hatch.py
  ddev/src/ddev/utils/hatch.py
  ddev/tests/cli/env/test_test.py
  ddev/tests/testing/test_hatch.py
  ddev/tests/utils/test_hatch.py
Labels: none

Fix changelog number
  ddev/changelog.d/21135.added
Labels: none

[AI-5518] Add Python version filtering to integrations to the ddev size command (#20742)
  ddev/changelog.d/20742.added
  ddev/src/ddev/cli/size/diff.py
  ddev/src/ddev/cli/size/status.py
  ddev/src/ddev/cli/size/timeline.py
  ddev/src/ddev/cli/size/utils/common_funcs.py
  ddev/tests/cli/size/test_diff.py
  ddev/tests/cli/size/test_timeline.py
  ddev/tests/size/test_common.py
  ddev/tests/size/test_timeline.py
Labels: none

Apply suggestions from code review
  microsoft_copilot/README.md
Labels: documentation

revise databricks and openai cost ootb dashboards
  databricks/assets/dashboards/databricks_cost_overview.json
  openai/assets/dashboards/cost_overview_dashboard.json
Labels: none

make palette datadog_classic
  openai/assets/dashboards/cost_overview_dashboard.json
Labels: none

remove lock step from workflow
  .github/workflows/resolve-build-deps.yaml
Labels: dev/tooling

rename step
  .github/workflows/resolve-build-deps.yaml
Labels: dev/tooling

added async metrics parsing
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  clickhouse/datadog_checks/clickhouse/queries/__init__.py
  clickhouse/datadog_checks/clickhouse/queries/system_async_metrics.py
  clickhouse/metadata.csv
  clickhouse/scripts/generate_metrics.py
  clickhouse/scripts/templates/system_async_metrics.py
  clickhouse/tests/metrics.py
Labels: none

SDBM-1909: Change statement_rows dict to a TTL cache to fix mysql memory leaks (#21097)
  mysql/changelog.d/21097.fixed
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/statements.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
