Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Add dns regular test
  dns_check/datadog_checks/dns_check/dns_check.py
Labels: none

factor out unit tests
  mysql/tests/common.py
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
  mysql/tests/test_unit.py
Labels: none

Use variables
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Avoids duplicating fixture
  mysql/tests/common.py
  mysql/tests/conftest.py
Labels: none

Set default back
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Use parameters
  .azure-pipelines/agent.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Improve documentation and add unit tests
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/tests/common.py
  ibm_mq/tests/test_queue_metric_collector.py
Labels: none

Add service check tags method
  mysql/datadog_checks/mysql/mysql.py
Labels: none

Fix typo
  .azure-pipelines/templates/test-all.yml
Labels: dev/testing

review: clarify container exclusion explanation
  kubelet/README.md
Labels: documentation

Style fix
  ibm_mq/tests/test_queue_metric_collector.py
Labels: none

Revert "Faster tests"
  .azure-pipelines/templates/test-all-checks.yml
Labels: dev/testing

Revert "Add dns regular test"
  dns_check/datadog_checks/dns_check/dns_check.py
Labels: none

re-sync
  active_directory/datadog_checks/active_directory/config_models/defaults.py
  active_directory/datadog_checks/active_directory/config_models/instance.py
Labels: none

re-sync
  activemq/datadog_checks/activemq/config_models/defaults.py
  activemq/datadog_checks/activemq/config_models/instance.py
  activemq/datadog_checks/activemq/config_models/shared.py
Labels: none

re-sync
  activemq_xml/datadog_checks/activemq_xml/config_models/defaults.py
  activemq_xml/datadog_checks/activemq_xml/config_models/instance.py
Labels: none

re-sync
  aerospike/datadog_checks/aerospike/config_models/defaults.py
  aerospike/datadog_checks/aerospike/config_models/instance.py
Labels: none

re-sync
  airflow/datadog_checks/airflow/config_models/defaults.py
  airflow/datadog_checks/airflow/config_models/instance.py
Labels: none

re-sync
  ambari/datadog_checks/ambari/config_models/defaults.py
  ambari/datadog_checks/ambari/config_models/instance.py
Labels: none

re-sync
  aspdotnet/datadog_checks/aspdotnet/config_models/defaults.py
  aspdotnet/datadog_checks/aspdotnet/config_models/instance.py
Labels: none

re-sync
  azure_iot_edge/datadog_checks/azure_iot_edge/config_models/defaults.py
  azure_iot_edge/datadog_checks/azure_iot_edge/config_models/instance.py
Labels: none

re-sync
  btrfs/datadog_checks/btrfs/config_models/defaults.py
  btrfs/datadog_checks/btrfs/config_models/instance.py
Labels: none

re-sync
  cacti/datadog_checks/cacti/config_models/defaults.py
  cacti/datadog_checks/cacti/config_models/instance.py
Labels: none

re-sync
  ceph/datadog_checks/ceph/config_models/defaults.py
  ceph/datadog_checks/ceph/config_models/instance.py
Labels: none

re-sync
  cilium/datadog_checks/cilium/config_models/defaults.py
  cilium/datadog_checks/cilium/config_models/instance.py
Labels: none

re-sync
  cisco_aci/datadog_checks/cisco_aci/config_models/defaults.py
  cisco_aci/datadog_checks/cisco_aci/config_models/instance.py
Labels: none

re-sync
  clickhouse/datadog_checks/clickhouse/config_models/defaults.py
  clickhouse/datadog_checks/clickhouse/config_models/instance.py
Labels: none

re-sync
  cloud_foundry_api/datadog_checks/cloud_foundry_api/config_models/defaults.py
  cloud_foundry_api/datadog_checks/cloud_foundry_api/config_models/instance.py
Labels: none

re-sync
  cockroachdb/datadog_checks/cockroachdb/config_models/defaults.py
  cockroachdb/datadog_checks/cockroachdb/config_models/instance.py
Labels: none

re-sync
  confluent_platform/datadog_checks/confluent_platform/config_models/defaults.py
  confluent_platform/datadog_checks/confluent_platform/config_models/instance.py
  confluent_platform/datadog_checks/confluent_platform/config_models/shared.py
Labels: none

re-sync
  coredns/datadog_checks/coredns/config_models/defaults.py
  coredns/datadog_checks/coredns/config_models/instance.py
Labels: none

re-sync
  couch/datadog_checks/couch/config_models/defaults.py
  couch/datadog_checks/couch/config_models/instance.py
Labels: none

re-sync
  couchbase/datadog_checks/couchbase/config_models/defaults.py
  couchbase/datadog_checks/couchbase/config_models/instance.py
Labels: none

re-sync
  crio/datadog_checks/crio/config_models/defaults.py
  crio/datadog_checks/crio/config_models/instance.py
Labels: none

re-sync
  disk/datadog_checks/disk/config_models/defaults.py
  disk/datadog_checks/disk/config_models/instance.py
Labels: none

re-sync
  dns_check/datadog_checks/dns_check/config_models/defaults.py
  dns_check/datadog_checks/dns_check/config_models/instance.py
Labels: none

re-sync
  dotnetclr/datadog_checks/dotnetclr/config_models/defaults.py
  dotnetclr/datadog_checks/dotnetclr/config_models/instance.py
Labels: none

re-sync
  druid/datadog_checks/druid/config_models/defaults.py
  druid/datadog_checks/druid/config_models/instance.py
Labels: none

re-sync
  ecs_fargate/datadog_checks/ecs_fargate/config_models/defaults.py
  ecs_fargate/datadog_checks/ecs_fargate/config_models/instance.py
Labels: none

re-sync
  eks_fargate/datadog_checks/eks_fargate/config_models/defaults.py
  eks_fargate/datadog_checks/eks_fargate/config_models/instance.py
Labels: none
