Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

enabled capability and added unit tests for image pagination for rest api
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/tests/fixtures/GET/image/v2/images/limit=1/marker=a4dcf3f7-e4d6-45d5-be2b-a939f2bbedfc/response.json
  openstack_controller/tests/fixtures/GET/image/v2/images/limit=1000/response.json
  openstack_controller/tests/metrics.py
  openstack_controller/tests/test_unit_glance.py
Labels: none

removing test file from a different endpoint accidentally added to this pr
  openstack_controller/tests/fixtures/GET/networking/v2.0/agents/limit=1/response.json
Labels: none

set collect_wal_metrics to false will disable wal file metrics collection for all pg versions
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_pg_integration.py
Labels: none

fixed linting issue
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/tests/test_unit_glance.py
Labels: none

dashboard touchup (#16989)
  nvidia_triton/assets/dashboards/nvidia_triton_overview.json
  nvidia_triton/manifest.json
Labels: none

add changelog
  postgres/changelog.d/16990.added
Labels: none

Cross compile dependencies for ARM (#16935)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-aarch64/build_script.sh
  .builders/scripts/repair_wheels.py
  .github/workflows/build-deps.yml
Labels: dev/tooling

remove comma from json
  fluxcd/README.md
Labels: documentation

Update dependency resolution
  .deps/image_digests.json
  .deps/metadata.json
  .deps/resolved/linux-aarch64_py2.txt
  .deps/resolved/linux-aarch64_py3.txt
  .deps/resolved/linux-x86_64_py2.txt
  .deps/resolved/linux-x86_64_py3.txt
  .deps/resolved/macos_py3.txt
  .deps/resolved/windows-x86_64_py2.txt
Labels: none

align with _create_tls_context
  vsphere/datadog_checks/vsphere/api.py
  vsphere/tests/test_api.py
Labels: none

DOCS-7311 - remove comma from json (#16991)
  fluxcd/README.md
Labels: documentation

Add a first test for existing logic
  .builders/test_dependencies.txt
  .builders/tests/__init__.py
  .builders/tests/test_upload.py
  .builders/upload.py
Labels: none

Test upload of built wheels
  .builders/tests/test_upload.py
Labels: none

Fix type hint
  .builders/upload.py
Labels: none

Use timestamp as build number (instead of incremental counter)
  .builders/tests/test_upload.py
  .builders/upload.py
Labels: none

Don't upload a package if the latest build available matches hash
  .builders/tests/test_upload.py
  .builders/upload.py
Labels: none

Run new tests on CI
  .github/workflows/build-deps-test.yml
Labels: dev/tooling

improved readability
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

improved the changelog
  mysql/changelog.d/16904.added
Labels: none

Run tests on same workflow as builds
  .github/workflows/build-deps-test.yml
  .github/workflows/build-deps.yml
Labels: dev/tooling

add teleport_cache_stale_events mocks
  teleport/tests/fixtures/metrics.txt
Labels: none

reporting common metrics
  teleport/datadog_checks/teleport/check.py
  teleport/tests/test_unit.py
Labels: none

rename 'version' tag to 'teleport_version'
  teleport/datadog_checks/teleport/check.py
Labels: none

format
  teleport/datadog_checks/teleport/check.py
  teleport/tests/test_unit.py
Labels: none

move config to config file
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

add unit tests for proxy metrics
  teleport/tests/test_unit.py
Labels: none

Make ddev tests more deterministic
  ddev/tests/cli/meta/scripts/conftest.py
  ddev/tests/cli/meta/scripts/test_upgrade_python.py
  ddev/tests/conftest.py
Labels: none

passing metrics that don't require mocks
  teleport/datadog_checks/teleport/check.py
  teleport/tests/test_unit.py
Labels: none

remove docker-compose down nothing behavior
  teleport/tests/conftest.py
Labels: none

update metadata.csv metric names format
  teleport/metadata.csv
Labels: none

update unit and integration tests to match the new metric names
  teleport/tests/test_integration.py
  teleport/tests/test_unit.py
Labels: none

fix implementation to pass the tests
  teleport/datadog_checks/teleport/check.py
Labels: none

tests passing for grpc_client_* metrics
  teleport/tests/fixtures/metrics.txt
  teleport/tests/test_unit.py
Labels: none

fix lint
  ddev/tests/conftest.py
Labels: none

Update postgres/changelog.d/16990.added
  postgres/changelog.d/16990.added
Labels: none

Update mysql/changelog.d/16988.added
  mysql/changelog.d/16988.added
Labels: none

Remove migrated commands
  datadog_checks_dev/changelog.d/16995.removed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/common.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/integrations.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/integrations_changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/edit.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/ls.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/prune.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/reload.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/shell.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/stop.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  datadog_checks_dev/tests/tooling/commands/test_agent.py
  datadog_checks_dev/tests/tooling/commands/test_dep.py
Labels: none

Remove migrated commands (#16995)
  datadog_checks_dev/changelog.d/16995.removed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/common.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/integrations.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/integrations_changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/edit.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/ls.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/prune.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/reload.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/shell.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/stop.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  datadog_checks_dev/tests/tooling/commands/test_agent.py
  datadog_checks_dev/tests/tooling/commands/test_dep.py
Labels: none

[redisdb] Check existence of total_commands_processed instead of blindly extracting it
  redisdb/datadog_checks/redisdb/redisdb.py
Labels: none

Add changelog
  redisdb/changelog.d/16996.fixed
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
