Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Update py32
  aspdotnet/requirements.in
  datadog_checks_base/requirements.in
Labels: none

update tox
  mysql/tox.ini
Labels: none

Test
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
Labels: none

Don't set empty asset values on migration (#10231)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/manifest.py
Labels: none

Test
  .azure-pipelines/templates/test-single-windows.yml
  datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
Labels: dev/testing

Update style
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
Labels: none

Update AZP templates to take in a dd_url and small fixes to validator (#10230)
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/validator.py
Labels: dev/testing

Bring back
  datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
Labels: none

Test
  wmi_check/datadog_checks/wmi_check/wmi_check.py
Labels: none

Update
  wmi_check/datadog_checks/wmi_check/wmi_check.py
Labels: none

Update
  datadog_checks_base/datadog_checks/base/checks/win/winpdh.py
Labels: none

Remove quotes
  active_directory/requirements.in
  datadog_checks_base/requirements.in
  dotnetclr/requirements.in
  exchange_server/requirements.in
  iis/requirements.in
  pdh_check/requirements.in
  sqlserver/requirements.in
  win32_event_log/requirements.in
  windows_service/requirements.in
  wmi_check/requirements.in
Labels: none

add fallback calculation
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
Labels: none

update cilium.yaml
  cilium/tests/kind/cilium.yaml
Labels: none

update conftest.py
  cilium/tests/conftest.py
Labels: none

[Release] Bumped datadog_checks_dev version to 14.2.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.bb47f8e8.link
Labels: none

Apply suggestions from code review
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
Labels: none

[Release] Bumped datadog_checks_dev version to 14.2.0 (#10243)
  .in-toto/tag.bb47f8e8.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

update e2e cilium version
  cilium/tox.ini
Labels: none

Make all mocked HTTP tests use the same response class (#10242)
  avi_vantage/tests/conftest.py
  coredns/tests/conftest.py
  datadog_checks_base/tests/base/checks/openmetrics/test_openmetrics.py
  datadog_checks_base/tests/base/utils/test_http.py
  ecs_fargate/tests/test_unit.py
  envoy/tests/common.py
  envoy/tests/conftest.py
  envoy/tests/test_bench.py
  envoy/tests/test_envoy.py
  harbor/tests/conftest.py
  harbor/tests/test_unit.py
  hdfs_datanode/tests/common.py
  hdfs_datanode/tests/conftest.py
  hdfs_namenode/tests/common.py
  hdfs_namenode/tests/conftest.py
  kubelet/tests/test_kubelet.py
  kubelet/tox.ini
  mapreduce/tests/conftest.py
  powerdns_recursor/tests/common.py
  powerdns_recursor/tests/test_metadata.py
  spark/tests/test_spark.py
  twistlock/tests/test_twistlock.py
  vault/tests/common.py
  vault/tests/test_bench.py
  vault/tests/test_integration.py
  vault/tests/test_vault.py
  vault/tests/utils.py
  yarn/tests/common.py
  yarn/tests/conftest.py
Labels: none

update fixtures
  cilium/tests/fixtures/agent_metrics.txt
Labels: none

[Release] Bumped ibm_mq version to 3.16.0
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.bb47f8e8.link
Labels: none

test all
  datadog_checks_base/datadog_checks/base/__about__.py
Labels: none

test all
  datadog_checks_base/datadog_checks/base/__about__.py
Labels: none

Apply suggestions from code review
  ibm_mq/CHANGELOG.md
Labels: documentation

DBM-490: Add support for live queries feature (#9866)
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: none

update example config
  azure_iot_edge/datadog_checks/azure_iot_edge/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  crio/datadog_checks/crio/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy.yaml
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/config_models/defaults.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/data/auto_conf.yaml
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/data/conf.yaml.example
  etcd/datadog_checks/etcd/data/conf.yaml.example
  external_dns/datadog_checks/external_dns/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/config_models/defaults.py
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/config_models/defaults.py
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  istio/datadog_checks/istio/config_models/defaults.py
  istio/datadog_checks/istio/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  kube_scheduler/datadog_checks/kube_scheduler/data/conf.yaml.example
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/config_models/defaults.py
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  scylla/datadog_checks/scylla/config_models/defaults.py
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: none

Do not assert hostname for e2e test
  mysql/tests/test_mysql.py
Labels: none

Hacky solution
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

commit
  nginx/assets/configuration/spec.yaml
  nginx/datadog_checks/nginx/data/conf.yaml.example
  nginx/datadog_checks/nginx/nginx.py
  nginx/tests/common.py
  nginx/tests/test_nginx.py
  nginx/tests/test_unit.py
Labels: none

Queue pattern should have precence over autodiscover
  ibm_mq/README.md
Labels: documentation

Queue pattern should have precence over autodiscover
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/setup.py
  mysql/tests/common.py
  mysql/tests/conftest.py
  mysql/tests/tags.py
  mysql/tests/test_mysql.py
  mysql/tests/test_statements.py
  mysql/tests/test_unit.py
  mysql/tox.ini
Labels: none

Improve documentation
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
Labels: none

Temp fix
  .azure-pipelines/templates/test-single-windows.yml
Labels: dev/testing

Faster tests
  .azure-pipelines/templates/test-all-checks.yml
Labels: dev/testing

Queue pattern should have precence over autodiscover
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/config_models/defaults.py
  ibm_mq/datadog_checks/ibm_mq/config_models/instance.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/metrics.py
  ibm_mq/datadog_checks/ibm_mq/utils.py
  ibm_mq/metadata.csv
  ibm_mq/tests/common.py
  ibm_mq/tests/compose/Dockerfile
  ibm_mq/tests/compose/cluster-config1.mqsc
  ibm_mq/tests/compose/cluster-config2.mqsc
  ibm_mq/tests/compose/config.mqsc
  ibm_mq/tests/compose/docker-compose-v8.yml
  ibm_mq/tests/conftest.py
  ibm_mq/tests/test_ibm_mq_int.py
  ibm_mq/tests/test_utils.py
Labels: none

Update mysql/assets/configuration/spec.yaml
  mysql/assets/configuration/spec.yaml
Labels: none

Update mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: none
