Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

[Release] Bumped dotnetclr version to 4.8.0
  dotnetclr/CHANGELOG.md
  dotnetclr/changelog.d/24321.added
  dotnetclr/datadog_checks/dotnetclr/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped envoy version to 6.7.0
  envoy/CHANGELOG.md
  envoy/changelog.d/24735.added
  envoy/datadog_checks/envoy/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped esxi version to 4.4.0
  esxi/CHANGELOG.md
  esxi/changelog.d/24646.security
  esxi/datadog_checks/esxi/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped falco version to 2.5.0
  falco/CHANGELOG.md
  falco/changelog.d/24668.added
  falco/datadog_checks/falco/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped exchange_server version to 4.8.0
  exchange_server/CHANGELOG.md
  exchange_server/changelog.d/24321.added
  exchange_server/datadog_checks/exchange_server/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped flink version to 3.4.0
  flink/CHANGELOG.md
  flink/changelog.d/24485.added
  flink/changelog.d/24545.fixed
  flink/datadog_checks/flink/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped hazelcast version to 6.7.0
  hazelcast/CHANGELOG.md
  hazelcast/changelog.d/24321.added
  hazelcast/datadog_checks/hazelcast/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped haproxy version to 8.5.0
  haproxy/CHANGELOG.md
  haproxy/changelog.d/24572.added
  haproxy/datadog_checks/haproxy/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped gearmand version to 5.4.0
  gearmand/CHANGELOG.md
  gearmand/changelog.d/24487.added
  gearmand/changelog.d/24710.fixed
  gearmand/datadog_checks/gearmand/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped ibm_ace version to 4.6.0
  ibm_ace/CHANGELOG.md
  ibm_ace/changelog.d/24646.security
  ibm_ace/datadog_checks/ibm_ace/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped ibm_db2 version to 4.4.0
  ibm_db2/CHANGELOG.md
  ibm_db2/changelog.d/24646.security
  ibm_db2/datadog_checks/ibm_db2/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped ibm_mq version to 8.11.0
  ibm_mq/CHANGELOG.md
  ibm_mq/changelog.d/24646.security
  ibm_mq/changelog.d/24663.fixed
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped iis version to 5.8.0
  iis/CHANGELOG.md
  iis/changelog.d/24321.added
  iis/datadog_checks/iis/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped krakend version to 2.0.0
  krakend/CHANGELOG.md
  krakend/changelog.d/22751.fixed
  krakend/changelog.d/24238.added
  krakend/changelog.d/24545.fixed
  krakend/changelog.d/24752.added
  krakend/changelog.d/24754.changed
  krakend/datadog_checks/krakend/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kafka_actions version to 2.9.0
  kafka_actions/CHANGELOG.md
  kafka_actions/changelog.d/24321.added
  kafka_actions/changelog.d/24646.security
  kafka_actions/datadog_checks/kafka_actions/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kafka_consumer version to 9.0.0
  kafka_consumer/CHANGELOG.md
  kafka_consumer/changelog.d/24309.added
  kafka_consumer/changelog.d/24309.changed
  kafka_consumer/changelog.d/24321.added
  kafka_consumer/changelog.d/24471.fixed
  kafka_consumer/changelog.d/24508.fixed
  kafka_consumer/changelog.d/24601.added
  kafka_consumer/changelog.d/24646.security
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kong version to 6.5.0
  kong/CHANGELOG.md
  kong/changelog.d/24318.added
  kong/changelog.d/24545.fixed
  kong/datadog_checks/kong/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kueue version to 1.1.0
  kueue/CHANGELOG.md
  kueue/changelog.d/24700.added
  kueue/changelog.d/24700.fixed
  kueue/changelog.d/24760.fixed
  kueue/datadog_checks/kueue/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped lustre version to 1.5.1
  lustre/CHANGELOG.md
  lustre/changelog.d/24504.fixed
  lustre/datadog_checks/lustre/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped marklogic version to 6.5.1
  marklogic/CHANGELOG.md
  marklogic/changelog.d/24383.fixed
  marklogic/datadog_checks/marklogic/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mcache version to 6.5.0
  mcache/CHANGELOG.md
  mcache/changelog.d/24321.added
  mcache/changelog.d/24646.security
  mcache/datadog_checks/mcache/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mapr version to 3.5.0
  mapr/CHANGELOG.md
  mapr/changelog.d/24646.security
  mapr/datadog_checks/mapr/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped milvus version to 2.6.0
  milvus/CHANGELOG.md
  milvus/changelog.d/24319.added
  milvus/changelog.d/24545.fixed
  milvus/datadog_checks/milvus/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped n8n version to 2.1.1
  n8n/CHANGELOG.md
  n8n/changelog.d/24545.fixed
  n8n/datadog_checks/n8n/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mysql version to 15.19.0
  mysql/CHANGELOG.md
  mysql/changelog.d/24082.added
  mysql/changelog.d/24194.fixed
  mysql/changelog.d/24321.added
  mysql/changelog.d/24649.fixed
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mongo version to 10.12.0
  mongo/CHANGELOG.md
  mongo/changelog.d/24321.added
  mongo/changelog.d/24541.added
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation

Add changelog for dependency size artifact removal
  ddev/changelog.d/23831.removed
Labels: none

Remove dependency size artifact fetching
  ddev/src/ddev/cli/size/status.py
  ddev/src/ddev/cli/size/utils/common_funcs.py
  ddev/tests/cli/size/test_status.py
  ddev/tests/size/test_common.py
Labels: none

[Release] Bumped nutanix version to 1.7.0
  nutanix/CHANGELOG.md
  nutanix/changelog.d/24667.added
  nutanix/datadog_checks/nutanix/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped nginx version to 9.5.0
  nginx/CHANGELOG.md
  nginx/changelog.d/24118.added
  nginx/datadog_checks/nginx/__about__.py
  requirements-agent-release.txt
Labels: documentation

Unify the disk usage workflows now that sizes come from lockfiles
  .github/workflows/measure-disk-usage-master.yml
  .github/workflows/measure-disk-usage.yml
Labels: dev/tooling

[Release] Bumped nginx_ingress_controller version to 5.5.0
  nginx_ingress_controller/CHANGELOG.md
  nginx_ingress_controller/changelog.d/24538.added
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped openldap version to 3.4.0
  openldap/CHANGELOG.md
  openldap/changelog.d/24646.security
  openldap/datadog_checks/openldap/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped openstack_controller version to 9.7.0
  openstack_controller/CHANGELOG.md
  openstack_controller/changelog.d/24321.added
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped pdh_check version to 4.7.0
  pdh_check/CHANGELOG.md
  pdh_check/changelog.d/24321.added
  pdh_check/datadog_checks/pdh_check/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped prefect version to 1.1.0
  prefect/CHANGELOG.md
  prefect/changelog.d/24483.added
  prefect/changelog.d/24545.fixed
  prefect/datadog_checks/prefect/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped postgres version to 23.11.0
  postgres/CHANGELOG.md
  postgres/changelog.d/24321.added
  postgres/changelog.d/24505.fixed
  postgres/changelog.d/24646.security
  postgres/changelog.d/24649.fixed
  postgres/changelog.d/24709.added
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped pgbouncer version to 8.11.0
  pgbouncer/CHANGELOG.md
  pgbouncer/changelog.d/24321.added
  pgbouncer/datadog_checks/pgbouncer/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped process version to 5.5.2
  process/CHANGELOG.md
  process/changelog.d/24560.fixed
  process/datadog_checks/process/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped pulsar version to 3.7.1
  pulsar/CHANGELOG.md
  pulsar/changelog.d/24545.fixed
  pulsar/datadog_checks/pulsar/__about__.py
  requirements-agent-release.txt
Labels: documentation

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
