Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

[Release] Bumped elastic version to 9.4.0
  elastic/CHANGELOG.md
  elastic/changelog.d/22426.added
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped gitlab_runner version to 7.4.0
  gitlab_runner/CHANGELOG.md
  gitlab_runner/changelog.d/22621.added
  gitlab_runner/datadog_checks/gitlab_runner/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped glusterfs version to 3.4.1
  glusterfs/CHANGELOG.md
  glusterfs/changelog.d/22486.fixed
  glusterfs/datadog_checks/glusterfs/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped hazelcast version to 6.5.0
  hazelcast/CHANGELOG.md
  hazelcast/changelog.d/22707.added
  hazelcast/datadog_checks/hazelcast/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped ibm_ace version to 4.5.0
  ibm_ace/CHANGELOG.md
  ibm_ace/changelog.d/22707.added
  ibm_ace/datadog_checks/ibm_ace/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped ibm_i version to 4.5.0
  ibm_i/CHANGELOG.md
  ibm_i/changelog.d/22707.added
  ibm_i/datadog_checks/ibm_i/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped ibm_mq version to 8.9.0
  ibm_mq/CHANGELOG.md
  ibm_mq/changelog.d/22707.added
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped istio version to 9.4.0
  istio/CHANGELOG.md
  istio/changelog.d/22581.added
  istio/datadog_checks/istio/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped juniper_srx_firewall version to 1.3.0
  juniper_srx_firewall/CHANGELOG.md
  juniper_srx_firewall/changelog.d/22674.added
  juniper_srx_firewall/datadog_checks/juniper_srx_firewall/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kafka_actions version to 2.4.0
  kafka_actions/CHANGELOG.md
  kafka_actions/changelog.d/22707.added
  kafka_actions/changelog.d/22797.fixed
  kafka_actions/changelog.d/22818.added
  kafka_actions/changelog.d/22829.added
  kafka_actions/changelog.d/22867.added
  kafka_actions/changelog.d/22893.added
  kafka_actions/changelog.d/22895.fixed
  kafka_actions/datadog_checks/kafka_actions/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kafka_consumer version to 7.0.0
  kafka_consumer/CHANGELOG.md
  kafka_consumer/changelog.d/22660.added
  kafka_consumer/changelog.d/22665.added
  kafka_consumer/changelog.d/22679.fixed
  kafka_consumer/changelog.d/22707.added
  kafka_consumer/changelog.d/22721.changed
  kafka_consumer/changelog.d/22768.added
  kafka_consumer/changelog.d/22829.added
  kafka_consumer/changelog.d/22924.fixed
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped kubevirt_api version to 2.4.0
  kubevirt_api/CHANGELOG.md
  kubevirt_api/changelog.d/22707.added
  kubevirt_api/datadog_checks/kubevirt_api/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mac_audit_logs version to 1.3.1
  mac_audit_logs/CHANGELOG.md
  mac_audit_logs/changelog.d/22479.fixed
  mac_audit_logs/datadog_checks/mac_audit_logs/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mongo version to 10.8.0
  mongo/CHANGELOG.md
  mongo/changelog.d/22707.added
  mongo/changelog.d/22822.fixed
  mongo/changelog.d/22825.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped mysql version to 15.14.0
  mysql/CHANGELOG.md
  mysql/changelog.d/22707.added
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped nutanix version to 1.0.1
  nutanix/CHANGELOG.md
  nutanix/changelog.d/22836.fixed
  nutanix/datadog_checks/nutanix/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped openstack_controller version to 9.5.0
  openstack_controller/CHANGELOG.md
  openstack_controller/changelog.d/22707.added
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped pan_firewall version to 3.3.0
  pan_firewall/CHANGELOG.md
  pan_firewall/changelog.d/22674.added
  pan_firewall/datadog_checks/pan_firewall/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped pgbouncer version to 8.9.0
  pgbouncer/CHANGELOG.md
  pgbouncer/changelog.d/22707.added
  pgbouncer/datadog_checks/pgbouncer/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped postgres version to 23.5.0
  postgres/CHANGELOG.md
  postgres/changelog.d/22707.added
  postgres/changelog.d/22744.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped proxmox version to 2.4.1
  proxmox/CHANGELOG.md
  proxmox/changelog.d/22698.fixed
  proxmox/datadog_checks/proxmox/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped redisdb version to 8.6.0
  redisdb/CHANGELOG.md
  redisdb/changelog.d/22707.added
  redisdb/changelog.d/22917.added
  redisdb/datadog_checks/redisdb/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Bumped riakcs version to 4.12.0
  requirements-agent-release.txt
  riakcs/CHANGELOG.md
  riakcs/changelog.d/22707.added
  riakcs/datadog_checks/riakcs/__about__.py
Labels: documentation

[Release] Bumped silverstripe_cms version to 1.8.0
  requirements-agent-release.txt
  silverstripe_cms/CHANGELOG.md
  silverstripe_cms/changelog.d/22707.added
  silverstripe_cms/datadog_checks/silverstripe_cms/__about__.py
Labels: documentation

[Release] Bumped snowflake version to 7.12.0
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/changelog.d/22707.added
  snowflake/changelog.d/22777.added
  snowflake/datadog_checks/snowflake/__about__.py
Labels: documentation

[Release] Bumped spark version to 7.6.0
  requirements-agent-release.txt
  spark/CHANGELOG.md
  spark/changelog.d/22707.added
  spark/datadog_checks/spark/__about__.py
Labels: documentation

[Release] Bumped sqlserver version to 22.14.0
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/22707.added
  sqlserver/changelog.d/22731.fixed
  sqlserver/changelog.d/22796.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation

[Release] Bumped ssh_check version to 4.7.0
  requirements-agent-release.txt
  ssh_check/CHANGELOG.md
  ssh_check/changelog.d/22707.added
  ssh_check/datadog_checks/ssh_check/__about__.py
Labels: documentation

[Release] Bumped temporal version to 4.4.0
  requirements-agent-release.txt
  temporal/CHANGELOG.md
  temporal/changelog.d/20627.added
  temporal/datadog_checks/temporal/__about__.py
Labels: documentation

[Release] Bumped vsphere version to 9.4.0
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/changelog.d/22723.added
  vsphere/datadog_checks/vsphere/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.60ed9a6b.link
Labels: none

Make public (#22962)
  arctic_wolf_aurora_endpoint_security/manifest.json
  cisco_asa/manifest.json
  cisco_secure_client/manifest.json
  ibm_spectrum_lsf/manifest.json
  nutanix/manifest.json
Labels: none

[7.78.x] Release new integrations (#22958) (#22963)
  beyondtrust_privileged_remote_access/CHANGELOG.md
  beyondtrust_privileged_remote_access/changelog.d/22381.added
  beyondtrust_privileged_remote_access/datadog_checks/beyondtrust_privileged_remote_access/__about__.py
  control_m/CHANGELOG.md
  control_m/changelog.d/22746.added
  control_m/datadog_checks/control_m/__about__.py
  do_query_actions/CHANGELOG.md
  do_query_actions/changelog.d/22793.added
  do_query_actions/datadog_checks/do_query_actions/__about__.py
  n8n/CHANGELOG.md
  n8n/changelog.d/21835.added
  n8n/datadog_checks/n8n/__about__.py
  prefect/CHANGELOG.md
  prefect/changelog.d/22757.added
  prefect/datadog_checks/prefect/__about__.py
  requirements-agent-release.txt
Labels: documentation

init with nothing inside
  ddev/src/ddev/ai/tools/__init__.py
Labels: none

Pin pyopenssl (#22954)
  .ddev/config.toml
Labels: none

envoy: add grok rule for default log format (#22887)
  envoy/assets/logs/envoy.yaml
  envoy/assets/logs/envoy_tests.yaml
Labels: none

Fix update-dependencies workflow: use dd-octo-sts and add GH_TOKEN to rename step (#22946)
  .github/workflows/update-dependencies.yml
Labels: dev/tooling

fix(ci): bound commit walk by 30-day window instead of fixed page count
  .github/workflows/scripts/days_since_last_pin.py
Labels: dev/tooling

delete some trivial tests
  ddev/tests/ai/tools/core/test_base.py
  ddev/tests/ai/tools/shell/test_base.py
Labels: none

Set ocsf.device.hostname to Unknown for non-network events
  linux_audit_logs/assets/logs/linux-audit-logs.yaml
  linux_audit_logs/assets/logs/linux-audit-logs_tests.yaml
Labels: none
