Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

NDM: Rename octets to bytes (#14343)
  snmp/assets/dashboards/interface_performance.json
Labels: none

Fix length check in release-hash-check.py script
  .github/workflows/release-hash-check.py
Labels: dev/tooling

final determinism fix: collect copyrights for each dep version
  LICENSE-3rdparty.csv
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
Labels: none

Fix length check in release-hash-check.py script (#14356)
  .github/workflows/release-hash-check.py
Labels: dev/tooling

Update deps batch 1
  amazon_msk/pyproject.toml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  mysql/pyproject.toml
  oracle/pyproject.toml
  postgres/pyproject.toml
  spark/pyproject.toml
  ssh_check/pyproject.toml
Labels: none

Add process signatures (#14325)
  gitlab_runner/manifest.json
Labels: none

Change Cilium Agent port in spec.yaml (#14349)
  cilium/assets/configuration/spec.yaml
  cilium/datadog_checks/cilium/data/auto_conf.yaml
  cilium/datadog_checks/cilium/data/conf.yaml.example
Labels: none

prefer tarballs to wheels because they support streaming requests
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
Labels: none

update signatures for istio (#14353)
  istio/manifest.json
Labels: none

sync files
  tcp_check/datadog_checks/tcp_check/config_models/defaults.py
  tcp_check/datadog_checks/tcp_check/config_models/instance.py
Labels: none

Add pid_cache_duration to instance configuration (#14337)
  process/assets/configuration/spec.yaml
Labels: none

Fix style
  kafka_consumer/tests/test_e2e.py
  kafka_consumer/tests/test_integration.py
  kafka_consumer/tests/test_unit.py
Labels: none

Revert mmh3 update
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: none

Fix style
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
Labels: none

Try CI with only python 3.8 coverage
  postgres/hatch.toml
Labels: none

Revert "Try CI with only python 3.8 coverage"
  postgres/hatch.toml
Labels: none

Make license validation deterministic wrt dependency specification (#14354)
  LICENSE-3rdparty.csv
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
Labels: none

Sync process config
  process/datadog_checks/process/data/conf.yaml.example
Labels: none

.
  process/datadog_checks/process/config_models/defaults.py
  process/datadog_checks/process/config_models/instance.py
Labels: none

Sync process config (#14358)
  process/datadog_checks/process/config_models/defaults.py
  process/datadog_checks/process/config_models/instance.py
  process/datadog_checks/process/data/conf.yaml.example
Labels: none

Sync third-party licenses metadata
  LICENSE-3rdparty.csv
Labels: none

Sync third-party licenses metadata (#14359)
  LICENSE-3rdparty.csv
Labels: none

[Kubelet] Support Ephemeral Percistent volume claim (#14194)
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/fixtures/pods.json
  kubelet/tests/test_kubelet.py
Labels: none

testing
  oracle/assets/configuration/spec.yaml
  oracle/datadog_checks/oracle/config_models/defaults.py
  oracle/datadog_checks/oracle/config_models/instance.py
  oracle/datadog_checks/oracle/config_models/shared.py
  oracle/datadog_checks/oracle/data/conf.yaml.example
  oracle/datadog_checks/oracle/oracle.py
  oracle/tests/conftest.py
Labels: none

add rabbitmq /metrics/detailed example
  rabbitmq/README.md
Labels: documentation

Update tag name to nova_service_status
  openstack_controller/datadog_checks/openstack_controller/check.py
  openstack_controller/tests/test_unit_nova.py
Labels: none

Add new service checks
  openstack_controller/assets/service_checks.json
Labels: none

Add process signature to manifest.json (#14348)
  yarn/manifest.json
Labels: none

Add doc for more Kubernetes config steps
  network/README.md
Labels: documentation

Try CI with only python 3.8 coverage
  postgres/hatch.toml
Labels: none

Add new config options to config file and reorder file
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
Labels: none

Add config models to openstack
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/datadog_checks/openstack_controller/config_models/__init__.py
  openstack_controller/datadog_checks/openstack_controller/config_models/defaults.py
  openstack_controller/datadog_checks/openstack_controller/config_models/instance.py
  openstack_controller/datadog_checks/openstack_controller/config_models/shared.py
  openstack_controller/datadog_checks/openstack_controller/config_models/validators.py
Labels: none

move to
  oracle/tests/conftest.py
  oracle/tests/test_oracledb.py
Labels: none

Remove mentions of LEGACY_CLIENT
  kafka_consumer/tests/test_integration.py
Labels: none

Add enabled value
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
Labels: none

One attempt to get timezone in a compatible way
  postgres/tests/test_statements.py
Labels: none

style fix
  oracle/tests/conftest.py
  oracle/tests/test_oracledb.py
Labels: none

TLS check: implement StartTLS protocol for Mysql (#14352)
  tls/assets/configuration/spec.yaml
  tls/datadog_checks/tls/config_models/instance.py
  tls/datadog_checks/tls/data/conf.yaml.example
  tls/datadog_checks/tls/tls_remote.py
  tls/tests/compose/Dockerfile
  tls/tests/compose/docker-compose.yml
  tls/tests/conftest.py
  tls/tests/test_remote.py
Labels: none

Revert "Try CI with only python 3.8 coverage"
  postgres/hatch.toml
Labels: none

Can I do python?
  postgres/tests/test_statements.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
