Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Gracefully skip mongo collection on non-readable replica states
  mongo/datadog_checks/mongo/common.py
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/query_metrics.py
  mongo/datadog_checks/mongo/discovery.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/test_dbm_query_metrics.py
  mongo/tests/test_unit.py
Labels: none

Add changelog entry
  mongo/changelog.d/24017.fixed
Labels: none

Remove checks
  kueue/assets/service_checks.json
  kueue/tests/test_e2e.py
Labels: none

fixup typo in metric name from kubelet
  kubelet/metadata.csv
Labels: none

Fix deprecation warning on password connection arg
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/conftest.py
  mysql/tests/test_connection.py
  mysql/tests/test_managed_auth.py
Labels: none

kafka_consumer: remove MSK Connect support, fix Confluent Cloud guard
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/instance.py
  kafka_consumer/datadog_checks/kafka_consumer/connectors.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_connectors.py
Labels: none

Move macOS PBS pins into builder inputs (#24015)
  .builders/images/macos/pbs.env
  .deps/builder_inputs.toml
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/upgrade-python-version.yml
  ddev/src/ddev/cli/meta/scripts/upgrade_python.py
  ddev/tests/cli/meta/scripts/conftest.py
  ddev/tests/cli/meta/scripts/test_upgrade_python.py
Labels: dev/tooling

Upgrade Python version
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos/pbs.env
  .builders/images/windows-x86_64/Dockerfile
  ddev/src/ddev/repo/constants.py
Labels: none

Move macOS PBS pins into builder inputs (#24015)
  ddev/cli/index.html
  search/search_index.json
Labels: none

Move macOS PBS pins into builder inputs (#24015)
  .builders/images/macos/pbs.env
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/upgrade-python-version.yml
  ddev/src/ddev/cli/meta/scripts/upgrade_python.py
  ddev/tests/cli/meta/scripts/conftest.py
  ddev/tests/cli/meta/scripts/test_upgrade_python.py
Labels: dev/tooling

Update ntp/metadata.csv descriptions to include precision (#23960)
  ntp/metadata.csv
Labels: none

kafka_consumer: address round-2 review comments
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/assets/dashboards/kafka_connect_connector_monitoring.json
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/datadog_checks/kafka_consumer/connectors.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/tests/test_connectors.py
Labels: none

Move macOS PBS pins into builder inputs (#24015)
  .builders/images/macos/pbs.env
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/upgrade-python-version.yml
  ddev/src/ddev/cli/meta/scripts/upgrade_python.py
  ddev/tests/cli/meta/scripts/conftest.py
  ddev/tests/cli/meta/scripts/test_upgrade_python.py
Labels: dev/tooling

DDS: Palo Alto Networks Cortex XSOAR: Crawler Integration Without Assets (#23355)
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  palo_alto_networks_cortex_xsoar/CHANGELOG.md
  palo_alto_networks_cortex_xsoar/README.md
  palo_alto_networks_cortex_xsoar/manifest.json
Labels: documentation, dev/tooling

Pin aiohttp<3.14 in ddev test dependencies to fix vcrpy compatibility. (#23909)
  ddev/hatch.toml
Labels: none

use a different separator
  .paired-review/23917/bootstrap.md
  .paired-review/23917/review-session-id
  .paired-review/23917/round-1/ci-state.json
  .paired-review/23917/round-1/ci-watcher.pid
  .paired-review/23917/round-1/claude.exit-code
  .paired-review/23917/round-1/claude.pid
  .paired-review/23917/round-1/meta.json
  argocd/datadog_checks/argocd/resources.py
  argocd/tests/test_resources.py
Labels: documentation

pin dcb
  argocd/pyproject.toml
Labels: none

remove review files
  .paired-review/23917/bootstrap.md
  .paired-review/23917/review-session-id
  .paired-review/23917/round-1/ci-state.json
  .paired-review/23917/round-1/ci-watcher.pid
  .paired-review/23917/round-1/claude.exit-code
  .paired-review/23917/round-1/claude.pid
  .paired-review/23917/round-1/meta.json
Labels: documentation

Fix typos in kubernetes_control_plane dashboard (#24004)
  kubernetes/assets/dashboards/kubernetes_control_plane.json
Labels: none

kafka_consumer: address round-3 review comments
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/changelog.d/24013.added
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/datadog_checks/kafka_consumer/connectors.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/pyproject.toml
  kafka_consumer/tests/docker/docker-compose-connect-demo.yaml
  kafka_consumer/tests/test_connectors.py
Labels: none

Add proxy support to HTTPX2Wrapper
  datadog_checks_base/datadog_checks/base/utils/httpx2.py
  datadog_checks_base/tests/base/utils/httpx2/test_proxy.py
Labels: none

kafka_consumer: extract shared cache helpers into EventCacheMixin
  kafka_consumer/assets/dashboards/kafka_connect_connector_monitoring.json
  kafka_consumer/datadog_checks/kafka_consumer/cluster_metadata.py
  kafka_consumer/datadog_checks/kafka_consumer/connectors.py
  kafka_consumer/datadog_checks/kafka_consumer/event_cache_mixin.py
  kafka_consumer/manifest.json
Labels: none

kafka_consumer: revert unrelated MSK KRaft note from kafka_cluster_id_override description
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
Labels: none

[Backport 7.80.x] Move macOS PBS pins into builder inputs (#24020)
  .builders/images/macos/pbs.env
  .deps/builder_inputs.toml
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/upgrade-python-version.yml
  ddev/src/ddev/cli/meta/scripts/upgrade_python.py
  ddev/tests/cli/meta/scripts/conftest.py
  ddev/tests/cli/meta/scripts/test_upgrade_python.py
Labels: dev/tooling

kafka_consumer: replace requests.Session with check.http in KafkaConnectCollector
  kafka_consumer/datadog_checks/kafka_consumer/connectors.py
  kafka_consumer/pyproject.toml
  kafka_consumer/tests/test_connectors.py
Labels: none

Upgrade Python version
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos/pbs.env
  .builders/images/windows-x86_64/Dockerfile
  ddev/src/ddev/repo/constants.py
Labels: none

migrate test-target to dd-sts
  .github/workflows/master.yml
  .github/workflows/nightly-base-package-windows.yml
  .github/workflows/nightly-base-package.yml
  .github/workflows/pr-all-windows.yml
  .github/workflows/pr-all.yml
  .github/workflows/pr.yml
  .github/workflows/test-agent.yml
  .github/workflows/test-target.yml
  .github/workflows/weekly-latest.yml
Labels: dev/tooling

Update code coverage to use dd-sts
  .github/workflows/days-since-last-pin.yml
  .github/workflows/master-windows.yml
  .github/workflows/master.yml
  .github/workflows/pr-all-windows.yml
  .github/workflows/pr-all.yml
  .github/workflows/pr-test.yml
  .github/workflows/test-fips-e2e.yml
Labels: dev/tooling

fix naming
  argocd/assets/configuration/spec.yaml
  argocd/datadog_checks/argocd/check.py
  argocd/datadog_checks/argocd/config_models/defaults.py
  argocd/datadog_checks/argocd/config_models/instance.py
  argocd/datadog_checks/argocd/resources.py
  argocd/tests/test_resources.py
Labels: none

Remove old netpath metrics
  network_path/metadata.csv
Labels: none

Use new policy
  .github/workflows/master-windows.yml
  .github/workflows/master.yml
  .github/workflows/pr-all-windows.yml
  .github/workflows/pr-all.yml
  .github/workflows/pr-test.yml
  .github/workflows/pr.yml
Labels: dev/tooling

[Backport 7.81.x] Move macOS PBS pins into builder inputs (#24021)
  .builders/images/macos/pbs.env
  .deps/builder_inputs.toml
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
  .github/workflows/resolve-build-deps.yaml
  .github/workflows/upgrade-python-version.yml
  ddev/src/ddev/cli/meta/scripts/upgrade_python.py
  ddev/tests/cli/meta/scripts/conftest.py
  ddev/tests/cli/meta/scripts/test_upgrade_python.py
Labels: dev/tooling

[Backport 7.80.x] Upgrade Python to 3.13.14 (#24024)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos/pbs.env
  .builders/images/windows-x86_64/Dockerfile
  .deps/builder_inputs.toml
  .deps/image_digests.json
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
  ddev/src/ddev/repo/constants.py
Labels: none

Address proxy review findings: empty-proxy guard, no_proxy_uris parity, transport tests
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/httpx2.py
  datadog_checks_base/tests/base/utils/httpx2/test_proxy.py
Labels: none

Decouple AI agent runtime construction (#23912)
  ddev/src/ddev/ai/agent/build.py
  ddev/src/ddev/ai/phases/agentic_phase.py
  ddev/src/ddev/ai/phases/goal.py
  ddev/src/ddev/ai/phases/orchestrator.py
  ddev/src/ddev/ai/react/process.py
  ddev/src/ddev/ai/tools/agents/spawn_subagent.py
  ddev/src/ddev/ai/tools/registry.py
  ddev/tests/ai/agent/test_build.py
  ddev/tests/ai/phases/conftest.py
  ddev/tests/ai/phases/test_agentic_phase.py
  ddev/tests/ai/phases/test_goal.py
  ddev/tests/ai/phases/test_orchestrator.py
  ddev/tests/ai/react/test_process.py
  ddev/tests/ai/tools/agents/test_spawn_subagent.py
  ddev/tests/ai/tools/test_registry.py
Labels: none

fix(nutanix): collect powered-off VMs without a host
  nutanix/datadog_checks/nutanix/infrastructure_monitor.py
  nutanix/tests/test_resource_filters.py
  nutanix/tests/test_vms.py
Labels: none

Finalize Agent release 7.80.1
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
  active_directory/CHANGELOG.md
  apache/CHANGELOG.md
  aspdotnet/CHANGELOG.md
  cisco_aci/CHANGELOG.md
  clickhouse/CHANGELOG.md
  consul/CHANGELOG.md
  datadog_checks_base/CHANGELOG.md
  dotnetclr/CHANGELOG.md
  exchange_server/CHANGELOG.md
  fluentd/CHANGELOG.md
  guarddog/CHANGELOG.md
  harbor/CHANGELOG.md
  hyperv/CHANGELOG.md
  iis/CHANGELOG.md
  istio/CHANGELOG.md
  kafka/CHANGELOG.md
  kafka_actions/CHANGELOG.md
  kafka_consumer/CHANGELOG.md
  mac_audit_logs/CHANGELOG.md
  mongo/CHANGELOG.md
  mysql/CHANGELOG.md
  nifi/CHANGELOG.md
  nutanix/CHANGELOG.md
  postgres/CHANGELOG.md
  proxmox/CHANGELOG.md
  snmp/CHANGELOG.md
  sqlserver/CHANGELOG.md
  temporal/CHANGELOG.md
  traefik_mesh/CHANGELOG.md
  windows_performance_counters/CHANGELOG.md
Labels: documentation

Change accept httpx in phase0
  ddev/src/ddev/ai/flows/openmetrics/phases/inspect_endpoint.py
Labels: none

Change accept httpx in phase0 (#24032)
  ddev/src/ddev/ai/flows/openmetrics/phases/inspect_endpoint.py
Labels: none

Move orchestrator and checkpoints to ddev/ai/runtime and move resources to their own files
  ddev/src/ddev/ai/phases/agentic_phase.py
  ddev/src/ddev/ai/phases/base.py
  ddev/src/ddev/ai/phases/registry.py
  ddev/src/ddev/ai/phases/resources.py
  ddev/src/ddev/ai/runtime/__init__.py
  ddev/src/ddev/ai/runtime/checkpoints.py
  ddev/src/ddev/ai/runtime/orchestrator.py
  ddev/src/ddev/ai/runtime/resources.py
  ddev/tests/ai/flows/openmetrics/phases/test_inspect_endpoint.py
  ddev/tests/ai/phases/conftest.py
  ddev/tests/ai/phases/test_agentic_phase.py
  ddev/tests/ai/phases/test_base.py
  ddev/tests/ai/phases/test_registry.py
  ddev/tests/ai/runtime/__init__.py
  ddev/tests/ai/runtime/test_checkpoints.py
  ddev/tests/ai/runtime/test_orchestrator.py
Labels: none
