Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

[Release] Bumped snmp version to 3.7.1
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: documentation

[Release] Bumped spark version to 1.14.1
  requirements-agent-release.txt
  spark/CHANGELOG.md
  spark/datadog_checks/spark/__about__.py
Labels: documentation

[Release] Bumped twistlock version to 1.8.2
  requirements-agent-release.txt
  twistlock/CHANGELOG.md
  twistlock/datadog_checks/twistlock/__about__.py
Labels: documentation

[Release] Bumped vault version to 2.6.2
  requirements-agent-release.txt
  vault/CHANGELOG.md
  vault/datadog_checks/vault/__about__.py
Labels: documentation

[Release] Bumped yarn version to 1.15.1
  requirements-agent-release.txt
  yarn/CHANGELOG.md
  yarn/datadog_checks/yarn/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.024e42fe.link
Labels: none

[Release] Bumped snmp version to 3.7.1
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.024e42fe.link
Labels: none

[Release] Release snmp QA fixes (#7355)
  .in-toto/tag.024e42fe.link
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: documentation

Clean http config whitespaces (#7339)
  activemq_xml/datadog_checks/activemq_xml/data/conf.yaml.example
  airflow/datadog_checks/airflow/data/conf.yaml.example
  ambari/datadog_checks/ambari/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  couch/datadog_checks/couch/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
  druid/datadog_checks/druid/data/conf.yaml.example
  elastic/datadog_checks/elastic/data/conf.yaml.example
  envoy/datadog_checks/envoy/data/conf.yaml.example
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_namenode/datadog_checks/hdfs_namenode/data/conf.yaml.example
  http_check/datadog_checks/http_check/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  lighttpd/datadog_checks/lighttpd/data/conf.yaml.example
  marathon/datadog_checks/marathon/data/conf.yaml.example
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
  nginx/datadog_checks/nginx/data/conf.yaml.example
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  riak/datadog_checks/riak/data/conf.yaml.example
  spark/datadog_checks/spark/data/conf.yaml.example
  twistlock/datadog_checks/twistlock/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
  yarn/datadog_checks/yarn/data/conf.yaml.example
Labels: none

Revert Fix wrong indentation of `table` key in column metric tags #7024 (#7349)
  snmp/datadog_checks/snmp/parsing/metrics.py
Labels: none

Fix apc ups profile (#7351)
  snmp/datadog_checks/snmp/data/profiles/apc_ups.yaml
  snmp/tests/test_e2e.py
  snmp/tests/test_profiles.py
Labels: none

[Release] Release snmp QA fixes (#7355)
  .in-toto/tag.024e42fe.link
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: documentation

Add validation on allowed types and more friendly errors
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/recommended_monitors.py
Labels: none

Add security team
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: none

add line about conntrack binary
  network/README.md
Labels: documentation

Strengthen regex and exclude some checks
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/package.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: none

Fix style
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/package.py
Labels: none

Style
  .azure-pipelines/templates/run-validations.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/package.py
Labels: dev/testing

Remove from CI until ddev release
  .azure-pipelines/templates/run-validations.yml
Labels: dev/testing

Fix import order
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
Labels: none

add http check sample monitor
  http_check/assets/monitors/http_connect.json
Labels: none

Update __init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
Labels: none

Fix dependency resolution for docs
  tox.ini
Labels: none

Fix dependency resolution for docs (#7361)
  tox.ini
Labels: none

Allow the validation of the newer dashboard payload in integration boards
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dashboards.py
Labels: none

more test integration monitors
  elastic/assets/monitors/elasticsearch_can_connect.json
  elastic/manifest.json
  http_check/assets/monitors/http_can_connect.json
  http_check/manifest.json
  process/assets/monitors/process_up.json
  process/manifest.json
Labels: none

Style
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dashboards.py
Labels: none

json formatting
  elastic/assets/monitors/elasticsearch_can_connect.json
Labels: none

add line about conntrack binary (#7358)
  network/README.md
Labels: documentation

Update metadata.csv
  coredns/metadata.csv
Labels: none

Remove default
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: none

Update default port
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: none

Add docs on working with walks
  docs/developer/tutorials/snmp/how-to.md
Labels: documentation

Normalize the package name before comparing
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/package.py
Labels: none

Style
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/package.py
Labels: none

Update dash export command to use newer api
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/dashboard.py
Labels: none

Fix agent-security for `ddev release trello status`
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/status.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: none

Add changelog checker
  .github/workflows/changelog-label-check.py
  .github/workflows/labeler.yml
Labels: dev/tooling

Add coverage param to test-all
  .azure-pipelines/templates/test-all.yml
Labels: dev/testing
