Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Bump urllib3 to 2.6.2
  agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: none

Add changelog
  datadog_checks_base/changelog.d/22172.added
Labels: none

Update workflow to run all integrations on dependency changes
  .github/workflows/pr-all.yml
Labels: dev/tooling

Bump also runner dependencies
  .builders/images/runner_dependencies.txt
Labels: none

downgrade
  .builders/images/runner_dependencies.txt
  agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: none

remove e2e test
  n8n/tests/test_e2e.py
Labels: none

Bump urllib3 to 2.6.2 and ensure pr-all runs on dependency changes (#22172)
  .builders/images/runner_dependencies.txt
  .github/workflows/pr-all.yml
  agent_requirements.in
  datadog_checks_base/changelog.d/22172.added
  datadog_checks_base/pyproject.toml
Labels: dev/tooling

Bump urllib3 to 2.6.2 and ensure pr-all runs on dependency changes (#22172)
  .builders/images/runner_dependencies.txt
  .github/workflows/pr-all.yml
  agent_requirements.in
  datadog_checks_base/changelog.d/22172.added
  datadog_checks_base/pyproject.toml
Labels: dev/tooling

Bump urllib3 to 2.6.2 and ensure pr-all runs on dependency changes (#22172)
  .builders/images/runner_dependencies.txt
  .github/workflows/pr-all.yml
  agent_requirements.in
  datadog_checks_base/changelog.d/22172.added
  datadog_checks_base/pyproject.toml
Labels: dev/tooling

[Release] Bumped kafka_consumer version to 6.10.1
  kafka_consumer/CHANGELOG.md
  kafka_consumer/changelog.d/22020.fixed
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.4604c9db.link
Labels: none

Fix the cloned-repo test to make it non-flaky
  ddev/tests/conftest.py
  ddev/tests/helpers/__init__.py
  ddev/tests/test__utils.py
Labels: none

ci fix (#22182)
  teleport/tests/docker/teleport/docker-compose.yaml
Labels: none

docker arg
  n8n/tests/docker/Dockerfile
Labels: none

docker arg
  n8n/tests/docker/Dockerfile
Labels: none

[Release] Bumped kafka_consumer version to 6.10.1 (#22186)
  .in-toto/tag.4604c9db.link
  kafka_consumer/CHANGELOG.md
  kafka_consumer/changelog.d/22020.fixed
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: documentation

Update dependency resolution
  .deps/image_digests.json
  .deps/metadata.json
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
Labels: none

Point to correct Python version when running Update and Resolve dependencies (#22179)
  .builders/tests/test_upload.py
  .builders/upload.py
Labels: none

[Release] Bumped datadog_checks_base version to 37.26.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/22028.fixed
  datadog_checks_base/changelog.d/22172.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.4e75cfa1.link
Labels: none

[Release] Bumped datadog_checks_base version to 37.23.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/21773.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.4e75cfa1.link
Labels: none

[Release] Bumped datadog_checks_base version to 37.24.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/22172.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.4e75cfa1.link
Labels: none

Change the changelog type
  datadog_checks_base/changelog.d/22172.security
Labels: none

Change the changelog type (#22194)
  datadog_checks_base/changelog.d/22172.security
Labels: none

Change the changelog type (#22194)
  datadog_checks_base/changelog.d/22172.security
Labels: none

Change the changelog type (#22194)
  datadog_checks_base/changelog.d/22172.security
Labels: none

[Release] Bumped datadog_checks_base version to 37.24.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/22172.security
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.4e75cfa1.link
Labels: none

Set the correct patch version
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.4e75cfa1.link
Labels: none

[Release] Release datadog_base_checks in 7.73.x (#22197)
  .in-toto/tag.4e75cfa1.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/22172.security
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Release datadog_base_checks in 7.73.x (#22197)
  .in-toto/tag.4e75cfa1.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/22172.security
  requirements-agent-release.txt
Labels: documentation

Correct Unix socket path in conf.yaml.example
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: none

Add changelog to datadog-checks-base after latest patch update
  datadog_checks_base/CHANGELOG.md
Labels: documentation

Move the changelog to the place the validation wants it
  datadog_checks_base/CHANGELOG.md
Labels: documentation

dashboard v1
  n8n/assets/dashboards/n8n_overview.json
Labels: none

[Release] Bumped datadog_checks_base version to 37.26.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/22172.security
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.5d245df7.link
Labels: none
