Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

Update account_config.json
  klaviyo/assets/account_config.json
Labels: none

Update account_config.json
  klaviyo/assets/account_config.json
Labels: none

Pin cryptography<49 in builders host_dependencies.txt (#24078)
  .builders/deps/host_dependencies.txt
  .deps/builder_inputs.toml
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
Labels: none

Remove datadog-snowflake 7.13.0 entries from Agent 7.80.x sections.
  AGENT_INTEGRATIONS.md
Labels: documentation

Remove datadog-snowflake 7.13.0 entries from Agent 7.80.x sections.
  AGENT_INTEGRATIONS.md
Labels: documentation

[windows_certificate] Document certificate_store_regex configuration (Agent v7.80.0) (#23616)
  windows_certificate/README.md
Labels: documentation

Add group_per_user_services option to windows_service
  windows_service/assets/configuration/spec.yaml
  windows_service/datadog_checks/windows_service/config_models/defaults.py
  windows_service/datadog_checks/windows_service/config_models/instance.py
  windows_service/datadog_checks/windows_service/data/conf.yaml.example
  windows_service/datadog_checks/windows_service/windows_service.py
  windows_service/tests/common.py
  windows_service/tests/conftest.py
  windows_service/tests/test_windows_service.py
Labels: none

Address review: type hints, comment, filter-mode test
  windows_service/datadog_checks/windows_service/windows_service.py
  windows_service/tests/test_windows_service.py
Labels: none

Add changelog entry
  windows_service/changelog.d/24087.added
Labels: none

SNMP: add changelog for PR 23939
  snmp/changelog.d/23939.added
Labels: none

Reuse ServiceAssertion in group_per_user tests
  windows_service/tests/test_windows_service.py
Labels: none

Add socksio for HTTPX2Wrapper SOCKS proxy parity
  datadog_checks_base/pyproject.toml
  datadog_checks_base/tests/base/utils/httpx2/test_proxy.py
  datadog_checks_base/tests/base/utils/httpx2/test_socks5_proxy_integration.py
Labels: none

add additional fields
  argocd/datadog_checks/argocd/resources.py
  argocd/datadog_checks/argocd/resources_constants.py
  argocd/tests/test_resources.py
Labels: none

changelog
  argocd/changelog.d/24090.added
Labels: none

cherry pick
  argocd/datadog_checks/argocd/resources.py
  argocd/datadog_checks/argocd/resources_constants.py
  argocd/tests/test_resources.py
Labels: none

changelog
  argocd/changelog.d/24091.added
Labels: none

Guard build_agent.yaml updates on Agent branch existence (#23987)
  .github/workflows/update-build-agent-yaml.yml
  ddev/changelog.d/23987.fixed
  ddev/src/ddev/cli/release/branch/build_agent.py
  ddev/src/ddev/cli/release/branch/create.py
  ddev/src/ddev/cli/release/branch/tag.py
  ddev/tests/cli/release/branch/test_create.py
Labels: dev/tooling

Bump PyJWT from 2.12.1 to 2.13.0 (#24074)
  .deps/builder_inputs.toml
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
  agent_requirements.in
  datadog_checks_base/changelog.d/24074.fixed
  datadog_checks_base/pyproject.toml
Labels: none

Make TLS cert-parse-error test robust to cryptography version
  tls/tests/test_remote.py
Labels: none

lint
  argocd/tests/test_resources.py
Labels: none

Pin cryptography<49 in builders host_dependencies.txt (#24078)
  .builders/deps/host_dependencies.txt
Labels: none

Bump PyJWT from 2.12.1 to 2.13.0 (#24074)
  agent_requirements.in
  datadog_checks_base/changelog.d/24074.fixed
  datadog_checks_base/pyproject.toml
Labels: none

Document SSL folds into HTTPConnectionError in _map_httpx2_exception
  datadog_checks_base/datadog_checks/base/utils/httpx2.py
Labels: none

Type-hint _build_http_client instance parameter
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: none

Invert binlog metrics option to binlog_size_metrics enabled by default
  mysql/README.md
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/24082.added
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/test_binlog_metrics.py
Labels: documentation

feat: making docusign docs public (#24083)
  docusign/manifest.json
Labels: none

pulsar: fix check_symmetric_inclusion to False in test_e2e_discovery
  pulsar/tests/test_e2e.py
Labels: none

fix comments
  zerofox_cloud_platform/assets/account_config.json
Labels: none

sap_hana: address schema collector review feedback
  sap_hana/README.md
  sap_hana/assets/configuration/spec.yaml
  sap_hana/changelog.d/23934.added
  sap_hana/datadog_checks/sap_hana/config_models/instance.py
  sap_hana/datadog_checks/sap_hana/diagnose.py
  sap_hana/datadog_checks/sap_hana/sap_hana.py
  sap_hana/datadog_checks/sap_hana/schemas.py
  sap_hana/tests/test_schemas_diagnose.py
Labels: documentation

sap_hana: handle single-tenant HANA Express in monitoring queries
  sap_hana/datadog_checks/sap_hana/queries.py
Labels: none

sap_hana: add maintainer docstring mapping schema collector flow
  sap_hana/datadog_checks/sap_hana/schemas.py
Labels: none

Revert "sap_hana: handle single-tenant HANA Express in monitoring queries"
  sap_hana/datadog_checks/sap_hana/queries.py
Labels: none

Merge discovery helper modules
  datadog_checks_base/datadog_checks/base/utils/discovery/__init__.pyi
  datadog_checks_base/datadog_checks/base/utils/discovery/discovery.py
  datadog_checks_base/datadog_checks/base/utils/discovery/ports.py
  datadog_checks_base/datadog_checks/base/utils/discovery/service.py
Labels: none

Cover discovery port context rendering
  datadog_checks_base/tests/base/utils/discovery/test_discovery.py
Labels: none

Add container-based config discovery support for cockroachdb
  cockroachdb/assets/configuration/spec.yaml
  cockroachdb/datadog_checks/cockroachdb/config_models/discovery.py
  cockroachdb/datadog_checks/cockroachdb/data/auto_conf.yaml
  cockroachdb/tests/conftest.py
  cockroachdb/tests/test_e2e.py
Labels: none

Count discovery metrics after validation
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
Labels: none

Add changelog entry for cockroachdb config discovery PR #24095
  cockroachdb/changelog.d/24095.added
Labels: none

Fix bug with assert_writable destination
  ddev/src/ddev/ai/tools/fs/copy_path.py
  ddev/tests/ai/tools/fs/test_copy_path.py
Labels: none

Add copy_path tool (#24011)
  ddev/src/ddev/ai/tools/fs/copy_path.py
  ddev/src/ddev/ai/tools/registry.py
  ddev/tests/ai/tools/fs/conftest.py
  ddev/tests/ai/tools/fs/test_copy_path.py
Labels: none

Delete artifact_root, create AgentLogger for runtime, create ReActProcessFactory
  ddev/src/ddev/ai/agent/base.py
  ddev/src/ddev/ai/agent/build.py
  ddev/src/ddev/ai/agent/scope.py
  ddev/src/ddev/ai/callbacks/callbacks.py
  ddev/src/ddev/ai/phases/agentic_phase.py
  ddev/src/ddev/ai/phases/goal.py
  ddev/src/ddev/ai/phases/resources.py
  ddev/src/ddev/ai/react/factory.py
  ddev/src/ddev/ai/react/process.py
  ddev/src/ddev/ai/runtime/agent_log.py
  ddev/src/ddev/ai/runtime/orchestrator.py
  ddev/src/ddev/ai/runtime/resources.py
  ddev/src/ddev/ai/tools/agents/agent_logger.py
  ddev/src/ddev/ai/tools/agents/spawn_subagent.py
  ddev/src/ddev/ai/tools/registry.py
  ddev/tests/ai/agent/test_build.py
  ddev/tests/ai/callbacks/test_callbacks.py
  ddev/tests/ai/phases/conftest.py
  ddev/tests/ai/phases/test_agentic_phase.py
  ddev/tests/ai/phases/test_goal.py
  ddev/tests/ai/react/test_factory.py
  ddev/tests/ai/react/test_process.py
  ddev/tests/ai/runtime/test_agent_log.py
  ddev/tests/ai/runtime/test_orchestrator.py
  ddev/tests/ai/tools/agents/test_agent_logger.py
  ddev/tests/ai/tools/agents/test_spawn_subagent.py
  ddev/tests/ai/tools/test_registry.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
