Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

delete configuration path
  kubevirt/manifest.json
Labels: none

ddev labeler sync
  .github/workflows/config/labeler.yml
Labels: dev/tooling

fix
  .ddev/ci/scripts/weblogic/linux/55_docker_login.sh
Labels: none

try
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
Labels: dev/tooling

Update actions to use new DD API key for static analysis (#20187)
  .github/workflows/datadog-static-analysis.yml
Labels: dev/tooling

[Release] Bumped datadog_checks_dev version to 35.0.1
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/19743.fixed
  datadog_checks_dev/changelog.d/19831.fixed
  datadog_checks_dev/changelog.d/19842.fixed
  datadog_checks_dev/changelog.d/19970.fixed
  datadog_checks_dev/changelog.d/20100.fixed
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.ec45eb9d.link
Labels: none

Update datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/CHANGELOG.md
Labels: documentation

Update datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/CHANGELOG.md
Labels: documentation

Update datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/CHANGELOG.md
Labels: documentation

update README
  kubevirt/README.md
Labels: documentation

add troubleshooting title
  kubevirt/README.md
Labels: documentation

Update `ORACLE_DOCKER_PASSWORD` reference (#20183)
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
Labels: dev/tooling

update changelog
  kubevirt/CHANGELOG.md
Labels: documentation

fix validation issues
  kubevirt/manifest.json
  kubevirt/metadata.csv
Labels: none

fix json issue in manifest, and metadata csv metric short name
  kubevirt/manifest.json
  kubevirt/metadata.csv
Labels: none

Add permissions
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
Labels: dev/tooling

typo
  gitlab/assets/app-builder-blueprints/gitlab-deployment-manager.json
Labels: none

change name
  gitlab/assets/app-builder-blueprints/gitlab-deployment-manager.json
Labels: none

move and add comment
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
Labels: dev/tooling

indent
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
Labels: dev/tooling

test
  .github/workflows/pr-test.yml
  .github/workflows/test-all.yml
Labels: dev/tooling

test
  .github/workflows/test-target.yml
Labels: dev/tooling

test
  .github/workflows/pr.yml
Labels: dev/tooling

revert
  .github/workflows/pr-test.yml
  .github/workflows/test-all.yml
  arangodb/datadog_checks/arangodb/metrics.py
Labels: dev/tooling

Test SAP HAHA
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
  sap_hana/datadog_checks/sap_hana/__about__.py
Labels: dev/tooling

update codecov
  .github/workflows/pr.yml
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
Labels: dev/tooling

[DBMON-4818] Fix query for sql replica threads (#20172)
  mysql/changelog.d/20172.fixed
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/queries.py
Labels: none

one more try
  .github/workflows/pr.yml
  .github/workflows/test-all.yml
  arangodb/datadog_checks/arangodb/check.py
Labels: dev/tooling

test
  arangodb/datadog_checks/arangodb/metrics.py
Labels: none

Include schemas owned by rdsadmin in schema collection
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/test_metadata.py
Labels: none

changelog entry
  postgres/changelog.d/20153.added
Labels: none

fix conf example
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: none

fix line length
  postgres/assets/configuration/spec.yaml
Labels: none

define and use econfigs
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/test_metadata.py
Labels: none

formatting
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/test_metadata.py
Labels: none

codegen
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
Labels: none

better example
  postgres/assets/configuration/spec.yaml
Labels: none

update changelog
  postgres/changelog.d/20153.added
Labels: none

fix gen
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: none
