Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

[Release] Bumped postgres version to 23.3.3 (#22147)
  postgres/CHANGELOG.md
  postgres/changelog.d/22134.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation

Infiniband: Skip errors when reading unimplemented metrics
  infiniband/datadog_checks/infiniband/check.py
Labels: none

Infiniband: Add changelog for bug fix
  infiniband/changelog.d/22158.added
Labels: none

Add unit tests to track all config default value changes
  postgres/tests/test_config_defaults.py
Labels: none

use correct schema name
  ssh_check/assets/logs/sshd.yaml
Labels: none

Update Checkpoint Harmony Endpoint dashboard images with light and dark themes
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview.png
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview_dark.png
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview_light.png
  checkpoint_harmony_endpoint/manifest.json
Labels: none

Update Checkpoint Harmony Endpoint dashboard images with light and dark themes
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview.png
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview_dark.png
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview_light.png
  checkpoint_harmony_endpoint/manifest.json
Labels: none

Modernize vSphere dashboards with enhanced filtering and query format
  vsphere/assets/dashboards/vmware_vsphere_-_overview.json
  vsphere/assets/dashboards/vmware_vsphere_-_property_metrics.json
  vsphere/assets/dashboards/vsphere_overview.json
  vsphere/manifest.json
Labels: none

Update vsphere dashboard filenames and manifest.json
  vsphere/assets/dashboards/vmware_vsphere-_property_metrics.json
  vsphere/assets/dashboards/vsphere_overview.json
  vsphere/manifest.json
Labels: none

Add VM template variable filtering to VM widgets and remove layout_type
  vsphere/assets/dashboards/vsphere_overview.json
Labels: none

Update vsphere/assets/dashboards/vmware_vsphere_-_overview.json
  vsphere/assets/dashboards/vmware_vsphere_-_overview.json
Labels: none

Update vsphere/assets/dashboards/vmware_vsphere_-_property_metrics.json
  vsphere/assets/dashboards/vmware_vsphere_-_property_metrics.json
Labels: none

follow redirects
  ddev/src/ddev/cli/meta/scripts/upgrade_python.py
Labels: none

Update dashboard screenshots with improved data
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview_dark.png
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview_light.png
Labels: none

Update dashboard screenshots
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview_dark.png
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview_light.png
Labels: none

Add layout_type to vsphere dashboard
  vsphere/assets/dashboards/vsphere_overview.json
Labels: none

Update README.md for custom query parameters format
  oracle/README.md
Labels: documentation

Update dashboard screenshots
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview_dark.png
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview_light.png
Labels: none

vsphere dashboards variable update (#22164)
  vsphere/assets/dashboards/vmware_vsphere-_property_metrics.json
  vsphere/assets/dashboards/vsphere_overview.json
  vsphere/manifest.json
Labels: none

add session events
  ssh_check/assets/logs/sshd.yaml
  ssh_check/assets/logs/sshd_tests.yaml
Labels: none

use correct class name
  ssh_check/assets/logs/sshd_tests.yaml
Labels: none

ddev format
  postgres/tests/test_config_defaults.py
Labels: none

Bump Python version 3.13.11
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/windows-x86_64/Dockerfile
  .github/workflows/resolve-build-deps.yaml
Labels: dev/tooling

Remove note regarding log collection on batch
  ecs_fargate/README.md
Labels: documentation

Update Checkpoint Harmony Endpoint dashboard images with light and da… (#22163)
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview.png
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview_dark.png
  checkpoint_harmony_endpoint/images/checkpoint_harmony_endpoint_overview_light.png
  checkpoint_harmony_endpoint/manifest.json
Labels: none

[Release] Update metadata
  .in-toto/tag.4e75cfa1.link
Labels: none

Fix the gitignore to include gitignores in the core repo
  .gitignore
Labels: none

[Release] Update metadata (#22168)
  .in-toto/tag.4e75cfa1.link
Labels: none

Remove __eq__ methods
  ddev/src/ddev/cli/release/stats/size_utils/size_models.py
Labels: none

Updated readme and dashboards
  arctic_wolf_aurora_endpoint_security/README.md
  arctic_wolf_aurora_endpoint_security/assets/dashboards/arctic_wolf_aurora_endpoint_security_application_and_device_control_insights.json
  arctic_wolf_aurora_endpoint_security/assets/dashboards/arctic_wolf_aurora_endpoint_security_memory_protection_and_script_control_insights.json
  arctic_wolf_aurora_endpoint_security/assets/dashboards/arctic_wolf_aurora_endpoint_security_network_insights.json
  arctic_wolf_aurora_endpoint_security/assets/dashboards/arctic_wolf_aurora_endpoint_security_overview.json
  arctic_wolf_aurora_endpoint_security/assets/dashboards/arctic_wolf_aurora_endpoint_security_process_and_system_activity.json
  arctic_wolf_aurora_endpoint_security/assets/dashboards/arctic_wolf_aurora_endpoint_security_system_tool_activity.json
  arctic_wolf_aurora_endpoint_security/assets/dashboards/arctic_wolf_aurora_endpoint_security_threat_insights.json
Labels: documentation

Update infiniband/changelog.d/22158.added
  infiniband/changelog.d/22158.added
Labels: none

update README as per review comments
  cyberark_endpoint_privilege_manager/README.md
Labels: documentation

Disable autogenerate session id (#21886)
  clickhouse/README.md
  clickhouse/changelog.d/21886.fixed
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  clickhouse/tests/test_unit.py
Labels: documentation

Add documentation links
  anthropic/manifest.json
  databricks/manifest.json
  openai/manifest.json
Labels: none

Update: readme review comments address
  cisco_asa/README.md
Labels: documentation

Update README.md
  cyberark_endpoint_privilege_manager/README.md
Labels: documentation

Resolve validate-dashboards CI check
  cyberark_endpoint_privilege_manager/assets/dashboards/cyberark_epm_policy_audit_events.json
Labels: none

remove trend micro one from AGENT_CHANGELOG.md
  AGENT_CHANGELOG.md
Labels: documentation

remove trend micro one from AGENT_INTEGRATIONS.md
  AGENT_INTEGRATIONS.md
Labels: documentation

Remove note regarding log collection on batch (#22167)
  ecs_fargate/README.md
Labels: documentation

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
