Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

test
  .github/workflows/slapr.yml
Labels: dev/tooling

test
  .github/workflows/slapr.yml
Labels: dev/tooling

test
  .github/workflows/slapr.yml
Labels: dev/tooling

Update the dashboard
  calico/assets/dashboards/calico_overview.json
Labels: none

Rename template for new crawler integration.
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/assets/dashboards/{check_name}_overview.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/assets/service_checks.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/images/.gitkeep
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/metadata.csv
Labels: documentation

add changelog
  datadog_checks_dev/changelog.d/16802.changed
Labels: none

ddev test -fs nginx
  nginx/tests/test_vts.py
Labels: none

fix e2e test in py2
  nginx/tests/test_e2e.py
Labels: none

Rename template for new crawler integration. (#16802)
  datadog_checks_dev/changelog.d/16802.changed
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/assets/dashboards/{check_name}_overview.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/assets/service_checks.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/images/.gitkeep
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/metadata.csv
Labels: documentation

[Release] Bumped datadog_checks_dev version to 31.0.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/16737.fixed
  datadog_checks_dev/changelog.d/16759.fixed
  datadog_checks_dev/changelog.d/16802.changed
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.b9ca7eb3.link
Labels: none

Update ddev/src/ddev/cli/validate/labeler.py
  ddev/src/ddev/cli/validate/labeler.py
Labels: none

Add the `cisco_umbrella_dns` integration the labeler config
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Update the tag pattern when updating the changelog
  .github/workflows/update-agent-changelog.yml
Labels: dev/tooling

Add the `cisco_umbrella_dns` integration the labeler config (#16804)
  .github/workflows/config/labeler.yml
Labels: dev/tooling

Update the tag pattern when updating the changelog (#16805)
  .github/workflows/update-agent-changelog.yml
Labels: dev/tooling

[Release] Bumped datadog_checks_dev version to 31.0.0 (#16803)
  .in-toto/tag.b9ca7eb3.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/16737.fixed
  datadog_checks_dev/changelog.d/16759.fixed
  datadog_checks_dev/changelog.d/16802.changed
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

Bump datadog_checks_dev dependency requirement
  ddev/pyproject.toml
Labels: none

add changelog
  ddev/changelog.d/16806.changed
Labels: none

this test should fail
  ddev/tests/fixtures/network/github/get_pr_empty_description.yaml
  ddev/tests/utils/test_github.py
Labels: none

now test should pass
  ddev/src/ddev/utils/github.py
Labels: none

add changelog
  ddev/changelog.d/16807.fixed
Labels: none

Discard changes to .deps/image_digests.json
  .deps/image_digests.json
Labels: none

Always save image digests
  .github/workflows/build-deps.yml
Labels: dev/tooling

Bump datadog_checks_dev dependency requirement (#16806)
  ddev/changelog.d/16806.changed
  ddev/pyproject.toml
Labels: none

[Release] Bumped ddev version to 8.0.0
  ddev/CHANGELOG.md
  ddev/changelog.d/16806.changed
Labels: documentation

[Release] Update metadata
  .in-toto/tag.b9ca7eb3.link
Labels: none

Add a `validate labeler` command (#16774)
  .github/workflows/run-validations.yml
  .github/workflows/validate.yml
  ddev/changelog.d/16774.added
  ddev/src/ddev/cli/validate/__init__.py
  ddev/src/ddev/cli/validate/labeler.py
  ddev/tests/cli/validate/conftest.py
  ddev/tests/cli/validate/test_labeler.py
Labels: dev/tooling

[Release] Bumped ddev version to 8.0.0
  ddev/CHANGELOG.md
  ddev/changelog.d/16774.added
  ddev/changelog.d/16806.changed
Labels: documentation

Update the dashboard (#16801)
  calico/assets/dashboards/calico_overview.json
Labels: none

[Release] Bumped ddev version to 8.0.0 (#16810)
  ddev/CHANGELOG.md
  ddev/changelog.d/16774.added
  ddev/changelog.d/16806.changed
Labels: documentation

add benchmark test
  datadog_checks_base/tests/base/utils/db/test_db_statements.py
Labels: none

fix tests for py2
  datadog_checks_base/tests/base/utils/db/test_db_statements.py
Labels: none

fix str format in py2
  datadog_checks_base/tests/base/utils/db/test_db_statements.py
Labels: none

fix lint
  datadog_checks_base/tests/base/utils/db/test_db_statements.py
Labels: none

DOCS-7213 - Detail on AWS Secrets Manager for ECS Fargate readme
  ecs_fargate/README.md
Labels: documentation

update tests
  datadog_checks_base/tests/base/utils/db/test_db_statements.py
Labels: none

run compute_derivative_rows 10 times
  datadog_checks_base/tests/base/utils/db/test_db_statements.py
Labels: none

Apply suggestions from code review
  ecs_fargate/README.md
Labels: documentation

fix e2e test in py2
  nginx/tests/test_e2e.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
