Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Fix the `health_service_check` config option (#14288)
  gitlab/assets/configuration/spec.yaml
  gitlab/datadog_checks/gitlab/config_models/defaults.py
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
Labels: none

Add topology metadata e2e test for CDP (#14221)
  snmp/tests/compose/data/cisco-cdp-lldp.snmprec
  snmp/tests/compose/data/cisco-cdp.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: none

Temporarily add stale workflows in order to remove
  .github/workflows/validations-pr.yml
  .github/workflows/validations-push.yml
Labels: dev/tooling

Revert "Temporarily add stale workflows in order to remove"
  .github/workflows/validations-pr.yml
  .github/workflows/validations-push.yml
Labels: dev/tooling

add snmp.ifNumber to metadata.csv
  snmp/metadata.csv
Labels: none

add assert_metrics_using_metadata for cisco asr
  snmp/tests/test_profiles.py
Labels: none

[Release] Bumped redisdb version to 4.6.0
  redisdb/CHANGELOG.md
  redisdb/datadog_checks/redisdb/__about__.py
  requirements-agent-release.txt
Labels: documentation

[Release] Update metadata
  .in-toto/tag.c295cf63.link
Labels: none

[Release] Bumped redisdb version to 4.6.0 (#14292)
  .in-toto/tag.c295cf63.link
  redisdb/CHANGELOG.md
  redisdb/datadog_checks/redisdb/__about__.py
  requirements-agent-release.txt
Labels: documentation

Update redis to 4.5.4 (#14270)
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  redisdb/pyproject.toml
  redisdb/tests/test_auth.py
Labels: none

[Release] Bumped redisdb version to 4.6.0 (#14292)
  .in-toto/tag.c295cf63.link
  redisdb/CHANGELOG.md
  redisdb/datadog_checks/redisdb/__about__.py
  requirements-agent-release.txt
Labels: documentation

Update badges
  README.md
Labels: documentation

Update badges (#14293)
  README.md
Labels: documentation

Only cancel concurrent workflows for pull requests
  .github/workflows/master.yml
  .github/workflows/nightly-base-package.yml
  .github/workflows/nightly-py2.yml
  .github/workflows/validate.yml
  .github/workflows/weekly-latest.yml
Labels: dev/tooling

Reverted changes in README.md and created METRICS.md
  openstack_controller/METRICS.md
  openstack_controller/README.md
Labels: documentation

[Release] Bumped datadog_checks_dev version to 18.1.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Bumped ddev version to 1.6.0
  ddev/CHANGELOG.md
  ddev/src/ddev/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.c295cf63.link
Labels: none

Only cancel concurrent workflows for pull requests (#14294)
  .github/workflows/master.yml
  .github/workflows/nightly-base-package.yml
  .github/workflows/nightly-py2.yml
  .github/workflows/validate.yml
  .github/workflows/weekly-latest.yml
Labels: dev/tooling

[Release] datadog_checks_dev & ddev (#14296)
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
  ddev/CHANGELOG.md
  ddev/src/ddev/__about__.py
Labels: documentation

Add Further Reading section and link (#14285)
  calico/README.md
Labels: documentation

Access all instance values in config class
  openstack_controller/datadog_checks/openstack_controller/check.py
  openstack_controller/datadog_checks/openstack_controller/config.py
Labels: none

DOCS-5144
  docs/README.md
  docs/dev/README.md
  docs/dev/agent_integration.md
  docs/dev/create_a_tile.md
  docs/dev/marketplace_offering.md
Labels: documentation

Fix test result first time publishing
  .github/workflows/test-results-master.yml
Labels: dev/tooling

Cleanup Links
  docs/dev/check_references.md
  docs/dev/create_a_tile.md
  docs/dev/marketplace_offering.md
  docs/dev/oauth_for_integrations.md
Labels: documentation

Update druid conf.yaml.example
  druid/datadog_checks/druid/data/conf.yaml.example
Labels: none

Fix tests and style
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/tests/test_unit.py
Labels: none

Add operator configuration instructions
  oom_kill/README.md
  tcp_queue_length/README.md
Labels: documentation

Add operator version
  oom_kill/README.md
  tcp_queue_length/README.md
Labels: documentation

Use a different tool to replay traces
  .github/workflows/submit-traces.yml
  .github/workflows/test-target.yml
  disk/pyproject.toml
Labels: dev/tooling

Add caching
  .github/workflows/cache-shared-deps.yml
  .github/workflows/master.yml
  .github/workflows/test-all.yml
  .github/workflows/test-target.yml
  disk/pyproject.toml
Labels: dev/tooling

Add caching (#14301)
  .github/workflows/cache-shared-deps.yml
  .github/workflows/master.yml
  .github/workflows/test-all.yml
  .github/workflows/test-target.yml
  disk/pyproject.toml
Labels: dev/tooling

Fix caching
  .github/workflows/cache-shared-deps.yml
  .github/workflows/master.yml
Labels: dev/tooling

Update cache-shared-deps.yml
  .github/workflows/cache-shared-deps.yml
Labels: dev/tooling

Update test result badge to be unambiguous
  .github/workflows/test-results-master.yml
Labels: dev/tooling

Fix the url descriptions (#14280)
  coredns/assets/configuration/spec.yaml
  coredns/datadog_checks/coredns/data/auto_conf.yaml
  coredns/datadog_checks/coredns/data/conf.yaml.example
Labels: none

Add the openmetrics v2 class
  gitlab/datadog_checks/gitlab/gitlab.py
  gitlab/datadog_checks/gitlab/gitlab_v2.py
  gitlab/tests/conftest.py
  gitlab/tests/test_unit.py
Labels: none

Implement the metadata collection
  gitlab/datadog_checks/gitlab/common.py
  gitlab/datadog_checks/gitlab/gitlab.py
  gitlab/datadog_checks/gitlab/gitlab_v2.py
  gitlab/tests/conftest.py
  gitlab/tests/test_integration.py
  gitlab/tests/test_unit.py
Labels: none

Update metadata.csv
  mcache/metadata.csv
Labels: none

Update metadata.csv (#14302)
  mcache/metadata.csv
Labels: none
