Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

added period
  mysql/assets/configuration/spec.yaml
Labels: none

updated models
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: none

Normalize dependency definitions
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  oracle/pyproject.toml
  sqlserver/pyproject.toml
Labels: none

valid commands
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: none

Add gssapi dep
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  kafka_consumer/pyproject.toml
  kafka_consumer/tests/test_kafka_consumer.py
Labels: none

Normalize dependency definitions (#11724)
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  oracle/pyproject.toml
  sqlserver/pyproject.toml
Labels: none

Fix quote
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: none

Refactor dependency tooling (#11720)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/dependencies.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: none

Update Agent release docs (#11721)
  docs/developer/process/agent-release/pre-release.md
Labels: documentation

Remove 5.6 and add count for connections
  mysql/datadog_checks/mysql/activity.py
Labels: none

Fix dependency tooling
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
Labels: none

Fix dependency tooling (#11727)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
Labels: none

Fix encoder error
  mysql/datadog_checks/mysql/activity.py
  mysql/datadog_checks/mysql/mysql.py
Labels: none

Update metric_to_check to `cilium.endpoint.state` (#11722)
  cilium/manifest.json
Labels: none

kubelet: add tests for 1.21
  kubelet/tests/fixtures/cadvisor_metrics_1_21.txt
  kubelet/tests/fixtures/kubelet_metrics_1_21.txt
  kubelet/tests/test_kubelet.py
Labels: none

Update the description for the config spec description field
  docs/developer/meta/config-specs.md
Labels: documentation

[DOCS-3134] Edit disk integration note (#11723)
  disk/assets/service_checks.json
Labels: none

Add Initial Curated Metrics (#11703)
  consul/metadata.csv
  elastic/metadata.csv
  fluentd/metadata.csv
  haproxy/metadata.csv
  kafka/metadata.csv
  mysql/metadata.csv
  nginx/metadata.csv
  pgbouncer/metadata.csv
  redisdb/metadata.csv
Labels: none

Add install script
  .azure-pipelines/scripts/kafka_consumer/55_install_kerberos.sh
Labels: dev/testing

add metadata
  kafka_consumer/tests/conftest.py
Labels: none

move to linux dir
  .azure-pipelines/scripts/kafka_consumer/linux/55_install_kerberos.sh
Labels: dev/testing

New query and add 5.6 env
  mysql/datadog_checks/mysql/activity.py
  mysql/tox.ini
Labels: none

Update docs/developer/meta/config-specs.md
  docs/developer/meta/config-specs.md
Labels: documentation

Fix CI
  datadog_checks_base/datadog_checks/base/__about__.py
Labels: none

try
  disk/tox.ini
Labels: none

pin jinja2
  tox.ini
Labels: none

Update query and disable for versions < 5.7
  mysql/datadog_checks/mysql/activity.py
  mysql/datadog_checks/mysql/mysql.py
Labels: none

Copy Nits (#11667)
  docs/dev/check_references.md
Labels: documentation

Filter by nesting event level = 0
  mysql/datadog_checks/mysql/activity.py
Labels: none

ok, remove test all trigger
  datadog_checks_base/datadog_checks/base/__about__.py
Labels: none

pin jinja2 (#11732)
  tox.ini
Labels: none

orjson
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: none

snmp
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  snmp/pyproject.toml
Labels: none

Update cacti.py
  cacti/datadog_checks/cacti/cacti.py
Labels: none

test all
  datadog_checks_base/datadog_checks/base/__about__.py
Labels: none

openstacksdk
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  openstack_controller/pyproject.toml
Labels: none

docker-compose
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  datadog_checks_dev/pyproject.toml
Labels: none

fix
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  gitlab/pyproject.toml
  gitlab_runner/pyproject.toml
  kube_dns/pyproject.toml
  kubernetes_state/pyproject.toml
Labels: none

ddtrace
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: none

protobuf
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: none
