Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*

Revert "test"
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: none

Revert "test"
  .gitlab-ci.yml
Labels: none

Revert "Fix the trigger-agent build script (#16623)" (#16838)
  .gitlab/validate-agent-build/trigger_agent_build.py
Labels: none

Fix a flaky test
  strimzi/tests/common.py
  strimzi/tests/test_e2e.py
Labels: none

Fix a flaky test (#16839)
  strimzi/tests/common.py
  strimzi/tests/test_e2e.py
Labels: none

Remove the reminder GitLab job
  .gitlab-ci.yml
  .gitlab/reminder/Dockerfile
  .gitlab/reminder/release-reminder.sh
  .gitlab/reminder/remind.py
  .gitlab/reminder/requirements.in
Labels: none

Build arm64 on CI leveraging M1 runners
  .builders/build.py
  .github/workflows/build-deps.yml
Labels: dev/tooling

envoy: bump tests to 1.29.0 (#16824)
  envoy/hatch.toml
  envoy/metadata.csv
  envoy/tests/common.py
  envoy/tests/docker/api_v3/Dockerfile-service
  envoy/tests/docker/api_v3/front-envoy.yaml
  envoy/tests/fixtures/legacy/server_info_api_v3
  envoy/tests/fixtures/openmetrics/openmetrics.txt
  envoy/tests/test_unit.py
Labels: none

postgres schemas: don't exclude tables without metrics from schema collection
  postgres/datadog_checks/postgres/metadata.py
Labels: none

changelog entry
  postgres/changelog.d/16834.changed
Labels: none

update conf.yaml
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: none

Remove the reminder GitLab job (#16840)
  .gitlab-ci.yml
  .gitlab/reminder/Dockerfile
  .gitlab/reminder/release-reminder.sh
  .gitlab/reminder/remind.py
  .gitlab/reminder/requirements.in
Labels: none

black reformatting
  postgres/datadog_checks/postgres/metadata.py
Labels: none

Sync integrations with logs-backend
  fluxcd/assets/logs/fluxcd.yaml
  fluxcd/assets/logs/fluxcd_tests.yaml
  zeek/assets/logs/zeek.yaml
  zeek/assets/logs/zeek_tests.yaml
Labels: none

postgres schemas: don't exclude tables without metrics from schema collection (#16834)
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/16834.changed
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/metadata.py
Labels: none

Sync integrations with logs-backend (#16841)
  fluxcd/assets/logs/fluxcd.yaml
  fluxcd/assets/logs/fluxcd_tests.yaml
  zeek/assets/logs/zeek.yaml
  zeek/assets/logs/zeek_tests.yaml
Labels: none

envoy: add connection limits metrics
  envoy/changelog.d/16718.added
  envoy/datadog_checks/envoy/check.py
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/common.py
  envoy/tests/docker/api_v3/front-envoy.yaml
  envoy/tests/fixtures/legacy/connection_limit.txt
  envoy/tests/fixtures/legacy/stat_prefix
  envoy/tests/fixtures/openmetrics/openmetrics.txt
  envoy/tests/legacy/common.py
  envoy/tests/legacy/test_unit.py
  envoy/tests/test_e2e.py
  envoy/tests/test_integration.py
  envoy/tests/test_unit.py
Labels: none

envoy: add connection limits metrics (#16718)
  envoy/changelog.d/16718.added
  envoy/datadog_checks/envoy/check.py
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/common.py
  envoy/tests/docker/api_v3/front-envoy.yaml
  envoy/tests/fixtures/legacy/connection_limit.txt
  envoy/tests/fixtures/legacy/stat_prefix
  envoy/tests/fixtures/openmetrics/openmetrics.txt
  envoy/tests/legacy/common.py
  envoy/tests/legacy/test_unit.py
  envoy/tests/test_e2e.py
  envoy/tests/test_integration.py
  envoy/tests/test_unit.py
Labels: none

add blog link
  windows_performance_counters/README.md
Labels: documentation

fix broken link and further details
  ibm_mq/README.md
Labels: documentation

Update ibm_mq/README.md
  ibm_mq/README.md
Labels: documentation

Extract hardcoded additional integrations from the `validate labeler` command to the config file
  .ddev/config.toml
  ddev/changelog.d/16845.fixed
  ddev/src/ddev/cli/validate/labeler.py
  ddev/tests/cli/validate/conftest.py
Labels: none

Extract hardcoded dependencies from the `dep updates` command to the config file
  .ddev/config.toml
  ddev/changelog.d/16846.fixed
  ddev/src/ddev/cli/dep.py
  ddev/tests/cli/test_dep.py
Labels: none

Lock dependencies with direct references
  .builders/lock.py
  .builders/scripts/build_wheels.py
  .builders/upload.py
  .github/workflows/build-deps.yml
Labels: dev/tooling

Update dependency resolution
  .deps/image_digests.json
  .deps/resolved/linux-x86_64_py2.txt
  .deps/resolved/linux-x86_64_py3.txt
  .deps/resolved/macos_py2.txt
  .deps/resolved/macos_py3.txt
  .deps/resolved/windows-x86_64_py2.txt
  .deps/resolved/windows-x86_64_py3.txt
Labels: none

Lock dependencies with direct references
  .builders/lock.py
  .builders/scripts/build_wheels.py
  .builders/upload.py
Labels: none

fix broken link and further details (#16843)
  ibm_mq/README.md
Labels: documentation

Add blog link to Windows Performance Counters doc (#16842)
  windows_performance_counters/README.md
Labels: documentation

Add a constant class with the Agent env variables
  ddev/changelog.d/16844.added
  ddev/src/ddev/cli/env/start.py
  ddev/src/ddev/config/model.py
  ddev/src/ddev/e2e/agent/constants.py
  ddev/src/ddev/e2e/agent/docker.py
  ddev/src/ddev/e2e/constants.py
Labels: none

Update the labeler token
  .github/workflows/labeler-reusable.yml
Labels: dev/tooling

Update the labeler token (#16850)
  .github/workflows/labeler-reusable.yml
Labels: dev/tooling

Extract hardcoded additional integrations from the `validate labeler` command to the config file (#16845)
  .ddev/config.toml
  ddev/changelog.d/16845.fixed
  ddev/src/ddev/cli/validate/labeler.py
  ddev/tests/cli/validate/conftest.py
Labels: none

Extract hardcoded dependencies from the `dep updates` command to the config file (#16846)
  .ddev/config.toml
  ddev/changelog.d/16846.fixed
  ddev/src/ddev/cli/dep.py
  ddev/tests/cli/test_dep.py
Labels: none

address
  ddev/src/ddev/cli/meta/scripts/scripts/serve.py
Labels: none

mypy
  ddev/src/ddev/cli/meta/scripts/scripts/serve.py
Labels: none

Add a constant class with the Agent env variables (#16844)
  ddev/changelog.d/16844.added
  ddev/src/ddev/cli/env/start.py
  ddev/src/ddev/config/model.py
  ddev/src/ddev/e2e/agent/constants.py
  ddev/src/ddev/e2e/agent/docker.py
  ddev/src/ddev/e2e/constants.py
Labels: none

rename _tags to tags
  nginx/datadog_checks/nginx/nginx.py
Labels: none

Apply suggestions from code review
  .builders/lock.py
Labels: none

Lock dependencies with direct references (#16848)
  .builders/lock.py
  .builders/scripts/build_wheels.py
  .builders/upload.py
Labels: none

Make assertions only about behavior in tests
  directory/tests/test_directory.py
Labels: none
