Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

changelog
  datadog_checks_dev/changelog.d/23109.added
Labels: none

lint
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/example.py
Labels: none

fix spec yaml (#23094)
  cloudera/assets/configuration/spec.yaml
  mongo/assets/configuration/spec.yaml
Labels: none

Generate SECURE_FIELD_NAMES and security validation in config models from require_trusted_provider spec fields
  datadog_checks_base/tests/models/config_models/instance.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_file.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_info.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/openapi_document.py
Labels: none

Rebranding Trend Micro to TrendAI for email security and endpoint security integration
  trend_micro_email_security/README.md
  trend_micro_email_security/assets/dashboards/trend_micro_email_security_mail_tracking.json
  trend_micro_email_security/assets/dashboards/trend_micro_email_security_policy_events.json
  trend_micro_email_security/assets/logs/trend-micro-email-security.yaml
  trend_micro_email_security/assets/trend_micro_email_security.svg
  trend_micro_email_security/images/trend_ai_email_security_mail_tracking_dark.png
  trend_micro_email_security/images/trend_ai_email_security_mail_tracking_light.png
  trend_micro_email_security/images/trend_ai_email_security_policy_events_dark.png
  trend_micro_email_security/images/trend_ai_email_security_policy_events_light.png
  trend_micro_email_security/images/trend_micro_email_security_mail_tracking.png
  trend_micro_email_security/images/trend_micro_email_security_policy_events.png
  trend_micro_email_security/manifest.json
  trend_micro_vision_one_endpoint_security/README.md
  trend_micro_vision_one_endpoint_security/assets/dashboards/trend_micro_vision_one_endpoint_security_data_loss_prevention.json
  trend_micro_vision_one_endpoint_security/assets/dashboards/trend_micro_vision_one_endpoint_security_network_events.json
  trend_micro_vision_one_endpoint_security/assets/dashboards/trend_micro_vision_one_endpoint_security_overview.json
  trend_micro_vision_one_endpoint_security/assets/dashboards/trend_micro_vision_one_endpoint_security_system_events.json
  trend_micro_vision_one_endpoint_security/assets/logs/trend-micro-vision-one-endpoint-security.yaml
  trend_micro_vision_one_endpoint_security/assets/trend_micro_vision_one_endpoint_security.svg
  trend_micro_vision_one_endpoint_security/images/trend_ai_vision_one_endpoint_security_data_loss_prevention_dark.png
  trend_micro_vision_one_endpoint_security/images/trend_ai_vision_one_endpoint_security_data_loss_prevention_light.png
  trend_micro_vision_one_endpoint_security/images/trend_ai_vision_one_endpoint_security_network_events_dark.png
  trend_micro_vision_one_endpoint_security/images/trend_ai_vision_one_endpoint_security_network_events_light.png
  trend_micro_vision_one_endpoint_security/images/trend_ai_vision_one_endpoint_security_overview_dark.png
  trend_micro_vision_one_endpoint_security/images/trend_ai_vision_one_endpoint_security_overview_light.png
  trend_micro_vision_one_endpoint_security/images/trend_ai_vision_one_endpoint_security_system_events_dark.png
  trend_micro_vision_one_endpoint_security/images/trend_ai_vision_one_endpoint_security_system_events_light.png
  trend_micro_vision_one_endpoint_security/images/trend_micro_vision_one_endpoint_security_data_loss_prevention.png
  trend_micro_vision_one_endpoint_security/images/trend_micro_vision_one_endpoint_security_network_events.png
  trend_micro_vision_one_endpoint_security/images/trend_micro_vision_one_endpoint_security_overview.png
  trend_micro_vision_one_endpoint_security/images/trend_micro_vision_one_endpoint_security_system_events.png
  trend_micro_vision_one_endpoint_security/manifest.json
Labels: documentation

Apply original require_trusted_provider implementation from pre-revert state
  datadog_checks_base/tests/models/config_models/instance.py
  datadog_checks_dev/changelog.d/22226.added
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_file.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_info.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/openapi_document.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy_base.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/tls.yaml
Labels: none

update changelog
  datadog_checks_dev/changelog.d/22226.added
  datadog_checks_dev/changelog.d/23109.added
Labels: none

reset datadog_checks_base test file
  datadog_checks_base/tests/models/config_models/instance.py
Labels: none

mark all integrations with command or filepath properties with require_trusted_provider: true
  cacti/assets/configuration/spec.yaml
  cassandra_nodetool/assets/configuration/spec.yaml
  ceph/assets/configuration/spec.yaml
  cisco_aci/assets/configuration/spec.yaml
  clickhouse/assets/configuration/spec.yaml
  cloudera/assets/configuration/spec.yaml
  disk/assets/configuration/spec.yaml
  foundationdb/assets/configuration/spec.yaml
  guarddog/assets/configuration/spec.yaml
  gunicorn/assets/configuration/spec.yaml
  infiniband/assets/configuration/spec.yaml
  jboss_wildfly/assets/configuration/spec.yaml
  kafka_actions/assets/configuration/spec.yaml
  kafka_consumer/assets/configuration/spec.yaml
  kube_apiserver_metrics/assets/configuration/spec.yaml
  kube_scheduler/assets/configuration/spec.yaml
  lustre/assets/configuration/spec.yaml
  mac_audit_logs/assets/configuration/spec.yaml
  mapr/assets/configuration/spec.yaml
  mongo/assets/configuration/spec.yaml
  mysql/assets/configuration/spec.yaml
  nagios/assets/configuration/spec.yaml
  network/assets/configuration/spec.yaml
  nfsstat/assets/configuration/spec.yaml
  openstack_controller/assets/configuration/spec.yaml
  oracle/assets/configuration/spec.yaml
  postfix/assets/configuration/spec.yaml
  postgres/assets/configuration/spec.yaml
  process/assets/configuration/spec.yaml
  redisdb/assets/configuration/spec.yaml
  slurm/assets/configuration/spec.yaml
  snowflake/assets/configuration/spec.yaml
  ssh_check/assets/configuration/spec.yaml
  tibco_ems/assets/configuration/spec.yaml
  tls/assets/configuration/spec.yaml
  tokumx/assets/configuration/spec.yaml
  varnish/assets/configuration/spec.yaml
  vault/assets/configuration/spec.yaml
Labels: none

Bump datadog-checks-base minimum version to 37.33.0 for integrations with require_trusted_provider fields
  cacti/pyproject.toml
  cassandra_nodetool/pyproject.toml
  ceph/pyproject.toml
  cisco_aci/pyproject.toml
  clickhouse/pyproject.toml
  cloudera/pyproject.toml
  disk/pyproject.toml
  foundationdb/pyproject.toml
  guarddog/pyproject.toml
  gunicorn/pyproject.toml
  infiniband/pyproject.toml
  jboss_wildfly/pyproject.toml
  kafka_actions/pyproject.toml
  kafka_consumer/pyproject.toml
  kube_apiserver_metrics/pyproject.toml
  kube_scheduler/pyproject.toml
  lustre/pyproject.toml
  mac_audit_logs/pyproject.toml
  mapr/pyproject.toml
  mongo/pyproject.toml
  mysql/pyproject.toml
  nagios/pyproject.toml
  network/pyproject.toml
  nfsstat/pyproject.toml
  openstack_controller/pyproject.toml
  postfix/pyproject.toml
  postgres/pyproject.toml
  process/pyproject.toml
  redisdb/pyproject.toml
  slurm/pyproject.toml
  snowflake/pyproject.toml
  ssh_check/pyproject.toml
  tibco_ems/pyproject.toml
  tls/pyproject.toml
  tokumx/pyproject.toml
  varnish/pyproject.toml
  vault/pyproject.toml
Labels: none

Fix pysnmp 7.x compatibility: MIB sharing, constraint enforcement, thread event loop
  snmp/datadog_checks/snmp/commands.py
  snmp/datadog_checks/snmp/discovery.py
  snmp/datadog_checks/snmp/mibs.py
Labels: none

sync models
  datadog_checks_base/tests/models/config_models/instance.py
Labels: none

Finalize Agent release 7.77.2
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
Labels: documentation

fix lint
  ddev/src/ddev/utils/github_async.py
  ddev/tests/utils/test_github_async.py
Labels: none

PGBouncer - Regenerated conf.yaml.example
  pgbouncer/datadog_checks/pgbouncer/data/conf.yaml.example
Labels: none

Add otel metric mapping support (#23003)
  postgres/assets/dashboards/postgresql_dashboard.json
  postgres/assets/dashboards/postgresql_screenboard_dashboard.json
Labels: none

Update kafka/assets/dashboards/kafka_kraft_dashboard.json
  kafka/assets/dashboards/kafka_kraft_dashboard.json
Labels: none

PGBouncer - filter by regex, fix default value
  pgbouncer/assets/configuration/spec.yaml
  pgbouncer/datadog_checks/pgbouncer/config_models/instance.py
  pgbouncer/datadog_checks/pgbouncer/data/conf.yaml.example
Labels: none

Fix lint errors, changelog PR number, and dashboard copyedit
  kafka/changelog.d/23105.added
  kafka/tests/common.py
  kafka/tests/conftest.py
  kafka/tests/test_check.py
Labels: none

PGBouncer - Make new attribute field_configurable like the other attributes
  pgbouncer/assets/configuration/spec.yaml
Labels: none

remove respx
  ddev/hatch.toml
Labels: none

update dashboard syntax (#23045)
  sqlserver/assets/dashboards/sqlserver_dashboard.json
Labels: none

refactor(release): use peter-evans/repository-dispatch and remove dev target (#23055)
  .github/workflows/release-dispatch.yml
  .github/workflows/release-trigger.yml
  .github/workflows/scripts/_release/dispatch.py
  .github/workflows/scripts/_release/packages.py
  .github/workflows/scripts/_release/summary.py
  .github/workflows/scripts/release_dispatch.py
  .github/workflows/scripts/release_prepare.py
  .github/workflows/scripts/tests/test_dispatch.py
  .github/workflows/scripts/tests/test_packages.py
  .github/workflows/scripts/tests/test_script_release_dispatch.py
  .github/workflows/scripts/tests/test_script_release_prepare.py
Labels: dev/tooling

add druids logo url in dashboard (#23035)
  avast/assets/dashboards/avast_audit_summary.json
  avast/assets/dashboards/avast_task_and_patch_summary.json
  avast/assets/dashboards/avast_threat_summary.json
Labels: none

Add milestones workflow for Merged PRs (#23049)
  .github/chainguard/self.add-milestone.pull-request.sts.yaml
  .github/workflows/add-milestone.yml
  release.json
Labels: dev/tooling

remove public docs
  bluecat_edge/manifest.json
Labels: none

remove public docs (#23113)
  bluecat_edge/manifest.json
Labels: none

Add sync comment for zstd version in macOS builder
  .builders/images/macos/builder_setup.sh
Labels: none

Add missing URL formats to integration specs
  ibm_was/assets/configuration/spec.yaml
  kafka_consumer/assets/configuration/spec.yaml
  kong/assets/configuration/spec.yaml
  mongo/assets/configuration/spec.yaml
  proxmox/assets/configuration/spec.yaml
Labels: none

[NDINT-387] Get health score from healthInst if fvOverallHealth isn't present.
  cisco_aci/datadog_checks/cisco_aci/aci_metrics.py
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/datadog_checks/cisco_aci/tenant.py
  cisco_aci/tests/common.py
  cisco_aci/tests/fixtures/tenant/07f9ef7474c39eef33e9ddfd269d54fb.txt
  cisco_aci/tests/fixtures/tenant/c8e9a0dbceac67fb1149684f7fc7772c.txt
  cisco_aci/tests/fixtures/tenant/cd84d80314a78b27c72f287322f30b68.txt
  cisco_aci/tests/test_tenant.py
Labels: none

Changelog entry.
  cisco_aci/changelog.d/21988.added
Labels: none

Emit metric for context limit budget
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/metadata.csv
  kafka_consumer/tests/test_unit.py
Labels: none

fix(kafka_actions): accept list format for kafka_connect_str
  kafka_actions/datadog_checks/kafka_actions/config.py
  kafka_actions/datadog_checks/kafka_actions/config_models/validators.py
  kafka_actions/tests/test_config_validation.py
Labels: none

Add changelog entry for kafka_actions list fix
  kafka_actions/changelog.d/23115.fixed
Labels: none

fix(kafka_actions): accept list format for kafka_connect_str (#23115)
  kafka_actions/changelog.d/23115.fixed
  kafka_actions/datadog_checks/kafka_actions/config.py
  kafka_actions/datadog_checks/kafka_actions/config_models/validators.py
  kafka_actions/tests/test_config_validation.py
Labels: none

fix(kafka_actions): accept list format for kafka_connect_str (#23115)
  kafka_actions/changelog.d/23115.fixed
  kafka_actions/datadog_checks/kafka_actions/config.py
  kafka_actions/datadog_checks/kafka_actions/config_models/validators.py
  kafka_actions/tests/test_config_validation.py
Labels: none

fix(kafka_actions): use kafka_cluster_id instance param for cluster verification
  kafka_actions/datadog_checks/kafka_actions/check.py
  kafka_actions/tests/test_unit.py
Labels: none

Add changelog entry for kafka_actions cluster ID override fix
  kafka_actions/changelog.d/23117.fixed
Labels: none

fix(kafka_actions): use kafka_cluster_id as actual cluster identity for verification
  kafka_actions/datadog_checks/kafka_actions/check.py
  kafka_actions/tests/test_unit.py
Labels: none

Add changelog entry
  kafka_actions/changelog.d/23118.fixed
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
