Repository DataDog/integrations-core, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dev/testing, dev/tooling, changelog/no-changelog

fix validation
  consul/metadata.csv
Labels: none

really fix metadata
  consul/metadata.csv
Labels: none

[ntplib] bumping to 0.3.4, 0.3.3 is gone (#6662)
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ntp/requirements.in
Labels: none

Style
  snmp/tests/test_profiles.py
Labels: none

Update rabbitmq/README.md
  rabbitmq/README.md
Labels: documentation

Add config specs and use new agent signature
  hyperv/assets/configuration/spec.yaml
  hyperv/datadog_checks/hyperv/data/conf.yaml.example
  hyperv/datadog_checks/hyperv/hyperv.py
  hyperv/manifest.json
  hyperv/setup.py
Labels: none

Revert "Add config specs and use new agent signature"
  hyperv/assets/configuration/spec.yaml
  hyperv/datadog_checks/hyperv/data/conf.yaml.example
  hyperv/datadog_checks/hyperv/hyperv.py
  hyperv/manifest.json
  hyperv/setup.py
Labels: none

Add config and use new agent signature
  hyperv/assets/configuration/spec.yaml
  hyperv/datadog_checks/hyperv/data/conf.yaml.example
  hyperv/datadog_checks/hyperv/hyperv.py
  hyperv/manifest.json
  hyperv/setup.py
Labels: none

Add specs and use new signature
  nfsstat/assets/configuration/spec.yaml
  nfsstat/datadog_checks/nfsstat/data/conf.yaml.example
  nfsstat/datadog_checks/nfsstat/nfsstat.py
  nfsstat/manifest.json
  nfsstat/setup.py
Labels: none

no default value
  nfsstat/assets/configuration/spec.yaml
  nfsstat/datadog_checks/nfsstat/data/conf.yaml.example
Labels: none

Add config specs and use new agent signature
  process/README.md
  process/assets/configuration/spec.yaml
  process/datadog_checks/process/data/conf.yaml.example
  process/datadog_checks/process/process.py
  process/manifest.json
  process/setup.py
Labels: documentation

fix style
  process/datadog_checks/process/process.py
Labels: none

fix examples
  process/assets/configuration/spec.yaml
Labels: none

Remove cluster name
  istio/assets/dashboards/istio_1_5_overview
Labels: none

Apply suggestions from code review
  process/assets/configuration/spec.yaml
  process/datadog_checks/process/data/conf.yaml.example
Labels: none

Update README.md (#6635)
  rabbitmq/README.md
Labels: documentation

log
  mysql/datadog_checks/mysql/mysql.py
Labels: none

no more validation for py3 nor logos
  datadog_checks_dev/setup.py
Labels: none

update Click range https://github.com/DataDog/integrations-core/pull/5512#issuecomment-635206156
  datadog_checks_dev/setup.py
Labels: none

Add validation for saved views
  .azure-pipelines/templates/run-validations.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/saved_views.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: dev/testing

Alphabetize and style
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/saved_views.py
Labels: none

ensure non-ancient appdirs https://pypi.org/project/appdirs/#history
  datadog_checks_dev/setup.py
Labels: none

Update variable name
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/saved_views.py
Labels: none

Remove cluster name (#6782)
  istio/assets/dashboards/istio_1_5_overview
Labels: none

Update CLI dependencies (#6784)
  datadog_checks_dev/setup.py
Labels: none

[Release] Bumped datadog_checks_dev version to 3.8.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

[Release] Update metadata
  .in-toto/tag.c295cf63.link
Labels: none

[Release] Bumped datadog_checks_dev version to 3.8.0 (#6785)
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation

Address comments and add windows file support
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/saved_views.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: none

Properly handle potential embedded null characters (#6640)
  snmp/datadog_checks/snmp/utils.py
Labels: none

Update sqlserver.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: none

Fall back to repo_name if not in repo_choices
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: none

Enable `send_monotonic_with_gauge` to submit mesh metrics as monotonic counts (#5707)
  istio/datadog_checks/istio/legacy_1_4.py
  istio/metadata.csv
  istio/tests/common.py
  istio/tests/conftest.py
  istio/tests/test_istio_1_5.py
  istio/tests/test_legacy_1_4.py
  istio/tests/utils.py
Labels: none

Pop unused fields
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/dashboard.py
Labels: none

Apply suggestions from code review
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
Labels: none

Fix name KeyError
  snmp/datadog_checks/snmp/snmp.py
Labels: none

Update .gitlab/validate-logs-intgs/validate_log_intgs.py
  .gitlab/validate-logs-intgs/validate_log_intgs.py
Labels: none

changed
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: none

Get name dynamically
  snmp/datadog_checks/snmp/snmp.py
Labels: none

Add test
  snmp/tests/test_unit.py
Labels: none

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "**/*.md"

dev/testing:
- .azure-pipelines/**

dev/tooling:
- .github/workflows/**

changelog/no-changelog:
- all:!*/datadog_checks/**

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|docs)([^/]+)/.*
