Repository DataDog/integrations-core, pull requests merged in 2018-04, with the labels that each got.

#1285 Regex Notes
  vsphere/conf.yaml.example
Labels: documentation

#1343 clean up snmp integration documentation
  snmp/README.md
Labels: documentation

#1338 adding agent v6 doc
  docker_daemon/README.md
Labels: documentation

#1361 kubelet: scale the core metric to nano core
  kubelet/CHANGELOG.md
  kubelet/datadog_checks/kubelet/__about__.py
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/manifest.json
Labels: containers

#1369 [Active directory] Remove entry_points from setup
  active_directory/CHANGELOG.md
  active_directory/setup.py
Labels: community

#1352 [openstack] Nova API call optimizations
  openstack/datadog_checks/openstack/openstack.py
  openstack/test/test_openstack.py
Labels: do-not-merge/WIP

#1372 Implement graceful failures for PDH based checks
  aspdotnet/tests/test_aspdotnet.py
  datadog-checks-base/CHANGELOG.md
  datadog-checks-base/datadog_checks/checks/win/winpdh.py
  datadog-checks-base/datadog_checks/checks/win/winpdh_base.py
  datadog-checks-base/datadog_checks/stubs/datadog_agent.py
  datadog-checks-base/requirements-dev.txt
  datadog-checks-base/tests/requirements.txt
  datadog-checks-base/tests/test_pdhbasecheck.py
  datadog-checks-base/tests/test_prometheus.py
  datadog-checks-base/tests/test_winpdh.py
  datadog-checks-base/tests/utils.py
  datadog-checks-base/tox.ini
  datadog-checks-tests-helper/datadog_test_libs/win/fixtures/allcounters.txt
  datadog-checks-tests-helper/datadog_test_libs/win/fixtures/allcounters_se-sv.txt
  datadog-checks-tests-helper/datadog_test_libs/win/fixtures/counter_indexes_en-us.txt
  datadog-checks-tests-helper/datadog_test_libs/win/fixtures/counter_indexes_en.txt
  datadog-checks-tests-helper/datadog_test_libs/win/fixtures/counter_indexes_se-sv.txt
  datadog-checks-tests-helper/datadog_test_libs/win/pdh_mocks.py
Labels: do-not-merge/WIP

#1376 [Spark] Update metric desc
  spark/metadata.csv
Labels: documentation

#1375 [MySQL] Editing template yaml
  mysql/README.md
Labels: documentation

#1363 Add timeout configuration to StatsD integration
  statsd/CHANGELOG.md
  statsd/README.md
  statsd/conf.yaml.example
  statsd/datadog_checks/statsd/__init__.py
  statsd/datadog_checks/statsd/statsd.py
  statsd/manifest.json
Labels: community

#1341 [kube_dns] adding count metric kubedns.request_count.count
  kube_dns/CHANGELOG.md
  kube_dns/datadog_checks/kube_dns/__init__.py
  kube_dns/datadog_checks/kube_dns/kube_dns.py
  kube_dns/manifest.json
  kube_dns/metadata.csv
  kube_dns/test/test_kube_dns.py
Labels: containers, kind/enhancement

#1395 [checks-base] Fix logger in prom scraper
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/checks/prometheus/mixins.py
  kubelet/CHANGELOG.md
Labels: kind/bug

#1377 kubelet: Improve the coverage of the kubelet check
  kubelet/CHANGELOG.md
  kubelet/conftest.py
  kubelet/datadog_checks/kubelet/__about__.py
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/manifest.json
  kubelet/tests/fixtures/pods.json
  kubelet/tests/test_kubelet.py
Labels: containers

#1399 [prometheus] increase timeout to 10 seconds (master)
  datadog_checks_base/datadog_checks/checks/prometheus/mixins.py
Labels: containers, kind/bug

#1358 Add docker metric "docker.cpu.shares"
  docker_daemon/CHANGELOG.md
  docker_daemon/datadog_checks/docker_daemon/__init__.py
  docker_daemon/datadog_checks/docker_daemon/docker_daemon.py
  docker_daemon/manifest.json
  docker_daemon/metadata.csv
Labels: community

#1398 [prometheus] increase timeout to 10 seconds (6.1.x branch backport)
  datadog-checks-base/datadog_checks/checks/prometheus/mixins.py
Labels: containers, kind/bug

#1403 [oracle] fix for DB with offline tablespace (#1402)
  oracle/CHANGELOG.md
  oracle/datadog_checks/oracle/__init__.py
  oracle/datadog_checks/oracle/oracle.py
  oracle/manifest.json
  oracle/metadata.csv
  oracle/test/ci/resources/DropTest.sql
  oracle/test/ci/resources/SetupTest.sql
  oracle/test/test_oracle.py
Labels: community

#1339 [kubelet] port cadvisor metric collection from legacy kubernetes check
  README.md
  kubelet/CHANGELOG.md
  kubelet/README.md
  kubelet/conf.yaml.example
  kubelet/datadog_checks/kubelet/__about__.py
  kubelet/datadog_checks/kubelet/__init__.py
  kubelet/datadog_checks/kubelet/cadvisor.py
  kubelet/datadog_checks/kubelet/common.py
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/manifest.json
  kubelet/metadata.csv
  kubelet/tests/fixtures/cadvisor_1.2.json
  kubelet/tests/fixtures/pods_list_1.2.json
  kubelet/tests/requirements.txt
  kubelet/tests/test_cadvisor.py
  kubelet/tests/test_common.py
  kubelet/tests/test_kubelet.py
  kubernetes/metadata.csv
Labels: containers, kind/feature

#1411 [kafka_consumer] Bump kafka-python to 1.4.2
  kafka_consumer/requirements.in
Labels: community

#1183 [pdh] improvements + integrations should use wheel if available
  active_directory/CHANGELOG.md
  active_directory/datadog_checks/active_directory/active_directory.py
  active_directory/requirements.txt
  active_directory/tox.ini
  appveyor.yml
  aspdotnet/CHANGELOG.md
  aspdotnet/datadog_checks/aspdotnet/__about__.py
  aspdotnet/datadog_checks/aspdotnet/aspdotnet.py
  aspdotnet/tox.ini
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/checks/win/__init__.py
  datadog_checks_base/datadog_checks/checks/win/winpdh.py
  dotnetclr/CHANGELOG.md
  dotnetclr/datadog_checks/dotnetclr/dotnetclr.py
  exchange_server/CHANGELOG.md
  exchange_server/datadog_checks/exchange_server/exchange_server.py
  iis/CHANGELOG.md
  iis/datadog_checks/iis/iis.py
  pdh_check/CHANGELOG.md
  pdh_check/datadog_checks/pdh_check/pdh_check.py
  pdh_check/manifest.json
  pdh_check/setup.py
  pdh_check/tests/test_pdh_check.py
  pdh_check/tox.ini
  tasks/constants.py
Labels: do-not-merge/WIP, kind/enhancement

#1412 [kafka_consumer] pedantically pep8 import order
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: community

#1413 [kafka_consumer] context limit is actually 200
  kafka_consumer/conf.yaml.example
Labels: community, documentation

#1410 [Gitlab][skip ci] Specify metrics endpoint for prometheus endpoint in example yaml
  gitlab/conf.yaml.example
Labels: documentation

#1425 [NFS] Updating overview description
  nfsstat/README.md
Labels: documentation

#1424 [Oracle] Provide details on setting env vars with Agent 6
  oracle/README.md
Labels: documentation

#1422 make integration public on doc
  ecs_fargate/manifest.json
Labels: documentation

#1421 [docs] Correct `linux_proc_extras` config instructions in readme
  linux_proc_extras/README.md
Labels: documentation

#1391 [mongo] fix top metric type
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__init__.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/manifest.json
  mongo/metadata.csv
Labels: do-not-merge/HOLD

#1426 Updating content to be displayed on doc
  aspdotnet/README.md
  aspdotnet/manifest.json
Labels: documentation

#1434 [mcache]Add missing options to mcache yaml example
  mcache/conf.yaml.example
Labels: documentation

#1438 [mongo] fix metric unit name
  mongo/metadata.csv
Labels: documentation

#1415 [kafka] Test Kafka JMX check against latest Kafka versions
  .travis.yml
Labels: community

#1440 [kafka_consumer] Fix `KafkaCheck` docstring
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: community

#1449 [kafka_consumer] Tune up the readme
  kafka_consumer/README.md
Labels: community, documentation

#1454 [kafka_consumer] Cleanup SSL connection param passing
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: community

#1453 [kafka_consumer] Kafka consumer cleanup instance keys
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: community

#1456 Update NTP install instructions
  ntp/README.md
Labels: documentation

#1423 [kubelet] Allow user to disable both cadvisor and prometheus
  kubelet/CHANGELOG.md
  kubelet/README.md
  kubelet/conf.yaml.example
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/test_kubelet.py
Labels: containers

#1458 Migrate kubernetes cAdvisor cpu metrics to cores
  kubelet/metadata.csv
  kubernetes/metadata.csv
Labels: containers, kind/enhancement

#1428 Update doc for A6
  mesos_master/README.md
  mesos_slave/README.md
Labels: documentation

#1467 Update stored proc yaml example for driver info
  sqlserver/conf.yaml.example
Labels: documentation
