Repository DataDog/integrations-core, pull requests merged in 2018-05, with the labels that each got.

#1496 Remove the list of pytest-ed checks from the README
  README.md
Labels: documentation

#1503 Updating ntp check frequency
  ntp/README.md
Labels: documentation

#1505 Updating phrasing for metrics collection
  activemq/README.md
Labels: documentation

#1495 [kubelet] Fix SSL when specifying certificates files
  datadog_checks_base/datadog_checks/checks/prometheus/mixins.py
  kubelet/CHANGELOG.md
  kubelet/datadog_checks/kubelet/kubelet.py
Labels: containers, kind/bug

#1235 Use sudo for privileged process checks on filedescriptors (take 2)
  process/README.md
  process/datadog_checks/process/process.py
  process/test/test_process.py
Labels: community

#1500 Document the 'max_services' config option
  consul/conf.yaml.example
Labels: community, documentation

#1479 Add a check to count all nodes in a consul cluster
  consul/CHANGELOG.md
  consul/datadog_checks/consul/consul.py
  consul/metadata.csv
  consul/tests/consul_mocks.py
  consul/tests/test_integration.py
  consul/tests/test_unit.py
Labels: community

#1554 [windows_service] update metadata for tile
  windows_service/README.md
  windows_service/logos/avatars-bot.png
  windows_service/logos/saas_logos-bot.png
  windows_service/logos/saas_logos-small.png
  windows_service/manifest.json
Labels: documentation/no-changelog

#1553 [Postgres] Adding disclaimer for metrics collected
  postgres/README.md
Labels: documentation

#1555 Move jmx-based tests to dd-agent
  .travis.yml
  activemq/ci/activemq.rake
  cassandra/ci/cassandra.rake
  cassandra/ci/cassandra.yaml
  cassandra/ci/cassandra_2.0.17.yaml
  cassandra/ci/cassandra_2.1.14.yaml
  cassandra/ci/cassandra_2.2.10.yaml
  cassandra/ci/jmxremote.password
  cassandra/test_cassandra.py
  kafka/ci/kafka.rake
  kafka/ci/resources/docker-compose-single-broker.yml
  kafka/ci/resources/kafka.yaml
  kafka/test_kafka.py
  solr/ci/fixtures/solr.yaml
  solr/ci/solr.rake
  solr/test_solr.py
  tomcat/ci/tomcat.rake
  tomcat/ci/tomcat.yaml
  tomcat/test_tomcat.py
Labels: documentation/no-changelog

#1552 Adding consul.peers metric
  consul/metadata.csv
Labels: documentation

#1567 Improve tooling around github
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  tasks/changelog.py
Labels: documentation/no-changelog

#1568 Adding note for gitlab url CE
  gitlab/conf.yaml.example
Labels: documentation

#1572 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, no-changelog

#1571 [Fixed] Couchbase integration was not working during server set up
  couchbase/datadog_checks/couchbase/couchbase.py
  couchbase/tests/test_unit.py
Labels: integration/couchbase

#1574 Suppress InsecureRequestWarning for urllib3 for http_check
  http_check/datadog_checks/http_check/http_check.py
Labels: integration/http_check, kind/bug

#1202 [FIXED] Ensure base url path isn't removed when admin_forwarder is used
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/test_elastic.py
  elastic/tox.ini
Labels: integration/elastic, kind/enhancement

#1359 [docs] Refactoring
  README.md
  docs/README.md
  docs/dev/README.md
  docs/dev/legacy.md
  docs/dev/new_check_howto.md
  docs/dev/python.md
  docs/index.md
  docs/proposals/checks_as_wheels.md
  requirements-dev.txt
Labels: changelog/no-changelog, documentation

#1579 Use labels to compile the changelog
  CONTRIBUTING.md
  tasks/changelog.py
Labels: changelog/no-changelog, dev/tooling

#1526 Include consul_datacenter tag in service checks
  consul/CHANGELOG.md
  consul/datadog_checks/consul/consul.py
  consul/tests/test_integration.py
Labels: changelog/Added, community, integration/consul

#1548 Ensure marathon queue count reports 0 for apps not in queue
  marathon/datadog_checks/marathon/marathon.py
  marathon/tests/test_marathon.py
Labels: changelog/Fixed, integration/marathon

#1585 update display name
  windows_service/manifest.json
Labels: changelog/no-changelog, integration/windows_service

#1586 remove pytest-runner from setup_requires
  active_directory/setup.py
  apache/setup.py
  aspdotnet/setup.py
  btrfs/setup.py
  ceph/setup.py
  consul/setup.py
  couch/setup.py
  couchbase/setup.py
  datadog_checks_base/setup.py
  datadog_checks_tests_helper/setup.py
  directory/setup.py
  disk/setup.py
  dotnetclr/setup.py
  elastic/setup.py
  envoy/setup.py
  exchange_server/setup.py
  haproxy/setup.py
  iis/setup.py
  istio/setup.py
  kafka_consumer/setup.py
  kube_proxy/setup.py
  kubelet/setup.py
  kyototycoon/setup.py
  lighttpd/setup.py
  linkerd/setup.py
  mcache/setup.py
  mysql/setup.py
  network/setup.py
  nfsstat/setup.py
  nginx/setup.py
  pdh_check/setup.py
  postgres/setup.py
  powerdns_recursor/setup.py
  prometheus/setup.py
  redisdb/setup.py
  riak/setup.py
  spark/setup.py
  ssh_check/setup.py
  system_core/setup.py
  teamcity/setup.py
  varnish/setup.py
  vsphere/setup.py
Labels: changelog/no-changelog, dev/tooling, kind/bug

#1549 Convert port to a string before calling get_subprocess_output
  cassandra_nodetool/datadog_checks/cassandra_nodetool/cassandra_nodetool.py
  cassandra_nodetool/test/test_cassandra_nodetool.py
Labels: changelog/Fixed, community, integration/cassandra_nodetool

#1445 Add tile for fargate
  ecs_fargate/CHANGELOG.md
  ecs_fargate/README.md
  ecs_fargate/logos/avatars-bot.png
  ecs_fargate/logos/saas_logos-bot.png
  ecs_fargate/logos/saas_logos-small.png
  ecs_fargate/manifest.json
Labels: changelog/no-changelog, integration/ecs_fargate

#1588 fix tomcat auto_conf.yaml
  tomcat/auto_conf.yaml
Labels: changelog/no-changelog

#1592 Downgrade kafka-python to 1.3.4 to prevent DNS spikes when broker doesn't exist
  kafka_consumer/requirements.in
  kafka_consumer/requirements.txt
Labels: changelog/Changed, integration/kafka_consumer

#1551 Add monotonic counts for some metrics
  network/conf.yaml.default
  network/datadog_checks/network/network.py
  network/metadata.csv
Labels: changelog/Added, community, integration/network

#1597 [skip ci] fix some small mysql doc nits
  mysql/README.md
Labels: changelog/no-changelog

#1599 fix appveyor by deduplicating deps and updating virtualenv
  appveyor.yml
  datadog_checks_base/requirements-dev.txt
  datadog_checks_base/tests/requirements.txt
  datadog_checks_base/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_base

#1591 Update Mesos integration with Log Collection instruction
  mesos_master/README.md
  mesos_master/manifest.json
Labels: documentation

#1603 Fix parsing of requirements file so that `dnspython` is listed as a req
  dns_check/setup.py
Labels: changelog/Fixed, integration/dns_check, kind/bug

#1598 Istio tile
  istio/README.md
  istio/logos/avatars-bot.png
  istio/logos/saas_logos-bot.png
  istio/logos/saas_logos-small.png
  istio/manifest.json
Labels: changelog/no-changelog

#1276 Added support for unscoped access, implemented caching mechanism to reduce API calls to Nova
  openstack/conf.yaml.example
  openstack/datadog_checks/openstack/__init__.py
  openstack/datadog_checks/openstack/openstack.py
  openstack/manifest.json
  openstack/test/test_openstack.py
Labels: changelog/Added, integration/openstack, kind/feature

#1607 Fix Istio metadata
  istio/metadata.csv
Labels: changelog/no-changelog, integration/istio

#1538 Update psycopg2 for security fixes
  pgbouncer/requirements.in
  pgbouncer/requirements.txt
  postgres/requirements.in
  postgres/requirements.txt
Labels: changelog/Security, integration/pgbouncer, integration/postgres

#1608 Fixing small layout issue
  kafka/README.md
  kafka_consumer/README.md
Labels: changelog/no-changelog, documentation

#1609 Adding missing metrics
  kubelet/metadata.csv
Labels: changelog/no-changelog, documentation, integration/kubelet

#1610 Updating prometheus Readme to match style guide
  prometheus/README.md
Labels: changelog/no-changelog, documentation

#1595 pushing doc metadata to enforce consistency
  docs/dev/README.md
  docs/dev/legacy.md
  docs/dev/new_check_howto.md
  docs/dev/python.md
Labels: changelog/no-changelog, documentation

#1611 Clarify that we only check the ssl validation by default on one code …
  http_check/README.md
Labels: changelog/no-changelog, documentation, integration/http_check

#1613 Fix yaml sintax in examples and README
  rabbitmq/README.md
  rabbitmq/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/rabbitmq

#1619 [no ci] fix minor documentation nits
  docs/dev/README.md
  docs/dev/legacy.md
Labels: changelog/no-changelog, documentation

#1587 Fixing metrics desc
  etcd/metadata.csv
Labels: changelog/no-changelog, documentation, integration/etcd

#1590 Remove deprecated metric metadata
  active_directory/metadata.csv
Labels: changelog/no-changelog, documentation, integration/active_directory

#1617 fixes AttributeError when running on 6.2.1
  http_check/datadog_checks/http_check/http_check.py
Labels: changelog/Fixed, integration/http_check

#1625 fix setup.py
  hdfs_namenode/setup.py
Labels: changelog/no-changelog, integration/hdfs_namenode

#1627 [kafka_consumer] Bump to kafka-python 1.4.3
  kafka_consumer/requirements.in
  kafka_consumer/requirements.txt
Labels: changelog/Fixed, integration/kafka_consumer

#1547 Increase the timeout in the containers
  mysql/tests/compose/maria.yaml
  mysql/tests/compose/mysql.yaml
  mysql/tests/conftest.py
Labels: changelog/no-changelog, dev/testing, integration/mysql

#1622 move new-style tests to Travis
  .travis.yml
  .travis/prepare.sh
Labels: changelog/no-changelog, dev/testing

#1636 Stop using gitlab's CI
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#1637 add missing check
  .travis.yml
Labels: changelog/no-changelog, dev/testing

#1616 support histograms, fix count submission
  envoy/conf.yaml.example
  envoy/datadog_checks/envoy/envoy.py
  envoy/datadog_checks/envoy/metrics.py
  envoy/datadog_checks/envoy/parser.py
  envoy/metadata.csv
  envoy/tests/test_parser.py
Labels: changelog/Added, integration/envoy, kind/feature

#1635 Update HAProxy tile to new format with new image
  haproxy/README.md
  haproxy/images/haproxy-dash.png
  haproxy/logos/avatars-bot.png
  haproxy/logos/saas_logos-bot.png
  haproxy/logos/saas_logos-small.png
  haproxy/manifest.json
Labels: changelog/no-changelog, documentation, integration/haproxy

#1632 Oracle resolve metadata.csv issues
  oracle/README.md
  oracle/metadata.csv
Labels: changelog/no-changelog, documentation, integration/oracle

#1605 Submit `n_purges` metric as rate
  varnish/datadog_checks/varnish/varnish.py
  varnish/metadata.csv
  varnish/tests/common.py
Labels: changelog/Fixed, integration/varnish

#1612 Register Couchbase as an integration that can emit events
  couchbase/README.md
  couchbase/logos/avatars-bot.png
  couchbase/logos/saas_logos-bot.png
  couchbase/logos/saas_logos-small.png
  couchbase/manifest.json
Labels: changelog/no-changelog, integration/couchbase

#1620 Fix error while fetching mysql pid from psutil
  .travis.yml
  mysql/datadog_checks/mysql/mysql.py
  mysql/requirements-dev.txt
  mysql/tests/common.py
  mysql/tests/compose/mariadb.yaml
  mysql/tests/compose/mysql.yaml
  mysql/tests/compose/run_some_queries.sh
  mysql/tests/compose/setup_mysql.sh
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
  mysql/tox.ini
Labels: changelog/Fixed, integration/mysql

#1639 fix replication data extraction
  mysql/datadog_checks/mysql/mysql.py
Labels: changelog/Fixed, integration/mysql

#1618 Update MIB instruction for SNMP
  snmp/README.md
Labels: changelog/no-changelog, documentation

#1606 Only calculate filesystem usage when capacity is greater than 0
  kubernetes/datadog_checks/kubernetes/kubernetes.py
Labels: changelog/Fixed, community, integration/kubernetes

#1640 More tasks for the release process, layout refactoring
  .travis.yml
  requirements-dev.txt
  tasks/__init__.py
  tasks/changelog.py
  tasks/constants.py
  tasks/release.py
  tasks/utils/__init__.py
  tasks/utils/common.py
  tasks/utils/git.py
  tasks/utils/github.py
Labels: dev/tooling

#1641 Bumped version to 1.2.1
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
Labels: changelog/no-changelog, integration/mysql

#1544 [tuf] adding json keys + config
  .public-tuf-config.json
  .tuf-root.json
Labels: dev/tooling
