Repository DataDog/integrations-core, pull requests merged in 2018-06, with the labels that each got.

#1642 Better docs and task names
  tasks/__init__.py
  tasks/release.py
  tasks/utils/git.py
Labels: changelog/no-changelog, dev/tooling

#1645 Add integration requirements file
  requirements-integration-core.txt
Labels: changelog/no-changelog, dev/tooling, documentation

#1643 Fix bug parsing squid metrics
  squid/datadog_checks/squid/squid.py
Labels: changelog/Fixed, community, integration/squid, kind/bug

#1646 Add a test for #1643, small cosmetics for tests
  squid/tests/common.py
  squid/tests/conftest.py
  squid/tests/test_unit.py
  squid/tox.ini
Labels: changelog/no-changelog, integration/squid

#1650 Add table to root README for versions of each integration per Agent
  README.md
Labels: changelog/no-changelog, documentation

#1633 Fix port detection when /etc/service is missing from host
  ntp/MANIFEST.in
  ntp/datadog_checks/__init__.py
  ntp/datadog_checks/ntp/__about__.py
  ntp/datadog_checks/ntp/__init__.py
  ntp/datadog_checks/ntp/ntp.py
  ntp/manifest.json
  ntp/requirements-dev.txt
  ntp/setup.py
  ntp/test/ci/ntp.rake
  ntp/test/test_ntp.py
  ntp/tests/__init__.py
  ntp/tests/test_ntp.py
  ntp/tox.ini
Labels: changelog/Fixed, integration/ntp

#1654 add benchmarks
  envoy/requirements-dev.txt
  envoy/tests/test_bench.py
  envoy/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/envoy

#1630 [docs] general clean-up before importing into official docs
  docs/dev/README.md
  docs/dev/legacy.md
  docs/dev/new_check_howto.md
  docs/dev/python.md
Labels: changelog/no-changelog, documentation

#1656 Adding code owners
  .github/CODEOWNERS
Labels: changelog/no-changelog, dev/tooling

#1658 Bumped haproxy version to 1.3.0
  haproxy/CHANGELOG.md
Labels: changelog/no-changelog, integration/haproxy

#1659 Fix markdown in changelog task
  tasks/changelog.py
Labels: changelog/no-changelog, dev/tooling

#1660 Bumped kafka_consumer version to 1.4.0
  kafka_consumer/CHANGELOG.md
Labels: changelog/no-changelog, integration/kafka_consumer

#1661 Bumped nginx version to 2.2.0
  nginx/CHANGELOG.md
Labels: changelog/no-changelog

#1559 Metric for unallocated bytes
  btrfs/datadog_checks/btrfs/btrfs.py
  btrfs/metadata.csv
  btrfs/tests/test_btrfs.py
Labels: changelog/Added, integration/btrfs

#1570 Support for RAID 5 and 6 and GlobalReserve types
  btrfs/datadog_checks/btrfs/btrfs.py
Labels: changelog/Added, integration/btrfs

#1649 Allow users to specify scheme in server URLs
  teamcity/conf.yaml.example
  teamcity/datadog_checks/teamcity/teamcity.py
  teamcity/tests/test_teamcity.py
  teamcity/tests/test_unit.py
  teamcity/tox.ini
Labels: changelog/Added, integration/teamcity, kind/feature

#1662 Align version number
  powerdns_recursor/datadog_checks/powerdns_recursor/__about__.py
  spark/datadog_checks/spark/__about__.py
  system_core/datadog_checks/system_core/__about__.py
Labels: changelog/no-changelog, integration/powerdns_recursor, integration/spark, integration/system_core

#1663 Add task to print the list of checks that can be released
  tasks/__init__.py
  tasks/release.py
Labels: changelog/no-changelog, dev/tooling

#1665 Prevent packaging non-existent "autoconf.yaml"
  hdfs_datanode/setup.py
  hdfs_namenode/setup.py
  http_check/setup.py
Labels: changelog/no-changelog, integration/hdfs_datanode, integration/hdfs_namenode, integration/http_check

#1664 Package `auto_conf.yaml` for appropriate integrations
  apache/setup.py
  consul/setup.py
  couch/setup.py
  couchbase/setup.py
  elastic/setup.py
  etcd/setup.py
  kube_dns/setup.py
  kube_proxy/setup.py
  kubernetes_state/setup.py
  kyototycoon/setup.py
  mcache/setup.py
  redisdb/setup.py
  riak/setup.py
Labels: changelog/Added, integration/apache, integration/consul, integration/couch, integration/couchbase, integration/elastic, integration/etcd, integration/kube_dns, integration/kube_proxy, integration/kubernetes_state, integration/kyototycoon, integration/mcache, integration/redisdb, integration/riak

#1672 Add EKS Tile
  amazon_eks/README.md
  amazon_eks/images/eks_screenboard.png
  amazon_eks/logos/avatar-bot.png
  amazon_eks/logos/saas_logos-bot.png
  amazon_eks/logos/saas_logos-small.png
  amazon_eks/manifest.json
Labels: changelog/no-changelog, integration/eks

#1676 Update markdown links for eks tile
  amazon_eks/README.md
Labels: changelog/no-changelog, integration/eks

#1668 Add a config option to disable connection cache
  redisdb/conf.yaml.example
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/tests/test_unit.py
Labels: changelog/Added, integration/redisdb

#1681 Rename requirements file and update it during release prepare
  requirements-agent-release.txt
  tasks/release.py
  tasks/utils/git.py
  tasks/utils/requirements.py
Labels: changelog/no-changelog, dev/tooling

#1682 Bumped redisdb version to 1.6.0
  redisdb/CHANGELOG.md
  redisdb/datadog_checks/redisdb/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/redisdb

#1683 fixed requirements file name
  README.md
Labels: documentation

#1674 Add support for HTTP authentication
  hdfs_datanode/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/hdfs_datanode.py
  hdfs_datanode/tests/common.py
  hdfs_datanode/tests/conftest.py
  hdfs_datanode/tests/test_hdfs_datanode.py
Labels: changelog/Added, integration/hdfs_datanode, kind/feature

#1677 Add support for HTTP authentication
  hdfs_namenode/conf.yaml.example
  hdfs_namenode/datadog_checks/hdfs_namenode/hdfs_namenode.py
  hdfs_namenode/tests/common.py
  hdfs_namenode/tests/conftest.py
  hdfs_namenode/tests/test_hdfs_namenode.py
Labels: changelog/Added, integration/hdfs_namenode, kind/feature

#1680 Add support for HTTP authentication
  spark/conf.yaml.example
  spark/datadog_checks/spark/spark.py
  spark/tests/test_spark.py
  spark/tox.ini
Labels: changelog/Added, integration/spark, kind/feature

#1688 Manually realign the changelog for 2.1.0 release
  http_check/CHANGELOG.md
Labels: changelog/no-changelog, integration/http_check

#1690 Bumped openstack version to 1.3.0
  openstack/CHANGELOG.md
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/openstack

#1669 Changes for the declarative tile
  linkerd/README.md
  linkerd/logos/avatars-bot.png
  linkerd/logos/saas_logos-bot.png
  linkerd/logos/saas_logos-small.png
  linkerd/manifest.json
  linkerd/metadata.csv
Labels: changelog/no-changelog, integration/linkerd

#1691 [docs] remove frontmatter params from eks
  amazon_eks/README.md
Labels: changelog/no-changelog, documentation

#1452 Fix function metrics tagging issue for no-args functions
  postgres/datadog_checks/postgres/postgres.py
Labels: changelog/Fixed, community, integration/postgres

#1694 Remove tox.ini at the root of the repo
  tox.ini
Labels: changelog/no-changelog, dev/testing

#1695 Make tests work with docker for Mac
  postgres/tests/compose/resources/02_datadog_test.psql
  postgres/tests/compose/resources/02_load_data.sh
  postgres/tests/compose/resources/03_dogs.psql
Labels: changelog/no-changelog, integration/postgres

#1698 Bumped apache version to 1.3.0
  apache/CHANGELOG.md
  apache/datadog_checks/apache/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/apache

#1700 Release a hanful of integrations by bumping changelogs
  mcache/CHANGELOG.md
  mcache/datadog_checks/mcache/__about__.py
  network/CHANGELOG.md
  network/datadog_checks/network/__about__.py
  oracle/CHANGELOG.md
  oracle/datadog_checks/oracle/__about__.py
  pgbouncer/CHANGELOG.md
  pgbouncer/datadog_checks/pgbouncer/__about__.py
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  riak/CHANGELOG.md
  riak/datadog_checks/riak/__about__.py
  spark/CHANGELOG.md
  spark/datadog_checks/spark/__about__.py
  squid/CHANGELOG.md
  squid/datadog_checks/squid/__about__.py
  teamcity/CHANGELOG.md
  teamcity/datadog_checks/teamcity/__about__.py
Labels: changelog/no-changelog, documentation

#1704 Release hdfs_datanode, hdfs_namenode, istio, kube_proxy, kubelet, kyototycoon, linkerd, marathon and cisco
  cisco_aci/CHANGELOG.md
  hdfs_datanode/CHANGELOG.md
  hdfs_datanode/datadog_checks/hdfs_datanode/__about__.py
  hdfs_namenode/CHANGELOG.md
  hdfs_namenode/datadog_checks/hdfs_namenode/__about__.py
  istio/CHANGELOG.md
  istio/datadog_checks/istio/__about__.py
  kube_proxy/CHANGELOG.md
  kube_proxy/datadog_checks/kube_proxy/__about__.py
  kubelet/CHANGELOG.md
  kubelet/datadog_checks/kubelet/__about__.py
  kyototycoon/CHANGELOG.md
  kyototycoon/datadog_checks/kyototycoon/__about__.py
  linkerd/CHANGELOG.md
  linkerd/datadog_checks/linkerd/__about__.py
  marathon/CHANGELOG.md
  marathon/datadog_checks/marathon/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog

#1705 fix marathon changelog
  marathon/CHANGELOG.md
Labels: changelog/no-changelog

#1706 fix task - only git push current tag
  tasks/utils/git.py
Labels: dev/tooling

#1709 Clean up setup.py and fix packaging issues
  activemq_xml/setup.py
  agent_metrics/setup.py
  cacti/setup.py
  cassandra_nodetool/setup.py
  dns_check/setup.py
  docker_daemon/setup.py
  ecs_fargate/setup.py
  etcd/setup.py
  fluentd/setup.py
  gearmand/setup.py
  gitlab/setup.py
  gitlab_runner/setup.py
  go_expvar/setup.py
  gunicorn/setup.py
  kong/setup.py
  kube_dns/setup.py
  kubernetes/setup.py
  kubernetes_state/setup.py
  linux_proc_extras/setup.py
  mapreduce/setup.py
  mesos_master/setup.py
  mesos_slave/setup.py
  mongo/setup.py
  nagios/setup.py
  php_fpm/setup.py
  postfix/setup.py
  process/setup.py
  rabbitmq/setup.py
  riakcs/setup.py
  snmp/setup.py
  sqlserver/setup.py
  statsd/setup.py
  supervisord/setup.py
  system_swap/setup.py
  tcp_check/setup.py
  tokumx/setup.py
  twemproxy/setup.py
  win32_event_log/setup.py
  windows_service/setup.py
  wmi_check/setup.py
  yarn/setup.py
  zk/setup.py
Labels: changelog/no-changelog

#1710 Fix update_requirement and requirements-agent-release.txt
  requirements-agent-release.txt
  tasks/utils/requirements.py
Labels: changelog/no-changelog, dev/tooling

#1686 Fix prom cadvisor metrics handling
  datadog_checks_base/datadog_checks/checks/prometheus/mixins.py
  kubelet/datadog_checks/kubelet/prometheus.py
  kubelet/tests/test_kubelet.py
Labels: changelog/no-changelog, containers, integration/kubelet, kind/bug

#1697 Use kubelet credentials in prometheus scrapers
  kubelet/datadog_checks/kubelet/__init__.py
  kubelet/datadog_checks/kubelet/common.py
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/test_common.py
  kubelet/tests/test_kubelet.py
Labels: changelog/no-changelog, integration/kubelet

#1648 Kubelet check: better encapsulate the pod list retrieval
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/fixtures/pod_list_raw.dat
  kubelet/tests/fixtures/pod_list_raw.json
  kubelet/tests/test_kubelet.py
Labels: changelog/Changed, containers, integration/kubelet, kind/enhancement

#1713 Make the max custom queries configurable in the yaml file
  mysql/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
Labels: changelog/Added, integration/mysql

#1715 fix tests
  cisco_aci/requirements.txt
Labels: changelog/no-changelog, integration/cisco_aci

#1716 Release remaining checks for the 6.3 release
  kubelet/CHANGELOG.md
  kubelet/datadog_checks/kubelet/__about__.py
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
  yarn/CHANGELOG.md
  yarn/datadog_checks/yarn/__about__.py
Labels: changelog/no-changelog

#1714 make each jmx check a package
  activemq/datadog_checks/__init__.py
  activemq/datadog_checks/activemq/__about__.py
  activemq/datadog_checks/activemq/__init__.py
  activemq/manifest.json
  activemq/setup.py
  cassandra/datadog_checks/__init__.py
  cassandra/datadog_checks/cassandra/__about__.py
  cassandra/datadog_checks/cassandra/__init__.py
  cassandra/manifest.json
  cassandra/setup.py
  kafka/datadog_checks/__init__.py
  kafka/datadog_checks/kafka/__about__.py
  kafka/datadog_checks/kafka/__init__.py
  kafka/manifest.json
  kafka/setup.py
  solr/datadog_checks/__init__.py
  solr/datadog_checks/solr/__about__.py
  solr/datadog_checks/solr/__init__.py
  solr/manifest.json
  solr/setup.py
  tomcat/datadog_checks/__init__.py
  tomcat/datadog_checks/tomcat/__about__.py
  tomcat/datadog_checks/tomcat/__init__.py
  tomcat/manifest.json
  tomcat/setup.py
Labels: changelog/no-changelog, integration/activemq, integration/cassandra, integration/kafka, integration/solr, integration/tomcat

#1717 Add missing tests to Travis
  .travis.yml
Labels: changelog/no-changelog, dev/testing

#1720 [Doc] fixing broken links
  docs/dev/legacy.md
  envoy/README.md
  redisdb/README.md
  wmi_check/README.md
Labels: changelog/no-changelog, documentation

#1696 Move activemq_xml to pytest
  .travis.yml
  activemq_xml/MANIFEST.in
  activemq_xml/README.md
  activemq_xml/datadog_checks/__init__.py
  activemq_xml/datadog_checks/activemq_xml/__about__.py
  activemq_xml/datadog_checks/activemq_xml/__init__.py
  activemq_xml/datadog_checks/activemq_xml/activemq_xml.py
  activemq_xml/requirements-dev.txt
  activemq_xml/setup.py
  activemq_xml/test/ci/activemq_xml.rake
  activemq_xml/test/test_activemq_xml.py
  activemq_xml/tests/__init__.py
  activemq_xml/tests/common.py
  activemq_xml/tests/compose/docker-compose.yaml
  activemq_xml/tests/conftest.py
  activemq_xml/tests/fixtures/apache-activemq-kahadb.tar.gz
  activemq_xml/tests/test_activemq_xml.py
  activemq_xml/tox.ini
  tasks/constants.py
Labels: changelog/no-changelog, integration/activemq_xml

#1596 Set requests stream option to false when scraping Prometheus endpoints
  datadog_checks_base/datadog_checks/checks/prometheus/mixins.py
Labels: changelog/Changed, integration/datadog_checks_base

#1702 Port gitlab to pytest
  .travis.yml
  gitlab/MANIFEST.in
  gitlab/datadog_checks/gitlab/gitlab.py
  gitlab/requirements-dev.txt
  gitlab/test/ci/gitlab.rake
  gitlab/test/ci/resources/docker-compose.yml
  gitlab/test/test_gitlab.py
  gitlab/tests/__init__.py
  gitlab/tests/common.py
  gitlab/tests/compose/config/gitlab.rb
  gitlab/tests/compose/docker-compose.yml
  gitlab/tests/conftest.py
  gitlab/tests/test_gitlab.py
  gitlab/tox.ini
  tasks/constants.py
Labels: changelog/no-changelog, integration/gitlab

#1699 Add Log Collection instructions to EKS integration
  amazon_eks/README.md
  amazon_eks/manifest.json
Labels: documentation

#1703 Port gitlab_runner to pytest
  gitlab_runner/MANIFEST.in
  gitlab_runner/datadog_checks/gitlab_runner/gitlab_runner.py
  gitlab_runner/requirements-dev.txt
  gitlab_runner/test/ci/gitlab_runner.rake
  gitlab_runner/test/ci/resources/docker-compose.yml
  gitlab_runner/test/test_gitlab_runner.py
  gitlab_runner/tests/__init__.py
  gitlab_runner/tests/common.py
  gitlab_runner/tests/compose/docker-compose.yml
  gitlab_runner/tests/compose/support/wait_for_master.sh
  gitlab_runner/tests/conftest.py
  gitlab_runner/tests/test_gitlab_runner.py
  gitlab_runner/tox.ini
  tasks/constants.py
Labels: changelog/no-changelog, integration/gitlab_runner

#1722 Adding link to dedicated blog article
  amazon_eks/README.md
Labels: changelog/no-changelog, documentation

#1718 Check will now send data with PUT, DELETE, and PATCH methods--not just POST
  http_check/conf.yaml.example
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/common.py
  http_check/tests/test_http_check.py
Labels: changelog/Fixed, integration/http_check

#1679 support object_name metric identifiers
  sqlserver/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: changelog/Added, integration/sqlserver

#1724 Skip tests for documentation-only changes
  tasks/constants.py
  tasks/test.py
Labels: changelog/no-changelog, dev/testing

#1725 Adding blog link in further Reading section
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#1687 Updating Oracle logos
  oracle/logos/avatars-bot.png
  oracle/logos/saas_logos-bot.png
  oracle/logos/saas_logos-small.png
Labels: changelog/no-changelog, integration/oracle

#1728 README is incorrect and repetitive
  nagios/README.md
Labels: changelog/no-changelog, documentation, integration/nagios

#1593 Add Couchbase health and cluster membership service checks and alerts
  couchbase/README.md
  couchbase/datadog_checks/couchbase/couchbase.py
  couchbase/service_checks.json
  couchbase/tests/common.py
  couchbase/tests/conftest.py
  couchbase/tests/test_couchbase.py
  couchbase/tox.ini
Labels: changelog/Added, integration/couchbase

#1731 Move tests to pytest
  .travis.yml
  kubernetes_state/MANIFEST.in
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/requirements-dev.txt
  kubernetes_state/test/ci/kubernetes_state.rake
  kubernetes_state/test/test_kubernetes_state.py
  kubernetes_state/tests/__init__.py
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/fixtures/protobuf.bin
  kubernetes_state/tests/test_kubernetes_state.py
  kubernetes_state/tox.ini
  tasks/constants.py
Labels: changelog/no-changelog, integration/kubernetes_state

#1732 Add code ownership for the Container Monitoring Team
  .github/CODEOWNERS
Labels: dev/tooling

#1734 upgrade requests dependency
  datadog_checks_base/requirements.in
  datadog_checks_base/requirements.txt
  tasks/upgrade.py
Labels: changelog/Fixed, integration/datadog_checks_base

#1735 Bumped datadog_checks_base version to 1.3.1
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#1738 pin Mock version
  kubernetes_state/requirements-dev.txt
Labels: changelog/no-changelog, dev/testing, integration/kubernetes_state

#1741 properly send tags for histograms
  envoy/datadog_checks/envoy/envoy.py
Labels: changelog/Fixed, integration/envoy

#1743 fix pins
  datadog_checks_base/requirements.in
  datadog_checks_base/requirements.txt
  ssh_check/requirements.in
  ssh_check/requirements.txt
  vsphere/requirements.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/ssh_check, integration/vsphere

#1746 Maxim.brown/oracle logo
  oracle/logos/avatars-bot.png
  oracle/logos/saas_logos-bot.png
  oracle/logos/saas_logos-small.png
Labels: changelog/no-changelog, integration/oracle

#1747 ensure consistent Black settings
  pyproject.toml
Labels: dev/tooling

#1749 fix ensure current branch is not master
  tasks/utils/git.py
Labels: changelog/no-changelog, dev/tooling

#1750 Bumped datadog_checks_base version to 1.3.2
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#1745 Fix error message when TCP check fails
  tcp_check/datadog_checks/tcp_check/tcp_check.py
Labels: changelog/Fixed, community, integration/tcp_check

#1751 Fix name of ssl options in example file
  prometheus/conf.yaml.example
Labels: changelog/no-changelog, integration/prometheus

#1755 Fix connection to unix socket for new binary
  mcache/datadog_checks/mcache/mcache.py
Labels: changelog/Fixed, integration/mcache

#1758 remove circle.yml
  circle.yml
Labels: changelog/no-changelog

#1493 Moves kong to pytest
  .travis.yml
  kong/MANIFEST.in
  kong/datadog_checks/kong/kong.py
  kong/requirements-dev.txt
  kong/setup.py
  kong/test/ci/kong.rake
  kong/test/ci/nginx.conf.template
  kong/test/test_kong.py
  kong/tests/__init__.py
  kong/tests/compose/README.md
  kong/tests/compose/docker-compose.yml
  kong/tests/compose/kong_0.13.0/Dockerfile
  kong/tests/compose/kong_0.13.0/containerpilot.json
  kong/tests/compose/nginx/Dockerfile
  kong/tests/compose/nginx/containerpilot.json
  kong/tests/compose/nginx/nginx.conf
  kong/tests/compose/nginx/nginx.conf.ctmpl
  kong/tests/compose/nginx/reload-nginx.sh
  kong/tests/test_kong.py
  kong/tox.ini
  tasks/constants.py
Labels: changelog/no-changelog, integration/kong

#1759 add Vault integration
  .travis.yml
  tasks/constants.py
  vault/CHANGELOG.md
  vault/MANIFEST.in
  vault/README.md
  vault/conf.yaml.example
  vault/datadog_checks/__init__.py
  vault/datadog_checks/vault/__about__.py
  vault/datadog_checks/vault/__init__.py
  vault/datadog_checks/vault/errors.py
  vault/datadog_checks/vault/vault.py
  vault/manifest.json
  vault/metadata.csv
  vault/requirements-dev.txt
  vault/requirements.in
  vault/requirements.txt
  vault/setup.py
  vault/tests/__init__.py
  vault/tests/common.py
  vault/tests/conftest.py
  vault/tests/docker/docker-compose.yaml
  vault/tests/test_bench.py
  vault/tests/test_vault.py
  vault/tox.ini
Labels: changelog/Added, integration/vault, kind/new-check

#1740 Release final missing integrations, add to constants, update print-shippable
  .github/CODEOWNERS
  cassandra_nodetool/CHANGELOG.md
  cassandra_nodetool/datadog_checks/cassandra_nodetool/__about__.py
  datadog_checks_tests_helper/datadog_test_libs/win/pdh_mocks.py
  dns_check/CHANGELOG.md
  dns_check/datadog_checks/dns_check/__about__.py
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  etcd/CHANGELOG.md
  etcd/datadog_checks/etcd/__about__.py
  kube_dns/CHANGELOG.md
  kube_dns/datadog_checks/kube_dns/__about__.py
  kubelet/CHANGELOG.md
  kubelet/datadog_checks/kubelet/__about__.py
  kubernetes_state/CHANGELOG.md
  kubernetes_state/datadog_checks/kubernetes_state/__about__.py
  mcache/CHANGELOG.md
  mcache/datadog_checks/mcache/__about__.py
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  mysql/CHANGELOG.md
  postfix/datadog_checks/postfix/__about__.py
  requirements-agent-release.txt
  supervisord/datadog_checks/supervisord/__about__.py
  tasks/constants.py
  tasks/release.py
  tasks/test.py
  tasks/utils/common.py
  tomcat/CHANGELOG.md
  yarn/CHANGELOG.md
Labels: changelog/no-changelog, dev/tooling

#1765 Bumped vault version to 1.0.0
  vault/CHANGELOG.md
Labels: changelog/no-changelog, integration/vault

#1770 Bump postfix and supervisord
  postfix/CHANGELOG.md
  postfix/datadog_checks/postfix/__about__.py
  requirements-agent-release.txt
  supervisord/CHANGELOG.md
  supervisord/datadog_checks/supervisord/__about__.py
Labels: changelog/no-changelog, integration/postfix, integration/supervisord

#1772 Print a warning when a PR doesn't have a changelog label attached
  tasks/release.py
Labels: changelog/no-changelog, dev/tooling

#1773 Bumped cacti version to 1.1.1
  cacti/CHANGELOG.md
  cacti/datadog_checks/cacti/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/cacti

#1771 Update readme with 6.3.0 integration releases list
  README.md
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/envoy

#1774 add [ci skip] to check bumps
  tasks/release.py
Labels: changelog/no-changelog, dev/tooling

#1775 [ci skip] Bumped vsphere version to 2.2.0
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere

#1776 [ci skip] Bumped tcp_check version to 2.0.1
  requirements-agent-release.txt
  tcp_check/CHANGELOG.md
  tcp_check/datadog_checks/tcp_check/__about__.py
Labels: changelog/no-changelog, integration/tcp_check

#1754 Add support client auth for http check cert expiration.
  http_check/datadog_checks/http_check/http_check.py
Labels: changelog/Fixed, integration/http_check

#1780 [ci skip] Bumped http_check version to 2.2.0
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/http_check

#1757 Port over dns_check tests to pytest
  .travis.yml
  datadog_checks_base/datadog_checks/stubs/aggregator.py
  dns_check/MANIFEST.in
  dns_check/datadog_checks/__init__.py
  dns_check/datadog_checks/dns_check/__init__.py
  dns_check/datadog_checks/dns_check/dns_check.py
  dns_check/requirements-dev.txt
  dns_check/setup.py
  dns_check/test/ci/dns_check.rake
  dns_check/test/test_dns_check.py
  dns_check/tests/__init__.py
  dns_check/tests/conftest.py
  dns_check/tests/mocks.py
  dns_check/tests/test_dns_check.py
  dns_check/tox.ini
Labels: changelog/no-changelog, integration/dns_check

#1783 Fix Link with for now doc organisation on logs
  fluentd/README.md
Labels: documentation

#1769 Remove link that is linking back to the same page
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#1785 Makes the Cisco Check more resilient
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/datadog_checks/cisco_aci/capacity.py
  cisco_aci/datadog_checks/cisco_aci/exceptions.py
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/datadog_checks/cisco_aci/tags.py
  cisco_aci/datadog_checks/cisco_aci/tenant.py
Labels: changelog/Fixed, integration/cisco_aci

#1788 [ci skip] Bumped cisco_aci version to 1.1.0
  cisco_aci/CHANGELOG.md
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  cisco_aci/installer.sh
  cisco_aci/just_install_cisco.sh
  cisco_aci/upload.sh
  requirements-agent-release.txt
Labels: changelog/no-changelog

#1784 Cacti port
  .travis.yml
  cacti/MANIFEST.in
  cacti/datadog_checks/cacti/cacti.py
  cacti/requirements-dev.txt
  cacti/setup.py
  cacti/test/ci/cacti.rake
  cacti/test/test_cacti.py
  cacti/tests/__init__.py
  cacti/tests/test_cacti.py
  cacti/tox.ini
Labels: changelog/no-changelog, integration/cacti

#1795 test pinned dep changes too
  tasks/constants.py
Labels: dev/testing, dev/tooling

#1794 Stale bot changes
  .github/stale.yml
Labels: changelog/no-changelog, dev/tooling

#1760 revamp dependency tooling
  .travis.yml
  tasks/__init__.py
  tasks/dep.py
  tasks/upgrade.py
  tasks/utils/common.py
Labels: dev/testing, dev/tooling

#1787 Fix mutable default params
  mapreduce/datadog_checks/mapreduce/mapreduce.py
Labels: changelog/no-changelog, integration/mapreduce

#1786 Fix mutable default params
  haproxy/datadog_checks/haproxy/haproxy.py
Labels: changelog/no-changelog, integration/haproxy

#1798 Fix mutable default params
  nagios/datadog_checks/nagios/nagios.py
  network/datadog_checks/network/network.py
  riak/datadog_checks/riak/riak.py
  snmp/datadog_checks/snmp/snmp.py
Labels: changelog/no-changelog, integration/nagios, integration/network, integration/riak, integration/snmp

#1799 Change mongodb.yaml to mongo.yaml
  mongo/README.md
Labels: changelog/no-changelog, documentation, integration/mongo

#1801 assign new req file, refactor dep tooling
  tasks/dep.py
Labels: changelog/no-changelog, dev/tooling

#1800 Add an option to disable hostname override
  kubernetes_state/datadog_checks/kubernetes_state/data/conf.yaml.example
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Added, integration/kubernetes_state

#1803 [ci skip] Bumped kubernetes_state version to 2.7.0
  kubernetes_state/CHANGELOG.md
  kubernetes_state/datadog_checks/kubernetes_state/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kubernetes_state

#1752 Port process check to pytest
  .travis.yml
  process/datadog_checks/process/process.py
  process/requirements-dev.txt
  process/test/test_process.py
  process/tests/__init__.py
  process/tests/ci/fixtures/test_pid_file
  process/tests/ci/process.rake
  process/tests/common.py
  process/tests/test_process.py
  process/tox.ini
  tasks/constants.py
Labels: changelog/no-changelog, integration/process

#1733 Moving inline links to reference link
  amazon_eks/README.md
  couchbase/README.md
  docker_daemon/README.md
  gitlab/README.md
  gitlab_runner/README.md
  haproxy/README.md
  istio/README.md
  linkerd/README.md
  oracle/README.md
Labels: changelog/no-changelog, documentation

#1806 Pin the same prometheus_client version as the base check
  prometheus/tests/requirements.txt
Labels: changelog/no-changelog, integration/prometheus

#1807 fix manifest.in, tox.ini
  process/MANIFEST.in
  process/tox.ini
Labels: changelog/no-changelog, integration/process

#1729 [Add] Add cpu.normalized_pct metric
  process/datadog_checks/process/data/conf.yaml.example
  process/datadog_checks/process/process.py
  process/metadata.csv
  process/tests/ci/fixtures/test_pid_file
  process/tests/ci/process.rake
  process/tests/test_process.py
Labels: changelog/Added, integration/process

#1653 tag normalization minor perf improvement
  datadog_checks_base/datadog_checks/checks/base.py
  datadog_checks_base/tests/test_agent_check.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#1809 fix readme links
  appveyor.yml
  couchbase/README.md
  elastic/README.md
  haproxy/README.md
  istio/README.md
  linkerd/README.md
  mysql/README.md
  oracle/README.md
Labels: changelog/no-changelog, documentation

#1808 Adding documentation of agent check flags for Elasticsearch
  elastic/README.md
Labels: documentation

#1792 Removing unnecessary and misleading kube_proxy auto_conf.yaml
  kube_proxy/datadog_checks/kube_proxy/data/auto_conf.yaml
Labels: changelog/Changed, containers, integration/kube_proxy, kind/bug, severity/minor

#1793 Port cassandra nodetools to pytest
  .travis.yml
  cassandra_nodetool/MANIFEST.in
  cassandra_nodetool/datadog_checks/__init__.py
  cassandra_nodetool/datadog_checks/cassandra_nodetool/__init__.py
  cassandra_nodetool/datadog_checks/cassandra_nodetool/cassandra_nodetool.py
  cassandra_nodetool/requirements-dev.txt
  cassandra_nodetool/setup.py
  cassandra_nodetool/test/ci/cassandra_nodetool.rake
  cassandra_nodetool/test/test_cassandra_nodetool.py
  cassandra_nodetool/tests/__init__.py
  cassandra_nodetool/tests/common.py
  cassandra_nodetool/tests/compose/docker-compose.yaml
  cassandra_nodetool/tests/compose/jmxremote.password
  cassandra_nodetool/tests/conftest.py
  cassandra_nodetool/tests/fixtures/nodetool_output
  cassandra_nodetool/tests/test_integration.py
  cassandra_nodetool/tests/test_unit.py
  cassandra_nodetool/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/cassandra_nodetool

#1811 Fixing metric_prefix attribute in manifest for envoy check
  envoy/manifest.json
Labels: changelog/no-changelog, integration/envoy

#1814 Fix bug and typo in DEFAULT_CLUSTER_NAME for YARN check
  mapreduce/datadog_checks/mapreduce/mapreduce.py
  yarn/datadog_checks/yarn/yarn.py
Labels: changelog/Fixed, integration/mapreduce, integration/yarn

#1817 add http_check testing in travis
  .travis.yml
Labels: dev/testing

#1797 Add a tile for the squid integration
  squid/logos/avatars-bot.png
  squid/logos/saas_logos-bot.png
  squid/logos/saas_logos-small.png
  squid/manifest.json
Labels: changelog/no-changelog, integration/squid

#1753 Add channel tag to replica metrics
  mysql/datadog_checks/mysql/mysql.py
Labels: changelog/Added, integration/mysql

#1819 Fix Squid README
  squid/README.md
  squid/metadata.csv
Labels: changelog/no-changelog, integration/squid

#1827 add option to pin deps for certain checks
  tasks/dep.py
Labels: changelog/no-changelog, dev/tooling

#1815 Update win32_event_log default yaml with log instructions
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/win_32_event_log

#1761 Correcting duplicate metric name
  postgres/datadog_checks/postgres/postgres.py
  postgres/metadata.csv
  postgres/tests/compose/resources/02_load_data.sh
  postgres/tests/test_relations.py
Labels: changelog/Added, integration/postgres

#1762 Correcting duplicate metric name, add index_rows_fetched
  postgres/datadog_checks/postgres/postgres.py
  postgres/metadata.csv
  postgres/tests/test_relations.py
Labels: changelog/Added, integration/postgres

#1828 fix small doc errors; resolves DataDog/documentation#2695
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, documentation, severity/minor

#1739 Add option to verify ssl cert
  yarn/CHANGELOG.md
  yarn/datadog_checks/yarn/data/conf.yaml.example
  yarn/datadog_checks/yarn/yarn.py
  yarn/tests/common.py
  yarn/tests/conftest.py
  yarn/tests/test_yarn.py
Labels: changelog/Added, integration/yarn

#1826 Port tcp_check to pytest
  .travis.yml
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  tcp_check/requirements-dev.txt
  tcp_check/test/__init__.py
  tcp_check/test/test_tcp_check.py
  tcp_check/tests/__init__.py
  tcp_check/tests/ci/tcp_check.rake
  tcp_check/tests/test_tcp_check.py
  tcp_check/tox.ini
Labels: changelog/no-changelog, integration/tcp_check

#1812 support NTLM auth
  http_check/datadog_checks/http_check/data/conf.yaml.example
  http_check/datadog_checks/http_check/http_check.py
  http_check/requirements.in
  http_check/requirements.txt
  http_check/tests/test_http_check.py
Labels: changelog/Added, integration/http_check
