Repository DataDog/integrations-core, pull requests merged in 2018-11, with the labels that each got.

#2253 Updated kafka.producer.record_error_rate to gauge
  kafka/datadog_checks/kafka/data/conf.yaml.example
  kafka/datadog_checks/kafka/data/metrics.yaml
Labels: changelog/Fixed, do-not-merge/WIP, integration/kafka

#2502 Disable pytest output capturing when debugging
  datadog_checks_dev/datadog_checks/dev/tooling/test.py
Labels: changelog/Added, integration/datadog_checks_dev

#2503 Upgrade docker-compose and requests
  datadog_checks_dev/setup.py
Labels: changelog/Added, integration/datadog_checks_dev

#2501 Rework Postgres wait_for_healthy function
  postgres/tests/conftest.py
Labels: changelog/no-changelog, integration/postgres

#2507 Add standard ssl_verify option to Open Metrics
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
Labels: changelog/Added, integration/datadog_checks_base

#2472 Ignore SSL Warning for RabbitMQ Checks if explicitly requested to do so
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
Labels: changelog/Added, community, integration/rabbitmq

#2509 Send service check as metric
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  tcp_check/metadata.csv
  tcp_check/tests/ci/tcp_check.rake
  tcp_check/tests/test_tcp_check.py
Labels: changelog/Added, integration/tcp_check

#2506 Add support for ETCD v3 API, begin deprecation of ETCD < v3
  etcd/datadog_checks/etcd/data/conf.yaml.example
  etcd/datadog_checks/etcd/etcd.py
  etcd/datadog_checks/etcd/metrics.py
  etcd/metadata.csv
  etcd/tests/common.py
  etcd/tests/conftest.py
  etcd/tests/docker/docker-compose.yaml
  etcd/tests/test_etcd.py
  etcd/tests/utils.py
  etcd/tox.ini
Labels: changelog/Added, integration/etcd

#2510 adding aliases
  docs/dev/README.md
Labels: changelog/no-changelog, documentation

#2511 move exceptions into their own file
  openstack_controller/datadog_checks/openstack_controller/exceptions.py
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
Labels: changelog/no-changelog, integration/openstack_controller

#2512 extract retry logic from main logic
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/datadog_checks/openstack_controller/retry.py
  openstack_controller/datadog_checks/openstack_controller/utils.py
Labels: changelog/no-changelog, integration/openstack_controller

#2515 Read init_config directly to determine whether to Trace a check
  datadog_checks_base/datadog_checks/base/utils/tracing.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#2519 Add way to finalize pre-releases
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2514 Add option to send additional metric tags for Open Metrics
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
Labels: changelog/Added, integration/datadog_checks_base

#2467 Add fargate container agent setup instructions
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#2487 Fix metric listings for activemq / activemq_xml
  activemq/README.md
  activemq/metadata.csv
  activemq_xml/README.md
  activemq_xml/metadata.csv
Labels: changelog/no-changelog, integration/activemq, integration/activemq_xml

#2563 Don't send leader tag with health service check
  etcd/datadog_checks/etcd/etcd.py
  etcd/tests/test_etcd.py
Labels: changelog/no-changelog, integration/etcd

#2516 Support Kerberos auth
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/hdfs_datanode.py
  hdfs_datanode/requirements.in
  hdfs_datanode/requirements.txt
Labels: changelog/Added, integration/hdfs_datanode

#2564 [Release] Bumped etcd version to 1.6.0
  .links/LATEST
  .links/tag.c295cf63.link
  etcd/CHANGELOG.md
  etcd/datadog_checks/etcd/__about__.py
Labels: changelog/no-changelog, integration/etcd

#2565 Add option to prevent subprocess command logging
  datadog_checks_base/datadog_checks/base/utils/subprocess_output.py
Labels: changelog/Added, integration/datadog_checks_base

#2569 Don't log command
  cassandra_nodetool/datadog_checks/cassandra_nodetool/cassandra_nodetool.py
  cassandra_nodetool/tests/test_unit.py
  cassandra_nodetool/tox.ini
Labels: changelog/Fixed, integration/cassandra_nodetool

#2570 Fixed docs with the new base package layout
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/libs/thread_pool.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/base/utils/proxy.py
  docs/datadog_checks.checks.libs.rst
  docs/datadog_checks.checks.libs.vmware.rst
  docs/datadog_checks.checks.openmetrics.rst
  docs/datadog_checks.checks.prometheus.rst
  docs/datadog_checks.checks.rst
  docs/datadog_checks.checks.win.rst
  docs/datadog_checks.checks.win.wmi.rst
  docs/datadog_checks.rst
  docs/datadog_checks.stubs.rst
  docs/datadog_checks.utils.rst
Labels: changelog/no-changelog, documentation

#2571 Fix integration name
  cisco_aci/metadata.csv
  cisco_aci/service_checks.json
  powerdns_recursor/metadata.csv
  powerdns_recursor/service_checks.json
Labels: changelog/no-changelog, integration/cisco_aci, integration/powerdns_recursor

#2574 Correctly catch LDAP exception when failing to connect to server
  openldap/datadog_checks/openldap/openldap.py
  openldap/tests/test_check.py
Labels: changelog/Fixed, integration/openldap

#2513 Add tracing and pin checks_base
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/setup.py
Labels: changelog/Added, integration/openstack_controller

#2579 Add Python3 Support
  .travis.yml
  btrfs/datadog_checks/btrfs/btrfs.py
  btrfs/tox.ini
Labels: changelog/Added, integration/btrfs

#2580 Fix flake8 for openstack_controller
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
Labels: changelog/no-changelog, integration/openstack_controller

#2572 Collect age(datfrozenxid) to measure the distance to transaction wraparound
  postgres/datadog_checks/postgres/postgres.py
  postgres/metadata.csv
  postgres/tests/test_common.py
  postgres/tests/test_unit.py
Labels: changelog/Added, integration/postgres

#2578 Add dev package to docs
  docs/conf.py
  docs/datadog_checks.checks.libs.rst
  docs/datadog_checks.checks.libs.vmware.rst
  docs/datadog_checks.checks.openmetrics.rst
  docs/datadog_checks.checks.prometheus.rst
  docs/datadog_checks.checks.rst
  docs/datadog_checks.checks.win.rst
  docs/datadog_checks.checks.win.wmi.rst
  docs/datadog_checks.stubs.rst
  docs/datadog_checks.utils.rst
  docs/datadog_checks_base.rst
  docs/datadog_checks_dev.api.rst
  docs/datadog_checks_dev.cli.rst
  docs/datadog_checks_dev.rst
  docs/index.rst
  docs/requirements.txt
Labels: documentation

#2581 Update Postgres permissions instructions
  postgres/README.md
Labels: changelog/no-changelog, integration/postgres

#2583 Add Python3 Support
  .travis.yml
  activemq_xml/datadog_checks/activemq_xml/activemq_xml.py
  activemq_xml/tests/conftest.py
  activemq_xml/tox.ini
Labels: changelog/Added, integration/activemq_xml

#2584 Add ssl_verify option
  couchbase/datadog_checks/couchbase/couchbase.py
  couchbase/datadog_checks/couchbase/data/conf.yaml.example
Labels: changelog/Added, integration/couchbase

#2577 Introduce compatibility layer for `version` detection
  datadog_checks_base/datadog_checks/base/utils/headers.py
Labels: changelog/Fixed, integration/datadog_checks_base

#2588 [Release] Bumped couchbase version to 1.6.0
  .links/tag.c295cf63.link
  couchbase/CHANGELOG.md
  couchbase/datadog_checks/couchbase/__about__.py
Labels: changelog/no-changelog, integration/couchbase

#2591 Support keytab files for kerberos
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/hdfs_datanode.py
Labels: changelog/Added, integration/hdfs_datanode

#2587 Failure to reconnect to PGBouncer when using database URL
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
Labels: changelog/Fixed, community, integration/pgbouncer

#2585 Document extra_headers option for openmetrics
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/openmetrics

#2592 [Release] Bumped hdfs_datanode version to 1.5.0
  .links/tag.c295cf63.link
  hdfs_datanode/CHANGELOG.md
  hdfs_datanode/datadog_checks/hdfs_datanode/__about__.py
Labels: changelog/no-changelog, integration/hdfs_datanode

#2586 Move dev docs to RTD
  datadog_checks_dev/README.md
  docs/datadog_checks_dev.api.rst
  docs/datadog_checks_dev.cli.rst
  docs/datadog_checks_dev.rst
  docs/index.rst
Labels: changelog/no-changelog, documentation

#2593 Refactor validations under `validate` command
  .travis.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate_commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate_commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate_commands/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate_commands/metadata.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate_commands/service_checks.py
Labels: changelog/Added, integration/datadog_checks_dev

#2589 Update tomcat doc formatting / wording
  tomcat/README.md
Labels: changelog/no-changelog, documentation, integration/tomcat

#2599 Improve trello releasing
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/github.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/Added, integration/datadog_checks_dev

#2598 Update custom check link
  docs/dev/README.md
Labels: changelog/no-changelog, documentation

#2600 Support agent repo
  datadog_checks_dev/datadog_checks/dev/tooling/cli.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/config.py
Labels: changelog/Added, integration/datadog_checks_dev

#2602 [Release] Bumped datadog_checks_dev version to 0.14.0
  .links/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2601 Rework tagging to be consistent with the live container view and Autodiscovery
  ecs_fargate/datadog_checks/ecs_fargate/data/conf.yaml.example
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  ecs_fargate/tests/test_unit.py
Labels: changelog/Changed, integration/ecs_fargate

#2609 [DOC] Wrong filename and minor grammar fix
  oracle/README.md
Labels: changelog/no-changelog, community, documentation, integration/oracle

#2151 Additional debug logging when calling a stored procedure
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: changelog/Fixed, integration/sqlserver

#2495 Combine duplicate Windows Event log pages
  win32_event_log/README.md
  win32_event_log/manifest.json
Labels: changelog/no-changelog, documentation, integration/win_32_event_log

#2611 adds clarifying note for RabbitMQ permissions
  rabbitmq/README.md
Labels: documentation

#2597 [kubelet] correctly ignore pods that are neither running or pending for resource limits&requests
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/fixtures/pods.json
  kubelet/tests/test_common.py
  kubelet/tests/test_kubelet.py
Labels: changelog/Fixed, integration/kubelet

#2616 Support Python 3
  .travis.yml
  postgres/datadog_checks/postgres/postgres.py
  postgres/setup.py
  postgres/tests/common.py
  postgres/tests/compose/docker-compose.yaml
  postgres/tests/conftest.py
  postgres/tests/test_common.py
  postgres/tests/test_custom_metrics.py
  postgres/tests/test_relations.py
  postgres/tox.ini
Labels: changelog/Added, integration/postgres

#2606 Add query activity metrics
  postgres/datadog_checks/postgres/postgres.py
  postgres/metadata.csv
  postgres/tests/test_common.py
Labels: changelog/Added, integration/postgres

#2617 Fix requirements-agent-release.txt updating
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_dev/datadog_checks/dev/tooling/release.py
  requirements-agent-release.txt
Labels: changelog/Fixed, integration/datadog_checks_dev

#2567 Include db tag with postgresql.locks metrics
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_common.py
Labels: changelog/Added, community, integration/postgres

#2378 Add --ssl option to cassandra_nodetool check
  cassandra_nodetool/README.md
  cassandra_nodetool/datadog_checks/cassandra_nodetool/cassandra_nodetool.py
  cassandra_nodetool/datadog_checks/cassandra_nodetool/data/conf.yaml.example
Labels: changelog/Added, community, integration/cassandra_nodetool

#2615 add ability to check A, CNAME and MX results
  dns_check/datadog_checks/dns_check/dns_check.py
  dns_check/tests/mocks.py
  dns_check/tests/test_dns_check.py
Labels: changelog/Added, community, integration/dns_check

#2608 [Release] Bumped vsphere version to 3.5.0
  .links/LATEST
  .links/tag.87d52666.link
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere

#2622 Support Python3
  .travis.yml
  cacti/tests/test_cacti.py
  cacti/tox.ini
Labels: changelog/Added, integration/cacti

#2625 fix integrations names
  kyototycoon/service_checks.json
  php_fpm/service_checks.json
  powerdns_recursor/service_checks.json
  windows_service/service_checks.json
Labels: changelog/no-changelog, integration/kyototycoon, integration/php_fpm, integration/powerdns_recursor, integration/windows_service

#2256 Add kubelet volume metrics
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/metadata.csv
  kubelet/tests/fixtures/kubelet_metrics.txt
  kubelet/tests/test_kubelet.py
Labels: changelog/Added, community, containers, integration/kubelet

#2627 Create service_checks.json
  oracle/service_checks.json
Labels: changelog/no-changelog, integration/oracle

#2623 Support Python 3
  .travis.yml
  mongo/datadog_checks/mongo/mongo.py
  mongo/setup.py
  mongo/tests/common.py
  mongo/tests/compose/docker-compose.yml
  mongo/tests/compose/init.sh
  mongo/tests/compose/readme.md
  mongo/tests/conftest.py
  mongo/tests/test_mongo.py
  mongo/tests/test_unit.py
  mongo/tox.ini
Labels: changelog/Added, integration/mongo

#2595 [kubelet] add more cpu metrics
  kubelet/datadog_checks/kubelet/prometheus.py
  kubelet/metadata.csv
  kubelet/tests/test_kubelet.py
Labels: changelog/Added, integration/kubelet

#2613 Increase gpg timeout to give time to developers to interact with Yubikeys
  datadog_checks_dev/datadog_checks/dev/tooling/signing.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2632 [Release] Bumped datadog_checks_dev version to 0.14.1
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2633 [ci skip] fix outdated info
  datadog_checks_base/README.md
Labels: changelog/no-changelog, documentation, integration/datadog_checks_base

#2639 Fix not_asserted aggregator stub function
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
Labels: changelog/Fixed, integration/datadog_checks_base

#2638 Keep running the check when one endpoint fails
  couchbase/datadog_checks/couchbase/couchbase.py
  couchbase/tests/test_unit.py
Labels: changelog/Fixed, integration/couchbase

#2640 [Release] Bumped couchbase version to 1.6.1
  .links/LATEST
  .links/tag.69cade35.link
  couchbase/CHANGELOG.md
  couchbase/datadog_checks/couchbase/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/couchbase

#2631 Remove KSM deprecated pod phase service checks
  kubernetes_state/README.md
  kubernetes_state/datadog_checks/kubernetes_state/data/auto_conf.yaml
  kubernetes_state/datadog_checks/kubernetes_state/data/conf.yaml.example
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/service_checks.json
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Removed, containers, integration/kubernetes_state

#2642 Add agent_reqs validation step
  .travis.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate_commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate_commands/agent_reqs.py
Labels: changelog/Added, integration/datadog_checks_dev

#2641 Gently handle Yubikey exceptions
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/signing.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2629 Docker daemon doc update
  docker_daemon/README.md
Labels: changelog/no-changelog, documentation, integration/docker_daemon

#2636 Add unix socket support in php_fpm plugin
  php_fpm/README.md
  php_fpm/datadog_checks/php_fpm/php_fpm.py
Labels: changelog/Added, community, integration/php_fpm

#2646 Update kafka validation info
  kafka/README.md
Labels: changelog/no-changelog, documentation, integration/kafka

#2635 Add disclaimer on new metric names
  vsphere/README.md
Labels: changelog/no-changelog, documentation, integration/vsphere

#2649 [Release] Bumped php_fpm version to 1.4.0
  .links/tag.69cade35.link
  php_fpm/CHANGELOG.md
  php_fpm/datadog_checks/php_fpm/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/php_fpm

#2645 Add watt unit to metadata validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate_commands/metadata.py
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#2650 [Release] Bumped datadog_checks_dev version to 0.15.0
  .links/LATEST
  .links/tag.87d52666.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2648 Support Python 3
  .travis.yml
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/setup.py
  kafka_consumer/tests/common.py
  kafka_consumer/tests/conftest.py
  kafka_consumer/tests/docker/docker-compose.yaml
  kafka_consumer/tests/runners.py
  kafka_consumer/tests/test_kafka_consumer.py
  kafka_consumer/tests/test_kafka_consumer_zk.py
  kafka_consumer/tox.ini
Labels: changelog/Added, integration/kafka_consumer

#2651 fix service check name
  couchbase/service_checks.json
Labels: changelog/no-changelog, integration/couchbase

#2652 add consul.up service check
  consul/service_checks.json
Labels: changelog/no-changelog, integration/consul

#2653 Add Oracle LD_LIBRARY_PATH example
  oracle/README.md
Labels: changelog/no-changelog, documentation, integration/oracle

#2656 Upgrade requests
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  datadog_checks_base/requirements.txt
Labels: changelog/Added, integration/datadog_checks_base

#2661 [docs] Update correct list of default NTP hosts
  ntp/README.md
Labels: changelog/no-changelog, community, documentation, integration/ntp

#2655 Add option to collect cluster, datacenter and datastore metrics
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/fixtures/vsphere_topology.json
  vsphere/tests/test_vsphere.py
Labels: changelog/Added, integration/vsphere

#2605 Add restart and container state metrics to kubelet
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/metadata.csv
  kubelet/tests/fixtures/pods_crashed.json
  kubelet/tests/test_kubelet.py
Labels: changelog/Added, community, containers, integration/kubelet

#2663 [Release] Bumped vsphere version to 3.6.0
  .links/tag.87d52666.link
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere

#2658 Add option to set `stream` parameter on requests
  http_check/datadog_checks/http_check/config.py
  http_check/datadog_checks/http_check/data/conf.yaml.example
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/test_config.py
Labels: changelog/Added, community, integration/http_check

#2664 Handle unreleased checks for agent reqs validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate_commands/agent_reqs.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2644 Add elasticsearch-oss as an auto_conf.yaml Elasticsearch identifier
  elastic/datadog_checks/elastic/data/auto_conf.yaml
Labels: changelog/Fixed, community, containers, integration/elastic

#2657 Support custom certificates
  vault/datadog_checks/vault/data/conf.yaml.example
  vault/datadog_checks/vault/vault.py
Labels: changelog/Added, community, integration/vault

#2614 Add linux as supported OS
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/manifest.json
  sqlserver/requirements-dev.txt
  sqlserver/requirements.in
  sqlserver/requirements.txt
Labels: changelog/Added, integration/sqlserver

#2154 IBM MQ Integration
  .travis.yml
  .travis/install_ibm_mq.sh
  ibm_mq/CHANGELOG.md
  ibm_mq/MANIFEST.in
  ibm_mq/README.md
  ibm_mq/datadog_checks/__init__.py
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  ibm_mq/datadog_checks/ibm_mq/__init__.py
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/connection.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/errors.py
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/datadog_checks/ibm_mq/metrics.py
  ibm_mq/logos/avatars-bot.png
  ibm_mq/logos/saas_logos-bot.png
  ibm_mq/logos/saas_logos-small.png
  ibm_mq/manifest.json
  ibm_mq/metadata.csv
  ibm_mq/requirements-dev.txt
  ibm_mq/requirements.in
  ibm_mq/requirements.txt
  ibm_mq/setup.py
  ibm_mq/tests/__init__.py
  ibm_mq/tests/common.py
  ibm_mq/tests/compose/docker-compose-v8.yml
  ibm_mq/tests/compose/docker-compose-v9.yml
  ibm_mq/tests/conftest.py
  ibm_mq/tests/test_ibm_mq.py
  ibm_mq/tox.ini
Labels: changelog/Added, integration/ibm_mq
