Repository DataDog/integrations-core, pull requests merged in 2018-12, with the labels that each got.

#2668 release freeze
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#2624 [kubernetes_state] add phase tag to pod metrics
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
Labels: changelog/Added, containers, integration/kubernetes_state

#2670 release feature request
  .links/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  kubernetes_state/CHANGELOG.md
  kubernetes_state/datadog_checks/kubernetes_state/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/kubernetes_state

#2672 Remove dependency on pymqi
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: changelog/no-changelog, integration/ibm_mq

#2673 Fixing broken link
  cri/README.md
Labels: changelog/no-changelog, documentation, integration/cri

#2681 Resolve test deps
  hdfs_datanode/requirements.txt
  http_check/requirements.txt
  vsphere/requirements.txt
Labels: changelog/no-changelog, integration/hdfs_datanode, integration/http_check, integration/vsphere

#2437 Add streaming statistics metrics to the spark integration
  spark/datadog_checks/spark/spark.py
  spark/metadata.csv
  spark/tests/fixtures/streaming_statistics
  spark/tests/test_spark.py
Labels: changelog/Added, integration/spark

#2680 Update readme to add linux instructions
  sqlserver/README.md
Labels: changelog/no-changelog, integration/sqlserver

#2685 Fix MQ client install script
  .travis/install_ibm_mq.sh
Labels: changelog/no-changelog, dev/testing

#2621 Properly parse the interface metrics
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/tests/test_openstack.py
Labels: changelog/Changed, integration/openstack_controller

#2688 Remove metric that is no longer sent
  zk/README.md
Labels: changelog/no-changelog, integration/zk

#2687 Capture metrics for ES scroll requests
  elastic/datadog_checks/elastic/metrics.py
  elastic/tests/test_metrics.py
Labels: changelog/Added, integration/elastic

#2689 Add ability to use dev version of base package for e2e
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env_commands/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: changelog/Added, integration/datadog_checks_dev

#2603 Isolate api calls and add test coverage.
  openstack_controller/datadog_checks/openstack_controller/api.py
  openstack_controller/datadog_checks/openstack_controller/exceptions.py
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/datadog_checks/openstack_controller/retry.py
  openstack_controller/datadog_checks/openstack_controller/scopes.py
  openstack_controller/datadog_checks/openstack_controller/settings.py
  openstack_controller/datadog_checks/openstack_controller/utils.py
  openstack_controller/tests/common.py
  openstack_controller/tests/fixtures/auth_projects_response.json
  openstack_controller/tests/fixtures/auth_tokens_response.json
  openstack_controller/tests/fixtures/v2.0_networks.json
  openstack_controller/tests/fixtures/v2.0_networks_2755452c-4fe8-4ba1-9b26-8898665b0958.json
  openstack_controller/tests/fixtures/v2.0_networks_2fad0a98-4ba9-44f4-8f81-87c31c5eab10.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_limits_147d1.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_limits_3fb11.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_limits_44736.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_limits_4bfc1.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_limits_73dbe.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_limits_d91a1.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_os-aggregates.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_os-hypervisors_detail.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_1b7a987f-c4fb-4b6b-aad9-3b461df2019d_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_1cc21586-8d43-40ea-bdc9-6f54a79957b4_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_2e1ce152-b19d-4c4a-9cc7-0d150fa97a18_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_30888944-fb39-4590-9073-ef977ac1f039_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_412c79b2-25f2-44d6-8e3b-be4baee11a7f_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_4ceb4c69-a332-4b9d-907b-e99635aae644_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_4d7cb923-788f-4b61-9061-abfc576ecc1a_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_52561f29-e479-43d7-85de-944d29ef178d_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_5357e70e-f12c-4bb7-85a2-b40d642a7e92_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_57030997-f1b5-4f79-9429-8cb285318633_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_7324440d-915b-4e12-8b85-ec8c9a524d6c_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_7e622c28-4b12-4a58-8ac2-4a2e854f84eb_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_7eaa751c-1e37-4963-a836-0a28bc283a9a_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_836f724f-0028-4dc0-b9bd-e0843d767ca2_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_acb4197c-f54e-488e-a40a-1b7f59cc9117_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_b3c8eee3-7e22-4a7c-9745-759073673cbe_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_detail.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_f2dd3f90-e738-4135-84d4-1a2d30d04929_diagnostics.json
  openstack_controller/tests/fixtures/v2.1_4bfc1_servers_ff2f581c-5d03-4a27-a0ba-f102603fe38f_diagnostics.json
  openstack_controller/tests/fixtures/v3_projects.json
  openstack_controller/tests/fixtures/v3_projects_3fb11.json
  openstack_controller/tests/fixtures/v3_projects_73dbe.json
  openstack_controller/tests/test_compute_api.py
  openstack_controller/tests/test_end_to_end.py
  openstack_controller/tests/test_network.py
  openstack_controller/tests/test_openstack.py
  openstack_controller/tests/test_retry.py
  openstack_controller/tests/test_scopes.py
Labels: changelog/no-changelog, integration/openstack_controller

#2693 Add port usage to conf example
  http_check/datadog_checks/http_check/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/http_check

#2696 Update Fargate README for DogStatsD
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#2686 Update NTLM auth comments
  http_check/datadog_checks/http_check/data/conf.yaml.example
Labels: changelog/no-changelog, community, documentation, integration/http_check

#2697 Ensure unicode for subprocess output
  datadog_checks_base/datadog_checks/base/utils/subprocess_output.py
Labels: changelog/Changed, integration/datadog_checks_base

#2698 Fix unicode handling of log messages
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/log.py
Labels: changelog/Added, integration/datadog_checks_base

#2701 update annotation
  coredns/README.md
Labels: changelog/no-changelog, documentation, integration/coredns

#2702 [Release] Bumped datadog_checks_base version to 4.6.0
  .links/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#2700 Fix unicode handling of log messages
  http_check/datadog_checks/http_check/config.py
  http_check/datadog_checks/http_check/http_check.py
  http_check/setup.py
Labels: changelog/Fixed, integration/http_check

#2703 [Release] Bumped http_check version to 3.1.1
  .links/tag.c295cf63.link
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/http_check

#2705 adds an option to the PR template for config files
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changelog/no-changelog

#2706 adds ignore_ssl_warning to rabbit file
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
Labels: changelog/Fixed, integration/rabbitmq

#2708 [Release] Bumped ibm_mq version to 1.0.0
  .links/tag.c295cf63.link
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_mq

#2704 Document `resolves_as` and migrate conf file
  dns_check/datadog_checks/dns_check/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/dns_check

#2160 Refactoring configuration file for docker and k8s Agent checks
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  crio/datadog_checks/crio/data/conf.yaml.example
  docker_daemon/datadog_checks/docker_daemon/data/conf.yaml.example
  ecs_fargate/datadog_checks/ecs_fargate/data/conf.yaml.example
  etcd/datadog_checks/etcd/data/conf.yaml.example
  kube_dns/datadog_checks/kube_dns/data/conf.yaml.example
  kube_proxy/datadog_checks/kube_proxy/data/conf.yaml.example
  kubelet/datadog_checks/kubelet/data/conf.yaml.example
  kubernetes/datadog_checks/kubernetes/data/conf.yaml.example
  kubernetes_state/datadog_checks/kubernetes_state/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  prometheus/datadog_checks/prometheus/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/docker_daemon, integration/ecs_fargate, integration/kube_dns, integration/kube_proxy, integration/kubelet, integration/kubernetes, integration/kubernetes_state, integration/prometheus

#2715 Use original tracing mechanism
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/datadog_checks/openstack_controller/utils.py
Labels: changelog/Added, integration/openstack_controller

#2713 Updates related to mibdump.py
  snmp/README.md
Labels: changelog/no-changelog, documentation, integration/snmp

#2716 Support Python 3
  .travis.yml
  nginx/datadog_checks/nginx/nginx.py
  nginx/setup.py
  nginx/tests/common.py
  nginx/tests/conftest.py
  nginx/tests/test_nginx.py
  nginx/tests/test_unit.py
  nginx/tests/test_vts.py
  nginx/tests/utils.py
  nginx/tox.ini
Labels: changelog/Added, integration/nginx

#2717 adds the logging config to IBM MQ
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
Labels: changelog/no-changelog, integration/ibm_mq

#2723 Fix extra looping through check
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
Labels: changelog/Fixed, integration/openstack_controller

#2726 Test Mongo v4
  mongo/tests/compose/docker-compose.yml
  mongo/tox.ini
Labels: changelog/no-changelog, integration/mongo

#2722 Postgres custom_metrics deprecated
  postgres/README.md
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/postgres

#2734 Update SNMP readme
  snmp/README.md
Labels: documentation

#2724 Add ability to pass state to e2e tear down
  datadog_checks_dev/datadog_checks/dev/__init__.py
  datadog_checks_dev/datadog_checks/dev/_env.py
  datadog_checks_dev/datadog_checks/dev/plugin/plugin.py
  datadog_checks_dev/datadog_checks/dev/structures.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env_commands/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env_commands/stop.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/run.py
  datadog_checks_dev/tests/conftest.py
Labels: changelog/Added, integration/datadog_checks_dev

#2520 Allow pre-release tags to trigger pipeline
  .gitlab-ci.yml
Labels: dev/tooling

#2721 Support Python 3
  .travis.yml
  couch/datadog_checks/couch/couch.py
  couch/tests/conftest.py
  couch/tests/test_couchv1.py
  couch/tests/test_couchv2.py
  couch/tox.ini
Labels: changelog/Added, integration/couch

#2742 Add rfc template file
  docs/proposals/TEMPLATE.md
Labels: documentation/proposal

#2744 RFC Template wording update
  docs/proposals/TEMPLATE.md
Labels: changelog/no-changelog, documentation

#2718 Refactor servers cache
  openstack_controller/datadog_checks/openstack_controller/api.py
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/metadata.csv
  openstack_controller/tests/common.py
  openstack_controller/tests/fixtures/v2.1_4bfc1_flavors_detail.json
  openstack_controller/tests/test_end_to_end.py
  openstack_controller/tests/test_openstack.py
Labels: changelog/Changed, integration/openstack_controller

#2738 Support Python 3
  .travis.yml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  gearmand/datadog_checks/gearmand/gearmand.py
  gearmand/requirements.in
  gearmand/requirements.txt
  gearmand/tox.ini
Labels: changelog/Added, integration/gearmand

#2747 Properly check if tenant name is in cache
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
Labels: changelog/Fixed, integration/openstack_controller

#2735 Support Python 3
  .travis.yml
  fluentd/datadog_checks/fluentd/fluentd.py
  fluentd/tox.ini
Labels: changelog/Added, integration/fluentd

#2756 Fix default yaml instance
  kubelet/datadog_checks/kubelet/data/conf.yaml.example
Labels: changelog/Fixed, integration/kubelet

#2758 Remove spurious tab from config file
  openldap/datadog_checks/openldap/data/conf.yaml.example
Labels: changelog/Fixed, integration/openldap

#2727 Add server_address tag when available
  haproxy/datadog_checks/haproxy/haproxy.py
  haproxy/tests/common.py
  haproxy/tests/test_haproxy.py
Labels: changelog/Added, integration/haproxy

#2731 tcp scheme support for stats socket
  haproxy/datadog_checks/haproxy/haproxy.py
  haproxy/tests/common.py
  haproxy/tests/compose/haproxy-1_7.cfg
  haproxy/tests/compose/haproxy.yaml
  haproxy/tests/conftest.py
  haproxy/tests/test_haproxy.py
Labels: changelog/Added, integration/haproxy

#2753 [openstack_controller] Bring back hypervisor_load metrics
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/tests/common.py
  openstack_controller/tests/fixtures/v2.1_4bfc1_os-hypervisors_uptime.json
  openstack_controller/tests/test_end_to_end.py
Labels: changelog/Fixed, integration/openstack_controller

#2752 Support Python 3
  .travis.yml
  gunicorn/tests/conftest.py
  gunicorn/tox.ini
Labels: changelog/Added, integration/gunicorn

#2761 Support Python 3
  .travis.yml
  cassandra_nodetool/tests/compose/docker-compose.yaml
  cassandra_nodetool/tests/conftest.py
  cassandra_nodetool/tests/test_integration.py
  cassandra_nodetool/tests/test_unit.py
  cassandra_nodetool/tox.ini
Labels: changelog/Added, integration/cassandra_nodetool

#2759 Add validation for configuration files
  .travis.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#2765 Rename `ddev release freeze` to `ddev release agent_req_file`, refacor commands code
  .gitignore
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/ls.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/prune.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/stop.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/prometheus.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta_commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
Labels: changelog/Changed, integration/datadog_checks_dev

#2767 Add core and containers teams as code owners for the base check
  .github/CODEOWNERS
Labels: changelog/no-changelog, dev/tooling

#2771 Do not consider empty string as a change
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2714 updates IBM MQ readme with much better instructions
  ibm_mq/README.md
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
Labels: changelog/no-changelog, documentation

#2763 Refactor Docker Utils used for integration testing
  cassandra_nodetool/tests/conftest.py
Labels: changelog/no-changelog, integration/cassandra_nodetool

#2766 Bump kafka-python and kazoo
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: changelog/Changed, integration/datadog_checks_base

#2769 update default conversion pattern
  kafka/README.md
Labels: changelog/no-changelog, documentation

#2782 Add constant to check if platform is Linux
  datadog_checks_dev/datadog_checks/dev/utils.py
Labels: changelog/Added, integration/datadog_checks_dev

#2773 Fix ntp conf.yaml typo
  ntp/datadog_checks/ntp/data/conf.yaml.default
Labels: changelog/no-changelog, documentation, integration/ntp

#2755 [openstack_controller] Adding retry logic on expensive api calls
  openstack_controller/datadog_checks/openstack_controller/api.py
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/datadog_checks/openstack_controller/retry.py
  openstack_controller/datadog_checks/openstack_controller/scopes.py
  openstack_controller/datadog_checks/openstack_controller/settings.py
  openstack_controller/datadog_checks/openstack_controller/utils.py
  openstack_controller/tests/common.py
  openstack_controller/tests/test_openstack.py
  openstack_controller/tests/test_retry.py
  openstack_controller/tests/test_scopes.py
Labels: changelog/no-changelog, integration/openstack_controller

#2736 Add python3 compatibility validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/py3.py
  datadog_checks_dev/setup.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#2786 Support Python 3
  .travis.yml
  yarn/datadog_checks/yarn/yarn.py
  yarn/tests/conftest.py
  yarn/tests/test_yarn.py
  yarn/tox.ini
Labels: changelog/Added, integration/yarn

#2788 Support Python 3
  .travis.yml
  squid/datadog_checks/squid/squid.py
  squid/tests/conftest.py
  squid/tests/test_squid.py
  squid/tests/test_unit.py
  squid/tox.ini
Labels: changelog/Added, integration/squid

#2778 Add instance level tags to Nagios Events
  nagios/datadog_checks/nagios/nagios.py
  nagios/tests/test_nagios.py
Labels: changelog/Added, integration/nagios

#2790 Change the prometheus example to use prometheus_url
  prometheus/datadog_checks/prometheus/data/conf.yaml.example
Labels: changelog/Fixed, community, documentation, integration/prometheus

#2794 Update templates for new integrations
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/datadog_checks/{check_name}/{check_name}.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/setup.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/jmx/{check_name}/manifest.json
Labels: changelog/Added, integration/datadog_checks_dev

#2797 Release Nagios 1.2.0
  .links/LATEST
  .links/tag.6e091a53.link
  nagios/CHANGELOG.md
  nagios/datadog_checks/nagios/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/nagios

#2781 Support Python 3
  .travis.yml
  zk/datadog_checks/zk/zk.py
  zk/tests/conftest.py
  zk/tests/test_zk.py
  zk/tox.ini
Labels: changelog/Added, integration/zk

#2779 Change example config from "localhost" to "."
  aspdotnet/datadog_checks/aspdotnet/data/conf.yaml.example
  dotnetclr/datadog_checks/dotnetclr/data/conf.yaml.example
  exchange_server/datadog_checks/exchange_server/data/conf.yaml.example
  iis/datadog_checks/iis/data/conf.yaml.example
Labels: changelog/Fixed, integration/aspdotnet, integration/dotnetclr, integration/exchange_server, integration/iis

#2784 Fix metric normalization function for Python 3
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/test_agent_check.py
Labels: changelog/Fixed, integration/datadog_checks_base

#2799 Bump psycopg2-binary version to 2.7.5
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  pgbouncer/requirements.in
  pgbouncer/requirements.txt
  postgres/requirements.in
  postgres/requirements.txt
Labels: changelog/Added, integration/pgbouncer, integration/postgres

#2795 Demote critical log levels to error
  docker_daemon/datadog_checks/docker_daemon/docker_daemon.py
  vsphere/datadog_checks/vsphere/vsphere.py
Labels: changelog/Fixed, integration/docker_daemon, integration/vsphere

#2804 [Release] Bumped spark version to 1.5.0
  .links/LATEST
  .links/tag.d24d57ce.link
  requirements-agent-release.txt
  spark/CHANGELOG.md
  spark/datadog_checks/spark/__about__.py
Labels: changelog/no-changelog, integration/spark

#2802 Update README with multi process doc
  haproxy/README.md
Labels: changelog/no-changelog, documentation, integration/haproxy

#2783 Support Python 3
  .travis.yml
  mcache/datadog_checks/mcache/mcache.py
  mcache/setup.py
  mcache/tests/common.py
  mcache/tests/conftest.py
  mcache/tests/metrics.py
  mcache/tests/test_check.py
  mcache/tests/test_integration.py
  mcache/tests/utils.py
  mcache/tox.ini
Labels: changelog/Added, integration/mcache

#2789 Support Python 3
  .travis.yml
  powerdns_recursor/tests/test_powerdns.py
  powerdns_recursor/tox.ini
Labels: changelog/Added, integration/powerdns_recursor

#2791 Support Python 3
  .travis.yml
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  rabbitmq/tox.ini
Labels: changelog/Added, integration/rabbitmq

#2806 Clean up tox
  rabbitmq/tox.ini
Labels: changelog/no-changelog, integration/rabbitmq

#2798 typo for the critical sshd example - process integration
  process/datadog_checks/process/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/process

#2803 Add completed metric for all ES thread pools
  elastic/datadog_checks/elastic/metrics.py
  elastic/metadata.csv
  elastic/tests/test_metrics.py
Labels: changelog/Added, integration/elastic

#2793 Fix unsupported API version fallback
  vault/datadog_checks/vault/vault.py
  vault/tests/common.py
  vault/tests/test_vault.py
  vault/tox.ini
Labels: changelog/Fixed, integration/vault

#2805 Support Python 3
  system_core/datadog_checks/system_core/system_core.py
  system_core/tox.ini
Labels: changelog/Added, integration/system_core

#2808 Fix agent_changelog command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/tests/tooling/test_release.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2764 Add ability to log warnings during pytest
  datadog_checks_dev/datadog_checks/dev/warn.py
Labels: changelog/Added, integration/datadog_checks_dev

#2809 Fix the changelog
  AGENT_CHANGELOG.md
Labels: documentation

#2762 Match cleanup behavior of old temp dir utility
  datadog_checks_dev/datadog_checks/dev/structures.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2760 Support Python 3
  .travis.yml
  openldap/datadog_checks/openldap/openldap.py
  openldap/setup.py
  openldap/tests/common.py
  openldap/tests/compose/docker-compose.yaml
  openldap/tests/conftest.py
  openldap/tests/test_check.py
  openldap/tests/test_unit.py
  openldap/tox.ini
Labels: changelog/Added, integration/openldap

#2801 Bump pyodbc for python3.7 compatibility
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  sqlserver/requirements.in
  sqlserver/requirements.txt
Labels: changelog/Fixed, integration/datadog_checks_base, integration/sqlserver

#2810 Support Python 3
  .travis.yml
  varnish/datadog_checks/varnish/varnish.py
  varnish/tests/conftest.py
  varnish/tests/test_unit.py
  varnish/tests/test_varnish.py
  varnish/tox.ini
Labels: changelog/Added, integration/varnish

#2751 Support Python 3
  .travis.yml
  gitlab/datadog_checks/gitlab/gitlab.py
  gitlab/tests/conftest.py
  gitlab/tox.ini
Labels: changelog/Added, integration/gitlab

#2807 Add doc about removing resolved requirements from repo
  docs/proposals/remove_resolved_requirements.md
Labels: documentation/proposal

#2816 Remove requirements.txt from check template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/MANIFEST.in
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/requirements.txt
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/tox.ini
Labels: changelog/Added, integration/datadog_checks_dev

#2792 document kubernetes.pods.running and kubernetes.containers.running
  kubelet/metadata.csv
Labels: changelog/Fixed, containers, integration/kubelet

#2785 Improve code readability
  datadog_checks_dev/datadog_checks/dev/tooling/cli.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/clean.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/console.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/ls.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/prune.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/stop.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/prometheus.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/run.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/agent_reqs.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/py3.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/service_checks.py
  datadog_checks_dev/datadog_checks/dev/tooling/requirements.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/datadog_checks/dev/utils.py
  datadog_checks_dev/tests/tooling/test_dep.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2811 Added crucial words to make sentence clearer
  prometheus/datadog_checks/prometheus/data/conf.yaml.example
Labels: changelog/Fixed, community, documentation, integration/prometheus

#2818 Fixed docs for the 'validate py3' command
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/py3.py
Labels: changelog/Fixed, documentation, integration/datadog_checks_dev

#2821 Tomcat docs
  tomcat/README.md
Labels: changelog/no-changelog, documentation, integration/tomcat

#2812 Support Python 3
  .travis.yml
  process/datadog_checks/process/process.py
  process/tests/test_process.py
  process/tox.ini
Labels: changelog/Added, integration/process

#2775 Support Python 3
  .travis.yml
  nfsstat/datadog_checks/nfsstat/nfsstat.py
  nfsstat/tests/test_nfsstat.py
  nfsstat/tox.ini
Labels: changelog/Added, integration/nfsstat

#2830 Support Python 3
  .travis.yml
  system_swap/tox.ini
Labels: changelog/Added, integration/system_swap

#2832 Support Python 3
  .travis.yml
  tokumx/datadog_checks/tokumx/tokumx.py
  tokumx/tox.ini
Labels: changelog/Added, integration/tokumx

#2834 Support Python 3
  .travis.yml
  lighttpd/datadog_checks/lighttpd/lighttpd.py
  lighttpd/tests/test_check.py
  lighttpd/tox.ini
Labels: changelog/Added, integration/lighttpd

#2833 Support Python 3
  .travis.yml
  go_expvar/datadog_checks/go_expvar/go_expvar.py
  go_expvar/tests/test_go_expvar.py
  go_expvar/tests/test_unit.py
  go_expvar/tox.ini
Labels: changelog/Added, integration/go_expvar

#2831 Support Python 3
  .travis.yml
  statsd/datadog_checks/statsd/statsd.py
  statsd/tests/test_statsd.py
  statsd/tox.ini
Labels: changelog/Added, integration/statsd

#2838 Support trace logging
  datadog_checks_base/datadog_checks/base/log.py
Labels: changelog/Added, integration/datadog_checks_base

#2820 Refactor Twemproxy tests and add E2E
  twemproxy/tests/__init__.py
  twemproxy/tests/common.py
  twemproxy/tests/compose/docker-compose.yaml
  twemproxy/tests/compose/setup.sh
  twemproxy/tests/conftest.py
  twemproxy/tests/metrics.py
  twemproxy/tests/test_twemproxy.py
Labels: changelog/Added, dev/testing, integration/twemproxy

#2836 Support Python 3
  .travis.yml
  ssh_check/tests/test_ssh.py
  ssh_check/tox.ini
Labels: changelog/Added, integration/ssh_check

#2840 Prevent critical logs
  datadog_checks_base/datadog_checks/base/log.py
Labels: changelog/Changed, integration/datadog_checks_base

#2842 Remove cache TTL - factorize api - multi instance support
  openstack_controller/datadog_checks/openstack_controller/api.py
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/datadog_checks/openstack_controller/scopes.py
  openstack_controller/tests/test_end_to_end.py
  openstack_controller/tests/test_openstack.py
  openstack_controller/tests/test_scopes.py
  openstack_controller/tests/test_simple_api.py
Labels: changelog/no-changelog, integration/openstack_controller

#2822 Use 'format()' function to create device tag
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/test_agent_check.py
Labels: changelog/Fixed, integration/datadog_checks_base

#2819 Move tasks under 'agent' subcommand
  appveyor.yml
  datadog_checks_dev/datadog_checks/dev/errors.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/requirements.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
  datadog_checks_dev/datadog_checks/dev/tooling/github.py
  datadog_checks_dev/datadog_checks/dev/tooling/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/datadog_checks/dev/utils.py
  datadog_checks_dev/tests/common.py
  datadog_checks_dev/tests/conftest.py
  datadog_checks_dev/tests/plugin/test_environment_runner.py
  datadog_checks_dev/tests/test_conditions.py
  datadog_checks_dev/tests/test_docker.py
  datadog_checks_dev/tests/test_utils.py
  datadog_checks_dev/tests/tooling/test_constants.py
  datadog_checks_dev/tests/tooling/test_dep.py
  datadog_checks_dev/tests/tooling/test_git.py
  datadog_checks_dev/tests/tooling/test_release.py
  datadog_checks_dev/tests/tooling/test_utils.py
  datadog_checks_dev/tox.ini
Labels: changelog/Added, integration/datadog_checks_dev
