Repository DataDog/integrations-core, pull requests merged in 2018-07, with the labels that each got.

#1831 correct spelling and other grammatical changes in Nagios readme
  nagios/README.md
Labels: changelog/no-changelog, integration/nagios

#1830 Reduce log spam on kubernetes tagging
  kubelet/datadog_checks/kubelet/common.py
  kubelet/tests/test_common.py
Labels: changelog/Fixed, containers, integration/kubelet

#1834 Update manifest.json
  cisco_aci/manifest.json
Labels: changelog/no-changelog, documentation

#1835 Remove temp scripts
  cisco_aci/installer.sh
  cisco_aci/just_install_cisco.sh
  cisco_aci/upload.sh
Labels: changelog/no-changelog, integration/cisco_aci

#1804 Add tests to mcache check
  mcache/tests/common.py
  mcache/tests/compose/docker-compose.yaml
  mcache/tests/conftest.py
  mcache/tests/docker-compose.yaml
  mcache/tests/test_check.py
  mcache/tests/test_integration.py
  mcache/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/mcache

#1790 Make HTTP request timeout configurable in prometheus checks
  datadog_checks_base/datadog_checks/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/checks/prometheus/mixins.py
  datadog_checks_base/tests/test_prometheus.py
  datadog_checks_base/tests/test_prometheus_base_check.py
  kube_dns/datadog_checks/kube_dns/data/conf.yaml.example
  kube_dns/datadog_checks/kube_dns/kube_dns.py
  kube_proxy/datadog_checks/kube_proxy/data/conf.yaml.example
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  linkerd/datadog_checks/linkerd/data/conf.yaml.example
  prometheus/datadog_checks/prometheus/data/conf.yaml.example
Labels: changelog/Added, containers, integration/kube_dns, integration/kube_proxy, integration/kubernetes_state, integration/linkerd, integration/prometheus

#1837 fix query example
  postgres/README.md
Labels: changelog/no-changelog, documentation, integration/postgres

#1822 Add Agent 6 compatibility by not sending timestamps for gauge metrics (Agent 6 only)
  .travis.yml
  nagios/datadog_checks/nagios/nagios.py
  nagios/requirements-dev.txt
  nagios/test/ci/nagios.rake
  nagios/test/common.py
  nagios/test/conftest.py
  nagios/test/fixtures/host-perfdata
  nagios/test/fixtures/nagios
  nagios/test/fixtures/service-perfdata
  nagios/test/test_nagios.py
  nagios/test/test_unit.py
  nagios/tox.ini
Labels: changelog/Fixed, integration/nagios

#1844 [ci skip] output more details in print-shippable
  tasks/release.py
Labels: changelog/no-changelog, dev/tooling

#1730 Update integration manifest to contain the "creates_events" attribute
  apache/manifest.json
  cassandra/manifest.json
  consul/manifest.json
  elastic/manifest.json
  iis/manifest.json
  kafka/manifest.json
  mongo/manifest.json
  mysql/manifest.json
  nginx/manifest.json
  postgres/manifest.json
  rabbitmq/manifest.json
  redisdb/manifest.json
  tomcat/manifest.json
  varnish/manifest.json
  zk/manifest.json
Labels: changelog/no-changelog, documentation

#1846 [docs] Rewrite Integration development docs
  README.md
  docs/dev/README.md
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog

#1763 kubernetes_state: plumb more container waiting reasons
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Changed, community, integration/kubernetes

#1848 Use more bold to avoid confusion
  docker_daemon/README.md
Labels: changelog/no-changelog, documentation

#1842 Rename dependency psycopg2 to pyscopg2-binary
  pgbouncer/requirements.in
  pgbouncer/requirements.txt
  postgres/datadog_checks/postgres/postgres.py
  postgres/requirements.in
  postgres/requirements.txt
Labels: changelog/Changed, integration/pgbouncer, integration/postgres

#1578 Add sister gauge metrics to kubernetes_state pod service checks
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/metadata.csv
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Changed, community, integration/kubernetes_state

#1850 Move to pytest
  .travis.yml
  php_fpm/datadog_checks/php_fpm/__init__.py
  php_fpm/datadog_checks/php_fpm/php_fpm.py
  php_fpm/requirements-dev.txt
  php_fpm/test/ci/fpm-status.conf
  php_fpm/test/ci/php_fpm.rake
  php_fpm/test/test_php_fpm.py
  php_fpm/tests/__init__.py
  php_fpm/tests/compose/README.md
  php_fpm/tests/compose/app/index.php
  php_fpm/tests/compose/default.conf
  php_fpm/tests/compose/docker-compose.yml
  php_fpm/tests/compose/php-fpm.conf
  php_fpm/tests/conftest.py
  php_fpm/tests/test_php_fpm.py
  php_fpm/tox.ini
Labels: changelog/no-changelog, integration/php_fpm

#1849 update package metadata
  datadog_checks_base/setup.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#1851 Add exponential backoff when status returns 503
  php_fpm/datadog_checks/php_fpm/php_fpm.py
  php_fpm/tests/conftest.py
  php_fpm/tests/test_php_fpm.py
Labels: changelog/Added, integration/php_fpm

#1841 Migrate zk check to pytest
  .travis.yml
  zk/datadog_checks/zk/zk.py
  zk/requirements-dev.txt
  zk/test/ci/zk.rake
  zk/test/test_zk.py
  zk/tests/__init__.py
  zk/tests/compose/zk.yaml
  zk/tests/conftest.py
  zk/tests/test_zk.py
  zk/tox.ini
Labels: changelog/no-changelog, integration/zk

#1852 Removing further reading section placeholders
  active_directory/README.md
  agent_metrics/README.md
  aspdotnet/README.md
  btrfs/README.md
  cacti/README.md
  cisco_aci/README.md
  datadog_checks_base/README.md
  datadog_checks_tests_helper/README.md
  directory/README.md
  disk/README.md
  dns_check/README.md
  dotnetclr/README.md
  envoy/README.md
  gearmand/README.md
  gitlab/README.md
  gitlab_runner/README.md
  go-metro/README.md
  http_check/README.md
  iis/README.md
  istio/README.md
  kube_dns/README.md
  kubernetes_state/README.md
  kyototycoon/README.md
  linkerd/README.md
  linux_proc_extras/README.md
  marathon/README.md
  network/README.md
  nfsstat/README.md
  ntp/README.md
  oracle/README.md
  pgbouncer/README.md
  php_fpm/README.md
  powerdns_recursor/README.md
  riak/README.md
  snmp/README.md
  solr/README.md
  ssh_check/README.md
  system_core/README.md
  system_swap/README.md
  tcp_check/README.md
  twemproxy/README.md
  vault/README.md
  wmi_check/README.md
  zk/README.md
Labels: changelog/no-changelog, documentation

#1855 Update istio endpoint urls.
  istio/README.md
Labels: changelog/no-changelog, documentation, integration/istio

#1860 Fix for case sensitivity in the `proc_type_mapping` dict.
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: changelog/Fixed, integration/sqlserver

#1857 Add missing configuration option to example conf
  mapreduce/datadog_checks/mapreduce/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/mapreduce

#1861 fix manifest metric to check
  istio/manifest.json
Labels: changelog/no-changelog, integration/istio

#1858 Add debug logging
  vsphere/datadog_checks/vsphere/vsphere.py
Labels: changelog/Added, integration/vsphere

#1813 Add Active Module Log integration documentation
  active_directory/README.md
  active_directory/datadog_checks/active_directory/data/conf.yaml.example
  active_directory/manifest.json
Labels: changelog/no-changelog, documentation, integration/active_directory

#1864 Changing dead link in the main page README
  README.md
Labels: changelog/no-changelog, documentation

#1865 fix link in config option description
  http_check/datadog_checks/http_check/data/conf.yaml.example
Labels: changelog/Fixed, integration/http_check

#1867 Fix test task for running all tests
  tasks/utils/common.py
Labels: changelog/no-changelog, dev/testing, dev/tooling

#1856 Add process metrics
  oracle/datadog_checks/oracle/oracle.py
  oracle/metadata.csv
  oracle/tests/test_config.py
  oracle/tests/test_metrics.py
  oracle/tests/test_oracle.py
Labels: changelog/Added, integration/oracle

#1866 Bump prometheus client library to 0.3.0
  datadog_checks_base/requirements.in
  datadog_checks_base/requirements.txt
  prometheus/tests/requirements.txt
Labels: changelog/Changed, integration/datadog_checks_base, integration/prometheus

#1802 initial freeze of packages
  datadog_checks_base/agent_requirements.in
  datadog_checks_base/agent_requirements.txt
Labels: changelog/no-changelog

#1840 Submit k_state.nodes.by_condition as gauge instead of counter
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
Labels: changelog/Fixed, containers, integration/kubernetes_state

#1862 add developer package
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/MANIFEST.in
  datadog_checks_dev/README.md
  datadog_checks_dev/datadog_checks/__init__.py
  datadog_checks_dev/datadog_checks/dev/__about__.py
  datadog_checks_dev/datadog_checks/dev/__init__.py
  datadog_checks_dev/datadog_checks/dev/compat.py
  datadog_checks_dev/datadog_checks/dev/docker.py
  datadog_checks_dev/datadog_checks/dev/errors.py
  datadog_checks_dev/datadog_checks/dev/fixtures/__init__.py
  datadog_checks_dev/datadog_checks/dev/fixtures/plugin.py
  datadog_checks_dev/datadog_checks/dev/tooling/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/__main__.py
  datadog_checks_dev/datadog_checks/dev/tooling/clean.py
  datadog_checks_dev/datadog_checks/dev/tooling/cli.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/clean.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/utils.py
  datadog_checks_dev/datadog_checks/dev/tooling/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
  datadog_checks_dev/datadog_checks/dev/tooling/github.py
  datadog_checks_dev/datadog_checks/dev/tooling/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/datadog_checks/dev/utils.py
  datadog_checks_dev/setup.py
  datadog_checks_dev/tests/__init__.py
Labels: dev/testing, dev/tooling

#1872 Improve check performance by filtering it's input before parsing
  datadog_checks_base/datadog_checks/checks/prometheus/mixins.py
  datadog_checks_base/tests/test_prometheus.py
  kubelet/datadog_checks/kubelet/prometheus.py
Labels: changelog/Fixed, integration/kubelet

#1874 update ci to use dev package
  .travis.yml
  appveyor.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/config.py
  datadog_checks_dev/setup.py
Labels: changelog/no-changelog, dev/testing, dev/tooling

#1876 [ci skip] Bumped datadog_checks_dev version to 0.1.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#1878 fix changed-only test logic
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#1879 [ci skip] Bumped datadog_checks_dev version to 0.1.1
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#1832 Adds a tile for MS Exchange
  exchange_server/README.md
  exchange_server/images/exchange_server_120x60.png
  exchange_server/images/exchange_server_120x60@2x.png
  exchange_server/images/exchange_server_128x128.png
  exchange_server/images/exchange_server_128x128@2x.png
  exchange_server/images/exchange_server_200x128.png
  exchange_server/images/exchange_server_200x128@2x.png
  exchange_server/images/exchange_server_reversed_120x60.png
  exchange_server/images/exchange_server_reversed_120x60@2x.png
  exchange_server/images/exchange_server_reversed_128x128.png
  exchange_server/images/exchange_server_reversed_128x128@2x.png
  exchange_server/images/exchange_server_reversed_200x128.png
  exchange_server/images/exchange_server_reversed_200x128@2x.png
  exchange_server/logos/avatars-bot.png
  exchange_server/logos/saas_logos-bot.png
  exchange_server/logos/saas_logos-small.png
  exchange_server/manifest.json
Labels: changelog/no-changelog, documentation, integration/exchange_server

#1883 Ensure all Istio metrics have a description
  istio/metadata.csv
Labels: changelog/no-changelog, documentation, integration/istio

#1875 Improve check performance by filtering it's input before parsing
  datadog_checks_base/datadog_checks/checks/prometheus/mixins.py
  datadog_checks_base/tests/test_prometheus.py
  kubelet/datadog_checks/kubelet/prometheus.py
Labels: changelog/Fixed, integration/kubelet

#1890 Adding disclaimer for activemq <5.8
  activemq/README.md
Labels: changelog/no-changelog, documentation

#1889 Adding note for Vsphere metrics collection
  vsphere/README.md
Labels: changelog/no-changelog, documentation

#1892 remove A5 compat layer from imports
  gitlab/datadog_checks/gitlab/gitlab.py
  gitlab_runner/datadog_checks/gitlab_runner/gitlab_runner.py
  kube_dns/datadog_checks/kube_dns/kube_dns.py
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
Labels: changelog/no-changelog, integration/gitlab, integration/gitlab_runner, integration/kube_dns, integration/kubernetes_state

#1893 fix race condition and keyerror
  vsphere/datadog_checks/vsphere/vsphere.py
Labels: changelog/Fixed, integration/vsphere

#1888 Simplifying tests configuration
  haproxy/tests/common.py
  haproxy/tests/conftest.py
  haproxy/tests/test_haproxy.py
Labels: changelog/no-changelog, integration/haproxy

#1895 fix categories in manifests
  cisco_aci/manifest.json
  gitlab/manifest.json
  gitlab_runner/manifest.json
Labels: changelog/no-changelog, integration/cisco_aci, integration/gitlab

#1897 Sync WMI utils from dd-agent to datadog-checks-base
  datadog_checks_base/datadog_checks/checks/win/wmi/__init__.py
  datadog_checks_base/datadog_checks/checks/win/wmi/counter_type.py
Labels: changelog/Fixed, integration/datadog_checks_base

#1898 [ci skip] Bumped datadog_checks_dev version to 0.2.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#1880 Properly use skip_proxy for instance configuration
  datadog_checks_base/datadog_checks/checks/base.py
  datadog_checks_base/tests/test_proxy.py
Labels: changelog/Fixed, integration/datadog_checks_base

#1900 make remove_path util more resilient to errors
  datadog_checks_dev/datadog_checks/dev/utils.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#1901 [ci skip] Bumped datadog_checks_dev version to 0.2.1
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#1886 Adding log collection instructions
  fluentd/README.md
  fluentd/manifest.json
Labels: changelog/no-changelog, documentation

#1905 fix wheel build trigger stage
  .gitlab-ci.yml
Labels: dev/tooling

#1912 [ci skip] Bumped datadog_checks_base version to 1.4.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#1914 relax condition error handling to allow more time
  datadog_checks_dev/datadog_checks/dev/conditions.py
Labels: changelog/Fixed, dev/testing, dev/tooling, integration/datadog_checks_dev

#1915 [Release] Bumped datadog_checks_dev version to 0.2.2
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#1881 Adding disclaimer for agent 5
  postgres/README.md
Labels: changelog/no-changelog, documentation

#1882 Adding agent version disclaimer
  agent_metrics/README.md
Labels: changelog/no-changelog, documentation

#1908 Fixed some todos
  cisco_aci/tests/test_tags.py
  cisco_aci/tests/test_tenant.py
  mcache/datadog_checks/mcache/mcache.py
  mcache/tests/conftest.py
  mcache/tests/test_check.py
Labels: changelog/no-changelog, integration/cisco_aci, integration/mcache

#1909 Adding tests to Elastic integration
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/common.py
  elastic/tests/test_elastic.py
  elastic/tox.ini
Labels: changelog/no-changelog, integration/elastic

#1917 Removing last partial group
  rabbitmq/README.md
Labels: changelog/no-changelog, documentation

#1918 Removing logging cat to leave only log collection
  fluentd/manifest.json
Labels: changelog/no-changelog, documentation

#1916 remove invoke tasks
  tasks/__init__.py
  tasks/changelog.py
  tasks/cleanup.py
  tasks/constants.py
  tasks/dep.py
  tasks/manifest.py
  tasks/release.py
  tasks/test.py
  tasks/utils/__init__.py
  tasks/utils/common.py
  tasks/utils/git.py
  tasks/utils/github.py
  tasks/utils/requirements.py
Labels: dev/tooling

#1877 Port the statsd check to pytest
  .travis.yml
  statsd/datadog_checks/statsd/statsd.py
  statsd/requirements-dev.txt
  statsd/test/ci/statsd.rake
  statsd/test/test_statsd.py
  statsd/tests/__init__.py
  statsd/tests/compose/statsd.yaml
  statsd/tests/test_statsd.py
  statsd/tox.ini
Labels: changelog/no-changelog, integration/statsd

#1821 update TUF root keys
  .tuf-root.json
Labels: changelog/no-changelog, dev/tooling

#1920 Remove test to check requirements sync
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_dev

#1919 Update req.in files with platform specific env markers
  datadog_checks_base/agent_requirements.in
  gearmand/requirements.in
  kafka_consumer/requirements.in
  mcache/requirements.in
  sqlserver/requirements.in
  supervisord/requirements.in
Labels: changelog/no-changelog, dev/tooling

#1870 Add OpenLDAP integration
  openldap/MANIFEST.in
  openldap/README.md
  openldap/datadog_checks/__init__.py
  openldap/datadog_checks/openldap/__about__.py
  openldap/datadog_checks/openldap/__init__.py
  openldap/datadog_checks/openldap/data/conf.yaml.example
  openldap/datadog_checks/openldap/openldap.py
  openldap/images/snapshot.png
  openldap/logos/avatars-bot.png
  openldap/logos/saas_logos-bot.png
  openldap/logos/saas_logos-small.png
  openldap/manifest.json
  openldap/metadata.csv
  openldap/requirements-dev.txt
  openldap/requirements.in
  openldap/requirements.txt
  openldap/service_checks.json
  openldap/setup.py
  openldap/tests/__init__.py
  openldap/tests/common.py
  openldap/tests/compose/docker-compose.yaml
  openldap/tests/conftest.py
  openldap/tests/fixtures/monitor.json
  openldap/tests/test_check.py
  openldap/tests/test_unit.py
  openldap/tox.ini
Labels: changelog/Added, integration/openldap

#1922 [Release] OpenLDAP integration 1.0.0
  openldap/CHANGELOG.md
Labels: changelog/no-changelog, integration/openldap

#1924 Add openldap to travis
  .travis.yml
Labels: dev/testing

#1921 Update dep tooling to support environment markers
  datadog_checks_dev/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/dep.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#1928 package Agent's pinned requirements
  datadog_checks_base/datadog_checks/data/agent_requirements.in
  datadog_checks_base/datadog_checks/data/agent_requirements.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#1518 Update metadata of the cpu metrics from gauges to rates
  ecs_fargate/manifest.json
  ecs_fargate/metadata.csv
Labels: changelog/Fixed, integration/ecs_fargate

#1836 Resolve Agent 6 Nagios event issues
  nagios/datadog_checks/nagios/nagios.py
  nagios/test/test_nagios.py
Labels: changelog/Fixed, integration/nagios

#1923 Add openldap to the list of agent integrations
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#1930 Adding new integrations logos
  btrfs/logos/avatars-bot.png
  cacti/logos/avatars-bot.png
  couch/logos/avatars-bot.png
  couch/logos/saas_logos-bot.png
  couch/logos/saas_logos-small.png
  etcd/logos/avatars-bot.png
  etcd/logos/saas_logos-bot.png
  etcd/logos/saas_logos-small.png
  fluentd/logos/avatars-bot.png
  fluentd/logos/saas_logos-bot.png
  fluentd/logos/saas_logos-small.png
  gearmand/logos/avatars-bot.png
  gearmand/logos/saas_logos-bot.png
  gearmand/logos/saas_logos-small.png
  kyototycoon/logos/avatars-bot.png
  kyototycoon/logos/saas_logos-bot.png
  kyototycoon/logos/saas_logos-small.png
  lighttpd/logos/avatars-bot.png
  lighttpd/logos/saas_logos-bot.png
  lighttpd/logos/saas_logos-small.png
  openstack/logos/avatars-bot.png
  openstack/logos/saas_logos-bot.png
  openstack/logos/saas_logos-small.png
  pgbouncer/logos/avatars-bot.png
  pgbouncer/logos/saas_logos-bot.png
  pgbouncer/logos/saas_logos-small.png
  php_fpm/logos/avatars-bot.png
  php_fpm/logos/saas_logos-bot.png
  php_fpm/logos/saas_logos-small.png
  snmp/logos/avatars-bot.png
  snmp/logos/saas_logos-bot.png
  snmp/logos/saas_logos-small.png
  solr/logos/avatars-bot.png
  solr/logos/saas_logos-bot.png
  solr/logos/saas_logos-small.png
  tokumx/logos/avatars-bot.png
  tokumx/logos/saas_logos-bot.png
  tokumx/logos/saas_logos-small.png
Labels: changelog/no-changelog, documentation

#1933 Fixing image link
  elastic/README.md
Labels: changelog/no-changelog, documentation

#1935 Properly skip proxy environment variables
  datadog_checks_base/datadog_checks/utils/proxy.py
  datadog_checks_base/tests/test_proxy.py
Labels: changelog/Fixed, integration/datadog_checks_base

#1936 Upgrade CPython to 2.7.15 on Travis
  .travis.yml
Labels: dev/testing

#1847 Fixing typo in the pod list path used in the kubelet integration
  kubelet/datadog_checks/kubelet/kubelet.py
Labels: changelog/Fixed, do-not-merge/HOLD, integration/kubelet, severity/minor

#1937 Adding integration logo
  activemq/logos/avatars-bot.png
  activemq/logos/saas_logos-bot.png
  activemq/logos/saas_logos-small.png
  activemq_xml/logos/avatars-bot.png
  activemq_xml/logos/saas_logos-bot.png
  activemq_xml/logos/saas_logos-small.png
  postfix/logos/avatars-bot.png
Labels: changelog/no-changelog, documentation

#1938 fix manifest
  apache/manifest.json
Labels: changelog/no-changelog, integration/apache

#1939 Revert "Add debug logging (#1858)"
  vsphere/datadog_checks/vsphere/vsphere.py
Labels: changelog/no-changelog, integration/vsphere

#1929 Check events between system boot and DataDog agent start
  win32_event_log/datadog_checks/win32_event_log/win32_event_log.py
  win32_event_log/requirements.in
  win32_event_log/requirements.txt
Labels: changelog/Added, integration/win_32_event_log

#1942 Adding baklava as code owner for doc material
  .github/CODEOWNERS
Labels: changelog/no-changelog, documentation

#1944 Fix error in case of empty stat info
  haproxy/datadog_checks/haproxy/haproxy.py
Labels: changelog/Fixed, integration/haproxy

#1945 Make sure all checks' versions are exposed
  apache/datadog_checks/apache/__init__.py
  couch/datadog_checks/couch/__init__.py
  haproxy/datadog_checks/haproxy/__init__.py
  kube_proxy/datadog_checks/kube_proxy/__init__.py
  mysql/datadog_checks/mysql/__init__.py
  powerdns_recursor/datadog_checks/powerdns_recursor/__init__.py
  prometheus/datadog_checks/prometheus/__init__.py
  teamcity/datadog_checks/teamcity/__init__.py
  varnish/datadog_checks/varnish/__init__.py
Labels: changelog/Fixed, integration/apache, integration/couch, integration/haproxy, integration/kube_proxy, integration/mysql, integration/powerdns_recursor, integration/teamcity, integration/varnish

#1946 [Fixed] Remove duplicate requirement
  prometheus/tests/requirements.txt
Labels: changelog/no-changelog, dev/testing, integration/prometheus

#1948 Support finding key lengths on any db
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/requirements-dev.txt
  redisdb/tests/common.py
  redisdb/tests/conftest.py
  redisdb/tests/test_default.py
  redisdb/tox.ini
Labels: changelog/Added, integration/redisdb

#1934 Add command to create Trello test cards from Agent release diffs
  datadog_checks_dev/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/utils.py
  datadog_checks_dev/datadog_checks/dev/tooling/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
  datadog_checks_dev/datadog_checks/dev/tooling/github.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/datadog_checks/dev/utils.py
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#1949 Lower case reasons before matching container.status_report.count.* metrics
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Fixed, integration/kubernetes_state

#1951 Rename pytest plugin directory
  datadog_checks_dev/datadog_checks/dev/plugin/__init__.py
  datadog_checks_dev/datadog_checks/dev/plugin/plugin.py
  datadog_checks_dev/setup.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#1962 Allow passing --build to compose up
  datadog_checks_dev/datadog_checks/dev/docker.py
Labels: changelog/Added, integration/datadog_checks_dev

#1961 Relax tox env detection for benchmarks
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#1963 Fix example yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: changelog/no-changelog, integration/sqlserver

#1964 [Release] Bumped datadog_checks_dev version to 0.3.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#1965 Comment out example custom metric
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: changelog/no-changelog, integration/sqlserver

#1966 Correct config option documentation
  http_check/README.md
Labels: changelog/no-changelog, documentation, integration/http_check

#1954 Accept more standard boolean values for instance config options
  consul/datadog_checks/consul/consul.py
Labels: changelog/Fixed, integration/consul

#1967 Revert new query type
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: changelog/no-changelog, integration/sqlserver

#1957 Support Python 3 for datadog_checks_base
  .travis.yml
  datadog_checks_base/datadog_checks/checks/base.py
  datadog_checks_base/datadog_checks/checks/libs/thread_pool.py
  datadog_checks_base/datadog_checks/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/checks/prometheus/prometheus_base.py
  datadog_checks_base/datadog_checks/checks/win/winpdh.py
  datadog_checks_base/datadog_checks/checks/win/winpdh_base.py
  datadog_checks_base/datadog_checks/checks/win/winpdh_stub.py
  datadog_checks_base/datadog_checks/checks/win/wmi/__init__.py
  datadog_checks_base/datadog_checks/checks/win/wmi/sampler.py
  datadog_checks_base/datadog_checks/config.py
  datadog_checks_base/datadog_checks/stubs/_util.py
  datadog_checks_base/datadog_checks/stubs/aggregator.py
  datadog_checks_base/datadog_checks/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/utils/subprocess_output.py
  datadog_checks_base/tests/__init__.py
  datadog_checks_base/tests/test_pdhbasecheck.py
  datadog_checks_base/tests/test_prometheus.py
  datadog_checks_base/tests/test_prometheus_base_check.py
  datadog_checks_base/tests/test_winpdh.py
  datadog_checks_base/tox.ini
  datadog_checks_tests_helper/datadog_test_libs/win/pdh_mocks.py
Labels: changelog/Added, integration/datadog_checks_base

#1959 Fix key errors
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
Labels: changelog/Fixed, integration/ecs_fargate

#1958 Upgrade pymongo
  mongo/requirements.in
  mongo/requirements.txt
  tokumx/requirements.in
  tokumx/requirements.txt
Labels: changelog/Added, integration/mongo, integration/tokumx
