Repository DataDog/integrations-core, pull requests merged in 2018-09, with the labels that each got.

#1980 Update kube_dns to use the new OpenMetricsBaseCheck
  .travis.yml
  kube_dns/datadog_checks/kube_dns/kube_dns.py
  kube_dns/test/__init__.py
  kube_dns/test/ci/kube_dns.rake
  kube_dns/tests/__init__.py
  kube_dns/tests/fixtures/metrics.txt
  kube_dns/tests/test_kube_dns.py
  kube_dns/tox.ini
Labels: changelog/Changed, containers, integration/kube_dns

#1983 Update kubernetes_state to use the new OpenMetricsBaseCheck
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/fixtures/protobuf.bin
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Changed, containers, integration/kubernetes_state

#2153 Upgrade pyvmomi to 6.7.0
  vsphere/requirements.in
  vsphere/requirements.txt
Labels: changelog/Changed, integration/vsphere

#2155 Fix trello command for other repos
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/github.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2156 [Release] Bumped datadog_checks_dev version to 0.4.1
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2158 adding v5 disclaimer
  docker_daemon/README.md
Labels: changelog/no-changelog, documentation

#2162 Handle character limit for Trello card descriptions
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2166 Fix resourcequota and limitrange collection
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/no-changelog, integration/kubernetes_state, kind/bug

#2169 Allow automated releasing by looking at github labels
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Added, integration/datadog_checks_dev

#2157 Adding fargate log collection
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation

#2152 doc updates
  openmetrics/README.md
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: changelog/no-changelog, documentation

#2174 Change order of precedence of whitelist and blacklist for pattern filtering
  datadog_checks_base/datadog_checks/utils/common.py
  datadog_checks_base/tests/test_utils.py
  envoy/README.md
  envoy/datadog_checks/envoy/envoy.py
  envoy/tests/common.py
  envoy/tests/test_envoy.py
Labels: changelog/Changed, integration/datadog_checks_base, integration/envoy

#2176 [Release] Bumped envoy version to 1.4.0
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/envoy

#2177 [Release] Bumped datadog_checks_base version to 2.1.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#2175 Remove unused import
  postgres/datadog_checks/postgres/postgres.py
Labels: changelog/no-changelog, integration/postgres

#2163 Add ability to filter checks to test by changes
  appveyor.yml
  datadog_checks_dev/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#2180 Downgrade pyvmomi to v6.5.0.2017.5-1
  vsphere/requirements.in
  vsphere/requirements.txt
Labels: changelog/Changed, integration/vsphere

#2182 [Release] Bumped vsphere version to 3.1.0
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere

#2181 Freeze pyVmomi dep in base check
  datadog_checks_base/datadog_checks/data/agent_requirements.in
Labels: changelog/Changed, integration/datadog_checks_base

#2183 [Release] Bumped datadog_checks_base version to 2.2.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#2173 Rewrite the Mor cache
  vsphere/datadog_checks/vsphere/mor_cache.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/conftest.py
  vsphere/tests/test_mor_cache.py
  vsphere/tests/test_vsphere.py
Labels: changelog/Changed, integration/vsphere

#2178 Gracefully handle failed version regex match
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_unit.py
  postgres/tox.ini
Labels: changelog/Fixed, integration/postgres

#2184 Gracefully handle errors when performing custom_queries
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_unit.py
Labels: changelog/Fixed, integration/postgres

#2188 Fix release freeze command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2190 Upgrade psutil
  agent_metrics/requirements.in
  agent_metrics/requirements.txt
  btrfs/requirements.in
  btrfs/requirements.txt
  disk/requirements.in
  disk/requirements.txt
  gunicorn/requirements.in
  gunicorn/requirements.txt
  network/requirements.in
  network/requirements.txt
  process/datadog_checks/process/process.py
  process/requirements.in
  process/requirements.txt
  process/tests/common.py
  process/tests/test_process.py
  system_core/requirements.in
  system_core/requirements.txt
  system_swap/requirements.in
  system_swap/requirements.txt
Labels: changelog/Added, integration/agent_metrics, integration/btrfs, integration/disk, integration/gunicorn, integration/network, integration/process, integration/system_core, integration/system_swap

#2187 Fix multiple db key length
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/tests/test_default.py
Labels: changelog/Changed, integration/redisdb

#2192 Check that objects queue is initialized before processing it, and process it entirely
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_vsphere.py
Labels: changelog/Fixed, integration/vsphere

#2172 Gracefully handle tags that already exist
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2194 Add better debugging to test command
  datadog_checks_dev/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#2195 Add codecov flag for each check
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: changelog/no-changelog, dev/testing, dev/tooling, integration/datadog_checks_dev

#2196 Add ability to add wait time in docker_run
  datadog_checks_dev/datadog_checks/dev/docker.py
Labels: changelog/Added, integration/datadog_checks_dev

#2200 Use mockbin.com instead of httpbin.org
  http_check/tests/common.py
Labels: changelog/no-changelog, integration/http_check

#2201 Make the connection list thread safe
  vsphere/datadog_checks/vsphere/vsphere.py
Labels: changelog/Fixed, integration/vsphere

#2203 removing link to stale FAQ
  docker_daemon/README.md
Labels: changelog/no-changelog, documentation

#2091 Adding CoreDNS integration to Datadog
  coredns/CHANGELOG.md
  coredns/MANIFEST.in
  coredns/README.md
  coredns/datadog_checks/__init__.py
  coredns/datadog_checks/coredns/__about__.py
  coredns/datadog_checks/coredns/__init__.py
  coredns/datadog_checks/coredns/coredns.py
  coredns/datadog_checks/coredns/data/auto_conf.yaml
  coredns/datadog_checks/coredns/data/conf.yaml.example
  coredns/manifest.json
  coredns/metadata.csv
  coredns/requirements-dev.txt
  coredns/requirements.txt
  coredns/setup.py
  coredns/tests/__init__.py
  coredns/tests/conftest.py
  coredns/tests/docker/coredns/Corefile
  coredns/tests/docker/docker-compose.yml
  coredns/tests/fixtures/metrics.txt
  coredns/tests/test_check.py
  coredns/tox.ini
Labels: community, containers, kind/new-check

#2150 Add cockroachdb integration
  .travis.yml
  cockroachdb/CHANGELOG.md
  cockroachdb/MANIFEST.in
  cockroachdb/README.md
  cockroachdb/datadog_checks/__init__.py
  cockroachdb/datadog_checks/cockroachdb/__about__.py
  cockroachdb/datadog_checks/cockroachdb/__init__.py
  cockroachdb/datadog_checks/cockroachdb/cockroachdb.py
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/metrics.py
  cockroachdb/manifest.json
  cockroachdb/metadata.csv
  cockroachdb/requirements-dev.txt
  cockroachdb/requirements.in
  cockroachdb/requirements.txt
  cockroachdb/setup.py
  cockroachdb/tests/__init__.py
  cockroachdb/tests/common.py
  cockroachdb/tests/conftest.py
  cockroachdb/tests/docker/docker-compose.yaml
  cockroachdb/tests/test_bench.py
  cockroachdb/tests/test_cockroachdb.py
  cockroachdb/tox.ini
  datadog_checks_base/datadog_checks/stubs/aggregator.py
Labels: changelog/Added, integration/cockroachdb, kind/new-check

#2210 Grammar fix
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#2204 Fixing indentation of code block
  cassandra/README.md
Labels: changelog/no-changelog, documentation, integration/cassandra

#2191 Add the kubernetes.containers.running metric
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/fixtures/pods.json
  kubelet/tests/test_common.py
  kubelet/tests/test_kubelet.py
Labels: changelog/Added, integration/kubelet

#2206 Add cpu percent metric && Fix container stopped behaviour
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  ecs_fargate/metadata.csv
  ecs_fargate/test/test_ecs_fargate.py
Labels: changelog/Added, containers, integration/ecs_fargate

#2211 [Release] Bumped ecs_fargate version to 1.3.0
  ecs_fargate/CHANGELOG.md
  ecs_fargate/datadog_checks/ecs_fargate/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ecs_fargate

#2212 Make the metadata cache thread safe
  vsphere/datadog_checks/vsphere/metadata_cache.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_metadata_cache.py
  vsphere/tests/test_vsphere.py
Labels: changelog/Fixed, integration/vsphere

#2205 Handle missing attributes in property collector result
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_vsphere.py
Labels: changelog/Fixed, integration/vsphere

#2213 [Release] Bumped vsphere version to 3.2.0
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere

#2208 Fix version detection for Postgres v10+
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_unit.py
Labels: changelog/Fixed, integration/postgres

#2216 [Release] Bumped postgres version to 2.2.2
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres

#2217 [Release] Bumped datadog_checks_base version to 2.2.1
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#2130 Update couchdb documentation with log instructions
  couch/README.md
  couch/datadog_checks/couch/data/conf.yaml.example
  couch/manifest.json
Labels: changelog/no-changelog, documentation, integration/couch

#2220 Update CouchDB to latest logos from couchdb.apache.org
  couch/logos/avatars-bot.png
  couch/logos/saas_logos-bot.png
  couch/logos/saas_logos-small.png
Labels: changelog/no-changelog, documentation, integration/couch

#2221 Precompute list of metric IDs to improve performance
  vsphere/datadog_checks/vsphere/metadata_cache.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_metadata_cache.py
  vsphere/tests/test_vsphere.py
Labels: changelog/Changed, integration/vsphere

#2229 Add tile for Pivotal Container Service
  pivotal_pks/README.md
  pivotal_pks/logos/avatars-bot.png
  pivotal_pks/logos/saas_logos-bot.png
  pivotal_pks/logos/saas_logos-small.png
  pivotal_pks/manifest.json
Labels: integration/pivotal_pks

#2235 Update base package paths
  datadog_checks_dev/datadog_checks/dev/plugin/plugin.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Added, integration/datadog_checks_dev

#2236 [Release] Bumped datadog_checks_dev version to 0.6.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2238 [Release] Bumped datadog_checks_dev version to 0.6.1
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2240 Revert "Update base package paths (#2235)"
  datadog_checks_dev/datadog_checks/dev/plugin/plugin.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2241 [Release] Bumped datadog_checks_dev version to 0.6.2
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2225 Adding SQL Stored Procedure faq link
  mysql/README.md
Labels: changelog/no-changelog, documentation, integration/mysql

#2215 Increase coverage for _is_above
  postgres/tests/test_unit.py
Labels: changelog/no-changelog, integration/postgres

#2230 Port supervisord to pytest
  .travis.yml
  supervisord/datadog_checks/supervisord/supervisord.py
  supervisord/test/ci/resources/program_0.sh
  supervisord/test/ci/resources/program_1.sh
  supervisord/test/ci/resources/program_2.sh
  supervisord/test/ci/resources/supervisord.conf
  supervisord/test/ci/supervisord.rake
  supervisord/test/test_supervisord.py
  supervisord/tests/__init__.py
  supervisord/tests/common.py
  supervisord/tests/compose/supervisord.yaml
  supervisord/tests/test_supervisord_integration.py
  supervisord/tests/test_supervisord_unit.py
  supervisord/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/supervisord

#2226 Add ability to filter metrics by collection level
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_vsphere.py
Labels: changelog/Added, integration/vsphere

#2234 Fix link typo
  fluentd/README.md
Labels: changelog/no-changelog, integration/fluentd

#2246 [Release] Bumped vsphere version to 3.3.0
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere

#2248 Revert default prometheus metric limit to 2000
  datadog_checks_base/datadog_checks/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/checks/prometheus/prometheus_base.py
  prometheus/README.md
  prometheus/datadog_checks/prometheus/data/conf.yaml.example
Labels: changelog/Changed, integration/datadog_checks_base

#2243 Add config option to select the default repository
  datadog_checks_dev/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/cli.py
  datadog_checks_dev/datadog_checks/dev/tooling/config.py
  docs/dev/new_check_howto.md
Labels: changelog/Added, integration/datadog_checks_dev

#2244 Remove unused port config option for pdh checks
  aspdotnet/datadog_checks/aspdotnet/data/conf.yaml.example
  dotnetclr/datadog_checks/dotnetclr/data/conf.yaml.example
Labels: changelog/Fixed, integration/aspdotnet, integration/dotnetclr

#1984 Update linkerd to use the new OpenMetricsBaseCheck
  linkerd/datadog_checks/linkerd/linkerd.py
  linkerd/tests/test_linkerd.py
Labels: changelog/Changed, integration/linkerd

#2228 Fix invalid unit names in metadata files
  active_directory/metadata.csv
  consul/metadata.csv
  coredns/metadata.csv
  couchbase/metadata.csv
  elastic/metadata.csv
  exchange_server/metadata.csv
  nginx/metadata.csv
  powerdns_recursor/metadata.csv
  yarn/metadata.csv
Labels: changelog/no-changelog, documentation, integration/active_directory, integration/cockroachdb, integration/consul, integration/couchbase, integration/dns_check, integration/elastic, integration/envoy, integration/exchange_server, integration/kubelet, integration/kubernetes, integration/nginx, integration/openshift, integration/powerdns_recursor, integration/redisdb, integration/yarn

#2233 Small fixes to metadata csv files
  aspdotnet/metadata.csv
  cassandra/metadata.csv
  cassandra_nodetool/metadata.csv
  cisco_aci/metadata.csv
  cockroachdb/metadata.csv
  couch/metadata.csv
  dns_check/metadata.csv
  gearmand/metadata.csv
  go_expvar/metadata.csv
  http_check/metadata.csv
  kyototycoon/metadata.csv
  lighttpd/metadata.csv
  linkerd/metadata.csv
  network/metadata.csv
  process/metadata.csv
  rabbitmq/metadata.csv
  redisdb/metadata.csv
  riakcs/metadata.csv
  solr/metadata.csv
  spark/metadata.csv
  squid/metadata.csv
  tomcat/metadata.csv
Labels: changelog/no-changelog, documentation, integration/aspdotnet, integration/cassandra, integration/cassandra_nodetool, integration/cisco_aci, integration/cockroachdb, integration/couch, integration/dns_check, integration/gearmand, integration/go_expvar, integration/http_check, integration/kyototycoon, integration/lighttpd, integration/linkerd, integration/network, integration/process, integration/rabbitmq, integration/redisdb, integration/riakcs, integration/solr, integration/spark, integration/squid, integration/tomcat

#2250 Adding windows disclaimer
  directory/README.md
Labels: changelog/no-changelog, documentation, integration/directory

#2199 Update consul timestamp to use supported python functions
  consul/datadog_checks/consul/consul.py
Labels: community, integration/consul

#2251 [Oracle] fix grant command
  oracle/README.md
Labels: changelog/no-changelog, documentation, integration/oracle

#2252 Update yaml to mention point to consul leader
  consul/datadog_checks/consul/data/conf.yaml.example
Labels: changelog/no-changelog, integration/consul

#2257 Add logos for pivotal_pks
  pivotal_pks/logos/avatars-bot.png
  pivotal_pks/logos/saas_logos-bot.png
  pivotal_pks/logos/saas_logos-small.png
Labels: integration/pivotal_pks

#2249 Port the check to Pytest
  .travis.yml
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  ecs_fargate/test/ci/ecs_fargate.rake
  ecs_fargate/test/test_ecs_fargate.py
  ecs_fargate/tests/__init__.py
  ecs_fargate/tests/fixtures/metadata.json
  ecs_fargate/tests/fixtures/stats.json
  ecs_fargate/tests/test_unit.py
  ecs_fargate/tox.ini
Labels: changelog/no-changelog, integration/ecs_fargate

#2258 Fix manifest validation policy
  datadog_checks_dev/datadog_checks/dev/tooling/commands/manifest.py
Labels: changelog/Added, dev/tooling

#2260 [ci skip] change name to match what we have in the backend
  pivotal_pks/manifest.json
Labels: changelog/no-changelog, integration/pivotal_pks

#2209 Network metadata documentation: update connection descriptions
  network/metadata.csv
Labels: community, documentation, integration/network

#2245 Add additional kubelet metrics
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/metadata.csv
  kubelet/tests/test_kubelet.py
Labels: changelog/Added, integration/kubelet

#1981 Update kube_proxy to use the new OpenMetricsBaseCheck
  kube_proxy/datadog_checks/kube_proxy/kube_proxy.py
  kube_proxy/tests/test_kube_proxy.py
  kube_proxy/tox.ini
Labels: changelog/Changed, containers, integration/kube_proxy

#2268 Making the integration private
  cockroachdb/manifest.json
Labels: changelog/no-changelog, documentation, integration/cockroachdb

#2265 Fix batch implementation logic
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_vsphere.py
Labels: changelog/Fixed, integration/vsphere

#2272 [Release] Bumped vsphere version to 3.3.1
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere

#2063 Include ContainerCreating in pod waiting status reasons
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Fixed, community, integration/kubernetes_state

#2148 Add OpenMetrics integration
  openmetrics/CHANGELOG.md
  openmetrics/MANIFEST.in
  openmetrics/README.md
  openmetrics/datadog_checks/__init__.py
  openmetrics/datadog_checks/openmetrics/__about__.py
  openmetrics/datadog_checks/openmetrics/__init__.py
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/openmetrics.py
  openmetrics/logos/avatars-bot.png
  openmetrics/logos/saas_logos-bot.png
  openmetrics/logos/saas_logos-small.png
  openmetrics/manifest.json
  openmetrics/metadata.csv
  openmetrics/requirements-dev.txt
  openmetrics/requirements.in
  openmetrics/requirements.txt
  openmetrics/setup.py
  openmetrics/tests/__init__.py
  openmetrics/tests/test_openmetrics.py
  openmetrics/tox.ini
Labels: changelog/Added, containers, kind/new-check

#1977 Update gitlab to use the new OpenMetricsBaseCheck
  gitlab/datadog_checks/gitlab/gitlab.py
  gitlab/tests/conftest.py
  gitlab/tests/test_bench.py
  gitlab/tests/test_gitlab.py
Labels: changelog/Changed, integration/gitlab

#1978 Update gitlab_runner to use the new OpenMetricsBaseCheck
  gitlab_runner/datadog_checks/gitlab_runner/gitlab_runner.py
  gitlab_runner/tests/conftest.py
  gitlab_runner/tests/test_gitlab_runner.py
Labels: changelog/Changed, integration/gitlab_runner

#2273 Publish autogenerated API docs for the base check to Readthedocs
  README.md
  docs/Makefile
  docs/conf.py
  docs/datadog_checks.checks.libs.rst
  docs/datadog_checks.checks.libs.vmware.rst
  docs/datadog_checks.checks.openmetrics.rst
  docs/datadog_checks.checks.prometheus.rst
  docs/datadog_checks.checks.rst
  docs/datadog_checks.checks.win.rst
  docs/datadog_checks.checks.win.wmi.rst
  docs/datadog_checks.rst
  docs/datadog_checks.stubs.rst
  docs/datadog_checks.utils.rst
  docs/index.rst
  docs/make.bat
  docs/requirements.txt
Labels: changelog/no-changelog, dev/tooling, documentation

#2279 Fix badge link
  README.md
Labels: documentation

#2277 Keep track of the checks changed at every Datadog Agent release
  AGENT_CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Added, dev/tooling, documentation, integration/datadog_checks_dev

#2117 Add prometheus metadata.csv and metric map auto-generation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta_commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta_commands/prometheus.py
  datadog_checks_dev/setup.py
Labels: changelog/Added, integration/datadog_checks_dev

#2280 Update the readme with the latest info
  README.md
Labels: documentation

#2165 Add ability to tag metrics based on marathon labels
  marathon/datadog_checks/marathon/data/conf.yaml.example
  marathon/datadog_checks/marathon/marathon.py
  marathon/tests/conftest.py
  marathon/tests/fixtures/apps.json
  marathon/tests/test_marathon.py
Labels: changelog/Added, community, integration/marathon

#2282 Make the status route-agnostic when using fastcgi
  php_fpm/datadog_checks/php_fpm/php_fpm.py
  php_fpm/tests/compose/default.conf
  php_fpm/tests/compose/php-fpm.conf
  php_fpm/tests/conftest.py
Labels: changelog/Fixed, integration/php_fpm

#2224 Add release signing via in-toto
  .in-toto-run.py
  datadog_checks_dev/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
  datadog_checks_dev/datadog_checks/dev/tooling/signing.py
  datadog_checks_dev/setup.py
Labels: changelog/Added, integration/datadog_checks_dev

#2288 Fixing attribtue into attribute
  active_directory/datadog_checks/active_directory/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  cassandra/datadog_checks/cassandra/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  couch/datadog_checks/couch/data/conf.yaml.example
  elastic/datadog_checks/elastic/data/conf.yaml.example
  gunicorn/datadog_checks/gunicorn/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  iis/datadog_checks/iis/data/conf.yaml.example
  kafka/datadog_checks/kafka/data/conf.yaml.example
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mysql/datadog_checks/mysql/data/conf.yaml.example
  postgres/datadog_checks/postgres/data/conf.yaml.example
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
  redisdb/datadog_checks/redisdb/data/conf.yaml.example
  tomcat/datadog_checks/tomcat/data/conf.yaml.example
  varnish/datadog_checks/varnish/data/conf.yaml.example
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
  zk/datadog_checks/zk/data/conf.yaml.example
Labels: changelog/no-changelog, documentation

#2291 David/prod update teamcity docs
  teamcity/README.md
Labels: changelog/no-changelog, documentation, integration/teamcity

#2293 Catch exception when string sent as metric value
  datadog_checks_base/datadog_checks/checks/base.py
  datadog_checks_base/tests/test_agent_check.py
Labels: changelog/Changed, integration/datadog_checks_base

#2281 Fix for Python 3
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2290 Allow configuring cert expiration time in seconds
  http_check/datadog_checks/http_check/data/conf.yaml.example
  http_check/datadog_checks/http_check/http_check.py
  http_check/metadata.csv
  http_check/tests/common.py
  http_check/tests/test_http_check.py
Labels: changelog/Added, integration/http_check

#2289 Adding instructions for agent v6
  agent_metrics/README.md
Labels: changelog/no-changelog, documentation

#2297 [Release] Bumped datadog_checks_dev version to 0.8.0
  .links/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2094 Add process signatures to some integrations
  activemq/manifest.json
  apache/manifest.json
  cassandra/manifest.json
  ceph/manifest.json
  consul/manifest.json
  couch/manifest.json
  couchbase/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/commands/manifest.py
  docker_daemon/manifest.json
  docs/dev/new_check_howto.md
  elastic/manifest.json
  etcd/manifest.json
  fluentd/manifest.json
  gearmand/manifest.json
  gunicorn/manifest.json
  haproxy/manifest.json
  kafka/manifest.json
  kong/manifest.json
  kyototycoon/manifest.json
  lighttpd/manifest.json
  marathon/manifest.json
  mcache/manifest.json
  mesos_master/manifest.json
  mongo/manifest.json
  mysql/manifest.json
  nagios/manifest.json
  nginx/manifest.json
  openstack/manifest.json
  pgbouncer/manifest.json
  php_fpm/manifest.json
  postfix/manifest.json
  postgres/manifest.json
  powerdns_recursor/manifest.json
  rabbitmq/manifest.json
  redisdb/manifest.json
  riakcs/manifest.json
  solr/manifest.json
  ssh_check/manifest.json
  supervisord/manifest.json
  teamcity/manifest.json
  tokumx/manifest.json
  tomcat/manifest.json
  varnish/manifest.json
  zk/manifest.json
Labels: do-not-merge/WIP

#2300 Add logos for cockroachdb
  cockroachdb/logos/avatars-bot.png
  cockroachdb/logos/saas_logos-bot.png
  cockroachdb/logos/saas_logos-small.png
Labels: changelog/no-changelog, integration/cockroachdb

#2079 Adds ability to Trace "check" function with DD APM
  datadog_checks_base/datadog_checks/data/agent_requirements.in
  datadog_checks_base/datadog_checks/utils/__init__.py
  datadog_checks_base/datadog_checks/utils/tracing.py
  datadog_checks_base/requirements.in
  datadog_checks_base/requirements.txt
  datadog_checks_tests_helper/requirements.in
  openstack/tox.ini
Labels: changelog/Changed, integration/datadog_checks_base, integration/openstack

#2302 Show codecov flags for pull request comment bot
  .codecov.yml
Labels: dev/testing, dev/tooling

#2301 [Release] datadog-checks-base 3.0.0
  .links/LATEST
  .links/tag.6e091a53.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#2267 fixes cisco for username and password
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/datadog_checks/cisco_aci/exceptions.py
Labels: changelog/Fixed, integration/cisco_aci

#2303 Fix Python 2 unicode handling for log pattern error message
  datadog_checks_dev/datadog_checks/dev/conditions.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2304 [Release] Bumped datadog_checks_dev version to 0.8.1
  .links/LATEST
  .links/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2298 Add more AgentCheck tests
  datadog_checks_base/tests/test_agent_check.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#2269 Command to validate metadata
  .travis.yml
  consul/metadata.csv
  coredns/manifest.json
  couch/metadata.csv
  datadog_checks_dev/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/metadata.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  docs/dev/new_check_howto.md
  gitlab/metadata.csv
  gitlab_runner/metadata.csv
  http_check/metadata.csv
  marathon/metadata.csv
  powerdns_recursor/metadata.csv
  redisdb/metadata.csv
  zk/metadata.csv
Labels: changelog/Added, integration/datadog_checks_dev

#2307 add a command to print out changed checks
  datadog_checks_dev/datadog_checks/dev/tooling/commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/changed.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#2305 Make windows_service use scm api instead of wmi
  windows_service/README.md
  windows_service/datadog_checks/windows_service/data/conf.yaml.example
  windows_service/datadog_checks/windows_service/windows_service.py
  windows_service/tests/conftest.py
  windows_service/tests/test_bench.py
  windows_service/tests/test_windows_service.py
  windows_service/tox.ini
Labels: changelog/Removed, integration/windows_service

#2309 Add tests
  http_check/datadog_checks/http_check/adapters.py
  http_check/datadog_checks/http_check/http_check.py
  http_check/datadog_checks/http_check/utils.py
  http_check/tests/common.py
  http_check/tests/conftest.py
  http_check/tests/test_http_check.py
  http_check/tests/test_utils.py
  http_check/tox.ini
Labels: changelog/no-changelog, integration/http_check

#2310 Ignore 'azure_maintenance' db to avoid permission error
  postgres/datadog_checks/postgres/postgres.py
Labels: changelog/Fixed, integration/postgres

#2313 [Apache] Fixing code block
  apache/README.md
Labels: changelog/no-changelog, documentation, integration/apache

#2193 Removed unused files
  .pylintrc
  .rbenv-gemsets
  .rubocop.yml
  Gemfile
  Gemfile.lock
  Rakefile
Labels: dev/tooling

#2315 Upgrade in-toto to gain full cross-platform release signing support
  datadog_checks_dev/setup.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#2311 Fix namespace overwriting
  cockroachdb/setup.py
  coredns/setup.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/setup.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/jmx/{check_name}/setup.py
  openmetrics/setup.py
Labels: changelog/Fixed, integration/cockroachdb, integration/coredns, integration/datadog_checks_dev, integration/openmetrics

#2316 Remove flags from codecov bot
  .codecov.yml
Labels: dev/testing

#2318 Fix fetching ca_certs from init_config
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/test_http_check.py
Labels: changelog/Fixed, integration/http_check

#2319 Add run command
  datadog_checks_dev/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/run.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/utils.py
Labels: changelog/Added, integration/datadog_checks_dev

#2323 Properly respect platform-specific connectors
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: changelog/no-changelog, integration/sqlserver
