Repository DataDog/integrations-core, pull requests merged in 2019-06, with the labels that each got.

#3746 Introducing the Kubernetes APIServer metrics check
  kube_apiserver_metrics/CHANGELOG.md
  kube_apiserver_metrics/MANIFEST.in
  kube_apiserver_metrics/README.md
  kube_apiserver_metrics/assets/logos/avatars-bot.png
  kube_apiserver_metrics/assets/logos/saas_logos-bot.png
  kube_apiserver_metrics/assets/logos/saas_logos-small.png
  kube_apiserver_metrics/assets/service_checks.json
  kube_apiserver_metrics/datadog_checks/__init__.py
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/__about__.py
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/__init__.py
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/auto_conf.yaml
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/manifest.json
  kube_apiserver_metrics/metadata.csv
  kube_apiserver_metrics/requirements-dev.txt
  kube_apiserver_metrics/requirements.in
  kube_apiserver_metrics/setup.py
  kube_apiserver_metrics/tests/__init__.py
  kube_apiserver_metrics/tests/common.py
  kube_apiserver_metrics/tests/conftest.py
  kube_apiserver_metrics/tests/fixtures/metrics.txt
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics.py
  kube_apiserver_metrics/tox.ini
Labels: changelog/Added, containers, documentation, integration/kube_apiserver_metrics, kind/new-integration

#3823 clarifying documentation text on `redis.expires` and `redis.expires.percent`
  redisdb/metadata.csv
Labels: changelog/no-changelog, documentation, integration/redisdb

#3844 [Release] Bumped kube_apiserver_metrics version to 1.0.0
  .links/LATEST
  .links/tag.c295cf63.link
  kube_apiserver_metrics/CHANGELOG.md
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/__about__.py
Labels: changelog/no-changelog, integration/kube_apiserver_metrics

#3846 Remove test file/folder
  test_again/service_checks.json
Labels: changelog/no-changelog

#3845 Release freeze
  .links/tag.c295cf63.link
  ambari/CHANGELOG.md
  ambari/datadog_checks/ambari/__about__.py
  cisco_aci/CHANGELOG.md
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
  haproxy/CHANGELOG.md
  haproxy/datadog_checks/haproxy/__about__.py
  hive/CHANGELOG.md
  hive/datadog_checks/hive/__about__.py
  iis/CHANGELOG.md
  iis/datadog_checks/iis/__about__.py
  kafka/CHANGELOG.md
  kafka/datadog_checks/kafka/__about__.py
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  kube_metrics_server/CHANGELOG.md
  kube_metrics_server/datadog_checks/kube_metrics_server/__about__.py
  mesos_slave/CHANGELOG.md
  mesos_slave/datadog_checks/mesos_slave/__about__.py
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  openmetrics/CHANGELOG.md
  openmetrics/datadog_checks/openmetrics/__about__.py
  openstack/CHANGELOG.md
  openstack/datadog_checks/openstack/__about__.py
  openstack_controller/CHANGELOG.md
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  oracle/CHANGELOG.md
  oracle/datadog_checks/oracle/__about__.py
  pdh_check/CHANGELOG.md
  pdh_check/datadog_checks/pdh_check/__about__.py
  presto/CHANGELOG.md
  presto/datadog_checks/presto/__about__.py
  redisdb/CHANGELOG.md
  redisdb/datadog_checks/redisdb/__about__.py
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/all

#3847 Fix package order of `get_datadog_wheels`
  datadog_checks_base/datadog_checks/base/utils/agent/packages.py
Labels: changelog/Fixed, integration/datadog_checks_base

#3848 [Release] Bumped datadog_checks_base version to 8.3.1
  .links/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#3674 Update Kube_scheduler with log instructions
  kube_scheduler/README.md
  kube_scheduler/manifest.json
Labels: integration/kube_scheduler

#3849 Fixing link text
  openshift/README.md
Labels: changelog/no-changelog, documentation, integration/openshift

#3850 Update environment
  presto/tests/conftest.py
Labels: changelog/no-changelog, dev/testing, integration/presto

#3843 Gitlab - Prevent the release manual job to run on branches
  .gitlab-ci.yml
Labels: dev/tooling

#3862 [Release] Bumped datadog_checks_base version to 8.3.2
  .links/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#3860 Fix example conf file
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/kafka_consumer

#3863 [Release] Bumped kafka_consumer version to 1.9.2
  .links/tag.c295cf63.link
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kafka_consumer

#3855 [hive] fix hive init file
  hive/datadog_checks/hive/__init__.py
Labels: changelog/Fixed, integration/hive

#3864 Fix handling of gray events
  vsphere/datadog_checks/vsphere/event.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_vsphere.py
Labels: changelog/Fixed, integration/vsphere

#3866 Encode hostname in set_external_tags
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/test_agent_check.py
  datadog_checks_base/tox.ini
Labels: changelog/Fixed, integration/datadog_checks_base

#3865 Add container integrations back to checks_base
  .github/CODEOWNERS
Labels: changelog/no-changelog, dev/tooling

#3868 Fix 'custom_queries' field name
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/conftest.py
Labels: changelog/Fixed, integration/mongo

#3856 Add missing metrics
  mongo/metadata.csv
Labels: changelog/Fixed, integration/mongo

#3872 [Release] Bumped mongo version to 1.10.1
  .links/tag.c295cf63.link
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mongo

#3869 Make e2e work on non-localhost setup
  supervisord/tests/common.py
  supervisord/tests/conftest.py
  supervisord/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/supervisord

#3867 Revert "[openmetrics] allow blacklisting of strings"
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
Labels: changelog/Fixed, containers, integration/nginx_ingress_controller

#3873 [Release] Bumped datadog_checks_base version to 8.3.3
  .links/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#3793 Add default dashboard
  ibm_db2/README.md
  ibm_db2/assets/dashboards/overview.json
  ibm_db2/assets/images/dashboard_overview.png
  ibm_db2/manifest.json
Labels: changelog/no-changelog, integration/ibm_db2

#3874 Fix version discovery
  ceph/datadog_checks/ceph/__init__.py
  presto/datadog_checks/presto/__init__.py
Labels: changelog/Fixed, integration/ceph, integration/presto

#3876 [Release] Version discovery fix
  .links/tag.c295cf63.link
  ceph/CHANGELOG.md
  ceph/datadog_checks/ceph/__about__.py
  hive/CHANGELOG.md
  hive/datadog_checks/hive/__about__.py
  presto/CHANGELOG.md
  presto/datadog_checks/presto/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ceph, integration/hive, integration/presto

#3877 Fix logic to skip docs PRs for release testing
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#3878 Update APM team label
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#3879 Fix JMX template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/jmx/{check_name}/datadog_checks/{check_name}/__init__.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#3880 [Release] Bumped datadog_checks_dev version to 0.26.1
  .links/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#3851 Fix Hive metadatas
  hive/datadog_checks/hive/data/conf.yaml.example
  hive/datadog_checks/hive/data/metrics.yaml
  hive/metadata.csv
Labels: changelog/Fixed, integration/hive

#3884 Fix conf.yaml.example typos
  ambari/datadog_checks/ambari/data/conf.yaml.example
  ceph/datadog_checks/ceph/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  directory/datadog_checks/directory/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kubelet/datadog_checks/kubelet/data/conf.yaml.example
  postgres/datadog_checks/postgres/data/conf.yaml.example
  process/datadog_checks/process/data/conf.yaml.example
Labels: changelog/no-changelog, documentation

#3881 Allow releasing multiple checks at once
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
Labels: changelog/Added, integration/datadog_checks_dev

#3882 Fix default for bearer_token and ssl_verify
  kube_apiserver_metrics/README.md
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics.py
Labels: changelog/Fixed, containers, integration/kube_apiserver_metrics

#3887 [Release] Bumped kube_apiserver_metrics version to 1.0.1
  .links/tag.c295cf63.link
  kube_apiserver_metrics/CHANGELOG.md
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kube_apiserver_metrics

#3886 [Release] Bumped mongo version to 1.10.2
  .links/LATEST
  .links/tag.31091c85.link
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mongo

#3888 [Release] Bumped gunicorn version to 1.7.1
  .links/LATEST
  .links/tag.c295cf63.link
  gunicorn/CHANGELOG.md
  gunicorn/datadog_checks/gunicorn/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/gunicorn

#3889 Fix service checks link
  tls/README.md
Labels: changelog/no-changelog, documentation, integration/tls

#3821 Update slave_running service check doc
  mysql/README.md
  mysql/assets/SERVICE_CHECK_CLARIFICATION.md
Labels: changelog/no-changelog, documentation, integration/mysql

#3894 Make e2e work
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  ibm_mq/tests/common.py
  ibm_mq/tests/compose/docker-compose-v8.yml
  ibm_mq/tests/compose/docker-compose-v9.yml
  ibm_mq/tests/conftest.py
  ibm_mq/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/ibm_mq

#3897 Apache doc update
  apache/README.md
  apache/manifest.json
Labels: changelog/no-changelog, documentation, integration/apache

#3712 Update installation instructions
  cacti/README.md
Labels: changelog/no-changelog, documentation, integration/cacti

#3909 Support email address
  cassandra/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/jmx/{check_name}/README.md
  squid/README.md
Labels: changelog/no-changelog, documentation

#3901 Add notes to integrations with custom metrics
  activemq_xml/README.md
  agent_metrics/README.md
  directory/README.md
  go_expvar/README.md
  linux_proc_extras/README.md
  nagios/README.md
  prometheus/README.md
  snmp/README.md
  windows_service/README.md
  wmi_check/README.md
Labels: changelog/no-changelog, documentation

#3910 Adding an alias to account for former JA doc
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, documentation

#3908 Fix `application_tags` in conf file
  yarn/datadog_checks/yarn/data/conf.yaml.example
Labels: changelog/Fixed, integration/yarn

#3915 [Release] kubelet & yarn
  .links/tag.c295cf63.link
  kubelet/CHANGELOG.md
  kubelet/datadog_checks/kubelet/__about__.py
  requirements-agent-release.txt
  yarn/CHANGELOG.md
  yarn/datadog_checks/yarn/__about__.py
Labels: changelog/no-changelog, integration/kubelet, integration/yarn

#3904 [vsphere] update metric_to_check
  vsphere/manifest.json
  vsphere/metadata.csv
Labels: changelog/Fixed, integration/vsphere

#3900 Update DB2 default dashboard author info
  ibm_db2/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/ibm_db2

#3921 Add logs to docs
  ibm_db2/README.md
Labels: changelog/no-changelog, integration/ibm_db2

#3896 Support E2E testing
  .travis.yml
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_dev/datadog_checks/dev/_env.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/local.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#3672 Add log setup and configuration
  jboss_wildfly/README.md
  jboss_wildfly/datadog_checks/jboss_wildfly/data/conf.yaml.example
  jboss_wildfly/manifest.json
Labels: changelog/Added, integration/jboss_wildfly

#3924 [Release] Bumped vsphere version to 4.1.2
  .links/LATEST
  .links/tag.59db2532.link
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere

#3918 Add logs config to envoy
  envoy/README.md
  envoy/datadog_checks/envoy/data/conf.yaml.example
Labels: changelog/Added, documentation, integration/envoy

#3857 Validate interval in metadata validation
  ambari/metadata.csv
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: changelog/Fixed, integration/ambari

#3898 Update network doc
  network/README.md
Labels: changelog/no-changelog, documentation, integration/network

#3885 Fix metric type
  hive/datadog_checks/hive/data/conf.yaml.example
  hive/datadog_checks/hive/data/metrics.yaml
  hive/metadata.csv
Labels: backward-incompatible, changelog/Fixed, integration/hive

#3892 Mongo conf file custom queries
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/mongo

#3925 Add e2e testing
  lighttpd/tests/test_check.py
  lighttpd/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/lighttpd

#3806 Ambari: Add actual service state to tags and state message
  ambari/datadog_checks/ambari/ambari.py
  ambari/datadog_checks/ambari/common.py
  ambari/tests/test_ambari.py
Labels: changelog/Added, integration/ambari

#3919 Add base class config options to pdh check
  pdh_check/datadog_checks/pdh_check/data/conf.yaml.example
Labels: changelog/Added, documentation, integration/pdh_check

#3927 Add yarn.apps.<METRIC>_gauge metrics
  yarn/README.md
  yarn/datadog_checks/yarn/yarn.py
  yarn/metadata.csv
  yarn/tests/common.py
  yarn/tests/test_yarn.py
Labels: changelog/Changed, documentation, integration/yarn

#3903 Add coredns prometheus health and ksm cronjob sc
  coredns/README.md
  coredns/assets/service_checks.json
  kubernetes_state/README.md
  kubernetes_state/assets/service_checks.json
Labels: changelog/no-changelog, integration/coredns, integration/kubernetes_state

#3929 Refactor check to support different versions easily
  kafka_consumer/datadog_checks/kafka_consumer/constants.py
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
  kafka_consumer/tests/test_kafka_consumer.py
  kafka_consumer/tests/test_kafka_consumer_zk.py
Labels: changelog/Added, integration/kafka_consumer

#3922 Add listeners metrics
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/fixtures/multiple_services
  envoy/tests/test_envoy.py
  envoy/tests/test_parser.py
Labels: changelog/Added, integration/envoy

#3891 Add log section
  hive/README.md
  hive/datadog_checks/hive/data/conf.yaml.example
  hive/manifest.json
Labels: changelog/Added, integration/hive

#3937 Correct service check for ksm - cronjob
  kubernetes_state/README.md
  kubernetes_state/assets/service_checks.json
Labels: changelog/Fixed, integration/kubernetes_state

#3852 Add e2e tests
  gunicorn/tests/common.py
  gunicorn/tests/compose/Dockerfile
  gunicorn/tests/compose/app.py
  gunicorn/tests/compose/conf.py
  gunicorn/tests/compose/docker-compose.yaml
  gunicorn/tests/conftest.py
  gunicorn/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/gunicorn

#3933 Filters VMs in excluded hosts
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_vsphere.py
Labels: changelog/Fixed, integration/vsphere

#3938 Removed Dead link
  iis/datadog_checks/iis/data/conf.yaml.example
Labels: changelog/Added, integration/iis

#3911 Support v2
  linkerd/README.md
  linkerd/datadog_checks/linkerd/linkerd.py
  linkerd/datadog_checks/linkerd/metrics.py
  linkerd/manifest.json
  linkerd/metadata.csv
  linkerd/requirements-dev.txt
  linkerd/tests/fixtures/linkerd_v2.txt
  linkerd/tests/test_linkerd.py
  linkerd/tox.ini
Labels: changelog/Added, integration/linkerd

#3940 Rename kube_scheduler display name to Kubernetes Scheduler
  kube_scheduler/README.md
  kube_scheduler/manifest.json
  kube_scheduler/setup.py
Labels: changelog/Fixed, integration/kube_scheduler

#3893 [ibm_mq] fix queue auto discovery to include any qlocal in addition to qmodel
  apache/datadog_checks/apache/apache.py
  gearmand/datadog_checks/gearmand/gearmand.py
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/tests/common.py
  ibm_mq/tests/conftest.py
  ibm_mq/tests/test_ibm_mq.py
  nagios/datadog_checks/nagios/nagios.py
  tokumx/datadog_checks/tokumx/vendor/bson/objectid.py
Labels: changelog/Changed, integration/ibm_mq

#3916 Add regex matching for per-relation metrics
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/compose/resources/02_load_data.sh
  postgres/tests/test_common.py
  postgres/tests/test_relations.py
  postgres/tox.ini
Labels: changelog/Added, documentation, integration/postgres

#3950 [Release] Bumped postgres version to 2.9.0
  .links/LATEST
  .links/tag.31091c85.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres

#3913 Add ambari dashboard
  ambari/assets/dashboards/base_dashboard.json
  ambari/assets/images/apache_ambari_200x128@2x.png
  ambari/assets/images/base_dashboard.png
  ambari/manifest.json
Labels: changelog/no-changelog, integration/ambari

#3936 Adding note about security logs
  win32_event_log/README.md
Labels: changelog/no-changelog, documentation, integration/win_32_event_log

#3949 Do not compile regexes on each run
  go_expvar/datadog_checks/go_expvar/go_expvar.py
Labels: changelog/Changed, integration/go_expvar

#3952 [Release] Bumped go_expvar version to 2.0.0
  .links/LATEST
  .links/tag.c295cf63.link
  go_expvar/CHANGELOG.md
  go_expvar/datadog_checks/go_expvar/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/go_expvar

#3951 Fix ambari dashboard logo url
  ambari/assets/dashboards/base_dashboard.json
Labels: changelog/no-changelog, integration/ambari

#3822 Remove duplicated code and add docs
  datadog_checks_base/datadog_checks/base/checks/base.py
  docs/datadog_checks.base.checks.libs.rst
  docs/datadog_checks.base.checks.libs.vmware.rst
  docs/datadog_checks.base.checks.openmetrics.rst
  docs/datadog_checks.base.checks.prometheus.rst
  docs/datadog_checks.base.checks.win.rst
  docs/datadog_checks.checks.rst
  docs/datadog_checks.stubs.rst
  docs/datadog_checks_base.rst
Labels: changelog/no-changelog, integration/datadog_checks_base

#3956 Add others forms of auth to RequestsWrapper
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/requirements.in
  datadog_checks_base/setup.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/Added, integration/datadog_checks_base

#3964 Revert "Add others forms of auth to RequestsWrapper"
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/requirements.in
  datadog_checks_base/setup.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#3966 Allow certificate validation to be completely disabled
  tls/datadog_checks/tls/data/conf.yaml.example
  tls/datadog_checks/tls/tls.py
  tls/tests/conftest.py
  tls/tests/test_remote.py
Labels: changelog/Added, integration/tls

#3967 Removing wrong section
  powerdns_recursor/README.md
Labels: changelog/no-changelog, documentation, integration/powerdns_recursor

#3944 Only sign updated checks
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
Labels: changelog/Added, integration/datadog_checks_dev

#3962 Support citadel endpoint
  istio/datadog_checks/istio/data/conf.yaml.example
  istio/datadog_checks/istio/istio.py
  istio/metadata.csv
  istio/tests/fixtures/1.1/citadel.txt
  istio/tests/test_check.py
Labels: changelog/Added, integration/istio

#3972 Fix metadata bootstrap workflow
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#3971 [Release]
  .links/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
  istio/CHANGELOG.md
  istio/datadog_checks/istio/__about__.py
  linkerd/CHANGELOG.md
  linkerd/datadog_checks/linkerd/__about__.py
  requirements-agent-release.txt
  tls/CHANGELOG.md
  tls/datadog_checks/tls/__about__.py
Labels: changelog/no-changelog, integration/all

#3930 Fix tagging for custom queries using custom tags
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_custom_metrics.py
Labels: changelog/Fixed, integration/postgres

#3954 [documentation] adding a further reading link for IBM DB2
  ibm_db2/README.md
Labels: changelog/no-changelog, documentation, integration/ibm_db2

#3965 documents http_api_module configuration
  nginx/README.md
  nginx/datadog_checks/nginx/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/nginx

#3963 document HTTP(S) requirement on HDFS DataNode JMX URI port
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
Labels: changelog/no-changelog, integration/hdfs_datanode

#3809 document HTTP(S) requirement on HDFS NameNode JMX URI port
  hdfs_namenode/datadog_checks/hdfs_namenode/data/conf.yaml.example
Labels: changelog/no-changelog, integration/hdfs_namenode

#3975 Fix some typos in metadata.
  elastic/metadata.csv
  gitlab_runner/metadata.csv
  mysql/metadata.csv
  nginx/datadog_checks/nginx/nginx.py
  nginx/metadata.csv
  redisdb/metadata.csv
Labels: changelog/Fixed, integration/elastic, integration/gitlab_runner, integration/mysql, integration/nginx, integration/redisdb

#3969 [skip ci] update doc with new manifest.json output
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, documentation

#3970 update spacing in readme
  prometheus/README.md
Labels: changelog/no-changelog, documentation, integration/prometheus

#3953 Add disk label
  disk/datadog_checks/disk/data/conf.yaml.default
  disk/datadog_checks/disk/disk.py
  disk/tests/conftest.py
  disk/tests/fixtures/blkid
  disk/tests/mocks.py
  disk/tests/test_filter.py
  disk/tests/test_unit.py
Labels: changelog/Added, integration/disk

#3982 Update Twistlock README.md
  twistlock/README.md
Labels: changelog/no-changelog, documentation, integration/twistlock

#3983 Fix tests: wait for mysql-slave to be fully ready
  mysql/tests/compose/mysql.yaml
  mysql/tests/compose/mysql8.yaml
  mysql/tests/conftest.py
Labels: changelog/no-changelog, dev/testing, integration/mysql

#3985 Fix #3983 maria tests
  mysql/tests/compose/mariadb.yaml
  mysql/tests/conftest.py
Labels: changelog/no-changelog, integration/mysql

#3854 [snmp] Match OIDs with leading dots
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/common.py
Labels: changelog/Added, integration/snmp

#3086 Provide example to enable Containerd integration on Kubernetes
  containerd/README.md
Labels: changelog/no-changelog, documentation, integration/containerd

#3986 RabbitMQ doc update
  rabbitmq/README.md
Labels: changelog/no-changelog, documentation, integration/rabbitmq

#3808 Add swap memory checks to cadvisor kubelet checks
  kubelet/datadog_checks/kubelet/cadvisor.py
  kubelet/datadog_checks/kubelet/prometheus.py
  kubelet/metadata.csv
  kubelet/tests/fixtures/cadvisor_1.2.json
  kubelet/tests/test_kubelet.py
Labels: changelog/Added, integration/kubelet

#3973 Remove timeout when stopping containers
  datadog_checks_dev/datadog_checks/dev/docker.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#3992 Add monotonic_counter support to go_expvar
  go_expvar/datadog_checks/go_expvar/go_expvar.py
Labels: changelog/Added, integration/go_expvar

#3996 [Release] Bumped go_expvar version to 1.4.0
  .links/tag.c295cf63.link
  go_expvar/CHANGELOG.md
  go_expvar/datadog_checks/go_expvar/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/go_expvar

#3979 Fix event payload
  nagios/datadog_checks/nagios/nagios.py
Labels: changelog/Fixed, integration/nagios

#4001 Add metric_to_check
  ssh_check/manifest.json
Labels: changelog/no-changelog, integration/ssh_check

#3999 Add metric_to_check
  kube_proxy/manifest.json
Labels: changelog/no-changelog, integration/kube_proxy

#4003 Remove intg-tools-libs from checks base as codeowners
  .github/CODEOWNERS
Labels: changelog/no-changelog

#4004 Make the kubelet check resilient to the tagger returning None
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  kubelet/datadog_checks/kubelet/cadvisor.py
  kubelet/datadog_checks/kubelet/common.py
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/datadog_checks/kubelet/prometheus.py
Labels: changelog/Fixed, containers, integration/ecs_fargate, integration/kubelet

#3948 Add logs
  gitlab/README.md
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab/manifest.json
Labels: changelog/Added, integration/gitlab

#4007 Revert "Add swap memory checks to cadvisor kubelet checks"
  kubelet/datadog_checks/kubelet/cadvisor.py
  kubelet/datadog_checks/kubelet/prometheus.py
  kubelet/metadata.csv
  kubelet/tests/fixtures/cadvisor_1.2.json
  kubelet/tests/test_kubelet.py
Labels: changelog/no-changelog

#3958 [ibm_mq] add ibm_mq.channel.count metric and ibm_mq.channel.status service check
  ibm_mq/README.md
  ibm_mq/assets/service_checks.json
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/metadata.csv
  ibm_mq/tests/test_ibm_mq.py
Labels: changelog/Added, integration/ibm_mq

#4010 [Release] Bumped datadog_checks_base version to 8.4.1
  .links/LATEST
  .links/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base
