Repository DataDog/integrations-core, pull requests merged in 2019-04, with the labels that each got.

#3403 Update the tutorial for creating a new check
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, documentation

#3433 Update version of datadog-checks-base for extras
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
Labels: changelog/Added, integration/datadog_checks_dev

#3434 update istio mixer port
  istio/README.md
  istio/datadog_checks/istio/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/istio

#3441 Remove windows and macOS compat
  containerd/manifest.json
Labels: changelog/no-changelog, integration/containerd

#3442 Fix variable name
  oracle/datadog_checks/oracle/data/conf.yaml.example
Labels: changelog/no-changelog, integration/oracle

#3444 [Documentation] fix agent guide links
  ibm_db2/README.md
  jboss_wildfly/README.md
Labels: changelog/no-changelog, documentation, integration/ibm_db2, integration/jboss_wildfly

#3447 Fix breakpoint agent check flag
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#3450 Update categories for consistency
  ibm_mq/manifest.json
  kong/manifest.json
  solr/manifest.json
Labels: changelog/no-changelog, documentation, integration/ibm_mq, integration/kong, integration/solr

#3452 Pass DOCKER env in tox
  snmp/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/snmp

#3454 Add python3 linkerd to travis
  .travis.yml
Labels: changelog/no-changelog, integration/linkerd

#3451 Fix datadog_check_base test
  datadog_checks_base/tests/test_kube_leader.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#3453 [skip ci] small documentation wording and formatting fixes
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, community, documentation

#3455 Updating resource link
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#3457 Fix health check during first check run
  kubelet/datadog_checks/kubelet/kubelet.py
Labels: changelog/Fixed, integration/kubelet

#3456 Fix podlist multiple iterations when using pod expiration
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/test_kubelet.py
Labels: changelog/no-changelog, integration/kubelet, kind/bug

#3096 Add ceph e2e
  ceph/tests/common.py
  ceph/tests/compose/docker-compose.yaml
  ceph/tests/conftest.py
  ceph/tests/fixtures/ceph_bin.sh
  ceph/tests/test_integration.py
  ceph/tests/test_unit.py
  ceph/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/ceph

#3460 [Release] Bumped kubelet version to 3.0.1
  .links/tag.87d52666.link
  kubelet/CHANGELOG.md
  kubelet/datadog_checks/kubelet/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kubelet

#3445 [ECS Fargate] readme update
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#3461 Don't ship `pyodbc` on macOS as SQLServer integration is not shipped on macOS
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  sqlserver/requirements.in
Labels: changelog/Fixed, integration/datadog_checks_base, integration/sqlserver

#3465 Add v1.4 to tests
  fluentd/tests/compose/docker-compose.yaml
  fluentd/tox.ini
Labels: changelog/no-changelog, integration/fluentd

#3464 Release base_check and sqlserver
  .links/tag.87d52666.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/sqlserver

#3469 Try to manually set version to improve CI reliabilty
  ceph/tests/compose/docker-compose.yaml
Labels: changelog/no-changelog, dev/testing, integration/ceph

#3467 Fix instance identifier
  postgres/datadog_checks/postgres/postgres.py
  postgres/service_checks.json
  postgres/tests/test_common.py
  postgres/tests/test_custom_metrics.py
  postgres/tests/test_relations.py
Labels: changelog/no-changelog, integration/postgres

#3471 [Release] Bumped postgres version to 2.7.0
  .links/tag.87d52666.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres

#3468 update kafka_consumer tests to assert all metrics are covered
  kafka_consumer/tests/test_kafka_consumer.py
  kafka_consumer/tests/test_kafka_consumer_zk.py
Labels: changelog/no-changelog, integration/kafka_consumer

#3474 FIX update manifest.json in kube_scheduler
  kube_scheduler/manifest.json
Labels: changelog/no-changelog, integration/kube_scheduler

#3478 Revert "Add support for proxy settings"
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
  fluentd/datadog_checks/fluentd/fluentd.py
Labels: changelog/no-changelog

#3482 Ensure style envs support every platform
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#3473 Fix error in dns_check README
  dns_check/README.md
Labels: changelog/no-changelog, documentation, integration/dns_check

#3472 Add notes about unprivileged user on windows
  process/README.md
  process/datadog_checks/process/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/process

#3589 Add instruction to grant access to tablespace metrics
  oracle/README.md
Labels: changelog/no-changelog, integration/oracle

#3590 [PostgresSQL] Migrating configuration file to new norm
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/postgres

#3592 fix queue_manager variable naming of IBM MQ
  ibm_mq/datadog_checks/ibm_mq/connection.py
Labels: changelog/Fixed, integration/ibm_mq

#3409 Use a custom image and fix the tests for version 2.3
  couch/metadata.csv
  couch/tests/compose/compose_v2.yaml
  couch/tests/test_couchv2.py
  couch/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/couch

#3475 add note on windows unpriviledged user
  cassandra_nodetool/datadog_checks/cassandra_nodetool/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/cassandra_nodetool

#3596 Add a pytest-args option to ddev test
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#3597 Add e2e hdfs_namenode
  hdfs_namenode/tests/common.py
  hdfs_namenode/tests/compose/docker-compose.yaml
  hdfs_namenode/tests/conftest.py
  hdfs_namenode/tests/test_integration.py
Labels: changelog/no-changelog, dev/testing, integration/hdfs_namenode

#3250 Support Python 3
  vsphere/datadog_checks/vsphere/event.py
  vsphere/datadog_checks/vsphere/mor_cache.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/setup.py
  vsphere/tests/test_mor_cache.py
  vsphere/tests/test_vsphere.py
  vsphere/tests/utils.py
  vsphere/tox.ini
Labels: changelog/Added, integration/vsphere

#3584 Adhere to code style
  wmi_check/datadog_checks/wmi_check/__init__.py
  wmi_check/datadog_checks/wmi_check/wmi_check.py
  wmi_check/setup.py
  wmi_check/tests/common.py
  wmi_check/tests/conftest.py
  wmi_check/tox.ini
Labels: changelog/Added, integration/wmi_check

#3586 Adhere to code style
  zk/datadog_checks/zk/__init__.py
  zk/datadog_checks/zk/zk.py
  zk/setup.py
  zk/tests/conftest.py
  zk/tests/test_zk.py
  zk/tox.ini
Labels: changelog/Added, integration/zk

#3585 Adhere to code style
  yarn/datadog_checks/yarn/__init__.py
  yarn/datadog_checks/yarn/yarn.py
  yarn/setup.py
  yarn/tests/common.py
  yarn/tests/conftest.py
  yarn/tests/test_yarn.py
  yarn/tox.ini
Labels: changelog/Added, integration/yarn

#3561 Adhere to code style
  rabbitmq/datadog_checks/rabbitmq/__init__.py
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  rabbitmq/setup.py
  rabbitmq/tests/common.py
  rabbitmq/tests/conftest.py
  rabbitmq/tests/metrics.py
  rabbitmq/tests/test_rabbitmq.py
  rabbitmq/tests/test_unit.py
  rabbitmq/tox.ini
Labels: changelog/Added, integration/rabbitmq

#3568 Adhere to code style
  squid/datadog_checks/squid/__init__.py
  squid/datadog_checks/squid/squid.py
  squid/setup.py
  squid/tests/common.py
  squid/tests/conftest.py
  squid/tests/test_unit.py
  squid/tox.ini
Labels: changelog/Added, integration/squid

#3583 Adhere to code style
  windows_service/datadog_checks/windows_service/__init__.py
  windows_service/datadog_checks/windows_service/windows_service.py
  windows_service/setup.py
  windows_service/tests/conftest.py
  windows_service/tests/test_windows_service.py
  windows_service/tox.ini
Labels: changelog/Added, integration/windows_service

#3580 Adhere to code style
  vault/datadog_checks/vault/__init__.py
  vault/datadog_checks/vault/vault.py
  vault/setup.py
  vault/tests/common.py
  vault/tests/conftest.py
  vault/tests/test_bench.py
  vault/tests/test_vault.py
  vault/tox.ini
Labels: changelog/Added, integration/vault

#3579 Adhere to code style
  varnish/datadog_checks/varnish/__init__.py
  varnish/datadog_checks/varnish/varnish.py
  varnish/setup.py
  varnish/tests/common.py
  varnish/tests/conftest.py
  varnish/tests/test_unit.py
  varnish/tox.ini
Labels: changelog/Added, integration/varnish

#3571 Adhere to code style
  supervisord/datadog_checks/supervisord/__init__.py
  supervisord/datadog_checks/supervisord/supervisord.py
  supervisord/setup.py
  supervisord/tests/common.py
  supervisord/tests/conftest.py
  supervisord/tests/test_supervisord_integration.py
  supervisord/tests/test_supervisord_unit.py
  supervisord/tox.ini
Labels: changelog/Added, integration/supervisord

#3514 Adhere to code style
  hdfs_datanode/datadog_checks/hdfs_datanode/__init__.py
  hdfs_datanode/datadog_checks/hdfs_datanode/hdfs_datanode.py
  hdfs_datanode/setup.py
  hdfs_datanode/tests/common.py
  hdfs_datanode/tests/conftest.py
  hdfs_datanode/tests/test_hdfs_datanode.py
  hdfs_datanode/tox.ini
Labels: changelog/Added, integration/hdfs_datanode

#3515 Adhere to code style
  hdfs_namenode/datadog_checks/hdfs_namenode/__init__.py
  hdfs_namenode/datadog_checks/hdfs_namenode/hdfs_namenode.py
  hdfs_namenode/setup.py
  hdfs_namenode/tests/common.py
  hdfs_namenode/tests/conftest.py
  hdfs_namenode/tests/test_hdfs_namenode.py
  hdfs_namenode/tox.ini
Labels: changelog/Added, integration/hdfs_namenode

#3480 [Windows Event Log Collection] Corrects channel to channel_path in comments of example yamls
  active_directory/datadog_checks/active_directory/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  cassandra/datadog_checks/cassandra/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  couch/datadog_checks/couch/data/conf.yaml.example
  elastic/datadog_checks/elastic/data/conf.yaml.example
  gunicorn/datadog_checks/gunicorn/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  ibm_db2/datadog_checks/ibm_db2/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_was/datadog_checks/ibm_was/data/conf.yaml.example
  iis/datadog_checks/iis/data/conf.yaml.example
  kafka/datadog_checks/kafka/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mysql/datadog_checks/mysql/data/conf.yaml.example
  nginx/datadog_checks/nginx/data/conf.yaml.example
  postfix/datadog_checks/postfix/data/conf.yaml.example
  postgres/datadog_checks/postgres/data/conf.yaml.example
  presto/datadog_checks/presto/data/conf.yaml.example
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
  redisdb/datadog_checks/redisdb/data/conf.yaml.example
  tomcat/datadog_checks/tomcat/data/conf.yaml.example
  varnish/datadog_checks/varnish/data/conf.yaml.example
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
  zk/datadog_checks/zk/data/conf.yaml.example
Labels: changelog/no-changelog, integration/active_directory, integration/apache, integration/cassandra, integration/consul, integration/couch, integration/elastic, integration/gunicorn, integration/haproxy, integration/ibm_db2, integration/ibm_mq, integration/ibm_was, integration/iis, integration/kafka, integration/kong, integration/mongo, integration/mysql, integration/nginx, integration/postfix, integration/postgres, integration/presto, integration/rabbitmq, integration/redisdb, integration/tomcat, integration/varnish, integration/win32_event_log, integration/zk

#3602 Change `ibm_db2.connection.max` to gauge
  ibm_db2/datadog_checks/ibm_db2/ibm_db2.py
  ibm_db2/metadata.csv
Labels: changelog/Fixed, integration/ibm_db2

#3603 [Release] Bumped ibm_db2 version to 1.0.1
  .links/tag.87d52666.link
  ibm_db2/CHANGELOG.md
  ibm_db2/datadog_checks/ibm_db2/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_db2

#3604 [skip ci] doc updates for clarity, consistency, and accuracy
  docs/dev/README.md
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, community, documentation

#3594 Add ability to specify extra start-up commands for e2e
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/local.py
Labels: changelog/Added, integration/datadog_checks_dev

#3598 Add validation on integration_id
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#3606 Fixed language in template for integration extras readme
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
Labels: changelog/Fixed, community, dev/tooling, integration/datadog_checks_dev

#3504 Adhere to code style
  elastic/datadog_checks/elastic/__init__.py
  elastic/datadog_checks/elastic/config.py
  elastic/datadog_checks/elastic/elastic.py
  elastic/datadog_checks/elastic/metrics.py
  elastic/setup.py
  elastic/tests/conftest.py
  elastic/tests/test_config.py
  elastic/tests/test_elastic.py
  elastic/tests/test_metrics.py
  elastic/tox.ini
Labels: changelog/Added, integration/elastic

#3518 Adhere to code style
  ibm_db2/datadog_checks/ibm_db2/__init__.py
  ibm_db2/datadog_checks/ibm_db2/ibm_db2.py
  ibm_db2/datadog_checks/ibm_db2/queries.py
  ibm_db2/setup.py
  ibm_db2/tests/conftest.py
  ibm_db2/tests/test_ibm_db2.py
  ibm_db2/tox.ini
Labels: changelog/Added, integration/ibm_db2

#3483 Adhere to code style
  active_directory/datadog_checks/active_directory/__init__.py
  active_directory/datadog_checks/active_directory/active_directory.py
  active_directory/setup.py
  active_directory/tests/common.py
  active_directory/tests/test_active_directory.py
  active_directory/tox.ini
Labels: changelog/Added, integration/active_directory

#3607 Support e2e
  ibm_db2/tests/common.py
  ibm_db2/tests/conftest.py
Labels: changelog/no-changelog, integration/ibm_db2

#3578 Adhere to code style
  twistlock/datadog_checks/twistlock/__init__.py
  twistlock/datadog_checks/twistlock/config.py
  twistlock/datadog_checks/twistlock/twistlock.py
  twistlock/setup.py
  twistlock/tests/test_twistlock.py
  twistlock/tox.ini
Labels: changelog/Added, integration/twistlock

#3575 Adhere to code style
  teamcity/datadog_checks/teamcity/__init__.py
  teamcity/datadog_checks/teamcity/teamcity.py
  teamcity/setup.py
  teamcity/tests/test_teamcity.py
  teamcity/tests/test_unit.py
  teamcity/tox.ini
Labels: changelog/Added, integration/teamcity

#3570 Adhere to code style
  statsd/datadog_checks/statsd/__init__.py
  statsd/datadog_checks/statsd/statsd.py
  statsd/setup.py
  statsd/tests/test_statsd.py
  statsd/tox.ini
Labels: changelog/Added, integration/statsd

#3566 Adhere to code style
  spark/datadog_checks/spark/__init__.py
  spark/datadog_checks/spark/spark.py
  spark/setup.py
  spark/tests/conftest.py
  spark/tests/test_spark.py
  spark/tox.ini
Labels: changelog/Added, integration/spark

#3587 [Fargate] Fixing code blocks for tile display
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#3605 Support Python 3
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  supervisord/datadog_checks/supervisord/supervisord.py
  supervisord/requirements.in
  supervisord/tests/conftest.py
  supervisord/tests/test_supervisord_unit.py
  supervisord/tox.ini
Labels: changelog/Added, integration/supervisord

#3552 Adhere to code style
  oracle/datadog_checks/oracle/__init__.py
  oracle/datadog_checks/oracle/oracle.py
  oracle/setup.py
  oracle/tests/conftest.py
  oracle/tests/test_config.py
  oracle/tests/test_metrics.py
  oracle/tests/test_oracle.py
  oracle/tox.ini
Labels: changelog/Added, integration/oracle

#3569 Adhere to code style
  ssh_check/datadog_checks/ssh_check/__init__.py
  ssh_check/datadog_checks/ssh_check/ssh_check.py
  ssh_check/setup.py
  ssh_check/tests/common.py
  ssh_check/tests/conftest.py
  ssh_check/tests/test_integration.py
  ssh_check/tests/test_ssh.py
  ssh_check/tox.ini
Labels: changelog/Added, integration/ssh_check

#3565 Adhere to code style
  snmp/datadog_checks/snmp/__init__.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/setup.py
  snmp/tests/common.py
  snmp/tests/conftest.py
  snmp/tests/mibs/DUMMY-MIB.py
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
  snmp/tox.ini
Labels: changelog/Added, integration/snmp

#3564 Adhere to code style
  riakcs/datadog_checks/riakcs/__init__.py
  riakcs/datadog_checks/riakcs/riakcs.py
  riakcs/setup.py
  riakcs/tests/common.py
  riakcs/tests/conftest.py
  riakcs/tests/test_unit.py
  riakcs/tox.ini
Labels: changelog/Added, integration/riakcs

#3573 Adhere to code style
  system_swap/datadog_checks/system_swap/__init__.py
  system_swap/datadog_checks/system_swap/system_swap.py
  system_swap/setup.py
  system_swap/tests/common.py
  system_swap/tests/test_integration.py
  system_swap/tests/test_system_swap.py
  system_swap/tox.ini
Labels: changelog/Added, integration/system_swap

#3610 [skip ci] Additional refinements to the new integration doc
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, community, documentation

#3547 Adhere to code style
  ntp/datadog_checks/ntp/__about__.py
  ntp/datadog_checks/ntp/__init__.py
  ntp/datadog_checks/ntp/ntp.py
  ntp/setup.py
  ntp/tests/test_ntp.py
  ntp/tox.ini
Labels: changelog/Added, integration/ntp

#3548 Adhere to code style
  openldap/datadog_checks/openldap/__init__.py
  openldap/datadog_checks/openldap/openldap.py
  openldap/setup.py
  openldap/tests/common.py
  openldap/tests/conftest.py
  openldap/tests/test_unit.py
  openldap/tox.ini
Labels: changelog/Added, integration/openldap

#3549 Adhere to code style
  openmetrics/datadog_checks/openmetrics/__init__.py
  openmetrics/setup.py
  openmetrics/tests/test_openmetrics.py
  openmetrics/tox.ini
Labels: changelog/Added, integration/openmetrics

#3576 Adhere to code style
  tokumx/datadog_checks/tokumx/__init__.py
  tokumx/datadog_checks/tokumx/tokumx.py
  tokumx/setup.py
  tokumx/tests/common.py
  tokumx/tests/conftest.py
  tokumx/tests/metrics.py
  tokumx/tests/test_check.py
  tokumx/tox.ini
Labels: changelog/Added, integration/tokumx

#3574 Adhere to code style
  tcp_check/datadog_checks/tcp_check/__init__.py
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  tcp_check/setup.py
  tcp_check/tests/common.py
  tcp_check/tests/test_integration.py
  tcp_check/tests/test_tcp_check.py
  tcp_check/tox.ini
Labels: changelog/Added, integration/tcp_check

#3572 Adhere to code style
  system_core/datadog_checks/system_core/__init__.py
  system_core/datadog_checks/system_core/system_core.py
  system_core/setup.py
  system_core/tests/common.py
  system_core/tests/test_integration.py
  system_core/tests/test_system_core.py
  system_core/tox.ini
Labels: changelog/Added, integration/system_core

#3555 Adhere to code style
  php_fpm/datadog_checks/php_fpm/__init__.py
  php_fpm/datadog_checks/php_fpm/php_fpm.py
  php_fpm/setup.py
  php_fpm/tests/conftest.py
  php_fpm/tests/test_php_fpm.py
  php_fpm/tests/test_unit.py
  php_fpm/tox.ini
Labels: changelog/Added, integration/php_fpm

#3554 Adhere to code style
  pgbouncer/datadog_checks/pgbouncer/__init__.py
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
  pgbouncer/setup.py
  pgbouncer/tests/common.py
  pgbouncer/tests/conftest.py
  pgbouncer/tests/test_pgbouncer.py
  pgbouncer/tox.ini
Labels: changelog/Added, integration/pgbouncer

#3553 Adhere to code style
  pdh_check/datadog_checks/pdh_check/__init__.py
  pdh_check/datadog_checks/pdh_check/pdh_check.py
  pdh_check/setup.py
  pdh_check/tests/test_pdh_check.py
  pdh_check/tox.ini
Labels: changelog/Added, integration/pdh_check

#3538 Adhere to code style
  mesos_master/datadog_checks/mesos_master/__init__.py
  mesos_master/datadog_checks/mesos_master/mesos_master.py
  mesos_master/setup.py
  mesos_master/tests/common.py
  mesos_master/tests/conftest.py
  mesos_master/tests/test_check.py
  mesos_master/tox.ini
Labels: changelog/Added, integration/mesos_master

#3539 Adhere to code style
  mesos_slave/datadog_checks/mesos_slave/__init__.py
  mesos_slave/datadog_checks/mesos_slave/mesos_slave.py
  mesos_slave/setup.py
  mesos_slave/tests/common.py
  mesos_slave/tests/conftest.py
  mesos_slave/tests/test_check.py
  mesos_slave/tox.ini
Labels: changelog/Added, integration/mesos_slave

#3540 Adhere to code style
  mongo/datadog_checks/mongo/__init__.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/setup.py
  mongo/tests/conftest.py
  mongo/tests/test_mongo.py
  mongo/tests/test_unit.py
  mongo/tox.ini
Labels: changelog/Added, integration/mongo

#3546 Adhere to code style
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/__init__.py
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/nginx_ingress_controller.py
  nginx_ingress_controller/setup.py
  nginx_ingress_controller/tests/test_nginx_ingress_controller.py
  nginx_ingress_controller/tox.ini
Labels: changelog/Added, integration/nginx_ingress_controller

#3545 Adhere to code style
  nginx/datadog_checks/nginx/__init__.py
  nginx/datadog_checks/nginx/nginx.py
  nginx/setup.py
  nginx/tests/common.py
  nginx/tests/conftest.py
  nginx/tests/test_unit.py
  nginx/tests/test_vts.py
  nginx/tests/utils.py
  nginx/tox.ini
Labels: changelog/Added, integration/nginx

#3544 Adhere to code style
  nfsstat/datadog_checks/nfsstat/__init__.py
  nfsstat/datadog_checks/nfsstat/nfsstat.py
  nfsstat/setup.py
  nfsstat/tests/test_nfsstat.py
  nfsstat/tox.ini
Labels: changelog/Added, integration/nfsstat

#3560 Adhere to code style
  prometheus/datadog_checks/prometheus/__init__.py
  prometheus/datadog_checks/prometheus/prometheus.py
  prometheus/setup.py
  prometheus/tests/conftest.py
  prometheus/tests/test_prometheus.py
  prometheus/tox.ini
Labels: changelog/Added, integration/prometheus

#3559 Adhere to code style
  process/datadog_checks/process/__init__.py
  process/datadog_checks/process/process.py
  process/setup.py
  process/tests/common.py
  process/tests/test_integration.py
  process/tests/test_process.py
  process/tox.ini
Labels: changelog/Added, integration/process

#3558 Adhere to code style
  powerdns_recursor/datadog_checks/powerdns_recursor/__init__.py
  powerdns_recursor/datadog_checks/powerdns_recursor/powerdns_recursor.py
  powerdns_recursor/setup.py
  powerdns_recursor/tests/common.py
  powerdns_recursor/tests/metrics.py
  powerdns_recursor/tests/test_powerdns.py
  powerdns_recursor/tests/test_unit.py
  powerdns_recursor/tox.ini
Labels: changelog/Added, integration/powerdns_recursor

#3364 Build releases automatically
  .dockerignore
  .gitlab-ci.yml
  .gitlab/build-packages.sh
  .gitlab/tag-release.sh
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
  datadog_checks_dev/tests/tooling/test_git.py
  docker/Dockerfile
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#3582 Adhere to code style
  win32_event_log/datadog_checks/win32_event_log/__init__.py
  win32_event_log/datadog_checks/win32_event_log/win32_event_log.py
  win32_event_log/setup.py
  win32_event_log/tests/test_check.py
  win32_event_log/tox.ini
Labels: changelog/Added, integration/win32_event_log

#3563 Adhere to code style
  riak/datadog_checks/riak/__init__.py
  riak/datadog_checks/riak/riak.py
  riak/setup.py
  riak/tests/common.py
  riak/tests/conftest.py
  riak/tests/test_riak.py
  riak/tox.ini
Labels: changelog/Added, integration/riak

#3536 Adhere to code style
  marathon/datadog_checks/marathon/__init__.py
  marathon/datadog_checks/marathon/marathon.py
  marathon/setup.py
  marathon/tests/common.py
  marathon/tests/conftest.py
  marathon/tests/test_marathon.py
  marathon/tests/test_unit.py
  marathon/tox.ini
Labels: changelog/Added, integration/marathon

#3448 Parse timeouts as floats in RequestsWrapper
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/Fixed, integration/datadog_checks_base

#3484 Adhere to code style
  aerospike/datadog_checks/aerospike/__init__.py
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/setup.py
  aerospike/tests/conftest.py
  aerospike/tox.ini
Labels: changelog/Added, integration/aerospike

#3488 Adhere to code style
  ceph/datadog_checks/ceph/__init__.py
  ceph/datadog_checks/ceph/ceph.py
  ceph/setup.py
  ceph/tests/common.py
  ceph/tests/conftest.py
  ceph/tests/test_integration.py
  ceph/tests/test_unit.py
  ceph/tox.ini
Labels: changelog/Added, integration/ceph

#3613 Reorganize tests and fix them on non-localhost docker
  hdfs_namenode/tests/common.py
  hdfs_namenode/tests/conftest.py
  hdfs_namenode/tests/test_integration.py
  hdfs_namenode/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/hdfs_namenode

#3616 [skip ci] address small documentation nits
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, community, documentation

#3521 Adhere to code style
  iis/datadog_checks/iis/__init__.py
  iis/datadog_checks/iis/iis.py
  iis/setup.py
  iis/tests/common.py
  iis/tests/conftest.py
  iis/tests/test_iis.py
  iis/tox.ini
Labels: changelog/Added, integration/iis

#3499 Adhere to code style
  directory/datadog_checks/directory/__init__.py
  directory/datadog_checks/directory/directory.py
  directory/setup.py
  directory/tests/common.py
  directory/tests/test_directory.py
  directory/tox.ini
Labels: changelog/Added, integration/directory

#3500 Adhere to code style
  disk/datadog_checks/disk/__init__.py
  disk/datadog_checks/disk/disk.py
  disk/setup.py
  disk/tests/conftest.py
  disk/tests/metrics.py
  disk/tests/mocks.py
  disk/tests/test_filter.py
  disk/tests/test_unit.py
  disk/tests/utils.py
  disk/tox.ini
Labels: changelog/Added, integration/disk

#3501 Adhere to code style
  dns_check/datadog_checks/dns_check/__init__.py
  dns_check/datadog_checks/dns_check/dns_check.py
  dns_check/setup.py
  dns_check/tests/common.py
  dns_check/tests/conftest.py
  dns_check/tests/test_dns_check.py
  dns_check/tests/test_integration.py
  dns_check/tox.ini
Labels: changelog/Added, integration/dns_check

#3507 Adhere to code style
  fluentd/datadog_checks/fluentd/__init__.py
  fluentd/datadog_checks/fluentd/fluentd.py
  fluentd/setup.py
  fluentd/tests/common.py
  fluentd/tests/conftest.py
  fluentd/tests/test_fluentd.py
  fluentd/tox.ini
Labels: changelog/Added, integration/fluentd

#3508 Adhere to code style
  gearmand/datadog_checks/gearmand/__init__.py
  gearmand/datadog_checks/gearmand/gearmand.py
  gearmand/setup.py
  gearmand/tests/common.py
  gearmand/tests/conftest.py
  gearmand/tests/test_gearmand.py
  gearmand/tox.ini
Labels: changelog/Added, integration/gearmand

#3509 Adhere to code style
  gitlab/datadog_checks/gitlab/__init__.py
  gitlab/datadog_checks/gitlab/gitlab.py
  gitlab/setup.py
  gitlab/tests/common.py
  gitlab/tests/conftest.py
  gitlab/tests/test_bench.py
  gitlab/tests/test_gitlab.py
  gitlab/tox.ini
Labels: changelog/Added, integration/gitlab

#3486 Adhere to code style
  aspdotnet/datadog_checks/aspdotnet/__init__.py
  aspdotnet/datadog_checks/aspdotnet/aspdotnet.py
  aspdotnet/setup.py
  aspdotnet/tests/test_aspdotnet.py
  aspdotnet/tox.ini
Labels: changelog/Added, integration/aspdotnet

#3577 Adhere to code style
  twemproxy/datadog_checks/twemproxy/__init__.py
  twemproxy/datadog_checks/twemproxy/twemproxy.py
  twemproxy/setup.py
  twemproxy/tests/common.py
  twemproxy/tests/conftest.py
  twemproxy/tests/metrics.py
  twemproxy/tests/test_twemproxy.py
  twemproxy/tox.ini
Labels: changelog/Added, integration/twemproxy

#3534 Adhere to code style
  linux_proc_extras/datadog_checks/linux_proc_extras/__init__.py
  linux_proc_extras/datadog_checks/linux_proc_extras/linux_proc_extras.py
  linux_proc_extras/setup.py
  linux_proc_extras/tests/common.py
  linux_proc_extras/tests/conftest.py
  linux_proc_extras/tests/test_integration.py
  linux_proc_extras/tests/test_linux_proc_extras.py
  linux_proc_extras/tox.ini
Labels: changelog/Added, integration/linux_proc_extras

#3533 Adhere to code style
  linkerd/datadog_checks/linkerd/__init__.py
  linkerd/datadog_checks/linkerd/linkerd.py
  linkerd/datadog_checks/linkerd/metrics.py
  linkerd/setup.cfg
  linkerd/setup.py
  linkerd/tests/test_linkerd.py
  linkerd/tox.ini
Labels: changelog/Added, integration/linkerd

#3532 Adhere to code style
  lighttpd/datadog_checks/lighttpd/__init__.py
  lighttpd/datadog_checks/lighttpd/lighttpd.py
  lighttpd/setup.py
  lighttpd/tests/conftest.py
  lighttpd/tests/test_check.py
  lighttpd/tox.ini
Labels: changelog/Added, integration/lighttpd

#3543 Adhere to code style
  network/datadog_checks/network/__init__.py
  network/datadog_checks/network/network.py
  network/setup.py
  network/tests/common.py
  network/tests/test_integration.py
  network/tests/test_network.py
  network/tox.ini
Labels: changelog/Added, integration/network

#3531 Adhere to code style
  kyototycoon/datadog_checks/kyototycoon/__init__.py
  kyototycoon/datadog_checks/kyototycoon/kyototycoon.py
  kyototycoon/setup.py
  kyototycoon/tests/common.py
  kyototycoon/tests/conftest.py
  kyototycoon/tests/test_kyototycoon.py
  kyototycoon/tox.ini
Labels: changelog/Added, integration/kyototycoon

#3524 Adhere to code style
  kong/datadog_checks/kong/__init__.py
  kong/datadog_checks/kong/kong.py
  kong/setup.py
  kong/tests/common.py
  kong/tests/conftest.py
  kong/tests/test_kong.py
  kong/tox.ini
Labels: changelog/Added, integration/kong

#3612 Add logos
  ssh_check/logos/avatars-bot.png
  ssh_check/logos/saas_logos-bot.png
  ssh_check/logos/saas_logos-small.png
Labels: changelog/no-changelog, integration/ssh_check

#3620 Standardize TLS/SSL protocol naming
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/Changed, integration/datadog_checks_base

#3550 Adhere to code style
  openstack/datadog_checks/openstack/__init__.py
  openstack/datadog_checks/openstack/openstack.py
  openstack/setup.py
  openstack/tests/common.py
  openstack/tests/test_openstack.py
  openstack/tox.ini
Labels: changelog/Added, integration/openstack

#3519 Adhere to code style
  ibm_mq/datadog_checks/ibm_mq/__init__.py
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/connection.py
  ibm_mq/datadog_checks/ibm_mq/errors.py
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/datadog_checks/ibm_mq/metrics.py
  ibm_mq/setup.py
  ibm_mq/tests/common.py
  ibm_mq/tests/conftest.py
  ibm_mq/tox.ini
Labels: changelog/Added, integration/ibm_mq

#3618 Do not return prematurely when calling `memory_info` on windows and solaris
  process/datadog_checks/process/process.py
Labels: changelog/Fixed, do-not-merge/WIP, integration/process

#3622 [Release] Bumped process version to 1.9.0
  .links/tag.87d52666.link
  process/CHANGELOG.md
  process/datadog_checks/process/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/process

#3621 Get details for both private and public flavors
  openstack_controller/datadog_checks/openstack_controller/api.py
Labels: changelog/Fixed, integration/openstack_controller

#3623 [Release] Bumped openstack_controller version to 1.1.2
  .links/tag.87d52666.link
  openstack_controller/CHANGELOG.md
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/openstack_controller

#3626 Fix name in service_checks.json
  ibm_db2/service_checks.json
Labels: changelog/no-changelog, integration/ibm_db2

#3627 Update service_checks.json
  ibm_was/service_checks.json
Labels: changelog/no-changelog, integration/ibm_was

#3431 Fix example tags section
  cassandra/datadog_checks/cassandra/data/conf.yaml.example
Labels: changelog/Fixed, integration/cassandra

#3608 Change host for mq_host
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/tests/test_ibm_mq.py
Labels: changelog/Changed, integration/ibm_mq

#3630 [Release] Bumped datadog_checks_dev version to 0.22.0
  .links/LATEST
  .links/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#3632 Check error code of nodetool command
  cassandra_nodetool/datadog_checks/cassandra_nodetool/cassandra_nodetool.py
  cassandra_nodetool/tests/compose/config/Dockerfile
  cassandra_nodetool/tests/compose/config/jmxremote.password
  cassandra_nodetool/tests/compose/docker-compose.yaml
  cassandra_nodetool/tests/conftest.py
Labels: changelog/Fixed, integration/cassandra_nodetool

#3633 Fixing bullet point list
  docs/dev/python.md
Labels: changelog/no-changelog, documentation

#3631 [Release] Bumped ibm_mq version to 2.0.0
  .links/tag.87d52666.link
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_mq

#3636 [Release] Bumped ibm_mq version to 2.0.0
  .links/LATEST
  .links/tag.87d52666.link
Labels: changelog/no-changelog, integration/ibm_mq

#3463 [Amazon EKS] add blog link
  amazon_eks/README.md
Labels: changelog/no-changelog, documentation, integration/eks

#3637 Update create_events
  ibm_db2/manifest.json
Labels: changelog/no-changelog, integration/ibm_db2

#3639 Spelling fix!
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/README.md
Labels: changelog/no-changelog, community, dev/tooling, integration/datadog_checks_dev

#3256 Add TLS integration
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ssh_check/requirements.in
  tls/CHANGELOG.md
  tls/MANIFEST.in
  tls/README.md
  tls/datadog_checks/__init__.py
  tls/datadog_checks/tls/__about__.py
  tls/datadog_checks/tls/__init__.py
  tls/datadog_checks/tls/data/conf.yaml.example
  tls/datadog_checks/tls/tls.py
  tls/datadog_checks/tls/utils.py
  tls/logos/avatars-bot.png
  tls/logos/saas_logos-bot.png
  tls/logos/saas_logos-small.png
  tls/manifest.json
  tls/metadata.csv
  tls/requirements-dev.txt
  tls/requirements.in
  tls/service_checks.json
  tls/setup.py
  tls/tests/__init__.py
  tls/tests/conftest.py
  tls/tests/test_config.py
  tls/tests/test_local.py
  tls/tests/test_remote.py
  tls/tests/test_utils.py
  tls/tests/utils.py
  tls/tox.ini
Labels: changelog/Added, documentation, integration/tls, kind/new-integration

#3615 Fix tests not running on localhost
  rabbitmq/tests/conftest.py
  rabbitmq/tests/test_rabbitmq.py
  rabbitmq/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/rabbitmq

#3634 Fix changelog generation for new checks
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#3557 Adhere to code style
  postgres/datadog_checks/postgres/__init__.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/setup.py
  postgres/tests/conftest.py
  postgres/tests/test_common.py
  postgres/tests/test_custom_metrics.py
  postgres/tests/test_relations.py
  postgres/tests/test_unit.py
  postgres/tox.ini
Labels: changelog/Added, integration/postgres

#3542 Adhere to code style
  nagios/datadog_checks/nagios/__init__.py
  nagios/datadog_checks/nagios/nagios.py
  nagios/setup.py
  nagios/tests/common.py
  nagios/tests/test_nagios.py
  nagios/tests/test_unit.py
  nagios/tox.ini
Labels: changelog/Added, integration/nagios

#3528 Adhere to code style
  kube_dns/datadog_checks/kube_dns/__init__.py
  kube_dns/datadog_checks/kube_dns/kube_dns.py
  kube_dns/setup.py
  kube_dns/tests/test_kube_dns.py
  kube_dns/tox.ini
Labels: changelog/Added, integration/kube_dns

#3506 Adhere to code style
  exchange_server/datadog_checks/exchange_server/__init__.py
  exchange_server/datadog_checks/exchange_server/exchange_server.py
  exchange_server/setup.py
  exchange_server/tests/common.py
  exchange_server/tests/test_exchange_server.py
  exchange_server/tox.ini
Labels: changelog/Added, integration/exchange_server

#3510 Adhere to code style
  gitlab_runner/datadog_checks/gitlab_runner/__init__.py
  gitlab_runner/datadog_checks/gitlab_runner/gitlab_runner.py
  gitlab_runner/setup.py
  gitlab_runner/tests/common.py
  gitlab_runner/tests/conftest.py
  gitlab_runner/tests/test_gitlab_runner.py
  gitlab_runner/tox.ini
Labels: changelog/Added, integration/gitlab_runner

#3523 Adhere to code style
  kafka_consumer/datadog_checks/kafka_consumer/__init__.py
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/setup.py
  kafka_consumer/tests/conftest.py
  kafka_consumer/tests/runners.py
  kafka_consumer/tests/test_kafka_consumer.py
  kafka_consumer/tests/test_kafka_consumer_zk.py
  kafka_consumer/tox.ini
Labels: changelog/Added, integration/kafka_consumer

#3535 Adhere to code style
  mapreduce/datadog_checks/mapreduce/__init__.py
  mapreduce/datadog_checks/mapreduce/mapreduce.py
  mapreduce/setup.py
  mapreduce/tests/common.py
  mapreduce/tests/conftest.py
  mapreduce/tests/test_mapreduce.py
  mapreduce/tox.ini
Labels: changelog/Added, integration/mapreduce

#3541 Adhere to code style
  mysql/datadog_checks/mysql/__init__.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/setup.py
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
  mysql/tests/variables.py
  mysql/tox.ini
Labels: changelog/Added, integration/mysql

#3512 Adhere to code style
  gunicorn/datadog_checks/gunicorn/__init__.py
  gunicorn/datadog_checks/gunicorn/gunicorn.py
  gunicorn/setup.py
  gunicorn/tests/common.py
  gunicorn/tests/conftest.py
  gunicorn/tests/fixtures/app.py
  gunicorn/tests/test_gunicorn.py
  gunicorn/tox.ini
Labels: changelog/Added, integration/gunicorn

#3513 Adhere to code style
  haproxy/datadog_checks/haproxy/__init__.py
  haproxy/datadog_checks/haproxy/haproxy.py
  haproxy/setup.py
  haproxy/tests/common.py
  haproxy/tests/conftest.py
  haproxy/tests/test_haproxy.py
  haproxy/tests/test_unit.py
  haproxy/tox.ini
Labels: changelog/Added, integration/haproxy

#3601 Add hdfs_datanode e2e
  hdfs_datanode/tests/common.py
  hdfs_datanode/tests/compose/docker-compose.yaml
  hdfs_datanode/tests/conftest.py
  hdfs_datanode/tests/test_integration.py
  hdfs_datanode/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/hdfs_datanode

#3645 Fix description in config file
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/openstack_controller

#3427 Add debug to compare short names, service names and patterns
  windows_service/datadog_checks/windows_service/windows_service.py
Labels: changelog/Fixed, integration/windows_service
