Repository DataDog/integrations-core, pull requests merged in 2019-02, with the labels that each got.

#3063 Add command to show changes based on commit date
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/changes.py
Labels: changelog/Added, integration/datadog_checks_dev

#3061 Autodiscover queues
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/tests/common.py
  ibm_mq/tests/conftest.py
  ibm_mq/tests/test_ibm_mq.py
Labels: changelog/Added, integration/ibm_mq

#3068 Update Manifest files to ship updated tests folder
  agent_metrics/MANIFEST.in
  ecs_fargate/MANIFEST.in
  etcd/MANIFEST.in
  fluentd/MANIFEST.in
  gearmand/MANIFEST.in
  go_expvar/MANIFEST.in
  gunicorn/MANIFEST.in
  kube_dns/MANIFEST.in
  mesos_master/MANIFEST.in
  mesos_slave/MANIFEST.in
  mongo/MANIFEST.in
  php_fpm/MANIFEST.in
  postfix/MANIFEST.in
  rabbitmq/MANIFEST.in
  riakcs/MANIFEST.in
  snmp/MANIFEST.in
  sqlserver/MANIFEST.in
  statsd/MANIFEST.in
  supervisord/MANIFEST.in
  system_swap/MANIFEST.in
  tcp_check/MANIFEST.in
  tokumx/MANIFEST.in
  twemproxy/MANIFEST.in
  win32_event_log/MANIFEST.in
  windows_service/MANIFEST.in
  wmi_check/MANIFEST.in
  zk/MANIFEST.in
Labels: changelog/no-changelog, integration/agent_metrics, integration/ecs_fargate, integration/etcd, integration/fluentd, integration/gearmand, integration/go_expvar, integration/gunicorn, integration/kube_dns, integration/mesos_master, integration/mesos_slave, integration/mongo, integration/php_fpm, integration/postfix, integration/rabbitmq, integration/riakcs, integration/snmp, integration/sqlserver, integration/statsd, integration/supervisord, integration/system_swap, integration/tcp_check, integration/tokumx, integration/twemproxy, integration/win_32_event_log, integration/windows_service, integration/wmi_check, integration/zk

#3069 Don't raise Exception when No NFS mounts could be found
  nfsstat/datadog_checks/nfsstat/nfsstat.py
  nfsstat/tests/test_nfsstat.py
Labels: changelog/Added, integration/nfsstat

#3070 [Release] Openstack Controller 1.0.0
  .links/LATEST
  .links/tag.6e091a53.link
  openstack_controller/CHANGELOG.md
  openstack_controller/README.md
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/openstack_controller

#3072 Remove PYTHON3 env var for tokumx
  .travis.yml
Labels: changelog/no-changelog, dev/testing, integration/tokumx

#3075 Ignore vendored dependencies for code coverage
  .coveragerc
Labels: dev/testing

#3064 Add `local` E2E
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/agent.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/core.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/local.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/platform.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#3077 Fix flake8
  active_directory/tests/test_active_directory.py
  aspdotnet/tests/test_aspdotnet.py
  dotnetclr/tests/test_dotnetclr.py
  exchange_server/tests/test_exchange_server.py
  iis/tests/conftest.py
  iis/tests/test_iis.py
  pdh_check/tests/test_pdh_check.py
Labels: changelog/Fixed, integration/active_directory, integration/aspdotnet, integration/dotnetclr, integration/exchange_server, integration/iis, integration/pdh_check

#3026 Add datadog-checks-downloader
  .github/CODEOWNERS
  .public-tuf-config.json
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_downloader/README.md
  datadog_checks_downloader/datadog_checks/__init__.py
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
  datadog_checks_downloader/datadog_checks/downloader/__init__.py
  datadog_checks_downloader/datadog_checks/downloader/cli.py
  datadog_checks_downloader/datadog_checks/downloader/data/repo/metadata/current/.gitignore
  datadog_checks_downloader/datadog_checks/downloader/data/repo/metadata/current/root.json
  datadog_checks_downloader/datadog_checks/downloader/data/repo/metadata/previous/.gitignore
  datadog_checks_downloader/datadog_checks/downloader/data/repo/targets/.gitignore
  datadog_checks_downloader/datadog_checks/downloader/download.py
  datadog_checks_downloader/datadog_checks/downloader/parameters.py
  datadog_checks_downloader/requirements-dev.txt
  datadog_checks_downloader/requirements.in
  datadog_checks_downloader/setup.py
  datadog_checks_downloader/tests/__init__.py
  datadog_checks_downloader/tests/test_downloader.py
  datadog_checks_downloader/tox.ini
Labels: changelog/Added, integration/datadog_checks_downloader, kind/feature-request

#3067 Add command to build package wheel
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/release.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#3081 FIXME: temp add back TUF metadata needed for agent builds until update
  .public-tuf-config.json
  .tuf-root.json
Labels: changelog/no-changelog

#3078 Officially support Aerospike
  .travis.yml
  aerospike/CHANGELOG.md
  aerospike/MANIFEST.in
  aerospike/README.md
  aerospike/datadog_checks/__init__.py
  aerospike/datadog_checks/aerospike/__about__.py
  aerospike/datadog_checks/aerospike/__init__.py
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  aerospike/logos/README.md
  aerospike/manifest.json
  aerospike/metadata.csv
  aerospike/requirements-dev.txt
  aerospike/requirements.in
  aerospike/service_checks.json
  aerospike/setup.py
  aerospike/tests/__init__.py
  aerospike/tests/common.py
  aerospike/tests/conftest.py
  aerospike/tests/docker/docker-compose.yaml
  aerospike/tests/test_aerospike.py
  aerospike/tox.ini
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: changelog/Added, integration/aerospike

#3076 windows addendum to process metrics
  process/metadata.csv
Labels: documentation

#3082 [Aerospike] Implementing conf file norm
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/aerospike

#3083 Put service check behind a flag, false by default
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/haproxy.py
  haproxy/tests/test_haproxy.py
Labels: changelog/Changed, integration/haproxy

#3092 Fix e2e package install order
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#3079 Fix usage metrics collection for static pods
  kubelet/datadog_checks/kubelet/prometheus.py
  kubelet/tests/fixtures/cadvisor_metrics.txt
  kubelet/tests/fixtures/podlist_containerd.json
  kubelet/tests/fixtures/pods.json
  kubelet/tests/test_prometheus.py
Labels: changelog/Fixed, containers, integration/kubelet

#2921 Refactor tests
  varnish/tests/common.py
  varnish/tests/compose/docker-compose.yaml
  varnish/tests/conftest.py
  varnish/tests/test_unit.py
  varnish/tests/test_varnish.py
  varnish/tox.ini
Labels: changelog/no-changelog, integration/varnish

#2954 Support e2e
  riak/tests/common.py
  riak/tests/conftest.py
  riak/tests/test_riak.py
  riak/tox.ini
Labels: changelog/no-changelog, integration/riak

#3087 Use Cloudfront instead of direct-to-S3
  datadog_checks_downloader/datadog_checks/downloader/download.py
  datadog_checks_downloader/tests/test_downloader.py
Labels: changelog/Fixed, integration/datadog_checks_downloader, kind/bug, severity/minor

#3065 [http_check] adds instance tag to metrics
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/test_http_check.py
Labels: changelog/Added, integration/http_check

#3098 Parse raw yaml instances and init_config with dedicated base class method
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  datadog_checks_base/tests/test_agent_check.py
Labels: changelog/Added, integration/datadog_checks_base

#3084 Clean up Readme
  openstack_controller/README.md
Labels: changelog/no-changelog, documentation, integration/openstack_controller

#3093 Expose the single check instance as an attribute
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: changelog/Added, integration/datadog_checks_base

#3103 [Release] Bumped datadog_checks_base version to 6.0.0
  .links/LATEST
  .links/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#3102 Added .daemonset.updated gauge to track daemonset updates
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/metadata.csv
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Added, integration/kubernetes_state

#3104 Fixing links
  kafka_consumer/README.md
Labels: changelog/no-changelog, documentation, integration/kafka_consumer

#3108 Add __main__ module to package
  datadog_checks_downloader/datadog_checks/downloader/__main__.py
Labels: changelog/Added, integration/datadog_checks_downloader

#3106 typo
  consul/README.md
Labels: changelog/no-changelog, documentation, integration/consul

#3112 Fix openstack check instantiation in tests
  openstack/tests/test_openstack.py
  openstack_controller/tests/test_openstack.py
Labels: changelog/no-changelog, integration/openstack, integration/openstack_controller

#3110 [CockroachDB] add blog post link
  cockroachdb/README.md
Labels: changelog/no-changelog, documentation, integration/cockroachdb

#3115 [Docker Daemon] update readme
  docker_daemon/README.md
  docker_daemon/manifest.json
Labels: changelog/no-changelog, documentation, integration/docker_daemon

#3105 Adding disclaimer for V2 only metrics
  etcd/metadata.csv
Labels: changelog/no-changelog, documentation, integration/etcd

#3094 [supervidord] change example supervisor.sock conf
  supervisord/datadog_checks/supervisord/data/conf.yaml.example
Labels: changelog/no-changelog, integration/supervisord

#3046 Update example config to match docs
  istio/datadog_checks/istio/data/conf.yaml.example
Labels: changelog/Fixed, integration/istio

#3066 Fix growing CPU and memory usage
  kube_dns/datadog_checks/kube_dns/kube_dns.py
  kube_dns/tests/test_kube_dns.py
Labels: changelog/Fixed, integration/kube_dns

#2876 Revamp PR body template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changelog/no-changelog, dev/tooling

#2872 Performance improvement in tracking signed files in git
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
  datadog_checks_dev/datadog_checks/dev/tooling/signing.py
  datadog_checks_dev/tests/tooling/test_git.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#3097 Add logs section
  postfix/README.md
  postfix/datadog_checks/postfix/data/conf.yaml.example
  postfix/manifest.json
Labels: changelog/Added, integration/postfix

#2981 Add conntrack basic metrics to the network integration.
  network/datadog_checks/network/network.py
  network/metadata.csv
Labels: changelog/Added, community, integration/network

#3008 adds redis_db tag to redis.key.length
  redisdb/datadog_checks/redisdb/data/conf.yaml.example
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/tests/test_default.py
Labels: changelog/Added, integration/redisdb

#3020 Fix default values
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/openmetrics

#3111 Collect PodDisruptionBudget metrics
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/metadata.csv
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Added, integration/kubernetes_state

#3114 Make `is_leader` tag optional
  etcd/datadog_checks/etcd/data/conf.yaml.example
  etcd/datadog_checks/etcd/etcd.py
  etcd/tests/test_etcd.py
Labels: changelog/Added, integration/etcd

#3118 Copy kubernetes logos
  nginx_ingress_controller/logos/avatars-bot.png
  nginx_ingress_controller/logos/saas_logos-bot.png
  nginx_ingress_controller/logos/saas_logos-small.png
Labels: changelog/no-changelog, integration/nginx_ingress_controller

#3116 Nginx configuration update
  aspdotnet/README.md
  nginx/README.md
  nginx/datadog_checks/nginx/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/nginx

#3073 haproxy: Only send 'haproxy.backend_hosts' metrics for backend
  haproxy/datadog_checks/haproxy/haproxy.py
  haproxy/tests/common.py
  haproxy/tests/test_haproxy.py
Labels: changelog/Changed, integration/haproxy

#3122 Monkey patch pyyaml only once at load time
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#3123 fix typo
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
Labels: changelog/no-changelog, integration/ibm_mq

#3120 Refactor openstack_controller check cache
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/tests/common.py
  openstack_controller/tests/test_openstack.py
Labels: changelog/Fixed, integration/openstack_controller

#3107 Collect .hpa.condition gauges
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/metadata.csv
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Added, integration/kubernetes_state

#3127 Make load_config a staticmethod everywhere
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: changelog/Fixed, integration/datadog_checks_base

#3125 Use alpha grpc gateway endpoint
  etcd/datadog_checks/etcd/etcd.py
  etcd/tests/utils.py
Labels: changelog/Fixed, integration/etcd

#3101 Track leader election status
  datadog_checks_base/datadog_checks/base/__init__.py
  datadog_checks_base/datadog_checks/base/checks/kube_leader/__init__.py
  datadog_checks_base/datadog_checks/base/checks/kube_leader/base_check.py
  datadog_checks_base/datadog_checks/base/checks/kube_leader/mixins.py
  datadog_checks_base/datadog_checks/base/checks/kube_leader/record.py
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  datadog_checks_base/setup.py
  datadog_checks_base/tests/test_kube_leader.py
  kube_controller_manager/datadog_checks/kube_controller_manager/data/conf.yaml.example
  kube_controller_manager/datadog_checks/kube_controller_manager/kube_controller_manager.py
  kube_controller_manager/metadata.csv
  kube_controller_manager/service_checks.json
  kube_controller_manager/tests/test_kube_controller_manager.py
  kube_controller_manager/tox.ini
Labels: changelog/Added, integration/kube_controller_manager

#3117 Change CPU metrics metadata from rate to gauge
  ecs_fargate/metadata.csv
Labels: changelog/no-changelog, integration/ecs_fargate

#3080 Add url as tag
  http_check/datadog_checks/http_check/http_check.py
Labels: changelog/Added, integration/http_check

#3124 [ECS Fargate] README updates
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#3126 [Oracle] Refactoring configuration file + README enhancement
  oracle/README.md
  oracle/datadog_checks/oracle/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/oracle

#3133 Update e2e start help text for extras integrations
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#3134 Set coverage target for project and disable patch status
  .codecov.yml
Labels: dev/testing

#3136 Revert "Performance improvement in tracking signed files in git (#2872)"
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
  datadog_checks_dev/datadog_checks/dev/tooling/signing.py
  datadog_checks_dev/tests/tooling/test_git.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#3135 Add util to get the directory of current file
  datadog_checks_dev/datadog_checks/dev/__init__.py
  datadog_checks_dev/datadog_checks/dev/utils.py
Labels: changelog/Added, integration/datadog_checks_dev

#3129 Add Aerospike back
  .travis.yml
  aerospike/CHANGELOG.md
  aerospike/MANIFEST.in
  aerospike/README.md
  aerospike/datadog_checks/__init__.py
  aerospike/datadog_checks/aerospike/__about__.py
  aerospike/datadog_checks/aerospike/__init__.py
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  aerospike/logos/README.md
  aerospike/manifest.json
  aerospike/metadata.csv
  aerospike/requirements-dev.txt
  aerospike/requirements.in
  aerospike/service_checks.json
  aerospike/setup.py
  aerospike/tests/__init__.py
  aerospike/tests/common.py
  aerospike/tests/conftest.py
  aerospike/tests/docker/docker-compose.yaml
  aerospike/tests/test_aerospike.py
  aerospike/tox.ini
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: changelog/no-changelog, integration/aerospike

#3145 [Release] Bumped aerospike version to 1.0.0
  .links/LATEST
  .links/tag.87d52666.link
  aerospike/CHANGELOG.md
  aerospike/datadog_checks/aerospike/__about__.py
Labels: changelog/no-changelog, integration/aerospike

#3139 Using new configuration file norm
  directory/datadog_checks/directory/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/directory

#3140 [Dotnetclr] Using new configuration file norm
  dotnetclr/datadog_checks/dotnetclr/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/dotnetclr

#3141 Using new configuration file norm
  elastic/datadog_checks/elastic/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/elastic

#3147 [Gearmand] Using new configuration file norm
  gearmand/datadog_checks/gearmand/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/gearmand

#3146 Fluent d configuration file update
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/fluentd

#3144 [Exchange Server] Using new configuration file norm
  exchange_server/datadog_checks/exchange_server/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/exchange_server

#3143 [Envoy] Using new configuration file norm
  envoy/datadog_checks/envoy/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/envoy

#3150 [Gitlab Runner] Configuration file migration
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/gitlab_runner

#3149 [Gitlab] Conf file migration
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/gitlab

#3056 Add support for SASL_PLAINTEXT authentication with Kafka broker
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: changelog/Added, integration/kafka_consumer

#2965 Support fluentd v1's monitor_agent metrics
  fluentd/datadog_checks/fluentd/fluentd.py
Labels: changelog/Fixed, community, integration/fluentd

#3128 Refactoring configuration file + README.md
  sqlserver/README.md
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/sqlserver

#3138 Remove flags from comment bot
  .codecov.yml
Labels: dev/testing

#3130 Delete TUF metadata we no longer require
  .public-tuf-config.json
  .tuf-root.json
Labels: changelog/no-changelog, integration/datadog_checks_downloader

#3152 Migrating configuration file to new norm
  go_expvar/datadog_checks/go_expvar/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/go_expvar

#3142 Refactor openstack_controller check api and back caches
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/datadog_checks/openstack_controller/retry.py
  openstack_controller/tests/test_retry.py
Labels: changelog/Fixed, integration/openstack_controller

#3132 Fargate process agent
  ecs_fargate/README.md
  ecs_fargate/manifest.json
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#3109 Add openstacksdk option to openstack_controller
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  openstack_controller/datadog_checks/openstack_controller/api.py
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
  openstack_controller/requirements.in
  openstack_controller/tests/common.py
  openstack_controller/tests/test_openstack_sdk_api.py
  openstack_controller/tests/test_simple_api.py
Labels: changelog/Added, integration/openstack_controller

#3151 Migrating configuration file to new norm
  go-metro/datadog_checks/go-metro/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/go-metro

#3155 [Gunicorn] migrating configuration file to new norm
  gunicorn/datadog_checks/gunicorn/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/gunicorn

#3156 [Haproxy] migrating configuration file to new norm
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/haproxy

#3159 Refactor - reuse variable
  http_check/datadog_checks/http_check/http_check.py
Labels: changelog/no-changelog, integration/http_check

#3154 Refactor test utils
  apache/tests/common.py
Labels: changelog/no-changelog, integration/apache

#3161 Better error message when no such DD package or version
  datadog_checks_downloader/datadog_checks/downloader/cli.py
Labels: changelog/Fixed, integration/datadog_checks_downloader

#3157 Add queue exclude example to rabbitmq config
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
Labels: community, documentation, integration/rabbitmq

#3153 [Kafka Consumer] migrating configuration file to new norm
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/kafka_consumer

#3162 Add util to load jmx metric configs
  datadog_checks_dev/datadog_checks/dev/__init__.py
  datadog_checks_dev/datadog_checks/dev/utils.py
  datadog_checks_dev/setup.py
Labels: changelog/Added, integration/datadog_checks_dev

#3166 Import kubernetes lazily to reduce memory footprint
  datadog_checks_base/datadog_checks/base/checks/kube_leader/mixins.py
  datadog_checks_base/datadog_checks/base/checks/kube_leader/record.py
  datadog_checks_base/tests/test_kube_leader.py
Labels: changelog/Fixed, integration/datadog_checks_base

#3164 Support datadog_checks_downloader
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Added, integration/datadog_checks_dev

#3167 [Release] Bumped datadog_checks_downloader version to 0.2.0
  .links/LATEST
  .links/tag.c295cf63.link
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_downloader

#3168 Fix aerospike E2E
  aerospike/tests/common.py
Labels: changelog/no-changelog, integration/aerospike

#3169 Properly ship datadog-checks-downloader
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/release.py
  requirements-agent-release.txt
Labels: changelog/Fixed, integration/datadog_checks_dev

#3170 [Release] Bumped ibm_was version to 1.0.0
  .links/tag.c295cf63.link
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
Labels: changelog/no-changelog, integration/ibm_was

#3171 [Release] Bumped datadog_checks_base version to 6.1.0
  .links/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#3173 [skip ci] Fixed a typo in the example config file for the couchbase i…
  couchbase/datadog_checks/couchbase/data/conf.yaml.example
Labels: changelog/Fixed, integration/couchbase

#3175 Refactor - dictionary item access
  mapreduce/datadog_checks/mapreduce/mapreduce.py
Labels: changelog/no-changelog, integration/mapreduce

#3176 Refactor - use range instead of xrange
  btrfs/datadog_checks/btrfs/btrfs.py
Labels: changelog/no-changelog, integration/btrfs

#3174 Remove Encrypted column from results
  mysql/datadog_checks/mysql/mysql.py
Labels: changelog/Added, integration/mysql

#3181 Provide a way to update to the new agent build config format
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/config.py
Labels: changelog/Added, integration/datadog_checks_dev

#3182 Increase requests timeout
  datadog_checks_downloader/datadog_checks/downloader/download.py
Labels: changelog/Fixed, integration/datadog_checks_downloader

#3180 Separate module for exceptions
  datadog_checks_downloader/datadog_checks/downloader/cli.py
  datadog_checks_downloader/datadog_checks/downloader/download.py
  datadog_checks_downloader/datadog_checks/downloader/exceptions.py
Labels: changelog/no-changelog, integration/datadog_checks_downloader

#3179 [Kong] migrating configuration file to new norm
  kong/datadog_checks/kong/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/kong

#3184 Make a new exception for in-toto parameter substitutions, and add comments
  datadog_checks_downloader/datadog_checks/downloader/parameters.py
Labels: changelog/no-changelog, integration/datadog_checks_downloader, kind/bug

#3183 Add datadog_checks_downloader to Travis
  .travis.yml
Labels: dev/testing

#3187 [Release] Bumped datadog_checks_downloader version to 0.3.0
  .links/LATEST
  .links/tag.87d52666.link
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_downloader

#3160 Add e2e support and integration tests
  riakcs/tests/common.py
  riakcs/tests/compose/docker-compose.yaml
  riakcs/tests/conftest.py
  riakcs/tests/fixtures/riakcs21_metrics.python
  riakcs/tests/fixtures/riakcs_metrics.python
  riakcs/tests/test_integration.py
  riakcs/tests/test_riakcs.py
  riakcs/tests/test_unit.py
  riakcs/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/riakcs

#3188 Properly detect integration folder for py3 validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/py3.py
  datadog_checks_dev/datadog_checks/dev/tooling/requirements.py
Labels: changelog/Fixed, dev/testing, dev/tooling, integration/datadog_checks_dev

#3190 Remove print statement
  datadog_checks_downloader/datadog_checks/downloader/cli.py
Labels: changelog/Fixed, integration/datadog_checks_downloader

#3177 [IIS] Migrating configuration file to new norm
  iis/datadog_checks/iis/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/iis

#2935 Update the kong integration with log instruction
  kong/README.md
  kong/datadog_checks/kong/data/conf.yaml.example
  kong/manifest.json
Labels: changelog/Added, documentation, integration/kong

#3163 Add ability to pass -m & -k to pytest
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/Added, integration/datadog_checks_dev

#3193 [Linkered] migrating configuration file to new norm
  linkerd/datadog_checks/linkerd/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/linkerd

#3191 [Kyototycoon] migrating configuration file to new norm
  kyototycoon/datadog_checks/kyototycoon/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/kyototycoon

#3185 Add integration tests and support e2e
  ibm_was/datadog_checks/ibm_was/data/conf.yaml.example
  ibm_was/tests/common.py
  ibm_was/tests/conftest.py
  ibm_was/tests/docker/PASSWORD
  ibm_was/tests/docker/docker-compose.yaml
  ibm_was/tests/docker/init.jython
  ibm_was/tests/test_ibm_was.py
  ibm_was/tests/test_unit.py
  ibm_was/tox.ini
Labels: changelog/no-changelog, integration/ibm_was

#3198 Fix tox apache
  apache/tox.ini
Labels: changelog/no-changelog, integration/apache

#3196 fix tox consul
  consul/tox.ini
Labels: changelog/no-changelog, integration/consul

#3194 [MapReduce] migrating configuration file to new norm
  mapreduce/datadog_checks/mapreduce/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/mapreduce

#3203 Tag ibm_mq as a log collection integration
  ibm_mq/manifest.json
Labels: changelog/no-changelog, documentation, integration/ibm_mq

#3192 [Lighttpd] migrating configuration file to new norm
  lighttpd/datadog_checks/lighttpd/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/lighttpd

#3205 [Mcache] conf file migration
  mcache/datadog_checks/mcache/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/mcache

#3201 tox postgres
  postgres/tox.ini
Labels: changelog/no-changelog, integration/postgres

#3208 Fix tox elastic
  elastic/tox.ini
Labels: changelog/no-changelog, integration/elastic

#3204 [Mesos] migrating configuration file to new norm
  mesos_master/datadog_checks/mesos_master/data/conf.yaml.example
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/mesos_master, integration/mesos_slave

#3200 tox http_check, kong, mysql, openldap, prometheus, redisdb
  http_check/tox.ini
  kong/tox.ini
  mysql/tox.ini
  openldap/tests/test_unit.py
  openldap/tox.ini
  prometheus/tests/test_prometheus.py
  prometheus/tox.ini
  redisdb/tox.ini
Labels: changelog/no-changelog, integration/http_check, integration/kong, integration/mysql, integration/openldap, integration/prometheus, integration/redisdb

#3206 [Mongo] configuration file migration
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/mongo

#3209 Fix tox openmetrics
  .travis.yml
  openmetrics/tests/test_openmetrics.py
  openmetrics/tox.ini
Labels: changelog/no-changelog, integration/openmetrics

#3212 Refactor check to use the official library
  .travis.yml
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  aerospike/tests/common.py
  aerospike/tests/conftest.py
  aerospike/tests/docker/docker-compose.yaml
  aerospike/tests/test_aerospike.py
  aerospike/tox.ini
Labels: changelog/Added, integration/aerospike

#3158 Support e2e
  mesos_master/tests/common.py
  mesos_master/tests/compose/docker-compose.yml
  mesos_master/tests/conftest.py
  mesos_master/tests/test_check.py
  mesos_slave/tests/common.py
  mesos_slave/tests/compose/docker-compose.yml
  mesos_slave/tests/conftest.py
  mesos_slave/tests/test_check.py
Labels: changelog/no-changelog, dev/testing, integration/mesos_master, integration/mesos_slave

#3215 Fix tox consul
  consul/tests/test_unit.py
  consul/tox.ini
Labels: changelog/no-changelog, integration/consul

#3216 Fix and clean tox config
  process/tox.ini
  rabbitmq/tox.ini
  riak/tox.ini
  riakcs/tox.ini
  snmp/tox.ini
  spark/tox.ini
  sqlserver/tox.ini
  squid/tox.ini
  ssh_check/tox.ini
  statsd/tox.ini
  supervisord/tox.ini
  system_core/tox.ini
  system_swap/tox.ini
  tcp_check/tox.ini
  teamcity/tox.ini
  tokumx/tox.ini
  twemproxy/tox.ini
  varnish/tox.ini
  vault/tox.ini
  vsphere/tox.ini
  win32_event_log/tox.ini
  windows_service/tox.ini
  wmi_check/tox.ini
  yarn/tox.ini
  zk/tox.ini
Labels: changelog/no-changelog, integration/process, integration/rabbitmq, integration/riak, integration/riakcs, integration/snmp, integration/spark, integration/sqlserver, integration/squid, integration/ssh_check, integration/statsd, integration/supervisord, integration/system_core, integration/system_swap, integration/tcp_check, integration/teamcity, integration/tokumx, integration/twemproxy, integration/varnish, integration/vault, integration/vsphere, integration/win_32_event_log, integration/windows_service, integration/wmi_check, integration/yarn, integration/zk

#3214 Add authentication and timeout options
  aerospike/README.md
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
Labels: changelog/Added, integration/aerospike

#3210 Fix tox
  apache/tox.ini
  postgres/tox.ini
Labels: changelog/no-changelog, integration/apache, integration/postgres

#3220 [Release] Bumped aerospike version to 1.1.0
  .links/LATEST
  .links/tag.c295cf63.link
  aerospike/CHANGELOG.md
  aerospike/datadog_checks/aerospike/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/aerospike

#3218 ensure_unicode with normalize for py3 compatibility
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/test_agent_check.py
  http_check/datadog_checks/http_check/http_check.py
  iis/datadog_checks/iis/iis.py
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  varnish/datadog_checks/varnish/varnish.py
Labels: changelog/Fixed, integration/datadog_checks_base, integration/http_check, integration/iis, integration/tcp_check, integration/varnish

#3221 Release MySQL 1.7.0
  .links/LATEST
  .links/tag.6e091a53.link
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mysql

#3217 Add versions 2.0 and 2.1
  kafka_consumer/tests/runners.py
  kafka_consumer/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/kafka_consumer

#3223 bump datadog_checks_base
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#3224 fix changelog to reflect what is in the agent
  datadog_checks_base/CHANGELOG.md
Labels: changelog/no-changelog, integration/datadog_checks_base

#3225 Pin `datadog_checks_base>=6.1.0` which includes `openstacksdk` dependency
  openstack_controller/setup.py
Labels: changelog/Fixed, integration/openstack_controller

#3219 Fix haproxy and mongo tox
  haproxy/tests/test_haproxy.py
  haproxy/tests/test_unit.py
  haproxy/tox.ini
  mongo/tox.ini
Labels: changelog/no-changelog, integration/haproxy, integration/mongo

#3228 Support Python 3
  nfsstat/datadog_checks/nfsstat/nfsstat.py
  nfsstat/tests/test_nfsstat.py
Labels: changelog/Added, integration/nfsstat

#3227 ntp is not py3 compatible yet
  .travis.yml
  ntp/tox.ini
Labels: changelog/no-changelog, integration/ntp

#3229 fix tox files
  dns_check/tox.ini
  elastic/tox.ini
  supervisord/tox.ini
  vsphere/tox.ini
Labels: changelog/no-changelog, integration/dns_check, integration/elastic, integration/supervisord, integration/vsphere

#3226 add comments to travis config
  .travis.yml
Labels: changelog/no-changelog

#3233 Fix agent changelog command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/common.py
Labels: changelog/Fixed, integration/datadog_checks_dev
