Repository DataDog/integrations-core, pull requests merged in 2019-09, with the labels that each got.

#4470 Add config test
  etcd/tests/test_etcd.py
Labels: changelog/no-changelog, integration/etcd

#4466 Add config test
  php_fpm/tests/test_unit.py
Labels: changelog/no-changelog, integration/php_fpm

#4457 Add couch config test
  couch/tests/test_unit.py
Labels: changelog/no-changelog, integration/couch

#4459 Add config test
  envoy/tests/test_envoy.py
Labels: changelog/no-changelog, integration/envoy

#4438 Add gitlab_runner test for timeout
  gitlab_runner/tests/test_unit.py
Labels: changelog/no-changelog, integration/gitlab_runner

#4441 Add nginx config tests
  nginx/tests/test_unit.py
Labels: changelog/no-changelog, integration/nginx

#4489 Fix test
  gitlab_runner/tests/test_unit.py
Labels: changelog/no-changelog, integration/gitlab_runner

#4490 Adding default value
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/postgres

#4491 IBM_WAS fix bug, add unit test
  ibm_was/datadog_checks/ibm_was/ibm_was.py
  ibm_was/tests/fixtures/perfservlet-multiple-nodes.xml
  ibm_was/tests/fixtures/server.xml
  ibm_was/tests/test_unit.py
Labels: changelog/Fixed, integration/ibm_was

#4495 Julia/release ibm was
  .links/LATEST
  .links/tag.4a5409a2.link
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_was

#4492 Adding link to faq for nginx log.
  nginx/README.md
Labels: changelog/no-changelog, documentation, integration/nginx

#4415 Add e2e to openmetrics
  openmetrics/datadog_checks/__init__.py
  openmetrics/tests/common.py
  openmetrics/tests/conftest.py
  openmetrics/tests/test_integration.py
  openmetrics/tox.ini
Labels: changelog/no-changelog, integration/openmetrics

#4475 Julia/openstack controller http wrapper test
  openstack_controller/tests/test_openstack.py
Labels: changelog/no-changelog, dev/testing, integration/openstack_controller

#4474 Add http headers test to powerdns_precursor
  powerdns_recursor/tests/test_unit.py
Labels: changelog/no-changelog, dev/testing, integration/powerdns_recursor

#4439 Add rabbitmq config test
  rabbitmq/tests/test_unit.py
Labels: changelog/no-changelog, integration/rabbitmq

#4429 Add kong e2e test
  kong/tests/test_integration_e2e.py
  kong/tox.ini
Labels: changelog/no-changelog, integration/kong

#4391 Allow autoconfiguration of instances by sysObjectId
  snmp/README.md
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
Labels: changelog/Added, integration/snmp

#4501 Catch statement timeouts correctly
  postgres/datadog_checks/postgres/postgres.py
Labels: changelog/Fixed, integration/postgres

#4504 [Release] Bumped postgres version to 3.1.3
  .links/LATEST
  .links/tag.c295cf63.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres

#4505 Fix error handling
  go_expvar/datadog_checks/go_expvar/go_expvar.py
Labels: changelog/Fixed, integration/go_expvar

#4506 [Release] Bumped go_expvar version to 1.5.1
  .links/tag.c295cf63.link
  go_expvar/CHANGELOG.md
  go_expvar/datadog_checks/go_expvar/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/go_expvar

#4496 Add e2e to mapreduce
  mapreduce/tests/common.py
  mapreduce/tests/test_integration.py
  mapreduce/tests/test_integration_e2e.py
  mapreduce/tox.ini
Labels: changelog/no-changelog, integration/mapreduce

#4507 Add e2e test to statsd
  statsd/tests/test_statsd.py
  statsd/tox.ini
Labels: changelog/no-changelog, integration/statsd

#4508 Add e2e test to powerdns_recursor
  powerdns_recursor/tests/test_e2e.py
  powerdns_recursor/tox.ini
Labels: changelog/no-changelog, integration/powerdns_recursor

#4494 Add vertica tls test
  vertica/tests/certificate/cert.cert
  vertica/tests/certificate/server.pem
  vertica/tests/test_unit.py
Labels: changelog/no-changelog, integration/vertica

#4464 Add kafka_consumer e2e tests
  kafka_consumer/tests/test_kafka_consumer.py
  kafka_consumer/tests/test_kafka_consumer_zk.py
  kafka_consumer/tox.ini
Labels: changelog/no-changelog, integration/kafka_consumer

#4453 Better `env start` error output: show available envs
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: changelog/no-changelog, dev/tooling

#4436 Add legacy username pass test to Squid
  squid/tests/test_unit.py
Labels: changelog/no-changelog, integration/squid

#4462 Add RequestWrapper tests
  couchbase/tests/test_unit.py
  datadog_checks_dev/datadog_checks/dev/env.py
Labels: changelog/no-changelog, dev/testing, integration/couchbase

#4509 Add e2e test to pgbouncer
  pgbouncer/tests/conftest.py
  pgbouncer/tests/test_pgbouncer.py
  pgbouncer/tox.ini
Labels: changelog/no-changelog, do-not-merge/WIP, integration/pgbouncer

#4512 Add kyototycoon e2e
  kyototycoon/tests/test_kyototycoon.py
  kyototycoon/tox.ini
Labels: changelog/no-changelog, integration/kyototycoon

#4432 Add couch e2e test
  couch/tests/common.py
  couch/tests/conftest.py
  couch/tests/test_couchv1.py
  couch/tests/test_couchv2.py
  couch/tests/test_unit.py
  couch/tox.ini
Labels: changelog/no-changelog, integration/couch

#4523 Add e2e tests
  etcd/datadog_checks/etcd/etcd.py
  etcd/tests/common.py
  etcd/tests/conftest.py
  etcd/tests/test_e2e.py
  etcd/tests/test_integration.py
  etcd/tox.ini
Labels: changelog/no-changelog, integration/etcd

#4518 Fix ecs_fargate timeout
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  ecs_fargate/tests/test_unit.py
Labels: changelog/Fixed, integration/ecs_fargate

#4514 PDH check docs
  pdh_check/README.md
  pdh_check/manifest.json
Labels: changelog/no-changelog, documentation, integration/pdh_check

#3721 Add schema tag to Lock and Size metrics (#3438)
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_common.py
  postgres/tests/test_relations.py
Labels: changelog/Added, integration/postgres

#4511 Basic discovery mechanism and test
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/snmp.py
  snmp/requirements.in
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
Labels: changelog/Added, integration/snmp

#4526 Remove failing discovered hosts
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
Labels: changelog/Added, integration/snmp

#4525 Fix duplicate service checks
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/tests/test_ibm_mq.py
Labels: changelog/Fixed, integration/ibm_mq

#4503 [windows_service] search patterns in reverse sort order
  windows_service/datadog_checks/windows_service/windows_service.py
Labels: changelog/no-changelog, integration/windows_service

#4513 Add e2e test to linux_proc_extras
  linux_proc_extras/tests/test_integration.py
  linux_proc_extras/tests/test_linux_proc_extras.py
  linux_proc_extras/tox.ini
Labels: changelog/no-changelog, integration/linux_proc_extras

#4529 Fix for commits name with PR ids
  datadog_checks_dev/datadog_checks/dev/tooling/github.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#4528 [Release] Update metadata postgres
  .links/LATEST
  .links/tag.57ce2495.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres

#4493 Bump lxml to 4.4.1
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ibm_was/requirements.in
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/ibm_was

#4524 Explain filetagname logic
  directory/datadog_checks/directory/data/conf.yaml.example
Labels: changelog/Fixed, integration/directory

#4461 Switch to Azure Pipelines
  .azure-pipelines/All.yml
  .azure-pipelines/Changes.yml
  .azure-pipelines/scripts/aerospike/linux/55_build_client.sh
  .azure-pipelines/scripts/cacti/linux/55_install_rrdtool.sh
  .azure-pipelines/scripts/datadog_checks_base/linux/55_install_kerberos.sh
  .azure-pipelines/scripts/elastic/linux/55_increase_docker_memory.sh
  .azure-pipelines/scripts/ibm_mq/linux/55_install_client.sh
  .azure-pipelines/scripts/run.py
  .azure-pipelines/scripts/sqlserver/linux/55_install_odbc.sh
  .azure-pipelines/scripts/sqlserver/windows/32_install_odbc.bat
  .azure-pipelines/scripts/sqlserver/windows/55_install_sqlserver.bat
  .azure-pipelines/scripts/tokumx/linux/55_disable_hugepages.sh
  .azure-pipelines/templates/checkout-code.yml
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/run-validations.yml
  .azure-pipelines/templates/set-up-integrations.yml
  .azure-pipelines/templates/set-up-windows.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
  aerospike/tox.ini
  datadog_checks_base/tests/test_http.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/utils.py
  datadog_checks_dev/tests/common.py
  datadog_checks_dev/tests/conftest.py
  datadog_checks_dev/tests/test_conditions.py
  datadog_checks_dev/tests/test_docker.py
  datadog_checks_dev/tests/test_utils.py
  sqlserver/tests/common.py
  sqlserver/tests/compose/docker-compose.yaml
  sqlserver/tests/conftest.py
  sqlserver/tests/test_sqlserver.py
  sqlserver/tests/utils.py
Labels: changelog/no-changelog, dev/testing, do-not-merge/HOLD

#4533 Make CI setup scripts executable
  .azure-pipelines/scripts/aerospike/linux/55_build_client.sh
  .azure-pipelines/scripts/cacti/linux/55_install_rrdtool.sh
  .azure-pipelines/scripts/datadog_checks_base/linux/55_install_kerberos.sh
  .azure-pipelines/scripts/elastic/linux/55_increase_docker_memory.sh
  .azure-pipelines/scripts/ibm_mq/linux/55_install_client.sh
  .azure-pipelines/scripts/sqlserver/linux/55_install_odbc.sh
  .azure-pipelines/scripts/tokumx/linux/55_disable_hugepages.sh
Labels: dev/testing

#4534 test
  .azure-pipelines/All.yml
Labels: changelog/no-changelog, do-not-merge/WIP

#4535 Fix benchmarks
  cockroachdb/datadog_checks/cockroachdb/cockroachdb.py
  cockroachdb/tests/test_bench.py
  cockroachdb/tests/test_cockroachdb.py
  envoy/tests/conftest.py
  envoy/tests/test_bench.py
  envoy/tests/test_envoy.py
  vault/tests/test_bench.py
Labels: changelog/no-changelog

#4536 Update tooling for Azure Pipelines
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/run.py
  datadog_checks_dev/datadog_checks/dev/utils.py
  datadog_checks_dev/tests/test_utils.py
  datadog_checks_dev/tests/tooling/commands/test_create.py
  datadog_checks_dev/tox.ini
Labels: changelog/Added, integration/datadog_checks_dev

#4070 Add Druid integration
  druid/CHANGELOG.md
  druid/MANIFEST.in
  druid/README.md
  druid/assets/logos/avatars-bot.png
  druid/assets/logos/saas_logos-bot.png
  druid/assets/logos/saas_logos-small.png
  druid/assets/service_checks.json
  druid/datadog_checks/__init__.py
  druid/datadog_checks/druid/__about__.py
  druid/datadog_checks/druid/__init__.py
  druid/datadog_checks/druid/data/conf.yaml.example
  druid/datadog_checks/druid/druid.py
  druid/manifest.json
  druid/metadata.csv
  druid/requirements-dev.txt
  druid/requirements.in
  druid/setup.py
  druid/tests/__init__.py
  druid/tests/common.py
  druid/tests/compose/docker-compose.yaml
  druid/tests/conftest.py
  druid/tests/test_integration_e2e.py
  druid/tests/test_unit.py
  druid/tox.ini
Labels: changelog/Added, documentation, integration/druid

#4539 Add e2e tests
  datadog_checks_dev/datadog_checks/dev/env.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  postfix/tests/common.py
  postfix/tests/conftest.py
  postfix/tests/test_e2e.py
  postfix/tests/test_integration.py
  postfix/tests/test_postfix.py
  postfix/tox.ini
Labels: changelog/no-changelog, integration/postfix

#4545 Remove Travis & AppVeyor
  .travis.yml
  .travis/install_ibm_mq.sh
  .travis/install_odbc.sh
  .travis/install_rrdtool.sh
  .travis/prepare.sh
  appveyor.yml
Labels: dev/testing

#4540 Improve IBM MQ docs and logging
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/tests/README.md
Labels: changelog/Fixed, integration/ibm_mq

#4463 Update embedded docs
  ibm_db2/README.md
  snmp/README.md
Labels: changelog/no-changelog, integration/ibm_db2, integration/snmp

#4537 Add log documentation for the couchdb integration
  couchbase/README.md
  couchbase/datadog_checks/couchbase/data/conf.yaml.example
  couchbase/manifest.json
Labels: changelog/no-changelog, documentation, integration/couch, logs

#4562 Update Druid display name
  druid/manifest.json
Labels: changelog/no-changelog, integration/druid

#4563 Upgrade pywin32 to 225
  active_directory/requirements.in
  aspdotnet/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  dotnetclr/requirements.in
  exchange_server/requirements.in
  iis/requirements.in
  pdh_check/requirements.in
  sqlserver/requirements.in
  win32_event_log/requirements.in
  windows_service/requirements.in
  wmi_check/requirements.in
Labels: changelog/Added, integration/active_directory, integration/aspdotnet, integration/datadog_checks_base, integration/dotnetclr, integration/exchange_server, integration/iis, integration/pdh_check, integration/sqlserver, integration/win32_event_log, integration/windows_service, integration/wmi_check

#4566 Rename AZP pipeline files
  .azure-pipelines/all.yml
  .azure-pipelines/changes.yml
Labels: dev/testing

#4538 Make Vertica public
  vertica/manifest.json
Labels: changelog/no-changelog, integration/vertica

#4544 [RabbitMQ] Ignore empty data for metrics limit
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  rabbitmq/tests/common.py
  rabbitmq/tests/conftest.py
  rabbitmq/tests/test_unit.py
Labels: changelog/Changed, integration/rabbitmq

#4573 Release ibm_mq 3.2.1
  .links/LATEST
  .links/tag.fbc63ae0.link
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_mq

#4370 Add dd_environment and e2e
  datadog_checks_dev/datadog_checks/dev/_env.py
  linkerd/tests/__init__.py
  linkerd/tests/common.py
  linkerd/tests/conftest.py
  linkerd/tests/terraform/kubeconfig-template.yaml
  linkerd/tests/terraform/linkerd-init.sh
  linkerd/tests/terraform/main.tf
  linkerd/tests/test_linkerd.py
  linkerd/tox.ini
Labels: changelog/no-changelog, integration/linkerd

#4530 Use bulk call when possible
  snmp/assets/service_checks.json
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/common.py
  snmp/tests/test_bench.py
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
Labels: changelog/Added, integration/snmp

#4577 Handle bytes in network_address
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_check.py
Labels: changelog/Fixed, integration/snmp

#4586 [Release] Bumped datadog_checks_dev version to 0.33.0
  .links/LATEST
  .links/tag.31091c85.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#4479 Add requestwrapper tests
  marathon/datadog_checks/marathon/marathon.py
  marathon/tests/test_unit.py
Labels: changelog/no-changelog, dev/testing, integration/marathon

#4574 Add Druid dashboard
  druid/README.md
  druid/assets/dashboards/overview.json
  druid/assets/images/druid_dashboard_overview.png
  druid/manifest.json
Labels: changelog/no-changelog, integration/druid

#4564 Add warning to create command if name is lowercase
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#4579 Add istio dashboard
  istio/assets/dashboards/istio_overview.json
  istio/manifest.json
Labels: changelog/no-changelog, integration/istio

#4597 Stop azure mysql server before Cacti e2e
  .azure-pipelines/scripts/cacti/linux/60_stop_mysql.sh
  cacti/tests/common.py
  cacti/tests/compose/alldb_backup.sql
  cacti/tests/conftest.py
Labels: changelog/no-changelog, integration/cacti

#4600 Fix envoy requirements-dev.txt
  envoy/requirements-dev.txt
Labels: changelog/no-changelog, integration/envoy

#4560 Add a deprecated warning message to NetworkCheck
  datadog_checks_base/datadog_checks/base/checks/network.py
Labels: changelog/Added, integration/datadog_checks_base

#4578 Add option to override KRB5CCNAME env var
  activemq_xml/datadog_checks/activemq_xml/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  couch/datadog_checks/couch/data/conf.yaml.example
  couchbase/datadog_checks/couchbase/data/conf.yaml.example
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/test_http.py
  druid/datadog_checks/druid/data/conf.yaml.example
  ecs_fargate/datadog_checks/ecs_fargate/data/conf.yaml.example
  elastic/datadog_checks/elastic/data/conf.yaml.example
  envoy/datadog_checks/envoy/data/conf.yaml.example
  etcd/datadog_checks/etcd/data/conf.yaml.example
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  go_expvar/datadog_checks/go_expvar/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_namenode/datadog_checks/hdfs_namenode/data/conf.yaml.example
  http_check/datadog_checks/http_check/data/conf.yaml.example
  kyototycoon/datadog_checks/kyototycoon/data/conf.yaml.example
  lighttpd/datadog_checks/lighttpd/data/conf.yaml.example
  mapreduce/datadog_checks/mapreduce/data/conf.yaml.example
  marathon/datadog_checks/marathon/data/conf.yaml.example
  mesos_master/datadog_checks/mesos_master/data/conf.yaml.example
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
  nginx/datadog_checks/nginx/data/conf.yaml.example
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
  php_fpm/datadog_checks/php_fpm/data/conf.yaml.example
  powerdns_recursor/datadog_checks/powerdns_recursor/data/conf.yaml.example
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
  spark/datadog_checks/spark/data/conf.yaml.example
  squid/datadog_checks/squid/data/conf.yaml.example
  teamcity/datadog_checks/teamcity/data/conf.yaml.example
  twistlock/datadog_checks/twistlock/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
  yarn/datadog_checks/yarn/data/conf.yaml.example
Labels: changelog/Added, integration/activemq, integration/apache, integration/consul, integration/couch, integration/couchbase, integration/datadog_checks_base, integration/druid, integration/ecs_fargate, integration/elastic, integration/envoy, integration/etcd, integration/fluentd, integration/gitlab_runner, integration/go_expvar, integration/haproxy, integration/hdfs_datanode, integration/hdfs_namenode, integration/http_check, integration/kyototycoon, integration/lighttpd, integration/mapreduce, integration/marathon, integration/mesos_master, integration/nginx, integration/openstack_controller, integration/php_fpm, integration/powerdns_recursor, integration/rabbitmq, integration/spark, integration/squid, integration/teamcity, integration/vault, integration/yarn

#4605 Don't assume nested tags exist
  ibm_was/datadog_checks/ibm_was/ibm_was.py
  ibm_was/tests/fixtures/server.xml
Labels: changelog/Fixed, integration/ibm_was

#4612 Release 1.2.3
  .links/LATEST
  .links/tag.59db2532.link
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_was

#4510 SNMP container parameters
  snmp/README.md
  snmp/manifest.json
Labels: changelog/no-changelog, documentation, integration/snmp

#4609 Fixing typo in integration desc
  mysql/manifest.json
Labels: changelog/no-changelog, documentation, integration/mysql

#4607 Publish test results in AZP
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: changelog/no-changelog, dev/testing

#4614 Reload environments if there are extra startup commands
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: changelog/Added, integration/datadog_checks_dev

#4546 Scrape apiserver_request_total metric introduced in v1.15
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/metadata.csv
  kube_apiserver_metrics/tests/fixtures/metrics_1.15.0.txt
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_15.py
Labels: changelog/Added, containers, integration/kube_apiserver_metrics

#4580 Remove legacy network check tcp
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  tcp_check/tests/conftest.py
  tcp_check/tests/test_tcp_check.py
Labels: changelog/no-changelog, integration/tcp_check

#4619 Improve RetryError message
  datadog_checks_dev/datadog_checks/dev/conditions.py
Labels: changelog/Added, dev/testing, integration/datadog_checks_dev

#4615 Fix flaky Cacti e2e
  cacti/tests/common.py
  cacti/tests/conftest.py
Labels: changelog/no-changelog, integration/cacti

#4606 Add retry option to ddev
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/utils.py
  datadog_checks_dev/tests/tooling/commands/test_utils.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_dev

#4499 MongoDB container instructions
  mongo/README.md
  mongo/manifest.json
Labels: changelog/no-changelog, documentation, integration/mongo

#4498 Memcached container instructions
  mcache/README.md
  mcache/manifest.json
Labels: changelog/no-changelog, documentation, integration/mcache

#4497 Marathon container instructions
  marathon/README.md
  marathon/manifest.json
Labels: changelog/no-changelog, documentation, integration/marathon

#4622 [Release] Bumped datadog_checks_dev version to 0.34.0
  .links/LATEST
  .links/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#4626 Update druid version
  druid/tests/compose/docker-compose.yaml
Labels: changelog/no-changelog, integration/druid

#4581 Remove NetworkCheck usage
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/test_integration.py
Labels: changelog/no-changelog, integration/http_check

#4422 Update README with standardized config options
  apache/README.md
  couch/README.md
  couchbase/README.md
  envoy/README.md
  http_check/README.md
  marathon/README.md
  php_fpm/README.md
  rabbitmq/README.md
  teamcity/README.md
Labels: changelog/no-changelog, integration/apache, integration/couch, integration/couchbase, integration/envoy, integration/http_check, integration/marathon, integration/php_fpm, integration/rabbitmq, integration/teamcity

#4559 [Ambari] Fixing doc
  ambari/README.md
Labels: changelog/no-changelog, documentation, integration/ambari

#4521 Add duplication assertion methods to aggregator stub
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/tests/stubs/test_aggregator_no_duplicate.py
  datadog_checks_base/tests/stubs/test_aggregator_similar.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_base

#4627 Fix druid image link
  druid/README.md
Labels: changelog/no-changelog, integration/druid

#4638 Enable all builds on master
  .azure-pipelines/all.yml
Labels: changelog/no-changelog, dev/testing

#4637 Add a way to submit non-namespaced metrics and service checks
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/test_agent_check.py
Labels: changelog/Added, integration/datadog_checks_base

#4633 [kubernetes_state] fix example yaml file
  kubernetes_state/datadog_checks/kubernetes_state/data/auto_conf.yaml
  kubernetes_state/datadog_checks/kubernetes_state/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/kubernetes_state

#4630 Adding Autodiscovery instructions to MySQL
  marathon/README.md
  mongo/README.md
  mysql/README.md
Labels: changelog/no-changelog, documentation, integration/mysql

#4639 add comment about TimescaleDB
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/postgres

#4640 [Couchbase] Fixing code block design
  couchbase/README.md
Labels: changelog/no-changelog, documentation, integration/couchbase

#4635 Support submitting memory profiling metrics during E2E
  .azure-pipelines/templates/run-tests.yml
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/datadog_checks/base/utils/agent/utils.py
  datadog_checks_base/tests/test_utils_agent_utils.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/stop.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/agent.py
Labels: changelog/Added, integration/datadog_checks_base, integration/datadog_checks_dev

#4648 [Vertica] adds code samples for vertica
  vertica/README.md
Labels: documentation

#4641 Don't display warning for default keys value
  redisdb/datadog_checks/redisdb/redisdb.py
Labels: changelog/Fixed, integration/redisdb

#4582 Remove NetworkCheck usage
  dns_check/datadog_checks/dns_check/dns_check.py
  dns_check/tests/conftest.py
  dns_check/tests/test_dns_check.py
Labels: changelog/no-changelog, integration/dns_check

#4649 Add more Vertica metrics
  vertica/datadog_checks/vertica/utils.py
  vertica/datadog_checks/vertica/vertica.py
  vertica/datadog_checks/vertica/views.py
  vertica/metadata.csv
  vertica/tests/metrics.py
Labels: changelog/Added, integration/vertica

#4657 Auto detect changes and run tests when yaml files change
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#4431 Fixing docker image conf
  mesos_slave/README.md
Labels: changelog/no-changelog, documentation, integration/mesos_slave

#4650 Document PDH recommendation
  wmi_check/README.md
Labels: changelog/no-changelog, documentation, integration/wmi_check

#4660 Non-ASCII characters
  mongo/README.md
  mysql/README.md
Labels: changelog/no-changelog, documentation, integration/mongo, integration/mysql
