Repository DataDog/integrations-core, pull requests merged in 2019-08, with the labels that each got.

#4275 Pin pyasn1-modules
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Labels: changelog/Added, integration/datadog_checks_base

#4254 Remove remaining flake8 configs from tox
  activemq_xml/tox.ini
  apache/tox.ini
  btrfs/tox.ini
  envoy/tox.ini
Labels: changelog/no-changelog, integration/activemq_xml, integration/apache, integration/btrfs, integration/envoy

#4233 Add e2e test
  cassandra_nodetool/tests/compose/docker-compose.yaml
  cassandra_nodetool/tests/conftest.py
  cassandra_nodetool/tests/test_e2e.py
  cassandra_nodetool/tox.ini
Labels: changelog/no-changelog, integration/cassandra_nodetool

#4231 Add e2e zookeeper test
  zk/tests/common.py
  zk/tests/conftest.py
  zk/tests/test_e2e.py
  zk/tests/test_zk.py
  zk/tox.ini
Labels: changelog/no-changelog, integration/zk

#4236 Add integration and e2e tests to vault
  vault/tests/conftest.py
  vault/tests/test_integration.py
  vault/tox.ini
Labels: changelog/no-changelog, integration/vault

#4232 Add yarn e2e
  yarn/tests/test_integration.py
  yarn/tox.ini
Labels: changelog/no-changelog, integration/yarn

#4230 Add e2e test
  mongo/tests/test_e2e.py
  mongo/tests/test_mongo.py
  mongo/tests/test_unit.py
  mongo/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/mongo

#4247 Add e2e test
  varnish/tests/conftest.py
  varnish/tests/test_e2e.py
  varnish/tests/test_varnish.py
  varnish/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/varnish

#4249 Add e2e test
  ceph/datadog_checks/ceph/ceph.py
  ceph/tests/common.py
  ceph/tests/conftest.py
  ceph/tests/test_e2e.py
  ceph/tox.ini
Labels: changelog/Added, dev/testing, integration/ceph

#4264 Add request wrappers to php_fpm
  php_fpm/datadog_checks/php_fpm/data/conf.yaml.example
  php_fpm/datadog_checks/php_fpm/php_fpm.py
  php_fpm/tests/conftest.py
  php_fpm/tests/test_unit.py
Labels: changelog/Added, integration/php_fpm

#4261 Add requests wrapper to powerdns_recursor
  powerdns_recursor/datadog_checks/powerdns_recursor/data/conf.yaml.example
  powerdns_recursor/datadog_checks/powerdns_recursor/powerdns_recursor.py
  powerdns_recursor/tests/conftest.py
Labels: changelog/Added, integration/powerdns_recursor

#4039 Deployment environment with Terraform
  datadog_checks_dev/datadog_checks/dev/_env.py
  datadog_checks_dev/datadog_checks/dev/conditions.py
  datadog_checks_dev/datadog_checks/dev/env.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
  datadog_checks_dev/datadog_checks/dev/ssh_tunnel.py
  datadog_checks_dev/datadog_checks/dev/terraform.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/format.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/run.py
  datadog_checks_dev/setup.py
  openstack_controller/requirements-dev.txt
  openstack_controller/tests/common.py
  openstack_controller/tests/conftest.py
  openstack_controller/tests/terraform/main.tf
  openstack_controller/tests/terraform/script.sh
  openstack_controller/tests/test_e2e.py
  openstack_controller/tests/test_metrics.py
  openstack_controller/tox.ini
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev, integration/openstack_controller

#4266 Fix typo in send_histograms_buckets
  coredns/datadog_checks/coredns/data/auto_conf.yaml
  coredns/datadog_checks/coredns/data/conf.yaml.example
  prometheus/datadog_checks/prometheus/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/coredns, integration/prometheus

#4252 Fix indentation in config
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: changelog/no-changelog, integration/mysql

#3362 Add support for proxy options
  apache/datadog_checks/apache/apache.py
  apache/datadog_checks/apache/data/conf.yaml.example
Labels: changelog/Added, integration/apache

#4257 Add requests wrapper to RabbitMQ
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  rabbitmq/tests/conftest.py
  rabbitmq/tests/test_unit.py
  rabbitmq/tox.ini
Labels: changelog/Added, integration/rabbitmq

#4259 Add requests wrapper to vault
  vault/datadog_checks/vault/data/conf.yaml.example
  vault/datadog_checks/vault/vault.py
  vault/tests/conftest.py
  vault/tests/test_vault.py
Labels: changelog/Added, integration/vault

#4255 Add mysql e2e
  mysql/tests/common.py
  mysql/tests/test_mysql.py
  mysql/tox.ini
Labels: changelog/no-changelog, integration/mysql

#4250 Add mem_limit to RabbitMQ Checks
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  rabbitmq/metadata.csv
  rabbitmq/tests/metrics.py
Labels: changelog/Added, integration/rabbitmq

#4282 [Release] Bump network, twistlock and ibm_was versions
  .links/tag.31091c85.link
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  network/CHANGELOG.md
  network/datadog_checks/network/__about__.py
  requirements-agent-release.txt
  twistlock/CHANGELOG.md
  twistlock/datadog_checks/twistlock/__about__.py
Labels: changelog/no-changelog, integration/ibm_was, integration/network, integration/twistlock

#4277 Fix http invert without explicit default
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/Fixed, integration/datadog_checks_base

#4287 Fix broken links
  pgbouncer/README.md
  prometheus/README.md
Labels: changelog/no-changelog, documentation

#4269 Remove rarely used zookeeper-specific min collection interval
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
  kafka_consumer/tests/test_kafka_consumer_zk.py
Labels: changelog/Changed, integration/kafka_consumer

#4273 Remove zk_timeout from constants
  kafka_consumer/datadog_checks/kafka_consumer/constants.py
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/no-changelog, integration/kafka_consumer

#4270 Stop documenting `min_collection_interval` at `init_config` level
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
Labels: changelog/no-changelog, integration/kafka_consumer

#4271 Cleanup pointless retries that query the wrong brokers / duplicate kafka-python functionality
  kafka_consumer/datadog_checks/kafka_consumer/constants.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/Added, integration/kafka_consumer

#4248 Add e2e test to twemproxy
  twemproxy/tests/conftest.py
  twemproxy/tests/metrics.py
  twemproxy/tests/test_twemproxy.py
  twemproxy/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/twemproxy

#4147 Add terraform environment
  datadog_checks_dev/datadog_checks/dev/ssh_tunnel.py
  oracle/tests/conftest.py
  oracle/tests/terraform/cfgrsp.properties
  oracle/tests/terraform/db.rsp
  oracle/tests/terraform/grant.sql
  oracle/tests/terraform/main.tf
  oracle/tests/terraform/script.sh
  oracle/tests/test_e2e.py
  oracle/tox.ini
Labels: changelog/Added, dev/testing, integration/datadog_checks_dev, integration/oracle

#4290 Add e2e test
  envoy/tests/docker/default/Dockerfile-frontenvoy
  envoy/tests/docker/default/docker-compose.yaml
  envoy/tests/test_e2e.py
  envoy/tests/test_envoy.py
  envoy/tests/test_parser.py
  envoy/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/envoy

#4292 Add e2e test
  riakcs/tests/test_e2e.py
  riakcs/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/riakcs

#4278 Add supervisord e2e
  supervisord/tests/test_e2e.py
  supervisord/tox.ini
Labels: changelog/no-changelog, integration/supervisord

#4289 Upgrade pyasn1
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  snmp/requirements.in
  ssh_check/requirements.in
Labels: changelog/Added, integration/snmp, integration/ssh_check

#4214 Julia/docker lib
  cassandra_nodetool/tests/conftest.py
  ceph/tests/conftest.py
  couchbase/tests/conftest.py
  datadog_checks_dev/datadog_checks/dev/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  datadog_checks_dev/setup.py
  riakcs/tests/common.py
Labels: changelog/Added, dev/tooling, integration/ceph, integration/couchbase, integration/datadog_checks_dev, integration/riakcs

#4297 Make systemd public
  systemd/manifest.json
Labels: changelog/no-changelog, integration/systemd

#4053 Add support for /state and /roles endpoints
  mesos_master/datadog_checks/mesos_master/mesos_master.py
Labels: changelog/Added, integration/mesos_master

#4054 Add support for /state endpoint
  mesos_slave/datadog_checks/mesos_slave/mesos_slave.py
Labels: changelog/Added, integration/mesos_slave

#4243 Update __init__ method params
  fluentd/datadog_checks/fluentd/fluentd.py
  fluentd/tests/conftest.py
  go_expvar/datadog_checks/go_expvar/go_expvar.py
  go_expvar/tests/conftest.py
  harbor/datadog_checks/harbor/harbor.py
  lighttpd/datadog_checks/lighttpd/lighttpd.py
  teamcity/datadog_checks/teamcity/teamcity.py
  teamcity/tests/test_teamcity.py
Labels: changelog/Fixed, integration/fluentd, integration/go_expvar, integration/harbor, integration/lighttpd, integration/teamcity

#4274 Use kafka client consistently
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
  kafka_consumer/tests/test_kafka_consumer.py
  kafka_consumer/tests/test_kafka_consumer_zk.py
Labels: changelog/no-changelog, integration/kafka_consumer

#4296 Add TLS default dashboard
  tls/assets/dashboards/overview.json
  tls/manifest.json
Labels: changelog/no-changelog, integration/tls

#4300 Doc and code flow cleanups
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/no-changelog, integration/kafka_consumer

#4294 Add e2e test
  openldap/tests/common.py
  openldap/tests/test_check.py
  openldap/tests/test_e2e.py
  openldap/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/openldap

#4253 Change assert all metrics covered - ci run all
  cockroachdb/tests/test_cockroachdb.py
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_tests_helper/scripts/wait-for-it.sh
  etcd/tests/test_etcd.py
  mysql/tests/test_mysql.py
  rabbitmq/tests/metrics.py
  rabbitmq/tests/test_rabbitmq.py
Labels: changelog/no-changelog, dev/testing, dev/tooling, integration/cockroachdb, integration/etcd, integration/mysql, integration/rabbitmq

#4299 Add e2e tests
  squid/tests/test_e2e.py
  squid/tests/test_squid.py
  squid/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/squid

#4268 Add requests wrapper to Nginx
  nginx/datadog_checks/nginx/data/conf.yaml.example
  nginx/datadog_checks/nginx/nginx.py
  nginx/tests/conftest.py
  nginx/tests/test_nginx.py
  nginx/tests/test_unit.py
  nginx/tests/test_vts.py
  nginx/tests/utils.py
Labels: changelog/Added, integration/nginx

#4219 Add requests wrapper to haproxy
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/haproxy.py
  haproxy/tests/conftest.py
  haproxy/tests/test_haproxy.py
  haproxy/tests/test_unit.py
Labels: changelog/Added, integration/haproxy

#4285 Add e2e test
  tokumx/tests/conftest.py
  tokumx/tests/metrics.py
  tokumx/tests/test_check.py
  tokumx/tox.ini
Labels: dev/testing, integration/tokumx

#4302 NGINX metric types
  nginx/metadata.csv
Labels: changelog/no-changelog, documentation, integration/nginx

#3754 [cacti] Add e2e environment
  .travis.yml
  .travis/install_rrdtool.sh
  cacti/datadog_checks/cacti/__init__.py
  cacti/datadog_checks/cacti/cacti.py
  cacti/datadog_checks/cacti/data/conf.yaml.example
  cacti/requirements-dev.txt
  cacti/tests/README.md
  cacti/tests/common.py
  cacti/tests/compose/Dockerfile
  cacti/tests/compose/alldb_backup.sql
  cacti/tests/compose/docker-compose.yaml
  cacti/tests/compose/rra.tar.gz
  cacti/tests/conftest.py
  cacti/tests/test_cacti.py
  cacti/tests/test_e2e.py
  cacti/tests/whitelist.txt
  cacti/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/cacti

#3800 [nagios] Add e2e environment
  nagios/datadog_checks/nagios/__init__.py
  nagios/datadog_checks/nagios/nagios.py
  nagios/tests/common.py
  nagios/tests/compose/Dockerfile
  nagios/tests/compose/docker-compose.yaml
  nagios/tests/compose/nagios4/nagios.cfg
  nagios/tests/conftest.py
  nagios/tests/test_e2e.py
  nagios/tests/test_nagios.py
  nagios/tests/test_unit.py
  nagios/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/nagios

#4276 [Prometheus] Link fix + note for bucket metrics
  prometheus/README.md
Labels: changelog/no-changelog, documentation, integration/prometheus

#4283 Make nameserver optional in the configuration
  dns_check/datadog_checks/dns_check/data/conf.yaml.example
Labels: changelog/Fixed, integration/dns_check

#4318 Pin pyasn1-modules for branch 6.12.x
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Labels: changelog/no-changelog, integration/datadog_checks_base

#4319 Pin pyasn1-modules for branch 6.11.x
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Labels: changelog/no-changelog, integration/datadog_checks_base

#4316 Update MySQL Readme
  mysql/README.md
Labels: changelog/no-changelog, integration/mysql

#4203 Add terraform environment
  datadog_checks_dev/datadog_checks/dev/kube_port_forward.py
  datadog_checks_dev/datadog_checks/dev/ssh_tunnel.py
  istio/tests/common.py
  istio/tests/conftest.py
  istio/tests/terraform/kubeconfig-template.yaml
  istio/tests/terraform/main.tf
  istio/tests/terraform/script.py
  istio/tests/test_check.py
  istio/tests/test_e2e.py
  istio/tox.ini
  oracle/tox.ini
Labels: changelog/Added, dev/testing, integration/datadog_checks_dev, integration/istio

#4312 [cockroachdb] Add e2e tests
  cockroachdb/tests/conftest.py
  cockroachdb/tests/test_cockroachdb.py
  cockroachdb/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/cockroachdb

#4311 Add aerospike e2e test
  aerospike/tests/test_aerospike.py
  aerospike/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/aerospike

#4313 [cacti] Use docker lib
  cacti/tests/conftest.py
  cacti/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/cacti

#4309 Add activemq_xml e2e
  activemq_xml/tests/conftest.py
  activemq_xml/tests/test_activemq_xml.py
  activemq_xml/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/activemq_xml

#4320 Add custom tags to service checks
  ambari/datadog_checks/ambari/ambari.py
  ambari/tests/test_ambari.py
Labels: changelog/Fixed, integration/ambari

#3363 Add support for proxy options
  consul/datadog_checks/consul/consul.py
  consul/datadog_checks/consul/data/conf.yaml.example
  consul/tests/test_integration.py
  consul/tests/test_unit.py
Labels: changelog/Added, integration/consul

#4330 Add log section
  harbor/README.md
  harbor/datadog_checks/harbor/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/harbor

#4327 Pass docker variables in tox
  marathon/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/marathon

#4328 Julia/couchbase e2e
  couchbase/datadog_checks/couchbase/couchbase.py
  couchbase/tests/test_couchbase.py
  couchbase/tox.ini
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/datadog_checks/base/stubs/common.py
  datadog_checks_base/datadog_checks/base/stubs/similar.py
  datadog_checks_base/tests/test_similar.py
  datadog_checks_dev/datadog_checks/dev/_env.py
Labels: changelog/no-changelog, dev/testing, integration/couchbase, integration/datadog_checks_base, integration/datadog_checks_dev

#4338 Revert "Julia/couchbase e2e"
  couchbase/datadog_checks/couchbase/couchbase.py
  couchbase/tests/test_couchbase.py
  couchbase/tox.ini
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/datadog_checks/base/stubs/common.py
  datadog_checks_base/datadog_checks/base/stubs/similar.py
  datadog_checks_base/tests/test_similar.py
  datadog_checks_dev/datadog_checks/dev/_env.py
Labels: changelog/no-changelog

#4336 Add elastic e2e
  elastic/tests/test_elastic.py
  elastic/tox.ini
Labels: changelog/no-changelog, integration/elastic

#4333 Add directory e2e tests
  directory/tests/test_e2e.py
  directory/tox.ini
Labels: changelog/no-changelog, integration/directory

#4332 Remove "reach" output from codecov
  .codecov.yml
Labels: changelog/no-changelog, dev/tooling

#4342 Remove check for user filter
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
  win32_event_log/datadog_checks/win32_event_log/win32_event_log.py
  win32_event_log/tests/test_check.py
Labels: changelog/Fixed, documentation, integration/win32_event_log

#4343 Openstack controller metric names
  openstack_controller/metadata.csv
Labels: changelog/no-changelog, documentation, integration/openstack_controller

#4352 Make harbor public
  harbor/manifest.json
Labels: changelog/no-changelog, documentation, integration/harbor

#4350 Install odbc only when needed
  .travis.yml
  .travis/install_odbc.sh
Labels: changelog/no-changelog, dev/tooling

#4088 remove ntp check
  ntp/CHANGELOG.md
  ntp/MANIFEST.in
  ntp/datadog_checks/__init__.py
  ntp/datadog_checks/ntp/__about__.py
  ntp/datadog_checks/ntp/__init__.py
  ntp/datadog_checks/ntp/data/conf.yaml.default
  ntp/datadog_checks/ntp/ntp.py
  ntp/requirements-dev.txt
  ntp/requirements.in
  ntp/setup.py
  ntp/tests/__init__.py
  ntp/tests/test_ntp.py
  ntp/tox.ini
Labels: changelog/no-changelog, integration/ntp

#4348 Add e2e for fluentd
  fluentd/tests/common.py
  fluentd/tests/test_integration.py
  fluentd/tests/test_integration_and_e2e.py
  fluentd/tox.ini
Labels: changelog/no-changelog, integration/fluentd

#4355 Add gitlab e2e
  gitlab/tests/conftest.py
  gitlab/tests/test_bench.py
  gitlab/tests/test_gitlab.py
  gitlab/tests/test_integration.py
  gitlab/tests/test_integration_e2e.py
  gitlab/tox.ini
Labels: changelog/no-changelog, integration/gitlab

#4346 Drastically reduce `ss` output
  network/datadog_checks/network/network.py
  network/tests/fixtures/net/dev
  network/tests/fixtures/ss_ipv4_tcp_short
  network/tests/fixtures/ss_ipv6_tcp_short
  network/tests/test_network.py
Labels: changelog/Fixed, integration/network

#4304 [twistlock] fix date format matching
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  twistlock/datadog_checks/twistlock/twistlock.py
  twistlock/requirements.in
Labels: changelog/no-changelog, integration/twistlock

#4364 [Release] Bumped twistlock version to 1.2.1
  .links/tag.31091c85.link
  requirements-agent-release.txt
  twistlock/CHANGELOG.md
  twistlock/datadog_checks/twistlock/__about__.py
Labels: changelog/no-changelog, integration/twistlock

#4366 [Docs] TLS order update to fix formatting
  tls/README.md
Labels: changelog/no-changelog, documentation, integration/tls

#4360 Enforce unicode output in requests.iter_lines call
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/test_kubelet.py
Labels: changelog/Fixed, containers, integration/kubelet

#4354 Add gearmand e2e
  gearmand/datadog_checks/gearmand/gearmand.py
  gearmand/tests/test_gearmand.py
  gearmand/tests/test_integration.py
  gearmand/tests/test_integration_e2e.py
  gearmand/tox.ini
Labels: changelog/Fixed, integration/gearmand

#4356 Add gitlab_runner e2e
  gitlab_runner/tests/conftest.py
  gitlab_runner/tests/test_integration.py
  gitlab_runner/tests/test_integration_e2e.py
  gitlab_runner/tox.ini
Labels: changelog/no-changelog, integration/gitlab_runner

#4359 Add harbor e2e test
  harbor/tests/test_harbor.py
  harbor/tox.ini
Labels: changelog/no-changelog, integration/harbor

#4367 Release kubelet
  .links/LATEST
  .links/tag.fbc63ae0.link
  kubelet/CHANGELOG.md
  kubelet/datadog_checks/kubelet/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kubelet

#4369 [Release] Bumped network version to 1.11.2
  .links/LATEST
  .links/tag.59db2532.link
  network/CHANGELOG.md
  network/datadog_checks/network/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/network

#4357 Add go_expvar e2e
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  go_expvar/tests/common.py
  go_expvar/tests/test_e2e.py
  go_expvar/tests/test_integration.py
  go_expvar/tox.ini
Labels: changelog/no-changelog, integration/go_expvar

#4358 Fix up doc and conf
  harbor/README.md
  harbor/datadog_checks/harbor/data/conf.yaml.example
  harbor/manifest.json
Labels: changelog/Added, documentation, integration/harbor

#4372 Revert "[Release] Bumped network version to 1.11.2"
  .links/LATEST
  .links/tag.59db2532.link
  network/CHANGELOG.md
  network/datadog_checks/network/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/network

#4376 Use tags more cleanly and consistently
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/no-changelog, integration/kafka_consumer

#4251 Add e2e tests
  prometheus/datadog_checks/__init__.py
  prometheus/tests/conftest.py
  prometheus/tests/test_prometheus.py
  prometheus/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/prometheus

#4365 Add requests wrapper to openstack_controller
  openstack_controller/datadog_checks/openstack_controller/api.py
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/tests/common.py
  openstack_controller/tests/conftest.py
  openstack_controller/tests/test_metrics.py
  openstack_controller/tests/test_openstack.py
  openstack_controller/tests/test_simple_api.py
Labels: changelog/Added, integration/openstack_controller

#4378 Kazoo client should be long lived
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/Added, integration/kafka_consumer

#4377 Remove unused var
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/no-changelog, integration/kafka_consumer

#4381 Document kafka_client_api_version
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/Added, integration/kafka_consumer

#4194 adds note about proxy password to docker-daemon docs
  docker_daemon/README.md
Labels: documentation

#4382 Better manage partitions that are in the middle of failover
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/Added, integration/kafka_consumer

#4387 Fix kafka_consumer python3 compatibility check regression
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/Fixed, integration/kafka_consumer

#4329 Support referencing metrics by profile
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
Labels: changelog/Added, integration/snmp

#4385 Add flag `monitor_all_broker_highwatermarks`, refactor
  kafka_consumer/datadog_checks/kafka_consumer/constants.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
  kafka_consumer/tests/common.py
  kafka_consumer/tests/test_kafka_consumer.py
  kafka_consumer/tests/test_kafka_consumer_zk.py
Labels: changelog/Added, integration/kafka_consumer

#4295 Add postgresql application name to connection
  postgres/datadog_checks/postgres/postgres.py
Labels: changelog/Added, integration/postgres

#4362 Add http_check e2e
  datadog_checks_dev/datadog_checks/dev/_env.py
  http_check/tests/common.py
  http_check/tests/conftest.py
  http_check/tests/test_integration.py
  http_check/tests/test_integration_e2e.py
  http_check/tests/test_unit.py
  http_check/tests/test_unit_config.py
  http_check/tests/test_unit_utils.py
  http_check/tox.ini
Labels: changelog/no-changelog, integration/datadog_checks_dev, integration/http_check

#4224 fix KSM job metrics
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/test_kubernetes_state.py
Labels: integration/kubernetes_state

#4375 Fix request wrapper timeout and add test
  fluentd/datadog_checks/fluentd/fluentd.py
  fluentd/tests/conftest.py
  fluentd/tests/test_integration.py
  fluentd/tests/test_integration_and_e2e.py
  fluentd/tests/test_unit.py
Labels: changelog/Added, integration/fluentd

#4363 Add request wrapper to http_check
  http_check/datadog_checks/http_check/config.py
  http_check/datadog_checks/http_check/data/conf.yaml.example
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/conftest.py
  http_check/tests/test_integration.py
  http_check/tests/test_unit.py
  http_check/tests/test_unit_config.py
Labels: changelog/Added, integration/http_check

#4398 Don't fail e2e on unsupported platforms
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: changelog/Added, integration/datadog_checks_dev

#4390 Add travis_retry for e2e for master branch builds
  .travis.yml
Labels: changelog/no-changelog, dev/tooling

#4400 Drop `source:kafka` from tags.
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
  kafka_consumer/tests/test_kafka_consumer.py
Labels: changelog/Changed, integration/kafka_consumer

#4386 Always publish a value for missing keys
  redisdb/datadog_checks/redisdb/redisdb.py
Labels: changelog/Fixed, integration/redisdb

#4395 Add channel_status_mapping config
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/tests/test_ibm_mq.py
Labels: changelog/Added, integration/ibm_mq

#4221 Add requests wrapper to mesos_master
  mesos_master/datadog_checks/mesos_master/data/conf.yaml.example
  mesos_master/datadog_checks/mesos_master/mesos_master.py
  mesos_master/tests/common.py
  mesos_master/tests/conftest.py
  mesos_master/tests/test_check.py
  mesos_master/tests/test_integration.py
  mesos_master/tests/utils.py
Labels: changelog/Added, integration/mesos_master

#4222 Add requests wrapper to mesos_slave
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
  mesos_slave/datadog_checks/mesos_slave/mesos_slave.py
  mesos_slave/tests/conftest.py
  mesos_slave/tests/test_check.py
  mesos_slave/tests/test_integration.py
  mesos_slave/tests/utils.py
Labels: changelog/Added, integration/mesos_slave

#4323 Add requests wrapper to etcd
  etcd/datadog_checks/etcd/data/conf.yaml.example
  etcd/datadog_checks/etcd/etcd.py
  etcd/tests/test_etcd.py
Labels: changelog/Added, integration/etcd

#4405 Remove unused dependencies
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ssh_check/requirements.in
Labels: changelog/Fixed, integration/datadog_checks_base, integration/ssh_check

#4396 Add e2e to coredns
  coredns/tests/common.py
  coredns/tests/test_check.py
  coredns/tests/test_e2e.py
  coredns/tox.ini
Labels: changelog/no-changelog, integration/coredns

#4397 Add Hyper-V e2e
  hyperv/tests/common.py
  hyperv/tests/conftest.py
  hyperv/tests/test_bench.py
  hyperv/tests/test_hyperv.py
  hyperv/tox.ini
Labels: changelog/no-changelog, integration/hyperv

#4402 Add Windows Service e2e
  windows_service/tests/common.py
  windows_service/tests/conftest.py
  windows_service/tests/test_bench.py
  windows_service/tests/test_windows_service.py
  windows_service/tox.ini
Labels: changelog/no-changelog, integration/windows_service

#4303 Add tls_verify option to the rabbitmq configuration options documented in README
  rabbitmq/README.md
Labels: changelog/no-changelog, integration/rabbitmq

#4401 Add e2e to mesos_master
  mesos_master/tests/common.py
  mesos_master/tests/test_integration.py
  mesos_master/tox.ini
Labels: changelog/no-changelog, integration/mesos_master

#4406 Add e2e to mcache
  mcache/tests/test_integration_e2e.py
  mcache/tox.ini
Labels: changelog/no-changelog, integration/mcache

#4408 Add e2e to process check
  process/tests/test_integration.py
  process/tox.ini
Labels: changelog/no-changelog, integration/process

#4322 Redis container configuration
  redisdb/README.md
Labels: changelog/no-changelog, documentation, integration/redisdb

#4411 Add ibm_db2 e2e test
  ibm_db2/tests/test_integration.py
  ibm_db2/tests/test_integration_e2e.py
  ibm_db2/tox.ini
Labels: changelog/no-changelog, integration/ibm_db2

#4353 Add VPA metrics to kubernetes_state integration
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/metadata.csv
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Added, integration/kubernetes_state

#4317 Add `min_disk_size` option
  disk/datadog_checks/disk/data/conf.yaml.default
  disk/datadog_checks/disk/disk.py
  disk/tests/test_unit.py
Labels: changelog/Added, integration/disk

#4314 Improve systemd configuration and metric names (docs)
  systemd/README.md
  systemd/assets/dashboards/overview.json
  systemd/manifest.json
  systemd/metadata.csv
Labels: changelog/no-changelog, integration/systemd

#4413 Add e2e to network
  network/tests/test_e2e.py
  network/tox.ini
Labels: changelog/no-changelog, integration/network

#4414 [Redis] move testing instructions
  redisdb/README.md
  redisdb/tests/README.md
Labels: changelog/no-changelog, documentation, integration/redisdb

#3890 Add Vertica integration
  .travis.yml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  vertica/CHANGELOG.md
  vertica/MANIFEST.in
  vertica/README.md
  vertica/assets/logos/avatars-bot.png
  vertica/assets/logos/saas_logos-bot.png
  vertica/assets/logos/saas_logos-small.png
  vertica/assets/service_checks.json
  vertica/datadog_checks/__init__.py
  vertica/datadog_checks/vertica/__about__.py
  vertica/datadog_checks/vertica/__init__.py
  vertica/datadog_checks/vertica/data/conf.yaml.example
  vertica/datadog_checks/vertica/utils.py
  vertica/datadog_checks/vertica/vertica.py
  vertica/datadog_checks/vertica/views.py
  vertica/manifest.json
  vertica/metadata.csv
  vertica/requirements-dev.txt
  vertica/requirements.in
  vertica/setup.py
  vertica/tests/__init__.py
  vertica/tests/common.py
  vertica/tests/conftest.py
  vertica/tests/docker/docker-compose.yaml
  vertica/tests/metrics.py
  vertica/tests/test_vertica.py
  vertica/tox.ini
Labels: changelog/Added, integration/vertica

#4417 Remove legacy collection method
  disk/datadog_checks/disk/disk.py
  disk/tests/fixtures/centos-df-Tk
  disk/tests/fixtures/debian-df-Tk
  disk/tests/fixtures/freebsd-df-Tk
  disk/tests/mocks.py
  disk/tests/test_unit.py
Labels: changelog/Added, integration/disk

#4321 [preview] Send histogram buckets
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/datadog_checks/base/stubs/common.py
  datadog_checks_base/datadog_checks/base/stubs/similar.py
  datadog_checks_base/tests/test_openmetrics.py
  datadog_checks_base/tests/test_similar.py
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/openmetrics

#4419 Fix bucket similarity tests
  datadog_checks_base/tests/test_similar.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#4409 Support continuous memory profiling metric submission
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/agent/memory.py
Labels: changelog/Added, integration/datadog_checks_base

#4383 Grab kube_node_info as kubernetes_state.node.count
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/metadata.csv
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Added, containers, integration/kubernetes_state

#4410 Add each checks' unique ID to logs
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/log.py
  datadog_checks_base/datadog_checks/base/stubs/log.py
Labels: changelog/Added, integration/datadog_checks_base

#4418 Add e2e tests for PHP-FPM
  php_fpm/tests/test_e2e.py
  php_fpm/tox.ini
Labels: changelog/no-changelog, integration/php_fpm

#4404 Release ibm_mq
  .links/LATEST
  .links/tag.fbc63ae0.link
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_mq

#4393 Add e2e to pdh_check
  pdh_check/tests/common.py
  pdh_check/tests/conftest.py
  pdh_check/tests/test_e2e.py
  pdh_check/tests/test_pdh_check.py
  pdh_check/tox.ini
Labels: changelog/no-changelog, integration/pdh_check

#4420 Fix log adapter on Python 2
  datadog_checks_base/datadog_checks/base/log.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#4293 Treat `kafka.producer.compression_rate` as a ratio
  kafka/metadata.csv
Labels: changelog/Fixed, integration/kafka

#4324 Add request wrapper to marathon
  marathon/datadog_checks/marathon/data/conf.yaml.example
  marathon/datadog_checks/marathon/marathon.py
  marathon/tests/conftest.py
  marathon/tests/test_marathon.py
  marathon/tests/test_unit.py
Labels: changelog/Added, integration/marathon

#4132 Update README
  README.md
Labels: changelog/no-changelog, documentation

#4131 Update Readme with status_zone nginx configuration option
  nginx/README.md
Labels: changelog/no-changelog, documentation, integration/nginx

#3729 Make table_count_limit a parameter (#3436)
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_common.py
Labels: changelog/Changed, integration/postgres

#4423 Release base
  .links/LATEST
  .links/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#4424 Release ddev
  .links/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#4428 [Release] Bumped vertica version to 1.0.0
  .links/tag.c295cf63.link
  requirements-agent-release.txt
  vertica/CHANGELOG.md
  vertica/datadog_checks/vertica/__about__.py
Labels: changelog/no-changelog, integration/vertica

#4427 Add SQL Server e2e tests
  sqlserver/tests/common.py
  sqlserver/tests/conftest.py
  sqlserver/tests/test_sqlserver.py
  sqlserver/tests/utils.py
  sqlserver/tox.ini
Labels: changelog/no-changelog, integration/sqlserver

#4440 Fix logger call during exceptions
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/Fixed, integration/kafka_consumer

#4443 Add mesos_slave disable_ssl_validation config tests
  mesos_slave/tests/test_check.py
Labels: changelog/no-changelog, integration/mesos_slave

#4446 Fix decumulating bucket on multiple contexts
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
Labels: changelog/no-changelog, integration/datadog_checks_base
