Repository DataDog/integrations-core, pull requests merged in 2019-10, with the labels that each got.

#4655 Make iowrite_bytes and ioread_bytes counts
  process/datadog_checks/process/process.py
  process/metadata.csv
  process/tests/common.py
Labels: changelog/Fixed, integration/process

#4652 Add unit test for ephemeral storage metrics and update metadata.csv
  kubelet/metadata.csv
  kubelet/tests/fixtures/pods_requests_limits.json
  kubelet/tests/test_kubelet.py
Labels: containers, integration/kubelet

#4646 system.processes.mem.real
  process/metadata.csv
Labels: changelog/no-changelog, documentation, integration/process

#4656 Etcd uses V3 preview by default
  etcd/datadog_checks/etcd/data/conf.yaml.example
  etcd/datadog_checks/etcd/etcd.py
  etcd/tests/common.py
  etcd/tests/conftest.py
  etcd/tests/test_integration.py
Labels: changelog/Changed, integration/etcd

#4654 Julia/cacti custom port
  cacti/datadog_checks/cacti/cacti.py
  cacti/datadog_checks/cacti/data/conf.yaml.example
  cacti/tests/conftest.py
  cacti/tests/test_cacti.py
Labels: changelog/Added, documentation, integration/cacti

#3957 Add support for fetching consumer offsets stored in Kafka to `monitor_unlisted_consumer_groups`
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/requirements.in
  kafka_consumer/tests/common.py
  kafka_consumer/tests/conftest.py
Labels: changelog/Added, integration/kafka_consumer

#4672 Fix tox files
  couch/tox.ini
  haproxy/tox.ini
  mysql/tox.ini
  sqlserver/tox.ini
Labels: changelog/no-changelog, integration/couch, integration/haproxy, integration/mysql, integration/sqlserver

#4554 Add external refresh metrics
  elastic/datadog_checks/elastic/metrics.py
  elastic/metadata.csv
  elastic/tests/compose/docker-compose.yaml
  elastic/tests/test_metrics.py
  elastic/tox.ini
Labels: changelog/Added, integration/elastic

#4675 Update ECS Fargate Integration documentation
  ecs_fargate/README.md
Labels: documentation, integration/ecs_fargate

#4670 Update config to match kafka-python 1.4.7
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
Labels: changelog/no-changelog, integration/kafka_consumer

#4673 Revert retry in datadog_checks_dev
  .azure-pipelines/templates/run-tests.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/utils.py
  datadog_checks_dev/tests/tooling/commands/test_utils.py
Labels: dev/testing, dev/tooling, integration/datadog_checks_dev

#4517 Fix documented default for `use_agent_proxy`
  openstack/datadog_checks/openstack/data/conf.yaml.example
Labels: changelog/Fixed, integration/openstack

#4678 Add comment about Mysql 5.5 image
  mysql/tests/conftest.py
Labels: changelog/no-changelog, integration/mysql

#4682 Release redisdb version 1.12.2
  .links/LATEST
  .links/tag.fbc63ae0.link
  redisdb/CHANGELOG.md
  redisdb/datadog_checks/redisdb/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/redisdb

#4685 Upgrade Paramiko to version 2.6.0
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ssh_check/requirements.in
Labels: changelog/Added, integration/ssh_check

#4680 Don't use a7
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/py3.py
  datadog_checks_dev/setup.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#4664 Use fetchall instead of iterating cursor
  oracle/datadog_checks/oracle/oracle.py
  oracle/tests/test_metrics.py
Labels: changelog/Fixed, integration/oracle

#4694 Add dashboard validation
  .azure-pipelines/templates/run-validations.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dashboards.py
Labels: changelog/Added, integration/datadog_checks_dev

#4698 Fix crash in HA mode
  vault/datadog_checks/vault/vault.py
  vault/tests/test_vault.py
Labels: changelog/Fixed, integration/vault

#4701 [Relase] Bumped vault version to 1.6.0
  .links/LATEST
  .links/tag.31091c85.link
  requirements-agent-release.txt
  vault/CHANGELOG.md
  vault/datadog_checks/vault/__about__.py
Labels: changelog/no-changelog, integration/vault

#4689 Fix support for no authentication
  lighttpd/datadog_checks/lighttpd/lighttpd.py
  lighttpd/tests/common.py
  lighttpd/tests/docker/auth/docker-compose.yaml
  lighttpd/tests/docker/auth/lighttpd.conf
  lighttpd/tests/docker/auth/passwd
  lighttpd/tests/docker/noauth/docker-compose.yaml
  lighttpd/tests/docker/noauth/lighttpd.conf
  lighttpd/tox.ini
Labels: changelog/Fixed, integration/lighttpd

#4702 Update teams in ddev trello tool
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: dev/tooling

#4703 [Release] Bumped datadog_checks_dev version to 0.36.0
  .links/LATEST
  .links/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#4686 Implement Python API for setting check metadata
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/common.py
  datadog_checks_base/datadog_checks/base/utils/metadata/__init__.py
  datadog_checks_base/datadog_checks/base/utils/metadata/constants.py
  datadog_checks_base/datadog_checks/base/utils/metadata/core.py
  datadog_checks_base/datadog_checks/base/utils/metadata/utils.py
  datadog_checks_base/datadog_checks/base/utils/metadata/version.py
  datadog_checks_base/tests/test_metadata.py
Labels: changelog/Added, integration/datadog_checks_base

#4704 Don't raise an error on tests for no check_id
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/test_metadata.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#4697 Re-wording list of parameters and instructions
  http_check/README.md
Labels: changelog/no-changelog, documentation, integration/http_check

#4705 Submit version metadata
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/tests/common.py
  redisdb/tests/conftest.py
  redisdb/tests/test_default.py
  redisdb/tests/utils.py
Labels: changelog/Added, integration/redisdb

#4710 Handle other Agent images in E2E
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/local.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#4718 Remove default version from env test
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#4709 Update CODEOWNERS with new Platform team
  .github/CODEOWNERS
Labels: changelog/no-changelog, dev/tooling

#4674 Add profile for F5 BIG-IP devices
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/data/profiles/f5-big-ip.yaml
  snmp/datadog_checks/snmp/snmp.py
Labels: changelog/Added, integration/snmp

#4714 Increase default Agent flush timeout
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: changelog/Added, integration/datadog_checks_dev

#4721 Fix tests running on non localhost
  couch/tests/test_unit.py
Labels: changelog/no-changelog, dev/testing, integration/couch

#4628 Add an option for custom count with units
  ibm_was/datadog_checks/ibm_was/data/conf.yaml.example
  ibm_was/datadog_checks/ibm_was/ibm_was.py
  ibm_was/tests/fixtures/server.xml
  ibm_was/tests/test_unit.py
Labels: changelog/Added, integration/ibm_was

#4720 Refactor postgres check
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/tests/common.py
  postgres/tests/test_e2e.py
  postgres/tests/test_integration.py
  postgres/tests/test_unit.py
Labels: changelog/no-changelog, integration/postgres

#4713 Add mechanism to execute setup steps before the first check run
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/test_agent_check.py
Labels: changelog/Added, integration/datadog_checks_base

#4715 Fix typo in logs (Instace -> Instance)
  mysql/datadog_checks/mysql/mysql.py
Labels: changelog/Fixed, integration/mysql

#4679 Add unknown status to etcd health check
  etcd/assets/service_checks.json
Labels: changelog/no-changelog, integration/etcd

#4671 Document distribution bucket option
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/openmetrics

#4668 verifies if `root` is dict before doing `.get`
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
Labels: changelog/Added, integration/rabbitmq, kind/bug

#4734 Fix copypasta
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: changelog/no-changelog, integration/openmetrics

#4730 Send configuration metadata by default
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/metadata/core.py
  datadog_checks_base/tests/test_agent_check.py
Labels: changelog/Added, integration/datadog_checks_base

#4731 Update self.warning to accept *args
  .flake8
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/test_agent_check.py
Labels: changelog/Added, integration/datadog_checks_base, integration/druid

#4724 Submit version metadata
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/common.py
  elastic/tests/conftest.py
  elastic/tests/test_elastic.py
  elastic/tox.ini
Labels: changelog/Added, integration/elastic

#4722 Submit version metadata
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/common.py
  mongo/tests/conftest.py
  mongo/tests/test_mongo.py
Labels: changelog/Added, integration/mongo

#4716 Fix lighttpd logging format
  lighttpd/datadog_checks/lighttpd/lighttpd.py
Labels: changelog/Fixed, integration/lighttpd

#4739 [Release] Bumped snmp version to 1.12.0
  .links/LATEST
  .links/tag.c295cf63.link
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: changelog/no-changelog, integration/snmp

#4732 Automatically fetch MIBs that we don't know about
  snmp/README.md
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/data/profiles/f5-big-ip.yaml
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
Labels: changelog/Added, integration/snmp

#4737 Fix the missing Kafka producer metrics
  kafka/datadog_checks/kafka/data/conf.yaml.example
  kafka/datadog_checks/kafka/data/metrics.yaml
Labels: changelog/Fixed, integration/kafka

#4666 Fix swapped metric descriptions
  mcache/metadata.csv
Labels: changelog/no-changelog, integration/mcache

#4634 Add xDS-related metrics
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/docker/default/Dockerfile-xds
  envoy/tests/docker/default/controlplane.go
  envoy/tests/docker/default/docker-compose.yaml
  envoy/tests/docker/default/front-envoy.yaml
  envoy/tests/docker/default/service-envoy.yaml
  envoy/tests/fixtures/multiple_services
  envoy/tests/test_e2e.py
  envoy/tests/test_envoy.py
Labels: changelog/Added, integration/envoy

#4623 Add kerberos auth tests
  datadog_checks_base/tests/compose/kerberos-kdc/Dockerfile
  datadog_checks_base/tests/compose/kerberos-kdc/init.sh
  datadog_checks_base/tests/compose/kerberos-kdc/kdc.conf
  datadog_checks_base/tests/compose/kerberos-kdc/krb5.conf
  datadog_checks_base/tests/compose/kerberos-nginx/Dockerfile
  datadog_checks_base/tests/compose/kerberos-nginx/configurekerberos.sh
  datadog_checks_base/tests/compose/kerberos-nginx/configurenginx.sh
  datadog_checks_base/tests/compose/kerberos-nginx/entrypoint.sh
  datadog_checks_base/tests/compose/kerberos-nginx/nginx.conf
  datadog_checks_base/tests/compose/kerberos-nginx/setupkeytab.sh
  datadog_checks_base/tests/compose/kerberos.yaml
  datadog_checks_base/tests/conftest.py
  datadog_checks_base/tests/fixtures/kerberos/krb5.conf
  datadog_checks_base/tests/test_http.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#4723 Add cache invalidation and better thread lock
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_integration.py
  postgres/tests/utils.py
Labels: changelog/Added, integration/postgres

#4380 MapR integration
  .azure-pipelines/all.yml
  mapr/CHANGELOG.md
  mapr/MANIFEST.in
  mapr/README.md
  mapr/assets/logos/avatars-bot.png
  mapr/assets/logos/saas_logos-bot.png
  mapr/assets/logos/saas_logos-small.png
  mapr/assets/service_checks.json
  mapr/datadog_checks/__init__.py
  mapr/datadog_checks/mapr/__about__.py
  mapr/datadog_checks/mapr/__init__.py
  mapr/datadog_checks/mapr/common.py
  mapr/datadog_checks/mapr/data/conf.yaml.example
  mapr/datadog_checks/mapr/mapr.py
  mapr/datadog_checks/mapr/utils.py
  mapr/manifest.json
  mapr/metadata.csv
  mapr/requirements-dev.txt
  mapr/requirements.in
  mapr/setup.py
  mapr/tests/README.md
  mapr/tests/__init__.py
  mapr/tests/common.py
  mapr/tests/conftest.py
  mapr/tests/fixtures/metrics.txt
  mapr/tests/test_unit.py
  mapr/tox.ini
Labels: changelog/Changed, documentation, integration/mapr

#4735 Adhere to logging call convention
  druid/datadog_checks/druid/druid.py
Labels: changelog/Added, integration/druid

#4738 Adhere to logging call convention
  ceph/datadog_checks/ceph/ceph.py
Labels: changelog/Added, integration/ceph

#4740 Better Azure Pipelines analytics
  .azure-pipelines/templates/run-tests.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: changelog/no-changelog, dev/testing

#4629 Add an option to send histograms/summary counts as monotonic counters
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: changelog/Added, integration/datadog_checks_base, integration/openmetrics

#4752 Better default conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/datadog_checks/{check_name}/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/jmx/{check_name}/datadog_checks/{check_name}/data/conf.yaml.example
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#4756 Revert "Revert "Better default conf.yaml.example (#4752)" (#4755)"
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/datadog_checks/{check_name}/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/jmx/{check_name}/datadog_checks/{check_name}/data/conf.yaml.example
Labels: changelog/no-changelog, integration/datadog_checks_dev

#4758 Improve startup checker to reduce test flakes
  varnish/tests/conftest.py
Labels: changelog/no-changelog, integration/varnish

#4712 Store discovered hosts
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_unit.py
Labels: changelog/Added, integration/snmp

#4763 Release 1.14.0
  .links/LATEST
  .links/tag.59db2532.link
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: changelog/no-changelog, integration/snmp

#4762 Update KE version
  istio/tests/terraform/main.tf
  linkerd/tests/terraform/main.tf
Labels: changelog/no-changelog, dev/testing, integration/istio, integration/linkerd

#4775 Fix ddev testable command to properly use the tag, fallback on the branch if absent.
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
Labels: changelog/no-changelog, dev/tooling

#4767 Make systemd public
  systemd/manifest.json
Labels: changelog/no-changelog, integration/systemd

#4761 Openshift: Updating installation instructions
  openshift/README.md
Labels: changelog/no-changelog, documentation, integration/openshift

#4780 Avoid sending additional gauges for openmetrics histograms if using distribution metrics
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
Labels: changelog/Fixed, integration/datadog_checks_base, integration/openmetrics

#4695 Vault environment with consul and replication in tests
  vault/tests/conftest.py
  vault/tests/docker/consul_config.json
  vault/tests/docker/docker-compose.yaml
  vault/tests/docker/vault_config.json
  vault/tests/test_integration.py
  vault/tests/test_vault.py
Labels: changelog/no-changelog, integration/vault

#4751 Nagios Autodiscovery
  nagios/README.md
Labels: changelog/no-changelog, documentation, integration/nagios

#4785 Use default port for kube apiserver metrics auto conf
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/auto_conf.yaml
Labels: changelog/Fixed, integration/kube_apiserver_metrics

#4786 [Release] Bumped kube_apiserver_metrics version to 1.1.1
  .links/tag.31091c85.link
  kube_apiserver_metrics/CHANGELOG.md
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kube_apiserver_metrics

#4782 Fix allowed host failure retry logic
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_unit.py
Labels: changelog/Fixed, integration/snmp

#4794 [Release] Bumped etcd version to 2.0.1
  .links/tag.31091c85.link
  etcd/CHANGELOG.md
  etcd/datadog_checks/etcd/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/etcd

#4800 adds missing metric in conf file
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
Labels: changelog/Fixed, integration/gitlab

#4561 Add druid logs
  druid/README.md
  druid/datadog_checks/druid/data/conf.yaml.example
Labels: changelog/Added, integration/druid

#4807 Release druid 1.1.0
  .links/LATEST
  .links/tag.fbc63ae0.link
  druid/CHANGELOG.md
  druid/datadog_checks/druid/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/druid

#4806 release gitlab
  .links/tag.4a5409a2.link
  gitlab/CHANGELOG.md
  gitlab/datadog_checks/gitlab/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/gitlab

#4811 Fix RequestsWrapper session `timeout`
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/Fixed, integration/datadog_checks_base

#4816 [Release] Bumped datadog_checks_base version to 9.4.2
  .links/tag.31091c85.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#4821 update firelense docs urls
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#4745 Allows certain expected HTTP error status_codes for the `/sys/health` endpoint
  vault/datadog_checks/vault/vault.py
  vault/tests/test_vault.py
Labels: changelog/Added, integration/vault

#4819 Ensure the correct tls_ca_cert value is used
  http_check/datadog_checks/http_check/config.py
  http_check/tests/test_unit_config.py
Labels: changelog/Fixed, integration/http_check

#4825 [Release] http check
  .links/LATEST
  .links/tag.57ce2495.link
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/http_check

#4805 Fix for rabbit 3.1 queue_totals introduced in #4668
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  rabbitmq/tests/test_unit.py
Labels: changelog/Fixed, integration/rabbitmq

#4826 Fix rabbitmq test envs
  rabbitmq/tests/conftest.py
  rabbitmq/tox.ini
Labels: changelog/no-changelog, integration/rabbitmq

#4790 Fixing broken link
  mysql/README.md
Labels: changelog/no-changelog, documentation, integration/nginx

#4835 Better docs
  mapr/README.md
Labels: changelog/no-changelog, documentation, integration/mapr

#4707 Add instruction to collect istio logs
  istio/README.md
  istio/manifest.json
Labels: changelog/no-changelog, integration/istio, logs

#4836 Fix platform specifiers
  rabbitmq/tox.ini
Labels: changelog/no-changelog, integration/rabbitmq

#4838 Fix is_leader when vault sealed
  vault/datadog_checks/vault/vault.py
  vault/tests/test_vault.py
Labels: changelog/no-changelog, integration/vault

#4845 [Release] Bumped vault version to 1.7.1
  .links/tag.31091c85.link
  requirements-agent-release.txt
  vault/CHANGELOG.md
  vault/datadog_checks/vault/__about__.py
Labels: changelog/no-changelog, integration/vault

#4834 [documentation] small clarifications to SNMP profiling
  snmp/README.md
Labels: changelog/no-changelog, documentation, integration/snmp

#4841 Improve config for http_check
  http_check/datadog_checks/http_check/config.py
  http_check/tests/test_unit_config.py
Labels: changelog/Fixed, integration/http_check

#4827 Add Druid dev doc
  druid/tests/README.md
Labels: changelog/no-changelog, integration/druid

#4766 Make integration test work on OSX
  mesos_slave/tests/compose/docker-compose.yml
  mesos_slave/tests/test_integration.py
  mesos_slave/tests/test_integration_e2e.py
Labels: changelog/no-changelog, integration/mesos_slave

#4828 Add missing integrations to CI
  .azure-pipelines/all.yml
  hive/requirements-dev.txt
  jboss_wildfly/requirements-dev.txt
Labels: changelog/no-changelog, integration/druid

#4757 Add mechanism to submit metadata from OpenMetrics checks
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
Labels: changelog/Added, integration/datadog_checks_base

#4840 Upgrade psycopg2-binary to 2.8.4
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  druid/requirements.in
  pgbouncer/requirements.in
  postgres/requirements.in
Labels: changelog/Added, integration/pgbouncer, integration/postgres

#4859 [Release] Bumped datadog_checks_base version to 9.5.0
  .links/LATEST
  .links/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base

#4791 Adding autodiscovery instructions
  nginx/README.md
Labels: changelog/no-changelog, documentation, integration/nginx

#4799 update gitlab_runner metrics
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  gitlab_runner/metadata.csv
Labels: changelog/Added, documentation, integration/gitlab_runner

#4736 Submit version metadata
  nginx/datadog_checks/nginx/nginx.py
  nginx/tests/common.py
  nginx/tests/conftest.py
  nginx/tests/test_nginx.py
Labels: changelog/Added, integration/nginx

#4831 Remove multi instance from code
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/conftest.py
  postgres/tests/test_custom_metrics.py
  postgres/tests/test_integration.py
  postgres/tests/test_relations.py
  postgres/tests/test_unit.py
Labels: changelog/Changed, integration/postgres

#4764 Squid: Adding log collection instructions
  squid/README.md
  squid/manifest.json
Labels: changelog/no-changelog, documentation, integration/squid

#4683 Julia/proc extras descriptions
  linux_proc_extras/datadog_checks/linux_proc_extras/linux_proc_extras.py
  linux_proc_extras/metadata.csv
  linux_proc_extras/tests/conftest.py
Labels: changelog/no-changelog, integration/linux_prox_extras

#4854 Fix logging format in PG
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_unit.py
Labels: changelog/no-changelog, integration/postgres

#4334 Add e2e tests
  disk/tests/common.py
  disk/tests/test_e2e.py
  disk/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/disk

#4862 Tag mapr as log collection integration
  mapr/manifest.json
Labels: changelog/no-changelog, documentation, integration/mapr

#4748 Split Azure Pipelines "All" job into "All Master" and "All PR"
  .azure-pipelines/all_master.yml
  .azure-pipelines/all_pr.yml
  .azure-pipelines/templates/test-all-checks.yml
Labels: changelog/no-changelog, dev/tooling

#4853 Allow tagging though different MIBs
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/tests/compose/data/entity.snmprec
  snmp/tests/compose/data/if.snmprec
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
Labels: changelog/Added, integration/snmp

#4865 Use not_windows_ci
  mesos_slave/tests/common.py
  mesos_slave/tests/test_integration.py
  mesos_slave/tests/test_integration_e2e.py
Labels: changelog/no-changelog, integration/mesos_slave

#4773 Do not run mesos_master integration and e2e on windows
  mesos_master/tests/common.py
  mesos_master/tests/test_integration.py
  mesos_master/tests/test_integration_e2e.py
Labels: changelog/no-changelog, integration/mesos_master

#4784 Fix no instances case for AgentCheck signature and add more tests
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/tests/test_agent_check.py
  datadog_checks_base/tests/test_openmetrics_base_check.py
Labels: changelog/Fixed, integration/datadog_checks_base

#4863 Update PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changelog/no-changelog, dev/tooling

#4793 Use specific mysql_port to add coverage for mysql_port config
  cacti/tests/common.py
  cacti/tests/compose/docker-compose.yaml
  cacti/tests/conftest.py
Labels: changelog/no-changelog, integration/cacti

#4869 Update metadata link in template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/README.md
Labels: changelog/Changed, integration/datadog_checks_dev

#4842 Julia/pg refactor cached connection
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_unit.py
Labels: changelog/no-changelog, integration/postgres

#4667 Allow passing a "project" query parameter
  twistlock/datadog_checks/twistlock/config.py
  twistlock/datadog_checks/twistlock/data/conf.yaml.example
  twistlock/datadog_checks/twistlock/twistlock.py
  twistlock/tests/test_twistlock.py
Labels: changelog/Added, integration/twistlock

#4872 More explicit Azure Pipeline job name
  .azure-pipelines/templates/run-tests.yml
Labels: changelog/no-changelog, dev/tooling

#4873 Update kafka_consumer envs
  kafka_consumer/tox.ini
Labels: changelog/no-changelog, integration/kafka_consumer

#4883 [Docs] Win 32 event log note
  win32_event_log/README.md
Labels: changelog/no-changelog, documentation, integration/win32_event_log

#4886 Fix links to metrics information
  docs/dev/new_check_howto.md
Labels: documentation

#4339 Add couchbase e2e tests
  couchbase/datadog_checks/couchbase/couchbase.py
  couchbase/tests/test_couchbase.py
  couchbase/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/couchbase

#4884 Fix build badge
  README.md
Labels: changelog/no-changelog, dev/tooling

#4879 Add junit option to `ddev env e2e` command
  .azure-pipelines/templates/run-tests.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/no-changelog, dev/tooling

#4888 Release datadog_checks_dev 0.39.0
  .links/LATEST
  .links/tag.fbc63ae0.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#4708 Add auth type to RequestsWrapper
  activemq/datadog_checks/activemq/data/conf.yaml.example
  ambari/datadog_checks/ambari/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  couchbase/datadog_checks/couchbase/data/conf.yaml.example
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/test_http.py
  druid/datadog_checks/druid/data/conf.yaml.example
  ecs_fargate/datadog_checks/ecs_fargate/data/conf.yaml.example
  elastic/datadog_checks/elastic/data/conf.yaml.example
  envoy/datadog_checks/envoy/data/conf.yaml.example
  etcd/datadog_checks/etcd/data/conf.yaml.example
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  go_expvar/datadog_checks/go_expvar/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  harbor/datadog_checks/harbor/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_namenode/datadog_checks/hdfs_namenode/data/conf.yaml.example
  http_check/datadog_checks/http_check/data/conf.yaml.example
  ibm_was/datadog_checks/ibm_was/data/conf.yaml.example
  kyototycoon/datadog_checks/kyototycoon/data/conf.yaml.example
  lighttpd/datadog_checks/lighttpd/data/conf.yaml.example
  lighttpd/datadog_checks/lighttpd/lighttpd.py
  mapreduce/datadog_checks/mapreduce/data/conf.yaml.example
  marathon/datadog_checks/marathon/data/conf.yaml.example
Labels: changelog/Added, integration/activemq, integration/ambari, integration/apache, integration/consul, integration/couchbase, integration/datadog_checks_base, integration/druid, integration/ecs_fargate, integration/elastic, integration/envoy, integration/etcd, integration/fluentd, integration/gitlab, integration/go_expvar, integration/haproxy, integration/harbor, integration/hdfs_datanode, integration/hdfs_namenode, integration/http_check, integration/ibm_was, integration/kyototycoon, integration/lighttpd, integration/mapreduce, integration/marathon

#4878 Add dashboard
  mapr/assets/dashboards/mapr_overview.json
  mapr/manifest.json
Labels: changelog/no-changelog, integration/mapr

#4887 Fix examples in conf.yaml.default
  network/datadog_checks/network/data/conf.yaml.default
Labels: changelog/Fixed, integration/network

#4882 [Docs] Squid container instructions
  squid/README.md
  squid/manifest.json
Labels: changelog/no-changelog, documentation, integration/squid

#4871 [Docs] Spark containerized
  spark/README.md
  spark/manifest.json
Labels: changelog/no-changelog, documentation, integration/spark

#4810 add version info to mongo readme
  mongo/README.md
Labels: changelog/no-changelog, documentation, integration/mongo

#4771 Fix service check message
  mesos_slave/datadog_checks/mesos_slave/mesos_slave.py
Labels: changelog/Fixed, integration/mesos_slave

#4858 [Docs] OpenMetrics
  openmetrics/README.md
  prometheus/README.md
Labels: changelog/no-changelog, documentation, integration/openmetrics, integration/prometheus

#4789 Doc updates
  network/README.md
  nfsstat/README.md
Labels: changelog/no-changelog, documentation, integration/network, integration/nfsstat

#4875 Add testing for F5 profile
  datadog_checks_dev/datadog_checks/dev/structures.py
  snmp/tests/compose/docker-compose.yaml
  snmp/tests/conftest.py
  snmp/tests/test_check.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, integration/snmp

#4889 Merge CI tests results
  .azure-pipelines/templates/run-tests.yml
Labels: changelog/no-changelog, dev/tooling

#4896 Standardize logging format
  activemq_xml/datadog_checks/activemq_xml/activemq_xml.py
Labels: changelog/Added, integration/activemq_xml

#4897 Standardize logging format
  aerospike/datadog_checks/aerospike/aerospike.py
Labels: changelog/Added, integration/aerospike

#4898 Standardize logging format
  ambari/datadog_checks/ambari/ambari.py
Labels: changelog/Added, integration/ambari

#4899 Standardize logging format
  apache/datadog_checks/apache/apache.py
Labels: changelog/Added, integration/apache

#4900 Standardize logging format
  btrfs/datadog_checks/btrfs/btrfs.py
Labels: changelog/Added, integration/btrfs

#4901 Standardize logging format
  cacti/datadog_checks/cacti/cacti.py
Labels: changelog/Added, integration/cacti

#4903 Standardize logging format
  consul/datadog_checks/consul/consul.py
Labels: changelog/Added, integration/consul

#4904 Standardize logging format
  couch/datadog_checks/couch/couch.py
Labels: changelog/Added, integration/couch

#4337 Separate realtime from historical
  vsphere/datadog_checks/vsphere/common.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/mor_cache.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_mor_cache.py
Labels: changelog/Added, integration/vsphere

#4908 Set Azure fetchDepth to 10
  .azure-pipelines/templates/checkout-code.yml
Labels: changelog/no-changelog, dev/tooling

#4584 Add saved_views metadata field to integration templates
  datadog_checks_dev/datadog_checks/dev/tooling/templates/check/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/jmx/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/tile/{check_name}/manifest.json
Labels: changelog/Added, integration/datadog_checks_dev

#4895 Update requirements when updating check
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/local.py
  datadog_checks_dev/datadog_checks/dev/tooling/requirements.py
Labels: changelog/Fixed, integration/datadog_checks_dev
