Repository DataDog/integrations-core, pull requests merged in 2019-07, with the labels that each got.

#3989 Fargate doc
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#3771 Better log message for unsafe yaml loading/dumping
  datadog_checks_base/datadog_checks/base/ddyaml.py
Labels: changelog/Added, integration/datadog_checks_base

#3912 Add logs multiline managing
  ambari/README.md
  ambari/datadog_checks/ambari/data/conf.yaml.example
  ambari/manifest.json
Labels: changelog/Added, documentation, integration/ambari

#3895 Add instructions on how to install pymqi on MacOs
  ibm_mq/tests/README.md
Labels: changelog/no-changelog, documentation, integration/ibm_mq

#4016 Fixing Nginx status url
  nginx_ingress_controller/README.md
Labels: changelog/no-changelog, documentation, integration/nginx_ingress_controller

#3976 Add cluster.ssl metrics to Envoy integration
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/fixtures/multiple_services
  envoy/tests/test_envoy.py
Labels: changelog/Added, integration/envoy

#3993 More metrics for ambari dashboard
  ambari/README.md
  ambari/assets/dashboards/base_dashboard.json
  ambari/assets/images/base_dashboard.png
Labels: changelog/no-changelog, integration/ambari

#4017 Making title more explicit
  kube_apiserver_metrics/README.md
  kube_apiserver_metrics/manifest.json
Labels: changelog/no-changelog, documentation, integration/kube_apiserver_metrics

#3905 Add support for new metrics introduced in kubernetes v1.14
  kube_controller_manager/datadog_checks/kube_controller_manager/data/conf.yaml.example
  kube_controller_manager/datadog_checks/kube_controller_manager/kube_controller_manager.py
  kube_controller_manager/metadata.csv
  kube_controller_manager/tests/fixtures/metrics.txt
  kube_controller_manager/tests/test_kube_controller_manager.py
Labels: changelog/Added, containers, integration/kube_controller_manager

#3998 Revert "Revert "Add others forms of auth to RequestsWrapper""
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/requirements.in
  datadog_checks_base/setup.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#4018 Fix busy loop in WMI implementation
  datadog_checks_base/datadog_checks/base/checks/win/wmi/sampler.py
Labels: changelog/Fixed, integration/datadog_checks_base

#4019 [documentation] adding h4s to the how to build an integration docs testing section
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, documentation

#3990 Docs codeowners
  .github/CODEOWNERS
Labels: changelog/no-changelog, documentation

#4022 Revert "Revert "Revert "Add others forms of auth to RequestsWrapper"""
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/requirements.in
  datadog_checks_base/setup.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#4009 Revert "Revert "Add swap memory checks to cadvisor kubelet checks""
  kubelet/datadog_checks/kubelet/cadvisor.py
  kubelet/datadog_checks/kubelet/prometheus.py
  kubelet/metadata.csv
  kubelet/tests/fixtures/cadvisor_1.2.json
  kubelet/tests/test_kubelet.py
Labels: changelog/no-changelog, integration/kubelet

#4000 Update cryptography version
  cisco_aci/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  http_check/requirements.in
  mysql/requirements.in
  ssh_check/requirements.in
  tls/requirements.in
Labels: changelog/Added, integration/cisco_aci, integration/datadog_checks_base, integration/http_check, integration/mysql, integration/ssh_check, integration/tls

#4027 fix naming of kubernetes metrics server
  kube_metrics_server/assets/service_checks.json
  kube_metrics_server/manifest.json
  kube_metrics_server/setup.py
Labels: changelog/Fixed, integration/kube_metrics_server

#4005 Add metric_to_check
  vault/manifest.json
Labels: changelog/no-changelog, integration/vault

#3961 Add logs section
  pgbouncer/README.md
  pgbouncer/datadog_checks/pgbouncer/data/conf.yaml.example
  pgbouncer/manifest.json
Labels: changelog/Added, integration/pgbouncer

#4033 Fix documentation typo
  consul/datadog_checks/consul/data/conf.yaml.example
Labels: changelog/no-changelog, integration/consul

#4020 Adding Presto Default Dashboard
  presto/assets/dashboards/overview.json
  presto/manifest.json
Labels: changelog/no-changelog, integration/presto

#4032 Update wording on installing extras in ddev create command
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#4034 Fix flaky test
  couch/tests/test_couchv2.py
Labels: changelog/no-changelog, integration/couch

#3988 Run master branch nightly using Travis cron
  .travis.yml
Labels: changelog/no-changelog, dev/testing

#3997 Use MQCMD_INQUIRE_Q instead of queue.inquire
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/datadog_checks/ibm_mq/metrics.py
Labels: changelog/Fixed, integration/ibm_mq

#4041 Fix typo
  nginx/README.md
Labels: changelog/no-changelog, integration/nginx

#4031 Revert "Revert "Revert "Revert "Add others forms of auth to RequestsW…
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/requirements.in
  datadog_checks_base/setup.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#4021 Support SOCKS proxies
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  datadog_checks_base/setup.py
Labels: changelog/Added, integration/datadog_checks_base

#4013 Add log section
  activemq/README.md
  activemq/datadog_checks/activemq/data/conf.yaml.example
  activemq/manifest.json
Labels: changelog/Added, documentation, integration/activemq

#4026 Make docs public
  ambari/manifest.json
  kube_apiserver_metrics/manifest.json
  kube_metrics_server/manifest.json
  tls/manifest.json
Labels: changelog/no-changelog

#4030 Upgrade dependencies for Python 3.7 binary wheels
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  oracle/requirements.in
  snmp/requirements.in
  sqlserver/requirements.in
Labels: changelog/Added, integration/oracle, integration/sqlserver

#4045 [Release]
  .links/tag.c295cf63.link
  activemq/CHANGELOG.md
  activemq/datadog_checks/activemq/__about__.py
  ambari/CHANGELOG.md
  ambari/datadog_checks/ambari/__about__.py
  cisco_aci/CHANGELOG.md
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
  disk/CHANGELOG.md
  disk/datadog_checks/disk/__about__.py
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  gitlab/CHANGELOG.md
  gitlab/datadog_checks/gitlab/__about__.py
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  kube_controller_manager/CHANGELOG.md
  kube_controller_manager/datadog_checks/kube_controller_manager/__about__.py
  kubelet/CHANGELOG.md
  kubelet/datadog_checks/kubelet/__about__.py
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  nagios/CHANGELOG.md
  nagios/datadog_checks/nagios/__about__.py
  pgbouncer/CHANGELOG.md
  pgbouncer/datadog_checks/pgbouncer/__about__.py
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
  ssh_check/CHANGELOG.md
  ssh_check/datadog_checks/ssh_check/__about__.py
  tls/CHANGELOG.md
  tls/datadog_checks/tls/__about__.py
  wmi_check/CHANGELOG.md
  wmi_check/datadog_checks/wmi_check/__about__.py
Labels: changelog/no-changelog, integration/all

#4047 Fix metadata bootstrap workflow
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#4048 [Release] Bumped datadog_checks_dev version to 0.30.1
  .links/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#4044 Fix event submission call
  cisco_aci/datadog_checks/cisco_aci/aci_metrics.py
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/datadog_checks/cisco_aci/tenant.py
  cisco_aci/metadata.csv
Labels: changelog/Fixed, integration/cisco_aci

#4015 Apply readme suggestions
  ambari/README.md
Labels: changelog/no-changelog, documentation, integration/ambari

#4038 [docs] updating the heading to a more precise title
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, documentation

#4002 Add metric_to_check
  tcp_check/manifest.json
Labels: changelog/no-changelog, integration/tcp_check

#3974 Add log section
  openldap/README.md
  openldap/datadog_checks/openldap/data/conf.yaml.example
  openldap/manifest.json
Labels: changelog/Added, integration/openldap

#4049 Fix tests on Azure
  openldap/tests/conftest.py
Labels: changelog/no-changelog, integration/openldap

#4052 Fix integration test
  mesos_slave/tests/compose/docker-compose.yml
  mesos_slave/tests/test_check.py
  mesos_slave/tests/test_integration.py
  mesos_slave/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/mesos_slave

#4036 Openstack: introduce artificial metric in controller
  openstack_controller/README.md
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/manifest.json
  openstack_controller/tests/test_end_to_end.py
Labels: changelog/Added, integration/openstack_controller

#4024 Install windows agent in Appveyor
  appveyor.yml
Labels: changelog/no-changelog, dev/testing

#4055 Network docs
  network/README.md
Labels: changelog/no-changelog, documentation, integration/network

#4069 Fix integration tests
  mesos_master/tests/common.py
  mesos_master/tests/conftest.py
  mesos_master/tests/test_integration.py
  mesos_master/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/mesos_master

#4056 Use the new RequestsWrapper for connecting to services
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/hdfs_datanode.py
  hdfs_datanode/requirements.in
  hdfs_datanode/tests/conftest.py
  hdfs_datanode/tests/test_hdfs_datanode.py
  hdfs_datanode/tests/test_integration.py
Labels: changelog/Added, integration/hdfs_datanode

#4057 Use the new RequestsWrapper for connecting to services
  hdfs_namenode/datadog_checks/hdfs_namenode/data/conf.yaml.example
  hdfs_namenode/datadog_checks/hdfs_namenode/hdfs_namenode.py
  hdfs_namenode/requirements.in
  hdfs_namenode/tests/conftest.py
  hdfs_namenode/tests/test_hdfs_namenode.py
  hdfs_namenode/tests/test_integration.py
Labels: changelog/Added, integration/hdfs_namenode

#4058 Use the new RequestsWrapper for connecting to services
  spark/datadog_checks/spark/data/conf.yaml.example
  spark/datadog_checks/spark/spark.py
  spark/requirements.in
  spark/tests/test_spark.py
Labels: changelog/Added, integration/spark

#4059 Use the new RequestsWrapper for connecting to services
  yarn/datadog_checks/yarn/data/conf.yaml.example
  yarn/datadog_checks/yarn/yarn.py
  yarn/requirements.in
  yarn/tests/conftest.py
  yarn/tests/test_integration.py
  yarn/tests/test_yarn.py
Labels: changelog/Added, integration/yarn

#4072 Fix typo TSL => TLS
  ambari/datadog_checks/ambari/data/conf.yaml.example
  harbor/datadog_checks/harbor/data/conf.yaml.example
Labels: changelog/Fixed, integration/ambari

#4071 Add metric_to_check to CoreDNS manifest.json
  coredns/manifest.json
Labels: changelog/no-changelog, integration/coredns

#4035 Output similar metrics on failed aggregator stub assertions to help debugging
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/datadog_checks/base/stubs/common.py
  datadog_checks_base/datadog_checks/base/stubs/similar.py
  datadog_checks_base/tests/test_similar.py
Labels: changelog/Added, dev/testing, integration/datadog_checks_base

#3932 Add Hive dashboard
  hive/assets/dashboards/overview.json
  hive/assets/dashboards/overview.png
  hive/manifest.json
Labels: changelog/no-changelog, integration/hive

#4042 Add nginx plus dashboard
  nginx/assets/dashboards/plus_overview.json
  nginx/manifest.json
Labels: changelog/no-changelog, integration/nginx

#3960 Add log setup and configuration
  ceph/README.md
  ceph/datadog_checks/ceph/data/conf.yaml.example
  ceph/manifest.json
Labels: changelog/Added, integration/ceph

#3920 Make keystone_server_url config optional in openstack_controller
  openstack_controller/datadog_checks/openstack_controller/api.py
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/tests/common.py
  openstack_controller/tests/fixtures/openstack_config.yaml
  openstack_controller/tests/test_end_to_end.py
  openstack_controller/tests/test_openstack.py
Labels: changelog/Added, integration/openstack_controller

#4081 Add citadel endpoint to readme
  istio/README.md
Labels: changelog/no-changelog, documentation, integration/istio

#4014 Add log section
  marathon/README.md
  marathon/datadog_checks/marathon/data/conf.yaml.example
  marathon/manifest.json
Labels: changelog/Added, documentation, integration/marathon

#3991 Add dashboard
  cockroachdb/assets/dashboards/overview.json
  cockroachdb/manifest.json
Labels: changelog/no-changelog, integration/cockroachdb

#4075 Support multiple Python versions for E2E
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/agent.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/local.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/Added, integration/datadog_checks_dev

#4050 Update Nginx read me to reflect recommended Nginx format
  nginx/README.md
Labels: documentation, logs

#4086 Add ways to control the colorization of output
  datadog_checks_dev/datadog_checks/dev/tooling/cli.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/console.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/Added, integration/datadog_checks_dev

#4073 Fix label encoding
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
Labels: changelog/Fixed, integration/datadog_checks_base

#4080 Set to public
  hive/README.md
  hive/manifest.json
Labels: changelog/no-changelog, documentation, integration/hive

#4083 Add metrics to metadata
  agent_metrics/README.md
  agent_metrics/manifest.json
  agent_metrics/metadata.csv
Labels: changelog/Changed, integration/agent_metrics

#4087 Add support for string types
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/common.py
  snmp/tests/test_check.py
  snmp/tox.ini
Labels: changelog/Added, integration/snmp

#3995 Add logs section
  riak/README.md
  riak/datadog_checks/riak/data/conf.yaml.example
  riak/manifest.json
Labels: changelog/Added, integration/riak

#4099 Fixing links for mesos slave
  mesos_slave/README.md
Labels: changelog/no-changelog, documentation, integration/mesos_slave

#3830 Add systemd integration (meta data)
  systemd/README.md
  systemd/assets/logos/avatars-bot.png
  systemd/assets/logos/saas_logos-bot.png
  systemd/assets/logos/saas_logos-small.png
  systemd/assets/service_checks.json
  systemd/manifest.json
  systemd/metadata.csv
Labels: changelog/Added, do-not-merge/WIP, integration/systemd

#4079 Retrieve floating IPs from network quotas
  openstack_controller/datadog_checks/openstack_controller/api.py
  openstack_controller/tests/common.py
  openstack_controller/tests/test_openstack_sdk_api.py
  openstack_controller/tests/test_simple_api.py
  openstack_controller/tox.ini
Labels: changelog/Added, integration/openstack_controller

#4098 [skip ci] fix the filesystem location of service_checks.json
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, documentation

#4095 Upgrade pymongo to 3.8
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  mongo/requirements.in
Labels: changelog/Added, integration/mongo

#4078 Change metric unit
  couchbase/metadata.csv
Labels: changelog/Fixed, integration/couchbase

#4093 Fix up metadata
  aspdotnet/metadata.csv
  cisco_aci/metadata.csv
  crio/metadata.csv
  ecs_fargate/metadata.csv
  jboss_wildfly/metadata.csv
  kyototycoon/metadata.csv
  nginx_ingress_controller/metadata.csv
  php_fpm/metadata.csv
  powerdns_recursor/metadata.csv
Labels: changelog/no-changelog, integration/aspdotnet, integration/cisco_aci, integration/crio, integration/ecs_fargate, integration/jboss_wildfly, integration/kyototycoon, integration/nginx_ingress_controller, integration/php_fpm, integration/powerdns_recursor

#4046 Fix tests
  disk/datadog_checks/disk/disk.py
  disk/tests/test_filter.py
  disk/tests/utils.py
Labels: changelog/no-changelog, integration/disk

#4096 Add SSL support for psycopg2, remove pg8000
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  postgres/README.md
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/requirements.in
  postgres/tests/conftest.py
  postgres/tests/test_unit.py
  postgres/tox.ini
Labels: changelog/Changed, integration/postgres

#4094 Use the new RequestsWrapper for connecting to services
  mapreduce/datadog_checks/mapreduce/data/conf.yaml.example
  mapreduce/datadog_checks/mapreduce/mapreduce.py
  mapreduce/requirements.in
  mapreduce/tests/conftest.py
  mapreduce/tests/test_integration.py
  mapreduce/tests/test_mapreduce.py
Labels: changelog/Added, integration/mapreduce

#4101 Fix item access
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#4103 Remove legacy code
  disk/datadog_checks/disk/disk.py
  disk/tests/test_unit.py
Labels: changelog/Added, integration/disk

#4104 Remove unused import
  disk/datadog_checks/disk/disk.py
Labels: changelog/no-changelog, integration/disk

#4089 Fix prometheus label encoding
  datadog_checks_base/datadog_checks/base/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/prometheus_base.py
  datadog_checks_base/tests/test_prometheus.py
Labels: changelog/Fixed, integration/datadog_checks_base

#4097 Allow SQLNCLI11 provider in SQL server
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: changelog/Added, integration/sqlserver

#4082 Create README for test instructions
  cisco_aci/tests/README.md
Labels: changelog/no-changelog, integration/cisco_aci

#4100 [elastic] Use requests wrapper
  elastic/datadog_checks/elastic/config.py
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/conftest.py
  elastic/tests/test_config.py
Labels: changelog/Added, documentation, integration/elastic

#4091 Add possibility to disable a threshold boundary
  process/datadog_checks/process/data/conf.yaml.example
  process/tests/test_process.py
Labels: changelog/no-changelog, integration/process

#4025 Telemetry check's metrics
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  kubernetes_state/datadog_checks/kubernetes_state/data/conf.yaml.example
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Added, containers, integration/kubernetes_state

#4102 [Release] Harbor initial version
  .links/LATEST
  .links/tag.31091c85.link
  harbor/CHANGELOG.md
  harbor/datadog_checks/harbor/__about__.py
Labels: changelog/no-changelog, integration/harbor

#4111 Update for 6.11.3 and 6.12.x
  AGENT_INTEGRATIONS.md
Labels: changelog/no-changelog

#4112 Add support for selecting an Agent build via environment
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: changelog/Added, integration/datadog_checks_dev

#4117 Release integrations for 6.13
  .links/LATEST
  .links/tag.fbc63ae0.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  kubernetes_state/CHANGELOG.md
  kubernetes_state/datadog_checks/kubernetes_state/__about__.py
  marathon/CHANGELOG.md
  marathon/datadog_checks/marathon/__about__.py
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
  wmi_check/CHANGELOG.md
  wmi_check/datadog_checks/wmi_check/__about__.py
Labels: changelog/no-changelog, integration/all

#4110 Update Fargate note
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#4109 [tagger] Update usage to match prefix update
  kubelet/datadog_checks/kubelet/cadvisor.py
  kubelet/datadog_checks/kubelet/common.py
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/datadog_checks/kubelet/prometheus.py
  kubelet/tests/test_kubelet.py
Labels: changelog/Changed, integration/kubelet

#4121 Comment out mixer and mesh by default from configuration
  istio/datadog_checks/istio/data/conf.yaml.example
  istio/datadog_checks/istio/istio.py
Labels: changelog/Fixed, integration/istio

#4123 Remove useless instruction
  kube_apiserver_metrics/README.md
Labels: changelog/no-changelog, documentation, integration/kube_apiserver_metrics

#4126 [Fix] Use tagger with container_id prefix in Fargate
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  ecs_fargate/tests/test_unit.py
Labels: changelog/Fixed, containers, integration/ecs_fargate

#4128 Fix typo in logs section
  ibm_db2/README.md
Labels: changelog/no-changelog, documentation, integration/ibm_db2

#4127 Make tests work on non-locahost docker
  yarn/tests/common.py
Labels: changelog/no-changelog, dev/testing, integration/yarn

#4129 Add missing HTTP options to example config
  elastic/datadog_checks/elastic/data/conf.yaml.example
Labels: changelog/Fixed, integration/elastic

#4141 Release elastic
  .links/tag.fbc63ae0.link
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/elastic

#4133 Remove unused configs and code for spark check
  spark/datadog_checks/spark/spark.py
Labels: changelog/Fixed, integration/yarn

#4125 Add telemetry metrics counter by ksm collector
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
  kube_controller_manager/datadog_checks/kube_controller_manager/kube_controller_manager.py
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/metadata.csv
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Added, containers, integration/kubernetes_state

#4113 Fix get_current_agent_version sorting in ddev
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#4142 Fix dashboard title
  nginx/assets/dashboards/plus_overview.json
Labels: changelog/no-changelog, integration/nginx

#4148 Fix openmetrics mixins telemetry metrics
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Fixed, integration/datadog_checks_base

#4149 Fix kubernetes_state avoid tags collision
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Fixed, containers, integration/kubernetes_state

#4161 Add Oracle Dashboard Here
  oracle/assets/dashboards/oracle_overview.json
  oracle/manifest.json
Labels: changelog/no-changelog, integration/oracle

#4158 Fix detection of the embedded Agent directory
  http_check/datadog_checks/http_check/utils.py
  http_check/tests/conftest.py
  http_check/tests/test_utils.py
Labels: changelog/Fixed, integration/http_check

#4159 Fix \embedded directory references
  docs/dev/new_check_howto.md
  ibm_db2/README.md
  snmp/README.md
Labels: documentation, integration/ibm_db2, integration/snmp

#4165 Formatting fixes for docs site
  active_directory/README.md
  activemq/README.md
  amazon_eks/README.md
  ambari/README.md
  apache/README.md
  cassandra/README.md
  ceph/README.md
  consul/README.md
  couch/README.md
  elastic/README.md
  envoy/README.md
  envoy/manifest.json
  gitlab/README.md
  gunicorn/README.md
  haproxy/README.md
  hive/README.md
  ibm_db2/README.md
  ibm_mq/README.md
  ibm_was/README.md
  iis/README.md
  jboss_wildfly/README.md
  kafka/README.md
  kong/README.md
  kube_scheduler/README.md
  marathon/README.md
  mesos_master/README.md
  mongo/README.md
  mysql/README.md
  nginx/README.md
  nginx_ingress_controller/README.md
  openldap/README.md
  pgbouncer/README.md
  pivotal_pks/README.md
  postfix/README.md
  postgres/README.md
  presto/README.md
  rabbitmq/README.md
  redisdb/README.md
  riak/README.md
  tomcat/README.md
  twistlock/README.md
  varnish/README.md
  zk/README.md
Labels: changelog/no-changelog, documentation

#4167 [Win32] Documentation Update
  win32_event_log/README.md
Labels: changelog/no-changelog, documentation, integration/win32_event_log

#4144 Add py2 environment to hive
  hive/tox.ini
Labels: changelog/no-changelog, integration/hive

#4182 Add e2e test for ibm_mq
  ibm_mq/tests/common.py
  ibm_mq/tests/test_ibm_mq.py
  ibm_mq/tests/test_ibm_mq_e2e.py
  ibm_mq/tox.ini
Labels: changelog/no-changelog, integration/ibm_mq

#4170 Fix metric_to_check
  squid/manifest.json
Labels: changelog/no-changelog, integration/squid

#4185 Modify codecov report
  .codecov.yml
Labels: changelog/no-changelog, dev/testing

#4146 Add env check for jmx integrations
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/local.py
Labels: changelog/Added, integration/datadog_checks_dev

#4178 Add docker_volumes option to E2E metadata
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#4177 Add e2e test
  apache/tests/test_apache.py
  apache/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/apache

#4160 Reimplement config load logic
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/common.py
  snmp/tests/conftest.py
  snmp/tests/test_bench.py
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
Labels: changelog/Added, integration/snmp

#4140 Fix ibm_mq e2e import issue
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/tests/test_ibm_mq.py
Labels: changelog/Fixed, integration/ibm_mq

#4143 Add test for sqlserver config `adoprovider`
  sqlserver/tests/test_sqlserver.py
Labels: changelog/Fixed, integration/sqlserver

#4134 Fix sqlserver metrics tests
  sqlserver/tests/common.py
  sqlserver/tests/test_sqlserver.py
Labels: changelog/Fixed, integration/sqlserver

#4174 Add kube_apiserver_metrics to CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog, integration/kube_apiserver_metrics

#4175 Fix prometheus_url conf
  kube_metrics_server/datadog_checks/kube_metrics_server/data/conf.yaml.example
Labels: changelog/Fixed, integration/kube_metrics_server

#4118 Add RequestsWrapper to couch
  couch/datadog_checks/couch/couch.py
  couch/datadog_checks/couch/data/conf.yaml.example
  couch/tests/conftest.py
  couch/tests/test_couchv2.py
Labels: changelog/Added, integration/couch

#4108 Fix queue, node and echange limit
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  rabbitmq/tests/test_unit.py
Labels: changelog/Fixed, integration/rabbitmq

#4188 Fixing configuration file
  cassandra/datadog_checks/cassandra/data/conf.yaml.example
  hive/datadog_checks/hive/data/conf.yaml.example
  presto/datadog_checks/presto/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/cassandra, integration/hive, integration/presto

#4190 Fix/harmonize widget url
  ambari/assets/dashboards/base_dashboard.json
  cockroachdb/assets/dashboards/overview.json
  hive/assets/dashboards/overview.json
  nginx/assets/dashboards/plus_overview.json
Labels: changelog/no-changelog, integration/ambari, integration/cockroachdb, integration/hive, integration/nginx

#4152 Add logos
  active_directory/assets/logos/avatars-bot.png
  active_directory/assets/logos/saas_logos-bot.png
  active_directory/assets/logos/saas_logos-small.png
  aerospike/assets/logos/avatars-bot.png
  aerospike/assets/logos/saas_logos-bot.png
  aerospike/assets/logos/saas_logos-small.png
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  dotnetclr/assets/logos/avatars-bot.png
  dotnetclr/assets/logos/saas_logos-bot.png
  dotnetclr/assets/logos/saas_logos-small.png
  twemproxy/assets/logos/avatars-bot.png
  twemproxy/assets/logos/saas_logos-bot.png
  twemproxy/assets/logos/saas_logos-small.png
Labels: changelog/no-changelog, integration/active_directory, integration/aerospike, integration/dotnetclr, integration/twemproxy

#4173 Fix Consul event timestamp
  consul/datadog_checks/consul/consul.py
Labels: changelog/Fixed, integration/consul

#4181 Add hdfs_datanode e2e test
  hdfs_datanode/tests/test_e2e.py
  hdfs_datanode/tests/test_hdfs_datanode.py
  hdfs_datanode/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/hdfs_datanode

#4189 Add e2e test
  spark/tests/common.py
  spark/tests/test_e2e.py
  spark/tests/test_spark.py
  spark/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/spark

#4176 Add e2e testing
  nginx/tests/test_e2e.py
  nginx/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/nginx

#4138 update fargate note
  ecs_fargate/README.md
Labels: documentation, integration/ecs_fargate

#4085 Update metric type for JVM Metrics
  ibm_was/datadog_checks/ibm_was/ibm_was.py
  ibm_was/metadata.csv
Labels: changelog/Added, integration/ibm_was

#3361 Update with proxy settings
  activemq_xml/datadog_checks/activemq_xml/activemq_xml.py
  activemq_xml/datadog_checks/activemq_xml/data/conf.yaml.example
  activemq_xml/tests/test_activemq_xml.py
Labels: changelog/Added, integration/activemq_xml

#4197 Update AGENT_CHANGELOG.md
  AGENT_CHANGELOG.md
Labels: changelog/no-changelog, integration/all

#4172 Add tuple timeout format to Request Remapper
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/Added, integration/datadog_checks_base

#3477 Update with proxy settings and request wrapper
  ecs_fargate/datadog_checks/ecs_fargate/data/conf.yaml.example
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
Labels: changelog/Added, integration/ecs_fargate

#4193 Fix openmetrics telemetry memory usage in mixins
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
Labels: changelog/Fixed, containers, integration/openmetrics

#4201 Add py37 to e2e-ready environments
  lighttpd/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/lighttpd

#4180 Add e2e test
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  postgres/tests/test_common.py
  postgres/tests/test_e2e.py
  postgres/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_dev, integration/postgres

#4195 Update for 6.13
  AGENT_INTEGRATIONS.md
  requirements-agent-release.txt
Labels: changelog/no-changelog, documentation

#4198 Squid docs
  squid/README.md
Labels: changelog/no-changelog, documentation, integration/squid

#4199 Add Requests Wrapper to Kyototycoon
  kyototycoon/datadog_checks/kyototycoon/data/conf.yaml.example
  kyototycoon/datadog_checks/kyototycoon/kyototycoon.py
Labels: changelog/Added, integration/kyototycoon

#4205 Allow multiple docker Agents to coexist for E2E by randomly assigning ports
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#4166 Add the ability to debug memory usage
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/agent/memory.py
  datadog_checks_base/requirements.in
Labels: changelog/Added, integration/datadog_checks_base

#3743 Add proxy settings support
  go_expvar/datadog_checks/go_expvar/data/conf.yaml.example
  go_expvar/datadog_checks/go_expvar/go_expvar.py
Labels: changelog/Added, integration/go_expvar

#4208 Add option for specifying extra headers in RequestsWrapper
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/headers.py
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/Added, integration/datadog_checks_base

#3479 Add support for proxy settings
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
  fluentd/datadog_checks/fluentd/fluentd.py
Labels: changelog/Added, integration/fluentd

#4135 Add test for socks5 proxy
  datadog_checks_base/tests/compose/socks5-proxy.yaml
  datadog_checks_base/tests/conftest.py
  datadog_checks_base/tests/test_http.py
  datadog_checks_base/tox.ini
Labels: changelog/no-changelog, integration/datadog_checks_base
