Repository DataDog/integrations-core, pull requests merged in 2020-08, with the labels that each got.

#7237 Validate dashboards are using the screen API
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dashboards.py
Labels: dev/tooling, integration/datadog_checks_dev

#7225 Add validation for link file content
  .github/workflows/release-hash-check.py
  .github/workflows/release-hash-check.yml
Labels: dev/tooling

#6950 Use config specs
  zk/assets/configuration/spec.yaml
  zk/datadog_checks/zk/data/conf.yaml.example
  zk/manifest.json
  zk/setup.py
Labels: documentation, integration/zk

#7246 Split constants out
  riak/datadog_checks/riak/keys.py
  riak/datadog_checks/riak/riak.py
Labels: changelog/no-changelog, integration/riak

#7247 Use requests wrapper and remove httplib2 dependency
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  riak/assets/configuration/spec.yaml
  riak/datadog_checks/riak/data/conf.yaml.example
  riak/datadog_checks/riak/riak.py
  riak/requirements.in
  riak/setup.py
  riak/tests/test_riak.py
Labels: changelog/Changed, dependencies, documentation, integration/datadog_checks_base, integration/riak

#7004 added data collection levels link
  vsphere/README.md
Labels: changelog/no-changelog, documentation, integration/vsphere, stale

#7253 [Release] Bumped datadog_checks_dev version to 3.17.0
  .in-toto/tag.31091c85.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#7254 Add config specs
  marathon/assets/configuration/spec.yaml
  marathon/datadog_checks/marathon/data/conf.yaml.example
  marathon/manifest.json
  marathon/setup.py
Labels: changelog/Added, documentation, integration/marathon

#7256 Add self.instance comment to check template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/{check_name}/check.py
Labels: dev/tooling, integration/datadog_checks_dev

#7231 Add OID caching
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_bench.py
  snmp/tests/test_check.py
  snmp/tests/test_profiles.py
  snmp/tests/test_unit.py
Labels: changelog/Added, integration/snmp

#7259 [Release] Bumped snmp version to 3.7.0
  .in-toto/tag.fbc63ae0.link
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: changelog/no-changelog, integration/snmp, release

#7252 Improve collection of library logs for debug flares
  vertica/datadog_checks/vertica/data/conf.yaml.example
  vertica/datadog_checks/vertica/vertica.py
  vertica/tests/common.py
  vertica/tests/test_unit.py
Labels: changelog/Added, integration/vertica

#7262 git ignore intellij project files
  .gitignore
Labels: changelog/no-changelog

#7265 Allow coverage to be optional for CI
  .azure-pipelines/templates/run-tests.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: changelog/no-changelog, dev/testing

#7264 Use DEBUG log level for Vertica when Agent log level is DEBUG or TRACE
  vertica/datadog_checks/vertica/data/conf.yaml.example
  vertica/datadog_checks/vertica/vertica.py
  vertica/tests/test_unit.py
Labels: changelog/Fixed, integration/vertica

#7258 Add config specs
  gunicorn/assets/configuration/spec.yaml
  gunicorn/datadog_checks/gunicorn/data/conf.yaml.example
  gunicorn/manifest.json
  gunicorn/setup.py
Labels: changelog/Added, documentation, integration/gunicorn

#7255 Debug logs for failing to retrieve metadata, also add ability to disa…
  gunicorn/datadog_checks/gunicorn/gunicorn.py
Labels: changelog/Fixed, integration/gunicorn

#7269 Support TOX_SKIP_ENV var in e2e tests
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#7274 Fix TOX_SKIP_ENV filtering
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: dev/tooling, integration/datadog_checks_dev

#7273 Fix ssh check on master
  ssh_check/tox.ini
Labels: changelog/no-changelog, integration/ssh_check

#7250 Test syntax on every profile run
  snmp/tests/test_profiles.py
Labels: changelog/no-changelog, integration/snmp

#7257 Remove py2 tests from azure master CI
  .azure-pipelines/all_master.yml
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: changelog/no-changelog, dev/testing

#7278 Update java path
  activemq/datadog_checks/activemq/data/conf.yaml.example
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
  hazelcast/datadog_checks/hazelcast/data/conf.yaml.example
  hive/datadog_checks/hive/data/conf.yaml.example
  hivemq/datadog_checks/hivemq/data/conf.yaml.example
  ignite/datadog_checks/ignite/data/conf.yaml.example
  jboss_wildfly/datadog_checks/jboss_wildfly/data/conf.yaml.example
  solr/datadog_checks/solr/data/conf.yaml.example
  tomcat/datadog_checks/tomcat/data/conf.yaml.example
Labels: changelog/no-changelog, integration/activemq, integration/confluent_platform, integration/datadog_checks_dev, integration/hazelcast, integration/hive, integration/hivemq, integration/ignite, integration/jboss_wildfly, integration/solr, integration/tomcat

#6977 Document the tcp_queue_length core check
  .github/CODEOWNERS
  tcp_queue_length/README.md
  tcp_queue_length/assets/service_checks.json
  tcp_queue_length/manifest.json
  tcp_queue_length/metadata.csv
Labels: changelog/no-changelog, documentation, integration/tcp_queue_length

#7260 [CI] Add nightly run with py2 tests
  .azure-pipelines/nightly_py2.yml
Labels: changelog/no-changelog, dev/testing

#7271 Add config specs
  kafka/README.md
  kafka/assets/configuration/spec.yaml
  kafka/datadog_checks/kafka/data/conf.yaml.example
  kafka/manifest.json
  kafka/setup.py
Labels: changelog/Added, documentation, integration/kafka

#7267 Update monitors directory and payload to be consistent
  kubernetes/assets/monitors/monitor_cluster_cpu.json
  kubernetes/assets/monitors/monitor_cluster_memory.json
  kubernetes/assets/monitors/monitor_containers_terminated.json
  kubernetes/assets/monitors/monitor_deployments_replicas.json
  kubernetes/assets/monitors/monitor_high_disk_usage_node.json
  kubernetes/assets/monitors/monitor_node_unavailable.json
  kubernetes/assets/monitors/monitor_pod_crashloopbackoff.json
  kubernetes/assets/monitors/monitor_pod_memory_limit.json
  kubernetes/assets/monitors/monitor_pods_failed_state.json
  kubernetes/assets/monitors/monitor_pods_restarting.json
  kubernetes/assets/monitors/monitor_statefulset_replicas.json
  kubernetes/assets/monitors/monitor_unavailable_pods.json
  kubernetes/manifest.json
  mysql/assets/monitors/mysql_replication_seconds_behind_master.json
  mysql/assets/monitors/mysql_replication_slave.json
  mysql/manifest.json
Labels: changelog/no-changelog, documentation, integration/kubernetes, integration/mysql

#7281 Add minimum length to required strings in manifest validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7279 Update monitor tag with integration
  mysql/assets/monitors/mysql_replication_seconds_behind_master.json
  mysql/assets/monitors/mysql_replication_slave.json
Labels: changelog/no-changelog, integration/mysql

#7285 Add monitor for MongoDB integration
  mongo/assets/monitors/high_connections.json
  mongo/manifest.json
Labels: changelog/no-changelog, documentation, integration/mongo

#7287 Make logs attribute optional in manifest
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: dev/tooling, integration/datadog_checks_dev

#7270 Add missing metrics to metadata.csv
  kafka/metadata.csv
  kafka/tests/common.py
  kafka/tests/test_check.py
Labels: changelog/Fixed, changelog/no-changelog, integration/kafka

#7286 Add monitor for Scylla integration
  scylla/assets/monitors/instance_down.json
  scylla/manifest.json
Labels: changelog/no-changelog, documentation, integration/scylla

#7275 Convert jmx to in-app types for replay_check_run
  activemq/tests/test_check.py
  datadog_checks_dev/datadog_checks/dev/_env.py
  ignite/metadata.csv
  ignite/tests/common.py
  ignite/tests/test_check.py
  solr/tests/test_check.py
Labels: integration/activemq, integration/datadog_checks_base, integration/datadog_checks_dev, integration/ignite, integration/solr

#7290 Fix gunicorn tests
  gunicorn/tests/conftest.py
Labels: changelog/no-changelog, integration/gunicorn

#7293 Stop sending events multiple times
  cloud_foundry_api/datadog_checks/cloud_foundry_api/cloud_foundry_api.py
  cloud_foundry_api/tests/conftest.py
  cloud_foundry_api/tests/fixtures/events_v3_p0.json
  cloud_foundry_api/tests/test_cloud_foundry_api.py
Labels: changelog/Fixed, integration/cloud_foundry_api

#7251 Add containerized docs
  sqlserver/README.md
Labels: changelog/no-changelog, documentation, integration/sqlserver

#7282 Refactor logic for getting assets
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dashboards.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/saved_views.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7295 Add integration tag to scylla monitor
  scylla/assets/monitors/instance_down.json
Labels: changelog/no-changelog, integration/scylla

#7292 Add config specs
  mesos_slave/assets/configuration/spec.yaml
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
  mesos_slave/manifest.json
Labels: changelog/Added, documentation, integration/mesos_slave

#7294 Fix flaky test
  datadog_checks_base/tests/test_db.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#7296 capitalise name of check in tutorial's spec.yaml
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, documentation

#7280 Add validation for recommended monitors
  .azure-pipelines/templates/run-validations.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/recommended_monitors.py
Labels: dev/testing, dev/tooling, integration/datadog_checks_dev

#7298 [Release] Bumped datadog_checks_dev version to 3.18.0
  .in-toto/tag.57ce2495.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#7209 Update logs config service field to optional
  active_directory/datadog_checks/active_directory/data/conf.yaml.example
  activemq/datadog_checks/activemq/data/conf.yaml.example
  airflow/datadog_checks/airflow/data/conf.yaml.example
  ambari/datadog_checks/ambari/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  ceph/datadog_checks/ceph/data/conf.yaml.example
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  couch/datadog_checks/couch/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/logs.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/assets/configuration/spec.yaml
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  druid/datadog_checks/druid/data/conf.yaml.example
  elastic/datadog_checks/elastic/data/conf.yaml.example
  envoy/datadog_checks/envoy/data/conf.yaml.example
  flink/datadog_checks/flink/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gunicorn/datadog_checks/gunicorn/data/conf.yaml.example
  hazelcast/datadog_checks/hazelcast/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_namenode/datadog_checks/hdfs_namenode/data/conf.yaml.example
  hive/datadog_checks/hive/data/conf.yaml.example
  hivemq/datadog_checks/hivemq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ignite/datadog_checks/ignite/data/conf.yaml.example
  jboss_wildfly/datadog_checks/jboss_wildfly/data/conf.yaml.example
  kafka/datadog_checks/kafka/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  marathon/datadog_checks/marathon/data/conf.yaml.example
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mysql/datadog_checks/mysql/data/conf.yaml.example
  nginx/datadog_checks/nginx/data/conf.yaml.example
  postgres/datadog_checks/postgres/data/conf.yaml.example
  redisdb/datadog_checks/redisdb/data/conf.yaml.example
  rethinkdb/datadog_checks/rethinkdb/data/conf.yaml.example
  riak/datadog_checks/riak/data/conf.yaml.example
  sidekiq/datadog_checks/sidekiq/data/conf.yaml.example
  solr/datadog_checks/solr/data/conf.yaml.example
  spark/datadog_checks/spark/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  tenable/datadog_checks/tenable/data/conf.yaml.example
  tomcat/datadog_checks/tomcat/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
  yarn/datadog_checks/yarn/data/conf.yaml.example
  zk/datadog_checks/zk/data/conf.yaml.example
Labels: changelog/no-changelog, dev/tooling, integration/active_directory, integration/activemq, integration/airflow, integration/ambari, integration/apache, integration/ceph, integration/confluent_platform, integration/consul, integration/couch, integration/datadog_checks_dev, integration/druid, integration/elastic, integration/envoy, integration/flink, integration/gitlab, integration/gunicorn, integration/hazelcast, integration/hdfs_datanode, integration/hdfs_namenode, integration/hive, integration/hivemq, integration/ibm_mq, integration/ignite, integration/jboss_wildfly, integration/kafka, integration/kong, integration/marathon, integration/mongo, integration/mysql, integration/nginx, integration/postgres, integration/redisdb, integration/rethinkdb, integration/riak, integration/sidekiq, integration/solr, integration/spark, integration/sqlserver, integration/tenable, integration/tomcat, integration/vault, integration/yarn, integration/zk

#7299 [Release] Bumped datadog_checks_dev version to 3.18.1
  .in-toto/tag.57ce2495.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#7266 mysql support other events_statement tables with sampling
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  mysql/datadog_checks/mysql/execution_plans.py
  mysql/datadog_checks/mysql/mysql.py
Labels: integration/datadog_checks_base, integration/mysql

#7300 Add tag for Scylla monitor query
  scylla/assets/monitors/instance_down.json
Labels: changelog/no-changelog, integration/scylla

#7301 Enable histogram for pytest-benchmark
  .gitignore
  datadog_checks_dev/setup.py
Labels: integration/datadog_checks_dev

#7302 Add benchmark-histogram option
  snmp/tox.ini
Labels: changelog/no-changelog, integration/snmp

#7303 Apply config feedback
  activemq_xml/datadog_checks/activemq_xml/data/conf.yaml.example
  airflow/datadog_checks/airflow/data/conf.yaml.example
  ambari/datadog_checks/ambari/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  couch/datadog_checks/couch/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  druid/datadog_checks/druid/data/conf.yaml.example
  elastic/datadog_checks/elastic/data/conf.yaml.example
  envoy/datadog_checks/envoy/data/conf.yaml.example
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_namenode/datadog_checks/hdfs_namenode/data/conf.yaml.example
  http_check/datadog_checks/http_check/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  lighttpd/datadog_checks/lighttpd/data/conf.yaml.example
  marathon/datadog_checks/marathon/data/conf.yaml.example
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
  nginx/datadog_checks/nginx/data/conf.yaml.example
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  riak/datadog_checks/riak/data/conf.yaml.example
  spark/datadog_checks/spark/data/conf.yaml.example
  twistlock/datadog_checks/twistlock/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
  yarn/datadog_checks/yarn/data/conf.yaml.example
Labels: changelog/no-changelog, dev/tooling, documentation, integration/activemq_xml, integration/airflow, integration/ambari, integration/apache, integration/consul, integration/couch, integration/datadog_checks_dev, integration/druid, integration/elastic, integration/envoy, integration/fluentd, integration/gitlab, integration/hdfs_datanode, integration/hdfs_namenode, integration/http_check, integration/istio, integration/kong, integration/kube_apiserver_metrics, integration/lighttpd, integration/marathon, integration/mesos_slave, integration/nginx, integration/nginx_ingress_controller, integration/openmetrics, integration/riak, integration/spark, integration/twistlock, integration/vault, integration/yarn

#7289 Fix mysql metric for innodb row lock time
  mysql/datadog_checks/mysql/innodb_metrics.py
Labels: changelog/Changed, integration/mysql

#7316 Send more useful metrics for wsrep flow control
  mysql/datadog_checks/mysql/const.py
  mysql/metadata.csv
Labels: changelog/Added, integration/mysql

#7319 Add config specs
  cilium/assets/configuration/spec.yaml
  cilium/datadog_checks/cilium/data/auto_conf.yaml
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cilium/manifest.json
  cilium/setup.py
Labels: changelog/Added, documentation, integration/cilium

#7297 Add space and org names as tags to events
  cloud_foundry_api/datadog_checks/cloud_foundry_api/cloud_foundry_api.py
  cloud_foundry_api/datadog_checks/cloud_foundry_api/utils.py
  cloud_foundry_api/tests/conftest.py
  cloud_foundry_api/tests/fixtures/org_v2.json
  cloud_foundry_api/tests/fixtures/org_v3.json
  cloud_foundry_api/tests/fixtures/orgs_v2_p1.json
  cloud_foundry_api/tests/fixtures/orgs_v2_p2.json
  cloud_foundry_api/tests/fixtures/orgs_v3_p1.json
  cloud_foundry_api/tests/fixtures/orgs_v3_p2.json
  cloud_foundry_api/tests/fixtures/space_v2.json
  cloud_foundry_api/tests/fixtures/space_v3.json
  cloud_foundry_api/tests/fixtures/spaces_v2_p1.json
  cloud_foundry_api/tests/fixtures/spaces_v2_p2.json
  cloud_foundry_api/tests/fixtures/spaces_v3_p1.json
  cloud_foundry_api/tests/fixtures/spaces_v3_p2.json
  cloud_foundry_api/tests/test_cloud_foundry_api.py
  cloud_foundry_api/tests/test_utils.py
Labels: changelog/Added, integration/cloud_foundry_api

#7317 Update target version for too optimistic FIXMEs
  datadog_checks_base/datadog_checks/base/checks/base.py
  disk/datadog_checks/disk/disk.py
  mongo/datadog_checks/mongo/mongo.py
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/disk, integration/mongo, integration/rabbitmq

#7310 Add show warnings option to validate metadata
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#7326 [Release] Bumped datadog_checks_dev version to 3.19.0
  .in-toto/tag.f90c0097.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#7325 Fixing the Pods Overview widgets for OOMKill and CrashLoopBackOff
  kubernetes/assets/dashboards/kubernetes_pods.json
Labels: changelog/no-changelog, integration/kubernetes

#7320 Add server_tokens enabling in nginx sample config
  nginx/README.md
Labels: changelog/no-changelog, integration/nginx

#7329 Fix release-hash-check git diff
  .github/workflows/release-hash-check.yml
Labels: changelog/no-changelog, dev/tooling

#7308 Add config specs
  cassandra/assets/configuration/spec.yaml
  cassandra/datadog_checks/cassandra/data/conf.yaml.example
  cassandra/manifest.json
  cassandra/setup.py
Labels: documentation, integration/cassandra

#7332 Fix release-hash-check git diff
  .github/workflows/release-hash-check.yml
Labels: changelog/no-changelog, dev/tooling

#7339 Clean http config whitespaces
  activemq_xml/datadog_checks/activemq_xml/data/conf.yaml.example
  airflow/datadog_checks/airflow/data/conf.yaml.example
  ambari/datadog_checks/ambari/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  couch/datadog_checks/couch/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
  druid/datadog_checks/druid/data/conf.yaml.example
  elastic/datadog_checks/elastic/data/conf.yaml.example
  envoy/datadog_checks/envoy/data/conf.yaml.example
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_namenode/datadog_checks/hdfs_namenode/data/conf.yaml.example
  http_check/datadog_checks/http_check/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  lighttpd/datadog_checks/lighttpd/data/conf.yaml.example
  marathon/datadog_checks/marathon/data/conf.yaml.example
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
  nginx/datadog_checks/nginx/data/conf.yaml.example
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  riak/datadog_checks/riak/data/conf.yaml.example
  spark/datadog_checks/spark/data/conf.yaml.example
  twistlock/datadog_checks/twistlock/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
  yarn/datadog_checks/yarn/data/conf.yaml.example
Labels: dev/tooling, integration/activemq_xml, integration/airflow, integration/ambari, integration/apache, integration/cilium, integration/consul, integration/couch, integration/datadog_checks_dev, integration/druid, integration/elastic, integration/envoy, integration/fluentd, integration/gitlab, integration/hdfs_datanode, integration/hdfs_namenode, integration/http_check, integration/istio, integration/kong, integration/kube_apiserver_metrics, integration/lighttpd, integration/marathon, integration/mesos_slave, integration/nginx, integration/nginx_ingress_controller, integration/openmetrics, integration/riak, integration/spark, integration/twistlock, integration/vault, integration/yarn

#7311 [Dev] Use MySQL `explain_statement` function when available to collect execution plans
  mysql/datadog_checks/mysql/execution_plans.py
Labels: integration/mysql

#7342 Adding support for Amazon EKS on AWS Outposts
  amazon_eks/README.md
Labels: changelog/no-changelog, documentation, integration/amazon_eks

#7341 Validate the monitor id isn't in the payload
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/recommended_monitors.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7344 ddev for extras must not rewrite line endings
  datadog_checks_dev/datadog_checks/dev/tooling/signing.py
Labels: dev/tooling, integration/datadog_checks_dev

#7345 [Release] Bumped datadog_checks_dev version to 3.20.0
  .in-toto/tag.fbc63ae0.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#7352 Fix markdown in readme
  yarn/README.md
Labels: changelog/no-changelog, documentation, integration/yarn

#7335 Fix intg-tools-libs entry in trello.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: dev/tooling, integration/datadog_checks_dev

#7349 Revert Fix wrong indentation of `table` key in column metric tags #7024
  snmp/datadog_checks/snmp/parsing/metrics.py
Labels: changelog/Fixed, integration/snmp

#7351 Fix apc ups profile
  snmp/datadog_checks/snmp/data/profiles/apc_ups.yaml
  snmp/tests/test_e2e.py
  snmp/tests/test_profiles.py
Labels: changelog/Fixed, integration/snmp

#7355 [Release] Release snmp QA fixes
  .in-toto/tag.024e42fe.link
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: changelog/no-changelog, integration/snmp, release

#7361 Fix dependency resolution for docs
  tox.ini
Labels: changelog/no-changelog, documentation

#7358 add line about conntrack binary
  network/README.md
Labels: changelog/no-changelog, documentation, integration/network

#7367 Add coverage param to test-all
  .azure-pipelines/templates/test-all.yml
Labels: changelog/no-changelog, dev/testing

#7340 Update config spec default values
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/mysql

#7371 [Release] Bumped mysql version to 2.0.1
  .in-toto/tag.024e42fe.link
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mysql, release

#7364 Add docs on working with walks
  docs/developer/tutorials/snmp/how-to.md
Labels: changelog/no-changelog, do-not-merge/HOLD, documentation

#7370 Document SNMP integration architecture
  docs/developer/architecture/snmp.md
  docs/developer/assets/images/snmp-architecture.drawio
  docs/developer/assets/images/snmp-architecture.png
Labels: changelog/no-changelog, documentation

#7373 DOCS 1160 - ddev needs pip3
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, documentation

#7343 Support updating Agent /etc/hosts in E2E envs
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: dev/tooling, integration/datadog_checks_dev, qa/skip-qa

#7366 Add changelog checker
  .github/workflows/changelog-label-check.py
  .github/workflows/changelog-label-check.yml
  .github/workflows/labeler.yml
Labels: changelog/no-changelog, dev/tooling, do-not-merge/HOLD, qa/skip-qa

#7380 Dummy trivial change to reload azure triggers
  .azure-pipelines/nightly_py2.yml
Labels: changelog/no-changelog, dev/testing

#7375 Document apc_ups flag stream metrics
  snmp/metadata.csv
Labels: changelog/no-changelog, integration/snmp

#7377 correct typo
  snmp/README.md
Labels: changelog/no-changelog, documentation, integration/snmp

#7372 Validate integration column in metrics metadata
  couch/metadata.csv
  couchbase/metadata.csv
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  dotnetclr/metadata.csv
  kube_controller_manager/metadata.csv
  linux_proc_extras/metadata.csv
  nginx_ingress_controller/metadata.csv
  sidekiq/metadata.csv
Labels: changelog/Added, dev/tooling, integration/couch, integration/couchbase, integration/datadog_checks_dev, integration/dotnetclr, integration/kube_controller_manager, integration/linux_proc_extras, integration/nginx_ingress_controller, integration/sidekiq

#7356 Add monitor validation on allowed types and more friendly error messages
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/recommended_monitors.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7359 Add new package validation for `name` field in setup.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/package.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#7363 Update coredns metadata.csv
  coredns/metadata.csv
Labels: changelog/no-changelog, integration/coredns

#7376 Update mapreduce e2e to currently maintained hadoop environment
  mapreduce/tests/common.py
  mapreduce/tests/compose/docker-compose.yaml
  mapreduce/tests/compose/hadoop.env
  mapreduce/tests/conftest.py
  mapreduce/tests/test_mapreduce_integration_e2e.py
Labels: changelog/no-changelog, integration/mapreduce

#7178 Add mapreduce config specs
  mapreduce/assets/configuration/spec.yaml
  mapreduce/datadog_checks/mapreduce/data/conf.yaml.example
  mapreduce/manifest.json
Labels: changelog/Added, documentation, integration/mapreduce

#7306 Add config specs
  aspdotnet/assets/configuration/spec.yaml
  aspdotnet/datadog_checks/aspdotnet/data/conf.yaml.example
  aspdotnet/manifest.json
  exchange_server/datadog_checks/exchange_server/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/aspdotnet, integration/exchange_server

#7379 Add config specs
  mesos_master/assets/configuration/spec.yaml
  mesos_master/datadog_checks/mesos_master/data/conf.yaml.example
  mesos_master/manifest.json
Labels: changelog/Added, documentation, integration/mesos_master

#7387 Trigger action after labeler
  .github/workflows/changelog-label-check.yml
  .github/workflows/labeler.yml
Labels: changelog/no-changelog, dev/tooling

#7384 Update the Istio 1.5+ dashboard.
  istio/assets/dashboards/istio_1_5_overview.json
  istio/manifest.json
Labels: changelog/no-changelog, integration/istio

#7362 Allow the validation of the newer dashboard payload in integration bo…
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dashboards.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7365 Update dash export command to use newer api
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/dashboard.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7388 [Release] Bumped datadog_checks_dev version to 3.21.0
  .in-toto/tag.57ce2495.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#7389 Fix short name
  istio/manifest.json
Labels: changelog/no-changelog, documentation, integration/istio

#7386 add counterset validation in pdh check
  pdh_check/datadog_checks/pdh_check/pdh_check.py
  pdh_check/tests/test_pdh_check.py
Labels: changelog/Fixed, integration/pdh_check

#7393 Avoid depleting collection_metric_names
  mongo/datadog_checks/mongo/mongo.py
Labels: changelog/Fixed, integration/mongo

#7098 Support prometheus endpoint
  consul/README.md
  consul/assets/configuration/spec.yaml
  consul/assets/service_checks.json
  consul/datadog_checks/consul/consul.py
  consul/datadog_checks/consul/data/conf.yaml.example
  consul/datadog_checks/consul/metrics.py
  consul/tests/common.py
  consul/tests/compose/server-1.8.0.json
  consul/tests/conftest.py
  consul/tests/test_integration.py
  consul/tests/test_unit.py
  consul/tox.ini
Labels: changelog/Added, documentation, integration/consul

#7396 release mongo
  .in-toto/tag.4a5409a2.link
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mongo, release

#7394 Add debug lines on skipped metrics
  iis/datadog_checks/iis/iis.py
Labels: changelog/Fixed, integration/iis

#7400 release iis
  .in-toto/tag.4a5409a2.link
  iis/CHANGELOG.md
  iis/datadog_checks/iis/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/iis, release

#7392 Fix an invalid syntax in envoy/README.md
  envoy/README.md
Labels: changelog/no-changelog, documentation, integration/envoy

#7397 Add configuration spec
  gitlab_runner/assets/configuration/spec.yaml
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  gitlab_runner/manifest.json
Labels: changelog/Added, documentation, integration/gitlab_runner

#7005 Introduce new, more performant implementation
  docs/developer/architecture/win32_event_log.md
  mkdocs.yml
  win32_event_log/datadog_checks/win32_event_log/check.py
  win32_event_log/datadog_checks/win32_event_log/constants.py
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
  win32_event_log/datadog_checks/win32_event_log/filters.py
  win32_event_log/datadog_checks/win32_event_log/legacy/win32_event_log.py
  win32_event_log/datadog_checks/win32_event_log/utils.py
  win32_event_log/tests/common.py
  win32_event_log/tests/conftest.py
  win32_event_log/tests/legacy/test_win32_integration.py
  win32_event_log/tests/test_check.py
  win32_event_log/tests/test_config.py
  win32_event_log/tests/test_filters.py
  win32_event_log/tox.ini
Labels: changelog/Added, documentation, integration/win32_event_log

#7390 Migrate Integration Dashboards to new payload structure
  linkerd/assets/dashboards/overview.json
  mapr/assets/dashboards/mapr_overview.json
  nginx/assets/dashboards/plus_overview.json
  openstack/assets/dashboards/openstack-controller.json
  oracle/assets/dashboards/oracle_overview.json
  presto/assets/dashboards/overview.json
  proxysql/assets/dashboards/overview.json
  rethinkdb/assets/dashboards/overview.json
  sap_hana/assets/dashboards/overview.json
  scylla/assets/dashboards/overview.json
  sidekiq/assets/dashboards/overview.json
  systemd/assets/dashboards/overview.json
  tls/assets/dashboards/overview.json
  vault/assets/dashboards/vault_overview.json
  vertica/assets/dashboards/overview.json
  vsphere/assets/dashboards/vsphere_overview.json
Labels: changelog/no-changelog, integration/linkerd, integration/mapr, integration/nginx, integration/openstack, integration/oracle, integration/presto, integration/proxysql, integration/rethinkdb, integration/sap_hana, integration/scylla, integration/sidekiq, integration/systemd, integration/tls, integration/vault, integration/vertica, integration/vsphere

#7402 Fix dashboard logo
  scylla/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/scylla

#7403 release win32
  .in-toto/tag.4a5409a2.link
  requirements-agent-release.txt
  win32_event_log/CHANGELOG.md
  win32_event_log/datadog_checks/win32_event_log/__about__.py
Labels: changelog/no-changelog, integration/win32_event_log, release

#7391 Update dependency tooling to support multiple version/marker combinations
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/dependencies.py
  datadog_checks_dev/datadog_checks/dev/tooling/requirements.py
  datadog_checks_dev/setup.py
  datadog_checks_dev/tests/tooling/test_dep.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7395 Upgrade psutil to 5.7.2
  btrfs/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  disk/requirements.in
  gunicorn/requirements.in
  network/requirements.in
  process/requirements.in
  system_core/requirements.in
  system_swap/requirements.in
Labels: changelog/Added, dependencies, integration/btrfs, integration/datadog_checks_base, integration/disk, integration/gunicorn, integration/network, integration/process, integration/system_core, integration/system_swap

#7401 Remove unused ORIG_CI_BUILD_REF_NAME param in release
  .gitlab/tagger/build-packages.sh
Labels: changelog/no-changelog, dev/tooling

#7382 Add space_id and org_id tags in addition to space_guid and org_guid
  cloud_foundry_api/datadog_checks/cloud_foundry_api/cloud_foundry_api.py
  cloud_foundry_api/tests/test_cloud_foundry_api.py
Labels: changelog/Added, integration/cloud_foundry_api

#7241 Option to disable stream api checking in Nginx Plus
  nginx/README.md
  nginx/assets/configuration/spec.yaml
  nginx/datadog_checks/nginx/data/conf.yaml.example
  nginx/datadog_checks/nginx/nginx.py
  nginx/tests/test_unit.py
Labels: changelog/Added, integration/nginx

#7318 Add config specs
  cassandra_nodetool/assets/configuration/spec.yaml
  cassandra_nodetool/datadog_checks/cassandra_nodetool/data/conf.yaml.example
  cassandra_nodetool/manifest.json
  cassandra_nodetool/setup.py
Labels: changelog/Added, documentation, integration/cassandra_nodetool

#7407 Add Cloud Foundry event metadata to DataDog event text as serialized JSON
  cloud_foundry_api/datadog_checks/cloud_foundry_api/cloud_foundry_api.py
  cloud_foundry_api/tests/fixtures/event_v2.json
  cloud_foundry_api/tests/fixtures/event_v3.json
  cloud_foundry_api/tests/test_cloud_foundry_api.py
Labels: changelog/Added, integration/cloud_foundry_api

#7405 [datadog_checks_dev] Use consistent formatting for boolean values
  activemq/datadog_checks/activemq/data/conf.yaml.example
  cassandra/datadog_checks/cassandra/data/conf.yaml.example
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/example.py
  hazelcast/datadog_checks/hazelcast/data/conf.yaml.example
  hive/datadog_checks/hive/data/conf.yaml.example
  hivemq/datadog_checks/hivemq/data/conf.yaml.example
  ignite/datadog_checks/ignite/data/conf.yaml.example
  jboss_wildfly/datadog_checks/jboss_wildfly/data/conf.yaml.example
  kafka/datadog_checks/kafka/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/auto_conf.yaml
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  postgres/datadog_checks/postgres/data/conf.yaml.example
  solr/datadog_checks/solr/data/conf.yaml.example
  tokumx/datadog_checks/tokumx/data/conf.yaml.example
  tomcat/datadog_checks/tomcat/data/conf.yaml.example
Labels: changelog/Fixed, dev/tooling, integration/activemq, integration/cassandra, integration/confluent_platform, integration/consul, integration/datadog_checks_dev, integration/hazelcast, integration/hive, integration/hivemq, integration/ignite, integration/jboss_wildfly, integration/kafka, integration/kube_apiserver_metrics, integration/postgres, integration/solr, integration/tokumx, integration/tomcat

#7404 [dashboards] Convert rest of integrations-core dashboard payloads
  airflow/assets/dashboards/overview.json
  amazon_msk/assets/dashboards/overview.json
  ambari/assets/dashboards/base_dashboard.json
  cilium/assets/dashboards/overview.json
  clickhouse/assets/dashboards/overview.json
  cockroachdb/assets/dashboards/overview.json
  confluent_platform/assets/dashboards/overview.json
  druid/assets/dashboards/overview.json
  ecs_fargate/assets/dashboards/amazon_fargate_overview.json
  envoy/assets/dashboards/envoy_overview.json
  etcd/assets/dashboards/etcd_overview.json
  exchange_server/assets/dashboards/overview.json
  flink/assets/dashboards/overview.json
  gitlab/assets/dashboards/overview.json
  harbor/assets/dashboards/overview.json
  hazelcast/assets/dashboards/overview.json
  hive/assets/dashboards/overview.json
  hivemq/assets/dashboards/hivemq.json
  ibm_db2/assets/dashboards/overview.json
  ignite/assets/dashboards/ignite_overview.json
  istio/assets/dashboards/istio_1_5_overview.json
  istio/assets/dashboards/istio_overview.json
  kong/assets/dashboards/kong_overview.json
  kube_metrics_server/assets/dashboards/overview.json
  kubernetes/assets/dashboards/kubernetes_deployments.json
  kubernetes/assets/dashboards/kubernetes_nodes.json
  kubernetes/assets/dashboards/kubernetes_pods.json
Labels: changelog/no-changelog, integration/airflow, integration/amazon_msk, integration/ambari, integration/cilium, integration/clickhouse, integration/cockroachdb, integration/confluent_platform, integration/druid, integration/ecs_fargate, integration/envoy, integration/etcd, integration/exchange_server, integration/flink, integration/gitlab, integration/harbor, integration/hazelcast, integration/hive, integration/hivemq, integration/ibm_db2, integration/ignite, integration/istio, integration/kong, integration/kube_metrics_server, integration/kubernetes

#7408 Sync nginx
  nginx/datadog_checks/nginx/data/conf.yaml.example
Labels: changelog/no-changelog, integration/nginx

#7337 List jmx beans using jmxterm with extra jars
  docs/developer/tutorials/jmx/tools.md
Labels: changelog/no-changelog, documentation

#7336 Update proxy section in conf.yaml
  activemq_xml/datadog_checks/activemq_xml/data/conf.yaml.example
  airflow/datadog_checks/airflow/data/conf.yaml.example
  ambari/datadog_checks/ambari/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cisco_aci/datadog_checks/cisco_aci/data/conf.yaml.example
  cloud_foundry_api/datadog_checks/cloud_foundry_api/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  couch/datadog_checks/couch/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
  druid/datadog_checks/druid/data/conf.yaml.example
  elastic/datadog_checks/elastic/data/conf.yaml.example
  envoy/datadog_checks/envoy/data/conf.yaml.example
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_namenode/datadog_checks/hdfs_namenode/data/conf.yaml.example
  http_check/datadog_checks/http_check/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  lighttpd/datadog_checks/lighttpd/data/conf.yaml.example
  marathon/datadog_checks/marathon/data/conf.yaml.example
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
  nginx/datadog_checks/nginx/data/conf.yaml.example
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  riak/datadog_checks/riak/data/conf.yaml.example
  spark/datadog_checks/spark/data/conf.yaml.example
  twistlock/datadog_checks/twistlock/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
  yarn/datadog_checks/yarn/data/conf.yaml.example
Labels: dev/tooling, integration/activemq_xml, integration/airflow, integration/ambari, integration/apache, integration/cilium, integration/cisco_aci, integration/cloud_foundry_api, integration/consul, integration/couch, integration/datadog_checks_dev, integration/druid, integration/elastic, integration/envoy, integration/fluentd, integration/gitlab, integration/hdfs_datanode, integration/hdfs_namenode, integration/http_check, integration/istio, integration/kong, integration/kube_apiserver_metrics, integration/lighttpd, integration/marathon, integration/mesos_slave, integration/nginx, integration/nginx_ingress_controller, integration/openmetrics, integration/riak, integration/spark, integration/twistlock, integration/vault, integration/yarn

#7409 Sync configs
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  mapreduce/datadog_checks/mapreduce/data/conf.yaml.example
  mesos_master/datadog_checks/mesos_master/data/conf.yaml.example
Labels: changelog/no-changelog, integration/gitlab_runner, integration/mapreduce, integration/mesos_master

#7385 [dashboards] Convert dashboard JSON for aerospike integration screenboard
  aerospike/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/aerospike

#7357 Add security team
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/status.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: dev/tooling, integration/datadog_checks_dev

#7347 Auto assign card
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/rc_build_cards_updater.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/cache.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/github_trello_user_matcher.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/github_users.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/tester_selector.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/tester_selector_team.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/trello_users.py
  datadog_checks_dev/datadog_checks/dev/tooling/github.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: dev/tooling, integration/datadog_checks_dev

#7106 Add a test helper to mock dns on local and e2e
  datadog_checks_tests_helper/datadog_test_libs/utils/__init__.py
  datadog_checks_tests_helper/datadog_test_libs/utils/mock_dns.py
  http_check/tests/conftest.py
  http_check/tests/test_http_integration.py
  http_check/tests/test_integration_e2e.py
  http_check/tox.ini
  kafka_consumer/tests/conftest.py
  kafka_consumer/tests/test_kafka_consumer.py
  kafka_consumer/tox.ini
  mapreduce/tests/conftest.py
  mapreduce/tox.ini
  tls/tests/conftest.py
  tls/tests/test_remote.py
  tls/tox.ini
Labels: changelog/no-changelog, integration/datadog_checks_tests_helper, integration/http_check, integration/kafka_consumer, integration/mapreduce, integration/tls

#7422 [Release] Bumped datadog_checks_dev version to 3.22.0
  .in-toto/tag.024e42fe.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, qa/skip-qa, release

#7425 Parse byte string versions
  mysql/datadog_checks/mysql/version_utils.py
  mysql/tests/test_mysql.py
Labels: changelog/Fixed, integration/mysql

#7426 [Release] Bumped mysql version to 2.0.2
  .in-toto/tag.024e42fe.link
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mysql, qa/skip-qa, release

#7406 Make it easier to configure legacy vs new options
  win32_event_log/datadog_checks/win32_event_log/check.py
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
  win32_event_log/datadog_checks/win32_event_log/legacy/win32_event_log.py
Labels: changelog/Fixed, integration/win32_event_log

#6963 Bump jaydebeapi and jpype1
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  oracle/requirements.in
  oracle/tests/conftest.py
Labels: changelog/Fixed, dependencies, integration/datadog_checks_base, integration/oracle

#7428 Update vsphere dashboard
  vsphere/assets/dashboards/vsphere_overview.json
Labels: changelog/no-changelog, integration/vsphere

#7416 vSphere docs updates
  vsphere/README.md
Labels: changelog/no-changelog, documentation, integration/vsphere

#7114 remove innacurate note
  gunicorn/README.md
Labels: changelog/no-changelog, documentation, integration/gunicorn

#7424 Apply option to ignore InsecureRequestWarning permanently
  datadog_checks_base/datadog_checks/base/utils/warnings_util.py
Labels: changelog/Changed, integration/datadog_checks_base

#7423 Support service checks in recommended monitors
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/recommended_monitors.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7430 Remove GKE cluster version limitation
  linkerd/tests/terraform/main.tf
Labels: changelog/no-changelog, integration/linkerd

#7291 Add config specs
  amazon_msk/assets/configuration/spec.yaml
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  amazon_msk/manifest.json
  amazon_msk/setup.py
Labels: changelog/Added, documentation, integration/amazon_msk

#6862 pass the password to be used for pkey decryption
  ssh_check/assets/configuration/spec.yaml
  ssh_check/datadog_checks/ssh_check/data/conf.yaml.example
  ssh_check/datadog_checks/ssh_check/ssh_check.py
Labels: changelog/Fixed, documentation, integration/ssh_check

#7353 Add function to parse RDS tags from the endpoint
  datadog_checks_base/datadog_checks/base/utils/aws.py
  datadog_checks_base/tests/test_aws.py
Labels: changelog/Added, integration/datadog_checks_base

#7410 Update CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog

#7419 Change old_payload warning to failure
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dashboards.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7413 Handle redis role missing
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/tests/test_slowlog.py
Labels: changelog/Fixed, integration/redisdb

#7433 Add config specs to clickhouse
  clickhouse/assets/configuration/spec.yaml
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  clickhouse/manifest.json
  clickhouse/setup.py
Labels: changelog/Added, documentation, integration/clickhouse

#7434 Add logs documentation
  linkerd/README.md
Labels: changelog/no-changelog, documentation, integration/linkerd

#7013 Fix order of options in default config
  spark/assets/configuration/spec.yaml
  spark/datadog_checks/spark/data/conf.yaml.example
  spark/tests/test_spark.py
Labels: changelog/no-changelog, documentation, integration/spark
