Repository DataDog/integrations-core, pull requests merged in 2020-03, with the labels that each got.

#5926 [PROD] point kube docs link to correct location
  openshift/README.md
Labels: changelog/no-changelog, documentation, integration/openshift

#5934 [doc]update description for redis metrics
  redisdb/metadata.csv
Labels: changelog/no-changelog, integration/redisdb

#5933 Fix typo
  kafka/metadata.csv
Labels: changelog/no-changelog, integration/kafka

#5855 Account for "osdstats" key in newer versions
  ceph/datadog_checks/ceph/ceph.py
  ceph/tests/fixtures/raw2.json
  ceph/tests/test_unit.py
Labels: changelog/Changed, integration/ceph

#5884 Make test more reliable
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
Labels: changelog/no-changelog, integration/snmp

#5942 Release 3.1.0
  .in-toto/tag.fbc63ae0.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: integration/datadog_checks_dev, release

#5945 Update reference to `disable_ssl_validation`
  http_check/datadog_checks/http_check/data/conf.yaml.example
Labels: changelog/Fixed, integration/http_check

#5932 Add config spec support for logs-only integrations
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/example.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  flink/assets/configuration/spec.yaml
  flink/datadog_checks/flink/data/conf.yaml.example
  flink/manifest.json
  tenable/assets/configuration/spec.yaml
  tenable/datadog_checks/tenable/data/conf.yaml.example
  tenable/manifest.json
Labels: changelog/Added, dev/tooling, documentation, integration/datadog_checks_dev, integration/flink, integration/tenable

#5910 Add test for historical instance tags and update docs
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/tests/fixtures/metrics_historical.json
  vsphere/tests/test_check.py
Labels: changelog/no-changelog, integration/vsphere

#5937 Fix ddev env test for repos other than core
  .azure-pipelines/templates/run-tests.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: changelog/no-changelog, dev/testing

#5862 Add test for spark version collection
  spark/tests/test_spark.py
Labels: changelog/no-changelog, integration/spark

#5880 Add unit tests for build relations filter and remove unneeded code
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/common.py
  postgres/tests/test_unit.py
Labels: changelog/no-changelog, integration/postgres

#5859 Add wmi sampler tests
  datadog_checks_base/tests/test_wmisampler.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_base

#5858 Bump datadog-checks-base version in new integration template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/setup.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#5930 Add test for config options
  cisco_aci/tests/test_cisco.py
Labels: changelog/no-changelog, integration/cisco_aci

#5837 Cover setting 0 limit on an unlimited check
  datadog_checks_base/tests/test_agent_check.py
Labels: changelog/no-changelog, dev/testing

#5876 Aerospike: Ignore tests for non-linux hosts
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/tests/conftest.py
  aerospike/tox.ini
Labels: changelog/no-changelog, dependencies, integration/aerospike

#5875 Update doc about whitelist and blacklist
  envoy/datadog_checks/envoy/data/conf.yaml.example
Labels: changelog/Added, integration/envoy

#5918 Improve debug messages
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/utils.py
Labels: changelog/no-changelog, integration/snmp

#5831 Make jmx endpoint work for local access
  activemq/tests/common.py
  activemq/tests/compose/docker-compose.yaml
  activemq/tests/conftest.py
Labels: changelog/no-changelog, integration/activemq

#5843 Do not fail on octet stream content type
  coredns/tests/conftest.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
  istio/tests/test_check.py
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Fixed, integration/coredns, integration/datadog_checks_base, integration/istio, integration/kubernetes_state

#5946 Add markdown output support to catalog tool
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/catalog.py
Labels: dev/tooling, integration/datadog_checks_dev

#5408 Add Cilium version metadata
  cilium/datadog_checks/cilium/cilium.py
  cilium/tests/common.py
  cilium/tests/fixtures/agent_metrics.txt
  cilium/tests/terraform/cilium.yaml
  cilium/tests/test_cilium.py
  cilium/tox.ini
Labels: changelog/Added, integration/cilium

#5944 Various doc fixes
  jboss_wildfly/README.md
  jboss_wildfly/datadog_checks/jboss_wildfly/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/jboss_wildfly

#5907 Remove unnecessary forced_type
  snmp/datadog_checks/snmp/data/profiles/hp-ilo4.yaml
Labels: changelog/no-changelog, integration/snmp

#5947 [Docs] Tenable
  tenable/README.md
Labels: changelog/no-changelog, documentation, integration/tenable

#5948 Add node up/down default metrics
  cassandra/datadog_checks/cassandra/data/metrics.yaml
Labels: changelog/Added, integration/cassandra

#5949 Updated display name and
  tenable/README.md
  tenable/manifest.json
Labels: changelog/no-changelog, do-not-merge/HOLD, documentation, integration/tenable

#5864 Replace deprecated method `database_names` by `list_database_names`
  mongo/datadog_checks/mongo/mongo.py
Labels: changelog/Fixed, integration/mongo

#5940 Add 'postgres.max_connections' to the manifest 'metric_to_check'
  postgres/manifest.json
Labels: changelog/no-changelog, documentation, integration/postgres

#5908 Add test for powerSupplyCurrentInputVoltage
  snmp/datadog_checks/snmp/data/profiles/dell-poweredge.yaml
  snmp/tests/compose/data/dell-poweredge.snmprec
  snmp/tests/test_check.py
Labels: changelog/no-changelog, integration/snmp

#5868 Add warning test
  windows_service/tests/test_windows_service.py
Labels: changelog/no-changelog, integration/windows_service

#5802 Remove Agent5 compatibility layer
  consul/datadog_checks/consul/common.py
  consul/datadog_checks/consul/consul.py
  consul/tests/consul_mocks.py
  consul/tests/test_integration.py
  consul/tests/test_unit.py
Labels: changelog/no-changelog, integration/consul

#5952 Update postgres public title
  postgres/manifest.json
Labels: changelog/no-changelog, documentation, integration/postgres

#5845 Add a test for AOF-loading metrics
  redisdb/tests/test_auth.py
  redisdb/tests/test_default.py
  redisdb/tests/test_replication.py
  redisdb/tests/test_slowlog.py
  redisdb/tests/test_unit.py
Labels: changelog/no-changelog, integration/redisdb

#5803 Add `validate metadata` option to check for more duplicates
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#5951 Add missing metadata for down/up metrics
  cassandra/datadog_checks/cassandra/data/metrics.yaml
  cassandra/metadata.csv
Labels: changelog/no-changelog, integration/cassandra

#5737 Refactor check code
  pgbouncer/datadog_checks/pgbouncer/metrics.py
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
  pgbouncer/tests/test_pgbouncer_integration_e2e.py
  pgbouncer/tests/test_pgbouncer_unit.py
Labels: changelog/Added, integration/pgbouncer

#5887 Validate and cast `discovery_interval` to a number
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_unit.py
Labels: changelog/Fixed, integration/snmp

#5955 Upgrade pymqi to 1.10.1
  .azure-pipelines/scripts/ibm_mq/linux/55_install_client.sh
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ibm_mq/README.md
  ibm_mq/requirements.in
  ibm_mq/tests/README.md
  ibm_mq/tests/common.py
Labels: changelog/Changed, dependencies, dev/testing, documentation, integration/datadog_checks_base, integration/ibm_mq

#5964 Split tests in three files
  ibm_mq/tests/common.py
  ibm_mq/tests/test_ibm_mq.py
  ibm_mq/tests/test_ibm_mq_e2e.py
  ibm_mq/tests/test_ibm_mq_int.py
  ibm_mq/tests/test_ibm_mq_unit.py
Labels: changelog/no-changelog, dev/testing, integration/ibm_mq

#5966 Make aggregator stub support multiple jmx instances
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#5921 Fix "dns_check" service check metadata
  dns_check/assets/service_checks.json
Labels: changelog/no-changelog, integration/dns_check

#5961 Properly use default JMX metrics for E2E
  datadog_checks_dev/datadog_checks/dev/utils.py
Labels: changelog/Fixed, integration/datadog_checks_base, integration/datadog_checks_dev

#5967 Mirror Agent's default behavior of `enable_metadata_collection` for `datadog_agent` stub
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
Labels: changelog/Added, integration/datadog_checks_base

#5869 [test] Add more metrics to e2e tests
  oracle/tests/test_e2e.py
Labels: changelog/no-changelog, integration/oracle

#5970 Improve aggregator stub's `assert_all_metrics_covered` error message
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
Labels: changelog/Added, integration/datadog_checks_base

#5652 Add meta command to fetch JMX info
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/jmx.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#5761 pgbouncer metadata
  pgbouncer/datadog_checks/pgbouncer/metrics.py
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
  pgbouncer/setup.py
  pgbouncer/tests/common.py
  pgbouncer/tests/test_pgbouncer_integration_e2e.py
Labels: changelog/Added, integration/pgbouncer

#5976 Add new metrics: `cache_dictionary.update_queue.batches`, `cache_dictionary.update_queue.keys`
  clickhouse/datadog_checks/clickhouse/queries.py
  clickhouse/metadata.csv
Labels: changelog/Added, integration/clickhouse

#5957 Add e2e testing and TotalBlockedTasks metric
  .azure-pipelines/templates/test-all-checks.yml
  cassandra/datadog_checks/cassandra/data/conf.yaml.example
  cassandra/datadog_checks/cassandra/data/metrics.yaml
  cassandra/requirements-dev.txt
  cassandra/setup.py
  cassandra/tests/__init__.py
  cassandra/tests/common.py
  cassandra/tests/compose/docker-compose.yml
  cassandra/tests/compose/dockerfile
  cassandra/tests/compose/resources/cassandra-init.sh
  cassandra/tests/conftest.py
  cassandra/tests/test_check.py
  cassandra/tox.ini
Labels: changelog/Added, dev/testing, integration/cassandra

#5923 [kafka] Adding e2e testing for Kafka Integration
  .azure-pipelines/templates/test-all-checks.yml
  kafka/requirements-dev.txt
  kafka/setup.py
  kafka/tests/__init__.py
  kafka/tests/common.py
  kafka/tests/compose/docker-compose.yml
  kafka/tests/conftest.py
  kafka/tests/test_check.py
  kafka/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/kafka

#5927 Collect version metadata
  gearmand/datadog_checks/gearmand/gearmand.py
  gearmand/tests/test_integration.py
Labels: changelog/Added, integration/gearmand

#5975 Improve assertion messages of aggregator stub
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
Labels: changelog/Added, integration/datadog_checks_base

#5863 Make `is_metadata_collection_enabled` static
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/test_agent_check.py
Labels: changelog/Added, integration/datadog_checks_base

#5928 Add additional (and modern!) test versions for gearmand
  gearmand/tests/common.py
  gearmand/tests/compose/docker-compose.yaml
  gearmand/tests/test_integration.py
  gearmand/tox.ini
Labels: changelog/no-changelog, integration/gearmand

#5982 fix typo
  oracle/tests/docker/docker-compose.yaml
Labels: changelog/no-changelog, integration/oracle

#5972 Revert "Submit total_alloc as monotonic count"
  go_expvar/datadog_checks/go_expvar/go_expvar.py
  go_expvar/metadata.csv
  go_expvar/tests/common.py
  go_expvar/tests/test_e2e.py
  go_expvar/tests/test_integration.py
  go_expvar/tests/test_unit.py
Labels: changelog/Fixed, integration/go_expvar

#5983 [Release] Bumped go_expvar version to 1.7.2
  .in-toto/tag.c295cf63.link
  go_expvar/CHANGELOG.md
  go_expvar/datadog_checks/go_expvar/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/go_expvar, release

#5981 Old style exceptions are syntax errors in Python
  docker_daemon/datadog_checks/docker_daemon/docker_daemon.py
Labels: changelog/no-changelog, integration/docker_daemon

#5914 Add Palo Alto and generic host resources SNMP profiles
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/data/profiles/_generic-host-resources.yaml
  snmp/datadog_checks/snmp/data/profiles/palo-alto.yaml
  snmp/tests/compose/data/generic_host.snmprec
  snmp/tests/compose/data/pan-common.snmprec
  snmp/tests/test_check.py
Labels: changelog/Added, integration/snmp

#5977 Update `conf.yaml.example` log collection section
  couchbase/README.md
  couchbase/datadog_checks/couchbase/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/couchbase

#5786 Add version metadata
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/gitlab.py
  gitlab/setup.py
  gitlab/tests/common.py
  gitlab/tests/test_integration_e2e.py
Labels: changelog/Added, integration/gitlab

#5757 Use lower level pysnmp APIs
  snmp/datadog_checks/snmp/commands.py
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
Labels: changelog/no-changelog, integration/snmp

#5986 Handle invalid type for excluded_interfaces
  network/datadog_checks/network/network.py
  network/tests/test_network.py
Labels: changelog/Fixed, integration/network

#5784 Add flink default dashboard
  flink/assets/dashboards/overview.json
  flink/manifest.json
Labels: changelog/no-changelog, documentation, integration/flink

#5978 Add jmx default config spec template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/jmx.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
Labels: changelog/Added, dev/tooling, documentation, integration/datadog_checks_dev, integration/hive

#5989 Add Kubelet check on Windows
  kube_apiserver_metrics/manifest.json
  kubelet/manifest.json
  kubernetes_state/manifest.json
  requirements-agent-release.txt
Labels: changelog/no-changelog, documentation, integration/kube_apiserver_metrics, integration/kubelet, integration/kubernetes_state, release

#5984 Fix flaky hive e2e test and add metastore metrics
  hive/tests/common.py
  hive/tests/conftest.py
  hive/tests/test_check.py
Labels: changelog/no-changelog, integration/hive

#5985 Fix metric name for e2e test
  kafka/datadog_checks/kafka/data/conf.yaml.example
  kafka/tests/common.py
  kafka/tests/conftest.py
Labels: changelog/Fixed, integration/kafka

#5990 Move PySNMP imports to a dedicated module
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/exceptions.py
  snmp/datadog_checks/snmp/models.py
  snmp/datadog_checks/snmp/resolver.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/test_unit.py
  snmp/tests/utils.py
Labels: changelog/Added, integration/snmp

#5979 Use config spec
  hive/assets/configuration/spec.yaml
  hive/datadog_checks/hive/data/conf.yaml.example
  hive/manifest.json
Labels: changelog/Added, dev/tooling, documentation, integration/hive

#5823 Add template for new logs integrations
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/MANIFEST.in
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/assets/service_checks.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/datadog_checks/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/datadog_checks/{check_name}/__about__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/datadog_checks/{check_name}/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/datadog_checks/{check_name}/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/metadata.csv
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/requirements-dev.txt
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/requirements.in
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/setup.py
Labels: changelog/no-changelog, dev/tooling, documentation, integration/datadog_checks_dev

#5980 Upgrade virtualenv to 20.0.8
  datadog_checks_dev/setup.py
Labels: changelog/Added, integration/datadog_checks_dev

#5993 Improve logging of the legacy implementation
  vsphere/datadog_checks/vsphere/legacy/vsphere_legacy.py
Labels: changelog/Fixed, integration/vsphere

#5994 Fixing AD param
  etcd/README.md
Labels: changelog/no-changelog, documentation, integration/etcd

#5965 Add and ship type annotations for base `AgentCheck` class
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/constants.py
  datadog_checks_base/datadog_checks/base/types.py
  datadog_checks_base/datadog_checks/base/utils/common.py
  datadog_checks_base/datadog_checks/py.typed
  datadog_checks_base/tests/test_constants.py
  datadog_checks_base/tests/test_http.py
  datadog_checks_base/tests/test_metadata.py
  datadog_checks_base/tox.ini
Labels: changelog/Added, integration/datadog_checks_base

#5905 Add configuration option for the Channel Definition API version
  ibm_mq/README.md
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/connection.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/tests/test_ibm_mq_int.py
  ibm_mq/tests/test_ibm_mq_unit.py
Labels: changelog/Changed, dependencies, dev/testing, documentation, integration/datadog_checks_base, integration/ibm_mq

#5995 Order changelog entries by type
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#5996 Rename `to_string()` utility to `to_native_string()`
  datadog_checks_base/datadog_checks/base/__init__.py
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/prometheus_base.py
  datadog_checks_base/datadog_checks/base/log.py
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/datadog_checks/base/utils/common.py
  datadog_checks_base/datadog_checks/base/utils/metadata/core.py
  datadog_checks_base/tests/test_agent_check.py
  datadog_checks_base/tests/test_utils.py
  elastic/datadog_checks/elastic/elastic.py
  haproxy/datadog_checks/haproxy/haproxy.py
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  linkerd/tests/conftest.py
  vsphere/datadog_checks/vsphere/legacy/vsphere_legacy.py
  vsphere/datadog_checks/vsphere/utils.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_check.py
Labels: changelog/Fixed, integration/datadog_checks_base, integration/elastic, integration/haproxy, integration/kubernetes_state, integration/linkerd, integration/vsphere

#5998 State version supported
  sap_hana/README.md
Labels: changelog/no-changelog, documentation, integration/sap_hana

#5958 Add Cisco ASA 5525 profile and refactor cisco base profile
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/data/profiles/_base_cisco.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-3850.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-asa-5525.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-nexus.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/cisco_asa_5525.snmprec
  snmp/tests/test_check.py
Labels: changelog/Added, integration/snmp

#5960 Expand tracing options and support threads
  datadog_checks_base/datadog_checks/base/utils/__init__.py
  datadog_checks_base/datadog_checks/base/utils/tracing.py
  datadog_checks_base/tests/test_tracing.py
Labels: changelog/Added, integration/datadog_checks_base

#5991 Add OIDs to router profiles
  snmp/datadog_checks/snmp/data/profiles/_generic-router-if.yaml
  snmp/datadog_checks/snmp/data/profiles/_generic-router-ip.yaml
  snmp/datadog_checks/snmp/data/profiles/_generic-router-tcp.yaml
  snmp/datadog_checks/snmp/data/profiles/_generic-router-udp.yaml
Labels: integration/snmp

#5997 Explicitly check for event value type before coercing to text
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: changelog/Fixed, integration/datadog_checks_base

#5643 Add containerized instruction
  cilium/README.md
Labels: changelog/no-changelog, documentation, integration/cilium

#5988 Remove docker daemon from master
  .github/CODEOWNERS
  docker_daemon/CHANGELOG.md
  docker_daemon/MANIFEST.in
  docker_daemon/README.md
  docker_daemon/assets/service_checks.json
  docker_daemon/datadog_checks/__init__.py
  docker_daemon/datadog_checks/docker_daemon/__about__.py
  docker_daemon/datadog_checks/docker_daemon/__init__.py
  docker_daemon/datadog_checks/docker_daemon/data/conf.yaml.example
  docker_daemon/datadog_checks/docker_daemon/docker_daemon.py
  docker_daemon/images/docker.png
  docker_daemon/images/integrations-docker-dockerps.png
  docker_daemon/manifest.json
  docker_daemon/metadata.csv
  docker_daemon/requirements-dev.txt
  docker_daemon/requirements.in
  docker_daemon/setup.py
  docker_daemon/test/__init__.py
  docker_daemon/test/ci/docker_daemon.rake
  docker_daemon/test/test_docker_daemon.py
  process/README.md
Labels: documentation, integration/docker_daemon, integration/process

#6000 Add `OID` helper class
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/exceptions.py
  snmp/datadog_checks/snmp/models.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/test_utils.py
Labels: changelog/Added, integration/snmp

#6006 Remove examples from jmx template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
  hive/datadog_checks/hive/data/conf.yaml.example
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev, integration/hive

#6007 Drop unused log argument on InstanceConfig
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_unit.py
Labels: changelog/Fixed, integration/snmp

#6008 Fix type hint on `prefix` argument to `AgentCheck.normalize()`
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/common.py
Labels: changelog/Fixed, integration/datadog_checks_base

#6003 Streamline exception handling
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: changelog/Fixed, integration/sqlserver

#6010 [Release] Bumped sqlserver version to 1.16.2
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/sqlserver, release

#5992 Add new metric to count services
  consul/datadog_checks/consul/consul.py
  consul/metadata.csv
  consul/tests/consul_mocks.py
  consul/tests/test_e2e.py
  consul/tests/test_integration.py
  consul/tests/test_unit.py
Labels: changelog/Added, integration/consul

#6004 Link SNMP Profiles to README
  snmp/README.md
Labels: changelog/no-changelog, documentation, integration/snmp

#6009 Move profiles tests to a different module
  snmp/tests/compose/data/cisco_asa_5525.snmprec
  snmp/tests/compose/data/cisco_nexus.snmprec
  snmp/tests/compose/data/dell-poweredge.snmprec
  snmp/tests/compose/data/hp_ilo4.snmprec
  snmp/tests/compose/data/idrac.snmprec
  snmp/tests/compose/data/network.snmprec
  snmp/tests/compose/data/pan-common.snmprec
  snmp/tests/test_check.py
  snmp/tests/test_profiles.py
Labels: changelog/no-changelog, integration/snmp

#5902 IBM MQ refactor
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/connection.py
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/tests/test_ibm_mq_int.py
  ibm_mq/tests/test_ibm_mq_unit.py
  ibm_mq/tox.ini
Labels: changelog/Fixed, integration/ibm_mq

#6013 Move PySNMP imports to a separate `pysnmp_types` module
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/models.py
  snmp/datadog_checks/snmp/pysnmp_types.py
  snmp/datadog_checks/snmp/resolver.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/test_utils.py
Labels: changelog/Fixed, integration/snmp

#6018 Improve naming in `.get_index_tags()`
  snmp/datadog_checks/snmp/snmp.py
Labels: changelog/no-changelog, integration/snmp

#6017 Refactor and add types to `OIDResolver`
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/resolver.py
  snmp/datadog_checks/snmp/snmp.py
Labels: changelog/Added, integration/snmp

#6012 Reattempt to resolve IP on failure
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  tcp_check/tests/test_tcp_check.py
Labels: changelog/Fixed, integration/tcp_check

#6024 release tcp_check
  .in-toto/tag.4a5409a2.link
  requirements-agent-release.txt
  tcp_check/CHANGELOG.md
  tcp_check/datadog_checks/tcp_check/__about__.py
Labels: changelog/no-changelog, integration/tcp_check, release

#6015 Add `connection_name` configuration
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/connection.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/tests/common.py
  ibm_mq/tests/conftest.py
  ibm_mq/tests/test_ibm_mq_int.py
  ibm_mq/tests/test_ibm_mq_unit.py
Labels: changelog/Added, integration/ibm_mq

#6025 Release ibm_mq
  .in-toto/tag.fbc63ae0.link
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_mq, release

#6026 Using DataDog/documentation as new team
  .github/CODEOWNERS
Labels: changelog/no-changelog

#6029 Add types to compat module
  snmp/datadog_checks/snmp/compat.py
  snmp/tox.ini
Labels: changelog/Added, integration/snmp

#6005 Add go_expvar.memstats.total_alloc.count
  go_expvar/datadog_checks/go_expvar/go_expvar.py
  go_expvar/metadata.csv
  go_expvar/tests/common.py
  go_expvar/tests/test_e2e.py
  go_expvar/tests/test_integration.py
  go_expvar/tests/test_unit.py
Labels: changelog/Added, integration/go_expvar

#6021 Add checkpoint firewall profile
  snmp/README.md
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/data/profiles/checkpoint-firewall.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/checkpoint-firewall.snmprec
  snmp/tests/test_profiles.py
Labels: changelog/Added, documentation, integration/snmp

#5783 Add documentation for scylla logs integration
  scylla/README.md
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: do-not-merge/HOLD, documentation, integration/scylla

#6031 Isolate logic for converting SNMP values to metrics
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/metrics.py
  snmp/datadog_checks/snmp/pysnmp_types.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/types.py
  snmp/tox.ini
Labels: changelog/Fixed, integration/snmp

#6033 Fix flake
  couch/tests/fixtures/_active_tasks.json
  couch/tests/test_couchv2.py
Labels: changelog/no-changelog, integration/couch

#5971 Gitlab revamp
  gitlab/README.md
  gitlab/assets/service_checks.json
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/gitlab.py
  gitlab/datadog_checks/gitlab/metrics.py
  gitlab/manifest.json
  gitlab/metadata.csv
  gitlab/setup.py
  gitlab/tests/common.py
  gitlab/tests/conftest.py
  gitlab/tests/fixtures/metrics.txt
  gitlab/tests/test_bench.py
  gitlab/tests/test_integration_e2e.py
Labels: changelog/Changed, documentation, integration/gitlab

#6037 Add Python dependencies caching on CI
  .azure-pipelines/all_master.yml
  .azure-pipelines/all_pr.yml
  .azure-pipelines/changes.yml
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: changelog/no-changelog, dev/testing

#6040 Upgrade six to 1.14.0
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Labels: changelog/Added, dependencies, integration/datadog_checks_base

#6016 add e2e testing
  .azure-pipelines/templates/test-all-checks.yml
  tomcat/requirements-dev.txt
  tomcat/requirements.in
  tomcat/setup.py
  tomcat/tests/__init__.py
  tomcat/tests/common.py
  tomcat/tests/compose/docker-compose.yml
  tomcat/tests/conftest.py
  tomcat/tests/test_check.py
  tomcat/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/tomcat

#6043 Upgrade pyyaml to 5.3
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Labels: changelog/Added, dependencies, integration/datadog_checks_base

#5920 Improve check performance
  process/datadog_checks/process/cache.py
  process/datadog_checks/process/data/conf.yaml.example
  process/datadog_checks/process/lock.py
  process/datadog_checks/process/process.py
  process/tests/test_lock.py
  process/tests/test_process.py
Labels: changelog/Added, integration/process

#6038 Add tests for additional SNMP types
  snmp/tests/common.py
  snmp/tests/compose/data/dummy.snmprec
  snmp/tests/mibs/DUMMY-MIB.py
  snmp/tests/mibs/DUMMY-MIB.txt
  snmp/tests/test_check.py
Labels: changelog/no-changelog, integration/snmp

#6044 Move metric types to new module
  snmp/datadog_checks/snmp/metrics.py
  snmp/datadog_checks/snmp/pysnmp_types.py
Labels: changelog/Fixed, integration/snmp

#6046 Implement `str()` for `OID` instances
  snmp/datadog_checks/snmp/models.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/test_utils.py
Labels: changelog/Fixed, integration/snmp

#6048 release process
  .in-toto/tag.4a5409a2.link
  process/CHANGELOG.md
  process/datadog_checks/process/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/process, release

#6035 Add TLS config
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  aerospike/tests/test_unit.py
Labels: changelog/Added, integration/aerospike

#6041 Fix e2e tests
  envoy/tests/docker/default/Dockerfile-xds
Labels: changelog/no-changelog, integration/envoy

#6039 Fix event submission on leader change
  vault/datadog_checks/vault/vault.py
  vault/tests/test_vault.py
Labels: changelog/Fixed, integration/vault

#6049 Julia/release aerospike
  .in-toto/tag.4a5409a2.link
  aerospike/CHANGELOG.md
  aerospike/datadog_checks/aerospike/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/aerospike, release

#6061 Allow disabling metadata collection in fluentd
  fluentd/datadog_checks/fluentd/fluentd.py
Labels: changelog/Added, integration/fluentd

#5903 Apply config specs to IBM MQ
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/manifest.json
  ibm_mq/setup.py
Labels: changelog/Added, documentation, integration/ibm_mq

#6053 Add note to readme
  gitlab/README.md
Labels: changelog/no-changelog, documentation, integration/gitlab

#6064 Relax type of `ServiceCheck` enum items
  datadog_checks_base/datadog_checks/base/types.py
Labels: changelog/Fixed, integration/datadog_checks_base

#6067 Update .gitignore
  .gitignore
Labels: changelog/no-changelog

#6045 [DOCS-690] Adding disclaimer for container metrics
  eks_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/eks_fargate

#6069 Mark integrations public for 7.18 release
  agent_metrics/manifest.json
  amazon_msk/manifest.json
  external_dns/manifest.json
  flink/manifest.json
  scylla/manifest.json
Labels: changelog/no-changelog, documentation, integration/agent_metrics, integration/amazon_msk, integration/external_dns, integration/flink, integration/scylla

#6066 Update flink readme to not be version specific
  flink/README.md
Labels: changelog/no-changelog, documentation, integration/flink

#6051 Load all profiles by default
  snmp/README.md
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/compose/data/idrac.snmprec
  snmp/tests/test_check.py
  snmp/tests/test_profiles.py
  snmp/tests/test_unit.py
  snmp/tests/utils.py
Labels: changelog/Added, documentation, integration/snmp

#5448 Version metadata
  mapreduce/datadog_checks/mapreduce/mapreduce.py
  mapreduce/setup.py
  mapreduce/tests/common.py
  mapreduce/tests/conftest.py
  mapreduce/tests/fixtures/cluster_info
  mapreduce/tests/test_mapreduce.py
  mapreduce/tests/test_mapreduce_integration_e2e.py
Labels: changelog/Added, integration/mapreduce

#6074 Fix JMX spec doc
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/jmx.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
  hive/datadog_checks/hive/data/conf.yaml.example
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev, integration/hive

#6070 finalize release
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
Labels: changelog/no-changelog, documentation

#6083 Bump classifiers
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/setup.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/setup.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/setup.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#6075 Fix ssl context
  vsphere/datadog_checks/vsphere/api.py
  vsphere/tests/test_api.py
Labels: changelog/Fixed, integration/vsphere

#6082 Add config spec option for compact YAML representations of nested arrays
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/example.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#6062 Support Fluentd config API endpoint for metadata collection
  fluentd/datadog_checks/fluentd/fluentd.py
  fluentd/tests/test_integration.py
  fluentd/tests/test_integration_and_e2e.py
  fluentd/tests/test_metadata.py
  fluentd/tests/util.py
  fluentd/tox.ini
Labels: changelog/Added, integration/fluentd

#6089 Julia/release fluentd
  .in-toto/tag.4a5409a2.link
  fluentd/CHANGELOG.md
  fluentd/datadog_checks/fluentd/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/fluentd, release

#5733 Add Confluent Platform new integration
  .azure-pipelines/templates/test-all-checks.yml
  confluent_platform/CHANGELOG.md
  confluent_platform/MANIFEST.in
  confluent_platform/README.md
  confluent_platform/assets/configuration/spec.yaml
  confluent_platform/assets/service_checks.json
  confluent_platform/datadog_checks/__init__.py
  confluent_platform/datadog_checks/confluent_platform/__about__.py
  confluent_platform/datadog_checks/confluent_platform/__init__.py
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
  confluent_platform/datadog_checks/confluent_platform/data/metrics.yaml
  confluent_platform/manifest.json
  confluent_platform/metadata.csv
  confluent_platform/requirements-dev.txt
  confluent_platform/requirements.in
  confluent_platform/setup.py
  confluent_platform/tests/__init__.py
  confluent_platform/tests/common.py
  confluent_platform/tests/compose/docker-compose.yaml
  confluent_platform/tests/conftest.py
  confluent_platform/tests/metrics.py
  confluent_platform/tests/test_e2e.py
  confluent_platform/tox.ini
Labels: changelog/Added, dev/testing, documentation, integration/confluent_platform

#6090 Upgrade and pin mypy to 0.770
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/Added, integration/datadog_checks_dev

#6080 [skip ci] Add linkerd2 scrape url to README
  linkerd/README.md
Labels: changelog/no-changelog, documentation, integration/linkerd

#6095 Update docs to be markdown compatible
  datadog_checks_dev/datadog_checks/dev/tooling/commands/clean.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/prometheus.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/scripts/remove_labels.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/scripts/upgrade_python.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/make.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/tag.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/testable.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: dev/tooling, integration/datadog_checks_dev

#6097 Tagging scylla as log collection
  scylla/manifest.json
Labels: changelog/no-changelog, documentation, integration/scylla

#6081 Add validation to catch legacy imports
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/imports.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#6100 Fix pathing issues with CI setup script
  datadog_checks_dev/datadog_checks/dev/tooling/commands/ci/setup.py
Labels: dev/tooling, integration/datadog_checks_dev

#6101 Fix e2e tests for envoy
  envoy/tests/docker/default/controlplane.go
Labels: changelog/no-changelog, integration/envoy
