Repository DataDog/integrations-core, pull requests merged in 2020-11, with the labels that each got.

#7906 Add Infra Integrations to Trello release script
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7909 Fix Trello release script
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/tester_selector.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#7910 Remove unnecessary fields
  postfix/assets/configuration/spec.yaml
Labels: changelog/no-changelog, documentation, integration/postfix

#7912 Fix exception message
  couch/datadog_checks/couch/couch.py
Labels: changelog/Fixed, integration/couch

#7916 Remove default `encoding` example in logs config
  lighttpd/README.md
  lighttpd/assets/configuration/spec.yaml
  lighttpd/datadog_checks/lighttpd/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/lighttpd

#7915 Enable logs support in -auth test environments
  lighttpd/tests/docker/auth/docker-compose.yaml
  lighttpd/tests/docker/auth/lighttpd.conf
Labels: changelog/no-changelog, integration/lighttpd

#7913 Remove duplicate copyright line in setup.py
  lighttpd/setup.py
Labels: changelog/no-changelog, integration/lighttpd

#7903 Add Snowflake dashboard
  snowflake/assets/dashboards/snowflake.json
  snowflake/manifest.json
Labels: changelog/no-changelog, documentation, integration/snowflake

#7917 Fix typo
  snowflake/README.md
Labels: changelog/no-changelog, documentation, integration/snowflake

#7921 Remove conditional formatting for query graphs
  snowflake/assets/dashboards/snowflake.json
Labels: changelog/no-changelog, integration/snowflake

#7923 [Release] Bumped lighttpd version to 1.13.1
  .in-toto/tag.c295cf63.link
  lighttpd/CHANGELOG.md
  lighttpd/datadog_checks/lighttpd/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/lighttpd, release

#7911 Fix configuration typo
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/mysql

#7929 Add tags to the new `system.disk.directory.exists` service check
  directory/assets/service_checks.json
  directory/datadog_checks/directory/directory.py
  directory/tests/test_directory.py
Labels: changelog/Fixed, integration/directory

#7926 Fix secondary mode detection logic
  vault/datadog_checks/vault/vault.py
  vault/tests/test_vault.py
Labels: changelog/Fixed, integration/vault

#7933 Fix instance fixture scope
  snowflake/tests/conftest.py
Labels: changelog/no-changelog, integration/snowflake

#7934 Use 2.0.1 with 7.23.0
  snowflake/README.md
Labels: changelog/no-changelog, documentation, integration/snowflake

#7927 Fix log section in readme
  azure_iot_edge/README.md
Labels: changelog/no-changelog, documentation, integration/azure_iot_edge

#7937 release
  .in-toto/tag.c295cf63.link
  directory/CHANGELOG.md
  directory/datadog_checks/directory/__about__.py
  requirements-agent-release.txt
  vault/CHANGELOG.md
  vault/datadog_checks/vault/__about__.py
Labels: changelog/no-changelog, integration/directory, integration/vault, release

#7935 Make new integration public
  snowflake/manifest.json
Labels: changelog/no-changelog, documentation, integration/snowflake

#7939 Update sim-format.md
  docs/developer/tutorials/snmp/sim-format.md
Labels: changelog/no-changelog, documentation

#7941 Fix url configuration example
  marklogic/assets/configuration/spec.yaml
  marklogic/datadog_checks/marklogic/api.py
  marklogic/datadog_checks/marklogic/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/marklogic

#7943 [Release] Bumped marklogic version to 1.1.1
  .in-toto/tag.024e42fe.link
  marklogic/CHANGELOG.md
  marklogic/datadog_checks/marklogic/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/marklogic, release

#7857 Version requirements for Vault docs
  vault/README.md
Labels: changelog/no-changelog, documentation, integration/vault

#7949 Enable min collection interval
  snowflake/assets/configuration/spec.yaml
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/snowflake

#7954 [Release] Bumped snowflake version to 2.1.1
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: changelog/no-changelog, integration/snowflake, release

#7955 Update metadata.csv for mongo
  mongo/metadata.csv
Labels: changelog/no-changelog, integration/mongo

#7932 Add workaround for issue in platform.platform() on python 3.8 or later
  snowflake/datadog_checks/snowflake/__init__.py
Labels: changelog/Fixed, integration/snowflake

#7946 Add databases metrics to metadata.csv
  marklogic/metadata.csv
  marklogic/tests/common.py
  marklogic/tests/metrics.py
  marklogic/tests/test_marklogic.py
  marklogic/tests/test_resource_filters.py
Labels: changelog/no-changelog, integration/marklogic

#7959 Update e2e config for more compatibility
  sqlserver/tests/compose-ha/docker-compose.yaml
Labels: changelog/no-changelog, integration/sqlserver

#7956 Add sharding_cluster_role tag to optime_lag metric
  mongo/datadog_checks/mongo/collectors/replica.py
  mongo/tests/results/metrics-replset-lag-from-primary-configsvr.json
  mongo/tests/results/metrics-replset-lag-from-primary-in-shard.json
Labels: changelog/Fixed, integration/mongo

#7919 Add bad_url e2e test
  azure_iot_edge/tests/test_e2e.py
Labels: changelog/no-changelog, integration/azure_iot_edge

#7963 release
  .in-toto/tag.c295cf63.link
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: changelog/no-changelog, integration/mongo, integration/snowflake, release

#7953 Update HTTP config docs to describe dcos_auth token reader
  marathon/assets/configuration/spec.yaml
  marathon/datadog_checks/marathon/data/conf.yaml.example
  marathon/setup.py
  mesos_master/assets/configuration/spec.yaml
  mesos_master/datadog_checks/mesos_master/data/conf.yaml.example
  mesos_master/setup.py
  mesos_slave/assets/configuration/spec.yaml
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
  mesos_slave/setup.py
  spark/assets/configuration/spec.yaml
  spark/datadog_checks/spark/data/conf.yaml.example
  spark/setup.py
Labels: changelog/Added, integration/marathon, integration/mesos_master, integration/mesos_slave, integration/spark

#7965 release
  .in-toto/tag.c295cf63.link
  marathon/CHANGELOG.md
  marathon/datadog_checks/marathon/__about__.py
  mesos_master/CHANGELOG.md
  mesos_master/datadog_checks/mesos_master/__about__.py
  mesos_slave/CHANGELOG.md
  mesos_slave/datadog_checks/mesos_slave/__about__.py
  requirements-agent-release.txt
  spark/CHANGELOG.md
  spark/datadog_checks/spark/__about__.py
Labels: changelog/no-changelog, integration/marathon, integration/mesos_master, integration/mesos_slave, integration/spark, release

#7964 Fix replicaset identification with old configuration
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/fixtures/getCmdLineOpts-replica-secondary
Labels: changelog/Fixed, integration/mongo

#7967 [Release] Bumped mongo version to 2.0.2
  .in-toto/tag.c295cf63.link
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mongo, release

#7968 Allow mechanism for handling duplicate option names for config specs
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
  datadog_checks_dev/tests/tooling/configuration/test_load.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7930 Add test for tags
  envoy/tests/test_envoy.py
Labels: changelog/no-changelog, integration/envoy

#7975 [ci] Fix checking out master
  .azure-pipelines/templates/checkout-code.yml
Labels: changelog/no-changelog, dev/testing

#7938 Add http templates for integrations using http wrapper
  harbor/assets/configuration/spec.yaml
  harbor/datadog_checks/harbor/data/conf.yaml.example
  hazelcast/assets/configuration/spec.yaml
  hazelcast/datadog_checks/hazelcast/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/harbor, integration/hazelcast

#7978 Add config specs
  nagios/assets/configuration/spec.yaml
  nagios/datadog_checks/nagios/data/conf.yaml.example
  nagios/manifest.json
  nagios/setup.py
Labels: changelog/Added, documentation, integration/nagios

#7976 Add config specs
  system_swap/assets/configuration/spec.yaml
  system_swap/datadog_checks/system_swap/data/conf.yaml.example
  system_swap/manifest.json
  system_swap/setup.py
Labels: changelog/Added, documentation, integration/system_swap

#7969 Fix debug typo for custom queries
  mongo/datadog_checks/mongo/mongo.py
Labels: changelog/no-changelog, integration/mongo

#7984 [Release] Bumped mongo version to 2.0.3
  .in-toto/tag.c295cf63.link
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mongo, release

#7980 Fix README formatting
  azure_iot_edge/README.md
Labels: changelog/no-changelog, documentation, integration/azure_iot_edge

#7977 Add config specs
  system_core/assets/configuration/spec.yaml
  system_core/datadog_checks/system_core/data/conf.yaml.example
  system_core/manifest.json
  system_core/setup.py
Labels: changelog/Added, documentation, integration/system_core

#7974 windows service config specs
  windows_service/assets/configuration/spec.yaml
  windows_service/datadog_checks/windows_service/data/conf.yaml.example
  windows_service/manifest.json
Labels: changelog/Added, documentation, integration/windows_service

#7985 [network] Add a parameter to disable receive and send queues collection
  network/README.md
  network/assets/configuration/spec.yaml
  network/datadog_checks/network/data/conf.yaml.default
  network/datadog_checks/network/network.py
Labels: changelog/no-changelog, documentation, integration/network

#7986 Add mongodb.connection_pool.totalinuse
  mongo/datadog_checks/mongo/metrics.py
  mongo/metadata.csv
  mongo/tests/results/metrics-connection-pool.json
Labels: changelog/Added, integration/mongo

#7987 Fix CockroachDB test setup for 20.2+ compatibility
  cockroachdb/tests/conftest.py
  cockroachdb/tests/docker/docker-compose.yaml
Labels: changelog/no-changelog, integration/cockroachdb

#7957 Require py2 for aerospike on macos
  aerospike/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  requirements-agent-release.txt
Labels: changelog/no-changelog, dependencies, documentation, integration/aerospike, integration/datadog_checks_base, release

#7958 Split tests into different files & small nits
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
  sqlserver/tests/conftest.py
  sqlserver/tests/test_e2e.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_unit.py
Labels: changelog/no-changelog, integration/sqlserver

#7936 Fix http validator
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/http.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#7983 Change DB utils behavior when a truncated row is found to only drop the row
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
  datadog_checks_base/tests/test_db_statements.py
Labels: changelog/Fixed, integration/datadog_checks_base

#7947 Change deep_database_monitoring Postgres language from BETA to ALPHA
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/postgres

#7948 Change deep_database_monitoring MySQL language from BETA to ALPHA
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/mysql

#7982 Fix query tag for postgres to use the normalized query
  postgres/datadog_checks/postgres/statements.py
Labels: changelog/Fixed, integration/postgres

#7993 [Release] Bumped datadog_checks_dev version to 5.1.0
  .in-toto/tag.31091c85.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#7960 Rename marklogic host tags
  marklogic/datadog_checks/marklogic/check.py
  marklogic/datadog_checks/marklogic/constants.py
  marklogic/datadog_checks/marklogic/parsers/storage.py
  marklogic/tests/test_marklogic.py
  marklogic/tests/test_parsers.py
  marklogic/tests/test_resource_filters.py
Labels: changelog/Fixed, integration/marklogic

#7944 Handle unavailable specific resource information
  marklogic/datadog_checks/marklogic/check.py
  marklogic/tests/fixtures/bad_resource_storage.yaml
  marklogic/tests/test_resource_filters.py
Labels: changelog/Fixed, integration/marklogic

#7990 Ignore startup nodes for lagtime
  mongo/datadog_checks/mongo/collectors/replica.py
  mongo/tests/fixtures/replSetGetStatus-replica-primary-in-shard
Labels: changelog/Fixed, integration/mongo

#7996 release
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  marklogic/CHANGELOG.md
  marklogic/datadog_checks/marklogic/__about__.py
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/marklogic, integration/mongo, integration/mysql, integration/postgres, release

#8001 Fix release platforms
  aerospike/manifest.json
  requirements-agent-release.txt
Labels: changelog/no-changelog, documentation, integration/aerospike, release

#7878 document persistent cache
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#8005 Add config specs
  go-metro/README.md
  go-metro/assets/configuration/spec.yaml
  go-metro/datadog_checks/go-metro/data/conf.yaml.example
  go-metro/manifest.json
  go-metro/setup.py
Labels: changelog/Added, documentation, integration/go-metro

#8006 Add config specs
  go_expvar/assets/configuration/spec.yaml
  go_expvar/datadog_checks/go_expvar/data/conf.yaml.example
  go_expvar/manifest.json
  go_expvar/setup.py
Labels: changelog/Added, documentation, integration/go_expvar

#8004 Add config specs
  eks_fargate/assets/configuration/spec.yaml
  eks_fargate/datadog_checks/eks_fargate/data/conf.yaml.example
  eks_fargate/manifest.json
  eks_fargate/setup.py
Labels: changelog/Added, documentation, integration/eks_fargate

#8000 Fix openmetrics integrations config specs
  azure_iot_edge/assets/configuration/spec.yaml
  azure_iot_edge/datadog_checks/azure_iot_edge/data/conf.yaml.example
  cilium/assets/configuration/spec.yaml
  cilium/datadog_checks/cilium/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/azure_iot_edge, integration/cilium

#7999 Include openmetrics integrations in http validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/http.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#7998 Add new database backup and fragmentation metrics
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
  sqlserver/tests/conftest.py
Labels: changelog/Added, documentation, integration/sqlserver

#7961 Adds helpful multi-line rule suggestion for MySQL general log file
  mysql/README.md
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/mysql

#7988 Add config spec
  oracle/assets/configuration/spec.yaml
  oracle/datadog_checks/oracle/data/conf.yaml.example
  oracle/manifest.json
Labels: changelog/Fixed, documentation, integration/oracle

#8017 CI: persist credentials when checking out code
  .azure-pipelines/templates/checkout-code.yml
Labels: changelog/no-changelog, dev/testing

#7992 Add config specs
  external_dns/assets/configuration/spec.yaml
  external_dns/datadog_checks/external_dns/data/auto_conf.yaml
  external_dns/datadog_checks/external_dns/data/conf.yaml.example
  external_dns/manifest.json
  external_dns/setup.py
Labels: changelog/Added, documentation, integration/external_dns

#8015 [Config specs] Allow longer line in compact_example lists
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/example.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8016 Fix line wrap in conf.yaml
  exchange_server/datadog_checks/exchange_server/data/conf.yaml.example
Labels: changelog/Fixed, integration/exchange_server

#8013 Remove unused 'tls_load_default_certs' option
  datadog_checks_base/datadog_checks/base/utils/tls.py
  datadog_checks_base/tests/test_tls.py
Labels: changelog/Fixed, integration/datadog_checks_base

#8014 Add config template for TLS helper
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/tls.yaml
Labels: dev/tooling, integration/datadog_checks_dev

#7981 Overcome GCP limit for cluster names (40 chars).
  istio/tests/terraform/1.2.3/main.tf
  istio/tests/terraform/1.5.1/main.tf
Labels: changelog/Fixed, changelog/no-changelog, integration/istio

#7914 Change community strings to match profile names
  snmp/tests/compose/data/chatsworth_pdu.snmprec
  snmp/tests/compose/data/cisco-asa-5525.snmprec
  snmp/tests/compose/data/cisco-nexus.snmprec
  snmp/tests/compose/data/f5-big-ip.snmprec
  snmp/tests/compose/data/generic-router.snmprec
  snmp/tests/compose/data/hp-ilo4.snmprec
  snmp/tests/compose/data/palo-alto.snmprec
  snmp/tests/conftest.py
  snmp/tests/test_bench.py
  snmp/tests/test_check.py
  snmp/tests/test_profiles.py
Labels: changelog/no-changelog, integration/snmp

#7797 DOCS-1237 Airflow for containers
  airflow/README.md
Labels: changelog/no-changelog, documentation, integration/airflow

#8020 Support inline comment to skip http validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/http.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7865 Add blog-like dashboard and migrate to integrations-core
  elastic/assets/dashboards/metrics.json
  elastic/assets/dashboards/overview.json
  elastic/manifest.json
Labels: changelog/no-changelog, documentation, integration/elastic

#7918 Add snmp tcpdump doc
  docs/developer/tutorials/snmp/tools.md
  mkdocs.yml
Labels: changelog/no-changelog, documentation, integration/snmp

#7971 Add generic Cisco ASA profile
  snmp/datadog_checks/snmp/data/profiles/cisco-asa-5525.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-asa.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-catalyst.yaml
  snmp/tests/compose/data/cisco-asa.snmprec
  snmp/tests/test_profiles.py
Labels: changelog/Changed, integration/snmp

#7525 Add device_index to idrac (AI-938)
  snmp/datadog_checks/snmp/data/profiles/_dell-rac.yaml
  snmp/datadog_checks/snmp/data/profiles/dell-poweredge.yaml
  snmp/tests/test_profiles.py
Labels: changelog/Fixed, do-not-merge/HOLD, integration/snmp

#8003 Amazon fargate config specs
  ecs_fargate/assets/configuration/spec.yaml
  ecs_fargate/datadog_checks/ecs_fargate/data/conf.yaml.example
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  ecs_fargate/manifest.json
  ecs_fargate/setup.py
Labels: changelog/Added, documentation, integration/ecs_fargate

#8024 Add config specs
  ibm_was/assets/configuration/spec.yaml
  ibm_was/datadog_checks/ibm_was/data/conf.yaml.example
  ibm_was/manifest.json
  ibm_was/setup.py
Labels: changelog/Added, documentation, integration/ibm_was

#7942 Add MarkLogic dashboard
  marklogic/assets/dashboards/overview.json
  marklogic/manifest.json
Labels: changelog/no-changelog, documentation, integration/marklogic

#8027 [Release] Bumped couch version to 3.13.1
  .in-toto/tag.c295cf63.link
  couch/CHANGELOG.md
  couch/datadog_checks/couch/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/couch, release

#7972 Fix version metadata collection
  nginx/datadog_checks/nginx/nginx.py
  nginx/tests/test_nginx.py
Labels: changelog/Fixed, integration/nginx

#8019 Support proxy settings
  snowflake/assets/configuration/spec.yaml
  snowflake/datadog_checks/snowflake/check.py
  snowflake/datadog_checks/snowflake/config.py
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  snowflake/tests/test_unit.py
Labels: changelog/Added, documentation, integration/snowflake

#8029 [tcp_queue_length] Rename tcp_queue_length metrics
  tcp_queue_length/manifest.json
  tcp_queue_length/metadata.csv
Labels: changelog/no-changelog, documentation, integration/tcp_queue_length

#8035 Bumped nginx version to 3.10.1
  .in-toto/tag.024e42fe.link
  nginx/CHANGELOG.md
  nginx/datadog_checks/nginx/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/nginx, release

#8030 [kubernetes] add replicasets and services dashboards
  kubernetes/assets/dashboards/kubernetes_replicasets.json
  kubernetes/assets/dashboards/kubernetes_services.json
  kubernetes/manifest.json
Labels: changelog/no-changelog, documentation, integration/kubernetes

#8033 Update oracle.database_wait_time_ratio unit to percent
  oracle/metadata.csv
Labels: changelog/no-changelog, integration/oracle

#8036 Fixed documentation for RabbitMQ logs
  rabbitmq/README.md
Labels: documentation, integration/rabbitmq

#8034 Add metric to check for prometheus
  haproxy/manifest.json
Labels: changelog/no-changelog, documentation, integration/haproxy

#8021 Update IBM MQ descriptions
  ibm_mq/metadata.csv
Labels: changelog/no-changelog, documentation, integration/ibm_mq

#8040 Add debug log line for replication status
  mysql/datadog_checks/mysql/mysql.py
Labels: changelog/Fixed, integration/mysql

#8042 Bumped mysql version to 2.1.2
  .in-toto/tag.024e42fe.link
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mysql, release

#7952 Update MySQL dashboard to be blog-like and migrate old dashboard
  mysql/assets/dashboards/overview-screenboard.json
  mysql/assets/dashboards/overview.json
  mysql/manifest.json
Labels: changelog/no-changelog, documentation, integration/mysql

#8032 Add new queue stats metrics for IBM MQ
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/datadog_checks/ibm_mq/metrics.py
  ibm_mq/metadata.csv
  ibm_mq/tests/common.py
  ibm_mq/tests/test_ibm_mq_int.py
Labels: changelog/Added, documentation, integration/ibm_mq

#8018 Add interface alias (ifAlias) as a tag to interface metrics
  snmp/datadog_checks/snmp/data/profiles/_generic-if.yaml
  snmp/tests/compose/data/cisco-nexus.snmprec
  snmp/tests/compose/data/f5-big-ip.snmprec
  snmp/tests/test_check.py
  snmp/tests/test_e2e.py
  snmp/tests/test_profiles.py
Labels: changelog/Added, integration/snmp

#8031 Add new Vault 1.5+ metrics
  vault/datadog_checks/vault/metrics.py
  vault/metadata.csv
Labels: changelog/Added, integration/vault

#7997 Add option to limit metric collection
  vertica/assets/configuration/spec.yaml
  vertica/datadog_checks/vertica/data/conf.yaml.example
  vertica/datadog_checks/vertica/vertica.py
  vertica/tests/test_vertica.py
Labels: changelog/Added, documentation, integration/vertica

#8044 Update aerospike dependency
  .azure-pipelines/scripts/aerospike/linux/55_build_client.sh
  aerospike/requirements.in
  aerospike/tox.ini
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: changelog/Added, dependencies, dev/testing, integration/aerospike, integration/datadog_checks_base

#8037 Helm chart url in Airflow docs
  airflow/tests/k8s_sample/README.md
Labels: changelog/no-changelog, documentation, integration/airflow

#7950 Add 'since' flag to manually specify tag to look from
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/show/changes.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8043 Add slapr for infra integrations channel
  .github/workflows/slapr.yml
Labels: changelog/no-changelog, dev/tooling

#8007 Add config specs
  ibm_db2/assets/configuration/spec.yaml
  ibm_db2/datadog_checks/ibm_db2/data/conf.yaml.example
  ibm_db2/manifest.json
  ibm_db2/setup.py
Labels: changelog/Added, documentation, integration/ibm_db2

#7884 Add SSL Support for Zookeeper
  zk/assets/configuration/spec.yaml
  zk/datadog_checks/zk/data/conf.yaml.example
  zk/datadog_checks/zk/zk.py
  zk/tests/compose/client/ca_cert.pem
  zk/tests/compose/client/cert.pem
  zk/tests/compose/client/private_key.pem
  zk/tests/compose/server/sample_keystore.jks
  zk/tests/compose/server/sample_truststore.jks
  zk/tests/compose/zk35_ssl.yaml
  zk/tests/compose/zk36plus_ssl.yaml
  zk/tests/compose/zoo35_ssl.cfg
  zk/tests/compose/zoo36_ssl.cfg
  zk/tests/conftest.py
  zk/tests/test_zk.py
  zk/tox.ini
Labels: documentation, integration/zk

#8039 Add information for configuring log4j
  tomcat/README.md
Labels: changelog/no-changelog, documentation, integration/tomcat

#8045 Add support for custom SQL queries
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/common.py
  sqlserver/tests/test_integration.py
Labels: changelog/Added, documentation, integration/sqlserver

#8051 [Release] Bumped zk version to 2.9.0
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  zk/CHANGELOG.md
  zk/datadog_checks/zk/__about__.py
Labels: changelog/no-changelog, integration/zk, release

#8046 Add new documentation to explain how to map JKS to PEM files for ZooKeeper SSL
  zk/README.md
Labels: changelog/no-changelog, documentation, integration/zk

#8053 Skip metrics instead of throwing exceptions
  varnish/datadog_checks/varnish/varnish.py
Labels: changelog/Fixed, integration/varnish

#8054 Bumped ibm_mq version to 3.11.0
  .in-toto/tag.024e42fe.link
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_mq, release

#8059 [network] Set the collect_connection_queues parameter default value to false
  network/README.md
  network/assets/configuration/spec.yaml
  network/datadog_checks/network/data/conf.yaml.default
  network/datadog_checks/network/network.py
  network/tests/test_network.py
Labels: changelog/Changed, documentation, integration/network

#8062 Backport #7985 and #8059 to 7.24.x: [network] Set the collect_connection_queues parameter default value to false
  network/README.md
  network/assets/configuration/spec.yaml
  network/datadog_checks/network/data/conf.yaml.default
  network/datadog_checks/network/network.py
  network/tests/test_network.py
Labels: changelog/Changed, documentation, integration/network

#7807 Add SonarQube integration
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  sonarqube/CHANGELOG.md
  sonarqube/MANIFEST.in
  sonarqube/README.md
  sonarqube/assets/configuration/spec.yaml
  sonarqube/assets/dashboards/sonarqube_overview.json
  sonarqube/assets/saved_views/status_overview.json
  sonarqube/assets/service_checks.json
  sonarqube/datadog_checks/__init__.py
  sonarqube/datadog_checks/sonarqube/__about__.py
  sonarqube/datadog_checks/sonarqube/__init__.py
  sonarqube/datadog_checks/sonarqube/check.py
  sonarqube/datadog_checks/sonarqube/constants.py
  sonarqube/datadog_checks/sonarqube/data/conf.yaml.example
  sonarqube/datadog_checks/sonarqube/data/metrics.yaml
  sonarqube/images/.gitkeep
  sonarqube/manifest.json
  sonarqube/metadata.csv
  sonarqube/requirements-dev.txt
  sonarqube/setup.py
  sonarqube/tests/__init__.py
  sonarqube/tests/common.py
  sonarqube/tests/conftest.py
  sonarqube/tests/docker/docker-compose.yaml
  sonarqube/tests/docker/project/copybooks/Attr.cpy
  sonarqube/tests/docker/project/copybooks/Custmas.cpy
  sonarqube/tests/docker/project/copybooks/Errparm.cpy
  sonarqube/tests/docker/project/copybooks/MNTSET2.CPY
  sonarqube/tests/docker/project/sonar-project.properties
  sonarqube/tests/docker/project/src/erlang/hello.erl
  sonarqube/tests/docker/project/src/javascript/Person.js
  sonarqube/tests/docker/project/src/kotlin/sample.kt
  sonarqube/tests/docker/project/src/swift/example.swift
  sonarqube/tests/metrics.py
  sonarqube/tests/test_check.py
  sonarqube/tests/test_e2e.py
  sonarqube/tests/test_unit.py
  sonarqube/tox.ini
Labels: changelog/Added, dev/testing, documentation, integration/sonarqube

#8058 Remove second as per_unit_name from metadata.csv
  varnish/metadata.csv
Labels: changelog/no-changelog, integration/varnish

#8061 Correct in which versions metrics appear
  varnish/metadata.csv
Labels: changelog/no-changelog, integration/varnish

#8060 varnish fix submission types
  varnish/metadata.csv
  varnish/tests/test_varnish.py
Labels: changelog/no-changelog, integration/varnish

#8055 Validate partner integration readmes contain an h2 support section
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8065 [Release] Bumped sonarqube version to 1.0.0
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  sonarqube/CHANGELOG.md
  sonarqube/datadog_checks/sonarqube/__about__.py
Labels: changelog/no-changelog, integration/sonarqube, release

#8025 Refactor to only parse configuration once
  ibm_was/datadog_checks/ibm_was/ibm_was.py
  ibm_was/datadog_checks/ibm_was/validation.py
  ibm_was/tests/test_unit.py
Labels: changelog/Added, documentation, integration/ibm_was

#8063 Add Mapping index to tag string value documentation
  docs/developer/tutorials/snmp/profile-format.md
Labels: changelog/no-changelog, documentation

#8028 Add more granular metrics
  spark/assets/configuration/spec.yaml
  spark/datadog_checks/spark/data/conf.yaml.example
  spark/datadog_checks/spark/spark.py
  spark/metadata.csv
  spark/tests/test_spark.py
Labels: changelog/Added, documentation, integration/spark

#8026 Add new metrics for WAL based logical replication
  postgres/datadog_checks/postgres/metrics_cache.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/conftest.py
  postgres/tests/test_unit.py
Labels: changelog/Added, integration/postgres

#8069 Bumped spark version to 1.18.0
  .in-toto/tag.024e42fe.link
  requirements-agent-release.txt
  spark/CHANGELOG.md
  spark/datadog_checks/spark/__about__.py
Labels: changelog/no-changelog, integration/spark, release

#8072 [Release] Bump SQLServer to 2.2.0
  .in-toto/tag.b023b02a.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/sqlserver, release

#8070 Add deprecation notice for metric[].name syntax
  snmp/datadog_checks/snmp/parsing/metrics.py
Labels: changelog/Fixed, integration/snmp

#8071 Improve symbol metric example
  snmp/datadog_checks/snmp/parsing/metrics.py
Labels: changelog/Fixed, integration/snmp

#8056 Add FCI metrics for SQLServer
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/README.md
  sqlserver/tests/common.py
Labels: changelog/Added, documentation, integration/sqlserver

#8075 Change rates from metadata.csv into gauges with a per_unit_name of se…
  varnish/metadata.csv
  varnish/tests/conftest.py
  varnish/tests/test_varnish.py
Labels: changelog/no-changelog, integration/varnish

#8080 Increase robustness of parsing of Unix socket responses in legacy implementation
  haproxy/datadog_checks/haproxy/legacy/haproxy.py
  haproxy/tests/legacy/test_unit.py
Labels: changelog/Fixed, integration/haproxy

#8082 [Release] Bump haproxy to 2.14.1
  .in-toto/tag.b023b02a.link
  haproxy/CHANGELOG.md
  haproxy/datadog_checks/haproxy/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/haproxy, release

#8068 Add log pipeline
  aerospike/README.md
  aerospike/assets/configuration/spec.yaml
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  aerospike/manifest.json
Labels: changelog/Added, documentation, integration/aerospike

#8087 Clarify effect of enabling `use_mount`
  disk/assets/configuration/spec.yaml
  disk/datadog_checks/disk/data/conf.yaml.default
Labels: changelog/no-changelog, documentation, integration/disk

#8049 Add missing metrics
  varnish/metadata.csv
  varnish/tests/common.py
  varnish/tests/test_varnish.py
Labels: changelog/no-changelog, dev/testing, integration/varnish

#8064 Move connection initialization outside init function
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/common.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_unit.py
Labels: changelog/Fixed, integration/sqlserver

#8083 Cache the client connection when there are no errors
  oracle/datadog_checks/oracle/oracle.py
  oracle/tests/test_config.py
  oracle/tests/test_metrics.py
  oracle/tests/test_oracle.py
Labels: changelog/Added, integration/oracle

#8088 [Release] Bumped oracle version to 3.1.0
  .in-toto/tag.c295cf63.link
  oracle/CHANGELOG.md
  oracle/datadog_checks/oracle/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/oracle, release

#8077 Support octopus version
  ceph/datadog_checks/ceph/ceph.py
  ceph/tests/common.py
  ceph/tests/test_integration.py
  ceph/tox.ini
Labels: changelog/Added, integration/ceph

#8090 [Release] Bumped ceph version to 2.3.0
  .in-toto/tag.57ce2495.link
  ceph/CHANGELOG.md
  ceph/datadog_checks/ceph/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ceph, release

#8091 Fix metadata
  varnish/metadata.csv
Labels: changelog/no-changelog, integration/varnish

#8094 [Release] Bumped postgres version to 5.3.0
  .in-toto/tag.31091c85.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres, release

#8086 Allow asserting metrics types with metadata in integration tests
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  mapreduce/tests/test_mapreduce_integration_e2e.py
  mongo/tests/test_integration.py
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/mapreduce, integration/mongo

#8097 Fix test environment
  airflow/tests/compose/docker-compose.yaml
Labels: changelog/no-changelog, integration/airflow
