Repository DataDog/integrations-core, pull requests merged in 2020-10, with the labels that each got.

#7683 Update documentation for how to merge
  docs/developer/guidelines/pr.md
Labels: changelog/no-changelog, documentation

#7698 Fix mongo readme typo
  mongo/README.md
Labels: changelog/no-changelog, documentation, integration/mongo

#7647 Cleanup mock_dns library calls
  .azure-pipelines/scripts/mapreduce/linux/50_increase_docker_memory.sh
  datadog_checks_tests_helper/datadog_test_libs/utils/mock_dns.py
  mapreduce/tests/common.py
  mapreduce/tests/conftest.py
  mapreduce/tests/test_mapreduce_integration_e2e.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_tests_helper, integration/mapreduce

#7636 Add supervisord logs
  docs/developer/ddev/test.md
  supervisord/README.md
  supervisord/assets/configuration/spec.yaml
  supervisord/datadog_checks/supervisord/data/conf.yaml.example
  supervisord/manifest.json
  supervisord/setup.py
  supervisord/tests/compose/supervisord.yaml
  supervisord/tests/conftest.py
Labels: changelog/Added, documentation, integration/supervisord

#7687 Fix config spec default values
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/mysql

#7697 Add active directory dashboard
  active_directory/assets/dashboards/active_directory.json
  active_directory/manifest.json
Labels: changelog/no-changelog, documentation, integration/active_directory

#7701 Add http validator to CI
  .azure-pipelines/templates/run-validations.yml
Labels: changelog/no-changelog, dev/testing

#7615 Refactor collection logic
  mongo/datadog_checks/mongo/collectors/__init__.py
  mongo/datadog_checks/mongo/collectors/base.py
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/current_op.py
  mongo/datadog_checks/mongo/collectors/custom_queries.py
  mongo/datadog_checks/mongo/collectors/db_stat.py
  mongo/datadog_checks/mongo/collectors/index_stats.py
  mongo/datadog_checks/mongo/collectors/replica.py
  mongo/datadog_checks/mongo/collectors/replication_info.py
  mongo/datadog_checks/mongo/collectors/server_status.py
  mongo/datadog_checks/mongo/collectors/top.py
  mongo/datadog_checks/mongo/common.py
  mongo/datadog_checks/mongo/metrics.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/datadog_checks/mongo/utils.py
  mongo/tests/fixtures/isMaster
  mongo/tests/test_integration.py
  mongo/tests/test_unit.py
Labels: changelog/Fixed, integration/mongo

#7710 Fix log reporting
  docs/developer/.scripts/33_render_status.py
Labels: changelog/no-changelog

#7709 Add config spec
  twemproxy/assets/configuration/spec.yaml
  twemproxy/datadog_checks/twemproxy/data/conf.yaml.example
  twemproxy/manifest.json
  twemproxy/setup.py
Labels: changelog/Added, documentation, integration/twemproxy

#7711 exclude when not possible
  docs/developer/.scripts/33_render_status.py
Labels: changelog/no-changelog

#7716 exclude when not possible
  docs/developer/.scripts/33_render_status.py
Labels: changelog/no-changelog

#7722 Send bytes.in/out.total metrics with legacy check
  haproxy/datadog_checks/haproxy/legacy/const.py
  haproxy/datadog_checks/haproxy/legacy/haproxy.py
  haproxy/tests/legacy/common.py
Labels: changelog/Added, integration/haproxy

#7659 Collect connection state metrics on BSD/OSX
  network/datadog_checks/network/network.py
Labels: changelog/Added, integration/network

#7708 [doc] Add encoding in log config sample
  active_directory/datadog_checks/active_directory/data/conf.yaml.example
  activemq/datadog_checks/activemq/data/conf.yaml.example
  airflow/datadog_checks/airflow/data/conf.yaml.example
  ambari/datadog_checks/ambari/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  cassandra/datadog_checks/cassandra/data/conf.yaml.example
  ceph/datadog_checks/ceph/data/conf.yaml.example
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  couch/datadog_checks/couch/data/conf.yaml.example
  couchbase/datadog_checks/couchbase/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/logs.yaml
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  druid/datadog_checks/druid/data/conf.yaml.example
  elastic/datadog_checks/elastic/data/conf.yaml.example
  envoy/datadog_checks/envoy/data/conf.yaml.example
  flink/datadog_checks/flink/data/conf.yaml.example
  gearmand/datadog_checks/gearmand/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  gunicorn/datadog_checks/gunicorn/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  hazelcast/datadog_checks/hazelcast/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_namenode/datadog_checks/hdfs_namenode/data/conf.yaml.example
  hive/datadog_checks/hive/data/conf.yaml.example
  hivemq/datadog_checks/hivemq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ignite/datadog_checks/ignite/data/conf.yaml.example
  jboss_wildfly/datadog_checks/jboss_wildfly/data/conf.yaml.example
  kafka/datadog_checks/kafka/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  mapreduce/datadog_checks/mapreduce/data/conf.yaml.example
  marathon/datadog_checks/marathon/data/conf.yaml.example
  marklogic/datadog_checks/marklogic/data/conf.yaml.example
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mysql/datadog_checks/mysql/data/conf.yaml.example
  nginx/datadog_checks/nginx/data/conf.yaml.example
  pgbouncer/datadog_checks/pgbouncer/data/conf.yaml.example
  postgres/datadog_checks/postgres/data/conf.yaml.example
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
  redisdb/datadog_checks/redisdb/data/conf.yaml.example
  rethinkdb/datadog_checks/rethinkdb/data/conf.yaml.example
  riak/datadog_checks/riak/data/conf.yaml.example
  sidekiq/datadog_checks/sidekiq/data/conf.yaml.example
  solr/datadog_checks/solr/data/conf.yaml.example
  spark/datadog_checks/spark/data/conf.yaml.example
  sqlserver/README.md
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  squid/datadog_checks/squid/data/conf.yaml.example
  supervisord/datadog_checks/supervisord/data/conf.yaml.example
  tenable/datadog_checks/tenable/data/conf.yaml.example
  tomcat/datadog_checks/tomcat/data/conf.yaml.example
  varnish/datadog_checks/varnish/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
  vertica/datadog_checks/vertica/data/conf.yaml.example
  yarn/datadog_checks/yarn/data/conf.yaml.example
  zk/datadog_checks/zk/data/conf.yaml.example
Labels: changelog/Added, dev/tooling, documentation, integration/active_directory, integration/activemq, integration/airflow, integration/ambari, integration/apache, integration/cassandra, integration/ceph, integration/clickhouse, integration/confluent_platform, integration/consul, integration/couch, integration/couchbase, integration/datadog_checks_dev, integration/druid, integration/elastic, integration/envoy, integration/flink, integration/gearmand, integration/gitlab, integration/gitlab_runner, integration/gunicorn, integration/haproxy, integration/hazelcast, integration/hdfs_datanode, integration/hdfs_namenode, integration/hive, integration/hivemq, integration/ibm_mq, integration/ignite, integration/jboss_wildfly, integration/kafka, integration/kong, integration/mapreduce, integration/marathon, integration/marklogic, integration/mongo, integration/mysql, integration/nginx, integration/pgbouncer, integration/postgres, integration/rabbitmq, integration/redisdb, integration/rethinkdb, integration/riak, integration/sidekiq, integration/solr, integration/spark, integration/sqlserver, integration/squid, integration/supervisord, integration/tenable, integration/tomcat, integration/varnish, integration/vault, integration/vertica, integration/yarn, integration/zk

#7706 Fix missing tags from tag_by
  wmi_check/datadog_checks/wmi_check/wmi_check.py
  wmi_check/tests/test_wmi_check.py
Labels: changelog/Fixed, integration/wmi_check

#7717 Properly handle a parsing edge case
  envoy/datadog_checks/envoy/parser.py
  envoy/tests/fixtures/multiple_services
Labels: changelog/Fixed, integration/envoy

#7728 Add example of why we test cover test code
  docs/developer/faq/faq.md
Labels: changelog/no-changelog, documentation

#7720 Add coredns dashboard
  coredns/assets/dashboards/coredns.json
  coredns/manifest.json
Labels: changelog/no-changelog, documentation, integration/coredns

#7718 Update kafka-python to 2.0.2
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  kafka_consumer/requirements.in
Labels: changelog/Fixed, dependencies, integration/datadog_checks_base, integration/kafka_consumer

#7730 Update metric_to_check for newer Openshift version
  openshift/manifest.json
  openshift/metadata.csv
Labels: changelog/no-changelog, documentation, integration/openshift

#6556 Collect version metadata
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_kafka_consumer.py
Labels: changelog/Added, integration/kafka_consumer

#7688 Support alternative Mac Address index
  snmp/datadog_checks/snmp/data/profiles/chatsworth_pdu.yaml
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/compose/data/chatsworth.snmprec
  snmp/tests/test_profiles.py
  snmp/tests/test_utils.py
Labels: changelog/Added, integration/snmp

#7726 [Release] Bumped haproxy to 2.13.0
  .in-toto/tag.024e42fe.link
  haproxy/CHANGELOG.md
  haproxy/datadog_checks/haproxy/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/haproxy, qa/skip-qa, release

#7727 Release wmi
  .in-toto/tag.4a5409a2.link
  requirements-agent-release.txt
  wmi_check/CHANGELOG.md
  wmi_check/datadog_checks/wmi_check/__about__.py
Labels: changelog/no-changelog, integration/wmi_check, release

#7731 varnish: fix parsing of varnishstat 6.5 JSON output
  varnish/datadog_checks/varnish/varnish.py
  varnish/tests/fixtures/stats_output_json_6.5
  varnish/tests/test_unit.py
Labels: changelog/Fixed, integration/varnish

#7732 Re-add empty_default_hostname to configuration by default
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/vsphere

#7737 Clarify password percent-encoding expectations
  pgbouncer/assets/configuration/spec.yaml
  pgbouncer/datadog_checks/pgbouncer/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/pgbouncer

#7719 Add lighttpd logs
  lighttpd/README.md
  lighttpd/assets/configuration/spec.yaml
  lighttpd/datadog_checks/lighttpd/data/conf.yaml.example
  lighttpd/manifest.json
  lighttpd/setup.py
  lighttpd/tests/conftest.py
  lighttpd/tests/docker/noauth/docker-compose.yaml
  lighttpd/tests/docker/noauth/lighttpd.conf
Labels: changelog/Added, documentation, integration/lighttpd

#7735 Add config spec
  scylla/assets/configuration/spec.yaml
  scylla/datadog_checks/scylla/data/conf.yaml.example
  scylla/manifest.json
  scylla/setup.py
Labels: changelog/Added, documentation, integration/scylla

#7703 Add OAuth authentication option and use new connection on check run
  snowflake/assets/configuration/spec.yaml
  snowflake/datadog_checks/snowflake/check.py
  snowflake/datadog_checks/snowflake/config.py
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  snowflake/tests/test_unit.py
Labels: changelog/Added, documentation, integration/snowflake

#7712 Check the git token scope when calling `get_team_members`
  datadog_checks_dev/datadog_checks/dev/tooling/github.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7667 Support additional performance metrics
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
  sqlserver/tests/compose/Dockerfile
  sqlserver/tests/compose/docker-compose.yaml
  sqlserver/tests/compose/entrypoint.sh
  sqlserver/tests/compose/setup.sh
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_sqlserver.py
Labels: changelog/Added, documentation, integration/sqlserver

#7740 Update Watchdog metrics
  envoy/datadog_checks/envoy/metrics.py
  envoy/tests/fixtures/multiple_services
Labels: changelog/Fixed, integration/envoy

#7741 [Release] Bumped envoy version to 1.19.0
  .in-toto/tag.c295cf63.link
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/envoy, release

#7699 Add log support
  cacti/README.md
  cacti/assets/configuration/spec.yaml
  cacti/datadog_checks/cacti/data/conf.yaml.example
  cacti/manifest.json
  cacti/tests/compose/docker-compose.yaml
  cacti/tests/conftest.py
Labels: changelog/Added, documentation, integration/cacti

#7745 Add config spec
  presto/assets/configuration/spec.yaml
  presto/datadog_checks/presto/data/conf.yaml.example
  presto/manifest.json
Labels: changelog/Added, documentation, integration/presto

#7681 Make 7.23 integrations public
  marklogic/manifest.json
Labels: changelog/no-changelog, documentation, integration/marklogic

#7747 Fix token permissions documentation
  docs/developer/ddev/configuration.md
Labels: changelog/no-changelog, documentation

#7742 Add config spec
  powerdns_recursor/assets/configuration/spec.yaml
  powerdns_recursor/datadog_checks/powerdns_recursor/data/conf.yaml.example
  powerdns_recursor/manifest.json
  powerdns_recursor/setup.py
Labels: changelog/Added, documentation, integration/powerdns_recursor

#7744 Fix building of the connection string
  mongo/datadog_checks/mongo/mongo.py
  mongo/datadog_checks/mongo/utils.py
  mongo/tests/test_unit.py
Labels: changelog/Fixed, integration/mongo

#7660 Add ability to dynamically get authentication information
  activemq_xml/datadog_checks/activemq_xml/data/conf.yaml.example
  airflow/datadog_checks/airflow/data/conf.yaml.example
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  ambari/datadog_checks/ambari/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cisco_aci/datadog_checks/cisco_aci/data/conf.yaml.example
  cloud_foundry_api/datadog_checks/cloud_foundry_api/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  couch/datadog_checks/couch/data/conf.yaml.example
  couchbase/datadog_checks/couchbase/data/conf.yaml.example
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/test_http.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
  datadog_checks_dev/tests/tooling/configuration/test_load.py
  druid/datadog_checks/druid/data/conf.yaml.example
  elastic/datadog_checks/elastic/data/conf.yaml.example
  envoy/datadog_checks/envoy/data/conf.yaml.example
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_namenode/datadog_checks/hdfs_namenode/data/conf.yaml.example
  http_check/datadog_checks/http_check/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  kube_scheduler/datadog_checks/kube_scheduler/data/conf.yaml.example
  lighttpd/datadog_checks/lighttpd/data/conf.yaml.example
  mapreduce/datadog_checks/mapreduce/data/conf.yaml.example
  marathon/datadog_checks/marathon/data/conf.yaml.example
  marklogic/datadog_checks/marklogic/data/conf.yaml.example
  mesos_master/datadog_checks/mesos_master/data/conf.yaml.example
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
  nginx/datadog_checks/nginx/data/conf.yaml.example
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  powerdns_recursor/datadog_checks/powerdns_recursor/data/conf.yaml.example
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
  riak/datadog_checks/riak/data/conf.yaml.example
  scylla/datadog_checks/scylla/data/conf.yaml.example
  spark/datadog_checks/spark/data/conf.yaml.example
  squid/datadog_checks/squid/data/conf.yaml.example
  teamcity/datadog_checks/teamcity/data/conf.yaml.example
  twistlock/datadog_checks/twistlock/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
  yarn/datadog_checks/yarn/data/conf.yaml.example
Labels: changelog/Added, dev/tooling, integration/activemq_xml, integration/airflow, integration/amazon_msk, integration/ambari, integration/apache, integration/cilium, integration/cisco_aci, integration/cloud_foundry_api, integration/cockroachdb, integration/consul, integration/coredns, integration/couch, integration/couchbase, integration/datadog_checks_base, integration/datadog_checks_dev, integration/druid, integration/elastic, integration/envoy, integration/fluentd, integration/gitlab, integration/gitlab_runner, integration/haproxy, integration/hdfs_datanode, integration/hdfs_namenode, integration/http_check, integration/istio, integration/kong, integration/kube_apiserver_metrics, integration/kube_scheduler, integration/lighttpd, integration/mapreduce, integration/marathon, integration/marklogic, integration/mesos_master, integration/mesos_slave, integration/nginx, integration/nginx_ingress_controller, integration/openmetrics, integration/powerdns_recursor, integration/rabbitmq, integration/riak, integration/scylla, integration/spark, integration/squid, integration/teamcity, integration/twistlock, integration/vault, integration/yarn

#7756 DOCS-1268 fluentd link update
  fluentd/README.md
Labels: changelog/no-changelog, documentation, integration/fluentd

#7757 Fix typos in readme
  gitlab_runner/README.md
Labels: changelog/no-changelog, documentation, integration/gitlab_runner

#7759 [documentation] Removing TCP queue length docs
  tcp_queue_length/manifest.json
Labels: changelog/no-changelog, do-not-merge/HOLD, documentation, integration/tcp_queue_length

#7729 Update redis dashboard to be blog-like
  redisdb/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/redisdb

#7746 Validate metrics_metadata in manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7761 Make inventories metadata testable in e2e
  datadog_checks_dev/datadog_checks/dev/_env.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  proxysql/tests/test_proxysql.py
Labels: changelog/Added, integration/datadog_checks_dev, integration/proxysql

#7762 Update README.md
  zk/README.md
Labels: changelog/no-changelog, documentation, integration/zk

#7750 QueryManager - Prevent queries leaking between check instances
  clickhouse/datadog_checks/clickhouse/queries.py
  clickhouse/tests/test_unit.py
  datadog_checks_base/datadog_checks/base/utils/db/core.py
  datadog_checks_base/tests/test_db.py
  oracle/datadog_checks/oracle/queries.py
  oracle/tests/test_metrics.py
  proxysql/datadog_checks/proxysql/queries.py
  snowflake/datadog_checks/snowflake/queries.py
  snowflake/tests/test_snowflake.py
Labels: changelog/Changed, integration/clickhouse, integration/datadog_checks_base, integration/oracle, integration/proxysql, integration/snowflake

#7753 Add config spec
  riakcs/assets/configuration/spec.yaml
  riakcs/datadog_checks/riakcs/data/conf.yaml.example
  riakcs/manifest.json
  riakcs/setup.py
Labels: changelog/Added, documentation, integration/riakcs

#7763 Add support for hashing sequences that contain None in `hash_mutable` on Python 3
  datadog_checks_base/datadog_checks/base/utils/containers.py
  datadog_checks_base/tests/test_utils.py
Labels: changelog/Added, integration/datadog_checks_base

#7768 Revert "Add support for hashing sequences that contain None in `hash_mutable` on Python 3"
  datadog_checks_base/datadog_checks/base/utils/containers.py
  datadog_checks_base/tests/test_utils.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#7570 Support couch v3
  couch/datadog_checks/couch/couch.py
  couch/metadata.csv
  couch/tests/conftest.py
  couch/tests/test_couchv2.py
  couch/tox.ini
Labels: changelog/Added, integration/couch

#7602 add labels from `self.SAMPLE_LABELS` to container status metrics
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Added, integration/kubernetes_state

#7774 [Release] Bumped datadog_checks_base version to 15.0.0
  .in-toto/tag.31091c85.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#7775 Fix custom_queries description
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/db.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  vertica/datadog_checks/vertica/data/conf.yaml.example
Labels: changelog/no-changelog, dev/tooling, integration/clickhouse, integration/datadog_checks_dev, integration/mysql, integration/snowflake, integration/vertica

#7776 Update documentation about service check message limit
  http_check/assets/configuration/spec.yaml
  http_check/datadog_checks/http_check/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/http_check

#6622 Fix vault raft storage metric name
  vault/datadog_checks/vault/metrics.py
Labels: changelog/Fixed, integration/vault

#7778 Update documentation about service check message limit
  http_check/README.md
Labels: changelog/no-changelog, documentation, integration/http_check

#7777 release vault
  .in-toto/tag.4a5409a2.link
  requirements-agent-release.txt
  vault/CHANGELOG.md
  vault/datadog_checks/vault/__about__.py
Labels: changelog/no-changelog, integration/vault, release

#7779 Add support for hashing sequences containing None on Python 3
  datadog_checks_base/datadog_checks/base/utils/containers.py
  datadog_checks_base/tests/test_utils.py
Labels: changelog/Added, integration/datadog_checks_base

#7765 Add newly documented metrics
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/test_envoy.py
Labels: changelog/Added, integration/envoy

#7764 Fix percent-encoding instructions
  pgbouncer/assets/configuration/spec.yaml
  pgbouncer/datadog_checks/pgbouncer/data/conf.yaml.example
  pgbouncer/tests/common.py
  pgbouncer/tests/compose/docker-compose-old.yml
  pgbouncer/tests/compose/docker-compose.yml
  pgbouncer/tests/resources/pg/02_datadog_test.sh
  pgbouncer/tests/resources/pg/03_dogs.sh
  pgbouncer/tests/test_pgbouncer_integration_e2e.py
Labels: changelog/no-changelog, documentation, integration/pgbouncer

#7766 Elasticsearch host setup note
  elastic/README.md
Labels: changelog/no-changelog, documentation, integration/elastic

#7773 Add statsd logs
  statsd/README.md
  statsd/assets/configuration/spec.yaml
  statsd/datadog_checks/statsd/data/conf.yaml.example
  statsd/tests/compose/Dockerfile
  statsd/tests/compose/statsd.yaml
  statsd/tests/test_statsd.py
Labels: changelog/Added, documentation, integration/statsd

#7781 Support Windows
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  kafka_consumer/manifest.json
  kafka_consumer/requirements.in
Labels: changelog/Added, dependencies, documentation, integration/datadog_checks_base, integration/kafka_consumer

#7783 [Release] Bumped snowflake version to 2.0.0
  .in-toto/tag.57ce2495.link
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: changelog/no-changelog, integration/snowflake, release

#7760 Add config specs
  postfix/assets/configuration/spec.yaml
  postfix/datadog_checks/postfix/data/conf.yaml.example
  postfix/manifest.json
Labels: changelog/Added, documentation, integration/postfix

#7733 Validate JMX integrations metrics.yaml
  .azure-pipelines/templates/run-validations.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/jmx_metrics.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  hivemq/datadog_checks/hivemq/data/metrics.yaml
  ignite/datadog_checks/ignite/data/metrics.yaml
  jboss_wildfly/datadog_checks/jboss_wildfly/data/metrics.yaml
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev, integration/hivemq, integration/ignite, integration/jboss_wildfly

#7782 Adding tag ciscoEnvMonSupplyStatusDescr to disambiguate metric
  snmp/datadog_checks/snmp/data/profiles/_cisco-generic.yaml
  snmp/tests/test_profiles.py
Labels: changelog/Fixed, integration/snmp

#7787 release tls
  .in-toto/tag.4a5409a2.link
  requirements-agent-release.txt
  tls/CHANGELOG.md
  tls/datadog_checks/tls/__about__.py
Labels: changelog/no-changelog, integration/tls, release

#7786 [Release] Bumped datadog_checks_dev version to 4.2.0
  .in-toto/tag.fbc63ae0.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#7713 Collect only the metrics that make sense based on the type of mongo instance
  mongo/datadog_checks/mongo/collectors/__init__.py
  mongo/datadog_checks/mongo/collectors/fsynclock.py
  mongo/datadog_checks/mongo/collectors/replica.py
  mongo/datadog_checks/mongo/collectors/replication_info.py
  mongo/datadog_checks/mongo/common.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/common.py
  mongo/tests/conftest.py
  mongo/tests/fixtures/find_one_system_replset
  mongo/tests/fixtures/getCmdLineOpts-mongos
  mongo/tests/fixtures/getCmdLineOpts-replica-primary
  mongo/tests/fixtures/getCmdLineOpts-replica-primary-in-shard
  mongo/tests/fixtures/getCmdLineOpts-replica-secondary
  mongo/tests/fixtures/getCmdLineOpts-replica-secondary-in-shard
  mongo/tests/fixtures/getCmdLineOpts-standalone
  mongo/tests/fixtures/replSetGetConfig
  mongo/tests/fixtures/replSetGetStatus
  mongo/tests/fixtures/replSetGetStatus-replica-primary
  mongo/tests/fixtures/replSetGetStatus-replica-primary-in-shard
  mongo/tests/fixtures/replSetGetStatus-replica-secondary
  mongo/tests/fixtures/replSetGetStatus-replica-secondary-in-shard
  mongo/tests/mocked_api.py
  mongo/tests/results/metrics-collection.json
  mongo/tests/results/metrics-custom-queries.json
  mongo/tests/results/metrics-dbstats-local.json
  mongo/tests/results/metrics-dbstats.json
  mongo/tests/results/metrics-default.json
  mongo/tests/results/metrics-fsynclock.json
  mongo/tests/results/metrics-indexes-stats.json
  mongo/tests/results/metrics-mongos.json
  mongo/tests/results/metrics-oplog.json
  mongo/tests/results/metrics-replset-primary.json
  mongo/tests/results/metrics-replset-secondary.json
  mongo/tests/results/metrics-top.json
  mongo/tests/test_e2e.py
  mongo/tests/test_integration.py
Labels: changelog/Changed, integration/mongo

#7790 Add config spec
  kyototycoon/assets/configuration/spec.yaml
  kyototycoon/datadog_checks/kyototycoon/data/auto_conf.yaml
  kyototycoon/datadog_checks/kyototycoon/data/conf.yaml.example
  kyototycoon/manifest.json
  kyototycoon/setup.py
Labels: changelog/Added, documentation, integration/kyototycoon

#7793 Add source logs in statsd manifest
  statsd/manifest.json
Labels: changelog/no-changelog, documentation, integration/statsd

#7752 Fix `AttributeError` when using `additional_metrics` and counter `inst_name` is null
  datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
  datadog_checks_base/tests/test_pdhbasecheck.py
Labels: changelog/Fixed, integration/datadog_checks_base

#7595 fix which prometheus metric is used for reload.success to properly monitor nginx config reload errors
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/nginx_ingress_controller.py
  nginx_ingress_controller/metadata.csv
  nginx_ingress_controller/tests/test_nginx_ingress_controller.py
Labels: changelog/Added, containers, integration/nginx_ingress_controller

#7755 DOCS-1269 ecs fargate tabs
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#7795 Fix test environment setup with mongo 4.1
  mongo/tests/compose/scripts/init-shard01.js
  mongo/tests/conftest.py
Labels: changelog/no-changelog, dev/testing, integration/mongo

#7794 Stop collecting custom queries from secondaries by default
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/common.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/test_integration.py
Labels: changelog/Changed, documentation, integration/mongo

#7788 Add note for metrics not reported when using Airflow KubernetesExecutor
  airflow/README.md
Labels: changelog/no-changelog, documentation, integration/airflow

#7791 Add logs support
  kyototycoon/README.md
  kyototycoon/assets/configuration/spec.yaml
  kyototycoon/datadog_checks/kyototycoon/data/conf.yaml.example
  kyototycoon/manifest.json
  kyototycoon/tests/compose/compose_kyototycoon.yaml
  kyototycoon/tests/conftest.py
Labels: changelog/Added, documentation, integration/kyototycoon

#7593 Add log integration for NFSstat
  nfsstat/README.md
  nfsstat/assets/configuration/spec.yaml
  nfsstat/datadog_checks/nfsstat/data/conf.yaml.example
  nfsstat/manifest.json
Labels: changelog/no-changelog, documentation, integration/nfsstat, logs

#7784 Migrate apache dashboard and update with blog style
  apache/assets/dashboards/apache_dashboard.json
  apache/manifest.json
Labels: changelog/no-changelog, documentation, integration/apache

#7785 Implements token reader for DC/OS Auth JWT token retrieval with login
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/requirements.in
  datadog_checks_base/setup.py
  datadog_checks_base/tests/fixtures/dcos/private-key.pem
  datadog_checks_base/tests/fixtures/dcos/public-key.pem
  datadog_checks_base/tests/test_http.py
Labels: changelog/Added, containers, dependencies, integration/datadog_checks_base

#7802 Update CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog

#7803 [dcos-auth] Fix bug with exp timestamp being non-int
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#7600 Add log integration for Exchange Server and add spec.yaml
  exchange_server/README.md
  exchange_server/assets/configuration/spec.yaml
  exchange_server/datadog_checks/exchange_server/data/conf.yaml.example
  exchange_server/manifest.json
Labels: changelog/no-changelog, documentation, integration/exchange_server, logs

#7809 Add missing custom_jar_paths option
  jboss_wildfly/assets/configuration/spec.yaml
  jboss_wildfly/datadog_checks/jboss_wildfly/data/conf.yaml.example
Labels: documentation, integration/jboss_wildfly

#7808 Allow specifying a different database in custom queries
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/collectors/custom_queries.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/tests/conftest.py
  mongo/tests/fixtures/custom-query-aggregate
  mongo/tests/fixtures/custom-query-count
  mongo/tests/fixtures/custom-query-find
  mongo/tests/mocked_api.py
  mongo/tests/results/metrics-custom-queries.json
Labels: changelog/Added, documentation, integration/mongo

#7770 Add new metrics for mongos
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/collectors/conn_pool_stats.py
  mongo/datadog_checks/mongo/collectors/jumbo_stats.py
  mongo/datadog_checks/mongo/collectors/session_stats.py
  mongo/datadog_checks/mongo/common.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/datadog_checks/mongo/metrics.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/metadata.csv
  mongo/tests/conftest.py
  mongo/tests/fixtures/connPoolStats
  mongo/tests/fixtures/system.sessions
  mongo/tests/mocked_api.py
  mongo/tests/results/metrics-connection-pool.json
  mongo/tests/results/metrics-jumbo.json
  mongo/tests/results/metrics-sessions.json
  mongo/tests/test_integration.py
Labels: changelog/Added, documentation, integration/mongo

#7780 dbm do optional debug for postgres
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/statements.py
Labels: integration/postgres

#7811 Add warning when running environment without dev flag for non-core integrations
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7810 Add bytes_spilled metrics
  snowflake/datadog_checks/snowflake/queries.py
  snowflake/metadata.csv
  snowflake/tests/test_snowflake.py
Labels: changelog/Added, integration/snowflake

#7805 A bit of refactoring and documentation
  envoy/datadog_checks/envoy/parser.py
Labels: changelog/no-changelog, integration/envoy

#7799 release check base
  .in-toto/tag.4a5409a2.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#7816 Fix release-hash-check
  .github/workflows/release-hash-check.yml
Labels: changelog/no-changelog, dev/tooling

#7818 Revert "release check base"
  .in-toto/tag.4a5409a2.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#7820 [Release] Bumped datadog_checks_base version to 15.1.0
  .in-toto/tag.31091c85.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#7724 Add fixed_cards_mover.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/fixed_cards_mover.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#7826 Fix release-hash-check
  .github/workflows/release-hash-check.yml
Labels: changelog/no-changelog, dev/tooling

#7817 Enforce type checking on winpdh_base.py
  datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
  datadog_checks_base/tox.ini
Labels: changelog/Added, integration/datadog_checks_base

#7789 Sample Airflow setup with KubernetesExecutor
  airflow/tests/k8s_sample/README.md
  airflow/tests/k8s_sample/airflow_values.yaml
  airflow/tests/k8s_sample/dags/task_fail.py
  airflow/tests/k8s_sample/dags/task_ok.py
  airflow/tests/k8s_sample/datadog_values.yaml
  airflow/tests/k8s_sample/local-storage.yaml
  airflow/tests/k8s_sample/pv.yaml
Labels: changelog/no-changelog, documentation, integration/airflow

#7813 [Recommended Monitors] Fix renotify_interval
  nginx/assets/monitors/4xx.json
  nginx/assets/monitors/5xx.json
  nginx/assets/monitors/upstream_peer_fails.json
  scylla/assets/monitors/instance_down.json
Labels: changelog/no-changelog, integration/nginx, integration/scylla, recommended_monitors

#7812 Add a TLSContextWrapper to the base class
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/tls.py
  datadog_checks_base/tests/test_tls.py
Labels: changelog/Added, integration/datadog_checks_base

#7825 Skip collecting prometheus metrics when in replication dr mode
  vault/datadog_checks/vault/vault.py
  vault/tests/test_vault.py
Labels: changelog/Added, integration/vault

#7830 [Release] Bumped vault version to 2.9.0
  .in-toto/tag.57ce2495.link
  requirements-agent-release.txt
  vault/CHANGELOG.md
  vault/datadog_checks/vault/__about__.py
Labels: changelog/no-changelog, integration/vault, release

#7831 Update Snowflake Changelog
  snowflake/CHANGELOG.md
Labels: changelog/no-changelog, integration/snowflake

#7832 Properly pin base package version for new QueryManager feature
  snowflake/setup.py
Labels: changelog/Fixed, integration/snowflake

#7465 Add Azure IoT Edge integration
  .azure-pipelines/changes.yml
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  azure_iot_edge/CHANGELOG.md
  azure_iot_edge/MANIFEST.in
  azure_iot_edge/README.md
  azure_iot_edge/assets/configuration/spec.yaml
  azure_iot_edge/assets/dashboards/azure_iot_edge_overview.json
  azure_iot_edge/assets/monitors/disk_usage.json
  azure_iot_edge/assets/monitors/edgehub_retries.json
  azure_iot_edge/assets/monitors/iothub_syncs.json
  azure_iot_edge/assets/monitors/memory_usage.json
  azure_iot_edge/assets/service_checks.json
  azure_iot_edge/datadog_checks/__init__.py
  azure_iot_edge/datadog_checks/azure_iot_edge/__about__.py
  azure_iot_edge/datadog_checks/azure_iot_edge/__init__.py
  azure_iot_edge/datadog_checks/azure_iot_edge/check.py
  azure_iot_edge/datadog_checks/azure_iot_edge/config.py
  azure_iot_edge/datadog_checks/azure_iot_edge/data/conf.yaml.example
  azure_iot_edge/datadog_checks/azure_iot_edge/metrics.py
  azure_iot_edge/datadog_checks/azure_iot_edge/types.py
  azure_iot_edge/images/.gitkeep
  azure_iot_edge/manifest.json
  azure_iot_edge/metadata.csv
  azure_iot_edge/requirements-dev.txt
  azure_iot_edge/requirements.in
  azure_iot_edge/setup.py
  azure_iot_edge/tests/README.md
  azure_iot_edge/tests/__init__.py
  azure_iot_edge/tests/common.py
  azure_iot_edge/tests/compose/device/Dockerfile
  azure_iot_edge/tests/compose/device/rund.sh
  azure_iot_edge/tests/compose/docker-compose-tls.yaml
  azure_iot_edge/tests/compose/docker-compose.yaml
  azure_iot_edge/tests/compose/mock_server/data/metrics/edge_agent.txt
  azure_iot_edge/tests/compose/mock_server/data/metrics/edge_hub.txt
  azure_iot_edge/tests/compose/mock_server/docker-compose-windows.yaml
  azure_iot_edge/tests/compose/mock_server/docker-compose.yaml
  azure_iot_edge/tests/conftest.py
  azure_iot_edge/tests/e2e_utils.py
  azure_iot_edge/tests/test_check.py
  azure_iot_edge/tests/test_config.py
  azure_iot_edge/tests/test_e2e.py
  azure_iot_edge/tests/tls/.gitignore
  azure_iot_edge/tests/tls/README.md
  azure_iot_edge/tests/tls/certGen.sh
  azure_iot_edge/tests/tls/openssl_device_intermediate_ca.cnf
  azure_iot_edge/tests/tls/openssl_root_ca.cnf
  azure_iot_edge/tests/tls/setup.sh
  azure_iot_edge/tox.ini
Labels: changelog/Added, dev/testing, documentation, editorial review, integration/azure_iot_edge

#7834 Add the shard cluster role as a tag
  mongo/datadog_checks/mongo/common.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/fixtures/getCmdLineOpts-configsvr-primary
  mongo/tests/fixtures/getCmdLineOpts-configsvr-secondary
  mongo/tests/fixtures/replSetGetStatus-configsvr-primary
  mongo/tests/fixtures/replSetGetStatus-configsvr-secondary
  mongo/tests/test_integration.py
Labels: changelog/Added, integration/mongo

#7833 Fix warning when adding 'jumbo_chunks' metrics
  mongo/datadog_checks/mongo/metrics.py
Labels: changelog/Fixed, integration/mongo

#7828 New replication lag metric collected from the primary
  mongo/datadog_checks/mongo/collectors/replica.py
  mongo/metadata.csv
  mongo/tests/fixtures/replSetGetStatus-replica-primary
  mongo/tests/fixtures/replSetGetStatus-replica-primary-in-shard
  mongo/tests/results/metrics-replset-lag-from-primary-in-shard.json
  mongo/tests/results/metrics-replset-lag-from-primary.json
  mongo/tests/test_integration.py
Labels: changelog/Added, integration/mongo

#7840 Add note on configuring mypy `files`
  docs/developer/.snippets/links.txt
  docs/developer/guidelines/style.md
Labels: changelog/no-changelog, documentation

#7843 Fix config typo
  proxysql/assets/configuration/spec.yaml
  proxysql/datadog_checks/proxysql/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/proxysql

#7715 Add sap hana config spec
  sap_hana/assets/configuration/spec.yaml
  sap_hana/datadog_checks/sap_hana/data/conf.yaml.example
  sap_hana/manifest.json
  sap_hana/setup.py
Labels: changelog/Added, documentation, integration/sap_hana

#7842 Mark Azure IoT Edge integration as macOS-compatible
  azure_iot_edge/manifest.json
Labels: changelog/no-changelog, documentation, integration/azure_iot_edge

#7841 [Release] Bumped azure_iot_edge version to 1.0.0
  .in-toto/tag.b023b02a.link
  azure_iot_edge/CHANGELOG.md
  azure_iot_edge/datadog_checks/azure_iot_edge/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/azure_iot_edge, release

#7838 [documentation] updating broken link in openshift
  openshift/README.md
Labels: changelog/no-changelog, documentation, integration/openshift

#7846 [DOC] Remove sidekiq integration under agent status validation section
  sidekiq/README.md
Labels: changelog/no-changelog, documentation, integration/sidekiq

#7847 Add note about v1 telemetry
  istio/README.md
Labels: changelog/no-changelog, documentation, integration/istio

#7801 Detect and abort if there are tox errors
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: dev/tooling, integration/datadog_checks_dev

#7626 Tracemalloc: Rename white/blacklist to include/exclude
  datadog_checks_base/datadog_checks/base/utils/agent/utils.py
  datadog_checks_base/tests/test_utils_agent_utils.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_base, integration/datadog_checks_dev

#7863 Fix tests
  mongo/tests/results/metrics-replset-lag-from-primary-configsvr.json
  mongo/tests/test_integration.py
Labels: changelog/no-changelog, integration/mongo

#7821 Make refresh_oids_cache_interval available as init_config
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_check.py
Labels: changelog/Added, integration/snmp

#7856 Add config specs
  win32_event_log/assets/configuration/spec.yaml
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
  win32_event_log/manifest.json
Labels: documentation, integration/win32_event_log

#7862 Install vcpython27 for ddbase on windows
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: changelog/no-changelog, dev/testing

#7848 Add config specs
  crio/assets/configuration/spec.yaml
  crio/datadog_checks/crio/data/conf.yaml.example
  crio/manifest.json
  crio/setup.py
Labels: changelog/Added, documentation, integration/crio

#7859 Update metadata.csv
  mysql/metadata.csv
Labels: changelog/no-changelog, integration/mysql

#7845 Add config spec
  harbor/assets/configuration/spec.yaml
  harbor/datadog_checks/harbor/data/auto_conf.yaml
  harbor/datadog_checks/harbor/data/conf.yaml.example
  harbor/manifest.json
  harbor/setup.py
Labels: changelog/Added, documentation, integration/harbor

#7866 release checks base
  .in-toto/tag.4a5409a2.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#7850 Add config specs
  etcd/assets/configuration/spec.yaml
  etcd/datadog_checks/etcd/data/auto_conf.yaml
  etcd/datadog_checks/etcd/data/conf.yaml.example
  etcd/manifest.json
  etcd/setup.py
Labels: changelog/Added, documentation, integration/etcd

#7861 [network] Collect receive and send queue metrics
  network/datadog_checks/network/network.py
  network/metadata.csv
  network/tests/test_network.py
Labels: changelog/Added, integration/network

#7851 Support MySQL statement-level metrics for deep database monitoring
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/statements.py
  mysql/metadata.csv
  mysql/setup.py
  mysql/tests/compose/mariadb.conf
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
  mysql/tox.ini
Labels: changelog/Added, documentation, integration/mysql

#7769 Support '*' (match all) in OpenMetrics labels_to_match - allows to apply labels to all timeseries
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/fixtures/prometheus/ksm.txt
  datadog_checks_base/tests/test_openmetrics.py
Labels: changelog/Added, integration/datadog_checks_base

#7767 [http] Support wildcard subdomain and single wildcard in proxies
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/Added, integration/datadog_checks_base

#7714 Add a service check for missing directories
  directory/README.md
  directory/assets/configuration/spec.yaml
  directory/assets/service_checks.json
  directory/datadog_checks/directory/data/conf.yaml.example
  directory/datadog_checks/directory/directory.py
  directory/manifest.json
  directory/tests/test_directory.py
Labels: changelog/Added, documentation, integration/directory

#7721 add note to reference AWS secrets for apikey
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#7736 Track fetch ID in debug logs
  snmp/datadog_checks/snmp/snmp.py
Labels: changelog/Added, integration/snmp

#7855 Store english and localized counter classes for reusability
  datadog_checks_base/datadog_checks/base/checks/win/winpdh.py
Labels: changelog/Fixed, integration/datadog_checks_base

#7874 [Release] Bumped datadog_checks_base version to 15.3.0
  .in-toto/tag.31091c85.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#7852 Support postgres statement-level metrics for deep database monitoring
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/setup.py
  postgres/tests/compose/docker-compose.yaml
  postgres/tests/compose/etc/postgresql/postgresql.conf
  postgres/tests/compose/resources/02_load_data.sh
  postgres/tests/compose/resources/04_mark_container_as_ready.sh
  postgres/tests/test_pg_integration.py
  postgres/tox.ini
Labels: changelog/Added, documentation, integration/postgres

#7876 Update CODEWONERS file
  .github/CODEOWNERS
Labels: changelog/no-changelog

#7839 Check types inside untyped functions by default
  azure_iot_edge/tox.ini
  datadog_checks_base/tox.ini
  docs/developer/guidelines/style.md
  mypy.ini
Labels: changelog/no-changelog, documentation, integration/azure_iot_edge, integration/datadog_checks_base

#7877 Add logs support
  azure_iot_edge/README.md
  azure_iot_edge/manifest.json
Labels: changelog/Added, documentation, integration/azure_iot_edge

#7844 Update TUF, in-toto and securesystemslib
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_downloader/requirements.in
Labels: changelog/Security, dependencies, integration/datadog_checks_base, integration/datadog_checks_downloader

#7864 Fix warning when adding 'jumbo_chunks' metrics (step 2)
  mongo/datadog_checks/mongo/mongo.py
Labels: integration/mongo

#7880 Revert "Check types inside untyped functions by default (#7839)"
  azure_iot_edge/tox.ini
  datadog_checks_base/tox.ini
  docs/developer/guidelines/style.md
  mypy.ini
Labels: changelog/no-changelog, documentation, integration/azure_iot_edge, integration/datadog_checks_base

#7824 Add AlwaysOn metrics for SQLServer
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
  sqlserver/tests/compose-ha/docker-compose.yaml
  sqlserver/tests/compose-ha/sql/Dockerfile
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-ha/sql/aoag_secondary.sql
  sqlserver/tests/compose-ha/sql/db-init.sh
  sqlserver/tests/compose-ha/sql/entrypoint.sh
  sqlserver/tests/conftest.py
  sqlserver/tests/test_sqlserver.py
  sqlserver/tests/utils.py
  sqlserver/tox.ini
Labels: changelog/Added, documentation, integration/sqlserver
