Repository DataDog/integrations-core, pull requests merged in 2020-04, with the labels that each got.

#6180 Adding maxwait_us, total_wait_time, and avg_wait_time metrics
  pgbouncer/datadog_checks/pgbouncer/metrics.py
  pgbouncer/metadata.csv
  pgbouncer/tests/test_pgbouncer_integration_e2e.py
Labels: changelog/Added, integration/pgbouncer

#6212 [Release] Bumped pgbouncer version to 1.9.0
  .in-toto/tag.31091c85.link
  pgbouncer/CHANGELOG.md
  pgbouncer/datadog_checks/pgbouncer/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/pgbouncer, release

#6213 Add rate metrics to JMX e2e tests
  kafka/metadata.csv
  kafka/tests/common.py
  tomcat/tests/common.py
Labels: changelog/no-changelog, dev/testing, integration/kafka, integration/tomcat

#6209 Update per connector metric bean rule
  confluent_platform/datadog_checks/confluent_platform/data/metrics.yaml
  confluent_platform/tests/compose/docker-compose.yaml
  confluent_platform/tests/conftest.py
  confluent_platform/tests/metrics.py
Labels: changelog/Fixed, integration/confluent_platform

#6214 Update ActiveMQ XML metadata
  activemq_xml/manifest.json
  activemq_xml/metadata.csv
Labels: changelog/no-changelog, documentation, integration/activemq_xml

#6215 Deprecating the legacy implementation
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/legacy/vsphere_legacy.py
Labels: changelog/Fixed, integration/vsphere

#6216 Collect network metrics for ECS Fargate
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  ecs_fargate/metadata.csv
  ecs_fargate/tests/fixtures/stats.json
  ecs_fargate/tests/test_unit.py
Labels: integration/ecs_fargate

#6042 Add gitlab default dashboard
  gitlab/assets/dashboards/overview.json
  gitlab/manifest.json
Labels: changelog/no-changelog, documentation, integration/gitlab

#6218 Update metric to check
  gitlab/manifest.json
Labels: changelog/no-changelog, documentation, integration/gitlab

#6220 Fix broken control pane server import in Envoy xds test image
  envoy/tests/docker/default/controlplane.go
Labels: changelog/no-changelog, integration/envoy

#6221 Pin Envoy test control pane deps
  envoy/tests/docker/default/Dockerfile-xds
  envoy/tests/docker/default/controlplane.go
  envoy/tests/docker/default/go.mod
  envoy/tests/docker/default/go.sum
Labels: changelog/no-changelog, integration/envoy

#6163 Add `service_check_prefix` config to jmx
  activemq/datadog_checks/activemq/data/conf.yaml.example
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/jmx.yaml
  hive/datadog_checks/hive/data/conf.yaml.example
Labels: changelog/Added, dev/tooling, integration/activemq, integration/confluent_platform, integration/datadog_checks_dev, integration/hive

#6219 Expose JMX on localhost
  hive/tests/compose/docker-compose.yaml
Labels: changelog/no-changelog, integration/hive

#6226 Fix tag matching documentation
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: changelog/Fixed, integration/snmp

#6210 Change kube_apiserver_metrics to kubernetes_apiserver in openshift docs
  openshift/README.md
Labels: changelog/no-changelog, documentation, integration/openshift

#6164 Fix service check name
  confluent_platform/assets/configuration/spec.yaml
  confluent_platform/assets/service_checks.json
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
  confluent_platform/tests/test_e2e.py
Labels: changelog/Fixed, documentation, integration/confluent_platform

#6144 New Integration ProxySQL
  .azure-pipelines/templates/test-all-checks.yml
  proxysql/CHANGELOG.md
  proxysql/MANIFEST.in
  proxysql/README.md
  proxysql/assets/configuration/spec.yaml
  proxysql/assets/service_checks.json
  proxysql/datadog_checks/__init__.py
  proxysql/datadog_checks/proxysql/__about__.py
  proxysql/datadog_checks/proxysql/__init__.py
  proxysql/datadog_checks/proxysql/data/conf.yaml.example
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/datadog_checks/proxysql/queries.py
  proxysql/datadog_checks/proxysql/ssl_utils.py
  proxysql/manifest.json
  proxysql/metadata.csv
  proxysql/requirements-dev.txt
  proxysql/requirements.in
  proxysql/setup.py
  proxysql/tests/__init__.py
  proxysql/tests/common.py
  proxysql/tests/compose/docker-compose.yml
  proxysql/tests/compose/proxysql.cnf
  proxysql/tests/conftest.py
  proxysql/tests/test_proxysql.py
  proxysql/tox.ini
Labels: changelog/Added, dev/testing, documentation, integration/proxysql

#6194 resource filters: allow blacklist and tag filtering
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/constants.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/resource_filters.py
  vsphere/datadog_checks/vsphere/types.py
  vsphere/datadog_checks/vsphere/utils.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_filters.py
Labels: changelog/Added, integration/vsphere

#6200 Update prometheus_client
  datadog_checks_base/datadog_checks/base/checks/libs/prometheus.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  datadog_checks_base/tests/test_openmetrics.py
  kubelet/tests/test_kubelet.py
  openmetrics/tests/test_openmetrics.py
  prometheus/tests/conftest.py
  prometheus/tests/test_prometheus.py
Labels: changelog/Fixed, dependencies, integration/datadog_checks_base, integration/envoy, integration/kubelet, integration/openmetrics, integration/prometheus

#6217 Pass namespace to `is_excluded`
  kubelet/datadog_checks/kubelet/common.py
  kubelet/tests/test_common.py
Labels: changelog/Changed, integration/kubelet, kind/feature-request

#6160 Use new agent signature
  iis/datadog_checks/iis/iis.py
  iis/setup.py
  iis/tests/test_iis.py
Labels: changelog/no-changelog, integration/iis

#6231 Only load installed profiles once
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/test_unit.py
Labels: changelog/Fixed, integration/snmp

#6223 Trigger CI if contents of `tests/` changes
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#6230 Add jmx_url to config spec
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
Labels: changelog/Added, dev/tooling, documentation, integration/datadog_checks_dev

#6232 Remove duplicated idrac metrics from poweredge profile
  snmp/datadog_checks/snmp/data/profiles/dell-poweredge.yaml
Labels: changelog/Fixed, integration/snmp

#6229 Add display_priority to config spec
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/example.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  datadog_checks_dev/tests/tooling/configuration/test_load.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#6127 Allow option to submit histogram/summary sum metric as monotonic count
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: changelog/Added, integration/datadog_checks_base, integration/openmetrics

#5650 Allow automatic joins to all kube_{object}_labels in KSM check
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
  datadog_checks_base/tox.ini
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Added, integration/datadog_checks_base, integration/kubernetes_state

#6234 Fix typo
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
  datadog_checks_dev/tests/tooling/configuration/test_load.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#6233 Small profiles cleanups
  snmp/datadog_checks/snmp/data/profiles/dell-poweredge.yaml
  snmp/datadog_checks/snmp/data/profiles/generic-router.yaml
  snmp/datadog_checks/snmp/data/profiles/hp-ilo4.yaml
  snmp/datadog_checks/snmp/data/profiles/hpe-proliant.yaml
  snmp/datadog_checks/snmp/data/profiles/idrac.yaml
  snmp/datadog_checks/snmp/data/profiles/meraki-cloud-controller.yaml
  snmp/tests/test_profiles.py
Labels: changelog/Fixed, integration/snmp

#6225 Fix service check name and add config spec
  jboss_wildfly/assets/configuration/spec.yaml
  jboss_wildfly/assets/service_checks.json
  jboss_wildfly/datadog_checks/jboss_wildfly/data/conf.yaml.example
  jboss_wildfly/manifest.json
  jboss_wildfly/tests/test_check.py
Labels: changelog/Added, documentation, integration/jboss_wildfly

#6170 Validate `metric_to_check` is listed in `metadata.csv`
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#6243 Upgrade psutil to 5.7.0
  btrfs/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  disk/requirements.in
  gunicorn/requirements.in
  network/requirements.in
  process/requirements.in
  system_core/requirements.in
  system_swap/requirements.in
Labels: dependencies, integration/btrfs, integration/datadog_checks_base, integration/disk, integration/gunicorn, integration/network, integration/process, integration/system_core, integration/system_swap

#6238 Revert `to_native_string` to `to_string` for integrations
  datadog_checks_base/datadog_checks/base/utils/common.py
  datadog_checks_base/tests/test_utils.py
  elastic/datadog_checks/elastic/elastic.py
  haproxy/datadog_checks/haproxy/haproxy.py
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  linkerd/tests/conftest.py
  vsphere/datadog_checks/vsphere/legacy/vsphere_legacy.py
  vsphere/datadog_checks/vsphere/utils.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_check.py
Labels: integration/datadog_checks_base, integration/elastic, integration/haproxy, integration/kubernetes_state, integration/linkerd, integration/vsphere

#6244 Link fix
  eks_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/eks_fargate

#6224 Add percent metrics
  confluent_platform/datadog_checks/confluent_platform/data/metrics.yaml
  confluent_platform/metadata.csv
  confluent_platform/tests/common.py
  confluent_platform/tests/metrics.py
Labels: changelog/Added, integration/confluent_platform

#6086 Add validation for checks to not use the legacy agent signature
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/agent_signature.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: dev/testing, dev/tooling, integration/datadog_checks_dev

#6142 Add OpenMetrics config spec template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/openmetrics.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  openmetrics/assets/configuration/spec.yaml
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  openmetrics/manifest.json
  openmetrics/setup.py
Labels: changelog/Added, dev/tooling, documentation, integration/datadog_checks_dev, integration/openmetrics

#6165 Add sidekiq default dashboard
  sidekiq/assets/dashboards/overview.json
  sidekiq/manifest.json
Labels: changelog/no-changelog, documentation, integration/sidekiq

#5833 Add option to set SNI hostname via the `Host` header for RequestsWrapper
  activemq_xml/datadog_checks/activemq_xml/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  consul/datadog_checks/consul/data/conf.yaml.example
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/requirements.in
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
  datadog_checks_dev/tests/tooling/configuration/test_load.py
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
  http_check/datadog_checks/http_check/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
Labels: changelog/Added, dependencies, dev/tooling, integration/activemq_xml, integration/apache, integration/consul, integration/datadog_checks_base, integration/datadog_checks_dev, integration/fluentd, integration/http_check, integration/kong, integration/vault

#6247 Add `send_distribution_sums_as_monotonic` to openmetrics config spec
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: dev/tooling, integration/datadog_checks_dev, integration/openmetrics

#6250 Sync OpenMetrics config
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: changelog/Fixed, integration/openmetrics

#6239 Enable basic authentication for socket option (unix_http_server)
  supervisord/datadog_checks/supervisord/supervisord.py
  supervisord/tests/common.py
  supervisord/tests/test_supervisord_unit.py
Labels: changelog/Changed, integration/supervisord

#6252 Update sidekiq perform remapping and description
  sidekiq/README.md
  sidekiq/metadata.csv
Labels: changelog/no-changelog, documentation, integration/sidekiq

#6248 Limit tags collection logic to the monitored resources only
  vsphere/datadog_checks/vsphere/api_rest.py
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/constants.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/types.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/conftest.py
  vsphere/tests/mocked_api.py
  vsphere/tests/test_api_rest.py
  vsphere/tests/test_cache.py
  vsphere/tests/test_check.py
Labels: changelog/Fixed, integration/vsphere

#6257 Ignore flags to ddev test
  datadog_checks_dev/tests/tooling/commands/test_create.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#6258 Release new integrations for 7.19.0
  .in-toto/tag.f90c0097.link
  confluent_platform/CHANGELOG.md
  confluent_platform/datadog_checks/confluent_platform/__about__.py
  proxysql/CHANGELOG.md
  proxysql/datadog_checks/proxysql/__about__.py
  requirements-agent-release.txt
  rethinkdb/CHANGELOG.md
  rethinkdb/datadog_checks/rethinkdb/__about__.py
  sidekiq/CHANGELOG.md
  sidekiq/datadog_checks/sidekiq/__about__.py
Labels: changelog/no-changelog, integration/confluent_platform, integration/proxysql, integration/rethinkdb, integration/sidekiq, release

#6254 Allow arbitrary repos in CLI config
  .azure-pipelines/templates/install-deps.yml
  datadog_checks_dev/datadog_checks/dev/tooling/cli.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#6259 [Release] Bumped datadog_checks_dev version to 3.3.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#6211 Make error message more explicit
  supervisord/datadog_checks/supervisord/supervisord.py
Labels: changelog/Added, integration/supervisord, severity/minor

#6128 Add additional logging
  go_expvar/datadog_checks/go_expvar/go_expvar.py
Labels: changelog/Added, integration/go_expvar, severity/minor

#6261 Fix e2e config
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#6264 Bump python requirement
  docs/datadog_checks_dev.cli.rst
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, documentation

#6267 [Release] Update metadata
  .in-toto/tag.31091c85.link
Labels: changelog/no-changelog, integration/all, release

#6262 [Release] Bumped datadog_checks_dev version to 3.3.1
  .in-toto/tag.f90c0097.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, do-not-merge/WIP, integration/datadog_checks_dev, release

#6268 Add Container App team to ddev trello tool
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: dev/tooling, integration/datadog_checks_dev

#6276 Update PyYAML to 5.3.1
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Labels: changelog/Added, dependencies, integration/datadog_checks_base

#6279 Add `kerberos_cache` to HTTP config options
  activemq_xml/datadog_checks/activemq_xml/data/conf.yaml.example
  apache/datadog_checks/apache/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/http.yaml
  datadog_checks_dev/tests/tooling/configuration/test_load.py
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
Labels: changelog/Fixed, dev/tooling, integration/activemq_xml, integration/apache, integration/datadog_checks_dev, integration/fluentd, integration/kong, integration/openmetrics, integration/vault

#6102 DOCS-721 Aerospike tabs
  aerospike/README.md
Labels: changelog/no-changelog, documentation, integration/aerospike

#6283 [Release] Bumped versions for RC2
  .in-toto/tag.f90c0097.link
  activemq_xml/CHANGELOG.md
  activemq_xml/datadog_checks/activemq_xml/__about__.py
  apache/CHANGELOG.md
  apache/datadog_checks/apache/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  fluentd/CHANGELOG.md
  fluentd/datadog_checks/fluentd/__about__.py
  kong/CHANGELOG.md
  kong/datadog_checks/kong/__about__.py
  openmetrics/CHANGELOG.md
  openmetrics/datadog_checks/openmetrics/__about__.py
  requirements-agent-release.txt
  vault/CHANGELOG.md
  vault/datadog_checks/vault/__about__.py
Labels: changelog/no-changelog, integration/activemq_xml, integration/apache, integration/datadog_checks_base, integration/fluentd, integration/kong, integration/openmetrics, integration/vault, release

#6287 [Release] Bumped datadog_checks_dev version to 3.4.0
  .in-toto/tag.31091c85.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#6286 Don't import pymqi unconditionally
  ibm_mq/datadog_checks/ibm_mq/connection.py
Labels: changelog/Fixed, integration/ibm_mq

#6285 Fix error message
  network/datadog_checks/network/network.py
Labels: changelog/Fixed, integration/network

#6292 [Release] Bumped versions for RC3
  .in-toto/tag.f90c0097.link
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  network/CHANGELOG.md
  network/datadog_checks/network/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_mq, integration/network, release

#6295 Submit server tags with a namespace
  rethinkdb/datadog_checks/rethinkdb/operations.py
  rethinkdb/tests/assertions.py
  rethinkdb/tests/common.py
Labels: changelog/Fixed, integration/rethinkdb

#6296 Fix new option name in config sample
  http_check/datadog_checks/http_check/data/conf.yaml.example
Labels: integration/http_check

#6298 [Release] Bumped versions for rethinkdb and http_check
  .in-toto/tag.f90c0097.link
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  requirements-agent-release.txt
  rethinkdb/CHANGELOG.md
  rethinkdb/datadog_checks/rethinkdb/__about__.py
Labels: changelog/no-changelog, integration/http_check, integration/rethinkdb, release

#6306 Allow `dd_environment` fixtures to accept arbitrary arguments
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: changelog/Added, integration/datadog_checks_dev

#6309 [DOCS-435] Adding AD instructions
  kube_metrics_server/README.md
  kube_metrics_server/datadog_checks/kube_metrics_server/data/conf.yaml.example
Labels: documentation, integration/kube_metrics_server

#6297 Fix tags race conditions with filtering
  vsphere/datadog_checks/vsphere/cache.py
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/constants.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/types.py
  vsphere/datadog_checks/vsphere/utils.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_cache.py
  vsphere/tests/test_check.py
  vsphere/tests/test_filters.py
Labels: changelog/Fixed, integration/vsphere

#6310 [Release] Bump vsphere version
  .in-toto/tag.f90c0097.link
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere, release

#6316 Update labeler.yml
  .github/workflows/config/labeler.yml
Labels: changelog/no-changelog, dev/tooling

#6322 Add config spec ability to control whether options are enabled by default
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/example.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#6235 Add config specs to aerospike
  aerospike/assets/configuration/spec.yaml
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  aerospike/manifest.json
Labels: changelog/no-changelog, documentation, integration/aerospike

#6323 Handle non-integers when parsing latency values
  zk/datadog_checks/zk/zk.py
Labels: changelog/Fixed, integration/zk

#6327 [Release] Bump zk version
  .in-toto/tag.f90c0097.link
  requirements-agent-release.txt
  zk/CHANGELOG.md
  zk/datadog_checks/zk/__about__.py
Labels: changelog/no-changelog, integration/zk, release

#6326 Pin envoy version to fix tests
  envoy/tests/docker/default/Dockerfile-service
  envoy/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/envoy

#6278 Fix vsphere capitalization
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: changelog/Fixed, do-not-merge/HOLD, integration/vsphere

#6291 Add Aruba, Arista, and Chatsworth metric metadata
  snmp/metadata.csv
Labels: changelog/no-changelog, integration/snmp

#6319 Fix unicode errors in all integrations
  active_directory/metadata.csv
  cassandra/metadata.csv
  envoy/metadata.csv
  ibm_was/metadata.csv
  jboss_wildfly/metadata.csv
  nginx/metadata.csv
  snmp/metadata.csv
  tokumx/metadata.csv
Labels: changelog/no-changelog, integration/active_directory, integration/cassandra, integration/envoy, integration/ibm_was, integration/jboss_wildfly, integration/nginx, integration/snmp, integration/tokumx

#6271 Don't use unicode string in gitlab metadata
  gitlab/metadata.csv
Labels: changelog/no-changelog, integration/gitlab

#6237 Removed step from Oracle docs
  oracle/README.md
Labels: changelog/no-changelog, documentation, integration/oracle

#6324 [WinWMICheck] Support latest Agent signature
  datadog_checks_base/datadog_checks/base/checks/win/wmi/__init__.py
Labels: changelog/Added, integration/datadog_checks_base

#6328 Add default template to openmetrics & jmx config
  activemq/assets/configuration/spec.yaml
  confluent_platform/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/jmx.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/openmetrics.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
  hive/assets/configuration/spec.yaml
  jboss_wildfly/assets/configuration/spec.yaml
  openmetrics/assets/configuration/spec.yaml
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: changelog/Added, dev/tooling, documentation, integration/activemq, integration/confluent_platform, integration/datadog_checks_dev, integration/hive, integration/jboss_wildfly, integration/openmetrics

#6272 Update fluentd tests to not use instance
  fluentd/tests/test_integration.py
  fluentd/tests/test_integration_and_e2e.py
  fluentd/tests/test_metadata.py
  fluentd/tests/test_unit.py
Labels: changelog/no-changelog, integration/fluentd

#6303 Fix agent check and e2e with running env
  tls/tests/conftest.py
Labels: changelog/no-changelog, integration/tls

#6265 Fix paths
  ibm_db2/README.md
Labels: changelog/no-changelog, documentation, integration/ibm_db2

#6288 add jmx url for Wildfly 9 and below
  jboss_wildfly/README.md
  jboss_wildfly/assets/configuration/spec.yaml
  jboss_wildfly/datadog_checks/jboss_wildfly/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/jboss_wildfly

#6330 Renew REST API session on failure
  vsphere/datadog_checks/vsphere/api_rest.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_check.py
Labels: changelog/Fixed, integration/vsphere

#6331 [Release] Bump vsphere version
  .in-toto/tag.f90c0097.link
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere, release

#6318 Add validation for Unicode characters in metric metadata
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#6242 Add MIB resolution to `OID` model
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/exceptions.py
  snmp/datadog_checks/snmp/models.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/types.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/test_unit.py
  snmp/tests/test_utils.py
  snmp/tests/utils.py
Labels: changelog/Added, integration/snmp

#6275 Fix deprecated imports
  .azure-pipelines/templates/run-validations.yml
  aerospike/tests/test_unit.py
  proxysql/tests/test_proxysql.py
Labels: changelog/no-changelog, dev/testing, dev/tooling, integration/aerospike, integration/datadog_checks_dev, integration/proxysql

#6334 [Release] Bumped datadog_checks_dev version to 3.5.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: integration/datadog_checks_dev, release

#6337 Remove mention bot config
  .mention-bot
Labels: changelog/no-changelog

#6338 Hide openmetrics template options that are typically overridden
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  openmetrics/assets/configuration/spec.yaml
Labels: dev/tooling, documentation, integration/datadog_checks_dev, integration/openmetrics

#6340 Remove invalid character in snmp metric desc
  snmp/metadata.csv
Labels: changelog/no-changelog, integration/snmp

#6333 Validate metadata doesn't contain |
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#6342 Morgan.lupton/link openstack and controller docs
  openstack/README.md
  openstack_controller/README.md
Labels: changelog/no-changelog, documentation, integration/openstack, integration/openstack_controller

#6344 [PROD] fix bolding in note in openstack docs
  openstack/README.md
  openstack_controller/README.md
Labels: changelog/no-changelog, documentation, integration/openstack, integration/openstack_controller

#6347 [Release] Update metadata for datadog_checks_dev
  .in-toto/tag.fbc63ae0.link
Labels: changelog/no-changelog

#6345 Fix namespace tagging for latency metrics
  aerospike/datadog_checks/aerospike/aerospike.py
Labels: changelog/Fixed, integration/aerospike

#6293 Update Python 3 trove classifiers
  aerospike/setup.py
  airflow/setup.py
  amazon_msk/setup.py
  ambari/setup.py
  cilium/setup.py
  clickhouse/setup.py
  cockroachdb/setup.py
  crio/setup.py
  datadog_checks_base/setup.py
  datadog_checks_dev/setup.py
  datadog_checks_downloader/setup.py
  druid/setup.py
  eks_fargate/setup.py
  flink/setup.py
  harbor/setup.py
  hive/setup.py
  hyperv/setup.py
  ibm_db2/setup.py
  ibm_mq/setup.py
  ibm_was/setup.py
  jboss_wildfly/setup.py
  kube_apiserver_metrics/setup.py
  kube_controller_manager/setup.py
  kube_metrics_server/setup.py
  kube_scheduler/setup.py
  mapr/setup.py
  nginx_ingress_controller/setup.py
  openmetrics/setup.py
  openstack_controller/setup.py
  presto/setup.py
  sap_hana/setup.py
  scylla/setup.py
  sidekiq/setup.py
  tenable/setup.py
  tls/setup.py
  twistlock/setup.py
  vertica/setup.py
Labels: changelog/no-changelog, integration/aerospike, integration/airflow, integration/amazon_msk, integration/ambari, integration/cilium, integration/clickhouse, integration/cockroachdb, integration/crio, integration/datadog_checks_base, integration/datadog_checks_dev, integration/datadog_checks_downloader, integration/druid, integration/eks_fargate, integration/flink, integration/harbor, integration/hive, integration/hyperv, integration/ibm_db2, integration/ibm_mq, integration/ibm_was, integration/jboss_wildfly, integration/kube_apiserver_metrics, integration/kube_controller_manager, integration/kube_metrics_server, integration/kube_scheduler, integration/mapr, integration/nginx_ingress_controller, integration/openmetrics, integration/openstack_controller, integration/presto, integration/sap_hana, integration/scylla, integration/sidekiq, integration/tenable, integration/tls, integration/twistlock, integration/vertica

#6346 Add version metadata
  vertica/datadog_checks/vertica/vertica.py
  vertica/datadog_checks/vertica/views.py
  vertica/tests/test_vertica.py
Labels: changelog/Added, integration/vertica

#6351 Fix duplicate classifier
  datadog_checks_dev/setup.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#6343 [proc] Update integrations signature
  rethinkdb/manifest.json
  varnish/manifest.json
Labels: changelog/no-changelog, documentation, integration/rethinkdb, integration/varnish

#6352 Fix namespace valid chars matching regex
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/tests/test_unit.py
Labels: changelog/Fixed, integration/aerospike

#6350 Mark `instance` as non-`Optional`
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: changelog/Fixed, integration/datadog_checks_base

#6353 Fix flakes
  couch/tests/conftest.py
Labels: changelog/no-changelog, integration/couch

#6354 Release `aerospike`
  .in-toto/tag.fbc63ae0.link
  aerospike/CHANGELOG.md
  aerospike/datadog_checks/aerospike/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/aerospike, release

#6355 Update E2E test
  clickhouse/tests/test_e2e.py
Labels: changelog/no-changelog, integration/clickhouse

#6341 Refactor check and support new Agent signature
  istio/datadog_checks/istio/constants.py
  istio/datadog_checks/istio/istio.py
  istio/datadog_checks/istio/metrics.py
  istio/tests/common.py
  istio/tests/conftest.py
  istio/tests/test_check.py
Labels: changelog/Added, integration/istio

#6320 Add config spec
  istio/assets/configuration/spec.yaml
  istio/datadog_checks/istio/data/conf.yaml.example
  istio/manifest.json
Labels: changelog/Added, documentation, integration/istio

#6151 Add gitlab config spec
  gitlab/assets/configuration/spec.yaml
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab/manifest.json
Labels: changelog/Added, documentation, integration/gitlab

#6359 Fix flakes
  vault/tests/conftest.py
Labels: changelog/no-changelog, integration/vault

#6357 Normalize integers
  win32_event_log/datadog_checks/win32_event_log/win32_event_log.py
  win32_event_log/tests/test_check.py
Labels: changelog/Fixed, integration/win32_event_log

#6361 Release 2.3.4
  .in-toto/tag.fbc63ae0.link
  requirements-agent-release.txt
  win32_event_log/CHANGELOG.md
  win32_event_log/datadog_checks/win32_event_log/__about__.py
Labels: changelog/no-changelog, integration/win32_event_log, release

#6363 Fix release-manual pipeline
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#6365 Use LTS ubuntu in tagger image
  .gitlab/tagger/Dockerfile
Labels: changelog/no-changelog, dev/tooling

#6280 Remove `metrics.yaml` from non testable files
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#6289 Add tcp instance to e2e
  haproxy/tests/conftest.py
  haproxy/tests/test_haproxy.py
Labels: changelog/no-changelog, integration/haproxy

#6301 Use config spec
  tomcat/assets/configuration/spec.yaml
  tomcat/datadog_checks/tomcat/data/conf.yaml.example
  tomcat/manifest.json
Labels: changelog/Added, documentation, integration/tomcat

#6305 Use config spec
  airflow/assets/configuration/spec.yaml
  airflow/datadog_checks/airflow/data/conf.yaml.example
  airflow/manifest.json
Labels: changelog/Added, documentation, integration/airflow

#6302 Add verbose mode to validate config
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#6336 Properly add no-changelog label to ddev releases
  .github/workflows/config/labeler.yml
Labels: changelog/no-changelog, dev/tooling

#6335 Add more Cisco ASA metrics
  snmp/datadog_checks/snmp/data/profiles/cisco-asa-5525.yaml
  snmp/tests/compose/data/cisco_asa_5525.snmprec
  snmp/tests/test_profiles.py
Labels: changelog/Added, integration/snmp

#6332 Add device_name tag
  disk/datadog_checks/disk/disk.py
  disk/tests/common.py
  disk/tests/test_unit.py
Labels: changelog/Added, integration/disk

#6367 Set locale for tagger docker image
  .gitlab/tagger/Dockerfile
Labels: changelog/no-changelog, dev/tooling

#6253 Introduce join_standard_tags setting
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/fixtures/ksm-standard-tags-gke.txt
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Added, integration/kubernetes_state

#6370 Fix config spec
  tomcat/assets/configuration/spec.yaml
Labels: changelog/no-changelog, documentation, integration/tomcat

#6368 Clarify default port of 8126 must be set for APM and Fargate
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#6349 Properly name test method.
  aerospike/tests/test_unit.py
Labels: changelog/no-changelog, integration/aerospike

#6371 Fix duplicate descriptions and short names
  confluent_platform/metadata.csv
Labels: changelog/no-changelog, integration/confluent_platform

#6027 Validate metrics using metadata.csv
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_dev/datadog_checks/dev/utils.py
Labels: changelog/Added, dev/testing, integration/datadog_checks_base, integration/datadog_checks_dev

#6374 Update logo url
  ecs_fargate/assets/dashboards/amazon_fargate_overview.json
Labels: changelog/no-changelog, integration/ecs_fargate

#6366 Refactor CI release-manual job
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#6372 Assert metrics in metadata.csv
  http_check/tests/test_integration_e2e.py
Labels: changelog/no-changelog, integration/http_check

#6314 Add config spec
  cisco_aci/assets/configuration/spec.yaml
  cisco_aci/datadog_checks/cisco_aci/data/conf.yaml.example
  cisco_aci/manifest.json
Labels: changelog/Added, documentation, integration/cisco_aci

#6312 Remove useless else clause
  vsphere/datadog_checks/vsphere/api_rest.py
Labels: changelog/no-changelog, integration/vsphere

#6281 Don't use instance in tests
  iis/tests/test_iis.py
Labels: changelog/no-changelog, integration/iis

#6307 Add config spec
  ambari/assets/configuration/spec.yaml
  ambari/datadog_checks/ambari/data/conf.yaml.example
  ambari/manifest.json
Labels: changelog/Added, documentation, integration/ambari

#6313 Update pyVmomi stubs
  .stubs/pyVmomi/__init__.pyi
  .stubs/pyVmomi/vim/__init__.pyi
  .stubs/pyVmomi/vim/event.pyi
  .stubs/pyVmomi/vim/view.pyi
  .stubs/pyVmomi/vmodl/__init__.pyi
Labels: changelog/no-changelog, integration/vsphere

#6251 Add dashboard
  confluent_platform/assets/dashboards/overview.json
  confluent_platform/manifest.json
Labels: changelog/no-changelog, documentation, integration/confluent_platform

#6387 Fix misleading `metric_tags` naming on `ParsedMetric`
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/snmp.py
Labels: changelog/Fixed, integration/snmp

#6379 Fix flaky test
  confluent_platform/tests/compose/docker-compose.yaml
  confluent_platform/tests/conftest.py
Labels: changelog/no-changelog, dev/testing, integration/confluent_platform

#6388 Drop `ForceableMetricType` type
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/metrics.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/types.py
Labels: changelog/no-changelog, integration/snmp

#6392 Check types on all modules
  snmp/datadog_checks/snmp/commands.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/tox.ini
Labels: changelog/Fixed, integration/snmp

#6299 [DOCS-435] Using new AD template format
  nginx_ingress_controller/README.md
Labels: changelog/no-changelog, documentation, integration/nginx_ingress_controller

#6245 [DOCS-385] Adding disclaimer for collection level
  vsphere/README.md
Labels: changelog/no-changelog, documentation, integration/vsphere

#6378 Identing ref number to not conflict on doc
  gitlab_runner/README.md
Labels: changelog/no-changelog, documentation, integration/gitlab_runner
