Repository DataDog/integrations-core, pull requests merged in 2020-12, with the labels that each got.

#8105 Log custom queries which return an empty result set
  mongo/datadog_checks/mongo/collectors/custom_queries.py
  mongo/tests/test_mongo.py
Labels: changelog/Fixed, integration/mongo

#8104 Update the not possible list for log integrations
  docs/developer/.scripts/33_render_status.py
Labels: changelog/no-changelog

#8099 Update metadata.csv
  nagios/metadata.csv
Labels: changelog/no-changelog, integration/nagios

#8096 Add config specs
  openldap/assets/configuration/spec.yaml
  openldap/datadog_checks/openldap/data/conf.yaml.example
  openldap/manifest.json
  openldap/setup.py
Labels: changelog/Added, documentation, integration/openldap

#8101 Add test filter to env test
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
Labels: dev/tooling, integration/datadog_checks_dev

#8084 Add Tomcat blog dashboard
  tomcat/assets/dashboards/metrics.json
  tomcat/assets/dashboards/overview.json
  tomcat/manifest.json
Labels: changelog/no-changelog, documentation, integration/tomcat

#8113 Handle case sensitivity on database names
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/tests/test_unit.py
Labels: changelog/Fixed, integration/sqlserver

#8111 Remove active_directory references from config
  active_directory/assets/configuration/spec.yaml
  active_directory/datadog_checks/active_directory/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/pdh.yaml
  hyperv/datadog_checks/hyperv/data/conf.yaml.example
  pdh_check/datadog_checks/pdh_check/data/conf.yaml.example
Labels: changelog/Fixed, dev/tooling, documentation, integration/active_directory, integration/datadog_checks_dev, integration/hyperv, integration/pdh_check

#8073 Use MIB less syntax in example and link to profile format doc
  docs/developer/tutorials/snmp/profile-format.md
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/snmp

#8109 Add config specs
  iis/assets/configuration/spec.yaml
  iis/datadog_checks/iis/data/conf.yaml.example
  iis/manifest.json
Labels: changelog/Fixed, documentation, integration/iis

#7653 Skip auto-setting Python version suffix if using an RC build
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#7907 Drop metrics listing from README example config
  activemq/README.md
Labels: changelog/no-changelog, documentation, integration/activemq

#8093 Add snmp interface bandwidth usage metric
  snmp/datadog_checks/snmp/metrics.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/metadata.csv
  snmp/tests/metrics.py
  snmp/tests/test_e2e.py
  snmp/tests/test_profiles.py
Labels: changelog/Added, integration/datadog_checks_base, integration/snmp

#8118 Add support for AssumeRole in Amazon MSK check
  amazon_msk/assets/configuration/spec.yaml
  amazon_msk/datadog_checks/amazon_msk/amazon_msk.py
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
Labels: changelog/Added, integration/amazon_msk

#8121 Add a byte unit to byte count metrics
  haproxy/metadata.csv
Labels: changelog/no-changelog, integration/haproxy

#8079 Add haproxy blog-like dashboard
  haproxy/assets/dashboards/prometheus_overview.json
  haproxy/manifest.json
Labels: changelog/no-changelog, documentation, integration/haproxy

#8124 Make pgbouncer more reslient
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
Labels: changelog/Fixed, integration/pgbouncer

#8115 Add support for database autodiscovery
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/common.py
  sqlserver/tests/conftest.py
  sqlserver/tests/test_unit.py
Labels: changelog/Added, documentation, integration/sqlserver

#8095 Add consul 1.9.0 metrics
  consul/README.md
  consul/datadog_checks/consul/metrics.py
  consul/tests/common.py
  consul/tests/compose/server-1.0.6.json
  consul/tests/compose/server-1.9.0.json
  consul/tests/test_integration.py
  consul/tox.ini
Labels: changelog/Fixed, documentation, integration/consul

#8126 Add mysql slowlog multi-line rule suggestion for versions < 5.7 (README only)
  mysql/README.md
Labels: changelog/no-changelog, documentation, integration/mysql

#8127 Mark azure_iot_edge as public
  azure_iot_edge/manifest.json
Labels: changelog/no-changelog, documentation, integration/azure_iot_edge

#7940 Use a KSM metric that reports a reason tag in recommended monitors
  kubernetes/assets/monitors/monitor_pod_crashloopbackoff.json
  kubernetes/assets/monitors/monitor_pod_imagepullbackoff.json
Labels: changelog/no-changelog, integration/kubernetes

#7922 Add CentOS/RHEL version support note and instructions to install kernel-devel
  oom_kill/README.md
  tcp_queue_length/README.md
Labels: changelog/no-changelog, documentation, integration/oom_kill, integration/tcp_queue_length

#8120 Migrate old postgres dashboards and replace with blog-like dashboard
  postgres/assets/dashboards/postgresql_dashboard.json
  postgres/assets/dashboards/postgresql_screenboard_dashboard.json
  postgres/manifest.json
Labels: changelog/no-changelog, documentation, integration/postgres

#8131 Update ZooKeeper README about SSL support version requirement.
  zk/README.md
Labels: changelog/no-changelog, documentation, integration/zk

#8141 [Release] Bumped sqlserver version to 2.3.0
  .in-toto/tag.f90c0097.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/sqlserver, release

#8134 Migrate dashboard
  iis/assets/dashboards/iis_dashboard.json
  iis/assets/dashboards/iis_overview.json
  iis/manifest.json
Labels: changelog/no-changelog, documentation, integration/iis

#8129 Add support for tabular check output
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/local.py
Labels: dev/tooling, integration/datadog_checks_dev

#8133 Add config spec
  mapr/assets/configuration/spec.yaml
  mapr/datadog_checks/mapr/data/conf.yaml.example
  mapr/manifest.json
  mapr/setup.py
Labels: changelog/no-changelog, documentation, integration/mapr

#8132 Add config spec
  linux_proc_extras/assets/configuration/spec.yaml
  linux_proc_extras/datadog_checks/linux_proc_extras/data/conf.yaml.example
  linux_proc_extras/manifest.json
  linux_proc_extras/setup.py
Labels: changelog/no-changelog, documentation, integration/linux_proc_extras

#8092 Make role configuration step more explicit
  snowflake/README.md
  snowflake/assets/configuration/spec.yaml
  snowflake/datadog_checks/snowflake/check.py
  snowflake/datadog_checks/snowflake/config.py
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
Labels: changelog/Changed, documentation, integration/snowflake

#7924 Submit jvm.gc.collectors metrics as rate
  elastic/assets/configuration/spec.yaml
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/datadog_checks/elastic/elastic.py
  elastic/datadog_checks/elastic/metrics.py
  elastic/tests/common.py
  elastic/tests/test_elastic.py
  elastic/tests/test_metrics.py
Labels: changelog/Added, documentation, integration/elastic

#8142 [SNMP] stabilise test timeout
  snmp/tests/test_check.py
Labels: changelog/no-changelog, documentation, integration/snmp

#8136 Enable docs for new integrations
  cloud_foundry_api/manifest.json
  nvidia_jetson/manifest.json
  sonarqube/manifest.json
  tcp_queue_length/manifest.json
Labels: changelog/no-changelog, documentation, integration/cloud_foundry_api, integration/nvidia_jetson, integration/sonarqube, integration/tcp_queue_length

#7908 [kubernetes_state] add additional count gauges
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/metadata.csv
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/no-changelog, integration/kubernetes_state

#8140 Add config specs
  mcache/assets/configuration/spec.yaml
  mcache/datadog_checks/mcache/data/auto_conf.yaml
  mcache/datadog_checks/mcache/data/conf.yaml.example
  mcache/manifest.json
  mcache/setup.py
Labels: changelog/Added, documentation, integration/mcache

#8144 Add snmp device dashboard
  snmp/assets/dashboards/device_dashboard.json
  snmp/manifest.json
Labels: changelog/no-changelog, documentation, integration/snmp

#8081 Update haproxy doc for prometheus endpoint
  haproxy/README.md
  haproxy/assets/configuration/spec.yaml
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/haproxy

#7970 Update mongo docs for new release
  mongo/README.md
Labels: changelog/no-changelog, documentation, integration/mongo

#7991 Add mongo blog like dashboard
  mongo/assets/dashboards/overview.json
  mongo/manifest.json
Labels: changelog/no-changelog, documentation, integration/mongo

#8139 Migrate haproxy dashboard
  haproxy/assets/dashboards/overview.json
  haproxy/manifest.json
Labels: changelog/no-changelog, documentation, integration/haproxy

#8100 Add log support
  nagios/README.md
  nagios/assets/configuration/spec.yaml
  nagios/datadog_checks/nagios/data/conf.yaml.example
  nagios/manifest.json
  nagios/tests/compose/docker-compose.yaml
  nagios/tests/conftest.py
Labels: changelog/Added, documentation, integration/nagios

#8148 [Release] Bumped snmp version to 3.10.0
  .in-toto/tag.01cc90d7.link
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: changelog/no-changelog, integration/snmp, release

#8116 Removed duplicated metrics
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
Labels: changelog/Fixed, integration/postgres

#8150 Fix links to SNMP architecture images
  docs/developer/architecture/snmp.md
Labels: changelog/no-changelog, documentation

#8147 Add `tag_list` column type, allowing to ingest variable-size database-provided tags
  datadog_checks_base/datadog_checks/base/utils/db/core.py
  datadog_checks_base/datadog_checks/base/utils/db/query.py
  datadog_checks_base/datadog_checks/base/utils/db/transform.py
  datadog_checks_base/tests/test_db.py
Labels: changelog/Added, integration/datadog_checks_base

#8135 Add recommended monitor
  sonarqube/assets/recommended_monitors/vulnerabilities.json
  sonarqube/manifest.json
Labels: changelog/no-changelog, documentation, integration/sonarqube

#8149 Update PostgreSQL README dashboard screenshot
  postgres/images/postgresql_dashboard.png
Labels: changelog/no-changelog, integration/postgres

#8146 Add snmp datacenter dashboard
  snmp/assets/dashboards/datacenter_overview.json
  snmp/manifest.json
Labels: changelog/no-changelog, documentation, integration/snmp

#8152 Build developer docs in strict mode
  datadog_checks_dev/datadog_checks/dev/tooling/commands/docs/build.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8145 Add doc for flag_stream
  docs/developer/tutorials/snmp/profile-format.md
Labels: changelog/no-changelog, documentation

#8155 SNMP Use device dashboard short_name in datacenter dashboard
  snmp/assets/dashboards/datacenter_overview.json
Labels: changelog/no-changelog, integration/snmp

#8157 Update check signature
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/tests/test_aerospike.py
  aerospike/tests/test_unit.py
Labels: changelog/Fixed, integration/aerospike

#8122 [Squid] Allow https
  squid/datadog_checks/squid/squid.py
  squid/tests/test_unit.py
Labels: changelog/Fixed, integration/squid

#8160 Bump base check package
  zk/setup.py
Labels: changelog/Fixed, integration/zk

#8114 Update check signature
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/conftest.py
  elastic/tests/test_bench.py
  elastic/tests/test_elastic.py
Labels: changelog/Fixed, integration/elastic

#8162 Update dogweb dashboards list
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#8163 Upgrade mkdocs-click dep to 0.2.*
  tox.ini
Labels: changelog/no-changelog

#8164 Drop --use-feature=2020-resolver
  tox.ini
Labels: changelog/no-changelog

#8158 Migrate cassandra preset dashboards
  cassandra/assets/dashboards/cassandra_overview.json
  cassandra/assets/dashboards/cassandra_read.json
  cassandra/assets/dashboards/cassandra_sstable.json
  cassandra/assets/dashboards/cassandra_write.json
  cassandra/manifest.json
Labels: changelog/no-changelog, documentation, integration/cassandra

#8166 [Release] Bump squid version to 1.9.1
  .in-toto/tag.f90c0097.link
  requirements-agent-release.txt
  squid/CHANGELOG.md
  squid/datadog_checks/squid/__about__.py
Labels: changelog/no-changelog, integration/squid, release

#8108 Add Kafka Consumer spec
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/manifest.json
  kafka_consumer/setup.py
Labels: changelog/Added, documentation, integration/kafka_consumer

#8161 Update deprecation notice
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: changelog/Fixed, documentation, integration/kafka_consumer

#7758 Add log collection docs
  powerdns_recursor/README.md
  powerdns_recursor/assets/configuration/spec.yaml
  powerdns_recursor/datadog_checks/powerdns_recursor/data/conf.yaml.example
  powerdns_recursor/manifest.json
Labels: changelog/no-changelog, do-not-merge/HOLD, documentation, integration/powerdns_recursor

#8169 Fix formatting
  snowflake/README.md
Labels: changelog/no-changelog, documentation, integration/snowflake

#8165 Add saved_views progress
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  docs/developer/.scripts/33_render_status.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#8173 [Release] Bumped datadog_checks_base version to 15.7.0
  .in-toto/tag.b023b02a.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#8143 Refactor to use QueryManager
  rethinkdb/datadog_checks/rethinkdb/check.py
  rethinkdb/datadog_checks/rethinkdb/document_db/__init__.py
  rethinkdb/datadog_checks/rethinkdb/document_db/_example.py
  rethinkdb/datadog_checks/rethinkdb/document_db/query.py
  rethinkdb/datadog_checks/rethinkdb/document_db/types.py
  rethinkdb/datadog_checks/rethinkdb/document_db/utils.py
  rethinkdb/datadog_checks/rethinkdb/operations.py
  rethinkdb/datadog_checks/rethinkdb/queries.py
  rethinkdb/datadog_checks/rethinkdb/queries_impl.py
  rethinkdb/datadog_checks/rethinkdb/types.py
  rethinkdb/datadog_checks/rethinkdb/utils.py
  rethinkdb/setup.py
  rethinkdb/tests/assertions.py
  rethinkdb/tests/test_integration.py
  rethinkdb/tests/unit/document_db/test_query.py
  rethinkdb/tests/unit/document_db/test_transformers.py
  rethinkdb/tests/unit/document_db/test_utils.py
  rethinkdb/tests/unit/test_utils.py
Labels: changelog/Fixed, integration/rethinkdb

#8174 Update tests asserting with metadata
  coredns/metadata.csv
  coredns/tests/test_check.py
  haproxy/metadata.csv
  haproxy/tests/legacy/test_haproxy.py
  kafka/tests/test_check.py
  nginx_ingress_controller/metadata.csv
  nginx_ingress_controller/tests/test_nginx_ingress_controller.py
  snmp/tests/test_profiles.py
  varnish/tests/test_varnish.py
Labels: changelog/no-changelog, integration/coredns, integration/haproxy, integration/kafka, integration/nginx_ingress_controller, integration/snmp, integration/varnish

#8179 make the "uncomment this" more interesting in the tutorial
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, documentation

#8184 Update recommended monitor
  snowflake/assets/recommended_monitors/snowflake_failed_logins.json
Labels: changelog/no-changelog, integration/snowflake

#8175 Update check signature
  airflow/datadog_checks/airflow/airflow.py
  airflow/tests/test_integration_e2e.py
  airflow/tests/test_unit.py
Labels: changelog/Fixed, integration/airflow

#8123 Refactor has logs
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/catalog.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  docs/developer/.scripts/33_render_status.py
Labels: dev/tooling, integration/datadog_checks_dev

#8153 Document new collect_default_jvm_metrics flag for JMXFetch integrations
  activemq/datadog_checks/activemq/data/conf.yaml.example
  cassandra/datadog_checks/cassandra/data/conf.yaml.example
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
  hazelcast/datadog_checks/hazelcast/data/conf.yaml.example
  hive/datadog_checks/hive/data/conf.yaml.example
  hivemq/datadog_checks/hivemq/data/conf.yaml.example
  ignite/datadog_checks/ignite/data/conf.yaml.example
  jboss_wildfly/datadog_checks/jboss_wildfly/data/conf.yaml.example
  kafka/datadog_checks/kafka/data/conf.yaml.example
  presto/datadog_checks/presto/data/conf.yaml.example
  solr/datadog_checks/solr/data/conf.yaml.example
  sonarqube/datadog_checks/sonarqube/data/conf.yaml.example
  tomcat/datadog_checks/tomcat/data/conf.yaml.example
Labels: changelog/Added, dev/tooling, integration/activemq, integration/cassandra, integration/confluent_platform, integration/datadog_checks_dev, integration/hazelcast, integration/hive, integration/hivemq, integration/ignite, integration/jboss_wildfly, integration/kafka, integration/presto, integration/solr, integration/sonarqube, integration/tomcat

#8181 Document Snowflake connector proxy configuration and support proxy connection options
  snowflake/README.md
  snowflake/assets/configuration/spec.yaml
  snowflake/datadog_checks/snowflake/check.py
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  snowflake/tests/test_unit.py
Labels: changelog/Fixed, documentation, integration/snowflake

#8168 Migrate Memcache dashboard to integrations-core
  mcache/assets/dashboards/memcached_dashboard.json
  mcache/manifest.json
Labels: changelog/no-changelog, documentation, integration/mcache

#8195 Remove sample kubernetes yaml file
  kubernetes/README.md
Labels: changelog/no-changelog, documentation, integration/kubernetes

#8194 fail validation if metadata file is empty
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8197 Ensure connection failure message is shown on Python 2
  zk/datadog_checks/zk/zk.py
Labels: changelog/Fixed, integration/zk

#8188 [documentation] moving info out of the metrics section
  process/README.md
Labels: changelog/no-changelog, documentation, integration/process, kind/bug

#8167 openmetrics: fix error in label_joins when metrics in label_mapping are not present anymore in active_label_mapping
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/test_openmetrics.py
Labels: changelog/Fixed, integration/datadog_checks_base

#8192 Use spec template
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/manifest.json
Labels: changelog/Fixed, documentation, integration/kafka_consumer

#8198 Remove unused value in Varnish
  varnish/tests/test_varnish.py
Labels: changelog/no-changelog, integration/varnish

#8200 fix typos
  go-metro/README.md
Labels: changelog/no-changelog, documentation, integration/go-metro

#8201 Release integrations for 7.25.0 rc.2
  .in-toto/tag.57ce2495.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
  zk/CHANGELOG.md
  zk/datadog_checks/zk/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/kafka_consumer, integration/zk, release

#8205 Add missing mongodb.extra_info.heap_usage_bytesps in metadata.csv
  mongo/metadata.csv
  mongo/tests/fixtures/serverStatus
  mongo/tests/results/metrics-default.json
  mongo/tests/test_mongo.py
Labels: changelog/no-changelog, integration/mongo

#8204 Add replset metrics test
  mongo/tests/common.py
  mongo/tests/conftest.py
  mongo/tests/test_mongo.py
Labels: changelog/no-changelog, integration/mongo

#8186 Update metadata.csv
  consul/metadata.csv
  consul/tests/test_integration.py
Labels: changelog/no-changelog, integration/consul

#8213 Fix tags memory leak
  elastic/datadog_checks/elastic/config.py
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/test_config.py
Labels: changelog/Fixed, integration/elastic

#8217 Release elastic for 7.25 rc3
  .in-toto/tag.57ce2495.link
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/elastic, release

#8119 SAP HANA docs and conf.yaml.example
  sap_hana/README.md
Labels: changelog/no-changelog, documentation, integration/sap_hana

#8214 Fix Telemetry link to Istio docs
  istio/README.md
Labels: changelog/no-changelog, documentation, integration/istio

#8112 [CAP-380] P.z/pods deployments dashboard fixes
  kubernetes/assets/dashboards/kubernetes_deployments.json
  kubernetes/assets/dashboards/kubernetes_pods.json
Labels: changelog/no-changelog, integration/kubernetes

#8222 [orchestrator] change cardinality of deployment count
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Fixed, integration/kubernetes_state

#8224 Release kubernetes_state for rc4
  .in-toto/tag.57ce2495.link
  kubernetes_state/CHANGELOG.md
  kubernetes_state/datadog_checks/kubernetes_state/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kubernetes_state, release

#8209 change default monitor tag group from service to windows_service
  windows_service/assets/service_checks.json
Labels: changelog/no-changelog, integration/windows_service

#8225 MongoDB docs fix
  mongo/README.md
Labels: changelog/no-changelog, documentation, integration/mongo

#8052 [SNMP] add table recording example to docs
  docs/developer/tutorials/snmp/how-to.md
Labels: changelog/no-changelog, documentation

#8212 Migrate etcd dashboard
  etcd/assets/dashboards/etcd_2_overview.json
  etcd/manifest.json
Labels: changelog/no-changelog, documentation, integration/etcd

#8199 Add exception message to the logger to help with debugging
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
Labels: integration/pgbouncer

#8207 haproxy: minor versions update and adding v2.2 tests
  haproxy/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/haproxy

#8191 Update dogweb dashboard list
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8066 Update dashboard to blog-like format
  iis/assets/dashboards/iis_overview.json
Labels: changelog/no-changelog, documentation, integration/iis

#8229 Fix deployment count metric
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Fixed, integration/kubernetes_state

#8231 release kubernetes_state for 7.25 rc5
  .in-toto/tag.57ce2495.link
  kubernetes_state/CHANGELOG.md
  kubernetes_state/datadog_checks/kubernetes_state/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kubernetes_state, release

#8151 Update dashboard to blog like
  aerospike/assets/dashboards/overview.json
Labels: changelog/no-changelog, documentation, integration/aerospike

#8235 Add exec command option to ddev env shell
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/shell.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8215 Add metric_to_check validation redirection for snmp_<vendor> integrations
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8228 Replace old tls_verify implementation with in-house TLS library.
  vertica/assets/configuration/spec.yaml
  vertica/datadog_checks/vertica/data/conf.yaml.example
  vertica/datadog_checks/vertica/vertica.py
  vertica/setup.py
  vertica/tests/common.py
  vertica/tests/conftest.py
  vertica/tests/test_unit.py
Labels: changelog/Changed, documentation, integration/vertica

#8237 Fix release
  datadog_checks_dev/datadog_checks/dev/tooling/signing.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8239 [Release] Bumped datadog_checks_dev version to 6.1.0
  .in-toto/tag.31091c85.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#8233 Correct default template usage
  cacti/assets/configuration/spec.yaml
  cacti/datadog_checks/cacti/data/conf.yaml.example
  disk/assets/configuration/spec.yaml
  disk/datadog_checks/disk/data/conf.yaml.default
  ecs_fargate/assets/configuration/spec.yaml
  ecs_fargate/datadog_checks/ecs_fargate/data/conf.yaml.example
  exchange_server/assets/configuration/spec.yaml
  exchange_server/datadog_checks/exchange_server/data/conf.yaml.example
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  network/assets/configuration/spec.yaml
  network/datadog_checks/network/data/conf.yaml.default
  oracle/assets/configuration/spec.yaml
  oracle/datadog_checks/oracle/data/conf.yaml.example
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  vertica/assets/configuration/spec.yaml
  vertica/datadog_checks/vertica/data/conf.yaml.example
Labels: documentation, integration/cacti, integration/disk, integration/ecs_fargate, integration/exchange_server, integration/kafka_consumer, integration/network, integration/oracle, integration/sqlserver, integration/vertica

#8232 Ensure default templates are included in config spec
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8189 Add new Memcache Screenboard
  mcache/assets/dashboards/memcached_screenboard.json
  mcache/manifest.json
Labels: changelog/no-changelog, documentation, integration/mcache

#8242 Move ZooKeeper SSL info out of Hosts tab in README
  zk/README.md
Labels: changelog/no-changelog, documentation, integration/zk

#8220 Add missing metrics to hp-ilo4 profile
  snmp/datadog_checks/snmp/data/profiles/_hp-driver-stats.yaml
  snmp/datadog_checks/snmp/data/profiles/hp-ilo4.yaml
  snmp/datadog_checks/snmp/data/profiles/hpe-proliant.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/hp-ilo4.snmprec
  snmp/tests/test_profiles.py
Labels: changelog/Changed, integration/snmp

#8206 Snmp Juniper profiles for EX (switches), MX (routers) and SRX (firewalls) series
  snmp/datadog_checks/snmp/data/profiles/_juniper-cos.yaml
  snmp/datadog_checks/snmp/data/profiles/_juniper-dcu.yaml
  snmp/datadog_checks/snmp/data/profiles/_juniper-firewall.yaml
  snmp/datadog_checks/snmp/data/profiles/_juniper-scu.yaml
  snmp/datadog_checks/snmp/data/profiles/_juniper-userfirewall.yaml
  snmp/datadog_checks/snmp/data/profiles/_juniper-virtualchassis.yaml
  snmp/datadog_checks/snmp/data/profiles/juniper-ex.yaml
  snmp/datadog_checks/snmp/data/profiles/juniper-mx.yaml
  snmp/datadog_checks/snmp/data/profiles/juniper-srx.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/juniper-ex.snmprec
  snmp/tests/compose/data/juniper-mx.snmprec
  snmp/tests/compose/data/juniper-srx.snmprec
  snmp/tests/metrics.py
  snmp/tests/test_profiles.py
Labels: changelog/Added, integration/snmp

#8245 Fix marklogic.forests.total_load unit
  marklogic/metadata.csv
Labels: changelog/no-changelog, integration/marklogic

#8246 Fix gearman metric prefix
  gearmand/manifest.json
Labels: changelog/no-changelog, documentation, integration/gearmand

#8226 Add recommended monitors for MarkLogic
  marklogic/assets/recommended_monitors/marklogic_high_load.json
  marklogic/assets/recommended_monitors/marklogic_long_requests.json
  marklogic/assets/recommended_monitors/marklogic_low_cache.json
  marklogic/manifest.json
Labels: changelog/no-changelog, documentation, integration/marklogic

#8249 Bump lxml to 4.6.2
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ibm_was/requirements.in
Labels: changelog/Fixed, dependencies, integration/datadog_checks_base, integration/ibm_was

#8247 Fix deployment count metric
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Fixed, integration/kubernetes_state

#8252 Prepare integrations for rc7 release
  .in-toto/tag.57ce2495.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  kubernetes_state/CHANGELOG.md
  kubernetes_state/datadog_checks/kubernetes_state/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/ibm_was, integration/kubernetes_state, release

#8256 Fix cacti config
  cacti/assets/configuration/spec.yaml
  cacti/datadog_checks/cacti/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/cacti

#8253 Update release docs communication
  docs/developer/process/agent-release/pre-release.md
Labels: changelog/no-changelog, documentation

#8248 Update check signature
  gitlab/datadog_checks/gitlab/gitlab.py
Labels: changelog/Fixed, integration/gitlab

#8236 Update prometheus_metrics_prefix documentation
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  azure_iot_edge/datadog_checks/azure_iot_edge/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  crio/datadog_checks/crio/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  etcd/datadog_checks/etcd/data/conf.yaml.example
  external_dns/datadog_checks/external_dns/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  kube_scheduler/datadog_checks/kube_scheduler/data/conf.yaml.example
  linkerd/datadog_checks/linkerd/data/conf.yaml.example
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: dev/tooling, integration/amazon_msk, integration/azure_iot_edge, integration/cilium, integration/cockroachdb, integration/coredns, integration/crio, integration/datadog_checks_dev, integration/etcd, integration/external_dns, integration/gitlab, integration/gitlab_runner, integration/haproxy, integration/istio, integration/kube_apiserver_metrics, integration/kube_scheduler, integration/linkerd, integration/nginx_ingress_controller, integration/openmetrics, integration/scylla

#8098 Add SSL support for connection
  sap_hana/assets/configuration/spec.yaml
  sap_hana/datadog_checks/sap_hana/connection.py
  sap_hana/datadog_checks/sap_hana/data/conf.yaml.example
  sap_hana/datadog_checks/sap_hana/sap_hana.py
  sap_hana/setup.py
  sap_hana/tests/test_unit.py
Labels: changelog/Added, documentation, integration/sap_hana

#8254 Make 'Context limit reached' message a warning
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/Fixed, integration/kafka_consumer

#8078 Add metrics for structured streams
  spark/assets/configuration/spec.yaml
  spark/datadog_checks/spark/data/conf.yaml.example
  spark/datadog_checks/spark/spark.py
  spark/metadata.csv
  spark/tests/common.py
  spark/tests/conftest.py
  spark/tests/docker/Dockerfile
  spark/tests/docker/app.py
  spark/tests/docker/docker-compose.yaml
  spark/tests/docker/spark-apps/Dockerfile
  spark/tests/docker/spark-apps/app.py
  spark/tests/docker/spark-apps/app2.py
  spark/tests/docker/spark-apps/requirements.txt
  spark/tests/docker/words-sender/Dockerfile
  spark/tests/docker/words-sender/script.py
  spark/tests/fixtures/metrics_json
  spark/tests/test_e2e.py
  spark/tests/test_spark.py
  spark/tox.ini
Labels: changelog/Added, do-not-merge/WIP, documentation, integration/spark

#8263 Clear stale PIDs from cache
  process/datadog_checks/process/process.py
Labels: changelog/Added, integration/process

#8265 [Release] Bumped process version to 1.17.0
  .in-toto/tag.c295cf63.link
  process/CHANGELOG.md
  process/datadog_checks/process/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/process, release

#8085 Update Codecov config validation with new flag carryforward options
  .codecov.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
  datadog_checks_dev/tox.ini
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#8230 Update TLS check to use TLS context wrapper
  tls/assets/configuration/spec.yaml
  tls/datadog_checks/tls/data/conf.yaml.example
  tls/datadog_checks/tls/tls.py
  tls/setup.py
  tls/tests/conftest.py
  tls/tests/test_config.py
Labels: changelog/Changed, documentation, integration/tls

#8270 changelog/Changed
  spark/README.md
Labels: changelog/no-changelog, documentation, integration/spark

#8271 Fix error log message
  couchbase/datadog_checks/couchbase/couchbase.py
Labels: changelog/Fixed, integration/couchbase

#8258 Update check signature
  envoy/datadog_checks/envoy/envoy.py
  envoy/tests/test_envoy.py
Labels: changelog/Fixed, integration/envoy

#8202 more status tracking
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  docs/developer/.scripts/33_render_status.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#8208 Make tests more accurate
  oracle/tests/test_oracle.py
Labels: changelog/no-changelog, dev/testing, integration/oracle

#8193 Add test for url formatting
  marklogic/tests/test_api.py
Labels: changelog/no-changelog, integration/marklogic

#8172 Update README.md
  windows_service/README.md
Labels: changelog/no-changelog, documentation, integration/windows_service

#8176 Update check signature
  ambari/datadog_checks/ambari/ambari.py
  ambari/tests/test_ambari.py
Labels: changelog/Fixed, integration/ambari

#8171 Report UNKNOWN instead of CRITICAL if no Windows service matches the …
  windows_service/datadog_checks/windows_service/windows_service.py
  windows_service/tests/test_windows_service.py
Labels: changelog/Changed, integration/windows_service

#8272 [Release] Bumped spark version to 1.19.0
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  spark/CHANGELOG.md
  spark/datadog_checks/spark/__about__.py
Labels: changelog/no-changelog, integration/spark, release

#8257 PGBouncer SSL note
  pgbouncer/README.md
Labels: changelog/no-changelog, documentation, integration/pgbouncer

#8276 Add new global fixture to mock HTTP requests
  datadog_checks_dev/datadog_checks/dev/http.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: changelog/Added, integration/datadog_checks_dev
