Repository DataDog/integrations-core, pull requests merged in 2021-11, with the labels that each got.

#10520 Modify Zookeeper test env certificates
  zk/tests/compose/client/ca_cert.pem
  zk/tests/compose/client/cert.pem
  zk/tests/compose/client/private_key.pem
  zk/tests/compose/server/sample_keystore.jks
  zk/tests/compose/server/sample_truststore.jks
  zk/tests/conftest.py
Labels: changelog/no-changelog, integration/zk

#10522 New dashboard for Nginx
  nginx/assets/dashboards/NGINX-Overview_dashboard.json
Labels: changelog/no-changelog, integration/nginx

#10530 Revert "New dashboard for Nginx"
  nginx/assets/dashboards/NGINX-Overview_dashboard.json
Labels: changelog/no-changelog, integration/nginx

#10528 Yarn + Prometheus fix links
  prometheus/README.md
  yarn/README.md
Labels: documentation, changelog/no-changelog, integration/prometheus, integration/yarn

#10481 reduce ZK tests flakiness
  zk/tests/common.py
  zk/tests/test_e2e.py
  zk/tests/test_zk.py
  zk/tox.ini
Labels: changelog/no-changelog, integration/zk

#10536 Use https when installing codecov
  .azure-pipelines/templates/install-deps.yml
Labels: changelog/no-changelog, dev/testing

#10533 Add docker-compose attempts
  ceph/tests/conftest.py
  couchbase/tests/conftest.py
  datadog_checks_base/tests/conftest.py
Labels: changelog/no-changelog, integration/couchbase, integration/ceph, integration/datadog_checks_base

#10525 Collect a metric about valid and invalid DatadogMetrics
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/metadata.csv
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
Labels: changelog/Added, integration/datadog_cluster_agent

#10537 Release proxysql 3.3.0
  .in-toto/tag.47c5a022.link
  proxysql/CHANGELOG.md
  proxysql/datadog_checks/proxysql/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, release, integration/proxysql

#10538 Support newer versions of Hadoop
  hdfs_datanode/README.md
  hdfs_datanode/assets/configuration/spec.yaml
  hdfs_datanode/datadog_checks/hdfs_datanode/data/conf.yaml.example
  hdfs_datanode/datadog_checks/hdfs_datanode/hdfs_datanode.py
  hdfs_datanode/tests/common.py
  hdfs_datanode/tests/compose/docker-compose.yaml
  hdfs_datanode/tests/conftest.py
  hdfs_datanode/tests/fixtures/hdfs_datanode_info_jmx.json
  hdfs_datanode/tests/test_hdfs_datanode.py
  hdfs_datanode/tests/test_integration.py
  hdfs_datanode/tox.ini
  hdfs_namenode/README.md
  hdfs_namenode/assets/configuration/spec.yaml
  hdfs_namenode/datadog_checks/hdfs_namenode/data/conf.yaml.example
  hdfs_namenode/datadog_checks/hdfs_namenode/hdfs_namenode.py
  hdfs_namenode/tests/common.py
  hdfs_namenode/tests/compose/docker-compose.yaml
  hdfs_namenode/tests/conftest.py
  hdfs_namenode/tests/fixtures/hdfs_namesystem_info.json
  hdfs_namenode/tests/test_hdfs_namenode.py
  hdfs_namenode/tests/test_integration.py
  hdfs_namenode/tox.ini
Labels: documentation, integration/hdfs_datanode, integration/hdfs_namenode, changelog/Added

#10519 [eks_fargate] Mention DD Forwarder in log collection docs
  eks_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/eks_fargate

#10526 Add log source
  win32_event_log/manifest.json
Labels: documentation, do-not-merge/HOLD, changelog/no-changelog, integration/win32_event_log

#10527 Remove windows_event_log expected error
  .gitlab/validate-logs-intgs/validate_log_intgs.py
Labels: do-not-merge/HOLD, changelog/no-changelog, dev/tooling

#10409 Fix CPU metrics on ECS Fargate
  ecs_fargate/assets/configuration/spec.yaml
  ecs_fargate/datadog_checks/ecs_fargate/config_models/defaults.py
  ecs_fargate/datadog_checks/ecs_fargate/data/conf.yaml.default
  ecs_fargate/datadog_checks/ecs_fargate/data/conf.yaml.example
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  ecs_fargate/metadata.csv
  ecs_fargate/tests/conftest.py
  ecs_fargate/tests/fixtures/stats_wrong_system_delta.json
  ecs_fargate/tests/test_unit.py
Labels: kind/bug, documentation, integration/ecs_fargate, changelog/Fixed

#10451 Split openstack tiles
  openstack/README.md
  openstack/manifest.json
  openstack_controller/README.md
  openstack_controller/assets/dashboards/openstack-controller.json
  openstack_controller/manifest.json
Labels: documentation, changelog/no-changelog, integration/openstack, integration/openstack_controller

#10553 Add TileDescriptionValidator for V2 manifests
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/validator.py
  datadog_checks_dev/tests/tooling/manifest_validator/input_constants.py
  datadog_checks_dev/tests/tooling/manifest_validator/test_v2_validator.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#10543 Add ZK test README
  zk/tests/README.md
Labels: documentation, changelog/no-changelog, integration/zk, editorial review

#10462 Migrate hdfs dashboards
  hdfs_datanode/assets/dashboards/hdfs_datanode_dashboard.json
  hdfs_datanode/manifest.json
  hdfs_namenode/assets/dashboards/hdfs_namenode_dashboard.json
  hdfs_namenode/manifest.json
Labels: documentation, changelog/no-changelog, integration/hdfs_datanode, integration/hdfs_namenode

#10521 Add Windows support for ECS Fargate
  ecs_fargate/README.md
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  ecs_fargate/metadata.csv
  ecs_fargate/tests/conftest.py
  ecs_fargate/tests/fixtures/stats_linux.json
  ecs_fargate/tests/fixtures/stats_windows.json
  ecs_fargate/tests/test_unit.py
Labels: documentation, integration/ecs_fargate, changelog/Added

#10535 Add some debug messages to release make command and some refactor
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/make.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/show/changes.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10523 Add option to include security deps in dep command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
Labels: dev/tooling, integration/datadog_checks_dev

#10554 DOCS-2530 Lint Integrations section (part 1)
  activemq/README.md
  aerospike/README.md
  airflow/README.md
  amazon_eks/README.md
  ambari/README.md
  apache/README.md
  aspdotnet/README.md
  azure_iot_edge/README.md
  cacti/README.md
  cassandra/README.md
  ceph/README.md
  cilium/README.md
Labels: documentation, changelog/no-changelog, integration/activemq, integration/apache, integration/aspdotnet, integration/cacti, integration/cassandra, integration/ceph, integration/aerospike, integration/ambari, integration/amazon_eks, integration/cilium, integration/airflow, integration/azure_iot_edge

#10555 Add documentation for new DBM only postgres metrics
  postgres/README.md
  postgres/metadata.csv
Labels: documentation, changelog/no-changelog, integration/postgres

#10560 Move config fetching to init and add types
  dns_check/datadog_checks/dns_check/dns_check.py
  dns_check/tox.ini
Labels: changelog/no-changelog, integration/dns_check

#10563 Fix a race in a test for running async jobs
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: changelog/no-changelog, integration/datadog_checks_base, changelog/Fixed

#10304 Update Istio to use OpenMetrics v2 by default
  istio/README.md
  istio/assets/configuration/spec.yaml
  istio/datadog_checks/istio/config_models/defaults.py
  istio/datadog_checks/istio/config_models/instance.py
  istio/datadog_checks/istio/data/conf.yaml.example
  istio/metadata.csv
  istio/tests/common.py
  istio/tests/conftest.py
  istio/tests/test_e2e.py
  istio/tests/test_istio_v1.py
  istio/tests/test_istio_v2.py
Labels: documentation, integration/istio, changelog/Added

#10561 Add legacy note on prometheus tile
  prometheus/manifest.json
Labels: documentation, changelog/no-changelog, integration/prometheus

#10565 Add attempts
  clickhouse/tests/conftest.py
  datadog_checks_base/tests/conftest.py
  ignite/tests/conftest.py
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/clickhouse, integration/ignite

#10568 Change mongo tested versions
  mongo/tox.ini
Labels: changelog/no-changelog, integration/mongo

#10574 Add optional assertion and assert all metrics
  hdfs_datanode/tests/common.py
  hdfs_datanode/tests/test_integration.py
Labels: changelog/no-changelog, integration/hdfs_datanode

#10564 Update README templates
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/snmp_tile/snmp_{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/tile/{check_name}/README.md
Labels: documentation, dev/tooling, integration/datadog_checks_dev

#10576 fix autodiscovery typos
  mysql/README.md
Labels: documentation, changelog/no-changelog, integration/mysql

#8943 Add runtime configuration validation
  kong/assets/configuration/spec.yaml
  kong/datadog_checks/kong/config_models/__init__.py
  kong/datadog_checks/kong/config_models/defaults.py
  kong/datadog_checks/kong/config_models/instance.py
  kong/datadog_checks/kong/config_models/shared.py
  kong/datadog_checks/kong/config_models/validators.py
  kong/datadog_checks/kong/data/conf.yaml.example
Labels: documentation, integration/kong, changelog/Added

#8969 Add runtime configuration validation
  php_fpm/assets/configuration/spec.yaml
  php_fpm/datadog_checks/php_fpm/config_models/__init__.py
  php_fpm/datadog_checks/php_fpm/config_models/defaults.py
  php_fpm/datadog_checks/php_fpm/config_models/instance.py
  php_fpm/datadog_checks/php_fpm/config_models/shared.py
  php_fpm/datadog_checks/php_fpm/config_models/validators.py
  php_fpm/datadog_checks/php_fpm/data/conf.yaml.example
Labels: documentation, integration/php_fpm, changelog/Added

#8901 Add runtime configuration validation
  couch/assets/configuration/spec.yaml
  couch/datadog_checks/couch/config_models/__init__.py
  couch/datadog_checks/couch/config_models/defaults.py
  couch/datadog_checks/couch/config_models/instance.py
  couch/datadog_checks/couch/config_models/shared.py
  couch/datadog_checks/couch/config_models/validators.py
  couch/datadog_checks/couch/data/conf.yaml.example
Labels: documentation, integration/couch, changelog/Added

#10524 update DBM instructions for requesting beta access
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/sqlserver

#8968 Add runtime configuration validation
  pgbouncer/assets/configuration/spec.yaml
  pgbouncer/datadog_checks/pgbouncer/config_models/__init__.py
  pgbouncer/datadog_checks/pgbouncer/config_models/defaults.py
  pgbouncer/datadog_checks/pgbouncer/config_models/instance.py
  pgbouncer/datadog_checks/pgbouncer/config_models/shared.py
  pgbouncer/datadog_checks/pgbouncer/config_models/validators.py
  pgbouncer/datadog_checks/pgbouncer/data/conf.yaml.example
Labels: documentation, integration/pgbouncer, changelog/Added

#9830 [DOCS-2262] route information to alertmanager docs
  prometheus/README.md
Labels: documentation, changelog/no-changelog, integration/prometheus

#8780 [DOCS 1496] Update kube-apiserver-metrics readme with cluster agent note
  kube_apiserver_metrics/README.md
Labels: documentation, changelog/no-changelog, integration/kube_apiserver_metrics

#10493 Adds support for include_labels
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/tests/base/checks/openmetrics/test_config.py
  datadog_checks_base/tests/base/checks/openmetrics/test_openmetrics.py
  datadog_checks_base/tests/base/checks/openmetrics/test_options.py
Labels: documentation, dev/testing, integration/datadog_checks_base, changelog/Added

#8896 Add runtime configuration validation
  cloud_foundry_api/datadog_checks/cloud_foundry_api/config_models/__init__.py
  cloud_foundry_api/datadog_checks/cloud_foundry_api/config_models/defaults.py
  cloud_foundry_api/datadog_checks/cloud_foundry_api/config_models/instance.py
  cloud_foundry_api/datadog_checks/cloud_foundry_api/config_models/shared.py
  cloud_foundry_api/datadog_checks/cloud_foundry_api/config_models/validators.py
  cloud_foundry_api/tox.ini
Labels: changelog/Added, integration/cloud_foundry_api

#10529 Update README links
  README.md
  aerospike/README.md
  ambari/README.md
  apache/README.md
  avi_vantage/README.md
  azure_iot_edge/README.md
  cilium/README.md
  citrix_hypervisor/README.md
  clickhouse/README.md
  cloud_foundry_api/README.md
  consul_connect/README.md
  containerd/README.md
  cri/README.md
  databricks/README.md
  flink/README.md
  glusterfs/README.md
  gunicorn/README.md
  hazelcast/README.md
  hive/README.md
  hivemq/README.md
  hudi/README.md
  hyperv/README.md
  ibm_db2/README.md
  ibm_i/README.md
  ignite/README.md
  kube_apiserver_metrics/README.md
  kube_controller_manager/README.md
  kube_metrics_server/README.md
  kube_scheduler/README.md
  marklogic/README.md
  mesos_master/README.md
  nginx_ingress_controller/README.md
  oom_kill/README.md
  openstack/README.md
  openstack_controller/README.md
  otel/README.md
  process/README.md
  prometheus/README.md
  proxysql/README.md
  rethinkdb/README.md
  sap_hana/README.md
  scylla/README.md
  sidekiq/README.md
  singlestore/README.md
  snowflake/README.md
  sonarqube/README.md
  twistlock/README.md
  vertica/README.md
  voltdb/README.md
Labels: documentation, changelog/no-changelog, integration/apache, integration/gunicorn, integration/mesos_master, integration/nginx, integration/openstack, integration/process, integration/prometheus, integration/cri, integration/openstack_controller, integration/hyperv, integration/nginx_ingress_controller, integration/kube_controller_manager, integration/containerd, integration/twistlock, integration/aerospike, integration/ibm_db2, integration/kube_scheduler, integration/ambari, integration/kube_metrics_server, integration/hive, integration/kube_apiserver_metrics, integration/vertica, integration/sap_hana, integration/cilium, integration/clickhouse, integration/scylla, integration/flink, integration/rethinkdb, integration/ignite, integration/sidekiq, integration/proxysql, integration/hazelcast, integration/marklogic, integration/hivemq, integration/cloud_foundry_api, integration/oom_kill, integration/snowflake, integration/azure_iot_edge, integration/sonarqube, integration/voltdb, integration/glusterfs, integration/otel, integration/databricks, integration/consul_connect, integration/avi_vantage, integration/ibm_i, integration/citrix_hypervisor, integration/singlestore, integration/hudi

#10579 Update Agent Release docs with mergefreeze process
  docs/developer/process/agent-release/pre-release.md
Labels: documentation, changelog/no-changelog

#8953 Add runtime configuration validation
  marklogic/datadog_checks/marklogic/config_models/__init__.py
  marklogic/datadog_checks/marklogic/config_models/defaults.py
  marklogic/datadog_checks/marklogic/config_models/instance.py
  marklogic/datadog_checks/marklogic/config_models/shared.py
  marklogic/datadog_checks/marklogic/config_models/validators.py
  marklogic/tox.ini
Labels: changelog/Added, integration/marklogic

#10473 Docs: update containerd metrics description
  containerd/metadata.csv
Labels: changelog/no-changelog, integration/containerd

#10569 feat: add kube_apiserver.etcd.db.total_size metric
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/metadata.csv
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_19.py
Labels: changelog/Changed, integration/kube_apiserver_metrics

#10581 Set is_public to true in the IBM i check metadata
  ibm_i/manifest.json
Labels: documentation, changelog/no-changelog, integration/ibm_i

#10575 Add docker-compose attempts to IBM mq
  ibm_mq/tests/conftest.py
Labels: changelog/no-changelog, integration/ibm_mq

#8893 Add runtime configuration validation
  cilium/datadog_checks/cilium/config_models/__init__.py
  cilium/datadog_checks/cilium/config_models/defaults.py
  cilium/datadog_checks/cilium/config_models/instance.py
  cilium/datadog_checks/cilium/config_models/shared.py
  cilium/datadog_checks/cilium/config_models/validators.py
Labels: changelog/Added, integration/cilium

#10222 Add latest postgres env
  postgres/tests/common.py
  postgres/tests/compose/docker-compose.yaml
  postgres/tests/conftest.py
  postgres/tests/test_pg_integration.py
  postgres/tox.ini
Labels: changelog/no-changelog, integration/postgres

#10585 Update changelog and agent integrations for 7.32.0 and 7.31.0
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
Labels: documentation, changelog/no-changelog

#8906 Add runtime configuration validation
  dns_check/assets/configuration/spec.yaml
  dns_check/datadog_checks/dns_check/config_models/__init__.py
  dns_check/datadog_checks/dns_check/config_models/defaults.py
  dns_check/datadog_checks/dns_check/config_models/instance.py
  dns_check/datadog_checks/dns_check/config_models/shared.py
  dns_check/datadog_checks/dns_check/config_models/validators.py
  dns_check/datadog_checks/dns_check/data/conf.yaml.example
Labels: documentation, integration/dns_check, changelog/Added

#10588 Pin tested clickhouse 21 version
  clickhouse/tests/test_clickhouse.py
  clickhouse/tox.ini
Labels: changelog/no-changelog, integration/clickhouse

#10590 Fix location of config
  datadog_checks_dev/datadog_checks/dev/tooling/config.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10592 fix sqlserver resolved_hostname by handling comma correctly
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_integration.py
Labels: integration/sqlserver, changelog/Fixed

#10593 Pin mypy types-PyMySQL to 1.0.4
  mysql/tox.ini
  singlestore/tox.ini
Labels: changelog/no-changelog, integration/mysql, integration/singlestore

#10587 Make citrix_hypervisor public
  citrix_hypervisor/manifest.json
Labels: documentation, changelog/no-changelog, integration/citrix_hypervisor

#8917 Add runtime configuration validation
  gearmand/assets/configuration/spec.yaml
  gearmand/datadog_checks/gearmand/config_models/__init__.py
  gearmand/datadog_checks/gearmand/config_models/defaults.py
  gearmand/datadog_checks/gearmand/config_models/instance.py
  gearmand/datadog_checks/gearmand/config_models/shared.py
  gearmand/datadog_checks/gearmand/config_models/validators.py
  gearmand/datadog_checks/gearmand/data/conf.yaml.example
Labels: documentation, integration/gearmand, changelog/Added

#10584 Add attempts to SQLServer docker run
  harbor/tests/conftest.py
  sqlserver/tests/conftest.py
Labels: changelog/no-changelog, integration/sqlserver, integration/harbor

#10583 Assert optional slowlog metrics
  redisdb/tests/test_e2e.py
Labels: changelog/no-changelog, integration/redisdb

#10408 Rename `DEB_RPM_BUCKET_BRANCH` to `BUCKET_BRANCH`
  .gitlab/validate-agent-build/trigger_agent_build.py
Labels: changelog/no-changelog, dev/tooling

#10589 Add option to collect OpenMetrics counters on first scrape
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/first_scrape_handler.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/counter.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/counter_gauge.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/histogram.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/summary.py
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/datadog_checks/base/stubs/common.py
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/tests/base/checks/openmetrics/test_first_scrape_handler.py
  datadog_checks_base/tests/base/checks/openmetrics/test_openmetrics.py
  datadog_checks_base/tests/stubs/test_aggregator_no_duplicate.py
  datadog_checks_base/tests/stubs/test_aggregator_similar.py
Labels: integration/datadog_checks_base, changelog/Added

#10552 Add Hudi default dashboard
  hudi/assets/dashboards/overview.json
  hudi/manifest.json
Labels: documentation, changelog/no-changelog, integration/hudi

#10594 handle missing DBM metrics columns on older SQL Server versions
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_statements.py
Labels: integration/sqlserver, changelog/Fixed

#10582 Update style dependencies
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: integration/datadog_checks_base, changelog/Added, integration/datadog_checks_dev

#9267 Clarify `database_autodiscovery` config
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/sqlserver

#10177 Add yubikey troubleshooting to dev release doc
  docs/developer/process/integration-release.md
Labels: documentation, changelog/no-changelog

#10541 Enable `extra_status_metrics` and `replication` metrics by default when DBM is enabled
  mysql/datadog_checks/mysql/mysql.py
Labels: integration/mysql, changelog/Changed

#10577 Introduce new `container` integrations
  container/README.md
  container/assets/service_checks.json
  container/manifest.json
  container/metadata.csv
Labels: documentation, changelog/no-changelog, integration/container

#10597 Make singlestore public
  singlestore/manifest.json
Labels: documentation, changelog/no-changelog, integration/singlestore

#10599 [Release] Bumped datadog_checks_dev version to 15.2.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#10292 Add Windows metrics in containerd integration
  containerd/README.md
  containerd/metadata.csv
Labels: documentation, changelog/no-changelog, integration/containerd

#7920 Fix test environment
  gearmand/tests/compose/docker-compose.yaml
  gearmand/tests/conftest.py
  gearmand/tests/test_integration.py
  gearmand/tests/test_integration_e2e.py
  gearmand/tox.ini
Labels: changelog/no-changelog, integration/gearmand

#10557 Change order of gitlab pipeline stages
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#10600 [Release] Bumped datadog_checks_base version to 23.2.0
  .in-toto/tag.bb47f8e8.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#10545 Add troubleshooting note for high custom metric billings when enabling openmetrics
  istio/README.md
Labels: documentation, changelog/no-changelog, integration/istio

#8490 update metadata.csv for system.net.tcp.failed_retransmits
  network/metadata.csv
Labels: changelog/no-changelog, integration/network

#10573 Mysql additional vars
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
Labels: integration/mysql, changelog/Added

#10604 Bump minimum base requirement to 15.7.0
  hdfs_datanode/setup.py
Labels: integration/hdfs_datanode, changelog/Fixed

#10602 Add database team as co-owners of postgres and mysql
  .github/CODEOWNERS
Labels: changelog/no-changelog

#10606 Update warning message about agent signature
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/integration_style.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10580 Update dependencies
  LICENSE-3rdparty.csv
  amazon_msk/requirements.in
  clickhouse/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  datadog_checks_dependency_provider/requirements.in
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  ibm_was/requirements.in
  sqlserver/requirements.in
Labels: dev/tooling, integration/datadog_checks_base, integration/sqlserver, changelog/Added, integration/datadog_checks_dev, integration/ibm_was, integration/clickhouse, integration/amazon_msk, dependencies, integration/datadog_checks_dependency_provider

#10549 Add support for monitoring Redis stream keys
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/tests/test_default.py
Labels: integration/redisdb, changelog/Added

#10531 Added verbose logging for parsing 'mntr' output
  zk/datadog_checks/zk/zk.py
  zk/tests/conftest.py
  zk/tests/fixtures/mntr_metrics
  zk/tests/test_zk.py
Labels: integration/zk, changelog/Fixed

#10608 Add missing NGINX plus metrics to metadata and assert metadata in tests
  nginx/metadata.csv
  nginx/tests/test_unit.py
Labels: changelog/no-changelog, integration/nginx

#10607 fix: Add missing metric to datadog_cluster_agent
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/metadata.csv
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
Labels: changelog/Fixed, integration/datadog_cluster_agent

#10595 Support the `hdbcli` client library
  sap_hana/README.md
  sap_hana/assets/configuration/spec.yaml
  sap_hana/datadog_checks/sap_hana/config_models/defaults.py
  sap_hana/datadog_checks/sap_hana/config_models/instance.py
  sap_hana/datadog_checks/sap_hana/connection.py
  sap_hana/datadog_checks/sap_hana/data/conf.yaml.example
  sap_hana/datadog_checks/sap_hana/exceptions.py
  sap_hana/datadog_checks/sap_hana/sap_hana.py
  sap_hana/tests/common.py
  sap_hana/tests/test_unit.py
  sap_hana/tox.ini
Labels: documentation, changelog/Added, integration/sap_hana

#10609 Remove integration style hostname submission validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/integration_style.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10611 Fix memory units
  ibm_was/metadata.csv
Labels: changelog/no-changelog, integration/ibm_was

#10605 Set log level to debug for memstats
  go_expvar/datadog_checks/go_expvar/go_expvar.py
  go_expvar/tests/test_unit.py
Labels: integration/go_expvar, changelog/Fixed

#8978 Add runtime configuration validation
  rethinkdb/assets/configuration/spec.yaml
  rethinkdb/datadog_checks/rethinkdb/config_models/__init__.py
  rethinkdb/datadog_checks/rethinkdb/config_models/defaults.py
  rethinkdb/datadog_checks/rethinkdb/config_models/instance.py
  rethinkdb/datadog_checks/rethinkdb/config_models/shared.py
  rethinkdb/datadog_checks/rethinkdb/config_models/validators.py
  rethinkdb/datadog_checks/rethinkdb/data/conf.yaml.example
  rethinkdb/tox.ini
Labels: documentation, changelog/Added, integration/rethinkdb

#8926 Add runtime configuration validation
  hazelcast/assets/configuration/spec.yaml
  hazelcast/datadog_checks/hazelcast/config_models/__init__.py
  hazelcast/datadog_checks/hazelcast/config_models/defaults.py
  hazelcast/datadog_checks/hazelcast/config_models/instance.py
  hazelcast/datadog_checks/hazelcast/config_models/shared.py
  hazelcast/datadog_checks/hazelcast/config_models/validators.py
  hazelcast/datadog_checks/hazelcast/data/conf.yaml.example
Labels: documentation, changelog/Added, integration/hazelcast

#8934 Add runtime configuration validation
  ibm_db2/datadog_checks/ibm_db2/config_models/__init__.py
  ibm_db2/datadog_checks/ibm_db2/config_models/defaults.py
  ibm_db2/datadog_checks/ibm_db2/config_models/instance.py
  ibm_db2/datadog_checks/ibm_db2/config_models/shared.py
  ibm_db2/datadog_checks/ibm_db2/config_models/validators.py
Labels: changelog/Added, integration/ibm_db2

#8936 Add runtime configuration validation
  ibm_was/datadog_checks/ibm_was/config_models/__init__.py
  ibm_was/datadog_checks/ibm_was/config_models/defaults.py
  ibm_was/datadog_checks/ibm_was/config_models/instance.py
  ibm_was/datadog_checks/ibm_was/config_models/shared.py
  ibm_was/datadog_checks/ibm_was/config_models/validators.py
  ibm_was/tests/test_unit.py
Labels: changelog/Added, integration/ibm_was

#8948 Add runtime configuration validation
  linkerd/assets/configuration/spec.yaml
  linkerd/datadog_checks/linkerd/config_models/__init__.py
  linkerd/datadog_checks/linkerd/config_models/defaults.py
  linkerd/datadog_checks/linkerd/config_models/instance.py
  linkerd/datadog_checks/linkerd/config_models/shared.py
  linkerd/datadog_checks/linkerd/config_models/validators.py
  linkerd/datadog_checks/linkerd/data/conf.yaml.example
Labels: documentation, integration/linkerd, changelog/Added

#10504 Add new base class for monitoring Windows performance counters
  datadog_checks_base/datadog_checks/base/__init__.py
  datadog_checks_base/datadog_checks/base/checks/windows/__init__.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/__init__.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/base.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/connection.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/constants.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/counter.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/transform.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/transformers/__init__.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/transformers/count.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/transformers/gauge.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/transformers/monotonic_count.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/transformers/rate.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/transformers/service_check.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/transformers/temporal_percent.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/transformers/time_elapsed.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/utils.py
  datadog_checks_base/tests/base/checks/windows/__init__.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/__init__.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/test_aggregation.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/test_config.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/test_filter.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/test_health.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/test_integration.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/test_legacy_support.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/test_localization.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/test_refresh.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/test_subclass.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/transformers/__init__.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/transformers/test_count.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/transformers/test_gauge.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/transformers/test_monotonic_count.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/transformers/test_rate.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/transformers/test_service_check.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/transformers/test_temporal_percent.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/transformers/test_time_elapsed.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/utils.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  datadog_checks_dev/datadog_checks/dev/testing.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/common/perf_counters.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/perf_counters.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/perf_counters.yaml
Labels: dev/tooling, integration/datadog_checks_base, changelog/Added, integration/datadog_checks_dev

#10613 Update annotations util with relative imports
  datadog_checks_dev/datadog_checks/dev/tooling/annotations.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10618 [Release] Bumped datadog_checks_base version to 23.3.0
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#10510 Add kube_proxy config spec
  kube_proxy/assets/configuration/spec.yaml
  kube_proxy/datadog_checks/kube_proxy/data/conf.yaml.example
  kube_proxy/manifest.json
Labels: documentation, integration/kube_proxy, changelog/Added

#10508 Add kube_dns config spec
  kube_dns/assets/configuration/spec.yaml
  kube_dns/datadog_checks/kube_dns/data/auto_conf.yaml
  kube_dns/datadog_checks/kube_dns/data/conf.yaml.example
  kube_dns/manifest.json
Labels: documentation, integration/kube_dns, changelog/Added

#10203 Add dashboard Clusters Overview
  kubernetes/assets/dashboards/kubernetes_clusters.json
  kubernetes/manifest.json
Labels: documentation, changelog/no-changelog, integration/kubernetes

#10443 Add default datadog_cluster_agent dashboard
  datadog_cluster_agent/assets/dashboards/datadog_cluster_agent_overview.json
  datadog_cluster_agent/manifest.json
Labels: documentation, changelog/no-changelog, integration/datadog_cluster_agent

#10509 Add kube_metrics_server config spec
  kube_metrics_server/assets/configuration/spec.yaml
  kube_metrics_server/datadog_checks/kube_metrics_server/data/conf.yaml.example
  kube_metrics_server/manifest.json
Labels: documentation, changelog/Added, integration/kube_metrics_server

#10616 add internal debug metric for explain error cache length
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: integration/postgres, changelog/Added

#10620 Fix Windows E2E on Python 3
  .azure-pipelines/templates/test-single-windows.yml
  datadog_checks_base/datadog_checks/base/__about__.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_base

#10619 Add new integration for monitoring Windows performance counters
  .azure-pipelines/changes.yml
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  windows_performance_counters/CHANGELOG.md
  windows_performance_counters/MANIFEST.in
  windows_performance_counters/README.md
  windows_performance_counters/assets/configuration/spec.yaml
  windows_performance_counters/assets/service_checks.json
  windows_performance_counters/datadog_checks/__init__.py
  windows_performance_counters/datadog_checks/windows_performance_counters/__about__.py
  windows_performance_counters/datadog_checks/windows_performance_counters/__init__.py
  windows_performance_counters/datadog_checks/windows_performance_counters/check.py
  windows_performance_counters/datadog_checks/windows_performance_counters/config_models/__init__.py
  windows_performance_counters/datadog_checks/windows_performance_counters/config_models/defaults.py
  windows_performance_counters/datadog_checks/windows_performance_counters/config_models/instance.py
  windows_performance_counters/datadog_checks/windows_performance_counters/config_models/shared.py
  windows_performance_counters/datadog_checks/windows_performance_counters/config_models/validators.py
  windows_performance_counters/datadog_checks/windows_performance_counters/data/conf.yaml.example
  windows_performance_counters/manifest.json
  windows_performance_counters/metadata.csv
  windows_performance_counters/requirements-dev.txt
  windows_performance_counters/requirements.in
  windows_performance_counters/setup.py
  windows_performance_counters/tests/__init__.py
  windows_performance_counters/tests/common.py
  windows_performance_counters/tests/conftest.py
  windows_performance_counters/tests/test_e2e.py
  windows_performance_counters/tests/test_integration.py
  windows_performance_counters/tests/test_unit.py
  windows_performance_counters/tox.ini
Labels: documentation, dev/testing, changelog/Added, integration/windows_performance_counters

#10621 [Release] Bumped windows_performance_counters version to 1.0.0
  .in-toto/tag.bb47f8e8.link
  windows_performance_counters/CHANGELOG.md
  windows_performance_counters/datadog_checks/windows_performance_counters/__about__.py
Labels: changelog/no-changelog, integration/windows_performance_counters

#10623 Add dd_run_check and remove unused config options
  ibm_was/assets/configuration/spec.yaml
  ibm_was/datadog_checks/ibm_was/config_models/defaults.py
  ibm_was/datadog_checks/ibm_was/config_models/instance.py
  ibm_was/datadog_checks/ibm_was/data/conf.yaml.example
  ibm_was/tests/common.py
  ibm_was/tests/test_integration.py
  ibm_was/tests/test_unit.py
Labels: documentation, changelog/Fixed, integration/ibm_was

#10634 Fix config spec options
  aspdotnet/assets/configuration/spec.yaml
  aspdotnet/datadog_checks/aspdotnet/config_models/defaults.py
  aspdotnet/datadog_checks/aspdotnet/config_models/instance.py
  aspdotnet/datadog_checks/aspdotnet/data/conf.yaml.example
Labels: documentation, integration/aspdotnet, changelog/Fixed

#10636 Validate use of legacy openmetrics config
  linkerd/assets/configuration/spec.yaml
  linkerd/datadog_checks/linkerd/config_models/defaults.py
  linkerd/datadog_checks/linkerd/config_models/instance.py
  linkerd/tests/test_linkerd.py
Labels: documentation, changelog/no-changelog, integration/linkerd, category/bugfix

#10641 Add missing config option to spec and update examples to match implementation
  cacti/assets/configuration/spec.yaml
  cacti/datadog_checks/cacti/config_models/defaults.py
  cacti/datadog_checks/cacti/config_models/instance.py
  cacti/datadog_checks/cacti/data/conf.yaml.example
  cacti/tests/test_cacti.py
Labels: documentation, changelog/no-changelog, integration/cacti, category/bugfix

#10639 Update config example to match implementation and refactor tests
  gearmand/assets/configuration/spec.yaml
  gearmand/datadog_checks/gearmand/config_models/defaults.py
  gearmand/datadog_checks/gearmand/data/conf.yaml.example
  gearmand/tests/conftest.py
  gearmand/tests/test_integration.py
  gearmand/tests/test_integration_e2e.py
Labels: documentation, integration/gearmand, changelog/Fixed, category/bugfix

#10646 Release changed integrations for 7.33.0-rc.2
  .in-toto/tag.bb47f8e8.link
  aspdotnet/CHANGELOG.md
  aspdotnet/datadog_checks/aspdotnet/__about__.py
  cacti/CHANGELOG.md
  cacti/datadog_checks/cacti/__about__.py
  cisco_aci/CHANGELOG.md
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  gearmand/CHANGELOG.md
  gearmand/datadog_checks/gearmand/__about__.py
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  linkerd/CHANGELOG.md
  linkerd/datadog_checks/linkerd/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/aspdotnet, integration/cacti, integration/gearmand, integration/linkerd, integration/cisco_aci, integration/ibm_was, release

#10657 Fix use_mount required field
  disk/assets/configuration/spec.yaml
  disk/datadog_checks/disk/config_models/defaults.py
  disk/datadog_checks/disk/config_models/instance.py
  disk/datadog_checks/disk/data/conf.yaml.default
  disk/tests/test_check.py
  disk/tests/test_unit.py
Labels: documentation, integration/disk, changelog/Fixed, category/bugfix

#10661 Release changed integrations for 7.33.0-rc.2 (pt 2)
  .in-toto/tag.bb47f8e8.link
  disk/CHANGELOG.md
  disk/datadog_checks/disk/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/disk, release, category/release_operations

#10645 Refactor annotations to console utility and use relative imports
  datadog_checks_dev/datadog_checks/dev/testing.py
  datadog_checks_dev/datadog_checks/dev/tooling/annotations.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/console.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/edit.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/utils.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/validator.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/agent_reqs.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/agent_signature.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/codeowners.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dashboards.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/eula.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/http.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/imports.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/integration_style.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/jmx_metrics.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/package.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/recommended_monitors.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/saved_views.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/service_checks.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/typos.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/common/validator.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v1/validator.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/validator.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/datadog_checks/dev/utils.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10652 Set correct default values and handle redundant values for additional_variable and additional_status
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
Labels: documentation, integration/mysql, changelog/Fixed, category/bugfix

#10660 Fix kubernetes OOTB dashboard and monitors
  kubernetes/assets/dashboards/kubernetes_clusters.json
  kubernetes/assets/dashboards/kubernetes_dashboard.json
  kubernetes/assets/dashboards/kubernetes_pods.json
  kubernetes/assets/monitors/monitor_pods_failed_state.json
Labels: changelog/no-changelog, integration/kubernetes

#10684 support non-executable files during pipeline setup
  datadog_checks_dev/datadog_checks/dev/tooling/commands/ci/setup.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10685 fix `mmh3.hash64` unicode exception with python2
  datadog_checks_base/datadog_checks/base/utils/db/sql.py
  datadog_checks_base/tests/base/utils/db/test_db_sql.py
Labels: integration/datadog_checks_base, changelog/Fixed

#10693 Bumped datadog_checks_base version to 23.3.1
  .in-toto/tag.024e42fe.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#10696 Release changed integrations for 7.33.0-rc.3
  .in-toto/tag.bb47f8e8.link
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/mysql, integration/sqlserver, release, category/release_operations

#10671 Release ddev
  .in-toto/tag.57ce2495.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#10698 [PerfCountersBaseCheck] Fix default machine connection
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/base.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/connection.py
Labels: integration/datadog_checks_base, changelog/Fixed, category/bugfix

#10700 Bumped datadog_checks_dev version to 15.4.0
  .in-toto/tag.57ce2495.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#10701 [PerfCountersBaseCheck] Improve logging when expected counters are not found
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/counter.py
Labels: integration/datadog_checks_base, changelog/Fixed, category/bugfix

#10703 Release changed integrations for 7.33.0-rc.3 (pt 3)
  .in-toto/tag.bb47f8e8.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#9383 Bump redis dependency
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/requirements.in
Labels: integration/datadog_checks_base, integration/redisdb, changelog/Fixed, dependencies

#10624 Refactor check to be able to use dd_run_check in tests
  kong/datadog_checks/kong/kong.py
  kong/tests/test_integration_e2e.py
Labels: changelog/no-changelog, integration/kong

#10711 Add missing assertion
  redisdb/tests/test_e2e.py
Labels: changelog/no-changelog, dev/testing, integration/redisdb

#10626 Use dd_run_check in test
  dns_check/tests/test_integration.py
Labels: changelog/no-changelog, integration/dns_check

#10628 Use dd_check_run in tests
  couch/tests/test_couchv1.py
  couch/tests/test_couchv2.py
Labels: changelog/no-changelog, integration/couch

#10653 Update `test_instance_auth_token` to run check twice and add more header tests
  http_check/tests/test_http_integration.py
Labels: do-not-merge/HOLD, changelog/no-changelog, integration/http_check

#10680 Don't allow use of author, pricing, and terms fields for extras integrations
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v1/schema.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10643 Test version 3.5.1
  etcd/tests/common.py
  etcd/tests/test_e2e.py
  etcd/tests/utils.py
  etcd/tox.ini
Labels: changelog/no-changelog, integration/etcd

#10670 Use dd_run_check
  aerospike/tests/test_aerospike.py
  aerospike/tests/test_unit.py
Labels: changelog/no-changelog, integration/aerospike

#10655 Use dd_run_check in test
  btrfs/tests/test_btrfs.py
Labels: changelog/no-changelog, integration/btrfs

#10656 Use dd_run_check in test
  php_fpm/tests/test_php_fpm.py
  php_fpm/tests/test_unit.py
Labels: changelog/no-changelog, integration/php_fpm

#10658 Use dd_run_check in tests
  cloud_foundry_api/tests/test_cloud_foundry_api.py
Labels: changelog/no-changelog, integration/cloud_foundry_api

#10694 Add test for proper handling of NoneType
  sqlserver/tests/test_unit.py
Labels: changelog/no-changelog, integration/sqlserver

#10640 Use dd_run_check in tests
  fluentd/tests/test_integration.py
  fluentd/tests/test_metadata.py
Labels: changelog/no-changelog, integration/fluentd

#10631 Use dd_run_check in tests
  ibm_db2/tests/test_integration.py
Labels: changelog/no-changelog, integration/ibm_db2

#10712 Bump hatchling to 0.0.45
  snowflake/tests/snowflake_connector_patch/pyproject.toml
Labels: changelog/no-changelog, integration/snowflake

#10673 Change MQ Connection widget to cluster check
  ibm_mq/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/ibm_mq

#10715 Allow BaseModel keywords as option names
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev, category/bugfix

#10714 Fix default field name of schema
  snowflake/datadog_checks/snowflake/config_models/defaults.py
  snowflake/tests/test_snowflake.py
Labels: changelog/Fixed, integration/snowflake, category/bugfix

#10718 [Release] Bumped snowflake version to 4.0.1
  .in-toto/tag.47c5a022.link
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: changelog/no-changelog, release, integration/snowflake

#10717 enable autocommit for pyodbc in sqlserver
  sqlserver/datadog_checks/sqlserver/connection.py
Labels: integration/sqlserver, changelog/Fixed

#10713 fix broken unicode support for sqlserver
  .azure-pipelines/scripts/sqlserver/windows/55_setup_sqlserver.bat
  .azure-pipelines/scripts/sqlserver/windows/_sqlserver_setup.sql
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/requirements.in
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_statements.py
Labels: dev/testing, integration/sqlserver, changelog/Fixed, category/bugfix

#10720 Refactor nginx: Read all config in init
  nginx/datadog_checks/nginx/nginx.py
  nginx/tests/common.py
  nginx/tests/conftest.py
  nginx/tests/test_unit.py
Labels: changelog/no-changelog, integration/nginx
