Repository DataDog/integrations-core, pull requests merged in 2021-01, with the labels that each got.

#8269 Support v2
  harbor/datadog_checks/harbor/api.py
  harbor/datadog_checks/harbor/common.py
  harbor/datadog_checks/harbor/harbor.py
  harbor/tests/compose/harbor-2.0.5/config/chartserver/env
  harbor/tests/compose/harbor-2.0.5/config/core/app.conf
  harbor/tests/compose/harbor-2.0.5/config/core/env
  harbor/tests/compose/harbor-2.0.5/config/db/env
  harbor/tests/compose/harbor-2.0.5/config/jobservice/config.yml
  harbor/tests/compose/harbor-2.0.5/config/jobservice/env
  harbor/tests/compose/harbor-2.0.5/config/nginx/nginx.conf
  harbor/tests/compose/harbor-2.0.5/config/registry/config.yml
  harbor/tests/compose/harbor-2.0.5/config/registry/passwd
  harbor/tests/compose/harbor-2.0.5/config/registry/root.crt
  harbor/tests/compose/harbor-2.0.5/config/registryctl/config.yml
  harbor/tests/compose/harbor-2.0.5/config/registryctl/env
  harbor/tests/compose/harbor-2.0.5/docker-compose.yml
  harbor/tox.ini
Labels: changelog/Added, integration/harbor

#8277 [Release] Bumped harbor version to 1.8.0
  .in-toto/tag.31091c85.link
  harbor/CHANGELOG.md
  harbor/datadog_checks/harbor/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/harbor, release

#8216 Add snmp_tile template to ddev create --type
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/snmp_tile/snmp_{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/snmp_tile/snmp_{check_name}/assets/service_checks.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/snmp_tile/snmp_{check_name}/manifest.json
Labels: changelog/Added, dev/tooling, documentation, integration/datadog_checks_dev

#8210 Add bandwidth error message and unit tests
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_unit.py
Labels: changelog/no-changelog, integration/snmp

#8156 Add snmp Cisco tile
  .github/CODEOWNERS
  snmp_cisco/README.md
  snmp_cisco/assets/service_checks.json
  snmp_cisco/manifest.json
Labels: changelog/no-changelog, documentation, integration/snmp_cisco

#8267 Test tags for cswStackPortOperStatus
  snmp/tests/compose/data/cisco-nexus.snmprec
  snmp/tests/test_profiles.py
Labels: changelog/no-changelog, integration/snmp

#6793 Update twistlock tile and README
  twistlock/README.md
  twistlock/assets/dashboards/overview.json
  twistlock/manifest.json
Labels: changelog/no-changelog, documentation, integration/twistlock

#8250 Update Vertica to use use_tls config
  vertica/README.md
  vertica/assets/configuration/spec.yaml
  vertica/datadog_checks/vertica/data/conf.yaml.example
  vertica/datadog_checks/vertica/vertica.py
  vertica/tests/common.py
  vertica/tests/conftest.py
  vertica/tests/test_unit.py
Labels: changelog/Added, documentation, integration/vertica

#8243 Update ProxySQL check to use TLS context wrapper
  proxysql/README.md
  proxysql/assets/configuration/spec.yaml
  proxysql/datadog_checks/proxysql/data/conf.yaml.example
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/datadog_checks/proxysql/ssl_utils.py
  proxysql/setup.py
  proxysql/tests/common.py
  proxysql/tests/conftest.py
  proxysql/tests/test_e2e.py
  proxysql/tests/test_integration.py
  proxysql/tests/test_unit.py
Labels: changelog/Changed, documentation, integration/proxysql

#7702 Document logs support
  teamcity/README.md
  teamcity/assets/configuration/spec.yaml
  teamcity/datadog_checks/teamcity/data/conf.yaml.example
  teamcity/manifest.json
  teamcity/tests/common.py
  teamcity/tests/conftest.py
  teamcity/tests/docker/docker-compose.yaml
Labels: changelog/Added, documentation, integration/teamcity

#8278 Add debug messages to SQLServer
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: integration/sqlserver

#8264 Fix ddev env test last error
  datadog_checks_dev/datadog_checks/dev/_env.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#8279 Fix small typos in metadata.csv
  sqlserver/metadata.csv
Labels: changelog/no-changelog, integration/sqlserver

#8285 [Release] Bumped sqlserver version to 2.3.1
  .in-toto/tag.f90c0097.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/sqlserver, release

#8291 Fix aggregator stub's `assert_histogram_bucket` method
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
Labels: changelog/Fixed, integration/datadog_checks_base

#8255 Add version verification for datadog-checks-base
  activemq/setup.py
  cassandra/setup.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/dependencies.py
  kafka/setup.py
  proxysql/setup.py
  solr/setup.py
  tomcat/setup.py
Labels: changelog/Added, dev/tooling, integration/activemq, integration/cassandra, integration/datadog_checks_dev, integration/kafka, integration/proxysql, integration/solr, integration/tomcat

#8289 Small changes in template for "SNMP tiles"
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/snmp_tile/snmp_{check_name}/README.md
Labels: changelog/Changed, dev/tooling, documentation, integration/datadog_checks_dev

#8295 Add prefix to manifest fields and update link list in readme in snmp_tile template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/snmp_tile/snmp_{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/snmp_tile/snmp_{check_name}/manifest.json
Labels: changelog/no-changelog, dev/tooling, documentation, integration/datadog_checks_dev

#8297 Fix dep validation to work on single checks for PRs
  .azure-pipelines/templates/run-validations.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/dependencies.py
Labels: changelog/Fixed, dev/testing, dev/tooling, integration/datadog_checks_dev

#8288 Fixing Formatting
  spark/README.md
Labels: changelog/no-changelog, documentation, integration/spark

#8240 Update snmp dashboards
  snmp/assets/dashboards/datacenter_overview.json
  snmp/assets/dashboards/device_dashboard.json
  snmp/assets/dashboards/interface_performance.json
  snmp/manifest.json
Labels: changelog/no-changelog, documentation, integration/snmp

#8296 Fix postqueue defer counting
  postfix/datadog_checks/postfix/postfix.py
  postfix/tests/fixtures/postqueue_p.txt
  postfix/tests/test_unit.py
Labels: changelog/Fixed, integration/postfix

#8299 Bumped postfix version to 1.8.1
  .in-toto/tag.024e42fe.link
  postfix/CHANGELOG.md
  postfix/datadog_checks/postfix/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postfix, release

#8301 Update redis dependency
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  redisdb/requirements.in
Labels: changelog/Added, dependencies, integration/datadog_checks_base, integration/redisdb

#8302 [Release] Bumped redisdb version to 3.3.0 for rc10
  .in-toto/tag.57ce2495.link
  redisdb/CHANGELOG.md
  redisdb/datadog_checks/redisdb/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/redisdb, release

#8303 Allow semver version metadata to start with an optional `v`
  datadog_checks_base/datadog_checks/base/utils/metadata/version.py
Labels: changelog/Added, integration/datadog_checks_base

#8298 Support combined client cert files
  http_check/datadog_checks/http_check/config.py
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/test_http_integration.py
Labels: changelog/Added, integration/http_check

#8102 Only send ssl metrics if a connection succeeded
  http_check/assets/service_checks.json
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/test_http_integration.py
Labels: changelog/Changed, integration/http_check

#8306 Add device_label tag in addition to label tag.
  disk/datadog_checks/disk/disk.py
  disk/tests/test_unit.py
Labels: changelog/Added, integration/disk

#8283 Refactor connection and api
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/collectors/base.py
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/conn_pool_stats.py
  mongo/datadog_checks/mongo/collectors/custom_queries.py
  mongo/datadog_checks/mongo/collectors/db_stat.py
  mongo/datadog_checks/mongo/collectors/fsynclock.py
  mongo/datadog_checks/mongo/collectors/index_stats.py
  mongo/datadog_checks/mongo/collectors/jumbo_stats.py
  mongo/datadog_checks/mongo/collectors/replica.py
  mongo/datadog_checks/mongo/collectors/replication_info.py
  mongo/datadog_checks/mongo/collectors/server_status.py
  mongo/datadog_checks/mongo/collectors/session_stats.py
  mongo/datadog_checks/mongo/collectors/top.py
  mongo/datadog_checks/mongo/common.py
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/compose/docker-compose.yml
  mongo/tests/compose/scripts/init-router.js
  mongo/tests/compose/scripts/init-shard01.js
  mongo/tests/conftest.py
  mongo/tests/results/metrics-count-dbs.json
  mongo/tests/results/metrics-serverStatus.json
  mongo/tests/test_integration.py
  mongo/tests/test_unit.py
Labels: changelog/Fixed, integration/mongo

#8308 [1/3] Add units to metadata check
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8309 [2/3] Fix SNMP Dell profile metrics
  snmp/metadata.csv
  snmp/tests/test_profiles.py
Labels: changelog/no-changelog, integration/snmp

#8280 DOCS-1528 Disk service check
  disk/README.md
Labels: changelog/no-changelog, documentation, integration/disk

#8311 Improve comment
  datadog_checks_base/datadog_checks/base/utils/common.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#8275 Add optional argument for overriding get_tls_context() parameters
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/tls.py
  datadog_checks_base/tests/test_tls.py
Labels: changelog/Added, integration/datadog_checks_base

#8305 Use mibless syntax for _generic-host-resources.yaml
  snmp/datadog_checks/snmp/data/profiles/_generic-host-resources.yaml
  snmp/tests/compose/data/generic_host.snmprec
Labels: changelog/Fixed, integration/snmp

#8307 Fix snmp cisco-csr1000v.snmprec wrong type
  snmp/tests/compose/data/cisco-csr1000v.snmprec
Labels: changelog/no-changelog, integration/snmp

#7973 Add VoltDB integration
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  voltdb/CHANGELOG.md
  voltdb/MANIFEST.in
  voltdb/README.md
  voltdb/assets/configuration/spec.yaml
  voltdb/assets/dashboards/voltdb_overview.json
  voltdb/assets/monitors/cpu_load.json
  voltdb/assets/service_checks.json
  voltdb/datadog_checks/__init__.py
  voltdb/datadog_checks/voltdb/__about__.py
  voltdb/datadog_checks/voltdb/__init__.py
  voltdb/datadog_checks/voltdb/check.py
  voltdb/datadog_checks/voltdb/client.py
  voltdb/datadog_checks/voltdb/config.py
  voltdb/datadog_checks/voltdb/data/conf.yaml.example
  voltdb/datadog_checks/voltdb/queries.py
  voltdb/datadog_checks/voltdb/types.py
  voltdb/images/.gitkeep
  voltdb/manifest.json
  voltdb/metadata.csv
  voltdb/requirements-dev.txt
  voltdb/requirements.in
  voltdb/setup.py
  voltdb/tests/.gitignore
  voltdb/tests/__init__.py
  voltdb/tests/assertions.py
  voltdb/tests/common.py
  voltdb/tests/compose/certs/README.md
  voltdb/tests/compose/certs/ca.pem
  voltdb/tests/compose/certs/client.pem
  voltdb/tests/compose/certs/generate
  voltdb/tests/compose/certs/localcert.properties
  voltdb/tests/compose/certs/voltdb_key.jks
  voltdb/tests/compose/certs/voltdb_trust.jks
  voltdb/tests/compose/deployment-tls.xml
  voltdb/tests/compose/deployment.xml
  voltdb/tests/compose/docker-compose.yaml
  voltdb/tests/compose/log4j.xml
  voltdb/tests/compose/schema.sql
  voltdb/tests/conftest.py
  voltdb/tests/test_e2e.py
  voltdb/tests/test_integration.py
  voltdb/tests/test_unit.py
  voltdb/tests/utils.py
  voltdb/tox.ini
Labels: changelog/Added, dev/testing, documentation, editorial review, integration/voltdb

#8284 SNMP Juniper tile
  snmp_juniper/README.md
  snmp_juniper/assets/service_checks.json
  snmp_juniper/manifest.json
Labels: changelog/no-changelog, documentation, integration/snmp_juniper

#8294 Better arbiter support
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/collectors/replica.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/common.py
  mongo/tests/compose/docker-compose.yml
  mongo/tests/compose/scripts/init-router.js
  mongo/tests/compose/scripts/init-shard01.js
  mongo/tests/conftest.py
  mongo/tests/fixtures/getCmdLineOpts-replica-arbiter
  mongo/tests/fixtures/getCmdLineOpts-replica-arbiter-in-shard
  mongo/tests/fixtures/replSetGetStatus-replica-arbiter
  mongo/tests/fixtures/replSetGetStatus-replica-arbiter-in-shard
  mongo/tests/results/metrics-replset-arbiter.json
  mongo/tests/test_integration.py
  mongo/tests/test_mongo.py
  mongo/tox.ini
Labels: changelog/Added, documentation, integration/mongo

#8281 Add recommended monitors for SQLServer
  sqlserver/assets/recommended_monitors/sqlserver_ao_not_healthy.json
  sqlserver/assets/recommended_monitors/sqlserver_db_not_online.json
  sqlserver/assets/recommended_monitors/sqlserver_db_not_sync.json
  sqlserver/assets/recommended_monitors/sqlserver_high_number_failed_auto_param.json
  sqlserver/assets/recommended_monitors/sqlserver_high_processes_blocked.json
  sqlserver/manifest.json
Labels: changelog/no-changelog, documentation, integration/sqlserver

#8313 Add log stream widget to preset dashboard
  apache/assets/dashboards/apache_dashboard.json
Labels: changelog/no-changelog, integration/apache

#8312 Update README for AlwaysOn permissions
  sqlserver/README.md
Labels: changelog/no-changelog, documentation, integration/sqlserver

#8203 Fix typo for ssl reuse metric
  haproxy/datadog_checks/haproxy/metrics.py
  haproxy/metadata.csv
  haproxy/tox.ini
Labels: changelog/Fixed, dev/testing, integration/haproxy

#8223 Update prometheus mixin to use the request wrapper
  datadog_checks_base/datadog_checks/base/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/prometheus_base.py
  datadog_checks_base/tests/test_prometheus.py
Labels: changelog/Added, integration/datadog_checks_base

#8286 [3/3] Add SNMP Dell tile
  snmp_dell/README.md
  snmp_dell/assets/service_checks.json
  snmp_dell/manifest.json
Labels: changelog/no-changelog, documentation, integration/snmp, integration/snmp_dell

#8323 Bumped haproxy version to 2.14.2
  .in-toto/tag.024e42fe.link
  haproxy/CHANGELOG.md
  haproxy/datadog_checks/haproxy/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/haproxy, release

#8292 Add the `host` tag to RDS instances' parsed tags
  datadog_checks_base/datadog_checks/base/utils/aws.py
  datadog_checks_base/tests/test_aws.py
Labels: changelog/Added, integration/datadog_checks_base

#8241 Update dashboard to blog-like
  ceph/assets/dashboards/overview.json
  ceph/manifest.json
Labels: changelog/no-changelog, documentation, integration/ceph

#8304 Support tags set at runtime on the DB QueryManager
  datadog_checks_base/datadog_checks/base/utils/db/core.py
  datadog_checks_base/tests/test_db.py
Labels: changelog/Added, integration/datadog_checks_base

#8221 Small refactor of consts, init and tests
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/common.py
  sqlserver/tests/conftest.py
  sqlserver/tests/test_unit.py
Labels: changelog/Fixed, integration/sqlserver

#8317 Add recommended monitor
  istio/assets/monitors/failed_sidecar_injection.json
  istio/manifest.json
Labels: changelog/no-changelog, documentation, integration/istio

#8314 Prevent raising an error if the master process no longer exists
  gunicorn/datadog_checks/gunicorn/gunicorn.py
  gunicorn/tests/test_check.py
Labels: changelog/Fixed, integration/gunicorn

#8326 Fix mongo rec monitor
  mongo/assets/monitors/high_connections.json
Labels: changelog/no-changelog, integration/mongo

#8268 Update http_check to use TLS context wrapper
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/test_http_integration.py
Labels: changelog/Changed, integration/http_check

#8089 Create OpenTelemetry Collector tile
  otel/README.md
  otel/assets/dashboards/dashboard.json
  otel/assets/service_checks.json
  otel/images/.gitkeep
  otel/manifest.json
  otel/metadata.csv
Labels: changelog/no-changelog, documentation, integration/otel

#8177 Add new default for newly autodiscovered checks
  ecs_fargate/datadog_checks/ecs_fargate/data/conf.yaml.default
  eks_fargate/datadog_checks/eks_fargate/data/conf.yaml.default
  kubelet/datadog_checks/kubelet/data/conf.yaml.default
Labels: changelog/Added, integration/ecs_fargate, integration/eks_fargate, integration/kubelet

#8325 Adding support for v2.3
  haproxy/datadog_checks/haproxy/metrics.py
  haproxy/tests/common.py
  haproxy/tests/conftest.py
  haproxy/tests/legacy/common.py
  haproxy/tests/legacy/test_haproxy.py
  haproxy/tox.ini
Labels: changelog/Fixed, integration/haproxy

#8330 Hide auto-populated prometheus_url from config spec
  amazon_msk/assets/configuration/spec.yaml
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/amazon_msk

#8334 Add units and fix network and disk total metrics types in metric metadata
  azure_iot_edge/metadata.csv
Labels: changelog/no-changelog, integration/azure_iot_edge

#8159 New Integration: GlusterFS
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  glusterfs/CHANGELOG.md
  glusterfs/MANIFEST.in
  glusterfs/README.md
  glusterfs/assets/configuration/spec.yaml
  glusterfs/assets/dashboards/glusterfs_overview.json
  glusterfs/assets/dashboards/red_hat_gluster_storage.json
  glusterfs/assets/monitors/brick_status.json
  glusterfs/assets/service_checks.json
  glusterfs/datadog_checks/__init__.py
  glusterfs/datadog_checks/glusterfs/__about__.py
  glusterfs/datadog_checks/glusterfs/__init__.py
  glusterfs/datadog_checks/glusterfs/check.py
  glusterfs/datadog_checks/glusterfs/data/conf.yaml.example
  glusterfs/datadog_checks/glusterfs/metrics.py
  glusterfs/images/.gitkeep
  glusterfs/manifest.json
  glusterfs/metadata.csv
  glusterfs/requirements-dev.txt
  glusterfs/requirements.in
  glusterfs/setup.py
  glusterfs/tests/__init__.py
  glusterfs/tests/common.py
  glusterfs/tests/conftest.py
  glusterfs/tests/docker/docker-compose.yaml
  glusterfs/tests/fixtures/gstatus.json
  glusterfs/tests/test_e2e.py
  glusterfs/tests/test_glusterfs.py
  glusterfs/tox.ini
Labels: changelog/Added, dev/testing, documentation, integration/glusterfs

#7792 Initial draft of doc spec with examples
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/default.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/example_nagios.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/example_rethinkdb.yaml
  docs/developer/meta/docs-specs.md
Labels: changelog/no-changelog, dev/tooling, do-not-merge/WIP, documentation, integration/datadog_checks_dev

#8339 [skip ci] Remove reference to system_probe_config.enabled
  oom_kill/README.md
Labels: changelog/no-changelog, documentation, integration/oom_kill

#8327 Add span unit to metadata valid unit names
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#8341 Revert "Add units and fix network and disk total metrics types in metric metadata"
  azure_iot_edge/metadata.csv
Labels: changelog/no-changelog, integration/azure_iot_edge

#8343 Fix inclusion of docs spec draft in docs build
  docs/developer/meta/docs-specs.md
  mkdocs.yml
Labels: changelog/no-changelog, documentation

#8329 Handle database specific queries for autodiscovery
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/tests/test_integration.py
Labels: changelog/Fixed, integration/sqlserver

#8344 Add units in metrics metadata
  azure_iot_edge/metadata.csv
Labels: changelog/no-changelog, integration/azure_iot_edge

#8338 add SCC instructions for Helm for OpenShift
  openshift/README.md
Labels: changelog/no-changelog, documentation, integration/openshift

#8340 Clarifiying comment in code
  win32_event_log/datadog_checks/win32_event_log/check.py
Labels: changelog/no-changelog, integration/win32_event_log

#8259 Update check signature
  spark/datadog_checks/spark/spark.py
Labels: changelog/Fixed, integration/spark

#8347 fix tab syntax in openshift docs
  openshift/README.md
Labels: changelog/no-changelog, documentation, integration/openshift

#8328 Fix rec monitor syntax
  sqlserver/assets/recommended_monitors/sqlserver_db_not_sync.json
  voltdb/assets/monitors/cpu_load.json
Labels: changelog/no-changelog, integration/sqlserver, integration/voltdb

#8348 [Release] Bumped sqlserver version to 2.3.2
  .in-toto/tag.024e42fe.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/sqlserver, release

#8331 Collect AWS ENA metrics
  network/assets/configuration/spec.yaml
  network/datadog_checks/network/data/conf.yaml.default
  network/datadog_checks/network/network.py
  network/metadata.csv
  network/tests/common.py
  network/tests/test_network.py
Labels: changelog/Added, documentation, integration/network

#8352 use github friendly tab format for openshift docs
  openshift/README.md
Labels: changelog/no-changelog, documentation, integration/openshift

#8353 Allow MockResponse method `iter_lines` to be called multiple times
  datadog_checks_dev/datadog_checks/dev/http.py
Labels: changelog/Added, integration/datadog_checks_dev

#7891 Docs spec implementation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/example.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/core.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/spec.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/core.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/consumers/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/consumers/readme.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/core.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/spec.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/templates.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/utils.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/data_collected.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/data_collected/events.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/data_collected/metrics.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/data_collected/service_checks.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/default.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/example_nagios.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/example_rethinkdb.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/further_reading.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/overview.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/configuration.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/configuration/containerized.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/configuration/host.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/configuration/log_collection.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/installation.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/validation.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/troubleshooting.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/setup.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  datadog_checks_dev/tests/tooling/configuration/test_template.py
  datadog_checks_dev/tests/tooling/configuration/utils.py
  docs/developer/.snippets/links.txt
  docs/developer/meta/config-specs.md
  docs/developer/meta/docs-specs.md
Labels: changelog/no-changelog, dev/tooling, documentation, integration/datadog_checks_dev

#8354 Remove unneccessary `pytz` dependency
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/db/transform.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/requirements.in
  datadog_checks_base/tests/test_db.py
  rethinkdb/datadog_checks/rethinkdb/utils.py
  rethinkdb/tests/unit/test_utils.py
Labels: changelog/Removed, dependencies, integration/datadog_checks_base, integration/rethinkdb

#8336 Add dashboard for JBoss/WildFly
  jboss_wildfly/assets/dashboards/jboss_wildfly.json
  jboss_wildfly/manifest.json
Labels: changelog/no-changelog, documentation, integration/jboss_wildfly

#8319 DOCS-1507 Flink dataCenter
  flink/README.md
Labels: changelog/no-changelog, documentation, integration/flink

#8356 Add `no_op` utility
  datadog_checks_base/datadog_checks/base/utils/common.py
Labels: changelog/Added, integration/datadog_checks_base

#8358 [Release] Bumped datadog_checks_base version to 16.0.0
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#8355 Add docs spec
  docs/developer/meta/docs-specs.md
  rethinkdb/README.md
  rethinkdb/assets/docs/spec.yaml
  rethinkdb/manifest.json
Labels: changelog/no-changelog, dev/tooling, documentation, integration/datadog_checks_dev, integration/rethinkdb

#8318 Support installing minimum and unpinned datadog_checks_base dependencies for tests
  .azure-pipelines/templates/run-tests.yml
  .azure-pipelines/templates/test-single-linux.yml
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/dependencies.py
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#8351 Add option to exclude release prs
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/stats/stats.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8361 Remove old dev docs
  docs/Makefile
  docs/README.md
  docs/conf.py
  docs/datadog_checks.base.checks.libs.rst
  docs/datadog_checks.base.checks.libs.vmware.rst
  docs/datadog_checks.base.checks.openmetrics.rst
  docs/datadog_checks.base.checks.prometheus.rst
  docs/datadog_checks.base.checks.win.rst
  docs/datadog_checks.checks.rst
  docs/datadog_checks.checks.win.wmi.rst
  docs/datadog_checks.utils.rst
  docs/datadog_checks_base.rst
  docs/datadog_checks_dev.api.rst
  docs/datadog_checks_dev.cli.rst
  docs/datadog_checks_dev.rst
  docs/index.rst
  docs/make.bat
  docs/requirements.txt
Labels: changelog/no-changelog, documentation

#8359 Upgrade dependency `prometheus-client` to 0.9.0
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  datadog_checks_base/tests/test_openmetrics.py
Labels: changelog/Added, dependencies, integration/datadog_checks_base

#8290 Add additional node metrics to monitor cpu throttling
  elastic/datadog_checks/elastic/metrics.py
  elastic/metadata.csv
  elastic/tests/test_metrics.py
Labels: changelog/Added, integration/elastic

#8360 Increase indentation of log snippets
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/spec.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/default.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/configuration/log_collection.yaml
  rethinkdb/README.md
Labels: changelog/Fixed, dev/tooling, documentation, integration/datadog_checks_dev, integration/rethinkdb

#8345 Convert network and disk total metrics to counts
  azure_iot_edge/datadog_checks/azure_iot_edge/config.py
  azure_iot_edge/datadog_checks/azure_iot_edge/metrics.py
  azure_iot_edge/metadata.csv
  azure_iot_edge/tests/common.py
  azure_iot_edge/tests/test_config.py
Labels: changelog/Changed, integration/azure_iot_edge

#8363 Do not throw configuration error for missing password when using OAuth
  snowflake/datadog_checks/snowflake/config.py
  snowflake/tests/conftest.py
  snowflake/tests/test_unit.py
Labels: changelog/Fixed, integration/snowflake

#8365 [Release] Bumped snowflake version to 3.0.1
  .in-toto/tag.57ce2495.link
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: changelog/no-changelog, integration/snowflake, release

#8357 Add docs spec progress to docs status board
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  docs/developer/.scripts/33_render_status.py
Labels: dev/tooling, integration/datadog_checks_dev

#8362 Add index.health.reverse metric
  elastic/datadog_checks/elastic/elastic.py
  elastic/datadog_checks/elastic/metrics.py
  elastic/metadata.csv
Labels: changelog/Added, integration/elastic

#8367 [Release] Bumped gunicorn version to 1.14.1
  .in-toto/tag.024e42fe.link
  gunicorn/CHANGELOG.md
  gunicorn/datadog_checks/gunicorn/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/gunicorn, release

#8368 Update tagger Dockerfile image
  .gitlab/tagger/Dockerfile
Labels: changelog/no-changelog, dev/tooling

#8369 Use ubuntu tagger image
  .gitlab/tagger/Dockerfile
Labels: changelog/no-changelog, dev/tooling

#8335 Add SLM metrics
  elastic/datadog_checks/elastic/elastic.py
  elastic/datadog_checks/elastic/metrics.py
  elastic/metadata.csv
  elastic/tests/compose/docker-compose.yaml
  elastic/tests/conftest.py
  elastic/tests/test_elastic.py
Labels: changelog/Added, integration/elastic

#8373 [Release] Bumped elastic version to 1.23.0
  .in-toto/tag.024e42fe.link
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/elastic, release

#8346 Add TLS docs page
  docs/developer/base/tls.md
  mkdocs.yml
Labels: changelog/no-changelog, documentation

#8366 Handle overflow error for certain sql queries
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: changelog/Fixed, integration/sqlserver

#8374 Handle offline databases for existence check
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/tests/test_unit.py
Labels: changelog/Fixed, integration/sqlserver

#8370 Add submit_ena test
  network/tests/test_network.py
Labels: changelog/no-changelog, integration/network

#8371 Decrease openstack codecov target
  .codecov.yml
Labels: changelog/no-changelog, dev/testing

#8375 [Release] Bumped sqlserver version to 2.3.3
  .in-toto/tag.f90c0097.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/sqlserver, release

#8379 Fix misleading debug message
  http_check/datadog_checks/http_check/http_check.py
Labels: changelog/Fixed, integration/http_check

#8378 Add config spec support for options with multiple types
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/example.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/spec.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  datadog_checks_dev/tests/tooling/configuration/test_load.py
  docs/developer/meta/config-specs.md
Labels: changelog/Added, dev/tooling, documentation, integration/datadog_checks_dev

#8376 Add get_usage test
  btrfs/tests/test_btrfs.py
Labels: changelog/no-changelog, integration/btrfs

#8381 Tighten condition for mysql.replication.slave_running
  mysql/datadog_checks/mysql/mysql.py
Labels: changelog/Fixed, integration/mysql

#6637 Remove `calculate_text_stack_trace` setting from Clickhouse Integration
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  clickhouse/tests/test_unit.py
Labels: changelog/Fixed, integration/clickhouse

#8390 Properly support check namespacing for the `submit_histogram_bucket` method
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: changelog/Fixed, integration/datadog_checks_base

#8380 Refactor replica metrics and add some debug lines
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/mysql.py
Labels: changelog/Fixed, integration/mysql

#8397 Bump version of clickhouse-driver
  clickhouse/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: changelog/no-changelog, dependencies, integration/clickhouse, integration/datadog_checks_base

#8337 [kube_apiserver_metrics] Update metrics whose name has changed in Kubernetes 1.14
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_15.py
Labels: changelog/Fixed, integration/kube_apiserver_metrics

#8387 Added documentation for cassandra-nodetool logging
  cassandra_nodetool/README.md
Labels: changelog/no-changelog, documentation, integration/cassandra_nodetool

#8389 Update MySQL metadata to clarify DBM ALPHA
  mysql/metadata.csv
Labels: changelog/no-changelog, documentation, integration/mysql

#8388 Update postgres metadata to clarify DBM ALPHA
  postgres/metadata.csv
Labels: changelog/no-changelog, documentation, integration/postgres

#8384 Add OOTB dashboard for Azure IoT Edge
  azure_iot_edge/assets/dashboards/azure_iot_edge_overview.json
  azure_iot_edge/assets/dashboards/overview.json
  azure_iot_edge/manifest.json
Labels: changelog/no-changelog, documentation, integration/azure_iot_edge

#8350 Add --export-csv option
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/stats/stats.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8383 DOCS-1517 document prometheus prereq
  vault/README.md
Labels: changelog/no-changelog, documentation, integration/vault

#8396 Clarify authentication in SQL Server
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/sqlserver

#8400 Pin pyyaml in datadog_checks_dev
  datadog_checks_dev/setup.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#8393 Update step 2 of configuration to include localhost/agent container address for containerized deployment
  sidekiq/README.md
Labels: changelog/no-changelog, documentation, integration/sidekiq

#8386 Update tcp_queue_length README.md
  tcp_queue_length/README.md
Labels: changelog/no-changelog, documentation, integration/tcp_queue_length

#8399 Update logs readme template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/default.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/configuration/log_collection.yaml
  rethinkdb/README.md
Labels: changelog/Fixed, dev/tooling, documentation, integration/datadog_checks_dev, integration/rethinkdb

#8403 Fix link from fargate README.
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#8406 release http
  .in-toto/tag.4a5409a2.link
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/http_check, release

#8401 Simplify replication status check
  mysql/assets/SERVICE_CHECK_CLARIFICATION.md
  mysql/assets/service_checks.json
  mysql/datadog_checks/mysql/mysql.py
Labels: changelog/Fixed, documentation, integration/mysql

#8407 [Release] Bumped glusterfs version to 1.0.0
  .in-toto/tag.57ce2495.link
  glusterfs/CHANGELOG.md
  glusterfs/datadog_checks/glusterfs/__about__.py
Labels: changelog/no-changelog, integration/glusterfs, release

#8398 Add bandwidth usage formula
  snmp/assets/images/bandwidth-usage-formula-small.png
Labels: changelog/no-changelog, integration/snmp

#8409 Fix conflicting link references in tile readme template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/tile/{check_name}/README.md
Labels: changelog/Fixed, dev/tooling, documentation, integration/datadog_checks_dev

#8385 Add logs support
  voltdb/README.md
  voltdb/assets/configuration/spec.yaml
  voltdb/datadog_checks/voltdb/data/conf.yaml.example
  voltdb/manifest.json
  voltdb/tests/compose/docker-compose.yaml
  voltdb/tests/compose/log4j.xml
  voltdb/tests/conftest.py
Labels: changelog/Added, documentation, integration/voltdb

#8415 Move JDBC requirements to its own section
  oracle/README.md
Labels: changelog/no-changelog, documentation, integration/oracle

#8416 Make more explicit which connection was established
  oracle/datadog_checks/oracle/oracle.py
Labels: changelog/Fixed, integration/oracle

#8417 Better explain ssl_key_repository_location
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/ibm_mq, qa/skip-qa

#8412 Update logs template with docs feedback
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/configuration/log_collection.yaml
  rethinkdb/README.md
Labels: changelog/Fixed, dev/tooling, documentation, integration/datadog_checks_dev, integration/rethinkdb

#8413 Rename legacy OpenMetrics config spec
  amazon_msk/assets/configuration/spec.yaml
  azure_iot_edge/assets/configuration/spec.yaml
  cilium/assets/configuration/spec.yaml
  cockroachdb/assets/configuration/spec.yaml
  coredns/assets/configuration/spec.yaml
  crio/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/http.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/openmetrics_legacy.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy.yaml
  docs/developer/.snippets/links.txt
  etcd/assets/configuration/spec.yaml
  external_dns/assets/configuration/spec.yaml
  gitlab/assets/configuration/spec.yaml
  gitlab_runner/assets/configuration/spec.yaml
  haproxy/assets/configuration/spec.yaml
  istio/assets/configuration/spec.yaml
  kube_apiserver_metrics/assets/configuration/spec.yaml
  kube_scheduler/assets/configuration/spec.yaml
  linkerd/assets/configuration/spec.yaml
  nginx_ingress_controller/assets/configuration/spec.yaml
  openmetrics/assets/configuration/spec.yaml
  scylla/assets/configuration/spec.yaml
Labels: changelog/Changed, dev/tooling, documentation, integration/datadog_checks_dev

#8419 Add metrics_metadata to templates
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/tile/{check_name}/manifest.json
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#8392 Add support for nginx API v3
  nginx/assets/configuration/spec.yaml
  nginx/datadog_checks/nginx/data/conf.yaml.example
  nginx/datadog_checks/nginx/nginx.py
  nginx/metadata.csv
  nginx/tests/fixtures/plus_api_stream_zone_sync.json
  nginx/tests/test_unit.py
  nginx/tests/utils.py
Labels: changelog/Added, documentation, integration/nginx

#8421 Add missing voltdb logs source
  voltdb/manifest.json
Labels: changelog/no-changelog, documentation, integration/voltdb

#8411 Document glusterfs logs support
  glusterfs/README.md
  glusterfs/assets/configuration/spec.yaml
  glusterfs/datadog_checks/glusterfs/data/conf.yaml.example
  glusterfs/manifest.json
Labels: changelog/Added, documentation, integration/glusterfs

#8420 Fix images location
  snmp/images/bandwidth-usage-formula-small.png
Labels: changelog/no-changelog, integration/snmp

#8422 [Release] Bumped VoltDB version to 1.0.0
  .in-toto/tag.b023b02a.link
  requirements-agent-release.txt
  voltdb/CHANGELOG.md
  voltdb/datadog_checks/voltdb/__about__.py
Labels: changelog/no-changelog, integration/voltdb, release

#8423 [Release] Bump datadog_checks_dev to 7.0.0
  .in-toto/tag.f90c0097.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#8300 Add new version of OpenMetrics base class
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/__init__.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/labels.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transform.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/__init__.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/counter.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/counter_gauge.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/gauge.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/histogram.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/metadata.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/service_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/summary.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/temporal_percent.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/time_elapsed.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/utils.py
  datadog_checks_base/tests/conftest.py
  datadog_checks_base/tests/fixtures/prometheus/amazon_msk_jmx_metrics.txt
  datadog_checks_base/tests/openmetrics/__init__.py
  datadog_checks_base/tests/openmetrics/bench_utils.py
  datadog_checks_base/tests/openmetrics/test_bench.py
  datadog_checks_base/tests/openmetrics/test_config.py
  datadog_checks_base/tests/openmetrics/test_interface.py
  datadog_checks_base/tests/openmetrics/test_options.py
  datadog_checks_base/tests/openmetrics/test_transformers/__init__.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_counter.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_counter_gauge.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_gauge.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_histogram.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_metadata.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_service_check.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_summary.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_temporal_percent.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_time_elapsed.py
  datadog_checks_base/tests/openmetrics/utils.py
  datadog_checks_base/tests/utils.py
  haproxy/datadog_checks/haproxy/check.py
  istio/datadog_checks/istio/istio.py
Labels: changelog/Added, integration/datadog_checks_base, integration/haproxy, integration/istio

#8425 [Release] Bumped datadog_checks_base version to 16.1.0
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#8426 Update base package pin
  haproxy/setup.py
  istio/setup.py
Labels: changelog/Added, integration/haproxy, integration/istio

#8424 Minor error message fix
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/spec.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8414 Clear process cache if cached PIDs not found
  process/datadog_checks/process/cache.py
  process/datadog_checks/process/process.py
  process/tests/test_process.py
Labels: changelog/Fixed, integration/process
