Repository DataDog/integrations-core, pull requests merged in 2021-04, with the labels that each got.

#9064 Add support for Airflow 2
  airflow/datadog_checks/airflow/airflow.py
  airflow/tests/common.py
  airflow/tests/compose/v1/.gitignore
  airflow/tests/compose/v1/Dockerfile
  airflow/tests/compose/v1/airflow.cfg
  airflow/tests/compose/v1/dags/dag_file_error.py
  airflow/tests/compose/v1/dags/task_fail.py
  airflow/tests/compose/v1/dags/task_ok.py
  airflow/tests/compose/v1/dags/task_sleep10.py
  airflow/tests/compose/v1/dags/task_sleep5.py
  airflow/tests/compose/v1/dags/tuto.py
  airflow/tests/compose/v1/docker-compose.yaml
  airflow/tests/compose/v1/tmp_data/.keep
  airflow/tests/compose/v2/.gitignore
  airflow/tests/compose/v2/Dockerfile
  airflow/tests/compose/v2/docker-compose.yaml
  airflow/tests/compose/v2/init.sh
  airflow/tests/compose/v2/tmp_data/.keep
  airflow/tests/conftest.py
  airflow/tests/test_unit.py
  airflow/tox.ini
Labels: changelog/Added, integration/airflow

#8972 Add runtime configuration validation
  powerdns_recursor/datadog_checks/powerdns_recursor/config_models/__init__.py
  powerdns_recursor/datadog_checks/powerdns_recursor/config_models/defaults.py
  powerdns_recursor/datadog_checks/powerdns_recursor/config_models/instance.py
  powerdns_recursor/datadog_checks/powerdns_recursor/config_models/shared.py
  powerdns_recursor/datadog_checks/powerdns_recursor/config_models/validators.py
Labels: changelog/Added, integration/powerdns_recursor

#8912 Add runtime configuration validation
  envoy/datadog_checks/envoy/config_models/__init__.py
  envoy/datadog_checks/envoy/config_models/defaults.py
  envoy/datadog_checks/envoy/config_models/instance.py
  envoy/datadog_checks/envoy/config_models/shared.py
  envoy/datadog_checks/envoy/config_models/validators.py
Labels: changelog/Added, integration/envoy

#8885 Add runtime configuration validation
  apache/datadog_checks/apache/config_models/__init__.py
  apache/datadog_checks/apache/config_models/defaults.py
  apache/datadog_checks/apache/config_models/instance.py
  apache/datadog_checks/apache/config_models/shared.py
  apache/datadog_checks/apache/config_models/validators.py
Labels: changelog/Added, integration/apache

#9070 Add rest_api_options to expose all RequestsWrapper options
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/api_rest.py
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/types.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_api.py
  vsphere/tests/test_api_rest.py
  vsphere/tests/test_cache.py
  vsphere/tests/test_check.py
  vsphere/tests/test_filters.py
  vsphere/tests/test_lab.py
  vsphere/tests/test_utils.py
Labels: changelog/Added, documentation, integration/vsphere

#9071 [Release] Bumped vsphere version to 5.9.0
  .in-toto/tag.fbc63ae0.link
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere, release

#9060 Change e2e to kind from terraform
  linkerd/tests/common.py
  linkerd/tests/compose/Dockerfile
  linkerd/tests/compose/docker-compose.yaml
  linkerd/tests/compose/install-linkerd.sh
  linkerd/tests/conftest.py
  linkerd/tests/terraform/kubeconfig-template.yaml
  linkerd/tests/terraform/linkerd-init.sh
  linkerd/tests/terraform/main.tf
  linkerd/tox.ini
Labels: changelog/no-changelog, dev/tooling, integration/linkerd

#9072 Add e2e docker env for twemproxy
  twemproxy/tests/compose/Dockerfile
  twemproxy/tests/compose/docker-compose.yaml
  twemproxy/tests/compose/resources/confd/conf.d/twemproxy.toml
  twemproxy/tests/compose/resources/confd/templates/twemproxy.tmpl
  twemproxy/tests/compose/resources/run.sh
  twemproxy/tests/compose/resources/supervisord.conf
  twemproxy/tox.ini
Labels: changelog/no-changelog, integration/twemproxy

#9069 Add logs documentation
  activemq_xml/README.md
  activemq_xml/assets/configuration/spec.yaml
  activemq_xml/datadog_checks/activemq_xml/data/conf.yaml.example
  activemq_xml/manifest.json
Labels: changelog/Added, documentation, integration/activemq_xml

#8798 Refactor kubelet and eks_fargate checks to use `KubeletBase`
  datadog_checks_base/tests/fixtures/kubelet_base/pod_list_raw.json
  eks_fargate/datadog_checks/eks_fargate/common.py
  eks_fargate/datadog_checks/eks_fargate/eks_fargate.py
  eks_fargate/setup.py
  eks_fargate/tests/test_eks_fargate.py
  kubelet/datadog_checks/kubelet/__init__.py
  kubelet/datadog_checks/kubelet/common.py
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/setup.py
  kubelet/tests/test_common.py
  kubelet/tests/test_kubelet.py
Labels: changelog/Changed, integration/datadog_checks_base, integration/eks_fargate, integration/kubelet

#9074 Pin decorator to 4.4.2
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  openstack_controller/requirements.in
Labels: changelog/Fixed, dependencies, integration/datadog_checks_base, integration/openstack_controller

#9078 separate alertmanager into its own section
  prometheus/README.md
Labels: changelog/no-changelog, documentation, integration/prometheus

#9077 Add `native_dynamic` OpenMetrics transformer
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transform.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_native_dynamic.py
Labels: changelog/Added, integration/datadog_checks_base

#9067 Add a boolean to send certificate duration
  tls/assets/configuration/spec.yaml
  tls/datadog_checks/tls/data/conf.yaml.example
  tls/datadog_checks/tls/tls.py
  tls/metadata.csv
  tls/tests/conftest.py
  tls/tests/test_local.py
  tls/tests/test_remote.py
Labels: changelog/Added, integration/tls

#9084 [Release] Bumped datadog_checks_dev version to 9.3.0
  .in-toto/tag.57ce2495.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#9085 Add logging documentation for ASP.NET
  aspdotnet/README.md
Labels: changelog/no-changelog, documentation, integration/aspdotnet

#9086 Upgrade virtualenv to 20.4.3
  datadog_checks_dev/setup.py
Labels: changelog/Added, integration/datadog_checks_dev

#9087 Better support for dashboard filename
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/dashboard.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9031 Add new implementation based on the official Prometheus plugin
  kong/README.md
  kong/assets/configuration/spec.yaml
  kong/assets/service_checks.json
  kong/datadog_checks/kong/check.py
  kong/datadog_checks/kong/data/conf.yaml.example
  kong/datadog_checks/kong/kong.py
  kong/datadog_checks/kong/metrics.py
  kong/metadata.csv
  kong/tests/common.py
  kong/tests/fixtures/prometheus.txt
  kong/tests/test_integration_e2e.py
  kong/tests/test_unit.py
Labels: changelog/Added, documentation, integration/kong

#9089 Handle missing partitions and better logging
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/Fixed, integration/kafka_consumer

#9090 [Release] Bump kafka_consumer to 2.8.4
  .in-toto/tag.f90c0097.link
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kafka_consumer, release

#9093 Revert "Pin decorator to 4.4.2"
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  openstack_controller/requirements.in
Labels: changelog/Fixed, dependencies, integration/datadog_checks_base, integration/openstack_controller

#9094 Fix no_auth support
  mongo/datadog_checks/mongo/config.py
  mongo/tests/test_unit.py
Labels: changelog/Fixed, integration/mongo

#9095 [Release] Bumped mongo version to 2.3.1
  .in-toto/tag.31091c85.link
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mongo, release

#8823 reuse base package refreshing
  iis/datadog_checks/iis/iis.py
  iis/setup.py
Labels: changelog/Fixed, integration/iis

#9096 Bump minimum base package version
  kong/setup.py
Labels: changelog/Fixed, integration/kong

#9083 Update dashboards status
  datadog_checks_dev/datadog_checks/dev/tooling/catalog_const.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  docs/developer/.scripts/33_render_status.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9081 Add version requirements as common util in dev package
  .azure-pipelines/templates/test-all-checks.yml
  datadog_checks_base/tests/models/test_interface.py
  datadog_checks_base/tests/models/test_types.py
  datadog_checks_base/tests/openmetrics/test_bench.py
  datadog_checks_base/tests/openmetrics/test_compat_scraper.py
  datadog_checks_base/tests/openmetrics/test_config.py
  datadog_checks_base/tests/openmetrics/test_interface.py
  datadog_checks_base/tests/openmetrics/test_options.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_counter.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_counter_gauge.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_gauge.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_histogram.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_metadata.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_native_dynamic.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_rate.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_service_check.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_summary.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_temporal_percent.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_time_elapsed.py
  datadog_checks_base/tests/test_agent_check.py
  datadog_checks_base/tests/test_pdhbasecheck.py
  datadog_checks_base/tests/test_winpdh.py
  datadog_checks_base/tests/test_wmicheck.py
  datadog_checks_base/tests/test_wmisampler.py
  datadog_checks_base/tests/utils.py
  datadog_checks_dev/datadog_checks/dev/testing.py
Labels: changelog/Added, dev/testing, integration/datadog_checks_base, integration/datadog_checks_dev

#9082 Allow the use of the new OpenMetrics implementation
  amazon_msk/README.md
  amazon_msk/assets/configuration/spec.yaml
  amazon_msk/assets/service_checks.json
  amazon_msk/datadog_checks/amazon_msk/amazon_msk.py
  amazon_msk/datadog_checks/amazon_msk/check.py
  amazon_msk/datadog_checks/amazon_msk/config_models/defaults.py
  amazon_msk/datadog_checks/amazon_msk/config_models/instance.py
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  amazon_msk/datadog_checks/amazon_msk/metrics.py
  amazon_msk/tests/common.py
  amazon_msk/tests/conftest.py
  amazon_msk/tests/test_unit.py
Labels: changelog/Added, documentation, integration/amazon_msk

#9098 Ignore metric_to_check validation for extras
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9099 [Release] Bump datadog_checks_dev to version 9.4.0
  .in-toto/tag.f90c0097.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#8761 Add Additional Vault Route Metrics
  vault/datadog_checks/vault/metrics.py
  vault/datadog_checks/vault/vault.py
  vault/metadata.csv
  vault/tests/test_vault.py
Labels: changelog/Added, integration/vault

#9100 Ignore validation for marketplace
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9101 [Release] Bumped datadog_checks_dev version to 9.4.1
  .in-toto/tag.31091c85.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#9092 Add config spec for Openstack Controller
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
  openstack_controller/manifest.json
Labels: documentation, integration/openstack_controller

#9102 Update won't do logs list
  datadog_checks_dev/datadog_checks/dev/tooling/catalog_const.py
Labels: dev/tooling, integration/datadog_checks_dev

#9041 fix links in PAN
  pan_firewall/README.md
Labels: changelog/no-changelog, documentation, integration/pan_firewall

#8696 Support XDR metrics for Aerospike Enterprise 5.0+
  aerospike/assets/configuration/spec.yaml
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  aerospike/tests/common.py
  aerospike/tests/test_unit.py
Labels: changelog/Added, documentation, integration/aerospike

#9104 Fix link numbers in activemq docs
  activemq_xml/README.md
Labels: changelog/no-changelog, documentation, integration/activemq_xml

#9106 Fix vSphere dash template var
  vsphere/assets/dashboards/vsphere_overview.json
Labels: changelog/no-changelog, integration/vsphere

#9108 Bumped datadog_checks_base version to 18.0.0
  .in-toto/tag.024e42fe.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#9109 Add doc for instance batch size config
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: changelog/Added, integration/snmp

#9107 Bump minimum base package
  amazon_msk/setup.py
  kong/setup.py
  vault/setup.py
Labels: changelog/Fixed, integration/amazon_msk, integration/kong, integration/vault

#9105 Add config spec for Openstack
  openstack/assets/configuration/spec.yaml
  openstack/datadog_checks/openstack/data/conf.yaml.example
  openstack/manifest.json
Labels: changelog/no-changelog, documentation, integration/openstack

#8861 Support Cat allocation metrics
  elastic/assets/configuration/spec.yaml
  elastic/datadog_checks/elastic/config.py
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/datadog_checks/elastic/elastic.py
  elastic/datadog_checks/elastic/metrics.py
  elastic/metadata.csv
  elastic/tests/test_elastic.py
Labels: changelog/Added, documentation, integration/elastic

#9117 Fix partition check
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: changelog/Fixed, integration/kafka_consumer

#9118 Fix integration log checking
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9075 Update dashboard MSL
  presto/assets/dashboards/overview.json
Labels: changelog/no-changelog, documentation, integration/presto

#8941 Add runtime configuration validation
  kafka/datadog_checks/kafka/config_models/__init__.py
  kafka/datadog_checks/kafka/config_models/defaults.py
  kafka/datadog_checks/kafka/config_models/instance.py
  kafka/datadog_checks/kafka/config_models/shared.py
  kafka/datadog_checks/kafka/config_models/validators.py
Labels: changelog/Added, integration/kafka

#9119 Support running Windows containers for E2E
  datadog_checks_dev/datadog_checks/dev/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/agent.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  docs/developer/ddev/plugins.md
Labels: changelog/Added, dev/tooling, documentation, integration/datadog_checks_dev

#9114 remove process signature from tokumx
  tokumx/manifest.json
Labels: changelog/no-changelog, documentation, integration/tokumx

#9113 update mesos-master process signature
  mesos_master/manifest.json
Labels: changelog/no-changelog, documentation, integration/mesos_master

#9122 Remove the `kubernetes.storage.operation.*` metrics because of a volumetry issue
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/metadata.csv
  kubelet/tests/test_kubelet.py
Labels: changelog/no-changelog, integration/kubelet

#9123 Backport of #9122: Remove the `kubernetes.storage.operation.*` metrics because of a volumetry issue
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/metadata.csv
  kubelet/tests/test_kubelet.py
Labels: changelog/Fixed, integration/kubelet

#9127 Upgrade ddtrace
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Labels: changelog/Fixed, dependencies, integration/datadog_checks_base

#9128 Normalize memory stats to mebibytes
  elastic/datadog_checks/elastic/metrics.py
  elastic/datadog_checks/elastic/utils.py
Labels: changelog/Changed, integration/elastic

#9120 Add retry option when metric is not found
  envoy/assets/configuration/spec.yaml
  envoy/datadog_checks/envoy/config_models/defaults.py
  envoy/datadog_checks/envoy/config_models/instance.py
  envoy/datadog_checks/envoy/data/conf.yaml.example
  envoy/datadog_checks/envoy/envoy.py
  envoy/datadog_checks/envoy/parser.py
  envoy/tests/test_parser.py
Labels: changelog/Added, documentation, integration/envoy

#9130 [Release] Bump elastic version to 2.0.0
  .in-toto/tag.f90c0097.link
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/elastic, release

#9023 Split utils into fileutils and ci
  .azure-pipelines/all_pr.yml
  .azure-pipelines/changes.yml
  datadog_checks_dev/datadog_checks/dev/__init__.py
  datadog_checks_dev/datadog_checks/dev/ci.py
  datadog_checks_dev/datadog_checks/dev/docker.py
  datadog_checks_dev/datadog_checks/dev/fs.py
  datadog_checks_dev/datadog_checks/dev/terraform.py
  datadog_checks_dev/datadog_checks/dev/tooling/clean.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/integrations.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/integrations_changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/requirements.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/clean.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/docs/deploy.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/docs/serve.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/stop.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/changes.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/dashboard.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/prometheus.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/scripts/upgrade_python.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/build.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/upload.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/run.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/service_checks.py
  datadog_checks_dev/datadog_checks/dev/tooling/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/dependencies.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/run.py
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
  datadog_checks_dev/datadog_checks/dev/tooling/github.py
  datadog_checks_dev/datadog_checks/dev/tooling/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/signing.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/datadog_checks/dev/utils.py
  datadog_checks_dev/tests/common.py
  datadog_checks_dev/tests/test_ci.py
  datadog_checks_dev/tests/tooling/commands/test_create.py
  datadog_checks_dev/tests/tooling/configuration/test_load.py
  datadog_checks_dev/tests/tooling/configuration/test_template.py
Labels: changelog/Changed, dev/testing, dev/tooling, integration/datadog_checks_dev

#8732 refactor os requirements
  disk/setup.py
  disk/tests/test_filter.py
  disk/tests/utils.py
  pdh_check/setup.py
  pdh_check/tests/test_pdh_check.py
Labels: changelog/no-changelog, dev/testing, integration/disk, integration/pdh_check

#9131 [Release] Bumped envoy version to 1.21.0
  .in-toto/tag.57ce2495.link
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/envoy, release

#9091 [documentation] IIS - Remove Containerized Installation directions
  iis/README.md
Labels: changelog/no-changelog, documentation, integration/iis

#9135 Fix open import for fs util
  datadog_checks_dev/datadog_checks/dev/fs.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#9133 Fix test import
  datadog_checks_base/tests/test_http.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#9136 Fix refactored imports
  datadog_checks_dev/datadog_checks/dev/kind.py
  datadog_checks_dev/datadog_checks/dev/kube_port_forward.py
  directory/tests/test_directory.py
  openldap/tests/conftest.py
  openstack_controller/tests/conftest.py
  postfix/tests/conftest.py
  vault/tests/conftest.py
Labels: changelog/Fixed, integration/datadog_checks_dev, integration/directory, integration/openldap, integration/openstack_controller, integration/postfix, integration/vault

#9137 Enable metric_to_check validation on extras
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev, qa/skip-qa

#9121 Create journald tile
  journald/CHANGELOG.md
  journald/MANIFEST.in
  journald/README.md
  journald/assets/configuration/spec.yaml
  journald/assets/dashboards/journald_overview.json
  journald/assets/service_checks.json
  journald/datadog_checks/__init__.py
  journald/datadog_checks/journald/__about__.py
  journald/datadog_checks/journald/__init__.py
  journald/datadog_checks/journald/data/conf.yaml.example
  journald/images/.gitkeep
  journald/manifest.json
  journald/metadata.csv
  journald/requirements-dev.txt
  journald/requirements.in
  journald/setup.py
Labels: changelog/Added, documentation, integration/journald

#9138 Enable docs for journald integration
  journald/manifest.json
Labels: changelog/no-changelog, documentation, integration/journald

#9141 Support the `--changed` flag for E2E testing
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#9080 Update README.md
  azure_active_directory/README.md
Labels: changelog/no-changelog, documentation, integration/azure_active_directory

#9079 Correct SQL by KSQLDB
  confluent_platform/README.md
Labels: changelog/no-changelog, documentation, integration/confluent_platform

#9143 Add a bit more info to ibm mq
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/ibm_mq

#9144 Extract schema into different file
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/schema.py
Labels: changelog/no-changelog, dev/tooling

#9142 Deprecate connection_scheme
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: changelog/Deprecated, documentation, integration/mongo

#9146 Enable metric to check validation on the marketplace
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9145 Move function to utils
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#9139 Fix authSource config option.
  mongo/datadog_checks/mongo/config.py
  mongo/tests/test_unit.py
Labels: changelog/Fixed, integration/mongo

#9124 Add --ddtrace flag
  datadog_checks_dev/datadog_checks/dev/_env.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/Added, dependencies, dev/tooling, integration/datadog_checks_dev

#9088 Add ASP.NET dashboard
  aspdotnet/assets/dashboards/overview.json
  aspdotnet/manifest.json
Labels: changelog/no-changelog, documentation, integration/aspdotnet

#9151 Fix default config validation to include openmetrics template
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9153 Fix public title example
  docs/dev/check_references.md
Labels: changelog/no-changelog, documentation

#9147 Skip slowlogs if there is an error
  redisdb/datadog_checks/redisdb/redisdb.py
Labels: changelog/Fixed, integration/redisdb

#9155 Add logic to enable/disable metrics collected from the summary endpoint
  kubelet/datadog_checks/kubelet/cadvisor.py
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/datadog_checks/kubelet/summary.py
  kubelet/tests/test_kubelet.py
Labels: changelog/Added, containers, integration/kubelet

#9159 [Release] Bumped kubelet version to 6.0.0
  .in-toto/tag.31091c85.link
  kubelet/CHANGELOG.md
  kubelet/datadog_checks/kubelet/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kubelet, release

#9015 Support redis 6 cpu metrics
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/metadata.csv
  redisdb/tests/test_e2e.py
Labels: changelog/Added, integration/redisdb

#9154 [Release] Bumped datadog_checks_dev version to 10.0.0
  .in-toto/tag.57ce2495.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#9018 Report io thread metrics
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/metadata.csv
  redisdb/tests/test_e2e.py
Labels: changelog/Added, integration/redisdb

#8863 update prometheus docs
  prometheus/README.md
Labels: changelog/no-changelog, documentation, integration/prometheus

#9125 Use CI app on master
  .azure-pipelines/all_master.yml
  .azure-pipelines/templates/run-tests.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: changelog/no-changelog, dev/testing

#9097 New integration: JMeter plugin
  jmeter/README.md
  jmeter/assets/service_checks.json
  jmeter/manifest.json
  jmeter/metadata.csv
Labels: changelog/Added, changelog/no-changelog, documentation, integration/jmeter, kind/new-integration

#8911 Add runtime configuration validation
  elastic/datadog_checks/elastic/config_models/__init__.py
  elastic/datadog_checks/elastic/config_models/defaults.py
  elastic/datadog_checks/elastic/config_models/instance.py
  elastic/datadog_checks/elastic/config_models/shared.py
  elastic/datadog_checks/elastic/config_models/validators.py
Labels: changelog/Added, integration/elastic

#8890 Add runtime configuration validation
  cassandra/datadog_checks/cassandra/config_models/__init__.py
  cassandra/datadog_checks/cassandra/config_models/defaults.py
  cassandra/datadog_checks/cassandra/config_models/instance.py
  cassandra/datadog_checks/cassandra/config_models/shared.py
  cassandra/datadog_checks/cassandra/config_models/validators.py
Labels: changelog/Added, integration/cassandra

#8899 Add runtime configuration validation
  consul/datadog_checks/consul/config_models/__init__.py
  consul/datadog_checks/consul/config_models/defaults.py
  consul/datadog_checks/consul/config_models/instance.py
  consul/datadog_checks/consul/config_models/shared.py
  consul/datadog_checks/consul/config_models/validators.py
Labels: changelog/Added, integration/consul

#8962 Add runtime configuration validation
  nginx/datadog_checks/nginx/config_models/__init__.py
  nginx/datadog_checks/nginx/config_models/defaults.py
  nginx/datadog_checks/nginx/config_models/instance.py
  nginx/datadog_checks/nginx/config_models/shared.py
  nginx/datadog_checks/nginx/config_models/validators.py
Labels: changelog/Added, integration/nginx

#9161 Allow configurability of the ignore_metrics option
  kubelet/datadog_checks/kubelet/data/conf.yaml.default
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/test_kubelet.py
Labels: changelog/Added, containers, integration/kubelet

#9150 Include missing default config templates
  openstack/assets/configuration/spec.yaml
  openstack/datadog_checks/openstack/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/openstack

#9168 Sync config models
  elastic/datadog_checks/elastic/config_models/defaults.py
  elastic/datadog_checks/elastic/config_models/instance.py
Labels: changelog/Fixed, integration/elastic

#9134 [ddev] Skip cherry-pick commits in `ddev release trello testable`
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9152 Clarify configuration and metric collection documentation
  cisco_aci/README.md
  cisco_aci/assets/configuration/spec.yaml
  cisco_aci/datadog_checks/cisco_aci/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/cisco_aci

#9149 Fix public title for Openstack Controller
  openstack_controller/manifest.json
Labels: changelog/no-changelog, documentation, integration/openstack_controller

#9164 Document eks fargate logs
  eks_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/eks_fargate

#9116 Openstack log support
  openstack/README.md
  openstack/assets/configuration/spec.yaml
  openstack/datadog_checks/openstack/data/conf.yaml.example
  openstack/manifest.json
Labels: changelog/Added, documentation, integration/openstack

#9115 Openstack controller log support
  openstack_controller/README.md
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
  openstack_controller/manifest.json
Labels: changelog/Added, documentation, integration/openstack_controller

#9160 Allow the use of relative images and refactor readme validate to use …
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/setup.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9172 [SNMP] Remove metric_prefix from snmp_tile integrations
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/snmp_tile/snmp_{check_name}/manifest.json
  snmp_cisco/manifest.json
  snmp_dell/manifest.json
  snmp_juniper/manifest.json
Labels: changelog/Changed, dev/tooling, documentation, integration/datadog_checks_dev, integration/snmp_cisco, integration/snmp_dell, integration/snmp_juniper

#9171 Add db.count documentation
  postgres/metadata.csv
Labels: changelog/no-changelog, integration/postgres

#9165 Support new aggregator APIs for the event platform
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Labels: changelog/Added, integration/datadog_checks_base

#9173 Upgrade lxml python package
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ibm_was/requirements.in
Labels: changelog/Security, dependencies, integration/datadog_checks_base, integration/ibm_was

#9174 Add unix_time format to QueryManager time_elapsed transformer
  datadog_checks_base/datadog_checks/base/utils/db/transform.py
  datadog_checks_base/tests/test_db.py
Labels: changelog/Added, integration/datadog_checks_base

#9175 [Release] Bumped datadog_checks_base version to 18.1.0
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#9170 Replace nonascii characters
  azure_active_directory/README.md
  gke/README.md
  go-metro/README.md
  jboss_wildfly/README.md
  kafka_consumer/README.md
  kube_apiserver_metrics/README.md
  openshift/README.md
  pan_firewall/README.md
  powerdns_recursor/README.md
  teamcity/README.md
  voltdb/README.md
Labels: changelog/no-changelog, documentation, integration/azure_active_directory, integration/gke, integration/go-metro, integration/jboss_wildfly, integration/kafka_consumer, integration/kube_apiserver_metrics, integration/openshift, integration/pan_firewall, integration/powerdns_recursor, integration/teamcity, integration/voltdb

#9176 Upgrade isort
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#9178 Change Clickhouse port to start at 8127
  clickhouse/tests/common.py
  clickhouse/tests/docker/docker-compose.yaml
Labels: changelog/no-changelog, integration/clickhouse

#9169 Include ascii validation in asset files
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/schema.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#9162 DOCS-1879 - clarify EKS data collection in 2 integrations
  kube_controller_manager/README.md
  kube_scheduler/README.md
Labels: changelog/no-changelog, documentation, integration/kube_controller_manager, integration/kube_scheduler

#9045 Submit DBM query samples via new aggregator API
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/setup.py
  mysql/tests/test_mysql.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/setup.py
  postgres/tests/test_pg_integration.py
Labels: changelog/Changed, integration/mysql, integration/postgres

#9177 Upgrade flake8
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#9179 Fix ibm db2 e2e environment
  ibm_db2/tests/conftest.py
  ibm_db2/tests/docker/docker-compose.yaml
Labels: changelog/no-changelog, integration/ibm_db2

#8867 MongoDB and HAProxy - Containerized instructions
  haproxy/README.md
  mongo/README.md
Labels: changelog/no-changelog, documentation, integration/haproxy, integration/mongo

#8866 Elasticsearch, Apache, Postgres - Docker, Kubernetes, ECS instructions
  apache/README.md
  elastic/README.md
  postgres/README.md
Labels: changelog/no-changelog, documentation, integration/apache, integration/elastic, integration/postgres

#9181 Fix style rules according to new flake bugbear version
  .flake8
  datadog_checks_base/datadog_checks/base/checks/win/winpdh.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#9180 Allow the loading of arbitrary configuration models
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: changelog/Added, integration/datadog_checks_base

#9157 [Active directory] Adding LDAP binding ootb monitor
  active_directory/assets/monitors/ldap_binding.json
  active_directory/assets/monitors/ldap_binding_successful.json
  active_directory/assets/monitors/ldap_client_sessions.json
  active_directory/manifest.json
Labels: changelog/no-changelog, documentation, integration/active_directory

#9189 Fix retry parsing when metric has multiple metric parts
  envoy/datadog_checks/envoy/parser.py
  envoy/tests/docker/default/front-envoy.yaml
  envoy/tests/test_parser.py
Labels: changelog/Fixed, integration/envoy

#9191 [Release] Update envoy to 1.21.0
  .in-toto/tag.31091c85.link
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/envoy, release

#9186 Provide better error message when api version cannot be determined
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: changelog/Fixed, integration/kafka_consumer

#9192 Fix warning log format
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/Fixed, integration/kafka_consumer

#9194 [Release] Bumped kafka_consumer version to 2.8.6
  .in-toto/tag.31091c85.link
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kafka_consumer, release

#9197 Restore correct default value of tls_verify
  http_check/assets/configuration/spec.yaml
  http_check/datadog_checks/http_check/config_models/defaults.py
  http_check/datadog_checks/http_check/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/http_check

#9198 [Release] Bumped http_check version to 5.3.1
  .in-toto/tag.31091c85.link
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/http_check, release

#9199 Fix typo in `path` description
  win32_event_log/assets/configuration/spec.yaml
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
Labels: changelog/Fixed

#9190 Fix QA card assignment to be distributed randomly and equally
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9207 add blog series links to hashicorp vault
  vault/README.md
Labels: changelog/no-changelog, documentation, integration/vault

#9203 Remove reference to connection_scheme
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/mongo

#9211 Fix debug log message
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/Fixed, integration/kafka_consumer

#9208 Reduce ascii validation for assets
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/schema.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9214 [Release] Bumped datadog_checks_dev version to 11.0.1
  .in-toto/tag.57ce2495.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#9213 Update log collection link
  openshift/README.md
Labels: changelog/no-changelog, documentation, integration/openshift

#9195 Add amazon eks exception
  datadog_checks_dev/datadog_checks/dev/tooling/catalog_const.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev, qa/skip-qa

#9210 Add code comment about legacy implementation
  amazon_msk/datadog_checks/amazon_msk/amazon_msk.py
  kong/datadog_checks/kong/kong.py
  linkerd/datadog_checks/linkerd/linkerd.py
Labels: changelog/no-changelog, integration/amazon_msk, integration/kong, integration/linkerd

#9205 Redis - Overview multi-size layout
  redisdb/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/redisdb

#9204 Elasticsearch - Overview multi-size layout
  elastic/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/elastic

#9206 MongoDB - Overview multi-size layout
  mongo/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/mongo

#9163 Add JMeter dashboard
  jmeter/assets/dashboards/JMeterOverview.json
  jmeter/manifest.json
Labels: changelog/no-changelog, documentation, integration/jmeter

#9217 Reflect default port in config
  twemproxy/assets/configuration/spec.yaml
  twemproxy/datadog_checks/twemproxy/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/twemproxy

#9202 Support 0.4.0 metrics server renamed metric names
  kube_metrics_server/datadog_checks/kube_metrics_server/kube_metrics_server.py
Labels: changelog/Added, integration/kube_metrics_server

#9167 Flutend shortcode
  fluentd/README.md
Labels: changelog/no-changelog, documentation, integration/fluentd

#9140 Add Windows E2E tests to CI
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-windows.yml
  disk/tests/common.py
  disk/tests/conftest.py
  disk/tests/test_e2e.py
  disk/tox.ini
  pdh_check/tests/conftest.py
  pdh_check/tests/test_e2e.py
  pdh_check/tox.ini
  windows_service/tests/conftest.py
  windows_service/tests/test_windows_service.py
  windows_service/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/disk, integration/pdh_check, integration/windows_service

#9066 Add log support for Twemproxy
  twemproxy/README.md
  twemproxy/assets/configuration/spec.yaml
  twemproxy/datadog_checks/twemproxy/data/conf.yaml.example
  twemproxy/manifest.json
  twemproxy/tests/compose/docker-compose.yaml
  twemproxy/tests/conftest.py
Labels: changelog/Added, documentation, integration/twemproxy

#9068 Add Twemproxy dashboard
  twemproxy/assets/dashboards/twemproxy_overview.json
  twemproxy/manifest.json
Labels: changelog/no-changelog, documentation, integration/twemproxy
