Repository DataDog/integrations-core, pull requests merged in 2021-03, with the labels that each got.

#8560 [HAProxy] Adding recommended monitors
  haproxy/assets/monitors/backend_dreq.json
  haproxy/assets/monitors/backend_econ.json
  haproxy/assets/monitors/backend_queue_time.json
  haproxy/assets/monitors/backend_rtime.json
  haproxy/assets/monitors/backend_sessions.json
  haproxy/assets/monitors/frontend_4xx.json
  haproxy/assets/monitors/frontend_5xx.json
  haproxy/assets/monitors/frontend_dreq.json
  haproxy/assets/monitors/frontend_ereq.json
  haproxy/assets/monitors/frontend_sessions.json
  haproxy/assets/monitors/request_rate.json
  haproxy/manifest.json
Labels: changelog/no-changelog, documentation, integration/haproxy

#8595 Create missing cards when using `--move-cards`
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/fixed_cards_mover.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
Labels: changelog/Changed, dev/tooling, integration/datadog_checks_dev

#8562 [kubelet] Add new metrics
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/metadata.csv
  kubelet/tests/test_kubelet.py
Labels: changelog/Added, integration/kubelet

#8266 Better tests for generic_host_resources
  snmp/tests/test_profiles.py
Labels: changelog/Fixed, integration/snmp

#8658 Add availability group name tag
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: changelog/Fixed, integration/sqlserver

#8463 Add cancel method to the AgentCheck base class, allowing cleanup of resources when checks are unscheduled.
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: changelog/Added, integration/datadog_checks_base

#8710 [Release] Bump sqlserver to version 2.3.7
  .in-toto/tag.f90c0097.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/sqlserver, release

#8712 Refactor and use new Agent signature
  couchbase/datadog_checks/couchbase/couchbase.py
  couchbase/tests/test_couchbase.py
  couchbase/tests/test_unit.py
Labels: changelog/Added, integration/couchbase

#8691 Add support for Sync Gateway metrics
  couchbase/assets/configuration/spec.yaml
  couchbase/datadog_checks/couchbase/couchbase.py
  couchbase/datadog_checks/couchbase/couchbase_consts.py
  couchbase/datadog_checks/couchbase/data/conf.yaml.example
  couchbase/metadata.csv
  couchbase/tests/common.py
  couchbase/tests/compose/standalone.compose
  couchbase/tests/conftest.py
  couchbase/tests/test_couchbase.py
Labels: changelog/Added, documentation, integration/couchbase

#8714 Bumped couchbase version to 1.17.0
  .in-toto/tag.57ce2495.link
  couchbase/CHANGELOG.md
  couchbase/datadog_checks/couchbase/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/couchbase, release

#8715 [Release] Bump datadog_checks_dev to version 9.0.0
  .in-toto/tag.f90c0097.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#8709 Move SNMP auto_conf.yaml to agent repo
  snmp/datadog_checks/snmp/data/auto_conf.yaml
Labels: changelog/Changed, integration/snmp

#8720 Restore running e2e on master branch
  .azure-pipelines/all_master.yml
Labels: changelog/no-changelog, dev/testing

#8671 Migrate yarn/hadoop, php_fpm dashboards
  php_fpm/assets/dashboards/php-fpm_dashboard.json
  php_fpm/manifest.json
  yarn/assets/dashboards/hadoop_dashboard.json
  yarn/assets/dashboards/yarn_dashboard.json
  yarn/manifest.json
Labels: changelog/no-changelog, documentation, integration/php_fpm, integration/yarn

#8678 Migrate btrfs, couchbase, fluentd, gearman dashboards to integrations core
  btrfs/assets/dashboards/btrfs_dashboard.json
  btrfs/manifest.json
  couchbase/assets/dashboards/couchbase_dashboard.json
  couchbase/manifest.json
  fluentd/assets/dashboards/fluentd_dashboard.json
  fluentd/manifest.json
  gearmand/assets/dashboards/gearman_dashboard.json
  gearmand/manifest.json
Labels: changelog/no-changelog, documentation, integration/btrfs, integration/couchbase, integration/fluentd, integration/gearmand

#8681 Migrate kafka, kong, kyototycoon, lighttpd dash from dogweb
  kafka/assets/dashboards/kafka_dashboard.json
  kafka/manifest.json
  kong/assets/dashboards/kong_dashboard.json
  kong/manifest.json
  kyototycoon/assets/dashboards/kyototycoon_dashboard.json
  kyototycoon/manifest.json
  lighttpd/assets/dashboards/lighttpd_dashboard.json
  lighttpd/manifest.json
Labels: changelog/no-changelog, documentation, integration/kafka, integration/kong, integration/kyototycoon, integration/lighttpd

#8723 Add listener stats
  haproxy/datadog_checks/haproxy/metrics.py
  haproxy/metadata.csv
  haproxy/tests/conftest.py
  haproxy/tests/docker/haproxy.cfg
  haproxy/tox.ini
Labels: changelog/Added, integration/haproxy

#8722 Avoid mounting check confd volume if there is no config
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8731 master e2e
  .azure-pipelines/templates/test-all.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling

#8730 Add systemd.unit.substate as an integration service check.
  systemd/assets/service_checks.json
Labels: changelog/no-changelog, integration/systemd

#8707 Upgrade pyyaml python package
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  datadog_checks_base/tests/test_ddyaml.py
  datadog_checks_dev/setup.py
Labels: changelog/Security, dependencies, integration/datadog_checks_base, integration/datadog_checks_dev

#8699 Check if integrations are logs only
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/tests/tooling/test_utils.py
  docs/developer/.scripts/33_render_status.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8702 Check for more logs in ZK SSL startup
  zk/tests/conftest.py
Labels: changelog/no-changelog, integration/zk

#8719 Fix auto_conf.yaml
  snmp/tests/conftest.py
Labels: changelog/no-changelog, integration/snmp

#8711 Add loader to snmp config example
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: integration/snmp

#8708 Add snmp corecheck e2e tests
  snmp/tests/common.py
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_e2e_python.py
Labels: changelog/no-changelog, integration/snmp

#8627 Collect postgres statement samples & execution plans for deep database monitoring
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/log.py
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/db/sql.py
  datadog_checks_base/datadog_checks/base/utils/db/statement_samples.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/test_serialization.py
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/requirements.in
  postgres/tests/compose/resources/01_postgres.sql
  postgres/tests/compose/resources/02_setup.sh
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/test_pg_integration.py
Labels: changelog/Added, dependencies, documentation, integration/datadog_checks_base, integration/postgres

#8737 Fix e2e on master
  .azure-pipelines/templates/test-all.yml
Labels: changelog/no-changelog, dev/testing

#8724 adding blog links to fargate docs
  ecs_fargate/README.md
  eks_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate, integration/eks_fargate

#8740 Fix links to CLI commands
  docs/developer/ddev/test.md
  docs/developer/guidelines/dashboards.md
  docs/developer/guidelines/pr.md
  docs/developer/meta/ci.md
  docs/developer/meta/config-specs.md
  docs/developer/meta/docs-specs.md
  docs/developer/process/agent-release/post-release.md
  docs/developer/process/agent-release/pre-release.md
  docs/developer/process/integration-release.md
Labels: changelog/no-changelog, documentation

#8741 Add blog link to Juniper readme
  snmp_juniper/README.md
Labels: changelog/no-changelog, documentation, integration/snmp_juniper

#8682 Migrate nginx, pgbouncer, postfix, riakcs dash from dogweb
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  nginx/assets/dashboards/NGINX-Metrics_dashboard.json
  nginx/assets/dashboards/NGINX-Overview_dashboard.json
  nginx/manifest.json
  pgbouncer/assets/dashboards/pgbouncer_dashboard.json
  pgbouncer/manifest.json
  postfix/assets/dashboards/postfix_dashboard.json
  postfix/manifest.json
  riakcs/assets/configuration/spec.yaml
  riakcs/assets/dashboards/riakcs_dashboard.json
  riakcs/manifest.json
Labels: changelog/no-changelog, dev/testing, documentation, integration/nginx, integration/pgbouncer, integration/postfix, integration/riakcs

#8705 Migrate gunicorn, TokuMX from dogweb
  gunicorn/assets/dashboards/gunicorn_dashboard.json
  gunicorn/manifest.json
  tokumx/assets/dashboards/tokumx_dashboard.json
  tokumx/manifest.json
Labels: changelog/no-changelog, documentation, integration/gunicorn, integration/tokumx

#8683 Migrate solr, sqlserver, varnish, zookeeper dashes from dogweb
  solr/assets/dashboards/solr_dashboard.json
  solr/manifest.json
  sqlserver/assets/dashboards/SQLServer-Overview_dashboard.json
  sqlserver/assets/dashboards/sqlserver_dashboard.json
  sqlserver/manifest.json
  varnish/assets/dashboards/varnish_dashboard.json
  varnish/manifest.json
  zk/assets/dashboards/zookeeper_dashboard.json
  zk/manifest.json
Labels: changelog/no-changelog, documentation, integration/solr, integration/sqlserver, integration/varnish, integration/zk

#8742 Decrease TokuMX codecov target
  .codecov.yml
Labels: changelog/no-changelog, dev/testing

#8745 Fix flaky test
  envoy/tests/conftest.py
  envoy/tests/test_envoy.py
Labels: changelog/no-changelog, integration/envoy

#8535 Add support for Kubernetes leader election based on Lease objects
  datadog_checks_base/datadog_checks/base/checks/kube_leader/__init__.py
  datadog_checks_base/datadog_checks/base/checks/kube_leader/mixins.py
  datadog_checks_base/datadog_checks/base/checks/kube_leader/record.py
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  datadog_checks_base/tests/test_kube_leader.py
  kube_controller_manager/datadog_checks/kube_controller_manager/data/conf.yaml.example
  kube_controller_manager/datadog_checks/kube_controller_manager/kube_controller_manager.py
  kube_controller_manager/tests/test_kube_controller_manager.py
  kube_scheduler/assets/configuration/spec.yaml
  kube_scheduler/datadog_checks/kube_scheduler/data/conf.yaml.example
  kube_scheduler/datadog_checks/kube_scheduler/kube_scheduler.py
  kube_scheduler/tests/test_kube_scheduler_1_13.py
  kube_scheduler/tests/test_kube_scheduler_1_14.py
Labels: changelog/Added, dependencies, documentation, integration/datadog_checks_base, integration/kube_controller_manager, integration/kube_scheduler

#8728 Fix Juniper EX sysObjectIds
  snmp/datadog_checks/snmp/data/profiles/juniper-ex.yaml
  snmp/tests/compose/data/juniper-ex.snmprec
Labels: changelog/Fixed, integration/snmp, integration/snmp_juniper

#8746 Do not append -pyx for agent7 images
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8739 Update Default Oracle Dashboard
  oracle/assets/dashboards/oracle_overview.json
Labels: changelog/no-changelog, integration/oracle

#8751 Add sidecar injection failed and skipped metrics
  istio/datadog_checks/istio/metrics.py
  istio/metadata.csv
Labels: changelog/Added, integration/istio

#8750 Add ability to look for wildcards in Prometheus metric transformers
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
Labels: changelog/Added, integration/datadog_checks_base

#8759 [Release] Bumped datadog_checks_base version to 16.5.0
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#8757 postgres check: bump datadog_checks_base min version
  postgres/setup.py
Labels: changelog/no-changelog, integration/postgres

#8762 Upgrade PyJWT to 2.0.1 on Python 3
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Labels: changelog/Added, dependencies, integration/datadog_checks_base

#8765 Upgrade orjson to 3.5.0
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Labels: changelog/Added, dependencies, integration/datadog_checks_base

#8729 Add elastic monitors
  elastic/assets/monitors/elastic_pending_tasks_high.json
  elastic/assets/monitors/elastic_query_latency_high.json
  elastic/assets/monitors/elastic_query_load_high.json
  elastic/assets/monitors/elastic_requests.json
  elastic/manifest.json
Labels: changelog/no-changelog, documentation, integration/elastic

#8769 Revert "Upgrade orjson to 3.5.0"
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Labels: changelog/Fixed, dependencies, integration/datadog_checks_base

#8748 Bump base dependency
  apache/setup.py
Labels: changelog/no-changelog

#8773 Declare test_e2e parameter
  .azure-pipelines/templates/test-all-checks.yml
Labels: changelog/no-changelog, dev/testing

#8770 Bump base package requirement
  kube_controller_manager/setup.py
  kube_scheduler/setup.py
Labels: changelog/Fixed, integration/kube_controller_manager, integration/kube_scheduler

#8734 Wait for index
  couch/tests/conftest.py
Labels: changelog/no-changelog, dev/testing, integration/couch

#8771 Add BGP metrics to Juniper SRX Profile
  snmp/datadog_checks/snmp/data/profiles/_juniper-virtualchassis.yaml
  snmp/datadog_checks/snmp/data/profiles/juniper-srx.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/juniper-ex-variation.snmprec
  snmp/tests/compose/data/juniper-ex.snmprec
  snmp/tests/compose/data/juniper-mx-variation.snmprec
  snmp/tests/compose/data/juniper-mx.snmprec
  snmp/tests/compose/data/juniper-srx-variation.snmprec
  snmp/tests/compose/data/juniper-srx.snmprec
  snmp/tests/test_profiles.py
Labels: changelog/Added, integration/snmp, integration/snmp_juniper

#8774 Fix passing of the 'test_e2e' var in the CI
  .azure-pipelines/templates/test-all.yml
Labels: changelog/no-changelog, dev/testing

#8767 Improve orjson compatibility
  datadog_checks_base/datadog_checks/base/utils/db/sql.py
  datadog_checks_base/datadog_checks/base/utils/db/statement_samples.py
  datadog_checks_base/datadog_checks/base/utils/serialization.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_pg_integration.py
  postgres/tox.ini
Labels: changelog/Fixed, integration/datadog_checks_base, integration/postgres

#8776 [Release] Bumped datadog_checks_base version to 16.6.0
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#8777 postgres: bump datadog_checks_base min version
  postgres/setup.py
Labels: changelog/no-changelog, integration/postgres

#8768 [doc]erin-leeds/fixed hyperlink under postfix log collection
  postfix/README.md
Labels: changelog/no-changelog, documentation, integration/postfix

#8766 Shutdown statement sampler thread on cancel
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_pg_integration.py
Labels: changelog/Changed, integration/postgres

#8754 [eks_fargate] Add pod capacity metrics
  eks_fargate/assets/configuration/spec.yaml
  eks_fargate/conftest.py
  eks_fargate/datadog_checks/eks_fargate/common.py
  eks_fargate/datadog_checks/eks_fargate/data/conf.yaml.example
  eks_fargate/datadog_checks/eks_fargate/eks_fargate.py
  eks_fargate/metadata.csv
  eks_fargate/tests/fixtures/pods.json
  eks_fargate/tests/test_eks_fargate.py
Labels: changelog/Added, documentation, integration/eks_fargate

#8629 Collect mysql statement samples & execution plans
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/requirements.in
  mysql/setup.py
  mysql/tests/compose/mariadb.conf
  mysql/tests/compose/mysql.conf
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
  mysql/tox.ini
Labels: changelog/Added, dependencies, documentation, integration/mysql

#8752 Add recommended Vault monitor
  vault/assets/monitors/vault_S3_time_high.json
  vault/manifest.json
Labels: changelog/no-changelog, documentation, integration/vault

#8778 [DOCS 1417] Update Fargate readme with env vars
  ecs_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/ecs_fargate

#8791 postgres & mysql: fix flaky DBM thread tests
  mysql/tests/test_mysql.py
  postgres/tests/test_pg_integration.py
Labels: changelog/no-changelog, dev/testing, integration/mysql, integration/postgres

#8793 Remove unused default config spec option
  aspdotnet/assets/configuration/spec.yaml
  consul/assets/configuration/spec.yaml
  envoy/assets/configuration/spec.yaml
  haproxy/assets/configuration/spec.yaml
  http_check/assets/configuration/spec.yaml
  kube_apiserver_metrics/assets/configuration/spec.yaml
  kube_scheduler/assets/configuration/spec.yaml
  marklogic/assets/configuration/spec.yaml
  mcache/assets/configuration/spec.yaml
  mesos_slave/assets/configuration/spec.yaml
  pgbouncer/assets/configuration/spec.yaml
  php_fpm/assets/configuration/spec.yaml
  proxysql/assets/configuration/spec.yaml
  supervisord/assets/configuration/spec.yaml
  tcp_check/assets/configuration/spec.yaml
  tokumx/assets/configuration/spec.yaml
Labels: changelog/no-changelog, documentation, integration/aspdotnet, integration/consul, integration/envoy, integration/haproxy, integration/http_check, integration/kube_apiserver_metrics, integration/kube_scheduler, integration/marklogic, integration/mcache, integration/mesos_slave, integration/pgbouncer, integration/php_fpm, integration/proxysql, integration/supervisord, integration/tcp_check, integration/tokumx

#8786 [AI-1263] [Tomcat] Adding OOTB monitors
  tomcat/assets/monitors/error_count.json
  tomcat/assets/monitors/max_proc_time.json
  tomcat/assets/monitors/processing_time.json
  tomcat/assets/monitors/req_count.json
  tomcat/assets/monitors/thread_busy.json
  tomcat/assets/monitors/thread_count_max.json
  tomcat/manifest.json
Labels: changelog/no-changelog, documentation, integration/tomcat

#8799 Fix table of contents
  mkdocs.yml
Labels: changelog/no-changelog

#8800 Fix svg icons
  docs/developer/meta/docs.md
Labels: changelog/no-changelog, documentation

#8803 Fix snmp get bulk log
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/test_check.py
Labels: changelog/Fixed, integration/snmp

#8806 [Release] Bumped snmp version to 5.0.1
  .in-toto/tag.fbc63ae0.link
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: changelog/no-changelog, integration/snmp, release

#8783 Make kind cluster name kubeadm compliant
  datadog_checks_dev/datadog_checks/dev/kind.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#8810 Update readme with feedback
  otel/README.md
Labels: changelog/no-changelog, documentation, integration/otel

#8808 Cache API client connection
  mongo/datadog_checks/mongo/mongo.py
Labels: changelog/Added, integration/mongo

#8816 Bumped mongo version to 2.3.0
  .in-toto/tag.024e42fe.link
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mongo, release

#8818 Clarify SonarQube integration installation and configuration instructions
  sonarqube/README.md
Labels: changelog/no-changelog, documentation, integration/sonarqube

#8817 Fix collection of PendingTime
  sonarqube/datadog_checks/sonarqube/data/metrics.yaml
  sonarqube/metadata.csv
  sonarqube/tests/common.py
  sonarqube/tests/docker/docker-compose.yaml
  sonarqube/tests/metrics.py
  sonarqube/tests/test_e2e.py
Labels: changelog/Fixed, integration/sonarqube

#8819 Bumped sonarqube version to 1.1.2
  .in-toto/tag.024e42fe.link
  requirements-agent-release.txt
  sonarqube/CHANGELOG.md
  sonarqube/datadog_checks/sonarqube/__about__.py
Labels: changelog/no-changelog, integration/sonarqube, release

#8820 Import kube client lazily
  datadog_checks_base/datadog_checks/base/checks/kube_leader/record.py
Labels: changelog/Fixed, integration/datadog_checks_base

#8824 Bumped datadog_checks_base version to 16.6.1
  .in-toto/tag.024e42fe.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#8796 Add code comment
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: changelog/no-changelog, integration/sqlserver

#8795 Add more logging
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
Labels: changelog/Fixed, integration/kafka_consumer

#8787 Add more debug lines
  tls/datadog_checks/tls/tls.py
Labels: changelog/Fixed, integration/tls

#8813 Do not count snmp_ integrations
  docs/developer/.scripts/33_render_status.py
Labels: changelog/no-changelog

#8814 Tweak Artemis metrics metadata
  activemq/metadata.csv
Labels: changelog/no-changelog, integration/activemq

#8821 Better recreate base class refreshing strategy
  iis/datadog_checks/iis/iis.py
Labels: changelog/Fixed, integration/iis

#8261 Add Ceph Recovery metrics
  ceph/datadog_checks/ceph/ceph.py
  ceph/metadata.csv
  ceph/tests/common.py
  ceph/tests/test_unit.py
Labels: changelog/Added, integration/ceph

#8827 Fix snmp listener architecture doc typo
  docs/developer/architecture/snmp.md
Labels: changelog/no-changelog, documentation

#8779 Support Clickhouse metrics v20
  clickhouse/datadog_checks/clickhouse/queries.py
  clickhouse/metadata.csv
  clickhouse/tests/metrics.py
  clickhouse/tests/test_clickhouse.py
  clickhouse/tests/test_e2e.py
  clickhouse/tox.ini
Labels: changelog/Added, integration/clickhouse

#8807 Update dogweb dashboards list
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#8825 Update Hazelcast supported Versions.
  hazelcast/README.md
Labels: changelog/no-changelog, documentation, integration/hazelcast

#8489 Reflect new metric types in haproxy metadata
  haproxy/metadata.csv
  haproxy/tests/legacy/test_haproxy.py
Labels: changelog/no-changelog, integration/haproxy

#8805 Finish refactor
  couchbase/datadog_checks/couchbase/couchbase.py
Labels: changelog/no-changelog, integration/couchbase

#8784 Fix infra-integrations team for testable
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8830 Handle availability replica metrics on earlier versions
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: changelog/Fixed, integration/sqlserver

#8804 Remove check instance argument from tests
  couchbase/tests/test_couchbase.py
Labels: changelog/no-changelog, dev/testing, integration/couchbase

#8789 Specify testable origin master in docs
  docs/developer/process/agent-release/pre-release.md
Labels: changelog/no-changelog, documentation

#8788 Improve error message
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8797 Restore docker daemon tile
  .github/CODEOWNERS
  docker_daemon/CHANGELOG.md
  docker_daemon/README.md
  docker_daemon/assets/service_checks.json
  docker_daemon/datadog_checks/docker_daemon/data/conf.yaml.example
  docker_daemon/images/docker.png
  docker_daemon/images/integrations-docker-dockerps.png
  docker_daemon/manifest.json
  docker_daemon/metadata.csv
Labels: changelog/no-changelog, documentation, integration/docker_daemon

#8828 release iis
  .in-toto/tag.0244aaa8.link
  iis/CHANGELOG.md
  iis/datadog_checks/iis/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/iis, release

#8802 Rename service_whitelist to services_include
  consul/assets/configuration/spec.yaml
  consul/datadog_checks/consul/consul.py
  consul/datadog_checks/consul/data/auto_conf.yaml
  consul/datadog_checks/consul/data/conf.yaml.example
  consul/tests/consul_mocks.py
  consul/tests/test_unit.py
Labels: changelog/Fixed, documentation, integration/consul

#8833 [Release] Update metadata
  .in-toto/tag.31091c85.link
Labels: changelog/no-changelog

#8832 Ensure delimited identifiers in USE statements
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/utils.py
Labels: changelog/Fixed, integration/sqlserver

#8785 Update error message to remind people to enable SSO
  datadog_checks_dev/datadog_checks/dev/tooling/github.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#8834 Add databases to E2E with non-standard names
  sqlserver/tests/compose/setup.sql
Labels: changelog/no-changelog, integration/sqlserver

#8753 Add replication_mode tag to replication service check
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/test_mysql.py
Labels: changelog/Added, integration/mysql

#8831 VoltDB Readme: Add link to blog post
  voltdb/README.md
  voltdb/manifest.json
Labels: changelog/no-changelog, documentation, integration/voltdb

#8837 Improve exception handling for database queries
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/utils.py
Labels: changelog/Fixed, documentation, integration/sqlserver

#8835 [Release] Bumped sqlserver version to 2.3.8
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/sqlserver, release

#8637 Added palo alto networks firewall integration
  pan_firewall/CHANGELOG.md
  pan_firewall/README.md
  pan_firewall/assets/configuration/spec.yaml
  pan_firewall/assets/dashboards/palo_alto_networks_firewall_overview.json
  pan_firewall/assets/logos/palo-alto-logo.png
  pan_firewall/assets/saved_views/all_high_severity_issues.json
  pan_firewall/assets/saved_views/top_ips_flagged_in_high_severity_threats.json
  pan_firewall/assets/service_checks.json
  pan_firewall/datadog_checks/pan.firewall/__about__.py
  pan_firewall/datadog_checks/pan.firewall/__init__.py
  pan_firewall/datadog_checks/pan.firewall/data/conf.yaml.example
  pan_firewall/manifest.json
  pan_firewall/metadata.csv
Labels: documentation, integration/paloaltonetworks, integration/pan_firewall

#8839 Revert metadata change
  activemq/metadata.csv
Labels: changelog/no-changelog, integration/activemq

#8838 Add new precision time function
  datadog_checks_base/datadog_checks/base/utils/time.py
  datadog_checks_base/tests/test_time.py
Labels: changelog/Added, integration/datadog_checks_base

#8840 [Release] Bump datadog_checks_base to 16.7.0
  .in-toto/tag.f90c0097.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#8842 Fix description of the `path` option
  win32_event_log/assets/configuration/spec.yaml
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/win32_event_log

#8717 Add log support
  mesos_master/README.md
  mesos_master/assets/configuration/spec.yaml
  mesos_master/datadog_checks/mesos_master/data/conf.yaml.example
  mesos_master/manifest.json
  mesos_slave/README.md
  mesos_slave/assets/configuration/spec.yaml
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
  mesos_slave/manifest.json
Labels: changelog/Added, documentation, integration/mesos_master, integration/mesos_slave

#8703 Add types to conditions
  datadog_checks_dev/datadog_checks/dev/conditions.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#8792 Refactor TLS check
  tls/datadog_checks/tls/const.py
  tls/datadog_checks/tls/tls.py
  tls/datadog_checks/tls/tls_local.py
  tls/datadog_checks/tls/tls_remote.py
  tls/tests/test_e2e.py
  tls/tests/test_local.py
  tls/tests/test_remote.py
Labels: changelog/Fixed, integration/tls

#8841 Utilize time precision function from datadog_checks_base
  dns_check/datadog_checks/dns_check/dns_check.py
  dns_check/setup.py
  dns_check/tests/test_dns_check.py
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/setup.py
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  tcp_check/setup.py
Labels: changelog/Changed, integration/dns_check, integration/sqlserver, integration/tcp_check

#8844 Update Active Directory docs
  active_directory/README.md
Labels: changelog/no-changelog, documentation, integration/active_directory

#8845 Upgrade pywin32 on Python 3
  active_directory/requirements.in
  aspdotnet/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  dotnetclr/requirements.in
  exchange_server/requirements.in
  iis/requirements.in
  pdh_check/requirements.in
  sqlserver/requirements.in
  win32_event_log/requirements.in
  windows_service/requirements.in
  wmi_check/requirements.in
Labels: changelog/Added, dependencies, integration/active_directory, integration/aspdotnet, integration/datadog_checks_base, integration/dotnetclr, integration/exchange_server, integration/iis, integration/pdh_check, integration/sqlserver, integration/win32_event_log, integration/windows_service, integration/wmi_check

#8781 Add default dashboard and additional init script examples
  databricks/README.md
  databricks/assets/dashboards/databricks_overview.json
  databricks/manifest.json
Labels: changelog/no-changelog, documentation, integration/databricks

#8836 Add Postgres recommended monitors
  postgres/assets/monitors/percent_usage_connections.json
  postgres/assets/monitors/replication_delay.json
  postgres/manifest.json
Labels: changelog/no-changelog, documentation, integration/postgres

#8744 Add troubleshooting instructions
  oracle/README.md
Labels: changelog/no-changelog, documentation, integration/oracle

#8843 Add log widget to Active Directory dashboard
  active_directory/assets/dashboards/active_directory.json
Labels: changelog/no-changelog, integration/active_directory

#8725 AIA chasing for HTTP
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/network.py
  datadog_checks_base/setup.py
  datadog_checks_base/tests/test_http.py
Labels: changelog/Added, integration/datadog_checks_base

#8847 Add kafka consumer metrics to kafka dashboard
  kafka/assets/dashboards/kafka_dashboard.json
Labels: changelog/no-changelog, integration/kafka

#8846 Add actions to auto-release base and dev packages
  .github/workflows/release-base.yml
  .github/workflows/release-dev.yml
  docs/developer/.snippets/links.txt
  docs/developer/process/integration-release.md
Labels: changelog/no-changelog, dev/tooling, documentation

#8849 [us.1 prod] fixed typo for Custer Instance to Cluster Instance
  sqlserver/metadata.csv
Labels: changelog/no-changelog, integration/sqlserver

#8852 Fix empty queue parsing
  postfix/datadog_checks/postfix/postfix.py
  postfix/tests/test_unit.py
Labels: changelog/Fixed, integration/postfix

#8854 Bumped postfix version to 1.8.3
  .in-toto/tag.024e42fe.link
  postfix/CHANGELOG.md
  postfix/datadog_checks/postfix/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postfix, release

#8855 Adding GKE docs again
  gke/README.md
  gke/assets/service_checks.json
  gke/manifest.json
Labels: changelog/no-changelog, documentation, integration/gke

#8853 Bump datadog_checks_base to 16.8.0, datadog_checks_dev to 9.1.1
  .in-toto/tag.b023b02a.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/datadog_checks_dev, release

#8857 Update tagger get-pip.py script
  .gitlab/tagger/Dockerfile
Labels: changelog/no-changelog, dev/tooling

#8862 Add ActiveMQ Artemis recommended monitors
  activemq/assets/recommended_monitors/activemq_artemis_high_disk_store.json
  activemq/assets/recommended_monitors/activemq_artemis_unrouted_messages.json
  activemq/manifest.json
Labels: changelog/no-changelog, documentation, integration/activemq

#8860 update prometheus docs for alertmanager
  prometheus/README.md
Labels: changelog/no-changelog, documentation, integration/prometheus

#8858 Remove -n option when uploading base and dev
  .github/workflows/release-base.yml
  .github/workflows/release-dev.yml
Labels: changelog/no-changelog

#8864 Tag collection only available from vSphere 6.5
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/api_rest.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: documentation, integration/vsphere

#8868 [Release] Bumped datadog_checks_dev version to 9.2.0
  .in-toto/tag.31091c85.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#8869 [Release] Bumped datadog_checks_base version to 16.9.0
  .in-toto/tag.31091c85.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#8822 Make counter refresh-related code more reusable
  datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
Labels: changelog/Added, integration/datadog_checks_base

#8871 Fix models validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8872 Notify slack on ci failure
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#8873 Fix logs validation
  .gitlab-ci.yml
  .gitlab/validate-logs-intgs/Dockerfile
Labels: changelog/no-changelog, dev/tooling

#8874 [Release] Bumped datadog_checks_dev version to 9.2.1
  .in-toto/tag.31091c85.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#8876 Fix logs section in example config file
  vertica/assets/configuration/spec.yaml
  vertica/datadog_checks/vertica/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/vertica

#8851 Update metadata description
  vault/metadata.csv
Labels: changelog/no-changelog, integration/vault

#8690 Add dashboard for ActiveMQ Artemis
  activemq/assets/dashboards/artemis_dashboard.json
  activemq/manifest.json
Labels: changelog/no-changelog, documentation, integration/activemq

#9012 Ignore config models from coverage
  .coveragerc
Labels: changelog/no-changelog, dev/testing

#8850 Update vault dashboard
  vault/assets/dashboards/vault_overview.json
Labels: changelog/no-changelog, integration/vault

#9013 Update metrics link
  activemq/README.md
Labels: changelog/no-changelog, documentation, integration/activemq

#9014 Add additional metric to manifest
  activemq/manifest.json
Labels: changelog/no-changelog, documentation, integration/activemq
