Repository DataDog/integrations-core, pull requests merged in 2021-05, with the labels that each got.

#9245 Improve testing
  mysql/metadata.csv
  mysql/tests/test_mysql.py
  mysql/tests/variables.py
Labels: changelog/no-changelog, dev/testing, integration/mysql

#9277 Add Sqreen to ignored integrations for codeowners validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/codeowners.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#9270 Correct permission needed for custom_queries
  postgres/README.md
Labels: changelog/no-changelog, documentation, integration/postgres

#9279 [Release] Bumped datadog_checks_dev version to 11.1.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#9278 Fix metric type to match description
  solr/metadata.csv
Labels: changelog/no-changelog, integration/solr

#9285 Bump mypy
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/Added, integration/datadog_checks_dev

#9183 Kafka - Added session metrics
  kafka/datadog_checks/kafka/data/metrics.yaml
  kafka/metadata.csv
  kafka/tests/common.py
Labels: changelog/Added, integration/kafka

#9244 Test datadog connection for pgBouncer before connecting via agent
  pgbouncer/README.md
Labels: changelog/no-changelog, integration/pgbouncer

#8935 Add runtime configuration validation
  ibm_mq/datadog_checks/ibm_mq/config_models/__init__.py
  ibm_mq/datadog_checks/ibm_mq/config_models/defaults.py
  ibm_mq/datadog_checks/ibm_mq/config_models/instance.py
  ibm_mq/datadog_checks/ibm_mq/config_models/shared.py
  ibm_mq/datadog_checks/ibm_mq/config_models/validators.py
  ibm_mq/tests/README.md
  ibm_mq/tox.ini
Labels: changelog/Added, documentation, integration/ibm_mq

#7414 update kubernetes_state auto_conf.yaml with valid example configuration
  kubernetes_state/datadog_checks/kubernetes_state/data/auto_conf.yaml
  kubernetes_state/datadog_checks/kubernetes_state/data/conf.yaml.example
Labels: changelog/Added, integration/kubernetes_state

#7704 Update conf.yaml.example - wrong file name
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/snmp

#8391 Update apache readme
  apache/README.md
Labels: changelog/no-changelog, documentation, integration/apache

#8394 Updated note to add M10+ cluster requirement
  mongo/README.md
Labels: changelog/no-changelog, documentation, integration/mongo

#8442 Avoid double periods at the end of PR titles
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/changelog.py
Labels: changelog/Added, dev/tooling, do-not-merge/HOLD, integration/datadog_checks_dev

#8484 Drop Azure IoT Edge from Windows CI build
  .azure-pipelines/changes.yml
  azure_iot_edge/tests/compose/mock_server/docker-compose-windows.yaml
  azure_iot_edge/tests/conftest.py
Labels: changelog/no-changelog, dev/testing, do-not-merge/HOLD, integration/azure_iot_edge

#8586 Add missing Envoy HTTP router filter vhost metrics
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
Labels: changelog/Added, integration/envoy

#9290 Fix validator bugs
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/validator.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8865 Sonarqube JMX verbiage update
  sonarqube/README.md
Labels: changelog/no-changelog, documentation, integration/sonarqube

#9291 [Release] Bumped datadog_checks_dev version to 11.2.0
  .in-toto/tag.31091c85.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#9292 Update base image to internal docker repository
  .gitlab/reminder/Dockerfile
  .gitlab/tagger/Dockerfile
  .gitlab/validate-logs-intgs/Dockerfile
Labels: changelog/no-changelog, dev/tooling

#9266 Trigger an agent build upon dependency changes
  .gitlab-ci.yml
  .gitlab/validate-agent-build/Dockerfile
  .gitlab/validate-agent-build/trigger_agent_build.py
  .gitlab/validate-agent-build/validate_agent_build.py
Labels: changelog/no-changelog, dev/tooling

#8692 [documentation] adding containers tabs
  nginx_ingress_controller/README.md
Labels: changelog/no-changelog, documentation, integration/nginx_ingress_controller

#8466 Improve performance of using extra tags when executing a QueryManager
  datadog_checks_base/datadog_checks/base/utils/db/core.py
Labels: changelog/Added, integration/datadog_checks_base

#9295 Disable the agent build trigger
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#9288 Fix mypy lint issue
  snmp/datadog_checks/snmp/parsing/metrics.py
Labels: changelog/Fixed, integration/snmp

#9296 [IBM MQ] $LD_LIBRARY_PATH variable
  ibm_mq/README.md
Labels: changelog/no-changelog, documentation, integration/ibm_mq

#9297 Stop collecting empty coverage reports for non-Python checks
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9300 Fix tests
  datadog_checks_base/tests/test_db.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#9287 Upgrade pyvmomi to 7.0.2
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  vsphere/requirements.in
Labels: changelog/Fixed, dependencies, integration/datadog_checks_base, integration/vsphere

#9218 Add rate type to error and discard counters
  snmp/datadog_checks/snmp/data/profiles/_generic-if.yaml
  snmp/metadata.csv
  snmp/tests/metrics.py
  snmp/tests/test_check.py
  snmp/tests/test_e2e_core_vs_python.py
Labels: changelog/Added, integration/snmp

#8282 Adds a `replication_role` tag to metrics emitted from AWS Aurora instances
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/queries.py
  mysql/tests/test_mysql.py
Labels: changelog/Added, integration/mysql

#9237 New Integration: Consul Connect
  consul_connect/README.md
  consul_connect/assets/service_checks.json
  consul_connect/images/.gitkeep
  consul_connect/manifest.json
  consul_connect/metadata.csv
Labels: changelog/Added, documentation, integration/consul_connect

#9298 Add collect_server_info config option
  envoy/assets/configuration/spec.yaml
  envoy/datadog_checks/envoy/config_models/defaults.py
  envoy/datadog_checks/envoy/config_models/instance.py
  envoy/datadog_checks/envoy/data/conf.yaml.example
  envoy/datadog_checks/envoy/envoy.py
  envoy/tests/common.py
  envoy/tests/test_envoy.py
Labels: changelog/Added, documentation, integration/envoy

#9308 [Release] Bumped envoy version to 1.22.0
  .in-toto/tag.57ce2495.link
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/envoy, release

#9304 Update tile name
  amazon_msk/manifest.json
Labels: changelog/no-changelog, documentation, integration/amazon_msk

#9305 Update running metrics description
  otel/metadata.csv
Labels: changelog/no-changelog, documentation, integration/otel

#9284 Fix snmp_listener e2e
  snmp/tests/conftest.py
  snmp/tests/test_e2e_agent_ad.py
Labels: changelog/no-changelog, dev/testing, integration/snmp

#9282 Enable MSL for Memcached integration dashboard
  mcache/assets/dashboards/memcached_screenboard.json
Labels: changelog/no-changelog, integration/mcache

#9293 Use new REST API when possible
  vsphere/datadog_checks/vsphere/api_rest.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/common.py
  vsphere/tests/conftest.py
  vsphere/tests/mocked_api.py
  vsphere/tests/test_api_rest.py
  vsphere/tests/test_cache.py
  vsphere/tests/test_check.py
  vsphere/tox.ini
Labels: changelog/Added, integration/vsphere

#8987 Add runtime configuration validation
  sqlserver/datadog_checks/sqlserver/config_models/__init__.py
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/config_models/shared.py
  sqlserver/datadog_checks/sqlserver/config_models/validators.py
Labels: changelog/Added, integration/sqlserver

#9315 Fix http config use
  vsphere/datadog_checks/vsphere/api_rest.py
Labels: changelog/no-changelog, integration/vsphere

#9309 Docs list restructure for improved readability
  docs/dev/new_check_howto.md
Labels: changelog/no-changelog, documentation

#9223 Send database monitoring query metrics to new intake
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_mysql.py
Labels: changelog/Changed, integration/mysql

#9222 Send database monitoring query metrics to new intake
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_unit.py
Labels: changelog/Changed, integration/postgres

#9314 [documentation] clarification requested by FR translators
  pan_firewall/README.md
Labels: changelog/no-changelog, documentation, integration/pan_firewall

#9275 Remove `service` event facet
  mysql/datadog_checks/mysql/statement_samples.py
  postgres/datadog_checks/postgres/statement_samples.py
Labels: changelog/Changed, integration/mysql, integration/postgres

#9229 Add common check parsing for validations
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/agent_reqs.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/agent_signature.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/all_validations.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dashboards.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/eula.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/http.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/imports.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/jmx_metrics.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/package.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/recommended_monitors.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/saved_views.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/service_checks.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/Changed, dev/tooling, integration/datadog_checks_dev

#9319 Update validate all log line to use validation name
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/all_validations.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9316 Add Envoy troubleshooting
  envoy/README.md
Labels: changelog/no-changelog, documentation, integration/envoy

#9311 KSM: add `node.by_condition` to have the conditions of individual nodes
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/metadata.csv
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Added, integration/kubernetes_state

#9313 Support new Synthetics `run` metric unit for validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#9324 Finalize tile name
  amazon_msk/manifest.json
Labels: changelog/no-changelog, documentation, integration/amazon_msk

#9327 Allow skipping of E2E tests based on environment markers
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/Added, integration/datadog_checks_dev

#9328 Fix AttributeError in AIA chasing
  datadog_checks_base/datadog_checks/base/utils/http.py
Labels: changelog/Fixed, integration/datadog_checks_base

#9338 Fix typing
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9335 Upgrade datamodel-code-generator
  datadog_checks_dev/setup.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_object_typed_values.py
Labels: changelog/Added, integration/datadog_checks_dev

#9318 Fix `metrics` option type for legacy OpenMetrics config spec
  amazon_msk/datadog_checks/amazon_msk/config_models/instance.py
  coredns/datadog_checks/coredns/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy.yaml
  istio/datadog_checks/istio/config_models/instance.py
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: changelog/Fixed, integration/amazon_msk, integration/coredns, integration/datadog_checks_dev, integration/istio, integration/openmetrics

#9341 Pin click to 7.1.2
  datadog_checks_dev/setup.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#9333 [eks_fargate] small update regarding metrics on live containers page
  eks_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/eks_fargate

#9329 refactor relations
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/datadog_checks/postgres/util.py
Labels: changelog/no-changelog, documentation, integration/postgres

#9343 Fixup for an AttributeError
  mapr/datadog_checks/mapr/mapr.py
Labels: changelog/Fixed, integration/mapr

#9342 Upgrade click
  datadog_checks_dev/datadog_checks/dev/tooling/cli.py
  datadog_checks_dev/setup.py
  datadog_checks_dev/tox.ini
  tox.ini
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#9344 Upgrade ClickHouse dependencies
  clickhouse/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: changelog/Added, dependencies, integration/clickhouse, integration/datadog_checks_base

#9345 [doc] Removed **Note** for Spark Structured Streaming metrics
  spark/README.md
Labels: changelog/no-changelog, documentation, integration/spark

#9348 Update pycryptodome to 3.10.1
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: changelog/no-changelog, dependencies, integration/datadog_checks_base

#9351 Add codeowners for oom_kill
  .github/CODEOWNERS
Labels: changelog/no-changelog

#9350 Revert "Update pycryptodome to 3.10.1"
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: changelog/no-changelog, dependencies, integration/datadog_checks_base

#8924 Add runtime configuration validation
  haproxy/assets/configuration/spec.yaml
  haproxy/datadog_checks/haproxy/config_models/__init__.py
  haproxy/datadog_checks/haproxy/config_models/defaults.py
  haproxy/datadog_checks/haproxy/config_models/instance.py
  haproxy/datadog_checks/haproxy/config_models/shared.py
  haproxy/datadog_checks/haproxy/config_models/validators.py
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
Labels: changelog/Added, documentation, integration/haproxy

#8891 Add runtime configuration validation
  cassandra_nodetool/assets/configuration/spec.yaml
  cassandra_nodetool/datadog_checks/cassandra_nodetool/config_models/__init__.py
  cassandra_nodetool/datadog_checks/cassandra_nodetool/config_models/defaults.py
  cassandra_nodetool/datadog_checks/cassandra_nodetool/config_models/instance.py
  cassandra_nodetool/datadog_checks/cassandra_nodetool/config_models/shared.py
  cassandra_nodetool/datadog_checks/cassandra_nodetool/config_models/validators.py
  cassandra_nodetool/datadog_checks/cassandra_nodetool/data/conf.yaml.example
Labels: changelog/Added, documentation, integration/cassandra_nodetool

#8942 Add runtime configuration validation
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/config_models/__init__.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/defaults.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/instance.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/shared.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/validators.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
Labels: changelog/Added, documentation, integration/kafka_consumer

#9339 Update version supported for Cat Allocation metrics
  elastic/assets/configuration/spec.yaml
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/datadog_checks/elastic/elastic.py
Labels: changelog/Added, documentation, integration/elastic

#9356 Replace CLI dependency `appdirs` with `platformdirs`
  datadog_checks_dev/datadog_checks/dev/tooling/config.py
  datadog_checks_dev/setup.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#9347 Support hidden duplicate options from templates
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/model.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_duplicate_hidden.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#9010 Add runtime configuration validation
  zk/datadog_checks/zk/config_models/__init__.py
  zk/datadog_checks/zk/config_models/defaults.py
  zk/datadog_checks/zk/config_models/instance.py
  zk/datadog_checks/zk/config_models/shared.py
  zk/datadog_checks/zk/config_models/validators.py
Labels: changelog/Added, integration/zk

#9009 Add runtime configuration validation
  yarn/datadog_checks/yarn/config_models/__init__.py
  yarn/datadog_checks/yarn/config_models/defaults.py
  yarn/datadog_checks/yarn/config_models/instance.py
  yarn/datadog_checks/yarn/config_models/shared.py
  yarn/datadog_checks/yarn/config_models/validators.py
Labels: changelog/Added, integration/yarn

#9007 Add runtime configuration validation
  windows_service/datadog_checks/windows_service/config_models/__init__.py
  windows_service/datadog_checks/windows_service/config_models/defaults.py
  windows_service/datadog_checks/windows_service/config_models/instance.py
  windows_service/datadog_checks/windows_service/config_models/shared.py
  windows_service/datadog_checks/windows_service/config_models/validators.py
Labels: changelog/Added, integration/windows_service

#9005 Add runtime configuration validation
  vsphere/datadog_checks/vsphere/config_models/__init__.py
  vsphere/datadog_checks/vsphere/config_models/defaults.py
  vsphere/datadog_checks/vsphere/config_models/instance.py
  vsphere/datadog_checks/vsphere/config_models/shared.py
  vsphere/datadog_checks/vsphere/config_models/validators.py
Labels: changelog/Added, integration/vsphere

#9003 Add runtime configuration validation
  vertica/datadog_checks/vertica/config_models/__init__.py
  vertica/datadog_checks/vertica/config_models/defaults.py
  vertica/datadog_checks/vertica/config_models/instance.py
  vertica/datadog_checks/vertica/config_models/shared.py
  vertica/datadog_checks/vertica/config_models/validators.py
Labels: changelog/Added, integration/vertica

#9001 Add runtime configuration validation
  varnish/datadog_checks/varnish/config_models/__init__.py
  varnish/datadog_checks/varnish/config_models/defaults.py
  varnish/datadog_checks/varnish/config_models/instance.py
  varnish/datadog_checks/varnish/config_models/shared.py
  varnish/datadog_checks/varnish/config_models/validators.py
Labels: changelog/Added, integration/varnish

#8998 Add runtime configuration validation
  tomcat/datadog_checks/tomcat/config_models/__init__.py
  tomcat/datadog_checks/tomcat/config_models/defaults.py
  tomcat/datadog_checks/tomcat/config_models/instance.py
  tomcat/datadog_checks/tomcat/config_models/shared.py
  tomcat/datadog_checks/tomcat/config_models/validators.py
Labels: changelog/Added, integration/tomcat

#8996 Add runtime configuration validation
  tls/datadog_checks/tls/config_models/__init__.py
  tls/datadog_checks/tls/config_models/defaults.py
  tls/datadog_checks/tls/config_models/instance.py
  tls/datadog_checks/tls/config_models/shared.py
  tls/datadog_checks/tls/config_models/validators.py
Labels: changelog/Added, integration/tls

#8995 Add runtime configuration validation
  teamcity/datadog_checks/teamcity/config_models/__init__.py
  teamcity/datadog_checks/teamcity/config_models/defaults.py
  teamcity/datadog_checks/teamcity/config_models/instance.py
  teamcity/datadog_checks/teamcity/config_models/shared.py
  teamcity/datadog_checks/teamcity/config_models/validators.py
Labels: changelog/Added, integration/teamcity

#8994 Add runtime configuration validation
  tcp_check/datadog_checks/tcp_check/config_models/__init__.py
  tcp_check/datadog_checks/tcp_check/config_models/defaults.py
  tcp_check/datadog_checks/tcp_check/config_models/instance.py
  tcp_check/datadog_checks/tcp_check/config_models/shared.py
  tcp_check/datadog_checks/tcp_check/config_models/validators.py
Labels: changelog/Added, integration/tcp_check

#8993 Add runtime configuration validation
  system_swap/datadog_checks/system_swap/config_models/__init__.py
  system_swap/datadog_checks/system_swap/config_models/defaults.py
  system_swap/datadog_checks/system_swap/config_models/instance.py
  system_swap/datadog_checks/system_swap/config_models/shared.py
  system_swap/datadog_checks/system_swap/config_models/validators.py
Labels: changelog/Added, integration/system_swap

#9360 [Release] Bumped elastic version to 2.2.0
  .in-toto/tag.c295cf63.link
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/elastic, release

#9361 Sync config models
  tls/datadog_checks/tls/config_models/defaults.py
  tls/datadog_checks/tls/config_models/instance.py
  vsphere/datadog_checks/vsphere/config_models/defaults.py
  vsphere/datadog_checks/vsphere/config_models/instance.py
  vsphere/datadog_checks/vsphere/config_models/shared.py
Labels: changelog/no-changelog, integration/tls, integration/vsphere

#9359 Fix links in Spark Readme
  spark/README.md
Labels: changelog/no-changelog, documentation, integration/spark

#9358 Exclude `EXPLAIN` queries from `pg_stat_statements`
  postgres/datadog_checks/postgres/statements.py
Labels: changelog/Changed, integration/postgres

#9312 Reenable agent build tests
  .gitlab-ci.yml
  .gitlab/validate-agent-build/Dockerfile
  .gitlab/validate-agent-build/trigger_agent_build.py
  .gitlab/validate-agent-build/validate_agent_build.py
Labels: changelog/no-changelog, dev/tooling

#9364 Fix JMX config spec
  activemq/datadog_checks/activemq/data/conf.yaml.example
  cassandra/datadog_checks/cassandra/config_models/defaults.py
  cassandra/datadog_checks/cassandra/config_models/shared.py
  cassandra/datadog_checks/cassandra/data/conf.yaml.example
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/jmx.yaml
  hazelcast/datadog_checks/hazelcast/data/conf.yaml.example
  hive/datadog_checks/hive/data/conf.yaml.example
  hivemq/datadog_checks/hivemq/data/conf.yaml.example
  ignite/datadog_checks/ignite/data/conf.yaml.example
  jboss_wildfly/datadog_checks/jboss_wildfly/data/conf.yaml.example
  kafka/datadog_checks/kafka/config_models/defaults.py
  kafka/datadog_checks/kafka/config_models/shared.py
  kafka/datadog_checks/kafka/data/conf.yaml.example
  presto/datadog_checks/presto/data/conf.yaml.example
  solr/datadog_checks/solr/data/conf.yaml.example
  sonarqube/datadog_checks/sonarqube/data/conf.yaml.example
  tomcat/datadog_checks/tomcat/config_models/defaults.py
  tomcat/datadog_checks/tomcat/config_models/shared.py
  tomcat/datadog_checks/tomcat/data/conf.yaml.example
Labels: changelog/Fixed, dev/tooling, integration/activemq, integration/cassandra, integration/confluent_platform, integration/datadog_checks_dev, integration/hazelcast, integration/hive, integration/hivemq, integration/ignite, integration/jboss_wildfly, integration/kafka, integration/presto, integration/solr, integration/sonarqube, integration/tomcat

#9363 Fix formatting
  docs/developer/guidelines/dashboards.md
Labels: changelog/no-changelog, documentation

#9323 filter lock relation metrics by relkind
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/tests/test_relations.py
  postgres/tests/test_relationsmanager.py
Labels: changelog/Added, documentation, integration/postgres

#9369 Fix `load_jmx_config` utility
  datadog_checks_dev/datadog_checks/dev/utils.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#9310 Update dashboard guide with content from MSL do/dont guide
  docs/developer/assets/images/example_dashboard.png
  docs/developer/assets/images/example_dashboard_high_density.png
  docs/developer/assets/images/group_titles.png
  docs/developer/assets/images/header_color_usage.png
  docs/developer/assets/images/ignite_dash.jpeg
  docs/developer/assets/images/logo_header.png
  docs/developer/assets/images/name_repetition.png
  docs/developer/assets/images/note_styles.png
  docs/developer/assets/images/qa_widths.png
  docs/developer/assets/images/squished_timeseries.png
  docs/developer/assets/images/stream_widgets.png
  docs/developer/assets/images/symmetrical_example_1.png
  docs/developer/assets/images/symmetrical_example_2.png
  docs/developer/assets/images/use_legends.png
  docs/developer/assets/images/variety.png
  docs/developer/assets/images/x_axes_alignment.png
  docs/developer/guidelines/dashboards.md
Labels: changelog/no-changelog, documentation

#9370 Fix CI
  .azure-pipelines/templates/test-all-checks.yml
Labels: changelog/no-changelog, dev/testing

#9368 Fix zk_connect_str type
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/config_models/instance.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/tox.ini
Labels: changelog/Fixed, integration/kafka_consumer

#9373 Fix detection of E2E environments
  datadog_checks_dev/datadog_checks/dev/_env.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#9371 Fix replication link metric test
  redisdb/tests/test_replication.py
Labels: changelog/no-changelog, integration/redisdb

#9352 Update pycryptodomex to 3.10.1
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  snmp/requirements.in
Labels: changelog/no-changelog, dependencies, integration/datadog_checks_base, integration/snmp

#9374 Fix CI
  sqlserver/tox.ini
Labels: changelog/no-changelog, integration/sqlserver

#9362 Add link to JMeter blog post
  jmeter/README.md
Labels: changelog/no-changelog, documentation, integration/jmeter

#9379 Fix volt style in CI
  voltdb/tests/fixtures/generate_data.py
Labels: changelog/no-changelog, integration/voltdb

#9380 Fix twemproxy tests
  twemproxy/tests/compose/Dockerfile
  twemproxy/tox.ini
Labels: changelog/no-changelog, integration/twemproxy

#8985 Add runtime configuration validation
  sonarqube/assets/configuration/spec.yaml
  sonarqube/datadog_checks/sonarqube/config_models/__init__.py
  sonarqube/datadog_checks/sonarqube/config_models/defaults.py
  sonarqube/datadog_checks/sonarqube/config_models/instance.py
  sonarqube/datadog_checks/sonarqube/config_models/shared.py
  sonarqube/datadog_checks/sonarqube/config_models/validators.py
  sonarqube/datadog_checks/sonarqube/data/conf.yaml.example
Labels: changelog/Added, documentation, integration/sonarqube

#9377 Remove unused query metric limit configuration refs in postgres integration
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: changelog/Removed, documentation, integration/postgres

#9386 DOCS-2042 clarify path details
  apache/README.md
Labels: changelog/no-changelog, documentation, integration/apache

#9006 Add runtime configuration validation
  win32_event_log/assets/configuration/spec.yaml
  win32_event_log/datadog_checks/win32_event_log/check.py
  win32_event_log/datadog_checks/win32_event_log/config_models/__init__.py
  win32_event_log/datadog_checks/win32_event_log/config_models/defaults.py
  win32_event_log/datadog_checks/win32_event_log/config_models/instance.py
  win32_event_log/datadog_checks/win32_event_log/config_models/shared.py
  win32_event_log/datadog_checks/win32_event_log/config_models/validators.py
  win32_event_log/datadog_checks/win32_event_log/constants.py
  win32_event_log/datadog_checks/win32_event_log/filters.py
  win32_event_log/tests/test_config.py
  win32_event_log/tests/test_filters.py
Labels: changelog/Added, documentation, integration/win32_event_log

#9002 Add runtime configuration validation
  vault/datadog_checks/vault/config_models/__init__.py
  vault/datadog_checks/vault/config_models/defaults.py
  vault/datadog_checks/vault/config_models/instance.py
  vault/datadog_checks/vault/config_models/shared.py
  vault/datadog_checks/vault/config_models/validators.py
  vault/datadog_checks/vault/vault.py
  vault/tests/test_vault.py
Labels: changelog/Added, integration/vault

#9004 Add runtime configuration validation
  voltdb/datadog_checks/voltdb/config_models/__init__.py
  voltdb/datadog_checks/voltdb/config_models/defaults.py
  voltdb/datadog_checks/voltdb/config_models/instance.py
  voltdb/datadog_checks/voltdb/config_models/shared.py
  voltdb/datadog_checks/voltdb/config_models/validators.py
  voltdb/tox.ini
Labels: changelog/Added, integration/voltdb

#9390 Fix init failure when auth_ticket is not provided
  mapr/datadog_checks/mapr/mapr.py
Labels: changelog/Fixed, integration/mapr

#9391 Bumped mapr version to 1.4.1
  .in-toto/tag.024e42fe.link
  mapr/CHANGELOG.md
  mapr/datadog_checks/mapr/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mapr, release

#9325 Update WMI check to include full sample
  wmi_check/README.md
Labels: changelog/no-changelog, documentation, integration/wmi_check

#9365 Postgres 13 support for statement metrics
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_pg_integration.py
  postgres/tox.ini
Labels: changelog/Fixed, integration/postgres

#9396 DOCS-2017 - typo fix
  mongo/README.md
Labels: changelog/no-changelog, documentation, integration/mongo

#8925 Add runtime configuration validation
  harbor/datadog_checks/harbor/config_models/__init__.py
  harbor/datadog_checks/harbor/config_models/defaults.py
  harbor/datadog_checks/harbor/config_models/instance.py
  harbor/datadog_checks/harbor/config_models/shared.py
  harbor/datadog_checks/harbor/config_models/validators.py
Labels: changelog/Added, integration/harbor

#8923 Add runtime configuration validation
  gunicorn/datadog_checks/gunicorn/config_models/__init__.py
  gunicorn/datadog_checks/gunicorn/config_models/defaults.py
  gunicorn/datadog_checks/gunicorn/config_models/instance.py
  gunicorn/datadog_checks/gunicorn/config_models/shared.py
  gunicorn/datadog_checks/gunicorn/config_models/validators.py
Labels: changelog/Added, integration/gunicorn

#8922 Add runtime configuration validation
  go_expvar/datadog_checks/go_expvar/config_models/__init__.py
  go_expvar/datadog_checks/go_expvar/config_models/defaults.py
  go_expvar/datadog_checks/go_expvar/config_models/instance.py
  go_expvar/datadog_checks/go_expvar/config_models/shared.py
  go_expvar/datadog_checks/go_expvar/config_models/validators.py
Labels: changelog/Added, integration/go_expvar

#8920 Add runtime configuration validation
  glusterfs/datadog_checks/glusterfs/config_models/__init__.py
  glusterfs/datadog_checks/glusterfs/config_models/defaults.py
  glusterfs/datadog_checks/glusterfs/config_models/instance.py
  glusterfs/datadog_checks/glusterfs/config_models/shared.py
  glusterfs/datadog_checks/glusterfs/config_models/validators.py
Labels: changelog/Added, integration/glusterfs

#8919 Add runtime configuration validation
  gitlab_runner/datadog_checks/gitlab_runner/config_models/__init__.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/defaults.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/instance.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/shared.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/validators.py
Labels: changelog/Added, integration/gitlab_runner

#9401 Sync config models
  gitlab_runner/datadog_checks/gitlab_runner/config_models/defaults.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/instance.py
Labels: changelog/no-changelog, integration/gitlab_runner

#9399 Support running post-install commands for E2E
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#9398 Add E2E tests with fixture data
  amazon_msk/tests/common.py
  amazon_msk/tests/conftest.py
  amazon_msk/tests/docker/docker-compose.yaml
  amazon_msk/tests/docker/exporter_jmx/metrics
  amazon_msk/tests/docker/exporter_node/metrics
  amazon_msk/tests/mock_boto3/boto3/__init__.py
  amazon_msk/tests/mock_boto3/boto3/list_nodes.json
  amazon_msk/tests/mock_boto3/setup.py
  amazon_msk/tests/test_e2e.py
  amazon_msk/tox.ini
Labels: changelog/no-changelog, integration/amazon_msk

#9400 Don't emit warnings if there are no messages
  ibm_mq/datadog_checks/ibm_mq/collectors/channel_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/stats_collector.py
Labels: changelog/Fixed, integration/ibm_mq

#9403 Better error message if the integration doesn't have the expected type
  datadog_checks_downloader/datadog_checks/downloader/exceptions.py
Labels: changelog/Added, integration/datadog_checks_downloader

#9387 Change agent port for ddtrace
  .azure-pipelines/all_master.yml
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_base

#9354 Change metric types to monotonic_count
  elastic/datadog_checks/elastic/elastic.py
  elastic/datadog_checks/elastic/metrics.py
  elastic/metadata.csv
  elastic/tests/test_metrics.py
Labels: changelog/Changed, integration/elastic

#9405 Send database monitoring "full query text" events
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_pg_integration.py
Labels: changelog/Changed, integration/postgres

#9397 Send database monitoring "full query text" events
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_mysql.py
Labels: changelog/Changed, integration/mysql

#9413 Fix agent port binding
  .azure-pipelines/all_master.yml
Labels: changelog/no-changelog, dev/testing

#9414 Validate model for changing integration only
  .azure-pipelines/templates/run-validations.yml
Labels: changelog/no-changelog, dev/testing

#9404 Try SSL connection when host not found
  ibm_mq/datadog_checks/ibm_mq/connection.py
  ibm_mq/tests/test_ibm_mq_unit.py
Labels: changelog/Fixed, integration/ibm_mq

#9415 Bumped ibm_mq version to 3.13.0
  .in-toto/tag.024e42fe.link
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_mq, release

#9392 Support "ignore_tags" configuration
  amazon_msk/datadog_checks/amazon_msk/config_models/defaults.py
  amazon_msk/datadog_checks/amazon_msk/config_models/instance.py
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  azure_iot_edge/datadog_checks/azure_iot_edge/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  crio/datadog_checks/crio/data/conf.yaml.example
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/tests/openmetrics/test_options.py
  datadog_checks_base/tests/test_openmetrics.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy.yaml
  etcd/datadog_checks/etcd/data/conf.yaml.example
  external_dns/datadog_checks/external_dns/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/config_models/defaults.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/instance.py
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/config_models/defaults.py
  haproxy/datadog_checks/haproxy/config_models/instance.py
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  istio/datadog_checks/istio/config_models/defaults.py
  istio/datadog_checks/istio/config_models/instance.py
  istio/datadog_checks/istio/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  kube_scheduler/datadog_checks/kube_scheduler/data/conf.yaml.example
  linkerd/datadog_checks/linkerd/data/conf.yaml.example
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: changelog/Added, dev/tooling, integration/amazon_msk, integration/azure_iot_edge, integration/cilium, integration/cockroachdb, integration/coredns, integration/crio, integration/datadog_checks_base, integration/datadog_checks_dev, integration/etcd, integration/external_dns, integration/gitlab, integration/gitlab_runner, integration/haproxy, integration/istio, integration/kong, integration/kube_apiserver_metrics, integration/kube_scheduler, integration/linkerd, integration/nginx_ingress_controller, integration/openmetrics, integration/scylla

#9416 Make description more clear
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  azure_iot_edge/datadog_checks/azure_iot_edge/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  crio/datadog_checks/crio/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy.yaml
  etcd/datadog_checks/etcd/data/conf.yaml.example
  external_dns/datadog_checks/external_dns/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  kube_scheduler/datadog_checks/kube_scheduler/data/conf.yaml.example
  linkerd/datadog_checks/linkerd/data/conf.yaml.example
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: changelog/no-changelog, dev/tooling, integration/amazon_msk, integration/azure_iot_edge, integration/cilium, integration/cockroachdb, integration/coredns, integration/crio, integration/datadog_checks_dev, integration/etcd, integration/external_dns, integration/gitlab, integration/gitlab_runner, integration/haproxy, integration/istio, integration/kong, integration/kube_apiserver_metrics, integration/kube_scheduler, integration/linkerd, integration/nginx_ingress_controller, integration/openmetrics, integration/scylla

#9410 update `DatadogAgentStub.obfuscate_sql` to trim whitespace
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#9166 Remove unused `utils.db.statement_samples` client
  datadog_checks_base/datadog_checks/base/utils/db/statement_samples.py
Labels: changelog/Removed, integration/datadog_checks_base

#9402 Adding support for multiprocessing consul checks
  consul/assets/configuration/spec.yaml
  consul/datadog_checks/consul/common.py
  consul/datadog_checks/consul/config_models/defaults.py
  consul/datadog_checks/consul/config_models/instance.py
  consul/datadog_checks/consul/consul.py
  consul/datadog_checks/consul/data/conf.yaml.example
Labels: changelog/Added, integration/consul

#9418 Fix version compatibility
  ibm_mq/README.md
Labels: changelog/no-changelog, documentation, integration/ibm_mq

#9420 Bumped consul version to 1.20.0
  .in-toto/tag.024e42fe.link
  consul/CHANGELOG.md
  consul/datadog_checks/consul/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/consul, release

#9421 Remove deprecated vsphere timeboard
  vsphere/assets/dashboards/vsphere_dashboard.json
  vsphere/manifest.json
Labels: changelog/no-changelog, documentation, integration/vsphere

#9423 Fix version parsing
  glusterfs/datadog_checks/glusterfs/check.py
  glusterfs/tests/test_glusterfs.py
  glusterfs/tox.ini
Labels: changelog/Fixed, integration/glusterfs

#9393 Add collect device metadata config
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: changelog/Added, integration/snmp

#9429 Fix env variable setting
  .azure-pipelines/all_master.yml
Labels: changelog/no-changelog, dev/testing

#9406 change port start to 8128
  clickhouse/tests/common.py
  clickhouse/tests/docker/docker-compose.yaml
Labels: changelog/no-changelog, integration/clickhouse

#9433 Do not use check inheritance
  tls/datadog_checks/tls/tls.py
  tls/datadog_checks/tls/tls_local.py
  tls/datadog_checks/tls/tls_remote.py
  tls/tests/test_local.py
  tls/tests/test_remote.py
Labels: changelog/Fixed, integration/tls

#9434 [Release] Bumped tls version to 2.5.0
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  tls/CHANGELOG.md
  tls/datadog_checks/tls/__about__.py
Labels: changelog/no-changelog, integration/tls, release

#9435 Remove unused dependency
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  supervisord/requirements.in
Labels: changelog/Added, dependencies, integration/datadog_checks_base, integration/supervisord

#9427 Change check name in Kubernetes instruction from elasticsearch to elastic
  elastic/README.md
Labels: changelog/no-changelog, documentation, integration/elastic

#9412 Fix misleading WARN message regarding adoprovider being ignored when using adodbapi connector
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/tests/test_connection.py
Labels: changelog/Fixed, integration/sqlserver

#9425 Add link to airflow metrics
  airflow/README.md
Labels: changelog/no-changelog, documentation, integration/airflow
