Repository DataDog/integrations-core, pull requests merged in 2021-12, with the labels that each got.

#10716 Support new implementation of Windows performance counters on Python 3
  hyperv/assets/configuration/spec.yaml
  hyperv/datadog_checks/hyperv/check.py
  hyperv/datadog_checks/hyperv/config_models/defaults.py
  hyperv/datadog_checks/hyperv/config_models/instance.py
  hyperv/datadog_checks/hyperv/config_models/shared.py
  hyperv/datadog_checks/hyperv/data/conf.yaml.example
  hyperv/datadog_checks/hyperv/hyperv.py
  hyperv/datadog_checks/hyperv/metrics.py
  hyperv/tests/test_hyperv.py
Labels: documentation, changelog/Added, integration/hyperv

#10546 Support new implementation of Windows performance counters on Python 3
  iis/assets/configuration/spec.yaml
  iis/datadog_checks/iis/check.py
  iis/datadog_checks/iis/config_models/defaults.py
  iis/datadog_checks/iis/config_models/instance.py
  iis/datadog_checks/iis/config_models/shared.py
  iis/datadog_checks/iis/data/conf.yaml.example
  iis/datadog_checks/iis/iis.py
  iis/datadog_checks/iis/metrics.py
  iis/tests/common.py
  iis/tests/conftest.py
  iis/tests/test_iis.py
  iis/tests/test_unit.py
Labels: documentation, integration/iis, changelog/Added

#10770 Continue on error of pip cache
  .azure-pipelines/templates/install-deps.yml
Labels: changelog/no-changelog, dev/testing

#10725 Update post-release docs
  docs/developer/process/agent-release/post-release.md
Labels: documentation, changelog/no-changelog

#10757 Add documentation to config models
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/{check_name}/config_models/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/{check_name}/config_models/defaults.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/{check_name}/config_models/instance.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/{check_name}/config_models/shared.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/{check_name}/config_models/validators.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/datadog_checks/{check_name}/config_models/defaults.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/datadog_checks/{check_name}/config_models/instance.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/datadog_checks/{check_name}/config_models/shared.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10749 Fix postgres version comment in util.py
  postgres/datadog_checks/postgres/util.py
Labels: changelog/no-changelog, integration/postgres

#10773 Add missing metric for the number of PATCH requests per second
  iis/datadog_checks/iis/iis.py
  iis/datadog_checks/iis/metrics.py
  iis/metadata.csv
  iis/tests/common.py
  iis/tests/test_unit.py
Labels: integration/iis, changelog/Added

#10763 Update SQLServer Query Metrics Collection Query to Improve Performance
  sqlserver/datadog_checks/sqlserver/statements.py
Labels: integration/sqlserver, changelog/Fixed

#10644 Use dd_run_check for azure_iot_edge
  azure_iot_edge/tests/test_check.py
Labels: changelog/no-changelog, integration/azure_iot_edge

#10649 Add support for group replication
  mysql/assets/configuration/spec.yaml
  mysql/assets/service_checks.json
  mysql/datadog_checks/mysql/const.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/queries.py
  mysql/metadata.csv
  mysql/tests/common.py
  mysql/tests/compose/mysql8-group.yaml
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
  mysql/tests/variables.py
  mysql/tox.ini
Labels: documentation, integration/mysql, changelog/Added

#10679 Add detailed trace to all integrations
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
  datadog_checks_base/datadog_checks/base/utils/tracing.py
  datadog_checks_base/tests/base/utils/test_tracing.py
  datadog_checks_dev/datadog_checks/dev/_env.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: dev/testing, dev/tooling, integration/datadog_checks_base, changelog/Added, integration/datadog_checks_dev

#10782 Update SQLServer activity query to get timestamps with the timezone
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/tests/test_activity.py
Labels: integration/sqlserver

#10781 Update readme for redis cloud
  redisdb/README.md
Labels: documentation, changelog/no-changelog, integration/redisdb

#10667 Add profile metadata for f5
  snmp/datadog_checks/snmp/data/profiles/f5-big-ip.yaml
  snmp/tests/test_e2e_core_metadata.py
Labels: dev/testing, integration/snmp, changelog/Added, integration/datadog_checks_dev

#10787 Fix small typo
  mongo/README.md
Labels: changelog/no-changelog, integration/mongo

#10779 Add mac address as tag for meraki-cloud-controller profile
  snmp/datadog_checks/snmp/data/profiles/meraki-cloud-controller.yaml
  snmp/tests/compose/data/meraki-cloud-controller.snmprec
  snmp/tests/test_profiles.py
Labels: integration/snmp, changelog/Added

#10650 Snmp profile validator refactoring
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validate_snmp_profiles.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/utils.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/validator.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10704 Refactor release troubleshooting section and add another case
  docs/developer/process/integration-release.md
Labels: documentation, changelog/no-changelog

#10788 Add minimal e2e
  openstack/tests/conftest.py
  openstack/tests/test_e2e.py
  openstack/tox.ini
Labels: changelog/no-changelog, integration/openstack

#10789 Add minimal e2e
  nginx_ingress_controller/tests/conftest.py
  nginx_ingress_controller/tests/test_e2e.py
  nginx_ingress_controller/tests/test_nginx_ingress_controller.py
  nginx_ingress_controller/tox.ini
Labels: changelog/no-changelog, integration/nginx_ingress_controller

#10790 Fix flaky E2E test
  windows_performance_counters/tests/test_e2e.py
Labels: changelog/no-changelog, integration/windows_performance_counters

#10775 Add better filtering options
  iis/assets/configuration/spec.yaml
  iis/datadog_checks/iis/check.py
  iis/datadog_checks/iis/config_models/instance.py
  iis/datadog_checks/iis/data/conf.yaml.example
  iis/tests/test_unit.py
Labels: documentation, integration/iis, changelog/Added

#10786 Add current timestamp to SQLServer activity collection
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_statements.py
Labels: integration/sqlserver, changelog/Added

#10778 DOCS-2530 Lint Integrations section (part 2)
  cilium/README.md
  citrix_hypervisor/README.md
  clickhouse/README.md
  cloud_foundry_api/README.md
  cockroachdb/README.md
  consul/README.md
  consul_connect/README.md
  container/README.md
Labels: documentation, changelog/no-changelog, integration/consul, integration/cockroachdb, integration/cilium, integration/clickhouse, integration/cloud_foundry_api, integration/consul_connect, integration/citrix_hypervisor, integration/container

#10651 Adding support for upcoming v2.5
  haproxy/datadog_checks/haproxy/metrics.py
  haproxy/metadata.csv
  haproxy/tests/conftest.py
  haproxy/tests/docker/haproxy.cfg
  haproxy/tox.ini
Labels: integration/haproxy, changelog/Added

#10648 [snmp] Support new profiles without throwing errors in translate-profiles
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/translate_profile.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10796 Fix server agg check status in 2.4
  haproxy/metadata.csv
  haproxy/tests/conftest.py
  haproxy/tox.ini
Labels: integration/haproxy, changelog/Fixed

#10647 Group by host to return number of nodes
  elastic/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/elastic

#10662 Add singlestore dashboard
  singlestore/assets/dashboards/overview.json
  singlestore/assets/dashboards/singlestore_overview.json
  singlestore/manifest.json
Labels: documentation, changelog/no-changelog, integration/singlestore

#10767 Add profile metadata for Cisco Catalyst and 3850
  snmp/datadog_checks/snmp/data/profiles/_cisco-catalyst.yaml
  snmp/datadog_checks/snmp/data/profiles/_cisco-generic.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-3850.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-asa-5525.yaml
  snmp/tests/compose/data/cisco-catalyst.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: dev/testing, integration/snmp

#10797 Bump base package dependency
  hyperv/setup.py
  iis/setup.py
Labels: integration/iis, changelog/Fixed, integration/hyperv

#10795 DOCS-2530 Lint Integrations section (part 3)
  containerd/README.md
  coredns/README.md
  couch/README.md
  couchbase/README.md
  cri/README.md
  databricks/README.md
  dns_check/README.md
  docker_daemon/README.md
  ecs_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/couchbase, integration/couch, integration/dns_check, integration/docker_daemon, integration/ecs_fargate, integration/coredns, integration/cri, integration/containerd, integration/databricks

#10540 New dashboard for NGINX
  nginx/assets/dashboards/NGINX-Overview_dashboard.json
Labels: documentation, changelog/no-changelog, integration/nginx

#10785 Disable validations in Azure pipelines on PRs
  .azure-pipelines/changes.yml
Labels: changelog/no-changelog, dev/testing

#10766 Add detailed_index_stats parameter to pull index-level metrics
  elastic/assets/configuration/spec.yaml
  elastic/datadog_checks/elastic/config.py
  elastic/datadog_checks/elastic/config_models/defaults.py
  elastic/datadog_checks/elastic/config_models/instance.py
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/datadog_checks/elastic/elastic.py
  elastic/metadata.csv
  elastic/tests/conftest.py
  elastic/tests/test_config.py
  elastic/tests/test_elastic.py
Labels: integration/elastic, changelog/Added

#10750 Add support for NGINX Plus versions 4-7
  nginx/assets/configuration/spec.yaml
  nginx/datadog_checks/nginx/data/conf.yaml.example
  nginx/datadog_checks/nginx/metrics.py
  nginx/datadog_checks/nginx/nginx.py
  nginx/metadata.csv
  nginx/tests/common.py
  nginx/tests/fixtures/v1/plus_api_connections.json
  nginx/tests/fixtures/v1/plus_api_http_caches.json
  nginx/tests/fixtures/v1/plus_api_http_requests.json
  nginx/tests/fixtures/v1/plus_api_http_server_zones.json
  nginx/tests/fixtures/v1/plus_api_http_upstreams.json
  nginx/tests/fixtures/v1/plus_api_nginx.json
  nginx/tests/fixtures/v1/plus_api_processes.json
  nginx/tests/fixtures/v1/plus_api_slabs.json
  nginx/tests/fixtures/v1/plus_api_ssl.json
  nginx/tests/fixtures/v1/plus_api_stream_server_zones.json
  nginx/tests/fixtures/v1/plus_api_stream_upstreams.json
  nginx/tests/fixtures/v3/plus_api_stream_zone_sync.json
  nginx/tests/fixtures/v5/plus_api_http_location_zones.json
  nginx/tests/fixtures/v5/plus_api_resolvers.json
  nginx/tests/fixtures/v6/plus_api_http_limit_conns.json
  nginx/tests/fixtures/v6/plus_api_http_limit_reqs.json
  nginx/tests/fixtures/v6/plus_api_stream_limit_conns.json
  nginx/tests/fixtures/v7/plus_api_http_location_zones.json
  nginx/tests/fixtures/v7/plus_api_http_server_zones.json
  nginx/tests/fixtures/v7/plus_api_http_upstreams.json
  nginx/tests/test_nginx.py
  nginx/tests/test_unit.py
  nginx/tests/utils.py
Labels: documentation, integration/nginx

#10802 Skip the test, not the fixture
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
Labels: changelog/no-changelog, integration/mysql

#10798 DOCS-2530 Lint Integrations section (part 4)
  eks_fargate/README.md
  elastic/README.md
  envoy/README.md
  etcd/README.md
  exchange_server/README.md
  flink/README.md
  fluentd/README.md
  gearmand/README.md
  gitlab/README.md
  gitlab_runner/README.md
  gke/README.md
Labels: documentation, changelog/no-changelog, integration/elastic, integration/envoy, integration/etcd, integration/exchange_server, integration/fluentd, integration/gearmand, integration/gitlab, integration/gitlab_runner, integration/eks_fargate, integration/flink, integration/gke

#10675 add more galera useful metrics for mysql
  mysql/datadog_checks/mysql/const.py
  mysql/metadata.csv
Labels: integration/mysql, changelog/Added

#10734 Add new metric for waiting queries where state is active
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/test_pg_integration.py
Labels: integration/postgres, changelog/Added

#10803 Update metadata.csv for nginx.net.request_per_s
  nginx/metadata.csv
Labels: changelog/no-changelog, integration/nginx

#10801 Fix README for Istio
  istio/README.md
Labels: documentation, changelog/no-changelog, integration/istio

#10804 Add a test for when stream metrics are disabled on nginx v7
  nginx/tests/test_unit.py
Labels: changelog/no-changelog, integration/nginx

#10807 Add Cisco_aci service check to minimal e2e test
  cisco_aci/tests/conftest.py
  cisco_aci/tests/test_cisco.py
Labels: changelog/no-changelog, integration/cisco_aci

#10800 Import ddtrace only when needed
  datadog_checks_base/datadog_checks/base/utils/tracing.py
  datadog_checks_base/tests/base/utils/test_tracing.py
Labels: integration/datadog_checks_base

#9148 [Active Directory] Using latest dashboard layout and features
  active_directory/assets/dashboards/active_directory.json
Labels: changelog/no-changelog, integration/active_directory

#10793 [agent_metrics] Update README and metadata
  agent_metrics/README.md
  agent_metrics/manifest.json
  agent_metrics/metadata.csv
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/common/validator.py
Labels: documentation, changelog/no-changelog, dev/tooling, integration/agent_metrics, integration/datadog_checks_dev

#10809 Add decorator for tracking execution statistics of check methods
  datadog_checks_base/datadog_checks/base/utils/tracking.py
  datadog_checks_base/tests/base/utils/test_tracking.py
Labels: integration/datadog_checks_base, changelog/Added

#10814 [Release] Bumped datadog_checks_base version to 23.5.0
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#10416 Properly filter databases when using database autodiscovery
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_integration.py
Labels: integration/sqlserver, changelog/Fixed

#10811 Fix mysql query metric collection not recovering after database restarts
  mysql/datadog_checks/mysql/statements.py
Labels: integration/mysql, changelog/Fixed

#10752 Support Openmetrics metrics collection
  envoy/README.md
  envoy/__init__.py
  envoy/assets/configuration/spec.yaml
  envoy/assets/service_checks.json
  envoy/datadog_checks/envoy/check.py
  envoy/datadog_checks/envoy/config_models/defaults.py
  envoy/datadog_checks/envoy/config_models/instance.py
  envoy/datadog_checks/envoy/data/conf.yaml.example
  envoy/datadog_checks/envoy/envoy.py
  envoy/datadog_checks/envoy/metrics.py
  envoy/datadog_checks/envoy/utils.py
  envoy/metadata.csv
  envoy/setup.py
  envoy/tests/common.py
  envoy/tests/conftest.py
  envoy/tests/legacy/__init__.py
  envoy/tests/legacy/common.py
  envoy/tests/legacy/test_bench.py
  envoy/tests/legacy/test_e2e.py
  envoy/tests/legacy/test_envoy.py
  envoy/tests/legacy/test_metrics.py
  envoy/tests/legacy/test_parser.py
  envoy/tests/legacy/test_utils.py
  envoy/tests/test_check.py
  envoy/tests/test_e2e.py
  envoy/tox.ini
Labels: documentation, integration/envoy, changelog/Added

#10812 Add use_device_id_as_hostname config
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: documentation, integration/snmp, changelog/Added

#10822 Add location to _base.yaml
  snmp/datadog_checks/snmp/data/profiles/_base.yaml
  snmp/tests/test_e2e_core_metadata.py
Labels: integration/snmp, changelog/Added

#10825 Lower log level for expected condition
  elastic/datadog_checks/elastic/elastic.py
Labels: integration/elastic, changelog/Fixed

#9472 Remove kubernetes_state.replicaset.replicas_ready from the IO by node widgets in the Kubernetes Dashboard
  kubernetes/assets/dashboards/kubernetes_dashboard.json
Labels: containers, changelog/no-changelog, integration/kubelet, integration/kubernetes

#10810 improve sqlserver agent query performance for DBM metrics query
  sqlserver/datadog_checks/sqlserver/statements.py
Labels: integration/sqlserver

#10745 Category and bugfix label gathered with merged-prs stats ddev command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/stats/stats.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#10808 Add debug metrics for metric context limits
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/agent/common.py
  datadog_checks_base/datadog_checks/base/utils/agent/memory.py
  datadog_checks_base/datadog_checks/base/utils/limiter.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
Labels: integration/datadog_checks_base, changelog/Added

#10817 [Release] Bumped nginx version to 4.1.0
  .in-toto/tag.47c5a022.link
  nginx/CHANGELOG.md
  nginx/datadog_checks/nginx/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/nginx, release

#10832 Fix wrong example for MultiSubnetFailover in connection_string example
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, integration/sqlserver, changelog/Fixed

#10721 Refactor nginx: factor out methods from check
  nginx/datadog_checks/nginx/const.py
  nginx/datadog_checks/nginx/nginx.py
Labels: documentation, changelog/no-changelog, integration/nginx

#10830 fix missing ConnectionRetryCount when DSN set
  sqlserver/datadog_checks/sqlserver/connection.py
Labels: integration/sqlserver, changelog/Fixed

#10813 Add validation for invalid characters and sequences for service names
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/service_checks.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10691 Update ci.md
  docs/developer/meta/ci.md
Labels: documentation, changelog/no-changelog

#10838 DOCS-2915 Fix link reference
  agent_metrics/README.md
Labels: documentation, changelog/no-changelog, integration/agent_metrics

#10805 DOCS-2530 Lint Integrations section (part 5)
  glusterfs/README.md
  go-metro/README.md
  go_expvar/README.md
  gunicorn/README.md
  haproxy/README.md
  harbor/README.md
  hazelcast/README.md
  hive/README.md
  hivemq/README.md
  http_check/README.md
  hudi/README.md
  ibm_db2/README.md
  ibm_mq/README.md
  ibm_was/README.md
Labels: documentation, changelog/no-changelog, integration/http_check, integration/go-metro, integration/go_expvar, integration/gunicorn, integration/haproxy, integration/ibm_mq, integration/ibm_was, integration/ibm_db2, integration/hive, integration/harbor, integration/hazelcast, integration/hivemq, integration/glusterfs, integration/hudi

#10834 Make process check configuration notes clearer
  process/assets/configuration/spec.yaml
  process/datadog_checks/process/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/process

#10823 Update service check and metadata integration name
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/service_checks.py
  hdfs_datanode/assets/service_checks.json
  hdfs_datanode/metadata.csv
  hdfs_namenode/assets/service_checks.json
  hdfs_namenode/metadata.csv
Labels: changelog/no-changelog, dev/tooling, integration/hdfs_datanode, integration/hdfs_namenode, integration/datadog_checks_dev

#10791 Add minimal e2e
  mapr/tests/conftest.py
  mapr/tests/test_e2e.py
  mapr/tox.ini
Labels: changelog/no-changelog, integration/mapr

#10771 Add SNMP recommended monitor
  snmp/assets/monitors/device_down.json
  snmp/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp

#10836 add e2e test for crio
  crio/tests/conftest.py
  crio/tests/test_crio.py
  crio/tox.ini
Labels: changelog/no-changelog, integration/crio

#10794 DOCS-1323 - clearer configuration instructions for nginx
  nginx/README.md
Labels: documentation, changelog/no-changelog, integration/nginx

#10690 [DOCS-2368] add anywhere support to eks docs
  amazon_eks/README.md
Labels: documentation, changelog/no-changelog, integration/amazon_eks

#10851 Update test dependency
  hazelcast/tests/docker/Dockerfile
Labels: changelog/no-changelog, integration/hazelcast

#10853 Fix readme typo
  sqlserver/README.md
Labels: documentation, changelog/no-changelog, integration/sqlserver

#10858 Properly hide legacy PDH config
  hyperv/assets/configuration/spec.yaml
  hyperv/datadog_checks/hyperv/config_models/defaults.py
  hyperv/datadog_checks/hyperv/config_models/instance.py
  iis/assets/configuration/spec.yaml
  iis/datadog_checks/iis/config_models/defaults.py
  iis/datadog_checks/iis/config_models/instance.py
Labels: documentation, integration/iis, changelog/Fixed, integration/hyperv

#10672 Add commit duration monitor
  hudi/assets/monitors/commit_duration.json
  hudi/manifest.json
Labels: documentation, changelog/no-changelog, integration/hudi

#10815 Add option to dynamically determine what APIs to query for metrics
  nginx/assets/configuration/spec.yaml
  nginx/datadog_checks/nginx/config_models/defaults.py
  nginx/datadog_checks/nginx/config_models/instance.py
  nginx/datadog_checks/nginx/data/conf.yaml.example
  nginx/datadog_checks/nginx/nginx.py
  nginx/tests/conftest.py
  nginx/tests/fixtures/v1/plus_api.json
  nginx/tests/fixtures/v1/plus_api_http.json
  nginx/tests/fixtures/v1/plus_api_stream.json
  nginx/tests/fixtures/v7/plus_api.json
  nginx/tests/fixtures/v7/plus_api_http.json
  nginx/tests/fixtures/v7/plus_api_stream.json
  nginx/tests/test_unit.py
  nginx/tests/utils.py
Labels: documentation, integration/nginx, changelog/Added

#10852 Make process check configuration note in README clearer
  process/README.md
Labels: documentation, changelog/no-changelog, integration/process

#10591 Add TCPS support for Oracle DB
  oracle/README.md
  oracle/assets/configuration/spec.yaml
  oracle/datadog_checks/oracle/config_models/defaults.py
  oracle/datadog_checks/oracle/config_models/instance.py
  oracle/datadog_checks/oracle/config_models/validators.py
  oracle/datadog_checks/oracle/data/conf.yaml.example
  oracle/datadog_checks/oracle/oracle.py
  oracle/tests/README.md
  oracle/tests/common.py
  oracle/tests/conftest.py
  oracle/tests/docker/Dockerfile
  oracle/tests/docker/client/client_wallet/cwallet.sso
  oracle/tests/docker/client/client_wallet/cwallet.sso.lck
  oracle/tests/docker/client/client_wallet/ewallet.p12
  oracle/tests/docker/client/client_wallet/ewallet.p12.lck
  oracle/tests/docker/client/listener.ora
  oracle/tests/docker/client/oraclepki.jar
  oracle/tests/docker/client/osdt_cert.jar
  oracle/tests/docker/client/osdt_core.jar
  oracle/tests/docker/client/sqlnet.ora
  oracle/tests/docker/client/tnsnames.ora
  oracle/tests/docker/docker-compose.yaml
  oracle/tests/docker/server/listener.ora
  oracle/tests/docker/server/server_wallet/cwallet.sso
  oracle/tests/docker/server/server_wallet/cwallet.sso.lck
  oracle/tests/docker/server/server_wallet/ewallet.p12
  oracle/tests/docker/server/server_wallet/ewallet.p12.lck
  oracle/tests/docker/server/sqlnet.ora
  oracle/tests/docker/server/tnsnames.ora
  oracle/tests/test_config.py
  oracle/tests/test_unit.py
  oracle/tox.ini
Labels: documentation, integration/oracle, changelog/Added

#10831 Update config spec to include additional statement metrics options
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/statements.py
Labels: documentation, changelog/no-changelog, integration/sqlserver

#10869 Update description of config
  rabbitmq/assets/configuration/spec.yaml
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/rabbitmq

#10816 Add minimal twistlock e2e test
  twistlock/tests/conftest.py
  twistlock/tests/test_twistlock.py
  twistlock/tox.ini
Labels: changelog/no-changelog, integration/twistlock

#10837 Add a minimal e2e test for datadog_cluster_agent check
  datadog_cluster_agent/tests/conftest.py
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
  datadog_cluster_agent/tox.ini
Labels: changelog/no-changelog, integration/datadog_cluster_agent

#10784 Add support for Index Statistics metrics
  couchbase/assets/configuration/spec.yaml
  couchbase/datadog_checks/couchbase/config_models/defaults.py
  couchbase/datadog_checks/couchbase/config_models/instance.py
  couchbase/datadog_checks/couchbase/couchbase.py
  couchbase/datadog_checks/couchbase/couchbase_consts.py
  couchbase/datadog_checks/couchbase/data/conf.yaml.example
  couchbase/metadata.csv
  couchbase/tests/common.py
  couchbase/tests/compose/standalone.compose
  couchbase/tests/conftest.py
  couchbase/tests/test_couchbase.py
  couchbase/tests/test_unit.py
  couchbase/tox.ini
Labels: documentation, integration/couchbase

#10859 Make hudi public
  hudi/manifest.json
Labels: documentation, changelog/no-changelog, integration/hudi

#10559 Add WebLogic integration
  .azure-pipelines/scripts/weblogic/linux/55_docker_login.sh
  .azure-pipelines/templates/test-all-checks.yml
  weblogic/CHANGELOG.md
  weblogic/MANIFEST.in
  weblogic/README.md
  weblogic/assets/configuration/spec.yaml
  weblogic/assets/saved_views/error_logs.json
  weblogic/assets/saved_views/weblogic_overview.json
  weblogic/assets/saved_views/weblogic_patterns.json
  weblogic/assets/service_checks.json
  weblogic/datadog_checks/__init__.py
  weblogic/datadog_checks/weblogic/__about__.py
  weblogic/datadog_checks/weblogic/__init__.py
  weblogic/datadog_checks/weblogic/config_models/__init__.py
  weblogic/datadog_checks/weblogic/config_models/defaults.py
  weblogic/datadog_checks/weblogic/config_models/instance.py
  weblogic/datadog_checks/weblogic/config_models/shared.py
  weblogic/datadog_checks/weblogic/config_models/validators.py
  weblogic/datadog_checks/weblogic/data/conf.yaml.example
  weblogic/datadog_checks/weblogic/data/metrics.yaml
  weblogic/images/.gitkeep
  weblogic/manifest.json
  weblogic/metadata.csv
  weblogic/requirements-dev.txt
  weblogic/setup.py
  weblogic/tests/__init__.py
  weblogic/tests/common.py
  weblogic/tests/compose/docker-compose.yml
  weblogic/tests/compose/weblogic/Dockerfile
  weblogic/tests/compose/weblogic/create-wls-domain.py
  weblogic/tests/compose/weblogic/properties/docker-build/domain.properties
  weblogic/tests/compose/weblogic/properties/docker-build/domain_security.properties
  weblogic/tests/compose/weblogic/properties/docker-run/security.properties
  weblogic/tests/conftest.py
  weblogic/tests/metrics.py
  weblogic/tests/test_check.py
  weblogic/tox.ini
Labels: documentation, dev/testing, changelog/Added, editorial review, integration/weblogic

#10877 Use timestamp instead of datetime
  silk/datadog_checks/silk/check.py
Labels: documentation, dev/testing, integration/silk

#10453 Increase metrics collected by the Confluent Platform integration
  confluent_platform/datadog_checks/confluent_platform/data/metrics.yaml
  confluent_platform/metadata.csv
  confluent_platform/tests/common.py
  confluent_platform/tests/compose/docker-compose.yaml
  confluent_platform/tests/conftest.py
  confluent_platform/tests/metrics.py
  confluent_platform/tests/test_e2e.py
  confluent_platform/tox.ini
Labels: changelog/Added, integration/confluent_platform

#10875 Ensure TLSContextWrapper creates TLS context with the proper values
  datadog_checks_base/datadog_checks/base/utils/tls.py
  datadog_checks_base/tests/base/utils/test_tls.py
Labels: integration/datadog_checks_base, changelog/Fixed, category/bugfix

#10883 Release datadog_checks_base for 7.33.0-rc.9
  .in-toto/tag.bb47f8e8.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release, category/release_operations

#10884 Update changelog to include v23.3.3
  datadog_checks_base/CHANGELOG.md
Labels: changelog/no-changelog, integration/datadog_checks_base

#10885 Update wording of config descriptions
  active_directory/datadog_checks/active_directory/data/conf.yaml.example
  aspdotnet/datadog_checks/aspdotnet/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/common/perf_counters.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/perf_counters.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/perf_counters.yaml
  hyperv/datadog_checks/hyperv/data/conf.yaml.example
  iis/datadog_checks/iis/data/conf.yaml.example
  windows_performance_counters/datadog_checks/windows_performance_counters/data/conf.yaml.example
Labels: changelog/no-changelog, dev/tooling, integration/active_directory, integration/aspdotnet, integration/iis, integration/datadog_checks_dev, integration/hyperv, integration/windows_performance_counters

#10866 Update auth and priv protocols
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: documentation, integration/snmp, changelog/Fixed

#10848 use dynamic query stats interval and set common request timeout
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/conftest.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_connection.py
  sqlserver/tests/test_statements.py
Labels: integration/sqlserver, changelog/Changed

#10888 Update test dependency
  snowflake/tests/snowflake_connector_patch/pyproject.toml
Labels: changelog/no-changelog, integration/snowflake

#10892 Support new implementation of Windows performance counters on Python 3
  dotnetclr/assets/configuration/spec.yaml
  dotnetclr/datadog_checks/dotnetclr/check.py
  dotnetclr/datadog_checks/dotnetclr/config_models/defaults.py
  dotnetclr/datadog_checks/dotnetclr/config_models/instance.py
  dotnetclr/datadog_checks/dotnetclr/config_models/shared.py
  dotnetclr/datadog_checks/dotnetclr/data/conf.yaml.example
  dotnetclr/datadog_checks/dotnetclr/dotnetclr.py
  dotnetclr/datadog_checks/dotnetclr/metrics.py
  dotnetclr/tests/common.py
  dotnetclr/tests/test_dotnetclr.py
  dotnetclr/tests/test_unit.py
Labels: documentation, integration/dotnetclr, changelog/Added

#10841 Move is_public validations inside v1 and v2 specific checks
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/common/validator.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v1/validator.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/validator.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10890 Remove benchmark tests
  snmp/tests/test_bench.py
  snmp/tox.ini
Labels: changelog/no-changelog, integration/snmp

#10868 Add multiple_ips option and address tag
  tcp_check/assets/configuration/spec.yaml
  tcp_check/assets/service_checks.json
  tcp_check/datadog_checks/tcp_check/config_models/defaults.py
  tcp_check/datadog_checks/tcp_check/config_models/instance.py
  tcp_check/datadog_checks/tcp_check/data/conf.yaml.example
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  tcp_check/tests/common.py
  tcp_check/tests/test_e2e.py
  tcp_check/tests/test_integration.py
  tcp_check/tests/test_tcp_check.py
Labels: documentation, integration/tcp_check, changelog/Added

#10898 Don't check empty tag list
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#10893 use self healing connection in tests
  sqlserver/tests/conftest.py
  sqlserver/tests/test_statements.py
  sqlserver/tox.ini
Labels: changelog/no-changelog, integration/sqlserver

#10829 Add `enforce_collection_interval_deadline` option to set plan collection deadline
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_statements.py
Labels: documentation, dev/testing, integration/sqlserver, changelog/Added

#10828 Improve plan lookup performance
  sqlserver/datadog_checks/sqlserver/statements.py
Labels: integration/sqlserver, changelog/Fixed

#10891 [kube_apiserver_metrics] Make alpha and deprecated metrics comments consistent
  kube_apiserver_metrics/metadata.csv
Labels: documentation, changelog/no-changelog, integration/kube_apiserver_metrics

#10876 add minimal e2e for external_dns check
  external_dns/tests/conftest.py
  external_dns/tests/test_external_dns.py
  external_dns/tox.ini
Labels: changelog/no-changelog, integration/external_dns

#10896 add minimal e2e test for vsphere
  vsphere/tests/test_e2e.py
  vsphere/tox.ini
Labels: changelog/no-changelog, integration/vsphere

#10902 Update release docs with docker windows py2 image name
  docs/developer/process/agent-release/pre-release.md
Labels: documentation, changelog/no-changelog

#10870 use read uncommitted isolation level to remove blocking risk
  sqlserver/datadog_checks/sqlserver/connection.py
Labels: integration/sqlserver, changelog/Changed

#10889 Run corecheck e2e tests with py3 only
  snmp/tests/common.py
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_metadata.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_e2e_snmp_listener.py
  snmp/tox.ini
Labels: changelog/no-changelog, integration/snmp

#10867 Add metadata to HP profiles
  snmp/datadog_checks/snmp/data/profiles/_hp-base.yaml
  snmp/datadog_checks/snmp/data/profiles/hp-ilo4.yaml
  snmp/datadog_checks/snmp/data/profiles/hpe-proliant.yaml
  snmp/tests/compose/data/hp-ilo4.snmprec
  snmp/tests/compose/data/hpe-proliant.snmprec
  snmp/tests/test_e2e_core_metadata.py
  snmp/tests/test_profiles.py
Labels: integration/snmp, changelog/Added

#10904 Bump lxml package
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ibm_was/requirements.in
  sqlserver/requirements.in
Labels: integration/datadog_checks_base, integration/sqlserver, changelog/Security, integration/ibm_was, dependencies

#10839 Update default Kong configurations to use Openmetrics V2
  kong/README.md
  kong/assets/configuration/spec.yaml
  kong/datadog_checks/kong/data/conf.yaml.example
  kong/metadata.csv
  kong/tests/common.py
  kong/tests/conftest.py
  kong/tests/test_integration_e2e.py
Labels: documentation, integration/kong

#10843 Refresh role on replica sets and add more debug logging
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/test_mongo.py
Labels: documentation, integration/mongo, changelog/Fixed

#10905 Release changed integrations for 7.33.0-rc.11
  .in-toto/tag.bb47f8e8.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  ibm_was/requirements.in
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
  sqlserver/requirements.in
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/sqlserver, integration/ibm_was, dependencies, release, category/release_operations

#10908 Update integration version in changelog
  .in-toto/tag.bb47f8e8.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release, category/release_operations

#10913 [Release] Bumped iis version to 2.14.0
  .in-toto/tag.57ce2495.link
  iis/CHANGELOG.md
  iis/datadog_checks/iis/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/iis, release

#10912 Update check versions from release 7.33.x
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/sqlserver, integration/ibm_was, release

#10910 Handle nested template name overrides in config specs
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10857 Add apc_ups profile metadata
  snmp/datadog_checks/snmp/data/profiles/apc_ups.yaml
  snmp/tests/compose/data/apc_ups.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: integration/snmp

#10872 Refactor model consumer
  datadog_checks_dev/datadog_checks/dev/fs.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_consumer.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_file.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_info.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/openapi_document.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/core.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_deprecations.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#10917 Bumped tcp_check version to 4.2.0
  .in-toto/tag.024e42fe.link
  requirements-agent-release.txt
  tcp_check/CHANGELOG.md
  tcp_check/datadog_checks/tcp_check/__about__.py
Labels: changelog/no-changelog, integration/tcp_check, release

#10911 Add extra metrics example documentation
  iis/assets/configuration/spec.yaml
  iis/datadog_checks/iis/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/iis

#10920 Add example config for `extra_metrics`
  active_directory/assets/configuration/spec.yaml
  active_directory/datadog_checks/active_directory/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/active_directory

#10915 Add mysql_version and mysql_flavor to dbm query metrics payloads
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_statements.py
Labels: integration/mysql, changelog/Added

#10903 Support new implementation of Windows performance counters on Python 3
  exchange_server/README.md
  exchange_server/assets/configuration/spec.yaml
  exchange_server/datadog_checks/exchange_server/check.py
  exchange_server/datadog_checks/exchange_server/config_models/defaults.py
  exchange_server/datadog_checks/exchange_server/config_models/instance.py
  exchange_server/datadog_checks/exchange_server/config_models/shared.py
  exchange_server/datadog_checks/exchange_server/data/conf.yaml.example
  exchange_server/datadog_checks/exchange_server/exchange_server.py
  exchange_server/datadog_checks/exchange_server/metrics.py
  exchange_server/tests/common.py
  exchange_server/tests/test_exchange_server.py
  exchange_server/tests/test_unit.py
Labels: documentation, integration/exchange_server, changelog/Added

#10906 [Kube_apiserver_metrics] add new storage metrics and test for Kubernetes 1.23
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/tests/fixtures/metrics_1.23.0.txt
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_23.py
Labels: changelog/Added, integration/kube_apiserver_metrics

#10923 Update docs about the new implementation
  active_directory/README.md
  aspdotnet/README.md
  dotnetclr/README.md
  hyperv/README.md
  iis/README.md
Labels: documentation, changelog/no-changelog, integration/active_directory, integration/aspdotnet, integration/dotnetclr, integration/iis, integration/hyperv

#10842 Trigger rc agent on release branches
  .gitlab-ci.yml
  .gitlab/validate-agent-build/trigger_agent_build.py
Labels: changelog/no-changelog, dev/tooling

#10916 Migrate mesos integration_id
  mesos_slave/manifest.json
Labels: documentation, changelog/no-changelog, integration/mesos_slave

#10925 Bump base check requirement for JMX template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/setup.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10861 Use `%` for MySQL integration setup document
  mysql/README.md
Labels: documentation, changelog/no-changelog, integration/mysql

#10930 Bump base package dependency
  active_directory/setup.py
  aspdotnet/setup.py
  dotnetclr/setup.py
  elastic/setup.py
  exchange_server/setup.py
  nginx/setup.py
Labels: integration/active_directory, integration/aspdotnet, integration/dotnetclr, integration/elastic, integration/exchange_server, integration/nginx, changelog/Fixed

#10827 corrected live containers link
  eks_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/eks_fargate

#10931 add a note on how to restrict datadog user login to specific hosts
  mysql/README.md
Labels: documentation, changelog/no-changelog, integration/mysql

#10914 DOCS-2530 Lint Integrations section (part 6)
  ibm_was/README.md
  ignite/README.md
  istio/README.md
  jboss_wildfly/README.md
  jmeter/README.md
  journald/README.md
  kafka/README.md
  kafka_consumer/README.md
  kong/README.md
  kube_apiserver_metrics/README.md
  kube_dns/README.md
Labels: documentation, changelog/no-changelog, integration/istio, integration/kafka, integration/kafka_consumer, integration/kong, integration/kube_dns, integration/ibm_was, integration/jboss_wildfly, integration/kube_apiserver_metrics, integration/ignite, integration/jmeter, integration/journald

#10505 Add kube_controller_manager config spec
  kube_controller_manager/assets/configuration/spec.yaml
  kube_controller_manager/datadog_checks/kube_controller_manager/data/auto_conf.yaml
  kube_controller_manager/datadog_checks/kube_controller_manager/data/conf.yaml.example
  kube_controller_manager/manifest.json
Labels: documentation, changelog/Added, integration/kube_controller_manager

#10933 improve internal explain error troubleshooting metrics
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: integration/postgres, changelog/Changed

#10935 fix dangling connection on unhandled exception bug
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/tests/test_connection.py
Labels: integration/sqlserver, changelog/Fixed

#10940 Fix models tests
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_all_required.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_array.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_both_models_basic.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_common_validators.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_defaults.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_duplicate_hidden.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_merge_instances.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_nested_option.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_object_arbitrary_values.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_object_model.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_object_typed_values.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_only_shared.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_option_name_normalization.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_union_types.py
Labels: changelog/no-changelog

#10938 Sync configuration spec
  kube_controller_manager/datadog_checks/kube_controller_manager/data/conf.yaml.example
Labels: changelog/Fixed, integration/kube_controller_manager

#10932 Mesos assets migration
  mesos_slave/assets/dashboards/mesos_overview.json
  mesos_slave/assets/service_checks.json
  mesos_slave/manifest.json
Labels: documentation, changelog/no-changelog, integration/mesos_slave

#10737 Add windows support
  .azure-pipelines/changes.yml
  .azure-pipelines/scripts/ibm_mq/windows/55_install_ibm_mq_client.py
  .azure-pipelines/templates/test-all-checks.yml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ibm_mq/README.md
  ibm_mq/manifest.json
  ibm_mq/requirements.in
  ibm_mq/tests/common.py
  ibm_mq/tests/test_ibm_mq_e2e.py
  ibm_mq/tests/test_ibm_mq_int.py
  ibm_mq/tests/test_ibm_mq_unit.py
  ibm_mq/tests/test_metadata.py
  ibm_mq/tox.ini
Labels: documentation, dev/testing, integration/datadog_checks_base, changelog/Added, integration/ibm_mq, dependencies

#10948 Fix ci
  .codecov.yml
Labels: changelog/no-changelog, dev/testing

#10697 Remove `cpu.shares` from documentation as removed from check
  container/metadata.csv
Labels: changelog/no-changelog, integration/container

#10678 Add a pipeline to test all with a comment
  .azure-pipelines/all_comment.yml
Labels: changelog/no-changelog, dev/testing

#10954 Rename mesos slave spec
  mesos_slave/assets/configuration/spec.yaml
Labels: documentation, changelog/no-changelog, integration/mesos_slave

#10958 Don't run validations on CI on PRs to the base check
  .azure-pipelines/templates/test-all.yml
Labels: changelog/no-changelog, dev/testing

#10682 Add the option to set a reported hostname (Postgres)
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_pg_integration.py
Labels: documentation, do-not-merge/HOLD, integration/postgres, changelog/Added
