Repository DataDog/integrations-core, pull requests merged in 2021-08, with the labels that each got.

#9795 Add types and docs to query manager
  .github/CODEOWNERS
  datadog_checks_base/datadog_checks/base/utils/db/core.py
  datadog_checks_base/datadog_checks/base/utils/db/query.py
  datadog_checks_base/datadog_checks/base/utils/db/transform.py
  datadog_checks_base/datadog_checks/base/utils/db/types.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_db.py
  datadog_checks_base/tests/base/utils/db/test_db_sql.py
  datadog_checks_base/tests/base/utils/db/test_db_statements.py
  datadog_checks_base/tests/base/utils/db/test_db_util.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#9809 snowflake types
  snowflake/datadog_checks/snowflake/__init__.py
  snowflake/tests/test_snowflake.py
  snowflake/tox.ini
Labels: changelog/no-changelog, integration/snowflake

#9807 Submit unknown iis counters
  iis/datadog_checks/iis/iis.py
  iis/tests/test_iis.py
Labels: changelog/Added, integration/iis

#9814 Split db tests
  datadog_checks_base/tests/base/utils/db/__init__.py
  datadog_checks_base/tests/base/utils/db/common.py
  datadog_checks_base/tests/base/utils/db/test_custom_queries.py
  datadog_checks_base/tests/base/utils/db/test_query_manager.py
  datadog_checks_base/tests/base/utils/db/test_query_result.py
  datadog_checks_base/tests/base/utils/db/test_transformers.py
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_base, qa/skip-qa

#9819 Bumped iis version to 2.12.0
  .in-toto/tag.024e42fe.link
  iis/CHANGELOG.md
  iis/datadog_checks/iis/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/iis, release

#9822 Bump base package
  datadog_cluster_agent/setup.py
Labels: changelog/Fixed, integration/datadog_cluster_agent

#9823 Reattempt to download pull docker image
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9824 Add documentation and fix monotonic check
  mapr/tests/README.md
  mapr/tests/test_unit.py
Labels: changelog/no-changelog, documentation, integration/mapr

#9761 Matheus/generate profile add repository option
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/generate_profile.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev, integration/snmp

#9817 Move GENIRC_TAG defintion to checks_base to be used by the query manager
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/datadog_checks/base/utils/tagging.py
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/datadog_checks_dev

#9828 Wait for E2E Agent to be started when running Python 2
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev, integration/disk, integration/dns_check, integration/pdh_check, integration/tcp_check, integration/windows_service

#9590 Upgrade `psycopg2` on Python 3
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  postgres/requirements.in
Labels: changelog/Added, dependencies, integration/datadog_checks_base, integration/postgres

#9831 [Release] Bumped postgres version to 8.2.0
  .in-toto/tag.47c5a022.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres, release

#9835 Revert "Upgrade `psycopg2` on Python 3"
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  postgres/requirements.in
Labels: changelog/Fixed, dependencies, integration/datadog_checks_base, integration/postgres

#9829 Fix flaky test
  linkerd/tests/test_linkerd.py
Labels: changelog/no-changelog, integration/linkerd

#9837 Better 'Invalid url' error message in dash export
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/dashboard.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9838 Bump base package requirement
  mapr/setup.py
Labels: changelog/Fixed, integration/mapr

#9825 Check monotonic type when asserting histograms
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
Labels: changelog/Fixed, integration/datadog_checks_base

#9832 [ksm] Fix statefulset tag
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Fixed, integration/kubernetes_state

#9699 Re-resolve IP after a set duration
  tcp_check/assets/configuration/spec.yaml
  tcp_check/datadog_checks/tcp_check/config_models/defaults.py
  tcp_check/datadog_checks/tcp_check/config_models/instance.py
  tcp_check/datadog_checks/tcp_check/data/conf.yaml.example
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  tcp_check/tests/test_tcp_check.py
Labels: changelog/Added, documentation, integration/tcp_check

#9712 Create dns with instant client
  oracle/datadog_checks/oracle/oracle.py
  oracle/tests/test_oracle.py
Labels: changelog/Fixed, changelog/no-changelog, integration/oracle

#9827 Add option to use `lsblk` command for labeling
  disk/assets/configuration/spec.yaml
  disk/datadog_checks/disk/data/conf.yaml.default
  disk/datadog_checks/disk/disk.py
  disk/tests/fixtures/lsblk
  disk/tests/mocks.py
  disk/tests/test_unit.py
Labels: changelog/Added, documentation, integration/disk

#9843 make gke doc public
  gke/manifest.json
Labels: changelog/no-changelog, documentation, integration/gke

#9844 Change name of 3rd party extra license
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  postgres/3rdparty-extra-LICENSE.csv
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev, integration/postgres

#9846 [Release] Update metadata
  .in-toto/tag.47c5a022.link
Labels: changelog/no-changelog

#9848 Bumped disk version to 4.4.0
  .in-toto/tag.024e42fe.link
  disk/CHANGELOG.md
  disk/datadog_checks/disk/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/disk, release

#9842 release oracle 3.3.4
  .in-toto/tag.0244aaa8.link
  oracle/CHANGELOG.md
  oracle/datadog_checks/oracle/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/oracle, release

#9849 Improve release-hash-check modified files detection
  .github/workflows/release-hash-check.yml
Labels: changelog/no-changelog, dev/tooling

#9754 Multiple instances in config example
  sonarqube/assets/configuration/spec.yaml
  sonarqube/datadog_checks/sonarqube/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/sonarqube

#9852 Capture value error
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: changelog/Fixed, integration/sqlserver

#9481 Add Avi Vantage integration
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  avi_vantage/CHANGELOG.md
  avi_vantage/MANIFEST.in
  avi_vantage/README.md
  avi_vantage/assets/configuration/spec.yaml
  avi_vantage/assets/dashboards/avi_vantage_overview.json
  avi_vantage/assets/monitors/error_rate_monitor.json
  avi_vantage/assets/service_checks.json
  avi_vantage/datadog_checks/__init__.py
  avi_vantage/datadog_checks/avi_vantage/__about__.py
  avi_vantage/datadog_checks/avi_vantage/__init__.py
  avi_vantage/datadog_checks/avi_vantage/check.py
  avi_vantage/datadog_checks/avi_vantage/config_models/__init__.py
  avi_vantage/datadog_checks/avi_vantage/config_models/defaults.py
  avi_vantage/datadog_checks/avi_vantage/config_models/instance.py
  avi_vantage/datadog_checks/avi_vantage/config_models/shared.py
  avi_vantage/datadog_checks/avi_vantage/config_models/validators.py
  avi_vantage/datadog_checks/avi_vantage/data/conf.yaml.example
  avi_vantage/datadog_checks/avi_vantage/metrics.py
  avi_vantage/images/.gitkeep
  avi_vantage/manifest.json
  avi_vantage/metadata.csv
  avi_vantage/requirements-dev.txt
  avi_vantage/requirements.in
  avi_vantage/setup.py
  avi_vantage/tests/__init__.py
  avi_vantage/tests/compose/Dockerfile
  avi_vantage/tests/compose/docker-compose.yaml
  avi_vantage/tests/compose/fixtures/controller_metrics
  avi_vantage/tests/compose/fixtures/metrics.json
  avi_vantage/tests/compose/fixtures/pool_metrics
  avi_vantage/tests/compose/fixtures/serviceengine_metrics
  avi_vantage/tests/compose/fixtures/virtualservice_metrics
  avi_vantage/tests/compose/manage.py
  avi_vantage/tests/compose/requirements.txt
  avi_vantage/tests/conftest.py
  avi_vantage/tests/test_avi_vantage.py
  avi_vantage/tests/test_config_validation.py
  avi_vantage/tox.ini
Labels: changelog/Added, dev/testing, documentation, integration/avi_vantage

#9856 [Release] Bumped cassandra version to 1.13.0
  .in-toto/tag.bb47f8e8.link
  cassandra/CHANGELOG.md
  cassandra/datadog_checks/cassandra/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/cassandra, release

#9812 Add database file metrics from sys.master_files
  sqlserver/README.md
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
Labels: documentation, integration/sqlserver, changelog/Added

#9860 Revert "Revert "Add Avi Vantage integration""
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  avi_vantage/CHANGELOG.md
  avi_vantage/MANIFEST.in
  avi_vantage/README.md
  avi_vantage/assets/configuration/spec.yaml
  avi_vantage/assets/dashboards/avi_vantage_overview.json
  avi_vantage/assets/monitors/error_rate_monitor.json
  avi_vantage/assets/service_checks.json
  avi_vantage/datadog_checks/__init__.py
  avi_vantage/datadog_checks/avi_vantage/__about__.py
  avi_vantage/datadog_checks/avi_vantage/__init__.py
  avi_vantage/datadog_checks/avi_vantage/check.py
  avi_vantage/datadog_checks/avi_vantage/config_models/__init__.py
  avi_vantage/datadog_checks/avi_vantage/config_models/defaults.py
  avi_vantage/datadog_checks/avi_vantage/config_models/instance.py
  avi_vantage/datadog_checks/avi_vantage/config_models/shared.py
  avi_vantage/datadog_checks/avi_vantage/config_models/validators.py
  avi_vantage/datadog_checks/avi_vantage/data/conf.yaml.example
  avi_vantage/datadog_checks/avi_vantage/metrics.py
  avi_vantage/images/.gitkeep
  avi_vantage/manifest.json
  avi_vantage/metadata.csv
  avi_vantage/requirements-dev.txt
  avi_vantage/requirements.in
  avi_vantage/setup.py
  avi_vantage/tests/__init__.py
  avi_vantage/tests/compose/Dockerfile
  avi_vantage/tests/compose/docker-compose.yaml
  avi_vantage/tests/compose/fixtures/controller_metrics
  avi_vantage/tests/compose/fixtures/metrics.json
  avi_vantage/tests/compose/fixtures/pool_metrics
  avi_vantage/tests/compose/fixtures/serviceengine_metrics
  avi_vantage/tests/compose/fixtures/virtualservice_metrics
  avi_vantage/tests/compose/manage.py
  avi_vantage/tests/compose/requirements.txt
  avi_vantage/tests/conftest.py
  avi_vantage/tests/test_avi_vantage.py
  avi_vantage/tests/test_config_validation.py
  avi_vantage/tox.ini
Labels: documentation, dev/testing, changelog/Added, integration/avi_vantage

#9789 Refactor mapr for easier readability
  mapr/datadog_checks/mapr/mapr.py
  mapr/tests/test_unit.py
Labels: changelog/no-changelog, dev/testing, integration/mapr

#9678 Update GitHub `agent-network` team name
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#9847 Set a default statement timeout for postgres to 5s
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: documentation, integration/postgres, changelog/Changed

#9863 [Release] Bumped avi_vantage version to 1.0.0
  .in-toto/tag.31091c85.link
  avi_vantage/CHANGELOG.md
  avi_vantage/datadog_checks/avi_vantage/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, release, integration/avi_vantage

#9806 [NDM] Validate SysObjectID Consistency
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validate_snmp_profiles.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/utils.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/validator.py
Labels: dev/tooling, integration/snmp, changelog/Added, integration/datadog_checks_dev

#9766 Adding snmp spec file
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp

#9840 [dashboard] update integration json with is_column_break properties
  amazon_msk/assets/dashboards/overview.json
  databricks/assets/dashboards/databricks_overview.json
  elastic/assets/dashboards/overview.json
  jmeter/assets/dashboards/JMeterOverview.json
  kubernetes/assets/dashboards/kubernetes_jobs.json
  kubernetes/assets/dashboards/kubernetes_pods.json
  mcache/assets/dashboards/memcached_screenboard.json
  mysql/assets/dashboards/overview-screenboard.json
  nginx/assets/dashboards/plus_overview.json
  openldap/assets/dashboards/openldap_overview.json
  postgres/assets/dashboards/postgresql_screenboard_dashboard.json
  presto/assets/dashboards/overview.json
  redisdb/assets/dashboards/overview.json
  tomcat/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/elastic, integration/kubernetes, integration/mcache, integration/mysql, integration/nginx, integration/postgres, integration/redisdb, integration/tomcat, integration/openldap, integration/presto, integration/amazon_msk, integration/databricks, integration/jmeter

#9862 fix Readiness check's description
  gitlab/assets/service_checks.json
Labels: changelog/no-changelog

#9588 Allow the use of the new OpenMetrics implementation
  istio/assets/configuration/spec.yaml
  istio/assets/service_checks.json
  istio/datadog_checks/istio/check.py
  istio/datadog_checks/istio/config_models/defaults.py
  istio/datadog_checks/istio/config_models/instance.py
  istio/datadog_checks/istio/config_models/validators.py
  istio/datadog_checks/istio/constants.py
  istio/datadog_checks/istio/data/conf.yaml.example
  istio/datadog_checks/istio/istio.py
  istio/datadog_checks/istio/metrics.py
  istio/requirements-dev.txt
  istio/setup.py
  istio/tests/common.py
  istio/tests/conftest.py
  istio/tests/terraform/1.2.3/kubeconfig-template.yaml
  istio/tests/terraform/1.2.3/main.tf
  istio/tests/terraform/1.2.3/script.py
  istio/tests/test_e2e.py
  istio/tests/test_istio.py
  istio/tests/test_istio_1_5.py
  istio/tests/test_legacy_1_4.py
  istio/tests/utils.py
  istio/tox.ini
Labels: documentation, integration/istio, changelog/Added

#9868 Add annotation utils and config spec annotation
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/ci.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/utils.py
Labels: documentation, integration/couchbase, dev/tooling, integration/directory, changelog/Added, integration/datadog_checks_dev, integration/clickhouse

#9871 Add manifest validator for `supported_os` field
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/validator.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#8975 Add runtime configuration validation
  proxysql/datadog_checks/proxysql/config_models/__init__.py
  proxysql/datadog_checks/proxysql/config_models/defaults.py
  proxysql/datadog_checks/proxysql/config_models/instance.py
  proxysql/datadog_checks/proxysql/config_models/shared.py
  proxysql/datadog_checks/proxysql/config_models/validators.py
Labels: changelog/Added, integration/proxysql

#9880 Fix documented default value of `use_legacy_auth_encoding`
  rabbitmq/assets/configuration/spec.yaml
  rabbitmq/datadog_checks/rabbitmq/config_models/defaults.py
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
Labels: documentation, integration/rabbitmq, changelog/Fixed

#9778 Fix database checks' failure caused by a hostname that is too long
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: integration/datadog_checks_base, changelog/Fixed

#9883 Update config example in docs
  process/README.md
Labels: documentation, changelog/no-changelog, integration/process

#8974 Add runtime configuration validation
  process/datadog_checks/process/config_models/__init__.py
  process/datadog_checks/process/config_models/defaults.py
  process/datadog_checks/process/config_models/instance.py
  process/datadog_checks/process/config_models/shared.py
  process/datadog_checks/process/config_models/validators.py
  process/datadog_checks/process/process.py
  process/tests/conftest.py
  process/tests/test_integration.py
  process/tests/test_process.py
Labels: integration/process, changelog/Added

#9887 Use dedicated instance logger for connection messages
  ibm_mq/datadog_checks/ibm_mq/connection.py
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/tests/test_ibm_mq_unit.py
Labels: changelog/Fixed, integration/ibm_mq

#9889 Add dependency update process to release docs
  docs/developer/process/agent-release/pre-release.md
Labels: documentation, changelog/no-changelog

#9893 [Release] Bumped sqlserver version to 3.2.0
  .in-toto/tag.57ce2495.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/sqlserver, release

#9865 Send the correct hostname with postgres metrics when DBM is enabled
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_statements.py
Labels: integration/datadog_checks_base, integration/postgres, changelog/Fixed

#9894 Update agent changelog and integrations for 7.30.0 release
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
Labels: documentation, changelog/no-changelog

#9891 Update `metrics` param in OpenMetrics's conf.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy.yaml
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev, integration/openmetrics

#9874 Extend `QueryManager` query type
  datadog_checks_base/datadog_checks/base/utils/db/query.py
  datadog_checks_base/tests/base/utils/db/test_query_manager.py
Labels: integration/datadog_checks_base, changelog/Added

#9875 Add `ifNumber` to `_generic-if.yaml`
  snmp/datadog_checks/snmp/data/profiles/_generic-if.yaml
  snmp/tests/metrics.py
  snmp/tests/test_check.py
  snmp/tests/test_e2e_agent_ad.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_profiles.py
Labels: integration/snmp, changelog/Added

#9659 Fix support for running E2E tests on Windows
  ibm_mq/tests/common.py
  ibm_mq/tests/conftest.py
  ibm_mq/tests/test_ibm_mq_int.py
  ibm_mq/tests/test_ibm_mq_unit.py
  ibm_mq/tests/test_metadata.py
  ibm_mq/tests/test_utils.py
  ibm_mq/tox.ini
Labels: changelog/no-changelog, integration/ibm_mq

#9878 Send the correct hostname with metrics when DBM is enabled
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_mysql.py
Labels: integration/mysql, changelog/Changed

#9892 Add fetching of null row in events_statements_by_digest
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_statements.py
Labels: integration/mysql, changelog/Added

#9896 Add `timeout` option
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/collectors/channel_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/metadata_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/config_models/defaults.py
  ibm_mq/datadog_checks/ibm_mq/config_models/instance.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
Labels: documentation, changelog/Added, integration/ibm_mq

#9897 [Release] Bumped ibm_mq version to 3.14.0
  .in-toto/tag.c295cf63.link
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_mq, release

#9870 Add annotations to http validation
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/http.py
Labels: documentation, integration/couchbase, dev/tooling, integration/apache, changelog/Added, integration/datadog_checks_dev

#9235 Add support for Clickhouse v21
  clickhouse/datadog_checks/clickhouse/queries.py
  clickhouse/metadata.csv
  clickhouse/tests/docker/docker-compose.yaml
  clickhouse/tests/docker/metrika.xml
  clickhouse/tests/docker/override_configs/compression.xml
  clickhouse/tests/docker/override_configs/remote_servers.xml
  clickhouse/tests/docker/override_configs/zookeeper.xml
  clickhouse/tests/metrics.py
  clickhouse/tests/test_clickhouse.py
  clickhouse/tests/test_e2e.py
  clickhouse/tox.ini
Labels: changelog/Added, integration/clickhouse

#9861 Bump openstacksdk and add missing metrics
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  openstack_controller/datadog_checks/openstack_controller/api.py
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  openstack_controller/requirements.in
  openstack_controller/tests/terraform/main.tf
  openstack_controller/tests/test_simple_api.py
Labels: integration/datadog_checks_base, changelog/Added, integration/openstack_controller, dependencies

#9653 [DOCS 2188] - Fix fargate readme link
  eks_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/eks_fargate

#9864 DOCS-2266 Windows Service
  windows_service/README.md
Labels: documentation, changelog/no-changelog, integration/windows_service

#9873 Add annotations to legacy agent signature
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/agent_signature.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#9905 Pin snowflake-connector and requests
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  snowflake/requirements.in
Labels: integration/datadog_checks_base, changelog/Added, dependencies, integration/snowflake

#9629 update metric metadata for DBM query metrics
  postgres/metadata.csv
Labels: changelog/no-changelog, integration/postgres

#9630 update metric metadata for DBM query metrics
  mysql/metadata.csv
Labels: changelog/no-changelog, integration/mysql

#9907 Fix typos in log lines
  cisco_aci/datadog_checks/cisco_aci/api.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validate_snmp_profiles.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/fixed_cards_mover.py
  harbor/datadog_checks/harbor/harbor.py
  ibm_mq/datadog_checks/ibm_mq/collectors/metadata_collector.py
  ibm_mq/datadog_checks/ibm_mq/config.py
  mapr/datadog_checks/mapr/mapr.py
  ssh_check/datadog_checks/ssh_check/ssh_check.py
  vsphere/datadog_checks/vsphere/legacy/vsphere_legacy.py
Labels: dev/tooling, integration/ssh_check, integration/vsphere, changelog/Fixed, integration/cisco_aci, integration/datadog_checks_dev, integration/ibm_mq, integration/harbor, integration/mapr

#9908 Fix typos in config files
  go-metro/assets/configuration/spec.yaml
  go-metro/datadog_checks/go-metro/data/conf.yaml.example
  haproxy/assets/configuration/spec.yaml
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  ibm_db2/assets/configuration/spec.yaml
  ibm_db2/datadog_checks/ibm_db2/data/conf.yaml.example
  kubernetes_state/datadog_checks/kubernetes_state/data/auto_conf.yaml
  kubernetes_state/datadog_checks/kubernetes_state/data/conf.yaml.example
  process/assets/configuration/spec.yaml
  process/datadog_checks/process/data/conf.yaml.example
  rabbitmq/assets/configuration/spec.yaml
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/go-metro, integration/haproxy, integration/kubernetes_state, integration/process, integration/rabbitmq, integration/ibm_db2

#9901 Re-revert cilium AD change
  cilium/assets/configuration/spec.yaml
  cilium/datadog_checks/cilium/data/auto_conf.yaml
Labels: documentation, changelog/Fixed, integration/cilium

#9912 Revert request bump
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  snowflake/requirements.in
Labels: integration/datadog_checks_base, changelog/Fixed, dependencies, integration/snowflake

#9909 Update Postgres / MySQL Readmes to link to DBM
  mysql/README.md
  postgres/README.md
Labels: documentation, changelog/no-changelog, integration/mysql, integration/postgres

#9913 Add E2E tests with fixture data
  snowflake/tests/common.py
  snowflake/tests/conftest.py
  snowflake/tests/mock_snowflake_connector_python/setup.py
  snowflake/tests/mock_snowflake_connector_python/snowflake/__init__.py
  snowflake/tests/mock_snowflake_connector_python/snowflake/connector.py
  snowflake/tests/mock_snowflake_connector_python/snowflake/tables.py
  snowflake/tests/test_e2e.py
  snowflake/tests/test_snowflake.py
  snowflake/tests/test_unit.py
  snowflake/tox.ini
Labels: changelog/no-changelog, integration/snowflake

#8977 Add runtime configuration validation
  redisdb/datadog_checks/redisdb/config_models/__init__.py
  redisdb/datadog_checks/redisdb/config_models/defaults.py
  redisdb/datadog_checks/redisdb/config_models/instance.py
  redisdb/datadog_checks/redisdb/config_models/shared.py
  redisdb/datadog_checks/redisdb/config_models/validators.py
  redisdb/tests/conftest.py
  redisdb/tests/test_auth.py
  redisdb/tests/test_default.py
  redisdb/tests/test_replication.py
  redisdb/tests/test_slowlog.py
  redisdb/tests/test_unit.py
Labels: integration/redisdb, changelog/Added

#9836 Add StatefulSets OOTB dashboard
  kubernetes/assets/dashboards/kubernetes_statefulsets.json
  kubernetes/manifest.json
Labels: documentation, changelog/no-changelog, integration/kubernetes, integration/kubernetes_state

#9821 Do not store previously discovered queues
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
Labels: documentation, changelog/Fixed, integration/ibm_mq

#9914 Fix `oracle.tablespace.in_use` metric unit
  oracle/metadata.csv
Labels: changelog/no-changelog, integration/oracle

#9857 Support collection-agnostic aggregations for custom queries
  mongo/datadog_checks/mongo/collectors/custom_queries.py
  mongo/tests/common.py
  mongo/tests/conftest.py
  mongo/tests/test_mongo.py
Labels: integration/mongo, changelog/Added

#9919 [documentation] fixes broken spacing in the conf.yaml example
  process/README.md
Labels: documentation, changelog/no-changelog, integration/process

#9888 Remove messages for integrations for OK service checks
  airflow/datadog_checks/airflow/airflow.py
  ambari/datadog_checks/ambari/ambari.py
  ambari/tests/test_ambari.py
  couch/datadog_checks/couch/couch.py
  datadog_checks_base/datadog_checks/base/checks/kube_leader/mixins.py
  datadog_checks_base/tests/base/utils/db/test_transformers.py
  datadog_checks_base/tests/stubs/test_aggregator_no_duplicate.py
  datadog_checks_base/tests/stubs/test_aggregator_similar.py
  datadog_checks_base/tests/test_agent_check.py
  gearmand/datadog_checks/gearmand/gearmand.py
  gunicorn/datadog_checks/gunicorn/gunicorn.py
  haproxy/datadog_checks/haproxy/legacy/haproxy.py
  hdfs_datanode/datadog_checks/hdfs_datanode/hdfs_datanode.py
  hdfs_namenode/datadog_checks/hdfs_namenode/hdfs_namenode.py
  http_check/datadog_checks/http_check/http_check.py
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  mapreduce/datadog_checks/mapreduce/mapreduce.py
  marklogic/datadog_checks/marklogic/check.py
  marklogic/tests/test_marklogic.py
  mcache/datadog_checks/mcache/mcache.py
  mesos_master/datadog_checks/mesos_master/mesos_master.py
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
  postgres/datadog_checks/postgres/postgres.py
  process/datadog_checks/process/process.py
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  spark/datadog_checks/spark/spark.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  ssh_check/datadog_checks/ssh_check/ssh_check.py
  supervisord/datadog_checks/supervisord/supervisord.py
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  twistlock/datadog_checks/twistlock/twistlock.py
  vertica/datadog_checks/vertica/vertica.py
  yarn/datadog_checks/yarn/yarn.py
  zk/datadog_checks/zk/zk.py
Labels: integration/http_check, integration/couch, integration/datadog_checks_base, integration/gearmand, integration/gunicorn, integration/haproxy, integration/hdfs_datanode, integration/hdfs_namenode, integration/kubernetes_state, integration/mapreduce, integration/mcache, integration/mesos_master, integration/pgbouncer, integration/postgres, integration/process, integration/rabbitmq, integration/spark, integration/sqlserver, integration/ssh_check, integration/supervisord, integration/tcp_check, integration/yarn, integration/zk, changelog/Removed, integration/twistlock, integration/ambari, integration/vertica, integration/airflow, integration/marklogic

#9915 Refactor annotations into functions
  datadog_checks_dev/datadog_checks/dev/tooling/annotations.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/agent_signature.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/http.py
  datadog_checks_dev/datadog_checks/dev/utils.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#9922 Fix typos found by validation
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/ibm_mq

#9917 Add agent version to postgres database monitoring payloads
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_statements.py
Labels: integration/postgres, changelog/Added

#9916 Add agent version to mysql database monitoring payloads
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_statements.py
Labels: integration/mysql, changelog/Added

#9813 Add `kubernetes_state.statefulset.count` metric
  datadog_checks_base/tests/fixtures/prometheus/ksm.txt
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/metadata.csv
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Labels: integration/datadog_checks_base, integration/kubernetes_state, changelog/Added

#9898 Raise exception during tests for OK service checks sent with messages
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
Labels: integration/datadog_checks_base, changelog/Added

#9902 Add typos validation
  .codespell/ignore_words.txt
  .codespell/setup.cfg
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/typos.py
  datadog_checks_dev/setup.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev, integration/.codespell

#9933 Ignore `cluster-agent` trello cards
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#9850 Update linkerd documentation to openmetrics v2
  linkerd/README.md
  linkerd/assets/configuration/spec.yaml
  linkerd/datadog_checks/linkerd/data/conf.yaml.example
Labels: documentation, documentation/proposal, changelog/no-changelog, integration/linkerd

#9934 Update changelogs for 7.30.1
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
Labels: documentation, changelog/no-changelog

#9855 Make test structure mimic better src structure
  datadog_checks_base/tests/base/checks/__init__.py
  datadog_checks_base/tests/base/checks/openmetrics/__init__.py
  datadog_checks_base/tests/base/checks/openmetrics/bench_utils.py
  datadog_checks_base/tests/base/checks/openmetrics/test_bench.py
  datadog_checks_base/tests/base/checks/openmetrics/test_compat_scraper.py
  datadog_checks_base/tests/base/checks/openmetrics/test_config.py
  datadog_checks_base/tests/base/checks/openmetrics/test_interface.py
  datadog_checks_base/tests/base/checks/openmetrics/test_openmetrics.py
  datadog_checks_base/tests/base/checks/openmetrics/test_openmetrics_base_check.py
  datadog_checks_base/tests/base/checks/openmetrics/test_options.py
  datadog_checks_base/tests/base/checks/openmetrics/test_transformers/__init__.py
  datadog_checks_base/tests/base/checks/openmetrics/test_transformers/test_counter.py
  datadog_checks_base/tests/base/checks/openmetrics/test_transformers/test_counter_gauge.py
  datadog_checks_base/tests/base/checks/openmetrics/test_transformers/test_gauge.py
  datadog_checks_base/tests/base/checks/openmetrics/test_transformers/test_histogram.py
  datadog_checks_base/tests/base/checks/openmetrics/test_transformers/test_metadata.py
  datadog_checks_base/tests/base/checks/openmetrics/test_transformers/test_native_dynamic.py
  datadog_checks_base/tests/base/checks/openmetrics/test_transformers/test_rate.py
  datadog_checks_base/tests/base/checks/openmetrics/test_transformers/test_service_check.py
  datadog_checks_base/tests/base/checks/openmetrics/test_transformers/test_summary.py
  datadog_checks_base/tests/base/checks/openmetrics/test_transformers/test_temporal_percent.py
  datadog_checks_base/tests/base/checks/openmetrics/test_transformers/test_time_elapsed.py
  datadog_checks_base/tests/base/checks/openmetrics/utils.py
  datadog_checks_base/tests/base/checks/prometheus/__init__.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus_base_check.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
  datadog_checks_base/tests/base/checks/test_kube_leader.py
  datadog_checks_base/tests/base/checks/test_kubelet_base.py
  datadog_checks_base/tests/base/checks/win/__init__.py
  datadog_checks_base/tests/base/checks/win/test_pdhbasecheck.py
  datadog_checks_base/tests/base/checks/win/test_winpdh.py
  datadog_checks_base/tests/base/checks/win/test_wmicheck.py
  datadog_checks_base/tests/base/checks/win/test_wmisampler.py
  datadog_checks_base/tests/base/test_constants.py
  datadog_checks_base/tests/base/test_ddyaml.py
  datadog_checks_base/tests/base/utils/test_agent_packages.py
  datadog_checks_base/tests/base/utils/test_agent_utils.py
  datadog_checks_base/tests/base/utils/test_aws.py
  datadog_checks_base/tests/base/utils/test_http.py
  datadog_checks_base/tests/base/utils/test_time.py
  datadog_checks_base/tests/base/utils/test_tls.py
  datadog_checks_base/tests/base/utils/test_tracing.py
  datadog_checks_base/tests/base/utils/test_utils.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_base

#9918 Add more assertions to coredns e2e test
  coredns/tests/test_e2e.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_base, integration/coredns, qa/skip-qa

#9932 Update istio and envoy docs with related monitoring
  envoy/README.md
  istio/README.md
Labels: documentation, changelog/no-changelog, integration/envoy, integration/istio

#9884 Update postgres obfuscator options config
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
Labels: documentation, integration/postgres, changelog/Changed

#9885 Update mysql obfuscator options config
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
Labels: documentation, integration/mysql, changelog/Changed

#9928 Collect settings from pg_settings and submit pg_stat_statements metrics
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_statements.py
Labels: integration/postgres, changelog/Added

#9935 Support clusters resource type
  marklogic/datadog_checks/marklogic/constants.py
  marklogic/tests/fixtures/cluster-query.yaml
  marklogic/tests/test_parsers.py
Labels: changelog/Fixed, integration/marklogic

#9939 Change `ignite.total_allocated_pages` and `ignite.total_allocated_size` from monotonic_count to gauge
  ignite/datadog_checks/ignite/data/metrics.yaml
  ignite/metadata.csv
  ignite/tests/common.py
Labels: changelog/Changed, integration/ignite

#9930 Add support for kind config
  datadog_checks_dev/datadog_checks/dev/kind.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#9929 Add kind to e2e
  istio/tests/README.md
  istio/tests/conftest.py
  istio/tests/kind/demo_profile.yaml
  istio/tests/terraform/1.5.1/kubeconfig-template.yaml
  istio/tests/terraform/1.5.1/main.tf
  istio/tests/terraform/1.5.1/script.py
  istio/tests/test_e2e.py
  istio/tox.ini
Labels: documentation, changelog/no-changelog, integration/istio

#9948 Do not to pass kind config if it's None
  datadog_checks_dev/datadog_checks/dev/kind.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#9950 Release new integrations in 7.31
  datadog_cluster_agent/CHANGELOG.md
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/__about__.py
Labels: changelog/no-changelog, release, integration/datadog_cluster_agent

#9936 Revert "Raise exception during tests for OK service checks sent with messages"
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#9956 Pin tomcat docker version
  tomcat/tests/compose/docker-compose.yml
Labels: changelog/no-changelog, dev/testing, integration/tomcat

#9959 [Release] Update metadata for datadog cluster agent
  .in-toto/tag.57ce2495.link
Labels: changelog/no-changelog

#9931 Add a note to HTTP Check and TCP Check pages
  http_check/README.md
  tcp_check/README.md
Labels: documentation, changelog/no-changelog, integration/http_check, integration/tcp_check

#9942 Update Tracing link in Amazon EKS on AWS Fargate
  eks_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/eks_fargate

#9960 Bump avi base package
  avi_vantage/setup.py
Labels: changelog/Fixed, integration/avi_vantage

#9963 Release integrations for RC3
  .in-toto/tag.57ce2495.link
  avi_vantage/CHANGELOG.md
  avi_vantage/datadog_checks/avi_vantage/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release, integration/avi_vantage

#9965 Elevate log level for failed connections
  tcp_check/datadog_checks/tcp_check/tcp_check.py
Labels: integration/tcp_check, changelog/Fixed

#9974 Release intg for RC4
  .in-toto/tag.57ce2495.link
  requirements-agent-release.txt
  tcp_check/CHANGELOG.md
  tcp_check/datadog_checks/tcp_check/__about__.py
Labels: changelog/no-changelog, integration/tcp_check, release

#9955 Add try-catch on queue closure
  ibm_mq/datadog_checks/ibm_mq/collectors/stats_collector.py
Labels: changelog/Fixed, integration/ibm_mq

#9969 Add debug lines about discovered queues
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
Labels: changelog/Fixed, integration/ibm_mq

#9980 Add more unit tests
  ibm_db2/datadog_checks/ibm_db2/ibm_db2.py
  ibm_db2/tests/README.md
  ibm_db2/tests/test_unit.py
Labels: documentation, changelog/no-changelog, dev/testing, integration/ibm_db2

#9993 Update Amazon MSK documentation to the new implementation
  amazon_msk/README.md
  amazon_msk/assets/configuration/spec.yaml
  amazon_msk/datadog_checks/amazon_msk/config_models/defaults.py
  amazon_msk/datadog_checks/amazon_msk/config_models/instance.py
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
Labels: documentation, changelog/Changed, integration/amazon_msk

#9911 Fix typo in comments
  confluent_platform/datadog_checks/confluent_platform/data/metrics.yaml
Labels: changelog/no-changelog, integration/confluent_platform

#9971 Add test for invalid server
  oracle/tests/test_oracle.py
Labels: changelog/no-changelog, integration/oracle

#10012 Fix crash when some permissions are missing
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/fixtures/host_tags_values.json
  vsphere/tests/fixtures/topology.json
  vsphere/tests/mocked_api.py
Labels: integration/vsphere, changelog/Fixed

#9964 Add test for unknown service check status
  ibm_mq/tests/test_ibm_mq_int.py
Labels: changelog/no-changelog, integration/ibm_mq

#9973 Add empty_default_hostname to dd_environment
  vsphere/tests/common.py
Labels: changelog/no-changelog, integration/vsphere

#9989 Avoid re-explaining queries that cannot be explained
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/tests/test_statements.py
Labels: integration/mysql, changelog/Fixed

#10009 Revert "Pin regex"
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#9951 Fix bug when PR body is empty and include DBM team to selector
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10001 Add option to control the submission of histogram metrics
  directory/assets/configuration/spec.yaml
  directory/datadog_checks/directory/config.py
  directory/datadog_checks/directory/config_models/defaults.py
  directory/datadog_checks/directory/config_models/instance.py
  directory/datadog_checks/directory/data/conf.yaml.example
  directory/datadog_checks/directory/directory.py
  directory/tests/test_directory.py
Labels: documentation, integration/directory, changelog/Added

#9986 DOCS-2353 Lint Developers documentation
  docs/dev/README.md
  docs/dev/check_references.md
  docs/dev/legacy.md
  docs/dev/new_check_howto.md
  docs/dev/python.md
Labels: documentation, changelog/no-changelog

#9995 Update list of beta packages
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#9994 Update log message
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
Labels: changelog/no-changelog, integration/openstack_controller

#10015 [Release] Bumped vsphere version to 5.11.2
  .in-toto/tag.bb47f8e8.link
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere, release

#9985 Add test for no leaked password
  openstack_controller/tests/conftest.py
  openstack_controller/tests/test_openstack.py
Labels: changelog/no-changelog, integration/openstack_controller

#9975 Update testing docs
  ibm_mq/tests/README.md
Labels: changelog/no-changelog

#9996 Fix terraform templates
  datadog_checks_dev/datadog_checks/dev/tooling/templates/terraform/gke_config.tf
  datadog_checks_dev/datadog_checks/dev/tooling/templates/terraform/providers.tf
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#9997 Add unit tests to verify service check mapping
  proxysql/tests/common.py
  proxysql/tests/test_unit.py
Labels: changelog/no-changelog, integration/proxysql

#9944 Annotating display_queue
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/annotations.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/service_checks.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#9900 Add autodiscovered database connection service check
  sqlserver/assets/service_checks.json
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_integration.py
Labels: integration/sqlserver, changelog/Added

#9941 Avoid re-explaining queries that cannot be explained
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/compose/resources/02_setup.sh
  postgres/tests/test_statements.py
Labels: integration/postgres, changelog/Fixed

#8954 Add runtime configuration validation
  mcache/datadog_checks/mcache/config_models/__init__.py
  mcache/datadog_checks/mcache/config_models/defaults.py
  mcache/datadog_checks/mcache/config_models/instance.py
  mcache/datadog_checks/mcache/config_models/shared.py
  mcache/datadog_checks/mcache/config_models/validators.py
  mcache/tests/test_integration_e2e.py
Labels: integration/mcache, changelog/Added

#10019 [Release] Bumped sqlserver version to 4.1.0
  .in-toto/tag.47c5a022.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/sqlserver, release
