Repository DataDog/integrations-core, pull requests merged in 2021-09, with the labels that each got.

#10017 Stop emitting incorrect queue warning
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
Labels: changelog/Fixed, integration/ibm_mq

#8957 Add runtime configuration validation
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/config_models/__init__.py
  mongo/datadog_checks/mongo/config_models/defaults.py
  mongo/datadog_checks/mongo/config_models/deprecations.py
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/config_models/shared.py
  mongo/datadog_checks/mongo/config_models/validators.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/tests/test_integration.py
  mongo/tests/test_mongo.py
Labels: documentation, integration/mongo, changelog/Added

#9927 Update install script link
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks

#10014 prevent creation of datadog named integrations
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/validator.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#9976 gitlab-runner bump image for testing
  gitlab_runner/tests/compose/docker-compose.yml
  gitlab_runner/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/gitlab_runner, qa/skip-qa

#9954 [CI] Remove size:large from gitlab jobs
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#9953 Update vault metrics
  vault/datadog_checks/vault/metrics.py
Labels: changelog/Added, integration/vault

#9972 Assert raft metric
  consul/tests/common.py
Labels: changelog/no-changelog

#10031 [Release] Bumped oracle version to 3.4.0
  .in-toto/tag.47c5a022.link
  oracle/CHANGELOG.md
  oracle/datadog_checks/oracle/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/oracle, release

#10026 Set disable_unsafe_yaml default value
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
Labels: integration/datadog_checks_base, changelog/Fixed

#10035 Fix flaky test
  datadog_checks_base/tests/conftest.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#10020 Enable exclude_labels and update documentation
  istio/README.md
  istio/assets/configuration/spec.yaml
  istio/datadog_checks/istio/data/auto_conf.yaml
  istio/datadog_checks/istio/data/conf.yaml.example
  istio/tests/common.py
  istio/tests/test_istio.py
Labels: documentation, integration/istio, changelog/Added

#9899 Annotate dashboard and recommended monitors validation
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dashboards.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/recommended_monitors.py
Labels: documentation, dev/tooling, changelog/Added, integration/datadog_checks_dev

#9988 Fix E2E environment to start with the proper instance
  avi_vantage/tests/conftest.py
Labels: changelog/no-changelog, integration/avi_vantage

#9808 gitlab runner test revamp
  gitlab_runner/tests/common.py
  gitlab_runner/tests/conftest.py
  gitlab_runner/tests/test_e2e.py
  gitlab_runner/tests/test_integration.py
  gitlab_runner/tests/test_integration_e2e.py
  gitlab_runner/tests/test_unit.py
Labels: changelog/no-changelog, dev/testing, integration/gitlab_runner, qa/skip-qa

#10021 Fix note widget order for the tomcat dashboard
  tomcat/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/tomcat

#10044 [SNMP][tests] open files in 'wb' mode when serialising yaml
  snmp/tests/conftest.py
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
Labels: changelog/no-changelog, dev/testing, integration/snmp

#10043 Rerun test on PY2
  datadog_checks_base/tests/base/utils/test_http.py
  datadog_checks_dev/setup.py
Labels: integration/datadog_checks_base, changelog/Fixed, integration/datadog_checks_dev

#9879 Update CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog

#10041 Don't read from nonexistent manifest files
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10032 Allow non-default yaml loader and dumper
  datadog_checks_base/datadog_checks/base/ddyaml.py
Labels: integration/datadog_checks_base, changelog/Fixed

#10038 Comment on validations failure
  .github/workflows/validations.yaml
Labels: changelog/no-changelog, dev/tooling, integration/amazon_eks

#10040 Add `datadog_checks_dependency_provider` check
  datadog_checks_dependency_provider/CHANGELOG.md
  datadog_checks_dependency_provider/MANIFEST.in
  datadog_checks_dependency_provider/README.md
  datadog_checks_dependency_provider/datadog_checks/__init__.py
  datadog_checks_dependency_provider/datadog_checks/datadog_checks_dependency_provider/__about__.py
  datadog_checks_dependency_provider/datadog_checks/datadog_checks_dependency_provider/__init__.py
  datadog_checks_dependency_provider/datadog_checks/datadog_checks_dependency_provider/data/conf.yaml.example
  datadog_checks_dependency_provider/requirements.in
  datadog_checks_dependency_provider/setup.py
Labels: documentation, changelog/Added, integration/datadog_checks_dependency_provider

#10047 Skip flaky Postgres test for samples cache
  postgres/tests/test_statements.py
Labels: changelog/no-changelog, integration/postgres

#10046 Update release tooling to support `datadog_checks_dependency_provider`
  datadog_checks_dev/datadog_checks/dev/tooling/release.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10048 [Release] Bumped datadog_checks_dependency_provider version to 1.0.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dependency_provider/CHANGELOG.md
  datadog_checks_dependency_provider/datadog_checks/datadog_checks_dependency_provider/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dependency_provider

#10037 Add base tags to `zookeeper.instances.*`
  zk/datadog_checks/zk/zk.py
  zk/tests/conftest.py
  zk/tests/test_zk.py
Labels: changelog/no-changelog, integration/zk

#10050 Add dependency `foundationdb` version `6.3.18`
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_dependency_provider/requirements.in
Labels: integration/datadog_checks_base, changelog/Added, dependencies, integration/datadog_checks_dependency_provider

#10033 Add max_client_conn metric
  pgbouncer/datadog_checks/pgbouncer/metrics.py
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
  pgbouncer/metadata.csv
  pgbouncer/tests/test_pgbouncer_integration_e2e.py
Labels: integration/pgbouncer, changelog/Added

#10028 Allow double quote on requirement
  datadog_checks_dev/datadog_checks/dev/tooling/dependencies.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10057 Bumped pgbouncer version to 3.1.0
  .in-toto/tag.024e42fe.link
  pgbouncer/CHANGELOG.md
  pgbouncer/datadog_checks/pgbouncer/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/pgbouncer, release

#10059 Make dd.mongodb.custom.queries_slower_than_60sec.secs_running optional
  mongo/tests/test_mongo.py
Labels: changelog/no-changelog, integration/mongo

#9991 Fix snmprec ifNumber value
  snmp/tests/compose/data/generic-router.snmprec
  snmp/tests/test_profiles.py
Labels: changelog/no-changelog, integration/snmp

#9967 [ddev] Fix warning for snmp generate profile command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/generate_profile.py
Labels: dev/tooling, integration/snmp, integration/datadog_checks_dev

#10062 Add test for critical service check and fix namespace
  snowflake/datadog_checks/snowflake/check.py
  snowflake/tests/test_snowflake.py
Labels: changelog/Changed, integration/snowflake

#10002 Fix mem usage % in Kubernetes nodes dashboard
  kubernetes/assets/dashboards/kubernetes_nodes.json
Labels: changelog/no-changelog, integration/kubernetes

#10060 Bump snowflake and requests for Py3
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  snowflake/requirements.in
Labels: integration/datadog_checks_base, changelog/Fixed, dependencies, integration/snowflake

#10064 [Release] Bumped datadog_checks_base version to 21.1.0
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#9945 Add support for testing new versions of products
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10065 Update fluent image tag recommendation to stable
  ecs_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/ecs_fargate

#10067 Add `latest` to the list of known environments to skip for default E2E
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#9938 Change weekly CI job to also verify support for new product versions
  .azure-pipelines/latest_metrics.yml
  .azure-pipelines/templates/run-tests.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  airflow/tests/compose/latest/.gitignore
  airflow/tests/compose/latest/Dockerfile
  airflow/tests/compose/latest/docker-compose.yaml
  airflow/tests/compose/latest/init.sh
  airflow/tests/compose/latest/tmp_data/.keep
  airflow/tox.ini
  clickhouse/tox.ini
  docs/developer/.scripts/33_render_status.py
Labels: changelog/no-changelog, dev/testing, integration/clickhouse, integration/airflow

#9940 Add support for `latest` builds
  redisdb/tox.ini
Labels: changelog/no-changelog, integration/redisdb

#10066 [proc] add 'php-fpm:' to process signature
  php_fpm/manifest.json
Labels: documentation, changelog/no-changelog, integration/php_fpm

#10071 Style fix
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#9984 Add 'rabbitmq-server' to process signature
  rabbitmq/manifest.json
Labels: documentation, changelog/no-changelog, integration/rabbitmq

#10063 Add critical service check test to integration template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/{check_name}/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/tests/test_{check_name}.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10068 Update openmetrics doc for v2
  openmetrics/README.md
  openmetrics/assets/configuration/spec.yaml
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: documentation, changelog/Added, integration/openmetrics

#10016 DOCS-2417 Consul Further Reading Section Edits
  consul/README.md
Labels: documentation, changelog/no-changelog, integration/consul

#10073 Changed the link to redirect to the conf file
  kong/README.md
Labels: documentation, changelog/no-changelog, integration/kong

#9968 Add support for manifest v2 validations
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/datastructures.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/common/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/common/validator.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v1/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v1/schema.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v1/validator.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/validator.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/validator.py
  datadog_checks_dev/tests/tooling/manifest_validator/test_validator.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10075 Rename weekly pipeline to `latest`
  .azure-pipelines/latest.yml
  .azure-pipelines/templates/run-tests.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: changelog/no-changelog, dev/testing

#10072 Add autodiscovery_subnet tag to discovered_devices_count metric
  snmp/datadog_checks/snmp/snmp.py
  snmp/tests/test_check.py
Labels: integration/snmp, changelog/Added

#9952 Update mib_source_url to our own fork of mibs.snmplabs.com
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/generate_profile.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/translate_profile.py
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
Labels: dev/tooling, changelog/Changed, integration/datadog_checks_dev

#10078 Bump base package requirement
  snmp/setup.py
Labels: integration/snmp, changelog/Fixed

#10077 Properly allow the skipping of regular tests and benchmarks
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
Labels: changelog/no-changelog, dev/testing

#10082 Allow the use of ddtrace for E2E tests
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10074 Add borrower and pysmi logs to MIB compiler
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/generate_profile.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/translate_profile.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10084 Add CI App support to `latest` pipeline
  .azure-pipelines/latest.yml
  .azure-pipelines/templates/run-tests.yml
Labels: changelog/no-changelog, dev/testing

#10087 [Release] Bumped vault version to 2.16.0
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  vault/CHANGELOG.md
  vault/datadog_checks/vault/__about__.py
Labels: changelog/no-changelog, integration/vault, release

#9958 Raise exception for OK service checks with messages
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#10086 [ddev] instantiate borrowers in snmp profile generator
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/generate_profile.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10092 Regenerate certificates
  ibm_mq/tests/keys/README.md
  ibm_mq/tests/keys/client.crl
  ibm_mq/tests/keys/client.kdb
  ibm_mq/tests/keys/client.pem
  ibm_mq/tests/keys/client.rdb
  ibm_mq/tests/keys/client.sth
  ibm_mq/tests/keys/qm1.crl
  ibm_mq/tests/keys/qm1.kdb
  ibm_mq/tests/keys/qm1.pem
  ibm_mq/tests/keys/qm1.rdb
  ibm_mq/tests/keys/qm1.sth
Labels: changelog/no-changelog, dev/testing, integration/ibm_mq

#10094 release checks base
  .in-toto/tag.0244aaa8.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#10095 Make avi_vantage public
  avi_vantage/manifest.json
Labels: documentation, changelog/no-changelog, integration/avi_vantage

#10093 Support opensearch
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/common.py
  elastic/tests/compose/docker-compose.yaml
  elastic/tests/conftest.py
  elastic/tests/test_elastic.py
  elastic/tox.ini
Labels: integration/elastic, changelog/Added

#10089 Add more descriptive warning message
  go_expvar/datadog_checks/go_expvar/go_expvar.py
  go_expvar/tests/test_unit.py
Labels: changelog/no-changelog, integration/go_expvar

#10096 Bumped elastic version to 3.2.0
  .in-toto/tag.024e42fe.link
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/elastic, release

#10025 Update README.md
  systemd/README.md
Labels: documentation, changelog/no-changelog, integration/systemd

#10090 Make E2E fixture tests use the real library
  snowflake/tests/common.py
  snowflake/tests/mock_snowflake_connector_python/setup.py
  snowflake/tests/mock_snowflake_connector_python/snowflake/__init__.py
  snowflake/tests/snowflake_connector_patch/_snowflake_connector_patch.pth
  snowflake/tests/snowflake_connector_patch/_snowflake_connector_patch/__init__.py
  snowflake/tests/snowflake_connector_patch/_snowflake_connector_patch/connector.py
  snowflake/tests/snowflake_connector_patch/_snowflake_connector_patch/tables.py
  snowflake/tests/snowflake_connector_patch/pyproject.toml
  snowflake/tox.ini
Labels: changelog/no-changelog, integration/snowflake

#10036 Fix flaky test
  mongo/tests/test_mongo.py
Labels: changelog/no-changelog, integration/mongo

#9854 snowflake disable generic tags
  snowflake/assets/configuration/spec.yaml
  snowflake/datadog_checks/snowflake/check.py
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  snowflake/setup.py
  snowflake/tests/common.py
  snowflake/tests/test_e2e.py
  snowflake/tests/test_snowflake.py
  snowflake/tests/test_unit.py
  snowflake/tox.ini
Labels: documentation, changelog/Added, integration/snowflake

#10053 Echo warning for unnecessary params used
  cloud_foundry_api/datadog_checks/cloud_foundry_api/cloud_foundry_api.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/http.py
  voltdb/datadog_checks/voltdb/client.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev, integration/cloud_foundry_api, integration/voltdb

#10055 Use regex to parse for http wrapper instead of reading by line
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/http.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev, integration/cloud_foundry_api, integration/voltdb

#10081 Update vSphere README
  vsphere/README.md
Labels: documentation, changelog/no-changelog, integration/vsphere

#10098 Fix TLSContextWrapper to not override tls_verify
  datadog_checks_base/datadog_checks/base/utils/tls.py
  datadog_checks_base/tests/base/utils/test_tls.py
Labels: integration/datadog_checks_base, changelog/Fixed

#10051 Change directory parameter to optional
  postfix/README.md
  postfix/assets/configuration/spec.yaml
  postfix/datadog_checks/postfix/config_models/defaults.py
  postfix/datadog_checks/postfix/config_models/instance.py
  postfix/datadog_checks/postfix/data/conf.yaml.example
Labels: documentation, integration/postfix, changelog/Fixed

#10111 DOCS-2446 fixin borked hashes
  eks_fargate/README.md
  mongo/README.md
  mysql/README.md
  nginx/README.md
Labels: documentation, changelog/no-changelog, integration/mongo, integration/mysql, integration/nginx, integration/eks_fargate

#10108 Annotate EULA and agent requirements validation
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/agent_reqs.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/eula.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#9992 Add IBM i integration
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  .github/CODEOWNERS
  docs/developer/architecture/ibm_i.md
  ibm_i/CHANGELOG.md
  ibm_i/MANIFEST.in
  ibm_i/README.md
  ibm_i/assets/configuration/spec.yaml
  ibm_i/assets/dashboards/ibm_i_overview.json
  ibm_i/assets/service_checks.json
  ibm_i/datadog_checks/__init__.py
  ibm_i/datadog_checks/ibm_i/__about__.py
  ibm_i/datadog_checks/ibm_i/__init__.py
  ibm_i/datadog_checks/ibm_i/check.py
  ibm_i/datadog_checks/ibm_i/config_models/__init__.py
  ibm_i/datadog_checks/ibm_i/config_models/defaults.py
  ibm_i/datadog_checks/ibm_i/config_models/instance.py
  ibm_i/datadog_checks/ibm_i/config_models/shared.py
  ibm_i/datadog_checks/ibm_i/config_models/validators.py
  ibm_i/datadog_checks/ibm_i/data/conf.yaml.example
  ibm_i/datadog_checks/ibm_i/queries.py
  ibm_i/datadog_checks/ibm_i/query_script.py
  ibm_i/images/.gitkeep
  ibm_i/manifest.json
  ibm_i/metadata.csv
  ibm_i/requirements-dev.txt
  ibm_i/requirements.in
  ibm_i/setup.py
  ibm_i/tests/__init__.py
  ibm_i/tests/conftest.py
  ibm_i/tests/test_ibm_i.py
  ibm_i/tox.ini
Labels: documentation, dev/testing, changelog/Added, editorial review, integration/ibm_i

#10117 Run `ddev validate models -s` on ibm_i
  ibm_i/datadog_checks/ibm_i/config_models/defaults.py
  ibm_i/datadog_checks/ibm_i/config_models/instance.py
Labels: changelog/no-changelog, integration/ibm_i

#10103 Include disable_generic_tags in README
  snowflake/README.md
Labels: documentation, changelog/no-changelog, integration/snowflake

#10100 Add server as generic tag
  avi_vantage/tox.ini
  clickhouse/tox.ini
  datadog_checks_base/datadog_checks/base/utils/tagging.py
  gearmand/tox.ini
  ibm_was/tox.ini
  jboss_wildfly/tox.ini
  mysql/tox.ini
  openstack/tox.ini
  oracle/tox.ini
  sap_hana/tox.ini
  tls/tox.ini
Labels: integration/datadog_checks_base, integration/gearmand, integration/mysql, integration/openstack, integration/oracle, changelog/Fixed, integration/ibm_was, integration/tls, integration/jboss_wildfly, integration/sap_hana, integration/clickhouse, integration/avi_vantage

#10113 Annotate jmx metric validation
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/jmx_metrics.py
Labels: documentation, dev/tooling, changelog/Added, integration/datadog_checks_dev

#10106 Allow exclusion of specific branch for changelog generation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/show/changes.py
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10119 Bump mypy
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#10109 Update logic to run sudo for `num_fds`
  process/datadog_checks/process/process.py
Labels: integration/process, changelog/Fixed

#10076 Add debug lines for support
  cisco_aci/datadog_checks/cisco_aci/tenant.py
Labels: changelog/no-changelog, integration/cisco_aci

#10123 Undo unintended changes added in #10109
  process/datadog_checks/process/process.py
Labels: changelog/no-changelog, integration/process

#10116 Annotate readme validations
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
Labels: documentation, dev/tooling, changelog/Added, integration/datadog_checks_dev

#10052 Add e2e test for ambari
  ambari/datadog_checks/ambari/ambari.py
  ambari/tests/conftest.py
  ambari/tests/test_ambari.py
  ambari/tox.ini
Labels: changelog/Fixed, integration/ambari

#10114 Annotate licenses
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10132 Make troubleshooting steps more explicit
  vsphere/README.md
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/vsphere

#10134 Fix mypy tests
  aerospike/tox.ini
  azure_iot_edge/tox.ini
  cloud_foundry_api/tox.ini
  datadog_checks_base/tox.ini
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
  glusterfs/tox.ini
  ibm_mq/tox.ini
  marklogic/tox.ini
  mysql/tox.ini
  postgres/tox.ini
  rethinkdb/tox.ini
  snmp/tox.ini
  snowflake/tox.ini
  voltdb/tox.ini
  vsphere/tox.ini
Labels: integration/datadog_checks_base, integration/mysql, integration/postgres, integration/snmp, integration/vsphere, changelog/Fixed, integration/datadog_checks_dev, integration/ibm_mq, integration/aerospike, integration/rethinkdb, integration/marklogic, integration/cloud_foundry_api, integration/snowflake, integration/azure_iot_edge, integration/voltdb, integration/glusterfs

#10136 Fix glusterfs mypy test
  glusterfs/tox.ini
Labels: changelog/no-changelog, integration/glusterfs

#10124 Remove annotation for unnecessary warning
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/agent_reqs.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10115 Annotate package validation
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/package.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10137 [Release] Bumped process version to 2.1.0
  .in-toto/tag.c295cf63.link
  process/CHANGELOG.md
  process/datadog_checks/process/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/process, release

#9572 Add missing metrics to network check metatada file
  network/metadata.csv
Labels: changelog/no-changelog, integration/network

#10125 [Release] Bumped ibm_i version to 1.0.0
  .in-toto/tag.57ce2495.link
  ibm_i/CHANGELOG.md
  ibm_i/datadog_checks/ibm_i/__about__.py
Labels: changelog/no-changelog, release, integration/ibm_i

#10122 [kubernetes] Fix OOTB dashboards
  kubernetes/assets/dashboards/kubernetes_dashboard.json
  kubernetes/assets/dashboards/kubernetes_deployments.json
  kubernetes/assets/dashboards/kubernetes_pods.json
  kubernetes/assets/dashboards/kubernetes_statefulsets.json
  kubernetes/assets/monitors/monitor_deployments_replicas.json
  kubernetes/assets/monitors/monitor_statefulset_replicas.json
Labels: changelog/no-changelog, integration/kubernetes

#10097 Update README.md
  elastic/README.md
Labels: changelog/no-changelog, integration/elastic

#10128 Annotate metadata validation
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#9537 Document containerd and docker uptime metrics in metadata
  containerd/metadata.csv
  docker_daemon/metadata.csv
Labels: changelog/no-changelog, integration/docker_daemon, integration/containerd

#10140 Updating to add version requirements
  sonarqube/metadata.csv
Labels: changelog/no-changelog, integration/sonarqube

#10141 Remove harbor-2.3 environment
  harbor/tox.ini
Labels: changelog/no-changelog, integration/harbor

#10142 [cri] Add cri uptime metric to metadata
  cri/metadata.csv
Labels: changelog/no-changelog, integration/cri

#10130 Annotate saved views validation
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/saved_views.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10146 Fix packaging
  pan_firewall/MANIFEST.in
  pan_firewall/assets/configuration/spec.yaml
  pan_firewall/assets/dashboards/palo_alto_networks_firewall_overview.json
  pan_firewall/datadog_checks/__init__.py
  pan_firewall/datadog_checks/pan_firewall/__about__.py
  pan_firewall/datadog_checks/pan_firewall/__init__.py
  pan_firewall/datadog_checks/pan_firewall/data/conf.yaml.example
  pan_firewall/images/.gitkeep
  pan_firewall/requirements-dev.txt
  pan_firewall/requirements.in
Labels: documentation, changelog/Fixed, integration/pan_firewall

#10147 [Release] Bumped pan_firewall version to 1.0.0
  .in-toto/tag.57ce2495.link
  pan_firewall/CHANGELOG.md
  pan_firewall/datadog_checks/pan_firewall/__about__.py
Labels: changelog/no-changelog, integration/pan_firewall

#10148 Add new release to agent-req
  requirements-agent-release.txt
Labels: changelog/no-changelog, release

#10149 Fix metric used in "Ready" query value widget
  kubernetes/assets/dashboards/kubernetes_daemonsets.json
Labels: changelog/no-changelog, integration/kubernetes

#10127 Allow kube port forwarding to support any resource
  cilium/tests/conftest.py
  datadog_checks_dev/datadog_checks/dev/kube_port_forward.py
  istio/tests/conftest.py
  linkerd/tests/conftest.py
Labels: integration/istio, integration/linkerd, changelog/Added, integration/datadog_checks_dev, integration/cilium

#9667 Add Avi Vantage to INTEGRATION_LOGS_NOT_POSSIBLE
  datadog_checks_dev/datadog_checks/dev/tooling/catalog_const.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#9925 Add Avi Vantage overview dashboard
  avi_vantage/assets/dashboards/overview.json
  avi_vantage/manifest.json
Labels: documentation, changelog/no-changelog, integration/avi_vantage

#10070 Better naming for snmp envs
  snmp/tests/common.py
  snmp/tests/conftest.py
  snmp/tests/test_check.py
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_e2e_python.py
  snmp/tests/test_e2e_snmp_listener.py
  snmp/tests/test_parsing.py
  snmp/tests/test_profiles.py
  snmp/tests/test_unit.py
  snmp/tests/test_utils.py
  snmp/tox.ini
Labels: changelog/no-changelog, integration/snmp, changelog/Fixed

#10150 Bumped harbor version to 1.10.0
  .in-toto/tag.024e42fe.link
  harbor/CHANGELOG.md
  harbor/datadog_checks/harbor/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/harbor, release

#10079 Add snmp corecheck autodiscovery integration configs
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: documentation, integration/snmp, changelog/Added

#10102 Add SNMP Corecheck Autodiscovery e2e tests
  snmp/tests/common.py
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_vs_python.py
Labels: changelog/no-changelog, integration/snmp

#10151 Update wildfly tests
  jboss_wildfly/tests/test_check.py
Labels: changelog/no-changelog, dev/testing, integration/jboss_wildfly

#10152 Remove unused ssl_context documentation
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/config_models/defaults.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/instance.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
Labels: documentation, integration/kafka_consumer, changelog/Fixed

#10154 Revert "Allow non-default yaml loader and dumper (#10032)"
  datadog_checks_base/datadog_checks/base/ddyaml.py
Labels: integration/datadog_checks_base, changelog/Fixed

#10161 Update README.md
  linkerd/README.md
Labels: documentation, changelog/no-changelog, integration/linkerd

#10165 Add limit to tag split
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: integration/datadog_checks_base, changelog/Fixed

#10166 release checks base
  .in-toto/tag.0244aaa8.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#10099 Add option to disable generic tags on postgres
  postgres/README.md
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/setup.py
  postgres/tests/conftest.py
  postgres/tests/test_custom_metrics.py
  postgres/tests/test_e2e.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_relations.py
  postgres/tests/test_statements.py
  postgres/tests/test_unit.py
  postgres/tox.ini
Labels: documentation, integration/postgres, changelog/Changed

#10163 Add force yaml loader utils
  datadog_checks_base/datadog_checks/base/ddyaml.py
  datadog_checks_base/tests/base/test_ddyaml.py
Labels: integration/datadog_checks_base, changelog/Added

#10164 Add disable_generic tag to AVI
  avi_vantage/assets/configuration/spec.yaml
  avi_vantage/assets/dashboards/avi_vantage_overview.json
  avi_vantage/datadog_checks/avi_vantage/check.py
  avi_vantage/datadog_checks/avi_vantage/config_models/defaults.py
  avi_vantage/datadog_checks/avi_vantage/data/conf.yaml.example
  avi_vantage/setup.py
  avi_vantage/tests/conftest.py
  avi_vantage/tox.ini
Labels: do-not-merge/WIP, documentation, changelog/Changed, integration/avi_vantage

#10168 Upgrade airflow test environment
  airflow/tests/compose/v2/Dockerfile
  airflow/tests/conftest.py
Labels: changelog/no-changelog, integration/airflow

#10159 [Release] Bumped rabbitmq version to 2.1.0
  .in-toto/tag.eabca4ac.link
  rabbitmq/CHANGELOG.md
  rabbitmq/datadog_checks/rabbitmq/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/rabbitmq, release

#10088 Meta command to migrate manifest to V2
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/manifest.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#10157 Create tests for new V2 manifest validators
  datadog_checks_dev/tests/tooling/manifest_validator/input_constants.py
  datadog_checks_dev/tests/tooling/manifest_validator/test_v2_validator.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_dev

#10131 Annotate models validations
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
Labels: dev/tooling, integration/directory, changelog/Added, integration/datadog_checks_dev

#10112 Annotate imports validation
  .github/workflows/validations.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/imports.py
Labels: dev/tooling, integration/directory, changelog/Added, integration/datadog_checks_dev

#10171 [Release] Bumped ibm_mq version to 3.15.0
  .in-toto/tag.31091c85.link
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/ibm_mq, release

#10169 Restart container on failures
  elastic/tests/compose/docker-compose.yaml
Labels: changelog/no-changelog, integration/elastic, qa/skip-qa

#10121 Refactor `process` integration
  process/datadog_checks/process/process.py
  process/tests/test_integration.py
  process/tests/test_process.py
Labels: changelog/no-changelog, integration/process

#10173 Update .gitignore
  .gitignore
Labels: changelog/no-changelog

#10023 Add option to disable persistent database connections
  sap_hana/assets/configuration/spec.yaml
  sap_hana/datadog_checks/sap_hana/config_models/defaults.py
  sap_hana/datadog_checks/sap_hana/config_models/instance.py
  sap_hana/datadog_checks/sap_hana/config_models/shared.py
  sap_hana/datadog_checks/sap_hana/data/conf.yaml.example
  sap_hana/datadog_checks/sap_hana/sap_hana.py
Labels: documentation, changelog/Added, integration/sap_hana

#10174 Fix doc links
  coredns/README.md
  supervisord/README.md
Labels: documentation, changelog/no-changelog, integration/supervisord, integration/coredns

#10176 [Release] Bumped sap_hana version to 1.7.0
  .in-toto/tag.bb47f8e8.link
  requirements-agent-release.txt
  sap_hana/CHANGELOG.md
  sap_hana/datadog_checks/sap_hana/__about__.py
Labels: changelog/no-changelog, integration/sap_hana, release

#10172 Fix slack-notifier flakiness
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#9815 Add Citrix Hypervisor integration
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  citrix_hypervisor/CHANGELOG.md
  citrix_hypervisor/MANIFEST.in
  citrix_hypervisor/README.md
  citrix_hypervisor/assets/configuration/spec.yaml
  citrix_hypervisor/assets/dashboards/citrix_hypervisor_overview.json
  citrix_hypervisor/assets/service_checks.json
  citrix_hypervisor/datadog_checks/__init__.py
  citrix_hypervisor/datadog_checks/citrix_hypervisor/__about__.py
  citrix_hypervisor/datadog_checks/citrix_hypervisor/__init__.py
  citrix_hypervisor/datadog_checks/citrix_hypervisor/check.py
  citrix_hypervisor/datadog_checks/citrix_hypervisor/config_models/__init__.py
  citrix_hypervisor/datadog_checks/citrix_hypervisor/config_models/defaults.py
  citrix_hypervisor/datadog_checks/citrix_hypervisor/config_models/instance.py
  citrix_hypervisor/datadog_checks/citrix_hypervisor/config_models/shared.py
  citrix_hypervisor/datadog_checks/citrix_hypervisor/config_models/validators.py
  citrix_hypervisor/datadog_checks/citrix_hypervisor/data/conf.yaml.example
  citrix_hypervisor/datadog_checks/citrix_hypervisor/metrics.py
  citrix_hypervisor/images/.gitkeep
  citrix_hypervisor/manifest.json
  citrix_hypervisor/metadata.csv
  citrix_hypervisor/requirements-dev.txt
  citrix_hypervisor/requirements.in
  citrix_hypervisor/setup.py
  citrix_hypervisor/tests/__init__.py
  citrix_hypervisor/tests/common.py
  citrix_hypervisor/tests/compose/Dockerfile
  citrix_hypervisor/tests/compose/docker-compose.yaml
  citrix_hypervisor/tests/compose/requirements.txt
  citrix_hypervisor/tests/compose/server.py
  citrix_hypervisor/tests/conftest.py
  citrix_hypervisor/tests/fixtures/master/host_rrd.json
  citrix_hypervisor/tests/fixtures/master/rrd_updates.json
  citrix_hypervisor/tests/fixtures/master/xmlrpc_get_host.xml
  citrix_hypervisor/tests/fixtures/master/xmlrpc_login.xml
  citrix_hypervisor/tests/fixtures/master/xmlrpc_logout.xml
  citrix_hypervisor/tests/fixtures/master/xmlrpc_version.xml
  citrix_hypervisor/tests/fixtures/slave/host_rrd.json
  citrix_hypervisor/tests/fixtures/slave/rrd_updates.json
  citrix_hypervisor/tests/fixtures/slave/xmlrpc_login.xml
  citrix_hypervisor/tests/fixtures/standalone/host_rrd.json
  citrix_hypervisor/tests/fixtures/standalone/rrd_updates.json
  citrix_hypervisor/tests/fixtures/standalone/version.json
  citrix_hypervisor/tests/fixtures/standalone/xmlrpc_get_host.xml
  citrix_hypervisor/tests/fixtures/standalone/xmlrpc_login.xml
  citrix_hypervisor/tests/fixtures/standalone/xmlrpc_logout.xml
  citrix_hypervisor/tests/fixtures/standalone/xmlrpc_version.xml
  citrix_hypervisor/tests/test_citrix_hypervisor.py
  citrix_hypervisor/tests/test_e2e.py
  citrix_hypervisor/tests/test_lab.py
  citrix_hypervisor/tests/test_metadata.py
  citrix_hypervisor/tests/test_metrics.py
  citrix_hypervisor/tox.ini
Labels: documentation, dev/testing, changelog/Added, integration/citrix_hypervisor

#10178 Bumped datadog_checks_base version to 21.3.0
  .in-toto/tag.024e42fe.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#10179 Fixed Agent Platform checks documentation codeowners
  .github/CODEOWNERS
Labels: changelog/no-changelog

#10180 Disable security plugin for opensearch env
  elastic/tests/compose/docker-compose.yaml
  elastic/tests/conftest.py
Labels: changelog/no-changelog, integration/elastic

#10182 Sync config
  citrix_hypervisor/datadog_checks/citrix_hypervisor/config_models/defaults.py
  citrix_hypervisor/datadog_checks/citrix_hypervisor/config_models/instance.py
  citrix_hypervisor/datadog_checks/citrix_hypervisor/data/conf.yaml.example
Labels: changelog/no-changelog, integration/citrix_hypervisor

#10184 Update validate models message
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#8982 Add runtime configuration validation
  scylla/datadog_checks/scylla/config_models/__init__.py
  scylla/datadog_checks/scylla/config_models/defaults.py
  scylla/datadog_checks/scylla/config_models/instance.py
  scylla/datadog_checks/scylla/config_models/shared.py
  scylla/datadog_checks/scylla/config_models/validators.py
Labels: changelog/Added, integration/scylla

#10186 [Release] Bumped datadog_checks_dev version to 14.0.0
  .in-toto/tag.57ce2495.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release
