Repository DataDog/integrations-core, pull requests merged in 2021-02, with the labels that each got.

#8494 Clarify that MS Visual C++ is only required on windows
  oracle/README.md
Labels: changelog/no-changelog, documentation, integration/oracle

#8469 Remove EOLed elastic version
  elastic/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/elastic

#8492 Do not run replication metrics on newer aurora versions either
  postgres/datadog_checks/postgres/metrics_cache.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_metrics_cache.py
Labels: changelog/Fixed, integration/postgres

#8456 Fail more gracefully
  ceph/datadog_checks/ceph/ceph.py
Labels: changelog/Fixed, integration/ceph

#8455 Provide error message on subprocess output
  datadog_checks_base/datadog_checks/base/stubs/_util.py
Labels: changelog/Fixed, integration/datadog_checks_base

#8454 Improve readability a bit
  gunicorn/datadog_checks/gunicorn/gunicorn.py
Labels: changelog/Fixed, integration/gunicorn

#8498 Fix Postgres statements to remove information_schema query
  postgres/datadog_checks/postgres/statements.py
Labels: changelog/Fixed, integration/postgres

#8502 [Release] Bumped postgres version to 5.3.2
  .in-toto/tag.c295cf63.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres, release

#8430 Support Aerospike 5.3
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/metadata.csv
  aerospike/tests/common.py
  aerospike/tests/test_aerospike.py
  aerospike/tests/test_unit.py
  aerospike/tox.ini
Labels: changelog/Added, integration/aerospike

#8504 [Release] Bumped aerospike version to 1.10.0
  .in-toto/tag.57ce2495.link
  aerospike/CHANGELOG.md
  aerospike/datadog_checks/aerospike/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/aerospike, release

#8503 Add test cases to docs validator
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/core.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/spec.py
  datadog_checks_dev/tests/tooling/docs/__init__.py
  datadog_checks_dev/tests/tooling/docs/test_load.py
  datadog_checks_dev/tests/tooling/docs/utils.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8505 Fix histogram upper bound label name for new OpenMetrics implementation
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/labels.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/histogram.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/utils.py
  datadog_checks_base/tests/openmetrics/test_transformers/test_histogram.py
Labels: changelog/Fixed, integration/datadog_checks_base

#8506 [Release] Bumped datadog_checks_base version to 16.3.2
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#8497 fix ignite units
  ignite/metadata.csv
Labels: changelog/no-changelog, integration/ignite

#8473 Add types to query manager
  datadog_checks_base/datadog_checks/base/utils/db/core.py
  datadog_checks_base/datadog_checks/base/utils/db/query.py
  datadog_checks_base/datadog_checks/base/utils/db/transform.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#8512 Update agent version and config requirements for tcp_queue_length
  tcp_queue_length/README.md
Labels: changelog/no-changelog, documentation, integration/tcp_queue_length

#8511 Disable SLM metrics by default
  elastic/assets/configuration/spec.yaml
  elastic/datadog_checks/elastic/config.py
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/test_elastic.py
Labels: changelog/Fixed, documentation, integration/elastic

#8510 Fix cacti e2e
  cacti/README.md
  cacti/tests/compose/Dockerfile
  cacti/tests/compose/restore.sh
Labels: changelog/no-changelog, integration/cacti

#8514 Manually release `elastic` to 1.23.1
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/elastic, release

#8516 Support bind mounting single files for Docker E2E on Windows
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8486 Add extra test for default options
  sqlserver/tests/common.py
  sqlserver/tests/conftest.py
  sqlserver/tests/test_integration.py
Labels: changelog/no-changelog, integration/sqlserver

#8517 Fix tests on Windows
  tls/tests/conftest.py
Labels: changelog/no-changelog, integration/tls

#8519 fix nested sections in docs validator
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/spec.py
  datadog_checks_dev/tests/tooling/docs/test_load.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8507 Add support for legacy config to OpenMetricsCompatibilityScraper
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/tests/openmetrics/test_compat_scraper.py
  datadog_checks_base/tests/openmetrics/test_interface.py
  datadog_checks_base/tests/openmetrics/utils.py
  linkerd/tests/common.py
  linkerd/tests/test_linkerd.py
Labels: changelog/Added, integration/datadog_checks_base, integration/linkerd

#8479 Upgrade JPype1 to 1.2.1
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  oracle/requirements.in
Labels: changelog/Added, dependencies, integration/datadog_checks_base, integration/oracle

#8509 Convert monitor to query alert
  scylla/assets/monitors/instance_down.json
  sonarqube/assets/recommended_monitors/vulnerabilities.json
Labels: changelog/no-changelog, integration/scylla, integration/sonarqube

#8515 Fix logging
  aerospike/datadog_checks/aerospike/aerospike.py
Labels: changelog/Fixed, integration/aerospike

#8451 Remove code for legacy workaround
  voltdb/datadog_checks/voltdb/check.py
Labels: changelog/Added, integration/voltdb

#8500 Remove outdated description of `local_cert_path` option
  tls/assets/configuration/spec.yaml
  tls/datadog_checks/tls/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/tls

#8521 Implement AIA chasing
  tls/assets/configuration/spec.yaml
  tls/datadog_checks/tls/data/conf.yaml.example
  tls/datadog_checks/tls/tls.py
  tls/tests/conftest.py
  tls/tests/test_remote.py
Labels: changelog/Added, documentation, integration/tls

#8520 Change example configs for databases to default to deep_database_monitoring: false
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/mysql, integration/postgres

#8523 [Release] Bumped tls version to 2.2.0
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  tls/CHANGELOG.md
  tls/datadog_checks/tls/__about__.py
Labels: changelog/no-changelog, integration/tls, release

#8444 Avoid forcing base dependencies for base checks
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8460 Enhance test for API v3
  nginx/tests/fixtures/plus_api_stream_zone_sync.json
  nginx/tests/test_unit.py
Labels: changelog/no-changelog, integration/nginx

#8525 Support `additionalProperties` object field for config specs
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/spec.py
  datadog_checks_dev/tests/tooling/configuration/test_load.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8524 fix nested sections for readme rendering
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/consumers/readme.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8452 Add config spec for the new OpenMetrics implementation
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/openmetrics.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#8211 Add SNMP check duration, interval, metrics count
  snmp/datadog_checks/snmp/snmp.py
  snmp/metadata.csv
  snmp/tests/common.py
  snmp/tests/test_check.py
  snmp/tests/test_e2e.py
  snmp/tests/test_profiles.py
Labels: changelog/Added, integration/snmp

#8529 Update broken link to Airflow Apache Page - 442208
  airflow/README.md
Labels: changelog/no-changelog, documentation, integration/airflow

#8534 Do not run base_check for any base package
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: changelog/Fixed, dev/testing, dev/tooling, integration/datadog_checks_dev

#8532 Return empty array instead of None
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/tox.ini
Labels: changelog/Fixed, integration/aerospike

#8528 Yael/istio updates
  istio/README.md
Labels: changelog/no-changelog, documentation, integration/istio

#8540 Fix `oneOf` in config specs
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/spec.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8539 Update metrics template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/data_collected/metrics.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/default.yaml
Labels: changelog/Changed, dev/tooling, integration/datadog_checks_dev

#8538 Fix grammar issue
  eks_fargate/README.md
Labels: changelog/no-changelog, documentation, integration/eks_fargate

#8541 Normalize links in docs validator for nested sections
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/core.py
  datadog_checks_dev/tests/tooling/docs/test_load.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8543 Include validate_cert in backwards compatibility remapper
  tls/datadog_checks/tls/tls.py
  tls/tests/test_config.py
Labels: changelog/Fixed, integration/tls

#8544 Manually release tls to 2.1.1
  requirements-agent-release.txt
  tls/CHANGELOG.md
  tls/datadog_checks/tls/__about__.py
Labels: changelog/no-changelog, integration/tls, release

#8542 Implement append and prepend options for docs validator
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/consumers/readme.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/core.py
  datadog_checks_dev/tests/tooling/docs/test_load.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8546 Clarify set up instructions
  istio/README.md
Labels: changelog/no-changelog, documentation, integration/istio

#8547 Fix test name typo
  datadog_checks_dev/tests/tooling/docs/test_load.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#8548 Fix link referencing for append and prepend
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/consumers/readme.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8315 Update minimum mongo version requirement
  mongo/README.md
Labels: changelog/no-changelog, documentation, integration/mongo

#8554 Add build_info metric
  haproxy/datadog_checks/haproxy/metrics.py
  haproxy/tox.ini
Labels: changelog/Added, dev/testing, integration/haproxy

#8537 Specify in old istio dashboard that is for older versions
  istio/assets/dashboards/istio_overview.json
Labels: changelog/no-changelog, integration/istio

#8556 Correct unit of measure on vault gc time metrics from millisecond to nanosecond
  vault/metadata.csv
Labels: changelog/no-changelog, integration/vault

#8531 Use SSL authentication if SSL params are provided
  ibm_mq/datadog_checks/ibm_mq/config.py
Labels: changelog/Fixed, integration/ibm_mq

#8508 Remove metric alert from recommended monitors
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/recommended_monitors.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8551 Fix tabs in readme consumer
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/consumers/readme.py
  datadog_checks_dev/tests/tooling/docs/consumers/__init__.py
  datadog_checks_dev/tests/tooling/docs/consumers/test_readme.py
  datadog_checks_dev/tests/tooling/docs/test_load.py
  datadog_checks_dev/tests/tooling/docs/utils.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8493 [RedisDB] Adds default high mem usage monitor for Redis integration
  redisdb/assets/monitors/high_mem.json
  redisdb/manifest.json
Labels: changelog/no-changelog, documentation, integration/redisdb

#8555 Added enabling Prometheus monitoring
  amazon_msk/README.md
Labels: changelog/no-changelog, documentation, integration/amazon_msk

#8377 Adding services_exclude config option
  consul/assets/configuration/spec.yaml
  consul/datadog_checks/consul/consul.py
  consul/datadog_checks/consul/data/conf.yaml.example
  consul/tests/test_unit.py
Labels: changelog/Added, documentation, integration/consul

#8545 Add missing metrics
  airflow/README.md
  airflow/metadata.csv
  airflow/tests/test_check_metrics_up_to_date.py
Labels: changelog/no-changelog, documentation, integration/airflow

#8402 Support newer queries
  mysql/assets/SERVICE_CHECK_CLARIFICATION.md
  mysql/assets/service_checks.json
  mysql/datadog_checks/mysql/const.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/queries.py
  mysql/metadata.csv
  mysql/tests/test_mysql.py
  mysql/tests/variables.py
Labels: changelog/Fixed, documentation, integration/mysql

#8552 Fix automatic discovery of metrics from web API and improve example config documentation
  sonarqube/assets/configuration/spec.yaml
  sonarqube/datadog_checks/sonarqube/check.py
  sonarqube/datadog_checks/sonarqube/data/conf.yaml.example
  sonarqube/datadog_checks/sonarqube/data/metrics.yaml
Labels: changelog/Fixed, documentation, integration/sonarqube

#8569 Update Agent Platform CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog

#8530 [kubelet] Fix TypeError when retrieved pod_list is occasionally None
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/test_kubelet.py
Labels: changelog/Fixed, integration/kubelet

#8571 Pin cassandra test version
  cassandra_nodetool/tox.ini
Labels: changelog/no-changelog, integration/cassandra_nodetool

#8563 Avoid failing on KeyError
  yarn/datadog_checks/yarn/yarn.py
Labels: changelog/Fixed, integration/yarn

#8573 Bumped datadog_checks_base version to 16.4.0
  .in-toto/tag.024e42fe.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#8574 [Release] Bumped yarn version to 1.17.1
  .in-toto/tag.57ce2495.link
  requirements-agent-release.txt
  yarn/CHANGELOG.md
  yarn/datadog_checks/yarn/__about__.py
Labels: changelog/no-changelog, integration/yarn, release

#8567 Avoid ZeroDivisionError for hdfs.namenode.capacity_in_use
  hdfs_namenode/datadog_checks/hdfs_namenode/hdfs_namenode.py
Labels: changelog/Fixed, integration/hdfs_namenode

#8568 Update README.md
  win32_event_log/README.md
Labels: changelog/no-changelog, documentation, integration/win32_event_log

#8478 Fix the ids `done` in `progress` columns
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: dev/tooling, integration/datadog_checks_dev

#8559 Print validation commands
  .azure-pipelines/templates/run-validations.yml
Labels: changelog/no-changelog, dev/testing, qa/skip-qa

#8572 Bump base package requirement
  linkerd/setup.py
Labels: changelog/Fixed, integration/linkerd

#8576 [Release] Bumped hdfs_namenode version to 1.15.1
  .in-toto/tag.57ce2495.link
  hdfs_namenode/CHANGELOG.md
  hdfs_namenode/datadog_checks/hdfs_namenode/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/hdfs_namenode, release

#8550 [documentation] fixing typo
  openshift/README.md
Labels: changelog/no-changelog, documentation, integration/openshift

#8580 Ownership for openstack_controller
  .github/CODEOWNERS
Labels: changelog/no-changelog, integration/openstack_controller

#8526 Rename cluster_name tag to elastic_cluster
  elastic/assets/configuration/spec.yaml
  elastic/assets/dashboards/overview.json
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/common.py
  elastic/tests/conftest.py
  elastic/tests/test_elastic.py
Labels: changelog/Added, documentation, integration/elastic

#8577 Rename cluster_name tag to vault_cluster
  vault/assets/configuration/spec.yaml
  vault/datadog_checks/vault/data/conf.yaml.example
  vault/datadog_checks/vault/vault.py
  vault/tests/test_integration.py
  vault/tests/test_vault.py
Labels: changelog/Added, documentation, integration/vault

#8587 Update Juniper readme with recent link changes
  snmp_juniper/README.md
Labels: changelog/no-changelog, documentation, integration/snmp_juniper

#8590 Add logical utility functions
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/labels.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/datadog_checks/base/utils/common.py
  datadog_checks_base/datadog_checks/base/utils/functions.py
Labels: changelog/Added, integration/datadog_checks_base

#8589 [Release] Bumped elastic version to 1.24.0
  .in-toto/tag.57ce2495.link
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/elastic, release

#8570 [OpenTelemetry] Update description about namespacing
  otel/README.md
Labels: changelog/no-changelog, documentation, integration/otel

#8583 Remove SimpleApi cache
  openstack_controller/datadog_checks/openstack_controller/api.py
  openstack_controller/tests/terraform/script.sh
Labels: changelog/no-changelog, integration/openstack_controller

#8584 Fix aerospike tests
  aerospike/tests/common.py
Labels: changelog/no-changelog, integration/aerospike

#8598 [Release] Bumped openstack_controller version to 1.10.3
  .in-toto/tag.fbc63ae0.link
  openstack_controller/CHANGELOG.md
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/openstack_controller, release

#8599 Add HOME to tox passenv
  cassandra_nodetool/tox.ini
Labels: changelog/no-changelog, integration/cassandra_nodetool

#8593 Rename config spec example consumer option `default` to `display_default`
  cilium/assets/configuration/spec.yaml
  cisco_aci/assets/configuration/spec.yaml
  clickhouse/assets/configuration/spec.yaml
  cloud_foundry_api/assets/configuration/spec.yaml
  couch/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/example.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/db.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/jmx.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy.yaml
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  disk/assets/configuration/spec.yaml
  docs/developer/meta/config-specs.md
  go_expvar/assets/configuration/spec.yaml
  istio/assets/configuration/spec.yaml
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  marathon/assets/configuration/spec.yaml
  mongo/assets/configuration/spec.yaml
  mysql/assets/configuration/spec.yaml
  network/assets/configuration/spec.yaml
  nfsstat/assets/configuration/spec.yaml
  nginx/assets/configuration/spec.yaml
  postgres/assets/configuration/spec.yaml
  process/assets/configuration/spec.yaml
  redisdb/assets/configuration/spec.yaml
  riakcs/assets/configuration/spec.yaml
  riakcs/datadog_checks/riakcs/data/conf.yaml.example
  sap_hana/assets/configuration/spec.yaml
  snowflake/assets/configuration/spec.yaml
  varnish/assets/configuration/spec.yaml
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  win32_event_log/assets/configuration/spec.yaml
  wmi_check/assets/configuration/spec.yaml
Labels: changelog/Changed, dev/tooling, documentation, integration/cilium, integration/cisco_aci, integration/clickhouse, integration/cloud_foundry_api, integration/couch, integration/datadog_checks_dev, integration/disk, integration/go_expvar, integration/istio, integration/kafka_consumer, integration/marathon, integration/mongo, integration/mysql, integration/network, integration/nfsstat, integration/nginx, integration/postgres, integration/process, integration/redisdb, integration/riakcs, integration/sap_hana, integration/snowflake, integration/varnish, integration/vsphere, integration/win32_event_log, integration/wmi_check

#8600 Fix unit from gibibyte to mebibyte
  openstack/metadata.csv
  openstack_controller/metadata.csv
Labels: changelog/no-changelog, integration/openstack, integration/openstack_controller

#8565 Update README.md
  vault/README.md
Labels: changelog/no-changelog, documentation, integration/vault

#8591 Yarn config option to disable node metrics collection
  yarn/assets/configuration/spec.yaml
  yarn/datadog_checks/yarn/data/conf.yaml.example
  yarn/datadog_checks/yarn/yarn.py
Labels: changelog/Added, integration/yarn

#8605 Fix logs section placement in example config
  scylla/assets/configuration/spec.yaml
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/scylla

#8604 Migrate old activemq dashboard
  activemq/assets/dashboards/activemq_dashboard.json
  activemq/manifest.json
Labels: changelog/no-changelog, documentation, integration/activemq

#8603 Support filtering by tags set by integration
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_check.py
Labels: changelog/Added, documentation, integration/vsphere

#8613 [Release] Bumped datadog_checks_dev version to 8.0.0
  .in-toto/tag.fbc63ae0.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#8611 Upgrade cryptography python package
  cisco_aci/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  http_check/requirements.in
  mysql/requirements.in
  tls/requirements.in
Labels: changelog/Security, dependencies, integration/cisco_aci, integration/datadog_checks_base, integration/http_check, integration/mysql, integration/tls

#8615 Backport #8611 to 7.26.x: Upgrade cryptography python package
  cisco_aci/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  http_check/requirements.in
  mysql/requirements.in
  tls/requirements.in
Labels: changelog/Security, dependencies, integration/cisco_aci, integration/datadog_checks_base, integration/http_check, integration/mysql, integration/tls

#8614 [Release] Bumped vsphere version to 5.8.0
  .in-toto/tag.fbc63ae0.link
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/datadog_checks/vsphere/__about__.py
Labels: changelog/no-changelog, integration/vsphere, release

#8616 Manually release integrations following cryptography bump
  cisco_aci/CHANGELOG.md
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  tls/CHANGELOG.md
  tls/datadog_checks/tls/__about__.py
Labels: changelog/no-changelog, integration/cisco_aci, integration/datadog_checks_base, integration/http_check, integration/mysql, integration/tls

#8609 Clean up cases where `display_default` should be null
  cilium/assets/configuration/spec.yaml
  couch/assets/configuration/spec.yaml
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  mysql/assets/configuration/spec.yaml
  varnish/assets/configuration/spec.yaml
Labels: changelog/no-changelog, documentation, integration/cilium, integration/couch, integration/datadog_checks_dev, integration/mysql, integration/varnish

#8610 Remove erroneous fields in config spec
  postgres/assets/configuration/spec.yaml
Labels: changelog/no-changelog, documentation, integration/postgres

#8579 Rename cluster_name tag to yarn_cluster
  yarn/assets/configuration/spec.yaml
  yarn/datadog_checks/yarn/data/conf.yaml.example
  yarn/datadog_checks/yarn/yarn.py
  yarn/tests/common.py
  yarn/tests/test_integration.py
  yarn/tests/test_yarn.py
Labels: changelog/Added, documentation, integration/yarn

#8602 Add kafka recommended monitors
  kafka/assets/recommended_monitors/kafka_high_producer_request_rate.json
  kafka/assets/recommended_monitors/kafka_offline_partition.json
  kafka/manifest.json
Labels: changelog/no-changelog, documentation, integration/kafka

#8582 Clarify windows user and validate connection options
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_connection.py
Labels: changelog/Fixed, documentation, integration/sqlserver

#8606 Add terraform tile integration for the Datadog Provider
  terraform/README.md
  terraform/assets/service_checks.json
  terraform/manifest.json
  terraform/metadata.csv
Labels: changelog/no-changelog, documentation, integration/terraform

#8618 Add HOME env var
  vault/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/vault

#8619 Remove unused attribute
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: changelog/Fixed, integration/datadog_checks_base

#8626 Replace `oneOf` with `anyOf` for multi-type support
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/example.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/spec.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  datadog_checks_dev/tests/tooling/configuration/test_load.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8623 haproxy: prepare v2.4 release
  haproxy/datadog_checks/haproxy/metrics.py
  haproxy/metadata.csv
  haproxy/tests/conftest.py
  haproxy/tests/docker/haproxy.cfg
  haproxy/tox.ini
Labels: changelog/Added, integration/haproxy

#8630 Catch exception when closing lost connection
  sap_hana/datadog_checks/sap_hana/sap_hana.py
Labels: changelog/Fixed, integration/sap_hana

#8625 Add MySQL recommended monitors
  mysql/assets/monitors/replica_running.json
  mysql/assets/monitors/select_query_rate.json
  mysql/manifest.json
Labels: changelog/no-changelog, documentation, integration/mysql

#8622 Add extract value feature
  docs/developer/tutorials/snmp/profile-format.md
  snmp/datadog_checks/snmp/parsing/metrics.py
  snmp/datadog_checks/snmp/parsing/metrics_types.py
  snmp/datadog_checks/snmp/parsing/parsed_metrics.py
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/compose/data/dummy.snmprec
  snmp/tests/test_check.py
  snmp/tests/test_unit.py
Labels: changelog/Added, documentation, integration/snmp

#8632 [Release] Bumped snmp version to 4.1.0
  .in-toto/tag.fbc63ae0.link
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: changelog/no-changelog, integration/snmp, release

#8633 [Release] Bumped sonarqube version to 1.1.1
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  sonarqube/CHANGELOG.md
  sonarqube/datadog_checks/sonarqube/__about__.py
Labels: changelog/no-changelog, integration/sonarqube, release

#8617 Do not run tokumx in py3 master build
  .azure-pipelines/templates/test-all-checks.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
  tokumx/README.md
Labels: changelog/no-changelog, dev/testing, dev/tooling, documentation, integration/datadog_checks_dev, integration/tokumx

#8561 Add VoltDB out-of-the-box dashboard
  voltdb/assets/dashboards/voltdb_overview.json
  voltdb/manifest.json
Labels: changelog/no-changelog, documentation, integration/voltdb

#8624 Add assert metrics using metadata
  haproxy/metadata.csv
  haproxy/tests/test_e2e.py
Labels: changelog/no-changelog, dev/testing, integration/haproxy

#8607 Migrate cisco_aci, consul, kubernetes dashboards
  cisco_aci/assets/dashboards/cisco_aci_dashboard.json
  cisco_aci/manifest.json
  consul/assets/dashboards/consul_dashboard.json
  consul/manifest.json
  kubernetes/assets/dashboards/kubernetes_dashboard.json
  kubernetes/manifest.json
Labels: changelog/no-changelog, documentation, integration/cisco_aci, integration/consul, integration/kubernetes

#8316 Support Alibaba ApsaraDB
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/collectors/replica.py
  mongo/tests/fixtures/replSetGetConfig
  mongo/tests/fixtures/system.replset
  mongo/tests/mocked_api.py
  mongo/tests/test_unit.py
Labels: changelog/Fixed, integration/mongo

#8558 Skip apps which have the UI disabled
  spark/datadog_checks/spark/spark.py
  spark/tests/test_spark.py
Labels: changelog/Fixed, integration/spark

#8631 haproxy: fix some status definitions
  haproxy/metadata.csv
Labels: changelog/no-changelog, integration/haproxy

#8410 Add Databricks tile
  databricks/README.md
  databricks/assets/dashboards/databricks_overview.json
  databricks/assets/service_checks.json
  databricks/images/.gitkeep
  databricks/manifest.json
  databricks/metadata.csv
Labels: changelog/no-changelog, documentation, integration/databricks

#8635 Enable disable_legacy_cluster_tag option
  elastic/assets/configuration/spec.yaml
  elastic/datadog_checks/elastic/data/conf.yaml.example
  vault/assets/configuration/spec.yaml
  vault/datadog_checks/vault/data/conf.yaml.example
  yarn/assets/configuration/spec.yaml
  yarn/datadog_checks/yarn/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/elastic, integration/vault, integration/yarn

#8639 Add documentation for Kafka Consumer log collection
  kafka_consumer/README.md
Labels: changelog/no-changelog, documentation, integration/kafka_consumer

#8642 Add metrics for sticktable
  haproxy/datadog_checks/haproxy/metrics.py
  haproxy/metadata.csv
  haproxy/tests/conftest.py
  haproxy/tox.ini
Labels: changelog/Added, integration/haproxy

#8645 Fix validate readme command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8650 Fix error printing json errors when error on list object
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/manifest.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8641 Fix `aiflow` prefix typo
  airflow/README.md
  airflow/metadata.csv
Labels: changelog/no-changelog, documentation, integration/airflow

#8601 Add flag to convert endianness
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/collectors/channel_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/metadata_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
Labels: changelog/Added, documentation, integration/ibm_mq

#8655 Fix oids not increasing link
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: changelog/Fixed, integration/snmp

#8643 Add dbstrict option to limit queries to specified databases
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/metrics_cache.py
Labels: changelog/Fixed, documentation, integration/postgres

#8656 [Release] Bump postgres to version 5.3.3
  .in-toto/tag.f90c0097.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres, release

#8657 [Release] Bumped datadog_checks_dev version to 8.0.1
  .in-toto/tag.31091c85.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#8659 Upgrade mkdocs-click
  mkdocs.yml
  tox.ini
Labels: changelog/no-changelog

#8660 Enable CLI options tables
  docs/developer/ddev/cli.md
Labels: changelog/no-changelog, documentation

#8649 Remove marketplace option for ddev create
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#8596 Fix queries for audit success/failure
  win32_event_log/assets/configuration/spec.yaml
  win32_event_log/datadog_checks/win32_event_log/constants.py
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
  win32_event_log/datadog_checks/win32_event_log/filters.py
  win32_event_log/tests/test_filters.py
Labels: changelog/Fixed, documentation, integration/win32_event_log

#8592 Rename cluster_name tag to spark_cluster
  spark/assets/configuration/spec.yaml
  spark/datadog_checks/spark/data/conf.yaml.example
  spark/datadog_checks/spark/spark.py
  spark/tests/common.py
  spark/tests/test_e2e.py
  spark/tests/test_spark.py
Labels: changelog/Added, documentation, integration/spark

#8588 Rename cluster_name tag to mapreduce_cluster
  mapreduce/assets/configuration/spec.yaml
  mapreduce/datadog_checks/mapreduce/data/conf.yaml.example
  mapreduce/datadog_checks/mapreduce/mapreduce.py
  mapreduce/tests/common.py
  mapreduce/tests/test_mapreduce.py
Labels: changelog/Added, documentation, integration/mapreduce

#8661 Fix query syntax
  postgres/datadog_checks/postgres/metrics_cache.py
Labels: changelog/Fixed, integration/postgres

#8663 [Release] Bump postgres to version 5.3.4
  .in-toto/tag.f90c0097.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres, release

#8669 💄 Use SVG logo for ActiveMQ dashboard
  activemq/assets/dashboards/activemq_dashboard.json
Labels: changelog/no-changelog, integration/activemq

#8666 Add blog like dashboard
  couch/assets/dashboards/overview.json
  couch/manifest.json
Labels: changelog/no-changelog, documentation, integration/couch

#8664 Migrate mapreduce, marathon, openstack, powerdns_recursor, rabbitmq dashboards
  mapreduce/assets/dashboards/mapreduce_dashboard.json
  mapreduce/manifest.json
  marathon/assets/dashboards/marathon-overview_dashboard.json
  marathon/manifest.json
  openstack/assets/dashboards/openstack_dashboard.json
  openstack/manifest.json
  powerdns_recursor/assets/dashboards/powerdns_dashboard.json
  powerdns_recursor/manifest.json
  rabbitmq/assets/dashboards/rabbitmq_dashboard.json
  rabbitmq/assets/dashboards/rabbitmq_screenboard_dashboard.json
  rabbitmq/manifest.json
Labels: changelog/no-changelog, documentation, integration/mapreduce, integration/marathon, integration/openstack, integration/powerdns_recursor, integration/rabbitmq

#8668 Deprecate timeout
  datadog_checks_base/datadog_checks/base/utils/timeout.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#8640 apache recommended monitors
  apache/assets/recommended_monitors/apache_low_idle_workers.json
  apache/assets/recommended_monitors/high_keep_alive_and_cpu.json
  apache/manifest.json
  apache/tests/test_apache.py
Labels: changelog/no-changelog, documentation, integration/apache

#8238 Add daemonset dashboard
  kubernetes/assets/dashboards/kubernetes_daemonsets.json
  kubernetes/manifest.json
Labels: changelog/no-changelog, documentation, integration/kubernetes

#8673 Remove old deprecated metric from documentation
  postgres/metadata.csv
Labels: changelog/no-changelog, integration/postgres
