Repository DataDog/integrations-core, pull requests merged in 2021-07, with the labels that each got.

#9633 Document mock_http_response fixture
  docs/developer/ddev/plugins.md
Labels: changelog/no-changelog, documentation

#9574 Fix auto-discovery for latest versions on Kubernetes
  kube_scheduler/assets/configuration/spec.yaml
  kube_scheduler/datadog_checks/kube_scheduler/data/auto_conf.yaml
Labels: changelog/Added, documentation, integration/kube_scheduler

#9575 Fix auto-discovery for latest versions on Kubernetes
  kube_controller_manager/datadog_checks/kube_controller_manager/data/auto_conf.yaml
Labels: changelog/Added, integration/kube_controller_manager

#9577 Fix auto-discovery for latest versions on Kubernetes
  kube_apiserver_metrics/assets/configuration/spec.yaml
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/auto_conf.yaml
Labels: changelog/Added, documentation, integration/kube_apiserver_metrics

#9619 DBM statement_samples enabled by default, rename DBM-enabled key
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/tests/test_mysql.py
Labels: changelog/Changed, documentation, integration/mysql

#9337 Add more pilot metrics
  istio/datadog_checks/istio/metrics.py
  istio/metadata.csv
Labels: changelog/Added, integration/istio

#9645 release sqlserver
  .in-toto/tag.0244aaa8.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/sqlserver, release

#9643 Add metrics from label IDs
  amazon_msk/datadog_checks/amazon_msk/check.py
  amazon_msk/datadog_checks/amazon_msk/metrics.py
  amazon_msk/metadata.csv
  amazon_msk/tests/common.py
  amazon_msk/tests/test_e2e.py
  amazon_msk/tests/test_unit.py
Labels: changelog/Added, integration/amazon_msk

#9648 Bumped squid version to 1.10.0
  .in-toto/tag.024e42fe.link
  requirements-agent-release.txt
  squid/CHANGELOG.md
  squid/datadog_checks/squid/__about__.py
Labels: changelog/no-changelog, integration/squid, release

#9649 Use agent 8 signature
  rethinkdb/datadog_checks/rethinkdb/check.py
Labels: changelog/Fixed, integration/rethinkdb

#9650 Bumped rethinkdb version to 1.3.3
  .in-toto/tag.024e42fe.link
  requirements-agent-release.txt
  rethinkdb/CHANGELOG.md
  rethinkdb/datadog_checks/rethinkdb/__about__.py
Labels: changelog/no-changelog, integration/rethinkdb, release

#9628 Add better error handling/reporting for database errors when querying pg_stat_statements
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_pg_integration.py
Labels: changelog/Added, integration/postgres

#9644 Do not resolve IP on __init__
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  tcp_check/tests/test_tcp_check.py
Labels: changelog/Fixed, integration/tcp_check

#9652 Fix `meta dash export`
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/dashboard.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9651 release tcp
  .in-toto/tag.0244aaa8.link
  requirements-agent-release.txt
  tcp_check/CHANGELOG.md
  tcp_check/datadog_checks/tcp_check/__about__.py
Labels: changelog/no-changelog, integration/tcp_check, release

#9635 Document the minimum kernel version needed by the `oom_kill` check
  oom_kill/README.md
Labels: changelog/no-changelog, documentation, integration/oom_kill, qa/skip-qa

#9615 Support multiple instances in config specs
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/example.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/model.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/spec.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_merge_instances.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  docs/developer/meta/config-specs.md
Labels: changelog/Added, dev/tooling, documentation, integration/datadog_checks_dev

#9597 Add truncated statement indicator to postgres query sample events
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_pg_integration.py
Labels: changelog/Added, integration/postgres

#9620 Add truncated statement indicator to mysql query sample events
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/tests/test_mysql.py
Labels: changelog/Added, integration/mysql

#9647 Update default dashboard
  amazon_msk/assets/dashboards/overview.json
Labels: changelog/no-changelog, documentation, integration/amazon_msk

#9656 Add `db.utils.DBMAsyncJob`
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/test_db_util.py
Labels: changelog/Added, integration/datadog_checks_base

#9660 [Release] Bumped datadog_checks_base version to 20.1.0
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#9618 DBM statement_samples enabled by default, rename DBM-enabled key
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_pg_integration.py
Labels: changelog/Changed, documentation, integration/postgres

#9662 Update obfuscator stub in agent
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#9556 Upgrade downloader after ceremony
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_downloader/datadog_checks/downloader/data/repo/metadata/current/root.json
  datadog_checks_downloader/datadog_checks/downloader/download.py
  datadog_checks_downloader/requirements.in
  datadog_checks_downloader/tests/test_downloader.py
Labels: changelog/Added, dependencies, integration/datadog_checks_base, integration/datadog_checks_downloader

#9665 Bumped datadog_checks_downloader version to 3.4.0
  .in-toto/tag.024e42fe.link
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_downloader, release

#9666 Bump base package dependency
  clickhouse/setup.py
  mysql/setup.py
  oracle/setup.py
  snowflake/setup.py
  supervisord/setup.py
Labels: changelog/Fixed, integration/clickhouse, integration/mysql, integration/oracle, integration/snowflake, integration/supervisord

#9657 decouple DBM query metrics interval from check run interval
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/setup.py
  postgres/tests/test_pg_integration.py
Labels: changelog/Changed, documentation, integration/postgres

#9631 remove execution plan cost extraction
  mysql/datadog_checks/mysql/statement_samples.py
Labels: changelog/Changed, integration/mysql

#9632 remove execution plan cost extraction
  postgres/datadog_checks/postgres/statement_samples.py
Labels: changelog/Changed, integration/postgres

#9664 Change DBM `statement` config keys and metric terminology to `query`
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_pg_integration.py
Labels: changelog/Changed, documentation, integration/postgres

#9661 Change DBM `statement` config keys and metric terminology to `query`
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/tests/test_mysql.py
Labels: changelog/Changed, documentation, integration/mysql

#9639 Add DBM SQL obfuscator options
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_mysql.py
Labels: changelog/Added, do-not-merge/HOLD, documentation, integration/datadog_checks_base, integration/mysql

#9640 Add DBM SQL obfuscator options
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_pg_integration.py
Labels: changelog/Added, documentation, integration/postgres

#9672 fix broken error handling in reading of pg_settings
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/compose/resources/01_postgres.sql
  postgres/tests/test_pg_integration.py
Labels: changelog/Fixed, integration/postgres

#9673 [Release] Bumped postgres version to 8.0.1
  .in-toto/tag.31091c85.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres, release

#9674 JournalD readme: Fix tabs to fix links
  journald/README.md
Labels: changelog/no-changelog, documentation, integration/journald

#9677 Fix obfuscator options being converted into bytes rather than string
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
Labels: changelog/Fixed, integration/postgres

#9676 Fix obfuscator options being converted into bytes rather than string
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
Labels: changelog/Fixed, integration/mysql

#9680 Update AGENT_CHANGELOG.md
  AGENT_CHANGELOG.md
Labels: changelog/no-changelog

#9681 Release mysql and postgres
  .in-toto/tag.31091c85.link
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mysql, integration/postgres, release

#9683 Revert cilium AD change
  cilium/assets/configuration/spec.yaml
  cilium/datadog_checks/cilium/data/auto_conf.yaml
Labels: changelog/Fixed, documentation, integration/cilium

#9690 Update AGENT_INTEGRATIONS.md
  AGENT_INTEGRATIONS.md
Labels: changelog/no-changelog, documentation

#9693 DOCS-2212 Btrfs docs update
  btrfs/README.md
Labels: changelog/no-changelog, documentation, integration/btrfs

#9692 fix None-version crash for DBM statement metrics
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_pg_integration.py
Labels: changelog/Fixed, integration/postgres

#9694 [Release] Bumped postgres version to 8.0.3
  .in-toto/tag.31091c85.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres, release

#9587 Add command for validating SNMP profiles
  .azure-pipelines/templates/run-validations.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validate_snmp_profiles.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/profile_schema.json
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/schema_validation.py
Labels: changelog/Added, dev/testing, dev/tooling, integration/datadog_checks_dev

#9698 Update Postgres collection error type to match MySQL
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_pg_integration.py
Labels: changelog/no-changelog, integration/postgres

#9696 fix incorrect `min_collection_interval` on DBM metrics payload
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_pg_integration.py
Labels: changelog/Fixed, integration/postgres

#9695 fix incorrect `min_collection_interval` on DBM metrics payload
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_mysql.py
Labels: changelog/Fixed, integration/mysql

#9702 Add debug line when there are no messages available
  ibm_mq/datadog_checks/ibm_mq/collectors/channel_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/datadog_checks/ibm_mq/collectors/stats_collector.py
Labels: changelog/Fixed, integration/ibm_mq

#9706 [Release] Bumped datadog_checks_dev version to 12.3.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#9704 Improve cluster_name config option description
  mesos_slave/assets/configuration/spec.yaml
  mesos_slave/datadog_checks/mesos_slave/data/conf.yaml.example
Labels: documentation, integration/mesos_slave

#9705 Fix example config
  cacti/assets/configuration/spec.yaml
  cacti/datadog_checks/cacti/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/cacti

#9708 Release new integrations for 7.30.0-rc.4
  .in-toto/tag.31091c85.link
  cacti/CHANGELOG.md
  cacti/datadog_checks/cacti/__about__.py
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  mesos_slave/CHANGELOG.md
  mesos_slave/datadog_checks/mesos_slave/__about__.py
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/cacti, integration/ibm_mq, integration/mesos_slave, integration/mysql, integration/postgres, release

#9710 SNMP profile validation is run only for 'core'
  .azure-pipelines/templates/run-validations.yml
Labels: changelog/no-changelog, dev/testing

#9711 Allow float value for timeout
  statsd/assets/configuration/spec.yaml
  statsd/datadog_checks/statsd/config_models/instance.py
  statsd/datadog_checks/statsd/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/statsd

#9713 [Release] Bumped statsd version to 1.7.1
  .in-toto/tag.31091c85.link
  requirements-agent-release.txt
  statsd/CHANGELOG.md
  statsd/datadog_checks/statsd/__about__.py
Labels: changelog/no-changelog, integration/statsd, release

#9679 Add marketplace section to CI validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#9697 Use pattern for enforcing a URL structure for author->homepage in manifest
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/schema.py
Labels: changelog/Fixed, dev/tooling, do-not-merge/HOLD, integration/datadog_checks_dev

#9716 Support old executable names
  mysql/datadog_checks/mysql/mysql.py
Labels: changelog/Fixed, integration/mysql

#9714 Describe py3 requirement of use_openmetrics option
  amazon_msk/assets/configuration/spec.yaml
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/amazon_msk

#9717 Release amazon_msk and mysql
  .in-toto/tag.31091c85.link
  amazon_msk/CHANGELOG.md
  amazon_msk/datadog_checks/amazon_msk/__about__.py
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/amazon_msk, integration/mysql, release

#9718 Bump `datadog-checks-base` version requirement
  mysql/setup.py
Labels: changelog/Fixed, integration/mysql

#9719 Bump `datadog-checks-base` version requirement
  postgres/setup.py
Labels: changelog/Fixed, integration/postgres

#9707 [Airflow] update containerized setup instructions
  airflow/README.md
Labels: changelog/no-changelog, documentation, integration/airflow

#9637 Do not leak password on logs
  openstack_controller/datadog_checks/openstack_controller/api.py
Labels: changelog/Fixed, integration/openstack_controller

#9703 Do not submit critical service check when there are no messages
  ibm_mq/datadog_checks/ibm_mq/collectors/channel_metric_collector.py
Labels: changelog/Fixed, integration/ibm_mq

#9671 Add database integrations team to tooling trello
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#9709 Add comment to aerospike dependencies
  aerospike/requirements.in
Labels: changelog/no-changelog, integration/aerospike

#9641 Add newer Hashicorp Vault metrics
  vault/datadog_checks/vault/metrics.py
  vault/metadata.csv
Labels: changelog/Added

#9612 Add Vault route metrics to be fetched from the Prometheus endpoint
  vault/datadog_checks/vault/metrics.py
  vault/datadog_checks/vault/vault.py
  vault/tests/test_vault.py
Labels: changelog/Added, integration/vault

#9684 Assert all metrics using metadata and no duplicates
  vault/tests/test_vault.py
Labels: changelog/no-changelog, dev/testing, integration/vault, qa/skip-qa

#9691 Upgrade `virtualenv`
  datadog_checks_dev/setup.py
Labels: changelog/Added, integration/datadog_checks_dev

#9638 Validate changed check in ci
  .azure-pipelines/changes.yml
  .azure-pipelines/templates/run-validations.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/dependencies.py
Labels: changelog/Fixed, dev/testing, dev/tooling, integration/datadog_checks_dev

#9686 apache add missing assertions
  apache/tests/test_apache.py
Labels: changelog/no-changelog, dev/testing, integration/apache, qa/skip-qa

#9728 Add new vault metrics
  vault/datadog_checks/vault/metrics.py
  vault/metadata.csv
  vault/tests/metrics.py
  vault/tests/test_integration.py
Labels: changelog/Added, integration/vault

#9729 Fix `ignore_metrics` documentation
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  azure_iot_edge/datadog_checks/azure_iot_edge/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  crio/datadog_checks/crio/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy.yaml
  etcd/datadog_checks/etcd/data/conf.yaml.example
  external_dns/datadog_checks/external_dns/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  kube_scheduler/datadog_checks/kube_scheduler/data/conf.yaml.example
  linkerd/datadog_checks/linkerd/data/conf.yaml.example
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: changelog/no-changelog, dev/tooling, documentation, integration/amazon_msk, integration/azure_iot_edge, integration/cilium, integration/cockroachdb, integration/coredns, integration/crio, integration/datadog_checks_dev, integration/etcd, integration/external_dns, integration/gitlab, integration/gitlab_runner, integration/haproxy, integration/istio, integration/kube_apiserver_metrics, integration/kube_scheduler, integration/linkerd, integration/nginx_ingress_controller, integration/openmetrics, integration/scylla

#9730 Release elastic
  .in-toto/tag.0244aaa8.link
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/elastic, release

#9700 Split statements tests out
  .github/CODEOWNERS
  mysql/tests/test_mysql.py
  mysql/tests/test_statements.py
Labels: changelog/no-changelog, dev/testing, integration/mysql, qa/skip-qa

#9701 Split statement tests out
  .github/CODEOWNERS
  postgres/tests/test_pg_integration.py
  postgres/tests/test_statements.py
Labels: changelog/no-changelog, dev/testing, integration/postgres, qa/skip-qa

#9732 [Release] Bumped vault version to 2.14.0
  .in-toto/tag.31091c85.link
  requirements-agent-release.txt
  vault/CHANGELOG.md
  vault/datadog_checks/vault/__about__.py
Labels: changelog/no-changelog, integration/vault, release

#9731 [Release] Bumped datadog_checks_dev version to 12.4.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#9733 Fix wrong errors related to pg_stat_statements setup
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_statements.py
Labels: changelog/Fixed, integration/postgres

#9505 📝 Improve clarity of integration dashboards guide, update images
  docs/developer/assets/images/about_and_overview_groups.png
  docs/developer/assets/images/example_full_length.png
  docs/developer/assets/images/group_titles.png
  docs/developer/assets/images/header_color_usage.png
  docs/developer/assets/images/name_repetition.png
  docs/developer/assets/images/qa_widths.png
  docs/developer/assets/images/stream_widgets.png
  docs/developer/assets/images/symmetrical_example_1.png
  docs/developer/assets/images/symmetrical_example_2.png
  docs/developer/assets/images/use_legends.png
  docs/developer/assets/images/x_axes_alignment.png
  docs/developer/guidelines/dashboards.md
Labels: changelog/no-changelog, documentation

#9735 Enable CI validation for all repos
  .azure-pipelines/templates/run-validations.yml
Labels: changelog/no-changelog, dev/testing

#9736 Support empty config options for job or codecov
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9737 [Release] Bumped datadog_checks_dev version to 12.4.1
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#9740 [Release] Bumped postgres version to 8.0.5
  .in-toto/tag.31091c85.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres, release

#9668 Fix cilium CI
  .azure-pipelines/scripts/cilium/linux/50_increase_docker_memory.sh
Labels: changelog/no-changelog, dev/testing, integration/cilium

#9715 [kubernetes][monitors] Fix statefulset monitor
  kubernetes/assets/monitors/monitor_statefulset_replicas.json
Labels: changelog/no-changelog, integration/kubernetes

#9723 Update notes in ebpf-based checks
  oom_kill/README.md
  tcp_queue_length/README.md
Labels: changelog/no-changelog, documentation, integration/oom_kill, integration/tcp_queue_length, qa/skip-qa

#9744 Fix flaky test, add more assertions and missing metric
  redisdb/metadata.csv
  redisdb/tests/test_e2e.py
Labels: changelog/no-changelog, dev/testing, integration/redisdb

#9745 Fix flake & add missing assertions
  couch/tests/test_couchv2.py
Labels: changelog/no-changelog, dev/testing, integration/couch

#9747 remove extraneous space
  glusterfs/README.md
Labels: changelog/no-changelog, documentation, integration/glusterfs

#9738 Support `SHUNNED_REPLICATION_LAG` status for `proxysql.backend.status` service check
  proxysql/datadog_checks/proxysql/queries.py
Labels: changelog/Added, integration/proxysql

#9750 Properly allow deprecated required config
  mysql/datadog_checks/mysql/config_models/validators.py
  mysql/tests/test_mysql.py
  mysql/tests/test_statements.py
  oracle/datadog_checks/oracle/config_models/validators.py
  supervisord/datadog_checks/supervisord/config_models/validators.py
Labels: changelog/Fixed, integration/mysql, integration/oracle, integration/supervisord

#9753 [Release] Oracle Mysql and supervisor
  .in-toto/tag.31091c85.link
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  oracle/CHANGELOG.md
  oracle/datadog_checks/oracle/__about__.py
  requirements-agent-release.txt
  supervisord/CHANGELOG.md
  supervisord/datadog_checks/supervisord/__about__.py
Labels: changelog/no-changelog, integration/mysql, integration/oracle, integration/supervisord, release

#9627 Add is_jmx instance flag documentation
  cassandra/assets/configuration/spec.yaml
  cassandra/datadog_checks/cassandra/config_models/defaults.py
  cassandra/datadog_checks/cassandra/config_models/instance.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
  kafka/assets/configuration/spec.yaml
  kafka/datadog_checks/kafka/config_models/defaults.py
  kafka/datadog_checks/kafka/config_models/instance.py
  sonarqube/assets/configuration/spec.yaml
  sonarqube/datadog_checks/sonarqube/config_models/defaults.py
  sonarqube/datadog_checks/sonarqube/config_models/instance.py
  sonarqube/datadog_checks/sonarqube/data/conf.yaml.example
  tomcat/assets/configuration/spec.yaml
  tomcat/datadog_checks/tomcat/config_models/defaults.py
  tomcat/datadog_checks/tomcat/config_models/instance.py
Labels: changelog/no-changelog, dev/tooling, documentation, integration/cassandra, integration/datadog_checks_dev, integration/kafka, integration/sonarqube, integration/tomcat

#9752 Fix debug log formating
  postgres/datadog_checks/postgres/metrics_cache.py
Labels: changelog/Fixed, integration/postgres

#9689 Test string float value in e2e
  snmp/tests/compose/data/dummy.snmprec
  snmp/tests/test_e2e_core_vs_python.py
Labels: changelog/Fixed, do-not-merge/HOLD, integration/snmp

#9742 Enclose community string using single quote
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: changelog/Fixed, integration/snmp

#9734 Update consul docs
  consul/README.md
Labels: changelog/no-changelog, documentation, integration/consul

#9596 Support Windows E2E testing in CI for Python 2
  .azure-pipelines/templates/test-single-windows.yml
  disk/tox.ini
  dns_check/tox.ini
  pdh_check/tox.ini
  tcp_check/tox.ini
  windows_service/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/disk, integration/dns_check, integration/pdh_check, integration/tcp_check, integration/windows_service

#9749 Document the max number of IDs that can be used for filtering per instance
  win32_event_log/assets/configuration/spec.yaml
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/win32_event_log

#9626 Correctly handle errors during initialization + code refactor
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/datadog_checks/kafka_consumer/legacy_0_10_2.py
  kafka_consumer/datadog_checks/kafka_consumer/new_kafka_consumer.py
  kafka_consumer/tests/common.py
  kafka_consumer/tests/test_kafka_consumer.py
  kafka_consumer/tests/test_kafka_consumer_zk.py
Labels: changelog/Fixed, integration/kafka_consumer

#9746 fix oracle readme
  oracle/README.md
Labels: changelog/no-changelog, documentation, integration/oracle

#9646 Do not declare instance on check, rename url to host
  tcp_check/datadog_checks/tcp_check/tcp_check.py
Labels: changelog/no-changelog, integration/tcp_check

#9739 Use `display_default` as a fallback for `default` when validating config models
  cassandra/datadog_checks/cassandra/config_models/defaults.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/model.py
  elastic/datadog_checks/elastic/config_models/defaults.py
  envoy/datadog_checks/envoy/config_models/defaults.py
  go_expvar/datadog_checks/go_expvar/config_models/defaults.py
  haproxy/datadog_checks/haproxy/config_models/defaults.py
  istio/datadog_checks/istio/config_models/defaults.py
  kafka/datadog_checks/kafka/config_models/defaults.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  network/datadog_checks/network/config_models/defaults.py
  nfsstat/datadog_checks/nfsstat/config_models/defaults.py
  nginx/datadog_checks/nginx/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  riakcs/datadog_checks/riakcs/config_models/defaults.py
  sap_hana/datadog_checks/sap_hana/config_models/defaults.py
  sonarqube/datadog_checks/sonarqube/config_models/defaults.py
  spark/datadog_checks/spark/config_models/defaults.py
  tomcat/datadog_checks/tomcat/config_models/defaults.py
  varnish/datadog_checks/varnish/config_models/defaults.py
  vault/datadog_checks/vault/config_models/defaults.py
  vsphere/datadog_checks/vsphere/config_models/defaults.py
  win32_event_log/assets/configuration/spec.yaml
  win32_event_log/datadog_checks/win32_event_log/config_models/defaults.py
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
  wmi_check/datadog_checks/wmi_check/config_models/defaults.py
  yarn/datadog_checks/yarn/config_models/defaults.py
Labels: changelog/Changed, dev/tooling, documentation, integration/cassandra, integration/datadog_checks_dev, integration/elastic, integration/envoy, integration/go_expvar, integration/haproxy, integration/istio, integration/kafka, integration/kafka_consumer, integration/mysql, integration/network, integration/nfsstat, integration/nginx, integration/postgres, integration/riakcs, integration/sap_hana, integration/sonarqube, integration/spark, integration/tomcat, integration/varnish, integration/vault, integration/vsphere, integration/win32_event_log, integration/wmi_check, integration/yarn

#9763 Remove documentation specifications
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/example.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/core.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/template.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/utils.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/core.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/consumers/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/consumers/readme.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/core.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/docs/spec.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/utils.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/data_collected.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/data_collected/events.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/data_collected/metrics.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/data_collected/service_checks.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/default.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/example_nagios.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/further_reading.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/overview.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/configuration.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/configuration/containerized.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/configuration/host.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/configuration/log_collection.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/installation.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/setup/validation.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/docs/troubleshooting.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  datadog_checks_dev/tests/tooling/configuration/test_template.py
  datadog_checks_dev/tests/tooling/configuration/utils.py
  datadog_checks_dev/tests/tooling/docs/__init__.py
  datadog_checks_dev/tests/tooling/docs/consumers/__init__.py
  datadog_checks_dev/tests/tooling/docs/consumers/test_readme.py
  datadog_checks_dev/tests/tooling/docs/test_load.py
  datadog_checks_dev/tests/tooling/docs/utils.py
  docs/developer/.scripts/33_render_status.py
  docs/developer/.snippets/links.txt
  docs/developer/meta/config-specs.md
  docs/developer/meta/docs-specs.md
  mkdocs.yml
  rethinkdb/assets/docs/spec.yaml
  rethinkdb/manifest.json
Labels: changelog/Removed, dev/tooling, documentation, integration/datadog_checks_dev, integration/rethinkdb

#9307 Add dashboard
  sonarqube/assets/dashboards/overview.json
  sonarqube/assets/dashboards/sonarqube_overview.json
  sonarqube/manifest.json
Labels: changelog/no-changelog, documentation, integration/sonarqube

#9758 Add new relation metrics
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/metadata.csv
  postgres/tests/test_relations.py
Labels: changelog/Added, integration/postgres

#9771 [Release] Bumped postgres version to 8.1.0
  .in-toto/tag.47c5a022.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/postgres, release

#9655 Fix AttributeError when filters are not set
  win32_event_log/datadog_checks/win32_event_log/config_models/validators.py
Labels: changelog/Fixed, integration/win32_event_log, kind/bug

#9722 Set timeout for socket connection
  php_fpm/datadog_checks/php_fpm/php_fpm.py
Labels: changelog/Fixed, integration/php_fpm

#9774 Update code owner for Infrastructure Integrations: add `ddev meta snmp`, remove `openstack/vsphere`
  .github/CODEOWNERS
Labels: changelog/no-changelog

#9741 Refactor profile validators
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validate_snmp_profiles.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/schema_validation.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/utils.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validators/validator.py
  snmp/datadog_checks/snmp/data/profiles/cisco-csr1000v.yaml
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev, integration/snmp

#9768 Enable ispr for changes.yml and remove ispr for run-validations.yml
  .azure-pipelines/changes.yml
  .azure-pipelines/templates/run-validations.yml
Labels: changelog/no-changelog, dev/testing

#9775 Add kube_job tag to job metrics
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/test_kubernetes_state.py
Labels: changelog/Fixed, integration/kubernetes_state

#9769 changelog/no-changelog log stream widget on iis overview dashboard should query source:iis
  iis/assets/dashboards/iis_overview.json
Labels: changelog/no-changelog, integration/iis

#9780 Pin cassandra docker image
  cassandra/tests/compose/dockerfile
Labels: changelog/no-changelog, dev/testing, integration/cassandra, qa/skip-qa

#9757 Add dashboard for Kubernetes API server
  kube_apiserver_metrics/assets/dashboards/overview.json
  kube_apiserver_metrics/manifest.json
Labels: changelog/no-changelog, documentation, integration/kube_apiserver_metrics

#9781 Fix config validation
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/config_models/defaults.py
  vsphere/datadog_checks/vsphere/config_models/validators.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: changelog/Fixed, documentation, integration/vsphere

#9765 Add test for v3 default protocols
  snmp/tests/compose/data/args_list.txt
  snmp/tests/test_e2e_core.py
Labels: changelog/no-changelog, integration/snmp

#9687 Add test for SNMP v1 with oid batch size of 1
  snmp/tests/test_e2e_core.py
Labels: changelog/no-changelog, integration/snmp

#9788 Update service checks doc
  oracle/assets/service_checks.json
Labels: changelog/no-changelog, integration/oracle

#9790 Fix couch flake
  couch/tests/test_couchv2.py
Labels: changelog/no-changelog, dev/testing, integration/couch

#9792 Fix merge issue with assert_apc_ups_metrics
  snmp/tests/test_e2e_core.py
Labels: changelog/no-changelog, integration/snmp

#9720 Work around timeout issues in IBM i driver
  datadog_checks_base/datadog_checks/base/utils/db/query.py
  datadog_checks_base/tests/test_db.py
  ibm_i/assets/configuration/spec.yaml
  ibm_i/datadog_checks/ibm_i/check.py
  ibm_i/datadog_checks/ibm_i/config_models/defaults.py
  ibm_i/datadog_checks/ibm_i/config_models/instance.py
  ibm_i/datadog_checks/ibm_i/config_models/validators.py
  ibm_i/datadog_checks/ibm_i/data/conf.yaml.example
  ibm_i/datadog_checks/ibm_i/queries.py
  ibm_i/datadog_checks/ibm_i/query_script.py
  ibm_i/tests/test_ibm_i.py
Labels: documentation, integration/datadog_checks_base, integration/ibm_i

#9756 Add test for inline profile def
  snmp/tests/test_e2e_core_vs_python.py
Labels: changelog/no-changelog, integration/snmp

#9787 Validate all integrations for base and dev updates
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/recommended_monitors.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/saved_views.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/service_checks.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: changelog/Fixed, dev/tooling, integration/datadog_checks_dev

#9798 Check if rest_api_options is empty
  vsphere/datadog_checks/vsphere/config.py
  vsphere/tests/conftest.py
Labels: changelog/Fixed, integration/vsphere

#9793 Disable service tag by default on new installs
  consul/assets/configuration/spec.yaml
  consul/datadog_checks/consul/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/consul

#9801 Fix supported_os for eks_fargate check
  eks_fargate/manifest.json
Labels: changelog/no-changelog, documentation, integration/eks_fargate, kind/bug

#9802 [7.30][backport] Fix supported_os for eks_fargate check (#9801)
  eks_fargate/manifest.json
Labels: changelog/no-changelog, documentation, integration/eks_fargate

#9791 Disable generic tags
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  mapr/assets/configuration/spec.yaml
  mapr/datadog_checks/mapr/config_models/defaults.py
  mapr/datadog_checks/mapr/config_models/instance.py
  mapr/datadog_checks/mapr/data/conf.yaml.example
  mapr/datadog_checks/mapr/mapr.py
  mapr/tests/common.py
  mapr/tests/test_unit.py
  mapr/tox.ini
Labels: changelog/Added, documentation, integration/datadog_checks_base, integration/mapr

#9796 Allow extra 3rd party licenses
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: changelog/Added, dev/tooling, integration/datadog_checks_dev

#9784 Collect WAL file age metric
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/config_models/validators.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/metadata.csv
  postgres/tests/test_unit.py
Labels: changelog/Added, documentation, integration/postgres

#9797 Log message for invalid queries
  ibm_db2/datadog_checks/ibm_db2/ibm_db2.py
  ibm_db2/tests/test_unit.py
Labels: changelog/Added, integration/ibm_db2

#9804 [OpenMetricsV2] Improve label sharing behavior
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/labels.py
  datadog_checks_base/tests/openmetrics/test_options.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  kong/datadog_checks/kong/data/conf.yaml.example
Labels: changelog/Added, dev/tooling, integration/datadog_checks_base, integration/datadog_checks_dev, integration/kong

#9779 Update codeowners
  .github/CODEOWNERS
Labels: changelog/no-changelog

#9800 Explicitly close connection after query error
  oracle/datadog_checks/oracle/oracle.py
Labels: changelog/Fixed, integration/oracle

#9382 Add more assertions to consul tests and add missing metrics to metadata
  consul/tests/common.py
  consul/tests/compose/server-0.7.2.json
  consul/tests/compose/server-1.6.0.json
  consul/tests/compose/server-v0.6.4.json
  consul/tests/test_e2e.py
  consul/tests/test_integration.py
  consul/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/consul

#9773 Add service check for K8s API Server components
  kube_controller_manager/assets/service_checks.json
  kube_controller_manager/datadog_checks/kube_controller_manager/data/conf.yaml.example
  kube_controller_manager/datadog_checks/kube_controller_manager/kube_controller_manager.py
  kube_controller_manager/tests/test_kube_controller_manager.py
  kube_scheduler/assets/configuration/spec.yaml
  kube_scheduler/assets/service_checks.json
  kube_scheduler/datadog_checks/kube_scheduler/data/conf.yaml.example
  kube_scheduler/datadog_checks/kube_scheduler/kube_scheduler.py
  kube_scheduler/tests/test_kube_scheduler_1_14.py
Labels: changelog/Changed, documentation, integration/kube_controller_manager, integration/kube_scheduler

#9786 Add metric for estimated table bloat percentage
  LICENSE-3rdparty.csv
  postgres/LICENSE-3rdparty-extra.csv
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/metadata.csv
  postgres/tests/test_relations.py
Labels: changelog/Added, integration/postgres

#9772 Add Datadog Cluster Agent integration
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  .github/CODEOWNERS
  datadog_cluster_agent/CHANGELOG.md
  datadog_cluster_agent/MANIFEST.in
  datadog_cluster_agent/README.md
  datadog_cluster_agent/assets/configuration/spec.yaml
  datadog_cluster_agent/assets/dashboards/datadog_cluster_agent_overview.json
  datadog_cluster_agent/assets/service_checks.json
  datadog_cluster_agent/datadog_checks/__init__.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/__about__.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/__init__.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/config_models/__init__.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/config_models/defaults.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/config_models/instance.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/config_models/shared.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/config_models/validators.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/data/auto_conf.yaml
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/data/conf.yaml.example
  datadog_cluster_agent/images/.gitkeep
  datadog_cluster_agent/manifest.json
  datadog_cluster_agent/metadata.csv
  datadog_cluster_agent/requirements-dev.txt
  datadog_cluster_agent/requirements.in
  datadog_cluster_agent/setup.py
  datadog_cluster_agent/tests/__init__.py
  datadog_cluster_agent/tests/conftest.py
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
  datadog_cluster_agent/tox.ini
Labels: changelog/Added, containers, dev/testing, documentation, integration/datadog_cluster_agent

#9805 Bumped oracle version to 3.3.3
  .in-toto/tag.024e42fe.link
  oracle/CHANGELOG.md
  oracle/datadog_checks/oracle/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/oracle, release
