Repository DataDog/integrations-core, pull requests merged in 2022-09, with the labels that each got.

#12738 Improve Kube API Server OOTB dashboard
  kube_apiserver_metrics/README.md
  kube_apiserver_metrics/assets/dashboards/overview.json
  kube_apiserver_metrics/images/screenshot.png
Labels: documentation, changelog/no-changelog, integration/kube_apiserver_metrics

#12703 Add new OOTB dashboard for Kube Scheduler
  kube_scheduler/README.md
  kube_scheduler/assets/dashboards/overview.json
  kube_scheduler/images/kube_scheduler_screenshot.jpeg
Labels: documentation, changelog/no-changelog, integration/kube_scheduler

#12851 Adding AD Annotations v2 examples where relevant
  apache/README.md
  coredns/README.md
  elastic/README.md
  haproxy/README.md
  mongo/README.md
  mysql/README.md
  nginx/README.md
  postgres/README.md
  redisdb/README.md
Labels: documentation, changelog/no-changelog, integration/apache, integration/elastic, integration/haproxy, integration/mongo, integration/mysql, integration/nginx, integration/postgres, integration/redisdb, integration/coredns

#12825 Documentation: Updating manifest.json information in integrations asset reference
  docs/dev/check_references.md
Labels: documentation, changelog/no-changelog

#12848 Try to stabilise hana tests
  sap_hana/tests/common.py
  sap_hana/tests/conftest.py
  sap_hana/tests/test_integration.py
  sap_hana/tests/test_unit.py
Labels: changelog/no-changelog, integration/sap_hana

#12857 Skip all sock5 tests on ci
  datadog_checks_base/tests/base/utils/http/test_socks5_proxy.py
Labels: changelog/no-changelog, integration/datadog_checks_base, qa/skip-qa

#12860 Solve issue after migration to pymongo 4
  mongo/datadog_checks/mongo/api.py
Labels: integration/mongo, changelog/Fixed

#12859 Add attempts and checkdockerlogs to twemproxy
  twemproxy/tests/conftest.py
Labels: changelog/no-changelog, integration/twemproxy

#12862 Bumped mongo version to 4.0.2
  .in-toto/tag.5e2e6791.link
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mongo, release

#12858 rename nginx containers
  datadog_checks_base/tests/base/utils/http/test_socks5_proxy.py
  datadog_checks_base/tests/compose/kerberos/kerberos-agent.yaml
  datadog_checks_base/tests/compose/kerberos/kerberos-agent/Dockerfile
  datadog_checks_base/tests/compose/kerberos/kerberos-agent/configurekerberos.sh
  datadog_checks_base/tests/compose/kerberos/kerberos-agent/configurenginx.sh
  datadog_checks_base/tests/compose/kerberos/kerberos-agent/entrypoint.sh
  datadog_checks_base/tests/compose/kerberos/kerberos-agent/nginx.yaml
  datadog_checks_base/tests/compose/kerberos/kerberos-kdc/Dockerfile
  datadog_checks_base/tests/compose/kerberos/kerberos-kdc/init.sh
  datadog_checks_base/tests/compose/kerberos/kerberos-kdc/kdc.conf
  datadog_checks_base/tests/compose/kerberos/kerberos-kdc/krb5.conf
  datadog_checks_base/tests/compose/kerberos/kerberos-nginx/Dockerfile
  datadog_checks_base/tests/compose/kerberos/kerberos-nginx/configurekerberos.sh
  datadog_checks_base/tests/compose/kerberos/kerberos-nginx/configurenginx.sh
  datadog_checks_base/tests/compose/kerberos/kerberos-nginx/entrypoint.sh
  datadog_checks_base/tests/compose/kerberos/kerberos-nginx/nginx.conf
  datadog_checks_base/tests/compose/kerberos/kerberos-nginx/setupkeytab.sh
  datadog_checks_base/tests/compose/kerberos/kerberos.yaml
  datadog_checks_base/tests/compose/socks5-proxy.yaml
  datadog_checks_base/tests/compose/uds/uds-nginx/nginx.conf
  datadog_checks_base/tests/compose/uds/uds-nginx/templates/default.conf.template
  datadog_checks_base/tests/compose/uds/uds.yaml
  datadog_checks_base/tests/conftest.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#12546 Use official labeler GH action
  .github/workflows/config/labeler.yml
  .github/workflows/labeler-community.yml
  .github/workflows/labeler-reusable.yml
  .github/workflows/labeler.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
Labels: dev/tooling, changelog/Changed, dev_package

#12856 Remove tox related references from the `ddev create` template files
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/requirements-dev.txt
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#12861 skip assertions on mac
  datadog_checks_base/tests/base/utils/http/test_socks5_proxy.py
Labels: changelog/no-changelog, integration/datadog_checks_base, base_package

#12868 Increase memory for hana
  .azure-pipelines/scripts/sap_hana/linux/50_set_up_sysctl.sh
  sap_hana/datadog_checks/sap_hana/sap_hana.py
Labels: changelog/no-changelog, dev/testing, integration/sap_hana, qa/skip-qa

#12865 (DOCS) Add further reading section and blog link
  snowflake/README.md
Labels: documentation, changelog/no-changelog, integration/snowflake

#12873 Fix EKS Fargate link
  amazon_eks/README.md
  eks_anywhere/README.md
Labels: changelog/no-changelog, integration/amazon_eks, category/bugfix, integration/eks_anywhere

#12871 Fix service checks
  kubernetes/assets/service_checks.json
Labels: containers, integration/kubernetes, changelog/Fixed

#12838 Add new Kong API dashboard
  kong/assets/dashboards/kong_api.json
  kong/manifest.json
Labels: documentation, integration/kong

#12872 Upgrade Hatch
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
  datadog_checks_dev/pyproject.toml
Labels: dev/tooling, changelog/Added, dev_package

#12877 Skip sock5 tests on py2
  datadog_checks_base/tests/base/utils/http/test_socks5_proxy.py
Labels: base_package

#12613 SQL Server: Use statement_start_offset to extract SQL text being run from Procedure text
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_statements.py
Labels: integration/sqlserver, changelog/Changed

#12886 Use Hatch to manage environments
  apache/hatch.toml
  apache/requirements-dev.txt
  apache/tox.ini
Labels: changelog/no-changelog, integration/apache

#12884 Add OAuth functionality to the HTTP util
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/pyproject.toml
  datadog_checks_base/tests/base/utils/http/test_authtoken.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
Labels: dev/tooling, changelog/Added, dependencies, dev_package, base_package

#12881 Convert regex patterns to glob patterns in PR labeler config
  .github/workflows/config/labeler.yml
Labels: changelog/no-changelog, dev/tooling

#12889 Add section in readme about collecting all organization metrics
  snowflake/README.md
Labels: documentation, changelog/no-changelog, integration/snowflake

#12891 Fix support for OAUTHBEARER SASL mechanism
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/config_models/defaults.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/instance.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: documentation, integration/kafka_consumer, changelog/Fixed

#12893 [Release] Bumped datadog_checks_base version to 27.1.0
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, base_package

#12894 Upgrade base package
  kafka_consumer/pyproject.toml
Labels: changelog/no-changelog, integration/kafka_consumer

#12895 [Release] Bumped kafka_consumer version to 2.15.4
  .in-toto/tag.c295cf63.link
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/kafka_consumer, release

#12834 Remove legacy compose
  azure_iot_edge/tests/compose/docker-compose.yaml
  azure_iot_edge/tests/compose/mock_server/docker-compose.yaml
  azure_iot_edge/tests/conftest.py
  azure_iot_edge/tox.ini
Labels: changelog/no-changelog, integration/azure_iot_edge

#12866 Add troubleshooting section about transient queues
  ibm_mq/README.md
Labels: integration/ibm_mq

#12878 Add sleep after hana environment set up
  sap_hana/tests/conftest.py
Labels: changelog/no-changelog, integration/sap_hana

#12867 Attempts default to 2 on ci
  datadog_checks_dev/datadog_checks/dev/docker.py
  datadog_checks_dev/datadog_checks/dev/env.py
  datadog_checks_dev/tests/test__env.py
  datadog_checks_dev/tests/test_docker.py
Labels: changelog/Added, dev_package

#12902 disable calico tests
  calico/tox.ini
Labels: changelog/no-changelog, integration/calico

#12897 Use Hatch to manage environments
  activemq_xml/hatch.toml
  activemq_xml/requirements-dev.txt
  activemq_xml/tox.ini
Labels: changelog/no-changelog, integration/activemq_xml

#12023 Add collection of ethtool queue stats
  network/assets/configuration/spec.yaml
  network/datadog_checks/network/config_models/defaults.py
  network/datadog_checks/network/config_models/instance.py
  network/datadog_checks/network/const.py
  network/datadog_checks/network/data/conf.yaml.default
  network/datadog_checks/network/ethtool.py
  network/datadog_checks/network/network.py
  network/metadata.csv
  network/tests/common.py
  network/tests/test_ethtool.py
  network/tests/test_network.py
Labels: documentation, integration/network, changelog/Added

#12887 Add new kube_apiserver_metric for deprecated API usage
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/metadata.csv
  kube_apiserver_metrics/tests/fixtures/metrics_1.19.7.txt
  kube_apiserver_metrics/tests/fixtures/metrics_1.23.0.txt
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_19.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_23.py
Labels: changelog/Added, integration/kube_apiserver_metrics

#12720 Set kubernetes.cpu metrics as gauge typed
  kubelet/metadata.csv
Labels: containers, changelog/no-changelog, integration/kubelet

#12906 Use Hatch to manage environments
  activemq/hatch.toml
  activemq/requirements-dev.txt
  activemq/tests/compose/activemq.yaml
  activemq/tests/compose/artemis.yaml
  activemq/tox.ini
Labels: changelog/no-changelog, integration/activemq

#12898 Use Hatch to manage environments
  openmetrics/hatch.toml
  openmetrics/requirements-dev.txt
  openmetrics/tox.ini
Labels: changelog/no-changelog, integration/openmetrics

#12899 Refresh dashboards with new latencies and correct errors for MongoDB
  mongo/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/mongo

#12602 Remove legacy compose from E2E environment
  sonarqube/datadog_checks/sonarqube/check.py
  sonarqube/tests/common.py
  sonarqube/tests/conftest.py
  sonarqube/tests/docker/Dockerfile-7.x
  sonarqube/tests/docker/Dockerfile-8+
  sonarqube/tests/docker/Dockerfile-M1
  sonarqube/tests/docker/docker-compose.yaml
  sonarqube/tox.ini
Labels: changelog/no-changelog, integration/sonarqube

#12913 Stop asserting metadata during e2e tests
  avi_vantage/tests/test_avi_vantage.py
  proxysql/tests/test_e2e.py
  singlestore/tests/test_e2e.py
  snowflake/tests/test_e2e.py
Labels: changelog/no-changelog, integration/proxysql, integration/snowflake, integration/avi_vantage, integration/singlestore

#12584 Implement initial e2e integration tests for datadog-checks-downloader
  datadog_checks_downloader/README.md
  datadog_checks_downloader/requirements-dev.txt
  datadog_checks_downloader/tests/conftest.py
  datadog_checks_downloader/tests/data/datadog-active-directory-1.10.0-signature-wheels-signer-a.zip
  datadog_checks_downloader/tests/data/datadog-active-directory-1.10.0.zip
  datadog_checks_downloader/tests/local_http.py
  datadog_checks_downloader/tests/test_downloader.py
Labels: integration/datadog_checks_downloader, downloader

#12908 Update app id exceptions in logs validation
  .gitlab/validate-logs-intgs/validate_log_intgs.py
Labels: changelog/no-changelog, dev/tooling

#12917 Updating adoprovider parameter details 2
  sqlserver/assets/configuration/spec.yaml
Labels: documentation, changelog/no-changelog, integration/sqlserver

#12921 Disable PR labels sync
  .github/workflows/labeler-reusable.yml
Labels: changelog/no-changelog, dev/tooling

#12922 Do not apply no-changelog label if any changed paths are in `*/datadog_checks/**` or `pyproject.toml`
  .github/workflows/config/labeler.yml
Labels: changelog/no-changelog, dev/tooling

#12920 Add case sensitive changelog validation
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/validator.py
  datadog_checks_dev/tests/tooling/manifest_validator/test_v2_validator.py
Labels: dev/tooling, changelog/Fixed, dev_package

#12914 Use Hatch to manage environments
  avi_vantage/hatch.toml
  avi_vantage/requirements-dev.txt
  avi_vantage/tox.ini
Labels: changelog/no-changelog, integration/avi_vantage

#12910 Add recommended monitor
  boundary/assets/monitors/active_connections.json
  boundary/manifest.json
Labels: documentation, changelog/Added, integration/boundary

#12916 Updating adoprovider parameter details
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/sqlserver

#12918 Fix tile-only README template generation
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
Labels: dev/tooling, changelog/Fixed, dev_package

#12901 Revert "Revert "Add sleep after hana environment set up""
  sap_hana/tests/conftest.py
Labels: changelog/no-changelog, integration/sap_hana

#12883 Adjust script based on escalation
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks

#12904 Update Vertica dashboard
  vertica/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/vertica

#12817 Update README.md
  teradata/README.md
Labels: documentation, changelog/no-changelog, editorial review, integration/teradata

#12820 Update README.md
  singlestore/README.md
Labels: documentation, changelog/no-changelog, editorial review, integration/singlestore

#12869 [rabbitmq] Add new metric to track size of queues in bytes
  rabbitmq/datadog_checks/rabbitmq/const.py
  rabbitmq/metadata.csv
  rabbitmq/tests/metrics.py
Labels: integration/rabbitmq, changelog/Added

#12722 (DOCS-3777) Update Pivotal PKS setup
  pivotal_pks/README.md
Labels: changelog/no-changelog, integration/pivotal_pks

#12388 DOCS-3612 - remove redundant/irrelevant note about metrics collection in Singlestore integration
  singlestore/README.md
Labels: documentation, changelog/no-changelog, integration/singlestore

#12896 Bump dependencies for 7.40
  aerospike/pyproject.toml
  amazon_msk/pyproject.toml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
  kafka_consumer/pyproject.toml
  snowflake/pyproject.toml
Labels: integration/kafka_consumer, changelog/Fixed, integration/aerospike, integration/amazon_msk, dependencies, integration/snowflake, dev_package, base_package

#11607 [docs]kris-casey/update links
  airflow/README.md
Labels: documentation, changelog/no-changelog, integration/airflow

#12726 [SNMP] Add tests and metadata for Fortinet Fortigate VPN Tunnel metrics and tags
  snmp/metadata.csv
  snmp/tests/compose/data/fortinet-fortigate.snmprec
  snmp/tests/test_profiles.py
Labels: changelog/no-changelog, integration/snmp

#12924 Add docker_platform windows to win32_event_log env
  win32_event_log/tests/conftest.py
Labels: changelog/no-changelog, integration/win32_event_log

#12930 Templatize the repository in the README links
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
Labels: dev/tooling, changelog/Fixed, dev_package

#12344 [cert_manager] Migrate from integrations-extras
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  cert_manager/CHANGELOG.md
  cert_manager/README.md
  cert_manager/assets/configuration/spec.yaml
  cert_manager/assets/dashboards/certmanager_overview.json
  cert_manager/assets/service_checks.json
  cert_manager/datadog_checks/__init__.py
  cert_manager/datadog_checks/cert_manager/__about__.py
  cert_manager/datadog_checks/cert_manager/__init__.py
  cert_manager/datadog_checks/cert_manager/cert_manager.py
  cert_manager/datadog_checks/cert_manager/data/auto_conf.yaml
  cert_manager/datadog_checks/cert_manager/data/conf.yaml.example
  cert_manager/datadog_checks/cert_manager/metrics.py
  cert_manager/images/overview_dashboard.png
  cert_manager/manifest.json
  cert_manager/metadata.csv
  cert_manager/pyproject.toml
  cert_manager/requirements-dev.txt
  cert_manager/setup.py
  cert_manager/tests/__init__.py
  cert_manager/tests/common.py
  cert_manager/tests/conftest.py
  cert_manager/tests/fixtures/cert_manager.txt
  cert_manager/tests/kubernetes/acme.yaml
  cert_manager/tests/kubernetes/nginx.yaml
  cert_manager/tests/kubernetes/pebble.yaml
  cert_manager/tests/kubernetes/selfsigned.yaml
  cert_manager/tests/test_cert_manager.py
  cert_manager/tests/test_e2e.py
  cert_manager/tox.ini
Labels: documentation, containers, dev/testing, dev/tooling, changelog/Added, integration/cert_manager

#11617 Update docker.exit field name & github link
  docker_daemon/README.md
Labels: documentation, changelog/no-changelog, integration/docker_daemon

#12927 Add recommended monitor for Vertica
  vertica/assets/monitors/vertica_replication_safety.json
  vertica/manifest.json
Labels: documentation, changelog/no-changelog, integration/vertica

#12606 Update README.md
  ecs_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/ecs_fargate

#12935 [datadog_cluster_agent] Add kubernetes_apiserver metrics
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/metadata.csv
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
Labels: changelog/Added, integration/datadog_cluster_agent

#12936 Update calico to v3.24 for tests and reactivate e2e tests
  calico/metadata.csv
  calico/tests/common.py
  calico/tests/conftest.py
  calico/tox.ini
Labels: changelog/no-changelog, integration/calico

#12933 Remove tox files references in some pyproject.toml files
  activemq/pyproject.toml
  activemq_xml/pyproject.toml
  ambari/pyproject.toml
  apache/pyproject.toml
  avi_vantage/pyproject.toml
  datadog_checks_dev/pyproject.toml
  gitlab_runner/pyproject.toml
  openmetrics/pyproject.toml
  vault/pyproject.toml
Labels: changelog/no-changelog, integration/activemq, integration/activemq_xml, integration/apache, integration/gitlab_runner, integration/vault, integration/openmetrics, integration/ambari, integration/avi_vantage, dev_package

#12937 Remove bench environments
  activemq/hatch.toml
  activemq_xml/hatch.toml
  ambari/hatch.toml
  avi_vantage/hatch.toml
  gitlab_runner/hatch.toml
  openmetrics/hatch.toml
Labels: changelog/no-changelog, integration/activemq, integration/activemq_xml, integration/gitlab_runner, integration/openmetrics, integration/ambari, integration/avi_vantage

#12932 Add optional windows_service_startup_type tag
  windows_service/assets/configuration/spec.yaml
  windows_service/datadog_checks/windows_service/config_models/defaults.py
  windows_service/datadog_checks/windows_service/config_models/instance.py
  windows_service/datadog_checks/windows_service/data/conf.yaml.example
  windows_service/datadog_checks/windows_service/windows_service.py
  windows_service/tests/test_bench.py
  windows_service/tests/test_windows_service.py
Labels: documentation, integration/windows_service, changelog/Added

#12849 Add logs support
  boundary/assets/configuration/spec.yaml
  boundary/datadog_checks/boundary/data/conf.yaml.example
  boundary/manifest.json
  boundary/tests/conftest.py
  boundary/tests/docker/boundary.hcl
  boundary/tests/docker/docker-compose.yaml
Labels: documentation, changelog/Added, integration/boundary

#11507 Add connection refresh option
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/config_models/defaults.py
  vsphere/datadog_checks/vsphere/config_models/instance.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_check.py
Labels: documentation, integration/vsphere, changelog/Added

#12939 Refactor tooling for getting the current env name
  cilium/tests/conftest.py
  datadog_checks_dev/datadog_checks/dev/kind.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
  datadog_checks_dev/datadog_checks/dev/utils.py
  foundationdb/tests/common.py
  foundationdb/tests/conftest.py
  foundationdb/tests/test_foundationdb.py
  snmp/tests/common.py
  snmp/tests/conftest.py
  teradata/tests/common.py
  teradata/tests/test_e2e.py
  windows_performance_counters/tests/test_e2e.py
Labels: dev/tooling, integration/snmp, changelog/Added, integration/cilium, integration/windows_performance_counters, integration/foundationdb, integration/teradata, dev_package

#12943 Pin tagger image
  .gitlab-ci.yml
Labels: changelog/no-changelog

#12819 Update README.md
  arangodb/README.md
Labels: documentation, changelog/no-changelog, editorial review, integration/arangodb

#12928 Use Hatch to manage environments
  amazon_msk/hatch.toml
  amazon_msk/pyproject.toml
  amazon_msk/requirements-dev.txt
  amazon_msk/tox.ini
Labels: changelog/no-changelog, integration/amazon_msk

#12929 Use Hatch to manage environments
  arangodb/hatch.toml
  arangodb/pyproject.toml
  arangodb/requirements-dev.txt
  arangodb/tox.ini
Labels: changelog/no-changelog, integration/arangodb

#12934 Add a warning in case of misconfiguration
  ibm_mq/datadog_checks/ibm_mq/config.py
Labels: changelog/no-changelog, integration/ibm_mq

#12938 Use Hatch to manage environments (calico)
  calico/hatch.toml
  calico/pyproject.toml
  calico/requirements-dev.txt
  calico/tox.ini
Labels: integration/calico

#12948 Update the classifier for macOS
  cert_manager/manifest.json
Labels: documentation, changelog/no-changelog, integration/cert_manager

#12952 [Release] Bumped cert_manager version to 3.0.0
  .in-toto/tag.05916999.link
  cert_manager/CHANGELOG.md
  cert_manager/datadog_checks/cert_manager/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, integration/cert_manager

#12945 [Release] Release new integrations for 7.40.x
  .in-toto/tag.05916999.link
  impala/CHANGELOG.md
  impala/datadog_checks/impala/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, integration/impala

#12942 [kafka consumer integration] Put lag in seconds behind a feature flag
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/config_models/defaults.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/instance.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/datadog_checks/kafka_consumer/new_kafka_consumer.py
  kafka_consumer/metadata.csv
  kafka_consumer/tests/test_kafka_consumer.py
Labels: documentation, integration/kafka_consumer

#12665 Add agent config option to control Window Counter refresh rate
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/base.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/refresh.py
Labels: integration/datadog_checks_base, changelog/Added, base_package

#12965 Do not fail the validation if `pr_labels_config_relative_path` is not defined
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/ci.py
Labels: dev/tooling, changelog/Fixed, dev_package

#12971 Release snowflake, ddev and check_base
  .in-toto/tag.05916999.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: documentation, changelog/no-changelog, release, integration/snowflake, dev_package, base_package

#12973 Regenerate IBM MQ SSL env keys
  ibm_mq/tests/keys/README.md
  ibm_mq/tests/keys/client.crl
  ibm_mq/tests/keys/client.kdb
  ibm_mq/tests/keys/client.pem
  ibm_mq/tests/keys/client.rdb
  ibm_mq/tests/keys/client.sth
  ibm_mq/tests/keys/qm1.crl
  ibm_mq/tests/keys/qm1.kdb
  ibm_mq/tests/keys/qm1.pem
  ibm_mq/tests/keys/qm1.rdb
  ibm_mq/tests/keys/qm1.sth
Labels: changelog/no-changelog, dev/testing, integration/ibm_mq

#12972 Fix support for running E2E tests on Windows
  ibm_mq/tests/test_ibm_mq_int.py
Labels: changelog/no-changelog, integration/ibm_mq

#12997 Fix package structure of tests
  datadog_checks_base/tests/base/__init__.py
  datadog_checks_base/tests/base/utils/test_tracking.py
Labels: changelog/no-changelog, base_package

#13001 Change the path to the default log folder
  impala/assets/configuration/spec.yaml
  impala/datadog_checks/impala/data/conf.yaml.example
Labels: documentation, changelog/Fixed, integration/impala

#12995 Emit critical service check when connection is lost
  ibm_db2/datadog_checks/ibm_db2/ibm_db2.py
  ibm_db2/tests/test_unit.py
Labels: changelog/Fixed, integration/ibm_db2

#13004 [Release] Bumped datadog_checks_base, impala and ibm_db2 versions
  .in-toto/tag.05916999.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  ibm_db2/CHANGELOG.md
  ibm_db2/datadog_checks/ibm_db2/__about__.py
  impala/CHANGELOG.md
  impala/datadog_checks/impala/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/ibm_db2, release, integration/impala, base_package

#13008 Fix check failing when missing unnecessary SELECT grant on perf schema
  mysql/datadog_checks/mysql/mysql.py
Labels: integration/mysql, changelog/Fixed

#12998 Honor ignore_databases in query metrics collection
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_statements.py
Labels: integration/postgres, changelog/Fixed

#12984 Fix change log entries
  kafka_consumer/CHANGELOG.md
  rabbitmq/CHANGELOG.md
  sqlserver/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/kafka_consumer, integration/rabbitmq, integration/sqlserver

#12885 New cacti docker image for e2e tests
  cacti/tests/common.py
  cacti/tests/compose/Dockerfile
  cacti/tests/compose/alldb_backup.sql
  cacti/tests/compose/docker-compose.yaml
  cacti/tests/compose/restore.sh
  cacti/tests/compose/rra.tar.gz
  cacti/tests/conftest.py
  cacti/tox.ini
Labels: changelog/no-changelog, integration/cacti

#12818 Update README.md
  traffic_server/README.md
Labels: documentation, changelog/no-changelog, editorial review, integration/traffic_server

#12966 Add Gitlab v15 to environments in gitlab integration
  gitlab/tests/compose/docker-compose.yml
  gitlab/tests/conftest.py
  gitlab/tox.ini
Labels: changelog/no-changelog, integration/gitlab

#13013 Don't set any default algorithm for `ssl_cipher_spec`
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/config_models/defaults.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
Labels: documentation, changelog/Changed, integration/ibm_mq

#12981 Add missing changelog entry
  mongo/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/mongo

#12957 Add note about running apps
  spark/README.md
Labels: documentation, changelog/no-changelog, integration/spark

#13015 Use workaround for labeler `sync-labels` bug
  .github/workflows/labeler-reusable.yml
Labels: dev/tooling, changelog/Fixed

#12985 ECS Fargate links
  ecs_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/ecs_fargate

#12800 Update the openmetrics configuration template
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  arangodb/datadog_checks/arangodb/data/conf.yaml.example
  avi_vantage/datadog_checks/avi_vantage/data/conf.yaml.example
  boundary/datadog_checks/boundary/data/conf.yaml.example
  calico/datadog_checks/calico/data/conf.yaml.example
  cert_manager/datadog_checks/cert_manager/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  envoy/datadog_checks/envoy/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  impala/datadog_checks/impala/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  linkerd/datadog_checks/linkerd/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
Labels: changelog/no-changelog, dev/tooling, integration/envoy, integration/haproxy, integration/istio, integration/kong, integration/linkerd, integration/vault, integration/datadog_checks_dev, integration/cockroachdb, integration/coredns, integration/openmetrics, integration/aerospike, integration/cilium, integration/amazon_msk, integration/avi_vantage, integration/arangodb, integration/pulsar, integration/calico, integration/cert_manager, integration/boundary, integration/impala, dev_package

#12954 Add minimal e2e test for ecs_fargate integration
  ecs_fargate/tests/conftest.py
  ecs_fargate/tests/test_e2e.py
  ecs_fargate/tox.ini
Labels: changelog/no-changelog, integration/ecs_fargate

#12979 Remove unnecessary `poll` method
  vault/datadog_checks/vault/vault.py
Labels: changelog/no-changelog, integration/vault

#12961 Add test fixtures
  ddev/tests/conftest.py
  ddev/tests/test__utils.py
Labels: changelog/no-changelog, ddev

#12940 Add Windows service `startup_type` filter to config
  windows_service/assets/configuration/spec.yaml
  windows_service/datadog_checks/windows_service/config_models/instance.py
  windows_service/datadog_checks/windows_service/data/conf.yaml.example
  windows_service/datadog_checks/windows_service/windows_service.py
  windows_service/tests/common.py
  windows_service/tests/conftest.py
  windows_service/tests/test_windows_service.py
Labels: documentation, integration/windows_service, changelog/Added

#13007 Add integrations repo to ddev.
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
Labels: dev/tooling, dev_package

#13012 Test the oauth config is properly read
  kafka_consumer/tests/test_kafka_consumer.py
Labels: changelog/no-changelog, integration/kafka_consumer

#13002 Collect logs in the e2e environment
  impala/tests/compose/docker-compose.yaml
  impala/tests/conftest.py
Labels: changelog/no-changelog, integration/impala

#12993 Use Hatch to manage environments
  yarn/hatch.toml
  yarn/pyproject.toml
  yarn/requirements-dev.txt
  yarn/tox.ini
Labels: changelog/no-changelog, integration/yarn, qa/skip-qa

#12990 Avoid assigning QA cards to the main reviewers
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
  datadog_checks_dev/datadog_checks/dev/tooling/github.py
  datadog_checks_dev/tests/tooling/test_github.py
Labels: dev/tooling, changelog/Fixed, dev_package

#12982 Remove the bench env from the hatch config
  impala/hatch.toml
Labels: changelog/no-changelog, qa/skip-qa, integration/impala

#12947 Do not include `ddev` in the `requirements-agent-release.txt` file
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/requirements.py
Labels: dev/tooling, changelog/Fixed, dev_package

#12978 Use Hatch to manage environments
  cassandra/hatch.toml
  cassandra/pyproject.toml
  cassandra/requirements-dev.txt
  cassandra/tox.ini
Labels: changelog/no-changelog, integration/cassandra, qa/skip-qa

#12969 Use Hatch to manage environments
  airflow/hatch.toml
  airflow/pyproject.toml
  airflow/requirements-dev.txt
  airflow/tox.ini
Labels: changelog/no-changelog, integration/airflow, qa/skip-qa

#12944 Fix missing latency metrics from other namespaces
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/tests/test_unit.py
Labels: kind/bug, changelog/Fixed, integration/aerospike

#13003 add missing debug tags for internal mysql run_explain metric
  mysql/datadog_checks/mysql/statement_samples.py
Labels: changelog/no-changelog, integration/mysql

#12808 Add `selected_message_queues` flag to filter message queues and improve performances
  ibm_i/assets/configuration/spec.yaml
  ibm_i/datadog_checks/ibm_i/config_models/defaults.py
  ibm_i/datadog_checks/ibm_i/config_models/instance.py
  ibm_i/datadog_checks/ibm_i/data/conf.yaml.example
  ibm_i/datadog_checks/ibm_i/queries.py
  ibm_i/tests/test_sql_queries.py
Labels: documentation, changelog/Added, integration/ibm_i

#13019 Release Aerospike
  .in-toto/tag.335b3118.link
  aerospike/CHANGELOG.md
  aerospike/datadog_checks/aerospike/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/aerospike, release

#13020 Fix collection of `fsyncLocked` metric when configured database is not `admin`
  mongo/datadog_checks/mongo/collectors/fsynclock.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/mocked_api.py
  mongo/tests/test_e2e.py
Labels: integration/mongo, changelog/Fixed

#12941 [MySQL] Added Agent settings to log original unobfuscated strings
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/activity.py
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
Labels: documentation, integration/mysql, changelog/Added

#12926 [Postgres] Added Agent settings to log original unobfuscated strings
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
Labels: documentation, integration/postgres, changelog/Added

#12958 [SQL Server] Added Agent settings to log original unobfuscated strings
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/statements.py
Labels: documentation, integration/sqlserver, changelog/Added

#13022 Release Mongo
  .in-toto/tag.335b3118.link
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/mongo, release

#13026 Allow creating integrations with `--here` in an arbitrary folder
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
Labels: dev/tooling, changelog/Fixed, dev_package
