Repository DataDog/integrations-core, pull requests merged in 2022-05, with the labels that each got.

#11782 Add endpoint checks and AD metrics
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/metadata.csv
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
Labels: changelog/Added, integration/datadog_cluster_agent

#11851 Update Singlestore Dashboard Layout
  singlestore/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/singlestore

#11888 Run validations on master
  .github/workflows/validations.yaml
Labels: changelog/no-changelog, dev/tooling

#11056 Add collection of ethtool queue stats
  network/assets/configuration/spec.yaml
  network/datadog_checks/network/config_models/defaults.py
  network/datadog_checks/network/config_models/instance.py
  network/datadog_checks/network/data/conf.yaml.default
  network/datadog_checks/network/network.py
  network/metadata.csv
  network/tests/common.py
  network/tests/test_network.py
Labels: documentation, integration/network, changelog/Added

#11919 fix applicable CouchDB version
  couch/metadata.csv
Labels: documentation, changelog/no-changelog, integration/couch

#11921 Fix doc payload.go link
  docs/developer/tutorials/snmp/profile-format.md
Labels: documentation, changelog/no-changelog

#11923 Pin types-simplejson==3.17.5
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#11908 Do not raise exeptions on empty outout of varnishadm
  varnish/datadog_checks/varnish/varnish.py
Labels: integration/varnish, changelog/Fixed

#11777 Fix glob pattern for gitlab changes
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling, changelog/Fixed

#11878 Add traffic server saved views
  traffic_server/assets/saved_views/traffic_server_error_logs.json
  traffic_server/assets/saved_views/traffic_server_error_patterns.json
  traffic_server/assets/saved_views/traffic_server_overview.json
  traffic_server/manifest.json
Labels: documentation, changelog/no-changelog, integration/traffic_server

#11925 Fix `tcp_check` check `test_ipv6` test flakiness
  tcp_check/tests/common.py
  tcp_check/tests/test_tcp_check.py
Labels: changelog/no-changelog, integration/tcp_check

#11934 [helm] Update README with service checks info
  helm/README.md
Labels: documentation, containers, changelog/no-changelog, integration/helm

#11928 Fallback Kubernetes client version to 22.6 to avoid failures on non-standard POD conditions
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: integration/datadog_checks_base, changelog/Fixed, dependencies, category/bugfix

#11940 fix(kubernetes): move service-checks from kubernetes_state
  kubernetes/assets/service_checks.json
  kubernetes_state/README.md
  kubernetes_state/assets/service_checks.json
Labels: changelog/no-changelog

#11941 Add newer metric to check
  haproxy/manifest.json
Labels: documentation, changelog/no-changelog, integration/haproxy

#11944 Don't pin urllib3
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  http_check/pyproject.toml
Labels: integration/http_check, integration/datadog_checks_base, changelog/Fixed, dependencies

#11701 Add teradata integration
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  teradata/CHANGELOG.md
  teradata/README.md
  teradata/assets/configuration/spec.yaml
  teradata/assets/dashboards/teradata_overview.json
  teradata/assets/service_checks.json
  teradata/datadog_checks/__init__.py
  teradata/datadog_checks/teradata/__about__.py
  teradata/datadog_checks/teradata/__init__.py
  teradata/datadog_checks/teradata/check.py
  teradata/datadog_checks/teradata/config_models/__init__.py
  teradata/datadog_checks/teradata/config_models/defaults.py
  teradata/datadog_checks/teradata/config_models/instance.py
  teradata/datadog_checks/teradata/config_models/shared.py
  teradata/datadog_checks/teradata/config_models/validators.py
  teradata/datadog_checks/teradata/data/conf.yaml.example
  teradata/datadog_checks/teradata/queries.py
  teradata/datadog_checks/teradata/utils.py
  teradata/images/.gitkeep
  teradata/manifest.json
  teradata/metadata.csv
  teradata/pyproject.toml
  teradata/requirements-dev.txt
  teradata/tests/README.md
  teradata/tests/__init__.py
  teradata/tests/common.py
  teradata/tests/conftest.py
  teradata/tests/fixtures/allspacev.csv
  teradata/tests/fixtures/ampusagev.csv
  teradata/tests/fixtures/dbcinfov.csv
  teradata/tests/fixtures/diskspacev.csv
  teradata/tests/fixtures/resspmaview.csv
  teradata/tests/results/allspacev.json
  teradata/tests/results/ampusagev.json
  teradata/tests/results/diskspacev.json
  teradata/tests/results/resspmaview.json
  teradata/tests/test_config.py
  teradata/tests/test_e2e.py
  teradata/tests/test_integration.py
  teradata/tests/test_unit.py
  teradata/tests/test_utils.py
  teradata/tox.ini
Labels: documentation, dev/testing, integration/datadog_checks_base, editorial review, dependencies, integration/teradata

#11946 Update zookeeper certs for tests
  zk/tests/README.md
  zk/tests/compose/client/ca_cert.pem
  zk/tests/compose/client/cert.pem
  zk/tests/compose/client/private_key.pem
  zk/tests/compose/client/server.cer
  zk/tests/compose/server/sample_keystore.jks
  zk/tests/compose/server/sample_truststore.jks
Labels: documentation, changelog/no-changelog, integration/zk

#11945 Don't use deprecated param in tests
  snowflake/tests/common.py
  snowflake/tests/test_snowflake.py
  snowflake/tests/test_unit.py
Labels: changelog/no-changelog, integration/snowflake

#11943 port over changes from last release
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#11856 Add kerberos troubleshooting
  kafka_consumer/README.md
Labels: documentation, changelog/no-changelog, integration/kafka_consumer

#11924 Fix check_map_consistency error
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#11948 [Release] Bumped datadog_checks_base version to 25.3.1
  .in-toto/tag.ec45eb9d.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#11910 Refactor varnish, adapt to new check signature
  varnish/datadog_checks/varnish/varnish.py
  varnish/tests/test_unit.py
  varnish/tests/test_varnish.py
Labels: integration/varnish, changelog/Fixed

#11846 Add troubleshooting notes and script
  cisco_aci/README.md
  cisco_aci/tests/cisco_aci_query.py
Labels: documentation, changelog/no-changelog, integration/cisco_aci

#11961 Update cilium README
  cilium/README.md
Labels: documentation, changelog/no-changelog, integration/cilium

#11962 Fix Cisco ACI style
  cisco_aci/tests/cisco_aci_query.py
Labels: changelog/no-changelog, integration/cisco_aci

#11956 Add the ability to exclude endpoint tag
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/tests/base/checks/openmetrics/test_interface.py
Labels: integration/datadog_checks_base, changelog/Fixed

#11845 Add OpenMetricsV2 Implementation for Aerospike
  aerospike/README.md
  aerospike/assets/configuration/spec.yaml
  aerospike/assets/service_checks.json
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/datadog_checks/aerospike/check.py
  aerospike/datadog_checks/aerospike/config_models/defaults.py
  aerospike/datadog_checks/aerospike/config_models/instance.py
  aerospike/datadog_checks/aerospike/config_models/shared.py
  aerospike/datadog_checks/aerospike/config_models/validators.py
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  aerospike/datadog_checks/aerospike/metrics.py
  aerospike/metadata.csv
  aerospike/tests/common.py
  aerospike/tests/conftest.py
  aerospike/tests/docker/docker-compose.yaml
  aerospike/tests/fixtures/prometheus.txt
  aerospike/tests/test_aerospike.py
  aerospike/tests/test_unit_openmetricsv2.py
  aerospike/tox.ini
Labels: documentation, changelog/Added, integration/aerospike

#11959 [Release] Bumped calico version to 1.0.0
  .in-toto/tag.eabca4ac.link
  calico/CHANGELOG.md
  calico/datadog_checks/calico/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, release, integration/calico

#11950 Support Hatch for managing test environments
  datadog_checks_dev/datadog_checks/dev/plugin/hatch/__init__.py
  datadog_checks_dev/datadog_checks/dev/plugin/hatch/environment_collector.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/ci/setup.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/edit.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/ls.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/format.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/run.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/hatch.toml
  datadog_checks_dev/pyproject.toml
  datadog_checks_dev/requirements-dev.txt
  datadog_checks_dev/tox.ini
  docs/developer/.scripts/33_render_status.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#11960 Stop passing tags around
  varnish/datadog_checks/varnish/varnish.py
Labels: changelog/no-changelog, integration/varnish

#11949 Add arangodb dashboard
  arangodb/assets/dashboards/arangodb_overview.json
  arangodb/manifest.json
Labels: documentation, changelog/no-changelog, integration/arangodb

#11733 Remove `docker-compose` test dependency
  azure_iot_edge/tox.ini
  cassandra/tests/compose/docker-compose.yml
  cassandra/tests/conftest.py
  cassandra_nodetool/tests/conftest.py
  cassandra_nodetool/tox.ini
  cisco_aci/tests/README.md
  clickhouse/tox.ini
  couch/tests/conftest.py
  couchbase/tox.ini
  datadog_checks_base/tox.ini
  datadog_checks_dev/datadog_checks/dev/conditions.py
  datadog_checks_dev/datadog_checks/dev/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/ci/setup.py
  datadog_checks_dev/datadog_checks/dev/utils.py
  datadog_checks_dev/pyproject.toml
  datadog_checks_dev/tests/test_conditions.py
  datadog_checks_dev/tests/test_docker.py
  envoy/tox.ini
  etcd/tests/test_integration.py
  fluentd/tests/conftest.py
  gitlab_runner/tox.ini
  haproxy/tests/conftest.py
  ibm_was/tox.ini
  istio/tox.ini
  kafka_consumer/tox.ini
  marklogic/tests/README.md
  mongo/tests/conftest.py
  pgbouncer/tests/conftest.py
  php_fpm/tests/compose/README.md
  rabbitmq/tests/conftest.py
  redisdb/tests/README.md
  redisdb/tests/conftest.py
  redisdb/tox.ini
  sonarqube/tox.ini
  sqlserver/tests/compose-ha/sql/entrypoint.sh
  tls/tox.ini
  tokumx/tests/conftest.py
  twemproxy/tests/compose/Dockerfile
  twemproxy/tests/conftest.py
  twemproxy/tox.ini
Labels: documentation, integration/couchbase, dev/testing, dev/tooling, integration/cassandra, integration/cassandra_nodetool, integration/couch, integration/datadog_checks_base, integration/envoy, integration/etcd, integration/fluentd, integration/gitlab_runner, integration/haproxy, integration/istio, integration/kafka_consumer, integration/mongo, integration/pgbouncer, integration/php_fpm, integration/rabbitmq, integration/redisdb, integration/sqlserver, integration/tokumx, integration/twemproxy, changelog/Changed, integration/cisco_aci, integration/datadog_checks_dev, integration/ibm_was, integration/tls, integration/clickhouse, integration/marklogic, integration/azure_iot_edge, integration/sonarqube

#11952 Add instructions about the secretfile permissions
  varnish/README.md
Labels: documentation, changelog/no-changelog, integration/varnish

#11964 Fix IBM ACE validation
  cloud_foundry_api/datadog_checks/cloud_foundry_api/config_models/instance.py
  datadog_checks_dev/pyproject.toml
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_enum.py
  ibm_ace/requirements-dev.txt
  ibm_i/datadog_checks/ibm_i/config_models/instance.py
Labels: changelog/Fixed, integration/datadog_checks_dev, integration/cloud_foundry_api, integration/ibm_i, integration/ibm_ace

#11915 Support dynamic bearer tokens (Bound Service Account Token Volume)
  azure_iot_edge/datadog_checks/azure_iot_edge/config_models/defaults.py
  azure_iot_edge/datadog_checks/azure_iot_edge/config_models/instance.py
  azure_iot_edge/datadog_checks/azure_iot_edge/data/conf.yaml.example
  cilium/datadog_checks/cilium/config_models/defaults.py
  cilium/datadog_checks/cilium/config_models/instance.py
  cockroachdb/datadog_checks/cockroachdb/config_models/defaults.py
  cockroachdb/datadog_checks/cockroachdb/config_models/instance.py
  coredns/datadog_checks/coredns/config_models/defaults.py
  coredns/datadog_checks/coredns/config_models/instance.py
  crio/datadog_checks/crio/config_models/defaults.py
  crio/datadog_checks/crio/config_models/instance.py
  crio/datadog_checks/crio/data/conf.yaml.example
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/tests/base/checks/openmetrics/test_openmetrics.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy_base.yaml
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/config_models/defaults.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/config_models/instance.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/data/auto_conf.yaml
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/data/conf.yaml.example
  etcd/datadog_checks/etcd/config_models/defaults.py
  etcd/datadog_checks/etcd/config_models/instance.py
  etcd/datadog_checks/etcd/data/conf.yaml.example
  external_dns/datadog_checks/external_dns/config_models/defaults.py
  external_dns/datadog_checks/external_dns/config_models/instance.py
  external_dns/datadog_checks/external_dns/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/config_models/defaults.py
  gitlab/datadog_checks/gitlab/config_models/instance.py
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/config_models/defaults.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/instance.py
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/config_models/defaults.py
  haproxy/datadog_checks/haproxy/config_models/instance.py
  istio/datadog_checks/istio/config_models/defaults.py
  istio/datadog_checks/istio/config_models/instance.py
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/config_models/defaults.py
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/config_models/instance.py
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  kube_controller_manager/datadog_checks/kube_controller_manager/data/conf.yaml.example
  kube_dns/datadog_checks/kube_dns/data/conf.yaml.example
  kube_metrics_server/datadog_checks/kube_metrics_server/data/conf.yaml.example
  kube_proxy/datadog_checks/kube_proxy/data/conf.yaml.example
  kube_scheduler/datadog_checks/kube_scheduler/config_models/defaults.py
  kube_scheduler/datadog_checks/kube_scheduler/config_models/instance.py
  kube_scheduler/datadog_checks/kube_scheduler/data/conf.yaml.example
  kubelet/datadog_checks/kubelet/data/conf.yaml.example
  kubernetes_state/datadog_checks/kubernetes_state/data/conf.yaml.example
  linkerd/datadog_checks/linkerd/config_models/defaults.py
  linkerd/datadog_checks/linkerd/config_models/instance.py
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/config_models/defaults.py
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/config_models/instance.py
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/config_models/defaults.py
  openmetrics/datadog_checks/openmetrics/config_models/instance.py
  scylla/datadog_checks/scylla/config_models/defaults.py
  scylla/datadog_checks/scylla/config_models/instance.py
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: dev/tooling, integration/datadog_checks_base, integration/etcd, integration/gitlab, integration/gitlab_runner, integration/haproxy, integration/istio, integration/kube_dns, integration/kube_proxy, integration/kubelet, integration/kubernetes_state, integration/linkerd, integration/openstack, integration/tokumx, changelog/Added, integration/datadog_checks_dev, integration/cockroachdb, integration/coredns, integration/openmetrics, integration/crio, integration/openstack_controller, integration/nginx_ingress_controller, integration/kube_controller_manager, integration/kube_scheduler, integration/kube_metrics_server, integration/kube_apiserver_metrics, integration/external_dns, integration/cilium, integration/scylla, integration/snowflake, integration/azure_iot_edge, integration/datadog_cluster_agent, integration/ibm_ace

#11975 Oracle to not fail to create directory
  oracle/tests/scripts/install_instant_client.sh
Labels: changelog/no-changelog, integration/oracle

#11911 Resolve integer enums when generating SNMP traps DB
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/generate_traps_db.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#11861 Add new lag in seconds metric
  kafka_consumer/datadog_checks/kafka_consumer/datadog_agent.py
  kafka_consumer/datadog_checks/kafka_consumer/new_kafka_consumer.py
  kafka_consumer/metadata.csv
  kafka_consumer/tests/test_kafka_consumer.py
Labels: integration/kafka_consumer, changelog/Added

#11980 Add test asserting _total suffix counters
  openmetrics/tests/conftest.py
  openmetrics/tests/test_openmetrics.py
Labels: changelog/no-changelog, integration/openmetrics

#11899 Fix incorrect OpenMetrics V2 check exposition format HTTP header
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/tests/base/checks/openmetrics/test_config.py
  openmetrics/tests/conftest.py
  openmetrics/tests/test_openmetrics_strict.py
Labels: integration/datadog_checks_base, changelog/Fixed, integration/openmetrics

#11985 [Release] Bumped datadog_checks_base version to 25.4.0
  .in-toto/tag.47c5a022.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#11974 Apply container filter to `kubernetes.kubelet.container.log_filesystem.used_bytes`
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/test_kubelet.py
Labels: integration/kubelet, changelog/Fixed

#11864 Add static server OS metrics
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
Labels: integration/sqlserver, changelog/Added

#11984 Add `vault.replication.wal.gc.*` metrics
  vault/datadog_checks/vault/metrics.py
  vault/metadata.csv
Labels: changelog/Added, integration/vault

#11989 [kubelet] Sanitize the `url` tag
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/test_kubelet.py
Labels: integration/kubelet, changelog/Fixed

#11647 Added support for Postgres v14
  postgres/tox.ini
Labels: integration/postgres, changelog/Added

#11986 Fix missing object_name for index fragmentation metrics
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/tests/test_integration.py
Labels: integration/sqlserver, changelog/Fixed

#10705 Add clarification on supported NGINX Ingress distros
  nginx_ingress_controller/README.md
Labels: documentation, changelog/no-changelog, integration/nginx_ingress_controller

#11631 Adding secondary link
  etcd/README.md
Labels: documentation, changelog/no-changelog, integration/etcd

#11698 Add note about special characters in property name
  windows_service/README.md
Labels: documentation, changelog/no-changelog, integration/windows_service

#11969 Update Istio e2e environment
  istio/tests/conftest.py
  istio/tests/kind/demo_profile.yaml
  istio/tests/test_e2e.py
  istio/tox.ini
Labels: changelog/no-changelog, integration/istio

#11991 [Release] Bumped datadog_checks_dev version to 16.2.0
  .in-toto/tag.47c5a022.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#11994 Pin Calico test env to v3.22
  calico/tests/conftest.py
Labels: changelog/no-changelog, integration/calico

#11992 Properly validate `only_custom_queries`
  snowflake/datadog_checks/snowflake/config_models/validators.py
  snowflake/tests/test_config.py
Labels: changelog/Fixed, integration/snowflake

#11993 Handle errors for individual rows
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
Labels: integration/pgbouncer, changelog/Fixed

#11852 remove extra : in the value field for `<INSTANCE_CONFIG>`
  kong/README.md
Labels: documentation, changelog/no-changelog, integration/kong

#11958 Update dependencies
  active_directory/pyproject.toml
  amazon_msk/pyproject.toml
  aspdotnet/pyproject.toml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  dotnetclr/pyproject.toml
  exchange_server/pyproject.toml
  foundationdb/requirements-dev.txt
  gitlab/pyproject.toml
  gitlab_runner/pyproject.toml
  iis/pyproject.toml
  kube_dns/pyproject.toml
  kubernetes_state/pyproject.toml
  pdh_check/pyproject.toml
  redisdb/pyproject.toml
  spark/pyproject.toml
  sqlserver/pyproject.toml
  ssh_check/pyproject.toml
  vertica/pyproject.toml
  win32_event_log/pyproject.toml
  windows_service/pyproject.toml
  wmi_check/pyproject.toml
Labels: integration/active_directory, integration/aspdotnet, integration/datadog_checks_base, integration/dotnetclr, integration/exchange_server, integration/gitlab, integration/gitlab_runner, integration/iis, integration/kube_dns, integration/kubernetes_state, integration/pdh_check, integration/redisdb, integration/snmp, integration/spark, integration/sqlserver, integration/ssh_check, integration/windows_service, integration/wmi_check, changelog/Fixed, integration/openstack_controller, integration/aerospike, integration/win32_event_log, integration/vertica, integration/amazon_msk, dependencies, integration/foundationdb

#11966 openmentrics to not tag by endpoint on default config
  openmetrics/assets/configuration/spec.yaml
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: documentation, dev/tooling, changelog/Fixed, integration/openmetrics

#11997 Bump datadog_checks_base dep to 25.4.0 to use the QueryExecutor
  sqlserver/pyproject.toml
Labels: changelog/no-changelog, integration/sqlserver

#11951 port metadata from release
  datadog_checks_base/CHANGELOG.md
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#11909 Refactor varnish, factor methods out
  varnish/datadog_checks/varnish/varnish.py
Labels: integration/varnish, changelog/Fixed

#11954 Split v1 and v2 tests
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/__init__.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_bench.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_compat_scraper.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics_base_check.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/utils.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/__init__.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_bench.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_config.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_first_scrape_handler.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_interface.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_options.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/__init__.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_counter.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_counter_gauge.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_gauge.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_histogram.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_metadata.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_native_dynamic.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_rate.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_service_check.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_summary.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_temporal_percent.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_time_elapsed.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/utils.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_base

#11972 Remove patch and fix flakey test
  ibm_ace/requirements-dev.txt
  ibm_ace/tests/test_e2e.py
  ibm_ace/tests/test_integration.py
Labels: changelog/no-changelog, integration/ibm_ace

#12003 document metric deprecation
  calico/metadata.csv
Labels: changelog/no-changelog, integration/calico

#12004 Don't look for `=== JSON ===` in e2e output
  datadog_checks_dev/datadog_checks/dev/_env.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#12010 Remove unsupported logs collection
  teradata/assets/configuration/spec.yaml
  teradata/datadog_checks/teradata/data/conf.yaml.example
  teradata/manifest.json
Labels: documentation, changelog/no-changelog, integration/teradata

#11707 Fix `enabled` for parent options
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/example.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances.yaml
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
Labels: dev/tooling, integration/mysql, integration/postgres, integration/sqlserver, integration/vsphere, changelog/Fixed, integration/datadog_checks_dev

#12012 Add OM v2 counters note to `extra_metrics` config example
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  arangodb/datadog_checks/arangodb/data/conf.yaml.example
  avi_vantage/datadog_checks/avi_vantage/data/conf.yaml.example
  calico/datadog_checks/calico/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  envoy/datadog_checks/envoy/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  linkerd/datadog_checks/linkerd/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
Labels: changelog/no-changelog, integration/envoy, integration/haproxy, integration/istio, integration/kong, integration/linkerd, integration/vault, integration/cockroachdb, integration/coredns, integration/aerospike, integration/cilium, integration/amazon_msk, integration/avi_vantage, integration/arangodb, integration/pulsar, integration/calico

#12008 Install latest dev package
  calico/requirements-dev.txt
  foundationdb/requirements-dev.txt
Labels: changelog/no-changelog, integration/foundationdb, integration/calico

#12013 Fix uncommented parent options
  mysql/datadog_checks/mysql/data/conf.yaml.example
  postgres/datadog_checks/postgres/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: integration/mysql, integration/postgres, integration/sqlserver, integration/vsphere, changelog/Fixed

#12014 [Release] Bumped datadog_checks_dev version to 16.2.1
  .in-toto/tag.47c5a022.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#11716 Improve FoundationDB dashboards
  foundationdb/assets/dashboards/foundationdb_latency_probe.json
  foundationdb/assets/dashboards/foundationdb_machines_and_processes.json
  foundationdb/assets/dashboards/foundationdb_processes_and_utilization.json
  foundationdb/assets/dashboards/foundationdb_queues.json
  foundationdb/assets/dashboards/foundationdb_size_and_utilization.json
  foundationdb/assets/dashboards/foundationdb_transactions_and_queues.json
  foundationdb/assets/dashboards/foundationdb_transactions_and_workload.json
  foundationdb/manifest.json
Labels: changelog/no-changelog, integration/foundationdb

#12017 Revert "Add collection of ethtool queue stats (#11056)"
  network/assets/configuration/spec.yaml
  network/datadog_checks/network/config_models/defaults.py
  network/datadog_checks/network/config_models/instance.py
  network/datadog_checks/network/data/conf.yaml.default
  network/datadog_checks/network/network.py
  network/metadata.csv
  network/tests/common.py
  network/tests/test_network.py
Labels: documentation, integration/network, changelog/Fixed

#11220 Clarify the example configuration documentation for the MultiSubnetFailover option
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/sqlserver

#11827 Add additional tests to ibm_ace
  ibm_ace/tests/README.md
  ibm_ace/tests/test_config.py
  ibm_ace/tests/test_unit.py
Labels: documentation, changelog/no-changelog, integration/ibm_ace

#11999 Metadata updates from releases off of 7.36.x branch
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
  traffic_server/CHANGELOG.md
  traffic_server/datadog_checks/traffic_server/__about__.py
Labels: changelog/no-changelog, integration/mysql, integration/postgres, integration/sqlserver, release, integration/traffic_server

#11982 Add support to ingest cloud_metadata for DBM host linking
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_statements.py
Labels: documentation, integration/sqlserver, changelog/Added

#11987 Add support to ingest cloud_metadata for DBM host linking
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_statements.py
Labels: documentation, integration/postgres

#11988 Add support to ingest cloud_metadata for DBM host linking
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_statements.py
Labels: documentation, integration/mysql

#12007 Remove execution plan `user_name` attribute
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_statements.py
Labels: integration/sqlserver, changelog/Changed

#12015 Fix formatting of transactions and queues dashboard
  foundationdb/assets/dashboards/foundationdb_transactions_and_queues.json
Labels: changelog/no-changelog, integration/foundationdb

#12028 Reformat dashboards json
  foundationdb/assets/dashboards/foundationdb_latency_probe.json
  foundationdb/assets/dashboards/foundationdb_processes_and_utilization.json
  foundationdb/assets/dashboards/foundationdb_transactions_and_queues.json
Labels: changelog/no-changelog, integration/foundationdb

#12025 Fix the units of postgresql.deadlocks
  postgres/metadata.csv
Labels: changelog/no-changelog, integration/postgres

#12016 Upgrade Hatch to latest version
  datadog_checks_dev/datadog_checks/dev/plugin/hatch/environment_collector.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
  datadog_checks_dev/hatch.toml
  datadog_checks_dev/pyproject.toml
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#12030 Fix python command
  oracle/README.md
Labels: documentation, changelog/no-changelog, integration/oracle

#12011 Fix metric metadata
  teradata/datadog_checks/teradata/queries.py
  teradata/metadata.csv
Labels: changelog/no-changelog, integration/teradata

#12031 Release all new integrations for 7.37
  .in-toto/tag.47c5a022.link
  arangodb/CHANGELOG.md
  arangodb/datadog_checks/arangodb/__about__.py
  teradata/CHANGELOG.md
  teradata/datadog_checks/teradata/__about__.py
Labels: changelog/no-changelog, integration/arangodb, integration/teradata

#12020 sqlserver: Add option to keep aliases in sql server (`keep_sql_alias`)
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: documentation, integration/sqlserver, changelog/Added

#12019 postgres: Add option to keep alias and dollar quote functions in postgres (`keep_sql_alias` and `keep_dollar_quoted_func`)
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: documentation, integration/postgres, changelog/Added

#11979 Add AlwaysOn metrics
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
  sqlserver/tests/test_e2e.py
Labels: documentation, integration/sqlserver, changelog/Added

#12018 mysql: Add option to keep aliases in mysql (`keep_sql_alias`)
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: documentation, integration/mysql, changelog/Added

#12026 Don't use connection resiliency for older versions of sqlserver and update valid driver list
  .azure-pipelines/templates/test-single-windows.yml
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, dev/testing, integration/sqlserver, changelog/Fixed

#12027 Fix foundationdb E2E and integration tests
  foundationdb/tests/README.md
  foundationdb/tests/common.py
  foundationdb/tests/conftest.py
  foundationdb/tests/test_foundationdb.py
  foundationdb/tox.ini
Labels: documentation, changelog/no-changelog, integration/foundationdb

#12041 Set dd_url for v2 manifest validation
  .github/workflows/validations.yaml
Labels: changelog/no-changelog, dev/tooling, category/improvement

#12044 Add memory and cpu metrics to metadata.csv
  snmp/metadata.csv
Labels: changelog/no-changelog, integration/snmp, category/bugfix

#12043 Fix extra metrics description example
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  arangodb/datadog_checks/arangodb/data/conf.yaml.example
  avi_vantage/datadog_checks/avi_vantage/data/conf.yaml.example
  calico/datadog_checks/calico/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  envoy/datadog_checks/envoy/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  linkerd/datadog_checks/linkerd/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
Labels: dev/tooling, integration/envoy, integration/haproxy, integration/istio, integration/kong, integration/linkerd, changelog/Fixed, integration/vault, integration/datadog_checks_dev, integration/cockroachdb, integration/coredns, integration/openmetrics, integration/aerospike, integration/cilium, integration/amazon_msk, integration/avi_vantage, category/bugfix, integration/arangodb, integration/pulsar, integration/calico

#12051 Release integrations for 7.37.0-rc.2
  .in-toto/tag.47c5a022.link
  aerospike/CHANGELOG.md
  aerospike/datadog_checks/aerospike/__about__.py
  amazon_msk/CHANGELOG.md
  amazon_msk/datadog_checks/amazon_msk/__about__.py
  arangodb/CHANGELOG.md
  arangodb/datadog_checks/arangodb/__about__.py
  avi_vantage/CHANGELOG.md
  avi_vantage/datadog_checks/avi_vantage/__about__.py
  calico/CHANGELOG.md
  calico/datadog_checks/calico/__about__.py
  cilium/CHANGELOG.md
  cilium/datadog_checks/cilium/__about__.py
  cockroachdb/CHANGELOG.md
  cockroachdb/datadog_checks/cockroachdb/__about__.py
  coredns/CHANGELOG.md
  coredns/datadog_checks/coredns/__about__.py
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  haproxy/CHANGELOG.md
  haproxy/datadog_checks/haproxy/__about__.py
  istio/CHANGELOG.md
  istio/datadog_checks/istio/__about__.py
  kong/CHANGELOG.md
  kong/datadog_checks/kong/__about__.py
  linkerd/CHANGELOG.md
  linkerd/datadog_checks/linkerd/__about__.py
  openmetrics/CHANGELOG.md
  openmetrics/datadog_checks/openmetrics/__about__.py
  pulsar/CHANGELOG.md
  pulsar/datadog_checks/pulsar/__about__.py
  requirements-agent-release.txt
  vault/CHANGELOG.md
  vault/datadog_checks/vault/__about__.py
Labels: changelog/no-changelog, integration/envoy, integration/haproxy, integration/istio, integration/kong, integration/linkerd, integration/vault, integration/cockroachdb, integration/coredns, integration/openmetrics, integration/aerospike, integration/cilium, integration/amazon_msk, release, integration/avi_vantage, integration/arangodb, integration/pulsar, integration/calico

#12059 Update metric to check
  teradata/manifest.json
Labels: documentation, changelog/no-changelog, category/bugfix, integration/teradata

#12052 Add more attempts to remove path in integration creation test
  datadog_checks_dev/tests/tooling/commands/test_create.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev, category/release_operations

#12062 Add error handling when collecting version
  teradata/datadog_checks/teradata/utils.py
  teradata/tests/test_utils.py
Labels: changelog/Fixed, category/bugfix, integration/teradata

#12055 Update agent requirements file
  requirements-agent-release.txt
Labels: changelog/no-changelog, release, category/release_operations

#12067 Remove mac support docs
  teradata/manifest.json
Labels: documentation, changelog/no-changelog, category/bugfix, integration/teradata

#12064 Clarify no cert service check message
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/test_http_integration.py
Labels: integration/http_check, changelog/Fixed, category/improvement

#12071 Release http check for RC3
  .in-toto/tag.47c5a022.link
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/http_check, release, category/release_operations

#12073 Enable ibm ace and traffic server
  ibm_ace/manifest.json
  traffic_server/manifest.json
Labels: documentation, changelog/no-changelog, integration/traffic_server, integration/ibm_ace

#12072 Fix monitor type
  foundationdb/assets/monitors/conflicts.json
  foundationdb/assets/monitors/errors_logged.json
  foundationdb/assets/monitors/high_durability_lag.json
  foundationdb/assets/monitors/log_queue_spill.json
  foundationdb/assets/monitors/low_disk_space.json
  foundationdb/assets/monitors/read_latency_probe.json
  foundationdb/assets/monitors/rejections.json
  foundationdb/assets/monitors/transaction_commit_latency.json
  foundationdb/assets/monitors/transaction_start_latency.json
Labels: changelog/no-changelog, integration/datadog_checks_dev, integration/foundationdb

#12085 [Release] Bumped traffic_server version to 1.0.2
  .in-toto/tag.ec45eb9d.link
  requirements-agent-release.txt
  traffic_server/CHANGELOG.md
  traffic_server/datadog_checks/traffic_server/__about__.py
Labels: changelog/no-changelog, release, integration/traffic_server

#12078 Fix style
  proxysql/tests/test_integration.py
Labels: changelog/no-changelog, integration/proxysql

#12077 Update README to include log config
  arangodb/README.md
Labels: documentation, changelog/no-changelog, category/improvement, integration/arangodb

#12076 Modify test env to output logs to a file
  arangodb/tests/docker/arangodb3/arangod.conf
  arangodb/tests/docker/docker-compose.yaml
Labels: changelog/no-changelog, integration/arangodb

#12088 Revert mysql.net.connections metric type
  mysql/datadog_checks/mysql/const.py
  mysql/datadog_checks/mysql/mysql.py
Labels: integration/mysql, changelog/Fixed, category/bugfix, bugfix/regression

#12095 [Release] Bumped mysql version to 8.2.3
  .in-toto/tag.ec45eb9d.link
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mysql, release

#11798 Enable calico
  calico/manifest.json
Labels: documentation, changelog/no-changelog, integration/calico

#11797 Enable foundationdb
  foundationdb/manifest.json
Labels: documentation, changelog/no-changelog, integration/foundationdb

#12096 [documentation] fixing a tab that is borking the docs build
  calico/README.md
Labels: documentation, changelog/no-changelog, integration/calico

#12046 Updates Further Reading Section in Amazon EKS on AWS Fargate
  eks_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/eks_fargate

#12082 Add unit tests
  arangodb/tests/test_arangodb.py
Labels: changelog/no-changelog, integration/arangodb

#12065 Fix typo in test name
  oracle/tests/test_custom_queries.py
Labels: changelog/no-changelog, integration/oracle

#12069 Change refreshing counters log level to debug
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/base.py
Labels: integration/datadog_checks_base, changelog/Fixed

#11830 [helm] Add dashboard
  helm/assets/dashboards/overview.json
  helm/manifest.json
Labels: documentation, containers, changelog/no-changelog, integration/helm

#12083 Remove unnecessary agent cache implementation
  kafka_consumer/datadog_checks/kafka_consumer/datadog_agent.py
  kafka_consumer/datadog_checks/kafka_consumer/new_kafka_consumer.py
  kafka_consumer/tests/test_kafka_consumer.py
Labels: integration/kafka_consumer, changelog/Fixed, category/bugfix

#12057 Add tests for TD2 auth
  teradata/tests/test_config.py
Labels: changelog/no-changelog, integration/teradata

#12049 Parameterize ibm mq reset queues test
  ibm_mq/tests/common.py
  ibm_mq/tests/test_ibm_mq_int.py
Labels: changelog/no-changelog, integration/ibm_mq

#11829 [helm] Set "creates_events" to true
  helm/README.md
  helm/manifest.json
Labels: documentation, containers, changelog/no-changelog, integration/helm

#11931 [helm] Add monitor for failed releases
  helm/assets/monitors/monitor_failed_releases.json
  helm/manifest.json
Labels: documentation, containers, changelog/no-changelog, integration/helm

#12050 Update etcd service check documentation
  etcd/assets/configuration/spec.yaml
  etcd/assets/service_checks.json
  etcd/datadog_checks/etcd/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/etcd

#12093 Add connectivity metrics
  arangodb/datadog_checks/arangodb/metrics.py
  arangodb/metadata.csv
  arangodb/tests/common.py
Labels: changelog/Added, category/improvement, integration/arangodb

#12097 Release mysql and arangodb for RC4
  .in-toto/tag.47c5a022.link
  arangodb/CHANGELOG.md
  arangodb/datadog_checks/arangodb/__about__.py
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mysql, release, integration/arangodb

#12036 Ensure vault_wal_gc_total is collected as gauge
  vault/datadog_checks/vault/metrics.py
  vault/metadata.csv
Labels: changelog/Fixed, integration/vault

#12079 Fix example config file link
  arangodb/README.md
Labels: documentation, changelog/no-changelog, integration/arangodb

#12053 Update description of windows performance counters metrics
  active_directory/datadog_checks/active_directory/data/conf.yaml.example
  aspdotnet/datadog_checks/aspdotnet/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/common/perf_counters.yaml
  dotnetclr/datadog_checks/dotnetclr/data/conf.yaml.example
  exchange_server/datadog_checks/exchange_server/data/conf.yaml.example
  hyperv/datadog_checks/hyperv/data/conf.yaml.example
  iis/datadog_checks/iis/data/conf.yaml.example
  windows_performance_counters/datadog_checks/windows_performance_counters/data/conf.yaml.example
Labels: changelog/no-changelog, dev/tooling, integration/active_directory, integration/aspdotnet, integration/dotnetclr, integration/exchange_server, integration/iis, integration/datadog_checks_dev, integration/hyperv, integration/windows_performance_counters

#12090 [Mongo] Allow hosts to be a singular value
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/config_models/validators.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/tests/test_config.py
Labels: documentation, integration/mongo, changelog/Fixed

#12089 Remove information about agent and core integrations releases as it h…
  docs/developer/ddev/configuration.md
  docs/developer/process/agent-release/post-release.md
  docs/developer/process/agent-release/pre-release.md
  docs/developer/process/integration-release.md
  mkdocs.yml
Labels: documentation, changelog/no-changelog

#12105 Pin mkdocstrings
  tox.ini
Labels: changelog/no-changelog

#12101 Update airflow integration dogstatsd_mapper_profiles example
  airflow/README.md
Labels: changelog/Fixed, integration/airflow

#12045 Add memory and cpu metrics to aruba snmprec
  snmp/tests/compose/data/aruba-switch.snmprec
Labels: changelog/no-changelog, integration/snmp

#12108 [kafka-check] add under min ISR partition count metric
  kafka/datadog_checks/kafka/data/metrics.yaml
  kafka/metadata.csv
  kafka/tests/common.py
Labels: integration/kafka, changelog/Added

#12054 Add F5 Networks tile and dashboard
  snmp_f5/README.md
  snmp_f5/assets/dashboards/f5-networks.json
  snmp_f5/assets/service_checks.json
  snmp_f5/manifest.json
Labels: documentation, changelog/no-changelog, editorial review, integration/snmp_f5

#12109 kafka_consumer: failed reading and writing to cache when file is too …
  kafka_consumer/datadog_checks/kafka_consumer/new_kafka_consumer.py
Labels: changelog/no-changelog, integration/kafka_consumer, category/bugfix, bugfix/regression

#12112 Port metadata from arangodb release
  arangodb/CHANGELOG.md
  arangodb/datadog_checks/arangodb/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, release, integration/arangodb

#12113 Release kafka consumer for RC4
  .in-toto/tag.47c5a022.link
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kafka_consumer, release
