Repository DataDog/integrations-core, pull requests merged in 2022-10, with the labels that each got.

#13006 Ensure X-Vault-Request header is set to `true` on all requests
  vault/datadog_checks/vault/check.py
  vault/tests/test_vault.py
Labels: changelog/Fixed, integration/vault

#13028 update
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/config_models/defaults.py
  ibm_mq/datadog_checks/ibm_mq/config_models/instance.py
  ibm_mq/datadog_checks/ibm_mq/config_models/shared.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/datadog_checks/ibm_mq/process.py
Labels: documentation, changelog/no-changelog, integration/ibm_mq

#13036 [cockroachdb] Increase `max_returned_metrics` in test to get expected metric
  cockroachdb/tests/conftest.py
  cockroachdb/tests/test_cockroachdb.py
Labels: changelog/no-changelog, integration/cockroachdb

#13038 Remove metrics limit from legacy version of the integration
  cockroachdb/datadog_checks/cockroachdb/cockroachdb.py
  cockroachdb/tests/conftest.py
Labels: changelog/Fixed, integration/cockroachdb

#13025 (DOCS-3238) Add section about Kong Datadog Plugin
  kong/README.md
Labels: documentation, changelog/no-changelog, integration/kong

#13042 Exclude loopback interface from ethtool
  network/assets/configuration/spec.yaml
  network/datadog_checks/network/data/conf.yaml.default
  network/datadog_checks/network/network.py
Labels: documentation, integration/network, changelog/Fixed, category/bugfix

#13044 [Release] Bumped network version to 2.9.1
  .in-toto/tag.eabca4ac.link
  network/CHANGELOG.md
  network/datadog_checks/network/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/network, release, category/release_operations

#13046 Enable public docs
  boundary/manifest.json
Labels: documentation, changelog/no-changelog, integration/boundary

#12962 Add the Windows-Agent team to the `trello testable` command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
Labels: dev/tooling, changelog/Fixed, dev_package

#12977 Add the reload command to the `env start` output
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13048 [Release] Bumped datadog_checks_dev version to 17.1.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, release, dev_package

#13041 Fix win32_event_log documentation example regex
  win32_event_log/README.md
Labels: documentation, changelog/no-changelog, integration/win32_event_log

#13045 Backport network to master
  network/CHANGELOG.md
  network/datadog_checks/network/__about__.py
  requirements-agent-release.txt
Labels: documentation, do-not-merge/HOLD, changelog/no-changelog, integration/network, release

#13050 Skip sock5 integration tests, add unit test
  datadog_checks_base/tests/base/utils/http/test_proxy.py
  datadog_checks_base/tests/base/utils/http/test_socks5_proxy_integration.py
Labels: changelog/no-changelog, dev/testing, base_package

#12974 Update SSL connection configs used for determining SSL auth
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/tests/test_config.py
Labels: changelog/Fixed, integration/ibm_mq

#13056 Fix code block in docstring
  datadog_checks_base/datadog_checks/base/utils/db/transform.py
Labels: changelog/no-changelog, base_package

#13016 Add metadata for otelcol metrics
  otel/metadata.csv
Labels: changelog/no-changelog, integration/otel

#12980 Add entry for skipping QA in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changelog/no-changelog, qa/skip-qa

#12956 Pin security deps in ddev
  datadog_checks_dev/pyproject.toml
Labels: changelog/Fixed, dev_package

#13054 Fix integration pipelines link
  teamcity/README.md
Labels: documentation, changelog/no-changelog, integration/teamcity

#12951 Fix setup.py keywords in datadog-checks-downloader
  datadog_checks_downloader/setup.py
Labels: changelog/Fixed, downloader

#13055 sqlserver/connection: always cast provided port to str
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/tests/test_connection.py
Labels: integration/sqlserver, changelog/Fixed

#12996 Use Hatch to manage environments
  weblogic/hatch.toml
  weblogic/pyproject.toml
  weblogic/requirements-dev.txt
  weblogic/tox.ini
Labels: changelog/no-changelog, qa/skip-qa, integration/weblogic

#12911 Use Hatch to manage environments
  aerospike/hatch.toml
  aerospike/pyproject.toml
  aerospike/requirements-dev.txt
  aerospike/tox.ini
Labels: changelog/no-changelog, integration/aerospike, qa/skip-qa

#12903 Make the `validate metadata` command fail if the metric prefix is invalid
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
  datadog_checks_dev/tests/tooling/commands/validate/test_metadata.py
Labels: dev/tooling, changelog/Fixed, dev_package

#12964 Fix changelogs to include #12896
  aerospike/CHANGELOG.md
  amazon_msk/CHANGELOG.md
  datadog_checks_dev/CHANGELOG.md
  kafka_consumer/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/kafka_consumer, integration/aerospike, integration/amazon_msk, dev_package

#13061 sqlserver/connection: always cast port to str
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/tests/test_connection.py
Labels: integration/sqlserver, changelog/Fixed

#12953 Update codeowners for Agent Platform-owned integrations
  .github/CODEOWNERS
Labels: changelog/no-changelog

#13030 Update agent QA trello script with new teams
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/no-changelog, dev/tooling, dev_package

#13043 Use variable groups on azure pipelines
  .azure-pipelines/agent.yml
  .azure-pipelines/all_comment.yml
  .azure-pipelines/all_master.yml
  .azure-pipelines/all_pr.yml
  .azure-pipelines/changes.yml
  .azure-pipelines/latest.yml
  .azure-pipelines/nightly_latest_base.yml
  .azure-pipelines/nightly_py2.yml
  .azure-pipelines/templates/common-variables.yml
Labels: changelog/no-changelog, dev/testing

#13058 Updating the Linkerd description
  linkerd/README.md
Labels: documentation, changelog/no-changelog, integration/linkerd

#13071 Add new teams to the trello `testable` script
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
Labels: changelog/no-changelog, dev/tooling, qa/skip-qa, dev_package

#13064 [Release] Bumped sqlserver version to 9.0.1
  .in-toto/tag.05916999.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, changelog/no-changelog, integration/sqlserver, release

#13068 Add unit tests in case no running apps are found
  spark/tests/test_spark.py
Labels: changelog/no-changelog, integration/spark

#13074 Use specific endpoint to get all members from trello board at once
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/github_trello_user_matcher.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/tester_selector.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/tester_selector/trello_users.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
  datadog_checks_dev/tests/tooling/test_trello.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13081 Update checkpoint firewall example
  snmp/datadog_checks/snmp/data/profiles/checkpoint-firewall.yaml
  snmp/tests/compose/data/checkpoint-firewall.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: integration/snmp

#13075 [Release] Bumped sqlserver version to 9.0.1 (#13064)
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, changelog/no-changelog, integration/sqlserver, release

#13072 Add the hatch migration status to the docs
  docs/developer/.scripts/33_render_status.py
Labels: documentation, changelog/no-changelog

#13073 Remove the legacy docker-compose
  datadog_checks_dev/datadog_checks/dev/conditions.py
  datadog_checks_dev/datadog_checks/dev/docker.py
  datadog_checks_dev/datadog_checks/dev/utils.py
Labels: changelog/Fixed, qa/skip-qa, dev_package

#13088 Update metadata.csv
  kafka_consumer/metadata.csv
Labels: changelog/no-changelog, integration/kafka_consumer

#13062 Revert "pin tagger image (#12943)"
  .gitlab-ci.yml
Labels: dev/tooling, changelog/Fixed

#13090 Add metadata for log otelcol metrics
  otel/metadata.csv
Labels: changelog/no-changelog, integration/otel

#13053 Add utility to handle concurrent evaluation of conditions
  datadog_checks_base/datadog_checks/base/utils/concurrency/__init__.py
  datadog_checks_base/datadog_checks/base/utils/concurrency/limiter.py
  datadog_checks_base/tests/base/utils/concurrency/__init__.py
  datadog_checks_base/tests/base/utils/concurrency/test_limiter.py
Labels: changelog/Added, base_package

#13092 [Release] Bumped datadog_checks_base version to 27.4.0
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, base_package

#13091 Prevent fork bomb when defining the experimental `process_isolation` option globally in the `init_config` section
  datadog_checks_base/datadog_checks/base/utils/replay/execute.py
Labels: changelog/Fixed, category/bugfix, base_package

#13094 Prevent fork bomb when defining the experimental process_isolation option globally in the init_config section
  datadog_checks_base/datadog_checks/base/utils/replay/execute.py
Labels: changelog/Fixed, base_package

#13077 Network check refactor: Create init method
  network/datadog_checks/network/network.py
  network/tests/conftest.py
  network/tests/test_ethtool.py
  network/tests/test_integration.py
  network/tests/test_network.py
Labels: changelog/no-changelog, integration/network

#13101 Updates Confluent Platform dashboard to use the correct service check
  confluent_platform/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/confluent_platform

#13039 [DOCS] Fix typo in SNMP metrics
  snmp/metadata.csv
Labels: documentation, changelog/no-changelog, integration/snmp

#13099 [Release] Bumped datadog_checks_base version to 27.3.1
  .in-toto/tag.05916999.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, base_package

#13108 Update the changelog of the datadog_checks_base
  datadog_checks_base/CHANGELOG.md
Labels: documentation, changelog/no-changelog, base_package

#13110 [Release] Bumped datadog_checks_base version to 27.4.1
  .in-toto/tag.05916999.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, base_package

#13116 Remove `Integration` from the title
  cert_manager/manifest.json
Labels: documentation, changelog/no-changelog, integration/cert_manager

#13109 [network] Refactor: split check_linux methods into different class
  network/datadog_checks/network/check_linux.py
  network/datadog_checks/network/network.py
  network/tests/test_ethtool.py
  network/tests/test_network.py
Labels: changelog/no-changelog, integration/network

#13089 Fix Query Metrics query to correct for over-inflated / incorrect SQL Server metrics
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_statements.py
Labels: integration/sqlserver, changelog/Fixed

#13121 Allow 1e to have email-based codeowners
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/codeowners.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13122 [Release] Bumped datadog_checks_dev version to 17.1.1
  .in-toto/tag.05916999.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, release, dev_package

#13085 Migrate to new codecov uploader
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/run-tests.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: dev/testing, dev/tooling, changelog/Fixed, dev_package

#13124 Remove stale bot settings
  .github/stale.yml
Labels: changelog/no-changelog, dev/tooling

#13093 directory: Improve error message
  directory/datadog_checks/directory/directory.py
  directory/datadog_checks/directory/traverse.py
Labels: integration/directory, changelog/Fixed

#13123 Fix Query Metrics query to correct for over-inflated / incorrect SQL Server metrics
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_statements.py
Labels: integration/sqlserver, changelog/Fixed

#13127 [Release] Bumped sqlserver version to 9.0.2
  .in-toto/tag.05916999.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, changelog/no-changelog, integration/sqlserver, release

#13128 Refactor iterator and error logging in directory
  directory/datadog_checks/directory/directory.py
  directory/tests/test_directory.py
Labels: changelog/no-changelog, integration/directory

#13106 Add the ability to retry kind environments
  datadog_checks_dev/datadog_checks/dev/env.py
  datadog_checks_dev/datadog_checks/dev/kind.py
  datadog_checks_dev/tests/test_kind.py
Labels: changelog/Added, dev_package

#13129 [Release] Bumped sqlserver version to 9.0.2
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, changelog/no-changelog, integration/sqlserver, release

#13135 Emma/sqlserver port 0
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/tests/test_connection.py
Labels: documentation, integration/sqlserver, changelog/Added

#13133 Use Hatch to manage environments
  kube_metrics_server/hatch.toml
  kube_metrics_server/pyproject.toml
  kube_metrics_server/requirements-dev.txt
  kube_metrics_server/requirements.txt
  kube_metrics_server/tox.ini
Labels: changelog/no-changelog, integration/kube_metrics_server, qa/skip-qa

#13132 Use Hatch to manage environments
  kube_dns/hatch.toml
  kube_dns/pyproject.toml
  kube_dns/requirements-dev.txt
  kube_dns/tox.ini
Labels: changelog/no-changelog, integration/kube_dns, qa/skip-qa

#13131 Use Hatch to manage environments
  kube_apiserver_metrics/hatch.toml
  kube_apiserver_metrics/pyproject.toml
  kube_apiserver_metrics/requirements-dev.txt
  kube_apiserver_metrics/tox.ini
Labels: changelog/no-changelog, integration/kube_apiserver_metrics, qa/skip-qa

#13117 Test & better document collect_cx_queues
  network/assets/configuration/spec.yaml
  network/datadog_checks/network/check_linux.py
  network/datadog_checks/network/data/conf.yaml.default
  network/datadog_checks/network/network.py
  network/tests/test_linux.py
  network/tests/test_network.py
Labels: documentation, integration/network, changelog/Fixed

#13063 Updated subprocess docs with clarification for command name
  datadog_checks_base/datadog_checks/base/utils/subprocess_output.py
Labels: changelog/no-changelog, integration/datadog_checks_base, qa/skip-qa, base_package

#13100 Use Hatch to manage environments
  eks_fargate/hatch.toml
  eks_fargate/pyproject.toml
  eks_fargate/requirements-dev.txt
  eks_fargate/tox.ini
Labels: changelog/no-changelog, integration/eks_fargate, qa/skip-qa

#13080 Change log level to debug
  process/datadog_checks/process/process.py
Labels: integration/process, changelog/Fixed

#13147 Allow `Comment PR on failure` to fail
  .github/workflows/validations.yaml
Labels: changelog/no-changelog, dev/tooling

#12968 Use Hatch to manage environments
  cert_manager/hatch.toml
  cert_manager/pyproject.toml
  cert_manager/requirements-dev.txt
  cert_manager/tox.ini
Labels: changelog/no-changelog, qa/skip-qa, integration/cert_manager

#12987 Use Hatch to manage environments
  zk/hatch.toml
  zk/pyproject.toml
  zk/requirements-dev.txt
  zk/tox.ini
Labels: changelog/no-changelog, integration/zk, qa/skip-qa

#13140 Use Hatch to manage environments
  lighttpd/hatch.toml
  lighttpd/pyproject.toml
  lighttpd/requirements-dev.txt
  lighttpd/tox.ini
Labels: changelog/no-changelog, integration/lighttpd, qa/skip-qa

#13143 Extract windows check to separate class
  network/datadog_checks/network/check_windows.py
  network/datadog_checks/network/network.py
  network/tests/test_network.py
  network/tests/test_windows.py
Labels: integration/network, changelog/Fixed

#13134 Use Hatch to manage environments
  kube_scheduler/hatch.toml
  kube_scheduler/pyproject.toml
  kube_scheduler/requirements-dev.txt
  kube_scheduler/requirements.txt
  kube_scheduler/tox.ini
Labels: changelog/no-changelog, integration/kube_scheduler, qa/skip-qa

#13136 Add more utilities
  .ddev/config.toml
  ddev/src/ddev/config/file.py
  ddev/src/ddev/integration/__init__.py
  ddev/src/ddev/integration/core.py
  ddev/src/ddev/repo/config.py
  ddev/src/ddev/repo/constants.py
  ddev/src/ddev/repo/core.py
  ddev/src/ddev/utils/fs.py
  ddev/tests/conftest.py
  ddev/tests/helpers/api.py
  ddev/tests/integration/__init__.py
  ddev/tests/integration/test_core.py
  ddev/tests/repo/__init__.py
  ddev/tests/repo/test_config.py
  ddev/tests/repo/test_core.py
Labels: changelog/Added, ddev

#13151 Use Hatch to manage environments
  mesos_slave/hatch.toml
  mesos_slave/pyproject.toml
  mesos_slave/requirements-dev.txt
  mesos_slave/tox.ini
Labels: changelog/no-changelog, integration/mesos_slave, qa/skip-qa

#13157 Use Hatch to manage environments
  nginx/hatch.toml
  nginx/pyproject.toml
  nginx/requirements-dev.txt
  nginx/tox.ini
Labels: changelog/no-changelog, integration/nginx, qa/skip-qa

#13154 Use Hatch to manage environments
  nfsstat/hatch.toml
  nfsstat/pyproject.toml
  nfsstat/requirements-dev.txt
  nfsstat/tox.ini
Labels: changelog/no-changelog, integration/nfsstat, qa/skip-qa

#13153 Use Hatch to manage environments
  nagios/hatch.toml
  nagios/pyproject.toml
  nagios/requirements-dev.txt
  nagios/tox.ini
Labels: changelog/no-changelog, integration/nagios, qa/skip-qa

#13104 Use Hatch to manage environments
  jboss_wildfly/hatch.toml
  jboss_wildfly/pyproject.toml
  jboss_wildfly/requirements-dev.txt
  jboss_wildfly/tox.ini
Labels: changelog/no-changelog, integration/jboss_wildfly, qa/skip-qa

#13159 Use Hatch to manage environments
  openldap/hatch.toml
  openldap/pyproject.toml
  openldap/requirements-dev.txt
  openldap/tox.ini
Labels: changelog/no-changelog, integration/openldap, qa/skip-qa

#13156 Add utilities for filtering integrations
  ddev/src/ddev/integration/core.py
  ddev/src/ddev/repo/constants.py
  ddev/src/ddev/repo/core.py
  ddev/tests/conftest.py
  ddev/tests/integration/test_core.py
  ddev/tests/repo/test_core.py
Labels: changelog/Added, ddev

#13144 Use Hatch to manage environments
  mesos_master/hatch.toml
  mesos_master/pyproject.toml
  mesos_master/requirements-dev.txt
  mesos_master/tox.ini
Labels: changelog/no-changelog, integration/mesos_master, qa/skip-qa

#13142 Use Hatch to manage environments
  mcache/hatch.toml
  mcache/pyproject.toml
  mcache/requirements-dev.txt
  mcache/tox.ini
Labels: changelog/no-changelog, integration/mcache, qa/skip-qa

#13141 Use Hatch to manage environments
  marathon/hatch.toml
  marathon/pyproject.toml
  marathon/requirements-dev.txt
  marathon/tox.ini
Labels: changelog/no-changelog, integration/marathon, qa/skip-qa

#13139 Use Hatch to manage environments
  kyototycoon/hatch.toml
  kyototycoon/pyproject.toml
  kyototycoon/requirements-dev.txt
  kyototycoon/tox.ini
Labels: changelog/no-changelog, integration/kyototycoon, qa/skip-qa

#13138 Use Hatch to manage environments
  kubernetes_state/hatch.toml
  kubernetes_state/pyproject.toml
  kubernetes_state/requirements-dev.txt
  kubernetes_state/tox.ini
Labels: changelog/no-changelog, integration/kubernetes_state, qa/skip-qa

#13137 Use Hatch to manage environments
  kube_controller_manager/hatch.toml
  kube_controller_manager/pyproject.toml
  kube_controller_manager/requirements-dev.txt
  kube_controller_manager/requirements.txt
  kube_controller_manager/tox.ini
Labels: changelog/no-changelog, integration/kube_controller_manager, qa/skip-qa

#13115 Use Hatch to manage environments
  mapr/hatch.toml
  mapr/pyproject.toml
  mapr/requirements-dev.txt
  mapr/tox.ini
Labels: changelog/no-changelog, integration/mapr, qa/skip-qa

#13105 Use Hatch to manage environments
  linkerd/hatch.toml
  linkerd/pyproject.toml
  linkerd/requirements-dev.txt
  linkerd/tox.ini
Labels: changelog/no-changelog, integration/linkerd, qa/skip-qa

#13098 Use Hatch to manage environments
  istio/hatch.toml
  istio/pyproject.toml
  istio/requirements-dev.txt
  istio/tox.ini
Labels: changelog/no-changelog, integration/istio, qa/skip-qa

#13097 Use Hatch to manage environments
  hudi/hatch.toml
  hudi/pyproject.toml
  hudi/requirements-dev.txt
  hudi/tox.ini
Labels: changelog/no-changelog, qa/skip-qa, integration/hudi

#13095 Use Hatch to manage environments
  hive/hatch.toml
  hive/pyproject.toml
  hive/requirements-dev.txt
  hive/tox.ini
Labels: changelog/no-changelog, integration/hive, qa/skip-qa

#13086 Use Hatch to manage environments
  hdfs_namenode/hatch.toml
  hdfs_namenode/pyproject.toml
  hdfs_namenode/requirements-dev.txt
  hdfs_namenode/tox.ini
Labels: changelog/no-changelog, integration/hdfs_namenode, qa/skip-qa

#13084 Use Hatch to manage environments
  hdfs_datanode/hatch.toml
  hdfs_datanode/pyproject.toml
  hdfs_datanode/requirements-dev.txt
  hdfs_datanode/tox.ini
Labels: changelog/no-changelog, integration/hdfs_datanode, qa/skip-qa

#13083 Use Hatch to manage environments
  hazelcast/hatch.toml
  hazelcast/pyproject.toml
  hazelcast/requirements-dev.txt
  hazelcast/tox.ini
Labels: changelog/no-changelog, integration/hazelcast, qa/skip-qa

#13079 Use Hatch to manage environments
  harbor/hatch.toml
  harbor/pyproject.toml
  harbor/requirements-dev.txt
  harbor/tox.ini
Labels: changelog/no-changelog, integration/harbor, qa/skip-qa

#13010 Use Hatch to manage environments
  ecs_fargate/hatch.toml
  ecs_fargate/pyproject.toml
  ecs_fargate/requirements-dev.txt
  ecs_fargate/tox.ini
Labels: changelog/no-changelog, integration/ecs_fargate, qa/skip-qa

#13009 Use Hatch to manage environments
  druid/hatch.toml
  druid/pyproject.toml
  druid/requirements-dev.txt
  druid/tox.ini
Labels: changelog/no-changelog, integration/druid, qa/skip-qa

#13005 Use Hatch to manage environments
  disk/hatch.toml
  disk/pyproject.toml
  disk/requirements-dev.txt
  disk/tox.ini
Labels: changelog/no-changelog, integration/disk, qa/skip-qa

#13000 Use Hatch to manage environments
  crio/hatch.toml
  crio/pyproject.toml
  crio/requirements-dev.txt
  crio/tox.ini
Labels: changelog/no-changelog, integration/crio, qa/skip-qa

#12989 Use Hatch to manage environments
  ceph/hatch.toml
  ceph/pyproject.toml
  ceph/requirements-dev.txt
  ceph/tox.ini
Labels: changelog/no-changelog, integration/ceph, qa/skip-qa

#13149 Add f5-distributed-cloud as tile without github team or username
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/codeowners.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13168 Exclude non-python checks from the hatch migration status
  docs/developer/.scripts/33_render_status.py
Labels: documentation, changelog/no-changelog

#13165 sqlserver: mark stored_procedure as deprecated
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/sqlserver

#13023 Update NDM name
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev, dev_package

#13164 DOCS-4203 Remove # symbol in metrics descriptions
  ecs_fargate/README.md
  ecs_fargate/metadata.csv
Labels: documentation, changelog/no-changelog, integration/ecs_fargate

#13175 [Release] Bumped datadog_checks_dev version to 17.2.0
  .in-toto/tag.eabca4ac.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, release, dev_package

#13184 Update silk dashboard
  silk/assets/dashboards/silk_overview.json
Labels: changelog/no-changelog, integration/silk

#13161 Add note in docs about ddev needing to support Python 2.7
  docs/developer/ddev/about.md
Labels: documentation, changelog/no-changelog

#13173 Move mypy options to `pyproject.toml` and always exclude `config_models` files
  aerospike/hatch.toml
  azure_iot_edge/tox.ini
  citrix_hypervisor/tox.ini
  cloud_foundry_api/tox.ini
  datadog_checks_dev/datadog_checks/dev/plugin/hatch/environment_collector.py
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
  dns_check/tox.ini
  glusterfs/tox.ini
  ibm_mq/tox.ini
  marklogic/tox.ini
  mypy.ini
  postgres/tox.ini
  pyproject.toml
  rethinkdb/tox.ini
  singlestore/tox.ini
  snowflake/tox.ini
  teradata/tox.ini
  voltdb/tox.ini
Labels: changelog/no-changelog, integration/dns_check, integration/postgres, integration/ibm_mq, integration/aerospike, integration/rethinkdb, integration/marklogic, integration/cloud_foundry_api, integration/snowflake, qa/skip-qa, integration/azure_iot_edge, integration/voltdb, integration/glusterfs, integration/citrix_hypervisor, integration/singlestore, integration/teradata, dev_package

#13174 Update downloader to use v5 root layout
  datadog_checks_downloader/datadog_checks/downloader/data/repo/metadata/current/root.json
  datadog_checks_downloader/datadog_checks/downloader/download.py
Labels: changelog/Added, downloader

#12919 fix(kubernetes): return the proper number of job's pod
  kubernetes/assets/dashboards/kubernetes_jobs.json
Labels: changelog/no-changelog, integration/kubernetes

#13018 fix init script bug
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks

#13194 Add opentelemetry team to trello class
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev, dev_package

#13107 Add `queue_manager_process` option
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/assets/service_checks.json
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/config_models/defaults.py
  ibm_mq/datadog_checks/ibm_mq/config_models/instance.py
  ibm_mq/datadog_checks/ibm_mq/config_models/shared.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/datadog_checks/ibm_mq/process_matcher.py
  ibm_mq/pyproject.toml
  ibm_mq/tests/test_channel_metric_collector.py
  ibm_mq/tests/test_config.py
  ibm_mq/tests/test_ibm_mq_int.py
  ibm_mq/tests/test_ibm_mq_unit.py
  ibm_mq/tests/test_queue_metric_collector.py
Labels: documentation, changelog/Added, integration/ibm_mq

#13195 Skip offline downloader tests for now
  datadog_checks_downloader/tests/test_downloader.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_downloader, downloader

#13198 Force pytest<7.2.0 to avoid test breakage
  datadog_checks_dev/pyproject.toml
Labels: changelog/no-changelog, dev_package

#13197 Add `status` command
  ddev/src/ddev/cli/__init__.py
  ddev/src/ddev/cli/status/__init__.py
  ddev/src/ddev/repo/core.py
  ddev/src/ddev/utils/fs.py
  ddev/tests/cli/__init__.py
  ddev/tests/cli/status/__init__.py
  ddev/tests/cli/status/test_status.py
  ddev/tests/conftest.py
Labels: changelog/Added, ddev

#13200 Exclude ddev from no-changelog PR label
  .github/workflows/config/labeler.yml
Labels: dev/tooling, changelog/Fixed

#13201 Rename Tools and Libs team to Platform Integrations
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/testable.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13160 Add the memray option to the `test` command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
  datadog_checks_dev/pyproject.toml
Labels: dev/tooling, changelog/Added, dev_package

#13145 split windows tests
  network/tests/test_network.py
  network/tests/test_windows.py
Labels: changelog/no-changelog, integration/network

#13111 Rebuild images when ci file is updated
  .gitlab-ci.yml
Labels: dev/tooling, changelog/Fixed

#12882 Fix exception thrown when database is null in config
  sqlserver/datadog_checks/sqlserver/connection.py
Labels: integration/sqlserver, changelog/Fixed

#11681 Adding deprecated notices to old metrics
  docker_daemon/metadata.csv
Labels: containers, changelog/no-changelog, integration/docker_daemon

#12107 Add count of folders in the directory check
  directory/datadog_checks/directory/directory.py
  directory/metadata.csv
  directory/tests/common.py
  directory/tests/test_directory.py
Labels: integration/directory, changelog/Added

#13114 ibm_i integration produces CRITICAL service check if it cannot connect
  ibm_i/datadog_checks/ibm_i/check.py
  ibm_i/tests/conftest.py
  ibm_i/tests/test_e2e.py
  ibm_i/tox.ini
Labels: changelog/Fixed, integration/ibm_i

#13205 Update dependencies
  aerospike/pyproject.toml
  amazon_msk/pyproject.toml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  kafka_consumer/pyproject.toml
Labels: integration/kafka_consumer, changelog/Fixed, integration/aerospike, integration/amazon_msk, dependencies, base_package

#12460 Update to the metric part
  linkerd/README.md
Labels: documentation, changelog/no-changelog, integration/linkerd, editorial review

#13076 Ignore aberrant values for `kubernetes.memory.rss`
  kubelet/datadog_checks/kubelet/prometheus.py
Labels: integration/kubelet, changelog/Fixed

#12552 Add documentation for `kubernetes_state_core` core check
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  kubernetes_state/README.md
  kubernetes_state_core/CHANGELOG.md
  kubernetes_state_core/README.md
  kubernetes_state_core/assets/configuration/spec.yaml
  kubernetes_state_core/assets/service_checks.json
  kubernetes_state_core/datadog_checks/kubernetes_state_core/data/conf.yaml.example
  kubernetes_state_core/manifest.json
  kubernetes_state_core/metadata.csv
Labels: documentation, dev/tooling, integration/kubernetes_state, changelog/Added, integration/kubernetes_state_core

#13146 Fix openmetrics v2 service check: there shouldn’t be any host
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_histogram.py
Labels: changelog/Fixed, integration/openmetrics, base_package

#13207 Update dependencies
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  mongo/datadog_checks/mongo/mongo.py
  mongo/pyproject.toml
  mongo/tests/test_unit.py
Labels: integration/mongo, changelog/Fixed, dependencies, base_package

#13218 Use Hatch to manage environments
  vertica/hatch.toml
  vertica/pyproject.toml
  vertica/requirements-dev.txt
  vertica/tox.ini
Labels: changelog/no-changelog, integration/vertica, qa/skip-qa

#13217 Use Hatch to manage environments
  ibm_i/hatch.toml
  ibm_i/pyproject.toml
  ibm_i/requirements-dev.txt
  ibm_i/tox.ini
Labels: changelog/no-changelog, qa/skip-qa, integration/ibm_i

#13179 Use Hatch to manage environments
  cisco_aci/hatch.toml
  cisco_aci/pyproject.toml
  cisco_aci/requirements-dev.txt
  cisco_aci/tox.ini
Labels: changelog/no-changelog, integration/cisco_aci, qa/skip-qa

#13220 Fix gunicorn test environments
  gunicorn/tests/compose/Dockerfile
  gunicorn/tox.ini
Labels: changelog/no-changelog, integration/gunicorn

#13210 Remove postgres tag truncation for metrics
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_statements.py
Labels: integration/postgres, changelog/Removed

#13211 Remove sqlserver tag truncation for metrics
  sqlserver/datadog_checks/sqlserver/statements.py
Labels: integration/sqlserver, changelog/Removed

#13212 Remove mysql tag truncation for metrics
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_statements.py
Labels: integration/mysql, changelog/Removed

#13202 mysql: additional metrics for mysql metrics collection
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
Labels: changelog/no-changelog, integration/mysql

#13215 Fix non-specific troubleshooting link on explain_plan_procedure_missing configuration error
  mysql/datadog_checks/mysql/activity.py
Labels: integration/mysql, changelog/Fixed

#13219 teamcity multi instance
  teamcity/assets/configuration/spec.yaml
  teamcity/datadog_checks/teamcity/data/conf.yaml.example
Labels: documentation, integration/teamcity

#13226 Fix process signature report
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/tests/tooling/test_utils.py
Labels: dev/tooling, changelog/Fixed, dev_package
