Repository DataDog/integrations-core, pull requests merged in 2022-07, with the labels that each got.

#12451 Add ext_authz and ratelimiter metrics to OpenMetrics implementation
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/common.py
  envoy/tests/conftest.py
  envoy/tests/docker/api_v2/Dockerfile-service
  envoy/tests/docker/api_v3/Dockerfile-service
  envoy/tests/docker/api_v3/front-envoy.yaml
  envoy/tests/test_check.py
Labels: integration/envoy, changelog/Added, category/improvement

#12444 fix ibm mq build
  .azure-pipelines/scripts/ibm_mq/windows/55_install_ibm_mq_client.py
  ibm_mq/tests/README.md
Labels: documentation, changelog/no-changelog, dev/testing, integration/ibm_mq

#12447 Use dockerhub instead of private registry
  .azure-pipelines/scripts/marklogic/linux/55_docker_login.sh
  marklogic/tests/compose/cluster/docker-compose.yml
  marklogic/tests/compose/standalone/docker-compose.yml
Labels: changelog/no-changelog, dev/testing, integration/marklogic

#12386 Updated vsphere_overview.json
  vsphere/assets/dashboards/vsphere_overview.json
Labels: changelog/no-changelog, integration/vsphere

#12354 Update tested versions
  redisdb/metadata.csv
  redisdb/tests/test_e2e.py
  redisdb/tox.ini
Labels: changelog/no-changelog, integration/redisdb

#12428 Fix validation error message and wrong parameters
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/validator.py
Labels: dev/tooling, integration/datadog_checks_dev

#12446 Fix the `tcp_check` IPv6 tests by using a more stable DNS hostname
  tcp_check/tests/common.py
  tcp_check/tests/test_tcp_check.py
Labels: changelog/no-changelog, dev/testing, integration/tcp_check

#12394 Make integration compatible with Vertica 11
  vertica/datadog_checks/vertica/utils.py
  vertica/datadog_checks/vertica/vertica.py
  vertica/tests/README.md
  vertica/tests/common.py
  vertica/tests/conftest.py
  vertica/tests/docker/Dockerfile_custom
  vertica/tests/docker/custom-entrypoint.sh
  vertica/tests/docker/docker-compose-9.yaml
  vertica/tests/docker/docker-compose.yaml
  vertica/tests/test_unit.py
  vertica/tests/test_vertica.py
  vertica/tox.ini
Labels: documentation, changelog/Fixed, integration/vertica

#12453 [Release] Bumped envoy version to 2.3.0
  .in-toto/tag.c295cf63.link
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/envoy, release

#12441 Fix integration name in metadata.csv
  kafka_consumer/metadata.csv
Labels: changelog/no-changelog, integration/kafka_consumer

#12439 Assert more in boundary tests
  boundary/tests/test_unit.py
Labels: changelog/no-changelog, category/improvement, integration/boundary

#11804 [doc]jonathan.mcintyre-update-metadata.csv
  disk/metadata.csv
Labels: changelog/no-changelog, integration/disk

#12142 Update manifest to version 2.0.0
  active_directory/manifest.json
Labels: documentation, changelog/no-changelog, integration/active_directory

#12454 Update mock targets
  snowflake/tests/snowflake_connector_patch/pyproject.toml
Labels: changelog/no-changelog, integration/snowflake

#12452 Properly read from `token_path` parameter
  snowflake/datadog_checks/snowflake/check.py
  snowflake/tests/test_unit.py
Labels: changelog/Fixed, integration/snowflake

#12455 [Release] Bumped snowflake version to 4.4.2
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: changelog/no-changelog, release, integration/snowflake

#12402 Remove confusing error message on sqlserver integration start up
  sqlserver/datadog_checks/sqlserver/connection.py
Labels: changelog/no-changelog, integration/sqlserver

#12449 Download clidriver from azure instead of IBM
  ibm_db2/tests/common.py
  ibm_db2/tox.ini
Labels: documentation, changelog/no-changelog, dev/testing, integration/ibm_db2

#12459 release checks dev
  .in-toto/tag.0244aaa8.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#12458 Change proxysql env log to check
  proxysql/tests/conftest.py
Labels: changelog/no-changelog, dev/testing, integration/proxysql

#12448 elastic docs: change slm_stats privilege to read_slm
  elastic/assets/configuration/spec.yaml
  elastic/datadog_checks/elastic/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/elastic

#12462 Fix WMI link in MySQL docs
  mysql/README.md
Labels: documentation, changelog/no-changelog, integration/mysql

#12445 Do not include Datadog licenses to community files
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_consumer.py
  datadog_checks_dev/tests/tooling/commands/validate/data/my_check/assets/configuration/spec.yaml
  datadog_checks_dev/tests/tooling/commands/validate/data/my_check/datadog_checks/my_check/__about__.py
  datadog_checks_dev/tests/tooling/commands/validate/data/my_check/datadog_checks/my_check/config_models/.gitkeep
  datadog_checks_dev/tests/tooling/commands/validate/data/my_check/manifest.json
  datadog_checks_dev/tests/tooling/commands/validate/data/my_check/pyproject.toml
  datadog_checks_dev/tests/tooling/commands/validate/test_models.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#12356 Update the wording for the curated_metrics metadata.csv column
  docs/dev/check_references.md
Labels: documentation, changelog/no-changelog

#12425 Helm: Add link to blog post
  helm/README.md
Labels: documentation, changelog/no-changelog, integration/helm

#12231 Update manifest to version 2.0.0
  kong/manifest.json
Labels: documentation, changelog/no-changelog, integration/kong

#12144 Update manifest to version 2.0.0
  activemq_xml/manifest.json
Labels: documentation, changelog/no-changelog, integration/activemq_xml

#11620 Remove duplicate hive beans
  hive/datadog_checks/hive/data/metrics.yaml
  hive/metadata.csv
  hive/tests/test_check.py
Labels: changelog/no-changelog, integration/hive

#12435 Properly read `collect_secondary_dr` and improve code readability
  vault/datadog_checks/vault/check.py
  vault/datadog_checks/vault/vault.py
  vault/tests/test_vault.py
Labels: changelog/Fixed, integration/vault

#12145 Update manifest to version 2.0.0
  aerospike/manifest.json
Labels: documentation, changelog/no-changelog, integration/aerospike

#12153 Update manifest to version 2.0.0
  arangodb/manifest.json
Labels: documentation, changelog/no-changelog, integration/arangodb

#12162 Update manifest to version 2.0.0
  cassandra_nodetool/manifest.json
Labels: documentation, changelog/no-changelog, integration/cassandra_nodetool

#12158 Update manifest to version 2.0.0
  btrfs/manifest.json
Labels: documentation, changelog/no-changelog, integration/btrfs

#12159 Update manifest to version 2.0.0
  cacti/manifest.json
Labels: documentation, changelog/no-changelog, integration/cacti

#12160 Update manifest to version 2.0.0
  calico/manifest.json
Labels: documentation, changelog/no-changelog, integration/calico

#12148 Update manifest to version 2.0.0
  amazon_eks/CHANGELOG.md
  amazon_eks/manifest.json
Labels: documentation, changelog/no-changelog, integration/amazon_eks

#12150 Update manifest to version 2.0.0
  amazon_msk/manifest.json
Labels: documentation, changelog/no-changelog, integration/amazon_msk

#12472 Fix bug where mysql table row stats were not being collected
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/queries.py
  mysql/metadata.csv
Labels: integration/mysql, changelog/Fixed

#12474 [Release] Bumped mysql version to 8.4.1
  .in-toto/tag.c295cf63.link
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mysql, release

#12475 Update trello.py
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#12473 Fix new integration creation on Windows and for integrations-extras
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#12437 Allow empty username and password for basic auth
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/base/utils/test_http.py
Labels: integration/datadog_checks_base, changelog/Fixed

#12154 Update manifest to version 2.0.0
  aspdotnet/manifest.json
Labels: documentation, changelog/no-changelog, integration/aspdotnet

#12155 Update manifest to version 2.0.0
  avi_vantage/manifest.json
Labels: documentation, changelog/no-changelog, integration/avi_vantage

#12156 Update manifest to version 2.0.0
  azure_active_directory/CHANGELOG.md
  azure_active_directory/manifest.json
  azure_active_directory/metadata.csv
Labels: documentation, changelog/no-changelog, integration/azure_active_directory

#12157 Update manifest to version 2.0.0
  azure_iot_edge/manifest.json
Labels: documentation, changelog/no-changelog, integration/azure_iot_edge

#12165 Update manifest to version 2.0.0
  cisco_aci/manifest.json
Labels: documentation, changelog/no-changelog, integration/cisco_aci

#12166 Update manifest to version 2.0.0
  citrix_hypervisor/manifest.json
Labels: documentation, changelog/no-changelog, integration/citrix_hypervisor

#12167 Update manifest to version 2.0.0
  clickhouse/manifest.json
Labels: documentation, changelog/no-changelog, integration/clickhouse

#12481 Upgrade pyjwt to 2.4.0
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: integration/datadog_checks_base, changelog/Security, dependencies

#12477 release checks dev
  .in-toto/tag.0244aaa8.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#12482 [Release] Bumped datadog_checks_base version to 25.5.0
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#12372 [PerfCountersBaseCheck] Refresh performance objects in a separate thread
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/base.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/refresh.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/test_health.py
Labels: integration/datadog_checks_base, changelog/Fixed

#12204 Update manifest to version 2.0.0
  go-metro/manifest.json
Labels: documentation, changelog/no-changelog, integration/go-metro

#12260 Update manifest to version 2.0.0
  ntp/CHANGELOG.md
  ntp/manifest.json
Labels: documentation, changelog/no-changelog, integration/ntp

#12263 Update manifest to version 2.0.0
  oom_kill/CHANGELOG.md
  oom_kill/manifest.json
Labels: documentation, changelog/no-changelog, integration/oom_kill

#12313 Update manifest to version 2.0.0
  tcp_queue_length/CHANGELOG.md
  tcp_queue_length/manifest.json
Labels: documentation, changelog/no-changelog, integration/tcp_queue_length

#12330 Update manifest to version 2.0.0
  win32_event_log/manifest.json
  win32_event_log/metadata.csv
Labels: documentation, changelog/no-changelog, integration/win32_event_log

#12168 Update manifest to version 2.0.0
  cloud_foundry_api/manifest.json
Labels: documentation, changelog/no-changelog, integration/cloud_foundry_api

#12195 Update manifest to version 2.0.0
  external_dns/manifest.json
Labels: documentation, changelog/no-changelog, integration/external_dns

#12182 Update manifest to version 2.0.0
  directory/manifest.json
Labels: documentation, changelog/no-changelog, integration/directory

#12244 Update manifest to version 2.0.0
  linux_proc_extras/manifest.json
Labels: documentation, changelog/no-changelog, integration/linux_proc_extras

#12255 Update manifest to version 2.0.0
  network/manifest.json
Labels: documentation, changelog/no-changelog, integration/network

#12185 Update manifest to version 2.0.0
  docker_daemon/manifest.json
Labels: documentation, changelog/no-changelog, integration/docker_daemon

#12281 Update manifest to version 2.0.0
  process/manifest.json
Labels: documentation, changelog/no-changelog, integration/process

#12309 Update manifest to version 2.0.0
  system_core/manifest.json
Labels: documentation, changelog/no-changelog, integration/system_core

#12312 Update manifest to version 2.0.0
  tcp_check/manifest.json
Labels: documentation, changelog/no-changelog, integration/tcp_check

#12238 Update manifest to version 2.0.0
  kubelet/manifest.json
Labels: documentation, changelog/no-changelog, integration/kubelet

#12232 Update manifest to version 2.0.0
  kube_apiserver_metrics/manifest.json
Labels: documentation, changelog/no-changelog, integration/kube_apiserver_metrics

#12234 Update manifest to version 2.0.0
  kube_dns/manifest.json
Labels: documentation, changelog/no-changelog, integration/kube_dns

#12240 Update manifest to version 2.0.0
  kubernetes_state/manifest.json
Labels: documentation, changelog/no-changelog, integration/kubernetes_state

#12202 Update manifest to version 2.0.0
  gke/CHANGELOG.md
  gke/manifest.json
Labels: documentation, changelog/no-changelog, integration/gke

#12205 Update manifest to version 2.0.0
  go_expvar/manifest.json
Labels: documentation, changelog/no-changelog, integration/go_expvar

#12146 Update manifest to version 2.0.0
  agent_metrics/CHANGELOG.md
  agent_metrics/manifest.json
Labels: documentation, changelog/no-changelog, integration/agent_metrics

#12470 Hide `extra_metrics` in example config
  openmetrics/assets/configuration/spec.yaml
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
Labels: documentation, changelog/Fixed, integration/openmetrics

#12426 properly apply monospace tagging to metric names
  airflow/README.md
Labels: documentation, changelog/no-changelog, integration/airflow

#12484 Add tests for table_row_stats_metrics collection
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
  mysql/tests/variables.py
Labels: changelog/no-changelog, integration/mysql

#12485 backport release
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#12489 Add attempts to IBM DB2 environment
  ibm_db2/tests/conftest.py
Labels: changelog/no-changelog, dev/testing, integration/ibm_db2

#12468 Fix typo detection for config field aliases
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
Labels: integration/datadog_checks_base, changelog/Fixed

#12424 Support version specific AlwaysOn metrics
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: integration/sqlserver, changelog/Fixed

#12496 Fix test_e2e_core_discovery test
  snmp/tests/test_e2e_core.py
Labels: changelog/no-changelog, integration/snmp

#12438 expand upon example of using an index as a metric_tag
  docs/developer/tutorials/snmp/profile-format.md
Labels: documentation, changelog/no-changelog

#12463 Fix CI
  datadog_checks_dev/tests/tooling/manifest_validator/test_v2_validator.py
  datadog_checks_dev/tests/tooling/manifest_validator/test_validator.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#12456 (DOCS-3484) Remove outdated link
  redisdb/README.md
Labels: documentation, changelog/no-changelog, integration/redisdb

#12464 update the metrics url
  kong/datadog_checks/kong/metrics.py
Labels: changelog/no-changelog, integration/kong

#12081 add log filtering by eventID example
  win32_event_log/README.md
Labels: documentation, changelog/no-changelog, integration/win32_event_log

#12370 ECS Fargate cleanup for deployment tabs, instructions, and samples
  ecs_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/ecs_fargate

#12499 add missing arguments to log statement
  postgres/datadog_checks/postgres/statement_samples.py
Labels: changelog/Fixed

#12503 Remove incorrect metric unit from `teradata.mem.seg_mdl.*` metrics
  teradata/metadata.csv
Labels: changelog/no-changelog, integration/teradata

#12506 Don't modify a user's config on ddev tests
  datadog_checks_dev/tests/tooling/commands/validate/test_models.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#12509 Add missing metrics to metadata
  envoy/metadata.csv
Labels: changelog/no-changelog, integration/envoy

#12505 [redisdb] Latency measurement not impacted by agent load
  redisdb/datadog_checks/redisdb/redisdb.py
Labels: changelog/no-changelog, integration/redisdb

#12510 Improve assertion error message, soften requirement
  couchbase/tests/test_couchbase.py
Labels: changelog/no-changelog, integration/couchbase

#11505 Add validations for duplicate JMX bean entries
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/jmx_metrics.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#12515 Disable SQL Server 2016 and 2017 test envs
  sqlserver/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/sqlserver

#12518 Update Hatch plugin
  datadog_checks_dev/datadog_checks/dev/plugin/hatch/environment_collector.py
  datadog_checks_dev/hatch.toml
  datadog_checks_dev/pyproject.toml
Labels: changelog/Added, integration/datadog_checks_dev

#12522 Bump IBM DB dependency
  ibm_db2/requirements-dev.txt
  ibm_db2/tests/docker/requirements.txt
Labels: changelog/no-changelog, dev/testing, integration/ibm_db2

#12511 Log check warning for missing event statements consumer
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/util.py
Labels: changelog/no-changelog, integration/mysql

#12501 Remove namespace from doc
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: documentation, integration/snmp

#12525 Add total cpu percentages as a metric
  system_core/README.md
  system_core/datadog_checks/system_core/system_core.py
  system_core/metadata.csv
  system_core/tests/test_e2e.py
  system_core/tests/test_integration.py
  system_core/tests/test_system_core.py
Labels: documentation, integration/system_core, changelog/Added

#12498 [elastic] Added documentation missing description of required user roles permissions
  elastic/README.md
Labels: documentation, changelog/no-changelog, integration/elastic

#12523 Add error message in case of service checks not ok
  ibm_ace/datadog_checks/ibm_ace/subscription.py
Labels: changelog/Fixed, integration/ibm_ace

#12479 [mongo] Added new metrics for oplatencies
  mongo/datadog_checks/mongo/metrics.py
  mongo/metadata.csv
  mongo/tests/common.py
  mongo/tests/fixtures/serverStatus
  mongo/tests/results/metrics-serverStatus.json
  mongo/tests/test_e2e.py
  mongo/tests/test_mongo.py
Labels: integration/mongo

#12486 Fix simple typo
  postgres/README.md
Labels: documentation, changelog/no-changelog, integration/postgres

#12519 Use Hatch to manage environments
  vault/hatch.toml
  vault/requirements-dev.txt
  vault/tox.ini
Labels: changelog/no-changelog, integration/vault

#12465 Support projection storage and storage containers for Vertica 11+
  vertica/datadog_checks/vertica/vertica.py
  vertica/datadog_checks/vertica/views.py
  vertica/metadata.csv
  vertica/tests/common.py
  vertica/tests/metrics.py
  vertica/tests/test_vertica.py
  vertica/tests/test_views.py
  vertica/tox.ini
Labels: changelog/Fixed, integration/vertica

#12527 Include the conditions in the retry for the `docker_run` function
  datadog_checks_dev/datadog_checks/dev/docker.py
  datadog_checks_dev/datadog_checks/dev/env.py
  datadog_checks_dev/tests/test__env.py
  datadog_checks_dev/tests/test_docker.py
Labels: changelog/Added, integration/datadog_checks_dev

#12507 Add recommended monitors
  teradata/assets/recommended_monitors/high_disk_space.json
  teradata/assets/recommended_monitors/low_ready_threads.json
  teradata/manifest.json
Labels: documentation, changelog/no-changelog, integration/teradata

#12504 Add Teradata overview dashboard
  teradata/assets/dashboards/teradata_overview.json
  teradata/manifest.json
Labels: documentation, changelog/no-changelog, integration/teradata

#12531 Remove vertica 9 test environment
  vertica/tests/README.md
  vertica/tests/conftest.py
  vertica/tests/docker/docker-compose-9.yaml
  vertica/tox.ini
Labels: documentation, changelog/no-changelog, integration/vertica

#12169 Update manifest to version 2.0.0
  cockroachdb/manifest.json
Labels: documentation, changelog/no-changelog, integration/cockroachdb

#12170 Update manifest to version 2.0.0
  confluent_platform/manifest.json
Labels: documentation, changelog/no-changelog, integration/confluent_platform

#12175 Update manifest to version 2.0.0
  coredns/manifest.json
Labels: documentation, changelog/no-changelog, integration/coredns

#12179 Update manifest to version 2.0.0
  crio/manifest.json
Labels: documentation, changelog/no-changelog, integration/crio

#12180 Update manifest to version 2.0.0
  databricks/CHANGELOG.md
  databricks/manifest.json
  databricks/metadata.csv
Labels: documentation, changelog/no-changelog, integration/databricks

#12181 Update manifest to version 2.0.0
  datadog_cluster_agent/manifest.json
Labels: documentation, changelog/no-changelog, integration/datadog_cluster_agent

#12186 Update manifest to version 2.0.0
  dotnetclr/manifest.json
Labels: documentation, changelog/no-changelog, integration/dotnetclr

#12514 [mongo] Restore connection_scheme to config
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/config_models/defaults.py
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/mongo

#12535 Release Vertica
  .in-toto/tag.335b3118.link
  requirements-agent-release.txt
  vertica/CHANGELOG.md
  vertica/datadog_checks/vertica/__about__.py
Labels: changelog/no-changelog, integration/vertica, release

#12461 Document docker logs and checkcommandoutput
  datadog_checks_dev/datadog_checks/dev/conditions.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#12538 Move metric from always present to optional, increase attempts
  confluent_platform/tests/conftest.py
  confluent_platform/tests/metrics.py
Labels: changelog/no-changelog, dev/testing, integration/confluent_platform

#12187 Update manifest to version 2.0.0
  druid/manifest.json
Labels: documentation, changelog/no-changelog, integration/druid

#12188 Update manifest to version 2.0.0
  ecs_fargate/manifest.json
Labels: documentation, changelog/no-changelog, integration/ecs_fargate

#12192 Update manifest to version 2.0.0
  envoy/manifest.json
Labels: documentation, changelog/no-changelog, integration/envoy

#12198 Update manifest to version 2.0.0
  foundationdb/manifest.json
Labels: documentation, changelog/no-changelog, integration/foundationdb

#12350 Add per-client/server metrics
  pgbouncer/assets/configuration/spec.yaml
  pgbouncer/datadog_checks/pgbouncer/config_models/defaults.py
  pgbouncer/datadog_checks/pgbouncer/config_models/instance.py
  pgbouncer/datadog_checks/pgbouncer/data/conf.yaml.example
  pgbouncer/datadog_checks/pgbouncer/metrics.py
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
  pgbouncer/metadata.csv
  pgbouncer/tests/test_pgbouncer_integration_e2e.py
Labels: integration/pgbouncer, changelog/Added

#12544 Fix nightly base package builds that use Hatch
  datadog_checks_dev/datadog_checks/dev/plugin/hatch/environment_collector.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#12200 Update manifest to version 2.0.0
  gitlab/manifest.json
Labels: documentation, changelog/no-changelog, integration/gitlab

#12201 Update manifest to version 2.0.0
  gitlab_runner/manifest.json
Labels: documentation, changelog/no-changelog, integration/gitlab_runner

#12208 Update manifest to version 2.0.0
  harbor/manifest.json
Labels: documentation, changelog/no-changelog, integration/harbor

#12210 Update manifest to version 2.0.0
  hdfs_datanode/manifest.json
Labels: documentation, changelog/no-changelog, integration/hdfs_datanode

#12211 Update manifest to version 2.0.0
  hdfs_namenode/manifest.json
Labels: documentation, changelog/no-changelog, integration/hdfs_namenode

#12478 Remove legacy variants from tests environments
  envoy/tests/common.py
  envoy/tests/conftest.py
  envoy/tests/legacy/common.py
  envoy/tests/legacy/test_bench.py
  envoy/tests/legacy/test_e2e.py
  envoy/tests/legacy/test_envoy.py
  envoy/tests/legacy/test_metrics.py
  envoy/tests/legacy/test_parser.py
  envoy/tests/legacy/test_utils.py
  envoy/tests/test_check.py
  envoy/tox.ini
Labels: changelog/no-changelog, integration/envoy

#12539 Add attempts to proxysql
  proxysql/tests/conftest.py
Labels: changelog/no-changelog, integration/proxysql

#12528 Add retries to test & emit warnings when connections fail
  sap_hana/datadog_checks/sap_hana/sap_hana.py
  sap_hana/tests/common.py
  sap_hana/tests/test_e2e.py
  sap_hana/tests/test_integration.py
  sap_hana/tests/test_unit.py
Labels: changelog/Added, integration/sap_hana

#12536 Collect lib injection metrics
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/metadata.csv
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
Labels: changelog/Added, integration/datadog_cluster_agent

#12550 Increase attempts
  ceph/tests/conftest.py
Labels: changelog/no-changelog, integration/ceph

#12549 Add attempts
  avi_vantage/tests/conftest.py
Labels: changelog/no-changelog, integration/avi_vantage

#12551 Add attempts
  envoy/tests/conftest.py
Labels: changelog/no-changelog, integration/envoy

#12213 Update manifest to version 2.0.0
  hive/manifest.json
Labels: documentation, changelog/no-changelog, integration/hive

#12214 Update manifest to version 2.0.0
  hivemq/manifest.json
Labels: documentation, changelog/no-changelog, integration/hivemq

#12216 Update manifest to version 2.0.0
  hudi/manifest.json
Labels: documentation, changelog/no-changelog, integration/hudi

#12218 Update manifest to version 2.0.0
  hyperv/manifest.json
Labels: documentation, changelog/no-changelog, integration/hyperv

#12219 Update manifest to version 2.0.0
  ibm_ace/manifest.json
Labels: documentation, changelog/no-changelog, integration/ibm_ace

#12220 Update manifest to version 2.0.0
  ibm_db2/manifest.json
Labels: documentation, changelog/no-changelog, integration/ibm_db2

#12520 windows_service: update link to ms doc in the comment
  windows_service/datadog_checks/windows_service/windows_service.py
Labels: changelog/no-changelog, integration/windows_service

#12516 [Database Monitoring] update tests with new function
  postgres/tests/compose/resources/02_setup.sh
  postgres/tests/test_statements.py
Labels: changelog/no-changelog, integration/postgres

#12221 Update manifest to version 2.0.0
  ibm_i/manifest.json
Labels: documentation, changelog/no-changelog, integration/ibm_i

#12222 Update manifest to version 2.0.0
  ibm_mq/manifest.json
Labels: documentation, changelog/no-changelog, integration/ibm_mq
