Repository DataDog/integrations-core, pull requests merged in 2022-06, with the labels that each got.

#12116 Sy/release 7.36.1
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
Labels: documentation, changelog/no-changelog

#12091 Add recommended monitors
  arangodb/assets/recommended_monitors/high_server_kernel_mode.json
  arangodb/assets/recommended_monitors/high_server_user_mode.json
Labels: changelog/no-changelog, integration/arangodb

#12001 Fix Typo in HAProxy Params, Add Deployment Example
  haproxy/README.md
Labels: editorial review

#11745 Add notes for Data plane vs Control Plane and relative setup steps for each
  istio/README.md
Labels: documentation, changelog/no-changelog, integration/istio

#12037 Updates version docs for some metrics
  elastic/metadata.csv
Labels: changelog/no-changelog, integration/elastic

#12114 Port kafka consumer release metadata for RC4
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/kafka_consumer, release

#12125 Updates FAQ to Guide Link in Kafka Integration
  kafka/README.md
Labels: documentation, changelog/no-changelog, integration/kafka

#12126 Updates FAQ to Guide Link in Kafka Consumer Integration
  kafka_consumer/README.md
Labels: documentation, changelog/no-changelog, integration/kafka_consumer

#12128 Fix dev package tests for executables with spaces
  datadog_checks_dev/tests/test_conditions.py
  datadog_checks_dev/tests/test_subprocess.py
Labels: changelog/no-changelog, integration/datadog_checks_dev

#12123 Ensure Unix line feeds for all tracked non-binary files
  .gitattributes
Labels: changelog/no-changelog

#12060 improve handling of encrypted stored procedures
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_statements.py
Labels: integration/sqlserver

#12122 Move v2 manifest field `classifier_tags` under `tile`
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/common/validator.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/migration.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#12130 [Release] Bumped datadog_checks_dev version to 16.3.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#12132 Update language in the readme
  kafka/README.md
Labels: documentation, changelog/no-changelog, integration/kafka

#12136 Include information about the manifest migration in the docs build
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  docs/developer/.scripts/33_render_status.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#12138 Fix manifest migration of macOS tag
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/migration.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#12141 Add overview for WebLogic integration
  weblogic/README.md
Labels: documentation, changelog/no-changelog, integration/weblogic

#12063 Refactor util method signatures
  teradata/datadog_checks/teradata/check.py
  teradata/datadog_checks/teradata/utils.py
Labels: changelog/Fixed, integration/teradata

#12115 Add more detailed testing instructions
  ibm_mq/tests/README.md
Labels: documentation, changelog/no-changelog, integration/ibm_mq

#12042 Add test for invalid varnishadm
  varnish/tests/test_varnish.py
Labels: changelog/no-changelog, integration/varnish

#12337 fix indent
  win32_event_log/README.md
Labels: documentation, changelog/no-changelog, integration/win32_event_log

#12117 Document OpenMetricsV2 as the default for vault integration
  vault/README.md
  vault/datadog_checks/vault/check.py
  vault/metadata.csv
  vault/tests/test_integration.py
  vault/tests/test_vault.py
Labels: do-not-merge/WIP, documentation, changelog/no-changelog, integration/vault

#12129 Validate emails when running `ddev validate package`
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/package.py
  datadog_checks_dev/tests/tooling/commands/validate/test_package.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#11967 Update mapping and tags in README.md
  airflow/README.md
  airflow/tests/k8s_sample/datadog_values.yaml
  airflow/tests/test_check_metrics_up_to_date.py
Labels: documentation, changelog/Fixed, integration/airflow

#12340 Move classifier_tags in test fixtures
  datadog_checks_dev/tests/tooling/manifest_validator/input_constants.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_dev

#12111 Add new scheduling metrics available in k8s v1.23+
  kube_scheduler/datadog_checks/kube_scheduler/kube_scheduler.py
  kube_scheduler/metadata.csv
  kube_scheduler/tests/fixtures/metrics_1.23.6.txt
  kube_scheduler/tests/test_kube_scheduler_1_23.py
Labels: changelog/Added, integration/kube_scheduler

#12339 Adjust description character limits in manifest
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/validator.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#12075 [us-prod]-update-databricks-doc
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks

#11998 Handle Datamismatch Error In Postgres 14
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: changelog/no-changelog, integration/postgres

#12346 Release mysql for RC6
  .in-toto/tag.47c5a022.link
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mysql, release

#12137 Improve OOTB dashboard
  envoy/assets/dashboards/envoy_overview.json
Labels: changelog/no-changelog, integration/envoy

#12347 Backport mysql 7.37.x release info
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mysql, release

#12348 Fix `Configuration & Deployment` tag for v2 manifest migration
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/migration.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#12343 Stop query activity collection due to misconfiguration
  mysql/datadog_checks/mysql/activity.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/util.py
Labels: integration/mysql, changelog/Fixed, category/bugfix

#12110 Add minimal e2e test to exchange_server
  exchange_server/tests/common.py
  exchange_server/tests/conftest.py
  exchange_server/tests/test_e2e.py
  exchange_server/tox.ini
  iis/tests/test_e2e.py
Labels: changelog/no-changelog, dev/testing, integration/exchange_server, integration/iis

#11907 Refactor varnish tests
  varnish/tests/fixtures/debug_health_output
  varnish/tests/mocks.py
  varnish/tests/test_unit.py
Labels: changelog/no-changelog, dev/testing, integration/varnish

#12351 Fix validation for readme images
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/readmes.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#12352 Collect the count version of certain rate metrics
  elastic/datadog_checks/elastic/metrics.py
  elastic/metadata.csv
  elastic/tests/test_metrics.py
Labels: integration/elastic, changelog/Added

#12359 Check for missing assets on validation (saved views and config)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/saved_views.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#11832 Fix the elasticsearch guide URL in the `cluster_health` service check
  elastic/assets/service_checks.json
Labels: changelog/no-changelog, integration/elastic

#12362 Properly support E2E testing for Hatch envs
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: changelog/Fixed, integration/datadog_checks_dev

#12217 Add openmetrics output fixtures and test for WAL metrics
  vault/tests/fixtures/merkle_wal_metrics.txt
  vault/tests/fixtures/route_transform_metrics.txt
  vault/tests/metrics.py
  vault/tests/test_vault.py
  vault/tests/utils.py
Labels: changelog/no-changelog, integration/vault

#12366 Fix reading of `token_path` option
  snowflake/datadog_checks/snowflake/check.py
  snowflake/tests/keys/token
  snowflake/tests/test_unit.py
Labels: changelog/Fixed, integration/snowflake

#12367 [Release] Bumped snowflake version to 4.3.2
  .in-toto/tag.bb47f8e8.link
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: changelog/no-changelog, release, integration/snowflake

#12371 Emulate an Agent shutdown after every test that uses the `dd_run_check` fixture by default
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: changelog/Added, integration/datadog_checks_dev

#12341 Add a dashboard for OpenMetricsV2 implementation of Vault integration
  vault/assets/dashboards/vault_overview.json
  vault/assets/dashboards/vault_overview_legacy.json
  vault/manifest.json
Labels: documentation, changelog/no-changelog, integration/vault

#12374 Add ext_authz metrics to envoy integration
  envoy/datadog_checks/envoy/metrics.py
Labels: integration/envoy, changelog/Added

#12369 Update location of classifier_tags in docs to match implementation
  docs/dev/check_references.md
Labels: documentation, changelog/no-changelog

#12363 Add dashboard for traffic server
  traffic_server/assets/dashboards/overview.json
  traffic_server/manifest.json
Labels: documentation, changelog/no-changelog, integration/traffic_server

#12377 [Release] Bumped openstack_controller version to 2.1.1
  .in-toto/tag.5e2e6791.link
  openstack_controller/CHANGELOG.md
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/openstack_controller, release

#12379 Add a `--debug` (`-d`) flag to `ddev env test`
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#12383 Delete inaccurate statement from Elastic integration readme
  elastic/README.md
Labels: documentation, changelog/no-changelog, integration/elastic

#12365 Fix missing import in PHP-FPM's check
  php_fpm/datadog_checks/php_fpm/vendor/fcgi_app.py
Labels: changelog/Fixed

#12380 Track blk_read_time and blk_write_time for Postgres databases if track_io_timing is enabled
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statements.py
  postgres/metadata.csv
  postgres/tests/compose/etc/postgresql/postgresql.conf
  postgres/tests/test_statements.py
Labels: integration/postgres, changelog/Added

#11850 Manually update `datadog_checks_base` changelog for `23.7.7`
  datadog_checks_base/CHANGELOG.md
Labels: changelog/no-changelog, integration/datadog_checks_base

#12368 Add new agent core teams to the QA board
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#12039 QA status ddev fix
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#12035 container-ecosystems team handle in QA
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#12375 Add support for organization level metrics
  snowflake/README.md
  snowflake/assets/configuration/spec.yaml
  snowflake/datadog_checks/snowflake/check.py
  snowflake/datadog_checks/snowflake/config.py
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  snowflake/datadog_checks/snowflake/queries.py
  snowflake/metadata.csv
  snowflake/tests/common.py
  snowflake/tests/snowflake_connector_patch/_snowflake_connector_patch/connector.py
  snowflake/tests/snowflake_connector_patch/_snowflake_connector_patch/tables.py
  snowflake/tests/test_e2e.py
  snowflake/tests/test_queries.py
  snowflake/tests/test_snowflake.py
  snowflake/tests/test_unit.py
Labels: documentation, changelog/Added, integration/snowflake

#12399 Fix Postgres calculation of blk_read_time and blk_write_time metrics
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_statements.py
Labels: integration/postgres, changelog/Fixed

#12393 Fix rows with empty SQL text in DBM Activity Query
  mysql/datadog_checks/mysql/activity.py
Labels: integration/mysql, changelog/Fixed

#12314 Update manifest to version 2.0.0
  teamcity/manifest.json
  teamcity/metadata.csv
Labels: documentation, changelog/no-changelog, integration/teamcity

#12410 Add Boundary integration
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  boundary/CHANGELOG.md
  boundary/README.md
  boundary/assets/configuration/spec.yaml
  boundary/assets/service_checks.json
  boundary/datadog_checks/__init__.py
  boundary/datadog_checks/boundary/__about__.py
  boundary/datadog_checks/boundary/__init__.py
  boundary/datadog_checks/boundary/check.py
  boundary/datadog_checks/boundary/config_models/__init__.py
  boundary/datadog_checks/boundary/config_models/defaults.py
  boundary/datadog_checks/boundary/config_models/instance.py
  boundary/datadog_checks/boundary/config_models/shared.py
  boundary/datadog_checks/boundary/config_models/validators.py
  boundary/datadog_checks/boundary/data/conf.yaml.example
  boundary/datadog_checks/boundary/metrics.py
  boundary/hatch.toml
  boundary/images/.gitkeep
  boundary/manifest.json
  boundary/metadata.csv
  boundary/pyproject.toml
  boundary/tests/__init__.py
  boundary/tests/common.py
  boundary/tests/conftest.py
  boundary/tests/docker/boundary.hcl
  boundary/tests/docker/docker-compose.yaml
  boundary/tests/test_e2e.py
  boundary/tests/test_integration.py
  boundary/tests/test_unit.py
Labels: documentation, dev/testing, changelog/Added, integration/boundary

#12406 Fix agent changelog command for manifest v2
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/changelog.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#12408 Make teradata and arangodb public
  arangodb/manifest.json
  teradata/manifest.json
Labels: documentation, changelog/no-changelog, integration/arangodb, integration/teradata

#12411 Fix tooling to support v2 manifests
  datadog_checks_dev/datadog_checks/dev/tooling/release.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#12412 [Release] new
  .in-toto/tag.c295cf63.link
  boundary/CHANGELOG.md
  boundary/datadog_checks/boundary/__about__.py
Labels: integration/boundary

#12413 [Release] all
  .in-toto/tag.c295cf63.link
  airflow/CHANGELOG.md
  airflow/datadog_checks/airflow/__about__.py
  arangodb/CHANGELOG.md
  arangodb/datadog_checks/arangodb/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  gitlab/CHANGELOG.md
  gitlab/datadog_checks/gitlab/__about__.py
  kafka/CHANGELOG.md
  kafka/datadog_checks/kafka/__about__.py
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  kube_scheduler/CHANGELOG.md
  kube_scheduler/datadog_checks/kube_scheduler/__about__.py
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  php_fpm/CHANGELOG.md
  php_fpm/datadog_checks/php_fpm/__about__.py
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
  teradata/CHANGELOG.md
  teradata/datadog_checks/teradata/__about__.py
  voltdb/CHANGELOG.md
  voltdb/datadog_checks/voltdb/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_base, integration/elastic, integration/envoy, integration/gitlab, integration/kafka, integration/kafka_consumer, integration/mongo, integration/mysql, integration/network, integration/php_fpm, integration/postgres, integration/sqlserver, integration/datadog_checks_dev, integration/kube_scheduler, integration/airflow, release, integration/snowflake, integration/voltdb, integration/arangodb, integration/teradata

#12189 Update manifest to version 2.0.0
  eks_anywhere/CHANGELOG.md
  eks_anywhere/manifest.json
Labels: documentation, changelog/no-changelog, integration/eks_anywhere

#12415 Sort integrations when rendering
  docs/developer/.scripts/33_render_status.py
Labels: documentation, changelog/no-changelog

#12315 Update manifest to version 2.0.0
  tenable/manifest.json
  tenable/metadata.csv
Labels: documentation, changelog/no-changelog, integration/tenable

#12421 [Release] Bumped snowflake version to 4.4.1
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: changelog/no-changelog, release, integration/snowflake

#12418 Use the correct team when using `ddev -a release trello testable`
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev, category/bugfix

#12275 Update manifest to version 2.0.0
  pivotal_pks/CHANGELOG.md
  pivotal_pks/manifest.json
Labels: documentation, changelog/no-changelog, integration/pivotal_pks

#12422 Revert "Update manifest to version 2.0.0"
  tenable/manifest.json
  tenable/metadata.csv
Labels: documentation, changelog/no-changelog, integration/tenable

#12209 Update manifest to version 2.0.0
  hazelcast/manifest.json
Labels: documentation, changelog/no-changelog, integration/hazelcast

#12324 Update manifest to version 2.0.0
  varnish/manifest.json
Labels: documentation, changelog/no-changelog, integration/varnish

#12436 [Release] Bumped gitlab version to 5.2.2
  .in-toto/tag.c295cf63.link
  gitlab/CHANGELOG.md
  gitlab/datadog_checks/gitlab/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/gitlab, release
