Repository DataDog/integrations-core, pull requests merged in 2022-01, with the labels that each got.

#10844 Collect additional TcpExt metrics
  network/datadog_checks/network/network.py
  network/metadata.csv
Labels: integration/network, changelog/Added

#10955 Add minimal e2e
  teamcity/tests/test_e2e.py
  teamcity/tox.ini
Labels: changelog/no-changelog, integration/teamcity

#10735 Document docker.cpu.limit metric
  docker_daemon/metadata.csv
Labels: documentation

#10978 Fix the documentation of the `metrics` setting
  openmetrics/README.md
Labels: documentation, changelog/no-changelog, integration/openmetrics

#10962 [docs] EKS Fargate Logging Documentation: Fix `auto_create_group` value in FluentBit ConfigMap
  eks_fargate/README.md
Labels: changelog/no-changelog

#10976 Add `server` default group for all monitor special cases
  apache/assets/service_checks.json
  elastic/assets/service_checks.json
  lighttpd/assets/service_checks.json
  mcache/assets/service_checks.json
  mongo/assets/service_checks.json
  mysql/assets/service_checks.json
  nginx/assets/service_checks.json
  pgbouncer/assets/service_checks.json
  sqlserver/assets/service_checks.json
  tokumx/assets/service_checks.json
  windows_service/assets/service_checks.json
  zk/assets/service_checks.json
Labels: integration/apache, integration/elastic, integration/lighttpd, integration/mcache, integration/mongo, integration/mysql, integration/nginx, integration/pgbouncer, integration/sqlserver, integration/tokumx, integration/windows_service, integration/zk, changelog/Changed

#10977 Fix lighttpd service check name for monitors
  lighttpd/assets/service_checks.json
Labels: integration/lighttpd, changelog/Fixed

#11003 Do not regenerate models on new year
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: dev/tooling, integration/datadog_checks_dev

#10946 Delete utils
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/openapi_document.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/spec.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/utils.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#10926 Bump base check dependency
  activemq/setup.py
  cassandra/setup.py
  confluent_platform/setup.py
  hazelcast/setup.py
  hive/setup.py
  hivemq/setup.py
  hudi/setup.py
  ignite/setup.py
  jboss_wildfly/setup.py
  kafka/setup.py
  presto/setup.py
  solr/setup.py
  sonarqube/setup.py
  tomcat/setup.py
  weblogic/setup.py
Labels: integration/activemq, integration/cassandra, integration/kafka, integration/solr, integration/tomcat, changelog/Fixed, integration/presto, integration/jboss_wildfly, integration/hive, integration/confluent_platform, integration/ignite, integration/hazelcast, integration/hivemq, integration/sonarqube, integration/hudi, integration/weblogic

#10937 DOCS-2530 Lint Integrations section (part 7)
  kube_dns/README.md
  kube_metrics_server/README.md
  kube_proxy/README.md
  kube_scheduler/README.md
  kubelet/README.md
  kubernetes/README.md
  kubernetes_state/README.md
Labels: documentation, changelog/no-changelog, integration/kube_dns, integration/kube_proxy, integration/kubelet, integration/kubernetes, integration/kubernetes_state, integration/kube_scheduler, integration/kube_metrics_server

#10974 Use a frozenset for plan obfuscation parameters
  sqlserver/datadog_checks/sqlserver/statements.py
Labels: changelog/no-changelog, integration/sqlserver

#10878 datadog_checks_base: Add obfuscate_sql_with_metadata wrapper and update stub
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: integration/datadog_checks_base, changelog/Added

#11013 Upgrade version of Spark used for tests
  hudi/tests/docker/docker-compose.yaml
  hudi/tox.ini
Labels: changelog/no-changelog, integration/hudi

#11007 is_public:false no longer build corresponding doc
  docs/dev/check_references.md
Labels: documentation, changelog/no-changelog

#11005 Add profile metadata for Juniper
  snmp/datadog_checks/snmp/data/profiles/_juniper-junos-generic.yaml
  snmp/datadog_checks/snmp/data/profiles/juniper-ex.yaml
  snmp/datadog_checks/snmp/data/profiles/juniper-mx.yaml
  snmp/datadog_checks/snmp/data/profiles/juniper-srx.yaml
  snmp/tests/compose/data/juniper-ex.snmprec
  snmp/tests/compose/data/juniper-mx.snmprec
  snmp/tests/compose/data/juniper-srx.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: integration/snmp, changelog/Added

#11016 datadog_checks_base: Fix obfuscate_sql wrapper None value
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Labels: integration/datadog_checks_base, changelog/Fixed

#10969 Remove `os_hostname` from f5 profile since redundant with device name
  snmp/datadog_checks/snmp/data/profiles/f5-big-ip.yaml
  snmp/tests/test_e2e_core_metadata.py
Labels: changelog/no-changelog, integration/snmp

#10981 Fix netapp profile metrics
  snmp/datadog_checks/snmp/data/profiles/netapp.yaml
  snmp/tests/compose/data/netapp.snmprec
Labels: integration/snmp, changelog/Fixed

#11019 Add .0 to juniper metadata OIDs
  snmp/datadog_checks/snmp/data/profiles/_juniper-junos-generic.yaml
  snmp/tests/compose/data/juniper-ex.snmprec
  snmp/tests/compose/data/juniper-mx.snmprec
  snmp/tests/compose/data/juniper-srx.snmprec
Labels: integration/snmp, changelog/Fixed

#10603 database integrations ownership transfer 2
  .github/CODEOWNERS
Labels: changelog/no-changelog

#10944 Add profile metadata for arista
  snmp/datadog_checks/snmp/data/profiles/arista.yaml
  snmp/tests/compose/data/arista.snmprec
  snmp/tests/test_e2e_core_metadata.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_profiles.py
Labels: integration/snmp, changelog/Added

#11010 Sync config models
  snowflake/datadog_checks/snowflake/config_models/__init__.py
  snowflake/datadog_checks/snowflake/config_models/defaults.py
  snowflake/datadog_checks/snowflake/config_models/instance.py
  snowflake/datadog_checks/snowflake/config_models/shared.py
Labels: changelog/no-changelog, integration/snowflake

#11000 Update device_down.json device link
  snmp/assets/monitors/device_down.json
Labels: changelog/no-changelog, integration/snmp

#11014 Don't add autogenerated comments to deprecation files
  datadog_checks_base/tests/models/config_models/deprecations.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_consumer.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  mongo/datadog_checks/mongo/config_models/deprecations.py
Labels: dev/tooling, integration/datadog_checks_base, integration/mongo, changelog/Fixed, integration/datadog_checks_dev

#11001 Disable check runners when running SNMP Listener e2e tests
  snmp/tests/conftest.py
Labels: changelog/no-changelog, integration/snmp

#11012 DOCS-2530 Lint Integrations section (part 9)
  mongo/README.md
  mysql/README.md
  nagios/README.md
  network/README.md
  nfsstat/README.md
  nginx/README.md
  nginx_ingress_controller/README.md
  ntp/README.md
  nvidia_jetson/README.md
  openldap/README.md
  openmetrics/README.md
Labels: documentation, changelog/no-changelog, integration/mongo, integration/mysql, integration/nagios, integration/network, integration/nfsstat, integration/nginx, integration/ntp, integration/openldap, integration/openmetrics, integration/nginx_ingress_controller, integration/nvidia_jetson

#10964 DOCS-2530 Lint Integrations section (part 8)
  lighttpd/README.md
  linkerd/README.md
  mapr/README.md
  mapreduce/README.md
  marathon/README.md
  marklogic/README.md
  mcache/README.md
  mesos_master/README.md
  mesos_slave/README.md
Labels: documentation, changelog/no-changelog, integration/marathon, integration/lighttpd, integration/linkerd, integration/mapreduce, integration/mcache, integration/mesos_master, integration/mesos_slave, integration/mapr, integration/marklogic

#11021 [Release] Bumped datadog_checks_base version to 23.7.0
  .in-toto/tag.47c5a022.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#11025 Don't add new line to license header
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10956 Add profile metadata for palo alto
  snmp/datadog_checks/snmp/data/profiles/palo-alto.yaml
  snmp/tests/compose/data/palo-alto.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: integration/snmp, changelog/Added

#10967 Add metrics to apc_ups profile
  snmp/datadog_checks/snmp/data/profiles/apc_ups.yaml
  snmp/tests/compose/data/apc_ups.snmprec
  snmp/tests/metrics.py
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_e2e_snmp_listener.py
  snmp/tests/test_profiles.py
Labels: integration/snmp, changelog/Added

#10970 Add more v3 users
  snmp/tests/compose/data/args_list.txt
  snmp/tests/test_e2e_core_vs_python.py
Labels: changelog/no-changelog, integration/snmp

#10968 Add profile metadata for netapp
  snmp/datadog_checks/snmp/data/profiles/netapp.yaml
  snmp/tests/compose/data/netapp.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: integration/snmp, changelog/Added

#11031 Migrate mesos master service check
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/service_checks.py
  mesos_master/assets/service_checks.json
Labels: changelog/no-changelog, dev/tooling, integration/mesos_master, integration/datadog_checks_dev

#11006 Move metadata to mesos_master
  mesos_master/metadata.csv
Labels: changelog/no-changelog, integration/mesos_master

#11002 Add profile metadata for fortinet-fortigate
  snmp/datadog_checks/snmp/data/profiles/fortinet-fortigate.yaml
  snmp/tests/compose/data/fortinet-fortigate.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: integration/snmp

#11027 DOCS-2530 Lint Integrations section (part 10)
  openshift/README.md
  openstack/README.md
  oracle/README.md
  otel/README.md
  pan_firewall/README.md
  pgbouncer/README.md
  php_fpm/README.md
  postfix/README.md
  postgres/README.md
  powerdns_recursor/README.md
Labels: documentation, changelog/no-changelog, integration/openstack, integration/oracle, integration/pgbouncer, integration/php_fpm, integration/postfix, integration/postgres, integration/powerdns_recursor, integration/openshift, integration/otel, integration/pan_firewall

#11028 Add support for manifest V2 to "ddev create"
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/manifest.py
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/v2/migration.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#11015 Don't submit query name tag if query is a uuid
  spark/datadog_checks/spark/spark.py
  spark/tests/fixtures/metrics_json
  spark/tests/test_spark.py
Labels: integration/spark, changelog/Fixed

#11011 fix(kubernetes): OOTB dashboard metrics filtering improvement
  kubernetes/assets/dashboards/kubernetes_dashboard.json
Labels: changelog/no-changelog, integration/kubernetes

#11037 [docs] Fix ECS Fargate Windows working directory format
  ecs_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/ecs_fargate

#11009 Update deprecated can_connect service check name
  mesos_slave/assets/service_checks.json
Labels: changelog/no-changelog, integration/mesos_slave

#11032 Do not drop the first kubelet eviction event
  kubelet/datadog_checks/kubelet/kubelet.py
Labels: integration/kubelet, changelog/Fixed

#11004 Add metadata to Dell iDRAC profile
  snmp/datadog_checks/snmp/data/profiles/dell-poweredge.yaml
  snmp/datadog_checks/snmp/data/profiles/idrac.yaml
  snmp/tests/compose/data/idrac.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: integration/snmp, changelog/Added

#11040 Rename release deprecation field to agent version
  datadog_checks_base/tests/models/data/spec.yaml
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_deprecations.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
  docs/developer/meta/config-specs.md
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/config_models/deprecations.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/datadog_checks_base, integration/mongo, integration/datadog_checks_dev

#11038 datadog_checks_base: Fix obfuscate_sql_with_metadata wrapper not handling json.loads() edge case
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#11022 Add profile metadata for Isilon
  snmp/datadog_checks/snmp/data/profiles/isilon.yaml
  snmp/tests/compose/data/isilon.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: integration/snmp, changelog/Added

#10922 Set coverage report to only core checks
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: dev/testing, dev/tooling, changelog/Added, integration/datadog_checks_dev

#10642 Add note about proxy settings
  ntp/README.md
Labels: documentation, changelog/no-changelog, integration/ntp

#10879 postgres: Add statement metadata to events and metrics payload
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/setup.py
  postgres/tests/test_statements.py
Labels: documentation, integration/postgres, changelog/Added

#10880 mysql: Add statement metadata to events and metrics payload
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/__init__.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/config_models/shared.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
  mysql/setup.py
  mysql/tests/test_statements.py
Labels: documentation, integration/mysql, changelog/Added

#11047 sqlserver: Indicate DBMS type in obfuscator
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: changelog/no-changelog, integration/sqlserver

#11048 postgres: Indicate DBMS type in obfuscator
  postgres/datadog_checks/postgres/config.py
Labels: changelog/no-changelog, integration/postgres

#11049 mysql: Indicate DBMS type in obfuscator
  mysql/datadog_checks/mysql/config.py
Labels: changelog/no-changelog, integration/mysql

#11050 Release datadog_checks_dev
  .in-toto/tag.eabca4ac.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#11044 Add discovery options to ddev check command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/local.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#11055 Add discovery_min_instances to SNMP Listener test
  snmp/tests/test_e2e_snmp_listener.py
Labels: changelog/no-changelog, dev/tooling, integration/snmp, integration/datadog_checks_dev

#11052 update kube proxy metrics
  kube_proxy/datadog_checks/kube_proxy/kube_proxy.py
  kube_proxy/tests/fixtures/metrics_iptables_1.21.1.txt
  kube_proxy/tests/fixtures/metrics_userspace_1.21.1.txt
  kube_proxy/tests/test_kube_proxy.py
  kube_proxy/tests/test_kube_proxy_1_21_1.py
Labels: integration/kube_proxy, changelog/Changed

#10864 Format `docs/developer/architecture/snmp.md`
  docs/developer/architecture/snmp.md
Labels: changelog/no-changelog

#11023 [Documentation] Add FreeTDS to readme
  sqlserver/README.md
Labels: documentation, changelog/no-changelog, integration/sqlserver

#10973 Corrects Prometheus typo in OpenMetrics docs
  openmetrics/README.md
Labels: documentation, changelog/no-changelog, integration/openmetrics

#10971 CHANGELOG entry: Added a note on IIS Logs Permissions
  iis/README.md
Labels: documentation, changelog/no-changelog, integration/iis

#10894 Add support for custom queries
  elastic/README.md
  elastic/assets/configuration/spec.yaml
  elastic/datadog_checks/elastic/config.py
  elastic/datadog_checks/elastic/config_models/defaults.py
  elastic/datadog_checks/elastic/config_models/instance.py
  elastic/datadog_checks/elastic/config_models/validators.py
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/conftest.py
  elastic/tests/test_bench.py
  elastic/tests/test_config.py
  elastic/tests/test_elastic.py
Labels: documentation, integration/elastic, changelog/Added

#10924 Add `sysMultiHostCpuUsageRatio` to BIG-IP profile
  snmp/datadog_checks/snmp/data/profiles/f5-big-ip.yaml
  snmp/metadata.csv
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_profiles.py
Labels: integration/snmp, changelog/Added

#10551 Add saturation metrics for network
  network/datadog_checks/network/network.py
  network/metadata.csv
  network/tests/common.py
Labels: integration/network, changelog/Added

#10963 Setting up codescanning for integrations-core
  .github/codeql_config.yml
  .github/workflows/codeql-analysis.yml
Labels: changelog/no-changelog, dev/tooling

#11042 Fix tracing_method using self argument
  datadog_checks_base/datadog_checks/base/utils/tracing.py
Labels: integration/datadog_checks_base, changelog/Fixed

#10918 Improve nginx docs for K8s
  nginx/README.md
Labels: documentation, changelog/no-changelog, integration/nginx

#11057 Fix tests by excluding `agent_version` tag
  snmp/tests/common.py
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_metadata.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_e2e_snmp_listener.py
Labels: changelog/no-changelog, dev/testing, integration/snmp

#11024 Add support for OpenMetricsBaseCheckV2
  coredns/README.md
  coredns/assets/configuration/spec.yaml
  coredns/datadog_checks/coredns/check.py
  coredns/datadog_checks/coredns/config_models/defaults.py
  coredns/datadog_checks/coredns/config_models/instance.py
  coredns/datadog_checks/coredns/coredns.py
  coredns/datadog_checks/coredns/data/auto_conf.yaml
  coredns/datadog_checks/coredns/data/conf.yaml.example
  coredns/datadog_checks/coredns/metrics.py
  coredns/metadata.csv
  coredns/tests/common.py
  coredns/tests/conftest.py
  coredns/tests/fixtures/metrics_12.txt
  coredns/tests/fixtures/metrics_18.txt
  coredns/tests/test_check.py
  coredns/tests/test_e2e.py
  coredns/tox.ini
Labels: documentation, changelog/Added, integration/coredns

#11061 Bump base package
  nginx/setup.py
Labels: integration/nginx, changelog/Fixed

#11062 Fix SNMP illegal tab character
  snmp/datadog_checks/snmp/data/profiles/idrac.yaml
Labels: integration/snmp, changelog/Fixed

#11063 Fix more SNMP illegal tabs
  snmp/datadog_checks/snmp/data/profiles/idrac.yaml
Labels: integration/snmp, changelog/Fixed

#10901 Add improved database file IO metrics and tags
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
Labels: documentation, integration/sqlserver, changelog/Added

#11064 Bump base dependency
  elastic/setup.py
Labels: integration/elastic, changelog/Added

#11026 Allow the use of the new OpenMetrics implementation
  cockroachdb/README.md
  cockroachdb/assets/configuration/spec.yaml
  cockroachdb/datadog_checks/cockroachdb/check.py
  cockroachdb/datadog_checks/cockroachdb/cockroachdb.py
  cockroachdb/datadog_checks/cockroachdb/config_models/defaults.py
  cockroachdb/datadog_checks/cockroachdb/config_models/instance.py
  cockroachdb/datadog_checks/cockroachdb/config_models/validators.py
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/metrics.py
  cockroachdb/metadata.csv
  cockroachdb/tests/common.py
  cockroachdb/tests/conftest.py
  cockroachdb/tests/test_bench.py
  cockroachdb/tests/test_check.py
  cockroachdb/tests/test_cockroachdb.py
  cockroachdb/tests/test_e2e.py
Labels: documentation, changelog/Added, integration/cockroachdb

#11065 Fix urllib3 import statement
  http_check/datadog_checks/http_check/adapters.py
Labels: integration/http_check, changelog/Fixed

#11066 [Release] Bumped datadog_checks_base version to 23.7.1
  .in-toto/tag.eabca4ac.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#11067 Bump base package
  sqlserver/setup.py
Labels: integration/sqlserver, changelog/Fixed

#11069 Add urllib3 as dependency
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  http_check/datadog_checks/http_check/adapters.py
  http_check/requirements.in
Labels: integration/http_check, integration/datadog_checks_base, changelog/Fixed, dependencies, category/bugfix

#11070 Bump base package
  cockroachdb/setup.py
Labels: changelog/Fixed, integration/cockroachdb

#11071 Backport (#11069) to rc14
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  http_check/datadog_checks/http_check/adapters.py
  http_check/requirements.in
Labels: integration/http_check, integration/datadog_checks_base, changelog/Fixed, dependencies, category/bugfix

#11072 Release changed integrations for 7.33.0-rc.14
  .in-toto/tag.bb47f8e8.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/http_check, integration/datadog_checks_base, release, category/release_operations

#11075 Update requirements-agent-releases.txt file
  requirements-agent-release.txt
Labels: changelog/no-changelog, release

#11073 [Release] Bumped weblogic version to 1.0.0
  .in-toto/tag.eabca4ac.link
  requirements-agent-release.txt
  weblogic/CHANGELOG.md
  weblogic/datadog_checks/weblogic/__about__.py
Labels: changelog/no-changelog, release, integration/weblogic

#11077 Export release_branch as an env variable
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#11087 Create test_iis.py
  iis/tests/test_iis.py
Labels: changelog/no-changelog, integration/iis

#11091 Update NGINX overview dashboard
  nginx/assets/dashboards/NGINX-Overview_dashboard.json
Labels: changelog/no-changelog, integration/nginx, changelog/Fixed

#11089 Add new overview dashboard
  haproxy/assets/dashboards/overview.json
Labels: documentation, changelog/no-changelog, integration/haproxy, changelog/Added

#11095 Remove duplicated entries
  confluent_platform/datadog_checks/confluent_platform/data/metrics.yaml
Labels: changelog/Fixed, integration/confluent_platform

#11090 Update overview dashboard
  envoy/assets/dashboards/envoy_overview.json
Labels: documentation, changelog/no-changelog, integration/envoy, changelog/Added

#11094 datadog_checks_base: Fix obfuscate_sql_with_metadata query being None
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: integration/datadog_checks_base, changelog/Fixed, category/bugfix

#11084 Fix Vault dashboard
  vault/assets/dashboards/vault_overview.json
Labels: changelog/no-changelog, integration/vault

#11106 Validate custom query column type
  elastic/datadog_checks/elastic/config_models/validators.py
Labels: integration/elastic, changelog/Fixed

#11109 Fix example config
  coredns/assets/configuration/spec.yaml
  coredns/datadog_checks/coredns/config_models/validators.py
  coredns/datadog_checks/coredns/data/auto_conf.yaml
  coredns/datadog_checks/coredns/data/conf.yaml.example
Labels: documentation, changelog/Fixed, integration/coredns

#11117 mysql: Update base version
  mysql/setup.py
Labels: integration/mysql, changelog/Fixed, category/bugfix

#11121 Ensure RELEASE_BRANCH env variable is defined
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#11116 postgres: Update base version
  postgres/setup.py
Labels: integration/postgres, changelog/Fixed, category/bugfix

#11119 export RELEASE_BRANCH as env var (#11077)
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling, category/release_operations

#11114 Release http_check
  .in-toto/tag.bb47f8e8.link
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/http_check, release, category/release_operations

#11115 sqlserver: Update check base version
  sqlserver/setup.py
Labels: integration/sqlserver, changelog/Fixed, category/bugfix

#11126 Document couchbase.index_stats.can_connect
  couchbase/assets/service_checks.json
Labels: changelog/no-changelog, integration/couchbase, category/bugfix

#11058 Fix import error
  sqlserver/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/sqlserver, category/release_operations

#11133 Enable openmetrics_endpoint in auto_conf.yaml
  coredns/assets/configuration/spec.yaml
  coredns/datadog_checks/coredns/data/auto_conf.yaml
Labels: documentation, changelog/Fixed, integration/coredns, category/bugfix

#11147 Change submission type of some metrics to `monotonic_count`
  weblogic/datadog_checks/weblogic/data/metrics.yaml
  weblogic/metadata.csv
Labels: changelog/Fixed, integration/weblogic, category/bugfix

#11081 Add detailed CPU usage and status metrics
  ibm_i/datadog_checks/ibm_i/queries.py
  ibm_i/metadata.csv
Labels: changelog/Added, integration/ibm_i

#11144 openmetrics: Fix the type of `bearer_token_auth`
  azure_iot_edge/datadog_checks/azure_iot_edge/config_models/defaults.py
  azure_iot_edge/datadog_checks/azure_iot_edge/config_models/instance.py
  azure_iot_edge/datadog_checks/azure_iot_edge/data/conf.yaml.example
  cilium/datadog_checks/cilium/config_models/defaults.py
  cilium/datadog_checks/cilium/config_models/instance.py
  cockroachdb/datadog_checks/cockroachdb/config_models/defaults.py
  cockroachdb/datadog_checks/cockroachdb/config_models/instance.py
  coredns/datadog_checks/coredns/config_models/defaults.py
  coredns/datadog_checks/coredns/config_models/instance.py
  crio/datadog_checks/crio/config_models/defaults.py
  crio/datadog_checks/crio/config_models/instance.py
  crio/datadog_checks/crio/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics_legacy_base.yaml
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/config_models/defaults.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/config_models/instance.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/data/auto_conf.yaml
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/data/conf.yaml.example
  etcd/datadog_checks/etcd/config_models/defaults.py
  etcd/datadog_checks/etcd/config_models/instance.py
  etcd/datadog_checks/etcd/data/conf.yaml.example
  external_dns/datadog_checks/external_dns/config_models/defaults.py
  external_dns/datadog_checks/external_dns/config_models/instance.py
  external_dns/datadog_checks/external_dns/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/config_models/defaults.py
  gitlab/datadog_checks/gitlab/config_models/instance.py
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab_runner/datadog_checks/gitlab_runner/config_models/defaults.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/instance.py
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/config_models/defaults.py
  haproxy/datadog_checks/haproxy/config_models/instance.py
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  istio/datadog_checks/istio/config_models/defaults.py
  istio/datadog_checks/istio/config_models/instance.py
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/config_models/instance.py
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/data/conf.yaml.example
  kube_controller_manager/datadog_checks/kube_controller_manager/data/conf.yaml.example
  kube_dns/datadog_checks/kube_dns/data/conf.yaml.example
  kube_metrics_server/datadog_checks/kube_metrics_server/data/conf.yaml.example
  kube_proxy/datadog_checks/kube_proxy/data/conf.yaml.example
  kube_scheduler/datadog_checks/kube_scheduler/config_models/defaults.py
  kube_scheduler/datadog_checks/kube_scheduler/config_models/instance.py
  kube_scheduler/datadog_checks/kube_scheduler/data/conf.yaml.example
  linkerd/datadog_checks/linkerd/config_models/defaults.py
  linkerd/datadog_checks/linkerd/config_models/instance.py
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/config_models/defaults.py
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/config_models/instance.py
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/config_models/defaults.py
  openmetrics/datadog_checks/openmetrics/config_models/instance.py
  scylla/datadog_checks/scylla/config_models/defaults.py
  scylla/datadog_checks/scylla/config_models/instance.py
  scylla/datadog_checks/scylla/data/conf.yaml.example
Labels: dev/tooling, integration/etcd, integration/gitlab, integration/gitlab_runner, integration/haproxy, integration/istio, integration/kube_dns, integration/kube_proxy, integration/linkerd, changelog/Fixed, integration/datadog_checks_dev, integration/cockroachdb, integration/coredns, integration/openmetrics, integration/crio, integration/nginx_ingress_controller, integration/kube_controller_manager, integration/kube_scheduler, integration/kube_metrics_server, integration/kube_apiserver_metrics, integration/external_dns, integration/cilium, integration/scylla, integration/azure_iot_edge, integration/datadog_cluster_agent, category/bugfix, bugfix/regression

#11140 Comment on changelog/changed label
  .github/workflows/changelog-label-check.yml
Labels: changelog/no-changelog, dev/tooling

#11102 DOCS-3000 Update vSphere integration
  vsphere/README.md
  vsphere/manifest.json
Labels: documentation, changelog/no-changelog, integration/vsphere

#11060 DOCS-2530 Lint Integrations section (part 12)
  sidekiq/README.md
  singlestore/README.md
  snowflake/README.md
  solr/README.md
  sonarqube/README.md
  spark/README.md
  sqlserver/README.md
  squid/README.md
  ssh_check/README.md
  statsd/README.md
  supervisord/README.md
  system_core/README.md
  tcp_check/README.md
  tcp_queue_length/README.md
Labels: documentation, changelog/no-changelog, integration/solr, integration/spark, integration/sqlserver, integration/squid, integration/ssh_check, integration/statsd, integration/supervisord, integration/system_core, integration/tcp_check, integration/sidekiq, integration/tcp_queue_length, integration/snowflake, integration/sonarqube, integration/singlestore

#11100 DOCS-2530 Lint Integrations section (part 14)
  weblogic/README.md
  win32_event_log/README.md
  wmi_check/README.md
  yarn/README.md
  zk/README.md
Labels: documentation, changelog/no-changelog, integration/wmi_check, integration/yarn, integration/zk, integration/win32_event_log, integration/weblogic

#11153 openmetrics/base: provide a better user feedback in case of connectivity issue
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
Labels: integration/datadog_checks_base, changelog/Changed, category/improvement

#11146 Enable prometheus_url option in auto_conf.yaml
  coredns/README.md
  coredns/assets/configuration/spec.yaml
  coredns/datadog_checks/coredns/config_models/defaults.py
  coredns/datadog_checks/coredns/data/auto_conf.yaml
  coredns/datadog_checks/coredns/data/conf.yaml.example
Labels: documentation, changelog/Fixed, integration/coredns, category/bugfix

#11113 Use `datadog/docker-library` Windows SQL Server images
  sqlserver/tox.ini
Labels: changelog/no-changelog, integration/sqlserver

#11092 DOCS-2530 Lint Integrations section (part 13)
  teamcity/README.md
  tenable/README.md
  terraform/README.md
  tokumx/README.md
  tomcat/README.md
  twemproxy/README.md
  twistlock/README.md
  varnish/README.md
  vault/README.md
  vertica/README.md
  voltdb/README.md
Labels: documentation, changelog/no-changelog, integration/teamcity, integration/tokumx, integration/tomcat, integration/twemproxy, integration/varnish, integration/vault, integration/twistlock, integration/vertica, integration/tenable, integration/voltdb, integration/terraform

#11112 Fix metadata.csv
  iis/metadata.csv
Labels: changelog/no-changelog, integration/iis

#11122 Remove unused variable
  nginx/datadog_checks/nginx/nginx.py
Labels: changelog/no-changelog, integration/nginx

#10686 [documentation] removing tabs
  singlestore/README.md
Labels: documentation, changelog/no-changelog, integration/singlestore

#11165 Release integrations for 7.34-rc3
  .in-toto/tag.eabca4ac.link
  azure_iot_edge/CHANGELOG.md
  azure_iot_edge/datadog_checks/azure_iot_edge/__about__.py
  cilium/CHANGELOG.md
  cilium/datadog_checks/cilium/__about__.py
  cockroachdb/CHANGELOG.md
  cockroachdb/datadog_checks/cockroachdb/__about__.py
  coredns/CHANGELOG.md
  coredns/datadog_checks/coredns/__about__.py
  crio/CHANGELOG.md
  crio/datadog_checks/crio/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_cluster_agent/CHANGELOG.md
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/__about__.py
  etcd/CHANGELOG.md
  etcd/datadog_checks/etcd/__about__.py
  external_dns/CHANGELOG.md
  external_dns/datadog_checks/external_dns/__about__.py
  gitlab/CHANGELOG.md
  gitlab/datadog_checks/gitlab/__about__.py
  gitlab_runner/CHANGELOG.md
  gitlab_runner/datadog_checks/gitlab_runner/__about__.py
  haproxy/CHANGELOG.md
  haproxy/datadog_checks/haproxy/__about__.py
  istio/CHANGELOG.md
  istio/datadog_checks/istio/__about__.py
  kube_apiserver_metrics/CHANGELOG.md
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/__about__.py
  kube_controller_manager/CHANGELOG.md
  kube_controller_manager/datadog_checks/kube_controller_manager/__about__.py
  kube_dns/CHANGELOG.md
  kube_dns/datadog_checks/kube_dns/__about__.py
  kube_metrics_server/CHANGELOG.md
  kube_metrics_server/datadog_checks/kube_metrics_server/__about__.py
  kube_proxy/CHANGELOG.md
  kube_proxy/datadog_checks/kube_proxy/__about__.py
  kube_scheduler/CHANGELOG.md
  kube_scheduler/datadog_checks/kube_scheduler/__about__.py
  linkerd/CHANGELOG.md
  linkerd/datadog_checks/linkerd/__about__.py
  nginx_ingress_controller/CHANGELOG.md
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/__about__.py
  openmetrics/CHANGELOG.md
  openmetrics/datadog_checks/openmetrics/__about__.py
  requirements-agent-release.txt
  scylla/CHANGELOG.md
  scylla/datadog_checks/scylla/__about__.py
  weblogic/CHANGELOG.md
  weblogic/datadog_checks/weblogic/__about__.py
Labels: changelog/no-changelog, release, category/release_operations

#11103 Add additional JDBC config test case
  oracle/tests/test_config.py
Labels: changelog/no-changelog, integration/oracle

#11143 Fix E2E to enable JMXRemote on WebLogic Admin Server service
  weblogic/tests/compose/weblogic/Dockerfile
  weblogic/tests/compose/weblogic/setup_scripts/create-wls-domain.py
  weblogic/tests/compose/weblogic/setup_scripts/startAdminServer.sh
Labels: changelog/no-changelog, integration/weblogic

#11137 Add E2E startup instructions
  weblogic/tests/README.md
Labels: documentation, changelog/no-changelog, integration/weblogic

#7284 [Kafka] Adding OOTB monitor
  kafka/assets/monitors/broker_produce_latency.json
  kafka/manifest.json
Labels: documentation, changelog/no-changelog, integration/kafka

#11128 Add note about old configuration
  envoy/README.md
Labels: documentation, changelog/no-changelog, integration/envoy

#11086 Reformat constants
  spark/datadog_checks/spark/constants.py
  spark/datadog_checks/spark/spark.py
Labels: changelog/no-changelog, integration/spark

#11104 Use dd_run_check for tests
  spark/tests/test_spark.py
Labels: changelog/no-changelog, integration/spark

#11098 Remove duplicate entries from changelog
  datadog_checks_base/CHANGELOG.md
Labels: changelog/no-changelog, integration/datadog_checks_base

#11150 Add eks_anywhere log validation exception
  .gitlab/validate-logs-intgs/validate_log_intgs.py
Labels: changelog/no-changelog, dev/tooling

#11174 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, changelog/no-changelog

#11167 Improve documentation for metric groups
  snowflake/README.md
  snowflake/assets/configuration/spec.yaml
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/snowflake

#10862 Create an Integration Dashboard doc
  docs/dev/create-an-integration-dashboard.md
Labels: documentation, changelog/no-changelog

#11179 kube_scheduler: do not validate ssl certificate by default with auto-conf
  kube_scheduler/assets/configuration/spec.yaml
  kube_scheduler/datadog_checks/kube_scheduler/data/auto_conf.yaml
Labels: documentation, changelog/Fixed, integration/kube_scheduler

#11142 Add manual changelog entry for 7.30.1
  AGENT_CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/changelog.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#10943 Point people to the OTLP Datadog Agent feature
  otel/README.md
Labels: documentation, changelog/no-changelog, integration/otel

#11181 Speed up snowflake testing
  snowflake/tests/common.py
  snowflake/tests/test_unit.py
Labels: changelog/no-changelog, integration/snowflake

#11175 Fix test to add events_statements_cpu consumer for the correct MySQL versions
  mysql/tests/test_statements.py
Labels: changelog/no-changelog, integration/mysql

#11182 Remove new kube proxy metric with high cardinality
  kube_proxy/datadog_checks/kube_proxy/kube_proxy.py
  kube_proxy/tests/test_kube_proxy_1_21_1.py
Labels: integration/kube_proxy, changelog/Fixed, category/improvement

#11155 Add prepared_stmt_count metrics to mysql integration
  mysql/datadog_checks/mysql/const.py
  mysql/metadata.csv
  mysql/tests/variables.py
Labels: integration/mysql, changelog/Added

#11160 Add token_path config option
  snowflake/assets/configuration/spec.yaml
  snowflake/datadog_checks/snowflake/check.py
  snowflake/datadog_checks/snowflake/config.py
  snowflake/datadog_checks/snowflake/config_models/defaults.py
  snowflake/datadog_checks/snowflake/config_models/instance.py
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  snowflake/tests/test_snowflake.py
  snowflake/tests/test_unit.py
Labels: documentation, changelog/Added, integration/snowflake

#11185 Fix configuration error for custom queries
  snowflake/datadog_checks/snowflake/check.py
  snowflake/datadog_checks/snowflake/config.py
  snowflake/tests/test_unit.py
Labels: changelog/Fixed, integration/snowflake

#11124 Fix CODEOWNERS Rules not attributing correct ownership of base dbm files
  .github/CODEOWNERS
Labels: changelog/no-changelog, integration/datadog_checks_base

#11187 Fix license header dates in autogenerated files
  azure_iot_edge/datadog_checks/azure_iot_edge/config_models/defaults.py
  azure_iot_edge/datadog_checks/azure_iot_edge/config_models/instance.py
  cilium/datadog_checks/cilium/config_models/defaults.py
  cilium/datadog_checks/cilium/config_models/instance.py
  cockroachdb/datadog_checks/cockroachdb/config_models/defaults.py
  cockroachdb/datadog_checks/cockroachdb/config_models/instance.py
  coredns/datadog_checks/coredns/config_models/defaults.py
  coredns/datadog_checks/coredns/config_models/instance.py
  crio/datadog_checks/crio/config_models/defaults.py
  crio/datadog_checks/crio/config_models/instance.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/config_models/defaults.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/config_models/instance.py
  etcd/datadog_checks/etcd/config_models/defaults.py
  etcd/datadog_checks/etcd/config_models/instance.py
  external_dns/datadog_checks/external_dns/config_models/defaults.py
  external_dns/datadog_checks/external_dns/config_models/instance.py
  gitlab/datadog_checks/gitlab/config_models/defaults.py
  gitlab/datadog_checks/gitlab/config_models/instance.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/defaults.py
  gitlab_runner/datadog_checks/gitlab_runner/config_models/instance.py
  haproxy/datadog_checks/haproxy/config_models/defaults.py
  haproxy/datadog_checks/haproxy/config_models/instance.py
  istio/datadog_checks/istio/config_models/defaults.py
  istio/datadog_checks/istio/config_models/instance.py
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/config_models/instance.py
  kube_scheduler/datadog_checks/kube_scheduler/config_models/defaults.py
  kube_scheduler/datadog_checks/kube_scheduler/config_models/instance.py
  linkerd/datadog_checks/linkerd/config_models/defaults.py
  linkerd/datadog_checks/linkerd/config_models/instance.py
  mysql/datadog_checks/mysql/config_models/__init__.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/config_models/shared.py
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/config_models/defaults.py
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/config_models/instance.py
  openmetrics/datadog_checks/openmetrics/config_models/defaults.py
  openmetrics/datadog_checks/openmetrics/config_models/instance.py
  postgres/datadog_checks/postgres/config_models/instance.py
  scylla/datadog_checks/scylla/config_models/defaults.py
  scylla/datadog_checks/scylla/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
Labels: integration/etcd, integration/gitlab, integration/gitlab_runner, integration/haproxy, integration/istio, integration/linkerd, integration/mysql, integration/postgres, integration/sqlserver, changelog/Fixed, integration/cockroachdb, integration/coredns, integration/openmetrics, integration/crio, integration/nginx_ingress_controller, integration/kube_scheduler, integration/kube_apiserver_metrics, integration/external_dns, integration/cilium, integration/scylla, integration/azure_iot_edge, integration/datadog_cluster_agent, category/bugfix

#11188 Don't overwrite year in license header when generating files
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#11190 Release changed integrations for rc4
  .in-toto/tag.eabca4ac.link
  azure_iot_edge/CHANGELOG.md
  azure_iot_edge/datadog_checks/azure_iot_edge/__about__.py
  cilium/CHANGELOG.md
  cilium/datadog_checks/cilium/__about__.py
  cockroachdb/CHANGELOG.md
  cockroachdb/datadog_checks/cockroachdb/__about__.py
  coredns/CHANGELOG.md
  coredns/datadog_checks/coredns/__about__.py
  crio/CHANGELOG.md
  crio/datadog_checks/crio/__about__.py
  datadog_cluster_agent/CHANGELOG.md
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/__about__.py
  etcd/CHANGELOG.md
  etcd/datadog_checks/etcd/__about__.py
  external_dns/CHANGELOG.md
  external_dns/datadog_checks/external_dns/__about__.py
  gitlab/CHANGELOG.md
  gitlab/datadog_checks/gitlab/__about__.py
  gitlab_runner/CHANGELOG.md
  gitlab_runner/datadog_checks/gitlab_runner/__about__.py
  haproxy/CHANGELOG.md
  haproxy/datadog_checks/haproxy/__about__.py
  istio/CHANGELOG.md
  istio/datadog_checks/istio/__about__.py
  kube_apiserver_metrics/CHANGELOG.md
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/__about__.py
  kube_proxy/CHANGELOG.md
  kube_proxy/datadog_checks/kube_proxy/__about__.py
  kube_scheduler/CHANGELOG.md
  kube_scheduler/datadog_checks/kube_scheduler/__about__.py
  linkerd/CHANGELOG.md
  linkerd/datadog_checks/linkerd/__about__.py
  nginx_ingress_controller/CHANGELOG.md
  nginx_ingress_controller/datadog_checks/nginx_ingress_controller/__about__.py
  openmetrics/CHANGELOG.md
  openmetrics/datadog_checks/openmetrics/__about__.py
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  scylla/CHANGELOG.md
  scylla/datadog_checks/scylla/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, integration/etcd, integration/gitlab, integration/gitlab_runner, integration/haproxy, integration/istio, integration/kube_proxy, integration/linkerd, integration/mysql, integration/postgres, integration/sqlserver, integration/cockroachdb, integration/coredns, integration/openmetrics, integration/crio, integration/nginx_ingress_controller, integration/kube_scheduler, integration/kube_apiserver_metrics, integration/external_dns, integration/cilium, integration/scylla, release, integration/azure_iot_edge, integration/datadog_cluster_agent, category/release_operations

#11191 [Release] Bumped mysql version to 8.0.2
  .in-toto/tag.eabca4ac.link
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/mysql, release

#11141 Be more precise with version testing
  haproxy/tests/conftest.py
  haproxy/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/haproxy

#11127 Small code nits
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/mongo.py
Labels: integration/mongo

#11125 improve log message
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/connection.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
Labels: documentation, changelog/Fixed, integration/ibm_mq

#11107 Instruct the user to fix the error
  nginx/datadog_checks/nginx/nginx.py
Labels: integration/nginx, changelog/Fixed
