Repository DataDog/integrations-core, pull requests merged in 2022-08, with the labels that each got.

#12642 Fix probe metrics not reported when creds required
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/datadog_checks/kubelet/probes.py
  kubelet/tests/test_kubelet.py
Labels: integration/kubelet, changelog/Fixed

#12559 Use context manager when creating temporary directory
  datadog_checks_downloader/datadog_checks/downloader/download.py
Labels: changelog/Added, integration/datadog_checks_downloader

#12596 TLS check: implement StartTLS protocol for postgres
  tls/assets/configuration/spec.yaml
  tls/datadog_checks/tls/config_models/defaults.py
  tls/datadog_checks/tls/config_models/instance.py
  tls/datadog_checks/tls/data/conf.yaml.example
  tls/datadog_checks/tls/tls.py
  tls/datadog_checks/tls/tls_remote.py
  tls/tests/compose/Dockerfile
  tls/tests/compose/docker-compose.yml
  tls/tests/conftest.py
  tls/tests/test_remote.py
Labels: changelog/Added, integration/tls

#12644 Revert "Increase expected metadata count"
  avi_vantage/tests/test_avi_vantage.py
Labels: changelog/no-changelog, integration/avi_vantage

#12646 Do not assert metric value
  clickhouse/tests/test_clickhouse.py
Labels: changelog/no-changelog, dev/testing, integration/clickhouse

#12645 [postgres] Fix operator precedence in relation filter
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/tests/test_relationsmanager.py
Labels: integration/postgres, changelog/Fixed

#12534 Add debug logging to directory check
  directory/datadog_checks/directory/directory.py
Labels: integration/directory, changelog/Fixed

#12643 Update broken links
  datadog_checks_base/datadog_checks/base/utils/http.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#12585 Label metrics metadata with correct integration name and clean up metadata.csv
  kube_apiserver_metrics/metadata.csv
Labels: changelog/no-changelog, integration/kube_apiserver_metrics

#12581 [SNMP Traps] Include BITS enums in traps DB
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/generate_traps_db.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev

#12649 [Release] Bumped sap_hana version to 2.2.0
  .in-toto/tag.05916999.link
  requirements-agent-release.txt
  sap_hana/CHANGELOG.md
  sap_hana/datadog_checks/sap_hana/__about__.py
Labels: changelog/no-changelog, integration/sap_hana, release

#12650 Ensure proxy is working before testing
  datadog_checks_base/tests/conftest.py
Labels: changelog/no-changelog, dev/testing, integration/datadog_checks_base

#12648 [kafka check] Handle errors getting producer offset
  kafka_consumer/datadog_checks/kafka_consumer/new_kafka_consumer.py
Labels: integration/kafka_consumer, changelog/Fixed

#12556 Prevent from publishing datadog-checks-downloader to PyPI
  datadog_checks_downloader/pyproject.toml
Labels: changelog/Fixed, integration/datadog_checks_downloader

#12655 Windows-agent team added to trello QA scripts
  datadog_checks_dev/datadog_checks/dev/tooling/trello.py
Labels: changelog/no-changelog, dev/tooling, integration/datadog_checks_dev

#12651 Remove note about lack of tile
  kube_apiserver_metrics/README.md
Labels: documentation, changelog/no-changelog, integration/kube_apiserver_metrics

#12443 Fix dashboard widget with "not ready" nodes
  kubernetes/assets/dashboards/kubernetes_nodes.json
Labels: changelog/no-changelog, integration/kubernetes

#12594 Upgrade pymongo to 4.2
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/collectors/fsynclock.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/pyproject.toml
  mongo/tests/common.py
  mongo/tests/compose/mongo-auth.yaml
  mongo/tests/conftest.py
  mongo/tests/fixtures/current_op
  mongo/tests/mocked_api.py
  mongo/tests/test_config.py
  mongo/tests/test_e2e.py
  mongo/tests/test_integration.py
  mongo/tests/test_mongo.py
  mongo/tests/test_unit.py
  mongo/tox.ini
Labels: integration/datadog_checks_base, integration/mongo, changelog/Changed, dependencies

#12440 Fix dashboard widget with pods in bad state
  kubernetes/assets/dashboards/kubernetes_pods.json
Labels: containers, changelog/no-changelog, integration/kubernetes

#12652 postgres...relationsmanager: escape underscore in LOCK_METRICS query
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/test_relations.py
Labels: integration/postgres, changelog/Fixed

#12177 Update manifest to version 2.0.0
  couchbase/manifest.json
Labels: documentation, changelog/no-changelog, integration/couchbase

#12191 Update manifest to version 2.0.0
  elastic/manifest.json
Labels: documentation, changelog/no-changelog, integration/elastic

#12193 Update manifest to version 2.0.0
  etcd/manifest.json
Labels: documentation, changelog/no-changelog, integration/etcd

#12197 Update manifest to version 2.0.0
  fluentd/manifest.json
Labels: documentation, changelog/no-changelog, integration/fluentd

#12199 Update manifest to version 2.0.0
  gearmand/manifest.json
Labels: documentation, changelog/no-changelog, integration/gearmand

#12203 Update manifest to version 2.0.0
  glusterfs/manifest.json
Labels: documentation, changelog/no-changelog, integration/glusterfs

#12610 sqlserver...connection: check for port provided in config
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/tests/test_connection.py
Labels: integration/sqlserver, changelog/Fixed

#12660 [Release] Bumped datadog_checks_dev version to 16.6.0
  .in-toto/tag.05916999.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, integration/datadog_checks_dev, release

#12656 Re-add missing metric: pod_preemption.attempts
  kube_scheduler/datadog_checks/kube_scheduler/kube_scheduler.py
  kube_scheduler/tests/test_kube_scheduler_1_23.py
Labels: changelog/Fixed, integration/kube_scheduler

#12662 Disable cacti e2e
  cacti/tox.ini
Labels: changelog/no-changelog, integration/cacti

#12663 Bump `lxml` package
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ibm_was/pyproject.toml
  sqlserver/pyproject.toml
Labels: integration/datadog_checks_base, integration/sqlserver, changelog/Security, integration/ibm_was, dependencies

#12561 datadog-checks-downloader does not provide dev extras
  datadog_checks_downloader/README.md
Labels: changelog/no-changelog, integration/datadog_checks_downloader

#12659 Re-add preemption victims metric as histogram
  kube_scheduler/datadog_checks/kube_scheduler/kube_scheduler.py
  kube_scheduler/metadata.csv
  kube_scheduler/tests/fixtures/metrics_1.23.6.txt
  kube_scheduler/tests/test_kube_scheduler_1_23.py
Labels: changelog/Fixed, integration/kube_scheduler

#12661 Add docs section for monitoring TKG
  vsphere/README.md
Labels: documentation, changelog/no-changelog, integration/vsphere

#12658 Update exclude list in metadata validation
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#12605 Update service_checks.json
  ecs_fargate/assets/service_checks.json
Labels: changelog/no-changelog, integration/ecs_fargate

#12061 Update metric description
  consul/metadata.csv
Labels: documentation, changelog/no-changelog, integration/consul

#12080 Update formatting of yaml example
  win32_event_log/README.md
Labels: documentation, changelog/no-changelog, integration/win32_event_log

#11977 Fortinet Fortigate: Add metrics for VPN Tunnels
  snmp/datadog_checks/snmp/data/profiles/_fortinet-fortigate-vpn-tunnel.yaml
  snmp/datadog_checks/snmp/data/profiles/fortinet-fortigate.yaml
Labels: integration/snmp, changelog/Added

#11920 Update CouchDB dashboard
  couch/assets/dashboards/CouchDB-overview_dashboard.json
  couch/assets/dashboards/CouchDBv1-overview_dashboard.json
  couch/manifest.json
Labels: documentation, changelog/no-changelog, integration/couch

#12381 Change metric_to_check to more universal metric
  datadog_cluster_agent/manifest.json
Labels: documentation, changelog/no-changelog, integration/datadog_cluster_agent

#12632 Add IPv4-only configuration option
  tcp_check/assets/configuration/spec.yaml
  tcp_check/datadog_checks/tcp_check/config_models/defaults.py
  tcp_check/datadog_checks/tcp_check/config_models/instance.py
  tcp_check/datadog_checks/tcp_check/data/conf.yaml.example
  tcp_check/datadog_checks/tcp_check/tcp_check.py
  tcp_check/tests/common.py
  tcp_check/tests/test_tcp_check.py
Labels: documentation, integration/tcp_check, changelog/Added

#12206 Update manifest to version 2.0.0
  gunicorn/manifest.json
Labels: documentation, changelog/no-changelog, integration/gunicorn

#12207 Update manifest to version 2.0.0
  haproxy/manifest.json
Labels: documentation, changelog/no-changelog, integration/haproxy

#12227 Update manifest to version 2.0.0
  jboss_wildfly/manifest.json
Labels: documentation, changelog/no-changelog, integration/jboss_wildfly

#12228 Update manifest to version 2.0.0
  jmeter/CHANGELOG.md
  jmeter/manifest.json
Labels: documentation, changelog/no-changelog, integration/jmeter

#12229 Update manifest to version 2.0.0
  journald/manifest.json
  journald/metadata.csv
Labels: documentation, changelog/no-changelog, integration/journald

#12131 Update manifest to version 2.0.0
  kafka/manifest.json
Labels: documentation, changelog/no-changelog, integration/kafka

#12666 [Release] Bumped vertica version to 3.4.0
  .in-toto/tag.bb47f8e8.link
  requirements-agent-release.txt
  vertica/CHANGELOG.md
  vertica/datadog_checks/vertica/__about__.py
Labels: changelog/no-changelog, integration/vertica, release

#12669 Add attempts to aerospike environment
  aerospike/tests/conftest.py
Labels: changelog/no-changelog, integration/aerospike

#12672 Add attempts to mapreduce environment
  mapreduce/tests/conftest.py
Labels: changelog/no-changelog, integration/mapreduce

#12102 Note on Vault replication metrics
  vault/README.md
Labels: documentation, changelog/no-changelog, integration/vault

#12664 Update Linkerd metadata
  linkerd/metadata.csv
Labels: changelog/no-changelog, integration/linkerd

#12674 Add queue.incoming_pods metric
  kube_scheduler/datadog_checks/kube_scheduler/kube_scheduler.py
  kube_scheduler/metadata.csv
  kube_scheduler/tests/test_kube_scheduler_1_23.py
Labels: changelog/Added, integration/kube_scheduler

#12677 Fix socks5 tests
  datadog_checks_base/tests/base/utils/test_http.py
  datadog_checks_base/tests/compose/socks5-proxy.yaml
  datadog_checks_base/tests/conftest.py
Labels: changelog/no-changelog, integration/datadog_checks_base

#12657 Add MySQL user connections metric
  mysql/datadog_checks/mysql/activity.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/queries.py
  mysql/metadata.csv
  mysql/tests/test_mysql.py
  mysql/tests/test_query_activity.py
  mysql/tests/variables.py
Labels: integration/mysql, changelog/Added

#12680 Prevent metadata validation from crashing on missing columns
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: dev/tooling, changelog/Fixed, integration/datadog_checks_dev

#12679 Fix tests
  nagios/tests/common.py
  nagios/tests/conftest.py
Labels: changelog/no-changelog, integration/nagios

#12673 Add pending pods metrics for kube_scheduler
  kube_scheduler/datadog_checks/kube_scheduler/kube_scheduler.py
  kube_scheduler/metadata.csv
  kube_scheduler/tests/fixtures/metrics_1.23.6.txt
  kube_scheduler/tests/test_kube_scheduler_1_23.py
Labels: changelog/Added, integration/kube_scheduler

#12685 Do not recreate the tables if they already exists
  clickhouse/tests/docker/init.sql
Labels: changelog/no-changelog, integration/clickhouse

#12653 Dependency updates
  LICENSE-3rdparty.csv
  aerospike/pyproject.toml
  amazon_msk/pyproject.toml
  btrfs/pyproject.toml
  clickhouse/pyproject.toml
  couch/datadog_checks/couch/couch.py
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/base.py
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/pyproject.toml
  disk/pyproject.toml
  envoy/datadog_checks/envoy/envoy.py
  foundationdb/pyproject.toml
  gitlab/pyproject.toml
  gitlab_runner/pyproject.toml
  gunicorn/pyproject.toml
  ibm_ace/pyproject.toml
  ibm_i/pyproject.toml
  ibm_mq/pyproject.toml
  ibm_was/pyproject.toml
  kube_dns/pyproject.toml
  kubernetes_state/pyproject.toml
  mapr/tests/conftest.py
  mongo/pyproject.toml
  mysql/pyproject.toml
  network/pyproject.toml
  openstack/datadog_checks/openstack/openstack.py
  openstack/tests/test_openstack.py
  openstack_controller/pyproject.toml
  oracle/pyproject.toml
  postgres/pyproject.toml
  process/pyproject.toml
  redisdb/pyproject.toml
  rethinkdb/pyproject.toml
  snmp/pyproject.toml
  snowflake/pyproject.toml
  sonarqube/datadog_checks/sonarqube/check.py
  sqlserver/pyproject.toml
  ssh_check/pyproject.toml
  system_core/pyproject.toml
  system_swap/pyproject.toml
  vertica/pyproject.toml
Labels: integration/btrfs, dev/tooling, integration/couch, integration/datadog_checks_base, integration/disk, integration/envoy, integration/gitlab, integration/gitlab_runner, integration/gunicorn, integration/kube_dns, integration/kubernetes_state, integration/mongo, integration/mysql, integration/network, integration/openstack, integration/oracle, integration/postgres, integration/process, integration/redisdb, integration/snmp, integration/sqlserver, integration/ssh_check, integration/system_core, integration/system_swap, changelog/Fixed, integration/datadog_checks_dev, integration/ibm_mq, integration/openstack_controller, integration/ibm_was, integration/aerospike, integration/vertica, integration/mapr, integration/clickhouse, integration/amazon_msk, dependencies, integration/rethinkdb, integration/snowflake, integration/sonarqube, integration/ibm_i, integration/foundationdb, integration/ibm_ace

#12687 New ddev release
  .in-toto/tag.5e2e6791.link
  ddev/CHANGELOG.md
  ddev/src/ddev/__about__.py
Labels: changelog/no-changelog, integration/ddev

#12688 [Release] Bumped aerospike version to 1.16.2
  .in-toto/tag.5e2e6791.link
  aerospike/CHANGELOG.md
  aerospike/datadog_checks/aerospike/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/aerospike, release

#12691 [Release] Bumped btrfs version to 1.14.1
  .in-toto/tag.5e2e6791.link
  btrfs/CHANGELOG.md
  btrfs/datadog_checks/btrfs/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/btrfs, release

#12690 [Release] Bumped amazon_msk version to 3.1.3
  .in-toto/tag.5e2e6791.link
  amazon_msk/CHANGELOG.md
  amazon_msk/datadog_checks/amazon_msk/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/amazon_msk, release

#12693 [Release] Bumped clickhouse version to 2.8.0
  .in-toto/tag.5e2e6791.link
  clickhouse/CHANGELOG.md
  clickhouse/datadog_checks/clickhouse/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/clickhouse, release

#12699 [Release] Bumped datadog_cluster_agent version to 2.3.0
  .in-toto/tag.5e2e6791.link
  datadog_cluster_agent/CHANGELOG.md
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, release, integration/datadog_cluster_agent

#12694 [Release] Bumped cockroachdb version to 2.3.0
  .in-toto/tag.5e2e6791.link
  cockroachdb/CHANGELOG.md
  cockroachdb/datadog_checks/cockroachdb/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/cockroachdb, release

#12695 [Release] Bumped couch version to 5.1.1
  .in-toto/tag.5e2e6791.link
  couch/CHANGELOG.md
  couch/datadog_checks/couch/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/couch, release

#12700 [Release] Bumped directory version to 1.13.1
  .in-toto/tag.5e2e6791.link
  directory/CHANGELOG.md
  directory/datadog_checks/directory/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/directory, release

#12701 [Release] Bumped disk version to 4.7.1
  .in-toto/tag.5e2e6791.link
  disk/CHANGELOG.md
  disk/datadog_checks/disk/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/disk, release

#12230 Update manifest to version 2.0.0
  kafka_consumer/manifest.json
Labels: documentation, changelog/no-changelog, integration/kafka_consumer

#12233 Update manifest to version 2.0.0
  kube_controller_manager/manifest.json
Labels: documentation, changelog/no-changelog, integration/kube_controller_manager

#12235 Update manifest to version 2.0.0
  kube_metrics_server/manifest.json
Labels: documentation, changelog/no-changelog, integration/kube_metrics_server

#12237 Update manifest to version 2.0.0
  kube_scheduler/manifest.json
Labels: documentation, changelog/no-changelog, integration/kube_scheduler

#12239 Update manifest to version 2.0.0
  kubernetes/manifest.json
Labels: documentation, changelog/no-changelog, integration/kubernetes

#12241 Update manifest to version 2.0.0
  kyototycoon/manifest.json
Labels: documentation, changelog/no-changelog, integration/kyototycoon

#12706 Fix cluster agent version in requirements-agent-release.txt
  requirements-agent-release.txt
Labels: changelog/no-changelog, release

#12242 Update manifest to version 2.0.0
  lighttpd/manifest.json
Labels: documentation, changelog/no-changelog, integration/lighttpd

#12243 Update manifest to version 2.0.0
  linkerd/manifest.json
Labels: documentation, changelog/no-changelog, integration/linkerd

#12245 Update manifest to version 2.0.0
  mapr/manifest.json
Labels: documentation, changelog/no-changelog, integration/mapr

#12246 Update manifest to version 2.0.0
  mapreduce/manifest.json
Labels: documentation, changelog/no-changelog, integration/mapreduce

#12247 Update manifest to version 2.0.0
  marathon/manifest.json
Labels: documentation, changelog/no-changelog, integration/marathon

#12248 Update manifest to version 2.0.0
  marklogic/manifest.json
Labels: documentation, changelog/no-changelog, integration/marklogic

#12249 Update manifest to version 2.0.0
  mcache/manifest.json
Labels: documentation, changelog/no-changelog, integration/mcache

#12250 Update manifest to version 2.0.0
  mesos_master/manifest.json
Labels: documentation, changelog/no-changelog, integration/mesos_master

#12251 Update manifest to version 2.0.0
  mesos_slave/manifest.json
Labels: documentation, changelog/no-changelog, integration/mesos_slave

#12252 Update manifest to version 2.0.0
  mongo/manifest.json
Labels: documentation, changelog/no-changelog, integration/mongo

#12253 Update manifest to version 2.0.0
  mysql/manifest.json
Labels: documentation, changelog/no-changelog, integration/mysql

#12254 Update manifest to version 2.0.0
  nagios/manifest.json
Labels: documentation, changelog/no-changelog, integration/nagios

#12709 Install `datadog_checks_dev[cli]` from pypi instead of `ddev`
  .azure-pipelines/templates/install-deps.yml
Labels: changelog/no-changelog, dev/testing

#12258 Update manifest to version 2.0.0
  nginx/manifest.json
Labels: documentation, changelog/no-changelog, integration/nginx

#12259 Update manifest to version 2.0.0
  nginx_ingress_controller/manifest.json
Labels: documentation, changelog/no-changelog, integration/nginx_ingress_controller

#12261 Update manifest to version 2.0.0
  nvidia_jetson/CHANGELOG.md
  nvidia_jetson/manifest.json
Labels: documentation, changelog/no-changelog, integration/nvidia_jetson

#12262 Update manifest to version 2.0.0
  oke/CHANGELOG.md
  oke/manifest.json
Labels: documentation, changelog/no-changelog, integration/oke

#12264 Update manifest to version 2.0.0
  openldap/manifest.json
Labels: documentation, changelog/no-changelog, integration/openldap

#12265 Update manifest to version 2.0.0
  openmetrics/manifest.json
  openmetrics/metadata.csv
Labels: documentation, changelog/no-changelog, integration/openmetrics

#12711 [Release] Bumped datadog_checks_base version to 25.5.1
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_base, release

#12266 Update manifest to version 2.0.0
  openshift/CHANGELOG.md
  openshift/manifest.json
Labels: documentation, changelog/no-changelog, integration/openshift

#12267 Update manifest to version 2.0.0
  openstack/manifest.json
Labels: documentation, changelog/no-changelog, integration/openstack

#12269 Update manifest to version 2.0.0
  oracle/manifest.json
Labels: documentation, changelog/no-changelog, integration/oracle

#12270 Update manifest to version 2.0.0
  otel/CHANGELOG.md
  otel/manifest.json
Labels: documentation, changelog/no-changelog, integration/otel

#12271 Update manifest to version 2.0.0
  pan_firewall/README.md
  pan_firewall/manifest.json
  pan_firewall/metadata.csv
Labels: documentation, changelog/no-changelog, integration/pan_firewall

#12273 Update manifest to version 2.0.0
  pgbouncer/manifest.json
Labels: documentation, changelog/no-changelog, integration/pgbouncer

#12274 Update manifest to version 2.0.0
  php_fpm/manifest.json
Labels: documentation, changelog/no-changelog, integration/php_fpm

#12276 Update manifest to version 2.0.0
  podman/CHANGELOG.md
  podman/manifest.json
Labels: documentation, changelog/no-changelog, integration/podman

#12277 Update manifest to version 2.0.0
  postfix/manifest.json
Labels: documentation, changelog/no-changelog, integration/postfix

#12278 Update manifest to version 2.0.0
  postgres/manifest.json
Labels: documentation, changelog/no-changelog, integration/postgres

#12279 Update manifest to version 2.0.0
  powerdns_recursor/manifest.json
Labels: documentation, changelog/no-changelog, integration/powerdns_recursor

#12280 Update manifest to version 2.0.0
  presto/manifest.json
Labels: documentation, changelog/no-changelog, integration/presto

#12283 Update manifest to version 2.0.0
  proxysql/manifest.json
Labels: documentation, changelog/no-changelog, integration/proxysql

#12284 Update manifest to version 2.0.0
  pulsar/manifest.json
Labels: documentation, changelog/no-changelog, integration/pulsar

#12285 Update manifest to version 2.0.0
  rabbitmq/manifest.json
Labels: documentation, changelog/no-changelog, integration/rabbitmq

#12286 Update manifest to version 2.0.0
  redisdb/manifest.json
Labels: documentation, changelog/no-changelog, integration/redisdb

#12287 Update manifest to version 2.0.0
  rethinkdb/manifest.json
Labels: documentation, changelog/no-changelog, integration/rethinkdb

#12288 Update manifest to version 2.0.0
  riak/manifest.json
Labels: documentation, changelog/no-changelog, integration/riak

#12289 Update manifest to version 2.0.0
  riakcs/manifest.json
Labels: documentation, changelog/no-changelog, integration/riakcs

#12290 Update manifest to version 2.0.0
  sap_hana/manifest.json
Labels: documentation, changelog/no-changelog, integration/sap_hana

#12291 Update manifest to version 2.0.0
  scylla/manifest.json
Labels: documentation, changelog/no-changelog, integration/scylla

#12292 Update manifest to version 2.0.0
  sidekiq/manifest.json
Labels: documentation, changelog/no-changelog, integration/sidekiq

#12293 Update manifest to version 2.0.0
  silk/manifest.json
Labels: documentation, changelog/no-changelog, integration/silk

#12294 Update manifest to version 2.0.0
  singlestore/manifest.json
Labels: documentation, changelog/no-changelog, integration/singlestore

#12295 Update manifest to version 2.0.0
  snmp/README.md
  snmp/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp

#12296 Update manifest to version 2.0.0
  snmp_cisco/CHANGELOG.md
  snmp_cisco/README.md
  snmp_cisco/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp_cisco

#12297 Update manifest to version 2.0.0
  snmp_dell/CHANGELOG.md
  snmp_dell/README.md
  snmp_dell/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp_dell

#12298 Update manifest to version 2.0.0
  snmp_f5/CHANGELOG.md
  snmp_f5/README.md
  snmp_f5/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp_f5

#12299 Update manifest to version 2.0.0
  snmp_juniper/CHANGELOG.md
  snmp_juniper/README.md
  snmp_juniper/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp_juniper

#12300 Update manifest to version 2.0.0
  snowflake/manifest.json
Labels: documentation, changelog/no-changelog, integration/snowflake

#12708 Update event widgets queries to v2
  databricks/assets/dashboards/databricks_overview.json
  helm/assets/dashboards/overview.json
  kubernetes/assets/dashboards/kubernetes_clusters.json
  kubernetes/assets/dashboards/kubernetes_dashboard.json
  kubernetes/assets/dashboards/kubernetes_nodes.json
  nginx/assets/dashboards/NGINX-Overview_dashboard.json
  nginx/assets/dashboards/plus_overview.json
  silk/assets/dashboards/silk_overview.json
  spark/assets/dashboards/spark_dashboard.json
  twistlock/assets/dashboards/overview.json
  vsphere/assets/dashboards/vsphere_overview.json
  yarn/assets/dashboards/hadoop_dashboard.json
Labels: changelog/no-changelog

#12301 Update manifest to version 2.0.0
  solr/manifest.json
Labels: documentation, changelog/no-changelog, integration/solr

#12302 Update manifest to version 2.0.0
  sonarqube/manifest.json
Labels: documentation, changelog/no-changelog, integration/sonarqube

#12303 Update manifest to version 2.0.0
  spark/manifest.json
Labels: documentation, changelog/no-changelog, integration/spark

#12305 Update manifest to version 2.0.0
  squid/manifest.json
Labels: documentation, changelog/no-changelog, integration/squid

#12306 Update manifest to version 2.0.0
  ssh_check/manifest.json
Labels: documentation, changelog/no-changelog, integration/ssh_check

#12307 Update manifest to version 2.0.0
  statsd/manifest.json
Labels: documentation, changelog/no-changelog, integration/statsd

#12311 Update manifest to version 2.0.0
  systemd/CHANGELOG.md
  systemd/manifest.json
Labels: documentation, changelog/no-changelog, integration/systemd

#12317 Update manifest to version 2.0.0
  terraform/CHANGELOG.md
  terraform/manifest.json
  terraform/metadata.csv
Labels: documentation, changelog/no-changelog, integration/terraform

#12731 Revert "Revert "Update manifest to version 2.0.0""
  tenable/manifest.json
  tenable/metadata.csv
Labels: documentation, changelog/no-changelog, integration/tenable

#12316 Update manifest to version 2.0.0
  teradata/manifest.json
Labels: documentation, changelog/no-changelog, integration/teradata

#12318 Update manifest to version 2.0.0
  tls/manifest.json
Labels: documentation, changelog/no-changelog, integration/tls

#12320 Update manifest to version 2.0.0
  tomcat/manifest.json
Labels: documentation, changelog/no-changelog, integration/tomcat

#12322 Update manifest to version 2.0.0
  twemproxy/manifest.json
Labels: documentation, changelog/no-changelog, integration/twemproxy

#12321 Update manifest to version 2.0.0
  traffic_server/manifest.json
Labels: documentation, changelog/no-changelog, integration/traffic_server

#12323 Update manifest to version 2.0.0
  twistlock/manifest.json
Labels: documentation, changelog/no-changelog, integration/twistlock

#12325 Update manifest to version 2.0.0
  vault/manifest.json
Labels: documentation, changelog/no-changelog, integration/vault, integration/ibm_was

#12326 Update manifest to version 2.0.0
  vertica/manifest.json
Labels: documentation, changelog/no-changelog, integration/vertica

#12327 Update manifest to version 2.0.0
  voltdb/manifest.json
Labels: documentation, changelog/no-changelog, integration/voltdb

#12328 Update manifest to version 2.0.0
  vsphere/manifest.json
Labels: documentation, changelog/no-changelog, integration/vsphere

#12329 Update manifest to version 2.0.0
  weblogic/manifest.json
Labels: documentation, changelog/no-changelog, integration/weblogic

#12331 Update manifest to version 2.0.0
  windows_performance_counters/manifest.json
  windows_performance_counters/metadata.csv
Labels: documentation, changelog/no-changelog, integration/windows_performance_counters
