Repository DataDog/integrations-core, pull requests merged in 2023-01, with the labels that each got.

#13544 Add more information on collecting logs
  impala/README.md
Labels: documentation, changelog/no-changelog, integration/impala

#13553 [rabbitmq] Add drop unroutable metric
  rabbitmq/datadog_checks/rabbitmq/const.py
  rabbitmq/hatch.toml
  rabbitmq/metadata.csv
  rabbitmq/tests/metrics.py
Labels: integration/rabbitmq, changelog/Added

#13556 Clarifies that Prometheus and Openmetrics checks are mutually exclusive
  vault/assets/service_checks.json
Labels: changelog/no-changelog, integration/vault

#13554 Update regex to match legacy provider
  win32_event_log/README.md
Labels: documentation, changelog/no-changelog, integration/win32_event_log

#13621 Update readme to remove references to tox
  datadog_checks_downloader/README.md
Labels: documentation, changelog/no-changelog, downloader

#13572 [Cockroach DB] update metric types
  cockroachdb/metadata.csv
Labels: changelog/no-changelog, integration/cockroachdb

#13622 parametrization suggestion
  ddev/tests/repo/test_core.py
Labels: changelog/no-changelog, ddev

#13574 Update README
  cloudera/images/set_workload_password.png
Labels: changelog/no-changelog, integration/cloudera

#13565 correct CPU allocation widget metric query
  kubernetes/assets/dashboards/kubernetes_nodes.json
Labels: changelog/no-changelog, integration/kubernetes

#13570 Standardize integration selection
  ddev/src/ddev/repo/core.py
  ddev/tests/repo/test_core.py
Labels: changelog/no-changelog, changelog/Added, ddev

#13626 pg excluded deadlock test from e2e tests & increase wait time
  postgres/tests/test_deadlock.py
Labels: changelog/no-changelog, integration/postgres

#13508 Remove setup.py as it is superseded by pyproject.toml
  datadog_checks_downloader/setup.py
Labels: changelog/no-changelog, downloader

#13633 Rename TOX_SKIP_ENV to SKIP_ENV_NAME
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: dev/testing, dev/tooling, changelog/Fixed, dev_package

#13634 Fix the valid_integrations fixture
  ddev/tests/conftest.py
Labels: changelog/no-changelog, ddev

#13627 Remove extra `cloudera_host` tag for host timeseries metrics
  cloudera/datadog_checks/cloudera/api_client_v7.py
  cloudera/tests/test_integration.py
Labels: changelog/Fixed, integration/cloudera

#13413 Add `postgresql.replication.backend_xmin_age` metric and use `client_addr` as additional label
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/conftest.py
  postgres/tests/test_unit.py
Labels: integration/postgres, changelog/Added

#13630 (DOCS-4591) Update Replica Set config instructions
  mongo/README.md
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/mongo

#13476 Add SLRU cache metrics for Postgres
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/datadog_checks/postgres/version_utils.py
  postgres/metadata.csv
  postgres/tests/common.py
  postgres/tests/test_e2e.py
  postgres/tests/test_pg_integration.py
Labels: documentation, integration/postgres, changelog/Added

#13561 Do not create a temporary table for MySQL sampling
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/tests/conftest.py
  mysql/tests/generate_unique_query_signatures.py
  mysql/tests/test_query_activity.py
  mysql/tests/test_statements.py
Labels: documentation, integration/mysql, changelog/Changed

#13644 Update the hatch env selection to act as the tox one
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13643 Bump the base check dependency
  postgres/pyproject.toml
Labels: integration/postgres, changelog/Fixed

#13635 Remove the docker compatibility mode
  datadog_checks_dev/datadog_checks/dev/docker.py
Labels: changelog/no-changelog, dev_package

#13641 Bump the base check dependency
  snowflake/pyproject.toml
Labels: changelog/Fixed, integration/snowflake

#13503 Refactor the tests
  oracle/tests/conftest.py
  oracle/tests/test_config.py
  oracle/tests/test_custom_queries.py
  oracle/tests/test_e2e.py
  oracle/tests/test_unit.py
Labels: changelog/no-changelog, integration/oracle

#13654 Pin the presto version
  presto/hatch.toml
  presto/tests/common.py
  presto/tests/docker/docker-compose.yaml
  presto/tests/test_presto.py
Labels: changelog/no-changelog, integration/presto

#13653 Pin the python version
  spark/hatch.toml
  spark/tests/docker/words-sender/Dockerfile
Labels: changelog/no-changelog, integration/spark

#13652 Pin the docker versions
  tls/tests/compose/Dockerfile
  tls/tests/compose/docker-compose.yml
Labels: changelog/no-changelog, integration/tls

#13651 Pin the alpine version
  http_check/tests/compose/certs-builder/Dockerfile
Labels: changelog/no-changelog, integration/http_check

#13649 Pin the nagios version
  nagios/hatch.toml
  nagios/tests/compose/Dockerfile
  nagios/tests/compose/docker-compose.yaml
Labels: changelog/no-changelog, integration/nagios

#13648 Pin the consul version
  vault/tests/docker/docker-compose.yaml
Labels: changelog/no-changelog, integration/vault

#13636 Inject trace context into logs when integration_tracing is enabled
  datadog_checks_base/datadog_checks/base/log.py
  datadog_checks_base/datadog_checks/base/utils/__init__.py
  datadog_checks_base/tests/test_log.py
Labels: changelog/Added, base_package

#13527 Allow certificate expiration checks no matter what ssl/tls verification settings are
  http_check/README.md
  http_check/assets/configuration/spec.yaml
  http_check/datadog_checks/http_check/config_models/defaults.py
  http_check/datadog_checks/http_check/config_models/instance.py
  http_check/datadog_checks/http_check/data/conf.yaml.example
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/common.py
  http_check/tests/compose/certs-builder/Dockerfile
  http_check/tests/conftest.py
  http_check/tests/test_http_integration.py
Labels: documentation, integration/http_check, changelog/Added

#13657 Run tests on PRs that do not target master
  .azure-pipelines/all_pr.yml
  .azure-pipelines/changes.yml
Labels: changelog/no-changelog, dev/testing

#13632 Skip yanked artifacts from PyPi
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/pyproject.toml
  datadog_checks_dev/tests/tooling/commands/test_dep.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13642 Stop ignoring the `protobuf` dependency when updating them
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13661 Do not sign commits in tests
  ddev/tests/conftest.py
Labels: changelog/no-changelog, ddev

#13663 Migrate from `called_with` to `assert_called_with`
  aerospike/tests/test_unit.py
Labels: changelog/no-changelog, integration/aerospike

#13656 Autodiscovery in Agent Integrations
  datadog_checks_base/datadog_checks/base/utils/discovery/__init__.py
  datadog_checks_base/datadog_checks/base/utils/discovery/cache.py
  datadog_checks_base/datadog_checks/base/utils/discovery/discovery.py
  datadog_checks_base/datadog_checks/base/utils/discovery/filter.py
  datadog_checks_base/tests/base/utils/discovery/test_discovery.py
Labels: changelog/Added, base_package

#13665 [Release] Bumped datadog_checks_base version to 29.0.0
  .in-toto/tag.5e2e6791.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, base_package

#13578 Add events to Cloudera
  cloudera/datadog_checks/cloudera/api_client_v7.py
  cloudera/datadog_checks/cloudera/check.py
  cloudera/datadog_checks/cloudera/event.py
  cloudera/tests/conftest.py
  cloudera/tests/docker/etc/caddy/Caddyfile
  cloudera/tests/docker/fixtures/api/v48/events/get_events
  cloudera/tests/test_integration.py
  cloudera/tests/test_unit.py
Labels: changelog/Added, integration/cloudera

#13637 Update manifest validation
  ddev/hatch.toml
  ddev/pyproject.toml
  ddev/src/ddev/cli/validate/__init__.py
  ddev/src/ddev/cli/validate/manifest.py
  ddev/tests/cli/validate/__init__.py
  ddev/tests/cli/validate/test_manifest.py
  ddev/tests/conftest.py
  fixtures/network/manifest/missing_app_uuid.yaml
  fixtures/network/manifest/success.yaml
Labels: dev/tooling, changelog/Added, ddev

#13523 Add `application_name` to activity metrics and report oldest `backend_xmin`, `backend_xid` and `xact_start`
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/metrics_cache.py
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/common.py
  postgres/tests/test_pg_integration.py
Labels: documentation, integration/postgres, changelog/Added

#13628 configured hostname in datadog.yaml explicitly to avoid issue https:/…
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks

#13671 Update the platform to `windows`
  active_directory/hatch.toml
  aspdotnet/hatch.toml
  dotnetclr/hatch.toml
  exchange_server/hatch.toml
  hyperv/hatch.toml
  iis/hatch.toml
  pdh_check/hatch.toml
  win32_event_log/hatch.toml
  windows_performance_counters/hatch.toml
  windows_service/hatch.toml
  wmi_check/hatch.toml
Labels: changelog/no-changelog, integration/active_directory, integration/aspdotnet, integration/dotnetclr, integration/exchange_server, integration/iis, integration/pdh_check, integration/windows_service, integration/wmi_check, integration/hyperv, integration/win32_event_log, integration/windows_performance_counters

#13674 Add `ddev validate license-headers` to validations run on CI
  .azure-pipelines/templates/run-validations.yml
  .github/workflows/validations.yaml
Labels: changelog/no-changelog, dev/testing, dev/tooling

#13676 Support license header validation for files encoded with utf8 with bom
  datadog_checks_dev/datadog_checks/dev/tooling/license_headers.py
  datadog_checks_dev/tests/tooling/test_license_headers.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13669 Remove broker_id tag from service_check.json
  amazon_msk/assets/service_checks.json
Labels: changelog/no-changelog, integration/amazon_msk

#13562 (DOCS-4573) Update create an integrations docs
  docs/dev/new_check_howto.md
  docs/dev/python.md
Labels: documentation, changelog/no-changelog

#13573 Fix metric mapping of counter metrics in the Openmetrics V2 version of the check
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/common.py
Labels: integration/envoy, changelog/Fixed

#13681 Update developer installation docs
  docs/developer/setup.md
Labels: documentation, changelog/no-changelog

#13677 Add license header files where missing
  cloudera/datadog_checks/cloudera/api_client.py
  cloudera/datadog_checks/cloudera/api_client_factory.py
  cloudera/datadog_checks/cloudera/api_client_v7.py
  cloudera/datadog_checks/cloudera/common.py
  cloudera/datadog_checks/cloudera/entity_status.py
  cloudera/datadog_checks/cloudera/event.py
  cloudera/datadog_checks/cloudera/metrics.py
  cloudera/tests/common.py
  cloudera/tests/test_e2e.py
  cloudera/tests/test_integration.py
  mysql/tests/generate_unique_query_signatures.py
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
  postgres/tests/test_explain_parameterized_queries.py
  sqlserver/datadog_checks/sqlserver/connection_errors.py
Labels: changelog/no-changelog, integration/mysql, integration/postgres, integration/sqlserver, integration/cloudera

#13675 Automatically delete the agent container when the container is stopped
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13678 Skip typo or not yet installed Windows performance counters to allow collection of subsequent counters
  datadog_checks_base/datadog_checks/base/checks/windows/perf_counters/counter.py
  datadog_checks_base/tests/base/checks/windows/perf_counters/test_integration.py
Labels: integration/active_directory, integration/aspdotnet, integration/datadog_checks_base, integration/dotnetclr, integration/exchange_server, integration/iis, changelog/Changed, integration/windows_performance_counters

#13688 Remove the hatch migration status
  docs/developer/.scripts/33_render_status.py
Labels: dev/tooling, dev_package

#13687 Validate the new release version when provided
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/make.py
  datadog_checks_dev/tests/tooling/commands/release/__init__.py
  datadog_checks_dev/tests/tooling/commands/release/test_make.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13672 Mask the env variables used in the config file during the tests
  ddev/tests/conftest.py
Labels: changelog/no-changelog, ddev

#13659 Add Cloudera overview Dashboard
  cloudera/assets/dashboards/cloudera_overview.json
  cloudera/manifest.json
Labels: documentation, integration/cloudera

#13558 Update `validate licenses` command to collect 3rd-party package copyright attributions
  .github/workflows/validations.yaml
  LICENSE-3rdparty.csv
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  postgres/3rdparty-extra-LICENSE.csv
Labels: changelog/no-changelog, dev/tooling, integration/postgres, dev_package

#13694 replication role tag bug fix
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_unit.py
Labels: integration/postgres, changelog/Fixed

#13696 Update new_check_howto.md
  docs/dev/new_check_howto.md
Labels: documentation, changelog/no-changelog

#13699 Support components from paginated endpoint
  sonarqube/datadog_checks/sonarqube/check.py
  sonarqube/tests/api_responses/components_search_with_tmp_p1
  sonarqube/tests/api_responses/components_search_with_tmp_p2
  sonarqube/tests/test_unit.py
Labels: changelog/Fixed, integration/sonarqube

#13704 [Release] Bumped sonarqube version to 2.2.3
  .in-toto/tag.5e2e6791.link
  requirements-agent-release.txt
  sonarqube/CHANGELOG.md
  sonarqube/datadog_checks/sonarqube/__about__.py
Labels: documentation, changelog/no-changelog, release, integration/sonarqube

#13707 Remove validations from azure pipelines
  .azure-pipelines/changes.yml
  .azure-pipelines/templates/run-validations.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Labels: changelog/no-changelog, dev/testing

#13709 Increase waiting time when setting up environent for integration tests
  clickhouse/tests/conftest.py
Labels: changelog/no-changelog, integration/clickhouse

#13708 Refactor the by_bucket tests
  couchbase/tests/common.py
  couchbase/tests/conftest.py
  couchbase/tests/test_couchbase.py
  couchbase/tests/test_unit.py
Labels: changelog/no-changelog, integration/couchbase

#13711 Mark the index stats metrics as available for couchbase >= 7
  couchbase/metadata.csv
Labels: changelog/no-changelog, integration/couchbase

#13710 Split tests by type
  couchbase/tests/common.py
  couchbase/tests/test_e2e.py
  couchbase/tests/test_integration.py
Labels: changelog/no-changelog, integration/couchbase

#13714 Remove the latest env
  powerdns_recursor/hatch.toml
Labels: changelog/no-changelog, integration/powerdns_recursor

#13717 Fix `ddev make release` when the `version` parameter is not provided
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/make.py
  datadog_checks_dev/tests/tooling/commands/release/test_make.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13273 Add deprecation notice for `extra_performance_metrics` option
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/test_statements.py
Labels: integration/mysql, changelog/Added

#13718 add metric description to metrics
  clickhouse/metadata.csv
Labels: changelog/no-changelog, integration/clickhouse

#13712 Revert increased waiting time
  clickhouse/tests/conftest.py
Labels: changelog/no-changelog, integration/clickhouse

#13664 Add autodiscover clusters feature to cloudera integration
  cloudera/README.md
  cloudera/assets/configuration/spec.yaml
  cloudera/datadog_checks/cloudera/api_client_factory.py
  cloudera/datadog_checks/cloudera/api_client_v7.py
  cloudera/datadog_checks/cloudera/check.py
  cloudera/datadog_checks/cloudera/config.py
  cloudera/datadog_checks/cloudera/config_models/defaults.py
  cloudera/datadog_checks/cloudera/config_models/instance.py
  cloudera/datadog_checks/cloudera/data/conf.yaml.example
  cloudera/pyproject.toml
  cloudera/tests/api_responses/cluster_bad_health.json
  cloudera/tests/api_responses/cluster_good_health.json
  cloudera/tests/api_responses/version_0_0_0.json
  cloudera/tests/api_responses/version_5_0_0.json
  cloudera/tests/api_responses/version_empty.json
  cloudera/tests/common.py
  cloudera/tests/conftest.py
  cloudera/tests/docker/etc/caddy/Caddyfile
  cloudera/tests/docker/fixtures/api/v48/clusters/cluster_1/hosts/get
  cloudera/tests/docker/fixtures/api/v48/clusters/get
  cloudera/tests/test_e2e.py
  cloudera/tests/test_integration.py
  cloudera/tests/test_unit.py
Labels: documentation, changelog/Added, integration/cloudera

#13625 Change CPU units in container check
  container/metadata.csv
Labels: changelog/no-changelog, qa/skip-qa, integration/container

#13733 Fix api_url tag
  cloudera/datadog_checks/cloudera/check.py
  cloudera/tests/common.py
Labels: changelog/Fixed, integration/cloudera

#13666 Fix e2e tests caused by new core metrics
  snmp/tests/common.py
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_metadata.py
  snmp/tests/test_e2e_core_vs_python.py
Labels: changelog/no-changelog, integration/snmp

#13736 [NDM] Remove ifalias tag from tests
  snmp/tests/test_e2e_core.py
Labels: changelog/no-changelog, integration/snmp

#13732 Add custom queries implementation
  cloudera/README.md
  cloudera/assets/configuration/spec.yaml
  cloudera/datadog_checks/cloudera/api_client_v7.py
  cloudera/datadog_checks/cloudera/config_models/defaults.py
  cloudera/datadog_checks/cloudera/config_models/instance.py
  cloudera/datadog_checks/cloudera/data/conf.yaml.example
  cloudera/tests/conftest.py
  cloudera/tests/docker/etc/caddy/Caddyfile
  cloudera/tests/docker/fixtures/api/v48/timeseries/get_custom_metrics_alias
  cloudera/tests/docker/fixtures/api/v48/timeseries/get_custom_metrics_last_alias
  cloudera/tests/docker/fixtures/api/v48/timeseries/get_custom_metrics_no_alias
  cloudera/tests/test_integration.py
  cloudera/tests/test_unit.py
Labels: documentation, changelog/Added, integration/cloudera

#13679 Add kafka consumer logs for more visibility
  kafka_consumer/datadog_checks/kafka_consumer/new_kafka_consumer.py
Labels: integration/kafka_consumer, changelog/Fixed

#13673 Only select aggregated endpoint
  rabbitmq/assets/configuration/spec.yaml
  rabbitmq/datadog_checks/rabbitmq/check.py
  rabbitmq/datadog_checks/rabbitmq/config_models/defaults.py
  rabbitmq/datadog_checks/rabbitmq/config_models/instance.py
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
  rabbitmq/datadog_checks/rabbitmq/openmetrics/check.py
  rabbitmq/datadog_checks/rabbitmq/openmetrics/metrics.py
  rabbitmq/hatch.toml
  rabbitmq/tests/common.py
  rabbitmq/tests/compose/docker-compose.yaml
  rabbitmq/tests/conftest.py
  rabbitmq/tests/fixtures/metrics.txt
  rabbitmq/tests/test_integration_e2e.py
  rabbitmq/tests/test_openmetrics.py
Labels: documentation, changelog/no-changelog, integration/rabbitmq

#13684 add more metrics to aggregated endpoint
  rabbitmq/datadog_checks/rabbitmq/openmetrics/check.py
  rabbitmq/datadog_checks/rabbitmq/openmetrics/metrics.py
  rabbitmq/metadata.csv
  rabbitmq/tests/common.py
  rabbitmq/tests/fixtures/metrics.txt
  rabbitmq/tests/metrics.py
  rabbitmq/tests/test_openmetrics.py
Labels: changelog/no-changelog, integration/rabbitmq

#13691 support for specifying just detailed endpoint
  rabbitmq/assets/configuration/spec.yaml
  rabbitmq/datadog_checks/rabbitmq/config_models/instance.py
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
  rabbitmq/datadog_checks/rabbitmq/openmetrics/check.py
  rabbitmq/tests/fixtures/detailed-queue_coarse_metrics.txt
  rabbitmq/tests/fixtures/detailed.txt
  rabbitmq/tests/test_openmetrics.py
Labels: documentation, changelog/no-changelog, integration/rabbitmq

#13692 support for specifying just per-object endpoint
  rabbitmq/datadog_checks/rabbitmq/openmetrics/check.py
  rabbitmq/tests/fixtures/per-object.txt
  rabbitmq/tests/test_openmetrics.py
Labels: changelog/no-changelog, integration/rabbitmq

#13727 specify both detailed and aggregated endpoints in one instance
  rabbitmq/datadog_checks/rabbitmq/openmetrics/check.py
  rabbitmq/datadog_checks/rabbitmq/openmetrics/metrics.py
  rabbitmq/tests/fixtures/detailed-queue_coarse_metrics-queue_consumer_count.txt
  rabbitmq/tests/fixtures/detailed-queue_consumer_count.txt
  rabbitmq/tests/test_openmetrics.py
Labels: integration/rabbitmq

#13728 validate check configuration values
  rabbitmq/datadog_checks/rabbitmq/config_models/validators.py
  rabbitmq/datadog_checks/rabbitmq/openmetrics/check.py
  rabbitmq/tests/common.py
  rabbitmq/tests/test_openmetrics.py
Labels: changelog/no-changelog, integration/rabbitmq

#13737 extend and refactor tests
  rabbitmq/tests/common.py
  rabbitmq/tests/fixtures/per-object.txt
  rabbitmq/tests/metrics.py
  rabbitmq/tests/test_openmetrics.py
Labels: changelog/no-changelog, integration/rabbitmq

#13697 Collect metrics from all application states
  yarn/assets/configuration/spec.yaml
  yarn/datadog_checks/yarn/config_models/defaults.py
  yarn/datadog_checks/yarn/config_models/instance.py
  yarn/datadog_checks/yarn/config_models/shared.py
  yarn/datadog_checks/yarn/data/conf.yaml.example
  yarn/datadog_checks/yarn/yarn.py
  yarn/tests/common.py
  yarn/tests/compose/docker-compose.yaml
  yarn/tests/compose/run_app.sh
  yarn/tests/conftest.py
  yarn/tests/test_yarn.py
Labels: documentation, integration/yarn, changelog/Added

#13530 Exclude tracefs by default from disk checks
  disk/assets/configuration/spec.yaml
  disk/datadog_checks/disk/data/conf.yaml.default
  disk/datadog_checks/disk/disk.py
  disk/tests/test_filter.py
  disk/tests/test_filter_deprecated.py
  disk/tests/test_unit.py
Labels: documentation, integration/disk, changelog/Added

#13720 Include origin tag for integration traces
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/datadog_checks/base/utils/tracing.py
  datadog_checks_base/tests/base/utils/test_tracing.py
Labels: changelog/no-changelog, base_package

#13739 Add futures result process to ThreadPoolExecutor
  cloudera/datadog_checks/cloudera/api_client_v7.py
Labels: changelog/Added, integration/cloudera

#13713 Document feature in journald user-level filtering
  journald/README.md
  journald/assets/configuration/spec.yaml
  journald/datadog_checks/journald/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/journald

#13706 Fix UNKNOWN service check with backend:name
  varnish/datadog_checks/varnish/varnish.py
Labels: integration/varnish, changelog/Fixed

#13726 Update dependencies
  amazon_msk/pyproject.toml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  datadog_checks_downloader/pyproject.toml
  ibm_was/pyproject.toml
  mongo/pyproject.toml
  mysql/pyproject.toml
  postgres/pyproject.toml
  sqlserver/pyproject.toml
  ssh_check/pyproject.toml
Labels: integration/gitlab, integration/gitlab_runner, integration/kube_dns, integration/kubernetes_state, integration/mongo, integration/mysql, integration/postgres, integration/sqlserver, integration/ssh_check, changelog/Fixed, integration/ibm_was, integration/amazon_msk, dependencies, dev_package, base_package, downloader

#13743 Handle nested options in multi-instances-defined
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/example.py
  datadog_checks_dev/tests/tooling/configuration/consumers/test_example.py
Labels: changelog/no-changelog, dev/tooling, dev_package

#13740 Update style deps
  datadog_checks_dev/datadog_checks/dev/plugin/hatch/environment_collector.py
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/Added, dev_package

#13551 Add task CPU Limit to ECS Fargate integration and use nanocore as CPU unit
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  ecs_fargate/metadata.csv
  ecs_fargate/tests/conftest.py
  ecs_fargate/tests/fixtures/metadata.json
  ecs_fargate/tests/test_unit.py
Labels: integration/ecs_fargate, integration/container, category/improvement

#12909 Update README.md
  helm/README.md
Labels: documentation, changelog/no-changelog, integration/helm

#13753 Make service check tests unitary. Add metadata entrypoint
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  clickhouse/tests/test_clickhouse.py
  clickhouse/tests/test_unit.py
Labels: changelog/Fixed, integration/clickhouse

#13040 Fix grammatical errors in OM instance template
  aerospike/datadog_checks/aerospike/data/conf.yaml.example
  amazon_msk/datadog_checks/amazon_msk/data/conf.yaml.example
  arangodb/datadog_checks/arangodb/data/conf.yaml.example
  argocd/datadog_checks/argocd/data/conf.yaml.example
  avi_vantage/datadog_checks/avi_vantage/data/conf.yaml.example
  boundary/datadog_checks/boundary/data/conf.yaml.example
  calico/datadog_checks/calico/data/conf.yaml.example
  cert_manager/datadog_checks/cert_manager/data/conf.yaml.example
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cockroachdb/datadog_checks/cockroachdb/data/conf.yaml.example
  coredns/datadog_checks/coredns/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  envoy/datadog_checks/envoy/data/conf.yaml.example
  haproxy/datadog_checks/haproxy/data/conf.yaml.example
  impala/datadog_checks/impala/data/conf.yaml.example
  istio/datadog_checks/istio/data/conf.yaml.example
  kong/datadog_checks/kong/data/conf.yaml.example
  linkerd/datadog_checks/linkerd/data/conf.yaml.example
  openmetrics/datadog_checks/openmetrics/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  teamcity/datadog_checks/teamcity/data/conf.yaml.example
  vault/datadog_checks/vault/data/conf.yaml.example
Labels: changelog/no-changelog, dev/tooling, integration/envoy, integration/haproxy, integration/istio, integration/kong, integration/linkerd, integration/teamcity, integration/vault, integration/cockroachdb, integration/coredns, integration/openmetrics, integration/aerospike, integration/cilium, integration/amazon_msk, integration/avi_vantage, integration/arangodb, integration/pulsar, integration/calico, integration/cert_manager, integration/boundary, integration/impala, dev_package, integration/argocd

#13550 Argo CD Out of the Box Dashboard
  argocd/assets/dashboards/argo_cd_overview.json
  argocd/manifest.json
Labels: documentation, changelog/no-changelog, editorial review, integration/argocd

#13662 Support RabbitMQ Prometheus Metrics
  rabbitmq/README.md
  rabbitmq/assets/configuration/spec.yaml
  rabbitmq/datadog_checks/rabbitmq/__init__.py
  rabbitmq/datadog_checks/rabbitmq/check.py
  rabbitmq/datadog_checks/rabbitmq/config_models/defaults.py
  rabbitmq/datadog_checks/rabbitmq/config_models/instance.py
  rabbitmq/datadog_checks/rabbitmq/config_models/validators.py
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
  rabbitmq/datadog_checks/rabbitmq/openmetrics/__init__.py
  rabbitmq/datadog_checks/rabbitmq/openmetrics/check.py
  rabbitmq/datadog_checks/rabbitmq/openmetrics/metrics.py
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  rabbitmq/hatch.toml
  rabbitmq/metadata.csv
  rabbitmq/tests/common.py
  rabbitmq/tests/compose/docker-compose.yaml
  rabbitmq/tests/conftest.py
  rabbitmq/tests/fixtures/detailed-queue_coarse_metrics-queue_consumer_count.txt
  rabbitmq/tests/fixtures/detailed-queue_coarse_metrics.txt
  rabbitmq/tests/fixtures/detailed-queue_consumer_count.txt
  rabbitmq/tests/fixtures/detailed.txt
  rabbitmq/tests/fixtures/metrics.txt
  rabbitmq/tests/fixtures/per-object.txt
  rabbitmq/tests/metrics.py
  rabbitmq/tests/test_e2e.py
  rabbitmq/tests/test_integration.py
  rabbitmq/tests/test_openmetrics.py
  rabbitmq/tests/test_unit.py
Labels: documentation, integration/rabbitmq, changelog/Added

#13752 Assert id and source_type for Topology Links
  snmp/tests/test_e2e_core_metadata.py
Labels: changelog/no-changelog, integration/snmp

#13502 Add recommended monitor
  argocd/assets/recommended_monitors/application_sync_status.json
  argocd/manifest.json
Labels: documentation, changelog/no-changelog, integration/argocd

#13760 Add Cloudera integration
  .in-toto/tag.ec45eb9d.link
  cloudera/CHANGELOG.md
  cloudera/datadog_checks/cloudera/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/Added, release, integration/cloudera

#13762 Agent 7.43 All modified checks release
  .in-toto/tag.ec45eb9d.link
  amazon_msk/CHANGELOG.md
  amazon_msk/datadog_checks/amazon_msk/__about__.py
  clickhouse/CHANGELOG.md
  clickhouse/datadog_checks/clickhouse/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
  ddev/CHANGELOG.md
  ddev/src/ddev/__about__.py
  disk/CHANGELOG.md
  disk/datadog_checks/disk/__about__.py
  ecs_fargate/CHANGELOG.md
  ecs_fargate/datadog_checks/ecs_fargate/__about__.py
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  ibm_was/CHANGELOG.md
  ibm_was/datadog_checks/ibm_was/__about__.py
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  kube_dns/CHANGELOG.md
  kube_dns/datadog_checks/kube_dns/__about__.py
  kube_metrics_server/CHANGELOG.md
  kube_metrics_server/datadog_checks/kube_metrics_server/__about__.py
  kube_proxy/CHANGELOG.md
  kube_proxy/datadog_checks/kube_proxy/__about__.py
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  oracle/CHANGELOG.md
  oracle/datadog_checks/oracle/__about__.py
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  rabbitmq/CHANGELOG.md
  rabbitmq/datadog_checks/rabbitmq/__about__.py
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
  ssh_check/CHANGELOG.md
  ssh_check/datadog_checks/ssh_check/__about__.py
  varnish/CHANGELOG.md
  varnish/datadog_checks/varnish/__about__.py
  yarn/CHANGELOG.md
  yarn/datadog_checks/yarn/__about__.py
Labels: documentation, changelog/no-changelog, integration/http_check, integration/disk, integration/ecs_fargate, integration/envoy, integration/kafka_consumer, integration/kube_dns, integration/kube_proxy, integration/mongo, integration/mysql, integration/oracle, integration/postgres, integration/rabbitmq, integration/sqlserver, integration/ssh_check, integration/varnish, integration/yarn, integration/ibm_mq, integration/ibm_was, integration/kube_metrics_server, integration/clickhouse, integration/amazon_msk, release, integration/snowflake, dev_package, base_package, downloader, ddev

#13770 Enable Argo CD for the public
  argocd/manifest.json
Labels: documentation, changelog/no-changelog, integration/argocd

#13764 Bump pydantic version to 1.10.4
  datadog_checks_dev/datadog_checks/dev/plugin/hatch/environment_collector.py
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/Fixed, dev_package

#13769 Call hatch from `sys.executable`.
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/run.py
Labels: dev/tooling, changelog/Fixed, dev_package

#13789 Update go_expvar source_type_name to match backend
  .azure-pipelines/templates/test-all-checks.yml
  .codecov.yml
  go_expvar/assets/configuration/spec.yaml
  go_expvar/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, integration/go_expvar

#13786 Clean up manifests.
  argocd/manifest.json
  btrfs/manifest.json
  cloudera/manifest.json
  couch/manifest.json
  datadog_cluster_agent/manifest.json
  ssh_check/manifest.json
Labels: documentation, changelog/no-changelog, integration/btrfs, integration/couch, integration/ssh_check, integration/datadog_cluster_agent, integration/argocd, integration/cloudera

#13793 Add validation for `include_aggregated_endpoint`
  rabbitmq/assets/configuration/spec.yaml
  rabbitmq/datadog_checks/rabbitmq/config_models/validators.py
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
  rabbitmq/tests/test_openmetrics.py
Labels: documentation, integration/rabbitmq, changelog/Fixed

#13797 Release datadog_checks_dev
  .in-toto/tag.b9ca7eb3.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, qa/skip-qa, dev_package

#13557 Pin and bump the datadog_checks_dev version
  ddev/pyproject.toml
Labels: changelog/Fixed, ddev

#13794 Backport snowflake-connector-python bump 2.8.3 to 7.42.x
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  snowflake/pyproject.toml
Labels: changelog/Added, dependencies, integration/snowflake, base_package

#13801 Release ddev
  .in-toto/tag.b9ca7eb3.link
  ddev/CHANGELOG.md
  ddev/src/ddev/__about__.py
Labels: documentation, changelog/no-changelog, qa/skip-qa, ddev

#13781 Allow setting the try basic auth value from config in all cases
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
Labels: documentation, changelog/Fixed, integration/ibm_mq, category/bugfix

#13804 [Release] Bumped IBM MQ version to 4.0.3
  .in-toto/tag.ec45eb9d.link
  ibm_mq/CHANGELOG.md
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/ibm_mq, release

#13815 remove extra '
  LICENSE-3rdparty.csv
Labels: changelog/no-changelog, qa/skip-qa

#13814 Make debug logging less verbose
  cloudera/datadog_checks/cloudera/api_client_factory.py
  cloudera/datadog_checks/cloudera/api_client_v7.py
Labels: changelog/Fixed, integration/cloudera

#13813 [Release] Bump sqlserver to version 10.1.2
  .in-toto/tag.ec45eb9d.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, changelog/no-changelog, integration/sqlserver, release

#13820 [Release] Bumped rabbitmq version to 3.3.1
  .in-toto/tag.ec45eb9d.link
  rabbitmq/CHANGELOG.md
  rabbitmq/datadog_checks/rabbitmq/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/rabbitmq, release

#13822 [Release] Bumped cloudera version to 1.0.1
  .in-toto/tag.ec45eb9d.link
  cloudera/CHANGELOG.md
  cloudera/datadog_checks/cloudera/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, integration/cloudera

#13823 [Release] Bumped datadog_checks_base version to 28.0.2
  .in-toto/tag.eabca4ac.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, base_package

#13824 Bump base check dependency
  snowflake/pyproject.toml
Labels: changelog/Fixed, integration/snowflake

#13829 [Release] Bumped snowflake version to 4.4.6
  .in-toto/tag.eabca4ac.link
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: documentation, changelog/no-changelog, release, integration/snowflake

#13755 Update service checks metadata
  yarn/assets/service_checks.json
Labels: changelog/no-changelog, integration/yarn

#13832 DOCS-4679 Databricks Integration Edit
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks

#13772 Update wording of `collect_apps_all_states` and `collect_apps_states_list`
  yarn/assets/configuration/spec.yaml
  yarn/datadog_checks/yarn/config_models/defaults.py
  yarn/datadog_checks/yarn/data/conf.yaml.example
  yarn/datadog_checks/yarn/yarn.py
  yarn/tests/common.py
  yarn/tests/test_yarn.py
Labels: documentation, changelog/no-changelog, integration/yarn

#13758 Add recommended monitor
  cloudera/assets/recommended_monitors/cloudera_high_cpu.json
  cloudera/manifest.json
Labels: documentation, changelog/no-changelog, integration/cloudera

#13778 Assert all metrics are covered in the e2e tests
  envoy/tests/legacy/test_envoy.py
  envoy/tests/test_check.py
  envoy/tests/test_e2e.py
Labels: changelog/no-changelog, dev/testing, integration/envoy

#13802 Add test and refactor for raising exceptions inside thread executor
  cloudera/datadog_checks/cloudera/api_client_v7.py
  cloudera/tests/test_unit.py
Labels: changelog/no-changelog, integration/cloudera

#13735 sqlserver.database.state not sent for all databases
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/tests/test_connection.py
  sqlserver/tests/test_unit.py
Labels: integration/sqlserver, changelog/Fixed

#13839 Add the tools squad slack channel to slapr
  .github/workflows/slapr.yml
Labels: changelog/no-changelog, dev/tooling

#13817 Update Silk dashboard
  silk/assets/dashboards/silk_overview.json
Labels: changelog/no-changelog, integration/silk

#13842 Remove the use of the deprecated `pkg_resources` package
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/agent/packages.py
  datadog_checks_base/pyproject.toml
  datadog_checks_downloader/datadog_checks/downloader/download.py
  datadog_checks_downloader/datadog_checks/downloader/parameters.py
  mcache/datadog_checks/mcache/mcache.py
Labels: integration/mcache, changelog/Fixed, dependencies, base_package, downloader

#13845 Remove test usage of the deprecated `pkg_resources` package
  cockroachdb/tests/conftest.py
  ignite/tests/common.py
  mysql/tests/common.py
  mysql/tests/test_mysql.py
  mysql/tests/test_query_activity.py
  mysql/tests/test_statements.py
Labels: changelog/no-changelog, integration/mysql, integration/cockroachdb, integration/ignite
