Repository DataDog/integrations-core, pull requests merged in 2023-09, with the labels that each got.

#15655 [Datadog operator] Dashboard alignment + integration page update
  datadog_operator/assets/dashboards/operator_overview.json
  datadog_operator/metadata.csv
Labels: containers, changelog/no-changelog, qa/skip-qa, integration/datadog_operator

#15674 [SNMP] netgear-readynas : Fix snmprec
  snmp/tests/compose/data/netgear-readynas.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_netgear_readynas.py
Labels: documentation, changelog/no-changelog, integration/snmp

#15678 [SNMP] Comment out string metric from riverbed-interceptor.yaml
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/data/default_profiles/riverbed-interceptor.yaml
Labels: documentation, integration/snmp

#11828 [OOM killed (by Pod)] added template variable to query
  kubernetes/assets/dashboards/kubernetes_pods.json
Labels: containers, changelog/no-changelog, integration/kubernetes, mergequeue-status: waiting

#15736 [SNMP] Fix test_e2e_profile_netgear_readynas
  snmp/tests/test_e2e_core_profiles/test_profile_netgear_readynas.py
Labels: changelog/no-changelog, integration/snmp

#15700 Remove unused TLS context
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_unit.py
Labels: changelog/no-changelog, integration/kafka_consumer

#15699 Set tls_verify to string rather than boolean
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/tests/test_unit.py
Labels: documentation, integration/kafka_consumer, changelog/Fixed

#15739 Speed up test suite
  ddev/src/ddev/config/file.py
  ddev/tests/cli/config/test_show.py
  ddev/tests/cli/release/test_list_versions.py
  ddev/tests/cli/validate/test_ci.py
  ddev/tests/cli/validate/test_http.py
  ddev/tests/cli/validate/test_licenses.py
  ddev/tests/cli/validate/test_manifest.py
  ddev/tests/cli/validate/test_metrics.py
  ddev/tests/cli/validate/test_openmetrics.py
  ddev/tests/conftest.py
  ddev/tests/utils/test_github.py
Labels: changelog/no-changelog, ddev

#15742 Release kafka_consumer
  .in-toto/tag.b9ca7eb3.link
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/kafka_consumer, release

#15741 Revert "Bump oracledb version (#15595)"
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  oracle/CHANGELOG.md
  oracle/pyproject.toml
Labels: documentation, integration/oracle, dependencies, base_package

#15744 Allow aws-fargate to have a source name without log pipeline in its README
  .gitlab/validate-logs-intgs/validate_log_intgs.py
Labels: changelog/no-changelog, dev/tooling

#15745 Allow bumping the version of clickhouse-driver
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
Labels: documentation, dev/tooling, dev_package

#15747 Allow bumping the version of lz4
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
Labels: documentation, dev/tooling, dev_package

#15732 update removed gitlab env variables
  .gitlab/tagger/build-packages.sh
Labels: changelog/no-changelog, dev/tooling

#15751 Release postgres 14.2.2 for 7.48.0-rc.4
  .in-toto/tag.a7b04961.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/postgres, release

#15737 Capture `node_collector_evictions_total` metric in kube controller manager
  kube_controller_manager/CHANGELOG.md
  kube_controller_manager/datadog_checks/kube_controller_manager/kube_controller_manager.py
  kube_controller_manager/tests/fixtures/metrics.txt
  kube_controller_manager/tests/test_kube_controller_manager.py
Labels: documentation, containers, changelog/Added, integration/kube_controller_manager

#15753 Release snmp 6.2.1 for 7.48.0-rc.4
  .in-toto/tag.a7b04961.link
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: documentation, changelog/no-changelog, integration/snmp, release

#15703 Update metadata.csv
  sidekiq/metadata.csv
Labels: changelog/no-changelog, integration/sidekiq, qa/skip-qa, integrations/sidekiq

#15760 Update CODEOWNERS for Datadog Operator
  .github/CODEOWNERS
Labels: changelog/no-changelog

#15754 [Release] Bumped snmp version to 6.2.1
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: documentation, changelog/no-changelog, integration/snmp, release, qa/skip-qa

#15752 [Release] Bumped postgres version to 14.2.2
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/postgres, release, qa/skip-qa

#15762 Migrate test command
  .coveragerc
  .github/workflows/test-target.yml
  ddev/CHANGELOG.md
  ddev/pyproject.toml
  ddev/src/ddev/cli/__init__.py
  ddev/src/ddev/cli/test/__init__.py
  ddev/src/ddev/integration/core.py
  ddev/src/ddev/plugin/external/hatch/environment_collector.py
  ddev/src/ddev/testing/__init__.py
  ddev/src/ddev/testing/constants.py
  ddev/src/ddev/utils/fs.py
  ddev/tests/cli/test/__init__.py
  ddev/tests/cli/test/test_test.py
  ddev/tests/conftest.py
  ddev/tests/helpers/api.py
  docs/developer/testing.md
Labels: documentation, dev/testing, dev/tooling, ddev

#15768 Set lower connection timeout on connection pool, to avoid long running checks
  postgres/CHANGELOG.md
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/connections.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_connections.py
Labels: documentation, integration/postgres

#15770 [Release] Bumped ddev version to 5.0.0
  .in-toto/tag.c295cf63.link
  ddev/CHANGELOG.md
Labels: documentation, changelog/no-changelog, ddev

#15771 [Release] Bumped postgres version to 14.2.3
  .in-toto/tag.a7b04961.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/postgres, release, qa/skip-qa

#15772 [Release] Bumped postgres version to 14.2.3 (#15771)
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/postgres, release, qa/skip-qa

#15773 Initialize pg_settings on postgres check start and lazy load pg_settings if not set
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/connections.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_statements.py
Labels: documentation, integration/postgres

#15775 Fix CI
  ddev/tests/conftest.py
Labels: changelog/no-changelog, ddev

#15766 Remove setuptools from the build-system for new integrations
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/pyproject.toml
Labels: documentation, dev/tooling, dev_package

#15774 Add color output to tests in CI
  .github/workflows/test-target.yml
  ddev/CHANGELOG.md
  ddev/src/ddev/cli/__init__.py
  ddev/src/ddev/cli/test/__init__.py
  ddev/src/ddev/config/constants.py
  ddev/tests/conftest.py
  ddev/tests/validation/test_tracker.py
Labels: documentation, dev/testing, dev/tooling, ddev

#15777 [Release] Bumped postgres version to 14.2.4
  .in-toto/tag.a7b04961.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/postgres, release, qa/skip-qa

#15780 [NDM] Fix context links in environment dashboard
  snmp/assets/dashboards/datadog_ndm_environment.json
Labels: changelog/no-changelog, integration/snmp

#15781 Update jira project ids to reflect company managed project conversion
  .ddqa/config.toml
Labels: changelog/no-changelog, qa/skip-qa

#15776 Stop using the old GPG_COMMAND constant from securesystemslib
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/signing.py
Labels: documentation, dev/tooling, dev_package

#15782 Make sure repo override in envvar makes it into config
  ddev/CHANGELOG.md
  ddev/src/ddev/cli/application.py
Labels: documentation, ddev

#15785 Add `use_cert_from_response` option
  http_check/CHANGELOG.md
  http_check/assets/configuration/spec.yaml
  http_check/datadog_checks/http_check/config.py
  http_check/datadog_checks/http_check/config_models/defaults.py
  http_check/datadog_checks/http_check/config_models/instance.py
  http_check/datadog_checks/http_check/data/conf.yaml.example
  http_check/datadog_checks/http_check/http_check.py
  http_check/tests/test_http_integration.py
  http_check/tests/test_unit_config.py
Labels: documentation, integration/http_check

#15788 [Release] Bumped http_check version to 9.1.0
  .in-toto/tag.c295cf63.link
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/http_check, release

#15779 Override the default test options for some integrations
  .github/workflows/pr-all.yml
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/hatch.toml
  datadog_checks_dev/pyproject.toml
  datadog_checks_dev/setup.cfg
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/hatch.toml
  datadog_checks_downloader/pyproject.toml
  teamcity/CHANGELOG.md
  teamcity/hatch.toml
  teamcity/pyproject.toml
  teamcity/setup.cfg
  win32_event_log/hatch.toml
  win32_event_log/setup.cfg
Labels: documentation, dev/testing, dev/tooling, integration/teamcity, integration/win32_event_log, dev_package, downloader, ddev

#15786 Drop Python 2 support
  ibm_mq/CHANGELOG.md
  ibm_mq/hatch.toml
  ibm_mq/pyproject.toml
  ibm_mq/setup.py
Labels: documentation, integration/ibm_mq

#15697 Add goroutine_by_scheduling_operation metric to kube_scheduler check
  kube_scheduler/CHANGELOG.md
  kube_scheduler/datadog_checks/kube_scheduler/kube_scheduler.py
  kube_scheduler/metadata.csv
  kube_scheduler/tests/common.py
  kube_scheduler/tests/conftest.py
  kube_scheduler/tests/fixtures/metrics_1.26.0.txt
  kube_scheduler/tests/test_kube_scheduler_1_26.py
Labels: documentation, containers, changelog/Added, integration/kube_scheduler, mergequeue-status: removed

#15783 argocd doc update
  argocd/README.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, integration/argocd

#15731 Add support for kube_scheduler SLI metrics
  kube_scheduler/CHANGELOG.md
  kube_scheduler/datadog_checks/kube_scheduler/kube_scheduler.py
  kube_scheduler/datadog_checks/kube_scheduler/sli_metrics.py
  kube_scheduler/hatch.toml
  kube_scheduler/metadata.csv
  kube_scheduler/tests/fixtures/metrics_slis_1.27.3.txt
  kube_scheduler/tests/test_sli_metrics.py
Labels: documentation, containers, changelog/Added, integration/kube_scheduler

#15308 Collect metrics for ArgoCD ApplicationSet
  argocd/CHANGELOG.md
  argocd/assets/configuration/spec.yaml
  argocd/assets/service_checks.json
  argocd/datadog_checks/argocd/check.py
  argocd/datadog_checks/argocd/config_models/instance.py
  argocd/datadog_checks/argocd/data/conf.yaml.example
  argocd/datadog_checks/argocd/metrics.py
  argocd/manifest.json
  argocd/metadata.csv
  argocd/tests/common.py
  argocd/tests/conftest.py
  argocd/tests/fixtures/appset_controller_metrics.txt
  argocd/tests/kind/argocd_install.yaml
  argocd/tests/test_argocd.py
  argocd/tests/test_e2e.py
Labels: documentation, integration/argocd

#15765 [SNMP] Fix mapping for apc-pdu
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/data/default_profiles/apc-pdu.yaml
  snmp/tests/test_e2e_core_profiles/test_profile_apc_pdu.py
Labels: documentation, integration/snmp, changelog/Fixed

#15794 Release kafka_consumer 3.1.3 again
  .in-toto/tag.eabca4ac.link
Labels: changelog/no-changelog

#15763 [DBMON-2435] serialize payload with type bytes in json dumps
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/tests/test_activity.py
Labels: documentation, integration/sqlserver, base_package

#15792 [SQLServer] - Standardize on db tag for database name
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_unit.py
Labels: documentation, integration/sqlserver

#15793 Fix 7.47.x kafka consumer changelog
  kafka_consumer/CHANGELOG.md
Labels: changelog/no-changelog, integration/kafka_consumer

#15799 removed containerized/non-containerized
  openstack/README.md
Labels: documentation, changelog/no-changelog, integration/openstack

#15798 Run all the tests on py3
  win32_event_log/CHANGELOG.md
  win32_event_log/pyproject.toml
Labels: documentation, integration/win32_event_log

#15784 Grant usage to default warehouse to the role DATADOG
  snowflake/README.md
Labels: documentation, changelog/no-changelog, integration/snowflake

#15801 Fix the `Nightly minimum base package test` CI job
  .github/workflows/test-target.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling

#15738 OpenAI update correct model tag name in cost calculation, update pricing doc
  .github/CODEOWNERS
  openai/assets/dashboards/overview_dashboard.json
Labels: changelog/no-changelog, integration/openai

#15802 Assert more metrics
  strimzi/tests/common.py
  strimzi/tests/fixtures/0.34.0/user_operator_metrics.txt
Labels: changelog/no-changelog, qa/skip-qa, integration/strimzi

#15441 Add the Ray integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  ray/CHANGELOG.md
  ray/README.md
  ray/assets/configuration/spec.yaml
  ray/assets/service_checks.json
  ray/datadog_checks/__init__.py
  ray/datadog_checks/ray/__about__.py
  ray/datadog_checks/ray/__init__.py
  ray/datadog_checks/ray/check.py
  ray/datadog_checks/ray/config_models/__init__.py
  ray/datadog_checks/ray/config_models/defaults.py
  ray/datadog_checks/ray/config_models/instance.py
  ray/datadog_checks/ray/config_models/shared.py
  ray/datadog_checks/ray/config_models/validators.py
  ray/datadog_checks/ray/data/conf.yaml.example
  ray/datadog_checks/ray/metrics.py
  ray/hatch.toml
  ray/manifest.json
  ray/metadata.csv
  ray/pyproject.toml
  ray/tests/__init__.py
  ray/tests/common.py
  ray/tests/conftest.py
  ray/tests/docker/call_apis.py
  ray/tests/docker/docker-compose.yaml
  ray/tests/docker/echo_task/main.py
  ray/tests/docker/ping.py
  ray/tests/docker/serve_tasks/__init__.py
  ray/tests/docker/serve_tasks/add.py
  ray/tests/docker/serve_tasks/hello.py
  ray/tests/fixtures/ray_head.txt
  ray/tests/fixtures/ray_worker.txt
  ray/tests/test_e2e.py
  ray/tests/test_integration.py
  ray/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, changelog/Added, integration/ray

#15800 Fixes for SNMP Profiles introduced in 7.48
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/data/default_profiles/_cisco-generic.yaml
  snmp/datadog_checks/snmp/data/default_profiles/_dell-rac.yaml
  snmp/datadog_checks/snmp/data/default_profiles/_generic-ospf.yaml
  snmp/datadog_checks/snmp/data/default_profiles/aruba-wireless-controller.yaml
  snmp/datadog_checks/snmp/data/default_profiles/chatsworth_pdu.yaml
  snmp/datadog_checks/snmp/data/default_profiles/dell-emc-data-domain.yaml
  snmp/datadog_checks/snmp/data/default_profiles/servertech-pdu4.yaml
  snmp/datadog_checks/snmp/data/default_profiles/vertiv-watchdog.yaml
  snmp/metadata.csv
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_profiles/test_profile__cisco_generic.py
  snmp/tests/test_e2e_core_profiles/test_profile__dell_rac.py
  snmp/tests/test_e2e_core_profiles/test_profile_chatsworth_pdu.py
  snmp/tests/test_e2e_core_profiles/test_profile_dell_emc_data_domain.py
  snmp/tests/test_e2e_core_profiles/test_profile_generic_ospf.py
  snmp/tests/test_e2e_core_profiles/test_profile_servertech_pdu4.py
  snmp/tests/test_e2e_core_profiles/test_profile_vertiv_watchdog.py
  snmp/tests/test_e2e_core_vs_python.py
Labels: documentation, integration/snmp

#15810 Update PR #15643 changelog from Changed to Fixed
  snmp/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/snmp

#15811 Fix snmp/CHANGELOG.md for 7.48.x
  snmp/CHANGELOG.md
Labels: changelog/no-changelog

#15807 Add process signatures
  ray/manifest.json
Labels: documentation, changelog/no-changelog, integration/ray

#15812 [Release] Bumped snmp version to 6.2.2
  .in-toto/tag.a7b04961.link
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: documentation, changelog/no-changelog, integration/snmp, release, qa/skip-qa, category/bugfix

#15814 [Release] Bumped snmp version to 6.2.2 (#15812)
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: documentation, changelog/no-changelog, integration/snmp, release, qa/skip-qa

#15822 [Release] Bumped datadog_checks_dev version to 25.0.0
  .in-toto/tag.05916999.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, dev_package

#15824 Bump the `target-version` to python 3.9 for ruff and black
  ddev/CHANGELOG.md
  ddev/pyproject.toml
Labels: documentation, ddev

#15823 Bump the `datadog-checks-dev` version to ~=25
  ddev/CHANGELOG.md
  ddev/pyproject.toml
Labels: documentation, ddev

#15796 Add admission controller library injection widgets to OOTB cluster agent dashboard
  datadog_cluster_agent/assets/dashboards/datadog_cluster_agent_overview.json
Labels: changelog/no-changelog, qa/skip-qa, integration/datadog_cluster_agent

#15804 Add comment for fanSpeedSensorStatus
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/data/default_profiles/checkpoint.yaml
Labels: documentation, integration/snmp, changelog/Fixed

#15826 Update mappings in SNMP profiles
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/data/default_profiles/_dell-rac.yaml
  snmp/datadog_checks/snmp/data/default_profiles/avaya-cajun-switch.yaml
  snmp/datadog_checks/snmp/data/default_profiles/cisco-ucs.yaml
  snmp/tests/test_e2e_core_profiles/test_profile__dell_rac.py
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_ucs.py
Labels: documentation, integration/snmp, changelog/Fixed

#15613 Refactor redundant test code
  scylla/hatch.toml
  scylla/tests/common.py
Labels: changelog/no-changelog, integration/scylla

#15831 [Release] Bumped snmp version to 6.2.3 (#15829)
  requirements-agent-release.txt
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/__about__.py
Labels: documentation, changelog/no-changelog, integration/snmp, release, qa/skip-qa

#15791 Create create-an-integration-recommended-monitor.md
  docs/dev/create-an-integration-recommended-monitor.md
Labels: documentation, changelog/no-changelog, editorial review

#15828 Update manifest.json to add classifier tags
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/manifest.json
Labels: documentation, dev/tooling, dev_package, mergequeue-status: removed

#15817 Update README.md to include examples
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/marketplace/README.md
Labels: documentation, dev/tooling, dev_package, mergequeue-status: waiting

#15815 Fix the `--compat` option of the `test` command
  ddev/CHANGELOG.md
  ddev/src/ddev/cli/test/__init__.py
  ddev/src/ddev/plugin/external/hatch/environment_collector.py
  ddev/tests/cli/test/test_test.py
Labels: documentation, ddev

#15836 Update the Elastic dashboard screenshot
  docs/developer/assets/images/example_full_length.png
Labels: documentation, changelog/no-changelog

#15830 Migrate `ddev dep` to `ddev`
  ddev/CHANGELOG.md
  ddev/src/ddev/cli/__init__.py
  ddev/src/ddev/cli/dep.py
  ddev/src/ddev/integration/core.py
  ddev/src/ddev/utils/fs.py
  ddev/tests/cli/test_dep.py
Labels: documentation, ddev

#15819 [SDBM-579] Unit test to cover missing plan for stored proc with conditional bran…
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_statements.py
Labels: changelog/no-changelog, integration/sqlserver

#15827 Fix mappings in _dell-rac & dell-poweredge
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/data/default_profiles/_dell-rac.yaml
  snmp/datadog_checks/snmp/data/default_profiles/dell-poweredge.yaml
  snmp/tests/test_e2e_core_profiles/test_profile__dell_rac.py
  snmp/tests/test_e2e_core_vs_python.py
Labels: documentation, integration/snmp, changelog/Changed

#15842 Fix docs build
  docs/developer/base/databases.md
  docs/developer/ddev/cli.md
  hatch.toml
Labels: documentation, changelog/no-changelog

#15843 Prepare E2E tooling for better message passing
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/_env.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: documentation, dev_package

#15845 [Release] Bumped datadog_checks_dev version to 25.1.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, dev_package

#15847 Add blog post link to further reading
  temporal/README.md
Labels: documentation, changelog/no-changelog, integration/temporal

#15848 Only enable ddev management commands for standalone binaries
  .github/workflows/build-ddev.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling

#15767 Refactor arista profiles extends
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/data/default_profiles/_arista-metadata.yaml
  snmp/datadog_checks/snmp/data/default_profiles/_arista-queue.yaml
  snmp/datadog_checks/snmp/data/default_profiles/_arista.yaml
  snmp/datadog_checks/snmp/data/default_profiles/arista-switch.yaml
  snmp/datadog_checks/snmp/data/default_profiles/arista.yaml
  snmp/tests/compose/data/arista-switch.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_arista_switch.py
Labels: documentation, integration/snmp, changelog/Changed

#15839 test postgres connection before initializing connection pool
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/connections.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_connections.py
Labels: documentation, integration/postgres

#15859 Revert psycopg3 upgrade in postgres integration
  postgres/CHANGELOG.md
  postgres/assets/configuration/spec.yaml
  postgres/assets/monitors/percent_usage_connections.json
  postgres/assets/monitors/replication_delay.json
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/connections.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/metrics_cache.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/util.py
  postgres/datadog_checks/postgres/version_utils.py
  postgres/pyproject.toml
  postgres/tests/common.py
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/conftest.py
  postgres/tests/test_connections.py
  postgres/tests/test_deadlock.py
  postgres/tests/test_discovery.py
  postgres/tests/test_explain_parameterized_queries.py
  postgres/tests/test_metadata.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
  postgres/tests/test_relations.py
  postgres/tests/test_replication_slot.py
  postgres/tests/test_statements.py
  postgres/tests/test_unit.py
  postgres/tests/utils.py
Labels: documentation, integration/mysql, integration/postgres

#15856 fix changelog from changed to added to avoid major version bump
  postgres/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/postgres

#15832 Document which metrics are emitted in the legacy implementation in `metadata.csv`
  vsphere/metadata.csv
Labels: changelog/no-changelog, integration/vsphere

#15837 Fix Kafka dashboard
  kafka/assets/dashboards/kafka_dashboard.json
Labels: changelog/no-changelog, integration/kafka

#15862 Revert psycopg3 upgrade in postgres integration (#15859)
  postgres/CHANGELOG.md
  postgres/assets/configuration/spec.yaml
  postgres/assets/monitors/percent_usage_connections.json
  postgres/assets/monitors/replication_delay.json
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/connections.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/metrics_cache.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/version_utils.py
  postgres/pyproject.toml
  postgres/tests/common.py
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/conftest.py
  postgres/tests/test_connections.py
  postgres/tests/test_deadlock.py
  postgres/tests/test_discovery.py
  postgres/tests/test_explain_parameterized_queries.py
  postgres/tests/test_metadata.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
  postgres/tests/test_relations.py
  postgres/tests/test_replication_slot.py
  postgres/tests/test_statements.py
  postgres/tests/test_unit.py
  postgres/tests/utils.py
Labels: documentation, integration/postgres, changelog/Fixed, category/bugfix

#15864 Exclude psycopg2 from automatic upgrades
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
Labels: documentation, dev/tooling, dev_package

#15479 Add traps telemetry to NDM Environment dash
  snmp/assets/dashboards/datadog_ndm_environment.json
Labels: changelog/no-changelog, integration/snmp

#15706 Fix kubelet check failing to initialize when `GetKubeUtil` returns an error
  kubelet/CHANGELOG.md
  kubelet/datadog_checks/kubelet/common.py
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/datadog_checks/kubelet/probes.py
  kubelet/datadog_checks/kubelet/prometheus.py
  kubelet/tests/test_kubelet.py
Labels: documentation, containers, integration/kubelet, changelog/Fixed

#15073 DOCS-5309 CockroachDB Integration Edits + Metrics Versioning Organization
  cockroachdb/README.md
Labels: documentation, changelog/no-changelog, integration/cockroachdb, editorial review

#15085 DOCS-5309 GitLab Integration Edits + Metrics Versioning Organization
  gitlab/README.md
Labels: documentation, changelog/no-changelog, integration/gitlab, editorial review

#15232 DOCS-5309 Linkerd Integration Edits
  linkerd/README.md
  linkerd/metadata.csv
Labels: documentation, changelog/no-changelog, integration/linkerd, integration/openmetrics, editorial review

#15235 DOCS-5309 Remove Mention of OpenMetrics V2 in TeamCity and RabbitMQ Integrations
  rabbitmq/README.md
  rabbitmq/metadata.csv
  teamcity/README.md
  teamcity/metadata.csv
Labels: documentation, changelog/no-changelog, integration/rabbitmq, integration/teamcity, editorial review

#15868 [Release] Bumped postgres version to 14.4.0
  .in-toto/tag.a7b04961.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/postgres, release, qa/skip-qa

#15669 DOCS-5309 Cilium Integration Edits
  cilium/README.md
  cilium/assets/configuration/spec.yaml
  cilium/datadog_checks/cilium/data/conf.yaml.example
  cilium/metadata.csv
Labels: documentation, changelog/no-changelog, integration/cilium, editorial review

#15860 Synchronise integrations with logs-backend
  boundary/assets/logs/boundary.yaml
Labels: changelog/no-changelog, integration/boundary

#15865 [Release] Bumped postgres version to 14.3.0 (#15863)
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/postgres, release, qa/skip-qa

#15874 Port postgres v14.4.0 release to master
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/postgres, release, qa/skip-qa

#15851 Build ddev flat package for macOS
  .github/workflows/build-ddev.yml
  ddev/pyoxidizer.bzl
  ddev/pyproject.toml
  ddev/release/README.md
  ddev/release/macos/build_pkg.py
  ddev/release/macos/pkg/distribution.xml
  ddev/release/macos/pkg/resources/icon.png
  docs/developer/.hooks/ddev_version.py
  docs/developer/setup.md
  mkdocs.yml
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, ddev

#15876 [Release] Bumped ddev version to 5.1.0
  .in-toto/tag.c295cf63.link
  ddev/CHANGELOG.md
Labels: documentation, changelog/no-changelog, ddev

#15857 Multiply the lookback interval time by 2.
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_statements.py
Labels: documentation, integration/sqlserver

#15875 [NDM] Comment MIB outside of metrics level
  snmp/datadog_checks/snmp/data/default_profiles/alcatel-lucent-ent.yaml
  snmp/datadog_checks/snmp/data/default_profiles/alcatel-lucent-ind.yaml
  snmp/datadog_checks/snmp/data/default_profiles/juniper-pulse-secure.yaml
Labels: changelog/no-changelog, integration/snmp

#15761 Tomcat: Make JMX metrics available on both standalone and embedded Tomcat versions
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/jmx_metrics.py
  tomcat/CHANGELOG.md
  tomcat/README.md
  tomcat/datadog_checks/tomcat/data/metrics.yaml
Labels: documentation, dev/tooling, integration/tomcat, editorial review, dev_package

#15878 Drop erroneous readme paragraph
  gitlab/README.md
Labels: documentation, changelog/no-changelog, integration/gitlab

#15881 Improve CI failure message
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#15233 DOCS-5309 OpenMetrics Integration Edits
  openmetrics/README.md
Labels: documentation, changelog/no-changelog, integration/openmetrics, editorial review, mergequeue-status: removed

#15045 DOCS-5309 CoreDNS Integration Edits + Metrics Versioning Organization
  coredns/README.md
  coredns/metadata.csv
Labels: documentation, changelog/no-changelog, integration/coredns, editorial review

#15227 DOCS-5309 HAProxy Integration Edits
  haproxy/README.md
  haproxy/metadata.csv
Labels: documentation, changelog/no-changelog, integration/haproxy, editorial review

#15887 Update Dockerfile for airflow test
  airflow/tests/compose/Dockerfile
Labels: changelog/no-changelog, integration/airflow, qa/skip-qa

#15816 Add SQL Server 2022 to test matrix
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/hatch.toml
Labels: documentation, changelog/no-changelog, integration/sqlserver

#15873 [DBMON-2770] Emit metrics for TempDB page counts
  sqlserver/CHANGELOG.md
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
  sqlserver/tests/conftest.py
  sqlserver/tests/test_integration.py
Labels: documentation, integration/sqlserver

#15231 DOCS-5309 Istio Integration Edits
  istio/README.md
  istio/metadata.csv
Labels: documentation, changelog/no-changelog, integration/istio, editorial review

#15879 [DBMON-2772] add tempdb version store performance counters
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/metadata.csv
Labels: documentation, integration/sqlserver

#15889 fix unit
  ray/metadata.csv
Labels: changelog/no-changelog, integration/ray

#15844 Correct codeowner name for openai/langchain integrations
  .github/CODEOWNERS
Labels: changelog/no-changelog

#15892 Add fileSystemVirtualSpace metric for dell-emc-data-domain profile
  snmp/datadog_checks/snmp/data/default_profiles/dell-emc-data-domain.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/dell-emc-data-domain.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_dell_emc_data_domain.py
Labels: changelog/no-changelog, integration/snmp

#15888 RabbitMQ Integration Metric Update
  rabbitmq/metadata.csv
Labels: changelog/no-changelog, integration/rabbitmq

#15893 [Strimzi doc] Kafka consumer + nits
  strimzi/README.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, integration/strimzi, mergequeue-status: removed

#15877 Trigger tests on PRs for JMX metrics.yaml changes
  ddev/CHANGELOG.md
  ddev/src/ddev/utils/scripts/ci_matrix.py
Labels: documentation, integration/tomcat, ddev

#15880 (DOCS-6201) Move official docs to the docs repo
  docs/dev/README.md
  docs/dev/agent_integration.md
  docs/dev/api_integration.md
  docs/dev/check_references.md
  docs/dev/create-an-integration-dashboard.md
  docs/dev/create-an-integration-recommended-monitor.md
  docs/dev/create_a_tile.md
  docs/dev/legacy.md
  docs/dev/log_integration.md
  docs/dev/marketplace_offering.md
  docs/dev/oauth_for_integrations.md
  docs/dev/python.md
Labels: documentation, changelog/no-changelog

#15901 Quick fix to unblock CI
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/pyproject.toml
Labels: documentation, dev_package

#15846 [SQLServer] - Fix buffer cache hit ratio bug
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_unit.py
Labels: documentation, integration/sqlserver

#15903 Set lower log level for relations metrics truncated
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/postgres.py
Labels: documentation, integration/postgres

#15818 Add additional SQL Server performance counter metrics
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
  sqlserver/tests/test_e2e.py
Labels: documentation, integration/sqlserver

#15895 Add page faults metrics in the generic container check doc
  container/metadata.csv
Labels: changelog/no-changelog, integration/container

#15908 Update Cisco model metadata regex
  snmp/CHANGELOG.md
  snmp/datadog_checks/snmp/data/default_profiles/_cisco-metadata.yaml
  snmp/tests/test_e2e_core_metadata.py
Labels: documentation, integration/snmp

#15904 [SQLServer] - Correct namespace for versionstore metrics from Transaction performance counter object
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/metadata.csv
Labels: documentation, integration/sqlserver

#15898 Finalize pytest plugin logic for E2E refactor
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: documentation, dev_package

#15886 Add strimzi log support
  strimzi/manifest.json
Labels: documentation, changelog/no-changelog, integration/strimzi

#15910 [Release] Bumped datadog_checks_dev version to 25.1.1
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, dev_package

#15838 Add Strimzi OOTB Dashboard
  strimzi/assets/dashboards/overview.json
  strimzi/manifest.json
Labels: documentation, changelog/no-changelog, integration/strimzi

#15670 Decouple resource groups and collection type to collect new VM metrics
  vsphere/CHANGELOG.md
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/constants.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/metrics.py
  vsphere/datadog_checks/vsphere/utils.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/fixtures/metrics_historical.json
  vsphere/tests/fixtures/metrics_historical_values.json
  vsphere/tests/test_check.py
Labels: documentation, integration/vsphere

#15915 Fix test output rewrite conditional
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
Labels: documentation, dev_package

#15907 Add `legacy_mode` option to init_config
  win32_event_log/CHANGELOG.md
  win32_event_log/README.md
  win32_event_log/assets/configuration/spec.yaml
  win32_event_log/datadog_checks/win32_event_log/check.py
  win32_event_log/datadog_checks/win32_event_log/config_models/defaults.py
  win32_event_log/datadog_checks/win32_event_log/config_models/shared.py
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
  win32_event_log/tests/legacy/test_win32_integration.py
Labels: documentation, integration/win32_event_log

#15896 Adding check for Postgres Aurora to not collect STAT_WAL_METRICS & WAL_FILE_METRICS
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_pg_integration.py
Labels: documentation, integration/postgres, mergequeue-status: waiting

#15917 Update default configuration for ssl to 'allow'
  postgres/CHANGELOG.md
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: documentation, integration/postgres

#15882 Troubleshooting instructions for clidriver errror
  ibm_db2/README.md
Labels: documentation, changelog/no-changelog, integration/ibm_db2

#15922 Update dependencies for 7.49.x
  amazon_msk/CHANGELOG.md
  amazon_msk/pyproject.toml
  cisco_aci/CHANGELOG.md
  cisco_aci/pyproject.toml
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  http_check/CHANGELOG.md
  http_check/pyproject.toml
  mysql/CHANGELOG.md
  mysql/pyproject.toml
  postgres/CHANGELOG.md
  postgres/pyproject.toml
  redisdb/CHANGELOG.md
  redisdb/pyproject.toml
  tls/CHANGELOG.md
  tls/pyproject.toml
  vertica/CHANGELOG.md
  vertica/pyproject.toml
Labels: documentation, integration/http_check, integration/mysql, integration/pgbouncer, integration/postgres, integration/redisdb, integration/cisco_aci, integration/tls, integration/vertica, integration/amazon_msk, dependencies, base_package

#15919 Upgrade to openstacksdk==1.5.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  openstack_controller/CHANGELOG.md
  openstack_controller/pyproject.toml
Labels: documentation, integration/openstack_controller, dependencies, base_package

#15925 Revise postgresql.replication_delay to Function with Archive WAL-driv…
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/util.py
Labels: documentation, integration/postgres

#15883 Documentation - Fix ArgoCD clashing tag names example
  argocd/README.md
Labels: documentation, changelog/no-changelog, integration/argocd

#15905 Add Index Usage Metrics for SQL Server
  sqlserver/CHANGELOG.md
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/odbc/odbcinst.ini
  sqlserver/tests/test_e2e.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_unit.py
Labels: documentation, integration/sqlserver

#15927 Sy/release ray
  .in-toto/tag.ec45eb9d.link
  ray/CHANGELOG.md
  ray/datadog_checks/ray/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, integration/ray

#15928 Try to make sqlserver tests run faster by setting low coll intervals for DBM jobs
  sqlserver/hatch.toml
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_connection.py
  sqlserver/tests/test_e2e.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_metadata.py
  sqlserver/tests/test_statements.py
  sqlserver/tests/test_stored_procedures.py
Labels: changelog/no-changelog, integration/sqlserver

#15840 [SQLServer] - Improved metrics metadata.csv
  sqlserver/CHANGELOG.md
  sqlserver/metadata.csv
Labels: documentation, changelog/no-changelog, integration/sqlserver

#15899 added link to dbm supported versions
  sqlserver/README.md
Labels: documentation, changelog/no-changelog, integration/sqlserver, editorial review

#15932 Don't abort on `ddev release show changes` when no changes are found
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/show/changes.py
Labels: documentation, dev/tooling, dev_package
