Repository DataDog/integrations-core, pull requests merged in 2023-06, with the labels that each got.

#14660 Fix NGINX overview dashboard
  nginx/assets/dashboards/NGINX-Overview_dashboard.json
Labels: changelog/no-changelog, integration/nginx

#14667 Downgrade an info log to debug
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
Labels: changelog/Fixed, category/feature, base_package

#14672 Bump datadog_checks_base version to 32.3.1
  .in-toto/tag.335b3118.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, base_package

#14651 Add a script to update the ethtool ioctl mock values
  network/tests/common.py
  network/tests/tools/README.md
  network/tests/tools/get_ethtool.py
Labels: changelog/no-changelog, integration/network, qa/skip-qa

#14631 Run CI tests on PRs that do not target master
  .github/workflows/pr.yml
Labels: changelog/no-changelog, dev/tooling, qa/skip-qa

#14666 Update some unit names
  istio/metadata.csv
Labels: changelog/no-changelog, integration/istio, qa/skip-qa

#14630 Mock out httpbin.org responses to fix flaky tests
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
Labels: changelog/no-changelog, base_package

#14648 Make argument explicit to improve clarity
  disk/datadog_checks/disk/disk.py
Labels: changelog/no-changelog, integration/disk

#14601 Add the `jobs_total` metric in the metadata file
  gitlab_runner/metadata.csv
Labels: changelog/no-changelog, integration/gitlab_runner, qa/skip-qa

#14650 [AGENT-9736] Added debug logs
  disk/datadog_checks/disk/disk.py
Labels: integration/disk, changelog/Fixed

#14674 Remove service check that we don't submit from class docstring.
  mongo/datadog_checks/mongo/mongo.py
Labels: changelog/no-changelog, integration/mongo

#14568 Use `non_durable` queues when connecting to IBM Ace and also delete the subscription when disconnecting
  ibm_ace/datadog_checks/ibm_ace/subscription.py
Labels: changelog/Fixed, integration/ibm_ace

#14671 Add Cloudera blog post link
  cloudera/README.md
Labels: documentation, changelog/no-changelog, logs, qa/skip-qa, integration/cloudera

#14647 Remove unused docker-compose files
  elastic/hatch.toml
  elastic/tests/common.py
  elastic/tests/compose/elasticsearch-docker-compose.yaml
  elastic/tests/compose/elasticsearch_0_90.yaml
  elastic/tests/compose/legacy.yaml
  elastic/tests/conftest.py
Labels: changelog/no-changelog, integration/elastic, qa/skip-qa

#14678 [Release] Update metadata
  .in-toto/tag.ec45eb9d.link
  ibm_ace/CHANGELOG.md
  ibm_ace/datadog_checks/ibm_ace/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, integration/ibm_ace

#14677 Mention SLM metrics flag in the docs
  elastic/README.md
Labels: documentation, changelog/no-changelog, integration/elastic

#14645 Add Alias to OAuth for Integrations
  docs/dev/oauth_for_integrations.md
Labels: documentation, changelog/no-changelog

#14617 DOCS-5515 Adds Create a Log Integration Documentation
  docs/dev/log_integration.md
Labels: documentation, changelog/no-changelog, editorial review, qa/skip-qa

#13880 Report per-index disk usage metrics for PostgreSQL
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/metadata.csv
  postgres/tests/test_relations.py
Labels: integration/postgres

#14643 Update minimum base check version for templates
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/pyproject.toml
Labels: dev/tooling, changelog/Added, qa/skip-qa, dev_package

#14495 fix sql-server dbm error in certain environments
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-ha/sql/aoag_secondary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_statements.py
Labels: integration/sqlserver

#14685 Fix some broker topics metrics units
  confluent_platform/metadata.csv
Labels: changelog/no-changelog, integration/confluent_platform

#14632 Add service checks validations
  envoy/tests/test_e2e.py
  envoy/tests/test_integration.py
Labels: changelog/no-changelog, integration/envoy, qa/skip-qa

#14686 Small wording improvements to pytest-equivalent options
  docs/developer/testing.md
Labels: documentation, changelog/no-changelog

#14688 [Release] Bumped datadog_checks_dev version to 19.4.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, release, dev_package

#14681 Rephrase the `--dev` description for the `start` command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Labels: dev/tooling, changelog/Fixed, dev_package

#14599 Update README.md
  nginx/README.md
Labels: documentation, changelog/no-changelog, integration/nginx

#13777 Postgres: Add `postgres.snapshot.{xmin,xmax,xip_count}` metric
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/common.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
Labels: integration/postgres, changelog/Added

#14591 Update service_checks.json
  rabbitmq/assets/service_checks.json
Labels: changelog/no-changelog, integration/rabbitmq

#14633 Test the metadata collection for OMv2
  envoy/tests/common.py
  envoy/tests/conftest.py
  envoy/tests/test_unit.py
Labels: changelog/no-changelog, integration/envoy, qa/skip-qa

#14626 Add debug logs
  mongo/datadog_checks/mongo/collectors/custom_queries.py
  mongo/datadog_checks/mongo/collectors/db_stat.py
  mongo/datadog_checks/mongo/collectors/fsynclock.py
  mongo/datadog_checks/mongo/collectors/replica.py
  mongo/datadog_checks/mongo/collectors/replication_info.py
  mongo/datadog_checks/mongo/collectors/top.py
Labels: integration/mongo, changelog/Fixed

#14692 Disable type checking for integrations that support Python 2
  aerospike/hatch.toml
  azure_iot_edge/hatch.toml
  citrix_hypervisor/hatch.toml
  cloud_foundry_api/hatch.toml
  datadog_checks_base/hatch.toml
  dns_check/hatch.toml
  glusterfs/hatch.toml
  ibm_mq/hatch.toml
  marklogic/hatch.toml
  mysql/hatch.toml
  postgres/hatch.toml
  rethinkdb/hatch.toml
  singlestore/hatch.toml
  snmp/hatch.toml
  snowflake/hatch.toml
  voltdb/hatch.toml
  vsphere/hatch.toml
  wmi_check/hatch.toml
Labels: changelog/no-changelog, integration/dns_check, integration/mysql, integration/postgres, integration/snmp, integration/vsphere, integration/wmi_check, integration/ibm_mq, integration/aerospike, integration/rethinkdb, integration/marklogic, integration/cloud_foundry_api, integration/snowflake, integration/azure_iot_edge, integration/voltdb, integration/glusterfs, integration/citrix_hypervisor, integration/singlestore, base_package

#14697 Bump sqlserver version to 11.2.1
  .in-toto/tag.335b3118.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, changelog/no-changelog, integration/sqlserver, release

#14640 Add test for tag_not_null
  datadog_checks_base/tests/base/utils/db/test_transformers.py
Labels: changelog/no-changelog, dev/tooling, base_package

#14641 Update custom_queries tag types wording
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/db.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
  oracle/datadog_checks/oracle/data/conf.yaml.example
  sap_hana/datadog_checks/sap_hana/data/conf.yaml.example
  singlestore/datadog_checks/singlestore/data/conf.yaml.example
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  teradata/datadog_checks/teradata/data/conf.yaml.example
  vertica/datadog_checks/vertica/data/conf.yaml.example
  voltdb/datadog_checks/voltdb/data/conf.yaml.example
Labels: dev/tooling, integration/mysql, integration/oracle, integration/sqlserver, integration/vertica, integration/sap_hana, integration/clickhouse, integration/snowflake, qa/skip-qa, integration/voltdb, integration/singlestore, integration/teradata, dev_package

#14700 Migrate command to upgrade Python
  ddev/src/ddev/cli/meta/scripts/__init__.py
  ddev/src/ddev/cli/meta/scripts/upgrade_python.py
  ddev/src/ddev/repo/constants.py
  ddev/tests/cli/meta/__init__.py
  ddev/tests/cli/meta/scripts/__init__.py
  ddev/tests/cli/meta/scripts/test_upgrade_python.py
Labels: changelog/Added, ddev

#14679 Bug Fix: Support SQL Server file metrics for Azure SQL DB / MI
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/hatch.toml
  sqlserver/tests/common.py
Labels: integration/sqlserver, changelog/Fixed

#14696 Use correct order in `assert_device_metadata()` assertion
  snmp/tests/test_e2e_core_metadata.py
Labels: changelog/no-changelog, integration/snmp, qa/skip-qa

#14705 Bump sqlserver version to 11.2.2
  .in-toto/tag.335b3118.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, changelog/no-changelog, integration/sqlserver, release

#14704 Use the `driver-env.sh` file instead of `master-params`
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks

#14709 Properly close db connections for metadata check on cancel
  postgres/datadog_checks/postgres/postgres.py
Labels: integration/postgres, changelog/Fixed

#14708 Improve IBM WAS env startup detection to make tests more robust
  ibm_was/tests/conftest.py
Labels: changelog/no-changelog, integration/ibm_was

#14707 Fix labeler
  .github/workflows/changelog-label-check.yml
  .github/workflows/config/labeler.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling

#14698 Drop support for etcd < v3.4
  etcd/assets/configuration/spec.yaml
  etcd/datadog_checks/etcd/config_models/defaults.py
  etcd/datadog_checks/etcd/config_models/instance.py
  etcd/datadog_checks/etcd/data/auto_conf.yaml
  etcd/datadog_checks/etcd/data/conf.yaml.example
  etcd/datadog_checks/etcd/etcd.py
  etcd/hatch.toml
  etcd/tests/common.py
  etcd/tests/conftest.py
  etcd/tests/test_e2e.py
  etcd/tests/test_integration.py
  etcd/tests/utils.py
Labels: documentation, integration/etcd, changelog/Changed

#14699 Handle None return value from RetrievePropertiesEx
  vsphere/datadog_checks/vsphere/api.py
  vsphere/tests/test_check.py
Labels: integration/vsphere, changelog/Fixed

#14702 Fix location of test fixtures for ddev
  ddev/tests/cli/release/test_list_versions.py
  ddev/tests/cli/validate/test_manifest.py
  ddev/tests/cli/validate/test_openmetrics.py
  ddev/tests/conftest.py
  ddev/tests/fixtures/network/list_versions/success_datadog_checks_base.yaml
  ddev/tests/fixtures/network/list_versions/success_disk.yaml
  ddev/tests/fixtures/network/manifest/missing_app_uuid.yaml
  ddev/tests/fixtures/network/manifest/success.yaml
Labels: changelog/Fixed, ddev

#14691 Rtrieu/docs 5530 fix ecs fargate loop
  ecs_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/ecs_fargate

#14662 (DOCS-5575) Clarify MongoDB additional metrics
  mongo/README.md
Labels: documentation, changelog/no-changelog, integration/mongo

#14714 Revert "Capture stderr from docker compose to improve debugging experience" (#13949)
  datadog_checks_dev/datadog_checks/dev/docker.py
Labels: changelog/Fixed, dev_package

#14711 Downgrade requirements to 3.8
  mongo/pyproject.toml
  oracle/pyproject.toml
Labels: integration/mongo, integration/oracle, changelog/Fixed

#14715 [Release] Bumped datadog_checks_dev version to 19.4.1
  .in-toto/tag.a7b04961.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, dev_package

#14713 Update confluent-kafka dependency used in mapr tests
  mapr/hatch.toml
  mapr/tests/conftest.py
Labels: changelog/no-changelog, integration/mapr

#14719 Remove references to Mongo v2.x in instructions
  mongo/README.md
Labels: documentation, changelog/no-changelog, integration/mongo, qa/skip-qa

#14724 Fix the e2e tests
  nfsstat/tests/compose/client/setup.sh
  nfsstat/tests/compose/compose.yaml
Labels: changelog/no-changelog, integration/nfsstat

#14727 Remove US1 link from Kubernetes Dashboard
  kubernetes/assets/dashboards/kubernetes_clusters.json
Labels: changelog/no-changelog, integration/kubernetes

#14731 remove exclusions
  ddev/pyproject.toml
  ddev/src/ddev/cli/release/list_versions/__init__.py
Labels: changelog/no-changelog, ddev

#14717 Make cancel() synchronous in DBMAsyncJob
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
  mysql/tests/test_query_activity.py
  mysql/tests/test_statements.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_statements.py
  postgres/tests/utils.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_statements.py
Labels: integration/mysql, integration/postgres, integration/sqlserver, changelog/Added, base_package

#14716 Try to fix flaky tests
  gitlab/tests/common.py
  gitlab/tests/test_e2e.py
Labels: changelog/no-changelog, integration/gitlab

#14729 Update the expvar port and enable telemetry
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: dev/tooling, changelog/Fixed, dev_package

#14735 Add a condition to the e2e environment
  calico/tests/conftest.py
Labels: changelog/no-changelog, qa/skip-qa, integration/calico

#14730 Fix labeler for ddev
  .github/workflows/config/labeler.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling

#14733 Update DDQA config
  .ddqa/config.toml
Labels: changelog/no-changelog

#14726 Migrate `clean` command
  ddev/src/ddev/cli/__init__.py
  ddev/src/ddev/cli/clean.py
  ddev/tests/cli/clean/__init__.py
  ddev/tests/cli/clean/test_clean.py
Labels: changelog/Added, ddev

#14673 Allow explain plan collection to be configured separately from activity collection in pg agent
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_statements.py
Labels: documentation, integration/postgres, changelog/Added, integration/singlestore

#14741 Uncomment test assertions
  ddev/tests/cli/meta/scripts/test_upgrade_python.py
Labels: changelog/no-changelog, ddev

#14693 Add profile 3com
  snmp/datadog_checks/snmp/data/profiles/3com.yaml
  snmp/tests/compose/data/3com.snmprec
  snmp/tests/test_e2e_core_profiles/README.md
  snmp/tests/test_e2e_core_profiles/__init__.py
  snmp/tests/test_e2e_core_profiles/test_profile_3com.py
  snmp/tests/test_e2e_core_profiles/utils.py
Labels: dev/tooling, integration/snmp, changelog/Added, dev_package

#14732 Add offline client lib install directions
  ibm_db2/README.md
Labels: documentation, changelog/no-changelog, integration/ibm_db2

#14675 Bump snowflake connector python to 3.0.4
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  snowflake/pyproject.toml
Labels: changelog/Fixed, dependencies, integration/snowflake, base_package

#14564 [SNMP] Add Datadog NDM Environment dashboard
  snmp/assets/dashboards/datadog_ndm_environment.json
  snmp/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp

#14743 Sy/strimzi proc sigs
  strimzi/manifest.json
Labels: documentation, changelog/no-changelog, integration/strimzi

#14670 Update requests library
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: changelog/Fixed, dependencies, base_package

#13725 PG: Add metrics for wal files: count, size and age
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/common.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
  postgres/tests/test_unit.py
Labels: documentation, integration/postgres, changelog/Added

#14748 Update requests-toolbelt version
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: changelog/Fixed, dependencies, base_package

#14326 Add the strimzi integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  strimzi/CHANGELOG.md
  strimzi/README.md
  strimzi/assets/configuration/spec.yaml
  strimzi/assets/service_checks.json
  strimzi/datadog_checks/__init__.py
  strimzi/datadog_checks/strimzi/__about__.py
  strimzi/datadog_checks/strimzi/__init__.py
  strimzi/datadog_checks/strimzi/check.py
  strimzi/datadog_checks/strimzi/config_models/__init__.py
  strimzi/datadog_checks/strimzi/config_models/defaults.py
  strimzi/datadog_checks/strimzi/config_models/instance.py
  strimzi/datadog_checks/strimzi/config_models/shared.py
  strimzi/datadog_checks/strimzi/config_models/validators.py
  strimzi/datadog_checks/strimzi/data/conf.yaml.example
  strimzi/datadog_checks/strimzi/metrics.py
  strimzi/hatch.toml
  strimzi/manifest.json
  strimzi/metadata.csv
  strimzi/pyproject.toml
  strimzi/tests/README.md
  strimzi/tests/__init__.py
  strimzi/tests/common.py
  strimzi/tests/conftest.py
  strimzi/tests/fixtures/0.34.0/cluster_operator_metrics.txt
  strimzi/tests/fixtures/0.34.0/topic_operator_metrics.txt
  strimzi/tests/fixtures/0.34.0/user_operator_metrics.txt
  strimzi/tests/kind/0.34.0/connect.yaml
  strimzi/tests/kind/0.34.0/connectors.yaml
  strimzi/tests/kind/0.34.0/kafka.yaml
  strimzi/tests/kind/0.34.0/strimzi_install.yaml
  strimzi/tests/kind/0.34.0/topic.yaml
  strimzi/tests/kind/0.34.0/user.yaml
  strimzi/tests/test_e2e.py
  strimzi/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, changelog/Added, editorial review, integration/strimzi

#14751 [kube_apiserver_metrics] Rename aggregator_unavailable_apiservice `name` tag to `apiservice_name` (#14738)
  Dockerfile
  kube_apiserver_metrics/assets/dashboards/overview.json
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_19.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_23.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_24.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_25.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_26.py
Labels: changelog/Fixed, integration/kube_apiserver_metrics

#14683 Restore the test case with SQL comment
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-ha/sql/aoag_secondary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_statements.py
Labels: changelog/no-changelog, integration/sqlserver, qa/skip-qa

#14754 [Release] Bumped kube_apiserver_metrics version to 3.6.1
  kube_apiserver_metrics/CHANGELOG.md
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/kube_apiserver_metrics, qa/skip-qa

#14756 Drop an unused file
  Dockerfile
Labels: changelog/no-changelog

#14758 Add scale factor to doc
  docs/developer/tutorials/snmp/profile-format.md
Labels: documentation, changelog/no-changelog

#13768 Add `postgresql.wal.*` metrics from `pg_stat_wal`
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/common.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
Labels: integration/postgres, changelog/Added

#14759 Add metrics for timeline id and checkpoint delay
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/common.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
Labels: integration/postgres, changelog/Added

#14767 Update the license field
  strimzi/pyproject.toml
Labels: changelog/no-changelog, integration/strimzi

#14682 [NDM] SNMP Trap recommended monitor
  snmp/assets/monitors/traps_linkDown.json
  snmp/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp

#14625 Add new performance counter metrics
  vsphere/datadog_checks/vsphere/metrics.py
  vsphere/metadata.csv
  vsphere/tests/fixtures/metrics_historical.json
  vsphere/tests/fixtures/metrics_historical_values.json
  vsphere/tests/fixtures/metrics_realtime.json
  vsphere/tests/fixtures/metrics_realtime_values.json
Labels: integration/vsphere, changelog/Added

#14773 Move cancel waiting logic to test functions for DBMAsyncJob
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
  mysql/tests/test_query_activity.py
  mysql/tests/test_statements.py
  postgres/tests/utils.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_statements.py
Labels: integration/mysql, integration/postgres, integration/sqlserver, changelog/Fixed, base_package

#14556 Add validations for removed dependencies
  .ddev/ci/scripts/ddev/linux/60_set_github_env_vars.sh
  .ddev/ci/scripts/ddev/windows/60_set_github_env_vars.bat
  .ddev/config.toml
  .github/workflows/test-target.yml
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
  ddev/src/ddev/cli/validate/__init__.py
  ddev/src/ddev/cli/validate/licenses.py
  ddev/src/ddev/repo/core.py
  ddev/src/ddev/utils/toml.py
  ddev/tests/cli/config/test_show.py
  ddev/tests/cli/validate/test_licenses.py
  ddev/tests/conftest.py
Labels: dev/testing, dev/tooling, changelog/Added, dev_package, ddev

#14746 DOCS-5656 gke setup links to operator/helm
  gke/README.md
Labels: documentation, changelog/no-changelog, integration/gke

#14736 Add DBM Oracle dashboard
  oracle/assets/dashboards/dbm_oracle_database_overview.json
  oracle/manifest.json
Labels: documentation, changelog/no-changelog, integration/oracle

#14768 Internally compile the `include` patterns in the autodiscovery feature
  datadog_checks_base/datadog_checks/base/utils/discovery/filter.py
  datadog_checks_base/tests/base/utils/discovery/test_discovery.py
Labels: changelog/Added, base_package

#14779 Upgrade Pydantic model code generator
  active_directory/datadog_checks/active_directory/config_models/instance.py
  aspdotnet/datadog_checks/aspdotnet/config_models/instance.py
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/consumers/model/model_consumer.py
  datadog_checks_dev/pyproject.toml
  ddev/pyproject.toml
  dotnetclr/datadog_checks/dotnetclr/config_models/instance.py
  exchange_server/datadog_checks/exchange_server/config_models/instance.py
  hyperv/datadog_checks/hyperv/config_models/instance.py
  iis/datadog_checks/iis/config_models/instance.py
  kubelet/assets/configuration/spec.yaml
  kubelet/datadog_checks/kubelet/config_models/__init__.py
  kubelet/datadog_checks/kubelet/config_models/defaults.py
  kubelet/datadog_checks/kubelet/config_models/instance.py
  kubelet/datadog_checks/kubelet/config_models/shared.py
  kubelet/datadog_checks/kubelet/config_models/validators.py
  kubelet/datadog_checks/kubelet/data/conf.yaml.default
  kubelet/datadog_checks/kubelet/data/conf.yaml.example
  windows_performance_counters/datadog_checks/windows_performance_counters/config_models/instance.py
Labels: documentation, dev/tooling, integration/active_directory, integration/aspdotnet, integration/dotnetclr, integration/exchange_server, integration/iis, integration/kubelet, changelog/Added, integration/hyperv, integration/windows_performance_counters, dev_package, ddev

#14782 Remove `pyperclip` dependency and clipboard functionality
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/prometheus.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/scripts/metrics2md.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/status.py
  datadog_checks_dev/pyproject.toml
  ddev/pyproject.toml
  ddev/src/ddev/cli/config/__init__.py
  ddev/tests/cli/config/test_find.py
Labels: dev/tooling, changelog/Changed, dev_package, ddev

#14784 [Release] Bumped datadog_checks_dev version to 20.0.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, dev_package

#14785 Bump the minimum version of datadog-checks-dev
  ddev/pyproject.toml
  ddev/src/ddev/cli/clean/__init__.py
Labels: changelog/Added, ddev

#14783 Update license path for ddev binary builds
  .github/workflows/build-ddev.yml
  ddev/pyoxidizer.bzl
Labels: changelog/no-changelog, dev/testing, dev/tooling, ddev

#14433 Allow all projects to be collected in REST implementation
  teamcity/datadog_checks/teamcity/teamcity_rest.py
  teamcity/tests/common.py
  teamcity/tests/test_e2e.py
Labels: integration/teamcity, changelog/Fixed

#14500 Rewrite Postgres size query and add `postgresql.relation.{tuples,pages,all_visible}` + toast_size metrics
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/metadata.csv
  postgres/pyproject.toml
  postgres/tests/common.py
  postgres/tests/compose/resources/02_setup.sh
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/test_relations.py
  postgres/tests/test_relationsmanager.py
  postgres/tests/utils.py
Labels: integration/postgres, changelog/Added, base_package

#14793 Temporarily disable py2 tests on PRs
  .github/workflows/pr-all.yml
  .github/workflows/pr-test.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling

#14794 Update Netflow dashboard
  snmp/assets/dashboards/netflow_monitoring.json
  snmp/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp

#14766 Remove Content from Legacy README
  docs/README.md
Labels: documentation, changelog/no-changelog, editorial review

#14657 Add ability to choose tag to append to VM hostname
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/config_models/defaults.py
  vsphere/datadog_checks/vsphere/config_models/instance.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_check.py
Labels: documentation, integration/vsphere, changelog/Added

#14790 Fix ability to release ddev
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/make.py
  datadog_checks_dev/datadog_checks/dev/tooling/release.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
Labels: dev/tooling, changelog/Fixed, dev_package

#14610 Disable server info and version collection when collect_server_info is false
  envoy/datadog_checks/envoy/check.py
  envoy/tests/test_unit.py
Labels: integration/envoy, changelog/Fixed

#14806 [Release] Bumped datadog_checks_dev version to 20.0.1
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, dev_package

#14807 [Release] Bumped ddev version to 3.0.0
  .in-toto/tag.c295cf63.link
  ddev/CHANGELOG.md
Labels: documentation, changelog/no-changelog, ddev

#14808 Fix build flake for ddev
  .github/workflows/build-ddev.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling

#14812 Fix ddev platform installers and releasing
  .github/workflows/build-ddev.yml
  .github/workflows/release-ddev.yml
  ddev/pyoxidizer.bzl
Labels: changelog/no-changelog, dev/testing, dev/tooling, ddev

#14813 Require Python 3 for Postgres integration
  postgres/pyproject.toml
Labels: integration/postgres, changelog/Added

#14810 Update changelog generation to use a better formatting
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/changelog.py
Labels: dev/tooling, changelog/Added, dev_package

#14804 Set the `marker` option to `not e2e` by default
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: dev/tooling, changelog/Fixed, dev_package

#14771 Add profile for hp-ilo
  snmp/datadog_checks/snmp/data/default_profiles/hp-ilo.yaml
  snmp/datadog_checks/snmp/data/default_profiles/hp-ilo4.yaml
  snmp/tests/compose/data/hp-ilo.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_hp_ilo.py
Labels: integration/snmp, changelog/Added

#14695 Update profiles with missing devices
  snmp/datadog_checks/snmp/data/default_profiles/cisco-asr.yaml
  snmp/datadog_checks/snmp/data/default_profiles/cisco-catalyst-wlc.yaml
  snmp/datadog_checks/snmp/data/default_profiles/cisco-catalyst.yaml
  snmp/datadog_checks/snmp/data/default_profiles/cisco-isr.yaml
  snmp/datadog_checks/snmp/data/default_profiles/cisco-legacy-wlc.yaml
  snmp/datadog_checks/snmp/data/default_profiles/cisco-nexus.yaml
  snmp/datadog_checks/snmp/data/default_profiles/dell-poweredge.yaml
  snmp/datadog_checks/snmp/data/default_profiles/juniper-ex.yaml
  snmp/datadog_checks/snmp/data/default_profiles/juniper-mx.yaml
Labels: integration/snmp, changelog/Added

#14694 Add profile 3com-huawei
  snmp/datadog_checks/snmp/data/default_profiles/3com-huawei.yaml
  snmp/tests/compose/data/3com-huawei.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_3com_huawei.py
Labels: integration/snmp, changelog/Added

#14815 Revert "Set the `marker` option to `not e2e` by default (#14804)"
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: dev/tooling, changelog/Fixed, dev_package

#14816 Sort assert_device_metadata tags
  snmp/tests/test_e2e_core_metadata.py
Labels: changelog/no-changelog, integration/snmp

#14721 Add per vendor generic profiles
  snmp/datadog_checks/snmp/data/default_profiles/cisco.yaml
  snmp/datadog_checks/snmp/data/default_profiles/dell.yaml
  snmp/datadog_checks/snmp/data/default_profiles/fortinet.yaml
  snmp/datadog_checks/snmp/data/default_profiles/juniper.yaml
  snmp/tests/compose/data/cisco.snmprec
  snmp/tests/compose/data/dell.snmprec
  snmp/tests/compose/data/fortinet-appliance.snmprec
  snmp/tests/compose/data/fortinet-fortiswitch.snmprec
  snmp/tests/compose/data/juniper-variation.snmprec
  snmp/tests/compose/data/juniper.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_cisco.py
  snmp/tests/test_e2e_core_profiles/test_profile_dell.py
  snmp/tests/test_e2e_core_profiles/test_profile_fortinet.py
  snmp/tests/test_e2e_core_profiles/test_profile_juniper.py
  snmp/tests/test_e2e_core_profiles/utils.py
Labels: integration/snmp, changelog/Added

#14814 Update formatting for changelogs
  active_directory/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/active_directory

#14786 Add limited pool + LRU cache to MultiDatabaseConnectionPool
  postgres/datadog_checks/postgres/connections.py
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_connections.py
Labels: integration/postgres, changelog/Added

#14803 Fix version parsing of version strings with an edition suffix
  postgres/datadog_checks/postgres/version_utils.py
  postgres/tests/test_version_utils.py
Labels: integration/postgres, changelog/Fixed

#14201 [ceph] Add OSD metadata tags
  ceph/datadog_checks/ceph/ceph.py
  ceph/tests/fixtures/raw.json
  ceph/tests/fixtures/raw2.json
  ceph/tests/test_unit.py
Labels: integration/ceph, changelog/Added

#14634 Add metric conntrack_allowance_available from Amazon ENA driver
  network/datadog_checks/network/const.py
  network/metadata.csv
  network/tests/common.py
  network/tests/test_ethtool.py
Labels: integration/network, changelog/Added

#14823 Refactor hp-ilo profile vendor
  snmp/datadog_checks/snmp/data/default_profiles/hp-ilo.yaml
  snmp/tests/test_e2e_core_profiles/test_profile_hp_ilo.py
Labels: integration/snmp, changelog/Fixed

#14818 Add python vs core test for user profiles feature
  snmp/tests/fixtures/user_profiles/apc_ups_user.yaml
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_vs_python.py
Labels: changelog/no-changelog, integration/snmp, qa/skip-qa

#14821 Add pluggy to ddev dependencies
  ddev/pyproject.toml
Labels: changelog/Added, ddev

#14825 Update remaining links to pods dashboard from kubernetes dashboards
  datadog_operator/assets/dashboards/operator_overview.json
  kubernetes/assets/dashboards/kubernetes_clusters.json
  kubernetes/assets/dashboards/kubernetes_dashboard.json
Labels: changelog/no-changelog, integration/kubernetes, integration/datadog_operator

#14838 Add Git utilities
  ddev/src/ddev/utils/git.py
  ddev/tests/conftest.py
  ddev/tests/utils/test_git.py
Labels: changelog/Added, ddev

#14836 Reorder changelogs by priority
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
Labels: dev/tooling, changelog/Changed, dev_package

#14837 Remove ddev script from datadog_checks_dev
  datadog_checks_dev/pyproject.toml
Labels: changelog/Removed, dev_package

#14844 Update Gitlab pipelines
  .gitlab/tagger/Dockerfile
Labels: changelog/no-changelog, dev/tooling

#14854 Fix CI
  .github/workflows/cache-shared-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling

#14764 Add Containerized Instructions to Cassandra Log Collection Section
  cassandra/README.md
Labels: documentation, changelog/no-changelog, integration/cassandra

#14809 Test corecheck for extending default profile with same name
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/fixtures/user_profiles/palo-alto.yaml
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_metadata.py
  snmp/tests/test_e2e_core_vs_python.py
Labels: changelog/no-changelog, integration/snmp

#14760 Switch from a python boolean to a string integer to enable DD_TELEMETRY_ENABLED
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: dev/tooling, changelog/Fixed, dev_package

#14861 Remove [cli]
  .gitlab/tagger/Dockerfile
Labels: changelog/no-changelog, dev/tooling

#14863 Replace datadog-checks-dev with ddev in tagger-image-builder
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#14864 Build ddev in separate image for tagger
  .gitlab/tagger/Dockerfile
Labels: changelog/no-changelog, dev/tooling

#14853 Update formatting for changelogs
  avi_vantage/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/avi_vantage

#14852 Update formatting for changelogs
  aspdotnet/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/aspdotnet

#14851 Update formatting for changelogs
  argocd/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/argocd

#14850 Update formatting for changelogs
  arangodb/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/arangodb

#14849 Update formatting for changelogs
  apache/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/apache

#14848 Update formatting for changelogs
  ambari/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/ambari

#14847 Update formatting for changelogs
  amazon_msk/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/amazon_msk

#14843 Update formatting for changelogs
  airflow/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/airflow

#14842 Update formatting for changelogs
  activemq_xml/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/activemq_xml

#14841 Update formatting for changelogs
  aerospike/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/aerospike

#14840 Update formatting for changelogs
  activemq/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/activemq

#14839 Update formatting for changelogs
  azure_iot_edge/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/azure_iot_edge

#14865 Update version of datadog-checks-dev
  ddev/pyproject.toml
Labels: changelog/Added, ddev

#14867 [Release] Update metadata
  .in-toto/tag.eabca4ac.link
Labels: changelog/no-changelog

#14866 [Release] Bumped ddev version to 3.1.0
  .in-toto/tag.c295cf63.link
  ddev/CHANGELOG.md
Labels: documentation, changelog/no-changelog, ddev
