Repository DataDog/integrations-core, pull requests merged in 2023-03, with the labels that each got.

#14053 Declare OpenMetrics service check in metadata
  rabbitmq/assets/service_checks.json
  rabbitmq/tests/test_openmetrics.py
Labels: changelog/no-changelog, integration/rabbitmq

#14058 Add process and runtime to allowed prefixes
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: dev/tooling, changelog/Added, integration/datadog_checks_dev, dev_package

#14063 [Release] Bumped datadog_checks_dev version to 17.9.0
  .in-toto/tag.eabca4ac.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, dev_package

#14064 Bump datadog_checks_dev dependency version
  ddev/pyproject.toml
Labels: changelog/Fixed, qa/skip-qa, ddev

#14060 Bump couchbase 6 docker image
  couchbase/hatch.toml
Labels: changelog/no-changelog, integration/couchbase

#14065 Add OpenMetrics description to metrics shared with Mgmt CLI
  rabbitmq/metadata.csv
Labels: changelog/no-changelog, integration/rabbitmq

#14047 Add Cisco Catalyst 9200 Series Switches to cisco-catalyst profile
  snmp/datadog_checks/snmp/data/profiles/cisco-catalyst.yaml
Labels: changelog/no-changelog, integration/snmp

#14067 [Release] Bumped ddev version to 1.4.3
  .in-toto/tag.eabca4ac.link
  ddev/CHANGELOG.md
  ddev/src/ddev/__about__.py
Labels: documentation, changelog/Fixed, ddev

#13933 Add metadata for OTel Go runtime metrics
  otel/metadata.csv
Labels: documentation, changelog/no-changelog, integration/otel

#14073 Bump dependency `snowflake-connector-python` to 3.0.1
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  snowflake/pyproject.toml
Labels: changelog/Added, dependencies, integration/snowflake, base_package

#14044 Add `{include,exclude}_metrics` to legacy Envoy check
  envoy/datadog_checks/envoy/envoy.py
  envoy/tests/legacy/common.py
  envoy/tests/legacy/test_envoy.py
Labels: changelog/no-changelog, integration/envoy

#14070 increase linux pipeline test time limit to match windows
  .azure-pipelines/templates/test-single-linux.yml
Labels: changelog/no-changelog, dev/testing

#14051 Fix the metadata file
  disk/metadata.csv
  disk/tests/test_check.py
  disk/tests/test_unit.py
Labels: changelog/no-changelog, integration/disk

#14062 Update e2e to handle new interface speed metrics
  snmp/tests/metrics.py
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_e2e_snmp_listener.py
Labels: changelog/no-changelog, integration/snmp

#14082 Backport releases
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: documentation, changelog/no-changelog, release, integration/snowflake, base_package

#14088 Add missing metrics
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/common.py
Labels: integration/envoy, changelog/Fixed

#14042 Update wording of exact_match
  process/assets/configuration/spec.yaml
  process/datadog_checks/process/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/process

#14071 Clean up README
  cloudera/README.md
Labels: documentation, changelog/no-changelog, integration/cloudera

#14061 fix: add missing metrics `kube_deployment_status_replicas_ready` and `kube_horizontalpodautoscaler_status_target_metric`
  kubernetes_state_core/metadata.csv
Labels: changelog/Fixed, integration/kubernetes_state_core

#14076 Add confluent_kafka dependency
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  kafka_consumer/pyproject.toml
Labels: integration/kafka_consumer, changelog/Added, dependencies, base_package

#14072 Standardize log messages
  openstack_controller/datadog_checks/openstack_controller/api.py
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
Labels: changelog/Fixed, integration/openstack_controller

#14057 Add tests for invalid configurations
  openstack_controller/tests/common.py
  openstack_controller/tests/fixtures/openstack_bad_config.yaml
  openstack_controller/tests/test_config.py
Labels: changelog/no-changelog, integration/openstack_controller, qa/skip-qa

#14033 Lower the frequency of query metrics collection
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_high_cardinality.py
Labels: documentation, integration/sqlserver, changelog/Changed

#14092 [DBM-1862] add resolved_hostname to metadata to mysql, postgres
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/conftest.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_pg_integration.py
Labels: integration/mysql, integration/postgres, changelog/Added

#14093 Update kubernetes and supervisor dependencies
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  supervisord/pyproject.toml
Labels: integration/supervisord, changelog/Added, dependencies, base_package

#14090 Rename speed_source tag value from `snmp` to `device`
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_snmp_listener.py
Labels: changelog/no-changelog, integration/snmp

#14077 Pass consumer offsets into highwater offsets
  kafka_consumer/datadog_checks/kafka_consumer/client/generic_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/kafka_python_client.py
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: integration/kafka_consumer, changelog/Added

#14078 Create Kafka client for confluent lib
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/config.py
Labels: integration/kafka_consumer

#14095 Remove collect_broker_version
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/generic_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/kafka_python_client.py
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/python_client/test_integration.py
Labels: integration/kafka_consumer, changelog/Removed

#14102 Display Cloudera integration on public website
  cloudera/manifest.json
Labels: documentation, changelog/no-changelog, integration/cloudera

#14097 Release all integrations
  .in-toto/tag.c295cf63.link
  amazon_msk/CHANGELOG.md
  amazon_msk/datadog_checks/amazon_msk/__about__.py
  cloudera/CHANGELOG.md
  cloudera/datadog_checks/cloudera/__about__.py
  cockroachdb/CHANGELOG.md
  cockroachdb/datadog_checks/cockroachdb/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
  datadog_cluster_agent/CHANGELOG.md
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/__about__.py
  envoy/CHANGELOG.md
  envoy/datadog_checks/envoy/__about__.py
  haproxy/CHANGELOG.md
  haproxy/datadog_checks/haproxy/__about__.py
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  iis/CHANGELOG.md
  iis/datadog_checks/iis/__about__.py
  istio/CHANGELOG.md
  istio/datadog_checks/istio/__about__.py
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  kube_apiserver_metrics/CHANGELOG.md
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/__about__.py
  mcache/CHANGELOG.md
  mcache/datadog_checks/mcache/__about__.py
  mongo/CHANGELOG.md
  mongo/datadog_checks/mongo/__about__.py
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  openstack_controller/CHANGELOG.md
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  rabbitmq/CHANGELOG.md
  rabbitmq/datadog_checks/rabbitmq/__about__.py
  requirements-agent-release.txt
  silk/CHANGELOG.md
  silk/datadog_checks/silk/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
  supervisord/CHANGELOG.md
  supervisord/datadog_checks/supervisord/__about__.py
Labels: documentation, changelog/no-changelog, integration/http_check, integration/envoy, integration/haproxy, integration/iis, integration/istio, integration/kafka_consumer, integration/mcache, integration/mongo, integration/mysql, integration/postgres, integration/rabbitmq, integration/sqlserver, integration/supervisord, integration/cockroachdb, integration/openstack_controller, integration/kube_apiserver_metrics, integration/amazon_msk, release, integration/snowflake, integration/datadog_cluster_agent, integration/silk, base_package, downloader, integration/cloudera

#14081 Convert warning to debug log
  directory/datadog_checks/directory/directory.py
Labels: integration/directory, changelog/Fixed

#14107 [Release] Bumped directory version to 1.14.1
  .in-toto/tag.c295cf63.link
  directory/CHANGELOG.md
  directory/datadog_checks/directory/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/directory, release

#14085 Readme: updates and clarifications before public launch
  rabbitmq/README.md
  rabbitmq/assets/configuration/spec.yaml
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
  rabbitmq/images/rabbitmq_dashboard.png
Labels: documentation, changelog/no-changelog, integration/rabbitmq

#14103 Implement reset_offsets
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/generic_kafka_client.py
Labels: integration/kafka_consumer

#14079 Implement get_partitions_for_topic
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/generic_kafka_client.py
Labels: integration/kafka_consumer

#14112 Fix autodiscovery config instances
  rabbitmq/assets/configuration/spec.yaml
  rabbitmq/datadog_checks/rabbitmq/data/auto_conf.yaml
Labels: documentation, integration/rabbitmq, changelog/Fixed

#14116 Release for the next RC
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  openstack_controller/CHANGELOG.md
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  rabbitmq/CHANGELOG.md
  rabbitmq/datadog_checks/rabbitmq/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/rabbitmq, integration/openstack_controller, release, base_package

#14080 Implement get_consumer_offsets and get_consumer_offsets_dict
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/generic_kafka_client.py
Labels: integration/kafka_consumer

#14115 Do not double emit instance metrics when autodiscovery is enabled
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/common.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_unit.py
Labels: integration/sqlserver, changelog/Fixed

#14123 [Release] Bumped sqlserver version to 11.0.1
  .in-toto/tag.c295cf63.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, changelog/no-changelog, integration/sqlserver, release

#14122 Use confluent-kafka during the test setup
  kafka_consumer/tests/conftest.py
  kafka_consumer/tests/runners.py
Labels: changelog/no-changelog, integration/kafka_consumer

#14094 Implement get_highwater_offsets and get_highwater_offsets_dict
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/generic_kafka_client.py
  kafka_consumer/tests/python_client/test_unit.py
Labels: integration/kafka_consumer, changelog/Added

#14135 Modify the hatch environment to support several authentication method
  kafka_consumer/hatch.toml
  kafka_consumer/tests/common.py
  kafka_consumer/tests/docker/noauth/docker-compose.yaml
Labels: integration/kafka_consumer, changelog/Fixed

#14108 Fix typo in .gitlab-ci.yml
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling

#14098 Update the macOS classifier
  datadog_checks_dev/tests/tooling/manifest_validator/input_constants.py
Labels: changelog/no-changelog, dev_package

#14084 Update the dashboard
  teamcity/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/teamcity

#14083 Update the dashboard
  cockroachdb/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/cockroachdb

#14059 Update the troubleshooting section
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks

#14118 Explicitly set the hostname on workers
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks

#14140 Change ddev test env names
  zk/hatch.toml
Labels: changelog/no-changelog, integration/zk, qa/skip-qa

#14146 [DBM-2204] mysql: set self._check instance variables to make tracking work
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
Labels: changelog/Fixed

#13835 Update mcache doc
  mcache/README.md
Labels: documentation, changelog/no-changelog, integration/mcache

#14145 Remove some unused functions
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/generic_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/kafka_client.py
Labels: integration/kafka_consumer, changelog/Fixed

#14144 Update all the tests to use the `kafka_instance` instead of a custom one
  kafka_consumer/tests/python_client/__init__.py
  kafka_consumer/tests/python_client/test_integration.py
  kafka_consumer/tests/test_e2e.py
  kafka_consumer/tests/test_integration.py
  kafka_consumer/tests/test_unit.py
Labels: changelog/no-changelog, integration/kafka_consumer

#14152 Implement the `request_metadata_update` method
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/generic_kafka_client.py
Labels: integration/kafka_consumer, changelog/Added

#14074 DOCS-4971 Batch Cleanup Deprecated Classifier Tag
  docs/dev/new_check_howto.md
  kubernetes_state_core/manifest.json
Labels: documentation, changelog/no-changelog, integration/kubernetes_state_core, dev_package

#14160 Add deprecation notice to relmetrics module
  postgres/datadog_checks/postgres/relationsmanager.py
Labels: changelog/no-changelog, integration/postgres

#14161 Update README.md
  avi_vantage/README.md
Labels: documentation, changelog/no-changelog, integration/avi_vantage

#14149 Remove the `get_dict` methods from the clients
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/generic_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/client/kafka_python_client.py
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_unit.py
Labels: integration/kafka_consumer, changelog/Fixed

#13747 fix `iis.*_up` service check when configured using a mapping
  iis/datadog_checks/iis/check.py
Labels: integration/iis, changelog/Fixed

#14167 Remove metric limit for Avi Vantage
  avi_vantage/README.md
  avi_vantage/datadog_checks/avi_vantage/check.py
Labels: documentation, changelog/Fixed, integration/avi_vantage

#14089 Add interface speed metrics to metadata.csv and config to example.conf.yaml
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/metadata.csv
Labels: documentation, changelog/no-changelog, integration/snmp

#14026 add long execution description to cisco aci readme
  cisco_aci/README.md
Labels: documentation, changelog/no-changelog, integration/cisco_aci

#13723 Add new sessions metrics from PG14
  postgres/datadog_checks/postgres/metrics_cache.py
  postgres/datadog_checks/postgres/util.py
  postgres/datadog_checks/postgres/version_utils.py
  postgres/metadata.csv
  postgres/tests/common.py
  postgres/tests/test_pg_integration.py
  postgres/tests/utils.py
Labels: integration/postgres, changelog/Added

#14157 Update Elastic Search Doc to reflect use of other privileges
  elastic/README.md
Labels: documentation, changelog/no-changelog, integration/elastic

#14164 Reduce the number of idle connections opened when running explain plans across databases
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/connections.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/common.py
  postgres/tests/compose/resources/01_postgres.sql
  postgres/tests/test_connections.py
  postgres/tests/test_pg_integration.py
Labels: documentation, integration/postgres, changelog/Fixed

#14179 Move CI setup scripts to a provider-agnostic location
  .ddev/ci/scripts/activemq/linux/50_increase_docker_memory.sh
  .ddev/ci/scripts/cacti/linux/55_install_rrdtool.sh
  .ddev/ci/scripts/cacti/linux/60_stop_mysql.sh
  .ddev/ci/scripts/cilium/linux/50_increase_docker_memory.sh
  .ddev/ci/scripts/datadog_checks_base/linux/55_install_kerberos.sh
  .ddev/ci/scripts/elastic/linux/32_install_kerberos.sh
  .ddev/ci/scripts/elastic/linux/55_increase_docker_memory.sh
  .ddev/ci/scripts/foundationdb/linux/55_install_client.sh
  .ddev/ci/scripts/ibm_ace/linux/55_install_client.sh
  .ddev/ci/scripts/ibm_ace/windows/55_install_ibm_mq_client.py
  .ddev/ci/scripts/ibm_mq/linux/55_install_client.sh
  .ddev/ci/scripts/ibm_mq/windows/55_install_ibm_mq_client.py
  .ddev/ci/scripts/kafka_consumer/linux/32_install_kerberos.sh
  .ddev/ci/scripts/mapreduce/linux/50_increase_docker_memory.sh
  .ddev/ci/scripts/oracle/linux/55_docker_login.sh
  .ddev/ci/scripts/sap_hana/linux/50_set_up_sysctl.sh
  .ddev/ci/scripts/sap_hana/linux/55_docker_login.sh
  .ddev/ci/scripts/sqlserver/linux/55_install_odbc.sh
  .ddev/ci/scripts/sqlserver/windows/32_install_odbc.bat
  .ddev/ci/scripts/sqlserver/windows/40_install_sqlserver.py
  .ddev/ci/scripts/sqlserver/windows/41_stop_sqlserver.bat
  .ddev/ci/scripts/tokumx/linux/55_disable_hugepages.sh
  .ddev/ci/scripts/weblogic/linux/55_docker_login.sh
  datadog_checks_dev/datadog_checks/dev/tooling/commands/ci/setup.py
Labels: dev/tooling, dev_package, base_package

#14180 Add docs for `format: mac_address`
  docs/developer/tutorials/snmp/profile-format.md
Labels: documentation, changelog/no-changelog

#14159 [snmp] Add device unreachable monitor
  snmp/assets/monitors/device_unreachable.json
  snmp/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp

#14189 Update snowflake license copyright years
  LICENSE-3rdparty.csv
Labels: changelog/no-changelog, qa/skip-qa

#14177 Add debug lines for Openmetrics endpoint
  amazon_msk/datadog_checks/amazon_msk/amazon_msk.py
  amazon_msk/datadog_checks/amazon_msk/check.py
Labels: changelog/no-changelog, integration/amazon_msk, qa/skip-qa

#14143 Update GV$PROCESS query
  oracle/datadog_checks/oracle/queries.py
  oracle/tests/test_unit.py
Labels: integration/oracle

#14195 Increase command_timeout default from 5s to 10s to prevent timeouts on instances with large SQL caches
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, integration/sqlserver, changelog/Fixed

#14197 [Release] Bumped sqlserver version to 11.0.2
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, changelog/no-changelog, integration/sqlserver, release

#14206 Allow enabling of tracing for tests with an environment variable
  datadog_checks_dev/datadog_checks/dev/tooling/commands/test.py
Labels: dev/tooling, changelog/Added, dev_package

#13761 Remove portMapping instructions for APM in Fargate
  ecs_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/ecs_fargate

#14130 fix wrong metric
  argocd/assets/dashboards/argo_cd_overview.json
Labels: changelog/no-changelog, integration/argocd

#13542 Add PostgreSQL replication conflict metrics from `pg_stat_database_conflicts`
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/common.py
  postgres/tests/compose/docker-compose-replication.yaml
  postgres/tests/compose/etc/postgresql/postgresql.conf
  postgres/tests/compose/etc/postgresql_replica2/postgresql.conf
  postgres/tests/compose/resources_replica2/01_setup.sh
  postgres/tests/compose/resources_replica2/02_mark_container_as_ready.sh
  postgres/tests/conftest.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
Labels: integration/postgres, changelog/Added

#14210 Consider empty environment variables as unset
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/testing.py
Labels: dev/tooling, changelog/Fixed, dev_package

#14096 Deduplicate symlink/target files that contribute to directory size
  directory/datadog_checks/directory/directory.py
  directory/tests/test_directory.py
Labels: integration/directory, changelog/Fixed

#14211 Skip metadata validation for non-metrics integrations.
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_utils.py
Labels: dev/tooling, dev_package

#14142 process signature calico
  calico/manifest.json
Labels: documentation, changelog/no-changelog, qa/skip-qa, integration/calico

#14217 Document support for formating bytes into ip_address
  docs/developer/tutorials/snmp/profile-format.md
Labels: documentation, changelog/no-changelog

#14226 [Release] Bumped ddev version to 1.5.0
  .in-toto/tag.c295cf63.link
  ddev/CHANGELOG.md
  ddev/src/ddev/__about__.py
Labels: documentation, changelog/no-changelog, ddev

#14222 [Release] release directory check
  .in-toto/tag.b9ca7eb3.link
  directory/CHANGELOG.md
  directory/datadog_checks/directory/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/directory, release, qa/skip-qa

#14100 Add metadata for new ndm metrics
  snmp/metadata.csv
Labels: changelog/no-changelog, integration/snmp

#14231 Update GitHub SSH key
  .gitlab/tagger/Dockerfile
  argocd/tests/kind/argocd_install.yaml
Labels: changelog/no-changelog, dev/tooling, integration/argocd

#14120 Add a kerberos e2e env
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/defaults.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/instance.py
  kafka_consumer/datadog_checks/kafka_consumer/constants.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/hatch.toml
  kafka_consumer/tests/common.py
  kafka_consumer/tests/conftest.py
  kafka_consumer/tests/docker/kerberos/client/command.properties
  kafka_consumer/tests/docker/kerberos/docker-compose.yaml
  kafka_consumer/tests/docker/kerberos/kafka/broker.sasl.jaas.config
  kafka_consumer/tests/docker/kerberos/kdc/Dockerfile
  kafka_consumer/tests/docker/kerberos/kdc/krb5.conf
  kafka_consumer/tests/docker/kerberos/kdc/krb5_agent.conf
  kafka_consumer/tests/docker/kerberos/kdc/start.sh
  kafka_consumer/tests/docker/kerberos/zookeeper/zookeeper.sasl.jaas.config
  kafka_consumer/tests/runners.py
  kafka_consumer/tests/scripts/start_commands.sh
  kafka_consumer/tests/test_integration.py
Labels: documentation, integration/kafka_consumer, changelog/Added

#14232 Remove manifest validation from CI
  .github/workflows/validations.yaml
Labels: changelog/no-changelog, dev/tooling

#14227 Add new blog link to SQL server
  sqlserver/README.md
Labels: documentation, changelog/no-changelog, integration/sqlserver

#14223 Change flake8 noqa to ruff noqa
  datadog_checks_base/datadog_checks/base/checks/libs/thread_pool.py
  datadog_checks_base/datadog_checks/base/checks/libs/vmware/basic_metrics.py
  datadog_checks_base/datadog_checks/base/checks/win/wmi/counter_type.py
  datadog_checks_base/datadog_checks/base/checks/win/wmi/sampler.py
  datadog_checks_base/datadog_checks/base/utils/prometheus/metrics_pb2.py
  datadog_checks_base/datadog_checks/checks/__init__.py
  datadog_checks_base/datadog_checks/checks/base.py
  datadog_checks_base/datadog_checks/checks/libs/thread_pool.py
  datadog_checks_base/datadog_checks/checks/libs/timer.py
  datadog_checks_base/datadog_checks/checks/libs/vmware/all_metrics.py
  datadog_checks_base/datadog_checks/checks/libs/vmware/basic_metrics.py
  datadog_checks_base/datadog_checks/checks/libs/wmi/sampler.py
  datadog_checks_base/datadog_checks/checks/network.py
  datadog_checks_base/datadog_checks/checks/network_checks.py
  datadog_checks_base/datadog_checks/checks/openmetrics/__init__.py
  datadog_checks_base/datadog_checks/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/checks/prometheus/__init__.py
  datadog_checks_base/datadog_checks/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/checks/prometheus/prometheus_base.py
  datadog_checks_base/datadog_checks/checks/win/__init__.py
  datadog_checks_base/datadog_checks/checks/win/winpdh.py
  datadog_checks_base/datadog_checks/checks/win/winpdh_base.py
  datadog_checks_base/datadog_checks/checks/win/winpdh_stub.py
  datadog_checks_base/datadog_checks/checks/win/wmi/__init__.py
  datadog_checks_base/datadog_checks/checks/win/wmi/counter_type.py
  datadog_checks_base/datadog_checks/checks/win/wmi/sampler.py
  datadog_checks_base/datadog_checks/checks/winwmi_check.py
  datadog_checks_base/datadog_checks/config.py
  datadog_checks_base/datadog_checks/errors.py
  datadog_checks_base/datadog_checks/log.py
  datadog_checks_base/datadog_checks/stubs/__init__.py
  datadog_checks_base/datadog_checks/stubs/_util.py
  datadog_checks_base/datadog_checks/stubs/aggregator.py
  datadog_checks_base/datadog_checks/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/utils/common.py
  datadog_checks_base/datadog_checks/utils/containers.py
  datadog_checks_base/datadog_checks/utils/headers.py
  datadog_checks_base/datadog_checks/utils/limiter.py
  datadog_checks_base/datadog_checks/utils/platform.py
  datadog_checks_base/datadog_checks/utils/prometheus/__init__.py
  datadog_checks_base/datadog_checks/utils/prometheus/functions.py
  datadog_checks_base/datadog_checks/utils/prometheus/metrics_pb2.py
  datadog_checks_base/datadog_checks/utils/proxy.py
  datadog_checks_base/datadog_checks/utils/subprocess_output.py
  datadog_checks_base/datadog_checks/utils/tailfile.py
  datadog_checks_base/datadog_checks/utils/timeout.py
  datadog_checks_base/datadog_checks/utils/tracing.py
  datadog_checks_dev/datadog_checks/dev/tooling/signing.py
  datadog_checks_dev/tests/tooling/commands/validate/test_metadata.py
  impala/datadog_checks/impala/metrics_catalog.py
  impala/datadog_checks/impala/metrics_daemon.py
  impala/datadog_checks/impala/metrics_statestore.py
  impala/tests/catalog/common.py
  impala/tests/daemon/common.py
  snmp/tests/mibs/DUMMY-MIB.py
  weblogic/tests/compose/weblogic/setup_scripts/create-wls-domain.py
Labels: changelog/no-changelog, dev/tooling, integration/snmp, qa/skip-qa, integration/weblogic, integration/impala, dev_package, base_package

#14234 Add job to publish pull request test results
  .github/workflows/publish-test-results.yml
Labels: dev/tooling

#14235 Add minimal workflows for CI testing
  .github/workflows/pr-test.yml
  .github/workflows/pr.yml
Labels: dev/tooling

#14236 Edit workflow_run trigger
  .github/workflows/publish-test-results.yml
Labels: dev/tooling

#14237 Support GitHub Actions for testing
  datadog_checks_dev/datadog_checks/dev/ci.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: dev/tooling, changelog/Added, dev_package

#14238 Fix tests when running on GitHub Actions
  datadog_checks_dev/tests/test_ci.py
  http_check/tests/test_http_integration.py
  statsd/tests/compose/statsd.yaml
  statsd/tests/test_statsd.py
Labels: changelog/no-changelog, integration/http_check, integration/statsd, dev_package

#14147 Adds new metric `kubernetes_feature_enabled`
  kube_apiserver_metrics/assets/dashboards/overview.json
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/metadata.csv
  kube_apiserver_metrics/tests/common.py
  kube_apiserver_metrics/tests/fixtures/metrics_1.26.0.txt
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_26.py
Labels: changelog/Added, integration/kube_apiserver_metrics

#14218 Add docs for metric tags value mapping
  docs/developer/tutorials/snmp/profile-format.md
Labels: documentation, changelog/no-changelog

#14150 Adds container memory usage metrics from /stats/summary and kubelet memory usage
  kubelet/datadog_checks/kubelet/summary.py
  kubelet/metadata.csv
  kubelet/tests/test_kubelet.py
Labels: integration/kubelet, changelog/Added

#13658 Fix MariaDB InnoDB pending flush metric parsing
  mysql/datadog_checks/mysql/innodb_metrics.py
  mysql/hatch.toml
Labels: integration/mysql, changelog/Fixed

#14245 Remove `distutils` dependency from python 3 version of the check
  network/datadog_checks/network/network.py
  network/tests/test_linux.py
  network/tests/test_network.py
Labels: integration/network, changelog/Fixed

#14246 Fix a typo in the `disable_generic_tags` option description
  apache/assets/configuration/spec.yaml
  apache/datadog_checks/apache/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/default.yaml
  nginx/datadog_checks/nginx/data/conf.yaml.example
  snowflake/README.md
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, dev/tooling, integration/apache, integration/nginx, integration/sqlserver, changelog/Fixed, integration/snowflake, dev_package

#14209 DOCS-4925: Update account name value
  snowflake/README.md
  snowflake/assets/configuration/spec.yaml
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/snowflake

#14163 DOCS-4924 Integration Assets Reference Doc Updates + Adds Manifest File and Classifier Tag Shortcodes
  docs/dev/check_references.md
Labels: documentation, changelog/no-changelog, editorial review

#14252 Update the test environments
  gitlab/hatch.toml
  gitlab/tests/common.py
  gitlab/tests/conftest.py
Labels: changelog/no-changelog, integration/gitlab, qa/skip-qa

#14248 Fix metric description based on customer feedback
  mongo/metadata.csv
Labels: changelog/no-changelog, integration/mongo

#14261 Refactor the tests
  gitlab/tests/common.py
  gitlab/tests/conftest.py
  gitlab/tests/test_bench.py
  gitlab/tests/test_e2e.py
  gitlab/tests/test_integration.py
  gitlab/tests/test_unit.py
Labels: changelog/no-changelog, integration/gitlab

#14259 Get more insight into Agent E2E communication errors
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Labels: dev/tooling, changelog/Added, dev_package

#14106 updating-containerized
  rabbitmq/README.md
Labels: documentation, changelog/no-changelog, integration/rabbitmq

#14262 Add missing tags when the service check is critical
  gitlab/datadog_checks/gitlab/gitlab.py
  gitlab/tests/test_integration.py
Labels: integration/gitlab, changelog/Fixed

#14264 Add the `prometheus_endpoint` option to the models
  gitlab/assets/configuration/spec.yaml
  gitlab/datadog_checks/gitlab/config_models/defaults.py
  gitlab/datadog_checks/gitlab/config_models/instance.py
Labels: documentation, integration/gitlab, changelog/Fixed

#14247 Implement OAuth config
  kafka_consumer/datadog_checks/kafka_consumer/client/confluent_kafka_client.py
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/tests/test_integration.py
  kafka_consumer/tests/test_unit.py
Labels: integration/kafka_consumer, changelog/Added

#14270 Update redis to 4.5.4
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  redisdb/pyproject.toml
  redisdb/tests/test_auth.py
Labels: integration/redisdb, changelog/Added, dependencies, base_package

#14187 Add GitHub Actions job for pull requests
  .ddev/ci/scripts/ddev/linux/55_fetch_master.sh
  .ddev/ci/scripts/ddev/windows/55_fetch_master.bat
  .ddev/ci/scripts/singlestore/linux/55_set_license_secret.sh
  .ddev/config.toml
  .github/workflows/compute-matrix.yml
  .github/workflows/pr-all.yml
  .github/workflows/pr-test.yml
  .github/workflows/pr.yml
  .github/workflows/publish-test-results.yml
  .github/workflows/run-validations.yml
  .github/workflows/save-event.yml
  .github/workflows/submit-traces.yml
  .github/workflows/test-all.yml
  .github/workflows/test-target.yml
  .github/workflows/validate.yml
  .github/workflows/validations.yaml
  ddev/src/ddev/cli/validate/__init__.py
  ddev/src/ddev/cli/validate/ci.py
  ddev/src/ddev/utils/scripts/__init__.py
  ddev/src/ddev/utils/scripts/ci_matrix.py
Labels: documentation, dev/testing, dev/tooling, integration/directory, ddev

#14258 add skip QAs to template files
  cloudera/tests/test_integration.py
  cloudera/tests/test_unit_autodiscover.py
  cloudera/tests/test_unit_clusters.py
  cloudera/tests/test_unit_disks.py
  cloudera/tests/test_unit_hosts.py
  cloudera/tests/test_unit_roles.py
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/generate_traps_db.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/{check_name}/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/tests/test_{check_name}.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/tests/test_e2e.py
  datadog_checks_dev/tests/tooling/manifest_validator/test_v2_validator.py
  datadog_checks_downloader/tests/test_downloader.py
  datadog_checks_tests_helper/datadog_test_libs/__init__.py
  datadog_checks_tests_helper/datadog_test_libs/utils/mock_dns.py
  datadog_checks_tests_helper/datadog_test_libs/win/pdh_mocks.py
  datadog_checks_tests_helper/setup.py
  ddev/tests/cli/config/test_find.py
  ddev/tests/cli/status/test_status.py
  ddev/tests/cli/validate/test_manifest.py
  ddev/tests/config/test_model.py
  ddev/tests/conftest.py
  ddev/tests/repo/test_core.py
  ddev/tests/utils/test_platform.py
  ddev/tests/validation/test_tracker.py
  envoy/datadog_checks/envoy/parser.py
  mongo/tests/conftest.py
  openshift/gen_clusterquota_metadata.py
  openstack/datadog_checks/openstack/openstack.py
  openstack_controller/datadog_checks/openstack_controller/openstack_controller.py
  rabbitmq/tests/test_unit.py
  riakcs/datadog_checks/riakcs/riakcs.py
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_snmp_listener.py
  ssh_check/tests/test_integration.py
  vertica/tests/metrics.py
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/legacy/vsphere_legacy.py
  vsphere/tests/mocked_api.py
  vsphere/tests/test_check.py
  vsphere/tests/test_filters.py
Labels: changelog/no-changelog, dev/tooling, integration/envoy, integration/mongo, integration/openstack, integration/rabbitmq, integration/riakcs, integration/snmp, integration/ssh_check, integration/vsphere, integration/openshift, integration/openstack_controller, integration/vertica, integration/datadog_checks_tests_helper, qa/skip-qa, dev_package, base_package, downloader, ddev, integration/cloudera

#14283 Update CI job enumeration parameters specific to each repo
  .github/workflows/test-all.yml
  ddev/src/ddev/cli/validate/ci.py
Labels: changelog/no-changelog, dev/tooling, ddev

#14284 Refactor the structure of the test results artifact
  .github/workflows/test-results-pr.yml
  .github/workflows/test-target.yml
Labels: changelog/no-changelog, dev/tooling, integration/disk

#14288 Fix the `health_service_check` config option
  gitlab/assets/configuration/spec.yaml
  gitlab/datadog_checks/gitlab/config_models/defaults.py
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
Labels: documentation, integration/gitlab, changelog/Fixed

#14221 Add topology metadata e2e test for CDP
  snmp/tests/compose/data/cisco-cdp-lldp.snmprec
  snmp/tests/compose/data/cisco-cdp.snmprec
  snmp/tests/test_e2e_core_metadata.py
Labels: changelog/no-changelog, integration/snmp

#14292 [Release] Bumped redisdb version to 4.6.0
  .in-toto/tag.c295cf63.link
  redisdb/CHANGELOG.md
  redisdb/datadog_checks/redisdb/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/redisdb, release

#14293 Update badges
  README.md
Labels: changelog/no-changelog

#14294 Only cancel concurrent workflows for pull requests
  .github/workflows/master.yml
  .github/workflows/nightly-base-package.yml
  .github/workflows/nightly-py2.yml
  .github/workflows/validate.yml
  .github/workflows/weekly-latest.yml
Labels: changelog/no-changelog, dev/tooling

#14285 Add Further Reading section and link
  calico/README.md
Labels: documentation, changelog/no-changelog, integration/calico
