Repository DataDog/integrations-core, pull requests merged in 2023-05, with the labels that each got.

#13932 Add GRPC access log metrics
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/common.py
  envoy/tests/fixtures/multiple_services
Labels: integration/envoy, changelog/Added

#14479 Properly initialize resolved_hostname so it is set consistently across dbm and default integration metrics
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/hatch.toml
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_unit.py
Labels: integration/sqlserver, changelog/Fixed

#14472 [SNMP] Add interface down recommended monitor
  snmp/assets/monitors/interface_down.json
  snmp/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp

#14488 Disable Kraft by default
  kafka_consumer/hatch.toml
  kafka_consumer/tests/docker/noauth/docker-compose.yaml
  kafka_consumer/tests/docker/ssl/docker-compose.yaml
Labels: changelog/no-changelog, integration/kafka_consumer, qa/skip-qa

#13501 Update Flink integration docs to 1.16
  flink/README.md
Labels: documentation, changelog/no-changelog, integration/flink

#14484 Add new metrics to CockroachDB integration
  cockroachdb/datadog_checks/cockroachdb/metrics.py
  cockroachdb/metadata.csv
  cockroachdb/tests/common.py
  cockroachdb/tests/fixtures/security_metrics.txt
  cockroachdb/tests/test_check.py
  cockroachdb/tests/utils.py
Labels: changelog/Added, integration/cockroachdb

#14496 Sy/strimzi metrics
  strimzi/datadog_checks/strimzi/metrics.py
  strimzi/metadata.csv
Labels: integration/strimzi

#14492 Add new metrics from CockroachDB 23
  cockroachdb/datadog_checks/cockroachdb/metrics.py
  cockroachdb/metadata.csv
  cockroachdb/tests/fixtures/unstable_metrics.txt
  cockroachdb/tests/test_check.py
Labels: changelog/Added, integration/cockroachdb

#14499 Add sqlserver engine editition && version to DBM event payloads
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/statements.py
Labels: integration/sqlserver, changelog/Added

#14501 Refactor: reduce duplication, condense method implementation
  elastic/datadog_checks/elastic/elastic.py
Labels: changelog/no-changelog, integration/elastic

#14505 Add note about development datadog_checks_dev for ddev
  docs/developer/setup.md
Labels: documentation, changelog/no-changelog

#14508 Fix bug on empty openmetrics scrape response
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  openmetrics/tests/test_openmetrics.py
Labels: changelog/Fixed, integration/openmetrics, base_package

#14510 exclude flaky metric from assertion
  strimzi/tests/common.py
  strimzi/tests/test_e2e.py
Labels: changelog/no-changelog, integration/strimzi

#14506 More metrics match metadata
  elastic/datadog_checks/elastic/metrics.py
  elastic/metadata.csv
  elastic/tests/test_elastic.py
Labels: integration/elastic, changelog/Fixed

#14509 Add a single required check for PRs
  .github/workflows/pr-test.yml
Labels: changelog/no-changelog, dev/tooling

#14503 Create `tag_not_null` type which doesn't set the tag when tag value is none
  datadog_checks_base/datadog_checks/base/utils/db/core.py
  datadog_checks_base/datadog_checks/base/utils/db/query.py
  datadog_checks_base/datadog_checks/base/utils/db/transform.py
Labels: changelog/Added, base_package

#14516 [Release] Bumped datadog_checks_base version to 32.1.0
  .in-toto/tag.05916999.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, base_package

#14515 Testing documentation references hatch instead of tox
  docs/developer/.snippets/links.txt
  docs/developer/testing.md
Labels: documentation, changelog/no-changelog

#14507 Add 2 index search stats metrics
  elastic/datadog_checks/elastic/elastic.py
  elastic/datadog_checks/elastic/metrics.py
  elastic/metadata.csv
  elastic/tests/test_elastic.py
Labels: integration/elastic, changelog/Added

#14511 Allow disabling event submission
  elastic/assets/configuration/spec.yaml
  elastic/datadog_checks/elastic/config.py
  elastic/datadog_checks/elastic/config_models/defaults.py
  elastic/datadog_checks/elastic/config_models/instance.py
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/test_elastic.py
Labels: documentation, integration/elastic, changelog/Added

#14522 Remove double quotes from the `metadata.csv` file
  gitlab/metadata.csv
Labels: changelog/no-changelog, integration/gitlab

#14520 Use OMv2 by default in the e2e environment
  gitlab/tests/conftest.py
Labels: changelog/no-changelog, integration/gitlab, qa/skip-qa

#14519 Rename the readiness service checks
  gitlab/assets/service_checks.json
Labels: changelog/no-changelog, integration/gitlab, qa/skip-qa

#14525 Pin urllib3
  ddev/hatch.toml
Labels: changelog/no-changelog, ddev

#14486 Update root.json for v11 ceremony
  datadog_checks_downloader/datadog_checks/downloader/data/repo/metadata/root.json
Labels: changelog/no-changelog, qa/skip-qa, downloader

#14514 [FRSDBM-275] Better Testing for MariaDB 10.5+
  mysql/hatch.toml
  mysql/tests/common.py
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
Labels: changelog/no-changelog, integration/mysql, qa/skip-qa

#14524 Improve description of config field
  elastic/assets/configuration/spec.yaml
  elastic/datadog_checks/elastic/data/conf.yaml.example
Labels: documentation, integration/elastic, changelog/Fixed

#14527 Add DEFAULT_METRIC_LIMIT for OpenMetrics-based checks
  arangodb/datadog_checks/arangodb/check.py
  azure_iot_edge/datadog_checks/azure_iot_edge/check.py
  calico/datadog_checks/calico/check.py
  cilium/datadog_checks/cilium/cilium.py
  consul/datadog_checks/consul/consul.py
  coredns/datadog_checks/coredns/coredns.py
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  etcd/datadog_checks/etcd/etcd.py
  external_dns/datadog_checks/external_dns/external_dns.py
  impala/datadog_checks/impala/check.py
Labels: integration/consul, integration/etcd, changelog/Fixed, integration/coredns, integration/external_dns, integration/cilium, integration/azure_iot_edge, integration/datadog_cluster_agent, integration/arangodb, integration/calico, integration/impala

#14533 Update kafka consumer consumer_groups_regex example to be more inform…
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
Labels: documentation, integration/kafka_consumer, changelog/Added

#14532 Rename azure.name configuration key to azure.fully_qualified_domain_name
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/tests/test_statements.py
Labels: documentation, integration/postgres, changelog/Fixed

#14534 Rename azure.name configuration key to azure.fully_qualified_domain_name
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/tests/test_statements.py
Labels: documentation, integration/mysql, changelog/Fixed

#14536 Rename azure.name configuration key to azure.fully_qualified_domain_name
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_statements.py
Labels: documentation, integration/sqlserver, changelog/Fixed

#14529 Remove unnecesary commas after type definition
  datadog_checks_dev/datadog_checks/dev/conditions.py
Labels: changelog/Fixed, dev_package

#14537 Don't try to collect wal receiver if aurora is detected
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/common.py
  postgres/tests/test_pg_integration.py
Labels: integration/postgres, changelog/Fixed

#14528 Add validation for metric limit
  ddev/src/ddev/cli/validate/__init__.py
  ddev/src/ddev/cli/validate/openmetrics.py
  ddev/tests/cli/validate/test_openmetrics.py
Labels: changelog/no-changelog, changelog/Added, ddev

#14542 Apply openmetrics validation to CI
  .github/workflows/run-validations.yml
  .github/workflows/validate.yml
Labels: changelog/no-changelog, dev/tooling, qa/skip-qa

#14545 Display OpenAI to public
  openai/manifest.json
Labels: documentation, changelog/no-changelog, qa/skip-qa, integration/openai

#14540 Update display names
  .ddev/config.toml
  .github/workflows/test-all.yml
Labels: changelog/no-changelog, dev/tooling

#14541 Add metric limit for rabbitmq
  rabbitmq/datadog_checks/rabbitmq/openmetrics/check.py
Labels: integration/rabbitmq, changelog/Added

#14175 [SNMP] Add profile for Cisco WLC
  snmp/datadog_checks/snmp/data/profiles/_cisco-wlc.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-catalyst-wlc.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-legacy-wlc.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/cisco-5500-wlc.snmprec
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_metadata.py
Labels: changelog/no-changelog, integration/snmp

#14543 Enable explain parameterized query feature by default
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: documentation, integration/postgres, changelog/Added

#14552 Remove unused links
  openai/README.md
Labels: documentation, changelog/no-changelog, integration/openai

#14547 Fix format-style command when test custom_integration for tox
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/Fixed, dev_package

#14558 Add .0 to hp scalar metrics
  snmp/datadog_checks/snmp/data/profiles/_hp-base.yaml
  snmp/datadog_checks/snmp/data/profiles/hp-ilo4.yaml
  snmp/tests/compose/data/hp-ilo4.snmprec
  snmp/tests/compose/data/hpe-proliant.snmprec
Labels: integration/snmp, changelog/Fixed

#14561 Add blog link to OpenAI doc
  openai/README.md
Labels: documentation, changelog/no-changelog, integration/openai

#14493 Exclude model from autodiscovery by default
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/odbc/odbc.ini
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_unit.py
Labels: integration/sqlserver, changelog/Fixed

#14567 Update Kafka Overview dashboard
  kafka/assets/dashboards/kafka_dashboard.json
  kafka/manifest.json
Labels: documentation, changelog/no-changelog, integration/kafka, qa/skip-qa

#14563 Update the documentation
  strimzi/README.md
Labels: documentation, changelog/no-changelog, integration/strimzi

#14480 Add `flowcontrol` metrics
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/metadata.csv
  kube_apiserver_metrics/tests/fixtures/metrics_1.25.3.txt
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_19.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_23.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_24.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_25.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_26.py
Labels: containers, changelog/Added, integration/kube_apiserver_metrics

#14575 Add `token` and `alert` as valid metric units
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Labels: changelog/Added, qa/skip-qa

#14574 Add missing units for metrics
  openai/metadata.csv
Labels: changelog/no-changelog, qa/skip-qa, integration/openai

#14557 [Release] Bumped datadog_checks_dev version to 19.3.0
  .in-toto/tag.05916999.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, dev_package

#14569 Add new ES metric for templates count
  elastic/datadog_checks/elastic/elastic.py
  elastic/datadog_checks/elastic/metrics.py
  elastic/metadata.csv
Labels: integration/elastic, changelog/Added

#14572 NDM: Fix memory metrics OIDs for cisco-nexus
  snmp/datadog_checks/snmp/data/profiles/cisco-nexus.yaml
  snmp/tests/compose/data/cisco-nexus.snmprec
  snmp/tests/test_e2e_core.py
  snmp/tests/test_profiles.py
Labels: integration/snmp, changelog/Fixed

#14582 No longer test postgres 9.5
  postgres/hatch.toml
Labels: integration/postgres, changelog/Deprecated

#14584 Small Link Fix in Further Reading Section
  docs/dev/agent_integration.md
Labels: documentation, changelog/no-changelog

#14585 Link Fix
  docs/dev/marketplace_offering.md
Labels: documentation, changelog/no-changelog

#14551 Document that data_path in custom queries cannot contain wildcards
  elastic/assets/configuration/spec.yaml
  elastic/datadog_checks/elastic/data/conf.yaml.example
Labels: documentation, integration/elastic, changelog/Fixed

#14531 Fix pg_replication_slots query generating errors on posgres replica database with replication slot
  postgres/datadog_checks/postgres/util.py
Labels: integration/postgres, changelog/Fixed

#14549 Expand migration docs
  rabbitmq/README.md
  rabbitmq/assets/configuration/spec.yaml
  rabbitmq/datadog_checks/rabbitmq/data/conf.yaml.example
Labels: documentation, integration/rabbitmq, changelog/Fixed

#14578 Remove OMv1 metrics from the legacy dashboard
  haproxy/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/haproxy, qa/skip-qa

#14580 (DOCS-5505) Replace broken developer tool links in READMEs
  calico/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
Labels: documentation, changelog/no-changelog, dev/tooling, qa/skip-qa, integration/calico, dev_package

#13887 Explicitly disallow setting `replicaSet` in the options
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/tests/test_config.py
  mongo/tests/test_unit.py
Labels: documentation, integration/mongo, changelog/Fixed

#14587 Continue directory traversal after errors
  directory/datadog_checks/directory/directory.py
  directory/datadog_checks/directory/traverse.py
  directory/tests/test_directory.py
Labels: integration/directory, changelog/Fixed, dev_package

#14577 Support ingesting pg_settings for `dbm` users
  datadog_checks_base/datadog_checks/base/checks/base.py
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_metadata.py
Labels: documentation, integration/postgres, changelog/Added, base_package

#14593 Mount and collect the logs
  gitlab/tests/compose/docker-compose.yml
  gitlab/tests/conftest.py
Labels: changelog/no-changelog, integration/gitlab, qa/skip-qa

#14518 [Update README.md] Update to Cilium Agent Port number (9962)
  cilium/README.md
Labels: documentation, changelog/no-changelog, integration/cilium

#14603 Move logs configuration to Setup section so that it's shown in-app
  temporal/README.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, integration/temporal

#14459 Update etcd leader check to use v3 endpoint instead of v3alpha
  etcd/datadog_checks/etcd/etcd.py
  etcd/tests/test_integration.py
Labels: integration/etcd, changelog/Changed

#14566 Add error handling when getting tags from API
  vsphere/datadog_checks/vsphere/api_rest.py
  vsphere/tests/test_api_rest.py
Labels: integration/vsphere, changelog/Fixed

#14523 Add ping latency metric
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/metadata.csv
  redisdb/tests/test_default.py
  redisdb/tests/test_e2e.py
Labels: integration/redisdb, changelog/Added

#14604 [Release] Bumped datadog_checks_downloader version to 4.2.0
  .in-toto/tag.eabca4ac.link
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, integration/datadog_checks_downloader, release, qa/skip-qa

#14546 Fix kubelet check failing to initialize when get_connection_info is empty
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/datadog_checks/kubelet/probes.py
  kubelet/datadog_checks/kubelet/prometheus.py
Labels: integration/kubelet, changelog/Fixed, base_package

#14614 Add new metrics to KSM Core metadata
  kubernetes_state_core/metadata.csv
Labels: changelog/Added, integration/kubernetes_state_core

#14607 Add Screenshot
  win32_event_log/images/windows-defender-operational-event-log-properties.png
Labels: documentation, changelog/no-changelog, integration/win32_event_log

#14612 mysql: don't overwrite table size metrics with sys table size metrics
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/test_query_activity.py
Labels: integration/mysql, changelog/Fixed

#14597 Update Gitlab dashboard
  gitlab/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/gitlab

#14602 Fix some default values in the configuration file
  gitlab_runner/assets/configuration/spec.yaml
  gitlab_runner/datadog_checks/gitlab_runner/config_models/defaults.py
  gitlab_runner/datadog_checks/gitlab_runner/data/conf.yaml.example
Labels: documentation, integration/gitlab_runner, changelog/Fixed

#14594 Update dependencies
  LICENSE-3rdparty.csv
  amazon_msk/pyproject.toml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/plugin/hatch/environment_collector.py
  datadog_checks_downloader/pyproject.toml
  gitlab/pyproject.toml
  gitlab_runner/pyproject.toml
  kube_dns/pyproject.toml
  kubernetes_state/pyproject.toml
  oracle/pyproject.toml
Labels: integration/gitlab, integration/gitlab_runner, integration/kube_dns, integration/kubernetes_state, integration/oracle, changelog/Fixed, integration/amazon_msk, dependencies, dev_package, base_package, downloader

#14600 Update the metrics section
  gitlab/README.md
Labels: documentation, changelog/no-changelog, integration/gitlab

#14618 Revert protobuf dependency update
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  gitlab/pyproject.toml
  gitlab_runner/pyproject.toml
  kube_dns/pyproject.toml
  kubernetes_state/pyproject.toml
Labels: integration/gitlab, integration/gitlab_runner, integration/kube_dns, integration/kubernetes_state, changelog/Fixed, dependencies, base_package

#14581 Support IAM based RDS authentication
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/aws.py
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/pyproject.toml
  postgres/tests/conftest.py
  postgres/tests/test_explain_parameterized_queries.py
  postgres/tests/test_metadata.py
  postgres/tests/test_metrics_cache.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_statements.py
Labels: documentation, integration/postgres, changelog/Added

#14623 Fix boto3 dep in postgres to match the Agent's
  postgres/pyproject.toml
Labels: changelog/no-changelog, integration/postgres

#14624 Release postgres
  .in-toto/tag.335b3118.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/postgres, release

#14636 Correctly compute the `templates.count` metric
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/common.py
  elastic/tests/fixtures/templates.json
  elastic/tests/test_elastic.py
Labels: integration/elastic, changelog/Fixed, category/bugfix

#14649 Bump elastic version to 5.4.1
  .in-toto/tag.335b3118.link
  elastic/CHANGELOG.md
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/elastic, release

#14646 Fix a link in the dashboard
  openai/assets/dashboards/overview_dashboard.json
Labels: changelog/no-changelog, qa/skip-qa, integration/openai

#14637 Display the Temporal integration on the public website
  temporal/manifest.json
Labels: documentation, changelog/no-changelog, integration/temporal

#14655 Backport pydantic 1.10.8 upgrade to 7.45
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/plugin/hatch/environment_collector.py
  datadog_checks_dev/datadog_checks/dev/plugin/tox.py
Labels: changelog/Fixed, dependencies, dev_package, base_package

#14659 [Release] Bumped datadog_checks_base version to 31.0.2
  .in-toto/tag.eabca4ac.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, base_package
