Repository DataDog/integrations-core, pull requests merged in 2023-07, with the labels that each got.

#15119 Fix tests on Python 2
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
Labels: changelog/no-changelog, base_package

#15090 Bump python version in ddev installation instructions
  docs/dev/python.md
Labels: documentation, changelog/no-changelog

#14856 Deprecate apiserver_longrunning_gauge metric in favor of apiserver_longrunning_requests
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/metadata.csv
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_24.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_25.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_26.py
Labels: changelog/Fixed, integration/kube_apiserver_metrics

#14857 Fix broken widgets after K8s registry change
  kube_apiserver_metrics/README.md
  kube_apiserver_metrics/assets/dashboards/overview.json
  kube_controller_manager/assets/dashboards/overview.json
  kube_scheduler/assets/dashboards/overview.json
Labels: documentation, changelog/no-changelog, integration/kube_controller_manager, integration/kube_scheduler, integration/kube_apiserver_metrics

#15058 [NDM] Add avtech-roomalert-32s
  snmp/datadog_checks/snmp/data/default_profiles/avtech-roomalert-32s.yaml
  snmp/datadog_checks/snmp/data/default_profiles/avtech.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/avtech-roomalert-32s.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_avtech_roomalert_32s.py
Labels: integration/snmp, changelog/Added

#15075 [NDM] Add avtech roomalert 3e profile
  snmp/datadog_checks/snmp/data/default_profiles/avtech-roomalert-3e.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/avtech-roomalert-3e.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_avtech_roomalert_3e.py
Labels: integration/snmp, changelog/Added

#15109 Add profile for aruba mobility controller
  snmp/datadog_checks/snmp/data/default_profiles/aruba-mobility-controller.yaml
  snmp/tests/compose/data/aruba-mobility-controller.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_aruba_mobility_controller.py
Labels: integration/snmp, changelog/Added

#15129 Lower snmp coverage to 50
  .codecov.yml
Labels: changelog/no-changelog, dev/testing

#15126 Remove unexpected profile
  snmp/datadog_checks/snmp/data/default_profiles/barracuda-cloudgen.yaml
Labels: changelog/no-changelog, integration/snmp

#15123 [SNMP] Add profile for Anue
  snmp/datadog_checks/snmp/data/default_profiles/anue.yaml
  snmp/tests/compose/data/anue-packet-broker.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_anue.py
Labels: integration/snmp, changelog/Added

#15124 Add missing log source names
  argocd/manifest.json
  calico/manifest.json
  foundationdb/manifest.json
  torchserve/manifest.json
Labels: documentation, changelog/no-changelog, integration/foundationdb, integration/calico, integration/argocd, integration/torchserve

#14665 Bump the confluent-kafka version
  .ddev/ci/scripts/kafka_consumer/linux/32_install_kerberos.sh
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  kafka_consumer/hatch.toml
  kafka_consumer/pyproject.toml
  kafka_consumer/tests/README.md
Labels: integration/kafka_consumer, changelog/Fixed, dependencies, base_package

#14367 Upgrade ddtrace to 1.11.2 on Python 3
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/tracing.py
  datadog_checks_base/pyproject.toml
  datadog_checks_base/tests/base/utils/test_tracing.py
Labels: changelog/Added, dependencies, base_package

#15130 Add profile watchguard
  snmp/datadog_checks/snmp/data/default_profiles/watchguard.yaml
  snmp/tests/compose/data/watchguard.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_watchguard.py
  snmp/tests/test_e2e_core_profiles/utils.py
Labels: integration/snmp, changelog/Added

#15110 [Helm check] Operator instructions
  helm/README.md
Labels: documentation, changelog/no-changelog, integration/helm

#15096 Update query for better comparison
  kubernetes/assets/monitors/monitor_pods_restarting.json
Labels: changelog/no-changelog, integration/kubernetes

#15076 [NDM] Add avtech-roomalert-3s
  snmp/datadog_checks/snmp/data/default_profiles/avtech-roomalert-3s.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/avtech-roomalert-3s.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_avtech_roomalert_3s.py
Labels: integration/snmp, changelog/Added

#15116 Update README.md with Env Variable Note
  ibm_ace/README.md
Labels: documentation, changelog/no-changelog, integration/ibm_ace

#15084 Update root.json for v12 ceremony
  datadog_checks_downloader/datadog_checks/downloader/data/repo/metadata/root.json
Labels: changelog/no-changelog, qa/skip-qa, downloader

#15099 Update Anchor Links in Developer Documentation
  docs/dev/legacy.md
  docs/dev/oauth_for_integrations.md
Labels: documentation, changelog/no-changelog

#14982 Update formatting for changelogs
  postgres/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/postgres

#14974 Update formatting for changelogs
  openstack/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/openstack

#15023 Update formatting for changelogs
  varnish/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/varnish

#14965 Update formatting for changelogs
  mongo/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/mongo

#14952 Update formatting for changelogs
  kubernetes/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/kubernetes

#14908 Update formatting for changelogs
  etcd/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/etcd

#14906 Update formatting for changelogs
  elastic/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/elastic

#15138 Add percentage-based utilization metrics
  disk/datadog_checks/disk/disk.py
  disk/metadata.csv
  disk/tests/metrics.py
  disk/tests/test_e2e.py
Labels: integration/disk, changelog/Added

#15120 Add a section about CI Pipeline visibility
  gitlab/README.md
Labels: documentation, changelog/no-changelog, integration/gitlab

#15122 Add recommended monitors
  torchserve/assets/monitors/error_ratio.json
  torchserve/manifest.json
Labels: documentation, changelog/no-changelog, integration/torchserve

#15143 Revert "Upgrade ddtrace to 1.11.2 on Python 3 (#14367)"
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/tracing.py
  datadog_checks_base/pyproject.toml
  datadog_checks_base/tests/base/utils/test_tracing.py
Labels: changelog/Fixed, dependencies, base_package

#15132 Update assert_extend_*
  snmp/tests/test_e2e_core_profiles/utils.py
Labels: changelog/no-changelog, integration/snmp

#14858 [NDM] [SNMP] Add assert_metrics_using_metadata
  snmp/metadata.csv
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_profiles/test_profile_3com.py
  snmp/tests/test_e2e_core_profiles/test_profile_cisco.py
  snmp/tests/test_e2e_core_profiles/test_profile_dell.py
  snmp/tests/test_e2e_core_profiles/test_profile_fortinet.py
  snmp/tests/test_e2e_core_profiles/test_profile_hp_ilo.py
  snmp/tests/test_e2e_core_profiles/test_profile_juniper.py
  snmp/tests/test_profiles.py
Labels: changelog/no-changelog, integration/snmp

#15146 Bump torchserve version in tests
  torchserve/hatch.toml
Labels: changelog/no-changelog, integration/torchserve

#15133 Add profile chrysalis-luna-hsm
  snmp/datadog_checks/snmp/data/default_profiles/chrysalis-luna-hsm.yaml
  snmp/datadog_checks/snmp/data/default_profiles/chrysalis.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/chrysalis-luna-hsm.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_chrysalis_luna_hsm.py
  snmp/tests/test_e2e_core_profiles/utils.py
Labels: integration/snmp, changelog/Added

#15125 [NDM] Add bluecat-server profile
  snmp/datadog_checks/snmp/data/default_profiles/bluecat-server.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/bluecat-server.snmprec
  snmp/tests/compose/data/watchguard.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_bluecat_server.py
  snmp/tests/test_e2e_core_profiles/utils.py
Labels: integration/snmp, changelog/Added

#15095 [SNMP] Add profile for alcatel-lucent ind
  snmp/datadog_checks/snmp/data/default_profiles/alcatel-lucent-ind.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/alcatel-lucent-ind.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_alcatel_lucent_ind.py
Labels: integration/snmp, changelog/Added

#15101 [SNMP] Add profile for alcatel-lucent omni access WLC
  snmp/datadog_checks/snmp/data/default_profiles/alcatel-lucent-omni-access-wlc.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/alcatel-lucent-omni-access-wlc.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_alcatel_lucent_omni_access_wlc.py
Labels: integration/snmp, changelog/Added

#15142 Fix the numbered list
  temporal/README.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, integration/temporal

#15152 Logs integrations synchronisation from logs-backend to integrations-core - TorchServe
  torchserve/assets/logs/torchserve.yaml
  torchserve/assets/logs/torchserve_tests.yaml
Labels: changelog/no-changelog, integration/torchserve

#15151 Document log collection
  ibm_ace/README.md
  ibm_ace/manifest.json
Labels: documentation, changelog/no-changelog, qa/skip-qa, integration/ibm_ace

#15121 Update the dashboard
  gitlab/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/gitlab

#15148 Document log collection
  boundary/README.md
  boundary/manifest.json
Labels: documentation, changelog/no-changelog, qa/skip-qa, integration/boundary

#15157 Add profile cisco-firepower-asa
  snmp/datadog_checks/snmp/data/default_profiles/cisco-firepower-asa.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/cisco-firepower-asa.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_firepower_asa.py
Labels: integration/snmp, changelog/Added

#15034 Update formatting for changelogs
  zk/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/zk

#15063 Updating query for the CrashloopBackOff recommended monitor
  kubernetes/assets/monitors/monitor_pod_crashloopbackoff.json
Labels: changelog/no-changelog, integration/kubernetes

#15137 Add profile for Exagrid
  snmp/datadog_checks/snmp/data/default_profiles/exagrid.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/exagrid.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_exagrid.py
Labels: integration/snmp, changelog/Added

#14976 Update formatting for changelogs
  oracle/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/oracle

#14775 Add ephemeral storage metrics for fargate check
  ecs_fargate/assets/dashboards/amazon_fargate_overview.json
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  ecs_fargate/metadata.csv
  ecs_fargate/tests/conftest.py
  ecs_fargate/tests/fixtures/metadata.json
  ecs_fargate/tests/fixtures/metadata_v4.json
  ecs_fargate/tests/fixtures/stats_linux_v4.json
  ecs_fargate/tests/test_unit_v4.py
Labels: documentation, containers, integration/ecs_fargate, changelog/Added

#14728 Added troubleshooting information for log processing rules
  win32_event_log/README.md
Labels: documentation, changelog/no-changelog, integration/win32_event_log

#14725 Link to current datadog helm chart repository
  oom_kill/README.md
Labels: documentation, changelog/no-changelog, integration/oom_kill

#15088 Add aruba-clearpass profile
  snmp/datadog_checks/snmp/data/default_profiles/aruba-clearpass.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/aruba-clearpass.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_aruba_clearpass.py
Labels: integration/snmp, changelog/Added

#15159 Add crd.count to kubernetes_state core metrics
  kubernetes/assets/dashboards/kubernetes_clusters.json
  kubernetes_state_core/metadata.csv
Labels: changelog/no-changelog, integration/kubernetes, integration/kubernetes_state_core

#15049 [NDM] [SNMP] Update F5 BIGIP profile
  snmp/datadog_checks/snmp/data/default_profiles/f5-big-ip.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/f5-big-ip.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_f5_big_ip.py
  snmp/tests/test_e2e_core_vs_python.py
Labels: integration/snmp, changelog/Added

#14559 Added a warning about very large directory check
  directory/README.md
Labels: documentation, changelog/no-changelog, integration/directory

#15161 Update the helm charts link
  tcp_queue_length/README.md
Labels: documentation, changelog/no-changelog, integration/tcp_queue_length

#14361 Add doc for more Kubernetes config steps
  network/README.md
Labels: documentation, changelog/no-changelog, integration/network

#14467 Added total connections received and instantaneous kbps metrics
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/metadata.csv
  redisdb/tests/test_e2e.py
Labels: integration/redisdb, changelog/Added

#15131 kubelet: fallback from image to imageID to align with Go counterpart
  kubelet/datadog_checks/kubelet/common.py
  kubelet/tests/fixtures/pods_images_sha.json
  kubelet/tests/test_common.py
Labels: integration/kubelet, changelog/Fixed

#13827 Document how to populate sql metrics
  cockroachdb/tests/README.md
  cockroachdb/tests/conftest.py
  cockroachdb/tests/docker/docker-compose.yaml
  cockroachdb/tests/docker/sql.sh
Labels: changelog/no-changelog, integration/cockroachdb

#13454 Update mongo default config for multihost
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: documentation, integration/mongo, changelog/Fixed

#14780 Add VerbosityLevels class for ddev cli/terminal use
  ddev/src/ddev/cli/application.py
  ddev/src/ddev/cli/terminal.py
  ddev/src/ddev/config/constants.py
Labels: changelog/Added, ddev

#14362 Add runtime configuration validation
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/datadog_checks/openstack_controller/config_models/__init__.py
  openstack_controller/datadog_checks/openstack_controller/config_models/defaults.py
  openstack_controller/datadog_checks/openstack_controller/config_models/instance.py
  openstack_controller/datadog_checks/openstack_controller/config_models/shared.py
  openstack_controller/datadog_checks/openstack_controller/config_models/validators.py
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
  openstack_controller/tests/test_config.py
Labels: documentation, changelog/Added, integration/openstack_controller

#15141 Update Kafka and Kafka Consumer README and dashboard
  kafka/README.md
  kafka/assets/dashboards/kafka_dashboard.json
  kafka_consumer/README.md
Labels: documentation, changelog/no-changelog, integration/kafka, integration/kafka_consumer, qa/skip-qa

#15147 Add profile cisco-access-point
  snmp/datadog_checks/snmp/data/default_profiles/cisco-access-point.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/cisco-access-point.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_access_point.py
  snmp/tests/test_e2e_core_profiles/utils.py
Labels: integration/snmp, changelog/Added

#15155 [AI-2985] Add process signature for flink integration
  flink/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, integration/flink

#15118 Rename windows event log
  win32_event_log/README.md
  win32_event_log/manifest.json
Labels: documentation, changelog/no-changelog, integration/win32_event_log

#15164 Add profile for extreme-switching
  snmp/datadog_checks/snmp/data/default_profiles/extreme-switching.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/extreme-switching.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_extreme_switching.py
Labels: integration/snmp, changelog/Added

#15160 Add profile cisco-firepower
  snmp/datadog_checks/snmp/data/default_profiles/cisco-firepower.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/cisco-firepower.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_firepower.py
Labels: integration/snmp, changelog/Added

#15163 Add profile cisco-ironport-email
  snmp/datadog_checks/snmp/data/default_profiles/cisco-ironport-email.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/cisco-ironport-email.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_ironport_email.py
Labels: integration/snmp, changelog/Added

#15092 Add arista-switch profile
  snmp/datadog_checks/snmp/data/default_profiles/arista-switch.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/arista-switch.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_arista_switch.py
Labels: integration/snmp, changelog/Added

#15165 Update LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
  snmp/3rdparty-extra-LICENSE.csv
Labels: changelog/no-changelog, integration/snmp

#15166 Move CLI plugins to ddev
  datadog_checks_dev/hatch.toml
  datadog_checks_dev/pyproject.toml
  datadog_checks_dev/tests/tooling/commands/test_create.py
  ddev/pyproject.toml
  ddev/src/ddev/plugin/external/hatch/__init__.py
  ddev/src/ddev/plugin/external/hatch/environment_collector.py
Labels: changelog/Added, dev_package, ddev

#15170 [Release] Bumped datadog_checks_dev version to 22.0.0
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, dev_package

#15171 Bump the minimum supported version of datadog-checks-dev
  ddev/pyproject.toml
Labels: changelog/Added, ddev

#15172 [Release] Bumped ddev version to 3.2.0
  .in-toto/tag.c295cf63.link
  ddev/CHANGELOG.md
Labels: documentation, changelog/no-changelog, ddev

#15173 Fix builds
  .github/workflows/build-ddev.yml
  ddev/hatch.toml
Labels: changelog/no-changelog, dev/testing, dev/tooling, ddev

#14589 Add dcgm-exporter integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  dcgm/CHANGELOG.md
  dcgm/README.md
  dcgm/assets/configuration/spec.yaml
  dcgm/assets/dashboards/dcgm_overview.json
  dcgm/assets/monitors/gpu_temperature.json
  dcgm/assets/monitors/memory_usage.json
  dcgm/assets/monitors/xid_errors.json
  dcgm/assets/service_checks.json
  dcgm/datadog_checks/__init__.py
  dcgm/datadog_checks/dcgm/__about__.py
  dcgm/datadog_checks/dcgm/__init__.py
  dcgm/datadog_checks/dcgm/check.py
  dcgm/datadog_checks/dcgm/config_models/__init__.py
  dcgm/datadog_checks/dcgm/config_models/defaults.py
  dcgm/datadog_checks/dcgm/config_models/instance.py
  dcgm/datadog_checks/dcgm/config_models/shared.py
  dcgm/datadog_checks/dcgm/config_models/validators.py
  dcgm/datadog_checks/dcgm/data/conf.yaml.example
  dcgm/datadog_checks/dcgm/metrics.py
  dcgm/hatch.toml
  dcgm/manifest.json
  dcgm/metadata.csv
  dcgm/pyproject.toml
  dcgm/tests/__init__.py
  dcgm/tests/common.py
  dcgm/tests/conftest.py
  dcgm/tests/docker/Caddyfile
  dcgm/tests/docker/docker-compose.yaml
  dcgm/tests/docker/serve/metrics
  dcgm/tests/fixtures/metrics.txt
  dcgm/tests/test_e2e.py
  dcgm/tests/test_unit.py
Labels: documentation, changelog/Added, editorial review, integration/dcgm 

#15169 Update a10-thunder axAppGlobalTotalCurrentConnections metric_type
  snmp/datadog_checks/snmp/data/default_profiles/a10-thunder.yaml
  snmp/metadata.csv
  snmp/tests/test_e2e_core_profiles/test_profile_a10_thunder.py
Labels: integration/snmp, changelog/Fixed

#15179 Update _generic-ups.yaml
  snmp/datadog_checks/snmp/data/default_profiles/_generic-ups.yaml
  snmp/metadata.csv
  snmp/tests/test_e2e_core_profiles/test_profile__generic_ups.py
Labels: changelog/Fixed

#15178 Bump the minimal base check version in the integration templates
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/pyproject.toml
Labels: dev/tooling, changelog/Fixed, dev_package

#15176 Add prefixes to `nvidia-cumulus-linux-switch`
  snmp/datadog_checks/snmp/data/default_profiles/nvidia-cumulus-linux-switch.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/nvidia-cumulus-linux-switch.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_nvidia_cumulus_linux_switch.py
Labels: integration/snmp, changelog/Fixed

#15177 Add missing metric_type and ucd prefix for _generic-ucd
  snmp/datadog_checks/snmp/data/default_profiles/_generic-ucd.yaml
  snmp/metadata.csv
  snmp/tests/test_e2e_core_profiles/test_profile__generic_ucd.py
  snmp/tests/test_e2e_core_profiles/utils.py
Labels: integration/snmp, changelog/Fixed

#15181 Add `roomalert3e` prefix to avtech-roomalert-3e.yaml
  snmp/datadog_checks/snmp/data/default_profiles/avtech-roomalert-3e.yaml
  snmp/metadata.csv
  snmp/tests/test_e2e_core_profiles/test_profile_avtech_roomalert_3e.py
Labels: integration/snmp, changelog/Fixed

#15105 Do not fetch the full procedure_text in the SQLServer Qstats query
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/datadog_checks/sqlserver/utils.py
Labels: integration/sqlserver, changelog/Changed

#15174 Update display_on_public_website to true
  snmp_aruba/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp_aruba

#15186 Add new metrics for resource aggregation
  kubernetes_state_core/metadata.csv
Labels: changelog/Added, integration/kubernetes_state_core

#15183 Update alcatel-lucent-ent with prefix
  snmp/datadog_checks/snmp/data/default_profiles/alcatel-lucent-ent.yaml
  snmp/metadata.csv
  snmp/tests/test_e2e_core_profiles/test_profile_alcatel_lucent_ent.py
Labels: integration/snmp, changelog/Fixed

#15188 Add profile for fortinet-appliance
  snmp/datadog_checks/snmp/data/default_profiles/fortinet-appliance.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/fortinet-appliance.snmprec
  snmp/tests/compose/data/fortinet.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_fortinet.py
  snmp/tests/test_e2e_core_profiles/test_profile_fortinet_appliance.py
Labels: changelog/Added

#15185 Add profile for Fireeye
  snmp/datadog_checks/snmp/data/default_profiles/fireeye.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/fireeye.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_fireeye.py
Labels: integration/snmp, changelog/Added

#15184 Update alcatel-lucent-ind with prefix
  snmp/datadog_checks/snmp/data/default_profiles/alcatel-lucent-ind.yaml
  snmp/metadata.csv
  snmp/tests/test_e2e_core_profiles/test_profile_alcatel_lucent_ind.py
Labels: integration/snmp, changelog/Fixed

#15192 Add profile for fortinet-fortiswitch
  snmp/datadog_checks/snmp/data/default_profiles/fortinet-fortiswitch.yaml
  snmp/datadog_checks/snmp/data/default_profiles/fortinet.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/fortinet-fortiswitch.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_fortinet.py
  snmp/tests/test_e2e_core_profiles/test_profile_fortinet_fortiswitch.py
Labels: integration/snmp, changelog/Added

#15117 [NDM] Add audiocodes-mediant-sbc profile
  snmp/datadog_checks/snmp/data/default_profiles/audiocodes-mediant-sbc.yaml
  snmp/tests/compose/data/audiocodes-mediant-sbc.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_audiocodes_mediant_sbc.py
Labels: integration/snmp, changelog/Added

#15196 Sy/weaviate remove try
  weaviate/datadog_checks/weaviate/check.py
  weaviate/tests/common.py
  weaviate/tests/test_integration.py
  weaviate/tests/test_unit.py
Labels: changelog/Added, integration/weaviate

#15139 Add a limit on the number of queries in the query metrics payload at the Agent
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_statements.py
Labels: documentation, integration/sqlserver, changelog/Changed

#14690 Adding ArgoCD notifications controller metrics
  argocd/assets/configuration/spec.yaml
  argocd/assets/service_checks.json
  argocd/datadog_checks/argocd/check.py
  argocd/datadog_checks/argocd/config_models/defaults.py
  argocd/datadog_checks/argocd/config_models/instance.py
  argocd/datadog_checks/argocd/data/conf.yaml.example
  argocd/datadog_checks/argocd/metrics.py
  argocd/manifest.json
  argocd/metadata.csv
  argocd/tests/common.py
  argocd/tests/conftest.py
  argocd/tests/fixtures/notifications_controller_metrics.txt
  argocd/tests/test_argocd.py
  argocd/tests/test_e2e.py
Labels: documentation, changelog/Added, integration/argocd

#15167 Fix Kubernetes probe total metrics type to gauge instead of count
  kubelet/datadog_checks/kubelet/probes.py
  kubelet/metadata.csv
Labels: integration/kubelet, changelog/Fixed

#15098 Fix unnecessary metrics
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/datadog_checks/kafka_consumer/constants.py
  kafka_consumer/tests/common.py
  kafka_consumer/tests/conftest.py
  kafka_consumer/tests/runners.py
  kafka_consumer/tests/test_integration.py
Labels: integration/kafka_consumer, changelog/Fixed

#15106 Improve performance of check
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/hatch.toml
  kafka_consumer/tests/test_integration.py
Labels: changelog/no-changelog, integration/kafka_consumer

#15081 Add Weaviate Integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  weaviate/CHANGELOG.md
  weaviate/README.md
  weaviate/assets/configuration/spec.yaml
  weaviate/assets/service_checks.json
  weaviate/datadog_checks/__init__.py
  weaviate/datadog_checks/weaviate/__about__.py
  weaviate/datadog_checks/weaviate/__init__.py
  weaviate/datadog_checks/weaviate/check.py
  weaviate/datadog_checks/weaviate/config_models/__init__.py
  weaviate/datadog_checks/weaviate/config_models/defaults.py
  weaviate/datadog_checks/weaviate/config_models/instance.py
  weaviate/datadog_checks/weaviate/config_models/shared.py
  weaviate/datadog_checks/weaviate/config_models/validators.py
  weaviate/datadog_checks/weaviate/data/conf.yaml.example
  weaviate/datadog_checks/weaviate/metrics.py
  weaviate/hatch.toml
  weaviate/manifest.json
  weaviate/metadata.csv
  weaviate/pyproject.toml
  weaviate/tests/__init__.py
  weaviate/tests/common.py
  weaviate/tests/conftest.py
  weaviate/tests/fixtures/weaviate_meta_api.json
  weaviate/tests/fixtures/weaviate_nodes_api.json
  weaviate/tests/fixtures/weaviate_openmetrics.txt
  weaviate/tests/kind/weaviate_auth.yaml
  weaviate/tests/kind/weaviate_install.yaml
  weaviate/tests/test_e2e.py
  weaviate/tests/test_integration.py
  weaviate/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, changelog/Added, editorial review, integration/weaviate

#15198 Editorial review of DCGM
  dcgm/README.md
Labels: changelog/no-changelog, integration/dcgm 

#15206 Release new integrations for agent 7.47
  .in-toto/tag.b9ca7eb3.link
  dcgm/datadog_checks/dcgm/__about__.py
  requirements-agent-release.txt
  strimzi/datadog_checks/strimzi/__about__.py
  torchserve/datadog_checks/torchserve/__about__.py
  weaviate/datadog_checks/weaviate/__about__.py
Labels: changelog/no-changelog

#15201 Exclude click 8.1.4 to solve mypy issues
  datadog_checks_dev/hatch.toml
  datadog_checks_dev/pyproject.toml
  ddev/hatch.toml
Labels: changelog/Fixed, dev_package, ddev

#15240 Fix formatting of list in click command help string
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
Labels: dev/tooling, changelog/Fixed, dev_package

#15247 Show full command to generate valid 3rdparty licenses
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
Labels: changelog/no-changelog, dev/tooling, dev_package

#15237 Do not check consumer_groups if the offset is invalid
  kafka_consumer/datadog_checks/kafka_consumer/client.py
Labels: integration/kafka_consumer, changelog/Fixed

#15238 Bump the minimum datadog-checks-base version
  postgres/pyproject.toml
Labels: integration/postgres, changelog/Fixed

#15217 Bump the minimum datadog-checks-base version
  active_directory/pyproject.toml
  aspdotnet/pyproject.toml
  avi_vantage/pyproject.toml
  dotnetclr/pyproject.toml
  exchange_server/pyproject.toml
  ibm_ace/pyproject.toml
  iis/pyproject.toml
  impala/pyproject.toml
  teradata/pyproject.toml
  win32_event_log/pyproject.toml
  windows_performance_counters/pyproject.toml
  yarn/pyproject.toml
Labels: integration/active_directory, integration/aspdotnet, integration/dotnetclr, integration/exchange_server, integration/iis, integration/yarn, changelog/Fixed, integration/win32_event_log, integration/avi_vantage, integration/windows_performance_counters, integration/teradata, integration/ibm_ace, integration/impala

#15218 Bump the minimum datadog-checks-base version
  kubelet/pyproject.toml
Labels: integration/kubelet, changelog/Fixed

#15219 Bump the minimum datadog-checks-base version
  openmetrics/pyproject.toml
Labels: changelog/Fixed, integration/openmetrics

#15230 Skip trace submission for contributors
  .github/workflows/pr-test.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling

#15261 Implement product feedback to readme
  dcgm/README.md
Labels: changelog/no-changelog, integration/dcgm 

#15275 release integrations for 7.47.0-rc3
  .in-toto/tag.b9ca7eb3.link
  active_directory/CHANGELOG.md
  active_directory/datadog_checks/active_directory/__about__.py
  aspdotnet/CHANGELOG.md
  aspdotnet/datadog_checks/aspdotnet/__about__.py
  avi_vantage/CHANGELOG.md
  avi_vantage/datadog_checks/avi_vantage/__about__.py
  dotnetclr/CHANGELOG.md
  dotnetclr/datadog_checks/dotnetclr/__about__.py
  exchange_server/CHANGELOG.md
  exchange_server/datadog_checks/exchange_server/__about__.py
  ibm_ace/CHANGELOG.md
  ibm_ace/datadog_checks/ibm_ace/__about__.py
  iis/CHANGELOG.md
  iis/datadog_checks/iis/__about__.py
  impala/CHANGELOG.md
  impala/datadog_checks/impala/__about__.py
  kafka_consumer/CHANGELOG.md
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  kubelet/CHANGELOG.md
  kubelet/datadog_checks/kubelet/__about__.py
  openmetrics/CHANGELOG.md
  openmetrics/datadog_checks/openmetrics/__about__.py
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  teradata/CHANGELOG.md
  teradata/datadog_checks/teradata/__about__.py
  win32_event_log/CHANGELOG.md
  win32_event_log/datadog_checks/win32_event_log/__about__.py
  windows_performance_counters/CHANGELOG.md
  windows_performance_counters/datadog_checks/windows_performance_counters/__about__.py
  yarn/CHANGELOG.md
  yarn/datadog_checks/yarn/__about__.py
Labels: documentation, changelog/no-changelog, integration/active_directory, integration/aspdotnet, integration/dotnetclr, integration/exchange_server, integration/iis, integration/kafka_consumer, integration/kubelet, integration/postgres, integration/yarn, integration/openmetrics, integration/win32_event_log, release, integration/avi_vantage, integration/windows_performance_counters, integration/teradata, integration/ibm_ace, integration/impala

#15267 Add `snmp/data/default_profiles` to matrix TESTABLE_FILE_PATTERN
  ddev/src/ddev/utils/scripts/ci_matrix.py
Labels: changelog/Fixed, ddev

#15271 Add example for assert_extend_generic_host_resources_base
  snmp/tests/test_e2e_core_profiles/utils.py
Labels: changelog/no-changelog, integration/snmp

#15269 Drop the flake8 config file
  .flake8
Labels: changelog/no-changelog

#15260 Bump python version to 3.9 in the "Create an Agent Integration" page
  docs/dev/agent_integration.md
Labels: documentation, changelog/no-changelog

#15252 Run the legacy tests on py3 too
  aspdotnet/tests/test_aspdotnet.py
Labels: changelog/no-changelog, integration/aspdotnet

#15250 Wait for the service checks endpoint to be up to run the tests
  gitlab/tests/common.py
  gitlab/tests/conftest.py
Labels: changelog/no-changelog, integration/gitlab

#15245 Add missing tests for OMv1
  cilium/tests/common.py
  cilium/tests/test_cilium.py
Labels: changelog/no-changelog, integration/cilium

#15242 Add explanation for constant value.
  kafka_consumer/datadog_checks/kafka_consumer/constants.py
Labels: changelog/no-changelog, integration/kafka_consumer

#15202 Add `hr_device_index` tag to `snmp.hrProcessorLoad` metric
  snmp/datadog_checks/snmp/data/default_profiles/_generic-host-resources-base.yaml
  snmp/tests/test_e2e_core_profiles/utils.py
  snmp/tests/test_profiles.py
Labels: integration/snmp, changelog/Added

#15239 Simplify regex compilation
  kafka_consumer/datadog_checks/kafka_consumer/config.py
Labels: integration/kafka_consumer, changelog/Fixed

#15203 Speed up the kind and docker tests
  datadog_checks_dev/tests/test_docker.py
  datadog_checks_dev/tests/test_kind.py
Labels: changelog/no-changelog, dev_package

#15210 Add profile cisco-load-balancer
  snmp/datadog_checks/snmp/data/default_profiles/cisco-load-balancer.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/cisco-load-balancer.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_load_balancer.py
Labels: integration/snmp, changelog/Added

#15200 Update the python version in the ddev documentation
  docs/developer/setup.md
Labels: documentation, changelog/no-changelog

#14805 Update the troubleshooting section
  openmetrics/README.md
Labels: documentation, changelog/no-changelog, integration/openmetrics, qa/skip-qa

#15280 (DOCS-5254) Fix title casing
  terraform/manifest.json
Labels: documentation, changelog/no-changelog, integration/terraform

#15279 (DOCS-5287) Remove unused links
  mysql/README.md
Labels: documentation, changelog/no-changelog, integration/mysql

#15276 Update Containerd metadata.csv for metrics that were removed in 7.35
  containerd/metadata.csv
Labels: changelog/no-changelog, integration/containerd, qa/skip-qa

#15256 Update integration docs
  docs/dev/api_integration.md
Labels: documentation, changelog/no-changelog

#15262 Specify `DDEV_SKIP_GENERIC_TAGS_CHECK` in the latest env
  cockroachdb/hatch.toml
Labels: changelog/no-changelog, integration/cockroachdb

#15241 Refactor some tests
  redisdb/tests/README.md
  redisdb/tests/test_e2e.py
  redisdb/tests/test_replication.py
  redisdb/tests/test_unit.py
Labels: changelog/no-changelog, integration/redisdb

#15244 add node.js information to openai integration
  openai/README.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, integration/openai

#15199 Win32 Event Log Integration Further Reading Section Update
  win32_event_log/README.md
Labels: documentation, changelog/no-changelog, integration/win32_event_log

#15072 DOCS-5309 Cilium Integration Edits + Metrics Versioning Organization
  cilium/README.md
  cilium/metadata.csv
Labels: documentation, changelog/no-changelog, integration/cilium, editorial review

#15205 Add profile for ups
  snmp/datadog_checks/snmp/data/default_profiles/generic-ups.yaml
  snmp/tests/compose/data/generic-ups.snmprec
  snmp/tests/fixtures/user_profiles/abstract-generic-ups.yaml
  snmp/tests/test_e2e_core_profiles/test_profile__generic_ups.py
  snmp/tests/test_e2e_core_profiles/test_profile_generic_ups.py
  snmp/tests/test_e2e_core_profiles/utils.py
Labels: integration/snmp, changelog/Added

#15270 Add profile cisco-wan-optimizer
  snmp/datadog_checks/snmp/data/default_profiles/cisco-wan-optimizer.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/cisco-wan-optimizer.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_wan_optimizer.py
Labels: integration/snmp, changelog/Added

#15265 Add profile cisco-ucs
  snmp/datadog_checks/snmp/data/default_profiles/cisco-ucs.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/cisco-ucs.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_ucs.py
Labels: integration/snmp, changelog/Added

#15190 Update profile-format.md for metric_type
  docs/developer/tutorials/snmp/profile-format.md
Labels: documentation, changelog/no-changelog

#15251 [AI-3144] Enhance unit and e2e test
  strimzi/tests/test_e2e.py
  strimzi/tests/test_unit.py
Labels: changelog/no-changelog, qa/skip-qa, integration/strimzi

#15283 Fix cisco-ise profile
  snmp/datadog_checks/snmp/data/default_profiles/cisco-ise.yaml
  snmp/tests/compose/data/cisco-ise.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_cisco_ise.py
  snmp/tests/test_e2e_core_profiles/utils.py
Labels: integration/snmp, changelog/Fixed

#15268 Process query rows one at a time to reduce memory footprint
  snowflake/datadog_checks/snowflake/check.py
  snowflake/tests/snowflake_connector_patch/_snowflake_connector_patch/connector.py
  snowflake/tests/test_snowflake.py
Labels: changelog/Fixed, integration/snowflake

#15266 Add abstract profile for cisco vendor to reduce duplication
  snmp/datadog_checks/snmp/data/default_profiles/_cisco-generic.yaml
  snmp/datadog_checks/snmp/data/default_profiles/_cisco-metadata.yaml
  snmp/datadog_checks/snmp/data/default_profiles/cisco-firepower-asa.yaml
  snmp/datadog_checks/snmp/data/default_profiles/cisco-firepower.yaml
  snmp/datadog_checks/snmp/data/default_profiles/cisco-ironport-email.yaml
  snmp/datadog_checks/snmp/data/default_profiles/cisco-legacy-wlc.yaml
  snmp/datadog_checks/snmp/data/default_profiles/cisco.yaml
Labels: integration/snmp, changelog/Fixed, ddev

#14811 Add database autodiscovery to Postgres integration
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/discovery.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/test_discovery.py
  postgres/tests/utils.py
Labels: documentation, integration/postgres, changelog/Added

#15215 Create a network policy to populate metrics in the e2e env
  calico/tests/conftest.py
  calico/tests/kind/calico.yaml
  calico/tests/kind/calicoctl.yaml
  calico/tests/kind/felix-service.yaml
  calico/tests/kind/kind-calico.yaml
  calico/tests/kind/network-policy.yaml
Labels: changelog/no-changelog, integration/calico

#15194 Add `max_connections` config option and enforce it in Postgres integration
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/connections.py
  postgres/datadog_checks/postgres/discovery.py
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/version_utils.py
  postgres/tests/conftest.py
  postgres/tests/test_connections.py
  postgres/tests/test_deadlock.py
  postgres/tests/test_statements.py
  postgres/tests/test_unit.py
Labels: documentation, integration/postgres, changelog/Added

#15228 Modify OpenAI Dashboard to display new endpoints
  openai/assets/dashboards/overview_dashboard.json
Labels: changelog/no-changelog, integration/openai

#15287 Update python.md
  docs/dev/python.md
Labels: documentation, changelog/no-changelog

#15071 Prometheus parsing commands accept files in addition to endpoints
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/prometheus.py
Labels: dev/tooling, changelog/Added, dev_package
