Repository DataDog/integrations-core, pull requests merged in 2024-11, with the labels that each got.

#18966 Send port as part of database instance for MySQL and Postgres
  mysql/changelog.d/18966.added
  mysql/datadog_checks/mysql/mysql.py
  postgres/changelog.d/18966.added
  postgres/datadog_checks/postgres/postgres.py
Labels: integration/mysql, integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved, backport/7.60.x

#18958 Fix missing appended SQL comments
  sqlserver/changelog.d/18958.fixed
  sqlserver/datadog_checks/sqlserver/activity.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18699 INTPLAT-231: add yaml for dismiss-stale-reviews
  .github/workflows/dismiss-stale-reviews.yaml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18919 [CONTP-382] Updating dashboards to use grouping and validation widget
  datadog_cluster_agent/assets/dashboards/datadog_cluster_agent_overview.json
Labels: changelog/no-changelog, qa/skip-qa, integration/datadog_cluster_agent, mergequeue-status: waiting, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18957 [Backport/7.60.x] [mongo] fix db name parsing when namespace has no collection
  mongo/changelog.d/18953.fixed
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/slow_operations.py
  mongo/datadog_checks/mongo/dbm/utils.py
  mongo/tests/test_unit.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18982 [INTPLAT-137] Make Trendmicro email security Docs Public
  trend_micro_email_security/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/trend_micro_email_security, ecosystems/review-requested, product/review-requested

#18985 Add jboss wildfly process signature
  jboss_wildfly/manifest.json
Labels: documentation, changelog/no-changelog, integration/jboss_wildfly, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved

#18986 INTPLAT-231 Remove dismiss stale review yaml
  .github/workflows/dismiss-stale-reviews.yaml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18893 Sy/slurm integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  slurm/CHANGELOG.md
  slurm/README.md
  slurm/assets/configuration/spec.yaml
  slurm/assets/dashboards/slurm_overview.json
  slurm/assets/service_checks.json
  slurm/changelog.d/18893.added
  slurm/datadog_checks/__init__.py
  slurm/datadog_checks/slurm/__about__.py
  slurm/datadog_checks/slurm/__init__.py
  slurm/datadog_checks/slurm/check.py
  slurm/datadog_checks/slurm/config_models/__init__.py
  slurm/datadog_checks/slurm/config_models/defaults.py
  slurm/datadog_checks/slurm/config_models/instance.py
  slurm/datadog_checks/slurm/config_models/shared.py
  slurm/datadog_checks/slurm/config_models/validators.py
  slurm/datadog_checks/slurm/constants.py
  slurm/datadog_checks/slurm/data/conf.yaml.example
  slurm/hatch.toml
  slurm/manifest.json
  slurm/metadata.csv
  slurm/pyproject.toml
  slurm/tests/__init__.py
  slurm/tests/common.py
  slurm/tests/conftest.py
  slurm/tests/fixtures/sacct.txt
  slurm/tests/fixtures/sdiag.txt
  slurm/tests/fixtures/sinfo.txt
  slurm/tests/fixtures/sinfo_partition.txt
  slurm/tests/fixtures/sinfo_version.txt
  slurm/tests/fixtures/squeue.txt
  slurm/tests/fixtures/sshare.txt
  slurm/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, backport/7.60.x, integration/slurm

#18987 update monitor
  argocd/assets/monitors/application_sync_status.json
Labels: changelog/no-changelog, integration/argocd, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved

#18990 Fix slurm
  slurm/assets/dashboards/slurm_overview.json
Labels: changelog/no-changelog, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, integration/slurm

#18993 Don't hardcode location of payload file in serving script.
  ddev/changelog.d/18993.fixed
  ddev/src/ddev/cli/meta/scripts/scripts/serve.py
Labels: ddev, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18999 Release slurm integration with 7.60 RC3
  .in-toto/tag.5d245df7.link
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/18893.added
  slurm/datadog_checks/slurm/__about__.py
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, integration/slurm

#19000 [Release] Bumped slurm version to 1.0.0
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/18893.added
  slurm/datadog_checks/slurm/__about__.py
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, integration/slurm

#19001 Release integrations for 7.60 RC3
  .in-toto/tag.5d245df7.link
  mongo/CHANGELOG.md
  mongo/changelog.d/18953.fixed
  mongo/datadog_checks/mongo/__about__.py
  mysql/CHANGELOG.md
  mysql/changelog.d/18966.added
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/18966.added
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mongo, integration/mysql, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18903 SAASINT-3227 Add vonage integration without assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  vonage/CHANGELOG.md
  vonage/README.md
  vonage/assets/service_checks.json
  vonage/manifest.json
  vonage/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/requested-changes

#18992 update dash
  aws_neuron/assets/dashboards/aws_neuron_overview.json
Labels: changelog/no-changelog, team/agent-integrations, team/documentation, integration/aws_neuron, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19004 Update manifest.json
  cisco_secure_endpoint/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/cisco_secure_endpoint, ecosystems/review-requested, product/review-requested

#19008 Update title for sophos central cloud
  sophos_central_cloud/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/sophos_central_cloud, ecosystems/review-requested, product/review-requested

#19007 [ECOS] Remove Product classifier tag from OpenAI
  openai/manifest.json
Labels: documentation, changelog/no-changelog, integration/openai, team/agent-integrations, team/ml-observability, team/documentation, product/review-requested, agent/approved, ecosystems/approved

#18971 [mongo] add queued read and write operations monitors
  mongo/assets/monitors/high_query_targeting.json
  mongo/assets/monitors/high_queued_readers.json
  mongo/assets/monitors/high_queued_writers.json
  mongo/manifest.json
Labels: documentation, changelog/no-changelog, integration/mongo, assets/no-dry-run, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#19010 Update snowflake-connector-python
  agent_requirements.in
  snowflake/changelog.d/19010.added
  snowflake/pyproject.toml
Labels: dependencies, integration/snowflake, team/agent-integrations, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18718 Various fixes for check_only integrations
  datadog_checks_dev/changelog.d/18718.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/assets/configuration/spec.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/assets/service_checks.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/data/conf.yaml.example
Labels: dev/tooling, dev_package, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19011 Update Neuron docs
  aws_neuron/README.md
  aws_neuron/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/aws_neuron, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18967 Add mappings for 3 new airflow metrics
  airflow/README.md
Labels: documentation, changelog/no-changelog, integration/airflow, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19017 Use descriptive flag in CI
  .github/workflows/test-target.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18962 updated dashboard image
  databricks/assets/dashboards/clusters_dashboard.json
  databricks/assets/dashboards/databricks_cost_overview.json
  databricks/assets/dashboards/overview_dashboard.json
  databricks/manifest.json
  openai/assets/dashboards/cost_overview_dashboard.json
Labels: documentation, changelog/no-changelog, editorial review, integration/databricks, integration/openai, team/agent-integrations, team/ml-observability, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19014 [sqlserver] fix azure_sql_server_database resource
  sqlserver/changelog.d/19014.fixed
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_integration.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19030 Unhide schemas_collection and write agent version
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested

#19028 Update manifest.json
  databricks/README.md
  databricks/manifest.json
Labels: documentation, changelog/no-changelog, integration/databricks, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19033 [sqlserver] agent jobs metrics are DBM only
  sqlserver/changelog.d/19033.fixed
  sqlserver/datadog_checks/sqlserver/database_metrics/base.py
  sqlserver/datadog_checks/sqlserver/database_metrics/database_agent_metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/test_agent_jobs.py
  sqlserver/tests/test_database_metrics.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18941 DOCS-9130 - updating helm snippet for EKS Fargate readme
  eks_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/eks_fargate, qa/skip-qa, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19041 Remove APM section from openai dashboard
  openai/assets/dashboards/cost_overview_dashboard.json
Labels: changelog/no-changelog, integration/openai, team/agent-integrations, team/ml-observability, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#19039 Resovle db_host to itself for .local hosts
  datadog_checks_base/changelog.d/19039.fixed
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: base_package, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#19049 dcd bump
  ddev/changelog.d/19049.added
  ddev/pyproject.toml
Labels: ddev, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19032 [sqlserver] Add option to aggregate azure sql database into one db host
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/19032.added
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_statements.py
Labels: documentation, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18934 Update openai docs
  openai/README.md
Labels: documentation, changelog/no-changelog, editorial review, qa/skip-qa, integration/openai, team/agent-integrations, team/ml-observability, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18670 DDSaaS: HubSpot Content Hub: Crawler Integration v1.0.0
  .github/CODEOWNERS
  hubspot_content_hub/README.md
  hubspot_content_hub/assets/dashboards/hubspot_content_hub_audit_activity.json
  hubspot_content_hub/assets/dashboards/hubspot_content_hub_content_analytics.json
  hubspot_content_hub/assets/dashboards/hubspot_content_hub_geolocation_analytics.json
  hubspot_content_hub/assets/dashboards/hubspot_content_hub_login_activity.json
  hubspot_content_hub/assets/dashboards/hubspot_content_hub_security_activity.json
  hubspot_content_hub/assets/dashboards/hubspot_content_hub_source_analytics.json
  hubspot_content_hub/assets/hubspot_content_hub.svg
  hubspot_content_hub/assets/logs/hubspot-content-hub.yaml
  hubspot_content_hub/assets/logs/hubspot-content-hub_tests.yaml
  hubspot_content_hub/assets/monitors/blog_posts_bounce_rate.json
  hubspot_content_hub/assets/monitors/page_bounce_rate.json
  hubspot_content_hub/images/hubspot_content_hub_audit_activity.png
  hubspot_content_hub/images/hubspot_content_hub_content_analytics.png
  hubspot_content_hub/images/hubspot_content_hub_geolocation_analytics.png
  hubspot_content_hub/images/hubspot_content_hub_login_activity.png
  hubspot_content_hub/images/hubspot_content_hub_security_activity.png
  hubspot_content_hub/images/hubspot_content_hub_source_analytics.png
  hubspot_content_hub/manifest.json
  hubspot_content_hub/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, crest/asset-pr, integration/hubspot_content_hub

#18905 feat(kubernetes_admission): Add integration
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  kubernetes_admission/CHANGELOG.md
  kubernetes_admission/README.md
  kubernetes_admission/assets/service_checks.json
  kubernetes_admission/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/kubernetes_admission_events, integration/kubernetes_admission

#18977 Update langchain docs
  langchain/README.md
Labels: documentation, changelog/no-changelog, editorial review, integration/langchain, mergequeue-status: removed, team/agent-integrations, team/ml-observability, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18991 add assets for slurm
  slurm/assets/dashboards/slurm_overview.json
  slurm/assets/monitors/slurm_dbd_agent.json
  slurm/assets/monitors/slurm_partition.json
  slurm/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/slurm

#19057 [mongo] Slow query log parsing should be timezone aware
  mongo/changelog.d/19057.fixed
  mongo/datadog_checks/mongo/dbm/slow_operations.py
  mongo/tests/fixtures/getLog-standalone
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18117 [PLINT-467] Added support for vSAN metric/event collection in the vSphere integration
  vsphere/assets/configuration/spec.yaml
  vsphere/changelog.d/18117.added
  vsphere/datadog_checks/vsphere/api.py
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/config_models/defaults.py
  vsphere/datadog_checks/vsphere/config_models/instance.py
  vsphere/datadog_checks/vsphere/constants.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/datadog_checks/vsphere/event.py
  vsphere/datadog_checks/vsphere/metrics.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/metadata.csv
  vsphere/tests/mocked_api.py
  vsphere/tests/test_api.py
  vsphere/tests/test_api_rest.py
  vsphere/tests/test_check.py
  vsphere/tests/test_event.py
  vsphere/tests/test_unit.py
Labels: documentation, integration/vsphere, team/agent-integrations, team/platform-integrations, ecosystems/review-requested, product/review-requested, agent/review-requested

#19058 INTPLAT-216 - Display Cisco Secure Email Threat Defense Docs Publically
  cisco_secure_email_threat_defense/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/cisco_secure_email_threat_defense, ecosystems/review-requested, product/review-requested, docs/approved

#18595 [SIEMINT-123] DDSaaS: incident.io: Integration v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  incident_io/CHANGELOG.md
  incident_io/README.md
  incident_io/assets/dashboards/incident-io_incidents_overview.json
  incident_io/assets/incident_io.svg
  incident_io/assets/logs/incident-io.yaml
  incident_io/assets/logs/incident-io_tests.yaml
  incident_io/assets/monitors/critical_public_incident.json
  incident_io/assets/monitors/high_number_of_public_incidents.json
  incident_io/assets/monitors/public_incident_reopened.json
  incident_io/assets/service_checks.json
  incident_io/images/incident-io_incidents_overview_1.png
  incident_io/images/incident-io_incidents_overview_2.png
  incident_io/images/incident-io_incidents_overview_3.png
  incident_io/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, crest/asset-pr

#19068 Update docs and tests for ibm DB2
  ibm_db2/README.md
  ibm_db2/tests/common.py
  ibm_db2/tests/docker/requirements.txt
Labels: documentation, changelog/no-changelog, integration/ibm_db2, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19026 Granular Workflow Permissions
  .github/workflows/build-ddev.yml
  .github/workflows/build-deps.yml
  .github/workflows/docs.yml
  .github/workflows/pr-quick-check.yml
  .github/workflows/release-hash-check.yml
  .github/workflows/run-validations.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/agent-delivery, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19066 Stop setting up Python2 for PRs in ints-core repo
  .github/workflows/pr-test.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, integration/rabbitmq, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19061 [postgres] add alloydbadmin & alloydbmetadata to default exclusion list
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/19061.fixed
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/discovery.py
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18948 DOCS-8894 - fix tabs in helm integration readme
  helm/README.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, integration/helm, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19072 Add tab for NTP containerized config
  ntp/README.md
Labels: documentation, changelog/no-changelog, integration/ntp, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#19078 Speed Up Trace Uploads in GHA
  .ddev/ci/scripts/traces.py
  .github/workflows/submit-traces.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18908 Fixes 'unable to import module' on Windows
  ibm_db2/changelog.d/18908.fixed
  ibm_db2/datadog_checks/ibm_db2/ibm_db2.py
Labels: documentation, integration/ibm_db2, category/bugfix, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19079 [NDMII-3147] update Cisco IP SLA metrics
  snmp/changelog.d/19079.added
  snmp/datadog_checks/snmp/data/default_profiles/_cisco-generic.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/_cisco-generic.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile__cisco_generic.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_profiles.py
Labels: integration/snmp, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/review-requested, team/ndm-core

#19080 [mongo] gracefully fail on operation samples colleciton when node is in recovering mode
  mongo/changelog.d/19080.fixed
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/tests/test_dbm_operation_samples.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19074 nvidia dash
  nvidia_nim/README.md
  nvidia_nim/assets/configuration/spec.yaml
  nvidia_nim/assets/dashboards/nvidia_nim_overview.json
  nvidia_nim/assets/monitors/latency.json
  nvidia_nim/assets/service_checks.json
  nvidia_nim/datadog_checks/nvidia_nim/check.py
  nvidia_nim/datadog_checks/nvidia_nim/data/conf.yaml.example
  nvidia_nim/datadog_checks/nvidia_nim/metrics.py
  nvidia_nim/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/nvidia_nim

#19085 Fix Neuron logs widget
  aws_neuron/assets/dashboards/aws_neuron_overview.json
Labels: changelog/no-changelog, team/agent-integrations, team/documentation, integration/aws_neuron, ecosystems/review-requested, product/review-requested, agent/approved

#19084 mark test flaky
  sqlserver/tests/test_connection.py
Labels: changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19083 Track logical replication slot catalog_xmin age
  postgres/changelog.d/19083.added
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/common.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19089 GitHub Actions "Create Token" Fix
  .github/workflows/pr-quick-check.yml
  .github/workflows/run-validations.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, integration/http_check, qa/skip-qa, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19088 change 4 to 3
  openai/assets/dashboards/cost_overview_dashboard.json
Labels: changelog/no-changelog, integration/openai, team/agent-integrations, team/ml-observability, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved

#19092 [Release] Bumped vsphere version to 8.1.0
  .in-toto/tag.47c5a022.link
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/changelog.d/18117.added
  vsphere/datadog_checks/vsphere/__about__.py
Labels: documentation, integration/vsphere, release, qa/skip-qa, team/agent-integrations, team/platform-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19094 Updating vSAN documentation
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/vsphere, team/agent-integrations, team/platform-integrations, ecosystems/review-requested, product/review-requested

#19100 Override confluent-kafka license
  .ddev/config.toml
Labels: changelog/no-changelog, team/agent-integrations

#19103 Add permissions to the test-results-master and test-results-pr workflows in GitHub Actions
  .github/workflows/test-results-master.yml
  .github/workflows/test-results-pr.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19099 Bump confluent-kafka to 2.6.1 to address CVE
  .builders/images/linux-aarch64/build_script.sh
  .builders/images/linux-x86_64/build_script.sh
  .builders/images/macos-x86_64/extra_build.sh
  .ddev/ci/scripts/kafka_consumer/linux/32_install_kerberos.sh
  .ddev/config.toml
  agent_requirements.in
  kafka_consumer/changelog.d/19099.security
  kafka_consumer/hatch.toml
  kafka_consumer/pyproject.toml
Labels: integration/kafka_consumer, dependencies, team/agent-integrations, team/agent-delivery, ecosystems/review-requested, product/review-requested, agent/approved

#19106 Add reminder to `confluent-kafka` license override
  .ddev/config.toml
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19105 Mark integration tests explicitly as such.
  aerospike/tests/test_aerospike.py
  boundary/tests/test_integration.py
  boundary/tests/test_unit.py
  fluentd/tests/test_integration.py
  fluentd/tests/test_unit.py
  kafka_consumer/tests/test_integration.py
  kafka_consumer/tests/test_unit.py
  mysql/tests/test_metadata.py
  mysql/tests/test_mysql.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_connection.py
  yarn/tests/test_integration.py
  yarn/tests/test_yarn.py
Labels: changelog/no-changelog, integration/fluentd, integration/mysql, integration/sqlserver, integration/yarn, integration/aerospike, integration/boundary, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#19098 [mongo] allow customizable collection interval for collection and sharded data distribution metrics
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/19098.added
  mongo/datadog_checks/mongo/collectors/base.py
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/index_stats.py
  mongo/datadog_checks/mongo/collectors/sharded_data_distribution_stats.py
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/test_integration.py
  mongo/tests/test_unit_config.py
  mongo/tests/utils.py
Labels: documentation, integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19110 [DBM] - Use alternative query for sqlserver 2016 and older
  sqlserver/changelog.d/19110.fixed
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/schemas.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested, backport/7.60.x

#19115 Fix missing permissions in GitHub Actions
  .github/workflows/master.yml
  .github/workflows/pr-quick-check.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19087 Update projects logic and refactor
  octopus_deploy/assets/configuration/spec.yaml
  octopus_deploy/datadog_checks/octopus_deploy/check.py
  octopus_deploy/datadog_checks/octopus_deploy/config_models/instance.py
  octopus_deploy/datadog_checks/octopus_deploy/constants.py
  octopus_deploy/datadog_checks/octopus_deploy/data/conf.yaml.example
  octopus_deploy/datadog_checks/octopus_deploy/error.py
  octopus_deploy/datadog_checks/octopus_deploy/project_groups.py
  octopus_deploy/metadata.csv
  octopus_deploy/tests/conftest.py
  octopus_deploy/tests/constants.py
  octopus_deploy/tests/docker/Caddyfile
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-1/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:00.123000+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-1/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-1/states=Queued,Executing/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-2/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:00.123000+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-2/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-2/states=Queued,Executing/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:00.123000+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/states=Queued,Executing/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-4/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:00.123000+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-4/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-4/states=Queued,Executing/response.json
  octopus_deploy/tests/test_e2e.py
  octopus_deploy/tests/test_unit.py
Labels: documentation, team/agent-integrations, team/platform-integrations, integration/octopus_deploy, ecosystems/review-requested, product/review-requested, agent/review-requested

#19117 Sy/slurm sacct
  slurm/changelog.d/19117.fixed
  slurm/datadog_checks/slurm/check.py
  slurm/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved, backport/7.60.x

#19096 OKE tile copy update
  oke/README.md
  oke/manifest.json
Labels: documentation, changelog/no-changelog, editorial review, integration/oke, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#18881 add model serving metrics
  databricks/README.md
  databricks/assets/dashboards/databricks_cost_overview.json
  databricks/assets/dashboards/model_serving_overview.json
  databricks/assets/monitors/4xx_errors.json
  databricks/assets/monitors/5xx_errors.json
  databricks/assets/monitors/cpu_memory_usage_high.json
  databricks/assets/monitors/cpu_usage_high.json
  databricks/assets/monitors/gpu_memory_usage_high.json
  databricks/assets/monitors/gpu_usage_high.json
  databricks/assets/monitors/request_latency_high.json
  databricks/manifest.json
  databricks/metadata.csv
Labels: documentation, changelog/no-changelog, integration/databricks, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19119 Stop git from ignoring zip files
  .gitignore
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19122 Fix permissions in the "Publish test results for PRs" action.
  .github/workflows/publish-test-results-pr.yml
  .github/workflows/test-results-pr.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/approved

#19123 Bump ints for 7.60 with RC6
  .in-toto/tag.5d245df7.link
  kafka_consumer/CHANGELOG.md
  kafka_consumer/changelog.d/19099.security
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/19117.fixed
  slurm/datadog_checks/slurm/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/19110.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/kafka_consumer, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, integration/slurm

#19124 Fix permissions in the "Check PR" action.
  .github/workflows/pr-check.yml
  .github/workflows/pr-quick-check.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19127 Port changes from 7.60 RC6 to master
  kafka_consumer/CHANGELOG.md
  kafka_consumer/changelog.d/19099.security
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/19117.fixed
  slurm/datadog_checks/slurm/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/19110.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/kafka_consumer, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, integration/slurm

#18933 DDS: Trend Micro Vision One Endpoint Security - README changes
  trend_micro_vision_one_endpoint_security/README.md
Labels: ecosystems/review-requested, product/review-requested, docs/approved

#19024 Yahya/create anthropic
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  anthropic/CHANGELOG.md
  anthropic/README.md
  anthropic/assets/service_checks.json
  anthropic/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, mergequeue-status: waiting, team/agent-integrations, team/ml-observability, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/anthropic

#18976 Include integration installation step
  windows_service/README.md
Labels: documentation, changelog/no-changelog, integration/windows_service, team/agent-integrations, team/windows-agent, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#18969 Submit database_hostname with database_instance
  mysql/changelog.d/18969.added
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/tags.py
  mysql/tests/test_metadata.py
  mysql/tests/test_mysql.py
  mysql/tests/test_query_activity.py
  mysql/tests/test_statements.py
  mysql/tests/test_unit.py
  postgres/changelog.d/18969.added
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/common.py
  postgres/tests/test_e2e.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_unit.py
  sqlserver/changelog.d/18969.added
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: integration/mysql, integration/postgres, integration/sqlserver, ecosystems/review-requested, product/review-requested, agent/approved

#19133 [mongo] Resolve deprecated collStats command in oplog size collection
  mongo/changelog.d/19133.fixed
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/replication_info.py
  mongo/tests/fixtures/$collStats-oplog.rs
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19136 Retry Docker setup more times and wait longer
  envoy/tests/conftest.py
  sap_hana/tests/conftest.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19128 Update Logs code ownership to specific teams
  .github/CODEOWNERS
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19141 Remove Private Beta label from Mongo conf
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: changelog/no-changelog, qa/skip-qa, ecosystems/review-requested, product/review-requested

#18423 Docs8718/update azure ad
  azure_active_directory/README.md
  azure_active_directory/manifest.json
Labels: documentation, changelog/no-changelog, integration/azure_active_directory, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, docs/approved

#18714 [AI-4498] DDS: Symantec Endpoint Protection Integration
  .github/workflows/config/labeler.yml
  symantec_endpoint_protection/CHANGELOG.md
  symantec_endpoint_protection/README.md
  symantec_endpoint_protection/assets/configuration/spec.yaml
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_application_control.json
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_overview.json
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_risk.json
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_scan.json
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_security.json
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_system.json
  symantec_endpoint_protection/assets/dashboards/symantec_endpoint_protection_traffic.json
  symantec_endpoint_protection/assets/logs/symantec-endpoint-protection.yaml
  symantec_endpoint_protection/assets/logs/symantec-endpoint-protection_tests.yaml
  symantec_endpoint_protection/assets/service_checks.json
  symantec_endpoint_protection/assets/symantec_endpoint_protection.svg
  symantec_endpoint_protection/changelog.d/18714.added
  symantec_endpoint_protection/datadog_checks/__init__.py
  symantec_endpoint_protection/datadog_checks/symantec_endpoint_protection/__about__.py
  symantec_endpoint_protection/datadog_checks/symantec_endpoint_protection/__init__.py
  symantec_endpoint_protection/datadog_checks/symantec_endpoint_protection/data/conf.yaml.example
  symantec_endpoint_protection/images/symantec_endpoint_protection_application_control.png
  symantec_endpoint_protection/images/symantec_endpoint_protection_overview.png
  symantec_endpoint_protection/images/symantec_endpoint_protection_risk.png
  symantec_endpoint_protection/images/symantec_endpoint_protection_scan.png
  symantec_endpoint_protection/images/symantec_endpoint_protection_security.png
  symantec_endpoint_protection/images/symantec_endpoint_protection_system.png
  symantec_endpoint_protection/images/symantec_endpoint_protection_traffic.png
  symantec_endpoint_protection/manifest.json
  symantec_endpoint_protection/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, crest/asset-pr

#18646 [AI-4489] DDS: Wazuh Integration v1.0.0
  .github/workflows/config/labeler.yml
  wazuh/CHANGELOG.md
  wazuh/README.md
  wazuh/assets/configuration/spec.yaml
  wazuh/assets/dashboards/wazuh_MITRE_ATT&CK.json
  wazuh/assets/dashboards/wazuh_cloud_security.json
  wazuh/assets/dashboards/wazuh_file_integrity_monitoring.json
  wazuh/assets/dashboards/wazuh_malware_detection.json
  wazuh/assets/dashboards/wazuh_overview.json
  wazuh/assets/dashboards/wazuh_security_operations.json
  wazuh/assets/dashboards/wazuh_system.json
  wazuh/assets/dashboards/wazuh_vulnerability_detection.json
  wazuh/assets/logs/wazuh.yaml
  wazuh/assets/logs/wazuh_tests.yaml
  wazuh/assets/service_checks.json
  wazuh/assets/wazuh.svg
  wazuh/changelog.d/18646.added
  wazuh/datadog_checks/__init__.py
  wazuh/datadog_checks/wazuh/__about__.py
  wazuh/datadog_checks/wazuh/__init__.py
  wazuh/datadog_checks/wazuh/data/conf.yaml.example
  wazuh/images/wazuh-cloud-security.png
  wazuh/images/wazuh-file-integrity-monitoring.png
  wazuh/images/wazuh-malware-detection.png
  wazuh/images/wazuh-mitre-attack.png
  wazuh/images/wazuh-overview.png
  wazuh/images/wazuh-security-operations.png
  wazuh/images/wazuh-system.png
  wazuh/images/wazuh-vulnerability-detection.png
  wazuh/manifest.json
  wazuh/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, crest/asset-pr

#19059 [NDMII-3168] Fix Citrix Profile
  snmp/datadog_checks/snmp/data/default_profiles/citrix-netscaler-sdx.yaml
Labels: changelog/no-changelog, integration/snmp, qa/skip-qa, team/agent-integrations, team/network-device-monitoring, ecosystems/review-requested, product/review-requested, team/ndm-core

#19053 (DOCS-9464) Add DBM metrics
  oracle/metadata.csv
Labels: changelog/no-changelog, integration/oracle, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested

#18667 [AI-4502] DDS: Sonicwall Firewall Integration
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  sonicwall_firewall/CHANGELOG.md
  sonicwall_firewall/README.md
  sonicwall_firewall/assets/configuration/spec.yaml
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_and_firewall_settings.json
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_anti_spam.json
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_network.json
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_overview.json
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_security_services.json
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_user.json
  sonicwall_firewall/assets/dashboards/sonicwall_firewall_vpn.json
  sonicwall_firewall/assets/logs/sonicwall-firewall.yaml
  sonicwall_firewall/assets/logs/sonicwall-firewall_tests.yaml
  sonicwall_firewall/assets/service_checks.json
  sonicwall_firewall/assets/sonicwall_firewall.svg
  sonicwall_firewall/changelog.d/18667.added
  sonicwall_firewall/datadog_checks/__init__.py
  sonicwall_firewall/datadog_checks/sonicwall_firewall/__about__.py
  sonicwall_firewall/datadog_checks/sonicwall_firewall/__init__.py
  sonicwall_firewall/datadog_checks/sonicwall_firewall/data/conf.yaml.example
  sonicwall_firewall/images/sonicwall_firewall_and_firewall_settings.png
  sonicwall_firewall/images/sonicwall_firewall_anti_spam.png
  sonicwall_firewall/images/sonicwall_firewall_network.png
  sonicwall_firewall/images/sonicwall_firewall_overview.png
  sonicwall_firewall/images/sonicwall_firewall_security_services.png
  sonicwall_firewall/images/sonicwall_firewall_user.png
  sonicwall_firewall/images/sonicwall_firewall_vpn.png
  sonicwall_firewall/manifest.json
  sonicwall_firewall/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, crest/asset-pr

#19139 Fix duplicate deadlock events
  sqlserver/changelog.d/19139.fixed
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/datadog_checks/sqlserver/queries.py
Labels: qa/skip-qa, team/database-monitoring, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/approved

#19142 Take the signature of the top statement on the stack for deadlock payload
  sqlserver/changelog.d/19142.fixed
  sqlserver/datadog_checks/sqlserver/deadlocks.py
Labels: team/database-monitoring, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19147 Remove 'version' field from docker-compose.yaml
  aerospike/tests/docker/docker-compose.yaml
  arangodb/tests/docker/docker-compose.yaml
  boundary/tests/docker/docker-compose.yaml
  clickhouse/tests/docker/docker-compose.yaml
  cockroachdb/tests/docker/docker-compose.yaml
  coredns/tests/docker/docker-compose.yml
  envoy/tests/docker/api_v2/docker-compose.yaml
  envoy/tests/docker/api_v3/docker-compose.yaml
  etcd/tests/docker/docker-compose.yaml
  foundationdb/tests/docker/docker-compose.yaml
  hudi/tests/docker/docker-compose.yaml
  ibm_ace/tests/docker/docker-compose.yaml
  ibm_db2/tests/docker/docker-compose.yaml
  ibm_was/tests/docker/docker-compose.yaml
  jboss_wildfly/tests/docker/docker-compose.yml
  lighttpd/tests/docker/auth/docker-compose.yaml
  lighttpd/tests/docker/noauth/docker-compose.yaml
  nginx/tests/docker/docker-compose.yaml
  presto/tests/docker/docker-compose.yaml
  prometheus/tests/docker/docker-compose.yaml
  pulsar/tests/docker/docker-compose.yaml
  ray/tests/docker/docker-compose.yaml
  sap_hana/tests/docker/docker-compose.yaml
  solr/tests/docker/docker-compose.yml
  sonarqube/tests/docker/docker-compose.yaml
  spark/tests/docker/docker-compose.yaml
  sqlserver/tests/compose-ha/docker-compose.yaml
  sqlserver/tests/compose-high-cardinality-windows/docker-compose.yaml
  sqlserver/tests/compose-high-cardinality/docker-compose.yaml
  sqlserver/tests/compose-windows/docker-compose.yaml
  teamcity/tests/docker/teamcity_server/docker-compose.yaml
  torchserve/tests/docker/docker-compose.yaml
  vault/tests/docker/docker-compose.yaml
  vllm/tests/docker/docker-compose.yaml
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19095 [PLINT-468] Updating the vSphere dashboard with vSAN
  vsphere/assets/dashboards/vsphere_overview.json
Labels: changelog/no-changelog, integration/vsphere, team/agent-integrations, team/platform-integrations, ecosystems/review-requested, product/review-requested

#19150 Fix changelog type for downloader
  datadog_checks_downloader/changelog.d/19146.changed
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/approved

#19149 Add `MAX_PAGES` to Sonarqube API request
  sonarqube/changelog.d/19149.added
  sonarqube/datadog_checks/sonarqube/check.py
  sonarqube/datadog_checks/sonarqube/constants.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19073 slurm log pipeline
  slurm/assets/configuration/spec.yaml
  slurm/assets/logs/slurm.yaml
  slurm/assets/logs/slurm_tests.yaml
  slurm/assets/saved_views/slurm_overview.json
  slurm/datadog_checks/slurm/data/conf.yaml.example
  slurm/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/slurm

#18964 Nvidia NIM Integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  nvidia_nim/CHANGELOG.md
  nvidia_nim/README.md
  nvidia_nim/assets/configuration/spec.yaml
  nvidia_nim/assets/dashboards/nvidia_nim_overview.json
  nvidia_nim/assets/monitors/latency.json
  nvidia_nim/assets/service_checks.json
  nvidia_nim/changelog.d/18964.added
  nvidia_nim/datadog_checks/__init__.py
  nvidia_nim/datadog_checks/nvidia_nim/__about__.py
  nvidia_nim/datadog_checks/nvidia_nim/__init__.py
  nvidia_nim/datadog_checks/nvidia_nim/check.py
  nvidia_nim/datadog_checks/nvidia_nim/config_models/__init__.py
  nvidia_nim/datadog_checks/nvidia_nim/config_models/defaults.py
  nvidia_nim/datadog_checks/nvidia_nim/config_models/instance.py
  nvidia_nim/datadog_checks/nvidia_nim/config_models/shared.py
  nvidia_nim/datadog_checks/nvidia_nim/config_models/validators.py
  nvidia_nim/datadog_checks/nvidia_nim/data/conf.yaml.example
  nvidia_nim/datadog_checks/nvidia_nim/metrics.py
  nvidia_nim/hatch.toml
  nvidia_nim/manifest.json
  nvidia_nim/metadata.csv
  nvidia_nim/pyproject.toml
  nvidia_nim/tests/__init__.py
  nvidia_nim/tests/common.py
  nvidia_nim/tests/conftest.py
  nvidia_nim/tests/docker/Caddyfile
  nvidia_nim/tests/docker/docker-compose.yaml
  nvidia_nim/tests/fixtures/nim_metrics.txt
  nvidia_nim/tests/fixtures/nim_version.json
  nvidia_nim/tests/test_e2e.py
  nvidia_nim/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/nvidia_nim

#19155 [Network Path] Add Windows support tag for 7.61
  network_path/manifest.json
Labels: qa/skip-qa, mergequeue-status: removed, ecosystems/review-requested, product/review-requested

#19154 NIM Dashboard additions
  nvidia_nim/assets/dashboards/nvidia_nim_overview.json
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19052 add skip for distribution event
  couch/changelog.d/19052.added
  couch/datadog_checks/couch/couch.py
  couch/tests/conftest.py
  couch/tests/fixtures/_3.4_system.json
  couch/tests/test_unit.py
Labels: integration/couch, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19156 Bump base package dependency to get fixed pyyaml
  kubevirt_handler/changelog.d/19156.fixed
  kubevirt_handler/pyproject.toml
  nvidia_nim/changelog.d/19156.fixed
  nvidia_nim/pyproject.toml
  slurm/changelog.d/19156.fixed
  slurm/pyproject.toml
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19158 Port 7.61 new integrations to master
  nvidia_nim/CHANGELOG.md
  nvidia_nim/changelog.d/18964.added
  nvidia_nim/changelog.d/19156.fixed
  nvidia_nim/datadog_checks/nvidia_nim/__about__.py
  requirements-agent-release.txt
  sonicwall_firewall/CHANGELOG.md
  sonicwall_firewall/changelog.d/18667.added
  sonicwall_firewall/datadog_checks/sonicwall_firewall/__about__.py
  symantec_endpoint_protection/CHANGELOG.md
  symantec_endpoint_protection/changelog.d/18714.added
  symantec_endpoint_protection/datadog_checks/symantec_endpoint_protection/__about__.py
  wazuh/CHANGELOG.md
  wazuh/changelog.d/18646.added
  wazuh/datadog_checks/wazuh/__about__.py
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19159 Release new integrations for Agent 7.61
  .in-toto/tag.b9ca7eb3.link
  nvidia_nim/CHANGELOG.md
  nvidia_nim/changelog.d/18964.added
  nvidia_nim/changelog.d/19156.fixed
  nvidia_nim/datadog_checks/nvidia_nim/__about__.py
  requirements-agent-release.txt
  sonicwall_firewall/CHANGELOG.md
  sonicwall_firewall/changelog.d/18667.added
  sonicwall_firewall/datadog_checks/sonicwall_firewall/__about__.py
  symantec_endpoint_protection/CHANGELOG.md
  symantec_endpoint_protection/changelog.d/18714.added
  symantec_endpoint_protection/datadog_checks/symantec_endpoint_protection/__about__.py
  wazuh/CHANGELOG.md
  wazuh/changelog.d/18646.added
  wazuh/datadog_checks/wazuh/__about__.py
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19160 Release existing integrations for Agent 7.61
  .in-toto/tag.b9ca7eb3.link
  argocd/CHANGELOG.md
  argocd/changelog.d/18961.added
  argocd/datadog_checks/argocd/__about__.py
  clickhouse/CHANGELOG.md
  clickhouse/changelog.d/19018.added
  clickhouse/datadog_checks/clickhouse/__about__.py
  couch/CHANGELOG.md
  couch/changelog.d/19052.added
  couch/datadog_checks/couch/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/19039.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/changelog.d/19146.changed
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
  ibm_db2/CHANGELOG.md
  ibm_db2/changelog.d/18908.fixed
  ibm_db2/datadog_checks/ibm_db2/__about__.py
  kubevirt_handler/CHANGELOG.md
  kubevirt_handler/changelog.d/19156.fixed
  kubevirt_handler/datadog_checks/kubevirt_handler/__about__.py
  mongo/CHANGELOG.md
  mongo/changelog.d/19057.fixed
  mongo/changelog.d/19080.fixed
  mongo/changelog.d/19098.added
  mongo/changelog.d/19133.fixed
  mongo/datadog_checks/mongo/__about__.py
  mysql/CHANGELOG.md
  mysql/changelog.d/18950.added
  mysql/changelog.d/18969.added
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/18969.added
  postgres/changelog.d/19061.fixed
  postgres/changelog.d/19083.added
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/19156.fixed
  slurm/datadog_checks/slurm/__about__.py
  snmp/CHANGELOG.md
  snmp/changelog.d/19079.added
  snmp/datadog_checks/snmp/__about__.py
  snowflake/CHANGELOG.md
  snowflake/changelog.d/19010.added
  snowflake/datadog_checks/snowflake/__about__.py
  sonarqube/CHANGELOG.md
  sonarqube/changelog.d/19149.added
  sonarqube/datadog_checks/sonarqube/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/18958.fixed
  sqlserver/changelog.d/18969.added
  sqlserver/changelog.d/18979.added
  sqlserver/changelog.d/19014.fixed
  sqlserver/changelog.d/19032.added
  sqlserver/changelog.d/19033.fixed
  sqlserver/changelog.d/19139.fixed
  sqlserver/changelog.d/19142.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19162 Port release of existing integrations for Agent 7.61 (#19160)
  argocd/CHANGELOG.md
  argocd/changelog.d/18961.added
  argocd/datadog_checks/argocd/__about__.py
  clickhouse/CHANGELOG.md
  clickhouse/changelog.d/19018.added
  clickhouse/datadog_checks/clickhouse/__about__.py
  couch/CHANGELOG.md
  couch/changelog.d/19052.added
  couch/datadog_checks/couch/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/19039.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/changelog.d/19146.changed
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
  ibm_db2/CHANGELOG.md
  ibm_db2/changelog.d/18908.fixed
  ibm_db2/datadog_checks/ibm_db2/__about__.py
  kubevirt_handler/CHANGELOG.md
  kubevirt_handler/changelog.d/19156.fixed
  kubevirt_handler/datadog_checks/kubevirt_handler/__about__.py
  mongo/CHANGELOG.md
  mongo/changelog.d/19057.fixed
  mongo/changelog.d/19080.fixed
  mongo/changelog.d/19098.added
  mongo/changelog.d/19133.fixed
  mongo/datadog_checks/mongo/__about__.py
  mysql/CHANGELOG.md
  mysql/changelog.d/18950.added
  mysql/changelog.d/18969.added
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/18969.added
  postgres/changelog.d/19061.fixed
  postgres/changelog.d/19083.added
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/19156.fixed
  slurm/datadog_checks/slurm/__about__.py
  snmp/CHANGELOG.md
  snmp/changelog.d/19079.added
  snmp/datadog_checks/snmp/__about__.py
  snowflake/CHANGELOG.md
  snowflake/changelog.d/19010.added
  snowflake/datadog_checks/snowflake/__about__.py
  sonarqube/CHANGELOG.md
  sonarqube/changelog.d/19149.added
  sonarqube/datadog_checks/sonarqube/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/18958.fixed
  sqlserver/changelog.d/18969.added
  sqlserver/changelog.d/18979.added
  sqlserver/changelog.d/19014.fixed
  sqlserver/changelog.d/19032.added
  sqlserver/changelog.d/19033.fixed
  sqlserver/changelog.d/19139.fixed
  sqlserver/changelog.d/19142.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18653 DDSaaS: Shopify: Crawler integration without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  shopify/CHANGELOG.md
  shopify/README.md
  shopify/assets/service_checks.json
  shopify/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19165 Kubeflow : add preview message to Dashboard and public docs
  kubeflow/README.md
  kubeflow/assets/dashboards/overview.json
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18996 Don't skip last index during iteration.
  aerospike/changelog.d/18996.fixed
  aerospike/datadog_checks/aerospike/aerospike.py
  aerospike/tests/common.py
  aerospike/tests/conftest.py
  aerospike/tests/test_aerospike.py
  aerospike/tests/test_unit.py
Labels: integration/aerospike, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved
