Repository DataDog/integrations-core, pull requests merged in 2024-08, with the labels that each got.

#18168 Pin towncrier to 23.11, subsequent release broke us
  datadog_checks_dev/changelog.d/18168.fixed
  datadog_checks_dev/pyproject.toml
Labels: dev_package, team/agent-integrations

#18141 Databricks README remove extra Spark language
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks, team/agent-integrations, team/documentation

#18171 pin msodbcsql18 to 18.3.3.1 in ci
  .ddev/ci/scripts/sqlserver/linux/55_install_odbc.sh
Labels: changelog/no-changelog, team/agent-integrations

#18173 fix msodbcsql18 version in ci
  .ddev/ci/scripts/sqlserver/linux/55_install_odbc.sh
  .devcontainer/dbm/Dockerfile
Labels: changelog/no-changelog, team/agent-integrations, team/database-monitoring-agent

#18169 Collect blk read/write time from pg_stat_database
  postgres/changelog.d/18169.added
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/common.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18174 Upgrade github-script action to use newer Node version
  .github/workflows/pr-quick-check.yml
  .github/workflows/run-validations.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#18170 Mark some known flaky tests
  mapreduce/tests/test_e2e.py
  marklogic/tests/test_marklogic.py
  sqlserver/tests/test_agent_jobs.py
Labels: changelog/no-changelog, integration/mapreduce, integration/sqlserver, integration/marklogic, team/agent-integrations, team/database-monitoring-agent

#18140 [mongo] MongoDB slow query monitoring
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/18140.added
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/slow_operations.py
  mongo/datadog_checks/mongo/dbm/utils.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/fixtures/getLog-mongos
  mongo/tests/fixtures/getLog-standalone
  mongo/tests/fixtures/profile-integration
  mongo/tests/fixtures/profile-test
  mongo/tests/fixtures/system.profile
  mongo/tests/mocked_api.py
  mongo/tests/results/metrics-profiling.json
  mongo/tests/results/slow-operations-mongos.json
  mongo/tests/results/slow-operations-standalone.json
  mongo/tests/test_dbm_operation_samples.py
  mongo/tests/test_dbm_slow_operations.py
  mongo/tests/test_integration.py
  mongo/tests/test_unit_config.py
  mongo/tests/utils.py
Labels: documentation, integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18180 Mark flaky postgres test
  postgres/tests/test_cursor.py
Labels: changelog/no-changelog, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18182 Fix SAP Hana docker image tag
  sap_hana/hatch.toml
Labels: changelog/no-changelog, integration/sap_hana, team/agent-integrations

#18019 Support log submission from checks
  datadog_checks_base/changelog.d/18019.added
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/logs/__init__.py
  datadog_checks_base/datadog_checks/base/checks/logs/crawler/__init__.py
  datadog_checks_base/datadog_checks/base/checks/logs/crawler/base.py
  datadog_checks_base/datadog_checks/base/checks/logs/crawler/stream.py
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/serialization.py
  datadog_checks_base/tests/base/checks/logs/__init__.py
  datadog_checks_base/tests/base/checks/logs/crawler/__init__.py
  datadog_checks_base/tests/base/checks/logs/crawler/test_base.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
Labels: base_package, team/agent-integrations

#18086 Allow forcing SHA1 encryption for older SSH servers
  ssh_check/assets/configuration/spec.yaml
  ssh_check/changelog.d/18086.added
  ssh_check/datadog_checks/ssh_check/config_models/defaults.py
  ssh_check/datadog_checks/ssh_check/config_models/instance.py
  ssh_check/datadog_checks/ssh_check/data/conf.yaml.example
  ssh_check/datadog_checks/ssh_check/ssh_check.py
  ssh_check/tests/test_ssh.py
Labels: documentation, integration/ssh_check, team/agent-integrations, team/documentation

#18181 Mark some sqlserver flaky tests
  sqlserver/tests/test_metadata.py
  sqlserver/tests/test_statements.py
  sqlserver/tests/test_stored_procedures.py
Labels: changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#18185 Update `hdbcli` dependency
  sap_hana/README.md
  sap_hana/hatch.toml
  sap_hana/tests/common.py
Labels: documentation, changelog/no-changelog, integration/sap_hana, team/agent-integrations, team/documentation

#18188 Brush up docs for send_log method
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: changelog/no-changelog, base_package, team/agent-integrations

#18122 [AGENT-11701] Fix handling of deleted build config
  teamcity/changelog.d/18122.fixed
  teamcity/datadog_checks/teamcity/teamcity_rest.py
Labels: integration/teamcity, team/agent-integrations

#18091 Sy/kyverno logs
  kyverno/assets/logs/kyverno.yaml
  kyverno/assets/logs/kyverno_tests.yaml
Labels: documentation, changelog/no-changelog, team/logs-backend, assets/deploy-logs-staging, integration/kyverno

#18176 [CONTINT-4331] Update Container Waiting Graphs in Kubernetes OOTB Dashboards
  datadog_operator/assets/dashboards/operator_overview.json
  kubernetes/assets/dashboards/kubernetes_clusters.json
  kubernetes/assets/dashboards/kubernetes_dashboard.json
  kubernetes/assets/dashboards/kubernetes_pods.json
  vsphere/assets/dashboards/vmware_vsphere_tkg_-_overview.json
Labels: changelog/no-changelog, integration/kubernetes, integration/vsphere, qa/skip-qa, integration/datadog_operator, team/agent-integrations, team/container-integrations, team/container-ecosystems, team/platform-integrations

#18177 [mongo] add database and collection level average latency metrics
  mongo/changelog.d/18177.added
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/server_status.py
  mongo/datadog_checks/mongo/metrics.py
  mongo/metadata.csv
  mongo/tests/results/metrics-collection-autodiscover.json
  mongo/tests/results/metrics-collection.json
  mongo/tests/results/metrics-serverStatus.json
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18156 [mongo] fix connection error when authMechanism is provided
  mongo/changelog.d/18156.fixed
  mongo/datadog_checks/mongo/api.py
  mongo/tests/test_integration.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18183 [postgres] migrate custom_queries to QueryManager
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/18183.added
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/util.py
  postgres/tests/common.py
  postgres/tests/test_cursor.py
  postgres/tests/test_custom_metrics.py
  postgres/tests/test_unit.py
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18146 fix and add metric units
  dcgm/metadata.csv
Labels: changelog/no-changelog, integration/dcgm 

#18194 Added Pods Running by Runtime Class Widget to Kubernetes Pods Overview
  kubernetes/assets/dashboards/kubernetes_pods.json
Labels: changelog/no-changelog, integration/kubernetes, qa/skip-qa, team/agent-integrations, team/container-integrations

#18197 Sy/add zabbix exception
  datadog_checks_dev/changelog.d/18197.added
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
Labels: dev/tooling, dev_package, team/agent-integrations

#18199 Mark ibm MQ test as flaky
  ibm_mq/tests/test_utils.py
Labels: changelog/no-changelog, integration/ibm_mq, team/agent-integrations

#18195 improving Istio logging docs
  istio/README.md
Labels: documentation, changelog/no-changelog, integration/istio, team/agent-integrations, team/documentation

#18201 fix gh action
  .github/workflows/pr-quick-check.yml
  .github/workflows/run-validations.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#18200 [mongo] add mongodb storage metrics from dbstats
  mongo/changelog.d/18200.added
  mongo/datadog_checks/mongo/collectors/db_stat.py
  mongo/datadog_checks/mongo/metrics.py
  mongo/metadata.csv
  mongo/tests/fixtures/dbstats-admin
  mongo/tests/fixtures/dbstats-config
  mongo/tests/fixtures/dbstats-local
  mongo/tests/fixtures/dbstats-test
  mongo/tests/mocked_api.py
  mongo/tests/results/metrics-dbstats-local.json
  mongo/tests/results/metrics-dbstats.json
  mongo/tests/utils.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18203 [sqlserver] fix connection string password obfuscation in OLE DB driver error message
  sqlserver/changelog.d/18203.fixed
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/connection_errors.py
  sqlserver/tests/test_connection.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#18196 [mongo] collect system memory and cpu cores metrics from hostinfo
  mongo/changelog.d/18196.added
  mongo/datadog_checks/mongo/collectors/__init__.py
  mongo/datadog_checks/mongo/collectors/host_info.py
  mongo/datadog_checks/mongo/metrics.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/metadata.csv
  mongo/tests/fixtures/hostInfo
  mongo/tests/results/metrics-hostinfo.json
  mongo/tests/test_integration.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18126 deprecation note for backgroundFlushing
  mongo/metadata.csv
Labels: documentation, changelog/no-changelog, integration/mongo, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#18198 Bumped datadog_checks_dev version to 33.0.0
  .in-toto/tag.ec45eb9d.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/17615.removed
  datadog_checks_dev/changelog.d/17969.fixed
  datadog_checks_dev/changelog.d/18039.added
  datadog_checks_dev/changelog.d/18066.fixed
  datadog_checks_dev/changelog.d/18168.fixed
  datadog_checks_dev/changelog.d/18197.added
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, dev_package, team/agent-integrations, team/documentation

#18206 Bump datadog_checks_dev dependency to 33.0+.
  ddev/changelog.d/18206.added
  ddev/pyproject.toml
Labels: ddev, team/agent-integrations

#18207 [Release] Bumped ddev version to 10.0.0
  ddev/CHANGELOG.md
  ddev/changelog.d/17615.removed
  ddev/changelog.d/17932.added
  ddev/changelog.d/17934.added
  ddev/changelog.d/17969.fixed
  ddev/changelog.d/18063.added
  ddev/changelog.d/18147.added
  ddev/changelog.d/18206.added
Labels: documentation, changelog/no-changelog, qa/skip-qa, ddev, team/agent-integrations, team/documentation

#18167 [mongo] add hosting_type tag to mongo metrics
  mongo/changelog.d/18167.added
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/common.py
  mongo/tests/results/metrics-profiling.json
  mongo/tests/results/metrics-replset-lag-from-primary-configsvr.json
  mongo/tests/results/metrics-replset-lag-from-primary-in-shard.json
  mongo/tests/results/metrics-replset-lag-from-primary.json
  mongo/tests/results/opeartion-activities-mongos.json
  mongo/tests/results/opeartion-activities-standalone.json
  mongo/tests/results/operation-samples-mongos.json
  mongo/tests/results/operation-samples-standalone.json
  mongo/tests/results/slow-operations-mongos.json
  mongo/tests/results/slow-operations-standalone.json
  mongo/tests/test_integration.py
  mongo/tests/test_integration_shard.py
  mongo/tests/test_integration_standalone.py
  mongo/tests/test_unit.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#17976 Add logs pipeline to vllm
  vllm/README.md
  vllm/assets/logs/vllm.yaml
  vllm/assets/logs/vllm_tests.yaml
  vllm/assets/saved_views/errors.json
  vllm/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, integration/vllm

#18210 Mark sqlserver test as flaky
  sqlserver/tests/test_activity.py
Labels: changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#18209 Sy/kyverno nit
  .codecov.yml
  kyverno/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, team/documentation, integration/kyverno

#18214 Bumped datadog_checks_base version to 36.11.0
  .in-toto/tag.ec45eb9d.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/17514.added
  datadog_checks_base/changelog.d/18019.added
  datadog_checks_base/changelog.d/18054.added
  datadog_checks_base/changelog.d/18185.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, base_package, team/agent-integrations

#18216 [mongo] fix doc for metrics prefix for additional_metrics
  mongo/README.md
Labels: documentation, changelog/no-changelog, integration/mongo, team/agent-integrations, team/database-monitoring, team/documentation

#18112 Separate out mongo client for easier unit testing
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/collectors/replica.py
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/slow_operations.py
  mongo/datadog_checks/mongo/discovery.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/test_integration.py
  mongo/tests/test_integration_shard.py
  mongo/tests/test_unit.py
Labels: changelog/no-changelog, integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18119 Ensures that 'should_bypass_proxy' correctly considers unix:/// URLs
  datadog_checks_base/changelog.d/18119.fixed
  datadog_checks_base/datadog_checks/base/utils/http.py
Labels: base_package, team/agent-integrations

#18217 Add new `ddtrace` license to known licenses
  datadog_checks_dev/changelog.d/18217.added
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
Labels: dev/tooling, dev_package, team/agent-integrations

#18213 Sy/ddev edit
  datadog_checks_dev/changelog.d/18213.added
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/config.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_utils.py
  ddev/changelog.d/18213.added
  ddev/src/ddev/integration/core.py
Labels: dev/tooling, dev_package, ddev, team/agent-integrations

#18218 Enforce format of timestamp logs attribute
  datadog_checks_base/changelog.d/18218.added
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
Labels: base_package, team/agent-integrations

#18222 Kyleneale/release checks base
  .in-toto/tag.bd79a691.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/18119.fixed
  datadog_checks_base/changelog.d/18218.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, base_package, team/agent-integrations

#18223 Revert "Add new `ddtrace` license to known licenses"
  datadog_checks_dev/changelog.d/18217.added
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
Labels: dev/tooling, dev_package, team/agent-integrations

#18221 Add ddtrace licenses to known licenses
  ddev/changelog.d/18221.added
  ddev/src/ddev/cli/validate/licenses_utils.py
Labels: dev/tooling, dev_package, ddev, team/agent-integrations

#18226 Mark strimzi e2e test as flaky
  strimzi/tests/test_e2e.py
Labels: changelog/no-changelog, integration/strimzi, team/agent-integrations

#18215 bump ddtrace version to latest (2.10.3)
  agent_requirements.in
  datadog_checks_base/changelog.d/18215.added
  datadog_checks_base/pyproject.toml
Labels: dependencies, base_package, team/agent-integrations

#18227 Expose methods related to submitting logs in developer docs
  docs/developer/base/api.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation

#18235 Mark IBM Ace test as flaky
  ibm_ace/tests/test_e2e.py
Labels: changelog/no-changelog, integration/ibm_ace, team/agent-integrations

#18232 Remove empty docs page
  docs/developer/tutorials/memory-profiling.md
  mkdocs.yml
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation

#18233 Add pip cache to CI test jobs
  .github/workflows/test-target.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#18193 Collect audit logs
  sap_hana/README.md
  sap_hana/assets/configuration/spec.yaml
  sap_hana/changelog.d/18193.added
  sap_hana/datadog_checks/sap_hana/data/conf.yaml.example
  sap_hana/datadog_checks/sap_hana/queries.py
  sap_hana/datadog_checks/sap_hana/sap_hana.py
  sap_hana/pyproject.toml
  sap_hana/tests/conftest.py
  sap_hana/tests/test_integration.py
Labels: documentation, integration/sap_hana, team/agent-integrations, team/documentation

#18234 Update README.md
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks, team/agent-integrations, team/documentation

#18228 [postgres] add role_arn to support cross account iam auth
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/18228.added
  postgres/datadog_checks/postgres/aws.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18224 [mongo] collect system operation samples
  mongo/changelog.d/18224.added
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/tests/fixtures/$currentOp-mongos
  mongo/tests/fixtures/$currentOp-standalone
  mongo/tests/results/opeartion-activities-standalone.json
  mongo/tests/results/operation-activities-mongos.json
  mongo/tests/results/operation-activities-standalone.json
  mongo/tests/test_dbm_operation_samples.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18057 DDS: Trend Micro Email Security: Crawler Integration Without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  trend_micro_email_security/CHANGELOG.md
  trend_micro_email_security/README.md
  trend_micro_email_security/assets/service_checks.json
  trend_micro_email_security/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation

#18249 Revert "[dbm] fix flapping sqlserver_version"
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, backport/7.56.x

#17889 [SIEMINT-72] DDS: Suricata Integration
  .github/workflows/config/labeler.yml
  suricata/CHANGELOG.md
  suricata/README.md
  suricata/assets/configuration/spec.yaml
  suricata/assets/dashboards/suricata_alert.json
  suricata/assets/dashboards/suricata_anomaly.json
  suricata/assets/dashboards/suricata_dhcp.json
  suricata/assets/dashboards/suricata_dns.json
  suricata/assets/dashboards/suricata_flow.json
  suricata/assets/dashboards/suricata_network_protocols.json
  suricata/assets/dashboards/suricata_overview.json
  suricata/assets/dashboards/suricata_smb.json
  suricata/assets/logs/suricata.yaml
  suricata/assets/logs/suricata_tests.yaml
  suricata/assets/service_checks.json
  suricata/assets/suricata.svg
  suricata/changelog.d/17889.added
  suricata/datadog_checks/__init__.py
  suricata/datadog_checks/suricata/__about__.py
  suricata/datadog_checks/suricata/__init__.py
  suricata/datadog_checks/suricata/data/conf.yaml.example
  suricata/images/suricata_alert.png
  suricata/images/suricata_anomaly.png
  suricata/images/suricata_dhcp.png
  suricata/images/suricata_dns.png
  suricata/images/suricata_flow.png
  suricata/images/suricata_network_protocols.png
  suricata/images/suricata_overview.png
  suricata/images/suricata_smb.png
  suricata/manifest.json
  suricata/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging

#17973 [SIEMINT-78] DDS: PingFederate Integration
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  ping_federate/CHANGELOG.md
  ping_federate/README.md
  ping_federate/assets/configuration/spec.yaml
  ping_federate/assets/dashboards/ping_federate_admin.json
  ping_federate/assets/dashboards/ping_federate_audit.json
  ping_federate/assets/logs/ping-federate.yaml
  ping_federate/assets/logs/ping-federate_tests.yaml
  ping_federate/assets/ping_federate.svg
  ping_federate/assets/service_checks.json
  ping_federate/changelog.d/17973.added
  ping_federate/datadog_checks/__init__.py
  ping_federate/datadog_checks/ping_federate/__about__.py
  ping_federate/datadog_checks/ping_federate/__init__.py
  ping_federate/datadog_checks/ping_federate/data/conf.yaml.example
  ping_federate/images/ping_federate_admin.png
  ping_federate/images/ping_federate_audit.png
  ping_federate/manifest.json
  ping_federate/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, phase2

#18254 Make Zeek docs page public
  zeek/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/zeek

#18241 [mongo] fix the database_instance_collection_interval example in config
  mongo/assets/configuration/spec.yaml
Labels: documentation, changelog/no-changelog, integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18256 Retry gitlab runner test if we get transient 502 response
  gitlab_runner/tests/test_e2e.py
Labels: changelog/no-changelog, integration/gitlab_runner, team/agent-integrations

#18258 Add missing changelog entry for #18249
  sqlserver/changelog.d/18249.fixed
Labels: changelog/no-changelog, team/agent-integrations, team/database-monitoring-agent, backport/7.56.x

#18260 [Release] Bumped sqlserver version to 17.4.1
  .in-toto/tag.b9ca7eb3.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/18249.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18261 Port sqlserver release to master
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/18249.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, changelog/no-changelog, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18266 Break out fenced code blocks
  ping_federate/README.md
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/ping_federate

#17938 [SIEMINT-71] DDS: OSSEC Integration
  .github/workflows/config/labeler.yml
  ossec_security/CHANGELOG.md
  ossec_security/README.md
  ossec_security/assets/configuration/spec.yaml
  ossec_security/assets/dashboards/ossec_audit_internal.json
  ossec_security/assets/dashboards/ossec_firewall.json
  ossec_security/assets/dashboards/ossec_ftpd.json
  ossec_security/assets/dashboards/ossec_overview.json
  ossec_security/assets/dashboards/ossec_pam.json
  ossec_security/assets/dashboards/ossec_sshd.json
  ossec_security/assets/dashboards/ossec_syslog.json
  ossec_security/assets/dashboards/ossec_web.json
  ossec_security/assets/dashboards/ossec_windows.json
  ossec_security/assets/logs/ossec-security.yaml
  ossec_security/assets/logs/ossec-security_tests.yaml
  ossec_security/assets/ossec_security.svg
  ossec_security/assets/service_checks.json
  ossec_security/changelog.d/17938.added
  ossec_security/datadog_checks/__init__.py
  ossec_security/datadog_checks/ossec_security/__about__.py
  ossec_security/datadog_checks/ossec_security/__init__.py
  ossec_security/datadog_checks/ossec_security/data/conf.yaml.example
  ossec_security/images/ossec_audit_internal.png
  ossec_security/images/ossec_firewall.png
  ossec_security/images/ossec_overview.png
  ossec_security/images/ossec_pam.png
  ossec_security/images/ossec_sshd.png
  ossec_security/images/ossec_syslog.png
  ossec_security/images/ossec_web.png
  ossec_security/images/ossec_windows.png
  ossec_security/manifest.json
  ossec_security/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, phase2

#18267 Update manifest.json
  trend_micro_email_security/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/trend_micro_email_security

#18274 Mark calico e2e as flaky
  calico/tests/test_e2e.py
Labels: changelog/no-changelog, integration/calico, team/agent-integrations

#18273 Combine streams to single pipe
  datadog_checks_base/changelog.d/18273.added
  datadog_checks_base/datadog_checks/base/utils/replay/execute.py
Labels: base_package, team/agent-integrations

#18029 Add Tibco EMS
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  tibco_ems/CHANGELOG.md
  tibco_ems/README.md
  tibco_ems/assets/configuration/spec.yaml
  tibco_ems/assets/dashboards/overview.json
  tibco_ems/assets/logs/tibco_ems.yaml
  tibco_ems/assets/logs/tibco_ems_tests.yaml
  tibco_ems/assets/monitors/server_uptime.json
  tibco_ems/assets/saved_views/error_logs_overview.json
  tibco_ems/assets/saved_views/logs_overview.json
  tibco_ems/assets/service_checks.json
  tibco_ems/changelog.d/18029.added
  tibco_ems/datadog_checks/__init__.py
  tibco_ems/datadog_checks/tibco_ems/__about__.py
  tibco_ems/datadog_checks/tibco_ems/__init__.py
  tibco_ems/datadog_checks/tibco_ems/config_models/__init__.py
  tibco_ems/datadog_checks/tibco_ems/config_models/defaults.py
  tibco_ems/datadog_checks/tibco_ems/config_models/instance.py
  tibco_ems/datadog_checks/tibco_ems/config_models/shared.py
  tibco_ems/datadog_checks/tibco_ems/config_models/validators.py
  tibco_ems/datadog_checks/tibco_ems/constants.py
  tibco_ems/datadog_checks/tibco_ems/data/conf.yaml.example
  tibco_ems/datadog_checks/tibco_ems/tibco_ems.py
  tibco_ems/hatch.toml
  tibco_ems/manifest.json
  tibco_ems/metadata.csv
  tibco_ems/pyproject.toml
  tibco_ems/tests/__init__.py
  tibco_ems/tests/common.py
  tibco_ems/tests/conftest.py
  tibco_ems/tests/fixtures/show_all
  tibco_ems/tests/fixtures/show_connections
  tibco_ems/tests/fixtures/show_durables
  tibco_ems/tests/fixtures/show_queues
  tibco_ems/tests/fixtures/show_server
  tibco_ems/tests/fixtures/show_stat_consumers
  tibco_ems/tests/fixtures/show_stat_producers
  tibco_ems/tests/fixtures/show_topics
  tibco_ems/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, integration/tibco_ems

#18271 Enable local check only after installing it in agent container.
  ddev/changelog.d/18271.fixed
  ddev/src/ddev/e2e/agent/docker.py
Labels: ddev, team/agent-integrations

#18248 Karpenter add new offering_price_estimate metric
  karpenter/changelog.d/18248.added
  karpenter/datadog_checks/karpenter/metrics.py
Labels: integration/karpenter, team/agent-integrations

#17820 [PLINT-343] Add Fly.io integration
  .codecov.yml
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  fly_io/CHANGELOG.md
  fly_io/README.md
  fly_io/assets/configuration/spec.yaml
  fly_io/assets/logs/fly_io.yaml
  fly_io/assets/logs/fly_io_tests.yaml
  fly_io/assets/service_checks.json
  fly_io/changelog.d/17820.added
  fly_io/datadog_checks/__init__.py
  fly_io/datadog_checks/fly_io/__about__.py
  fly_io/datadog_checks/fly_io/__init__.py
  fly_io/datadog_checks/fly_io/check.py
  fly_io/datadog_checks/fly_io/config_models/__init__.py
  fly_io/datadog_checks/fly_io/config_models/defaults.py
  fly_io/datadog_checks/fly_io/config_models/instance.py
  fly_io/datadog_checks/fly_io/config_models/shared.py
  fly_io/datadog_checks/fly_io/config_models/validators.py
  fly_io/datadog_checks/fly_io/constants.py
  fly_io/datadog_checks/fly_io/data/conf.yaml.example
  fly_io/datadog_checks/fly_io/metrics.py
  fly_io/hatch.toml
  fly_io/manifest.json
  fly_io/metadata.csv
  fly_io/pyproject.toml
  fly_io/tests/__init__.py
  fly_io/tests/common.py
  fly_io/tests/conftest.py
  fly_io/tests/docker/docker-compose.yaml
  fly_io/tests/docker/machines-api/Caddyfile
  fly_io/tests/docker/prometheus/Caddyfile
  fly_io/tests/fixtures/machines-api/GET/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-1/machines/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-1/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-1/volumes/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-2/machines/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-2/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-2/volumes/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-3/machines/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-3/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-3/volumes/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-4/machines/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-4/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-4/volumes/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/org_slug=test/response.json
  fly_io/tests/fixtures/output.txt
  fly_io/tests/metrics.py
  fly_io/tests/test_e2e.py
  fly_io/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, integration/fly_io

#18275 downgrade ddtrace
  agent_requirements.in
  datadog_checks_base/changelog.d/18215.added
  datadog_checks_base/changelog.d/18275.added
  datadog_checks_base/pyproject.toml
Labels: dependencies, base_package, team/agent-integrations

#18265 Add telemetry scraping for Autoscaling
  datadog_cluster_agent/changelog.d/18265.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
Labels: qa/skip-qa, integration/datadog_cluster_agent, team/agent-integrations, team/container-integrations

#18278 Add `log` transformer to the QueryManager
  datadog_checks_base/changelog.d/18278.added
  datadog_checks_base/datadog_checks/base/utils/db/query.py
  datadog_checks_base/datadog_checks/base/utils/db/transform.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/common.py
  datadog_checks_base/tests/base/utils/db/test_query_manager.py
  datadog_checks_base/tests/base/utils/db/test_transformers.py
Labels: base_package, team/agent-integrations, team/database-monitoring-agent

#18285 Release new integrations 7.57.x
  .in-toto/tag.bd79a691.link
  aws_neuron/CHANGELOG.md
  aws_neuron/changelog.d/1.added
  aws_neuron/datadog_checks/aws_neuron/__about__.py
  fly_io/CHANGELOG.md
  fly_io/changelog.d/17820.added
  fly_io/datadog_checks/fly_io/__about__.py
  ossec_security/CHANGELOG.md
  ossec_security/changelog.d/17938.added
  ossec_security/datadog_checks/ossec_security/__about__.py
  ping_federate/CHANGELOG.md
  ping_federate/changelog.d/17973.added
  ping_federate/datadog_checks/ping_federate/__about__.py
  requirements-agent-release.txt
  suricata/CHANGELOG.md
  suricata/changelog.d/17889.added
  suricata/datadog_checks/suricata/__about__.py
  tibco_ems/CHANGELOG.md
  tibco_ems/changelog.d/18029.added
  tibco_ems/datadog_checks/tibco_ems/__about__.py
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/platform-integrations, team/documentation, team/saas-integrations, integration/fly_io, integration/aws_neuron, integration/tibco_ems, integration/ping_federate, integration/ossec_security, integration/suricata

#18287 Fix errors resulting from ignore_databases
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/18287.fixed
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/metrics_cache.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/util.py
  postgres/tests/test_connections.py
  postgres/tests/test_statements.py
Labels: documentation, integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#18290 Port new integration releases to master
  aws_neuron/CHANGELOG.md
  aws_neuron/changelog.d/1.added
  aws_neuron/datadog_checks/aws_neuron/__about__.py
  fly_io/CHANGELOG.md
  fly_io/changelog.d/17820.added
  fly_io/datadog_checks/fly_io/__about__.py
  ossec_security/CHANGELOG.md
  ossec_security/changelog.d/17938.added
  ossec_security/datadog_checks/ossec_security/__about__.py
  ping_federate/CHANGELOG.md
  ping_federate/changelog.d/17973.added
  ping_federate/datadog_checks/ping_federate/__about__.py
  requirements-agent-release.txt
  suricata/CHANGELOG.md
  suricata/changelog.d/17889.added
  suricata/datadog_checks/suricata/__about__.py
  tibco_ems/CHANGELOG.md
  tibco_ems/changelog.d/18029.added
  tibco_ems/datadog_checks/tibco_ems/__about__.py
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/platform-integrations, team/documentation, team/saas-integrations, integration/fly_io, integration/aws_neuron, integration/tibco_ems, integration/ping_federate, integration/ossec_security, integration/suricata

#18293 Properly document new log capability for databases
  datadog_checks_base/datadog_checks/base/utils/db/transform.py
  docs/developer/base/databases.md
Labels: documentation, changelog/no-changelog, base_package, team/agent-integrations, team/documentation

#18300 Document the labeler cannot create new labels
  .github/workflows/labeler-reusable.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#18299 More flaky test markers
  dotnetclr/tests/e2e_test.py
  kafka_consumer/tests/test_integration.py
  vault/tests/test_integration.py
Labels: changelog/no-changelog, integration/dotnetclr, integration/kafka_consumer, integration/vault, team/agent-integrations, team/windows-agent

#18302 Retry envoy docker setup more times
  envoy/tests/conftest.py
Labels: changelog/no-changelog, integration/envoy, team/agent-integrations

#18307 Fix typo when saving broker timestamp
  kafka_consumer/changelog.d/18307.fixed
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
Labels: integration/kafka_consumer, team/agent-integrations

#18308 Remove docs page about integration release.
  docs/developer/process/integration-release.md
  mkdocs.yml
Labels: documentation, changelog/no-changelog, team/agent-integrations

#18316 DDS: Update Agent Version in Readme
  suricata/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/suricata

#18292 Timing for sqlserver agent job completions
  sqlserver/changelog.d/18292.fixed
  sqlserver/datadog_checks/sqlserver/agent_history.py
  sqlserver/tests/test_agent_jobs.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, backport/7.57.x

#18309 [mongo] Collect explain plans for slow operations
  mongo/changelog.d/18309.added
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/slow_operations.py
  mongo/datadog_checks/mongo/dbm/utils.py
  mongo/tests/results/operation-samples-mongos.json
  mongo/tests/results/operation-samples-standalone.json
  mongo/tests/results/slow-operations-explain-plans-mongos.json
  mongo/tests/results/slow-operations-explain-plans-standalone.json
  mongo/tests/results/slow-operations-mongos.json
  mongo/tests/results/slow-operations-standalone.json
  mongo/tests/test_dbm_operation_samples.py
  mongo/tests/test_dbm_slow_operations.py
  mongo/tests/utils.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18288 Add default dashboard
  fly_io/assets/dashboards/overview.json
  fly_io/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/platform-integrations, team/documentation, integration/fly_io

#18318 [Release] [mongo] fix missing metric attributes for slow operations from logs
  .in-toto/tag.bd79a691.link
  mongo/CHANGELOG.md
  mongo/changelog.d/18305.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18321 [Port to master][mongo] fix missing metric attributes for slow operations f…
  mongo/CHANGELOG.md
  mongo/changelog.d/18305.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18323 [Port to master][sqlserver] Timing for sqlserver agent job completions
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/18292.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18324 bump ddtrace to 2.10.5
  agent_requirements.in
  datadog_checks_base/changelog.d/18324.fixed
  datadog_checks_base/pyproject.toml
Labels: dependencies, base_package, team/agent-integrations

#18328 [Cisco SD-WAN] Add metadata for BGP and cloud application metrics
  cisco_sdwan/metadata.csv
Labels: changelog/no-changelog, team/agent-integrations, team/network-device-monitoring, integration/cisco_sdwan

#18205 DDS: Trend Micro Vision One XDR: Crawler Integration without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  trend_micro_vision_one_xdr/CHANGELOG.md
  trend_micro_vision_one_xdr/README.md
  trend_micro_vision_one_xdr/assets/service_checks.json
  trend_micro_vision_one_xdr/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation

#18334 [mongo] collect metric number of views in the database
  mongo/changelog.d/18334.added
  mongo/datadog_checks/mongo/metrics.py
  mongo/metadata.csv
  mongo/tests/fixtures/dbstats-local
  mongo/tests/results/metrics-dbstats-local.json
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18336 Updated description for the availability_group option
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#18339 Fix tile
  tibco_ems/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/tibco_ems

#18341 Base package docstrings follow google format
  datadog_checks_base/datadog_checks/base/checks/base.py
  mkdocs.yml
Labels: changelog/no-changelog, base_package, team/agent-integrations

#18340 fix gh action that uploads standalone binaries
  .github/workflows/build-ddev.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#18342 [mongo] collection stats metrics should be optional
  mongo/changelog.d/18342.fixed
  mongo/datadog_checks/mongo/mongo.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent, backport/7.57.x

#18343 Bumped datadog_checks_dev version to 33.1.0
  .in-toto/tag.ec45eb9d.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/18213.added
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, release, qa/skip-qa, dev_package, team/agent-integrations, team/documentation

#18238 DOCS-8541 - Put AD table in Redis integration readme
  redisdb/README.md
Labels: documentation, changelog/no-changelog, integration/redisdb, qa/skip-qa, team/agent-integrations, team/documentation

#18239 DOCS-8540 - Put AD table in NGINX readme
  nginx/README.md
Labels: documentation, changelog/no-changelog, integration/nginx, qa/skip-qa, team/agent-integrations, team/documentation

#18346 Bump dcd in ddev
  ddev/changelog.d/18346.added
  ddev/pyproject.toml
Labels: ddev, team/agent-integrations

#18347 [Release] Bumped ddev version to 10.1.0
  ddev/CHANGELOG.md
  ddev/changelog.d/18213.added
  ddev/changelog.d/18221.added
  ddev/changelog.d/18271.fixed
  ddev/changelog.d/18346.added
Labels: documentation, changelog/no-changelog, qa/skip-qa, ddev, team/agent-integrations, team/documentation

#18349 remove broken step
  .github/workflows/build-ddev.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#18312 postgres: add log to specify Agent uses password or token to connect to db
  postgres/datadog_checks/postgres/postgres.py
Labels: changelog/no-changelog, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18353 Pass explicit paths for dependencies for building lxml
  .builders/images/macos-x86_64/extra_build.sh
Labels: changelog/no-changelog, team/agent-integrations, team/agent-delivery

#18331 postgres: password authentication will be used when `aws.region` is set and `aws.managed_authentication` is not set
  postgres/changelog.d/18331.changed
  postgres/datadog_checks/postgres/config.py
  postgres/tests/test_pg_integration.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18279 Add service template variable to OTel Collector Metrics Dashboard
  otel/assets/dashboards/otel_collector_metrics_dashboard.json
Labels: changelog/no-changelog, integration/otel, mergequeue-status: removed, team/agent-integrations, team/opentelemetry

#18354 [mongo] Fix collection size metric descripion
  mongo/metadata.csv
Labels: changelog/no-changelog, integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18337 [PLINT-449] Add more robust error handling
  fly_io/changelog.d/18337.fixed
  fly_io/datadog_checks/fly_io/check.py
  fly_io/datadog_checks/fly_io/errors.py
  fly_io/tests/test_unit.py
Labels: team/agent-integrations, team/platform-integrations, integration/fly_io

#18269 Add get agent host tags util function
  datadog_checks_base/changelog.d/18269.added
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: integration/postgres, base_package, team/agent-integrations, team/database-monitoring-agent

#18356 [Release][Backport 7.57.x] [mongo] collection stats metrics should be optional
  .in-toto/tag.bd79a691.link
  mongo/CHANGELOG.md
  mongo/changelog.d/18342.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18037 [dbm][postgres] adds param global_view_db for database_autodiscovery
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/18037.added
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_discovery.py
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18338 [PLINT-472] Support fly histogram metrics
  fly_io/changelog.d/18338.fixed
  fly_io/datadog_checks/fly_io/check.py
  fly_io/datadog_checks/fly_io/metrics.py
  fly_io/metadata.csv
  fly_io/tests/fixtures/output.txt
  fly_io/tests/metrics.py
  fly_io/tests/test_e2e.py
  fly_io/tests/test_unit.py
Labels: team/agent-integrations, team/platform-integrations, integration/fly_io

#18357 [Port to master][mongo] collection stats metrics should be optional
  mongo/CHANGELOG.md
  mongo/changelog.d/18342.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18359 Add another metric to check
  fly_io/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/platform-integrations, team/documentation, integration/fly_io

#18366 Updates codeowners
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-integrations

#18189 AWS Neuron - Monitors
  aws_neuron/assets/monitors/execution_errors.json
  aws_neuron/assets/monitors/execution_latency.json
  aws_neuron/assets/monitors/neuron_runtime_vcpu.json
  aws_neuron/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/aws_neuron

#18368 [Release] Bumped datadog_checks_base version to 36.14.0
  .in-toto/tag.ec45eb9d.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/18269.added
  datadog_checks_base/changelog.d/18324.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, base_package, team/agent-integrations

#18369 Pin fluentd image version
  fluentd/hatch.toml
Labels: changelog/no-changelog, integration/fluentd, team/agent-integrations

#18372 Update README.md
  mongo/README.md
Labels: documentation, changelog/no-changelog, integration/mongo, team/agent-integrations, team/database-monitoring, team/documentation

#18371 [Release] [NDM] [Cisco ACI] Refactor batched payloads + use interface ID if name not available
  .in-toto/tag.bd79a691.link
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/18360.fixed
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/cisco_aci, release, qa/skip-qa, team/agent-integrations, team/network-device-monitoring

#18373 [Port to master] [NDM] [Cisco ACI] Refactor batched payloads + use interface…
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/18360.fixed
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/cisco_aci, release, qa/skip-qa, team/agent-integrations, team/network-device-monitoring

#18363 Update 'ping' description in conf.yaml
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/snmp, team/agent-integrations, team/network-device-monitoring

#18376 Bump mkdocstrings-python to fix documentation build
  hatch.toml
Labels: changelog/no-changelog, team/agent-integrations

#18087 docs(openai): PHP OpenAI Integration
  openai/README.md
Labels: documentation, changelog/no-changelog, integration/openai, team/agent-integrations, team/ml-observability, team/documentation

#18085 feat(openai): Query logs by log tag
  openai/assets/dashboards/overview_dashboard.json
Labels: changelog/no-changelog, integration/openai, team/agent-integrations, team/ml-observability, team/documentation

#18380 make vLLM docs public
  vllm/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/vllm

#18192 [LOI-269] AWS Neuron logs
  aws_neuron/README.md
  aws_neuron/assets/configuration/spec.yaml
  aws_neuron/assets/logs/aws_neuron.yaml
  aws_neuron/assets/logs/aws_neuron_tests.yaml
  aws_neuron/datadog_checks/aws_neuron/data/conf.yaml.example
  aws_neuron/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, integration/aws_neuron, team/siem-logs-reviewers

#18381 Remove dynamic parameter
  flink/README.md
Labels: documentation, changelog/no-changelog, integration/flink, qa/skip-qa, team/agent-integrations, team/documentation

#18382 display docs
  kyverno/README.md
  kyverno/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/kyverno

#18384 Switch gunicorn to stdlib subprocess
  gunicorn/changelog.d/18384.fixed
  gunicorn/datadog_checks/gunicorn/gunicorn.py
  gunicorn/hatch.toml
  gunicorn/tests/test_unit.py
Labels: integration/gunicorn, team/agent-integrations, backport/7.57.x

#18386 Added default port
  postgres/changelog.d/18386.fixed
  postgres/datadog_checks/postgres/config.py
Labels: kind/bug, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18389 [Release][Backport 7.57.x] Switch gunicorn to stdlib subprocess
  .in-toto/tag.bd79a691.link
  gunicorn/CHANGELOG.md
  gunicorn/changelog.d/18384.fixed
  gunicorn/datadog_checks/gunicorn/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/gunicorn, release, qa/skip-qa, team/agent-integrations, team/documentation

#18247 Bump the `ibm_db` version for py3.12
  ibm_db2/README.md
  ibm_db2/hatch.toml
  ibm_db2/tests/docker/requirements.txt
Labels: documentation, changelog/no-changelog, integration/ibm_db2, team/agent-integrations, team/documentation

#18121 [SIEMINT-80] DDSaaS: Contentful: Integration v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  contentful/CHANGELOG.md
  contentful/README.md
  contentful/assets/dashboards/contentful_activity_overview.json
  contentful/assets/logs/contentful.yaml
  contentful/assets/logs/contentful_tests.yaml
  contentful/assets/monitors/scheduled_action_failed.json
  contentful/assets/service_checks.json
  contentful/images/contentful_activity_overview_1.png
  contentful/images/contentful_activity_overview_2.png
  contentful/images/contentful_activity_overview_3.png
  contentful/images/contentful_activity_overview_4.png
  contentful/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers

#18358 Propagate agent host tags for postgres
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/18358.added
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/pyproject.toml
  postgres/tests/test_pg_integration.py
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18245 Bump the `pysnmp` version for py3.12
  agent_requirements.in
  snmp/changelog.d/18245.fixed
  snmp/datadog_checks/snmp/commands.py
  snmp/pyproject.toml
Labels: integration/snmp, dependencies, team/agent-integrations, team/network-device-monitoring

#18388 [mongo] add query_framework to operation samples
  mongo/changelog.d/18388.added
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/types.py
  mongo/tests/results/operation-activities-mongos.json
  mongo/tests/results/operation-activities-standalone.json
  mongo/tests/results/operation-samples-mongos.json
  mongo/tests/results/operation-samples-standalone.json
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18379 Add Network Path Agents OOTB dashboard
  network_path/assets/dashboards/network_path_agents.json
  network_path/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/network-device-monitoring, integration/network_path, team/Networks

#18294 Add new TCP metrics for Network integration on Windows
  network/changelog.d/18294.added.md
  network/datadog_checks/network/check_windows.py
  network/metadata.csv
  network/tests/conftest.py
  network/tests/test_windows.py
Labels: integration/network, team/agent-integrations, team/windows-agent

#18401 Add process signature for teleport
  teleport/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/platform-integrations, team/documentation, integration/teleport

#18405 [mongo] add index usage per second metric
  mongo/changelog.d/18405.added
  mongo/datadog_checks/mongo/collectors/base.py
  mongo/datadog_checks/mongo/collectors/index_stats.py
  mongo/datadog_checks/mongo/metrics.py
  mongo/metadata.csv
  mongo/tests/results/metrics-indexes-stats-autodiscover.json
  mongo/tests/results/metrics-indexes-stats.json
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent
