Repository DataDog/integrations-core, pull requests merged in 2024-09, with the labels that each got.

#17444 edit NTP check docs to mention networking requirements
  ntp/README.md
Labels: documentation, changelog/no-changelog, integration/ntp, team/agent-integrations, team/documentation

#18053 Update README.md
  temporal/README.md
Labels: documentation, changelog/no-changelog, integration/temporal, team/agent-integrations, team/documentation

#18480 Bump Cisco ACI to 2.10.2
  .in-toto/tag.b9ca7eb3.link
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/18414.fixed
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/cisco_aci, release, qa/skip-qa, team/agent-integrations, team/network-device-monitoring

#18184 Update postgres example to the last version
  postgres/README.md
Labels: documentation, changelog/no-changelog, integration/postgres, team/agent-integrations, team/database-monitoring, team/documentation

#18482 [mongo] fix mongodb.collection.indexes.accesses.opsps metric unit
  mongo/metadata.csv
Labels: changelog/no-changelog, integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18464 Switch Glusterfs check to standard subprocess module
  glusterfs/changelog.d/18464.added
  glusterfs/datadog_checks/glusterfs/check.py
  glusterfs/hatch.toml
  glusterfs/tests/conftest.py
  glusterfs/tests/docker/Dockerfile
  glusterfs/tests/docker/docker-compose.yaml
  glusterfs/tests/fixtures/gstatus.json
  glusterfs/tests/fixtures/gstatus.txt
  glusterfs/tests/test_e2e.py
Labels: integration/glusterfs, team/agent-integrations

#18484 Add inline comment
  glusterfs/tests/conftest.py
Labels: changelog/no-changelog, integration/glusterfs, team/agent-integrations

#18457 Bump pysnmp for `asyncore` and `py3.12` compatibility
  LICENSE-3rdparty.csv
  agent_requirements.in
  snmp/changelog.d/18457.added
  snmp/pyproject.toml
Labels: integration/snmp, dependencies, team/agent-integrations, team/network-device-monitoring

#18489 Fix `pysmi` pin comment
  .ddev/config.toml
Labels: changelog/no-changelog, team/agent-integrations

#18479 Port cisco_aci release to master
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/18414.fixed
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/cisco_aci, release, qa/skip-qa, team/agent-integrations, team/network-device-monitoring

#17402 Update README.md
  systemd/README.md
Labels: documentation, changelog/no-changelog, integration/systemd, team/agent-integrations, team/documentation

#18058 [SIEMINT-77] [Release] DDS: Trend Micro Email Security: Crawler Integration v1.0.0
  trend_micro_email_security/CHANGELOG.md
  trend_micro_email_security/README.md
  trend_micro_email_security/assets/dashboards/trend_micro_email_security_mail_tracking.json
  trend_micro_email_security/assets/dashboards/trend_micro_email_security_policy_events.json
  trend_micro_email_security/assets/logs/trend-micro-email-security.yaml
  trend_micro_email_security/assets/logs/trend-micro-email-security_tests.yaml
  trend_micro_email_security/assets/trend_micro_email_security.svg
  trend_micro_email_security/images/trend_micro_email_security_mail_tracking.png
  trend_micro_email_security/images/trend_micro_email_security_policy_events.png
  trend_micro_email_security/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, integration/trend_micro_email_security, team/siem-logs-reviewers, team/integrations-platform

#18466 Add openmetrics properties to Teleport configuration spec
  teleport/assets/configuration/spec.yaml
  teleport/changelog.d/18466.added
  teleport/datadog_checks/teleport/config_models/defaults.py
  teleport/datadog_checks/teleport/config_models/instance.py
  teleport/datadog_checks/teleport/config_models/shared.py
  teleport/datadog_checks/teleport/data/conf.yaml.example
Labels: documentation, team/agent-integrations, team/platform-integrations, integration/teleport

#18494 Bump `ibm_db` version
  ibm_db2/hatch.toml
  ibm_db2/tests/docker/requirements.txt
Labels: changelog/no-changelog, integration/ibm_db2, team/agent-integrations

#18291 [PLINT-438] Add fly recommended monitor
  fly_io/assets/monitors/app_suspended.json
  fly_io/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/platform-integrations, team/documentation, integration/fly_io

#18475 Remove min collection interval from recommended config
  fly_io/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/platform-integrations, team/documentation, integration/fly_io

#18332 Add tutorial and API docs for HTTP crawler log submission
  docs/developer/base/api.md
  docs/developer/base/logs-crawlers.md
  docs/developer/tutorials/logs/http-crawler.md
  mkdocs.yml
Labels: documentation, changelog/no-changelog, editorial review, team/agent-integrations, team/documentation

#18491 Bump `psutil` for python 3.12
  LICENSE-3rdparty.csv
  agent_requirements.in
  btrfs/changelog.d/18491.added
  btrfs/pyproject.toml
  disk/changelog.d/18491.added
  disk/pyproject.toml
  gunicorn/changelog.d/18491.added
  gunicorn/pyproject.toml
  ibm_mq/changelog.d/18491.added
  ibm_mq/pyproject.toml
  network/changelog.d/18491.added
  network/pyproject.toml
  process/changelog.d/18491.added
  process/pyproject.toml
  system_core/changelog.d/18491.added
  system_core/pyproject.toml
  system_swap/changelog.d/18491.added
  system_swap/pyproject.toml
Labels: integration/btrfs, integration/disk, integration/gunicorn, integration/network, integration/process, integration/system_core, integration/system_swap, integration/ibm_mq, dependencies, team/agent-integrations, team/windows-agent

#18473 [mongo] add modules to mongodb instance metadata
  mongo/changelog.d/18473.added
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/fixtures/server_info
  mongo/tests/test_integration.py
  mongo/tests/test_integration_standalone.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18500 Update `confluent-kafka` dependency in MapR
  mapr/hatch.toml
Labels: changelog/no-changelog, integration/mapr, team/agent-integrations

#18495 Switch to boto3
  LICENSE-3rdparty.csv
  agent_requirements.in
  riakcs/changelog.d/18495.added
  riakcs/datadog_checks/riakcs/riakcs.py
  riakcs/pyproject.toml
  riakcs/tests/conftest.py
  riakcs/tests/test_unit.py
Labels: integration/riakcs, dependencies, team/agent-integrations

#18413 Tag release branch
  ddev/changelog.d/18413.added
  ddev/src/ddev/cli/release/branch/__init__.py
  ddev/src/ddev/cli/release/branch/tag.py
  ddev/src/ddev/utils/git.py
  ddev/tests/cli/release/branch/test_tag.py
Labels: ddev, team/agent-integrations

#18502 [mongo] enable inferred schema collection by default
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/18502.added
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: documentation, integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18505 [Release] Bumped ddev version to 10.2.0
  ddev/CHANGELOG.md
  ddev/changelog.d/18413.added
Labels: documentation, changelog/no-changelog, qa/skip-qa, ddev, team/agent-integrations, team/documentation

#18084 [INTPLAT-158] [SIEMINT-88] DDS: Palo Alto Cortex XDR: Crawler Integration v1.0.0
  palo_alto_cortex_xdr/README.md
  palo_alto_cortex_xdr/assets/dashboards/palo_alto_cortex_xdr_alerts.json
  palo_alto_cortex_xdr/assets/dashboards/palo_alto_cortex_xdr_incidents.json
  palo_alto_cortex_xdr/assets/logs/palo-alto-cortex-xdr.yaml
  palo_alto_cortex_xdr/assets/logs/palo-alto-cortex-xdr_tests.yaml
  palo_alto_cortex_xdr/assets/palo_alto_cortex_xdr.svg
  palo_alto_cortex_xdr/assets/service_checks.json
  palo_alto_cortex_xdr/images/palo_alto_cortex_xdr_alerts.png
  palo_alto_cortex_xdr/images/palo_alto_cortex_xdr_incidents.png
  palo_alto_cortex_xdr/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, integration/palo_alto_cortex_xdr, phase2, team/siem-logs-reviewers

#18504 Added 'case sensitive' to interface_configs in SNMP
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/snmp, qa/skip-qa, team/agent-integrations, team/network-device-monitoring

#17946 [INTPLAT-107] [SIEMINT-42] [Release] DDS: Mimecast: Crawler Integration v1.0.0
  mimecast/CHANGELOG.md
  mimecast/README.md
  mimecast/assets/dashboards/mimecast_audit.json
  mimecast/assets/dashboards/mimecast_dlp.json
  mimecast/assets/dashboards/mimecast_rejection.json
  mimecast/assets/dashboards/mimecast_ttp_attachment.json
  mimecast/assets/dashboards/mimecast_ttp_impersonation.json
  mimecast/assets/dashboards/mimecast_ttp_url.json
  mimecast/assets/logs/mimecast.yaml
  mimecast/assets/logs/mimecast_tests.yaml
  mimecast/assets/mimecast.svg
  mimecast/assets/service_checks.json
  mimecast/images/mimecast_audit.png
  mimecast/images/mimecast_dlp.png
  mimecast/images/mimecast_rejection.png
  mimecast/images/mimecast_ttp_attachment.png
  mimecast/images/mimecast_ttp_impersonation_protect.png
  mimecast/images/mimecast_ttp_url.png
  mimecast/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, integration/mimecast, phase2, team/siem-logs-reviewers, team/integrations-platform

#18394 tag Windows integrations with new Windows category
  active_directory/manifest.json
  aspdotnet/manifest.json
  dotnetclr/manifest.json
  exchange_server/manifest.json
  hyperv/manifest.json
  iis/manifest.json
  win32_event_log/manifest.json
  windows_performance_counters/manifest.json
  windows_registry/manifest.json
  windows_service/manifest.json
  winkmem/manifest.json
  wmi_check/manifest.json
Labels: documentation, changelog/no-changelog, integration/active_directory, integration/aspdotnet, integration/dotnetclr, integration/exchange_server, integration/iis, integration/windows_service, integration/wmi_check, integration/hyperv, integration/win32_event_log, integration/windows_performance_counters, integration/winkmem, integration/windows_registry, team/agent-integrations, team/windows-agent, team/documentation

#18506 [mongo] Add warnings when agent user is not authorized to run collStats and indexStats on collections
  mongo/changelog.d/18506.added
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/index_stats.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18510 Update manifest.json
  supervisord/manifest.json
Labels: documentation, changelog/no-changelog, integration/supervisord, team/agent-integrations, team/documentation

#17939 [INTPLAT-107] [SIEMINT-76] [Release] [DDS] PingOne: Crawler Integration v1.0.0
  ping_one/README.md
  ping_one/assets/dashboards/ping_one.json
  ping_one/assets/logs/ping-one.yaml
  ping_one/assets/logs/ping-one_tests.yaml
  ping_one/assets/ping_one.svg
  ping_one/images/ping_one.png
  ping_one/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, integration/ping_one, phase2, team/siem-logs-reviewers

#18511 [mongo] emit collectionscans.total and collectionscans.nontailable as rate
  mongo/changelog.d/18511.added
  mongo/changelog.d/18511.deprecated
  mongo/datadog_checks/mongo/collectors/base.py
  mongo/datadog_checks/mongo/metrics.py
  mongo/metadata.csv
  mongo/tests/results/metrics-collection-autodiscover.json
  mongo/tests/results/metrics-collection.json
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18512 [INTPLAT-109] Mimecast - enable public docs
  mimecast/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/mimecast

#18513 [mongo] new query plancache and sort stage metrics
  mongo/changelog.d/18513.added
  mongo/datadog_checks/mongo/metrics.py
  mongo/metadata.csv
  mongo/tests/fixtures/serverStatus
  mongo/tests/results/metrics-serverStatus.json
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18406 [cilium] Add new metrics with v1.15+
  cilium/changelog.d/18406.added
  cilium/datadog_checks/cilium/metrics.py
  cilium/metadata.csv
  cilium/tests/common.py
Labels: integration/cilium, team/agent-integrations

#17367 Hazelcast integration - Add queues, topics and reltopics and name tag.
  LICENSE-3rdparty.csv
  agent_requirements.in
  hazelcast/assets/configuration/spec.yaml
  hazelcast/changelog.d/17367.added
  hazelcast/changelog.d/17367.changed
  hazelcast/datadog_checks/hazelcast/check.py
  hazelcast/datadog_checks/hazelcast/data/conf.yaml.example
  hazelcast/datadog_checks/hazelcast/data/metrics.yaml
  hazelcast/datadog_checks/hazelcast/utils.py
  hazelcast/hatch.toml
  hazelcast/metadata.csv
  hazelcast/pyproject.toml
  hazelcast/tests/common.py
  hazelcast/tests/conftest.py
  hazelcast/tests/docker/Dockerfile
  hazelcast/tests/docker/docker-compose.yaml
  hazelcast/tests/docker/log4j2.properties
  hazelcast/tests/metrics.py
  hazelcast/tests/test_e2e.py
Labels: documentation, dependencies, integration/hazelcast, qa/skip-qa, team/agent-integrations, team/documentation

#18516 Update CHANGELOG.md
  aws_neuron/CHANGELOG.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, team/agent-integrations, team/documentation, integration/aws_neuron

#18493 clarified cluster agent check docs
  datadog_cluster_agent/README.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, integration/datadog_cluster_agent, team/agent-integrations, team/container-integrations, team/documentation

#18507 [AWS Neuron] Add saved views
  aws_neuron/assets/saved_views/error_logs_overview.json
  aws_neuron/assets/saved_views/logs_overview.json
  aws_neuron/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/aws_neuron

#18496 [NDMII-3054] enrich cisco aci metrics with user tags
  cisco_aci/changelog.d/18496.added
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/tests/test_fabric.py
Labels: integration/cisco_aci, team/agent-integrations, team/network-device-monitoring

#18520 Bump Hazelcast python client to support python 3.12
  agent_requirements.in
  hazelcast/changelog.d/18520.added
  hazelcast/pyproject.toml
Labels: dependencies, integration/hazelcast, team/agent-integrations, backport/7.58.x

#18529 Fix hazelcast dep name in changelog entry
  hazelcast/changelog.d/18520.added
Labels: changelog/no-changelog, integration/hazelcast, team/agent-integrations

#18527 Sy/release hazel aci
  .in-toto/tag.ec45eb9d.link
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/18496.added
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  hazelcast/CHANGELOG.md
  hazelcast/changelog.d/18520.added
  hazelcast/datadog_checks/hazelcast/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/cisco_aci, release, integration/hazelcast, qa/skip-qa, team/agent-integrations, team/network-device-monitoring, team/documentation

#18503 update processes integration doc 'Metrics notes'
  process/README.md
Labels: documentation, changelog/no-changelog, integration/process, team/agent-integrations, team/windows-agent, team/documentation

#18179 Add `kubevirt_api` integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  kubevirt_api/CHANGELOG.md
  kubevirt_api/README.md
  kubevirt_api/assets/configuration/spec.yaml
  kubevirt_api/assets/dashboards/kubevirt_overview.json
  kubevirt_api/assets/service_checks.json
  kubevirt_api/changelog.d/18179.added
  kubevirt_api/datadog_checks/__init__.py
  kubevirt_api/datadog_checks/kubevirt_api/__about__.py
  kubevirt_api/datadog_checks/kubevirt_api/__init__.py
  kubevirt_api/datadog_checks/kubevirt_api/check.py
  kubevirt_api/datadog_checks/kubevirt_api/config_models/__init__.py
  kubevirt_api/datadog_checks/kubevirt_api/config_models/defaults.py
  kubevirt_api/datadog_checks/kubevirt_api/config_models/instance.py
  kubevirt_api/datadog_checks/kubevirt_api/config_models/shared.py
  kubevirt_api/datadog_checks/kubevirt_api/config_models/validators.py
  kubevirt_api/datadog_checks/kubevirt_api/data/conf.yaml.example
  kubevirt_api/datadog_checks/kubevirt_api/kube_client.py
  kubevirt_api/datadog_checks/kubevirt_api/metrics.py
  kubevirt_api/hatch.toml
  kubevirt_api/manifest.json
  kubevirt_api/metadata.csv
  kubevirt_api/pyproject.toml
  kubevirt_api/tests/__init__.py
  kubevirt_api/tests/conftest.py
  kubevirt_api/tests/constants.py
  kubevirt_api/tests/fixtures/healthz.txt
  kubevirt_api/tests/fixtures/metrics.txt
  kubevirt_api/tests/kind/kubevirt-cr.yaml
  kubevirt_api/tests/kind/kubevirt-operator.yaml
  kubevirt_api/tests/kind/vm.yaml
  kubevirt_api/tests/mock_response.py
  kubevirt_api/tests/test_e2e.py
  kubevirt_api/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kubevirt_api

#18383 Laura.hampton/add default go metrics
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/metrics.py
Labels: changelog/no-changelog, integration/openmetrics, base_package, team/agent-integrations, team/container-integrations

#18127 DDS: Cisco Secure Email Threat Defense: Crawler Integration without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  cisco_secure_email_threat_defense/CHANGELOG.md
  cisco_secure_email_threat_defense/README.md
  cisco_secure_email_threat_defense/assets/service_checks.json
  cisco_secure_email_threat_defense/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations

#18539 envoy: bump test to v1.31.0
  envoy/hatch.toml
  envoy/tests/docker/api_v3/Dockerfile-service
  envoy/tests/fixtures/legacy/server_info_api_v3
  envoy/tests/test_unit.py
Labels: changelog/no-changelog, integration/envoy, team/agent-integrations

#18541 Fix broken links in kubernetes cluster overview dashboard
  kubernetes/assets/dashboards/kubernetes_clusters.json
Labels: changelog/no-changelog, integration/kubernetes, qa/skip-qa, team/agent-integrations, team/container-integrations

#18536 envoy: add support for tls_inspector metrics
  envoy/changelog.d/18536.added
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/common.py
  envoy/tests/docker/api_v3/front-envoy.yaml
  envoy/tests/fixtures/openmetrics/openmetrics.txt
  envoy/tests/test_e2e.py
  envoy/tests/test_integration.py
  envoy/tests/test_unit.py
Labels: integration/envoy, team/agent-integrations

#18534 Add Tibco EMS readme
  tibco_ems/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/tibco_ems

#18535 Make Tibco EMS tile public for release
  tibco_ems/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/tibco_ems

#18486 [AWS Neuron] Display Neuron documentation
  aws_neuron/README.md
  aws_neuron/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/aws_neuron

#18545 Remove windows classifier tag from Tibco
  tibco_ems/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/tibco_ems

#18543 Officially sunset tokumx integration.
  .ddev/config.toml
  .github/workflows/test-all.yml
  tokumx/README.md
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, integration/tokumx, team/agent-integrations, team/documentation

#18554 Release integrations from backports
  .in-toto/tag.ec45eb9d.link
  envoy/CHANGELOG.md
  envoy/changelog.d/18536.added
  envoy/datadog_checks/envoy/__about__.py
  mongo/CHANGELOG.md
  mongo/changelog.d/18546.added
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/envoy, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18555 Sy/changelog ports
  envoy/CHANGELOG.md
  envoy/changelog.d/18536.added
  envoy/datadog_checks/envoy/__about__.py
  mongo/CHANGELOG.md
  mongo/changelog.d/18546.added
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/envoy, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18560 Add Contentful copy updates
  contentful/README.md
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/contentful

#18391 Create Kubeflow Integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  kubeflow/CHANGELOG.md
  kubeflow/README.md
  kubeflow/assets/configuration/spec.yaml
  kubeflow/assets/dashboards/overview.json
  kubeflow/assets/monitors/kubeflow.json
  kubeflow/assets/service_checks.json
  kubeflow/changelog.d/18391.added
  kubeflow/datadog_checks/__init__.py
  kubeflow/datadog_checks/kubeflow/__about__.py
  kubeflow/datadog_checks/kubeflow/__init__.py
  kubeflow/datadog_checks/kubeflow/check.py
  kubeflow/datadog_checks/kubeflow/config_models/__init__.py
  kubeflow/datadog_checks/kubeflow/config_models/defaults.py
  kubeflow/datadog_checks/kubeflow/config_models/instance.py
  kubeflow/datadog_checks/kubeflow/config_models/shared.py
  kubeflow/datadog_checks/kubeflow/config_models/validators.py
  kubeflow/datadog_checks/kubeflow/data/conf.yaml.example
  kubeflow/datadog_checks/kubeflow/metrics.py
  kubeflow/hatch.toml
  kubeflow/manifest.json
  kubeflow/metadata.csv
  kubeflow/pyproject.toml
  kubeflow/tests/__init__.py
  kubeflow/tests/common.py
  kubeflow/tests/conftest.py
  kubeflow/tests/docker/Caddyfile
  kubeflow/tests/docker/docker-compose.yaml
  kubeflow/tests/fixtures/kubeflow_metrics.txt
  kubeflow/tests/test_e2e.py
  kubeflow/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kubeflow

#18565 Adjust labeler config and ddev tests to how pyyaml indents lists
  .github/workflows/config/labeler.yml
  ddev/tests/cli/validate/test_labeler.py
Labels: changelog/no-changelog, dev/testing, dev/tooling, ddev, team/agent-integrations

#18523 [ECOS-1658, ECOS-1663] Add Product classifier tags to relevant integrations
  amazon_msk/manifest.json
  confluent_platform/manifest.json
  kafka/manifest.json
  kafka_consumer/manifest.json
  openai/manifest.json
  rabbitmq/manifest.json
Labels: documentation, changelog/no-changelog, integration/kafka, integration/kafka_consumer, integration/rabbitmq, integration/amazon_msk, integration/confluent_platform, integration/openai, team/agent-integrations, team/ml-observability, team/documentation

#18186 Add `kubevirt_controller` integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  kubevirt_controller/CHANGELOG.md
  kubevirt_controller/README.md
  kubevirt_controller/assets/configuration/spec.yaml
  kubevirt_controller/assets/service_checks.json
  kubevirt_controller/changelog.d/18186.added
  kubevirt_controller/datadog_checks/__init__.py
  kubevirt_controller/datadog_checks/kubevirt_controller/__about__.py
  kubevirt_controller/datadog_checks/kubevirt_controller/__init__.py
  kubevirt_controller/datadog_checks/kubevirt_controller/check.py
  kubevirt_controller/datadog_checks/kubevirt_controller/config_models/__init__.py
  kubevirt_controller/datadog_checks/kubevirt_controller/config_models/defaults.py
  kubevirt_controller/datadog_checks/kubevirt_controller/config_models/instance.py
  kubevirt_controller/datadog_checks/kubevirt_controller/config_models/shared.py
  kubevirt_controller/datadog_checks/kubevirt_controller/config_models/validators.py
  kubevirt_controller/datadog_checks/kubevirt_controller/data/conf.yaml.example
  kubevirt_controller/datadog_checks/kubevirt_controller/metrics.py
  kubevirt_controller/hatch.toml
  kubevirt_controller/manifest.json
  kubevirt_controller/metadata.csv
  kubevirt_controller/pyproject.toml
  kubevirt_controller/tests/__init__.py
  kubevirt_controller/tests/conftest.py
  kubevirt_controller/tests/fixtures/healthz.txt
  kubevirt_controller/tests/fixtures/metrics.txt
  kubevirt_controller/tests/kind/kubevirt-cr.yaml
  kubevirt_controller/tests/kind/kubevirt-operator.yaml
  kubevirt_controller/tests/kind/vm.yaml
  kubevirt_controller/tests/test_e2e.py
  kubevirt_controller/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kubevirt_controller

#18572 Make docs available to public
  checkpoint_quantum_firewall/manifest.json
  cisco_secure_firewall/manifest.json
  palo_alto_panorama/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/cisco_secure_firewall, integration/checkpoint_quantum_firewall, integration/palo_alto_panorama

#18571 MySQL 8.4
  mysql/changelog.d/18571.fixed
  mysql/datadog_checks/mysql/mysql.py
  mysql/hatch.toml
Labels: integration/mysql, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18577 Stop resolving and building external dependencies for Python 2
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-delivery

#18429 Update Network Path Agents OOTB with more agent level metrics
  network_path/assets/dashboards/network_path_agents.json
Labels: changelog/no-changelog, team/agent-integrations, team/network-device-monitoring, integration/network_path, team/Networks

#18581 Fix dependency build for macOS
  .builders/images/macos-x86_64/builder_setup.sh
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, team/agent-delivery

#18400 Propagate agent host tags for mysql
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/18400.added
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/config_models/shared.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/pyproject.toml
  mysql/tests/test_mysql.py
Labels: documentation, integration/mysql, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#18585 Mark postgres test as flake
  postgres/tests/test_logical_replication.py
Labels: changelog/no-changelog, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18575 Add service account instruction
  eks_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/eks_fargate, team/agent-integrations, team/container-integrations, team/documentation

#18593 Remove use of 'six' package from most tests (and haproxy and istio)
  amazon_msk/tests/conftest.py
  clickhouse/tests/test_unit.py
  consul/tests/consul_mocks.py
  datadog_checks_base/tests/test_metadata.py
  datadog_checks_dev/tests/test_conditions.py
  disk/tests/test_unit.py
  dns_check/tests/mocks.py
  elastic/tests/test_integration.py
  esxi/tests/ssh_tunnel.py
  go_expvar/tests/test_integration.py
  go_expvar/tests/test_unit.py
  haproxy/datadog_checks/haproxy/legacy/haproxy.py
  hdfs_datanode/tests/test_hdfs_datanode.py
  hdfs_namenode/tests/test_hdfs_namenode.py
  ibm_mq/tests/conftest.py
  ibm_mq/tests/test_ibm_mq_int.py
  ibm_mq/tests/test_ibm_mq_unit.py
  istio/datadog_checks/istio/istio.py
  kubelet/tests/test_kubelet.py
  lighttpd/tests/conftest.py
  mapr/tests/test_unit.py
  mapreduce/tests/test_unit.py
  mesos_master/tests/test_check.py
  mesos_master/tests/test_integration_e2e.py
  mesos_slave/tests/test_integration_e2e.py
  mesos_slave/tests/test_unit.py
  network/tests/common.py
  network/tests/test_ethtool.py
  network/tests/test_linux.py
  network/tests/test_network.py
  network/tests/test_windows.py
  openstack/tests/test_openstack.py
  openstack_controller/tests/ssh_tunnel.py
  postfix/tests/test_e2e.py
  postfix/tests/test_integration.py
  postgres/tests/test_statements.py
  postgres/tests/test_unit.py
  process/tests/test_process.py
  redisdb/tests/test_unit.py
  snmp/tests/common.py
  system_core/tests/test_system_core.py
  tls/tests/conftest.py
  tls/tests/utils.py
  vault/tests/test_vault.py
  vsphere/tests/common.py
  vsphere/tests/mocked_api.py
  vsphere/tests/test_cache.py
  yarn/tests/conftest.py
  yarn/tests/test_yarn.py
  zk/tests/conftest.py
Labels: changelog/no-changelog, integration/consul, integration/disk, integration/dns_check, integration/elastic, integration/go_expvar, integration/haproxy, integration/hdfs_datanode, integration/hdfs_namenode, integration/istio, integration/kubelet, integration/lighttpd, integration/mapreduce, integration/mesos_master, integration/mesos_slave, integration/network, integration/openstack, integration/postfix, integration/postgres, integration/process, integration/redisdb, integration/snmp, integration/system_core, integration/vsphere, integration/yarn, integration/zk, integration/vault, integration/ibm_mq, integration/openstack_controller, integration/tls, integration/mapr, integration/clickhouse, integration/amazon_msk, dev_package, base_package, team/agent-integrations, team/database-monitoring-agent, team/container-integrations, team/network-device-monitoring, team/platform-integrations, team/windows-agent, integration/esxi

#18591 Fix test for license validation
  ddev/tests/cli/validate/test_licenses.py
Labels: changelog/no-changelog, ddev, team/agent-integrations

#18586 [sqlserver] Fix odbc.ini config handling for Linux (SDBM-1171)
  sqlserver/changelog.d/18586.fixed
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/tests/test_unit.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#18594 Add Kubeflow process signature
  kubeflow/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/kubeflow

#18600 Kubeflow update dashboard and readme
  kubeflow/README.md
  kubeflow/assets/dashboards/overview.json
  kubeflow/datadog_checks/changelog.d/18391.added
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kubeflow

#18563 [SIEMNT-130] - DDS: Freshservice: Crawler Integration without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  freshservice/CHANGELOG.md
  freshservice/README.md
  freshservice/assets/service_checks.json
  freshservice/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/platform-integrations, team/documentation

#18608 Sy/rel sqlserv
  .in-toto/tag.ec45eb9d.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/18586.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18609 [Release] Bumped sqlserver version to 17.5.3
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/18586.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18606 Improve assertions in test for python upgrade script
  ddev/tests/cli/meta/scripts/conftest.py
  ddev/tests/cli/meta/scripts/test_upgrade_python.py
Labels: changelog/no-changelog, ddev, team/agent-integrations

#18612 Update Kubeflow python environment to 3.12.6
  kubeflow/hatch.toml
Labels: changelog/no-changelog, team/agent-integrations, integration/kubeflow

#18611 [mongo] add comments to metrics to indicate which collector it comes from
  mongo/datadog_checks/mongo/metrics.py
Labels: changelog/no-changelog, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#18604 Remove six library from some integrations
  datadog_checks_dev/datadog_checks/dev/_env.py
  disk/datadog_checks/disk/disk.py
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  mapreduce/datadog_checks/mapreduce/mapreduce.py
  mcache/datadog_checks/mcache/mcache.py
  mesos_master/datadog_checks/mesos_master/mesos_master.py
  mongo/datadog_checks/mongo/collectors/base.py
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/top.py
  mysql/datadog_checks/mysql/collection_utils.py
  mysql/datadog_checks/mysql/innodb_metrics.py
  mysql/datadog_checks/mysql/mysql.py
  nginx/datadog_checks/nginx/nginx.py
  redisdb/datadog_checks/redisdb/redisdb.py
  riakcs/datadog_checks/riakcs/riakcs.py
  sap_hana/datadog_checks/sap_hana/sap_hana.py
  spark/datadog_checks/spark/constants.py
  squid/datadog_checks/squid/squid.py
  system_core/datadog_checks/system_core/system_core.py
  twemproxy/datadog_checks/twemproxy/twemproxy.py
  twistlock/datadog_checks/twistlock/twistlock.py
  varnish/datadog_checks/varnish/varnish.py
  vsphere/datadog_checks/vsphere/api_rest.py
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/legacy/mor_cache.py
  vsphere/datadog_checks/vsphere/utils.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/legacy/utils.py
  yarn/datadog_checks/yarn/yarn.py
  zk/datadog_checks/zk/zk.py
Labels: changelog/no-changelog, integration/disk, integration/ecs_fargate, integration/mapreduce, integration/mcache, integration/mesos_master, integration/mongo, integration/mysql, integration/nginx, integration/redisdb, integration/riakcs, integration/spark, integration/squid, integration/system_core, integration/twemproxy, integration/varnish, integration/vsphere, integration/yarn, integration/zk, integration/twistlock, integration/kube_apiserver_metrics, integration/sap_hana, dev_package, team/agent-integrations, team/database-monitoring-agent, team/container-integrations, team/platform-integrations, team/windows-agent

#18601 [PLINT-508] Fixed excluded host tags for property metrics in vSphere
  vsphere/changelog.d/18601.fixed
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_unit.py
Labels: integration/vsphere, team/agent-integrations, team/platform-integrations

#18619 Remove some more basic Python 2 compatibility code
  apache/datadog_checks/apache/apache.py
  gitlab/datadog_checks/gitlab/common.py
  scylla/datadog_checks/scylla/scylla.py
  spark/datadog_checks/spark/spark.py
  spark/tests/test_spark.py
  supervisord/datadog_checks/supervisord/supervisord.py
  supervisord/tests/conftest.py
  supervisord/tests/test_supervisord_unit.py
  teamcity/datadog_checks/teamcity/common.py
  tls/datadog_checks/tls/tls_remote.py
  tls/datadog_checks/tls/utils.py
  tls/tests/utils.py
  varnish/datadog_checks/varnish/varnish.py
Labels: changelog/no-changelog, integration/apache, integration/gitlab, integration/spark, integration/supervisord, integration/teamcity, integration/varnish, integration/tls, integration/scylla, team/agent-integrations

#18620 Remove Python2 logic when loading checks
  active_directory/datadog_checks/active_directory/active_directory.py
  aerospike/datadog_checks/aerospike/aerospike.py
  amazon_msk/datadog_checks/amazon_msk/amazon_msk.py
  argocd/datadog_checks/argocd/check.py
  argocd/tests/test_argocd.py
  aspdotnet/datadog_checks/aspdotnet/aspdotnet.py
  cilium/datadog_checks/cilium/cilium.py
  cockroachdb/datadog_checks/cockroachdb/cockroachdb.py
  coredns/datadog_checks/coredns/coredns.py
  dotnetclr/datadog_checks/dotnetclr/dotnetclr.py
  envoy/datadog_checks/envoy/envoy.py
  exchange_server/datadog_checks/exchange_server/exchange_server.py
  gitlab/datadog_checks/gitlab/gitlab.py
  haproxy/datadog_checks/haproxy/check.py
  hyperv/datadog_checks/hyperv/hyperv.py
  kong/datadog_checks/kong/kong.py
  linkerd/datadog_checks/linkerd/linkerd.py
  openmetrics/datadog_checks/openmetrics/config_models/validators.py
  openmetrics/datadog_checks/openmetrics/openmetrics.py
  rabbitmq/datadog_checks/rabbitmq/check.py
  scylla/datadog_checks/scylla/scylla.py
  teamcity/datadog_checks/teamcity/check.py
  teamcity/datadog_checks/teamcity/teamcity_rest.py
  vault/datadog_checks/vault/vault.py
  win32_event_log/datadog_checks/win32_event_log/check.py
Labels: changelog/no-changelog, integration/active_directory, integration/aspdotnet, integration/dotnetclr, integration/envoy, integration/exchange_server, integration/gitlab, integration/haproxy, integration/kong, integration/linkerd, integration/rabbitmq, integration/teamcity, integration/vault, integration/cockroachdb, integration/coredns, integration/openmetrics, integration/hyperv, integration/aerospike, integration/win32_event_log, integration/cilium, integration/scylla, integration/amazon_msk, integration/argocd, team/agent-integrations, team/container-integrations, team/windows-agent

#18607 update kafka readme
  kafka/README.md
  kafka_consumer/README.md
Labels: documentation, changelog/no-changelog, integration/kafka, integration/kafka_consumer, team/agent-integrations, team/documentation

#18624 Remove last batch of easy 'six' dependencies
  citrix_hypervisor/datadog_checks/citrix_hypervisor/check.py
  citrix_hypervisor/tests/test_citrix_hypervisor.py
  citrix_hypervisor/tests/test_metadata.py
  datadog_checks_tests_helper/datadog_test_libs/win/pdh_mocks.py
  gearmand/datadog_checks/gearmand/gearmand.py
  network/datadog_checks/network/ethtool.py
  postgres/datadog_checks/postgres/statement_samples.py
Labels: changelog/no-changelog, integration/gearmand, integration/network, integration/postgres, integration/datadog_checks_tests_helper, integration/citrix_hypervisor, team/agent-integrations, team/database-monitoring-agent, team/platform-integrations, team/windows-agent

#18630 Fix link in readme for kubernetes cluster autscaler
  kubernetes_cluster_autoscaler/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/container-integrations, team/documentation, integration/kubernetes_cluster_autoscaler

#18629 Remove py3.12 bump from Oracle changelog
  oracle/changelog.d/18207.added
Labels: changelog/no-changelog, integration/oracle, team/agent-integrations, team/database-monitoring-agent

#18628 Remove Oracle from ddev CI scripts and codecov
  .codecov.yml
  .ddev/ci/scripts/oracle/linux/55_docker_login.sh
  .github/workflows/config/labeler.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#18632 [AWS Neuron] Add metric units
  aws_neuron/metadata.csv
Labels: changelog/no-changelog, team/agent-integrations, integration/aws_neuron

#18627 Releases new version of `datadog_checks_base`
  .in-toto/tag.bd79a691.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/18207.added
  datadog_checks_base/changelog.d/18580.removed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, base_package, team/agent-integrations

#17690 feat: add apiserver_admission_webhook_request_total metric
  kube_apiserver_metrics/changelog.d/17690.added
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/metadata.csv
  kube_apiserver_metrics/tests/fixtures/metrics_1.23.0.txt
  kube_apiserver_metrics/tests/fixtures/metrics_1.26.0.txt
  kube_apiserver_metrics/tests/fixtures/metrics_1.27.0.txt
  kube_apiserver_metrics/tests/fixtures/metrics_1.28.0.txt
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_23.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_24.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_25.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_26.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_27.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_28.py
Labels: integration/kube_apiserver_metrics, team/agent-integrations, team/container-integrations

#18636 Bump RethinkDB version for python 3.12
  agent_requirements.in
  rethinkdb/changelog.d/18636.added
  rethinkdb/pyproject.toml
Labels: dev/tooling, dependencies, integration/rethinkdb, dev_package, ddev, team/agent-integrations

#18640 Remove 'six' usage from spark test
  spark/tests/test_spark.py
Labels: changelog/no-changelog, integration/spark, team/agent-integrations

#18638 Remove more esoteric uses of 'six'
  cisco_aci/datadog_checks/cisco_aci/models.py
  cisco_aci/tests/fixtures/metadata.py
  cisco_aci/tests/test_fabric.py
  datadog_checks_dev/datadog_checks/dev/compat.py
  datadog_checks_dev/datadog_checks/dev/structures.py
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/common/validator.py
  directory/datadog_checks/directory/traverse.py
  iis/tests/test_e2e.py
  snmp/datadog_checks/snmp/parsing/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: changelog/no-changelog, dev/tooling, integration/directory, integration/iis, integration/snmp, integration/sqlserver, integration/cisco_aci, dev_package, team/agent-integrations, team/database-monitoring-agent, team/network-device-monitoring, team/windows-agent

#18428 [AWS Neuron] Add dashboard
  aws_neuron/assets/dashboards/aws_neuron_overview.json
  aws_neuron/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/aws_neuron

#18634 Add test use case for read_persistent_cache
  kafka_consumer/tests/test_unit.py
Labels: changelog/no-changelog, integration/kafka_consumer, team/agent-integrations

#18645 Kubeflow fix readme link
  kubeflow/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/kubeflow

#18647 add forgotten changelog
  karpenter/changelog.d/18448.added
Labels: changelog/no-changelog, integration/karpenter, team/agent-integrations

#18650 Bumped karpenter version to 1.6.0
  .in-toto/tag.ec45eb9d.link
  karpenter/CHANGELOG.md
  karpenter/changelog.d/18448.added
  karpenter/datadog_checks/karpenter/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, integration/karpenter, team/agent-integrations, team/documentation

#18651 [Release] Bumped karpenter version to 1.6.0
  karpenter/CHANGELOG.md
  karpenter/changelog.d/18448.added
  karpenter/datadog_checks/karpenter/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, integration/karpenter, team/agent-integrations, team/documentation

#17958 [SIEMINT-69] DDS: Cisco Secure Endpoint: Crawler Integration v1.0.0
  cisco_secure_endpoint/README.md
  cisco_secure_endpoint/assets/cisco_secure_endpoint.svg
  cisco_secure_endpoint/assets/dashboards/cisco_secure_endpoint_audit.json
  cisco_secure_endpoint/assets/dashboards/cisco_secure_endpoint_event.json
  cisco_secure_endpoint/assets/logs/cisco-secure-endpoint.yaml
  cisco_secure_endpoint/assets/logs/cisco-secure-endpoint_tests.yaml
  cisco_secure_endpoint/images/cisco_secure_endpoint_audit.png
  cisco_secure_endpoint/images/cisco_secure_endpoint_event.png
  cisco_secure_endpoint/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, integration/cisco_secure_endpoint, phase2, team/siem-logs-reviewers, team/integrations-platform

#18618 [mongo] collect mongod process cpu percentage for self hosted local mongodb
  mongo/changelog.d/18618.added
  mongo/datadog_checks/mongo/collectors/__init__.py
  mongo/datadog_checks/mongo/collectors/process_stats.py
  mongo/datadog_checks/mongo/metrics.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/metadata.csv
  mongo/pyproject.toml
  mongo/tests/conftest.py
  mongo/tests/results/metrics-process-stats.json
  mongo/tests/test_integration.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18622 DDS: Greenhouse: Crawler Integration without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  greenhouse/CHANGELOG.md
  greenhouse/README.md
  greenhouse/assets/service_checks.json
  greenhouse/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation

#18465 Appgate SDP implementation and metadata
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  appgate_sdp/CHANGELOG.md
  appgate_sdp/README.md
  appgate_sdp/assets/configuration/spec.yaml
  appgate_sdp/assets/service_checks.json
  appgate_sdp/changelog.d/18465.added
  appgate_sdp/datadog_checks/__init__.py
  appgate_sdp/datadog_checks/appgate_sdp/__about__.py
  appgate_sdp/datadog_checks/appgate_sdp/__init__.py
  appgate_sdp/datadog_checks/appgate_sdp/check.py
  appgate_sdp/datadog_checks/appgate_sdp/config_models/__init__.py
  appgate_sdp/datadog_checks/appgate_sdp/config_models/defaults.py
  appgate_sdp/datadog_checks/appgate_sdp/config_models/instance.py
  appgate_sdp/datadog_checks/appgate_sdp/config_models/shared.py
  appgate_sdp/datadog_checks/appgate_sdp/config_models/validators.py
  appgate_sdp/datadog_checks/appgate_sdp/data/conf.yaml.example
  appgate_sdp/datadog_checks/appgate_sdp/metrics.py
  appgate_sdp/hatch.toml
  appgate_sdp/manifest.json
  appgate_sdp/metadata.csv
  appgate_sdp/pyproject.toml
  appgate_sdp/tests/__init__.py
  appgate_sdp/tests/common.py
  appgate_sdp/tests/conftest.py
  appgate_sdp/tests/docker/Caddyfile
  appgate_sdp/tests/docker/docker-compose.yaml
  appgate_sdp/tests/fixtures/appgate_sdp_metrics.txt
  appgate_sdp/tests/test_e2e.py
  appgate_sdp/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/appgate_sdp

#18567 [INTPLAT-158] [SIEMINT-88] DDS: Palo alto cortex xdr assets v1.0.1: Fix for malicious URLs
  palo_alto_cortex_xdr/assets/dashboards/palo_alto_cortex_xdr_alerts.json
  palo_alto_cortex_xdr/assets/logs/palo-alto-cortex-xdr.yaml
  palo_alto_cortex_xdr/images/palo_alto_cortex_xdr_alerts.png
  palo_alto_cortex_xdr/images/palo_alto_cortex_xdr_incidents.png
Labels: changelog/no-changelog, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, integration/palo_alto_cortex_xdr, team/siem-logs-reviewers

#18537 Make fly.io public
  fly_io/README.md
  fly_io/manifest.json
Labels: documentation, changelog/no-changelog, editorial review, team/agent-integrations, team/platform-integrations, team/documentation, integration/fly_io

#18596 add check_only template for publishing platform integrations
  datadog_checks_dev/changelog.d/18596.added
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/constants.py
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/changelog.d/1.added
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/__about__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/config_models/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/config_models/defaults.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/config_models/instance.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/config_models/shared.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/config_models/validators.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/hatch.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/tests/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/tests/conftest.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/tests/test_unit.py
  docs/developer/setup.md
Labels: documentation, dev/tooling, release, qa/skip-qa, dev_package, team/agent-integrations, team/documentation

#18661 [Release] vSphere
  .in-toto/tag.bd79a691.link
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/changelog.d/18207.added
  vsphere/changelog.d/18580.removed
  vsphere/changelog.d/18601.fixed
  vsphere/changelog.d/18617.fixed
  vsphere/changelog.d/18652.added
  vsphere/datadog_checks/vsphere/__about__.py
Labels: documentation, integration/vsphere, release, qa/skip-qa, team/agent-integrations, team/platform-integrations, team/documentation

#18631 [SIEMINT-118] DDS: Trellix Endpoint Security: Crawler Integration Without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  trellix_endpoint_security/CHANGELOG.md
  trellix_endpoint_security/README.md
  trellix_endpoint_security/assets/service_checks.json
  trellix_endpoint_security/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, team/integrations-platform

#18660 DDSaaS: Metabase: Crawler integration without Assets
  .github/workflows/config/labeler.yml
  metabase/CHANGELOG.md
  metabase/README.md
  metabase/assets/metabase.svg
  metabase/assets/service_checks.json
  metabase/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation

#18669 Bump OpenSSL in dependency builders
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
Labels: changelog/no-changelog, team/agent-integrations, team/agent-delivery

#18677 Add ability to pass a CA cert to Clickhouse
  clickhouse/assets/configuration/spec.yaml
  clickhouse/changelog.d/18677.added
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  clickhouse/datadog_checks/clickhouse/config_models/instance.py
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  clickhouse/tests/test_unit.py
Labels: documentation, integration/clickhouse, team/agent-integrations, team/documentation

#18664 Update spec.yaml
  win32_event_log/assets/configuration/spec.yaml
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/win32_event_log, mergequeue-status: waiting, team/agent-integrations, team/windows-agent

#18678 Add note about property metrics
  vsphere/README.md
Labels: documentation, changelog/no-changelog, integration/vsphere, team/agent-integrations, team/platform-integrations, team/documentation

#18643 Add integration for Anyscale
  .github/workflows/config/labeler.yml
  anyscale/CHANGELOG.md
  anyscale/README.md
  anyscale/assets/dashboards/anyscale_overview.json
  anyscale/assets/monitors/cpu_utilization.json
  anyscale/assets/monitors/failed_task.json
  anyscale/assets/monitors/gpu_utilization.json
  anyscale/assets/monitors/mem_utilization.json
  anyscale/assets/service_checks.json
  anyscale/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, integration/anyscale

#18683 run sqlserver tests on ubuntu 20.04
  .ddev/config.toml
  .github/workflows/test-all.yml
  sqlserver/tests/compose/docker-compose.yaml
Labels: changelog/no-changelog, dev/testing, dev/tooling, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#18687 Sy/elastic sc tags
  elastic/assets/configuration/spec.yaml
  elastic/changelog.d/18687.added
  elastic/datadog_checks/elastic/config.py
  elastic/datadog_checks/elastic/config_models/defaults.py
  elastic/datadog_checks/elastic/config_models/instance.py
  elastic/datadog_checks/elastic/data/conf.yaml.example
  elastic/tests/test_unit.py
Labels: documentation, integration/elastic, team/agent-integrations, team/documentation

#18108 Collect sqlserver deadlock data
  .ddev/ci/scripts/sqlserver/windows/41_install_native_client.bat
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/18108.added
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/schemas.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/hatch.toml
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/deadlocks/sqlserver_deadlock_event.xml
  sqlserver/tests/test_deadlocks.py
Labels: documentation, integration/sqlserver, base_package, team/agent-integrations, team/database-monitoring-agent

#18691 [sqlserver] add sqlserver agent completed job metrics to metadata
  sqlserver/metadata.csv
Labels: changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#18283 Add `kubevirt_handler` integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  kubevirt_handler/CHANGELOG.md
  kubevirt_handler/README.md
  kubevirt_handler/assets/configuration/spec.yaml
  kubevirt_handler/assets/service_checks.json
  kubevirt_handler/changelog.d/18283.added
  kubevirt_handler/datadog_checks/__init__.py
  kubevirt_handler/datadog_checks/kubevirt_handler/__about__.py
  kubevirt_handler/datadog_checks/kubevirt_handler/__init__.py
  kubevirt_handler/datadog_checks/kubevirt_handler/check.py
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/__init__.py
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/defaults.py
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/instance.py
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/shared.py
  kubevirt_handler/datadog_checks/kubevirt_handler/config_models/validators.py
  kubevirt_handler/datadog_checks/kubevirt_handler/data/conf.yaml.example
  kubevirt_handler/datadog_checks/kubevirt_handler/metrics.py
  kubevirt_handler/hatch.toml
  kubevirt_handler/images/IMAGES_README.md
  kubevirt_handler/manifest.json
  kubevirt_handler/metadata.csv
  kubevirt_handler/pyproject.toml
  kubevirt_handler/tests/__init__.py
  kubevirt_handler/tests/conftest.py
  kubevirt_handler/tests/fixtures/healthz.txt
  kubevirt_handler/tests/fixtures/metrics.txt
  kubevirt_handler/tests/kind/kubevirt-cr.yaml
  kubevirt_handler/tests/kind/kubevirt-operator.yaml
  kubevirt_handler/tests/kind/vm.yaml
  kubevirt_handler/tests/test_e2e.py
  kubevirt_handler/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kubevirt_handler, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18637 Bump `lxml` version for py3.12 E2E tests
  agent_requirements.in
  ibm_was/changelog.d/18637.added
  ibm_was/pyproject.toml
  sqlserver/changelog.d/18637.added
  sqlserver/pyproject.toml
Labels: dev/testing, dev/tooling, integration/sqlserver, integration/ibm_was, dependencies, dev_package, ddev, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18698 [sqlserver] update sqlserver test images
  sqlserver/hatch.toml
  sqlserver/tests/compose-ha/sql/db-init.sh
  sqlserver/tests/compose-high-cardinality/setup.sh
  sqlserver/tests/compose/setup.sh
Labels: changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18703 istio docs
  istio/README.md
Labels: documentation, changelog/no-changelog, integration/istio, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18704 Fix KubeVirt E2E environment
  kubevirt_handler/hatch.toml
Labels: changelog/no-changelog, team/agent-integrations, integration/kubevirt_handler, ecosystems/review-requested, product/review-requested, agent/approved

#18684 Update vsphere_overview.json
  vsphere/assets/dashboards/vsphere_overview.json
Labels: changelog/no-changelog, integration/vsphere, team/agent-integrations, team/platform-integrations

#18530 Sy/porting to master2
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/18496.added
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  hazelcast/CHANGELOG.md
  hazelcast/changelog.d/18520.added
  hazelcast/datadog_checks/hazelcast/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/cisco_aci, release, integration/hazelcast, qa/skip-qa, team/agent-integrations, team/network-device-monitoring, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18712 Update vsphere_overview.json
  vsphere/assets/dashboards/vsphere_overview.json
Labels: changelog/no-changelog, integration/vsphere, team/agent-integrations, team/platform-integrations, ecosystems/review-requested, product/review-requested

#18716 [INTPLAT-158] Display Palo Alto Cortex XDR docs
  palo_alto_cortex_xdr/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/palo_alto_cortex_xdr, ecosystems/review-requested, product/review-requested

#18556 Add more unit tests for empty include lists in Discovery
  datadog_checks_base/tests/base/utils/discovery/test_discovery.py
Labels: changelog/no-changelog, base_package, team/agent-integrations

#18727 [Backport 7.58.x] Bump version of cryptography to address CVE (#18656)
  agent_requirements.in
  cisco_aci/changelog.d/18656.security
  cisco_aci/pyproject.toml
  datadog_checks_base/changelog.d/18656.security
  datadog_checks_base/pyproject.toml
  http_check/changelog.d/18656.security
  http_check/pyproject.toml
  mysql/changelog.d/18656.security
  mysql/pyproject.toml
  tls/changelog.d/18656.security
  tls/pyproject.toml
Labels: integration/http_check, integration/mysql, integration/cisco_aci, integration/tls, dependencies, base_package, team/agent-integrations, team/database-monitoring-agent, team/network-device-monitoring, ecosystems/review-requested, product/review-requested
