Repository DataDog/integrations-core, pull requests merged in 2024-10, with the labels that each got.

#18730 Release `datadog_checks_base` on 7.58.x
  .in-toto/tag.bd79a691.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/18656.security
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, base_package, team/agent-integrations

#18728 [Backport 7.58.x] Bump `lxml` version for py3.12 (#18637)
  agent_requirements.in
  ibm_was/changelog.d/18637.added
  ibm_was/pyproject.toml
  sqlserver/changelog.d/18637.added
  sqlserver/pyproject.toml
Labels: integration/sqlserver, integration/ibm_was, dependencies, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested

#18725 [Backport 7.58.x] Upgrade psutil to fix performance (#18688)
  agent_requirements.in
  btrfs/changelog.d/18688.added
  btrfs/pyproject.toml
  disk/changelog.d/18688.added
  disk/pyproject.toml
  gunicorn/changelog.d/18688.added
  gunicorn/pyproject.toml
  ibm_mq/changelog.d/18688.added
  ibm_mq/pyproject.toml
  mongo/changelog.d/18688.added
  mongo/pyproject.toml
  network/changelog.d/18688.added
  network/pyproject.toml
  process/changelog.d/18688.added
  process/pyproject.toml
  system_core/changelog.d/18688.added
  system_core/pyproject.toml
  system_swap/changelog.d/18688.added
  system_swap/pyproject.toml
Labels: integration/btrfs, integration/disk, integration/gunicorn, integration/mongo, integration/network, integration/process, integration/system_core, integration/system_swap, integration/ibm_mq, dependencies, team/agent-integrations, team/database-monitoring-agent, team/windows-agent, ecosystems/review-requested, product/review-requested

#18723 [Backport 7.58.x] Bump RethinkDB version for python 3.12 (#18636)
  agent_requirements.in
  rethinkdb/changelog.d/18636.added
  rethinkdb/pyproject.toml
Labels: dependencies, integration/rethinkdb, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/network-device-monitoring, team/platform-integrations, team/windows-agent, team/documentation, team/saas-integrations, team/agent-delivery, ecosystems/review-requested, product/review-requested, docs/approved

#18732 Port release of `datadog_checks_base` to `master`
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/18656.security
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, base_package, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18740 [Release] vSphere on 7.58.x
  .in-toto/tag.bd79a691.link
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/changelog.d/18733.changed
  vsphere/datadog_checks/vsphere/__about__.py
Labels: documentation, integration/vsphere, release, qa/skip-qa, team/agent-integrations, team/platform-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18557 Propagate agent host tags for sqlserver
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/18557.added
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/config_models/shared.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_database_metrics.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_metrics.py
  sqlserver/tests/test_statements.py
  sqlserver/tests/test_stored_procedures.py
  sqlserver/tests/test_unit.py
Labels: documentation, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18741 Port vSphere release to `master`
  vsphere/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/vsphere, qa/skip-qa, team/agent-integrations, team/platform-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18749 Fix requirements-agent-release.txt
  requirements-agent-release.txt
Labels: changelog/no-changelog, qa/skip-qa, team/agent-integrations, ecosystems/review-requested, product/review-requested

#18750 [mongo] always emit database_instance
  mongo/changelog.d/18750.added
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/test_integration.py
  mongo/tests/test_unit.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18679 Move to ADv2 and update log configs
  istio/README.md
Labels: documentation, changelog/no-changelog, integration/istio, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18748 [NDM] [Cisco ACI] Add check metrics
  cisco_aci/changelog.d/18748.added
  cisco_aci/datadog_checks/cisco_aci/cisco.py
  cisco_aci/hatch.toml
  cisco_aci/tests/test_cisco.py
  cisco_aci/tests/test_fabric.py
  cisco_aci/tests/test_tenant.py
Labels: integration/cisco_aci, team/agent-integrations, team/network-device-monitoring, ecosystems/review-requested, product/review-requested, agent/review-requested

#18726 [dbm] add keep_json_path to obfuscator_options
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/18726.added
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18225 [SIEMINT-79] DDSaaS: LastPass: Crawler Integration v1.0.0
  .github/CODEOWNERS
  lastpass/CHANGELOG.md
  lastpass/README.md
  lastpass/assets/dashboards/lastpass_reporting_events.json
  lastpass/assets/lastpass.svg
  lastpass/assets/logs/lastpass.yaml
  lastpass/assets/logs/lastpass_tests.yaml
  lastpass/images/lastpass_reporting_events_1.png
  lastpass/images/lastpass_reporting_events_2.png
  lastpass/images/lastpass_reporting_events_3.png
  lastpass/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, integration/lastpass, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18751 [mongo] include clustername & database_instance in service check tags
  mongo/changelog.d/18751.added
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/mongo.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18351 [SIEMINT-83] DDSaaS: GoDaddy: Crawler Integration v1.0.0
  godaddy/README.md
  godaddy/assets/dashboards/godaddy_overview.json
  godaddy/assets/godaddy.svg
  godaddy/assets/monitors/godaddy_certificate_denied.json
  godaddy/assets/monitors/godaddy_certificate_expired.json
  godaddy/assets/monitors/godaddy_certificate_in_an_error_state.json
  godaddy/assets/monitors/godaddy_certificate_revoked.json
  godaddy/assets/monitors/godaddy_days_remaining_for_expiration_of_certificate.json
  godaddy/assets/monitors/godaddy_domain_dropped_from_request.json
  godaddy/assets/monitors/godaddy_domain_fraud_detected.json
  godaddy/assets/monitors/godaddy_domain_verification_failed.json
  godaddy/images/godaddy_1.png
  godaddy/images/godaddy_2.png
  godaddy/manifest.json
  godaddy/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/documentation, team/saas-integrations, integration/godaddy

#18745 (DOCS-9122) Add partial
  terraform/README.md
Labels: documentation, changelog/no-changelog, integration/terraform, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#18755 Unhide SQL Server deadlocks collection config
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested

#18754 Adds additional debug logging to help with schema collection investigations
  postgres/changelog.d/18754.added
  postgres/datadog_checks/postgres/metadata.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18757 [mongo] unhide slow_operations config
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/mongo, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested

#18762 Parse each row of pg_stat_activity separately inside a try/catch
  postgres/changelog.d/18762.fixed
  postgres/datadog_checks/postgres/statement_samples.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18758 Postgres cross-org telemetry
  datadog_checks_base/changelog.d/18758.added
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  postgres/changelog.d/18758.added
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
Labels: integration/postgres, qa/skip-qa, base_package, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18760 SDBM-1193 Sqlserver agent jobs: reduce querying time for large histories
  sqlserver/changelog.d/18760.fixed
  sqlserver/datadog_checks/sqlserver/agent_history.py
  sqlserver/tests/test_agent_jobs.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18610 Remove beta label from Cisco SD-WAN
  cisco_sdwan/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/network-device-monitoring, team/documentation, integration/cisco_sdwan, lifecycle-update, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18766 Make Kubeflow public
  kubeflow/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/kubeflow, ecosystems/review-requested, product/review-requested, agent/approved

#18744 Finalize KubeVirt integrations
  kubevirt_api/manifest.json
  kubevirt_api/metadata.csv
  kubevirt_controller/datadog_checks/kubevirt_controller/check.py
  kubevirt_controller/manifest.json
  kubevirt_controller/metadata.csv
  kubevirt_handler/datadog_checks/kubevirt_handler/check.py
  kubevirt_handler/images/IMAGES_README.md
  kubevirt_handler/manifest.json
  kubevirt_handler/metadata.csv
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/kubevirt_api, integration/kubevirt_controller, integration/kubevirt_handler, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18767 Release new integrations for 7.59.0
  .in-toto/tag.b9ca7eb3.link
  appgate_sdp/CHANGELOG.md
  appgate_sdp/changelog.d/18465.added
  appgate_sdp/datadog_checks/appgate_sdp/__about__.py
  kubeflow/CHANGELOG.md
  kubeflow/changelog.d/18617.fixed
  kubeflow/datadog_checks/kubeflow/__about__.py
  kubevirt_api/CHANGELOG.md
  kubevirt_api/changelog.d/18179.added
  kubevirt_api/changelog.d/18617.fixed
  kubevirt_api/datadog_checks/kubevirt_api/__about__.py
  kubevirt_controller/CHANGELOG.md
  kubevirt_controller/changelog.d/18186.added
  kubevirt_controller/changelog.d/18617.fixed
  kubevirt_controller/datadog_checks/kubevirt_controller/__about__.py
  kubevirt_handler/CHANGELOG.md
  kubevirt_handler/changelog.d/18283.added
  kubevirt_handler/datadog_checks/kubevirt_handler/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kubevirt_api, integration/kubevirt_controller, integration/kubeflow, integration/kubevirt_handler, integration/appgate_sdp, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18768 Release new integrations for agent 7.59
  appgate_sdp/CHANGELOG.md
  appgate_sdp/changelog.d/18465.added
  appgate_sdp/datadog_checks/appgate_sdp/__about__.py
  kubeflow/CHANGELOG.md
  kubeflow/changelog.d/18617.fixed
  kubeflow/datadog_checks/kubeflow/__about__.py
  kubevirt_api/CHANGELOG.md
  kubevirt_api/changelog.d/18179.added
  kubevirt_api/changelog.d/18617.fixed
  kubevirt_api/datadog_checks/kubevirt_api/__about__.py
  kubevirt_controller/CHANGELOG.md
  kubevirt_controller/changelog.d/18186.added
  kubevirt_controller/changelog.d/18617.fixed
  kubevirt_controller/datadog_checks/kubevirt_controller/__about__.py
  kubevirt_handler/CHANGELOG.md
  kubevirt_handler/changelog.d/18283.added
  kubevirt_handler/datadog_checks/kubevirt_handler/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kubevirt_api, integration/kubevirt_controller, integration/kubeflow, integration/kubevirt_handler, integration/appgate_sdp, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18764 Fix tcp.current_established/tcp.connections metric types
  network/datadog_checks/network/check_linux.py
  network/datadog_checks/network/check_windows.py
  network/datadog_checks/network/network.py
  network/metadata.csv
  network/tests/test_windows.py
Labels: changelog/no-changelog, integration/network, team/agent-integrations, team/windows-agent, backport/7.58.x, ecosystems/review-requested, product/review-requested, agent/approved, backport/7.59.x

#18756 DDS: Cisco Secure Endpoint - V1.0.0 - Updated Readme file.
  cisco_secure_endpoint/README.md
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/cisco_secure_endpoint, ecosystems/review-requested, product/review-requested, docs/approved

#18772 [Backport 7.58.x] Add new network metrics
  network/changelog.d/18764.added
  network/datadog_checks/network/check_linux.py
  network/datadog_checks/network/check_windows.py
  network/datadog_checks/network/network.py
  network/metadata.csv
  network/tests/test_windows.py
Labels: integration/network, team/agent-integrations, team/windows-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18775 Port network release to master
  network/CHANGELOG.md
  network/datadog_checks/network/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/network, release, qa/skip-qa, team/agent-integrations, team/windows-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/review-requested

#18614 DDS: Mimecast Readme Changes
  mimecast/README.md
Labels: documentation, changelog/no-changelog, mergequeue-status: waiting, team/documentation, team/saas-integrations, integration/mimecast, ecosystems/review-requested, product/review-requested, docs/approved

#18680 create dashboard for openmetrics v2
  coredns/assets/dashboards/coredns_v2.json
  coredns/manifest.json
Labels: documentation, changelog/no-changelog, integration/coredns, mergequeue-status: removed, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18774 Add debug log line for external tags
  vsphere/changelog.d/18774.fixed
  vsphere/datadog_checks/vsphere/vsphere.py
Labels: integration/vsphere, team/agent-integrations, team/platform-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18790 Update metadata to retrigger wheel release
  .in-toto/tag.b9ca7eb3.link
Labels: changelog/no-changelog, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18759 Fix the "No Artifact Uploaded" warning in CI
  .github/workflows/test-target.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18792 [NDM] [Cisco ACI] Refactor fabric test
  cisco_aci/tests/common.py
  cisco_aci/tests/fixtures/fabric/2569ee885cad13ed336e5b4c8bd6dab4.txt
  cisco_aci/tests/fixtures/fabric/2e82232a722241e59f27ac3742934e7e.txt
  cisco_aci/tests/fixtures/fabric/5cda376bef1d4d0274b7d2c8007db70e.txt
  cisco_aci/tests/fixtures/fabric/62cb899b6e7f6b81035914cfac47b915.txt
  cisco_aci/tests/fixtures/fabric/66a518765a86e7f2ae488abc45d95d70.txt
  cisco_aci/tests/fixtures/fabric/9d167692ace22bc1013437072c55a641.txt
  cisco_aci/tests/fixtures/metadata.py
  cisco_aci/tests/test_fabric.py
Labels: changelog/no-changelog, integration/cisco_aci, qa/skip-qa, team/agent-integrations, team/network-device-monitoring, ecosystems/review-requested, product/review-requested, agent/review-requested

#18785 Fix incorrect binlog permissions errors
  mysql/changelog.d/18785.fixed
  mysql/datadog_checks/mysql/mysql.py
Labels: integration/mysql, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18788 Wrap schema collection attempt in try
  postgres/changelog.d/18788.fixed
  postgres/datadog_checks/postgres/metadata.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18786 [Backport 7.58.x] Sqlserver agent jobs: reduce querying time for large histories (#18760)
  sqlserver/changelog.d/18760.fixed
  sqlserver/datadog_checks/sqlserver/agent_history.py
  sqlserver/tests/test_agent_jobs.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18781 Workaround for querying deadlocks in extended events
  sqlserver/changelog.d/18781.changed
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-ha/sql/aoag_secondary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_deadlocks.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18796 [Release] SQLServer agent jobs: reduce querying time for large histories
  .in-toto/tag.bd79a691.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/18760.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18779 DDS: Sophos Central Cloud: Dashboard Name Change
  sophos_central_cloud/assets/dashboards/sophos_central_cloud_alerts.json
  sophos_central_cloud/images/sophos_central_cloud_alerts.png
Labels: changelog/no-changelog, team/saas-integrations, integration/sophos_central_cloud, ecosystems/review-requested, product/review-requested

#18794 DDSaaS: GoDaddy: Monitor changes
  godaddy/assets/dashboards/godaddy_overview.json
  godaddy/assets/monitors/godaddy_certificate_denied.json
  godaddy/assets/monitors/godaddy_certificate_expired.json
  godaddy/assets/monitors/godaddy_certificate_in_an_error_state.json
  godaddy/assets/monitors/godaddy_certificate_revoked.json
  godaddy/assets/monitors/godaddy_days_remaining_for_expiration_of_certificate.json
  godaddy/assets/monitors/godaddy_domain_fraud_detected.json
  godaddy/assets/monitors/godaddy_domain_verification_failed.json
Labels: changelog/no-changelog, team/saas-integrations, integration/godaddy, ecosystems/review-requested, product/review-requested

#18208 [SIEMINT-85] DDS: Trend Micro Vision One XDR: Crawler Integration v1.0.0
  trend_micro_vision_one_xdr/CHANGELOG.md
  trend_micro_vision_one_xdr/README.md
  trend_micro_vision_one_xdr/assets/dashboards/trend_micro_vision_one_xdr_observed_attack_techniques.json
  trend_micro_vision_one_xdr/assets/dashboards/trend_micro_vision_one_xdr_workbench_alerts.json
  trend_micro_vision_one_xdr/assets/logs/trend-micro-vision-one-xdr.yaml
  trend_micro_vision_one_xdr/assets/logs/trend-micro-vision-one-xdr_tests.yaml
  trend_micro_vision_one_xdr/assets/trend-micro-vision-one-xdr.svg
  trend_micro_vision_one_xdr/images/trend_micro_vision_one_xdr_oat.png
  trend_micro_vision_one_xdr/images/trend_micro_vision_one_xdr_workbench_alerts.png
  trend_micro_vision_one_xdr/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, integration/trend_micro_vision_one_xdr, ecosystems/review-requested, product/review-requested, docs/review-requested

#18798 [Port to master] SQLServer agent jobs: reduce querying time for large histories
  sqlserver/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18752 [INTPLAT-182] Support merge group events in Workflow "Test"
  .github/workflows/pr.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18804 Remove comment about merge events being for marketplace
  .github/workflows/pr.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18808 fix check
  glusterfs/changelog.d/18808.fixed
  glusterfs/datadog_checks/glusterfs/check.py
Labels: integration/glusterfs, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18713 fix(mongo) fix typo in configuration example and schema (`max_collection"s"_per_database`)
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18813 [Release] Bumped sqlserver version to 20.0.0
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/18781.changed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18815 [Release] Bumped glusterfs version to 3.0.1
  glusterfs/CHANGELOG.md
  glusterfs/changelog.d/18808.fixed
  glusterfs/datadog_checks/glusterfs/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, integration/glusterfs, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18814 Release glusterfs from backport to 7.59.x
  .in-toto/tag.5d245df7.link
  glusterfs/CHANGELOG.md
  glusterfs/changelog.d/18808.fixed
  glusterfs/datadog_checks/glusterfs/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, integration/glusterfs, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18791 Add option to disable stage metrics and `stage_id` tags
  spark/assets/configuration/spec.yaml
  spark/changelog.d/18791.added
  spark/datadog_checks/spark/config_models/defaults.py
  spark/datadog_checks/spark/config_models/instance.py
  spark/datadog_checks/spark/data/conf.yaml.example
  spark/datadog_checks/spark/spark.py
  spark/tests/test_spark.py
Labels: documentation, integration/spark, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18817 Remove the comment that deadlock is supported only with ODBC
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested

#18827 Release Postgres from backport to 7.59.x
  .in-toto/tag.5d245df7.link
  postgres/CHANGELOG.md
  postgres/changelog.d/18788.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18828 [Release] Bumped postgres version to 22.0.1
  postgres/CHANGELOG.md
  postgres/changelog.d/18788.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18829 Cilium: fix metric table
  cilium/metadata.csv
Labels: changelog/no-changelog, integration/cilium, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18825 Skip test job for pull requests in merge queue if it's flaky
  .github/workflows/pr.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18837 Fix workflow condition syntax
  .github/workflows/pr.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18838 Update run-validations.yml
  .github/workflows/run-validations.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18833 [oracle] update oracle config example
  oracle/README.md
Labels: documentation, changelog/no-changelog, integration/oracle, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18296 [SIEMINT-84] DDSaaS: RingCentral: Crawler Integration v1.0.0
  ringcentral/README.md
  ringcentral/assets/dashboards/ringcentral_audit.json
  ringcentral/assets/dashboards/ringcentral_message.json
  ringcentral/assets/dashboards/ringcentral_voice_call.json
  ringcentral/assets/logs/ringcentral.yaml
  ringcentral/assets/logs/ringcentral_tests.yaml
  ringcentral/assets/monitors/sms_budget_overrun.json
  ringcentral/assets/monitors/sms_high_error_rate_detected.json
  ringcentral/assets/ringcentral.svg
  ringcentral/images/ringcentral_audit_1.png
  ringcentral/images/ringcentral_audit_2.png
  ringcentral/images/ringcentral_message.png
  ringcentral/images/ringcentral_voice_call.png
  ringcentral/manifest.json
  ringcentral/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, integration/ringcentral, ecosystems/review-requested, product/review-requested, docs/approved, crest/asset-pr

#18807 Use specific databases for template on postgres ignore
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/18807.fixed
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18845 add bit family as valid units
  ddev/changelog.d/18845.added
  ddev/src/ddev/cli/validate/metadata_utils.py
Labels: ddev, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18843 [mongo] Apply configured timeout to timeoutMS connection option
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/18843.added
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
Labels: documentation, integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested, backport/7.59.x

#18831 Remove Python 2 from builders
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/windows-x86_64/Dockerfile
Labels: changelog/no-changelog, team/agent-integrations, team/agent-delivery, ecosystems/review-requested, product/review-requested, agent/approved

#18850 Backport release mongo to 7.59.x
  .in-toto/tag.5d245df7.link
  mongo/CHANGELOG.md
  mongo/changelog.d/18843.added
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18851 [Release] Bumped mongo version to 8.1.0
  mongo/CHANGELOG.md
  mongo/changelog.d/18843.added
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/review-requested

#18830 update docs for include_events option
  vsphere/README.md
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/vsphere, team/agent-integrations, team/platform-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#18840 Fix unit parsing issue
  tibco_ems/changelog.d/18840.added
  tibco_ems/datadog_checks/tibco_ems/constants.py
  tibco_ems/datadog_checks/tibco_ems/tibco_ems.py
  tibco_ems/tests/fixtures/show_all
  tibco_ems/tests/fixtures/show_server
Labels: team/agent-integrations, integration/tibco_ems, ecosystems/review-requested, product/review-requested, agent/approved, backport/7.59.x

#18852 [INTPLAT-356] Specifically avoid running 'test / check' on merge group events, which is the required status check
  .github/workflows/pr-test.yml
  .github/workflows/pr.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18849 Update README.md
  redisdb/README.md
Labels: documentation, changelog/no-changelog, integration/redisdb, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18819 adding mtu and speed tags to interfaces that support it
  network/changelog.d/18819.added
  network/datadog_checks/network/check_linux.py
Labels: integration/network, team/agent-integrations, team/windows-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18780 DDSaaS: LastPass: Dashboard Image & Log Pipeline modified
  .github/CODEOWNERS
  lastpass/assets/logs/lastpass.yaml
  lastpass/assets/logs/lastpass_tests.yaml
  lastpass/images/lastpass_reporting_events_3.png
Labels: changelog/no-changelog, team/agent-integrations, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, integration/lastpass, ecosystems/review-requested, product/review-requested, agent/approved

#18864 Slim down PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: changelog/no-changelog, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18865 [lastpass] Flip display on public website to true
  lastpass/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/lastpass, ecosystems/review-requested, product/review-requested

#18805 Updated relation configuration comment
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested

#18868 Sarah/add octopus server metrics
  octopus_deploy/datadog_checks/octopus_deploy/check.py
  octopus_deploy/datadog_checks/octopus_deploy/constants.py
  octopus_deploy/metadata.csv
  octopus_deploy/tests/constants.py
  octopus_deploy/tests/docker/Caddyfile
  octopus_deploy/tests/fixtures/GET/api/octopusservernodes/response.json
  octopus_deploy/tests/test_unit.py
Labels: team/agent-integrations, integration/octopus_deploy

#18866 Revert "Parse each row of pg_stat_activity separately inside a try/catch (#18762)"
  postgres/changelog.d/18866.fixed
  postgres/datadog_checks/postgres/statement_samples.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested, backport/7.59.x

#18858 [mongo] add mongo recommended cluster monitors
  mongo/assets/monitors/high_connections.json
  mongo/assets/monitors/high_fsstorage_usage.json
  mongo/assets/monitors/high_replication_lag.json
  mongo/assets/monitors/low_oplog_window.json
  mongo/assets/monitors/unhealthy_repliset_member.json
  mongo/manifest.json
Labels: documentation, changelog/no-changelog, integration/mongo, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#18802 Fix .NET CLR Test Results
  .github/workflows/test-target.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18871 Release prep for 7.59.x RC5
  .in-toto/tag.5d245df7.link
  postgres/CHANGELOG.md
  postgres/changelog.d/18866.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  tibco_ems/CHANGELOG.md
  tibco_ems/changelog.d/18840.added
  tibco_ems/datadog_checks/tibco_ems/__about__.py
Labels: documentation, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, integration/tibco_ems, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18872 [Release] Bumped postgres version to 22.0.2 and tibco_ems version to 2.1.0
  postgres/CHANGELOG.md
  postgres/changelog.d/18866.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  tibco_ems/CHANGELOG.md
  tibco_ems/changelog.d/18840.added
  tibco_ems/datadog_checks/tibco_ems/__about__.py
Labels: documentation, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, integration/tibco_ems, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18842 [NDM] [Cisco ACI] Utilize raw ID for interface metadata
  cisco_aci/changelog.d/18842.added
  cisco_aci/datadog_checks/cisco_aci/models.py
  cisco_aci/datadog_checks/cisco_aci/ndm.py
  cisco_aci/tests/fixtures/metadata.py
Labels: integration/cisco_aci, team/agent-integrations, team/network-device-monitoring, ecosystems/review-requested, product/review-requested, agent/review-requested

#18870 [postgres] Fix UnboundLocalError caused by referencing local variable start_time before assigned
  postgres/changelog.d/18870.fixed
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/test_metadata.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested, backport/7.59.x

#18867 [CONTP-382] Add Validation Webhook telemetry metrics
  datadog_cluster_agent/changelog.d/18867.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/metadata.csv
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
Labels: documentation, qa/skip-qa, integration/datadog_cluster_agent, team/agent-integrations, team/container-integrations, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/review-requested

#18861 Sunset Prometheus check
  .github/workflows/test-all.yml
  prometheus/CHANGELOG.md
  prometheus/README.md
  prometheus/datadog_checks/__init__.py
  prometheus/datadog_checks/prometheus/__about__.py
  prometheus/datadog_checks/prometheus/__init__.py
  prometheus/datadog_checks/prometheus/config_models/__init__.py
  prometheus/datadog_checks/prometheus/config_models/defaults.py
  prometheus/datadog_checks/prometheus/config_models/instance.py
  prometheus/datadog_checks/prometheus/config_models/shared.py
  prometheus/datadog_checks/prometheus/config_models/validators.py
  prometheus/datadog_checks/prometheus/data/conf.yaml.example
  prometheus/datadog_checks/prometheus/prometheus.py
  prometheus/hatch.toml
  prometheus/pyproject.toml
  prometheus/setup.cfg
  prometheus/tests/__init__.py
  prometheus/tests/conftest.py
  prometheus/tests/docker/config/prometheus.yml
  prometheus/tests/docker/docker-compose.yaml
  prometheus/tests/test_prometheus.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, integration/prometheus, release, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18863 Remove Prometheus classes and utilities
  datadog_checks_base/changelog.d/18863.removed
  datadog_checks_base/datadog_checks/base/checks/prometheus/__init__.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/prometheus_base.py
  datadog_checks_base/datadog_checks/base/utils/prometheus/__init__.py
  datadog_checks_base/datadog_checks/base/utils/prometheus/functions.py
  datadog_checks_base/datadog_checks/base/utils/prometheus/metrics_pb2.py
  datadog_checks_base/datadog_checks/checks/prometheus/__init__.py
  datadog_checks_base/datadog_checks/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/checks/prometheus/prometheus_base.py
  datadog_checks_base/datadog_checks/checks/prometheus_check/__init__.py
  datadog_checks_base/datadog_checks/utils/prometheus/__init__.py
  datadog_checks_base/datadog_checks/utils/prometheus/functions.py
  datadog_checks_base/datadog_checks/utils/prometheus/metrics_pb2.py
  datadog_checks_base/tests/base/checks/prometheus/__init__.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus_base_check.py
  datadog_checks_base/tests/fixtures/prometheus/amazon_msk_jmx_metrics.txt
  datadog_checks_base/tests/fixtures/prometheus/protobuf.bin
Labels: base_package, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18859 Capture stdout and stderr when executing docker compose
  datadog_checks_dev/changelog.d/18878.added
  datadog_checks_dev/datadog_checks/dev/docker.py
  datadog_checks_dev/tests/test_docker.py
  sqlserver/tests/conftest.py
Labels: changelog/no-changelog, integration/sqlserver, dev_package, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18885 [mysql] fix innodb mem total parsing for newer mysql versions
  mysql/changelog.d/18885.fixed
  mysql/datadog_checks/mysql/innodb_metrics.py
Labels: integration/mysql, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18875 Extended events (XE) session monitoring
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/18875.added
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/database_metrics/__init__.py
  sqlserver/datadog_checks/sqlserver/database_metrics/xe_session_metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/test_database_metrics.py
Labels: documentation, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18884 Update README.md for ibm_db2
  ibm_db2/README.md
Labels: documentation, changelog/no-changelog, integration/ibm_db2, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18886 [cloudera] Configure the number of connection pools to cache
  cloudera/assets/configuration/spec.yaml
  cloudera/changelog.d/18886.added
  cloudera/datadog_checks/cloudera/api/factory.py
  cloudera/datadog_checks/cloudera/client/cm_client.py
  cloudera/datadog_checks/cloudera/config_models/defaults.py
  cloudera/datadog_checks/cloudera/config_models/instance.py
  cloudera/tests/test_unit_client.py
Labels: documentation, integration/cloudera, team/agent-integrations, team/platform-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18883 [sqlserver] Refactor sqlserver database metrics
  sqlserver/changelog.d/18883.added
  sqlserver/datadog_checks/sqlserver/database_metrics/__init__.py
  sqlserver/datadog_checks/sqlserver/database_metrics/ao_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/availability_groups_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/availability_replicas_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/database_files_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/database_replication_stats_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/database_stats_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/fci_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/file_stats_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/master_files_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/os_schedulers_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/os_tasks_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/primary_log_shipping_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/secondary_log_shipping_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/server_state_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/tempdb_file_space_usage_metrics.py
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/common.py
  sqlserver/tests/test_database_metrics.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_unit.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18891 [Release] Bump cloudera version to 3.2.0
  .in-toto/tag.3c7f8709.link
  cloudera/CHANGELOG.md
  cloudera/changelog.d/18886.added
  cloudera/datadog_checks/cloudera/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, integration/cloudera, team/agent-integrations, team/platform-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18579 DDSaaS: HubSpot Content Hub: Crawler integration without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  hubspot_content_hub/CHANGELOG.md
  hubspot_content_hub/README.md
  hubspot_content_hub/assets/service_checks.json
  hubspot_content_hub/manifest.json
  hubspot_content_hub/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation

#18822 [DOCS-9152] adding more information to kube_api_server check
  kube_apiserver_metrics/README.md
Labels: documentation, changelog/no-changelog, integration/kube_apiserver_metrics, editorial review, mergequeue-status: waiting, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18753 Fix broken link
  sonarqube/README.md
Labels: documentation, changelog/no-changelog, qa/skip-qa, integration/sonarqube, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18700 [NDM] [Cisco ACI] Update documentation
  cisco_aci/README.md
Labels: documentation, changelog/no-changelog, integration/cisco_aci, team/agent-integrations, team/network-device-monitoring, ecosystems/review-requested, product/review-requested, docs/review-requested

#18890 relax MEMORY_USAGE_THRESHOLD in test to account for slightly increased mem from tracing
  datadog_checks_base/tests/base/utils/db/test_db_statements.py
Labels: changelog/no-changelog, base_package, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18895 [Release] Bumped postgres version to 22.0.3
  postgres/CHANGELOG.md
  postgres/changelog.d/18870.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18901 Revert "[Release] Bump cloudera version to 3.2.0 (#18891)"
  .in-toto/tag.3c7f8709.link
  cloudera/CHANGELOG.md
  cloudera/changelog.d/18886.added
  cloudera/datadog_checks/cloudera/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, integration/cloudera, team/agent-integrations, team/platform-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18902 [Release] Bumped cloudera version to 3.2.0
  .in-toto/tag.b9ca7eb3.link
  cloudera/CHANGELOG.md
  cloudera/changelog.d/18886.added
  cloudera/datadog_checks/cloudera/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, integration/cloudera, team/agent-integrations, team/platform-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18892 add openai cost dash
  openai/assets/dashboards/cost_overview_dashboard.json
  openai/images/openai_cost_dashboard_sample.png
  openai/manifest.json
Labels: documentation, changelog/no-changelog, integration/openai, team/agent-integrations, team/ml-observability, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18882 Fix sqlserver metric collection row_key
  sqlserver/changelog.d/18882.fixed
  sqlserver/datadog_checks/sqlserver/statements.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18904 [MySQL] Fix missing innodb metrics for MySQL 5.6 & 5.7
  mysql/changelog.d/18904.fixed
  mysql/datadog_checks/mysql/innodb_metrics.py
  mysql/metadata.csv
  mysql/tests/fixtures/innodb_status_mariadb_1011.txt
  mysql/tests/fixtures/innodb_status_mariadb_105.txt
  mysql/tests/fixtures/innodb_status_mariadb_106.txt
  mysql/tests/fixtures/innodb_status_mariadb_111.txt
  mysql/tests/fixtures/innodb_status_mysql_56.txt
  mysql/tests/fixtures/innodb_status_mysql_57.txt
  mysql/tests/fixtures/innodb_status_mysql_80.txt
  mysql/tests/fixtures/innodb_status_mysql_84.txt
  mysql/tests/results/innodb_status_mariadb_1011.json
  mysql/tests/results/innodb_status_mariadb_105.json
  mysql/tests/results/innodb_status_mariadb_106.json
  mysql/tests/results/innodb_status_mariadb_111.json
  mysql/tests/results/innodb_status_mysql_56.json
  mysql/tests/results/innodb_status_mysql_57.json
  mysql/tests/results/innodb_status_mysql_80.json
  mysql/tests/results/innodb_status_mysql_84.json
  mysql/tests/test_innodb_metrics.py
Labels: integration/mysql, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18907 Bring back prometheus check and classes
  .github/workflows/test-all.yml
  datadog_checks_base/changelog.d/18863.removed
  datadog_checks_base/datadog_checks/base/checks/prometheus/__init__.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/prometheus_base.py
  datadog_checks_base/datadog_checks/base/utils/prometheus/__init__.py
  datadog_checks_base/datadog_checks/base/utils/prometheus/functions.py
  datadog_checks_base/datadog_checks/base/utils/prometheus/metrics_pb2.py
  datadog_checks_base/datadog_checks/checks/prometheus/__init__.py
  datadog_checks_base/datadog_checks/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/checks/prometheus/prometheus_base.py
  datadog_checks_base/datadog_checks/checks/prometheus_check/__init__.py
  datadog_checks_base/datadog_checks/utils/prometheus/__init__.py
  datadog_checks_base/datadog_checks/utils/prometheus/functions.py
  datadog_checks_base/datadog_checks/utils/prometheus/metrics_pb2.py
  datadog_checks_base/tests/base/checks/prometheus/__init__.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus_base_check.py
  datadog_checks_base/tests/fixtures/prometheus/amazon_msk_jmx_metrics.txt
  datadog_checks_base/tests/fixtures/prometheus/protobuf.bin
  prometheus/CHANGELOG.md
  prometheus/README.md
  prometheus/datadog_checks/__init__.py
  prometheus/datadog_checks/prometheus/__about__.py
  prometheus/datadog_checks/prometheus/__init__.py
  prometheus/datadog_checks/prometheus/config_models/__init__.py
  prometheus/datadog_checks/prometheus/config_models/defaults.py
  prometheus/datadog_checks/prometheus/config_models/instance.py
  prometheus/datadog_checks/prometheus/config_models/shared.py
  prometheus/datadog_checks/prometheus/config_models/validators.py
  prometheus/datadog_checks/prometheus/data/conf.yaml.example
  prometheus/datadog_checks/prometheus/prometheus.py
  prometheus/hatch.toml
  prometheus/pyproject.toml
  prometheus/setup.cfg
  prometheus/tests/__init__.py
  prometheus/tests/conftest.py
  prometheus/tests/docker/config/prometheus.yml
  prometheus/tests/docker/docker-compose.yaml
  prometheus/tests/test_prometheus.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, integration/prometheus, release, qa/skip-qa, base_package, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18641 Drop 'six' dependency from base check package
  LICENSE-3rdparty.csv
  agent_requirements.in
  datadog_checks_base/datadog_checks/base/__init__.py
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/libs/prometheus.py
  datadog_checks_base/datadog_checks/base/checks/libs/thread_pool.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transform.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/service_check.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/base_check.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/base/checks/win/winpdh.py
  datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
  datadog_checks_base/datadog_checks/base/checks/win/wmi/__init__.py
  datadog_checks_base/datadog_checks/base/checks/win/wmi/sampler.py
  datadog_checks_base/datadog_checks/base/ddyaml.py
  datadog_checks_base/datadog_checks/base/log.py
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/stubs/similar.py
  datadog_checks_base/datadog_checks/base/utils/common.py
  datadog_checks_base/datadog_checks/base/utils/containers.py
  datadog_checks_base/datadog_checks/base/utils/db/query.py
  datadog_checks_base/datadog_checks/base/utils/headers.py
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/metadata/core.py
  datadog_checks_base/datadog_checks/base/utils/metadata/utils.py
  datadog_checks_base/datadog_checks/base/utils/network.py
  datadog_checks_base/datadog_checks/base/utils/prometheus/metrics_pb2.py
  datadog_checks_base/datadog_checks/base/utils/subprocess_output.py
  datadog_checks_base/datadog_checks/base/utils/time.py
  datadog_checks_base/datadog_checks/base/utils/tls.py
  datadog_checks_base/datadog_checks/base/utils/tracing.py
  datadog_checks_base/pyproject.toml
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
  datadog_checks_base/tests/base/checks/test_kube_leader.py
  datadog_checks_base/tests/base/utils/http/test_headers.py
  datadog_checks_base/tests/models/test_interface.py
Labels: changelog/no-changelog, dependencies, base_package, team/agent-integrations, team/container-integrations, team/windows-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18914 Fix jmx based integrations test
  datadog_checks_dev/changelog.d/18914.fixed
  datadog_checks_dev/datadog_checks/dev/jmx.py
Labels: dev_package, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18918 Bumped datadog_checks_dev version to 34.0.0
  .in-toto/tag.5d245df7.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/18207.added
  datadog_checks_dev/changelog.d/18580.removed
  datadog_checks_dev/changelog.d/18596.added
  datadog_checks_dev/changelog.d/18617.fixed
  datadog_checks_dev/changelog.d/18878.added
  datadog_checks_dev/changelog.d/18879.fixed
  datadog_checks_dev/changelog.d/18914.fixed
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, release, qa/skip-qa, dev_package, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18844 [mongo] skip explain administrative aggregation pipeline
  mongo/changelog.d/18844.fixed
  mongo/datadog_checks/mongo/dbm/utils.py
  mongo/tests/test_unit.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#18927 Fixing vstorage typo
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/vsphere, team/agent-integrations, team/platform-integrations, ecosystems/review-requested, product/review-requested

#18926 Release ddev
  ddev/CHANGELOG.md
  ddev/changelog.d/18918.added
  ddev/pyproject.toml
Labels: documentation, qa/skip-qa, ddev, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18846 [dbm] add service from integration configuration to dbm event payload
  mongo/changelog.d/18846.added
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/slow_operations.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/conftest.py
  mongo/tests/results/operation-activities-mongos.json
  mongo/tests/results/operation-activities-standalone.json
  mongo/tests/results/operation-samples-mongos.json
  mongo/tests/results/operation-samples-standalone.json
  mongo/tests/results/slow-operations-explain-plans-mongos.json
  mongo/tests/results/slow-operations-explain-plans-standalone.json
  mongo/tests/results/slow-operations-mongos.json
  mongo/tests/results/slow-operations-standalone.json
  mongo/tests/test_dbm_slow_operations.py
  mongo/tests/test_unit_config.py
  mysql/changelog.d/18846.added
  mysql/datadog_checks/mysql/activity.py
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
  postgres/changelog.d/18846.added
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  sqlserver/changelog.d/18846.added
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/agent_history.py
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/datadog_checks/sqlserver/stored_procedures.py
Labels: integration/mongo, integration/mysql, integration/postgres, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18921 [mongo] Emit amazon documentdb cloud metadata
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/18921.added
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/schemas.py
  mongo/datadog_checks/mongo/dbm/slow_operations.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/results/operation-activities-mongos.json
  mongo/tests/results/operation-activities-standalone.json
  mongo/tests/results/operation-samples-mongos.json
  mongo/tests/results/operation-samples-standalone.json
  mongo/tests/results/schemas-mongos.json
  mongo/tests/results/schemas-standalone-atlas.json
  mongo/tests/results/schemas-standalone.json
  mongo/tests/results/slow-operations-explain-plans-mongos.json
  mongo/tests/results/slow-operations-explain-plans-standalone.json
  mongo/tests/results/slow-operations-mongos.json
  mongo/tests/results/slow-operations-standalone.json
  mongo/tests/test_unit_config.py
Labels: documentation, integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18935 Remove asset name in manifest monitor name
  docusign/manifest.json
  mailchimp/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/mailchimp, integration/docusign, product/review-requested, docs/approved, ecosystems/approved

#18936 add mit-0 license
  datadog_checks_dev/changelog.d/18936.added
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
  ddev/changelog.d/18936.added
  ddev/src/ddev/cli/validate/licenses_utils.py
Labels: dev/tooling, dev_package, ddev, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18922 Add blog link
  win32_event_log/README.md
  win32_event_log/manifest.json
Labels: documentation, changelog/no-changelog, integration/win32_event_log, team/agent-integrations, team/windows-agent, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#18944 Update dependency for Agent versions >= 7.58
  ibm_db2/README.md
Labels: documentation, changelog/no-changelog, integration/ibm_db2, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18943 [mongo] dbm now onws mongo integration
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18938 [postgres] Fix unicode decode error from Azure PostgreSQL Flexible Server
  postgres/changelog.d/18938.fixed
  postgres/datadog_checks/postgres/statement_samples.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested, backport/7.59.x

#18946 [databricks] Add cost dashboard
  databricks/assets/dashboards/databricks_cost_overview.json
  databricks/manifest.json
Labels: documentation, changelog/no-changelog, integration/databricks, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#18940 DOCS-9358 - update <CONTAINER_IDENTIFIER> placeholder in readmes
  aerospike/README.md
  eks_fargate/README.md
  istio/README.md
Labels: documentation, changelog/no-changelog, integration/istio, integration/aerospike, integration/eks_fargate, qa/skip-qa, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18953 [mongo] fix db name parsing when namespace has no collection
  mongo/changelog.d/18953.fixed
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/slow_operations.py
  mongo/datadog_checks/mongo/dbm/utils.py
  mongo/tests/test_unit.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#18954 Release existing integrations for 7.60
  .in-toto/tag.5d245df7.link
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/18747.fixed
  cisco_aci/changelog.d/18842.added
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/changelog.d/18824.added
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
  datadog_cluster_agent/CHANGELOG.md
  datadog_cluster_agent/changelog.d/18867.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/__about__.py
  mongo/CHANGELOG.md
  mongo/changelog.d/18844.fixed
  mongo/changelog.d/18846.added
  mongo/changelog.d/18921.added
  mongo/datadog_checks/mongo/__about__.py
  mysql/CHANGELOG.md
  mysql/changelog.d/18785.fixed
  mysql/changelog.d/18846.added
  mysql/changelog.d/18885.fixed
  mysql/changelog.d/18904.fixed
  mysql/datadog_checks/mysql/__about__.py
  network/CHANGELOG.md
  network/changelog.d/18819.added
  network/datadog_checks/network/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/18807.fixed
  postgres/changelog.d/18846.added
  postgres/changelog.d/18938.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  spark/CHANGELOG.md
  spark/changelog.d/18791.added
  spark/datadog_checks/spark/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/18237.fixed
  sqlserver/changelog.d/18846.added
  sqlserver/changelog.d/18875.added
  sqlserver/changelog.d/18882.fixed
  sqlserver/changelog.d/18883.added
  sqlserver/datadog_checks/sqlserver/__about__.py
  vsphere/CHANGELOG.md
  vsphere/changelog.d/18774.fixed
  vsphere/datadog_checks/vsphere/__about__.py
Labels: documentation, changelog/no-changelog, integration/mongo, integration/mysql, integration/network, integration/postgres, integration/spark, integration/sqlserver, integration/vsphere, integration/cisco_aci, release, qa/skip-qa, integration/datadog_cluster_agent, downloader, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/container-integrations, team/network-device-monitoring, team/platform-integrations, team/windows-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18897 DDS: Trend Micro Email Security - README changes
  trend_micro_email_security/README.md
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/trend_micro_email_security, ecosystems/review-requested, product/review-requested, docs/approved

#18956 Port existent integrations for 7.60.0
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/18747.fixed
  cisco_aci/changelog.d/18842.added
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  datadog_checks_downloader/CHANGELOG.md
  datadog_checks_downloader/changelog.d/18824.added
  datadog_checks_downloader/datadog_checks/downloader/__about__.py
  datadog_cluster_agent/CHANGELOG.md
  datadog_cluster_agent/changelog.d/18867.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/__about__.py
  mongo/CHANGELOG.md
  mongo/changelog.d/18844.fixed
  mongo/changelog.d/18846.added
  mongo/changelog.d/18921.added
  mongo/datadog_checks/mongo/__about__.py
  mysql/CHANGELOG.md
  mysql/changelog.d/18785.fixed
  mysql/changelog.d/18846.added
  mysql/changelog.d/18885.fixed
  mysql/changelog.d/18904.fixed
  mysql/datadog_checks/mysql/__about__.py
  network/CHANGELOG.md
  network/changelog.d/18819.added
  network/datadog_checks/network/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/18807.fixed
  postgres/changelog.d/18846.added
  postgres/changelog.d/18938.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  spark/CHANGELOG.md
  spark/changelog.d/18791.added
  spark/datadog_checks/spark/__about__.py
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/18237.fixed
  sqlserver/changelog.d/18846.added
  sqlserver/changelog.d/18875.added
  sqlserver/changelog.d/18882.fixed
  sqlserver/changelog.d/18883.added
  sqlserver/datadog_checks/sqlserver/__about__.py
  vsphere/CHANGELOG.md
  vsphere/changelog.d/18774.fixed
  vsphere/datadog_checks/vsphere/__about__.py
Labels: documentation, changelog/no-changelog, integration/mongo, integration/mysql, integration/network, integration/postgres, integration/spark, integration/sqlserver, integration/vsphere, integration/cisco_aci, release, qa/skip-qa, integration/datadog_cluster_agent, downloader, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/container-integrations, team/network-device-monitoring, team/platform-integrations, team/windows-agent, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18961 add new appset metrics
  argocd/changelog.d/18961.added
  argocd/datadog_checks/argocd/metrics.py
  argocd/metadata.csv
  argocd/tests/common.py
  argocd/tests/fixtures/appset_controller_metrics.txt
Labels: integration/argocd, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18945 Document why we keep Python 2 options in CI.
  .github/workflows/test-target.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#18965 Remove unused configuration option in mocked instance
  vllm/assets/service_checks.json
  vllm/tests/common.py
Labels: changelog/no-changelog, team/agent-integrations, team/documentation, integration/vllm, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18960 fix metric name
  argocd/assets/dashboards/argo_cd_overview.json
Labels: changelog/no-changelog, integration/argocd, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18959 add kube_cluster_name template variable
  fluxcd/assets/dashboards/fluxcd.json
Labels: changelog/no-changelog, editorial review, team/agent-integrations, team/documentation, integration/fluxcd, ecosystems/review-requested, product/review-requested, agent/approved
