Repository DataDog/integrations-core, pull requests merged in 2024-04, with the labels that each got.

#17311 Readme for Argo Workflows
  argo_workflows/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/argo_workflows

#17318 Remove empty process_signatures field
  pan_firewall/manifest.json
  tokumx/manifest.json
Labels: documentation, changelog/no-changelog, integration/tokumx, integration/pan_firewall, team/agent-integrations, team/documentation

#17320 Add monitor to Argo Workflows
  argo_workflows/assets/dashboards/argo_workflows.json
  argo_workflows/assets/monitors/errors.json
  argo_workflows/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/argo_workflows

#17316 Collect all metrics by default for the OpenMetrics integration in the serve payload script
  ddev/changelog.d/17316.added
  ddev/src/ddev/cli/meta/scripts/serve_openmetrics_payload.py
Labels: ddev, team/agent-integrations

#17218 add new clickhouse metrics
  clickhouse/changelog.d/17218.added
  clickhouse/datadog_checks/clickhouse/queries.py
  clickhouse/metadata.csv
  clickhouse/tests/metrics.py
Labels: integration/clickhouse, team/agent-integrations

#17276 add flag to exclude db tag from dbstats metric
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/17276.added
  mongo/datadog_checks/mongo/collectors/db_stat.py
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/config_models/defaults.py
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/common.py
  mongo/tests/conftest.py
  mongo/tests/test_integration_standalone.py
Labels: documentation, integration/mongo, team/agent-integrations, team/documentation

#17282 Replacing documentation for the legacy Oracle check (DBMON-3848)
  oracle/README.md
Labels: documentation, changelog/no-changelog, integration/oracle, editorial review, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/documentation

#17321 Add mongo 6 and 7 to the test environments
  mongo/hatch.toml
  mongo/tests/conftest.py
  mongo/tests/test_e2e.py
Labels: changelog/no-changelog, integration/mongo, team/agent-integrations

#17326 Add back troubleshooting header
  oracle/README.md
Labels: documentation, changelog/no-changelog, integration/oracle, team/agent-integrations, team/database-monitoring, team/documentation

#17324 Finalize dependency storage location
  .builders/lock.py
  .builders/scripts/build_wheels.py
  .builders/upload.py
Labels: changelog/no-changelog, team/agent-integrations

#17325 Use a custom image to run the tests
  oracle/tests/docker/Dockerfile
Labels: changelog/no-changelog, integration/oracle, team/agent-integrations, team/database-monitoring-agent, backport/7.53.x

#17285 istio saved views
  istio/assets/saved_views/istio_error_overview.json
  istio/assets/saved_views/istio_overview.json
  istio/assets/saved_views/istio_pilot_errors.json
  istio/assets/saved_views/istio_pilot_logs.json
  istio/assets/saved_views/istio_proxyv2_errors.json
  istio/assets/saved_views/istio_proxyv2_logs.json
  istio/manifest.json
Labels: documentation, changelog/no-changelog, integration/istio, team/agent-integrations, team/documentation

#17331 Fix dependency builds
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17332 Upgrade boto dependencies
  amazon_msk/changelog.d/17332.added
  amazon_msk/pyproject.toml
  datadog_checks_base/changelog.d/17332.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  postgres/changelog.d/17332.added
  postgres/pyproject.toml
Labels: integration/postgres, integration/amazon_msk, dependencies, base_package, team/agent-integrations, team/database-monitoring-agent

#17328 Update README.md
  openmetrics/README.md
Labels: documentation, changelog/no-changelog, integration/openmetrics, team/agent-integrations, team/container-integrations, team/documentation

#17322 Remove remaining files from py3-only integrations
  cert_manager/setup.py
  hive/setup.py
  hivemq/setup.py
  ignite/setup.py
  impala/setup.py
  jboss_wildfly/setup.py
  presto/setup.py
  solr/setup.py
Labels: changelog/no-changelog, integration/solr, integration/presto, integration/jboss_wildfly, integration/hive, integration/ignite, integration/hivemq, integration/cert_manager, integration/impala, team/agent-integrations, team/container-integrations

#17273 [LOI-202] Add logs pipepeline and metadata.
  argo_workflows/assets/logs/argo_workflows.yaml
  argo_workflows/assets/logs/argo_workflows_tests.yaml
  argo_workflows/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/argo_workflows, team/logs-backend, assets/deploy-logs-staging

#16961 Update OpenAI README.md
  openai/README.md
Labels: documentation, changelog/no-changelog, integration/openai, team/agent-integrations, team/ml-observability, team/documentation

#17336 Do not fail if no tags are provided in the config
  ibm_ace/changelog.d/17336.fixed
  ibm_ace/datadog_checks/ibm_ace/check.py
  ibm_ace/tests/test_integration.py
Labels: integration/ibm_ace, team/agent-integrations

#17330 Saved views for argo rollouts
  argo_rollouts/assets/saved_views/error_logs_overview.json
  argo_rollouts/assets/saved_views/logs_overview.json
  argo_rollouts/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/argo_rollouts

#17337 Do not fail if no tags are provided in the config
  boundary/changelog.d/17337.fixed
  boundary/datadog_checks/boundary/check.py
  boundary/tests/test_unit.py
Labels: integration/boundary, team/agent-integrations

#17335 Add a comment to the PR when the `removed` fragment is used
  .github/workflows/pr-quick-check.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17338 Trigger docs build and validation for base check dependency bumps
  .github/workflows/docs.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17341 Persist the target image digest
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17300 Partially remove db exist check if ignore db is false
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/17300.fixed
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_metrics.py
  sqlserver/tests/test_unit.py
Labels: documentation, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#17345 fix total replica transaction delay and introduce db level transaction delay metric
  sqlserver/changelog.d/17345.added
  sqlserver/changelog.d/17345.fixed
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_metrics.py
  sqlserver/tests/utils.py
Labels: integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#17346 Split the `config` command into several files
  ddev/src/ddev/cli/config/__init__.py
  ddev/src/ddev/cli/config/edit.py
  ddev/src/ddev/cli/config/explore.py
  ddev/src/ddev/cli/config/find.py
  ddev/src/ddev/cli/config/restore.py
  ddev/src/ddev/cli/config/set.py
  ddev/src/ddev/cli/config/show.py
  ddev/src/ddev/cli/config/update.py
Labels: changelog/no-changelog, team/agent-integrations

#17347 Fix the message when tests are skipped because of the platform
  ddev/tests/conftest.py
Labels: changelog/no-changelog, ddev, team/agent-integrations

#17349 Finalize Agent release 7.52.1
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
Labels: changelog/no-changelog, team/agent-integrations, team/documentation

#17354 Update docs.yml
  .github/workflows/docs.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17355 Run the docs job on PR that modifies it
  .github/workflows/docs.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17348 Do not open the editor if no changelog should be generated in the changelog new command
  ddev/changelog.d/17348.fixed
  ddev/src/ddev/cli/release/changelog/new.py
  ddev/tests/cli/release/test_changelog.py
Labels: ddev, team/agent-integrations

#17359 Fix a flaky test
  mongo/tests/test_integration_standalone.py
Labels: changelog/no-changelog, integration/mongo, team/agent-integrations

#17360 Update README.md
  sonarqube/README.md
Labels: documentation, changelog/no-changelog, integration/sonarqube, mergequeue-status: removed, team/agent-integrations, team/documentation

#17246 Argo Rollouts Logs Pipeline
  argo_rollouts/assets/logs/argo_rollouts.yaml
  argo_rollouts/assets/logs/argo_rollouts_tests.yaml
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, team/logs-backend, integration/argo_rollouts, assets/deploy-logs-staging

#17361 Skip index fragmentation metrics for tempdb
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/17361.added
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: documentation, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#17352 Add Saved Views for Argo Workflows
  argo_workflows/assets/saved_views/errors.json
  argo_workflows/assets/saved_views/overview.json
  argo_workflows/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/argo_workflows

#17351 Add saved views for Flux
  fluxcd/assets/saved_views/errors.json
  fluxcd/assets/saved_views/overview.json
  fluxcd/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/fluxcd

#17342 OOTB Argo Rollouts Dashboard
  argo_rollouts/assets/dashboards/argo_rollouts_overview.json
  argo_rollouts/assets/dashboards/overview.json
  argo_rollouts/manifest.json
Labels: documentation, changelog/no-changelog, editorial review, team/agent-integrations, team/documentation, integration/argo_rollouts

#17202 [PLINT-317] Add support for infrastructure metrics
  esxi/datadog_checks/esxi/check.py
  esxi/datadog_checks/esxi/constants.py
  esxi/datadog_checks/esxi/metrics.py
  esxi/metadata.csv
  esxi/tests/test_integration.py
  esxi/tests/test_unit.py
Labels: team/agent-integrations, team/platform-integrations, integration/esxi

#17368 DOCS-7626 Google Kubernetes Engine Doc Update
  gke/README.md
Labels: documentation, changelog/no-changelog, integration/gke, team/agent-integrations, team/documentation

#17232 Trigger the agent build when anything changes under .deps
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling, team/agent-integrations

#17373 Add unit test for ESXI up
  esxi/tests/test_unit.py
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/platform-integrations, integration/esxi

#17371 adding information on metrics for PANOS integration
  pan_firewall/README.md
Labels: documentation, changelog/no-changelog, integration/pan_firewall, team/agent-integrations, team/documentation

#17372 [PLINT-318] Collect version metadata and ensure only connecting to ESXi hosts
  esxi/datadog_checks/esxi/check.py
  esxi/tests/conftest.py
  esxi/tests/test_unit.py
Labels: team/agent-integrations, team/platform-integrations, integration/esxi

#17369 [PLINT-315] Add support for excluded_host_tags
  esxi/assets/configuration/spec.yaml
  esxi/datadog_checks/esxi/check.py
  esxi/datadog_checks/esxi/config_models/defaults.py
  esxi/datadog_checks/esxi/config_models/instance.py
  esxi/datadog_checks/esxi/constants.py
  esxi/datadog_checks/esxi/data/conf.yaml.example
  esxi/tests/test_unit.py
Labels: documentation, team/agent-integrations, team/platform-integrations, integration/esxi

#17377 Updates to mapr e2e test setup and instructions to add librdkafka headers
  mapr/README.md
  mapr/tests/conftest.py
Labels: documentation, changelog/no-changelog, integration/mapr, qa/skip-qa, team/agent-integrations, team/documentation

#17381 Gather and transmit Postgres schema data in segments
  postgres/changelog.d/17381.fixed
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/util.py
  postgres/tests/common.py
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/test_metadata.py
Labels: integration/postgres, base_package, mergequeue-status: waiting, team/agent-integrations, team/database-monitoring-agent

#17382 MySQL Metric Description Update
  mysql/metadata.csv
Labels: documentation, changelog/no-changelog, integration/mysql, team/agent-integrations, team/database-monitoring-agent, team/documentation

#17387 Assign ownership to BARX for relevant parts of new deps building system
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/agent-integrations

#17389 Relax assertion about metric count to make test less flaky
  mongo/tests/test_integration_standalone.py
Labels: changelog/no-changelog, integration/mongo, team/agent-integrations

#17390 Remove trailing comma
  ray/README.md
Labels: documentation, changelog/no-changelog, integration/ray, team/agent-integrations, team/documentation

#17380 [PLINT-357] Adding /v3/{project_id}/volumes metrics
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/changelog.d/17379.added
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/datadog_checks/openstack_controller/components/block_storage.py
  openstack_controller/datadog_checks/openstack_controller/config_models/instance.py
  openstack_controller/datadog_checks/openstack_controller/metrics.py
  openstack_controller/metadata.csv
  openstack_controller/tests/conftest.py
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/volumes/detail/limit=1/marker=9c762008-d70f-44d1-af02-98e1da79ee4b/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/volumes/detail/limit=1/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/volumes/detail/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/volumes/detail/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/volumes/detail/limit=1/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/volumes/detail/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/volumes/detail/response.json
  openstack_controller/tests/test_unit_cinder.py
Labels: documentation, integration/openstack_controller, team/agent-integrations, team/platform-integrations

#17383 [PLINT-362] Standardize metric names
  teleport/datadog_checks/teleport/metrics.py
  teleport/manifest.json
  teleport/metadata.csv
  teleport/tests/common.py
Labels: documentation, team/agent-integrations, team/documentation, integration/teleport

#17397 Revert Postgres Optimization (#17187)
  postgres/changelog.d/17397.fixed
  postgres/datadog_checks/postgres/query_calls_cache.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_query_calls_cache.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#17394 [PLINT-314] Add support for per instance filters
  esxi/assets/configuration/spec.yaml
  esxi/datadog_checks/esxi/check.py
  esxi/datadog_checks/esxi/config_models/instance.py
  esxi/datadog_checks/esxi/constants.py
  esxi/datadog_checks/esxi/data/conf.yaml.example
  esxi/datadog_checks/esxi/utils.py
  esxi/tests/test_unit.py
Labels: documentation, team/agent-integrations, team/platform-integrations, integration/esxi

#17405 [Release] Revert Postgres Optimizations
  .in-toto/tag.bd79a691.link
  postgres/CHANGELOG.md
  postgres/changelog.d/17397.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#17406 [Port release to Master] Revert Postgres Optimizations (#17405)
  postgres/CHANGELOG.md
  postgres/changelog.d/17397.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#17400 Fix default value for pg_stat_statements_view
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/17400.fixed
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#17399 Update kube state core metric units
  kubernetes_state_core/metadata.csv
Labels: changelog/no-changelog, integration/kubernetes_state_core, team/agent-integrations, team/container-integrations

#17388 [NDM][NDMII-2634]move snmp_listener config under network_devices
  snmp/tests/conftest.py
Labels: changelog/no-changelog, integration/snmp, mergequeue-status: removed, team/agent-integrations, team/network-device-monitoring

#17357 Update example commands
  tomcat/README.md
Labels: documentation, changelog/no-changelog, integration/tomcat, team/agent-integrations, team/documentation

#17403 [PLINT-363] Add additional event tags for non-host resources
  vsphere/changelog.d/17403.fixed
  vsphere/datadog_checks/vsphere/event.py
  vsphere/tests/test_event.py
Labels: integration/vsphere, team/agent-integrations, team/platform-integrations

#17343 Update README.md for Default Labels
  kubernetes_state_core/README.md
Labels: documentation, changelog/no-changelog, integration/kubernetes_state_core, mergequeue-status: removed, team/agent-integrations, team/container-integrations, team/documentation

#17410 Removes outdated warning banner
  snowflake/README.md
Labels: documentation, changelog/no-changelog, integration/snowflake, team/agent-integrations, team/documentation

#17409 [NDM][NDMII-2635]test the automatic activation of autodiscovery
  snmp/tests/conftest.py
Labels: changelog/no-changelog, integration/snmp, team/agent-integrations, team/network-device-monitoring

#17412 [PLINT-364] Add cinder pool metrics
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/datadog_checks/openstack_controller/components/block_storage.py
  openstack_controller/datadog_checks/openstack_controller/config_models/instance.py
  openstack_controller/datadog_checks/openstack_controller/metrics.py
  openstack_controller/metadata.csv
  openstack_controller/tests/conftest.py
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/scheduler-stats/get_pools/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/scheduler-stats/get_pools/response.json
  openstack_controller/tests/test_unit_cinder.py
Labels: documentation, integration/openstack_controller, team/agent-integrations, team/platform-integrations

#17415 Bump openssl on dependency builders
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
Labels: changelog/no-changelog, qa/skip-qa, team/agent-integrations, team/agent-build-and-releases

#17417 Upgrade checkout action to use Node 20
  .github/workflows/build-ddev.yml
  .github/workflows/cache-shared-deps.yml
  .github/workflows/compute-matrix.yml
  .github/workflows/docs.yml
  .github/workflows/pr-quick-check.yml
  .github/workflows/release-base.yml
  .github/workflows/release-dev.yml
  .github/workflows/release-hash-check.yml
  .github/workflows/run-validations.yml
  .github/workflows/submit-traces.yml
  .github/workflows/test-results-master.yml
  .github/workflows/test-target.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17413 [PLINT-361] Add esxi_host tag
  esxi/datadog_checks/esxi/check.py
  esxi/tests/test_integration.py
  esxi/tests/test_unit.py
Labels: team/agent-integrations, team/platform-integrations, integration/esxi

#17393 [PLINT-360] Add cinder snapshot metrics
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/datadog_checks/openstack_controller/components/block_storage.py
  openstack_controller/datadog_checks/openstack_controller/config_models/instance.py
  openstack_controller/datadog_checks/openstack_controller/metrics.py
  openstack_controller/metadata.csv
  openstack_controller/tests/config/openstack_config_updated.yaml
  openstack_controller/tests/conftest.py
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/snapshots/detail/limit=1/marker=6e099852-b540-48ad-b01b-92fa6daed7ff/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/snapshots/detail/limit=1/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/snapshots/detail/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/snapshots/detail/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/snapshots/detail/limit=1/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/snapshots/detail/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/snapshots/detail/response.json
  openstack_controller/tests/test_unit_cinder.py
Labels: documentation, changelog/no-changelog, integration/openstack_controller, team/agent-integrations, team/platform-integrations

#17416 [PLINT-365] Add cinder cluster metrics
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/datadog_checks/openstack_controller/components/block_storage.py
  openstack_controller/datadog_checks/openstack_controller/config.py
  openstack_controller/datadog_checks/openstack_controller/config_models/instance.py
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
  openstack_controller/datadog_checks/openstack_controller/metrics.py
  openstack_controller/metadata.csv
  openstack_controller/tests/configs.py
  openstack_controller/tests/conftest.py
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/clusters/detail/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/clusters/detail/response.json
  openstack_controller/tests/test_unit_cinder.py
  openstack_controller/tests/test_unit_config.py
Labels: documentation, integration/openstack_controller, team/agent-integrations, team/platform-integrations

#17407 [NDM][NDMII-2557]update the config template for collect_topology
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/snmp, team/agent-integrations, team/network-device-monitoring

#17426 fix(devcontainer): patch /etc/init.d/docker to support DiD
  .devcontainer/Dockerfile
Labels: changelog/no-changelog, dev/tooling, team/agent-integrations, team/container-integrations

#17420 [FRAGENT-2864][Gitlab] Adds additional Geo metrics
  gitlab/changelog.d/17420.added
  gitlab/datadog_checks/gitlab/metrics.py
  gitlab/metadata.csv
  gitlab/tests/common.py
  gitlab/tests/fixtures/metrics.txt
Labels: integration/gitlab, team/agent-integrations

#17422 Merge new cinder metrics into master
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/changelog.d/17422.added
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/datadog_checks/openstack_controller/components/block_storage.py
  openstack_controller/datadog_checks/openstack_controller/config.py
  openstack_controller/datadog_checks/openstack_controller/config_models/instance.py
  openstack_controller/datadog_checks/openstack_controller/data/conf.yaml.example
  openstack_controller/datadog_checks/openstack_controller/metrics.py
  openstack_controller/metadata.csv
  openstack_controller/tests/config/openstack_config_updated.yaml
  openstack_controller/tests/configs.py
  openstack_controller/tests/conftest.py
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/clusters/detail/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/os-volume-transfer/detail/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/scheduler-stats/get_pools/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/snapshots/detail/limit=1/marker=6e099852-b540-48ad-b01b-92fa6daed7ff/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/snapshots/detail/limit=1/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/snapshots/detail/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/snapshots/detail/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/volumes/detail/limit=1/marker=9c762008-d70f-44d1-af02-98e1da79ee4b/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/volumes/detail/limit=1/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/volumes/detail/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/1e6e233e637d4d55a50a62b63398ad15/volumes/detail/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/clusters/detail/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/os-volume-transfer/detail/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/scheduler-stats/get_pools/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/snapshots/detail/limit=1/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/snapshots/detail/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/snapshots/detail/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/volumes/detail/limit=1/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/volumes/detail/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/volume/v3/6e39099cccde4f809b003d9e0dd09304/volumes/detail/response.json
  openstack_controller/tests/test_unit_cinder.py
  openstack_controller/tests/test_unit_config.py
Labels: documentation, integration/openstack_controller, team/agent-integrations, team/platform-integrations

#17425 Fluxcd Readme Improvements
  fluxcd/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/fluxcd

#17430 Fix null checks
  sqlserver/changelog.d/17430.fixed
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/database_metrics/db_fragmentation_metrics.py
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#17432 Update libxml2 and libxslt for building dependencies
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
Labels: changelog/no-changelog, team/agent-integrations, team/agent-build-and-releases

#17411 [Release] Bumped vsphere version to 7.5.1
  .in-toto/tag.47c5a022.link
  requirements-agent-release.txt
  vsphere/CHANGELOG.md
  vsphere/changelog.d/17403.fixed
  vsphere/datadog_checks/vsphere/__about__.py
Labels: documentation, integration/vsphere, release, qa/skip-qa, team/agent-integrations, team/platform-integrations, team/documentation

#17429 [PLINT-313] Add support for resource filters
  esxi/assets/configuration/spec.yaml
  esxi/datadog_checks/esxi/check.py
  esxi/datadog_checks/esxi/config_models/instance.py
  esxi/datadog_checks/esxi/constants.py
  esxi/datadog_checks/esxi/data/conf.yaml.example
  esxi/datadog_checks/esxi/resource_filters.py
  esxi/datadog_checks/esxi/utils.py
  esxi/tests/test_unit.py
Labels: documentation, team/agent-integrations, team/platform-integrations, integration/esxi

#17431 [PLINT-316] Add support for SSL verification
  esxi/assets/configuration/spec.yaml
  esxi/datadog_checks/esxi/check.py
  esxi/datadog_checks/esxi/config_models/defaults.py
  esxi/datadog_checks/esxi/config_models/instance.py
  esxi/datadog_checks/esxi/data/conf.yaml.example
  esxi/tests/common.py
  esxi/tests/test_integration.py
  esxi/tests/test_unit.py
Labels: documentation, team/agent-integrations, team/platform-integrations, integration/esxi

#17442 Update setup-python github action to use Node 20
  .github/workflows/build-ddev.yml
  .github/workflows/cache-shared-deps.yml
  .github/workflows/compute-matrix.yml
  .github/workflows/docs.yml
  .github/workflows/pr-quick-check.yml
  .github/workflows/release-base.yml
  .github/workflows/release-dev.yml
  .github/workflows/release-hash-check.yml
  .github/workflows/run-validations.yml
  .github/workflows/test-target.yml
  .github/workflows/update-agent-changelog.yml
  .github/workflows/update-dependencies.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17440 [PLINT-313] Add support for metric filters
  esxi/assets/configuration/spec.yaml
  esxi/datadog_checks/esxi/check.py
  esxi/datadog_checks/esxi/config_models/instance.py
  esxi/datadog_checks/esxi/data/conf.yaml.example
  esxi/datadog_checks/esxi/metrics.py
  esxi/datadog_checks/esxi/utils.py
  esxi/tests/test_unit.py
Labels: documentation, team/agent-integrations, team/platform-integrations, integration/esxi

#17437 ddev: Update IMAGES_README template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/marketplace/IMAGES_README.md
Labels: changelog/no-changelog, dev/tooling, dev_package, team/agent-integrations, team/documentation

#17446 Only collect property metrics for resources that support it and lower log line level
  vsphere/changelog.d/17446.fixed
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/common.py
  vsphere/tests/test_unit.py
Labels: integration/vsphere, team/agent-integrations, team/platform-integrations

#17441 Send Teleport service check as a metric
  teleport/datadog_checks/teleport/check.py
  teleport/metadata.csv
  teleport/tests/docker/docker-compose.yaml
  teleport/tests/test_common.py
  teleport/tests/test_e2e.py
  teleport/tests/test_integration.py
Labels: documentation, team/agent-integrations, team/documentation, integration/teleport

#17027 Add ESXi integration
  .codecov.yml
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  esxi/CHANGELOG.md
  esxi/README.md
  esxi/assets/configuration/spec.yaml
  esxi/assets/service_checks.json
  esxi/changelog.d/17027.added
  esxi/datadog_checks/__init__.py
  esxi/datadog_checks/esxi/__about__.py
  esxi/datadog_checks/esxi/__init__.py
  esxi/datadog_checks/esxi/check.py
  esxi/datadog_checks/esxi/config_models/__init__.py
  esxi/datadog_checks/esxi/config_models/defaults.py
  esxi/datadog_checks/esxi/config_models/instance.py
  esxi/datadog_checks/esxi/config_models/shared.py
  esxi/datadog_checks/esxi/config_models/validators.py
  esxi/datadog_checks/esxi/constants.py
  esxi/datadog_checks/esxi/data/conf.yaml.example
  esxi/datadog_checks/esxi/metrics.py
  esxi/datadog_checks/esxi/resource_filters.py
  esxi/datadog_checks/esxi/utils.py
  esxi/hatch.toml
  esxi/manifest.json
  esxi/metadata.csv
  esxi/pyproject.toml
  esxi/tests/__init__.py
  esxi/tests/common.py
  esxi/tests/conftest.py
  esxi/tests/docker/docker-compose.yaml
  esxi/tests/test_e2e.py
  esxi/tests/test_integration.py
  esxi/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/esxi

#17456 Update metadata.csv with descriptions and units
  teleport/metadata.csv
Labels: changelog/no-changelog, team/agent-integrations, integration/teleport

#17459 Lower log level for missing metric
  esxi/changelog.d/17459.fixed
  esxi/datadog_checks/esxi/check.py
Labels: team/agent-integrations, team/platform-integrations, integration/esxi

#16877 Add the Teleport Integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  teleport/CHANGELOG.md
  teleport/README.md
  teleport/assets/configuration/spec.yaml
  teleport/assets/service_checks.json
  teleport/changelog.d/16877.added
  teleport/datadog_checks/__init__.py
  teleport/datadog_checks/teleport/__about__.py
  teleport/datadog_checks/teleport/__init__.py
  teleport/datadog_checks/teleport/check.py
  teleport/datadog_checks/teleport/config_models/__init__.py
  teleport/datadog_checks/teleport/config_models/defaults.py
  teleport/datadog_checks/teleport/config_models/instance.py
  teleport/datadog_checks/teleport/config_models/shared.py
  teleport/datadog_checks/teleport/config_models/validators.py
  teleport/datadog_checks/teleport/data/conf.yaml.example
  teleport/datadog_checks/teleport/metrics.py
  teleport/hatch.toml
  teleport/images/IMAGES_README.md
  teleport/manifest.json
  teleport/metadata.csv
  teleport/pyproject.toml
  teleport/tests/__init__.py
  teleport/tests/common.py
  teleport/tests/conftest.py
  teleport/tests/docker/docker-compose.yaml
  teleport/tests/docker/etc/teleport/teleport.yaml
  teleport/tests/fixtures/metrics.txt
  teleport/tests/test_auth.py
  teleport/tests/test_bpf.py
  teleport/tests/test_common.py
  teleport/tests/test_database.py
  teleport/tests/test_e2e.py
  teleport/tests/test_integration.py
  teleport/tests/test_kubernetes.py
  teleport/tests/test_prometheus.py
  teleport/tests/test_proxy.py
  teleport/tests/test_ssh.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/teleport

#17461 fix esxi initial version number
  esxi/datadog_checks/esxi/__about__.py
Labels: changelog/no-changelog, release, qa/skip-qa, team/agent-integrations, team/platform-integrations, integration/esxi

#17418 Add postgresql.running metric
  postgres/changelog.d/17418.added
  postgres/datadog_checks/postgres/postgres.py
  postgres/metadata.csv
  postgres/tests/common.py
Labels: integration/postgres, mergequeue-status: removed, team/agent-integrations, team/database-monitoring-agent

#17462 Fix minimum required base package version
  esxi/pyproject.toml
Labels: changelog/no-changelog, team/agent-integrations, team/platform-integrations, integration/esxi

#17450 Tweak codeowners to properly set build-deps.yml's owner
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-integrations

#17464 Fix exception handling in Teleport tests
  teleport/tests/test_common.py
Labels: changelog/no-changelog, team/agent-integrations, integration/teleport

#17451 Add fastpath tag to lock metrics
  postgres/changelog.d/17451.added
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/tests/test_relations.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#17466 Add Teleport folder to CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-integrations

#17465 Release new integrations for 7.54 Agent
  .in-toto/tag.b9ca7eb3.link
  esxi/CHANGELOG.md
  esxi/changelog.d/17027.added
  esxi/changelog.d/17459.fixed
  esxi/datadog_checks/esxi/__about__.py
  requirements-agent-release.txt
  teleport/CHANGELOG.md
  teleport/changelog.d/16877.added
  teleport/datadog_checks/teleport/__about__.py
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/platform-integrations, team/documentation, integration/teleport, integration/esxi

#17455 Updating openstack controller [default microversion] dashboard to include new cinder metrics
  openstack_controller/assets/dashboards/openstack_controller_overview_[default_microversion].json
Labels: changelog/no-changelog, integration/openstack_controller, team/agent-integrations

#17467 Release new integrations for 7.54 Agent
  esxi/CHANGELOG.md
  esxi/changelog.d/17027.added
  esxi/changelog.d/17459.fixed
  esxi/datadog_checks/esxi/__about__.py
  requirements-agent-release.txt
  teleport/CHANGELOG.md
  teleport/changelog.d/16877.added
  teleport/datadog_checks/teleport/__about__.py
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/platform-integrations, team/documentation, integration/teleport, integration/esxi

#17443 Implement feedback for fluxcd dashboard
  fluxcd/assets/dashboards/fluxcd.json
Labels: changelog/no-changelog, team/agent-integrations, team/documentation, integration/fluxcd

#17476 Update the description for the tls_ca_cert config option to use openssl rehash instead of c_rehash
  argo_rollouts/changelog.d/17476.fixed
  argo_rollouts/datadog_checks/argo_rollouts/data/conf.yaml.example
  argo_workflows/changelog.d/17476.fixed
  argo_workflows/datadog_checks/argo_workflows/data/conf.yaml.example
  tekton/changelog.d/17476.fixed
  tekton/datadog_checks/tekton/data/conf.yaml.example
Labels: team/agent-integrations, team/documentation, integration/tekton, integration/argo_workflows, integration/argo_rollouts

#17469 Update cache github action to use Node 20
  .github/workflows/build-deps.yml
  .github/workflows/cache-shared-deps.yml
  .github/workflows/test-target.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, team/agent-build-and-releases

#17454 [PLINT-366] Adding glance image up and size metrics
  openstack_controller/datadog_checks/openstack_controller/components/image.py
  openstack_controller/datadog_checks/openstack_controller/metrics.py
  openstack_controller/metadata.csv
  openstack_controller/tests/fixtures/GET/image/v2/images/limit=1/marker=28c293db-48c5-4c8b-a711-09b2c11fa8e5/response.json
  openstack_controller/tests/fixtures/GET/image/v2/images/limit=1/response.json
  openstack_controller/tests/fixtures/GET/image/v2/images/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/image/v2/images/response.json
  openstack_controller/tests/metrics.py
Labels: integration/openstack_controller, team/agent-integrations, team/platform-integrations

#17435 (DOCS-7759) Change language regarding directory
  openmetrics/README.md
Labels: documentation, changelog/no-changelog, integration/openmetrics, team/agent-integrations, team/container-integrations, team/documentation

#17479 Fix description
  weaviate/manifest.json
Labels: documentation, changelog/no-changelog, integration/weaviate, team/agent-integrations, team/documentation

#17449 Trigger dependency build-related jobs on release branches too
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, team/agent-build-and-releases

#17477 [PLINT-374] Adding glance image task metrics
  openstack_controller/assets/configuration/spec.yaml
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/datadog_checks/openstack_controller/components/image.py
  openstack_controller/datadog_checks/openstack_controller/config_models/instance.py
  openstack_controller/datadog_checks/openstack_controller/metrics.py
  openstack_controller/metadata.csv
  openstack_controller/tests/conftest.py
  openstack_controller/tests/fixtures/GET/image/v2/images/28c293db-48c5-4c8b-a711-09b2c11fa8e5/tasks/response.json
  openstack_controller/tests/metrics.py
  openstack_controller/tests/test_unit_glance.py
Labels: documentation, integration/openstack_controller, team/agent-integrations, team/platform-integrations

#17483 Add mariadb 10.6
  mysql/hatch.toml
Labels: changelog/no-changelog, integration/mysql, team/agent-integrations, team/database-monitoring-agent

#17486 [Release] [Backport 7.54.x] Include schema in filter for indexes
  .in-toto/tag.bd79a691.link
  postgres/CHANGELOG.md
  postgres/changelog.d/17480.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#17489 [Release] [Backport 7.54.x] Include schema in filter for indexes
  postgres/CHANGELOG.md
  postgres/changelog.d/17480.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#17488 Update Weaviate Overview
  weaviate/README.md
  weaviate/images/weaviate_dashboard.png
Labels: documentation, changelog/no-changelog, integration/weaviate, team/agent-integrations, team/documentation
