Repository DataDog/integrations-core, pull requests merged in 2024-12, with the labels that each got.

#19170 Mark test as flaky
  sqlserver/tests/test_activity.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19169 Clearer test parameters
  mongo/tests/test_integration.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19153 Separate parameterized tests that fail on CI
  vault/tests/test_integration.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/approved

#18975 Show diff to closest metric match
  datadog_checks_base/changelog.d/18975.added
  datadog_checks_base/datadog_checks/base/stubs/similar.py
  datadog_checks_base/tests/stubs/test_aggregator_similar.py
Labels: integration/mysql, qa/skip-qa, base_package, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19173 Fix Oracle metrics CSV
  oracle/metadata.csv
Labels: ecosystems/review-requested, product/review-requested

#18910 [DOCS-9319] NPM naming changes for integrations
  consul/README.md
  ecs_fargate/README.md
  eks_fargate/README.md
  istio/README.md
Labels: documentation, changelog/no-changelog, integration/consul, integration/ecs_fargate, integration/istio, integration/eks_fargate, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#19111 DBMON-4720: Make all sql server database metrics configurable
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/19111.added
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/config_models/defaults.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/database_metrics/ao_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/availability_groups_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/availability_replicas_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/base.py
  sqlserver/datadog_checks/sqlserver/database_metrics/database_agent_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/database_backup_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/database_files_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/database_replication_stats_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/database_stats_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/db_fragmentation_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/fci_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/file_stats_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/index_usage_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/master_files_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/os_schedulers_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/os_tasks_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/primary_log_shipping_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/secondary_log_shipping_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/server_state_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/tempdb_file_space_usage_metrics.py
  sqlserver/datadog_checks/sqlserver/database_metrics/xe_session_metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/conftest.py
  sqlserver/tests/test_database_metrics.py
Labels: documentation, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19163 Upgrade GitHub Actions mac runner.
  .github/workflows/build-ddev.yml
  .github/workflows/build-deps.yml
  ddev/changelog.d/19163.changed
  ddev/src/ddev/utils/scripts/ci_matrix.py
  docs/developer/meta/ci/testing.md
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19097 [DOCS-9488] SD WAN GA updates
  cisco_sdwan/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, integration/cisco_sdwan, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, team/ndm-integrations

#19176 [PLINT-485] Add support for events
  octopus_deploy/datadog_checks/octopus_deploy/check.py
  octopus_deploy/tests/constants.py
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/from=2024-09-23 14:45:00.123000+00:00/to=2024-09-23 14:45:00.123000+00:00/eventCategories=MachineHealthy,MachineUnhealthy,MachineUnavailable,CertificateExpired,DeploymentFailed,DeploymentSucceeded,LoginFailed,MachineAdded,MachineDeleted/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/from=2024-09-23 14:45:00.123000+00:00/to=2024-09-23 14:45:15.123000+00:00/eventCategories=MachineHealthy,MachineUnhealthy,MachineUnavailable,CertificateExpired,DeploymentFailed,DeploymentSucceeded,LoginFailed,MachineAdded,MachineDeleted/response.json
  octopus_deploy/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19152 [PLINT-484] Add support for deployment logs
  octopus_deploy/assets/configuration/spec.yaml
  octopus_deploy/datadog_checks/octopus_deploy/check.py
  octopus_deploy/datadog_checks/octopus_deploy/data/conf.yaml.example
  octopus_deploy/tests/constants.py
  octopus_deploy/tests/docker/Caddyfile
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/ServerTasks-1844/details/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/ServerTasks-1845/details/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/ServerTasks-1846/details/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/ServerTasks-1847/details/response.json
  octopus_deploy/tests/test_e2e.py
  octopus_deploy/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19178 update image
  hyperv/assets/dashboards/overview.json
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19177 Add blog link for VLLM integration
  vllm/README.md
  vllm/manifest.json
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19182 Sy/slurm user
  slurm/changelog.d/19182.fixed
  slurm/datadog_checks/slurm/constants.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved, backport/7.61.x

#19189 Fall back to system_health/event_file when querying deadlocks
  sqlserver/changelog.d/19189.changed
  sqlserver/datadog_checks/sqlserver/database_metrics/xe_session_metrics.py
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/tests/test_deadlocks.py
Labels: qa/skip-qa, team/database-monitoring, ecosystems/review-requested, product/review-requested, agent/review-requested

#19195 Better description for PRs that update dependencies.
  .github/workflows/update-dependencies.yml
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19183 Refactor: move logic out of client for easier unit testing
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_unit.py
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/approved

#19194 Fix PR number in changelog entries
  amazon_msk/CHANGELOG.md
  cisco_aci/CHANGELOG.md
  datadog_checks_base/CHANGELOG.md
  http_check/CHANGELOG.md
  kafka_consumer/CHANGELOG.md
  mysql/CHANGELOG.md
  openstack_controller/CHANGELOG.md
  postgres/CHANGELOG.md
  redisdb/CHANGELOG.md
  snmp/CHANGELOG.md
  snowflake/CHANGELOG.md
  tls/CHANGELOG.md
  vertica/CHANGELOG.md
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, backport/7.60.x, backport/7.61.x

#19191 Add note about required obfuscator option for APM linking in DBM integrations
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested

#19140 [INTPLAT-445] DDSaaS: Temporal Cloud: Crawler Integration without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  temporal_cloud/CHANGELOG.md
  temporal_cloud/README.md
  temporal_cloud/assets/service_checks.json
  temporal_cloud/manifest.json
  temporal_cloud/metadata.csv
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19190 Bump binary package version
  agent_requirements.in
  datadog_checks_base/changelog.d/19190.added
  datadog_checks_base/pyproject.toml
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/requested-changes, backport/7.60.x, backport/7.61.x

#19209 Envoy flaky CI fix attempt
  envoy/tests/docker/api_v3/go.mod
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19210 Sy/envoy test
  envoy/tests/docker/api_v3/go.mod
  envoy/tests/docker/api_v3/go.sum
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19206 Bump datadog checks base for 7.60 rc7
  .in-toto/tag.5d245df7.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/19190.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19207 [Release] Bumped datadog_checks_base version to 37.2.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/19190.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19215 Upgrade GitHub Actions mac runner. (#19163)
  .github/workflows/build-ddev.yml
  .github/workflows/build-deps.yml
  ddev/changelog.d/19163.changed
  ddev/src/ddev/utils/scripts/ci_matrix.py
  docs/developer/meta/ci/testing.md
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19121 Add `mysql.performance.performance_schema_digest_lost`
  mysql/changelog.d/19121.added
  mysql/datadog_checks/mysql/const.py
  mysql/metadata.csv
  mysql/tests/variables.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19213 Release Slurm 1.0.3
  .in-toto/tag.b9ca7eb3.link
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/19182.fixed
  slurm/datadog_checks/slurm/__about__.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18675 [NDM] [Cisco ACI] Support submitting topology metadata
  cisco_aci/assets/configuration/spec.yaml
  cisco_aci/changelog.d/18675.added
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/datadog_checks/cisco_aci/data/conf.yaml.example
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/datadog_checks/cisco_aci/helpers.py
  cisco_aci/datadog_checks/cisco_aci/models.py
  cisco_aci/datadog_checks/cisco_aci/ndm.py
  cisco_aci/tests/common.py
  cisco_aci/tests/fixtures/fabric/588ea77fffc6df4b37dfdfa4290cdc89.txt
  cisco_aci/tests/fixtures/fabric/f3713df3a586908a3a11f4c356153519.txt
  cisco_aci/tests/fixtures/metadata.py
Labels: documentation, integration/cisco_aci, team/agent-integrations, team/network-device-monitoring, ecosystems/review-requested, product/review-requested, agent/review-requested

#18686 DDSaaS: Mux: Crawler Integration v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  mux/CHANGELOG.md
  mux/README.md
  mux/assets/dashboards/mux_metrics.json
  mux/assets/monitors/anomaly_detected_in_page_load_time.json
  mux/assets/monitors/playback_failure_percentage_is_higher_than_usual.json
  mux/assets/monitors/video_startup_failure_percentage_is_higher_than_usual.json
  mux/assets/mux.svg
  mux/assets/service_checks.json
  mux/images/mux_metrics_1.png
  mux/images/mux_metrics_2.png
  mux/images/mux_metrics_3.png
  mux/images/mux_metrics_4.png
  mux/images/mux_metrics_5.png
  mux/images/mux_overview.png
  mux/manifest.json
  mux/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, crest/asset-pr

#19208 Remove manifest validation call that calls deprecated endpoint
  ddev/changelog.d/19208.removed
  ddev/src/ddev/cli/validate/__init__.py
  ddev/src/ddev/cli/validate/manifest.py
  ddev/tests/cli/validate/test_manifest.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19220 Sy/fix flaky downloader test
  datadog_checks_downloader/tests/test_downloader.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19221 Agent 5 only datadog-ntp needs to be excluded
  datadog_checks_downloader/tests/test_downloader.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19225 Port release Slurm 1.0.3 (#19213) to master
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/19182.fixed
  slurm/datadog_checks/slurm/__about__.py
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19226 [Release] Bumped ddev version to 11.0.0
  ddev/CHANGELOG.md
  ddev/changelog.d/19051.added
  ddev/changelog.d/19126.added
  ddev/changelog.d/19163.changed
  ddev/changelog.d/19208.removed
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19224 Fix indentation in tip block: contents should be text, not listing
  docs/developer/guidelines/dashboards.md
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19045 [INTPLAT-410] DDSaaS: Genesys: Crawler integration without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  genesys/CHANGELOG.md
  genesys/README.md
  genesys/assets/service_checks.json
  genesys/manifest.json
  genesys/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19219 [DOCS-9636] adding clarification
  snmp/assets/service_checks.json
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19174 Add permissions setup example
  ibm_mq/README.md
Labels: ecosystems/review-requested, product/review-requested, docs/approved

#19228 [PLINT-469] Add support for pagination in octopus integration
  octopus_deploy/assets/configuration/spec.yaml
  octopus_deploy/datadog_checks/octopus_deploy/check.py
  octopus_deploy/datadog_checks/octopus_deploy/config_models/defaults.py
  octopus_deploy/datadog_checks/octopus_deploy/config_models/instance.py
  octopus_deploy/datadog_checks/octopus_deploy/data/conf.yaml.example
  octopus_deploy/tests/conftest.py
  octopus_deploy/tests/docker/Caddyfile
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/from=2024-09-23 14:45:00.123000+00:00/to=2024-09-23 14:45:00.123000+00:00/eventCategories=MachineHealthy,MachineUnhealthy,MachineUnavailable,CertificateExpired,DeploymentFailed,DeploymentSucceeded,LoginFailed,MachineAdded,MachineDeleted/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/from=2024-09-23 14:45:00.123000+00:00/to=2024-09-23 14:45:00.123000+00:00/eventCategories=MachineHealthy,MachineUnhealthy,MachineUnavailable,CertificateExpired,DeploymentFailed,DeploymentSucceeded,LoginFailed,MachineAdded,MachineDeleted/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/from=2024-09-23 14:45:00.123000+00:00/to=2024-09-23 14:45:15.123000+00:00/eventCategories=MachineHealthy,MachineUnhealthy,MachineUnavailable,CertificateExpired,DeploymentFailed,DeploymentSucceeded,LoginFailed,MachineAdded,MachineDeleted/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/from=2024-09-23 14:45:00.123000+00:00/to=2024-09-23 14:45:15.123000+00:00/eventCategories=MachineHealthy,MachineUnhealthy,MachineUnavailable,CertificateExpired,DeploymentFailed,DeploymentSucceeded,LoginFailed,MachineAdded,MachineDeleted/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/from=2024-09-23 14:45:00.123000+00:00/to=2024-09-23 14:45:15.123000+00:00/eventCategories=MachineHealthy,MachineUnhealthy,MachineUnavailable,CertificateExpired,DeploymentFailed,DeploymentSucceeded,LoginFailed,MachineAdded,MachineDeleted/skip=2/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-1/projects/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-1/projects/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-1/projects/skip=2/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-2/projects/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-2/projects/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-3/projects/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-3/projects/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/skip=2/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-1/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:00.123000+00:00/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-1/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:00.123000+00:00/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-1/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-1/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-1/states=Queued,Executing/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-1/states=Queued,Executing/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-2/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:00.123000+00:00/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-2/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:00.123000+00:00/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-2/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-2/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-2/states=Queued,Executing/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-2/states=Queued,Executing/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:00.123000+00:00/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:00.123000+00:00/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/skip=2/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/states=Queued,Executing/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-3/states=Queued,Executing/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-4/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:00.123000+00:00/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-4/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:00.123000+00:00/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-4/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-4/fromCompletedDate=2024-09-23 14:45:00.123000+00:00/toCompletedDate=2024-09-23 14:45:15.123000+00:00/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-4/states=Queued,Executing/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project=Projects-4/states=Queued,Executing/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/octopusservernodes/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/octopusservernodes/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/response.json
  octopus_deploy/tests/fixtures/GET/api/spaces/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/spaces/skip=0/take=30/response.json
  octopus_deploy/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19185 [NDM] [Cisco ACI] Update OOTB dashboard
  cisco_aci/assets/dashboards/cisco_aci_dashboard.json
Labels: ecosystems/review-requested, product/review-requested

#19230 flakiness
  datadog_checks_downloader/tests/test_downloader.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#18917 [INTPLAT-382] Plaid No Assets PR
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  plaid/CHANGELOG.md
  plaid/README.md
  plaid/assets/service_checks.json
  plaid/manifest.json
  plaid/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19197 Fix "no snapshot data found" error when `agent check <check> -m/--profile-memory`
  datadog_checks_base/changelog.d/19197.fixed
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19227 Make kubevirt integrations public
  kubevirt_api/README.md
  kubevirt_api/manifest.json
  kubevirt_controller/README.md
  kubevirt_controller/manifest.json
  kubevirt_handler/README.md
  kubevirt_handler/manifest.json
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19218 Report pg_class xmin
  postgres/changelog.d/19218.added
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/metadata.csv
  postgres/tests/test_relations.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19229 [datadog_cluster_agent] Add local failover workload store metric
  datadog_cluster_agent/changelog.d/19229.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#17936 Wrangle monitor export JSON to be in the right format for us
  ddev/changelog.d/17936.added
  ddev/src/ddev/cli/meta/scripts/__init__.py
  ddev/src/ddev/cli/meta/scripts/monitor.py
Labels: ddev, ecosystems/review-requested, product/review-requested, agent/approved

#19241 Link vSphere billing docs to integration docs
  vsphere/README.md
Labels: ecosystems/review-requested, product/review-requested, docs/approved

#19204 [NDM] [Cisco ACI] Fix APIC device status
  cisco_aci/changelog.d/19204.fixed
  cisco_aci/datadog_checks/cisco_aci/models.py
  cisco_aci/datadog_checks/cisco_aci/ndm.py
  cisco_aci/tests/fixtures/metadata.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#18692 DDSaaS: Shopify: Crawler Integration v1.0.0
  .github/CODEOWNERS
  shopify/README.md
  shopify/assets/dashboards/shopify_customer_overview.json
  shopify/assets/dashboards/shopify_event_overview.json
  shopify/assets/dashboards/shopify_order_overview.json
  shopify/assets/dashboards/shopify_product_overview.json
  shopify/assets/logs/shopify.yaml
  shopify/assets/logs/shopify_tests.yaml
  shopify/assets/monitors/order_cancellation_rate.json
  shopify/assets/monitors/product_inventory_out_of_stock.json
  shopify/assets/shopify_dark_theme.svg
  shopify/assets/shopify_white_them.svg
  shopify/images/shopify_customer_overview.png
  shopify/images/shopify_event_overview.png
  shopify/images/shopify_order_overview.png
  shopify/images/shopify_product_overview.png
  shopify/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, crest/asset-pr

#19243 [PLINT-595] Update autodiscovery config docs
  octopus_deploy/assets/configuration/spec.yaml
  octopus_deploy/datadog_checks/octopus_deploy/data/conf.yaml.example
Labels: ecosystems/review-requested, product/review-requested

#18782 DDSaaS: StreamNative: Crawler Integration v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  streamnative/CHANGELOG.md
  streamnative/README.md
  streamnative/assets/dashboards/streamnative_health.json
  streamnative/assets/dashboards/streamnative_kafka_connect.json
  streamnative/assets/dashboards/streamnative_pulsar_resource.json
  streamnative/assets/dashboards/streamnative_sink_connector.json
  streamnative/assets/dashboards/streamnative_source_connector.json
  streamnative/assets/monitors/backlog_size_exceeding_threshold.json
  streamnative/assets/monitors/messaging_service_down.json
  streamnative/assets/monitors/webservice_down.json
  streamnative/assets/service_checks.json
  streamnative/assets/streamnative.svg
  streamnative/images/streamnative_health.png
  streamnative/images/streamnative_kafka_connect.png
  streamnative/images/streamnative_pulsar_resource.png
  streamnative/images/streamnative_sink_connector.png
  streamnative/images/streamnative_source_connector.png
  streamnative/manifest.json
  streamnative/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, mergequeue-status: waiting, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19242 fix relative docs links
  airflow/README.md
  iam_access_analyzer/README.md
  kubernetes_state_core/README.md
Labels: product/review-requested, agent/approved, docs/approved, ecosystems/approved

#19248 Fix interface perf dashboard colors
  snmp/assets/dashboards/interface_performance.json
Labels: ecosystems/review-requested, product/review-requested

#19247 Mark unit and integration tests for avi vantage integration
  avi_vantage/tests/test_avi_vantage.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#18973 NDMII-3085 - Keep snmp interface metrics in the bits family
  snmp/metadata.csv
Labels: changelog/no-changelog, integration/snmp, team/agent-integrations, team/network-device-monitoring, ecosystems/review-requested, product/review-requested

#19244 [mongo] skip collStats and indexStats on unauthorized local db collections
  mongo/changelog.d/19244.fixed
  mongo/datadog_checks/mongo/collectors/base.py
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/index_stats.py
  mongo/tests/conftest.py
  mongo/tests/fixtures/$collStats-oplog.rs
  mongo/tests/fixtures/list_collection_names-local
  mongo/tests/mocked_api.py
  mongo/tests/results/metrics-collection-autodiscover.json
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19249 Regression: handle missing index fields in payload
  elastic/changelog.d/19249.fixed
  elastic/datadog_checks/elastic/elastic.py
  elastic/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved, backport/7.61.x

#19113 Add NIM saved views and logs pipeline
  nvidia_nim/assets/logs/nvidia_nim.yaml
  nvidia_nim/assets/logs/nvidia_nim_tests.yaml
  nvidia_nim/assets/saved_views/nim_errors.json
  nvidia_nim/manifest.json
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, integration/nvidia_nim

#19253 Making the excluded_messages field optional
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/tests/test_event.py
Labels: changelog/no-changelog

#19256 Port release elastic 8.0.1 to master
  elastic/CHANGELOG.md
  elastic/changelog.d/19249.fixed
  elastic/datadog_checks/elastic/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog

#19252 add family specific byte units
  ddev/changelog.d/19252.added
  ddev/src/ddev/cli/validate/metadata_utils.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19260 update teamcity docs for openmetrics
  teamcity/README.md
Labels: mergequeue-status: removed

#19263 Remove test related to experimental detect metrics feature
  snmp/tests/test_e2e_core.py
Labels: changelog/no-changelog, integration/snmp

#19187 [NDM] [Cisco ACI] Add interface down monitor
  cisco_aci/assets/monitors/interface_down.json
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/manifest.json
  cisco_aci/tests/test_fabric.py
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/review-requested

#19044 Implement logic to catch externally built OpenSSL copies
  .builders/deps/build_dependencies.txt
  .builders/images/windows-x86_64/Dockerfile
  .builders/images/windows-x86_64/build_script.ps1
  .builders/images/windows-x86_64/update_librdkafka_manifest.py
  .builders/scripts/repair_wheels.py
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/approved

#19266 Attach schema name as tag with index usage metrics
  sqlserver/changelog.d/19266.added
  sqlserver/datadog_checks/sqlserver/database_metrics/index_usage_metrics.py
  sqlserver/metadata.csv
  sqlserver/tests/test_database_metrics.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_metrics.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested

#18896 [INTPLAT-390] DDSaaS: Authorize.Net: Crawler integration without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  authorize_net/CHANGELOG.md
  authorize_net/README.md
  authorize_net/assets/service_checks.json
  authorize_net/manifest.json
  authorize_net/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19231 add docs for model serving
  databricks/README.md
  databricks/images/databricks_setup.png
Labels: mergequeue-status: waiting, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19273 Drop python2 requirements for deps builders
  .builders/deps/build_dependencies.txt
Labels: ecosystems/review-requested, product/review-requested

#19240 Add logs section to configuration spec
  nvidia_nim/assets/configuration/spec.yaml
  nvidia_nim/datadog_checks/nvidia_nim/data/conf.yaml.example
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/approved

#18873 [SAASINT-3465] DDSaaS: GoDaddy: README changes
  godaddy/README.md
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/godaddy, ecosystems/review-requested, product/review-requested, docs/review-requested

#19277 Add schema tag to db_fragmentation metrics for sqlserver
  sqlserver/changelog.d/19277.added
  sqlserver/datadog_checks/sqlserver/database_metrics/db_fragmentation_metrics.py
  sqlserver/metadata.csv
  sqlserver/tests/test_database_metrics.py
  sqlserver/tests/test_metrics.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested

#19091 Fix mysql.innodb.row_lock_time metric unit
  mysql/metadata.csv
Labels: changelog/no-changelog, integration/mysql, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested

#19076 [SAASINT-3425] DDSaaS: Mailchimp - README changes
  mailchimp/README.md
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/mailchimp, ecosystems/review-requested, product/review-requested, docs/review-requested

#19137 Add `container.restarts` to doc
  container/metadata.csv
Labels: changelog/no-changelog, qa/skip-qa, mergequeue-status: waiting, ecosystems/review-requested, product/review-requested, agent/approved

#17353 First version of helper for creating logs saved views
  ddev/changelog.d/17353.added
  ddev/src/ddev/cli/meta/scripts/__init__.py
  ddev/src/ddev/cli/meta/scripts/saved_views.py
Labels: ddev, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/review-requested

#19279 Fix Nvidia NIM tile
  nvidia_nim/manifest.json
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19272 [postgres] debug log when query is truncated
  postgres/datadog_checks/postgres/statement_samples.py
Labels: changelog/no-changelog, qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested

#19250 [INTPLAT-448] DDSaaS: Temporal Cloud Crawler Integration v1.0.0
  .github/CODEOWNERS
  temporal_cloud/CHANGELOG.md
  temporal_cloud/README.md
  temporal_cloud/assets/dashboards/temporal_cloud_overview.json
  temporal_cloud/assets/monitors/high_grpc_error_percentage.json
  temporal_cloud/assets/monitors/high_service_latency.json
  temporal_cloud/assets/temporal_cloud.svg
  temporal_cloud/images/temporal_cloud_overview_1.png
  temporal_cloud/images/temporal_cloud_overview_2.png
  temporal_cloud/images/temporal_cloud_overview_3.png
  temporal_cloud/images/temporal_cloud_overview_4.png
  temporal_cloud/images/temporal_cloud_overview_5.png
  temporal_cloud/manifest.json
  temporal_cloud/metadata.csv
Labels: editorial review, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19278 Use `start_date` instead of `execution_date` for ongoing duration metrics
  airflow/assets/configuration/spec.yaml
  airflow/changelog.d/19278.added
  airflow/datadog_checks/airflow/airflow.py
  airflow/datadog_checks/airflow/config_models/defaults.py
  airflow/datadog_checks/airflow/config_models/instance.py
  airflow/datadog_checks/airflow/data/conf.yaml.example
  airflow/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19283 Update Cisco SD-WAN
  cisco_sdwan/README.md
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19275 DDSaaS: Mux: Dashboard and images
  mux/assets/dashboards/mux_metrics.json
  mux/images/mux_metrics_3.png
  mux/images/mux_overview.png
Labels: ecosystems/review-requested, product/review-requested

#19286 Fix typo in airflow dogstatsd mapping
  airflow/README.md
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19196 Add Quarkus integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  quarkus/CHANGELOG.md
  quarkus/README.md
  quarkus/assets/configuration/spec.yaml
  quarkus/assets/dashboards/overview.json
  quarkus/assets/monitors/long_requests.json
  quarkus/assets/service_checks.json
  quarkus/changelog.d/19196.added
  quarkus/datadog_checks/__init__.py
  quarkus/datadog_checks/quarkus/__about__.py
  quarkus/datadog_checks/quarkus/__init__.py
  quarkus/datadog_checks/quarkus/check.py
  quarkus/datadog_checks/quarkus/config_models/__init__.py
  quarkus/datadog_checks/quarkus/config_models/defaults.py
  quarkus/datadog_checks/quarkus/config_models/instance.py
  quarkus/datadog_checks/quarkus/config_models/shared.py
  quarkus/datadog_checks/quarkus/config_models/validators.py
  quarkus/datadog_checks/quarkus/data/conf.yaml.example
  quarkus/datadog_checks/quarkus/metrics.py
  quarkus/hatch.toml
  quarkus/manifest.json
  quarkus/metadata.csv
  quarkus/pyproject.toml
  quarkus/tests/__init__.py
  quarkus/tests/conftest.py
  quarkus/tests/docker/README.md
  quarkus/tests/docker/docker-compose.yaml
  quarkus/tests/docker/micrometer-quickstart/.dockerignore
  quarkus/tests/docker/micrometer-quickstart/.gitignore
  quarkus/tests/docker/micrometer-quickstart/.mvn/wrapper/maven-wrapper.jar
  quarkus/tests/docker/micrometer-quickstart/.mvn/wrapper/maven-wrapper.properties
  quarkus/tests/docker/micrometer-quickstart/Dockerfile
  quarkus/tests/docker/micrometer-quickstart/README.md
  quarkus/tests/docker/micrometer-quickstart/mvnw
  quarkus/tests/docker/micrometer-quickstart/mvnw.cmd
  quarkus/tests/docker/micrometer-quickstart/pom.xml
  quarkus/tests/docker/micrometer-quickstart/src/main/docker/Dockerfile.jvm
  quarkus/tests/docker/micrometer-quickstart/src/main/docker/Dockerfile.legacy-jar
  quarkus/tests/docker/micrometer-quickstart/src/main/docker/Dockerfile.native
  quarkus/tests/docker/micrometer-quickstart/src/main/docker/Dockerfile.native-micro
  quarkus/tests/docker/micrometer-quickstart/src/main/java/org/acme/micrometer/ExampleResource.java
  quarkus/tests/docker/micrometer-quickstart/src/test/java/org/acme/micrometer/ExampleResourceIT.java
  quarkus/tests/docker/micrometer-quickstart/src/test/java/org/acme/micrometer/ExampleResourceTest.java
  quarkus/tests/fixtures/quarkus_auto_metrics.txt
  quarkus/tests/test_e2e.py
  quarkus/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#17815 Add E2E test environment for Teleport
  teleport/hatch.toml
  teleport/tests/common.py
  teleport/tests/conftest.py
  teleport/tests/docker/caddy/docker-compose.yaml
  teleport/tests/docker/caddy/etc/caddy/teleport-service/Caddyfile
  teleport/tests/docker/caddy/fixtures/healthz/get.json
  teleport/tests/docker/caddy/fixtures/metrics/get.txt
  teleport/tests/docker/caddy/fixtures/readyz/get.json
  teleport/tests/docker/caddy/metrics_mock_randomizer.py
  teleport/tests/docker/teleport/docker-compose.yaml
  teleport/tests/docker/teleport/etc/teleport/teleport.yaml
  teleport/tests/test_e2e.py
  teleport/tests/test_integration.py
Labels: changelog/no-changelog, team/agent-integrations, team/platform-integrations, integration/teleport, ecosystems/review-requested, product/review-requested, agent/approved

#19271 Fix check for Postgres collect query activity
  postgres/changelog.d/19271.fixed
  postgres/datadog_checks/postgres/statement_samples.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19082 [LOI-341] Add Neuron error logs parser
  aws_neuron/assets/logs/aws_neuron.yaml
  aws_neuron/assets/logs/aws_neuron_tests.yaml
Labels: changelog/no-changelog, team/logs-backend, assets/deploy-logs-staging, integration/aws_neuron, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested

#19287 Clarify about service checks
  kubeflow/README.md
  nvidia_nim/README.md
  tibco_ems/README.md
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19289 GA Sophos
  sophos_central_cloud/manifest.json
Labels: ecosystems/review-requested, product/review-requested, docs/approved

#18564 [SIEMINT-122] DDSaaS: Brevo: Integration v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  brevo/CHANGELOG.md
  brevo/README.md
  brevo/assets/brevo.svg
  brevo/assets/dashboards/brevo_marketing_events.json
  brevo/assets/dashboards/brevo_transactional_events.json
  brevo/assets/logs/brevo.yaml
  brevo/assets/logs/brevo_tests.yaml
  brevo/assets/monitors/brevo_high_block_rate_by_subject.json
  brevo/assets/monitors/brevo_high_bounce_rate_by_subject.json
  brevo/assets/monitors/brevo_high_error_rate_by_subject.json
  brevo/assets/service_checks.json
  brevo/images/brevo_marketing_events.png
  brevo/images/brevo_transactional_events.png
  brevo/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, mergequeue-status: waiting, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, crest/asset-pr

#19288 Clarify the enabled property in database_metrics configuration descriptions for sqlserver
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: changelog/no-changelog, qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested

#19055 [AI-4451] Add Milvus integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  milvus/CHANGELOG.md
  milvus/README.md
  milvus/assets/configuration/spec.yaml
  milvus/assets/service_checks.json
  milvus/changelog.d/19055.added
  milvus/datadog_checks/__init__.py
  milvus/datadog_checks/milvus/__about__.py
  milvus/datadog_checks/milvus/__init__.py
  milvus/datadog_checks/milvus/check.py
  milvus/datadog_checks/milvus/config_models/__init__.py
  milvus/datadog_checks/milvus/config_models/defaults.py
  milvus/datadog_checks/milvus/config_models/instance.py
  milvus/datadog_checks/milvus/config_models/shared.py
  milvus/datadog_checks/milvus/config_models/validators.py
  milvus/datadog_checks/milvus/data/conf.yaml.example
  milvus/datadog_checks/milvus/metrics.py
  milvus/hatch.toml
  milvus/manifest.json
  milvus/metadata.csv
  milvus/pyproject.toml
  milvus/tests/__init__.py
  milvus/tests/common.py
  milvus/tests/compose/Dockerfile
  milvus/tests/compose/docker-compose.yaml
  milvus/tests/compose/embedEtcd.yaml
  milvus/tests/compose/requirements.txt
  milvus/tests/compose/script.py
  milvus/tests/compose/user.yaml
  milvus/tests/conftest.py
  milvus/tests/fixtures/milvus_payload.txt
  milvus/tests/test_e2e.py
  milvus/tests/test_unit.py
Labels: documentation, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/milvus

#19276 Sy/dns change
  dns_check/changelog.d/19276.fixed
  dns_check/datadog_checks/dns_check/dns_check.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19303 Sy/keda
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  keda/CHANGELOG.md
  keda/README.md
  keda/assets/configuration/spec.yaml
  keda/assets/dashboards/keda_overview.json
  keda/assets/service_checks.json
  keda/changelog.d/19303.added
  keda/datadog_checks/__init__.py
  keda/datadog_checks/keda/__about__.py
  keda/datadog_checks/keda/__init__.py
  keda/datadog_checks/keda/check.py
  keda/datadog_checks/keda/config_models/__init__.py
  keda/datadog_checks/keda/config_models/defaults.py
  keda/datadog_checks/keda/config_models/instance.py
  keda/datadog_checks/keda/config_models/shared.py
  keda/datadog_checks/keda/config_models/validators.py
  keda/datadog_checks/keda/data/conf.yaml.example
  keda/datadog_checks/keda/metrics.py
  keda/hatch.toml
  keda/manifest.json
  keda/metadata.csv
  keda/pyproject.toml
  keda/tests/__init__.py
  keda/tests/common.py
  keda/tests/conftest.py
  keda/tests/fixtures/keda_metrics.txt
  keda/tests/kind/keda_install.yaml
  keda/tests/test_e2e.py
  keda/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19291 [PLINT 593] Add waiting, queued, and executing metrics
  octopus_deploy/datadog_checks/octopus_deploy/check.py
  octopus_deploy/metadata.csv
  octopus_deploy/tests/constants.py
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-2/states=Queued,Executing/skip=0/take=30/response.json
  octopus_deploy/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested, docs/review-requested

#19179 Add FIPS switch
  .github/workflows/test-fips.yml
  .github/workflows/test-target.yml
  datadog_checks_base/changelog.d/19179.security
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/fips.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
  ddev/changelog.d/19179.security
  ddev/src/ddev/e2e/agent/docker.py
  tls/tests/conftest.py
  tls/tests/fips/Dockerfile
  tls/tests/fips/ca.crt
  tls/tests/fips/ca.key
  tls/tests/fips/docker-compose.yml
  tls/tests/fips/start-server.sh
  tls/tests/test_e2e.py
  tls/tests/test_fips.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19311 [SNMP] Update topology link metadata tests
  snmp/tests/test_e2e_core_metadata.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested

#19307 Supabase integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  supabase/CHANGELOG.md
  supabase/README.md
  supabase/assets/configuration/spec.yaml
  supabase/assets/dashboards/supabase_overview.json
  supabase/assets/service_checks.json
  supabase/changelog.d/19307.added
  supabase/datadog_checks/__init__.py
  supabase/datadog_checks/supabase/__about__.py
  supabase/datadog_checks/supabase/__init__.py
  supabase/datadog_checks/supabase/check.py
  supabase/datadog_checks/supabase/config_models/__init__.py
  supabase/datadog_checks/supabase/config_models/defaults.py
  supabase/datadog_checks/supabase/config_models/instance.py
  supabase/datadog_checks/supabase/config_models/shared.py
  supabase/datadog_checks/supabase/config_models/validators.py
  supabase/datadog_checks/supabase/data/conf.yaml.example
  supabase/datadog_checks/supabase/metrics.py
  supabase/hatch.toml
  supabase/manifest.json
  supabase/metadata.csv
  supabase/pyproject.toml
  supabase/tests/__init__.py
  supabase/tests/common.py
  supabase/tests/conftest.py
  supabase/tests/docker/Caddyfile
  supabase/tests/docker/docker-compose.yaml
  supabase/tests/fixtures/privileged_metrics.txt
  supabase/tests/fixtures/storage_api_metrics.txt
  supabase/tests/test_e2e.py
  supabase/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19309 Use `time_elapsed` metric type for process start time and last GC time metrics
  datadog_checks_base/changelog.d/19309.added
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/metrics.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19315 Make `go_memstats_alloc_bytes` type `native_dynamic`
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/metrics.py
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/approved

#19314 Add missing Go metric to metadata.csv
  supabase/metadata.csv
  supabase/tests/common.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19316 Sy/release new
  .in-toto/tag.ec45eb9d.link
  keda/CHANGELOG.md
  keda/changelog.d/19303.added
  keda/datadog_checks/keda/__about__.py
  milvus/CHANGELOG.md
  milvus/changelog.d/19055.added
  milvus/datadog_checks/milvus/__about__.py
  quarkus/CHANGELOG.md
  quarkus/changelog.d/19196.added
  quarkus/datadog_checks/quarkus/__about__.py
  requirements-agent-release.txt
  supabase/CHANGELOG.md
  supabase/changelog.d/19307.added
  supabase/datadog_checks/supabase/__about__.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19317 Sy/release all
  .in-toto/tag.ec45eb9d.link
  aerospike/CHANGELOG.md
  aerospike/changelog.d/18996.fixed
  aerospike/datadog_checks/aerospike/__about__.py
  airflow/CHANGELOG.md
  airflow/changelog.d/19278.added
  airflow/datadog_checks/airflow/__about__.py
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/18675.added
  cisco_aci/changelog.d/19204.fixed
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/18975.added
  datadog_checks_base/changelog.d/19179.security
  datadog_checks_base/changelog.d/19197.fixed
  datadog_checks_base/changelog.d/19309.added
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_cluster_agent/CHANGELOG.md
  datadog_cluster_agent/changelog.d/19229.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/__about__.py
  dns_check/CHANGELOG.md
  dns_check/changelog.d/19276.fixed
  dns_check/datadog_checks/dns_check/__about__.py
  keda/CHANGELOG.md
  keda/changelog.d/19303.added
  keda/datadog_checks/keda/__about__.py
  milvus/CHANGELOG.md
  milvus/changelog.d/19055.added
  milvus/datadog_checks/milvus/__about__.py
  mongo/CHANGELOG.md
  mongo/changelog.d/19244.fixed
  mongo/datadog_checks/mongo/__about__.py
  mysql/CHANGELOG.md
  mysql/changelog.d/19121.added
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/19218.added
  postgres/changelog.d/19271.fixed
  postgres/datadog_checks/postgres/__about__.py
  quarkus/CHANGELOG.md
  quarkus/changelog.d/19196.added
  quarkus/datadog_checks/quarkus/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/19111.added
  sqlserver/changelog.d/19189.changed
  sqlserver/changelog.d/19266.added
  sqlserver/changelog.d/19277.added
  sqlserver/datadog_checks/sqlserver/__about__.py
  supabase/CHANGELOG.md
  supabase/changelog.d/19307.added
  supabase/datadog_checks/supabase/__about__.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19319 Sy/port release to 7.62
  aerospike/CHANGELOG.md
  aerospike/changelog.d/18996.fixed
  aerospike/datadog_checks/aerospike/__about__.py
  airflow/CHANGELOG.md
  airflow/changelog.d/19278.added
  airflow/datadog_checks/airflow/__about__.py
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/18675.added
  cisco_aci/changelog.d/19204.fixed
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/18975.added
  datadog_checks_base/changelog.d/19179.security
  datadog_checks_base/changelog.d/19197.fixed
  datadog_checks_base/changelog.d/19309.added
  datadog_checks_base/datadog_checks/base/__about__.py
  datadog_cluster_agent/CHANGELOG.md
  datadog_cluster_agent/changelog.d/19229.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/__about__.py
  dns_check/CHANGELOG.md
  dns_check/changelog.d/19276.fixed
  dns_check/datadog_checks/dns_check/__about__.py
  mongo/CHANGELOG.md
  mongo/changelog.d/19244.fixed
  mongo/datadog_checks/mongo/__about__.py
  mysql/CHANGELOG.md
  mysql/changelog.d/19121.added
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/19218.added
  postgres/changelog.d/19271.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/19111.added
  sqlserver/changelog.d/19189.changed
  sqlserver/changelog.d/19266.added
  sqlserver/changelog.d/19277.added
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested, docs/review-requested

#19320 fixing broken links
  snmp/README.md
  snmp_american_power_conversion/README.md
  snmp_arista/README.md
  snmp_aruba/README.md
  snmp_chatsworth_products/README.md
  snmp_check_point/README.md
  snmp_cisco/README.md
  snmp_dell/README.md
  snmp_fortinet/README.md
  snmp_hewlett_packard_enterprise/README.md
  snmp_netapp/README.md
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19238 Initial release for integration DuckDB
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  LICENSE-3rdparty.csv
  README.md
  agent_requirements.in
  duckdb/CHANGELOG.md
  duckdb/README.md
  duckdb/assets/configuration/spec.yaml
  duckdb/assets/dashboards/duckdb_overview.json
  duckdb/assets/service_checks.json
  duckdb/changelog.d/1.added
  duckdb/datadog_checks/__init__.py
  duckdb/datadog_checks/duckdb/__about__.py
  duckdb/datadog_checks/duckdb/__init__.py
  duckdb/datadog_checks/duckdb/check.py
  duckdb/datadog_checks/duckdb/config_models/__init__.py
  duckdb/datadog_checks/duckdb/config_models/defaults.py
  duckdb/datadog_checks/duckdb/config_models/instance.py
  duckdb/datadog_checks/duckdb/config_models/shared.py
  duckdb/datadog_checks/duckdb/config_models/validators.py
  duckdb/datadog_checks/duckdb/data/conf.yaml.example
  duckdb/datadog_checks/duckdb/queries.py
  duckdb/hatch.toml
  duckdb/images/IMAGES_README.md
  duckdb/manifest.json
  duckdb/metadata.csv
  duckdb/pyproject.toml
  duckdb/tests/__init__.py
  duckdb/tests/common.py
  duckdb/tests/conftest.py
  duckdb/tests/data/sample.db
  duckdb/tests/test_e2e.py
  duckdb/tests/test_integration.py
  duckdb/tests/test_unit.py
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/review-requested
