Repository DataDog/integrations-core, pull requests merged in 2024-01, with the labels that each got.

#16504 Set the Python version back to 3.9 in the templates
  datadog_checks_dev/changelog.d/16504.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/pyproject.toml
Labels: dev/tooling, dev_package, team/agent-integrations

#16505 Bumped datadog_checks_dev version to 29.0.1
  .in-toto/tag.05916999.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/16504.fixed
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, dev_package, team/agent-integrations, team/documentation

#16506 Bump the `datadog-checks-dev` minimum version to 29.0.1
  ddev/changelog.d/16506.fixed
  ddev/pyproject.toml
Labels: ddev, team/agent-integrations

#16508 Bumped ddev version to 6.2.0
  .in-toto/tag.05916999.link
  ddev/CHANGELOG.md
  ddev/changelog.d/16427.fixed
  ddev/changelog.d/16449.fixed
  ddev/changelog.d/16460.added
  ddev/changelog.d/16472.added
  ddev/changelog.d/16474.fixed
  ddev/changelog.d/16492.fixed
  ddev/changelog.d/16506.fixed
Labels: documentation, changelog/no-changelog, ddev, team/agent-integrations, team/documentation

#16509 [Release] Update metadata
  .in-toto/tag.05916999.link
Labels: changelog/no-changelog, team/agent-integrations

#16507 Pin the `pytest-asyncio` version
  datadog_checks_dev/changelog.d/16507.fixed
  datadog_checks_dev/pyproject.toml
Labels: dev_package, base_package, team/agent-integrations

#16510 Update the cloudflare instances to fail only if the certificates are going to expire the next day
  tls/tests/conftest.py
Labels: changelog/no-changelog, integration/tls, team/agent-integrations

#16479 conditionally enable memory profile for DBMAsyncJob
  datadog_checks_base/changelog.d/16479.added
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Labels: base_package, team/agent-integrations, team/database-monitoring-agent

#16431 Add ODBC driver support for the SQL Server agent
  sqlserver/changelog.d/16431.added
  sqlserver/datadog_checks/sqlserver/data/driver_config/odbcinst.ini
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#16441 Add documentation for Karpenter log collection
  karpenter/README.md
Labels: documentation, changelog/no-changelog, integration/karpenter, team/agent-integrations, team/documentation

#16464 Add recommended monitor
  karpenter/assets/monitors/pod_state.json
  karpenter/manifest.json
Labels: documentation, changelog/no-changelog, integration/karpenter, team/agent-integrations, team/documentation

#16467 Add recommended monitor for Envoy
  envoy/assets/monitors/connected_state.json
  envoy/manifest.json
Labels: documentation, changelog/no-changelog, integration/envoy, team/agent-integrations, team/documentation

#16514 Mark one of the tests flaky
  datadog_checks_downloader/tests/test_downloader.py
Labels: changelog/no-changelog, qa/skip-qa, downloader, team/agent-integrations, team/software-integrity-and-trust

#16515 port 7.50.2 releases to master
  postgres/CHANGELOG.md
  postgres/changelog.d/16439.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/16439.fixed
  sqlserver/changelog.d/16461.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/postgres, integration/sqlserver, release, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#15894 Add dynamic port settings to sqlserver docs
  sqlserver/README.md
Labels: documentation, changelog/no-changelog, integration/sqlserver

#15558 Extend messages from dependency validation.
  datadog_checks_dev/changelog.d/15558.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
Labels: documentation, dev/tooling, dev_package

#16520 Do not run the `pr-check` workflow on PRs that do not target master
  .github/workflows/pr-check.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16220 [SQLServer] - Add stolen memory performance counter
  sqlserver/changelog.d/16220.added
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/metadata.csv
Labels: integration/sqlserver

#16395 kubeproxy.network_programming.duration - Documentation update
  kube_proxy/metadata.csv
Labels: changelog/no-changelog, integration/kube_proxy, team/agent-integrations, team/container-integrations

#13682 Add SQL Server version and edition support
  sqlserver/README.md
Labels: documentation, changelog/no-changelog, integration/sqlserver, team/database-monitoring

#16235 Configuring process collection in ECS Fargate
  ecs_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/ecs_fargate

#16259 Recommended Monitor Revamp - Update title and description of multiple integrations' monitors
  argocd/assets/monitors/application_sync_status.json
  avi_vantage/assets/monitors/error_rate_monitor.json
  boundary/assets/monitors/active_connections.json
  cloudera/assets/monitors/cloudera_high_cpu.json
  glusterfs/assets/monitors/brick_status.json
  helm/assets/monitors/monitor_failed_releases.json
  hudi/assets/monitors/commit_duration.json
  istio/assets/monitors/failed_sidecar_injection.json
  langchain/assets/monitors/error_rate.json
  langchain/assets/monitors/request_duration.json
  rabbitmq/assets/monitors/disk_usage_prometheus.json
  rabbitmq/assets/monitors/message_unack_prometheus.json
  redisdb/assets/monitors/high_mem.json
  scylla/assets/monitors/instance_down.json
  silk/assets/monitors/latency_high.json
  sonarqube/assets/monitors/vulnerabilities.json
  teamcity/assets/monitors/build_status.json
  torchserve/assets/monitors/error_ratio.json
  vault/assets/monitors/vault_S3_time_high.json
  vertica/assets/monitors/vertica_replication_safety.json
  voltdb/assets/monitors/cpu_load.json
  weaviate/assets/monitors/node_status.json
Labels: changelog/no-changelog, integration/istio, integration/rabbitmq, integration/redisdb, integration/teamcity, integration/vault, integration/vertica, integration/scylla, integration/sonarqube, integration/voltdb, integration/glusterfs, integration/avi_vantage, integration/hudi, integration/silk, integration/helm, integration/boundary, integration/argocd, integration/cloudera, integration/torchserve, integration/weaviate, integration/langchain

#16245 Recommended Monitor Revamp - Update title and description of azure_iot_edge monitors
  azure_iot_edge/assets/monitors/disk_usage.json
  azure_iot_edge/assets/monitors/edgehub_retries.json
  azure_iot_edge/assets/monitors/iothub_syncs.json
  azure_iot_edge/assets/monitors/memory_usage.json
Labels: changelog/no-changelog, integration/azure_iot_edge

#16246 Recommended Monitor Revamp - Update title and description of snowflake monitors
  snowflake/assets/monitors/snowflake_failed_logins.json
Labels: changelog/no-changelog, integration/snowflake

#16247 Recommended Monitor Revamp - Update title and description of marklogic monitors
  marklogic/assets/monitors/marklogic_high_load.json
  marklogic/assets/monitors/marklogic_long_requests.json
  marklogic/assets/monitors/marklogic_low_cache.json
Labels: changelog/no-changelog, integration/marklogic

#16248 Recommended Monitor Revamp - Update title and description of sqlserver monitors
  sqlserver/assets/monitors/sqlserver_ao_not_healthy.json
  sqlserver/assets/monitors/sqlserver_db_not_online.json
  sqlserver/assets/monitors/sqlserver_db_not_sync.json
  sqlserver/assets/monitors/sqlserver_high_number_failed_auto_param.json
  sqlserver/assets/monitors/sqlserver_high_processes_blocked.json
Labels: changelog/no-changelog, integration/sqlserver

#16249 Recommended Monitor Revamp - Update title and description of mongo monitors
  mongo/assets/monitors/high_connections.json
Labels: changelog/no-changelog, integration/mongo

#16243 Recommended Monitor Revamp - Update title and description of Teradata monitors
  teradata/assets/monitors/high_disk_space.json
  teradata/assets/monitors/low_ready_threads.json
Labels: changelog/no-changelog, integration/teradata

#16241 Recommended Monitor Revamp - Update title and description of mysql monitors
  mysql/assets/monitors/replica_running.json
  mysql/assets/monitors/select_query_rate.json
Labels: changelog/no-changelog, integration/mysql

#16232 Recommended Monitor Revamp - Update title and description of Weblogic monitors
  weblogic/assets/monitors/active_threads.json
  weblogic/assets/monitors/stuck_threads.json
Labels: changelog/no-changelog, integration/weblogic

#16231 Recommended Monitor Revamp - Update title and description of Foundationdb monitors
  foundationdb/assets/monitors/conflicts.json
  foundationdb/assets/monitors/errors_logged.json
  foundationdb/assets/monitors/high_durability_lag.json
  foundationdb/assets/monitors/log_queue_spill.json
  foundationdb/assets/monitors/low_disk_space.json
  foundationdb/assets/monitors/read_latency_probe.json
  foundationdb/assets/monitors/rejections.json
  foundationdb/assets/monitors/transaction_commit_latency.json
  foundationdb/assets/monitors/transaction_start_latency.json
Labels: changelog/no-changelog, integration/foundationdb

#16230 Recommended Monitor Revamp - Update title and description of Arangodb monitors
  arangodb/assets/monitors/high_server_kernel_mode.json
  arangodb/assets/monitors/high_server_user_mode.json
Labels: changelog/no-changelog, integration/arangodb

#16228 Recommended Monitor Revamp - Update title and description of Temporal monitors
  temporal/assets/monitors/FrontendLatency.json
  temporal/assets/monitors/HistoryLatency.json
  temporal/assets/monitors/MatchingLatency.json
  temporal/assets/monitors/PersistenceLatency.json
Labels: changelog/no-changelog, integration/temporal

#16219 Recommended Monitor Revamp - Update title and description of Calico monitors
  calico/assets/monitors/dataplane_failures.json
  calico/assets/monitors/ipset_error.json
  calico/assets/monitors/iptables_restore_errors.json
  calico/assets/monitors/iptables_save_errors.json
Labels: changelog/no-changelog, integration/calico

#16215 Recommended Monitor Revamp - Update title and description of Openai monitors
  openai/assets/monitors/api_token_usage.json
  openai/assets/monitors/request_limits.json
  openai/assets/monitors/tokens_limits.json
Labels: changelog/no-changelog, integration/openai

#16216 Recommended Monitor Revamp - Update title and description of Airbyte monitors
  airbyte/assets/monitors/long_running_jobs.json
Labels: changelog/no-changelog, integration/airbyte

#16218 Recommended Monitor Revamp - Update title and description of Kubernets monitors
  kubernetes/assets/monitors/monitor_deployments_replicas.json
  kubernetes/assets/monitors/monitor_node_unavailable.json
  kubernetes/assets/monitors/monitor_pod_crashloopbackoff.json
  kubernetes/assets/monitors/monitor_pod_imagepullbackoff.json
  kubernetes/assets/monitors/monitor_pods_failed_state.json
  kubernetes/assets/monitors/monitor_pods_restarting.json
  kubernetes/assets/monitors/monitor_statefulset_replicas.json
Labels: changelog/no-changelog, integration/kubernetes

#16212 Recommended Monitor Revamp - Update title and description of nginx monitors
  nginx/assets/monitors/4xx.json
  nginx/assets/monitors/5xx.json
  nginx/assets/monitors/upstream_peer_fails.json
Labels: changelog/no-changelog, integration/nginx

#16211 Recommended Monitor Revamp - Update title and description of Tomcat monitors
  tomcat/assets/monitors/error_count.json
  tomcat/assets/monitors/max_proc_time.json
  tomcat/assets/monitors/processing_time.json
  tomcat/assets/monitors/req_count.json
  tomcat/assets/monitors/thread_busy.json
  tomcat/assets/monitors/thread_count_max.json
Labels: changelog/no-changelog, integration/tomcat

#16210 Recommended Monitor Revamp - Update title and description of Postgres monitors
  postgres/assets/monitors/percent_usage_connections.json
  postgres/assets/monitors/replication_delay.json
Labels: changelog/no-changelog, integration/postgres

#16209 Recommended Monitor Revamp - Update title and description of Elastic monitors
  elastic/assets/monitors/elastic_pending_tasks_high.json
  elastic/assets/monitors/elastic_query_latency_high.json
  elastic/assets/monitors/elastic_query_load_high.json
  elastic/assets/monitors/elastic_requests.json
Labels: changelog/no-changelog, integration/elastic

#16250 Recommended Monitor Revamp - Update title and description of apache monitors
  apache/assets/monitors/apache_low_idle_workers.json
  apache/assets/monitors/high_keep_alive_and_cpu.json
Labels: changelog/no-changelog, integration/apache

#16213 Recommended Monitor Revamp - Update title and description of dcgm monitors
  dcgm/assets/monitors/gpu_temperature.json
  dcgm/assets/monitors/memory_usage.json
  dcgm/assets/monitors/xid_errors.json
Labels: changelog/no-changelog, integration/dcgm 

#16251 Recommended Monitor Revamp - Update title and description of iis monitors
  iis/assets/monitors/err.json
  iis/assets/monitors/lock.json
  iis/assets/monitors/req.json
Labels: changelog/no-changelog, integration/iis

#16252 Recommended Monitor Revamp - Update title and description of coredns monitors
  coredns/assets/monitors/coredns_cache_hits_low.json
  coredns/assets/monitors/coredns_request_duration_high.json
Labels: changelog/no-changelog, integration/coredns

#16253 Recommended Monitor Revamp - Update title and description of activemq monitors
  activemq/assets/monitors/activemq_artemis_high_disk_store.json
  activemq/assets/monitors/activemq_artemis_unrouted_messages.json
Labels: changelog/no-changelog, integration/activemq

#16254 Recommended Monitor Revamp - Update title and description of active_directory monitors
  active_directory/assets/monitors/ldap_binding.json
  active_directory/assets/monitors/ldap_binding_successful.json
  active_directory/assets/monitors/ldap_client_sessions.json
Labels: changelog/no-changelog, integration/active_directory

#16521 Fix a flaky test
  rabbitmq/tests/conftest.py
  rabbitmq/tests/metrics.py
Labels: changelog/no-changelog, integration/rabbitmq, team/agent-integrations

#16255 Recommended Monitor Revamp - Update title and description of citrix_hypervisor monitors
  citrix_hypervisor/assets/monitors/host_cpu_high.json
  citrix_hypervisor/assets/monitors/vm_cpu_high.json
Labels: changelog/no-changelog, integration/citrix_hypervisor

#16398 Postgres Integration Edit
  postgres/README.md
Labels: documentation, changelog/no-changelog, integration/postgres, team/agent-integrations, team/database-monitoring, team/documentation

#16256 Recommended Monitor Revamp - Update title and description of confluent_platform monitors
  confluent_platform/assets/monitors/unclean_leader_election.json
  confluent_platform/assets/monitors/unused_partition.json
Labels: changelog/no-changelog, integration/confluent_platform, team/agent-integrations

#16518 update vsphere image
  vsphere/images/vsphere_graph.png
Labels: changelog/no-changelog, integration/vsphere, qa/skip-qa, team/agent-integrations, team/platform-integrations

#16523 Revert "Recommended Monitor Revamp - Update title and description of snmp monitors (#16258)"
  snmp/assets/monitors/device_down.json
  snmp/assets/monitors/device_unreachable.json
  snmp/assets/monitors/interface_down.json
  snmp/assets/monitors/traps_linkDown.json
Labels: changelog/no-changelog, integration/snmp, team/agent-integrations, team/network-device-monitoring

#15485 Add path info for Windows users
  active_directory/README.md
  active_directory/assets/configuration/spec.yaml
  active_directory/changelog.d/15485.fixed
  active_directory/datadog_checks/active_directory/data/conf.yaml.example
Labels: documentation, integration/active_directory, team/agent-integrations, team/windows-agent

#16480 Update metric to check
  vsphere/manifest.json
Labels: documentation, changelog/no-changelog, integration/vsphere, team/agent-integrations, team/platform-integrations, team/documentation

#16517 [DBMON-3299] edge case handling when partitioned table has no activity
  postgres/changelog.d/16517.fixed
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/common.py
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/test_metadata.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16524 Fix airflow taks logs path in readme
  airflow/README.md
Labels: documentation, changelog/no-changelog, integration/airflow, team/agent-integrations, team/documentation

#16476 Add more metrics to fluxcd
  fluxcd/datadog_checks/fluxcd/metrics.py
  fluxcd/metadata.csv
  fluxcd/tests/conftest.py
  fluxcd/tests/fixtures/metrics-v1.txt
  fluxcd/tests/fixtures/metrics-v2.txt
  fluxcd/tests/test_unit.py
Labels: changelog/no-changelog, team/agent-integrations, team/documentation

#16519 Correct config for OM integration
  fluxcd/assets/configuration/spec.yaml
  fluxcd/datadog_checks/fluxcd/config_models/defaults.py
  fluxcd/datadog_checks/fluxcd/config_models/instance.py
  fluxcd/datadog_checks/fluxcd/config_models/shared.py
  fluxcd/datadog_checks/fluxcd/data/conf.yaml.example
  fluxcd/tests/test_unit.py
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation

#16527 Remove setuptools depedency for jmx and logs integration templates
  datadog_checks_dev/changelog.d/16527.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/pyproject.toml
Labels: dev/tooling, dev_package, team/agent-integrations

#16465 [DBM] - Add whether a SPID is a user or bg process
  sqlserver/changelog.d/16465.added
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/tests/test_activity.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#16528 Update the template for logs integrations to not require a specific Python and base check version
  datadog_checks_dev/changelog.d/16528.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/pyproject.toml
Labels: dev/tooling, dev_package, team/agent-integrations

#16516 [DBMON-3302] emit correct error message when explain parameterized query fails
  postgres/changelog.d/16516.fixed
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/util.py
  postgres/tests/test_explain_parameterized_queries.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16532 Update metadata.csv
  postgres/metadata.csv
Labels: changelog/no-changelog, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16531 Update README.md
  azure_active_directory/README.md
Labels: documentation, changelog/no-changelog, integration/azure_active_directory, team/agent-integrations, team/documentation

#16117 Migrate fluxcd from extras to core.
  .codecov.yml
  .github/workflows/test-all.yml
  fluxcd/CHANGELOG.md
  fluxcd/README.md
  fluxcd/assets/configuration/spec.yaml
  fluxcd/assets/dashboards/fluxcd.json
  fluxcd/assets/monitors/active_workers.json
  fluxcd/assets/monitors/error_count.json
  fluxcd/assets/service_checks.json
  fluxcd/changelog.d/16117.added
  fluxcd/changelog.d/16117.fixed
  fluxcd/changelog.d/16117.fixed.1
  fluxcd/datadog_checks/__init__.py
  fluxcd/datadog_checks/fluxcd/__about__.py
  fluxcd/datadog_checks/fluxcd/__init__.py
  fluxcd/datadog_checks/fluxcd/check.py
  fluxcd/datadog_checks/fluxcd/config_models/__init__.py
  fluxcd/datadog_checks/fluxcd/config_models/defaults.py
  fluxcd/datadog_checks/fluxcd/config_models/instance.py
  fluxcd/datadog_checks/fluxcd/config_models/shared.py
  fluxcd/datadog_checks/fluxcd/config_models/validators.py
  fluxcd/datadog_checks/fluxcd/data/conf.yaml.example
  fluxcd/datadog_checks/fluxcd/metrics.py
  fluxcd/hatch.toml
  fluxcd/manifest.json
  fluxcd/metadata.csv
  fluxcd/pyproject.toml
  fluxcd/tests/__init__.py
  fluxcd/tests/common.py
  fluxcd/tests/conftest.py
  fluxcd/tests/fixtures/metrics-v1.txt
  fluxcd/tests/fixtures/metrics-v2.txt
  fluxcd/tests/kind/install.yaml
  fluxcd/tests/test_e2e.py
  fluxcd/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, team/agent-integrations, team/documentation

#16525 fix fsynclocked metric
  mongo/changelog.d/16525.fixed
  mongo/datadog_checks/mongo/collectors/fsynclock.py
  mongo/metadata.csv
  mongo/tests/fixtures/currentOp
  mongo/tests/fixtures/current_op
  mongo/tests/mocked_api.py
Labels: integration/mongo, team/agent-integrations

#16534 Fix the metadata.csv file
  postgres/metadata.csv
Labels: changelog/no-changelog, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16533 (DOCS-6887) Add extra note to MySQL doc
  mysql/README.md
Labels: documentation, changelog/no-changelog, integration/mysql, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/documentation

#16539 Update CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-integrations

#15835 Revised dashboards.md
  docs/developer/guidelines/dashboards.md
Labels: documentation, changelog/no-changelog, team/agent-integrations

#16546 Add Windows builder
  .builders/build.py
  .builders/images/helpers.ps1
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/linux-x86_64/build_script.sh
  .builders/images/windows-x86_64/Dockerfile
  .builders/scripts/build_dependencies.sh
  .builders/scripts/build_wheels.py
  .builders/scripts/repair_wheels.py
  .builders/scripts/utils.py
  .deps/build_dependencies.txt
Labels: changelog/no-changelog

#16577 Add Python 2 to Windows
  .builders/build.py
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/runner_dependencies.txt
  .builders/images/windows-x86_64/Dockerfile
  .builders/scripts/build_wheels.py
  .deps/build_dependencies.txt
Labels: changelog/no-changelog

#16512 Python 2 dependency build on manylinux_2010
  .builders/images/linux-x86_64/Dockerfile
Labels: changelog/no-changelog, dependencies, base_package

#16582 [Release] Bumped datadog_checks_dev version to 29.0.2
  .in-toto/tag.05916999.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/15558.fixed
  datadog_checks_dev/changelog.d/16507.fixed
  datadog_checks_dev/changelog.d/16527.fixed
  datadog_checks_dev/changelog.d/16528.fixed
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, dev_package, team/agent-integrations, team/documentation

#16540 When host auto discovery is enabled, do nothing and emit OK for check status
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/16540.added
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/conftest.py
  postgres/tests/test_metrics_cache.py
  postgres/tests/test_pg_integration.py
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16581 Fix vacuum age computation
  postgres/changelog.d/16581.fixed
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/tests/test_relations.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16586 Properly exclude shipping `pymqi` on Python 2
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ibm_ace/pyproject.toml
  ibm_mq/pyproject.toml
Labels: changelog/no-changelog, integration/ibm_mq, dependencies, integration/ibm_ace, base_package, team/agent-integrations

#16589 Properly drop support for Python 2
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  ibm_ace/changelog.d/16589.fixed
  ibm_mq/changelog.d/16589.fixed
  oracle/changelog.d/16589.fixed
  oracle/pyproject.toml
  oracle/setup.py
Labels: changelog/no-changelog, integration/oracle, integration/ibm_mq, dependencies, integration/ibm_ace, base_package, team/agent-integrations, team/database-monitoring-agent

#16566 Fix ironic nodes pagination logic
  openstack_controller/changelog.d/16566.fixed
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/tests/fixtures/GET/baremetal/v1/nodes/detail/limit=1/marker=9d72cf53-19c8-4942-9314-005fa5d2a6a0/response-1.80.json
  openstack_controller/tests/fixtures/GET/baremetal/v1/nodes/detail/limit=1/marker=9d72cf53-19c8-4942-9314-005fa5d2a6a0/response.json
  openstack_controller/tests/fixtures/GET/baremetal/v1/nodes/detail/limit=1/marker=bd7a61bb-5fe0-4c93-9628-55e312f9ef0e/response-1.80.json
  openstack_controller/tests/fixtures/GET/baremetal/v1/nodes/detail/limit=1/marker=bd7a61bb-5fe0-4c93-9628-55e312f9ef0e/response.json
  openstack_controller/tests/fixtures/GET/baremetal/v1/nodes/detail/limit=1/response-1.80.json
  openstack_controller/tests/fixtures/GET/baremetal/v1/nodes/detail/limit=1/response.json
  openstack_controller/tests/fixtures/GET/baremetal/v1/nodes/detail=True/limit=1/marker=9d72cf53-19c8-4942-9314-005fa5d2a6a0/response-1.80.json
  openstack_controller/tests/fixtures/GET/baremetal/v1/nodes/detail=True/limit=1/marker=9d72cf53-19c8-4942-9314-005fa5d2a6a0/response.json
  openstack_controller/tests/fixtures/GET/baremetal/v1/nodes/detail=True/limit=1/marker=bd7a61bb-5fe0-4c93-9628-55e312f9ef0e/response-1.80.json
  openstack_controller/tests/fixtures/GET/baremetal/v1/nodes/detail=True/limit=1/marker=bd7a61bb-5fe0-4c93-9628-55e312f9ef0e/response.json
  openstack_controller/tests/fixtures/GET/baremetal/v1/nodes/detail=True/limit=1/response-1.80.json
  openstack_controller/tests/fixtures/GET/baremetal/v1/nodes/detail=True/limit=1/response.json
Labels: integration/openstack_controller, team/agent-integrations, team/platform-integrations

#16593 Release integrations for RC2 of 7.51.0
  .in-toto/tag.b9ca7eb3.link
  ibm_ace/CHANGELOG.md
  ibm_ace/changelog.d/16589.fixed
  ibm_ace/datadog_checks/ibm_ace/__about__.py
  ibm_mq/CHANGELOG.md
  ibm_mq/changelog.d/16589.fixed
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  openstack_controller/CHANGELOG.md
  openstack_controller/changelog.d/16566.fixed
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  oracle/CHANGELOG.md
  oracle/changelog.d/16589.fixed
  oracle/datadog_checks/oracle/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/16540.added
  postgres/changelog.d/16581.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/oracle, integration/postgres, integration/ibm_mq, integration/openstack_controller, release, integration/ibm_ace, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/platform-integrations, team/documentation

#16596 Release integrations for RC2 of 7.51.0
  .in-toto/tag.b9ca7eb3.link
  ibm_ace/CHANGELOG.md
  ibm_ace/changelog.d/16589.fixed
  ibm_ace/datadog_checks/ibm_ace/__about__.py
  ibm_mq/CHANGELOG.md
  ibm_mq/changelog.d/16589.fixed
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  openstack_controller/CHANGELOG.md
  openstack_controller/changelog.d/16566.fixed
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  oracle/CHANGELOG.md
  oracle/changelog.d/16589.fixed
  oracle/datadog_checks/oracle/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/16540.added
  postgres/changelog.d/16581.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/oracle, integration/postgres, integration/ibm_mq, integration/openstack_controller, release, integration/ibm_ace, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/platform-integrations, team/documentation

#16538 Remove unused dependencies in the Agent file
  .ddev/config.toml
  LICENSE-3rdparty.csv
  datadog_checks_base/changelog.d/16538.fixed
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Labels: dependencies, base_package, team/agent-integrations

#16541 Fix a bug that prevents the `validate dep` command to fail if extra deps are found in the Agent file
  .github/workflows/run-validations.yml
  datadog_checks_dev/changelog.d/16541.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
Labels: dev/testing, dev/tooling, dev_package, team/agent-integrations

#16537 Take into account all the checks when bumping or freezing the dependencies
  ddev/changelog.d/16537.fixed
  ddev/src/ddev/cli/dep.py
  ddev/tests/cli/test_dep.py
Labels: ddev, team/agent-integrations

#16513 Improve the tests and make them less flaky
  temporal/tests/common.py
  temporal/tests/fixtures/metrics.txt
  temporal/tests/test_e2e.py
  temporal/tests/test_integration.py
  temporal/tests/test_unit.py
Labels: changelog/no-changelog, qa/skip-qa, integration/temporal, team/agent-integrations

#16549 Bump `openstacksdk` version to 2.0.0
  datadog_checks_base/changelog.d/16549.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  openstack_controller/changelog.d/16549.added
  openstack_controller/pyproject.toml
Labels: integration/openstack_controller, dependencies, base_package, team/agent-integrations, team/platform-integrations

#16554 Bump `pymongo` version to 4.6.1
  .ddev/config.toml
  LICENSE-3rdparty.csv
  datadog_checks_base/changelog.d/16554.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  mongo/changelog.d/16554.added
  mongo/pyproject.toml
Labels: integration/mongo, dependencies, base_package, team/agent-integrations

#16555 Allow bumping the version of `pymongo`
  ddev/changelog.d/16555.fixed
  ddev/src/ddev/cli/dep.py
Labels: ddev, team/agent-integrations

#16550 Allow bumping the version `openstacksdk`
  ddev/changelog.d/16550.fixed
  ddev/src/ddev/cli/dep.py
Labels: ddev, team/agent-integrations

#16579 Run the TLS tests
  foundationdb/hatch.toml
  foundationdb/tests/common.py
  foundationdb/tests/conftest.py
  foundationdb/tests/test_foundationdb.py
Labels: changelog/no-changelog, integration/foundationdb, team/agent-integrations

#16572 Remove the direct dependency to `protobuf`
  gitlab/changelog.d/16572.fixed
  gitlab/pyproject.toml
  gitlab_runner/changelog.d/16572.fixed
  gitlab_runner/pyproject.toml
  kube_dns/changelog.d/16572.fixed
  kube_dns/pyproject.toml
  kubernetes_state/changelog.d/16572.fixed
  kubernetes_state/pyproject.toml
Labels: integration/gitlab, integration/gitlab_runner, integration/kube_dns, integration/kubernetes_state, team/agent-integrations, team/container-integrations

#16580 Run the sandbox tests
  teradata/tests/common.py
  teradata/tests/test_e2e.py
Labels: changelog/no-changelog, integration/teradata, team/agent-integrations

#16576 Update the comment about the pyasn1 bump
  ddev/src/ddev/cli/dep.py
Labels: changelog/no-changelog, ddev, team/agent-integrations

#16547 Bump `psutil` version to 5.9.7
  LICENSE-3rdparty.csv
  btrfs/changelog.d/16547.added
  btrfs/pyproject.toml
  datadog_checks_base/changelog.d/16547.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  disk/changelog.d/16547.added
  disk/pyproject.toml
  gunicorn/changelog.d/16547.added
  gunicorn/pyproject.toml
  ibm_mq/changelog.d/16547.added
  ibm_mq/pyproject.toml
  network/changelog.d/16547.added
  network/pyproject.toml
  process/changelog.d/16547.added
  process/pyproject.toml
  system_core/changelog.d/16547.added
  system_core/pyproject.toml
  system_swap/changelog.d/16547.added
  system_swap/pyproject.toml
Labels: integration/btrfs, integration/disk, integration/gunicorn, integration/network, integration/process, integration/system_core, integration/system_swap, integration/ibm_mq, dependencies, base_package, team/agent-integrations, team/windows-agent

#16548 Allow bumping the version `psutil`
  ddev/changelog.d/16548.fixed
  ddev/src/ddev/cli/dep.py
Labels: ddev, team/agent-integrations

#16553 Allow bumping the version `pyvmomi`
  ddev/changelog.d/16553.fixed
  ddev/src/ddev/cli/dep.py
Labels: ddev, team/agent-integrations

#16560 Bump `pycryptodomex` version to 3.19.1
  datadog_checks_base/changelog.d/16560.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  snmp/changelog.d/16560.added
  snmp/pyproject.toml
Labels: integration/snmp, dependencies, base_package, team/agent-integrations, team/network-device-monitoring

#16562 Allow bumping the version of `pycryptodomex`
  ddev/changelog.d/16562.fixed
  ddev/src/ddev/cli/dep.py
Labels: ddev, team/agent-integrations

#16578 Allow bumping the version of `pyodbc`
  ddev/changelog.d/16578.fixed
  ddev/src/ddev/cli/dep.py
Labels: ddev, team/agent-integrations

#16594 Update and rework the e2e environments
  tomcat/hatch.toml
  tomcat/tests/common.py
  tomcat/tests/compose/10.0.27/sample.war
  tomcat/tests/compose/10.1.17/sample.war
  tomcat/tests/compose/9.0.84/sample.war
  tomcat/tests/compose/README
  tomcat/tests/compose/client/Dockerfile
  tomcat/tests/compose/client/client.py
  tomcat/tests/compose/docker-compose.yml
  tomcat/tests/conftest.py
  tomcat/tests/test_e2e.py
Labels: changelog/no-changelog, integration/tomcat, team/agent-integrations

#16612 Fix autovacuum metrics for postgres >= 10
  postgres/changelog.d/16612.fixed
  postgres/datadog_checks/postgres/metrics_cache.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16608 Fix incompatibility issues with Python 3.9 and lower
  postgres/changelog.d/16608.fixed
  postgres/datadog_checks/postgres/metrics_cache.py
  postgres/datadog_checks/postgres/postgres.py
  teradata/changelog.d/16608.fixed
  teradata/datadog_checks/teradata/utils.py
Labels: integration/postgres, integration/teradata, team/agent-integrations, team/database-monitoring-agent

#16607 Formalize mechanism for builders to set environment variables
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/linux-x86_64/build_script.sh
  .builders/images/runner_dependencies.txt
  .builders/scripts/build_wheels.py
Labels: changelog/no-changelog, team/agent-integrations

#16609 [7.51.x] Fix incompatibility issues with Python 3.9 and lower
  postgres/changelog.d/16608.fixed
  postgres/datadog_checks/postgres/metrics_cache.py
  postgres/datadog_checks/postgres/postgres.py
  teradata/changelog.d/16608.fixed
  teradata/datadog_checks/teradata/utils.py
Labels: integration/postgres, integration/teradata, team/agent-integrations, team/database-monitoring-agent

#16617 [Release] Relese teradata and postgres
  .in-toto/tag.b9ca7eb3.link
  postgres/CHANGELOG.md
  postgres/changelog.d/16608.fixed
  postgres/changelog.d/16612.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  teradata/CHANGELOG.md
  teradata/changelog.d/16608.fixed
  teradata/datadog_checks/teradata/__about__.py
Labels: documentation, integration/postgres, release, integration/teradata, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#16619 [Release] Port postgres and teradata releases to master
  postgres/CHANGELOG.md
  postgres/changelog.d/16608.fixed
  postgres/changelog.d/16612.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  teradata/CHANGELOG.md
  teradata/changelog.d/16608.fixed
  teradata/datadog_checks/teradata/__about__.py
Labels: documentation, changelog/no-changelog, integration/postgres, release, integration/teradata, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#16621 [7.51.x] Fix the trigger-agent build script
  .gitlab/validate-agent-build/trigger_agent_build.py
Labels: changelog/no-changelog, dev/tooling, team/agent-integrations

#16623 Fix the trigger-agent build script
  .gitlab/validate-agent-build/trigger_agent_build.py
Labels: changelog/no-changelog, dev/tooling, team/agent-integrations

#16614 Collect logs in the e2e environment
  tomcat/tests/common.py
  tomcat/tests/compose/docker-compose.yml
  tomcat/tests/conftest.py
Labels: changelog/no-changelog, integration/tomcat, team/agent-integrations

#16573 Bump `protobuf` version to 4.25.1
  LICENSE-3rdparty.csv
  datadog_checks_base/changelog.d/16573.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/prometheus/metrics_pb2.py
  datadog_checks_base/pyproject.toml
Labels: integration/gitlab, integration/gitlab_runner, integration/kube_dns, integration/kubernetes_state, dependencies, base_package, team/agent-integrations, team/container-integrations

#16575 Allow bumping the version of `protobuf`
  ddev/changelog.d/16575.fixed
  ddev/src/ddev/cli/dep.py
Labels: ddev, team/agent-integrations

#16625 Remove unused volumes in the compose file
  harbor/tests/compose/harbor-1.10.0/docker-compose.yml
  harbor/tests/compose/harbor-2.0.5/docker-compose.yml
  harbor/tests/compose/harbor-2.3.2/docker-compose.yml
Labels: changelog/no-changelog, integration/harbor, team/agent-integrations

#16611 Add the `Log Collection` category to the manifest
  karpenter/manifest.json
Labels: documentation, changelog/no-changelog, integration/karpenter, team/agent-integrations, team/documentation

#16620 remove containerized vs non-containerized language
  openstack_controller/README.md
Labels: documentation, changelog/no-changelog, integration/openstack_controller, qa/skip-qa, team/agent-integrations, team/platform-integrations, team/documentation

#16557 Clarify that we only test v2 of flux and why.
  fluxcd/tests/test_e2e.py
Labels: changelog/no-changelog, team/agent-integrations

#16622 [Tooling] Pin dev container python to 3.11
  .devcontainer/devcontainer.json
Labels: changelog/no-changelog, dev/tooling, qa/skip-qa, team/agent-integrations

#16624 [Tooling] Add container integrations team as devcontainer codeowner
  .github/CODEOWNERS
Labels: changelog/no-changelog, dev/tooling, qa/skip-qa, team/agent-integrations, team/container-integrations

#16629 Add embedded tomcat to the test env
  .gitignore
  tomcat/hatch.toml
  tomcat/tests/common.py
  tomcat/tests/compose/embedded/Dockerfile
  tomcat/tests/compose/embedded/app/pom.xml
  tomcat/tests/compose/embedded/app/src/main/java/launch/Main.java
  tomcat/tests/compose/embedded/app/src/main/webapp/sample/hello.jsp
  tomcat/tests/compose/embedded/docker-compose.yml
  tomcat/tests/compose/standalone/10.0.27/sample.war
  tomcat/tests/compose/standalone/10.1.17/sample.war
  tomcat/tests/compose/standalone/9.0.84/sample.war
  tomcat/tests/compose/standalone/README
  tomcat/tests/compose/standalone/docker-compose.yml
  tomcat/tests/conftest.py
Labels: changelog/no-changelog, integration/tomcat, team/agent-integrations

#16473 Add initial dependency builder logic
  .builders/build.py
  .builders/images/helpers.ps1
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/linux-x86_64/build_script.sh
  .builders/images/linux-x86_64/install-from-source.sh
  .builders/images/runner_dependencies.txt
  .builders/images/windows-x86_64/Dockerfile
  .builders/patches/pydantic-core-for-manylinux1.patch
  .builders/scripts/build_wheels.py
  .builders/scripts/repair_wheels.py
  .builders/scripts/utils.py
  .deps/build_dependencies.txt
Labels: changelog/no-changelog, team/agent-integrations

#16606 move Databricks Overview to Spark
  databricks/README.md
  databricks/manifest.json
  spark/assets/dashboards/databricks_overview.json
  spark/manifest.json
Labels: documentation, changelog/no-changelog, integration/spark, integration/databricks, mergequeue-status: waiting, team/agent-integrations, team/documentation

#16501 [NDM] Add new set of OOTB SNMP monitors
  snmp/assets/monitors/bgp_peer_state_stuck.json
  snmp/assets/monitors/high_cpu.json
  snmp/assets/monitors/high_interface_bandwidth_usage_in.json
  snmp/assets/monitors/high_interface_bandwidth_usage_out.json
  snmp/assets/monitors/high_memory.json
  snmp/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp, team/agent-integrations, team/network-device-monitoring, team/documentation

#16633 updated dashboard
  karpenter/assets/dashboards/karpenter_overview.json
Labels: changelog/no-changelog, integration/karpenter, team/agent-integrations, team/documentation

#16544 Autogenerate source_type_id when running ddev create
  datadog_checks_dev/changelog.d/16544.added
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_pull/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/snmp_tile/snmp_{check_name}/manifest.json
Labels: dev/tooling, dev_package, team/agent-integrations, team/documentation

#16635 Dashboards Guidelines Edit
  docs/developer/guidelines/dashboards.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation

#16638 [Release] Bumped ddev version to 6.3.0
  .in-toto/tag.05916999.link
  ddev/CHANGELOG.md
  ddev/changelog.d/16537.fixed
  ddev/changelog.d/16548.fixed
  ddev/changelog.d/16550.fixed
  ddev/changelog.d/16553.fixed
  ddev/changelog.d/16555.fixed
  ddev/changelog.d/16556.fixed
  ddev/changelog.d/16559.fixed
  ddev/changelog.d/16561.fixed
  ddev/changelog.d/16562.fixed
  ddev/changelog.d/16575.fixed
  ddev/changelog.d/16578.fixed
  ddev/changelog.d/16587.added
Labels: documentation, changelog/no-changelog, ddev, team/agent-integrations, team/documentation

#16630 Test the metadata for counter metrics again
  tomcat/tests/test_e2e.py
Labels: changelog/no-changelog, integration/tomcat, team/agent-integrations

#16639 [Release] Update metadata
  .in-toto/tag.05916999.link
Labels: changelog/no-changelog, team/agent-integrations

#16599 Sync changes from logs backend (1/2)
  karpenter/assets/logs/karpenter.yaml
  karpenter/assets/logs/karpenter_tests.yaml
  mapreduce/assets/logs/mapreduce.yaml
  marathon/assets/logs/marathon.yaml
  marklogic/assets/logs/marklogic.yaml
  mcache/assets/logs/memcached.yaml
  mesos_slave/assets/logs/mesos.yaml
  mongo/assets/logs/mongodb.yaml
  mysql/assets/logs/mysql.yaml
  nagios/assets/logs/nagios.yaml
  nginx/assets/logs/nginx.yaml
  nginx_ingress_controller/assets/logs/nginx-ingress-controller.yaml
  nginx_ingress_controller/assets/logs/weave-kube.yaml
  nginx_ingress_controller/assets/logs/weave-npc.yaml
  nvidia_triton/assets/logs/nvidia_triton.yaml
  openldap/assets/logs/openldap.yaml
  openstack/assets/logs/openstack.yaml
  pan_firewall/assets/logs/pan.firewall.yaml
  pgbouncer/assets/logs/pgbouncer.yaml
  postfix/assets/logs/postfix.yaml
  postgres/assets/logs/postgresql.yaml
  powerdns_recursor/assets/logs/powerdns.yaml
  presto/assets/logs/presto.yaml
  proxysql/assets/logs/proxysql.yaml
  pulsar/assets/logs/pulsar.yaml
  rabbitmq/assets/logs/rabbitmq.yaml
  ray/assets/logs/ray.yaml
  redisdb/assets/logs/redis.yaml
  rethinkdb/assets/logs/rethinkdb.yaml
  riak/assets/logs/riak.yaml
  scylla/assets/logs/scylla.yaml
  sidekiq/assets/logs/sidekiq.yaml
  singlestore/assets/logs/singlestore.yaml
  solr/assets/logs/solr.yaml
  sonarqube/assets/logs/sonarqube.yaml
  spark/assets/logs/spark.yaml
  sqlserver/assets/logs/sqlserver.yaml
  squid/assets/logs/squid.yaml
  ssh_check/assets/logs/sshd.yaml
  statsd/assets/logs/statsd.yaml
  strimzi/assets/logs/strimzi.yaml
  supervisord/assets/logs/supervisord.yaml
  teamcity/assets/logs/teamcity.yaml
  temporal/assets/logs/temporal.yaml
  tenable/assets/logs/tenable.yaml
  tomcat/assets/logs/tomcat.yaml
  torchserve/assets/logs/torchserve.yaml
  traffic_server/assets/logs/traffic_server.yaml
  twemproxy/assets/logs/twemproxy.yaml
  twistlock/assets/logs/twistlock.yaml
  varnish/assets/logs/varnish.yaml
  vault/assets/logs/vault.yaml
  vertica/assets/logs/vertica.yaml
  voltdb/assets/logs/voltdb.yaml
  weblogic/assets/logs/weblogic.yaml
  yarn/assets/logs/yarn.yaml
  zk/assets/logs/zookeeper.yaml
Labels: changelog/no-changelog, integration/marathon, integration/mapreduce, integration/mcache, integration/mesos_slave, integration/mongo, integration/mysql, integration/nagios, integration/nginx, integration/openstack, integration/pgbouncer, integration/postfix, integration/postgres, integration/powerdns_recursor, integration/rabbitmq, integration/redisdb, integration/riak, integration/solr, integration/spark, integration/sqlserver, integration/squid, integration/ssh_check, integration/statsd, integration/supervisord, integration/teamcity, integration/tomcat, integration/twemproxy, integration/varnish, integration/yarn, integration/zk, integration/vault, integration/openldap, integration/nginx_ingress_controller, integration/twistlock, integration/presto, integration/vertica, integration/scylla, integration/rethinkdb, integration/tenable, integration/sidekiq, integration/proxysql, integration/marklogic, integration/sonarqube, integration/voltdb, integration/pan_firewall, integration/singlestore, integration/weblogic, integration/traffic_server, integration/pulsar, integration/temporal, integration/strimzi, integration/torchserve, integration/ray, mergequeue-status: removed, integration/nvidia_triton, integration/karpenter, team/agent-integrations, team/database-monitoring-agent, team/container-integrations, team/platform-integrations, team/documentation

#16447 Add instructions for connecting the Agent to all logical databases
  postgres/README.md
Labels: documentation, changelog/no-changelog, integration/postgres, team/agent-integrations, team/database-monitoring, team/documentation

#16536 Add BGP/OSPF OOTB dashboard
  snmp/assets/dashboards/bgp_ospf_overview.json
  snmp/manifest.json
Labels: documentation, changelog/no-changelog, integration/snmp, team/agent-integrations, team/network-device-monitoring

#16631 Collect more metrics by default
  tomcat/changelog.d/16631.added
  tomcat/datadog_checks/tomcat/data/metrics.yaml
  tomcat/metadata.csv
  tomcat/tests/common.py
  tomcat/tests/test_e2e.py
Labels: integration/tomcat, team/agent-integrations

#16650 Remove deprecated `tomcat.cache` metrics
  tomcat/changelog.d/16650.removed
  tomcat/datadog_checks/tomcat/data/metrics.yaml
  tomcat/metadata.csv
Labels: integration/tomcat, team/agent-integrations

#16640 Sync changes from logs backend (2/2)
  activemq/assets/logs/activemq.yaml
  aerospike/assets/logs/aerospike.yaml
  airflow/assets/logs/airflow.yaml
  ambari/assets/logs/ambari.yaml
  apache/assets/logs/apache.yaml
  arangodb/assets/logs/arangodb.yaml
  argocd/assets/logs/argocd.yaml
  azure_active_directory/assets/logs/azure.activedirectory.yaml
  azure_iot_edge/assets/logs/azure.iot_edge.yaml
  cacti/assets/logs/cacti.yaml
  cassandra/assets/logs/cassandra.yaml
  ceph/assets/logs/ceph.yaml
  citrix_hypervisor/assets/logs/citrix_hypervisor.yaml
  clickhouse/assets/logs/clickhouse.yaml
  cockroachdb/assets/logs/cockroachdb.yaml
  confluent_platform/assets/logs/confluent_platform.yaml
  consul/assets/logs/consul.yaml
  coredns/assets/logs/coredns.yaml
  couch/assets/logs/couchdb.yaml
  datadog_cluster_agent/assets/logs/agent.yaml
  docker_daemon/assets/logs/docker.yaml
  druid/assets/logs/druid.yaml
  elastic/assets/logs/elasticsearch.yaml
  envoy/assets/logs/envoy.yaml
  etcd/assets/logs/etcd.yaml
  exchange_server/assets/logs/exchange-server.yaml
  flink/assets/logs/flink.yaml
  foundationdb/assets/logs/foundationdb.yaml
  gearmand/assets/logs/gearman.yaml
  gitlab/assets/logs/gitlab.yaml
  gitlab_runner/assets/logs/gitlab-runner.yaml
  glusterfs/assets/logs/glusterfs.yaml
  gunicorn/assets/logs/gunicorn.yaml
  haproxy/assets/logs/haproxy.yaml
  harbor/assets/logs/harbor.yaml
  hazelcast/assets/logs/hazelcast.yaml
  hdfs_datanode/assets/logs/hdfs_datanode.yaml
  hdfs_namenode/assets/logs/hdfs_namenode.yaml
  hive/assets/logs/hive.yaml
  hivemq/assets/logs/hivemq.yaml
  hudi/assets/logs/hudi.yaml
  ibm_ace/assets/logs/ibm_ace.yaml
  ibm_db2/assets/logs/ibm_db2.yaml
  ibm_mq/assets/logs/ibm_mq.yaml
  ibm_was/assets/logs/ibm_was.yaml
  ignite/assets/logs/ignite.yaml
  iis/assets/logs/iis.yaml
  impala/assets/logs/impala.yaml
  istio/assets/logs/istio.yaml
  jboss_wildfly/assets/logs/jboss_wildfly.yaml
  jmeter/assets/logs/jmeter.yaml
  kafka/assets/logs/kafka.yaml
  kong/assets/logs/kong.yaml
  kube_scheduler/assets/logs/kube_scheduler.yaml
  kyototycoon/assets/logs/kyototycoon.yaml
  lighttpd/assets/logs/lighttpd.yaml
  mapr/assets/logs/mapr.yaml
Labels: changelog/no-changelog, integration/activemq, integration/apache, integration/cacti, integration/cassandra, integration/ceph, integration/consul, integration/couch, integration/docker_daemon, integration/elastic, integration/envoy, integration/etcd, integration/exchange_server, integration/gearmand, integration/gitlab, integration/gitlab_runner, integration/gunicorn, integration/haproxy, integration/hdfs_datanode, integration/hdfs_namenode, integration/iis, integration/istio, integration/kafka, integration/kong, integration/kyototycoon, integration/lighttpd, integration/cockroachdb, integration/ibm_mq, integration/coredns, integration/ibm_was, integration/aerospike, integration/ibm_db2, integration/jboss_wildfly, integration/kube_scheduler, integration/ambari, integration/hive, integration/harbor, integration/mapr, integration/druid, integration/clickhouse, integration/airflow, integration/flink, integration/confluent_platform, integration/ignite, integration/hazelcast, integration/hivemq, integration/azure_active_directory, integration/azure_iot_edge, integration/glusterfs, integration/jmeter, integration/citrix_hypervisor, integration/datadog_cluster_agent, integration/hudi, integration/arangodb, integration/foundationdb, integration/ibm_ace, integration/impala, integration/argocd, team/agent-integrations, team/container-integrations, team/platform-integrations, team/windows-agent, team/documentation

#16643 Fix disk usage widget color formula in dashboard
  vsphere/assets/dashboards/vsphere_overview.json
Labels: changelog/no-changelog, integration/vsphere, team/agent-integrations, team/platform-integrations

#16529 [PLINT-246] Add support for pagination for servers details
  openstack_controller/changelog.d/16529.fixed
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/tests/conftest.py
  openstack_controller/tests/fixtures/GET/compute/v2.1/servers/detail/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1000/response-2.93.json
  openstack_controller/tests/fixtures/GET/compute/v2.1/servers/detail/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/compute/v2.1/servers/detail/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=3/marker=67ca710a-e73f-4801-a12f-d0c55ccb8955/response-2.93.json
  openstack_controller/tests/fixtures/GET/compute/v2.1/servers/detail/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=3/marker=67ca710a-e73f-4801-a12f-d0c55ccb8955/response.json
  openstack_controller/tests/fixtures/GET/compute/v2.1/servers/detail/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=3/marker=9e80aa16-5a28-4ec0-bfce-f83bf56d0c86/response-2.93.json
  openstack_controller/tests/fixtures/GET/compute/v2.1/servers/detail/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=3/marker=9e80aa16-5a28-4ec0-bfce-f83bf56d0c86/response.json
  openstack_controller/tests/fixtures/GET/compute/v2.1/servers/detail/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=3/response-2.93.json
  openstack_controller/tests/fixtures/GET/compute/v2.1/servers/detail/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=3/response.json
  openstack_controller/tests/fixtures/GET/compute/v2.1/servers/detail/project_id=6e39099cccde4f809b003d9e0dd09304/limit=1000/response-2.93.json
  openstack_controller/tests/fixtures/GET/compute/v2.1/servers/detail/project_id=6e39099cccde4f809b003d9e0dd09304/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/compute/v2.1/servers/detail/project_id=6e39099cccde4f809b003d9e0dd09304/limit=3/response-2.93.json
  openstack_controller/tests/fixtures/GET/compute/v2.1/servers/detail/project_id=6e39099cccde4f809b003d9e0dd09304/limit=3/response.json
  openstack_controller/tests/metrics.py
  openstack_controller/tests/test_unit_ironic.py
  openstack_controller/tests/test_unit_nova.py
Labels: integration/openstack_controller, team/agent-integrations, team/platform-integrations

#16583 Add openstack config tests
  openstack/tests/test_openstack.py
Labels: changelog/no-changelog, integration/openstack, team/agent-integrations, team/platform-integrations

#16652 Update some descriptions in monitors
  tomcat/assets/monitors/error_count.json
  tomcat/assets/monitors/max_proc_time.json
  tomcat/assets/monitors/req_count.json
Labels: changelog/no-changelog, integration/tomcat, team/agent-integrations, team/documentation

#16542 [PLINT-265] Update pyvmomi to 8.0.2.0.1
  datadog_checks_base/changelog.d/16542.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  vsphere/changelog.d/16542.added
  vsphere/datadog_checks/vsphere/api.py
  vsphere/pyproject.toml
  vsphere/tests/test_api.py
Labels: integration/vsphere, dependencies, base_package, team/agent-integrations, team/platform-integrations

#16654 Update the slapr config
  .github/workflows/slapr.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16663 Mark the `test_wal_stats` as flaky
  postgres/tests/test_pg_integration.py
Labels: changelog/no-changelog, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16661 [NDM] Add more catalyst devices
  snmp/datadog_checks/snmp/data/default_profiles/cisco-catalyst.yaml
Labels: changelog/no-changelog, integration/snmp, team/agent-integrations, team/network-device-monitoring

#16602 Fix link
  docs/developer/tutorials/snmp/profile-format.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/network-device-monitoring, team/documentation

#16459 Add Kubernetes resource dahsboard
  kubernetes/assets/dashboards/kubernetes_cpu_memory.json
  kubernetes/manifest.json
Labels: documentation, changelog/no-changelog, integration/kubernetes, qa/skip-qa, team/agent-integrations, team/container-integrations, team/documentation

#16666 Mark the `test_deadlock` test as flaky
  postgres/tests/test_deadlock.py
Labels: changelog/no-changelog, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16644 Add a script to serve any openmetrics payload for any OM integration
  ddev/changelog.d/16644.added
  ddev/src/ddev/cli/meta/scripts/__init__.py
  ddev/src/ddev/cli/meta/scripts/scripts/serve.py
  ddev/src/ddev/cli/meta/scripts/serve_openmetrics_payload.py
  ddev/src/ddev/e2e/agent/docker.py
Labels: ddev, team/agent-integrations

#16660 Update the troubleshooting section
  tomcat/README.md
Labels: documentation, changelog/no-changelog, integration/tomcat, team/agent-integrations, team/documentation

#16664 Remove the section about Agent 5
  tomcat/README.md
Labels: documentation, changelog/no-changelog, integration/tomcat, team/agent-integrations, team/documentation

#16659 Add a blog post to the README file
  tomcat/README.md
Labels: documentation, changelog/no-changelog, integration/tomcat, team/agent-integrations, team/documentation

#16585 (DOCS-7017) Add site information
  terraform/README.md
Labels: documentation, changelog/no-changelog, integration/terraform, team/agent-integrations, team/documentation
