Repository DataDog/integrations-core, pull requests merged in 2024-02, with the labels that each got.

#16716 Set up publishing of dependencies
  .builders/build.py
  .builders/deps/build_dependencies.txt
  .builders/deps/host_dependencies.txt
  .builders/image_digests.json
  .builders/images/runner_dependencies.txt
  .builders/lock.py
  .builders/scripts/build_wheels.py
  .builders/scripts/repair_wheels.py
  .builders/upload.py
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16767 Migrate the GitLab jobs to Kubernetes
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling, team/agent-integrations

#16769 Change the location of builder image digests
  .builders/lock.py
  .deps/image_digests.json
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16770 Ensure that builds run to completion on merges
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16706 [INTPLAT-13] Generalize README.md file
  README.md
Labels: changelog/no-changelog, team/agent-integrations, team/documentation

#16773 Update mistypo in calico doc
  calico/README.md
Labels: documentation, changelog/no-changelog, integration/calico, team/agent-integrations, team/documentation

#16499 New integration release: zeek v1.0.0
  zeek/CHANGELOG.md
  zeek/README.md
  zeek/assets/configuration/spec.yaml
  zeek/assets/dashboards/corelight_suricata.json
  zeek/assets/dashboards/zeek_connections.json
  zeek/assets/dashboards/zeek_detection.json
  zeek/assets/dashboards/zeek_dhcp.json
  zeek/assets/dashboards/zeek_diagnostics.json
  zeek/assets/dashboards/zeek_dns.json
  zeek/assets/dashboards/zeek_files.json
  zeek/assets/dashboards/zeek_miscellaneous.json
  zeek/assets/dashboards/zeek_network_observations.json
  zeek/assets/dashboards/zeek_network_protocols.json
  zeek/assets/dashboards/zeek_network_protocols_ntp_snmp_ssl.json
  zeek/assets/dashboards/zeek_syslog.json
  zeek/assets/logs/zeek.yaml
  zeek/assets/logs/zeek_tests.yaml
  zeek/assets/service_checks.json
  zeek/assets/zeek.svg
  zeek/changelog.d/16499.changed
  zeek/datadog_checks/__init__.py
  zeek/datadog_checks/zeek/__about__.py
  zeek/datadog_checks/zeek/__init__.py
  zeek/datadog_checks/zeek/data/conf.yaml.example
  zeek/images/zeek_connections.png
  zeek/images/zeek_detection.png
  zeek/images/zeek_dhcp.png
  zeek/images/zeek_diagnostics.png
  zeek/images/zeek_dns.png
  zeek/images/zeek_files.png
  zeek/images/zeek_network_observations.png
  zeek/images/zeek_network_protocols.png
  zeek/manifest.json
  zeek/pyproject.toml
Labels: documentation, changelog/no-changelog, editorial review, team/agent-integrations, team/documentation, team/security-integrations-product-management

#16778 Add the `zeek` integration the labeler config
  .github/workflows/config/labeler.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16757 Tweaks to Linux dependency build
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/linux-x86_64/build_script.sh
Labels: changelog/no-changelog, team/agent-integrations

#16777 Use forked version of auditwheel with correct rpath patching
  .builders/images/runner_dependencies.txt
  .builders/scripts/repair_wheels.py
Labels: changelog/no-changelog, team/agent-integrations

#16711 [SNMP] Add abstract profiles for VoIP
  snmp/changelog.d/16711.added
  snmp/datadog_checks/snmp/data/default_profiles/_generic-rtp.yaml
  snmp/datadog_checks/snmp/data/default_profiles/_generic-sip.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/_generic-rtp.snmprec
  snmp/tests/compose/data/_generic-sip.snmprec
  snmp/tests/fixtures/user_profiles/generic-rtp.yaml
  snmp/tests/fixtures/user_profiles/generic-sip.yaml
  snmp/tests/test_e2e_core_profiles/test_profile__generic_rtp.py
  snmp/tests/test_e2e_core_profiles/test_profile__generic_sip.py
Labels: integration/snmp, assets/no-deploy, team/agent-integrations, team/network-device-monitoring

#16503 New Integration Release Cisco Umbrella DNS v1.0.0
  cisco_umbrella_dns/CHANGELOG.md
  cisco_umbrella_dns/README.md
  cisco_umbrella_dns/assets/cisco_umbrella_dns.svg
  cisco_umbrella_dns/assets/dashboards/cisco_umbrella_dns_dns_traffic.json
  cisco_umbrella_dns/assets/dashboards/cisco_umbrella_dns_proxied_traffic.json
  cisco_umbrella_dns/assets/logs/cisco_umbrella_dns.yaml
  cisco_umbrella_dns/assets/logs/cisco_umbrella_dns_tests.yaml
  cisco_umbrella_dns/assets/service_checks.json
  cisco_umbrella_dns/images/cisco_umbrella_dns_dns_traffic.png
  cisco_umbrella_dns/images/cisco_umbrella_dns_proxied_traffic.png
  cisco_umbrella_dns/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, team/security-integrations-product-management, team/saas-integrations

#16781 [INTPLAT-12] Update manifest.json
  cisco_umbrella_dns/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations

#16759 Remove unsupported characters from README templates.
  datadog_checks_dev/changelog.d/16759.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_pull/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/tile/{check_name}/README.md
Labels: dev/tooling, dev_package, team/agent-integrations, team/documentation

#16783 DOCS-7136 Integrations Doc Update
  cockroachdb/metadata.csv
  postgres/CHANGELOG.md
  rabbitmq/assets/dashboards/rabbitmq_dashboard.json
  teamcity/assets/dashboards/overview.json
Labels: documentation, changelog/no-changelog, integration/postgres, integration/rabbitmq, integration/teamcity, integration/cockroachdb, team/agent-integrations, team/database-monitoring, team/documentation

#16785 Add a GitHub action to backport PRs
  .github/workflows/backport-pr.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16789 Update auditwheel
  .builders/images/runner_dependencies.txt
Labels: changelog/no-changelog, team/agent-integrations

#16782 [QA] Fixes trivial issues in FluxCD integrations
  fluxcd/README.md
  fluxcd/assets/monitors/error_count.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/fluxcd

#16790 Set rpath to $ORIGIN
  .builders/images/linux-x86_64/Dockerfile
Labels: changelog/no-changelog, team/agent-integrations

#16261 [cilium] Add new v1.13+ operator metrics
  cilium/changelog.d/16261.added
  cilium/datadog_checks/cilium/metrics.py
  cilium/metadata.csv
  cilium/tests/common.py
  cilium/tests/fixtures/operator_metrics.txt
  cilium/tests/legacy/legacy_common.py
Labels: integration/cilium, team/agent-integrations

#16792 Update Airflow README.md ; Remove sentence with the link to an integration that no longer exits
  airflow/README.md
Labels: documentation, changelog/no-changelog, integration/airflow, team/agent-integrations, team/documentation

#16765 [DBMON-3534] support customizable collection interval per query in query executor
  datadog_checks_base/changelog.d/16765.added
  datadog_checks_base/datadog_checks/base/utils/db/core.py
  datadog_checks_base/datadog_checks/base/utils/db/query.py
  datadog_checks_base/tests/base/utils/db/test_query_executor.py
Labels: base_package, team/agent-integrations, team/database-monitoring-agent

#16795 Add new dashboard image for updated template variables
  sqlserver/README.md
  sqlserver/images/sqlserver_dashboard_02_2024.png
Labels: documentation, changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#16788 Update dependencies
  LICENSE-3rdparty.csv
  amazon_msk/changelog.d/16788.added
  amazon_msk/pyproject.toml
  btrfs/changelog.d/16788.added
  btrfs/pyproject.toml
  clickhouse/changelog.d/16788.added
  clickhouse/pyproject.toml
  datadog_checks_base/changelog.d/16788.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  disk/changelog.d/16788.added
  disk/pyproject.toml
  dns_check/changelog.d/16788.added
  dns_check/pyproject.toml
  gunicorn/changelog.d/16788.added
  gunicorn/pyproject.toml
  network/changelog.d/16788.added
  network/pyproject.toml
  openstack_controller/changelog.d/16788.added
  openstack_controller/pyproject.toml
  postgres/changelog.d/16788.added
  postgres/pyproject.toml
  process/changelog.d/16788.added
  process/pyproject.toml
  snmp/changelog.d/16788.added
  snmp/pyproject.toml
  snowflake/changelog.d/16788.added
  snowflake/pyproject.toml
  spark/changelog.d/16788.added
  spark/pyproject.toml
  system_core/changelog.d/16788.added
  system_core/pyproject.toml
  system_swap/changelog.d/16788.added
  system_swap/pyproject.toml
  tls/changelog.d/16788.added
  tls/pyproject.toml
  vsphere/changelog.d/16788.added
  vsphere/pyproject.toml
Labels: integration/btrfs, integration/disk, integration/dns_check, integration/gunicorn, integration/network, integration/postgres, integration/process, integration/snmp, integration/spark, integration/system_core, integration/system_swap, integration/vsphere, integration/openstack_controller, integration/tls, integration/clickhouse, integration/amazon_msk, dependencies, integration/snowflake, base_package, team/agent-integrations, team/database-monitoring-agent, team/network-device-monitoring, team/platform-integrations, team/windows-agent

#16804 Add the `cisco_umbrella_dns` integration the labeler config
  .github/workflows/config/labeler.yml
Labels: team/agent-integrations

#16805 Update the tag pattern when updating the changelog
  .github/workflows/update-agent-changelog.yml
Labels: team/agent-integrations

#16803 [Release] Bumped datadog_checks_dev version to 31.0.0
  .in-toto/tag.b9ca7eb3.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/16737.fixed
  datadog_checks_dev/changelog.d/16759.fixed
  datadog_checks_dev/changelog.d/16802.changed
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: changelog/no-changelog, team/agent-integrations, team/documentation

#16806 Bump datadog_checks_dev dependency requirement
  ddev/changelog.d/16806.changed
  ddev/pyproject.toml
Labels: team/agent-integrations

#16774 Add a `validate labeler` command
  .github/workflows/run-validations.yml
  .github/workflows/validate.yml
  ddev/changelog.d/16774.added
  ddev/src/ddev/cli/validate/__init__.py
  ddev/src/ddev/cli/validate/labeler.py
  ddev/tests/cli/validate/conftest.py
  ddev/tests/cli/validate/test_labeler.py
Labels: dev/testing, dev/tooling, ddev, team/agent-integrations

#16801 Update the dashboard
  calico/assets/dashboards/calico_overview.json
Labels: team/agent-integrations, team/documentation

#16810 [Release] Bumped ddev version to 8.0.0
  ddev/CHANGELOG.md
  ddev/changelog.d/16774.added
  ddev/changelog.d/16806.changed
Labels: changelog/no-changelog, release, team/agent-integrations, team/documentation

#16807 Github client gracefully handles empty PR descriptions
  ddev/changelog.d/16807.fixed
  ddev/src/ddev/utils/github.py
  ddev/tests/utils/test_github.py
Labels: dev/tooling, ddev, team/agent-integrations

#16762 [DBMON-3495] Backport #16742
  datadog_checks_base/changelog.d/16742.fixed
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
  sqlserver/changelog.d/16742.fixed
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_statements.py
Labels: integration/sqlserver, base_package, team/agent-integrations, team/database-monitoring-agent

#16816 [Release] Bumped datadog_checks_base version to 35.0.1
  .in-toto/tag.b9ca7eb3.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/16742.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: team/agent-integrations

#16817 [Release] Bumped sqlserver version to 16.0.1
  .in-toto/tag.b9ca7eb3.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/16742.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#16819 (Docs) Add blog post link to Fargate doc
  ecs_fargate/README.md
Labels: documentation, qa/skip-qa, mergequeue-status: removed, team/agent-integrations, team/container-integrations, team/documentation

#16825 Apply changelog and version bump after releasing for agent v7.51.0
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/16742.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#16814 Include zlib in wheels that need it
  .builders/scripts/repair_wheels.py
Labels: team/agent-integrations

#16827 Build cyrus-sasl statically into librdkafka for inclusion in wheel (Linux)
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/linux-x86_64/build_script.sh
  .builders/scripts/repair_wheels.py
Labels: team/agent-integrations

#16823 Run the `release-auto` GitLab job on release branches
  .gitlab-ci.yml
Labels: qa/skip-qa, team/agent-integrations

#16828 Update CODEOWNERS
  .github/CODEOWNERS
Labels: team/agent-integrations

#16832 Add blog link to OpenStack doc
  openstack_controller/README.md
Labels: documentation, team/agent-integrations, team/platform-integrations, team/documentation

#16772 Ensure that built wheels are reproducible part 1
  .builders/build.py
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/windows-x86_64/Dockerfile
  .builders/scripts/repair_wheels.py
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16822 [Postgres] fix OOB screeboard
  postgres/assets/dashboards/postgresql_screenboard_dashboard.json
Labels: changelog/no-changelog, integration/postgres, assets/no-deploy, team/agent-integrations, team/database-monitoring-agent

#16812 Support custom auth params for oauth
  datadog_checks_base/changelog.d/16812.added
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/base/utils/http/test_authtoken.py
Labels: team/agent-integrations

#16815 Update: Zeek integration v1.0.0
  zeek/assets/dashboards/zeek_connections.json
  zeek/assets/dashboards/zeek_detection.json
  zeek/assets/dashboards/zeek_dhcp.json
  zeek/assets/dashboards/zeek_diagnostics.json
  zeek/assets/dashboards/zeek_dns.json
  zeek/assets/dashboards/zeek_files.json
  zeek/assets/dashboards/zeek_miscellaneous.json
  zeek/assets/dashboards/zeek_network_observations.json
  zeek/assets/dashboards/zeek_network_protocols.json
  zeek/assets/dashboards/zeek_network_protocols_ntp_snmp_ssl.json
  zeek/assets/dashboards/zeek_syslog.json
  zeek/assets/logs/zeek.yaml
  zeek/assets/logs/zeek_tests.yaml
Labels: team/agent-integrations, team/documentation

#16838 Revert "Fix the trigger-agent build script (#16623)"
  .gitlab/validate-agent-build/trigger_agent_build.py
Labels: team/agent-integrations

#16839 Fix a flaky test
  strimzi/tests/common.py
  strimzi/tests/test_e2e.py
Labels: team/agent-integrations

#16824 envoy: bump tests to 1.29.0
  envoy/hatch.toml
  envoy/metadata.csv
  envoy/tests/common.py
  envoy/tests/docker/api_v3/Dockerfile-service
  envoy/tests/docker/api_v3/front-envoy.yaml
  envoy/tests/fixtures/legacy/server_info_api_v3
  envoy/tests/fixtures/openmetrics/openmetrics.txt
  envoy/tests/test_unit.py
Labels: team/agent-integrations

#16840 Remove the reminder GitLab job
  .gitlab-ci.yml
  .gitlab/reminder/Dockerfile
  .gitlab/reminder/release-reminder.sh
  .gitlab/reminder/remind.py
  .gitlab/reminder/requirements.in
Labels: team/agent-integrations

#16834 postgres schemas: don't exclude tables without metrics from schema collection
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/16834.changed
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/metadata.py
Labels: team/agent-integrations, team/database-monitoring, team/database-monitoring-agent

#16841 Sync integrations with logs-backend
  fluxcd/assets/logs/fluxcd.yaml
  fluxcd/assets/logs/fluxcd_tests.yaml
  zeek/assets/logs/zeek.yaml
  zeek/assets/logs/zeek_tests.yaml
Labels: team/agent-integrations, team/documentation

#16718 envoy: add connection limits metrics
  envoy/changelog.d/16718.added
  envoy/datadog_checks/envoy/check.py
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/common.py
  envoy/tests/docker/api_v3/front-envoy.yaml
  envoy/tests/fixtures/legacy/connection_limit.txt
  envoy/tests/fixtures/legacy/stat_prefix
  envoy/tests/fixtures/openmetrics/openmetrics.txt
  envoy/tests/legacy/common.py
  envoy/tests/legacy/test_unit.py
  envoy/tests/test_e2e.py
  envoy/tests/test_integration.py
  envoy/tests/test_unit.py
Labels: integration/envoy, team/agent-integrations

#16843 fix broken link and further details
  ibm_mq/README.md
Labels: team/agent-integrations, team/documentation

#16842 Add blog link to Windows Performance Counters doc
  windows_performance_counters/README.md
Labels: documentation, team/agent-integrations, team/windows-agent, team/documentation

#16850 Update the labeler token
  .github/workflows/labeler-reusable.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16845 Extract hardcoded additional integrations from the `validate labeler` command to the config file
  .ddev/config.toml
  ddev/changelog.d/16845.fixed
  ddev/src/ddev/cli/validate/labeler.py
  ddev/tests/cli/validate/conftest.py
Labels: team/agent-integrations

#16846 Extract hardcoded dependencies from the `dep updates` command to the config file
  .ddev/config.toml
  ddev/changelog.d/16846.fixed
  ddev/src/ddev/cli/dep.py
  ddev/tests/cli/test_dep.py
Labels: team/agent-integrations

#16844 Add a constant class with the Agent env variables
  ddev/changelog.d/16844.added
  ddev/src/ddev/cli/env/start.py
  ddev/src/ddev/config/model.py
  ddev/src/ddev/e2e/agent/constants.py
  ddev/src/ddev/e2e/agent/docker.py
  ddev/src/ddev/e2e/constants.py
Labels: team/agent-integrations

#16848 Lock dependencies with direct references
  .builders/lock.py
  .builders/scripts/build_wheels.py
  .builders/upload.py
Labels: changelog/no-changelog, team/agent-integrations

#16852 Make assertions only about behavior in test
  directory/tests/test_directory.py
Labels: changelog/no-changelog, integration/directory, team/agent-integrations

#16851 Add more conditions to the e2e environment
  http_check/tests/conftest.py
Labels: changelog/no-changelog, integration/http_check, team/agent-integrations

#16854 Removes Python 2 from Airflow integration
  airflow/changelog.d/16854.changed
  airflow/hatch.toml
  airflow/pyproject.toml
  airflow/setup.py
Labels: integration/airflow, team/agent-integrations

#16662 Update the overview dashboard
  tomcat/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/tomcat, assets/no-deploy, team/agent-integrations, team/documentation

#16859 Add the `all` argument to `ddev test`
  ddev/changelog.d/16859.added
  ddev/src/ddev/cli/test/__init__.py
  ddev/tests/cli/test/test_test.py
Labels: ddev, team/agent-integrations

#16861 Use the token from the `datadog-agent-integrations-bot` GH app
  .github/workflows/backport-pr.yml
  .github/workflows/labeler-community.yml
  .github/workflows/labeler-reusable.yml
  .github/workflows/labeler.yml
  .github/workflows/update-agent-changelog.yml
  .github/workflows/update-dependencies.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16860 Mark the `test_backend_transaction_age` as flaky
  postgres/tests/test_pg_integration.py
Labels: changelog/no-changelog, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16858 Bump dependencies
  amazon_msk/changelog.d/16858.added
  amazon_msk/pyproject.toml
  datadog_checks_base/changelog.d/16858.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  ibm_i/changelog.d/16858.added
  ibm_i/pyproject.toml
  postgres/changelog.d/16858.added
  postgres/pyproject.toml
  sqlserver/changelog.d/16858.added
  sqlserver/pyproject.toml
Labels: integration/postgres, integration/sqlserver, integration/amazon_msk, dependencies, integration/ibm_i, base_package, team/agent-integrations, team/database-monitoring-agent

#16857 Bump black version to 24.2.0
  amazon_msk/datadog_checks/amazon_msk/amazon_msk.py
  cloudera/tests/test_unit_client.py
  cloudera/tests/test_unit_custom_queries.py
  cloudera/tests/test_unit_events.py
  cloudera/tests/test_unit_version.py
  datadog_checks_base/datadog_checks/base/checks/win/wmi/sampler.py
  datadog_checks_base/datadog_checks/base/utils/prometheus/metrics_pb2.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/run.py
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  ddev/changelog.d/16857.added
  ddev/src/ddev/cli/meta/scripts/generate_metrics.py
  ddev/src/ddev/cli/release/agent/common.py
  ddev/src/ddev/e2e/agent/interface.py
  ddev/src/ddev/plugin/external/hatch/environment_collector.py
  ddev/src/ddev/utils/scripts/check_pr.py
  ddev/src/ddev/utils/scripts/ci_matrix.py
  elastic/datadog_checks/elastic/elastic.py
  istio/datadog_checks/istio/metrics.py
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/tests/conftest.py
  kubelet/datadog_checks/kubelet/kubelet.py
  mapr/datadog_checks/mapr/mapr.py
  mysql/tests/test_query_activity.py
  mysql/tests/test_statements.py
  network/datadog_checks/network/check_linux.py
  openstack_controller/datadog_checks/openstack_controller/components/bare_metal.py
  openstack_controller/datadog_checks/openstack_controller/components/compute.py
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
  postgres/tests/common.py
  process/datadog_checks/process/process.py
  pyproject.toml
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  redisdb/tests/test_default.py
  scylla/datadog_checks/scylla/scylla.py
  scylla/tests/common.py
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/event.py
Labels: dev/tooling, integration/elastic, integration/istio, integration/kafka_consumer, integration/kubelet, integration/mysql, integration/network, integration/pgbouncer, integration/postgres, integration/process, integration/rabbitmq, integration/redisdb, integration/vsphere, integration/openstack_controller, integration/mapr, integration/scylla, integration/amazon_msk, dev_package, base_package, ddev, integration/cloudera, team/agent-integrations, team/database-monitoring-agent, team/container-integrations, team/platform-integrations, team/windows-agent

#16797 nginx: metrics should have same tags as service checks
  nginx/changelog.d/16797.fixed
  nginx/datadog_checks/nginx/nginx.py
  nginx/tests/test_e2e.py
  nginx/tests/test_nginx.py
  nginx/tests/test_plus_api.py
  nginx/tests/test_vts.py
Labels: integration/nginx, category/bugfix, team/agent-integrations

#16830 Build cyrus-sasl statically into librdkafka for inclusion in wheel (macOS)
  .builders/images/install-from-source.sh
  .builders/images/macos/builder_setup.sh
  .builders/images/macos/extra_build.sh
Labels: changelog/no-changelog, team/agent-integrations

#16826 Add the ability to expose multiple payloads consecutively with the `serve-openmetrics-payload` command
  ddev/changelog.d/16826.added
  ddev/src/ddev/cli/meta/scripts/scripts/serve.py
  ddev/src/ddev/cli/meta/scripts/serve_openmetrics_payload.py
Labels: ddev, team/agent-integrations

#16870 [DBMON-3579] don't require relation metrics to be enabled to collect schemas
  postgres/changelog.d/16870.changed
  postgres/datadog_checks/postgres/config.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16836 Add a `config` option to the `serve-openmetrics-payload` script.
  ddev/changelog.d/16836.added
  ddev/src/ddev/cli/meta/scripts/serve_openmetrics_payload.py
Labels: ddev, team/agent-integrations

#16866 Bump ruff to 0.2.1
  aerospike/datadog_checks/aerospike/aerospike.py
  apache/datadog_checks/apache/apache.py
  cassandra_nodetool/tests/test_unit.py
  cisco_aci/tests/test_helpers.py
  cisco_aci/tests/test_tags.py
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  cockroachdb/tests/common.py
  couch/tests/test_couchv2.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
  datadog_checks_dev/datadog_checks/dev/tooling/catalog_const.py
  datadog_checks_downloader/datadog_checks/downloader/download.py
  ddev/changelog.d/16866.added
  ddev/pyproject.toml
  ddev/src/ddev/plugin/external/hatch/environment_collector.py
  envoy/datadog_checks/envoy/envoy.py
  ibm_i/tests/test_ibm_i.py
  ibm_mq/datadog_checks/ibm_mq/config.py
  kubelet/datadog_checks/kubelet/cadvisor.py
  kubelet/datadog_checks/kubelet/summary.py
  kubelet/tests/test_kubelet.py
  openstack/datadog_checks/openstack/openstack.py
  openstack_controller/datadog_checks/openstack_controller/legacy/openstack_controller_legacy.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_relations.py
  process/tests/test_process.py
  pyproject.toml
  rethinkdb/datadog_checks/rethinkdb/queries_impl.py
  riak/tests/conftest.py
  sap_hana/tests/common.py
  snowflake/datadog_checks/snowflake/config_models/validators.py
  sonarqube/datadog_checks/sonarqube/check.py
  teradata/datadog_checks/teradata/utils.py
Labels: dev/tooling, integration/apache, integration/cassandra_nodetool, integration/couch, integration/envoy, integration/kubelet, integration/openstack, integration/postgres, integration/process, integration/riak, integration/cisco_aci, integration/cockroachdb, integration/ibm_mq, integration/openstack_controller, integration/aerospike, integration/sap_hana, integration/clickhouse, integration/rethinkdb, integration/snowflake, integration/sonarqube, integration/ibm_i, integration/teradata, dev_package, base_package, downloader, ddev, team/agent-integrations, team/database-monitoring-agent, team/container-integrations, team/platform-integrations, team/windows-agent, team/software-integrity-and-trust

#16874 Cisco Umbrella DNS: Source Related Changes
  cisco_umbrella_dns/assets/dashboards/cisco_umbrella_dns_dns_traffic.json
  cisco_umbrella_dns/assets/dashboards/cisco_umbrella_dns_proxied_traffic.json
  cisco_umbrella_dns/assets/logs/cisco-umbrella-dns.yaml
  cisco_umbrella_dns/assets/logs/cisco-umbrella-dns_tests.yaml
  cisco_umbrella_dns/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/cisco_umbrella_dns

#16876 Describe how to install community version of integration.
  fluxcd/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/fluxcd

#16872 Rename `host` tag to `nginx_host`
  nginx/changelog.d/16872.fixed
  nginx/datadog_checks/nginx/nginx.py
Labels: integration/nginx, mergequeue-status: waiting, team/agent-integrations, team/container-integrations

#16880 update default table schema collection limit to 300
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/16880.fixed
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/metadata.py
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16882 [Update] Describe support for Windows
  ibm_i/README.md
Labels: documentation, changelog/no-changelog, integration/ibm_i, team/agent-integrations, team/documentation

#16886 [DBMON-3435] Update mariadb 10.10 to 10.11
  mysql/hatch.toml
Labels: changelog/no-changelog, integration/mysql, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#16887 Consistent naming of Flux system
  fluxcd/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/fluxcd

#16888 Revert nginx tag changes (#16872 and #16797)
  nginx/changelog.d/16797.fixed
  nginx/changelog.d/16872.fixed
  nginx/datadog_checks/nginx/nginx.py
  nginx/tests/test_e2e.py
  nginx/tests/test_nginx.py
  nginx/tests/test_plus_api.py
  nginx/tests/test_vts.py
Labels: changelog/no-changelog, integration/nginx, team/agent-integrations

#16855 Sy/envoy dashboard
  envoy/assets/dashboards/openmetrics_overview.json
  envoy/manifest.json
Labels: documentation, changelog/no-changelog, integration/envoy, team/agent-integrations, team/documentation

#16847 Add ongoing duration metric to Airflow integration
  airflow/assets/monitors/heartbeat_failures.json
  airflow/assets/monitors/ongoing_duration.json
  airflow/changelog.d/16847.added
  airflow/datadog_checks/airflow/airflow.py
  airflow/manifest.json
  airflow/metadata.csv
  airflow/tests/README.md
  airflow/tests/common.py
  airflow/tests/compose/dags/tutorial.py
  airflow/tests/compose/docker-compose.yaml
  airflow/tests/conftest.py
  airflow/tests/fixtures/task.json
  airflow/tests/test_e2e.py
  airflow/tests/test_integration.py
  airflow/tests/test_unit.py
Labels: documentation, integration/airflow, team/agent-integrations, team/documentation

#16658 [DBMON-3285] Exclude cross-database queries from Azure.
  sqlserver/changelog.d/16658.removed
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
  sqlserver/tests/test_unit.py
Labels: documentation, integration/sqlserver, assets/no-deploy, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#16657 Add support for kube_apiserver SLI metrics
  kube_apiserver_metrics/changelog.d/16657.added
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/sli_metrics.py
  kube_apiserver_metrics/tests/conftest.py
  kube_apiserver_metrics/tests/fixtures/metrics_slis_1.27.3.txt
  kube_apiserver_metrics/tests/test_sli_metrics.py
Labels: documentation, containers, integration/kube_apiserver_metrics, mergequeue-status: removed, team/agent-integrations, team/container-integrations

#16881 [NDMII-2518] Add ping documentation
  snmp/assets/configuration/spec.yaml
  snmp/changelog.d/16881.added
  snmp/datadog_checks/snmp/data/conf.yaml.example
Labels: documentation, integration/snmp, mergequeue-status: removed, team/agent-integrations, team/network-device-monitoring

#16885 Update fluxcd dashboard
  fluxcd/assets/dashboards/fluxcd.json
Labels: changelog/no-changelog, team/agent-integrations, team/documentation, integration/fluxcd

#16892 Add entry for 7.51.0 bugfix release
  datadog_checks_base/CHANGELOG.md
Labels: documentation, changelog/no-changelog, base_package, team/agent-integrations

#16893 [Release] Bumped zeek version to 1.0.0
  .in-toto/tag.05916999.link
  requirements-agent-release.txt
  zeek/CHANGELOG.md
  zeek/changelog.d/16499.changed
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/zeek

#16895 PG: Collection replication role tag by default
  postgres/changelog.d/16895.changed
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/common.py
  postgres/tests/conftest.py
  postgres/tests/test_custom_metrics.py
  postgres/tests/test_deadlock.py
  postgres/tests/test_e2e.py
  postgres/tests/test_logical_replication.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
  postgres/tests/test_relations.py
  postgres/tests/test_replication_slot.py
  postgres/tests/test_statements.py
  postgres/tests/test_unit.py
Labels: integration/postgres, mergequeue-status: waiting, team/agent-integrations, team/database-monitoring-agent

#16898 Sy/envoy saved views
  envoy/assets/saved_views/envoy_4xx.json
  envoy/assets/saved_views/envoy_5xx.json
  envoy/assets/saved_views/envoy_error_grouped.json
  envoy/assets/saved_views/envoy_overview.json
  envoy/manifest.json
Labels: documentation, changelog/no-changelog, integration/envoy, team/agent-integrations, team/documentation

#16900 Add PG server version as tag
  postgres/changelog.d/16900.added
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/common.py
  postgres/tests/test_e2e.py
  postgres/tests/test_logical_replication.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
  postgres/tests/test_statements.py
Labels: integration/postgres, mergequeue-status: waiting, team/agent-integrations, team/database-monitoring-agent

#16875 Add some log saved views
  tomcat/assets/saved_views/tomcat_4xx.json
  tomcat/assets/saved_views/tomcat_5xx.json
  tomcat/assets/saved_views/tomcat_status_code_overview.json
  tomcat/manifest.json
Labels: documentation, changelog/no-changelog, integration/nginx, integration/tomcat, team/agent-integrations, team/documentation

#16906 [gitlab] disable e2e tests in child agent pipeline
  .gitlab/validate-agent-build/trigger_agent_build.py
Labels: changelog/no-changelog, dev/tooling, qa/skip-qa, mergequeue-status: waiting, team/agent-integrations

#16808 Always save image digests
  .github/workflows/build-deps.yml
Labels: team/agent-integrations

#16907 Add an overview saved_view
  tomcat/assets/saved_views/tomcat_overview.json
  tomcat/manifest.json
Labels: documentation, changelog/no-changelog, integration/tomcat, team/agent-integrations, team/documentation

#16908 Improve tests for generic tag removal
  nginx/hatch.toml
  nginx/tests/test_nginx.py
  nginx/tests/test_unit.py
Labels: changelog/no-changelog, integration/nginx, team/agent-integrations

#16912 [gitlab] improve datadog-agent pipeline variables
  .gitlab/validate-agent-build/trigger_agent_build.py
Labels: changelog/no-changelog, qa/skip-qa, mergequeue-status: waiting

#16897 feat: Collect 'argocd_app_labels' argocd metric
  argocd/README.md
  argocd/changelog.d/16897.added
  argocd/datadog_checks/argocd/metrics.py
  argocd/metadata.csv
Labels: documentation, integration/argocd, team/agent-integrations, team/documentation

#16914 test_activity_nested_blocking_transactions is flaky
  sqlserver/tests/test_activity.py
Labels: changelog/no-changelog, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#16889 Kafka consumer lag check: Add consumer lag in seconds metric
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/changelog.d/16889.added
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/defaults.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/instance.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/metadata.csv
  kafka_consumer/tests/common.py
  kafka_consumer/tests/conftest.py
  kafka_consumer/tests/docker/kerberos/docker-compose.yaml
  kafka_consumer/tests/test_integration.py
  kafka_consumer/tests/test_unit.py
Labels: documentation, integration/kafka_consumer, team/agent-integrations, team/documentation

#16911 PostgreSQL: Add system_identifier as a metric tag
  postgres/changelog.d/16911.added
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/common.py
  postgres/tests/test_e2e.py
  postgres/tests/test_pg_integration.py
Labels: integration/postgres, mergequeue-status: waiting, team/agent-integrations, team/database-monitoring-agent

#16917 starting version in templates aligns with changelog type
  datadog_checks_dev/changelog.d/16917.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/{check_name}/__about__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/datadog_checks/{check_name}/__about__.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/datadog_checks/{check_name}/__about__.py
Labels: dev/tooling, dev_package, team/agent-integrations

#16905 Add a command to create the release branch
  ddev/changelog.d/16905.added
  ddev/src/ddev/cli/release/__init__.py
  ddev/src/ddev/cli/release/branch/__init__.py
  ddev/src/ddev/cli/release/branch/create.py
  ddev/src/ddev/utils/github.py
  ddev/tests/cli/release/branch/__init__.py
  ddev/tests/cli/release/branch/test_create.py
  ddev/tests/conftest.py
  ddev/tests/fixtures/network/github/create_label.yaml
  ddev/tests/utils/test_github.py
Labels: ddev, team/agent-integrations

#16418 Add winregistry docs
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  windows_registry/CHANGELOG.md
  windows_registry/README.md
  windows_registry/assets/service_checks.json
  windows_registry/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, integration/windows_registry, assets/no-deploy, team/agent-integrations, team/windows-agent, team/documentation

#16879 Edit OTel Collector dashboard to include Datadog Exporter and Datadog Connector metrics
  otel/assets/dashboards/otel_collector_metrics_dashboard.json
Labels: changelog/no-changelog, qa/skip-qa, integration/otel, team/agent-integrations, team/opentelemetry

#16922 Update OTel Collector dashboard column break group
  otel/assets/dashboards/otel_collector_metrics_dashboard.json
Labels: changelog/no-changelog, qa/skip-qa, integration/otel, team/agent-integrations, team/opentelemetry

#16820 DOCS-7205 - adding to description of k8s metadata.csv
  kubernetes/metadata.csv
Labels: team/agent-integrations, team/container-integrations

#16925 Explain how to generate the keys
  snowflake/tests/keys/README
Labels: changelog/no-changelog, integration/snowflake, team/agent-integrations

#16926 Stop reading the private key file and use the `private_key_file` and `private_key_file_pwd` options
  snowflake/changelog.d/16926.fixed
  snowflake/datadog_checks/snowflake/check.py
  snowflake/pyproject.toml
  snowflake/tests/test_snowflake.py
  snowflake/tests/test_unit.py
Labels: integration/snowflake, team/agent-integrations

#16928 collect language detection metrics in datadog_cluster_agent integration
  datadog_cluster_agent/changelog.d/16928.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/metadata.csv
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
Labels: integration/datadog_cluster_agent, mergequeue-status: waiting, team/agent-integrations, team/container-integrations

#16929 Fix a flaky test and reorganize the tests
  mapreduce/tests/common.py
  mapreduce/tests/conftest.py
  mapreduce/tests/test_e2e.py
  mapreduce/tests/test_integration.py
  mapreduce/tests/test_mapreduce_integration_e2e.py
  mapreduce/tests/test_unit.py
Labels: changelog/no-changelog, integration/mapreduce, team/agent-integrations

#16865 remove Logs from Active Directory docs
  active_directory/README.md
  active_directory/assets/configuration/spec.yaml
  active_directory/datadog_checks/active_directory/data/conf.yaml.example
  active_directory/manifest.json
Labels: documentation, changelog/no-changelog, integration/active_directory, qa/skip-qa, team/agent-integrations, team/windows-agent, team/documentation

#16934 Add blog link to SQL Server integration docs
  sqlserver/README.md
Labels: documentation, changelog/no-changelog, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/documentation

#16937 Fix manifest tests
  datadog_checks_dev/tests/tooling/manifest_validator/test_v2_validator.py
Labels: changelog/no-changelog, dev_package, team/agent-integrations

#16919 [DBM] - Backport Fix space-used returning as None on azure sql servers (#16910)
  sqlserver/changelog.d/16910.fixed
  sqlserver/datadog_checks/sqlserver/metrics.py
Labels: integration/sqlserver

#16941 Bump sqlserver to 16.0.2
  .in-toto/tag.b9ca7eb3.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/16910.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: changelog/no-changelog

#16942 Port #16941 to 7.52.x
  sqlserver/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#16943 [Release] Bumped sqlserver version to 17.0.1
  .in-toto/tag.05916999.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/16910.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/sqlserver, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#16948 [Release] Bumped sqlserver version to 17.0.1 (#16943)
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/16910.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/sqlserver, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#16950 florentclarret/cigitlabci/release jobs
  .gitlab-ci.yml
Labels: changelog/no-changelog, dev/tooling, team/agent-integrations

#16890 Add logs saved views and revamp dashboard
  airflow/assets/dashboards/overview.json
  airflow/assets/saved_views/airflow_overview.json
  airflow/manifest.json
Labels: documentation, changelog/no-changelog, integration/airflow, team/agent-integrations, team/documentation

#16936 [DBMON-3642] Proper handle events_statements_* timer_end overflow
  mysql/changelog.d/16936.fixed
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/tests/test_statements.py
Labels: integration/mysql, team/agent-integrations, team/database-monitoring-agent

#16955 Add blog links for etcd integration
  etcd/README.md
Labels: documentation, changelog/no-changelog, integration/etcd, qa/skip-qa, team/agent-integrations, team/documentation

#16956 Fix metric to check aerospike
  aerospike/manifest.json
Labels: documentation, changelog/no-changelog, integration/aerospike, team/agent-integrations, team/documentation

#16951 Fix fluxcd default address documentation
  fluxcd/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/fluxcd

#16931 backport 16928 to 7.52.x
  datadog_cluster_agent/changelog.d/16928.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/metadata.csv
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
Labels: integration/datadog_cluster_agent, team/agent-integrations, team/container-integrations, backport

#16969 [Release] Bumped datadog_cluster_agent version to 2.11.0 (#16967)
  datadog_cluster_agent/CHANGELOG.md
  datadog_cluster_agent/changelog.d/16928.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/datadog_cluster_agent, team/agent-integrations, team/container-integrations, team/documentation

#16965 Don't build shared libraries when compiling python on builders
  .builders/images/linux-x86_64/Dockerfile
Labels: changelog/no-changelog, team/agent-integrations

#16968 Add zlib to macOS builder
  .builders/images/macos/builder_setup.sh
  .builders/scripts/repair_wheels.py
Labels: changelog/no-changelog, team/agent-integrations

#16920 [SINT-1841] Run Datadog SCA in the CI
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/software_composition_analysis.yaml
Labels: changelog/no-changelog, dev/tooling, mergequeue-status: waiting, team/agent-integrations

#16930 [PLINT-246] Add pagination support for network networks
  openstack_controller/changelog.d/16930.added
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/tests/conftest.py
  openstack_controller/tests/fixtures/GET/networking/v2.0/networks/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1/marker=f7b6adc8-24ea-490c-9537-5c4eae015cd8/response.json
  openstack_controller/tests/fixtures/GET/networking/v2.0/networks/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1/response.json
  openstack_controller/tests/fixtures/GET/networking/v2.0/networks/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/networking/v2.0/networks/project_id=6e39099cccde4f809b003d9e0dd09304/limit=1/response.json
  openstack_controller/tests/fixtures/GET/networking/v2.0/networks/project_id=6e39099cccde4f809b003d9e0dd09304/limit=1000/response.json
  openstack_controller/tests/test_unit_neutron.py
Labels: integration/openstack_controller, team/agent-integrations, team/platform-integrations

#16972 Bump the required python version in the integration templates
  datadog_checks_dev/changelog.d/16972.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/pyproject.toml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/pyproject.toml
Labels: dev/tooling, dev_package, team/agent-integrations

#16959 Sy/envoy touch ups
  envoy/assets/dashboards/openmetrics_overview.json
Labels: changelog/no-changelog, integration/envoy, team/agent-integrations, team/documentation

#16957 update custom_queries configuration to support optional collection_interval
  clickhouse/changelog.d/16957.added
  clickhouse/datadog_checks/clickhouse/config_models/instance.py
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  datadog_checks_dev/changelog.d/16957.added
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/db.yaml
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/db.yaml
  mysql/changelog.d/16957.added
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  oracle/changelog.d/16957.added
  oracle/datadog_checks/oracle/config_models/instance.py
  oracle/datadog_checks/oracle/data/conf.yaml.example
  sap_hana/changelog.d/16957.added
  sap_hana/datadog_checks/sap_hana/config_models/instance.py
  sap_hana/datadog_checks/sap_hana/data/conf.yaml.example
  singlestore/changelog.d/16957.added
  singlestore/datadog_checks/singlestore/config_models/instance.py
  singlestore/datadog_checks/singlestore/data/conf.yaml.example
  snowflake/changelog.d/16957.added
  snowflake/datadog_checks/snowflake/config_models/instance.py
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  sqlserver/changelog.d/16957.added
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  teradata/changelog.d/16957.added
  teradata/datadog_checks/teradata/config_models/instance.py
  teradata/datadog_checks/teradata/data/conf.yaml.example
  vertica/changelog.d/16957.added
  vertica/datadog_checks/vertica/config_models/instance.py
  vertica/datadog_checks/vertica/data/conf.yaml.example
  voltdb/changelog.d/16957.added
  voltdb/datadog_checks/voltdb/config_models/instance.py
  voltdb/datadog_checks/voltdb/data/conf.yaml.example
Labels: dev/tooling, integration/mysql, integration/oracle, integration/sqlserver, integration/vertica, integration/sap_hana, integration/clickhouse, integration/snowflake, qa/skip-qa, integration/voltdb, integration/singlestore, integration/teradata, dev_package, team/agent-integrations, team/database-monitoring-agent, team/documentation

#16979 log group rename
  envoy/assets/dashboards/openmetrics_overview.json
Labels: changelog/no-changelog, integration/envoy, mergequeue-status: removed, team/agent-integrations, team/documentation

#16980 timer_end is bigint unsigned
  mysql/datadog_checks/mysql/statement_samples.py
Labels: changelog/no-changelog, integration/mysql, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#16966 Implement builder caching for macOS build
  .builders/images/macos/builder_setup.sh
  .builders/images/macos/extra_build.sh
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16973 Airflow touch up
  airflow/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/airflow, team/agent-integrations, team/documentation

#16982 Add the `qa/skip-qa` label to PRs that bump dependencies
  .github/workflows/update-dependencies.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16986 Update repository.datadog.yaml
  repository.datadog.yaml
Labels: changelog/no-changelog, team/agent-integrations

#16913 contributor credit
  argocd/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/argocd, mergequeue-status: waiting, team/agent-integrations, team/documentation

#16989 dashboard touchup
  nvidia_triton/assets/dashboards/nvidia_triton_overview.json
  nvidia_triton/manifest.json
Labels: documentation, changelog/no-changelog, integration/nvidia_triton, team/agent-integrations, team/documentation

#16991 DOCS-7311 - remove comma from json
  fluxcd/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/fluxcd

#16995 Remove migrated commands
  datadog_checks_dev/changelog.d/16995.removed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/common.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/integrations.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/agent/integrations_changelog.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/edit.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/ls.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/prune.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/reload.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/shell.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/stop.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/test.py
  datadog_checks_dev/tests/tooling/commands/test_agent.py
  datadog_checks_dev/tests/tooling/commands/test_dep.py
Labels: dev/tooling, dev_package, team/agent-integrations

#16923 Fix lock file generation
  .builders/build.py
  .builders/images/macos-x86_64/builder_setup.sh
  .builders/images/macos-x86_64/extra_build.sh
  .builders/lock.py
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16988 [DBMON-3557] add read_timeout for reading from the connection in seconds
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/16988.added
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/test_connection.py
Labels: documentation, integration/mysql, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#16990 [DBMON-3691] set collect_wal_metrics to false will disable wal file metrics collection for all pg versions
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/16990.added
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_pg_integration.py
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent
