Repository DataDog/integrations-core, pull requests merged in 2024-07, with the labels that each got.

#17952 Allow triggering update dependencies workflow manually
  .github/workflows/update-dependencies.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17947 Add related link to Teleport blog post
  teleport/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/platform-integrations, team/documentation, integration/teleport

#17954 Mark base check kerberos tests as flaky
  datadog_checks_base/tests/base/utils/http/test_kerberos_int.py
Labels: changelog/no-changelog, base_package, team/agent-integrations

#17712 Add logs pipeline and saved views
  traefik_mesh/assets/logs/traefik.yaml
  traefik_mesh/assets/logs/traefik_tests.yaml
  traefik_mesh/assets/saved_views/traefik_mesh_error_overview.json
  traefik_mesh/assets/saved_views/traefik_mesh_log_overview.json
  traefik_mesh/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, integration/traefik_mesh

#17948 Update weblogic setup
  weblogic/README.md
Labels: documentation, changelog/no-changelog, integration/weblogic, team/agent-integrations, team/documentation

#17951 Allow updates to kubernetes
  .ddev/config.toml
Labels: changelog/no-changelog, team/agent-integrations

#17962 Clarify how to pass flag for extras repo and trim whitespace
  docs/developer/guidelines/dashboards.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation

#17912 [tcp_checks] If dns-resolve failed don't report metrics.
  tcp_check/changelog.d/17912.added
  tcp_check/datadog_checks/tcp_check/tcp_check.py
Labels: integration/tcp_check, team/agent-integrations

#17870 [SIEMINT-76] DDS: PingOne: Crawler Integration Without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  ping_one/CHANGELOG.md
  ping_one/README.md
  ping_one/assets/service_checks.json
  ping_one/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation

#17937 Add vLLM recommended monitors
  vllm/assets/monitors/latency.json
  vllm/assets/monitors/token_throughput.json
  vllm/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/vllm

#17965 Update README.md
  ping_one/README.md
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/ping_one

#17964 update mirror endpoint for kerberos tests
  datadog_checks_base/tests/compose/kerberos/kerberos-kdc/Dockerfile
Labels: changelog/no-changelog, base_package, team/agent-integrations

#17970 [dbm] remove alpha label for settings collection
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/mysql, integration/postgres, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#17846 Kisung/adding eks fargate sidecar injection documentation for operator
  eks_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/eks_fargate, category/feature, team/agent-integrations, team/container-integrations, team/documentation

#17969 Improve messages around dependency spec management
  datadog_checks_dev/changelog.d/17969.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
  ddev/changelog.d/17969.fixed
  ddev/src/ddev/cli/dep/freeze.py
  ddev/src/ddev/cli/dep/sync.py
  ddev/tests/cli/test_dep.py
Labels: dev/tooling, dev_package, ddev, team/agent-integrations

#17975 Fix centos mirrorlist for kafka consumer tests
  kafka_consumer/tests/docker/kerberos/kdc/Dockerfile
Labels: changelog/no-changelog, integration/kafka_consumer, team/agent-integrations

#17974 Drop explain plan failures to debug level
  postgres/changelog.d/17974.changed
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#17959 [mongo] Support auto-discover available databases for the monitored mongodb instance
  mongo/README.md
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/17959.added
  mongo/changelog.d/17959.deprecated
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/index_stats.py
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/discovery.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/compose/scripts/init-router.js
  mongo/tests/conftest.py
  mongo/tests/fixtures/$currentOp-mongos
  mongo/tests/fixtures/list_collection_names
  mongo/tests/fixtures/list_database_names
  mongo/tests/mocked_api.py
  mongo/tests/results/metrics-collection-autodiscover.json
  mongo/tests/results/metrics-count-dbs.json
  mongo/tests/results/metrics-indexes-stats-autodiscover.json
  mongo/tests/results/metrics-indexes-stats.json
  mongo/tests/results/opeartion-activities-mongos.json
  mongo/tests/test_e2e.py
  mongo/tests/test_integration.py
  mongo/tests/test_unit.py
  mongo/tests/test_unit_config.py
Labels: documentation, integration/mongo, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#17960 Add collect of metrics for buffer cache usage
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/17960.added
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/metadata.csv
  postgres/tests/common.py
  postgres/tests/compose/resources/02_setup.sh
  postgres/tests/test_pg_integration.py
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#17961 [mongo] deprecate collStats command and use $collStats aggregation stage to collect collection metrics
  mongo/changelog.d/17961.added
  mongo/changelog.d/17961.fixed
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/index_stats.py
  mongo/datadog_checks/mongo/metrics.py
  mongo/metadata.csv
  mongo/tests/fixtures/$collStats-bar
  mongo/tests/fixtures/$collStats-foo
  mongo/tests/fixtures/$indexStats-bar
  mongo/tests/fixtures/$indexStats-foo
  mongo/tests/fixtures/collstats-bar
  mongo/tests/fixtures/collstats-foo
  mongo/tests/fixtures/collstats-orders
  mongo/tests/mocked_api.py
  mongo/tests/results/metrics-collection-autodiscover.json
  mongo/tests/results/metrics-collection.json
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#17957 Add ssl path option when building the librdkafka dependency
  kafka_consumer/datadog_checks/kafka_consumer/config.py
Labels: changelog/no-changelog, integration/kafka_consumer, team/agent-integrations

#17985 Mark envoy tests as flaky
  envoy/tests/legacy/test_integration.py
  envoy/tests/test_integration.py
Labels: changelog/no-changelog, integration/envoy, team/agent-integrations

#17987 Release vLLM
  .in-toto/tag.b9ca7eb3.link
  requirements-agent-release.txt
  vllm/CHANGELOG.md
  vllm/changelog.d/17756.added
  vllm/datadog_checks/vllm/__about__.py
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, team/agent-integrations, integration/vllm

#17988 [Release] Bumped vllm version to 1.0.0
  requirements-agent-release.txt
  vllm/CHANGELOG.md
  vllm/changelog.d/17756.added
  vllm/datadog_checks/vllm/__about__.py
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/vllm

#17978 Switch back to the intial database while collecting schemas
  sqlserver/datadog_checks/sqlserver/schemas.py
Labels: changelog/no-changelog, integration/sqlserver, team/agent-integrations

#17990 Allow pytest to return success when no tests are collected for flaky test suite
  .github/workflows/test-target.yml
  ddev/src/ddev/cli/test/__init__.py
Labels: changelog/no-changelog, dev/testing, dev/tooling, ddev, team/agent-integrations

#17955 Update Logs Parsing rules for the Teleport Pipeline
  teleport/assets/logs/teleport.yaml
  teleport/assets/logs/teleport_tests.yaml
Labels: changelog/no-changelog, team/agent-integrations, team/platform-integrations, team/documentation, team/logs-backend, integration/teleport, assets/deploy-logs-staging

#17941 [NDM][Cisco SD-WAN] Bold Cisco sdwan beta banner
  cisco_sdwan/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/network-device-monitoring, integration/cisco_sdwan

#17972 [PLINT-433] Add support for REST API metrics (apps and machines)
  fly_io/assets/configuration/spec.yaml
  fly_io/datadog_checks/fly_io/check.py
  fly_io/datadog_checks/fly_io/config_models/defaults.py
  fly_io/datadog_checks/fly_io/config_models/instance.py
  fly_io/datadog_checks/fly_io/constants.py
  fly_io/datadog_checks/fly_io/data/conf.yaml.example
  fly_io/metadata.csv
  fly_io/tests/common.py
  fly_io/tests/conftest.py
  fly_io/tests/docker/docker-compose.yaml
  fly_io/tests/docker/machines-api/Caddyfile
  fly_io/tests/docker/prometheus/Caddyfile
  fly_io/tests/fixtures/machines-api/GET/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-1/machines/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-1/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-2/machines/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-2/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-3/machines/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-3/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-4/machines/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-4/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/org_slug=test/response.json
  fly_io/tests/metrics.py
  fly_io/tests/test_e2e.py
  fly_io/tests/test_unit.py
Labels: documentation, team/agent-integrations, team/documentation, integration/fly_io

#17996 Fixed the heat endpoint for the Openstack Controller
  openstack_controller/changelog.d/17996.fixed
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/datadog_checks/openstack_controller/components/heat.py
  openstack_controller/tests/fixtures/POST/identity/v3/auth/tokens/1e6e233e637d4d55a50a62b63398ad15.json
  openstack_controller/tests/fixtures/POST/identity/v3/auth/tokens/6e39099cccde4f809b003d9e0dd09304.json
  openstack_controller/tests/fixtures/POST/identity/v3/auth/tokens/system.json
  openstack_controller/tests/test_unit_heat.py
Labels: integration/openstack_controller, team/agent-integrations, team/platform-integrations

#17757 kyverno setup
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  kyverno/CHANGELOG.md
  kyverno/README.md
  kyverno/assets/configuration/spec.yaml
  kyverno/assets/service_checks.json
  kyverno/changelog.d/17757.added
  kyverno/datadog_checks/__init__.py
  kyverno/datadog_checks/kyverno/__about__.py
  kyverno/datadog_checks/kyverno/__init__.py
  kyverno/datadog_checks/kyverno/check.py
  kyverno/datadog_checks/kyverno/config_models/__init__.py
  kyverno/datadog_checks/kyverno/config_models/defaults.py
  kyverno/datadog_checks/kyverno/config_models/instance.py
  kyverno/datadog_checks/kyverno/config_models/shared.py
  kyverno/datadog_checks/kyverno/config_models/validators.py
  kyverno/datadog_checks/kyverno/data/conf.yaml.example
  kyverno/datadog_checks/kyverno/metrics.py
  kyverno/hatch.toml
  kyverno/images/IMAGES_README.md
  kyverno/manifest.json
  kyverno/metadata.csv
  kyverno/pyproject.toml
  kyverno/tests/__init__.py
  kyverno/tests/common.py
  kyverno/tests/conftest.py
  kyverno/tests/fixtures/admission_controller.txt
  kyverno/tests/fixtures/background_controller.txt
  kyverno/tests/fixtures/cleanup_controller.txt
  kyverno/tests/fixtures/remap_labels.txt
  kyverno/tests/fixtures/reports_controller.txt
  kyverno/tests/kind/kyverno-policies_install.yaml
  kyverno/tests/kind/kyverno_install.yaml
  kyverno/tests/test_e2e.py
  kyverno/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kyverno, backport/7.56.x

#17995 Enable manual triggering of dependency build & resolution
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-delivery

#18002 Fix build-deps workflow yaml
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-delivery

#18001 Kyverno starting version should be 0.0.1
  kyverno/datadog_checks/kyverno/__about__.py
Labels: changelog/no-changelog, release, qa/skip-qa, team/agent-integrations, integration/kyverno, backport/7.56.x

#17997 [mongo] Properly handle the null value of waiting_for_latch in operation sampling
  mongo/changelog.d/17997.fixed
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/dbm/types.py
  mongo/tests/fixtures/$currentOp-standalone
  mongo/tests/results/opeartion-activities-mongos.json
  mongo/tests/results/opeartion-activities-standalone.json
  mongo/tests/results/operation-samples-mongos.json
  mongo/tests/results/operation-samples-standalone.json
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18005 Release v1 of kyverno
  .in-toto/tag.b9ca7eb3.link
  kyverno/CHANGELOG.md
  kyverno/changelog.d/17757.added
  kyverno/datadog_checks/kyverno/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kyverno

#18007 Port kyverno release to 7.56
  kyverno/CHANGELOG.md
  kyverno/changelog.d/17757.added
  kyverno/datadog_checks/kyverno/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kyverno

#18009 [DBMON-4267] Emit dead/live toast rows as gauge
  postgres/changelog.d/18009.fixed
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/metadata.csv
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18010 [SNMP] Remove invalid filters from dashboard
  snmp/assets/dashboards/ndm_troubleshooting.json
Labels: changelog/no-changelog, integration/snmp, team/agent-integrations, team/network-device-monitoring

#17998 Sy/istio assets
  istio/assets/dashboards/overview.json
  istio/assets/monitors/request_error_rate.json
  istio/assets/monitors/xds_push_error_rate.json
  istio/manifest.json
Labels: documentation, changelog/no-changelog, integration/istio, team/agent-integrations, team/documentation

#18011 add default monitor for wincrashdetect
  wincrashdetect/assets/monitors/windows_crash.json
  wincrashdetect/manifest.json
Labels: documentation, changelog/no-changelog, integration/wincrashdetect, team/agent-integrations, team/documentation

#18012 DOCS-8383 Argo Rollouts Edit
  argo_rollouts/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/argo_rollouts

#18014 Add tests for openmetrics counters
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_counter.py
Labels: changelog/no-changelog, base_package, team/agent-integrations

#17992 Remove SIT as code owners of checks downloader
  .github/CODEOWNERS
Labels: changelog/no-changelog, qa/skip-qa, team/agent-integrations

#18003 Allow pytest to return success when no tests are collected for flaky test suite
  .github/workflows/test-target.yml
  ddev/src/ddev/cli/test/__init__.py
Labels: changelog/no-changelog, dev/testing, dev/tooling, ddev, team/agent-integrations

#18015 Rename classes to avoid pytest warnings
  datadog_checks_base/tests/base/utils/db/test_util.py
  datadog_checks_base/tests/base/utils/test_tracking.py
Labels: changelog/no-changelog, base_package, team/agent-integrations, team/database-monitoring-agent

#17735 [NDM] Add NDM metadata support for Cisco ACI
  cisco_aci/assets/configuration/spec.yaml
  cisco_aci/changelog.d/17735.added
  cisco_aci/datadog_checks/cisco_aci/__init__.py
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/datadog_checks/cisco_aci/cisco.py
  cisco_aci/datadog_checks/cisco_aci/config_models/defaults.py
  cisco_aci/datadog_checks/cisco_aci/config_models/instance.py
  cisco_aci/datadog_checks/cisco_aci/data/conf.yaml.example
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/datadog_checks/cisco_aci/models.py
  cisco_aci/hatch.toml
  cisco_aci/tests/common.py
  cisco_aci/tests/fixtures/fabric/2569ee885cad13ed336e5b4c8bd6dab4.txt
  cisco_aci/tests/fixtures/fabric/2e82232a722241e59f27ac3742934e7e.txt
  cisco_aci/tests/fixtures/fabric/62cb899b6e7f6b81035914cfac47b915.txt
  cisco_aci/tests/fixtures/fabric/77987eb09f39a2abbc59e55aaa9d40ab.txt
  cisco_aci/tests/fixtures/fabric/79af98fe9c1069b329af3b4828712ddd.txt
  cisco_aci/tests/fixtures/fabric/7b06db4060591652e39b305410a03a2a.txt
  cisco_aci/tests/fixtures/fabric/9d167692ace22bc1013437072c55a641.txt
  cisco_aci/tests/fixtures/fabric/dace1ecad6f3d9a50eb8d4a15631ba88.txt
  cisco_aci/tests/fixtures/fabric/ded65ac48170a7a3d8914950607e4e18.txt
  cisco_aci/tests/fixtures/metadata.py
  cisco_aci/tests/test_fabric.py
  datadog_checks_base/changelog.d/17735.added
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: documentation, integration/cisco_aci, base_package, team/agent-integrations, team/network-device-monitoring, team/documentation

#17906 [LOGSC-1794] Change Logs assets file ownership to only Logs-backend
  .github/CODEOWNERS
Labels: changelog/no-changelog

#18021 Remove use of python from integration process signatures
  ray/manifest.json
  supervisord/manifest.json
Labels: documentation, changelog/no-changelog, integration/supervisord, qa/skip-qa, integration/ray, team/agent-integrations, team/documentation

#18018 appset metric fix
  argocd/changelog.d/18018.fixed
  argocd/datadog_checks/argocd/metrics.py
  argocd/metadata.csv
  argocd/tests/common.py
Labels: integration/argocd, team/agent-integrations

#18025 Release base check
  .in-toto/tag.b9ca7eb3.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/17735.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, base_package, team/agent-integrations

#18027 Add explanation to logs-only template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/README.md
Labels: changelog/no-changelog, dev/tooling, dev_package, team/agent-integrations, team/documentation

#18030 [datadog_cluster_agent] Add tagger and workloadmeta metrics
  datadog_cluster_agent/changelog.d/18030.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/metadata.csv
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
Labels: integration/datadog_cluster_agent, team/agent-integrations, team/container-integrations

#17980 Add process signatures for vLLM
  vllm/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/vllm

#18032 Enable public display for Traefik Mesh
  traefik_mesh/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/traefik_mesh

#17999 [PLINT-433] Add more machine and volume REST metrics
  fly_io/datadog_checks/fly_io/check.py
  fly_io/datadog_checks/fly_io/constants.py
  fly_io/metadata.csv
  fly_io/tests/docker/machines-api/Caddyfile
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-1/machines/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-1/volumes/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-2/volumes/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-3/volumes/response.json
  fly_io/tests/fixtures/machines-api/GET/v1/apps/example-app-4/volumes/response.json
  fly_io/tests/metrics.py
  fly_io/tests/test_unit.py
Labels: team/agent-integrations, team/platform-integrations, integration/fly_io

#17977 Modify the indents of yaml in process / README.md
  process/README.md
Labels: documentation, changelog/no-changelog, integration/process, mergequeue-status: removed, team/agent-integrations, team/windows-agent, team/documentation

#17984 Add Network Path integration metadata
  .github/workflows/config/labeler.yml
  network_path/CHANGELOG.md
  network_path/README.md
  network_path/assets/service_checks.json
  network_path/manifest.json
  network_path/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/network-device-monitoring, team/documentation, integration/network_path

#18035 Add network_path to codeowners
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-integrations

#18034 Remove macOS support
  network_path/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/network-device-monitoring, team/documentation, integration/network_path, team/Networks

#18024 [dbm] Handles group replication metrics for MySQL version < 8.0.2
  mysql/changelog.d/18024.fixed
  mysql/datadog_checks/mysql/const.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/queries.py
  mysql/tests/test_mysql.py
  mysql/tests/variables.py
Labels: integration/mysql, mergequeue-status: removed, team/agent-integrations, team/database-monitoring-agent

#18036 [NDM] [Cisco ACI] Add NDM as codeowners for Cisco ACI integration
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-integrations

#18044 [mongo] Continue coll/index stats collection if user is not authorized to perform aggregation
  mongo/changelog.d/18044.fixed
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/index_stats.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent, backport/7.56.x

#18043 Fix postgres extension settings collection
  postgres/changelog.d/18043.fixed
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/test_metadata.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18047 Improve log error for invalid ssl option in postgres config
  postgres/changelog.d/18047.added
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/conftest.py
  postgres/tests/test_metrics_cache.py
Labels: integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#18049 minor fix
  vault/assets/dashboards/vault_overview.json
Labels: changelog/no-changelog, integration/vault, team/agent-integrations, team/documentation

#18050 Sy/temporal fix
  temporal/changelog.d/18050.added
  temporal/datadog_checks/temporal/metrics.py
  temporal/metadata.csv
  temporal/tests/common.py
Labels: integration/temporal, team/agent-integrations

#18017 [NDM] [Cisco ACI] Add common NDM tags to metrics
  cisco_aci/changelog.d/18017.added
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/tests/fixtures/metadata.py
  cisco_aci/tests/test_fabric.py
Labels: integration/cisco_aci, team/agent-integrations, team/network-device-monitoring

#18052 [mongo] collect additional wiredtiger cache metrics
  mongo/changelog.d/18052.added
  mongo/datadog_checks/mongo/metrics.py
  mongo/metadata.csv
  mongo/tests/fixtures/serverStatus
  mongo/tests/results/metrics-serverStatus.json
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent

#18039 Show descriptions of templates in ddev create help
  datadog_checks_dev/changelog.d/18039.added
  datadog_checks_dev/datadog_checks/dev/tooling/commands/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/create.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/tile/README.md
Labels: dev/tooling, dev_package, team/agent-integrations, team/documentation

#17967 Add overview dashboard for vLLM
  vllm/assets/dashboards/overview.json
  vllm/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/vllm

#17981 [NDM] [Cisco ACI] Update metrics metadata
  cisco_aci/metadata.csv
Labels: changelog/no-changelog, integration/cisco_aci, team/agent-integrations, team/network-device-monitoring

#18061 [Release] Bumped mongo version to 6.7.1
  mongo/CHANGELOG.md
  mongo/changelog.d/18044.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18055 Update vault_overview.json
  vault/assets/dashboards/vault_overview.json
Labels: changelog/no-changelog, integration/vault, team/agent-integrations, team/documentation

#18062 Add logs pipeline for Fly.io
  .github/CODEOWNERS
  fly_io/assets/logs/fly.io_test.yaml
  fly_io/assets/logs/fly_io.yaml
Labels: changelog/no-changelog, team/agent-integrations, integration/fly_io

#18054 Sy/om type override
  datadog_checks_base/changelog.d/18054.added
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/transformers/counter.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_counter.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_transformers/test_type_override.py
Labels: base_package, team/agent-integrations, team/container-integrations

#18064 update cURL from 8.4.0 to 8.7.1
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
Labels: changelog/no-changelog, team/agent-integrations, team/agent-delivery

#18066 [NDM] Pin pysmi version for breaking generate traps DB tests
  datadog_checks_dev/changelog.d/18066.fixed
  datadog_checks_dev/pyproject.toml
Labels: dev_package, team/agent-integrations

#18068 Fix misspelled database name
  mongo/README.md
Labels: documentation, changelog/no-changelog, integration/mongo, team/agent-integrations, team/database-monitoring, team/documentation

#18067 [mongo] rename dbms from mongodb to mongo
  mongo/changelog.d/18067.fixed
  mongo/datadog_checks/mongo/dbm/operation_samples.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/results/opeartion-activities-mongos.json
  mongo/tests/results/opeartion-activities-standalone.json
  mongo/tests/results/operation-samples-mongos.json
  mongo/tests/results/operation-samples-standalone.json
  mongo/tests/test_integration.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent, backport/7.56.x

#18051 rename ootb dashboard
  snowflake/assets/dashboards/organization_metrics.json
  snowflake/assets/dashboards/snowflake.json
Labels: documentation, changelog/no-changelog, integration/snowflake, team/agent-integrations, team/documentation

#18063 Add validation for versions in __about__.py and CHANGELOG
  ddev/changelog.d/18063.added
  ddev/src/ddev/cli/validate/__init__.py
  ddev/src/ddev/cli/validate/version.py
  ddev/tests/cli/validate/test_version.py
Labels: ddev, team/agent-integrations

#18070 update cURL from 8.4.0 to 8.7.1 (#18064)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
Labels: changelog/no-changelog, team/agent-integrations, team/agent-delivery

#18075 Bump mongo to 7.6.2
  .in-toto/tag.b9ca7eb3.link
  mongo/CHANGELOG.md
  mongo/changelog.d/18067.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18076 [Release] Bumped mongo version to 6.7.2
  mongo/CHANGELOG.md
  mongo/changelog.d/18067.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#18073 update cURL from 8.4.0 to 8.7.1 (#18064)
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
Labels: changelog/no-changelog, team/agent-integrations, team/agent-build-and-releases

#18074 make windows crash detection docs public
  wincrashdetect/manifest.json
Labels: documentation, changelog/no-changelog, integration/wincrashdetect, team/agent-integrations, team/documentation

#18077 Start validating version in CI
  .github/workflows/run-validations.yml
  .github/workflows/validate.yml
  agent_metrics/CHANGELOG.md
  amazon_eks/CHANGELOG.md
  amazon_eks_blueprints/CHANGELOG.md
  azure_active_directory/CHANGELOG.md
  cisco_duo/CHANGELOG.md
  cisco_sdwan/CHANGELOG.md
  cisco_umbrella_dns/CHANGELOG.md
  consul_connect/CHANGELOG.md
  container/CHANGELOG.md
  containerd/CHANGELOG.md
  cri/CHANGELOG.md
  databricks/CHANGELOG.md
  datadog_operator/CHANGELOG.md
  ddev/src/ddev/cli/validate/version.py
  docker_daemon/CHANGELOG.md
  eks_anywhere/CHANGELOG.md
  gke/CHANGELOG.md
  go-metro/CHANGELOG.md
  helm/CHANGELOG.md
  iam_access_analyzer/CHANGELOG.md
  jmeter/CHANGELOG.md
  kubernetes/CHANGELOG.md
  kubernetes_state_core/CHANGELOG.md
  ntp/CHANGELOG.md
  nvidia_jetson/CHANGELOG.md
  oke/CHANGELOG.md
  oom_kill/CHANGELOG.md
  openai/CHANGELOG.md
  openshift/CHANGELOG.md
  otel/CHANGELOG.md
  pivotal_pks/CHANGELOG.md
  podman/CHANGELOG.md
  snmp_american_power_conversion/CHANGELOG.md
  snmp_arista/CHANGELOG.md
  snmp_aruba/CHANGELOG.md
  snmp_chatsworth_products/CHANGELOG.md
  snmp_check_point/CHANGELOG.md
  snmp_cisco/CHANGELOG.md
  snmp_dell/CHANGELOG.md
  snmp_f5/CHANGELOG.md
  snmp_fortinet/CHANGELOG.md
  snmp_hewlett_packard_enterprise/CHANGELOG.md
  snmp_juniper/CHANGELOG.md
  snmp_netapp/CHANGELOG.md
  systemd/CHANGELOG.md
  tcp_queue_length/CHANGELOG.md
  terraform/CHANGELOG.md
  winkmem/CHANGELOG.md
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, integration/agent_metrics, integration/docker_daemon, integration/go-metro, integration/kubernetes, integration/ntp, integration/openshift, integration/pivotal_pks, integration/cri, integration/systemd, integration/containerd, integration/amazon_eks, integration/tcp_queue_length, integration/oom_kill, integration/azure_active_directory, qa/skip-qa, integration/nvidia_jetson, integration/snmp_cisco, integration/snmp_juniper, integration/snmp_dell, integration/otel, integration/databricks, integration/terraform, integration/gke, integration/jmeter, integration/consul_connect, integration/snmp_f5, integration/container, integration/eks_anywhere, integration/oke, integration/winkmem, integration/helm, integration/amazon_eks_blueprints, integration/podman, integration/kubernetes_state_core, integration/iam_access_analyzer, ddev, integration/snmp_american_power_conversion, integration/snmp_arista, integration/snmp_chatsworth_products, integration/snmp_check_point, integration/snmp_fortinet, integration/snmp_hewlett_packard_enterprise, integration/snmp_netapp, integration/snmp_aruba, integration/datadog_operator, integration/openai, team/agent-integrations, team/container-integrations, team/container-ecosystems, team/network-device-monitoring, team/agent-platform, team/opentelemetry, team/ml-observability, team/documentation, team/saas-integrations, integration/cisco_duo, integration/cisco_umbrella_dns, integration/cisco_sdwan

#18041 [AGENT-11701] Fix TeamCity Integration
  teamcity/changelog.d/18041.fixed
  teamcity/datadog_checks/teamcity/teamcity_rest.py
Labels: integration/teamcity, team/agent-integrations

#18088 Sy/kyverno patch
  kyverno/changelog.d/18088.fixed
  kyverno/datadog_checks/kyverno/metrics.py
  kyverno/tests/common.py
Labels: team/agent-integrations, integration/kyverno, backport/7.56.x

#18094 [Release] Bumped kyverno version to 1.0.1
  .in-toto/tag.b9ca7eb3.link
  kyverno/CHANGELOG.md
  kyverno/changelog.d/18088.fixed
  kyverno/datadog_checks/kyverno/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kyverno

#17864 [SIEMINT-42] DDS: Mimecast: Crawler Integration Without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  mimecast/CHANGELOG.md
  mimecast/README.md
  mimecast/assets/service_checks.json
  mimecast/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation

#18097 [mysql] revert default read_timeout
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/18097.fixed
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/tests/test_connection.py
Labels: documentation, integration/mysql, team/agent-integrations, team/database-monitoring-agent, backport/7.56.x

#17993 Add global custom queries feature for postgres
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/17993.added
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/config_models/shared.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/tests/test_custom_metrics.py
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18095 [Release] Bumped kyverno version to 1.0.1
  kyverno/CHANGELOG.md
  kyverno/changelog.d/18088.fixed
  kyverno/datadog_checks/kyverno/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kyverno

#18092 process signature
  kyverno/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/kyverno

#17916 Add schema collection to mysql
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/17916.added
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/databases_data.py
  mysql/datadog_checks/mysql/metadata.py
  mysql/datadog_checks/mysql/queries.py
  mysql/datadog_checks/mysql/util.py
  mysql/hatch.toml
  mysql/tests/conftest.py
  mysql/tests/test_metadata.py
  mysql/tests/test_unit.py
Labels: documentation, integration/mysql, team/agent-integrations, team/database-monitoring-agent

#18102 [NDM] Update Cisco SD-WAN monitor tags
  cisco_sdwan/assets/monitors/device_reboot.json
  cisco_sdwan/assets/monitors/device_unreachable.json
  cisco_sdwan/assets/monitors/tunnel_down.json
Labels: changelog/no-changelog, team/agent-integrations, team/network-device-monitoring, integration/cisco_sdwan

#18103 SDBM-1074: Update sqlserver_db_not_sync.json
  sqlserver/assets/monitors/sqlserver_db_not_sync.json
Labels: changelog/no-changelog, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#18096 Add Further Reading links
  argo_rollouts/README.md
  argo_workflows/README.md
  argocd/README.md
  fluxcd/README.md
  tekton/README.md
Labels: documentation, changelog/no-changelog, integration/argocd, team/agent-integrations, team/documentation, integration/tekton, integration/fluxcd, integration/argo_workflows, integration/argo_rollouts

#18089 recommended monitor
  kyverno/assets/monitors/controller_drops.json
  kyverno/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/kyverno

#18013 [DOCS-7701] readme improvements for Istio and Aerospike
  aerospike/README.md
  istio/README.md
Labels: documentation, changelog/no-changelog, integration/istio, integration/aerospike, team/agent-integrations, team/documentation

#18100 saved views
  kyverno/assets/saved_views/error_logs_overview.json
  kyverno/assets/saved_views/logs_overview.json
  kyverno/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/kyverno

#18110 Update README.md
  argo_rollouts/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/argo_rollouts

#18105 Initial feedback for vLLM dashboard
  vllm/assets/dashboards/overview.json
  vllm/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/vllm

#18113 Release for rc7 of 7.56
  .in-toto/tag.b9ca7eb3.link
  mysql/CHANGELOG.md
  mysql/changelog.d/18097.fixed
  mysql/datadog_checks/mysql/__about__.py
  openstack_controller/CHANGELOG.md
  openstack_controller/changelog.d/17996.fixed
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mysql, integration/openstack_controller, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/platform-integrations, team/documentation

#18114 Port releases for rc7 of 7.56 to master
  mysql/CHANGELOG.md
  mysql/changelog.d/18097.fixed
  mysql/datadog_checks/mysql/__about__.py
  openstack_controller/CHANGELOG.md
  openstack_controller/changelog.d/17996.fixed
  openstack_controller/datadog_checks/openstack_controller/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/mysql, integration/openstack_controller, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/platform-integrations, team/documentation

#18115 Update README.md
  ibm_db2/README.md
Labels: documentation, changelog/no-changelog, integration/ibm_db2, team/agent-integrations, team/documentation

#17866 [SIEMINT-40] DDS: Sophos Central Cloud: Crawler Integration Without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  sophos_central_cloud/CHANGELOG.md
  sophos_central_cloud/README.md
  sophos_central_cloud/assets/service_checks.json
  sophos_central_cloud/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation

#18116 Update README.md
  argo_rollouts/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/argo_rollouts

#18031 Update ECS Fargate about potential billing impact related to setting DD_HOSTNAME
  ecs_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/ecs_fargate, team/container-integrations

#18124 Fix integration dashboard json file name (cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_threat_detection.json)
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_threat_detection.json
  cisco_secure_firewall/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/cisco_secure_firewall

#18106 Readd the API Key installation instructions
  openai/README.md
Labels: documentation, changelog/no-changelog, integration/openai, team/agent-integrations, team/ml-observability, team/documentation

#18107 DDS: Palo Alto Cortex XDR: Crawler Integration Without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  palo_alto_cortex_xdr/CHANGELOG.md
  palo_alto_cortex_xdr/README.md
  palo_alto_cortex_xdr/assets/service_checks.json
  palo_alto_cortex_xdr/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation

#18109 remove angle braces to fix integration sync issues
  mimecast/README.md
Labels: documentation, changelog/no-changelog, mergequeue-status: removed, team/documentation, team/saas-integrations, integration/mimecast

#18099 [NDM] [Cisco ACI] Add config flag for enabling sending metadata to NDM
  cisco_aci/assets/configuration/spec.yaml
  cisco_aci/changelog.d/18099.added
  cisco_aci/datadog_checks/cisco_aci/config_models/defaults.py
  cisco_aci/datadog_checks/cisco_aci/config_models/instance.py
  cisco_aci/datadog_checks/cisco_aci/data/conf.yaml.example
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/tests/common.py
Labels: documentation, integration/cisco_aci, team/agent-integrations, team/network-device-monitoring

#18125 Link to DJM from Databricks Documentation
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks, team/agent-integrations, team/documentation

#18129 Add blogs into Databricks and Spark integrations
  databricks/manifest.json
  spark/manifest.json
Labels: documentation, changelog/no-changelog, integration/spark, integration/databricks, team/agent-integrations, team/documentation, team/saas-integrations

#18135 update Teleport overview and tile
  teleport/README.md
  teleport/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/platform-integrations, team/documentation, integration/teleport

#18138 Fix formatting of the DJM callout
  databricks/README.md
Labels: documentation, changelog/no-changelog, integration/databricks, team/agent-integrations, team/documentation

#18111 Sy/kyverno readme
  kyverno/README.md
  kyverno/assets/configuration/spec.yaml
  kyverno/datadog_checks/kyverno/config_models/defaults.py
  kyverno/datadog_checks/kyverno/config_models/instance.py
  kyverno/datadog_checks/kyverno/config_models/shared.py
  kyverno/datadog_checks/kyverno/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/kyverno

#18137 Separate parsing crashes before and while we loop over metric items
  datadog_checks_base/datadog_checks/base/checks/libs/prometheus.py
Labels: changelog/no-changelog, base_package, team/agent-integrations

#18101 Sy/kyverno metadata
  kyverno/manifest.json
  kyverno/metadata.csv
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/kyverno

#18133 kyverno ootb dashboard
  kyverno/assets/dashboards/overview.json
  kyverno/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/kyverno

#18147 add joule metric units
  ddev/changelog.d/18147.added
  ddev/src/ddev/cli/validate/metadata_utils.py
Labels: ddev, team/agent-integrations

#18148 add missing offering tags
  cisco_secure_endpoint/manifest.json
  mimecast/manifest.json
  network_path/manifest.json
  palo_alto_cortex_xdr/manifest.json
  sophos_central_cloud/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/network-device-monitoring, team/documentation, team/saas-integrations, integration/network_path, team/Networks, integration/mimecast, integration/cisco_secure_endpoint, integration/palo_alto_cortex_xdr, integration/sophos_central_cloud

#18149 fix kyverno metric
  kyverno/changelog.d/18149.fixed
  kyverno/datadog_checks/kyverno/metrics.py
  kyverno/metadata.csv
  kyverno/tests/common.py
  kyverno/tests/test_unit.py
Labels: team/agent-integrations, integration/kyverno, backport/7.56.x

#18139 Add missing semicolon to Mysql command
  mysql/README.md
Labels: documentation, changelog/no-changelog, integration/mysql, mergequeue-status: waiting, team/agent-integrations, team/database-monitoring, team/documentation

#18143 Remove schema collection
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/mysql, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#18150 Change flaky test marker to work with pytest marker selection
  datadog_checks_base/tests/base/utils/http/test_http.py
  datadog_checks_downloader/tests/test_downloader.py
  gitlab/tests/test_e2e.py
  postgres/tests/test_deadlock.py
  postgres/tests/test_logical_replication.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
  postgres/tests/test_relations.py
Labels: changelog/no-changelog, integration/gitlab, integration/postgres, base_package, downloader, team/agent-integrations, team/database-monitoring-agent

#18152 backport
  kyverno/changelog.d/18149.fixed
  kyverno/datadog_checks/kyverno/metrics.py
  kyverno/metadata.csv
  kyverno/tests/common.py
  kyverno/tests/test_unit.py
Labels: team/agent-integrations, integration/kyverno

#18162 Release integrations for rc8
  .in-toto/tag.b9ca7eb3.link
  kyverno/CHANGELOG.md
  kyverno/changelog.d/18149.fixed
  kyverno/datadog_checks/kyverno/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/18009.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, integration/kyverno

#18163 Port releases to master
  kyverno/CHANGELOG.md
  kyverno/changelog.d/18149.fixed
  kyverno/datadog_checks/kyverno/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/18009.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, integration/kyverno

#17787 Integration changes for Sqlserver agent jobs
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/17787.added
  sqlserver/datadog_checks/sqlserver/agent_history.py
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/database_metrics/__init__.py
  sqlserver/datadog_checks/sqlserver/database_metrics/base.py
  sqlserver/datadog_checks/sqlserver/database_metrics/database_agent_metrics.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/metadata.csv
  sqlserver/tests/common.py
  sqlserver/tests/compose-ha/docker-compose.yaml
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-ha/sql/aoag_secondary.sql
  sqlserver/tests/compose-windows/docker-compose.yaml
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/entrypoint.sh
  sqlserver/tests/compose/setup.sh
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_agent_jobs.py
  sqlserver/tests/test_integration.py
Labels: documentation, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#18160 Refactor git repository abstraction
  ddev/src/ddev/cli/release/changelog/fix.py
  ddev/src/ddev/cli/release/changelog/new.py
  ddev/src/ddev/cli/status/__init__.py
  ddev/src/ddev/repo/core.py
  ddev/src/ddev/utils/git.py
  ddev/tests/cli/release/agent/test_changelog.py
  ddev/tests/cli/release/branch/test_create.py
  ddev/tests/cli/release/test_changelog.py
  ddev/tests/helpers/api.py
  ddev/tests/utils/test_git.py
Labels: changelog/no-changelog, ddev, team/agent-integrations

#18151 Add missing category tag
  datadog_operator/manifest.json
Labels: documentation, changelog/no-changelog, integration/datadog_operator, team/agent-integrations, team/container-ecosystems

#18144 Remove schema collection dependency on relations configuration
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/18144.fixed
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_discovery.py
  postgres/tests/test_metadata.py
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18157 Add DJM callout to Spark documentation
  spark/README.md
Labels: documentation, changelog/no-changelog, integration/spark, team/agent-integrations, team/documentation

#18145 Allow filtering of schema collection in agent
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/18145.added
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/test_metadata.py
  postgres/tests/test_replication_slot.py
Labels: documentation, integration/postgres, team/agent-integrations, team/database-monitoring-agent

#18165 Quick fix to Argo Workflows dashboard
  argo_workflows/assets/dashboards/argo_workflows.json
Labels: changelog/no-changelog, team/agent-integrations, team/documentation, integration/argo_workflows

#18164 Tag integrations with event management
  oom_kill/manifest.json
  prometheus/manifest.json
Labels: documentation, changelog/no-changelog, integration/prometheus, integration/oom_kill, team/agent-integrations, team/container-integrations, team/documentation
