Repository DataDog/integrations-core, pull requests merged in 2024-03, with the labels that each got.

#17033 Finalize Agent 7.51.1 release
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
  sqlserver/CHANGELOG.md
Labels: documentation, changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring, team/documentation

#17034 Cache python depedencies to speed up docs job
  .github/workflows/docs.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#16993 Only upload new builds of an existing package version on a package mismatch
  .builders/test_dependencies.txt
  .builders/tests/__init__.py
  .builders/tests/test_upload.py
  .builders/upload.py
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17038 [ECOS-1235] Add logs-backend to CODEOWNERS of assets/logs files
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-integrations

#17039 Remove logs assets temporarily.
  cisco_umbrella_dns/assets/logs/cisco-umbrella-dns.yaml
  cisco_umbrella_dns/assets/logs/cisco-umbrella-dns_tests.yaml
Labels: changelog/no-changelog, team/documentation, team/saas-integrations, integration/cisco_umbrella_dns, team/logs-backend

#17042 Pin pytest to fix `flaky` issues
  datadog_checks_dev/changelog.d/17042.fixed
  datadog_checks_dev/pyproject.toml
Labels: dev_package, team/agent-integrations

#17043 Only run the `docs` job when needed on PRs
  .github/workflows/docs.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17041 Mark some metrics optional
  activemq/tests/common.py
  activemq/tests/test_check.py
Labels: changelog/no-changelog, integration/activemq, team/agent-integrations

#16996 [redisdb] Check existence of total_commands_processed
  redisdb/changelog.d/16996.fixed
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/tests/test_unit.py
Labels: integration/redisdb, mergequeue-status: removed, team/agent-integrations

#17018 [PLINT-302] Report Teleport Proxy metrics
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  teleport/datadog_checks/teleport/check.py
  teleport/datadog_checks/teleport/config_models/__init__.py
  teleport/datadog_checks/teleport/config_models/defaults.py
  teleport/datadog_checks/teleport/config_models/instance.py
  teleport/datadog_checks/teleport/config_models/shared.py
  teleport/datadog_checks/teleport/data/conf.yaml.example
  teleport/datadog_checks/teleport/metrics.py
  teleport/tests/docker/docker-compose.yaml
  teleport/tests/fixtures/metrics.txt
  teleport/tests/test_common.py
  teleport/tests/test_e2e.py
  teleport/tests/test_proxy.py
Labels: changelog/no-changelog

#17045 Add `linux_aarch64` as pattern for arm64 linux lockfile resolution
  .builders/lock.py
Labels: changelog/no-changelog, team/agent-integrations

#17052 Add tag information to postgres metrics
  postgres/metadata.csv
Labels: changelog/no-changelog, integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#17036 Ensure all wheels that we build have a platform tag
  .builders/scripts/repair_wheels.py
Labels: changelog/no-changelog, team/agent-integrations

#17046 Attempt getting protocol version before certificate
  tls/changelog.d/17046.fixed
  tls/datadog_checks/tls/tls_remote.py
  tls/tests/test_remote.py
Labels: integration/tls, team/agent-integrations

#17055 Fix the labeler config for releases
  .github/workflows/config/labeler.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17047 Take compatibility tags into account when comparing packages to upload
  .builders/tests/test_upload.py
  .builders/upload.py
Labels: changelog/no-changelog, team/agent-integrations

#17053 [Release] Bumped redisdb version to 5.3.1
  .in-toto/tag.05916999.link
  redisdb/CHANGELOG.md
  redisdb/changelog.d/16996.fixed
  redisdb/datadog_checks/redisdb/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/redisdb, release, team/agent-integrations, team/documentation

#17056 [LOGSC-1671] Update zeek integration to set service in tests
  zeek/assets/logs/zeek_tests.yaml
Labels: changelog/no-changelog, team/agent-integrations, team/documentation, integration/zeek, team/logs-backend

#17061 Document the `metric_prefix` option for custom queries
  clickhouse/assets/configuration/spec.yaml
  clickhouse/changelog.d/17061.fixed
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  snowflake/assets/configuration/spec.yaml
  snowflake/changelog.d/17061.fixed
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  vertica/assets/configuration/spec.yaml
  vertica/changelog.d/17061.fixed
  vertica/datadog_checks/vertica/data/conf.yaml.example
Labels: documentation, integration/vertica, integration/clickhouse, integration/snowflake, team/agent-integrations, team/documentation

#17066 Print the info logs in the correct order in the `validate models -s` command
  datadog_checks_dev/changelog.d/17066.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/models.py
Labels: dev/tooling, dev_package, team/agent-integrations

#17050 [PLINT-303] Report Teleport Auth Service and Backends metrics
  teleport/datadog_checks/teleport/check.py
  teleport/datadog_checks/teleport/metrics.py
  teleport/tests/fixtures/metrics.txt
  teleport/tests/test_auth.py
  teleport/tests/test_common.py
  teleport/tests/test_integration.py
  teleport/tests/test_proxy.py
Labels: documentation, dev/testing, dev/tooling, team/agent-integrations, team/platform-integrations, team/documentation, integration/teleport

#17068 Remove tox references
  ddev/changelog.d/17068.fixed
  ddev/src/ddev/integration/core.py
  ddev/tests/repo/test_core.py
Labels: ddev, team/agent-integrations

#17049 Streamline aarch64 dependency build.
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-aarch64/build_script.sh
Labels: changelog/no-changelog, integration/ibm_mq, integration/aerospike, dependencies, integration/ibm_ace, base_package, team/agent-integrations

#17074 Add a pre-commit hook to validate service checks
  .pre-commit-config.yaml
Labels: changelog/no-changelog, team/agent-integrations

#17071 Add utility function to assert service checks
  datadog_checks_dev/changelog.d/17071.fixed
  datadog_checks_dev/datadog_checks/dev/utils.py
Labels: dev_package, team/agent-integrations

#17080 Fix changelog file
  datadog_checks_dev/changelog.d/17071.added
Labels: changelog/no-changelog, dev_package, team/agent-integrations

#17063 [SDBM-857] skip sqlserver.latches.latch_wait_time metric on sqlserver version 2014 and lower
  sqlserver/changelog.d/17063.fixed
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_metrics.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#17082 Sort the metadata.csv file
  cockroachdb/metadata.csv
Labels: changelog/no-changelog, integration/cockroachdb, team/agent-integrations

#17085 [DBMON-3742] Update docs to include fixed versions for issue.
  sqlserver/README.md
Labels: documentation, changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring, team/documentation

#17069 Adding further information regarding `include_units`
  journald/README.md
Labels: documentation, changelog/no-changelog, integration/journald, team/agent-integrations, team/documentation

#17065 Update the configuration to include the `metric_prefix` option
  clickhouse/changelog.d/17065.fixed
  clickhouse/datadog_checks/clickhouse/config_models/instance.py
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  datadog_checks_dev/changelog.d/17065.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/db.yaml
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/17065.fixed
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  oracle/changelog.d/17065.fixed
  oracle/datadog_checks/oracle/config_models/instance.py
  oracle/datadog_checks/oracle/data/conf.yaml.example
  sap_hana/changelog.d/17065.fixed
  sap_hana/datadog_checks/sap_hana/config_models/instance.py
  sap_hana/datadog_checks/sap_hana/data/conf.yaml.example
  singlestore/changelog.d/17065.fixed
  singlestore/datadog_checks/singlestore/config_models/instance.py
  singlestore/datadog_checks/singlestore/data/conf.yaml.example
  snowflake/changelog.d/17065.fixed
  snowflake/datadog_checks/snowflake/config_models/instance.py
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  sqlserver/changelog.d/17065.fixed
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  teradata/changelog.d/17065.fixed
  teradata/datadog_checks/teradata/config_models/instance.py
  teradata/datadog_checks/teradata/data/conf.yaml.example
  vertica/changelog.d/17065.fixed
  vertica/datadog_checks/vertica/config_models/instance.py
  vertica/datadog_checks/vertica/data/conf.yaml.example
  voltdb/changelog.d/17065.fixed
  voltdb/datadog_checks/voltdb/config_models/instance.py
  voltdb/datadog_checks/voltdb/data/conf.yaml.example
Labels: documentation, dev/tooling, integration/mysql, integration/oracle, integration/sqlserver, integration/vertica, integration/sap_hana, integration/clickhouse, integration/snowflake, integration/voltdb, integration/singlestore, integration/teradata, dev_package, team/agent-integrations, team/database-monitoring-agent, team/documentation

#16665 Add the Tekton integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  tekton/CHANGELOG.md
  tekton/README.md
  tekton/assets/configuration/spec.yaml
  tekton/assets/service_checks.json
  tekton/changelog.d/16665.added
  tekton/datadog_checks/__init__.py
  tekton/datadog_checks/tekton/__about__.py
  tekton/datadog_checks/tekton/__init__.py
  tekton/datadog_checks/tekton/check.py
  tekton/datadog_checks/tekton/config_models/__init__.py
  tekton/datadog_checks/tekton/config_models/defaults.py
  tekton/datadog_checks/tekton/config_models/instance.py
  tekton/datadog_checks/tekton/config_models/shared.py
  tekton/datadog_checks/tekton/config_models/validators.py
  tekton/datadog_checks/tekton/data/conf.yaml.example
  tekton/datadog_checks/tekton/metrics.py
  tekton/hatch.toml
  tekton/manifest.json
  tekton/metadata.csv
  tekton/pyproject.toml
  tekton/tests/__init__.py
  tekton/tests/common.py
  tekton/tests/conftest.py
  tekton/tests/fixtures/pipelines.txt
  tekton/tests/fixtures/triggers.txt
  tekton/tests/kind/tekton-operator.yaml
  tekton/tests/kind/tekton-pipeline-hello.yaml
  tekton/tests/kind/tekton-pipeline-sleep.yaml
  tekton/tests/kind/tekton-pipelinerun-hello.yaml
  tekton/tests/kind/tekton-pipelinerun-sleep.yaml
  tekton/tests/kind/tekton-task-hello.yaml
  tekton/tests/kind/tekton-task-sleep.yaml
  tekton/tests/kind/tekton-taskrun-hello.yaml
  tekton/tests/kind/tekton-taskrun-sleep.yaml
  tekton/tests/test_e2e.py
  tekton/tests/test_unit.py
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, release, team/agent-integrations, team/documentation, integration/tekton

#17077 Refactor the tests
  cockroachdb/tests/common.py
  cockroachdb/tests/conftest.py
  cockroachdb/tests/legacy/__init__.py
  cockroachdb/tests/legacy/common.py
  cockroachdb/tests/legacy/test_e2e.py
  cockroachdb/tests/legacy/test_integration.py
  cockroachdb/tests/test_e2e.py
  cockroachdb/tests/test_integration.py
  cockroachdb/tests/test_unit.py
  cockroachdb/tests/utils.py
Labels: changelog/no-changelog, integration/cockroachdb, team/agent-integrations

#17078 Add a test environment with the latest version
  cockroachdb/hatch.toml
  cockroachdb/tests/docker/docker-compose.yaml
Labels: changelog/no-changelog, integration/cockroachdb, team/agent-integrations

#17073 Upgrade x86_64 build target for dependencies to manylinux2014
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/linux-x86_64/build_script.sh
  .builders/patches/.gitkeep
  .builders/patches/pydantic-core-for-manylinux1.patch
Labels: changelog/no-changelog, team/agent-integrations

#17072 Fix matching built wheels in uploading logic
  .builders/tests/test_upload.py
  .builders/upload.py
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17054 Bump cryptography and orjson
  cisco_aci/changelog.d/17054.security
  cisco_aci/pyproject.toml
  datadog_checks_base/changelog.d/17054.security
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  http_check/changelog.d/17054.security
  http_check/pyproject.toml
  mysql/changelog.d/17054.security
  mysql/pyproject.toml
  tls/changelog.d/17054.security
  tls/pyproject.toml
Labels: integration/http_check, integration/mysql, integration/cisco_aci, integration/tls, dependencies, base_package, team/agent-integrations, team/database-monitoring-agent, backport/7.52.x

#17095 Fix an import
  datadog_checks_downloader/tests/test_downloader.py
Labels: changelog/no-changelog, downloader, team/agent-integrations, team/software-integrity-and-trust

#17094 Port #17093 to master
  cisco_aci/CHANGELOG.md
  cisco_aci/changelog.d/17054.security
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/17054.security
  datadog_checks_base/datadog_checks/base/__about__.py
  http_check/CHANGELOG.md
  http_check/changelog.d/17054.security
  http_check/datadog_checks/http_check/__about__.py
  mysql/CHANGELOG.md
  mysql/changelog.d/17054.security
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
  tls/CHANGELOG.md
  tls/changelog.d/17054.security
  tls/datadog_checks/tls/__about__.py
Labels: documentation, integration/http_check, integration/mysql, integration/cisco_aci, integration/tls, release, base_package, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#17087 [PLINT-323] Collecting a new vSphere metric: cpu.usage.vcpus.avg
  vsphere/changelog.d/17087.added
  vsphere/datadog_checks/vsphere/metrics.py
  vsphere/metadata.csv
  vsphere/tests/test_unit.py
Labels: integration/vsphere, team/agent-integrations, team/platform-integrations

#17102 update process signature
  weaviate/manifest.json
Labels: documentation, changelog/no-changelog, integration/weaviate, team/agent-integrations, team/documentation

#17104 Update README.md
  karpenter/README.md
Labels: documentation, changelog/no-changelog, integration/karpenter, team/agent-integrations, team/documentation

#17099 bump snowflake
  datadog_checks_base/changelog.d/17099.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  snowflake/changelog.d/17099.added
  snowflake/pyproject.toml
Labels: dependencies, integration/snowflake, base_package, team/agent-integrations

#17079 Collect changefeed metrics
  cockroachdb/changelog.d/17079.added
  cockroachdb/datadog_checks/cockroachdb/check.py
  cockroachdb/datadog_checks/cockroachdb/metrics.py
  cockroachdb/metadata.csv
  cockroachdb/tests/common.py
  cockroachdb/tests/fixtures/changefeed_metrics.txt
  cockroachdb/tests/test_unit.py
Labels: integration/cockroachdb, team/agent-integrations

#17107 fix: Corrected spelling error in Kafka Connect Metrics
  confluent_platform/changelog.d/17107.fixed
  confluent_platform/datadog_checks/confluent_platform/data/metrics.yaml
Labels: integration/confluent_platform, team/agent-integrations

#17106 Release snowflake and the base check
  .in-toto/tag.05916999.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/17099.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/changelog.d/17099.added
  snowflake/datadog_checks/snowflake/__about__.py
Labels: documentation, integration/snowflake, base_package, team/agent-integrations, team/documentation

#17060 Allow ddev to bump cryptography, orjson and pydantic
  .ddev/config.toml
Labels: changelog/no-changelog, team/agent-integrations

#17108 Release snowflake and the base check (#17106)
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Labels: documentation, changelog/no-changelog, release, integration/snowflake, base_package, team/agent-integrations, team/documentation

#17112 Revert "Bump psutil version to 5.9.7 (#16547)"
  LICENSE-3rdparty.csv
  btrfs/changelog.d/17112.added
  btrfs/pyproject.toml
  datadog_checks_base/changelog.d/17112.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  disk/changelog.d/17112.added
  disk/pyproject.toml
  gunicorn/changelog.d/17112.added
  gunicorn/pyproject.toml
  ibm_mq/changelog.d/17112.added
  ibm_mq/pyproject.toml
  network/changelog.d/17112.added
  network/pyproject.toml
  process/changelog.d/17112.added
  process/pyproject.toml
  system_core/changelog.d/17112.added
  system_core/pyproject.toml
  system_swap/changelog.d/17112.added
  system_swap/pyproject.toml
Labels: integration/btrfs, integration/disk, integration/gunicorn, integration/network, integration/process, integration/system_core, integration/system_swap, integration/ibm_mq, dependencies, base_package, team/agent-integrations, team/windows-agent

#17115 florentclarret/7 52 release psutil
  .in-toto/tag.05916999.link
  btrfs/CHANGELOG.md
  btrfs/changelog.d/17112.added
  btrfs/datadog_checks/btrfs/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/17112.added
  datadog_checks_base/datadog_checks/base/__about__.py
  disk/CHANGELOG.md
  disk/changelog.d/17112.added
  disk/datadog_checks/disk/__about__.py
  gunicorn/CHANGELOG.md
  gunicorn/changelog.d/17112.added
  gunicorn/datadog_checks/gunicorn/__about__.py
  ibm_mq/CHANGELOG.md
  ibm_mq/changelog.d/17112.added
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  network/CHANGELOG.md
  network/changelog.d/17112.added
  network/datadog_checks/network/__about__.py
  process/CHANGELOG.md
  process/changelog.d/17112.added
  process/datadog_checks/process/__about__.py
  requirements-agent-release.txt
  system_core/CHANGELOG.md
  system_core/changelog.d/17112.added
  system_core/datadog_checks/system_core/__about__.py
  system_swap/CHANGELOG.md
  system_swap/changelog.d/17112.added
  system_swap/datadog_checks/system_swap/__about__.py
Labels: documentation, integration/btrfs, integration/disk, integration/gunicorn, integration/network, integration/process, integration/system_core, integration/system_swap, integration/ibm_mq, base_package, team/agent-integrations, team/windows-agent, team/documentation

#16903 vshpere: add `ssl_cafile` as a new config
  vsphere/assets/configuration/spec.yaml
  vsphere/changelog.d/16903.fixed
  vsphere/datadog_checks/vsphere/api.py
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/config_models/instance.py
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
  vsphere/tests/test_api.py
Labels: documentation, integration/vsphere, team/agent-integrations, team/platform-integrations

#17029 [DBMON-2609] use digest_text to compute query signature for collected activities
  mysql/changelog.d/17029.fixed
  mysql/datadog_checks/mysql/activity.py
  mysql/tests/compose/mysql.conf
  mysql/tests/test_query_activity.py
Labels: integration/mysql, team/agent-integrations, team/database-monitoring-agent

#17100 [PLINT-246] Add pagination support for loadbalancers
  openstack_controller/changelog.d/16930.added
  openstack_controller/changelog.d/17026.added
  openstack_controller/changelog.d/17100.added
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/tests/config/openstack_config_updated.yaml
  openstack_controller/tests/conftest.py
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/loadbalancers/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1/marker=4bb7bfb1-83c2-45e8-b0e1-ed3022329115/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/loadbalancers/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/loadbalancers/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/loadbalancers/project_id=6e39099cccde4f809b003d9e0dd09304/limit=1/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/loadbalancers/project_id=6e39099cccde4f809b003d9e0dd09304/limit=1000/response.json
  openstack_controller/tests/test_unit_octavia.py
Labels: changelog/no-changelog, integration/openstack_controller, team/agent-integrations, team/platform-integrations

#17103 Update default OTel Collector dashboard with telemetry source tag
  otel/assets/dashboards/otel_collector_metrics_dashboard.json
Labels: changelog/no-changelog, integration/otel, team/agent-integrations, team/opentelemetry

#17119 Release integrations with psutil
  btrfs/CHANGELOG.md
  btrfs/changelog.d/17112.added
  btrfs/datadog_checks/btrfs/__about__.py
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/17112.added
  datadog_checks_base/datadog_checks/base/__about__.py
  disk/CHANGELOG.md
  disk/changelog.d/17112.added
  disk/datadog_checks/disk/__about__.py
  gunicorn/CHANGELOG.md
  gunicorn/changelog.d/17112.added
  gunicorn/datadog_checks/gunicorn/__about__.py
  ibm_mq/CHANGELOG.md
  ibm_mq/changelog.d/17112.added
  ibm_mq/datadog_checks/ibm_mq/__about__.py
  network/CHANGELOG.md
  network/changelog.d/17112.added
  network/datadog_checks/network/__about__.py
  process/CHANGELOG.md
  process/changelog.d/17112.added
  process/datadog_checks/process/__about__.py
  requirements-agent-release.txt
  system_core/CHANGELOG.md
  system_core/changelog.d/17112.added
  system_core/datadog_checks/system_core/__about__.py
  system_swap/CHANGELOG.md
  system_swap/changelog.d/17112.added
  system_swap/datadog_checks/system_swap/__about__.py
Labels: documentation, integration/btrfs, integration/disk, integration/gunicorn, integration/network, integration/process, integration/system_core, integration/system_swap, integration/ibm_mq, release, base_package, team/agent-integrations, team/windows-agent, team/documentation

#17133 Add a pre-commit hook to validate the labeler config
  .pre-commit-config.yaml
Labels: changelog/no-changelog, team/agent-integrations

#17132 Automatically apply the `qa/skip-qa` to some PRs
  .github/workflows/config/labeler.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17129 e2e test focuses on whether we can connect to gitlab instance
  gitlab_runner/tests/test_e2e.py
Labels: changelog/no-changelog, integration/gitlab_runner, team/agent-integrations

#17136 Fix the validation of metadata files
  ddev/changelog.d/17136.fixed
  ddev/src/ddev/cli/validate/metadata.py
  ddev/src/ddev/repo/core.py
  ddev/tests/repo/test_core.py
Labels: ddev, team/agent-integrations

#17137 Add a hook to validate metadata files
  .pre-commit-config.yaml
Labels: changelog/no-changelog, team/agent-integrations

#17134 Add a method to assert several metric tags at once
  datadog_checks_base/changelog.d/17134.added
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/tests/stubs/test_aggregator_metric_has_tag.py
Labels: base_package, team/agent-integrations

#17120 [PLINT-246] Add pagination support for listeners
  openstack_controller/changelog.d/17120.added
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/tests/conftest.py
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/listeners/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1/marker=9da03992-77a4-4b65-b39a-0e106961f577/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/listeners/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1/marker=de81cbdc-8207-4253-8f21-3eea9870e7a9/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/listeners/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/listeners/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/listeners/project_id=6e39099cccde4f809b003d9e0dd09304/limit=1/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/listeners/project_id=6e39099cccde4f809b003d9e0dd09304/limit=1000/response.json
  openstack_controller/tests/test_unit_octavia.py
Labels: changelog/no-changelog, integration/openstack_controller, team/agent-integrations, team/platform-integrations

#17096 Use arm64 runners to run arm64 build
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17110 Support new `scheduler_pod_scheduling_sli_duration_seconds` metric
  kube_scheduler/changelog.d/17110.added
  kube_scheduler/datadog_checks/kube_scheduler/kube_scheduler.py
  kube_scheduler/tests/fixtures/metrics_1.29.0.txt
  kube_scheduler/tests/test_kube_scheduler_1_29.py
Labels: integration/kube_scheduler, team/agent-integrations, team/container-integrations

#17121 Strip debug symbols in compiled dependencies
  .builders/build.py
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
Labels: changelog/no-changelog, team/agent-integrations

#17064 [Consul] Asset revamp
  consul/assets/dashboards/consul_dashboard.json
  consul/assets/dashboards/consul_overview.json
  consul/assets/monitors/consul_status.json
  consul/assets/saved_views/consul_errors.json
  consul/assets/saved_views/consul_overview.json
  consul/manifest.json
Labels: documentation, changelog/no-changelog, integration/consul, editorial review, team/agent-integrations, team/documentation

#17109 PostgreSQL: Optimise table count metrics
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/17109.changed
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/metrics_cache.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/util.py
  postgres/tests/common.py
  postgres/tests/test_pg_integration.py
Labels: documentation, integration/postgres, mergequeue-status: waiting, team/agent-integrations, team/database-monitoring-agent

#17144 [DBMON-3619] Add support for Postgres Wal metric
  postgres/changelog.d/17144.added
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_statements.py
Labels: integration/postgres, mergequeue-status: removed, team/agent-integrations, team/database-monitoring-agent

#17145 add db util to prepand/append comma delimited SQL comment from key/value pairs
  datadog_checks_base/changelog.d/17145.added
  datadog_checks_base/datadog_checks/base/utils/db/sql_commenter.py
  datadog_checks_base/tests/base/utils/db/test_sql_commenter.py
Labels: base_package, team/agent-integrations

#17141 Add admission metrics
  cockroachdb/changelog.d/17141.added
  cockroachdb/datadog_checks/cockroachdb/metrics.py
  cockroachdb/metadata.csv
  cockroachdb/tests/common.py
  cockroachdb/tests/fixtures/admission_metrics.txt
  cockroachdb/tests/test_unit.py
Labels: integration/cockroachdb, team/agent-integrations

#17154 [Release] Bumped datadog_checks_base version to 36.5.0
  .in-toto/tag.05916999.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/16899.added
  datadog_checks_base/changelog.d/16916.added
  datadog_checks_base/changelog.d/16958.added
  datadog_checks_base/changelog.d/16963.added
  datadog_checks_base/changelog.d/17134.added
  datadog_checks_base/changelog.d/17145.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, base_package, team/agent-integrations

#17147 [Databricks] Dashboard revamp
  spark/assets/dashboards/databricks_overview.json
Labels: changelog/no-changelog, integration/spark, team/agent-integrations, team/documentation

#17155 Add distsender metrics
  cockroachdb/changelog.d/17155.added
  cockroachdb/datadog_checks/cockroachdb/check.py
  cockroachdb/datadog_checks/cockroachdb/metrics.py
  cockroachdb/metadata.csv
  cockroachdb/tests/common.py
  cockroachdb/tests/fixtures/distsender_metrics.txt
  cockroachdb/tests/test_unit.py
Labels: integration/cockroachdb, team/agent-integrations

#17140 [PLINT-246] Add pagination support for pools
  openstack_controller/changelog.d/17140.added
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/tests/conftest.py
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/pools/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1/marker=d0335b34-3115-4b3b-9a1a-7e2363ebfee3/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/pools/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/pools/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/pools/project_id=6e39099cccde4f809b003d9e0dd09304/limit=1/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/lbaas/pools/project_id=6e39099cccde4f809b003d9e0dd09304/limit=1000/response.json
  openstack_controller/tests/test_unit_octavia.py
Labels: changelog/no-changelog, integration/openstack_controller, team/agent-integrations, team/platform-integrations

#17150 [PLINT-246] Add pagination support for amphorae
  openstack_controller/changelog.d/17150.added
  openstack_controller/datadog_checks/openstack_controller/api/api_rest.py
  openstack_controller/datadog_checks/openstack_controller/api/api_sdk.py
  openstack_controller/tests/conftest.py
  openstack_controller/tests/fixtures/GET/load-balancer/v2/octavia/amphorae/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1/marker=a34dc4b7-b608-4a9d-9fbd-2a4e611475c2/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/octavia/amphorae/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/octavia/amphorae/project_id=1e6e233e637d4d55a50a62b63398ad15/limit=1000/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/octavia/amphorae/project_id=6e39099cccde4f809b003d9e0dd09304/limit=1/response.json
  openstack_controller/tests/fixtures/GET/load-balancer/v2/octavia/amphorae/project_id=6e39099cccde4f809b003d9e0dd09304/limit=1000/response.json
  openstack_controller/tests/test_unit_octavia.py
Labels: changelog/no-changelog, integration/openstack_controller, team/agent-integrations, team/platform-integrations

#17159 Remove reference to rabbitmq from nvidia triton dashboard
  nvidia_triton/assets/dashboards/nvidia_triton_overview.json
Labels: changelog/no-changelog, integration/nvidia_triton, team/agent-integrations, team/documentation

#17113 [PLINT-306] Report metrics for the Teleport Kubernetes Service
  teleport/datadog_checks/teleport/metrics.py
  teleport/tests/common.py
  teleport/tests/fixtures/metrics.txt
  teleport/tests/test_kubernetes.py
Labels: team/agent-integrations, integration/teleport

#17114 [PLINT-305] Report metrics for the Teleport Database Service
  teleport/datadog_checks/teleport/metrics.py
  teleport/tests/common.py
  teleport/tests/fixtures/metrics.txt
  teleport/tests/test_database.py
Labels: team/agent-integrations, integration/teleport

#17116 [PLINT-308] Report metrics for the Teleport Enhanced Session Recording / BPF
  teleport/datadog_checks/teleport/metrics.py
  teleport/tests/common.py
  teleport/tests/fixtures/metrics.txt
  teleport/tests/test_bpf.py
Labels: team/agent-integrations, integration/teleport

#17117 [PLINT-307] Report metrics for the Teleport internal Prometheus
  teleport/datadog_checks/teleport/metrics.py
  teleport/tests/common.py
  teleport/tests/test_prometheus.py
Labels: team/agent-integrations, integration/teleport

#17161 Add the saved views to the weblogic manifest
  weblogic/assets/saved_views/weblogic_overview.json
  weblogic/manifest.json
Labels: documentation, changelog/no-changelog, integration/weblogic, team/agent-integrations, team/documentation

#17163 Add jobs metrics
  cockroachdb/changelog.d/17163.added
  cockroachdb/datadog_checks/cockroachdb/metrics.py
  cockroachdb/metadata.csv
  cockroachdb/tests/common.py
  cockroachdb/tests/fixtures/jobs_metrics.txt
  cockroachdb/tests/test_unit.py
Labels: integration/cockroachdb, team/agent-integrations

#17156 Tag postgres integration queries with service
  postgres/changelog.d/17156.added
  postgres/datadog_checks/postgres/cursor.py
  postgres/datadog_checks/postgres/discovery.py
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/version_utils.py
  postgres/pyproject.toml
  postgres/tests/test_cursor.py
  postgres/tests/test_statements.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#17158 Tag mysql integration queries with service
  mysql/changelog.d/17158.added
  mysql/datadog_checks/mysql/activity.py
  mysql/datadog_checks/mysql/cursor.py
  mysql/datadog_checks/mysql/innodb_metrics.py
  mysql/datadog_checks/mysql/metadata.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
  mysql/datadog_checks/mysql/util.py
  mysql/pyproject.toml
  mysql/tests/test_cursor.py
  mysql/tests/test_innodb_metrics.py
  mysql/tests/test_statements.py
Labels: integration/mysql, team/agent-integrations, team/database-monitoring-agent

#17164 Add kv metrics
  cockroachdb/changelog.d/17164.added
  cockroachdb/datadog_checks/cockroachdb/metrics.py
  cockroachdb/metadata.csv
  cockroachdb/tests/common.py
  cockroachdb/tests/fixtures/admission_metrics.txt
  cockroachdb/tests/fixtures/kv_metrics.txt
  cockroachdb/tests/test_unit.py
Labels: integration/cockroachdb, team/agent-integrations

#17157 More improvements to PR guidelines
  docs/developer/guidelines/pr.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation

#17166 Add physical replication and queue metrics
  cockroachdb/changelog.d/17166.added
  cockroachdb/datadog_checks/cockroachdb/metrics.py
  cockroachdb/metadata.csv
  cockroachdb/tests/common.py
  cockroachdb/tests/fixtures/physical_metrics.txt
  cockroachdb/tests/fixtures/queue_metrics.txt
  cockroachdb/tests/test_unit.py
Labels: integration/cockroachdb, team/agent-integrations

#17097 add new OMv2 dashboard for cilium
  cilium/assets/dashboards/overview_v2.json
  cilium/manifest.json
Labels: documentation, changelog/no-changelog, integration/cilium, editorial review, team/agent-integrations, team/documentation

#17162 tag sqlserver agent queries
  sqlserver/changelog.d/17162.added
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/cursor.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/pyproject.toml
  sqlserver/tests/test_connection.py
  sqlserver/tests/test_cursor.py
  sqlserver/tests/test_statements.py
  sqlserver/tests/test_unit.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#17167 Publish images for linux-aarch64
  .deps/image_digests.json
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17124 Use rest config by default in lab instance
  openstack_controller/tests/conftest.py
Labels: changelog/no-changelog, integration/openstack_controller, team/agent-integrations, team/platform-integrations

#16856 Allow skip loading Python kubelet check based on `DD_KUBELET_CORE_CHECK_ENABLED`
  kubelet/changelog.d/16856.added
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/tests/test_kubelet.py
Labels: containers, integration/kubelet, team/agent-integrations, team/container-integrations

#17127 feat: add new karpenter metrics
  karpenter/changelog.d/17127.added
  karpenter/datadog_checks/karpenter/metrics.py
  karpenter/metadata.csv
  karpenter/tests/common.py
  karpenter/tests/fixtures/karpenter_metrics.txt
Labels: documentation, editorial review, integration/karpenter, team/agent-integrations, team/documentation

#17170 [DOCS-7419] adding conf.yaml link to additional supported endpoints
  argocd/README.md
Labels: documentation, changelog/no-changelog, integration/argocd, team/agent-integrations, team/documentation

#17142 Builders: Install openssl in default prefix and always build pyodbc
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-aarch64/build_script.sh
Labels: changelog/no-changelog, team/agent-integrations

#17182 Pin requests-oauthlib for py2 in kube scheduler and controller tests
  kube_controller_manager/hatch.toml
  kube_scheduler/hatch.toml
Labels: changelog/no-changelog, integration/kube_controller_manager, integration/kube_scheduler, team/agent-integrations, team/container-integrations

#17183 Collect more metrics
  cockroachdb/changelog.d/17183.added
  cockroachdb/datadog_checks/cockroachdb/metrics.py
  cockroachdb/metadata.csv
  cockroachdb/tests/common.py
  cockroachdb/tests/fixtures/raft_metrics.txt
  cockroachdb/tests/test_unit.py
Labels: integration/cockroachdb, team/agent-integrations

#17160 Update Palo Alto Networks docs
  pan_firewall/README.md
Labels: documentation, changelog/no-changelog, integration/pan_firewall, team/agent-integrations, team/documentation

#17035 Emit kubelet metrics for init containers and pending pods
  kubelet/changelog.d/17035.added
  kubelet/datadog_checks/kubelet/common.py
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/datadog_checks/kubelet/summary.py
  kubelet/tests/fixtures/pods.json
  kubelet/tests/fixtures/pods_crashed.json
  kubelet/tests/fixtures/stats_summary.json
  kubelet/tests/test_common.py
  kubelet/tests/test_kubelet.py
Labels: integration/kubelet, team/agent-integrations, team/container-integrations

#17105 [PLINT-311] Add support for VM perf metrics
  esxi/datadog_checks/esxi/check.py
  esxi/datadog_checks/esxi/constants.py
  esxi/datadog_checks/esxi/metrics.py
  esxi/metadata.csv
  esxi/tests/common.py
  esxi/tests/test_integration.py
  esxi/tests/test_unit.py
Labels: team/agent-integrations, team/platform-integrations

#17173 Document that disabling generic tags only matters for service checks
  nginx/assets/configuration/spec.yaml
  nginx/changelog.d/17173.fixed
  nginx/datadog_checks/nginx/data/conf.yaml.example
Labels: documentation, integration/nginx, team/agent-integrations, team/documentation

#17179 Print raw output of the agent if the metric name is empty
  datadog_checks_dev/datadog_checks/dev/_env.py
  mapreduce/pyproject.toml
Labels: changelog/no-changelog, integration/mapreduce, dev_package, team/agent-integrations

#17181 Pin requests-oauthlib for Py2
  datadog_checks_base/changelog.d/17181.fixed
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: dependencies, base_package, team/agent-integrations

#17194 Add missing custom tags to the `can_connect` service check
  harbor/changelog.d/17194.fixed
  harbor/datadog_checks/harbor/harbor.py
  harbor/tests/common.py
  harbor/tests/test_harbor.py
Labels: integration/harbor, team/agent-integrations

#17139 improve sqlserver db check
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#17192 Collect new metrics
  cockroachdb/changelog.d/17192.added
  cockroachdb/datadog_checks/cockroachdb/metrics.py
  cockroachdb/metadata.csv
  cockroachdb/tests/common.py
  cockroachdb/tests/fixtures/jobs_metrics.txt
  cockroachdb/tests/fixtures/sql_metrics.txt
  cockroachdb/tests/test_unit.py
Labels: integration/cockroachdb, team/agent-integrations

#17186 Fix `PIP_NO_BINARY` syntax and ensure pyobdc is always built in linux
  .builders/images/linux-aarch64/build_script.sh
  .builders/images/linux-x86_64/build_script.sh
Labels: changelog/no-changelog, team/agent-integrations

#17088 Add assets
  tekton/assets/dashboards/overview.json
  tekton/assets/logs/tekton.yaml
  tekton/assets/logs/tekton_tests.yaml
  tekton/assets/monitors/increasing_failed_pipelineruns.json
  tekton/assets/monitors/increasing_failed_taskruns.json
  tekton/assets/monitors/throttled_taskruns.json
  tekton/assets/saved_views/tekton_errors.json
  tekton/assets/saved_views/tekton_overview.json
  tekton/manifest.json
Labels: documentation, changelog/no-changelog, editorial review, team/agent-integrations, team/documentation, integration/tekton, team/logs-backend, assets/deploy-logs-staging

#17172 dbm devcontainer
  .devcontainer/dbm/Dockerfile
  .devcontainer/dbm/devcontainer.json
  .github/CODEOWNERS
  sqlserver/tests/compose-ha/docker-compose.yaml
  sqlserver/tests/compose-high-cardinality/docker-compose.yaml
  sqlserver/tests/compose/docker-compose.yaml
Labels: changelog/no-changelog, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, team/container-integrations

#17171 Add support for external host tags
  esxi/datadog_checks/esxi/check.py
  esxi/datadog_checks/esxi/constants.py
  esxi/datadog_checks/esxi/metrics.py
  esxi/datadog_checks/esxi/utils.py
  esxi/tests/common.py
  esxi/tests/test_integration.py
  esxi/tests/test_unit.py
Labels: team/agent-integrations, team/platform-integrations

#17196 Bump the min base check version to 34.2.0
  kubelet/changelog.d/17196.added
  kubelet/pyproject.toml
Labels: integration/kubelet, team/agent-integrations, team/container-integrations

#17197 Bump the min base check version to 36.5.0
  oracle/changelog.d/17197.added
  oracle/pyproject.toml
Labels: integration/oracle, team/agent-integrations, team/database-monitoring-agent

#17148 [DBMON-3618] Add support for collecting plan time metrics from PG_STAT_STATEMENTS
  postgres/changelog.d/17148.added
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_statements.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#16746 [Release] Cisco Duo: Crawler Integration v1.0.0
  cisco_duo/CHANGELOG.md
  cisco_duo/README.md
  cisco_duo/assets/cisco_duo.svg
  cisco_duo/assets/dashboards/cisco_duo_activity_logs.json
  cisco_duo/assets/dashboards/cisco_duo_administrator_logs.json
  cisco_duo/assets/dashboards/cisco_duo_authentication_logs.json
  cisco_duo/assets/dashboards/cisco_duo_offline_enrollment_logs.json
  cisco_duo/assets/dashboards/cisco_duo_telephony_logs.json
  cisco_duo/assets/logs/cisco-duo.yaml
  cisco_duo/assets/logs/cisco-duo_tests.yaml
  cisco_duo/images/cisco_duo_activity_logs.png
  cisco_duo/images/cisco_duo_administrator_logs.png
  cisco_duo/images/cisco_duo_authentication_logs.png
  cisco_duo/images/cisco_duo_offline_enrollment_logs.png
  cisco_duo/images/cisco_duo_telephony_logs.png
  cisco_duo/manifest.json
Labels: documentation, changelog/no-changelog, qa/skip-qa, team/documentation, team/saas-integrations, integration/cisco_duo, team/logs-backend, assets/deploy-logs-staging

#17191 Add Further Reading with Blog Link for Strimzi
  strimzi/README.md
Labels: documentation, changelog/no-changelog, integration/strimzi, team/agent-integrations, team/documentation

#17189 Add Further Reading with Blog Link for Flux
  fluxcd/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/fluxcd

#17199 Allow the codeowners validation in integrations-core
  .github/workflows/run-validations.yml
  .github/workflows/validate.yml
  datadog_checks_dev/changelog.d/17199.added
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/codeowners.py
  ddev/tests/cli/validate/conftest.py
  ddev/tests/cli/validate/test_codeowners.py
Labels: dev/testing, dev/tooling, dev_package, ddev, team/agent-integrations

#17195 [CONTINT-3892] remove mutation_errors and update dashboard
  datadog_cluster_agent/assets/dashboards/datadog_cluster_agent_overview.json
  datadog_cluster_agent/changelog.d/17195.removed
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
Labels: integration/datadog_cluster_agent, team/agent-integrations, team/container-integrations

#17200 Remove ticket id from changelog entries
  mysql/CHANGELOG.md
  mysql/changelog.d/16924.fixed
  mysql/changelog.d/16936.fixed
  postgres/CHANGELOG.md
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/16977.fixed
Labels: documentation, changelog/no-changelog, integration/mysql, integration/postgres, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#17206 Fix metadata tests
  ddev/tests/cli/validate/test_metrics.py
Labels: changelog/no-changelog, ddev, team/agent-integrations

#17168 [FRAGENT-2816][Spark] Adds additional executor-level memory metrics
  spark/changelog.d/17168.added
  spark/datadog_checks/spark/constants.py
  spark/datadog_checks/spark/spark.py
  spark/metadata.csv
  spark/tests/common.py
  spark/tests/fixtures/executor_metrics
  spark/tests/test_spark.py
Labels: integration/spark, team/agent-integrations

#17211 Process signature for fluxcd
  fluxcd/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/fluxcd

#16747 [Release] Cisco Secure Firewall v1.0.0
  .github/workflows/config/labeler.yml
  cisco_secure_firewall/CHANGELOG.md
  cisco_secure_firewall/README.md
  cisco_secure_firewall/assets/cisco_secure_firewall.svg
  cisco_secure_firewall/assets/configuration/spec.yaml
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_application_and_identity_firewall.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_command_interface.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_failover.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_intrusion_protection_system.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_ip_stack.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_ospf_and_rip_routing.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_overview.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_resource_manager.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_security_events.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_snmp.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_threat detection.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_transparent_firewall.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_user_authentication.json
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_vpn_failover.json
  cisco_secure_firewall/assets/logs/cisco-secure-firewall.yaml
  cisco_secure_firewall/assets/logs/cisco-secure-firewall_tests.yaml
  cisco_secure_firewall/assets/service_checks.json
  cisco_secure_firewall/changelog.d/16747.added
  cisco_secure_firewall/datadog_checks/__init__.py
  cisco_secure_firewall/datadog_checks/cisco_secure_firewall/__about__.py
  cisco_secure_firewall/datadog_checks/cisco_secure_firewall/__init__.py
  cisco_secure_firewall/datadog_checks/cisco_secure_firewall/data/conf.yaml.example
  cisco_secure_firewall/images/cisco_secure_firewall_application_and_identity_based_firewall.png
  cisco_secure_firewall/images/cisco_secure_firewall_failover.png
  cisco_secure_firewall/images/cisco_secure_firewall_intrusion_protection_system.png
  cisco_secure_firewall/images/cisco_secure_firewall_ip_stack.png
  cisco_secure_firewall/images/cisco_secure_firewall_snmp.png
  cisco_secure_firewall/images/cisco_secure_firewall_threat_detection.png
  cisco_secure_firewall/images/cisco_secure_firewall_transparent_firewall.png
  cisco_secure_firewall/images/cisco_secure_firewall_user_authentication.png
  cisco_secure_firewall/manifest.json
  cisco_secure_firewall/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend

#17212 Fix the version
  cisco_secure_firewall/CHANGELOG.md
  cisco_secure_firewall/datadog_checks/cisco_secure_firewall/__about__.py
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/cisco_secure_firewall

#17213 Cisco duo dashboard update
  cisco_duo/assets/dashboards/cisco_duo_activity_logs.json
Labels: documentation, changelog/no-changelog, qa/skip-qa, team/saas-integrations, integration/cisco_duo

#17176 Enforce `metadata.csv` to be sorted by metric names in integrations-core
  .ddev/config.toml
  cockroachdb/metadata.csv
  ddev/changelog.d/17176.added
  ddev/src/ddev/cli/validate/metadata.py
  ddev/src/ddev/cli/validate/metadata_utils.py
  ddev/tests/cli/validate/test_metrics.py
Labels: integration/cockroachdb, ddev, team/agent-integrations

#17221 Sort metrics
  spark/metadata.csv
Labels: changelog/no-changelog, integration/spark, team/agent-integrations

#17220 [Doc][Airflow] Align tags in host DSD mapper profile + align host/containerized configuration
  airflow/README.md
Labels: documentation, changelog/no-changelog, integration/airflow, qa/skip-qa, team/agent-integrations, team/documentation

#17219 [SINT-INTERRUPT] Update SCA CI image
  .gitlab/software_composition_analysis.yaml
Labels: changelog/no-changelog, dev/tooling, team/software-integrity-and-trust

#17224 fix typo in function name
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: changelog/no-changelog, qa/skip-qa

#17227 coredns: fix a typo in the comment
  coredns/assets/configuration/spec.yaml
  coredns/changelog.d/17227.fixed
  coredns/datadog_checks/coredns/data/conf.yaml.example
Labels: documentation, integration/coredns, team/agent-integrations, team/documentation

#17229 Pin libfaketime
  http_check/tests/compose/certs-builder/Dockerfile
  tls/tests/compose/Dockerfile
Labels: changelog/no-changelog, integration/http_check, integration/tls, team/agent-integrations

#17090 Zeek v1.0.0: Enhancements
  zeek/assets/dashboards/zeek_datared.json
  zeek/assets/dashboards/zeek_detection.json
  zeek/assets/dashboards/zeek_dns.json
  zeek/assets/dashboards/zeek_files.json
  zeek/assets/dashboards/zeek_miscellaneous.json
  zeek/assets/dashboards/zeek_network_protocols.json
  zeek/assets/dashboards/zeek_network_protocols_ntp_snmp_ssl.json
  zeek/assets/dashboards/zeek_syslog.json
  zeek/assets/logs/zeek.yaml
  zeek/assets/logs/zeek_tests.yaml
  zeek/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/zeek, team/logs-backend, assets/deploy-logs-staging

#17230 Remove some py2 related code in the tests
  mongo/setup.py
  mongo/tests/common.py
  mongo/tests/conftest.py
  mongo/tests/mocked_api.py
  mongo/tests/test_e2e.py
  mongo/tests/test_integration.py
  mongo/tests/test_mongo.py
  mongo/tests/test_unit.py
Labels: changelog/no-changelog, integration/mongo, team/agent-integrations

#17222 Say changelog entries are in Markdown format.
  ddev/changelog.d/17222.fixed
  ddev/src/ddev/cli/release/changelog/new.py
Labels: ddev, team/agent-integrations

#17223 Fix ddev builds
  .github/workflows/build-ddev.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#17234 skip locked relations to avoid relations metrics query timeout
  postgres/changelog.d/17234.fixed
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/tests/test_relations.py
  postgres/tests/test_replication_slot.py
Labels: integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#17185 [LOGSC-1681] Add a check to validate that logs assets are owned by logs team
  datadog_checks_dev/changelog.d/17185.added
  datadog_checks_dev/datadog_checks/dev/tooling/codeowners.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/codeowners.py
Labels: documentation, dev/tooling, qa/skip-qa, dev_package, team/agent-integrations, team/documentation

#17235 Fix NoneType error in schema collection when partition tables have no activities
  postgres/changelog.d/17235.fixed
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/common.py
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/test_metadata.py
Labels: integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#17233 Tag metrics with nginx host and port.
  nginx/changelog.d/17233.added
  nginx/datadog_checks/nginx/nginx.py
  nginx/tests/common.py
  nginx/tests/conftest.py
  nginx/tests/test_e2e.py
  nginx/tests/test_nginx.py
  nginx/tests/test_plus_api.py
  nginx/tests/test_vts.py
Labels: integration/nginx, team/agent-integrations

#17006 Sy/argo rollouts
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  argo_rollouts/CHANGELOG.md
  argo_rollouts/README.md
  argo_rollouts/assets/configuration/spec.yaml
  argo_rollouts/assets/dashboards/overview.json
  argo_rollouts/assets/service_checks.json
  argo_rollouts/changelog.d/17006.added
  argo_rollouts/datadog_checks/__init__.py
  argo_rollouts/datadog_checks/argo_rollouts/__about__.py
  argo_rollouts/datadog_checks/argo_rollouts/__init__.py
  argo_rollouts/datadog_checks/argo_rollouts/check.py
  argo_rollouts/datadog_checks/argo_rollouts/config_models/__init__.py
  argo_rollouts/datadog_checks/argo_rollouts/config_models/defaults.py
  argo_rollouts/datadog_checks/argo_rollouts/config_models/instance.py
  argo_rollouts/datadog_checks/argo_rollouts/config_models/shared.py
  argo_rollouts/datadog_checks/argo_rollouts/config_models/validators.py
  argo_rollouts/datadog_checks/argo_rollouts/data/conf.yaml.example
  argo_rollouts/datadog_checks/argo_rollouts/metrics.py
  argo_rollouts/hatch.toml
  argo_rollouts/manifest.json
  argo_rollouts/metadata.csv
  argo_rollouts/pyproject.toml
  argo_rollouts/tests/__init__.py
  argo_rollouts/tests/common.py
  argo_rollouts/tests/conftest.py
  argo_rollouts/tests/fixtures/label_rename.txt
  argo_rollouts/tests/fixtures/openmetrics.txt
  argo_rollouts/tests/kind/argo_rollouts_install.yaml
  argo_rollouts/tests/test_e2e.py
  argo_rollouts/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/argo_rollouts

#17209 Add sidecar injection section to EKS Fargate readme
  eks_fargate/README.md
Labels: documentation, changelog/no-changelog, editorial review, integration/eks_fargate, qa/skip-qa, mergequeue-status: waiting, team/agent-integrations, team/container-integrations, team/documentation

#16918 Add Argo Workflows Integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  argo_workflows/CHANGELOG.md
  argo_workflows/README.md
  argo_workflows/assets/configuration/spec.yaml
  argo_workflows/assets/service_checks.json
  argo_workflows/changelog.d/16918.added
  argo_workflows/datadog_checks/__init__.py
  argo_workflows/datadog_checks/argo_workflows/__about__.py
  argo_workflows/datadog_checks/argo_workflows/__init__.py
  argo_workflows/datadog_checks/argo_workflows/check.py
  argo_workflows/datadog_checks/argo_workflows/config_models/__init__.py
  argo_workflows/datadog_checks/argo_workflows/config_models/defaults.py
  argo_workflows/datadog_checks/argo_workflows/config_models/instance.py
  argo_workflows/datadog_checks/argo_workflows/config_models/shared.py
  argo_workflows/datadog_checks/argo_workflows/config_models/validators.py
  argo_workflows/datadog_checks/argo_workflows/data/conf.yaml.example
  argo_workflows/datadog_checks/argo_workflows/metrics.py
  argo_workflows/hatch.toml
  argo_workflows/manifest.json
  argo_workflows/metadata.csv
  argo_workflows/pyproject.toml
  argo_workflows/tests/__init__.py
  argo_workflows/tests/conftest.py
  argo_workflows/tests/fixtures/metrics.txt
  argo_workflows/tests/kind/quick-start-minimal.yaml
  argo_workflows/tests/test_e2e.py
  argo_workflows/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/argo_workflows

#17237 Update the readme file
  tekton/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/tekton

#17236 Update the readme file for JMX integrations
  cassandra/README.md
  hazelcast/README.md
  hive/README.md
  hivemq/README.md
  ignite/README.md
  jboss_wildfly/README.md
  presto/README.md
  sonarqube/README.md
Labels: documentation, changelog/no-changelog, integration/cassandra, integration/presto, integration/jboss_wildfly, integration/hive, integration/ignite, integration/hazelcast, integration/hivemq, integration/sonarqube, team/agent-integrations, team/documentation

#17242 Update README.md
  tekton/README.md
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/tekton

#17225 Sy/istio remove exclude
  istio/assets/configuration/spec.yaml
  istio/changelog.d/17225.changed
  istio/datadog_checks/istio/data/auto_conf.yaml
  istio/datadog_checks/istio/data/conf.yaml.example
  istio/tests/common.py
  istio/tests/fixtures/test-labels.txt
  istio/tests/test_istio_v1.py
  istio/tests/test_istio_v2.py
  istio/tests/utils.py
Labels: documentation, integration/istio, team/agent-integrations, team/container-integrations, team/documentation

#17187 [SDBM-842] Postgres integration performance optimization: Limit how many records are pulled from pg_stat_statements.
  postgres/changelog.d/17187.fixed
  postgres/datadog_checks/postgres/query_calls_cache.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_query_calls_cache.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent

#17247 Fix logs integrations test samples
  cisco_duo/assets/logs/cisco-duo_tests.yaml
  cisco_secure_firewall/assets/logs/cisco-secure-firewall_tests.yaml
  tekton/assets/logs/tekton_tests.yaml
Labels: changelog/no-changelog, team/agent-integrations, team/documentation, integration/tekton, team/saas-integrations, integration/cisco_duo, team/logs-backend, integration/cisco_secure_firewall

#17244 Bump ruff to 0.3.3
  ddev/changelog.d/17244.added
  ddev/src/ddev/plugin/external/hatch/environment_collector.py
Labels: dependencies, base_package, ddev, team/agent-integrations
