Repository DataDog/integrations-core, pull requests merged in 2025-10, with the labels that each got.

#21470 Add Kong Mesh to Kuma description
  kuma/README.md
  kuma/images/kuma_control_plane.png
  kuma/images/kuma_control_plane_dark.png
  kuma/images/kuma_service_communication.png
  kuma/images/kuma_service_communication_dark.png
  kuma/manifest.json
Labels: documentation, changelog/no-changelog, qa/skip-qa, team/agent-integrations, team/documentation, integration/kuma

#21319 [DBMON-5640] SqlServer - compile and reuse connection error regex
  sqlserver/changelog.d/21319.fixed
  sqlserver/datadog_checks/sqlserver/connection_errors.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#21481 add replace_bind_parameter to sqlserver obfuscator option
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/21481.added
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#21498 Update the changelog to added
  postgres/changelog.d/21393.added
Labels: changelog/no-changelog, integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#21475 normalize sqlserver servername and instancename tag values
  sqlserver/changelog.d/21475.added
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_database_metrics.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_metrics.py
  sqlserver/tests/test_statements.py
  sqlserver/tests/test_stored_procedures.py
  sqlserver/tests/test_unit.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#21500 Auto cancel Postgres checks after tests
  postgres/tests/conftest.py
Labels: integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#21503 [DBMON-5707] Add support for refreshing cloud provider tokens in Postgres integration
  postgres/changelog.d/21503.fixed
  postgres/datadog_checks/postgres/azure.py
  postgres/datadog_checks/postgres/connection_pool.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_token_provider.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20423 [AI-5281] Barracuda Secure Edge Integration PR
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  barracuda_secure_edge/CHANGELOG.md
  barracuda_secure_edge/README.md
  barracuda_secure_edge/assets/configuration/spec.yaml
  barracuda_secure_edge/assets/dashboards/barracuda_secure_edge_overview.json
  barracuda_secure_edge/assets/logs/barracuda_secure_edge.yaml
  barracuda_secure_edge/assets/logs/barracuda_secure_edge_tests.yaml
  barracuda_secure_edge/assets/secureedge_logo.svg
  barracuda_secure_edge/changelog.d/20423.added
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/__about__.py
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/__init__.py
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/data/conf.yaml.example
  barracuda_secure_edge/images/secure_edge_overview_dark.png
  barracuda_secure_edge/images/secure_edge_overview_light.png
  barracuda_secure_edge/manifest.json
  barracuda_secure_edge/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, team/logs-integrations-reviewers

#21311 [INTS-513] [SAASINT-4600] DDS: Push Security v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  push_security/CHANGELOG.md
  push_security/README.md
  push_security/assets/dashboards/push_security_activity.json
  push_security/assets/dashboards/push_security_audit.json
  push_security/assets/dashboards/push_security_controls.json
  push_security/assets/dashboards/push_security_detections.json
  push_security/assets/dashboards/push_security_entity.json
  push_security/assets/dashboards/push_security_overview.json
  push_security/assets/logs/push-security.yaml
  push_security/assets/logs/push-security_tests.yaml
  push_security/assets/push_security.svg
  push_security/images/push_security_activity.png
  push_security/images/push_security_audit.png
  push_security/images/push_security_controls.png
  push_security/images/push_security_detections_1.png
  push_security/images/push_security_detections_2.png
  push_security/images/push_security_entity.png
  push_security/images/push_security_overview.png
  push_security/manifest.json
Labels: documentation, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, team/logs-integrations-reviewers

#21511 Target 7.72.x for Agent build pipeline
  .gitlab/build_agent.yaml
Labels: dev/tooling, team/agent-integrations

#21518 SAASINT-4513 Turn on public docs for Supply Chain Firewall
  supply_chain_firewall/manifest.json
Labels: documentation, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, integration/supply_chain_firewall

#21504 Correct description of disable_missing_mountpoints_warning
  nfsstat/assets/configuration/spec.yaml
  nfsstat/datadog_checks/nfsstat/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/nfsstat, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#20250 [DOCS-10750] add Cisco ACI faults
  cisco_aci/README.md
Labels: documentation, integration/cisco_aci, qa/skip-qa, team/documentation, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/approved, team/ndm-integrations

#21519 Port new integration changelogs to master
  checkpoint_harmony_endpoint/CHANGELOG.md
  checkpoint_harmony_endpoint/changelog.d/21149.added
  checkpoint_harmony_endpoint/changelog.d/21477.added
  checkpoint_harmony_endpoint/datadog_checks/checkpoint_harmony_endpoint/__about__.py
  cloudgen_firewall/CHANGELOG.md
  cloudgen_firewall/changelog.d/20344.added
  cloudgen_firewall/changelog.d/21477.added
  cloudgen_firewall/datadog_checks/cloudgen_firewall/__about__.py
  requirements-agent-release.txt
  trend_micro_cloud_one/CHANGELOG.md
  trend_micro_cloud_one/changelog.d/21131.added
  trend_micro_cloud_one/changelog.d/21477.added
  trend_micro_cloud_one/datadog_checks/trend_micro_cloud_one/__about__.py
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, integration/cloudgen_firewall, integration/checkpoint_harmony_endpoint, integration/trend_micro_cloud_one

#21320 Make Versa public
  versa/manifest.json
Labels: documentation, team/agent-integrations, team/documentation, team/ndm-integrations, integration/versa

#21530 [Backport 7.71.x] Remove ddagenthostname from metrics
  mysql/changelog.d/21523.fixed
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/tags.py
  mysql/tests/test_metadata.py
  mysql/tests/test_mysql.py
  mysql/tests/test_query_activity.py
  mysql/tests/test_statements.py
  mysql/tests/test_unit.py
  postgres/changelog.d/21523.fixed
  postgres/datadog_checks/postgres/health.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/common.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_statements.py
  postgres/tests/test_unit.py
  sqlserver/changelog.d/21523.fixed
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/datadog_checks/sqlserver/stored_procedures.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_database_metrics.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_metrics.py
  sqlserver/tests/test_statements.py
  sqlserver/tests/test_stored_procedures.py
  sqlserver/tests/test_unit.py
Labels: integration/mysql, integration/postgres, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#21540 Bumped MySQL, Postgres and SQLServer version
  .in-toto/tag.ec45eb9d.link
  mysql/CHANGELOG.md
  mysql/changelog.d/21523.fixed
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/21523.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/21523.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/mysql, integration/postgres, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#21544 [Release] Remove `ddagenthostname` and MySQL changes
  .in-toto/tag.bd79a691.link
  mysql/CHANGELOG.md
  mysql/changelog.d/21523.fixed
  mysql/changelog.d/21532.fixed
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/21523.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/21523.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/mysql, integration/postgres, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#21473 Update python classifiers to python 3.13
  cisco_secure_web_appliance/changelog.d/21473.added
  cisco_secure_web_appliance/pyproject.toml
  delinea_secret_server/changelog.d/21473.added
  delinea_secret_server/pyproject.toml
  kubevirt_handler/changelog.d/21473.added
  kubevirt_handler/pyproject.toml
  milvus/changelog.d/21473.added
  milvus/pyproject.toml
  sonicwall_firewall/changelog.d/21473.added
  sonicwall_firewall/pyproject.toml
  symantec_endpoint_protection/changelog.d/21473.added
  symantec_endpoint_protection/pyproject.toml
  wazuh/changelog.d/21473.added
  wazuh/pyproject.toml
Labels: qa/skip-qa, team/agent-integrations, team/saas-integrations, integration/kubevirt_handler, integration/nvidia_nim, integration/milvus, integration/cisco_secure_web_appliance, integration/delinea_secret_server, integration/sonicwall_firewall, integration/symantec_endpoint_protection, integration/wazuh

#21545 Port changelog to master
  mysql/CHANGELOG.md
  mysql/changelog.d/21523.fixed
  mysql/changelog.d/21532.fixed
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/21523.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/21523.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/mysql, integration/postgres, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#21536 Get previous commit when push on master
  ddev/changelog.d/21536.fixed
  ddev/src/ddev/cli/size/utils/common_funcs.py
Labels: qa/skip-qa, ddev, team/agent-integrations

#21547 Skip Python 2 tests by default in Test Agent release
  .github/workflows/test-agent.yml
Labels: dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations

#21464 DDS: Trend Micro Cloud One: Minor update in README
  trend_micro_cloud_one/README.md
Labels: documentation, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, docs/approved, integration/trend_micro_cloud_one

#21557 Backfill old keys used in SQL obfuscator
  postgres/changelog.d/21557.fixed
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
Labels: integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested, backport/7.72.x

#21542 [DOCS-12068] Correct command for giving dd-agent permissions
  linux_audit_logs/README.md
Labels: documentation, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/linux_audit_logs

#21559 [IXP-656] Define dataflow for Anthropic
  anthropic/assets/dataflows.yaml
Labels: team/agent-integrations, team/ml-observability, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/anthropic

#21574 Override `azure-identify` license
  .ddev/config.toml
Labels: team/agent-integrations

#21579 Postgres fixes master port
  postgres/CHANGELOG.md
  postgres/changelog.d/21557.fixed
  postgres/changelog.d/21560.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#21581 Add additional proxmox_type tag to nodes
  proxmox/changelog.d/21581.added
  proxmox/datadog_checks/proxmox/check.py
  proxmox/tests/test_unit.py
Labels: team/agent-integrations, integration/proxmox, backport/7.72.x

#21584 fix(yaml-specs): fix bad indent in prometheus spec
  prometheus/assets/configuration/spec.yaml
  prometheus/changelog.d/21584.fixed
  prometheus/datadog_checks/prometheus/config_models/defaults.py
  prometheus/datadog_checks/prometheus/config_models/instance.py
  prometheus/datadog_checks/prometheus/data/conf.yaml.example
Labels: documentation, integration/prometheus, dev_package, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved

#21588 DDS: BeyondTrust Identity Security Insights Updates
  beyondtrust_identity_security_insights/assets/dashboards/beyondtrust_identity_security_insights_detections.json
  beyondtrust_identity_security_insights/assets/logs/beyondtrust-identity-security-insights.yaml
  beyondtrust_identity_security_insights/images/beyondtrust_identity_security_insights_detections_1.png
  beyondtrust_identity_security_insights/images/beyondtrust_identity_security_insights_detections_2.png
  beyondtrust_identity_security_insights/manifest.json
Labels: documentation, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, team/logs-integrations-reviewers, integration/beyondtrust_identity_security_insights
