Repository DataDog/integrations-core, pull requests merged in 2025-05, with the labels that each got.

#20196 Update workflows to use new secret for the integrations-bot
  .github/workflows/backport-pr.yml
  .github/workflows/labeler-community.yml
  .github/workflows/labeler.yml
  .github/workflows/update-agent-changelog.yml
  .github/workflows/update-dependencies.yml
Labels: dev/testing, dev/tooling, team/agent-integrations

#20194 Update singlestore license
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
Labels: dev/testing, dev/tooling, integration/singlestore, team/agent-integrations

#19360 [IDP-42] DDS: Forcepoint Security Service Edge: Crawler Integration v1.0.0
  forcepoint_security_service_edge/README.md
  forcepoint_security_service_edge/assets/dashboards/forcepoint_security_service_edge_access_logs.json
  forcepoint_security_service_edge/assets/dashboards/forcepoint_security_service_edge_admin_logs.json
  forcepoint_security_service_edge/assets/dashboards/forcepoint_security_service_edge_cloud_logs.json
  forcepoint_security_service_edge/assets/dashboards/forcepoint_security_service_edge_health_logs.json
  forcepoint_security_service_edge/assets/dashboards/forcepoint_security_service_edge_overview.json
  forcepoint_security_service_edge/assets/forcepoint_security_service_edge.svg
  forcepoint_security_service_edge/assets/logs/forcepoint-security-service-edge.yaml
  forcepoint_security_service_edge/assets/logs/forcepoint-security-service-edge_tests.yaml
  forcepoint_security_service_edge/images/forcepoint_security_service_edge_access_logs.png
  forcepoint_security_service_edge/images/forcepoint_security_service_edge_admin_logs.png
  forcepoint_security_service_edge/images/forcepoint_security_service_edge_cloud_logs.png
  forcepoint_security_service_edge/images/forcepoint_security_service_edge_health_logs.png
  forcepoint_security_service_edge/images/forcepoint_security_service_edge_overview.png
  forcepoint_security_service_edge/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, product/review-requested, docs/approved, ecosystems/approved, integration/forcepoint_security_service_edge, team/Logs-Core, team/logs-integrations-reviewers

#20082 Update README.md
  airflow/README.md
Labels: documentation, integration/airflow, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#20110 [Karpenter Integration]: add missed metrics based on karpenter v1.4 documentations
  karpenter/changelog.d/20110.added
  karpenter/datadog_checks/karpenter/metrics.py
  karpenter/metadata.csv
  karpenter/tests/common.py
  karpenter/tests/fixtures/karpenter_metrics_v1.txt
Labels: integration/karpenter, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#20163 Reduce how often we create a connection to kafka
  kafka_consumer/changelog.d/20163.fixed
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_unit.py
Labels: integration/kafka_consumer, team/agent-integrations

#20201 Use Agent Integrations bot to open PR when resolving dependencies
  .github/workflows/resolve-build-deps.yaml
Labels: dev/testing, dev/tooling, team/agent-integrations

#20198 [DBMON-5261] Check for performance_schema enabled instead of requiring a config option
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/20198.fixed
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/test_statements.py
Labels: documentation, integration/mysql, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20204 [Backport] Update and pin codecov version used in actions (#20191)
  .github/workflows/master.yml
  .github/workflows/nightly-base-package.yml
  .github/workflows/pr-all.yml
  .github/workflows/pr.yml
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
Labels: dev/testing, dev/tooling, team/agent-integrations

#20209 [Backport 7.66.x] Update singlestore image and version used in CI (#20207)
  .ddev/ci/scripts/singlestore/linux/55_set_license_secret.sh
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
  singlestore/tests/compose/docker-compose.yaml
  singlestore/tests/conftest.py
  singlestore/tests/test_integration.py
Labels: dev/testing, dev/tooling, integration/singlestore, team/agent-integrations

#20208 Fix MapR E2E
  mapr/tests/conftest.py
Labels: integration/mapr, team/agent-integrations, backport/7.66.x

#20220 Revert api keys to original names
  .github/workflows/datadog-static-analysis.yml
  .github/workflows/submit-traces.yml
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
Labels: dev/testing, dev/tooling, team/agent-integrations

#20199 skip routing from infrastructure/devices to devices/ for monitor messages
  cisco_aci/assets/monitors/cpu_high.json
  cisco_aci/assets/monitors/interface_down.json
  cisco_sdwan/assets/monitors/device_reboot.json
  cisco_sdwan/assets/monitors/device_unreachable.json
  cisco_sdwan/assets/monitors/tunnel_down.json
  snmp/assets/monitors/device_down.json
  snmp/assets/monitors/device_unreachable.json
  snmp/assets/monitors/interface_down.json
  snmp/assets/monitors/traps_linkDown.json
Labels: integration/snmp, integration/cisco_aci, mergequeue-status: waiting, team/agent-integrations, integration/cisco_sdwan, ecosystems/review-requested, product/review-requested, agent/approved, team/ndm-core, team/ndm-integrations

#20176 MySQL IAM Auth
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/20176.added
  mysql/datadog_checks/mysql/aws.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/mysql.py
  mysql/pyproject.toml
Labels: documentation, integration/mysql, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20200 Memory grant metrics are stored in kilobytes in dm_exec_query_stats.
  sqlserver/metadata.csv
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#20226 Reenable HA
  mysql/datadog_checks/mysql/mysql.py
Labels: changelog/no-changelog, integration/mysql, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20145 DOCS-10600: adding links for API Gateway docs
  ecs_fargate/README.md
  eks_fargate/README.md
Labels: documentation, integration/ecs_fargate, integration/eks_fargate, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#20108 ECS Fargate Terraform and CDK docs
  ecs_fargate/README.md
Labels: documentation, integration/ecs_fargate, qa/skip-qa, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#20227 Fix `redisdb` check on Redis 8
  redisdb/changelog.d/20227.added
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/hatch.toml
Labels: integration/redisdb, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19749 [AI-5069] DDS: Juniper SRX Firewall Integration v1.0.0
  .github/workflows/config/labeler.yml
  juniper_srx_firewall/CHANGELOG.md
  juniper_srx_firewall/README.md
  juniper_srx_firewall/assets/configuration/spec.yaml
  juniper_srx_firewall/assets/dashboards/juniper_srx_firewall_authentication_logs.json
  juniper_srx_firewall/assets/dashboards/juniper_srx_firewall_overview.json
  juniper_srx_firewall/assets/dashboards/juniper_srx_firewall_security_logs.json
  juniper_srx_firewall/assets/dashboards/juniper_srx_firewall_session_logs.json
  juniper_srx_firewall/assets/juniper_srx_firewall.svg
  juniper_srx_firewall/assets/logs/juniper-srx-firewall.yaml
  juniper_srx_firewall/assets/logs/juniper-srx-firewall_tests.yaml
  juniper_srx_firewall/changelog.d/19749.added
  juniper_srx_firewall/datadog_checks/__init__.py
  juniper_srx_firewall/datadog_checks/juniper_srx_firewall/__about__.py
  juniper_srx_firewall/datadog_checks/juniper_srx_firewall/__init__.py
  juniper_srx_firewall/datadog_checks/juniper_srx_firewall/data/conf.yaml.example
  juniper_srx_firewall/images/juniper_srx_firewall_authentication_logs.png
  juniper_srx_firewall/images/juniper_srx_firewall_overview.png
  juniper_srx_firewall/images/juniper_srx_firewall_security_logs.png
  juniper_srx_firewall/images/juniper_srx_firewall_session_logs.png
  juniper_srx_firewall/manifest.json
  juniper_srx_firewall/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, team/Logs-Core, team/logs-integrations-reviewers

#19857 [AI-5112] DDS: Delinea Secret Server v1.0.0
  .github/workflows/config/labeler.yml
  delinea_secret_server/CHANGELOG.md
  delinea_secret_server/README.md
  delinea_secret_server/assets/configuration/spec.yaml
  delinea_secret_server/assets/dashboards/delinea_secret_server_overview.json
  delinea_secret_server/assets/delinea_secret_server.svg
  delinea_secret_server/assets/logs/delinea-secret-server.yaml
  delinea_secret_server/assets/logs/delinea-secret-server_tests.yaml
  delinea_secret_server/changelog.d/19857.added
  delinea_secret_server/datadog_checks/__init__.py
  delinea_secret_server/datadog_checks/delinea_secret_server/__about__.py
  delinea_secret_server/datadog_checks/delinea_secret_server/__init__.py
  delinea_secret_server/datadog_checks/delinea_secret_server/data/conf.yaml.example
  delinea_secret_server/images/delinea_secret_server_overview_1.png
  delinea_secret_server/images/delinea_secret_server_overview_2.png
  delinea_secret_server/images/delinea_secret_server_overview_3.png
  delinea_secret_server/images/delinea_secret_server_overview_4.png
  delinea_secret_server/manifest.json
  delinea_secret_server/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, team/Logs-Core, team/logs-integrations-reviewers

#20222 Remove duplicate idle MySQL activity rows
  mysql/changelog.d/20222.fixed
  mysql/datadog_checks/mysql/activity.py
  mysql/tests/test_unit.py
Labels: integration/mysql, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20236 [mysql][release] Remove duplicate idle MySQL activity rows
  .in-toto/tag.bd79a691.link
  mysql/CHANGELOG.md
  mysql/changelog.d/20222.fixed
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mysql, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#20237 Port MySQL changes to master
  mysql/CHANGELOG.md
  mysql/changelog.d/20222.fixed
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/mysql, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#20077 [SAASINT-3804] Updated Plaid Assets PR
  plaid/README.md
  plaid/assets/dashboards/plaid_overview.json
  plaid/assets/logs/plaid.yaml
  plaid/assets/logs/plaid_tests.yaml
  plaid/images/plaid_other_logs.png
  plaid/images/plaid_overview.png
  plaid/manifest.json
Labels: documentation, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, docs/review-requested, team/logs-integrations-reviewers, integration/plaid

#20230 Fix sacct metrics for averss, maxrss, avecpu, maxvm metrics
  slurm/changelog.d/20230.fixed
  slurm/datadog_checks/slurm/check.py
  slurm/datadog_checks/slurm/constants.py
  slurm/tests/common.py
  slurm/tests/fixtures/sacct.txt
Labels: team/agent-integrations, integration/slurm

#20231 Sy/slurm disk usage
  slurm/changelog.d/20231.added
  slurm/datadog_checks/slurm/constants.py
  slurm/tests/common.py
  slurm/tests/fixtures/sacct.txt
Labels: team/agent-integrations, integration/slurm

#20245 Ensure Validate Pinned Actions run on master
  .github/workflows/validate-pinned-actions.yml
Labels: dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations

#20241 fix: Documentation link for ECS Fargate Terraform Module
  ecs_fargate/README.md
Labels: documentation, integration/ecs_fargate, qa/skip-qa, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#20249 Bumped slurm version to 1.2.0
  .in-toto/tag.ec45eb9d.link
  requirements-agent-release.txt
  slurm/CHANGELOG.md
  slurm/changelog.d/20165.added
  slurm/changelog.d/20167.fixed
  slurm/changelog.d/20169.fixed
  slurm/changelog.d/20170.added
  slurm/changelog.d/20225.added
  slurm/changelog.d/20230.fixed
  slurm/changelog.d/20231.added
  slurm/datadog_checks/slurm/__about__.py
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/slurm

#20239 Update permissions needed for github actions that run tests
  .github/workflows/flaky-tests.yml
  .github/workflows/master.yml
  .github/workflows/nightly-base-package.yml
  .github/workflows/pr-all.yml
  .github/workflows/pr.yml
  .github/workflows/test-agent.yml
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
  .github/workflows/weekly-latest.yml
Labels: dev/testing, dev/tooling, team/agent-integrations

#20246 Unpin MapR
  mapr/hatch.toml
  mapr/tests/conftest.py
Labels: integration/mapr, team/agent-integrations

#20254 Metadata entries for slurm metrics
  slurm/metadata.csv
Labels: team/agent-integrations, integration/slurm

#20256 Sy/slurm metric name fix
  slurm/changelog.d/20256.fixed
  slurm/datadog_checks/slurm/check.py
  slurm/datadog_checks/slurm/constants.py
  slurm/metadata.csv
  slurm/tests/common.py
Labels: team/agent-integrations, integration/slurm

#20258 Add exclude_hostname to Postgres and MySQL specs
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/mysql, integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested, backport/7.66.x

#20259 Backport Add exclude_hostname to Postgres and MySQL specs #20258 to 7.66.x
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: documentation, integration/mysql, integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#20111 Update README.md
  sqlserver/README.md
Labels: documentation, integration/sqlserver, team/agent-integrations, team/database-monitoring, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#20243 Fixed bug with no parameter prepared statements
  postgres/changelog.d/20243.fixed
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
  postgres/tests/test_explain_parameterized_queries.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19907 [AI-5124] DDS: Linux Audit Logs Integration v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  linux_audit_logs/CHANGELOG.md
  linux_audit_logs/README.md
  linux_audit_logs/assets/configuration/spec.yaml
  linux_audit_logs/assets/dashboards/linux_audit_logs_overview.json
  linux_audit_logs/assets/linux_audit_logs.svg
  linux_audit_logs/assets/linux_audit_logs_dark.svg
  linux_audit_logs/assets/logs/linux-audit-logs.yaml
  linux_audit_logs/assets/logs/linux-audit-logs_tests.yaml
  linux_audit_logs/changelog.d/19907.added
  linux_audit_logs/datadog_checks/__init__.py
  linux_audit_logs/datadog_checks/linux_audit_logs/__about__.py
  linux_audit_logs/datadog_checks/linux_audit_logs/__init__.py
  linux_audit_logs/datadog_checks/linux_audit_logs/data/conf.yaml.example
  linux_audit_logs/images/linux_audit_logs_overview_1.png
  linux_audit_logs/images/linux_audit_logs_overview_2.png
  linux_audit_logs/images/linux_audit_logs_overview_3.png
  linux_audit_logs/images/linux_audit_logs_overview_4.png
  linux_audit_logs/manifest.json
  linux_audit_logs/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/approved, team/Logs-Core, team/logs-integrations-reviewers

#20061 Update README.md for kubernetes_cluster_autoscaler
  kubernetes_cluster_autoscaler/README.md
Labels: documentation, editorial review, mergequeue-status: waiting, team/agent-integrations, team/container-integrations, team/documentation, integration/kubernetes_cluster_autoscaler, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#20162 DDSaaS: Genesys: Updated Assets as per metric prefix
  genesys/assets/dashboards/genesys_callback.json
  genesys/assets/dashboards/genesys_chat.json
  genesys/assets/dashboards/genesys_conversation_overview.json
  genesys/assets/dashboards/genesys_email.json
  genesys/assets/dashboards/genesys_message.json
  genesys/assets/dashboards/genesys_voice.json
  genesys/assets/monitors/high_number_of_abandoned_outbound_conversations_detected.json
  genesys/assets/monitors/high_number_of_errored_conversations_detected.json
  genesys/assets/monitors/high_number_of_over_sla_conversations_detected.json
  genesys/assets/monitors/high_number_of_state_transition_errors_detected.json
  genesys/manifest.json
  genesys/metadata.csv
Labels: documentation, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, docs/review-requested, integration/genesys

#19926 [AI-5109] DDS: Kaspersky Integration V1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  kaspersky/CHANGELOG.md
  kaspersky/README.md
  kaspersky/assets/configuration/spec.yaml
  kaspersky/assets/dashboards/kaspersky_device_health_and_policy_compliance.json
  kaspersky/assets/dashboards/kaspersky_network_and_web_security.json
  kaspersky/assets/dashboards/kaspersky_overview.json
  kaspersky/assets/dashboards/kaspersky_system_audit_activities.json
  kaspersky/assets/dashboards/kaspersky_threat_detection_and_response.json
  kaspersky/assets/kaspersky.svg
  kaspersky/assets/logs/kaspersky.yaml
  kaspersky/assets/logs/kaspersky_tests.yaml
  kaspersky/changelog.d/19926.added
  kaspersky/datadog_checks/__init__.py
  kaspersky/datadog_checks/kaspersky/__about__.py
  kaspersky/datadog_checks/kaspersky/__init__.py
  kaspersky/datadog_checks/kaspersky/data/conf.yaml.example
  kaspersky/images/kaspersky_network_and_web_security.png
  kaspersky/images/kaspersky_overview.png
  kaspersky/images/kaspersky_system_audit.png
  kaspersky/images/kaspersky_threat_detection_and_response.png
  kaspersky/manifest.json
  kaspersky/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, team/Logs-Core, team/logs-integrations-reviewers

#20271 Bump minimum base version and python to 3.12 for slurm, esxi and mongo
  esxi/changelog.d/20271.changed
  esxi/pyproject.toml
  mongo/changelog.d/20271.changed
  mongo/pyproject.toml
  slurm/changelog.d/20271.changed
  slurm/pyproject.toml
Labels: integration/mongo, qa/skip-qa, mergequeue-status: waiting, team/agent-integrations, team/database-monitoring-agent, integration/esxi, integration/slurm

#20273 Fix test_e2e_python by specifying Python loader in config
  snmp/tests/test_e2e_python.py
Labels: integration/snmp, mergequeue-status: waiting, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/approved, team/ndm-core

#20282 Revert "fix: allow EXPLAIN on multi-statement SQL beginning with SET …
  postgres/changelog.d/20106.fixed
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/util.py
  postgres/tests/test_statements.py
  postgres/tests/test_unit.py
Labels: changelog/no-changelog, integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#20283 Add missing changelogs
  mysql/changelog.d/20259.added
  postgres/changelog.d/20259.added
Labels: integration/mysql, integration/postgres, team/agent-integrations, team/database-monitoring-agent, backport/master

#20286 [7.66] Release integrations for RC7
  .in-toto/tag.60ed9a6b.link
  mysql/CHANGELOG.md
  mysql/changelog.d/20259.added
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/20259.added
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mysql, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#20257 Change tagging logic in sinfo partition and node metrics
  slurm/changelog.d/20257.changed
  slurm/datadog_checks/slurm/check.py
  slurm/datadog_checks/slurm/constants.py
  slurm/tests/common.py
  slurm/tests/fixtures/sinfo_partition.txt
  slurm/tests/fixtures/sinfo_partition_cluster.txt
  slurm/tests/fixtures/sinfo_partition_info.txt
  slurm/tests/test_unit.py
Labels: team/agent-integrations, integration/slurm

#20291 Remove inaccurate comment
  kafka_consumer/hatch.toml
Labels: integration/kafka_consumer, team/agent-integrations

#20261 Allow slowlog collection to fail
  redisdb/changelog.d/20261.fixed
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/tests/test_unit.py
Labels: integration/redisdb, team/agent-integrations

#20288 [7.66] Release integrations for RC7 (#20286)
  mysql/CHANGELOG.md
  mysql/changelog.d/20259.added
  mysql/datadog_checks/mysql/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/20259.added
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/mysql, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#20279 Cisco ACI faults require NDM metadata to be enabled.
  cisco_aci/README.md
  cisco_aci/assets/configuration/spec.yaml
  cisco_aci/datadog_checks/cisco_aci/data/conf.yaml.example
  cisco_aci/datadog_checks/cisco_aci/faults.py
  cisco_aci/tests/test_faults.py
Labels: documentation, changelog/no-changelog, integration/cisco_aci, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/approved, team/ndm-integrations

#20277 [OTELS-583] Fix DD connector & exporter graphs on OTel dashboard
  otel/assets/dashboards/otel_collector_metrics_dashboard.json
Labels: qa/skip-qa, integration/otel, mergequeue-status: removed, team/agent-integrations, team/opentelemetry, ecosystems/review-requested, product/review-requested, agent/approved

#20255 Collect post job CPU and Memory efficiency from seff output
  slurm/assets/configuration/spec.yaml
  slurm/changelog.d/20255.added
  slurm/datadog_checks/slurm/check.py
  slurm/datadog_checks/slurm/config_models/defaults.py
  slurm/datadog_checks/slurm/config_models/instance.py
  slurm/datadog_checks/slurm/data/conf.yaml.example
  slurm/metadata.csv
  slurm/tests/fixtures/seff.txt
  slurm/tests/test_unit.py
Labels: documentation, team/agent-integrations, team/documentation, integration/slurm

#20293 SQLServer XE add missing event fields
  sqlserver/changelog.d/20293.added
  sqlserver/datadog_checks/sqlserver/xe_collection/base.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_xe_collection.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20281 Fix metric name for state and phys state metrics in metadata.csv
  infiniband/metadata.csv
Labels: team/agent-integrations, integration/infiniband

#20294 Fix SQLServer changelog and add Agent version
  sqlserver/CHANGELOG.md
Labels: documentation, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/documentation, backport/7.67.x

#20275 [RabbitMQ][DSM] Update rabbitmq management dashboard with new layout, include DSM metrics
  rabbitmq/assets/dashboards/rabbitmq_screenboard_dashboard.json
Labels: integration/rabbitmq, mergequeue-status: removed, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#20298 Backport codecov gh actions fix
  .github/workflows/flaky-tests.yml
  .github/workflows/master.yml
  .github/workflows/nightly-base-package.yml
  .github/workflows/pr-all.yml
  .github/workflows/pr.yml
  .github/workflows/test-agent.yml
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
  .github/workflows/weekly-latest.yml
Labels: dev/testing, dev/tooling, team/agent-integrations

#19965 Add WLAN integration tile
  .github/workflows/config/labeler.yml
  wlan/CHANGELOG.md
  wlan/README.md
  wlan/assets/dashboards/wlan_overview.json
  wlan/assets/monitors/wlan_excessive_channel_swap.json
  wlan/assets/service_checks.json
  wlan/images/IMAGES_README.md
  wlan/manifest.json
  wlan/metadata.csv
Labels: documentation, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, integration/wlan

#20299 Release new ints for 7.67.x
  .in-toto/tag.47c5a022.link
  delinea_secret_server/CHANGELOG.md
  delinea_secret_server/changelog.d/19857.added
  delinea_secret_server/datadog_checks/delinea_secret_server/__about__.py
  juniper_srx_firewall/CHANGELOG.md
  juniper_srx_firewall/changelog.d/19749.added
  juniper_srx_firewall/datadog_checks/juniper_srx_firewall/__about__.py
  kaspersky/CHANGELOG.md
  kaspersky/changelog.d/19926.added
  kaspersky/datadog_checks/kaspersky/__about__.py
  linux_audit_logs/CHANGELOG.md
  linux_audit_logs/changelog.d/19907.added
  linux_audit_logs/datadog_checks/linux_audit_logs/__about__.py
  microsoft_sysmon/CHANGELOG.md
  microsoft_sysmon/changelog.d/19874.added
  microsoft_sysmon/datadog_checks/microsoft_sysmon/__about__.py
  openvpn/CHANGELOG.md
  openvpn/changelog.d/19811.added
  openvpn/datadog_checks/openvpn/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/delinea_secret_server, integration/juniper_srx_firewall, integration/kaspersky, integration/linux_audit_logs, integration/microsoft_sysmon, integration/openvpn

#20300 Port new ints releases for 7.67.x
  delinea_secret_server/CHANGELOG.md
  delinea_secret_server/changelog.d/19857.added
  delinea_secret_server/datadog_checks/delinea_secret_server/__about__.py
  juniper_srx_firewall/CHANGELOG.md
  juniper_srx_firewall/changelog.d/19749.added
  juniper_srx_firewall/datadog_checks/juniper_srx_firewall/__about__.py
  kaspersky/CHANGELOG.md
  kaspersky/changelog.d/19926.added
  kaspersky/datadog_checks/kaspersky/__about__.py
  linux_audit_logs/CHANGELOG.md
  linux_audit_logs/changelog.d/19907.added
  linux_audit_logs/datadog_checks/linux_audit_logs/__about__.py
  microsoft_sysmon/CHANGELOG.md
  microsoft_sysmon/changelog.d/19874.added
  microsoft_sysmon/datadog_checks/microsoft_sysmon/__about__.py
  openvpn/CHANGELOG.md
  openvpn/changelog.d/19811.added
  openvpn/datadog_checks/openvpn/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/delinea_secret_server, integration/juniper_srx_firewall, integration/kaspersky, integration/linux_audit_logs, integration/microsoft_sysmon, integration/openvpn

#20301 Add database to database identifier template variables
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/20301.added
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Labels: documentation, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested, backport/7.67.x

#20311 [Release] Bumped sqlserver version to 22.5.0
  .in-toto/tag.47c5a022.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/20301.added
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#20313 [Backport] [Release] Bumped sqlserver version to 22.5.0
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/20301.added
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, changelog/no-changelog, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#20310 Only query aurora_version() if aurora postgres extensions are available
  postgres/changelog.d/20310.fixed
  postgres/datadog_checks/postgres/version_utils.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20295 [DSM] Update rabbitmq open metrics dashboard with new layout, include DSM Metrics
  rabbitmq/assets/dashboards/rabbitmq_dashboard.json
  rabbitmq/assets/dashboards/rabbitmq_screenboard_dashboard.json
Labels: integration/rabbitmq, mergequeue-status: waiting, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#20302 Fix object name field in rpc query_completion events and activity_id fields for error events
  sqlserver/changelog.d/20302.fixed
  sqlserver/datadog_checks/sqlserver/xe_collection/base.py
  sqlserver/datadog_checks/sqlserver/xe_collection/error_events.py
  sqlserver/datadog_checks/sqlserver/xe_collection/query_completion_events.py
  sqlserver/tests/test_xe_collection.py
  sqlserver/tests/xml_xe_events/attention.xml
  sqlserver/tests/xml_xe_events/error_reported.xml
Labels: integration/sqlserver, mergequeue-status: removed, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested, backport/7.67.x

#20316 fix Postgresql replication stat metrics to include replication prefix
  postgres/changelog.d/20316.fixed
  postgres/datadog_checks/postgres/util.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved, backport/7.66.x, backport/7.67.x

#20322 [7.66.0] Release integrations for RC8
  .in-toto/tag.60ed9a6b.link
  postgres/CHANGELOG.md
  postgres/changelog.d/20316.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#20325 Release ints for 7.67.0-rc2
  .in-toto/tag.47c5a022.link
  postgres/CHANGELOG.md
  postgres/changelog.d/20316.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/20293.added
  sqlserver/changelog.d/20302.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/postgres, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#20326 Fix `scheduling-attemps` typo
  kube_scheduler/assets/dashboards/overview.json
Labels: integration/kube_scheduler, mergequeue-status: waiting, team/agent-integrations, team/container-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#20314 DDS: OpenVPN Update
  openvpn/assets/dashboards/openvpn_overview.json
Labels: team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved, integration/openvpn

#20328 Port 7.67.0-rc.2 releases
  postgres/CHANGELOG.md
  postgres/changelog.d/20316.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/20293.added
  sqlserver/changelog.d/20302.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, changelog/no-changelog, integration/postgres, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#20164 [celery] Logs parsing rules and tests
  celery/assets/logs/celery.yaml
  celery/assets/logs/celery_tests.yaml
Labels: team/logs-backend, team/logs-integrations-reviewers, integration/celery

#20339 Bump codecov action hash
  .github/workflows/test-fips-e2e.yml
  .github/workflows/test-target.yml
Labels: dev/testing, dev/tooling, team/agent-integrations

#20030 [AI-5206] DDS: WatchGuard Firebox Integration v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  watchguard_firebox/CHANGELOG.md
  watchguard_firebox/README.md
  watchguard_firebox/assets/configuration/spec.yaml
  watchguard_firebox/assets/dashboards/watchguard_firebox_firewall.json
  watchguard_firebox/assets/dashboards/watchguard_firebox_management_activity_monitor.json
  watchguard_firebox/assets/dashboards/watchguard_firebox_networking_events.json
  watchguard_firebox/assets/dashboards/watchguard_firebox_overview.json
  watchguard_firebox/assets/dashboards/watchguard_firebox_proxy_policy.json
  watchguard_firebox/assets/dashboards/watchguard_firebox_vpn.json
  watchguard_firebox/assets/logs/watchguard-firebox.yaml
  watchguard_firebox/assets/logs/watchguard-firebox_tests.yaml
  watchguard_firebox/assets/watchguard-firebox.svg
  watchguard_firebox/changelog.d/20030.added
  watchguard_firebox/datadog_checks/__init__.py
  watchguard_firebox/datadog_checks/watchguard_firebox/__about__.py
  watchguard_firebox/datadog_checks/watchguard_firebox/__init__.py
  watchguard_firebox/datadog_checks/watchguard_firebox/data/conf.yaml.example
  watchguard_firebox/images/watchguard_firebox_firewall.png
  watchguard_firebox/images/watchguard_firebox_management_activity_monitor.png
  watchguard_firebox/images/watchguard_firebox_networking_events.png
  watchguard_firebox/images/watchguard_firebox_overview.png
  watchguard_firebox/images/watchguard_firebox_proxy_policy.png
  watchguard_firebox/images/watchguard_firebox_vpn.png
  watchguard_firebox/manifest.json
  watchguard_firebox/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, team/logs-integrations-reviewers

#20336 [DBMON-5332] Set lock_wait_timeout session variable
  mysql/changelog.d/20336.fixed
  mysql/datadog_checks/mysql/activity.py
  mysql/datadog_checks/mysql/metadata.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
  mysql/datadog_checks/mysql/util.py
Labels: integration/mysql, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20348 Make Celery documentation publicly available
  celery/manifest.json
Labels: documentation, team/agent-integrations, team/documentation, integration/celery

#20128 Package Size Analyzer (AI-5021)
  .github/workflows/measure-disk-usage.yml
  .github/workflows/slapr.yml
  ddev/changelog.d/20128.added
  ddev/pyproject.toml
  ddev/src/ddev/cli/__init__.py
  ddev/src/ddev/cli/size/__init__.py
  ddev/src/ddev/cli/size/common.py
  ddev/src/ddev/cli/size/diff.py
  ddev/src/ddev/cli/size/status.py
  ddev/src/ddev/cli/size/timeline.py
  ddev/tests/cli/size/__init__.py
  ddev/tests/cli/size/test_diff.py
  ddev/tests/cli/size/test_status.py
  ddev/tests/cli/size/test_timeline.py
  ddev/tests/size/__init__.py
  ddev/tests/size/test_common.py
  ddev/tests/size/test_diff.py
  ddev/tests/size/test_timeline.py
Labels: dev/testing, dev/tooling, ddev, mergequeue-status: removed, team/agent-integrations

#20334 [SAASINT-4031] DDS: DNSFilter: Crawler Integration Without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  dnsfilter/CHANGELOG.md
  dnsfilter/README.md
  dnsfilter/manifest.json
Labels: documentation, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, docs/approved

#20352 [Kafka][DSM] Update kafka ootb dashboard with dsm metrics
  kafka/assets/dashboards/kafka_dashboard.json
Labels: integration/kafka, mergequeue-status: waiting, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19526 disable the datadog mergequeue
  repository.datadog.yaml
Labels: ecosystems/review-requested, product/review-requested, agent/approved, team:agent-integrations

#20053 [MLOB] add crewai integration tile
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  crewai/CHANGELOG.md
  crewai/README.md
  crewai/assets/service_checks.json
  crewai/manifest.json
Labels: documentation, dev/testing, dev/tooling, editorial review, qa/skip-qa, mergequeue-status: waiting, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/crewai

#20357 display wlan integration on docs
  wlan/manifest.json
Labels: documentation, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved, integration/wlan

#20354 [DBMON-5380] Fix incorrect tag assertion in tests
  mongo/tests/test_integration.py
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
  postgres/tests/test_pg_integration.py
  sqlserver/tests/test_integration.py
Labels: changelog/no-changelog, integration/mongo, integration/mysql, integration/postgres, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20359 Update README.md
  wlan/README.md
Labels: documentation, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved, integration/wlan

#20324 Add metadata check on PG metrics and fix mismatching metadata type
  postgres/metadata.csv
  postgres/tests/common.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
Labels: integration/postgres, mergequeue-status: removed, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20292 Ensure ddev release tag fetches tags before getting the full list
  .gitlab-ci.yml
  datadog_checks_dev/changelog.d/20292.added
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/tag.py
  datadog_checks_dev/datadog_checks/dev/tooling/git.py
  datadog_checks_dev/tests/tooling/test_git.py
Labels: dev/tooling, qa/skip-qa, dev_package, team/agent-integrations

#20342 Add full_server_name support as template variable to sqlserver template config key
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/20342.added
  sqlserver/datadog_checks/sqlserver/const.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_unit.py
Labels: documentation, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20361 Modify local_clone fixture logic to ensure we use proper origin
  ddev/tests/conftest.py
Labels: qa/skip-qa, ddev, team/agent-integrations

#20355 Fix tracemalloc usage error
  datadog_checks_base/changelog.d/20355.fixed
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
Labels: base_package, team/agent-integrations

#20360 GPU: improve GPU mixed environment setup instructions
  gpu/README.md
Labels: documentation, qa/skip-qa, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved, integration/gpu, team/ebpf-platform

#20347 Add docker dashboard that will be removed from dogweb
  docker_daemon/assets/dashboards/docker_dashboard.json
  docker_daemon/manifest.json
Labels: documentation, integration/docker_daemon, qa/skip-qa, team/agent-integrations, team/container-integrations, team/documentation

#19986 [AI-5158] DDS: Microsoft DNS Agent Integration v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  microsoft_dns/CHANGELOG.md
  microsoft_dns/README.md
  microsoft_dns/assets/configuration/spec.yaml
  microsoft_dns/assets/dashboards/microsoft_dns_overview.json
  microsoft_dns/assets/logs/microsoft-dns.yaml
  microsoft_dns/assets/logs/microsoft-dns_tests.yaml
  microsoft_dns/assets/microsoft_dns.svg
  microsoft_dns/changelog.d/19986.added
  microsoft_dns/datadog_checks/__init__.py
  microsoft_dns/datadog_checks/microsoft_dns/__about__.py
  microsoft_dns/datadog_checks/microsoft_dns/__init__.py
  microsoft_dns/datadog_checks/microsoft_dns/data/conf.yaml.example
  microsoft_dns/images/microsoft_dns_overview_1.png
  microsoft_dns/images/microsoft_dns_overview_2.png
  microsoft_dns/images/microsoft_dns_overview_3.png
  microsoft_dns/images/microsoft_dns_overview_4.png
  microsoft_dns/manifest.json
  microsoft_dns/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, team/logs-integrations-reviewers

#20372 Fix flaky ddev override test
  ddev/tests/cli/config/test_override.py
Labels: qa/skip-qa, ddev, team/agent-integrations

#20358 Bump ddtrace to 3.7.2
  agent_requirements.in
  datadog_checks_base/changelog.d/20358.added
  datadog_checks_base/pyproject.toml
Labels: dependencies, release, qa/skip-qa, base_package, team/agent-integrations

#20376 Migrate PyPi publishing to Trusted Publishers and environments
  .github/workflows/build-ddev.yml
  .github/workflows/claim-pypi-name.yaml
  .github/workflows/release-base.yml
  .github/workflows/release-dev.yml
Labels: dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations

#20377 Release datadog_checks_dev
  .in-toto/tag.b9ca7eb3.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/changelog.d/20292.added
  datadog_checks_dev/datadog_checks/dev/__about__.py
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, dev_package, team/agent-integrations

#20380 Fix builder jobs in gitlab pipeline
  .gitlab-ci.yml
Labels: dev/tooling, qa/skip-qa, team/agent-integrations

#20379 Unpin ddtrace dependency
  .ddev/config.toml
Labels: team/agent-integrations

#20385 Fix the valid repos in the documentation page for the override command
  docs/developer/ddev/multirepo.md
Labels: documentation, qa/skip-qa, team/agent-integrations

#20332 [SAASINT-4022] DDS: Box: Crawler Integration Without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  box/CHANGELOG.md
  box/README.md
  box/manifest.json
Labels: documentation, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#20319 Fix set explain regex
  postgres/changelog.d/20319.fixed
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/util.py
  postgres/tests/test_explain_parameterized_queries.py
  postgres/tests/test_statements.py
  postgres/tests/test_unit.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20394 Fix duplicate ddev command in cursor instructions
  .cursor/rules/testing.mdc
Labels: changelog/no-changelog, qa/skip-qa, team/agent-integrations

#20395 Add a step to guide users in case the pinact workflow is failing
  .github/workflows/validate-pinned-actions.yml
Labels: dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations

#20363 Remove old lockfiles
  .deps/resolved/linux-aarch64_py2.txt
  .deps/resolved/linux-aarch64_py3.txt
  .deps/resolved/linux-x86_64_py2.txt
  .deps/resolved/linux-x86_64_py3.txt
  .deps/resolved/macos-x86_64_py2.txt
  .deps/resolved/macos-x86_64_py3.txt
  .deps/resolved/windows-x86_64_py2.txt
  .deps/resolved/windows-x86_64_py3.txt
Labels: team/agent-integrations, team/agent-delivery

#20333 [SAASINT-4023] DDS: Box: Crawler Integration v1.0.0
  box/README.md
  box/assets/box.svg
  box/assets/dashboards/box_events_overview.json
  box/assets/dashboards/box_files_and_folders_insights.json
  box/assets/dashboards/box_shield_insights.json
  box/assets/dashboards/box_users_and_access_management_insights.json
  box/assets/logs/box.yaml
  box/assets/logs/box_tests.yaml
  box/images/box_events_overview.png
  box/images/box_files_and_folders_insights.png
  box/images/box_shield_insights.png
  box/images/box_users_and_access_management_insights.png
  box/manifest.json
Labels: documentation, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/documentation, team/saas-integrations, team/logs-backend, ecosystems/review-requested, product/review-requested, docs/approved, team/logs-integrations-reviewers, integration/box

#20402 Update Celery logo
  celery/assets/dashboards/celery_overview.json
Labels: team/agent-integrations, team/documentation, integration/celery

#20400 Update ECS Fargate
  ecs_fargate/README.md
Labels: documentation, integration/ecs_fargate, assets/no-deploy, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19958 Fix "ddev set repos.core" in "release-auto" in GitLab
  .gitlab-ci.yml
Labels: dev/tooling, team/agent-integrations

#20375 Plaid assets pr v2
  plaid/README.md
  plaid/assets/dashboards/plaid_overview.json
Labels: documentation, editorial review, mergequeue-status: waiting, team/documentation, team/saas-integrations, team/logs-backend, ecosystems/review-requested, product/review-requested, docs/review-requested, team/logs-integrations-reviewers, integration/plaid

#20397 [DBMON-5404] Add TagManager class to dbm base utils
  datadog_checks_base/changelog.d/20397.added
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
Labels: base_package, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#20409 Make Appgate docs public
  appgate_sdp/manifest.json
Labels: documentation, team/agent-integrations, team/documentation, integration/appgate_sdp

#20411 Update Appgate SDP README
  appgate_sdp/README.md
Labels: documentation, team/agent-integrations, team/documentation, integration/appgate_sdp

#20392 Make octopus deploy integration public
  octopus_deploy/README.md
  octopus_deploy/assets/configuration/spec.yaml
  octopus_deploy/assets/dashboards/overview.json
  octopus_deploy/datadog_checks/octopus_deploy/config_models/instance.py
  octopus_deploy/datadog_checks/octopus_deploy/data/conf.yaml.example
  octopus_deploy/manifest.json
  octopus_deploy/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, integration/http_check, integration/ecs_fargate, integration/mongo, integration/mysql, integration/postgres, integration/redisdb, integration/riakcs, integration/snmp, integration/sqlserver, integration/cisco_aci, integration/tls, editorial review, integration/amazon_msk, dependencies, release, qa/skip-qa, base_package, team/agent-integrations, team/database-monitoring-agent, team/container-integrations, team/documentation, team/saas-integrations, team/logs-backend, integration/teleport, team/agent-delivery, integration/octopus_deploy, integration/appgate_sdp, team/ndm-core, team/ndm-integrations, team/logs-integrations-reviewers, integration/celery, integration/plaid, integration/box

#20312 Update style deps
  datadog_checks_base/tests/test_metadata.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  datadog_checks_dev/datadog_checks/dev/testing.py
  ddev/changelog.d/20312.added
  ddev/src/ddev/plugin/external/hatch/environment_collector.py
  dns_check/tests/mocks.py
  haproxy/datadog_checks/haproxy/legacy/haproxy.py
  http_check/tests/conftest.py
  kubelet/datadog_checks/kubelet/kubelet.py
  kubelet/datadog_checks/kubelet/prometheus.py
  mapreduce/tests/common.py
  mongo/datadog_checks/mongo/discovery.py
  network/datadog_checks/network/network.py
  nfsstat/tests/test_nfsstat.py
  postgres/tests/test_statements.py
  process/tests/test_process.py
  rabbitmq/datadog_checks/rabbitmq/rabbitmq.py
  teleport/datadog_checks/teleport/metrics.py
  temporal/scripts/generate_metadata.py
  torchserve/datadog_checks/torchserve/model_discovery.py
Labels: changelog/no-changelog, integration/http_check, integration/dns_check, integration/haproxy, integration/kubelet, integration/mapreduce, integration/mongo, integration/network, integration/nfsstat, integration/postgres, integration/process, integration/rabbitmq, dev_package, base_package, ddev, integration/temporal, integration/torchserve, team/agent-integrations, team/database-monitoring-agent, team/container-integrations, team/windows-agent, integration/teleport

#20407 [GPUM:] updated onboarding documentation for deployment with dd-operator
  gpu/README.md
Labels: documentation, qa/skip-qa, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved, integration/gpu, team/ebpf-platform

#20337 Add Windows Certificate Store Integration Tile
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  windows_certificate/CHANGELOG.md
  windows_certificate/README.md
  windows_certificate/assets/dashboards/windows_certificate_overview.json
  windows_certificate/assets/monitors/windows_certificate_expiration.json
  windows_certificate/assets/service_checks.json
  windows_certificate/manifest.json
  windows_certificate/metadata.csv
Labels: documentation, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/windows-agent, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/windows_certificate
