Repository DataDog/integrations-core, pull requests merged in 2025-03, with the labels that each got.

#19721 Fix Teleport log pipeline Grok parser rules containing newlines
  teleport/assets/logs/teleport.yaml
Labels: changelog/no-changelog, team/logs-backend, integration/teleport, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested

#19739 DOCS-9949 - Elasticsearch custom queries
  elastic/README.md
Labels: documentation, changelog/no-changelog, integration/elastic, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19393 Add empty hostname workaround
  vsphere/changelog.d/19393.fixed
  vsphere/datadog_checks/vsphere/config.py
  vsphere/datadog_checks/vsphere/event.py
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_event.py
Labels: integration/vsphere, ecosystems/review-requested, product/review-requested, agent/review-requested

#19747 [snowflake][ccm] Add cost management dashboard
  snowflake/assets/dashboards/snowflake_costs.json
  snowflake/manifest.json
Labels: documentation, changelog/no-changelog, integration/snowflake, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, docs/approved

#19574 Parse new metrics available in sonarqube
  sonarqube/changelog.d/19574.fixed
  sonarqube/datadog_checks/sonarqube/check.py
  sonarqube/tests/api_responses/measures_component
  sonarqube/tests/metrics.py
  sonarqube/tests/test_integration.py
  sonarqube/tests/test_unit.py
Labels: integration/sonarqube, team/agent-integrations

#19745 Escape regex special characters in service check message assertions
  datadog_checks_base/tests/base/checks/test_agent_check.py
  marklogic/tests/test_marklogic.py
  tls/tests/test_remote.py
Labels: changelog/no-changelog, integration/tls, integration/marklogic, base_package, team/agent-integrations

#19737 Update agent build in GitLab CI to point to the proper branch
  .gitlab/build_agent.yaml
Labels: changelog/no-changelog, dev/tooling, team/agent-integrations

#19304 [SAASINT-3497] DDSaaS: Tenable.io: Crawler Integration v1.0.0
  tenable_io/README.md
  tenable_io/assets/dashboards/tenable_io_activity_summary.json
  tenable_io/assets/dashboards/tenable_io_vulnerability_summary.json
  tenable_io/assets/logs/tenable-io.yaml
  tenable_io/assets/logs/tenable-io_tests.yaml
  tenable_io/assets/monitors/asset_deletion_activity.json
  tenable_io/assets/monitors/automatic_asset_age_out_activity.json
  tenable_io/assets/monitors/user_impersonation_activity.json
  tenable_io/assets/tenable-io.svg
  tenable_io/images/tenable_io_activity_summary.png
  tenable_io/images/tenable_io_vulnerability_summary.png
  tenable_io/manifest.json
Labels: assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, docs/approved

#19754 launch public docs for temporal cloud
  temporal_cloud/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, docs/approved, integration/temporal_cloud

#19330 [SAASINT-3553] DDS: Zero Networks: Crawler Integration v1.0.0
  zero_networks/CHANGELOG.md
  zero_networks/README.md
  zero_networks/assets/dashboards/zero_networks_audit.json
  zero_networks/assets/dashboards/zero_networks_network_activities.json
  zero_networks/assets/logs/zero-networks.yaml
  zero_networks/assets/logs/zero-networks_tests.yaml
  zero_networks/assets/zero_networks.svg
  zero_networks/images/zero_networks_audit.png
  zero_networks/images/zero_networks_network_activities.png
  zero_networks/manifest.json
Labels: documentation, changelog/no-changelog, qa/skip-qa, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, docs/approved, integration/zero_networks

#19752 Update service check assertion
  sqlserver/tests/test_integration.py
Labels: changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#19760 DOCS-10224 added an example to securely pass API key
  ecs_fargate/README.md
Labels: documentation, changelog/no-changelog, integration/ecs_fargate, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#19758 [SEMCON-748] fix DD exporter and connector metrics on OTel collector dashboard
  otel/assets/dashboards/otel_collector_metrics_dashboard.json
Labels: changelog/no-changelog, integration/otel, team/agent-integrations, team/opentelemetry, ecosystems/review-requested, product/review-requested, agent/approved

#19763 Bump base check dependency to use new assert method functionality
  marklogic/changelog.d/19763.fixed
  marklogic/pyproject.toml
  sqlserver/changelog.d/19763.fixed
  sqlserver/pyproject.toml
  tls/changelog.d/19763.fixed
  tls/pyproject.toml
  tls/tests/test_fips.py
Labels: integration/sqlserver, integration/tls, integration/marklogic, team/agent-integrations, team/database-monitoring-agent

#19756 Add config option to skip db, collection and index stats for system databases
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/19756.added
  mongo/datadog_checks/mongo/collectors/coll_stats.py
  mongo/datadog_checks/mongo/collectors/db_stat.py
  mongo/datadog_checks/mongo/collectors/session_stats.py
  mongo/datadog_checks/mongo/common.py
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/config_models/defaults.py
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/datadog_checks/mongo/dbm/utils.py
  mongo/datadog_checks/mongo/mongo.py
  mongo/tests/results/metrics-collection-non-system.json
  mongo/tests/results/metrics-dbstats-non-system.json
  mongo/tests/results/metrics-indexes-stats-non-system.json
  mongo/tests/test_integration.py
  mongo/tests/test_unit_config.py
Labels: documentation, integration/mongo, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19768 Revert "[mongo] add service tag to agent operations (#19456)"
  mongo/changelog.d/19768.fixed
  mongo/datadog_checks/mongo/api.py
  mongo/tests/test_unit.py
Labels: integration/mongo, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19759 Update Temporal docs with Temporal Cloud link
  temporal/README.md
Labels: documentation, changelog/no-changelog, integration/temporal, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19773 Parse RDS end-of-life versions.
  postgres/changelog.d/19773.added
  postgres/datadog_checks/postgres/version_utils.py
  postgres/tests/test_version_utils.py
Labels: integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19764 Add nginx version 1.27
  nginx/hatch.toml
Labels: changelog/no-changelog, integration/nginx, team/agent-integrations

#19643 cert_manager: add 'certmanager_certificate_renewal_timestamp_seconds' metric collection
  cert_manager/changelog.d/19643.added
  cert_manager/datadog_checks/cert_manager/metrics.py
  cert_manager/metadata.csv
  cert_manager/tests/common.py
  cert_manager/tests/conftest.py
  cert_manager/tests/fixtures/cert_manager.txt
Labels: integration/cert_manager, team/agent-integrations, team/container-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19765 Enabled HA Support
  http_check/changelog.d/19765.added
  http_check/datadog_checks/http_check/http_check.py
Labels: integration/http_check, qa/skip-qa, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19750 Gracefully handle missing app properties
  spark/changelog.d/19750.fixed
  spark/datadog_checks/spark/spark.py
  spark/tests/test_spark.py
Labels: integration/spark, team/agent-integrations

#19778 Update gpu integration codeowners
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-integrations, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19755 Modify auto agent build behavior and manual build agent branch
  .gitlab/build_agent.yaml
Labels: changelog/no-changelog, dev/tooling, team/agent-integrations

#19744 Collect consumer state tag as string name instead of int value
  kafka_consumer/changelog.d/19744.fixed
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/tests/common.py
  kafka_consumer/tests/test_client.py
Labels: integration/kafka_consumer, team/agent-integrations

#19780 gpu: Add limit/usage metrics
  gpu/CHANGELOG.md
  gpu/metadata.csv
Labels: documentation, changelog/no-changelog, qa/skip-qa, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved, integration/gpu

#19786 [Release] Bumped kafka_consumer version to 6.5.1
  .in-toto/tag.47c5a022.link
  kafka_consumer/CHANGELOG.md
  kafka_consumer/changelog.d/19744.fixed
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/kafka_consumer, release, qa/skip-qa, team/agent-integrations, team/documentation

#19696 [feat] redisdb: Add additional memory metrics
  redisdb/changelog.d/19696.added
  redisdb/datadog_checks/redisdb/redisdb.py
  redisdb/metadata.csv
  redisdb/tests/test_e2e.py
Labels: integration/redisdb, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19284 Add Ceph usage by device class metric
  ceph/changelog.d/19284.added
  ceph/datadog_checks/ceph/ceph.py
  ceph/metadata.csv
  ceph/tests/fixtures/ceph_stats_by_class.json
  ceph/tests/test_unit.py
Labels: integration/ceph, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19789 [sqlserver] Remove mssql 2017 on linux from test suite
  sqlserver/hatch.toml
Labels: changelog/no-changelog, integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#19776 Add failover support with Agent High Availability feature
  cisco_aci/changelog.d/19776.added
  cisco_aci/datadog_checks/cisco_aci/cisco.py
Labels: integration/cisco_aci, qa/skip-qa, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved, team/ndm-integrations

#19781 Import dependencies of base checks on demand
  datadog_checks_base/README.md
  datadog_checks_base/changelog.d/19781.fixed
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/libs/prometheus.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/utils.py
Labels: documentation, base_package, team/agent-integrations, team/container-integrations

#19343 [SAASINT-3541] DDS: Tanium: Crawler Integration v1.0.0
  .github/CODEOWNERS
  tanium/README.md
  tanium/assets/dashboards/tanium_platform_audit_logs.json
  tanium/assets/dashboards/tanium_threat_response_alerts.json
  tanium/assets/dashboards/tanium_threat_response_audit_logs.json
  tanium/assets/logs/tanium.yaml
  tanium/assets/logs/tanium_tests.yaml
  tanium/assets/tanium.svg
  tanium/images/tanium_platform_audit_logs.png
  tanium/images/tanium_threat_response_alerts.png
  tanium/images/tanium_threat_response_audit_logs.png
  tanium/manifest.json
Labels: documentation, changelog/no-changelog, editorial review, team/agent-integrations, team/logs-backend, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/tanium, team/Logs-Core

#19792 DDS: PingOne README Update
  ping_one/README.md
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/ping_one, product/review-requested, docs/approved, ecosystems/approved

#19414 [SAASINT-3635] DDS: Symantec VIP: Crawler Integration v1.0.0
  symantec_vip/README.md
  symantec_vip/assets/dashboards/symantec_vip_events.json
  symantec_vip/assets/logs/symantec-vip.yaml
  symantec_vip/assets/logs/symantec-vip_tests.yaml
  symantec_vip/assets/service_checks.json
  symantec_vip/assets/symantec_vip.svg
  symantec_vip/images/symantec_vip_events.png
  symantec_vip/manifest.json
Labels: editorial review, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, docs/approved

#19782 DDS: Update README Trellix Endpoint Security
  trellix_endpoint_security/README.md
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/trellix_endpoint_security, ecosystems/review-requested, product/review-requested, docs/approved

#19770 Use `__NAMESPACE__` in the FoundationDB integration
  foundationdb/changelog.d/19770.fixed
  foundationdb/datadog_checks/foundationdb/check.py
Labels: integration/foundationdb, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19798 [mongo] skip explain aggregation pipeline with mergeCursors stage
  mongo/changelog.d/19798.added
  mongo/datadog_checks/mongo/dbm/utils.py
Labels: integration/mongo, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19799 update mariadb test suite to include 11.4 LTS and remove eol versions
  mysql/hatch.toml
Labels: changelog/no-changelog, integration/mysql, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested

#19807 [SDBM-1534] Modify sqlserver index usage stats query
  sqlserver/changelog.d/19807.changed
  sqlserver/datadog_checks/sqlserver/database_metrics/index_usage_metrics.py
Labels: integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19803 [sqlserver] fix bug where tempdb is wrongly excluded in database files metrics
  sqlserver/changelog.d/19803.fixed
  sqlserver/datadog_checks/sqlserver/database_metrics/base.py
  sqlserver/tests/test_database_metrics.py
Labels: integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19791 Reduce log verbosity level for unverified HTTP requests.
  datadog_checks_base/changelog.d/19791.fixed
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
Labels: base_package, team/agent-integrations

#19814 Revert "bump pymongo to 4.11 (#19610)"
  agent_requirements.in
  mongo/changelog.d/19814.fixed
  mongo/datadog_checks/mongo/collectors/custom_queries.py
  mongo/pyproject.toml
  mongo/tests/conftest.py
  mongo/tests/test_unit.py
Labels: integration/mongo, dependencies, team/agent-integrations, team/database-monitoring-agent, backport/7.64.x

#19816 Fix not fips keyword on target tests
  .github/workflows/test-target.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#19815 Use `dd_run_check` in ceph tests
  ceph/tests/test_integration.py
  ceph/tests/test_unit.py
Labels: changelog/no-changelog, integration/ceph, team/agent-integrations

#19810 DDSaaS: Postmark: Dashboard and images modified
  postmark/assets/dashboards/postmark_message_streams_activity.json
  postmark/assets/dashboards/postmark_overview.json
  postmark/images/postmark_message_streams_activity_1.png
  postmark/images/postmark_message_streams_activity_2.png
  postmark/images/postmark_overview_1.png
  postmark/images/postmark_overview_2.png
  postmark/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, integration/postmark

#19818 [metabase] Frontend docs turn on
  metabase/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, integration/metabase

#19821 Port "Revert "bump pymongo to 4.11 (#19610)" (#19814)" to 7.64
  agent_requirements.in
  mongo/changelog.d/19814.fixed
  mongo/datadog_checks/mongo/collectors/custom_queries.py
  mongo/pyproject.toml
  mongo/tests/conftest.py
  mongo/tests/test_unit.py
Labels: integration/mongo, dependencies, team/agent-integrations, team/database-monitoring-agent

#19813 [CONTP-672]Add widget for local failover metric store in cluster-agent
  datadog_cluster_agent/assets/dashboards/datadog_cluster_agent_overview.json
Labels: changelog/no-changelog, integration/datadog_cluster_agent, team/agent-integrations, team/container-integrations, ecosystems/review-requested, product/review-requested

#19824 [Release] Bumped mongo version to 8.5.1
  .in-toto/tag.ec45eb9d.link
  mongo/CHANGELOG.md
  mongo/changelog.d/19814.fixed
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#19823 GPU: added more metrics to the gpu metadata.csv
  gpu/metadata.csv
Labels: changelog/no-changelog, qa/skip-qa, ecosystems/review-requested, product/review-requested, integration/gpu, team/ebpf-platform

#19833 Run fips tests if base pkg deps change
  .github/workflows/test-fips-e2e.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#19835 Stop validating assets since APW now handles that
  .github/workflows/validate.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#19804 Add note about soft deprecation for service checks
  datadog_checks_base/datadog_checks/base/checks/base.py
Labels: changelog/no-changelog, dev/tooling, dev_package, base_package, team/agent-integrations

#19832 Remove duckdb empty service check asset
  duckdb/assets/service_checks.json
  duckdb/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/duckdb

#19836 Collect Cisco ACI faults as logs.
  cisco_aci/README.md
  cisco_aci/assets/configuration/spec.yaml
  cisco_aci/changelog.d/19836.added
  cisco_aci/datadog_checks/cisco_aci/api.py
  cisco_aci/datadog_checks/cisco_aci/cisco.py
  cisco_aci/datadog_checks/cisco_aci/config_models/defaults.py
  cisco_aci/datadog_checks/cisco_aci/config_models/instance.py
  cisco_aci/datadog_checks/cisco_aci/data/conf.yaml.example
  cisco_aci/datadog_checks/cisco_aci/faults.py
  cisco_aci/manifest.json
  cisco_aci/tests/common.py
  cisco_aci/tests/fixtures/faults.py
  cisco_aci/tests/fixtures/faults/431f5593e6349e09f0097d3f23dea75c.txt
  cisco_aci/tests/fixtures/faults/5058ab43747e6423c036a89104ec05dc.txt
  cisco_aci/tests/fixtures/faults/5d56882ce9d312af184fedfe77bc08df.txt
  cisco_aci/tests/fixtures/faults/8bf03ccb4d494c0f8d05f7e8d9115dfd.txt
  cisco_aci/tests/test_faults.py
Labels: documentation, integration/cisco_aci, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/review-requested, team/ndm-integrations

#19809 Zero Networks: Minor changes
  zero_networks/README.md
  zero_networks/assets/dashboards/zero_networks_network_activities.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, docs/approved, integration/zero_networks

#19839 Add `lazy-loader` dependency
  .ddev/config.toml
  LICENSE-3rdparty.csv
  agent_requirements.in
  datadog_checks_base/pyproject.toml
Labels: changelog/no-changelog, dependencies, base_package, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19848 Remove use of compromised action
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-delivery, ecosystems/review-requested, product/review-requested, agent/approved

#19855 [mongo] change default explain verbosity to queryPlanner
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/19855.changed
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/datadog_checks/mongo/dbm/utils.py
  mongo/tests/results/operation-samples-mongos-executionstats.json
  mongo/tests/results/operation-samples-standalone-executionstats.json
  mongo/tests/results/slow-operations-explain-plans-mongos-executionstats.json
  mongo/tests/results/slow-operations-explain-plans-standalone-executionstats.json
  mongo/tests/test_dbm_operation_samples.py
  mongo/tests/test_dbm_slow_operations.py
Labels: documentation, integration/mongo, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19845 Refactor imports
  datadog_checks_base/README.md
  datadog_checks_base/changelog.d/19845.added
  datadog_checks_base/changelog.d/19845.added.1
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/libs/prometheus.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/utils.py
  datadog_checks_base/datadog_checks/base/log.py
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/_http_utils.py
  datadog_checks_base/datadog_checks/base/utils/db/sql.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/datadog_checks/base/utils/format/__init__.py
  datadog_checks_base/datadog_checks/base/utils/format/_json.py
  datadog_checks_base/datadog_checks/base/utils/format/json.py
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/replay/execute.py
  datadog_checks_base/datadog_checks/base/utils/replay/redirect.py
  datadog_checks_base/datadog_checks/base/utils/serialization.py
  datadog_checks_base/datadog_checks/base/utils/tracing.py
  datadog_checks_base/tests/base/utils/db/test_util.py
  datadog_checks_base/tests/base/utils/format/__init__.py
  datadog_checks_base/tests/base/utils/format/test_json.py
  datadog_checks_base/tests/base/utils/http/test_auth.py
Labels: documentation, base_package, team/agent-integrations, team/database-monitoring-agent, team/container-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19856 [mongo] increase collection stats and collection index stats collect interval to 5 mins
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/19856.added
  mongo/datadog_checks/mongo/config.py
  mongo/tests/test_unit_config.py
Labels: documentation, integration/mongo, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19842 Stop using the uptime library
  .ddev/config.toml
  LICENSE-3rdparty.csv
  agent_requirements.in
  datadog_checks_base/changelog.d/19842.fixed
  datadog_checks_base/pyproject.toml
  datadog_checks_dev/changelog.d/19842.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
  win32_event_log/changelog.d/19842.fixed
  win32_event_log/datadog_checks/win32_event_log/legacy/win32_event_log.py
  win32_event_log/pyproject.toml
Labels: dev/tooling, integration/win32_event_log, dependencies, dev_package, base_package, team/agent-integrations, team/windows-agent, ecosystems/review-requested, product/review-requested, agent/approved

#19853 network: add new system.net.iface.up metric
  network/changelog.d/19853.added
  network/datadog_checks/network/check_linux.py
  network/metadata.csv
  network/tests/test_linux.py
Labels: integration/network, team/agent-integrations, team/windows-agent, ecosystems/review-requested, product/review-requested, agent/approved

#19866 [mailchimp] Switch on public docs
  mailchimp/manifest.json
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, integration/mailchimp, ecosystems/review-requested, product/review-requested

#19831 Remove service check from integration scaffolding templates
  datadog_checks_dev/changelog.d/19831.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/assets/service_checks.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/datadog_checks/{check_name}/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/tests/test_unit.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/assets/service_checks.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/datadog_checks/{check_name}/check.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check_only/{check_name}/tests/test_unit.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/assets/service_checks.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/assets/service_checks.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/manifest.json
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/metrics_crawler/{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/snmp_tile/snmp_{check_name}/README.md
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/tile/{check_name}/README.md
  datadog_checks_dev/tests/tooling/commands/validate/data/my_check/manifest.json
Labels: dev/tooling, dev_package, team/agent-integrations, team/documentation

#19699 Update Anthropic Desc
  anthropic/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/ml-observability, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved, integration/anthropic

#19681 Add more FoundationDB metrics
  foundationdb/changelog.d/19681.added
  foundationdb/datadog_checks/foundationdb/check.py
  foundationdb/metadata.csv
  foundationdb/tests/common.py
Labels: integration/foundationdb, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19819 Rename `describe_consumer_groups` and don't return `group_id`
  kafka_consumer/datadog_checks/kafka_consumer/client.py
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_client.py
  kafka_consumer/tests/test_unit.py
Labels: changelog/no-changelog, integration/kafka_consumer, team/agent-integrations

#19843 Add note about resource filters
  vsphere/assets/configuration/spec.yaml
  vsphere/datadog_checks/vsphere/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/vsphere, team/agent-integrations, team/documentation

#19864 Add basic Cursor rules
  .cursor/rules/edit-changelog.mdc
  .cursor/rules/format-code.mdc
  .cursor/rules/general.mdc
  .cursor/rules/testing.mdc
Labels: changelog/no-changelog, team/agent-integrations

#19825 Add support for specifying tenants in avi_vantage
  avi_vantage/assets/configuration/spec.yaml
  avi_vantage/changelog.d/19825.added
  avi_vantage/datadog_checks/avi_vantage/check.py
  avi_vantage/datadog_checks/avi_vantage/config_models/defaults.py
  avi_vantage/datadog_checks/avi_vantage/config_models/instance.py
  avi_vantage/datadog_checks/avi_vantage/data/conf.yaml.example
  avi_vantage/tests/compose/fixtures/admin_tenant/controller_metrics
  avi_vantage/tests/compose/fixtures/admin_tenant/metrics.json
  avi_vantage/tests/compose/fixtures/admin_tenant/pool_metrics
  avi_vantage/tests/compose/fixtures/admin_tenant/serviceengine_metrics
  avi_vantage/tests/compose/fixtures/admin_tenant/virtualservice_metrics
  avi_vantage/tests/compose/fixtures/multiple_tenants/controller_metrics
  avi_vantage/tests/compose/fixtures/multiple_tenants/metrics.json
  avi_vantage/tests/compose/fixtures/multiple_tenants/pool_metrics
  avi_vantage/tests/compose/fixtures/multiple_tenants/serviceengine_metrics
  avi_vantage/tests/compose/fixtures/multiple_tenants/virtualservice_metrics
  avi_vantage/tests/compose/fixtures/no_tenant/controller_metrics
  avi_vantage/tests/compose/fixtures/no_tenant/metrics.json
  avi_vantage/tests/compose/fixtures/no_tenant/pool_metrics
  avi_vantage/tests/compose/fixtures/no_tenant/serviceengine_metrics
  avi_vantage/tests/compose/fixtures/no_tenant/virtualservice_metrics
  avi_vantage/tests/compose/manage.py
  avi_vantage/tests/conftest.py
  avi_vantage/tests/test_avi_vantage.py
Labels: documentation, integration/avi_vantage, team/agent-integrations, team/documentation

#19365 [AI-4784] DDSaaS: Sonatype Nexus: Integration v1.0.0
  .codecov.yml
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  sonatype_nexus/CHANGELOG.md
  sonatype_nexus/README.md
  sonatype_nexus/assets/configuration/spec.yaml
  sonatype_nexus/assets/dashboards/sonatype_nexus_instance_health.json
  sonatype_nexus/assets/dashboards/sonatype_nexus_metrics.json
  sonatype_nexus/assets/monitors/high_number_of_failed_unique_user_authentication_detected.json
  sonatype_nexus/assets/monitors/high_percentage_of_jvm_heap_memory_usage_detected.json
  sonatype_nexus/assets/monitors/unhealthy_available_cpus_detected.json
  sonatype_nexus/assets/monitors/unhealthy_blob_stores_detected.json
  sonatype_nexus/assets/monitors/unhealthy_thread_deadlock_detected.json
  sonatype_nexus/assets/service_checks.json
  sonatype_nexus/assets/sonatype_nexus.svg
  sonatype_nexus/changelog.d/19365.added
  sonatype_nexus/datadog_checks/__init__.py
  sonatype_nexus/datadog_checks/sonatype_nexus/__about__.py
  sonatype_nexus/datadog_checks/sonatype_nexus/__init__.py
  sonatype_nexus/datadog_checks/sonatype_nexus/api_client.py
  sonatype_nexus/datadog_checks/sonatype_nexus/check.py
  sonatype_nexus/datadog_checks/sonatype_nexus/config_models/__init__.py
  sonatype_nexus/datadog_checks/sonatype_nexus/config_models/defaults.py
  sonatype_nexus/datadog_checks/sonatype_nexus/config_models/instance.py
  sonatype_nexus/datadog_checks/sonatype_nexus/config_models/shared.py
  sonatype_nexus/datadog_checks/sonatype_nexus/config_models/validators.py
  sonatype_nexus/datadog_checks/sonatype_nexus/constants.py
  sonatype_nexus/datadog_checks/sonatype_nexus/data/conf.yaml.example
  sonatype_nexus/datadog_checks/sonatype_nexus/errors.py
  sonatype_nexus/hatch.toml
  sonatype_nexus/images/sonatype_nexus_instance_health.png
  sonatype_nexus/images/sonatype_nexus_metrics_1.png
  sonatype_nexus/images/sonatype_nexus_metrics_2.png
  sonatype_nexus/manifest.json
  sonatype_nexus/metadata.csv
  sonatype_nexus/pyproject.toml
  sonatype_nexus/tests/__init__.py
  sonatype_nexus/tests/common.py
  sonatype_nexus/tests/compose/docker-compose.yaml
  sonatype_nexus/tests/conftest.py
  sonatype_nexus/tests/test_check.py
  sonatype_nexus/tests/test_e2e.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19364 [AI-4814] DDSaaS: Silverstripe CMS: Integration v1.0.0
  .codecov.yml
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  silverstripe_cms/CHANGELOG.md
  silverstripe_cms/README.md
  silverstripe_cms/assets/configuration/spec.yaml
  silverstripe_cms/assets/dashboards/silverstripe_cms_overview.json
  silverstripe_cms/assets/monitors/pages_with_broken_files_are_higher.json
  silverstripe_cms/assets/monitors/pages_with_broken_links_are_higher.json
  silverstripe_cms/assets/service_checks.json
  silverstripe_cms/assets/silverstripe_cms.svg
  silverstripe_cms/changelog.d/19364.added
  silverstripe_cms/datadog_checks/__init__.py
  silverstripe_cms/datadog_checks/silverstripe_cms/__about__.py
  silverstripe_cms/datadog_checks/silverstripe_cms/__init__.py
  silverstripe_cms/datadog_checks/silverstripe_cms/check.py
  silverstripe_cms/datadog_checks/silverstripe_cms/config_models/__init__.py
  silverstripe_cms/datadog_checks/silverstripe_cms/config_models/defaults.py
  silverstripe_cms/datadog_checks/silverstripe_cms/config_models/instance.py
  silverstripe_cms/datadog_checks/silverstripe_cms/config_models/shared.py
  silverstripe_cms/datadog_checks/silverstripe_cms/config_models/validators.py
  silverstripe_cms/datadog_checks/silverstripe_cms/constants.py
  silverstripe_cms/datadog_checks/silverstripe_cms/data/conf.yaml.example
  silverstripe_cms/datadog_checks/silverstripe_cms/database_client.py
  silverstripe_cms/datadog_checks/silverstripe_cms/dataclasses.py
  silverstripe_cms/hatch.toml
  silverstripe_cms/images/silverstripe_cms_overview.png
  silverstripe_cms/manifest.json
  silverstripe_cms/metadata.csv
  silverstripe_cms/pyproject.toml
  silverstripe_cms/tests/__init__.py
  silverstripe_cms/tests/common.py
  silverstripe_cms/tests/compose/Dockerfile
  silverstripe_cms/tests/compose/docker-compose.yaml
  silverstripe_cms/tests/compose/docker-entrypoint.sh
  silverstripe_cms/tests/compose/silverstripe.conf
  silverstripe_cms/tests/conftest.py
  silverstripe_cms/tests/test_e2e.py
  silverstripe_cms/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19870 dont run compute_matrix on merge_group
  .github/workflows/pr-test.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations

#19875 Touch up performance docs and changelog entries
  datadog_checks_base/README.md
  datadog_checks_base/changelog.d/19838.added
  datadog_checks_base/changelog.d/19842.fixed
  datadog_checks_base/changelog.d/19845.added
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/http.py
Labels: documentation, changelog/no-changelog, base_package, team/agent-integrations

#19766 DDS: Bitdefender Integration: Readme changes
  bitdefender/README.md
Labels: documentation, changelog/no-changelog, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, docs/approved, integration/bitdefender

#19879 Fix typo in reference link
  cilium/README.md
Labels: documentation, changelog/no-changelog, integration/cilium, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#19539 [AI-4900] Add Velero integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  velero/CHANGELOG.md
  velero/README.md
  velero/assets/configuration/spec.yaml
  velero/assets/service_checks.json
  velero/changelog.d/19539.added
  velero/datadog_checks/__init__.py
  velero/datadog_checks/velero/__about__.py
  velero/datadog_checks/velero/__init__.py
  velero/datadog_checks/velero/check.py
  velero/datadog_checks/velero/config_models/__init__.py
  velero/datadog_checks/velero/config_models/defaults.py
  velero/datadog_checks/velero/config_models/instance.py
  velero/datadog_checks/velero/config_models/shared.py
  velero/datadog_checks/velero/config_models/validators.py
  velero/datadog_checks/velero/data/conf.yaml.example
  velero/datadog_checks/velero/metrics.py
  velero/hatch.toml
  velero/manifest.json
  velero/metadata.csv
  velero/pyproject.toml
  velero/tests/__init__.py
  velero/tests/common.py
  velero/tests/conftest.py
  velero/tests/fixtures/velero_payload.txt
  velero/tests/kind/kind-config.yaml
  velero/tests/kind/minio.yaml
  velero/tests/kind/nginx.yaml
  velero/tests/kind/velero-values.yaml
  velero/tests/test_e2e.py
  velero/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, integration/velero

#19880 [SNMP] Fix e2e test
  snmp/tests/test_e2e_core_metadata.py
Labels: changelog/no-changelog, integration/snmp, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved, team/ndm-core

#19882 Use external cryptography when building on Windows
  .deps/resolved/windows-x86_64_3.12.txt
Labels: changelog/no-changelog, team/agent-integrations, team/agent-delivery

#19715 Add metric collection from scontrol for worker nodes
  slurm/README.md
  slurm/assets/configuration/spec.yaml
  slurm/changelog.d/19715.added
  slurm/datadog_checks/slurm/check.py
  slurm/datadog_checks/slurm/config_models/defaults.py
  slurm/datadog_checks/slurm/config_models/instance.py
  slurm/datadog_checks/slurm/constants.py
  slurm/datadog_checks/slurm/data/conf.yaml.example
  slurm/metadata.csv
  slurm/tests/common.py
  slurm/tests/conftest.py
  slurm/tests/fixtures/scontrol.txt
  slurm/tests/fixtures/scontrol_squeue.txt
  slurm/tests/fixtures/scontrol_squeue2.txt
  slurm/tests/test_unit.py
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/slurm

#19748 Initial InfiniBand/RDMA integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  infiniband/CHANGELOG.md
  infiniband/README.md
  infiniband/assets/configuration/spec.yaml
  infiniband/changelog.d/19748.added
  infiniband/datadog_checks/__init__.py
  infiniband/datadog_checks/infiniband/__about__.py
  infiniband/datadog_checks/infiniband/__init__.py
  infiniband/datadog_checks/infiniband/check.py
  infiniband/datadog_checks/infiniband/config_models/__init__.py
  infiniband/datadog_checks/infiniband/config_models/defaults.py
  infiniband/datadog_checks/infiniband/config_models/instance.py
  infiniband/datadog_checks/infiniband/config_models/shared.py
  infiniband/datadog_checks/infiniband/config_models/validators.py
  infiniband/datadog_checks/infiniband/data/conf.yaml.example
  infiniband/datadog_checks/infiniband/metrics.py
  infiniband/hatch.toml
  infiniband/images/IMAGES_README.md
  infiniband/manifest.json
  infiniband/metadata.csv
  infiniband/pyproject.toml
  infiniband/tests/__init__.py
  infiniband/tests/common.py
  infiniband/tests/conftest.py
  infiniband/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, integration/infiniband

#19863 Remove unnecessary `pyyaml` usage
  citrix_hypervisor/datadog_checks/citrix_hypervisor/check.py
  datadog_checks_base/changelog.d/19863.added
  datadog_checks_base/changelog.d/19863.security
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/ddyaml.py
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
  datadog_checks_base/tests/base/test_ddyaml.py
  datadog_checks_base/tests/fixtures/ddyaml/valid_conf.yaml
  snmp/tests/conftest.py
  snmp/tests/test_check.py
  snmp/tests/test_parsing.py
  snmp/tests/test_unit.py
Labels: integration/snmp, integration/citrix_hypervisor, base_package, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved, team/ndm-core

#19883 [7.65.x] Release new integrations
  .in-toto/tag.bd79a691.link
  cisco_secure_web_appliance/CHANGELOG.md
  cisco_secure_web_appliance/changelog.d/18717.added
  cisco_secure_web_appliance/datadog_checks/cisco_secure_web_appliance/__about__.py
  infiniband/CHANGELOG.md
  infiniband/changelog.d/19748.added
  infiniband/datadog_checks/infiniband/__about__.py
  requirements-agent-release.txt
  silverstripe_cms/CHANGELOG.md
  silverstripe_cms/changelog.d/19364.added
  silverstripe_cms/datadog_checks/silverstripe_cms/__about__.py
  sonatype_nexus/CHANGELOG.md
  sonatype_nexus/changelog.d/19365.added
  sonatype_nexus/datadog_checks/sonatype_nexus/__about__.py
  velero/CHANGELOG.md
  velero/changelog.d/19539.added
  velero/datadog_checks/velero/__about__.py
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/velero, integration/cisco_secure_web_appliance, integration/infiniband, integration/silverstripe_cms, integration/sonatype_nexus

#19884 [Port to master] New integrations changelog
  cisco_secure_web_appliance/CHANGELOG.md
  cisco_secure_web_appliance/changelog.d/18717.added
  cisco_secure_web_appliance/datadog_checks/cisco_secure_web_appliance/__about__.py
  infiniband/CHANGELOG.md
  infiniband/changelog.d/19748.added
  infiniband/datadog_checks/infiniband/__about__.py
  requirements-agent-release.txt
  silverstripe_cms/CHANGELOG.md
  silverstripe_cms/changelog.d/19364.added
  silverstripe_cms/datadog_checks/silverstripe_cms/__about__.py
  sonatype_nexus/CHANGELOG.md
  sonatype_nexus/changelog.d/19365.added
  sonatype_nexus/datadog_checks/sonatype_nexus/__about__.py
  velero/CHANGELOG.md
  velero/changelog.d/19539.added
  velero/datadog_checks/velero/__about__.py
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/velero, integration/cisco_secure_web_appliance, integration/infiniband, integration/silverstripe_cms, integration/sonatype_nexus

#19858 Fix typo
  kubernetes_state_core/README.md
Labels: documentation, changelog/no-changelog, integration/kubernetes_state_core, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19878 [AI-5059] Handle Mesos Slave for Ubuntu-22.04
  mesos_slave/hatch.toml
  mesos_slave/tests/compose/docker-compose.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, integration/mesos_slave, team/agent-integrations, backport/7.65.x

#19892 Revert "[AI-5059] Handle Mesos Slave for Ubuntu-22.04 (#19878)"
  mesos_slave/hatch.toml
  mesos_slave/tests/compose/docker-compose.yml
Labels: changelog/no-changelog, integration/mesos_slave, team/agent-integrations

#19889 Fix Workflow Dispatch for build deps workflow
  .github/workflows/build-deps.yml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-delivery, ecosystems/review-requested, product/review-requested, agent/approved

#19881 Add more optional metrics in tests
  tekton/tests/common.py
  tekton/tests/test_e2e.py
Labels: changelog/no-changelog, team/agent-integrations, integration/tekton

#19872 Cleanup for GKE recommendations
  gke/README.md
Labels: documentation, changelog/no-changelog, integration/gke, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19718 Khang.truong/change no data
  calico/assets/monitors/dataplane_failures.json
  calico/assets/monitors/ipset_error.json
  calico/assets/monitors/iptables_restore_errors.json
  calico/assets/monitors/iptables_save_errors.json
  foundationdb/assets/monitors/read_latency_probe.json
  hudi/assets/monitors/commit_duration.json
  kafka/assets/monitors/broker_produce_latency.json
  kubernetes/assets/monitors/monitor_deployments_replicas.json
  kubernetes/assets/monitors/monitor_pods_restarting.json
  snmp/assets/monitors/bgp_peer_state_stuck.json
  snmp/assets/monitors/high_cpu.json
  snmp/assets/monitors/high_memory.json
  teradata/assets/monitors/high_disk_space.json
  teradata/assets/monitors/low_ready_threads.json
  tibco_ems/assets/monitors/server_uptime.json
Labels: changelog/no-changelog, integration/kafka, integration/kubernetes, integration/snmp, integration/hudi, integration/foundationdb, integration/teradata, integration/calico, mergequeue-status: waiting, team/agent-integrations, team/container-integrations, team/documentation, integration/tibco_ems, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, team/ndm-core

#19904 Rename `velero.backup` and `velero.restore` metrics
  velero/changelog.d/19904.changed
  velero/datadog_checks/velero/metrics.py
  velero/metadata.csv
  velero/tests/common.py
Labels: team/agent-integrations, integration/velero, backport/7.65.x

#19908 Warning for missing explain_plan function
  mysql/changelog.d/19908.changed
  mysql/datadog_checks/mysql/statement_samples.py
Labels: integration/mysql, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19910 Show MySQL schema collection config
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/mysql, qa/skip-qa, mergequeue-status: waiting, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, backport/7.65.x

#19837 Logs integrations assets for Cisco ACI integration faults sent as logs.
  cisco_aci/assets/logs/cisco-aci.yaml
  cisco_aci/assets/logs/cisco-aci_tests.yaml
Labels: changelog/no-changelog, integration/cisco_aci, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, team/Logs-Core, team/logs-integrations-reviewers

#19918 Publish keycloack
  keycloak/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/keycloak

#19920 Publish Ivanti Connect Secure
  ivanti_connect_secure/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/ivanti_connect_secure

#19854 [DSM] Add link text to DSM to each core DSM integration so that DSM shows up on the website
  amazon_msk/README.md
  confluent_platform/README.md
  kafka/README.md
  rabbitmq/README.md
Labels: documentation, changelog/no-changelog, integration/kafka, integration/rabbitmq, integration/amazon_msk, integration/confluent_platform, qa/skip-qa, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#19922 [AI-4902] Add Velero recommended monitors
  velero/assets/monitors/backup_failures.json
  velero/assets/monitors/backup_staleness.json
  velero/assets/monitors/restore_failures.json
  velero/manifest.json
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/velero

#19923 Backport: [mongo] skip explain aggregation pipeline with mergeCursors stage (#19798)
  mongo/changelog.d/19798.added
  mongo/datadog_checks/mongo/dbm/utils.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/approved

#19928 Release mongo integration for 7.64.2
  .in-toto/tag.b9ca7eb3.link
  mongo/CHANGELOG.md
  mongo/changelog.d/19798.added
  mongo/datadog_checks/mongo/__about__.py
  requirements-agent-release.txt
Labels: documentation, integration/mongo, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#19917 [LOGSC-2211] Remove logs-core and old siem reviewer teams for logs integrations review
  .github/CODEOWNERS
Labels: changelog/no-changelog, team/agent-integrations, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19921 Remove unnecessary 'like'
  sqlserver/changelog.d/19921.fixed
  sqlserver/datadog_checks/sqlserver/queries.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19903 Make dependency resolution workflow names more explicit
  .github/workflows/resolve-build-deps.yaml
Labels: changelog/no-changelog, dev/testing, dev/tooling, team/agent-integrations, team/agent-delivery

#19939 Add changelog entry for MySQL configuration change from #19910
  mysql/changelog.d/19910.added
Labels: changelog/no-changelog, integration/mysql, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent

#19940 Changelogs, metadata and versions for 7.65.0 RC3
  .in-toto/tag.3fd906bb.link
  mysql/CHANGELOG.md
  mysql/changelog.d/19910.added
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
Labels: documentation, changelog/no-changelog, integration/mysql, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#19897 Add LLM Eval Instructions
  anthropic/README.md
  openai/README.md
Labels: documentation, changelog/no-changelog, integration/openai, mergequeue-status: waiting, team/agent-integrations, team/ml-observability, team/documentation, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/approved, integration/anthropic

#19945 Update link format
  openai/README.md
Labels: documentation, changelog/no-changelog, integration/openai, team/agent-integrations, team/ml-observability, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#19944 Don't submit property metrics with unknown hostname
  vsphere/changelog.d/19944.fixed
  vsphere/datadog_checks/vsphere/vsphere.py
  vsphere/tests/test_unit.py
Labels: integration/vsphere, team/agent-integrations

#19943 Add comment and test about how to assert empty hostname in `assert_metric`
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  datadog_checks_base/tests/stubs/test_assert_metric.py
Labels: changelog/no-changelog, base_package, team/agent-integrations

#19912 Allow timezone config option to be used in metric collection
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/changelog.d/19912.added
  ibm_mq/datadog_checks/ibm_mq/collectors/stats_collector.py
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/config_models/defaults.py
  ibm_mq/datadog_checks/ibm_mq/config_models/instance.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
  ibm_mq/datadog_checks/ibm_mq/stats/base_stats.py
  ibm_mq/datadog_checks/ibm_mq/stats/channel_stats.py
  ibm_mq/datadog_checks/ibm_mq/stats/queue_stats.py
  ibm_mq/tests/test_ibm_mq_unit.py
Labels: documentation, integration/ibm_mq, team/agent-integrations, team/documentation

#19930 Add support for case sensitive collations in SQL Server
  sqlserver/changelog.d/19930.fixed
  sqlserver/datadog_checks/sqlserver/queries.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_metadata.py
Labels: changelog/no-changelog, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested, backport/7.65.x

#19366 [SAASINT-3704] DDS: Forcepoint Secure Web Gateway: Crawler Integration v1.0.0
  .github/CODEOWNERS
  forcepoint_secure_web_gateway/README.md
  forcepoint_secure_web_gateway/assets/dashboards/forcepoint_secure_web_gateway_overview.json
  forcepoint_secure_web_gateway/assets/dashboards/forcepoint_secure_web_gateway_web_dlp_logs.json
  forcepoint_secure_web_gateway/assets/dashboards/forcepoint_secure_web_gateway_web_logs.json
  forcepoint_secure_web_gateway/assets/forcepoint-secure-web-gateway.svg
  forcepoint_secure_web_gateway/assets/logs/forcepoint-secure-web-gateway.yaml
  forcepoint_secure_web_gateway/assets/logs/forcepoint-secure-web-gateway_tests.yaml
  forcepoint_secure_web_gateway/images/forcepoint_secure_web_gateway_overview.png
  forcepoint_secure_web_gateway/images/forcepoint_secure_web_gateway_web_dlp_logs.png
  forcepoint_secure_web_gateway/images/forcepoint_secure_web_gateway_web_logs.png
  forcepoint_secure_web_gateway/manifest.json
Labels: documentation, changelog/no-changelog, editorial review, team/agent-integrations, team/logs-backend, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/forcepoint_secure_web_gateway, team/Logs-Core

#19951 Weaken conditions for applying the no-changelog label
  .github/workflows/config/labeler.yml
Labels: dev/testing, dev/tooling, team/agent-integrations, team/saas-integrations

#19931 SQL Server FreeTDS support
  sqlserver/changelog.d/19931.fixed
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/hatch.toml
  sqlserver/tests/common.py
  sqlserver/tests/test_deadlocks.py
Labels: integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested, backport/7.65.x

#19946 Add Velero service check
  velero/assets/service_checks.json
Labels: changelog/no-changelog, mergequeue-status: removed, team/agent-integrations, team/documentation, integration/velero

#19957 [Release] SQLServer fixes
  .in-toto/tag.bd79a691.link
  requirements-agent-release.txt
  sqlserver/CHANGELOG.md
  sqlserver/changelog.d/19930.fixed
  sqlserver/changelog.d/19931.fixed
  sqlserver/datadog_checks/sqlserver/__about__.py
Labels: documentation, integration/sqlserver, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation

#19935 remove extract_sql_comments and rely on obfuscator for comment and procedure collection
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/19935.added
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_statements.py
Labels: documentation, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19959 Exclude createIndexes operation in explain collection
  mongo/datadog_checks/mongo/dbm/utils.py
Labels: integration/mongo, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19933 Better metric descriptions and readme docs
  infiniband/README.md
  infiniband/assets/configuration/spec.yaml
  infiniband/datadog_checks/infiniband/data/conf.yaml.example
  infiniband/manifest.json
  infiniband/metadata.csv
Labels: documentation, changelog/no-changelog, team/agent-integrations, team/documentation, integration/infiniband

#19787 Update manifest.json
  databricks/manifest.json
Labels: documentation, changelog/no-changelog, integration/databricks, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved
