Repository DataDog/integrations-core, pull requests merged in 2025-06, with the labels that each got.

#20365 Updated metadata.csv to include new KSM metric for duration since last successful cronjob
  kubernetes_state_core/metadata.csv
Labels: integration/kubernetes_state_core, mergequeue-status: waiting, team/agent-integrations, team/container-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#20425 Pin FoundationDB
  .ddev/config.toml
Labels: team/agent-integrations

#20413 [SAASINT-4015] DDS: iboss : (Crawler + Agent) integration without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  iboss/CHANGELOG.md
  iboss/README.md
  iboss/manifest.json
  iboss/metadata.csv
Labels: documentation, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#20266 Dbmon 5125 collect postgres extensions in agent
  postgres/changelog.d/20266.added
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/test_metadata.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20424 Update SQL server to TagManager
  sqlserver/changelog.d/20424.fixed
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/agent_history.py
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/datadog_checks/sqlserver/metadata.py
  sqlserver/datadog_checks/sqlserver/schemas.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/datadog_checks/sqlserver/stored_procedures.py
  sqlserver/datadog_checks/sqlserver/xe_collection/base.py
  sqlserver/pyproject.toml
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_database_metrics.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_metrics.py
  sqlserver/tests/test_statements.py
  sqlserver/tests/test_stored_procedures.py
  sqlserver/tests/test_unit.py
  sqlserver/tests/test_xe_collection.py
Labels: integration/sqlserver, mergequeue-status: removed, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20442 [DBMON-5429] Switch expected tags to tuples to avoid mutation leakage in tests
  mysql/tests/tags.py
  mysql/tests/test_mysql.py
  mysql/tests/test_query_activity.py
  mysql/tests/test_statements.py
Labels: changelog/no-changelog, integration/mysql, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#19012 [SAASINT-3811] Vonage:Assets PR
  vonage/README.md
  vonage/assets/dashboards/vonage_overview.json
  vonage/assets/logs/vonage.yaml
  vonage/assets/logs/vonage_tests.yaml
  vonage/assets/vonage_logo.svg
  vonage/images/IMAGES_README.md
  vonage/images/audit.png
  vonage/images/overview.png
  vonage/manifest.json
  vonage/metadata.csv
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/review-requested, integration/vonage, team/Logs-Core, team/logs-integrations-reviewers

#20436 chore: warn on unsigned commits
  repository.datadog.yaml
Labels: team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#20446 [DBMON-5356] Add server_uuid tag to mysql metrics and events
  mysql/changelog.d/20446.added
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/queries.py
  mysql/tests/tags.py
  mysql/tests/test_metadata.py
  mysql/tests/test_mysql.py
  mysql/tests/test_query_activity.py
  mysql/tests/test_statements.py
Labels: integration/mysql, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20454 [DBMON-5438] Update out of date postgres tag_replication_role config example
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20458 Modify GitHub action that comments on major bump warning to multiple comments
  .github/workflows/pr-quick-check.yml
Labels: dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations

#20463 [sqlserver] add client_interface_name to activity samples payload
  sqlserver/changelog.d/20463.added
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/tests/activity/many_activity.json
  sqlserver/tests/activity/single_activity.json
  sqlserver/tests/test_activity.py
Labels: integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20456 Fix data collection for `collection_level` 2 for sinfo output.
  slurm/changelog.d/20456.fixed
  slurm/datadog_checks/slurm/check.py
  slurm/datadog_checks/slurm/constants.py
  slurm/tests/common.py
  slurm/tests/fixtures/sinfo_collection_level_2.txt
  slurm/tests/test_unit.py
Labels: release, qa/skip-qa, team/agent-integrations, integration/slurm

#19830 Kuma Integration (AI-4869)
  .codecov.yml
  .cursor/rules/configs.mdc
  .cursor/rules/testing.mdc
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  kuma/CHANGELOG.md
  kuma/README.md
  kuma/assets/configuration/spec.yaml
  kuma/assets/service_checks.json
  kuma/changelog.d/19830.added
  kuma/datadog_checks/kuma/__about__.py
  kuma/datadog_checks/kuma/__init__.py
  kuma/datadog_checks/kuma/check.py
  kuma/datadog_checks/kuma/config_models/__init__.py
  kuma/datadog_checks/kuma/config_models/defaults.py
  kuma/datadog_checks/kuma/config_models/instance.py
  kuma/datadog_checks/kuma/config_models/shared.py
  kuma/datadog_checks/kuma/config_models/validators.py
  kuma/datadog_checks/kuma/data/conf.yaml.example
  kuma/datadog_checks/kuma/metrics.py
  kuma/hatch.toml
  kuma/manifest.json
  kuma/metadata.csv
  kuma/pyproject.toml
  kuma/tests/__init__.py
  kuma/tests/conftest.py
  kuma/tests/fixtures/metrics/control_plane/logs.txt
  kuma/tests/fixtures/metrics/control_plane/metrics.txt
  kuma/tests/fixtures/metrics/control_plane/metrics_code_class.txt
  kuma/tests/test_e2e.py
  kuma/tests/test_metrics.py
  kuma/tests/test_tag_injection.py
  kuma/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, base_package, team/agent-integrations, team/documentation, team/saas-integrations, integration/kuma

#20349 [AI-5441] DDS: ESET Protect: Integration v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  eset_protect/CHANGELOG.md
  eset_protect/README.md
  eset_protect/assets/configuration/spec.yaml
  eset_protect/assets/dashboards/eset_protect_audit_events.json
  eset_protect/assets/dashboards/eset_protect_filtered_websites_events.json
  eset_protect/assets/dashboards/eset_protect_firewall_events.json
  eset_protect/assets/dashboards/eset_protect_overview.json
  eset_protect/assets/dashboards/eset_protect_threat_events.json
  eset_protect/assets/eset_protect.svg
  eset_protect/assets/logs/eset-protect.yaml
  eset_protect/assets/logs/eset-protect_tests.yaml
  eset_protect/changelog.d/20349.added
  eset_protect/datadog_checks/__init__.py
  eset_protect/datadog_checks/eset_protect/__about__.py
  eset_protect/datadog_checks/eset_protect/__init__.py
  eset_protect/datadog_checks/eset_protect/data/conf.yaml.example
  eset_protect/images/eset_protect_audit_events.png
  eset_protect/images/eset_protect_filtered_websites_events.png
  eset_protect/images/eset_protect_firewall_events.png
  eset_protect/images/eset_protect_overview.png
  eset_protect/images/eset_protect_threat_events.png
  eset_protect/manifest.json
  eset_protect/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, assets/no-dry-run, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, team/logs-integrations-reviewers

#20264 doc(nginx-ingress-controller): mention the additional parameter required for histogram metrics
  nginx_ingress_controller/README.md
Labels: documentation, integration/nginx_ingress_controller, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#20449 Falco Integration
  .codecov.yml
  .github/workflows/test-all.yml
  falco/CHANGELOG.md
  falco/assets/configuration/spec.yaml
  falco/assets/service_checks.json
  falco/changelog.d/20449.added
  falco/datadog_checks/__init__.py
  falco/datadog_checks/falco/__about__.py
  falco/datadog_checks/falco/__init__.py
  falco/datadog_checks/falco/check.py
  falco/datadog_checks/falco/config_models/__init__.py
  falco/datadog_checks/falco/config_models/defaults.py
  falco/datadog_checks/falco/config_models/instance.py
  falco/datadog_checks/falco/config_models/shared.py
  falco/datadog_checks/falco/config_models/validators.py
  falco/datadog_checks/falco/data/conf.yaml.example
  falco/datadog_checks/falco/metrics.py
  falco/hatch.toml
  falco/manifest.json
  falco/metadata.csv
  falco/pyproject.toml
  falco/tests/__init__.py
  falco/tests/common.py
  falco/tests/compose/docker-compose.yaml
  falco/tests/compose/falco.yaml
  falco/tests/conftest.py
  falco/tests/fixtures/falco_metrics.txt
  falco/tests/test_e2e.py
  falco/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, integration/falco

#20492 Release new integrations for 7.68.x (#20491)
  eset_protect/CHANGELOG.md
  eset_protect/changelog.d/20349.added
  eset_protect/datadog_checks/eset_protect/__about__.py
  kuma/CHANGELOG.md
  kuma/changelog.d/19830.added
  kuma/datadog_checks/kuma/__about__.py
  litellm/CHANGELOG.md
  litellm/changelog.d/20480.added
  litellm/datadog_checks/litellm/__about__.py
  microsoft_dns/CHANGELOG.md
  microsoft_dns/changelog.d/19986.added
  microsoft_dns/datadog_checks/microsoft_dns/__about__.py
  requirements-agent-release.txt
  watchguard_firebox/CHANGELOG.md
  watchguard_firebox/changelog.d/20030.added
  watchguard_firebox/datadog_checks/watchguard_firebox/__about__.py
Labels: documentation, changelog/no-changelog, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/kuma, integration/litellm, integration/eset_protect, integration/microsoft_dns, integration/watchguard_firebox

#20511 [Release] Bumped datadog_checks_base version to 37.15.0
  .in-toto/tag.b9ca7eb3.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/20494.security
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, base_package, team/agent-integrations

#19873 remove instance tag from dca board
  datadog_cluster_agent/assets/dashboards/datadog_cluster_agent_overview.json
Labels: changelog/no-changelog, integration/datadog_cluster_agent, team/agent-integrations, team/container-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#20341 [MLOB-2838] add nanodollar unit to list of valid metric units
  ddev/changelog.d/20341.added
  ddev/src/ddev/cli/validate/metadata_utils.py
Labels: ddev, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#20515 force maxTimeMS for mongo integration queries
  mongo/changelog.d/20515.fixed
  mongo/datadog_checks/mongo/api.py
  mongo/datadog_checks/mongo/collectors/conn_pool_stats.py
  mongo/datadog_checks/mongo/collectors/fsynclock.py
  mongo/datadog_checks/mongo/collectors/host_info.py
  mongo/datadog_checks/mongo/collectors/replica.py
  mongo/datadog_checks/mongo/collectors/replication_info.py
  mongo/datadog_checks/mongo/collectors/server_status.py
  mongo/datadog_checks/mongo/collectors/top.py
Labels: integration/mongo, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested, backport/7.68.x

#20419 [MINPROC-2201] Update ddev metadata validator to only error on required headers
  ddev/changelog.d/20419.fixed
  ddev/src/ddev/cli/validate/metadata_utils.py
  ddev/tests/cli/validate/test_metrics.py
Labels: integration/zk, ddev, mergequeue-status: removed, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#20500 checking wal_level and if is aurora before querying for control checkpoint metrics
  postgres/changelog.d/20500.fixed
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_pg_integration.py
Labels: integration/postgres, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/approved

#19989 [AI-5153] DDS: Mac Audit Logs Integration v1.0.0
  .codecov.yml
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  mac_audit_logs/CHANGELOG.md
  mac_audit_logs/README.md
  mac_audit_logs/assets/configuration/spec.yaml
  mac_audit_logs/assets/dashboards/mac_audit_logs_overview.json
  mac_audit_logs/assets/logs/mac-audit-logs.yaml
  mac_audit_logs/assets/logs/mac-audit-logs_tests.yaml
  mac_audit_logs/assets/mac_audit_logs.svg
  mac_audit_logs/assets/mac_audit_logs_dark.svg
  mac_audit_logs/changelog.d/19989.added
  mac_audit_logs/datadog_checks/__init__.py
  mac_audit_logs/datadog_checks/mac_audit_logs/__about__.py
  mac_audit_logs/datadog_checks/mac_audit_logs/__init__.py
  mac_audit_logs/datadog_checks/mac_audit_logs/check.py
  mac_audit_logs/datadog_checks/mac_audit_logs/config_models/__init__.py
  mac_audit_logs/datadog_checks/mac_audit_logs/config_models/defaults.py
  mac_audit_logs/datadog_checks/mac_audit_logs/config_models/instance.py
  mac_audit_logs/datadog_checks/mac_audit_logs/config_models/shared.py
  mac_audit_logs/datadog_checks/mac_audit_logs/config_models/validators.py
  mac_audit_logs/datadog_checks/mac_audit_logs/constants.py
  mac_audit_logs/datadog_checks/mac_audit_logs/data/conf.yaml.example
  mac_audit_logs/datadog_checks/mac_audit_logs/utils.py
  mac_audit_logs/hatch.toml
  mac_audit_logs/images/mac_audit_logs_1.png
  mac_audit_logs/images/mac_audit_logs_2.png
  mac_audit_logs/images/mac_audit_logs_3.png
  mac_audit_logs/images/mac_audit_logs_4.png
  mac_audit_logs/manifest.json
  mac_audit_logs/pyproject.toml
  mac_audit_logs/tests/__init__.py
  mac_audit_logs/tests/conftest.py
  mac_audit_logs/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, team/logs-integrations-reviewers

#20498 DDSaaS: Genesys: Updated Readme as per the configurable Region field
  genesys/README.md
Labels: documentation, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, docs/approved, integration/genesys

#20484 [IDP-57] Release Public Docs for Forcepoint Security Service Edge
  forcepoint_security_service_edge/manifest.json
Labels: documentation, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, docs/approved, integration/forcepoint_security_service_edge

#20514 [DBMON-5463] Switch sql index query resolution over to a static version check
  mysql/changelog.d/20514.fixed
  mysql/datadog_checks/mysql/databases_data.py
  mysql/datadog_checks/mysql/queries.py
Labels: integration/mysql, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20522 Change ownerships from agent-delivery to agent-build
  .github/CODEOWNERS
Labels: team/agent-integrations, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#20521 Use json-based PyPI API instead of html-based one to determine whether a build was built
  .builders/scripts/repair_wheels.py
Labels: team/agent-delivery, ecosystems/review-requested, product/review-requested, agent/review-requested, team/agent-build

#20431 Export historical size metrics to Datadog (AI-5520)
  .github/workflows/measure-disk-usage.yml
  ddev/changelog.d/20431.added
  ddev/src/ddev/cli/size/create_dashboard.py
  ddev/src/ddev/cli/size/diff.py
  ddev/src/ddev/cli/size/historical_metrics.py
  ddev/src/ddev/cli/size/status.py
  ddev/src/ddev/cli/size/timeline.py
  ddev/src/ddev/cli/size/utils/common_funcs.py
  ddev/src/ddev/cli/size/utils/dashboard.json
  ddev/src/ddev/cli/size/utils/readme.md
  ddev/tests/cli/size/test_create_dashboard.py
  ddev/tests/cli/size/test_timeline.py
  ddev/tests/size/test_common.py
Labels: dev/testing, dev/tooling, ddev, team/agent-integrations

#19865 FoundationDB: Respect 'tls_ca_file' and 'tls_password' config options
  foundationdb/changelog.d/19865.fixed
  foundationdb/datadog_checks/foundationdb/check.py
Labels: integration/foundationdb, mergequeue-status: removed, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#20443 updated description for collect_raw_query_statement
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Labels: documentation, changelog/no-changelog, integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested

#20524 Pin the Kubernetes version in the Strimzi E2E Test
  strimzi/hatch.toml
  strimzi/tests/common.py
  strimzi/tests/conftest.py
  strimzi/tests/kind/kind-config.yaml
Labels: integration/strimzi, team/agent-integrations

#20530 GA Falco public docs
  falco/manifest.json
Labels: documentation, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, docs/approved, integration/falco

#20175 Enforce consistent quoting style for cilium integration
  cilium/datadog_checks/cilium/check.py
  cilium/datadog_checks/cilium/cilium.py
  cilium/datadog_checks/cilium/metrics.py
  cilium/tests/common.py
  cilium/tests/conftest.py
  cilium/tests/legacy/legacy_common.py
  cilium/tests/legacy/test_cilium.py
  cilium/tests/test_cilium.py
  cilium/tests/test_e2e.py
Labels: changelog/no-changelog, integration/cilium, release, qa/skip-qa, team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#20532 Clarify value of CONTAINER_IDENTIFIER
  airflow/README.md
Labels: documentation, integration/airflow, mergequeue-status: removed, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#20513 Don't check external psycopg packages for openssl3 copies
  .builders/scripts/repair_wheels.py
Labels: integration/pgbouncer, integration/postgres, dependencies, ecosystems/review-requested, product/review-requested, agent/review-requested, integration/silverstripe_cms, team/agent-build

#20535 Revert "[AI-5153] DDS: Mac Audit Logs Integration v1.0.0 (#19989)"
  .codecov.yml
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  mac_audit_logs/CHANGELOG.md
  mac_audit_logs/README.md
  mac_audit_logs/assets/configuration/spec.yaml
  mac_audit_logs/assets/dashboards/mac_audit_logs_overview.json
  mac_audit_logs/assets/logs/mac-audit-logs.yaml
  mac_audit_logs/assets/logs/mac-audit-logs_tests.yaml
  mac_audit_logs/assets/mac_audit_logs.svg
  mac_audit_logs/assets/mac_audit_logs_dark.svg
  mac_audit_logs/changelog.d/19989.added
  mac_audit_logs/datadog_checks/__init__.py
  mac_audit_logs/datadog_checks/mac_audit_logs/__about__.py
  mac_audit_logs/datadog_checks/mac_audit_logs/__init__.py
  mac_audit_logs/datadog_checks/mac_audit_logs/check.py
  mac_audit_logs/datadog_checks/mac_audit_logs/config_models/__init__.py
  mac_audit_logs/datadog_checks/mac_audit_logs/config_models/defaults.py
  mac_audit_logs/datadog_checks/mac_audit_logs/config_models/instance.py
  mac_audit_logs/datadog_checks/mac_audit_logs/config_models/shared.py
  mac_audit_logs/datadog_checks/mac_audit_logs/config_models/validators.py
  mac_audit_logs/datadog_checks/mac_audit_logs/constants.py
  mac_audit_logs/datadog_checks/mac_audit_logs/data/conf.yaml.example
  mac_audit_logs/datadog_checks/mac_audit_logs/utils.py
  mac_audit_logs/hatch.toml
  mac_audit_logs/images/mac_audit_logs_1.png
  mac_audit_logs/images/mac_audit_logs_2.png
  mac_audit_logs/images/mac_audit_logs_3.png
  mac_audit_logs/images/mac_audit_logs_4.png
  mac_audit_logs/manifest.json
  mac_audit_logs/pyproject.toml
  mac_audit_logs/tests/__init__.py
  mac_audit_logs/tests/conftest.py
  mac_audit_logs/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, team/logs-integrations-reviewers

#20528 Add new scraper decorator that adds http code class to OpenMetrics
  datadog_checks_base/changelog.d/20528.added
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/__init__.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/base_scraper.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/decorators.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/scraper/__init__.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/scraper/test_first_scrape_handler.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/scraper/test_http_status_class_scraper.py
Labels: qa/skip-qa, base_package, team/agent-integrations, team/container-integrations

#20481 Add support for mlx5_core drivers in ethtool integration [CMPT-3460]
  network/changelog.d/20481.added
  network/datadog_checks/network/const.py
  network/datadog_checks/network/ethtool.py
  network/metadata.csv
  network/tests/test_ethtool.py
Labels: integration/network, mergequeue-status: removed, team/agent-integrations, team/windows-agent, ecosystems/review-requested, product/review-requested, agent/approved

#20487 Create Integration Tile & Resources for SolarWinds
  .github/workflows/config/labeler.yml
  solarwinds/CHANGELOG.md
  solarwinds/README.md
  solarwinds/assets/service_checks.json
  solarwinds/manifest.json
  solarwinds/metadata.csv
Labels: documentation, dev/testing, dev/tooling, qa/skip-qa, mergequeue-status: removed, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/solarwinds

#20538 Fix GHA to send size metrics to Datadog
  .github/workflows/measure-disk-usage.yml
  .gitignore
Labels: dev/testing, dev/tooling, ddev, team/agent-integrations

#20531 Display Windows Certificate integration docs
  windows_certificate/manifest.json
Labels: documentation, qa/skip-qa, team/agent-integrations, team/windows-agent, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved, integration/windows_certificate

#20542 Unmark integration test as flaky
  marklogic/tests/metrics.py
  marklogic/tests/test_marklogic.py
Labels: integration/marklogic, team/agent-integrations

#20540 Add Falco process signature
  falco/manifest.json
Labels: documentation, team/agent-integrations, team/documentation, team/saas-integrations, integration/falco

#20548 Update README for Windows Certificate Store integration
  windows_certificate/README.md
Labels: documentation, qa/skip-qa, team/agent-integrations, team/windows-agent, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved, integration/windows_certificate

#20555 Fix WithHttpCodeClass decorator to also add code class when running with target_info enabled
  datadog_checks_base/changelog.d/20555.fixed
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/base_scraper.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/decorators.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/scraper/test_http_status_class_scraper.py
Labels: qa/skip-qa, base_package, team/agent-integrations, team/container-integrations

#20296 [SAASINT-4161] New Integration for Workato: Initial manifest as first step in provisioning
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  workato/CHANGELOG.md
  workato/README.md
  workato/assets/service_checks.json
  workato/manifest.json
Labels: documentation, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#20450 Add assertion message to `assert_metadata`
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
Labels: changelog/no-changelog, base_package, mergequeue-status: removed, team/agent-integrations

#20414 [SAASINT-4016] DDS: iboss: (Crawler + Agent) Integration v1.0.0
  iboss/CHANGELOG.md
  iboss/README.md
  iboss/assets/configuration/spec.yaml
  iboss/assets/dashboards/iboss_audit_events.json
  iboss/assets/dashboards/iboss_bandwidth_report.json
  iboss/assets/dashboards/iboss_casb_report.json
  iboss/assets/dashboards/iboss_digital_experience_report.json
  iboss/assets/dashboards/iboss_gateway_performance.json
  iboss/assets/dashboards/iboss_overview.json
  iboss/assets/dashboards/iboss_real_time_bandwidth_analytics.json
  iboss/assets/dashboards/iboss_real_time_casb_analytics.json
  iboss/assets/dashboards/iboss_real_time_digital_experience_analytics.json
  iboss/assets/dashboards/iboss_real_time_threat_analytics.json
  iboss/assets/dashboards/iboss_real_time_web_analytics.json
  iboss/assets/dashboards/iboss_real_time_zero_trust_analytics.json
  iboss/assets/dashboards/iboss_threat_report.json
  iboss/assets/dashboards/iboss_web_analytics_report.json
  iboss/assets/dashboards/iboss_web_and_dlp_events.json
  iboss/assets/dashboards/iboss_zero_trust_report.json
  iboss/assets/iboss.svg
  iboss/assets/logs/iboss.yaml
  iboss/assets/logs/iboss_tests.yaml
  iboss/assets/monitors/anomalous_increase_in_gateway_requests_per_second_detected.json
  iboss/assets/monitors/excessive_bandwidth_usage_detected.json
  iboss/assets/monitors/high_average_application_peer_time_detected.json
  iboss/assets/monitors/high_gateway_load_detected.json
  iboss/assets/monitors/high_proxy_error_rate_detected.json
  iboss/assets/monitors/high_proxy_response_time_detected.json
  iboss/assets/monitors/high_rate_of_unprevented_threats_detected.json
  iboss/changelog.d/20414.added
  iboss/datadog_checks/__init__.py
  iboss/datadog_checks/iboss/__about__.py
  iboss/datadog_checks/iboss/__init__.py
  iboss/datadog_checks/iboss/data/conf.yaml.example
  iboss/images/iboss_audit_events.png
  iboss/images/iboss_bandwidth.png
  iboss/images/iboss_digital_experience.png
  iboss/images/iboss_gateway_performance.png
  iboss/images/iboss_overview.png
  iboss/images/iboss_web_analytics.png
  iboss/images/iboss_web_and_dlp_events.png
  iboss/images/iboss_zero_trust.png
  iboss/manifest.json
  iboss/metadata.csv
  iboss/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, agent/review-requested, docs/approved, team/logs-integrations-reviewers, integration/iboss

#20420 Add link to Docker and Integrations
  spark/README.md
Labels: documentation, integration/spark, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18765 Add missing quote
  vault/README.md
Labels: documentation, changelog/no-changelog, integration/vault, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#20507 Small formatting change
  kubernetes/assets/monitors/monitor_deployments_replicas.json
  kubernetes/assets/monitors/monitor_node_unavailable.json
  kubernetes/assets/monitors/monitor_pod_crashloopbackoff.json
  kubernetes/assets/monitors/monitor_pod_imagepullbackoff.json
  kubernetes/assets/monitors/monitor_pods_failed_state.json
  kubernetes/assets/monitors/monitor_pods_restarting.json
  kubernetes/assets/monitors/monitor_statefulset_replicas.json
Labels: integration/kubernetes, team/agent-integrations, team/container-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#20547 Add clarity around the gunicorn.workers definitions
  gunicorn/metadata.csv
Labels: integration/gunicorn, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#20429 [SAASINT-4065] DDS: Bitwarden: Crawler Integration Without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  bitwarden/CHANGELOG.md
  bitwarden/README.md
  bitwarden/manifest.json
Labels: documentation, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#20577 [ABLD-28] Bump `delocate` for better macOS multiarch support
  .builders/images/runner_dependencies.txt
Labels: team/agent-integrations, ecosystems/review-requested, product/review-requested, agent/approved, team/agent-build

#20581 Pin vSphere
  .ddev/config.toml
Labels: team/agent-integrations

#20591 Test commit for mergegate validation
  pyproject.toml
Labels: qa/skip-qa, team/agent-integrations

#20388 remove duplicate key in elasticsearch.yaml
  elastic/assets/logs/elasticsearch.yaml
Labels: integration/elastic, team/logs-backend, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, agent/approved, team/logs-integrations-reviewers

#20578 Add AAP to the Envoy integration tile
  envoy/README.md
  envoy/manifest.json
Labels: documentation, integration/envoy, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#20567 Run `PR All` on stacked PRs
  .github/workflows/pr-all.yml
Labels: dev/testing, dev/tooling, team/agent-integrations

#20582 Add new `proxysql.all_backends.count` metric
  proxysql/assets/configuration/spec.yaml
  proxysql/changelog.d/20582.added
  proxysql/datadog_checks/proxysql/data/conf.yaml.example
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/datadog_checks/proxysql/queries.py
  proxysql/metadata.csv
  proxysql/tests/common.py
  proxysql/tests/test_integration.py
Labels: documentation, integration/proxysql, team/agent-integrations, team/documentation

#20584 [SDBM-1807] Do not submit plan events when plan definition has been evicted from cache
  sqlserver/changelog.d/20584.fixed
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_statements.py
Labels: integration/sqlserver, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20603 add collect_schemas config option and deprecate schemas option
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/20603.added
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/config_models/deprecations.py
  mongo/datadog_checks/mongo/config_models/instance.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/tests/test_dbm_schemas.py
Labels: documentation, integration/mongo, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20602 deprecate schemas_collection config option
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/20602.added
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/deprecations.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/tests/test_metadata.py
Labels: documentation, integration/mysql, qa/skip-qa, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20605 Cast pg_extension id to text
  postgres/changelog.d/20605.fixed
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/test_metadata.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#20618 [DSM][Kafka][RabbitMQ] - Add the dsm map to OOTB dashboards
  kafka/assets/dashboards/kafka_dashboard.json
  rabbitmq/assets/dashboards/rabbitmq_dashboard.json
  rabbitmq/assets/dashboards/rabbitmq_screenboard_dashboard.json
Labels: integration/kafka, integration/rabbitmq, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved
