Repository DataDog/integrations-core, pull requests merged in 2025-01, with the labels that each got.

#19312 Allow SSLContext ciphers to be customized
  datadog_checks_base/changelog.d/19312.added
  datadog_checks_base/datadog_checks/base/utils/tls.py
  datadog_checks_base/tests/base/utils/test_tls.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved, backport/7.62.x

#19332 Ddev setup documentation fixes
  docs/developer/setup.md
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19328 Add additional tomcat process signature
  tomcat/manifest.json
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19321 Only retrieve updated query statement metrics
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/19321.added
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_statements.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/approved

#18453 [SAASINT-3464] DDSaaS: Contentful: SVG added
  contentful/assets/contentful.svg
Labels: changelog/no-changelog, team/saas-integrations, integration/contentful, ecosystems/review-requested, product/review-requested

#19104 [INTPLAT-413] DDSaaS: Genesys: Crawler Integration v1.0.0
  .github/CODEOWNERS
  genesys/CHANGELOG.md
  genesys/README.md
  genesys/assets/dashboards/genesys_audit.json
  genesys/assets/dashboards/genesys_callback.json
  genesys/assets/dashboards/genesys_chat.json
  genesys/assets/dashboards/genesys_conversation_overview.json
  genesys/assets/dashboards/genesys_email.json
  genesys/assets/dashboards/genesys_message.json
  genesys/assets/dashboards/genesys_voice.json
  genesys/assets/genesys_logo.svg
  genesys/assets/logs/genesys.yaml
  genesys/assets/logs/genesys_tests.yaml
  genesys/assets/monitors/high_number_of_abandoned_outbound_conversations_detected.json
  genesys/assets/monitors/high_number_of_errored_conversations_detected.json
  genesys/assets/monitors/high_number_of_over_sla_conversations_detected.json
  genesys/assets/monitors/high_number_of_state_transition_errors_detected.json
  genesys/assets/service_checks.json
  genesys/images/genesys_audit.png
  genesys/images/genesys_callback.png
  genesys/images/genesys_chat.png
  genesys/images/genesys_conversation_overview.png
  genesys/images/genesys_email.png
  genesys/images/genesys_message.png
  genesys/images/genesys_voice.png
  genesys/manifest.json
  genesys/metadata.csv
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19306 [CONTP-60] New unscheduled config telemetry
  datadog_cluster_agent/changelog.d/19306.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/metadata.csv
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
Labels: qa/skip-qa, mergequeue-status: waiting, ecosystems/review-requested, product/review-requested, agent/approved

#18997 [SAASINT-3244] DDS: Asana: Crawler Integration v1.0.0
  .github/CODEOWNERS
  asana/CHANGELOG.md
  asana/README.md
  asana/assets/asana.svg
  asana/assets/dashboards/asana_audit_logs.json
  asana/assets/logs/asana.yaml
  asana/assets/logs/asana_tests.yaml
  asana/images/asana_audit_logs.png
  asana/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, mergequeue-status: waiting, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19280 Common readme update for multiple integrations as per new format
  cisco_secure_email_threat_defense/README.md
  cisco_secure_endpoint/README.md
  contentful/README.md
  hubspot_content_hub/README.md
  incident_io/README.md
  lastpass/README.md
  mimecast/README.md
  mux/README.md
  palo_alto_cortex_xdr/README.md
  ping_one/README.md
  ringcentral/README.md
  shopify/README.md
  sophos_central_cloud/README.md
  streamnative/README.md
  trend_micro_email_security/README.md
  trend_micro_vision_one_endpoint_security/README.md
Labels: ecosystems/review-requested, product/review-requested, docs/approved

#19351 [postgres] Fix duplicated rows returned from QUERY_PG_CLASS
  postgres/changelog.d/19351.fixed
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/tests/test_relations.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested

#19318 Add octopus server tag to all metrics, events, and logs
  octopus_deploy/datadog_checks/octopus_deploy/check.py
  octopus_deploy/tests/constants.py
  octopus_deploy/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#18602 [SAASINT-2960] DDSaaS: Intercom: Integration v1.0.0
  .github/workflows/config/labeler.yml
  intercom/CHANGELOG.md
  intercom/README.md
  intercom/assets/dashboards/intercom_activity.json
  intercom/assets/dashboards/intercom_conversation.json
  intercom/assets/dashboards/intercom_data_event.json
  intercom/assets/dashboards/intercom_news_item.json
  intercom/assets/dashboards/intercom_ticket.json
  intercom/assets/intercom_dark.svg
  intercom/assets/intercom_light.svg
  intercom/assets/logs/intercom.yaml
  intercom/assets/logs/intercom_tests.yaml
  intercom/assets/monitors/large_number_of_low_rated_conversations.json
  intercom/assets/service_checks.json
  intercom/images/intercom_activity.png
  intercom/images/intercom_conversation_1.png
  intercom/images/intercom_conversation_2.png
  intercom/images/intercom_data_event.png
  intercom/images/intercom_news_item.png
  intercom/images/intercom_ticket.png
  intercom/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, crest/asset-pr

#19293 Add logs for Quarkus
  quarkus/assets/configuration/spec.yaml
  quarkus/assets/logs/quarkus.yaml
  quarkus/assets/logs/quarkus_tests.yaml
  quarkus/assets/saved_views/errors.json
  quarkus/datadog_checks/quarkus/data/conf.yaml.example
  quarkus/manifest.json
Labels: changelog/no-changelog, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19344 Add Annotations v2 for control plane configuration
  istio/README.md
Labels: changelog/no-changelog, qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19335 Update README.md
  nvidia_jetson/README.md
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19239 Add NIM dashboard and docs preview message
  nvidia_nim/README.md
  nvidia_nim/assets/dashboards/nvidia_nim_overview.json
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19361 Specify curl version when building confluent-kafka-python on Windows
  .builders/images/windows-x86_64/Dockerfile
  .builders/images/windows-x86_64/build_script.ps1
Labels: changelog/no-changelog

#19130 Use gitlab's multi-project pipelines to trigger agent build
  .gitlab-ci.yml
  .gitlab/build_agent.yaml
  .gitlab/validate-agent-build/Dockerfile
  .gitlab/validate-agent-build/trigger_agent_build.py
  .gitlab/validate-agent-build/validate_agent_build.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19358 AI-4795 Coverage for ray_vllm* metrics
  vllm/changelog.d/19358.added
  vllm/datadog_checks/vllm/check.py
  vllm/datadog_checks/vllm/metrics.py
  vllm/tests/common.py
  vllm/tests/conftest.py
  vllm/tests/docker/docker-compose.yaml
  vllm/tests/fixtures/ray_vllm_metrics.txt
  vllm/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19384 handle case insensitive db name in schema collection
  sqlserver/changelog.d/19384.fixed
  sqlserver/datadog_checks/sqlserver/connection.py
  sqlserver/datadog_checks/sqlserver/schemas.py
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19389 Mark MongoDB integration test as flaky
  mongo/tests/test_integration_shard.py
Labels: changelog/no-changelog

#19383 Emit index usage and index size metrics from mysql integration
  mysql/README.md
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/19383.added
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/index_metrics.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/metadata.csv
  mysql/tests/conftest.py
  mysql/tests/test_mysql.py
  mysql/tests/variables.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested, docs/review-requested

#19405 remove quotes from sql query in readme
  mysql/README.md
Labels: changelog/no-changelog, qa/skip-qa, ecosystems/review-requested, product/review-requested, docs/review-requested

#19395 [mongo] add zlib compression to agent client
  mongo/changelog.d/19395.added
  mongo/datadog_checks/mongo/api.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested

#19407 [databricks] Update cost dashboard to use daily rollups
  databricks/assets/dashboards/databricks_cost_overview.json
Labels: ecosystems/review-requested, product/review-requested, docs/approved

#19403 [openai] Update dashboard to use daily rollups
  openai/assets/dashboards/cost_overview_dashboard.json
Labels: ecosystems/review-requested, product/review-requested, docs/approved

#19415 Add process_cpu_seconds_total to kube_apiserver_metrics check
  kube_apiserver_metrics/changelog.d/19415.added
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/metadata.csv
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_15.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_19.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_23.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_24.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_25.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_26.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_27.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_28.py
Labels: team/container-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#19417 Update Argo-Workflow Metric names for v3.6+
  argo_workflows/changelog.d/19417.added
  argo_workflows/datadog_checks/argo_workflows/check.py
  argo_workflows/datadog_checks/argo_workflows/metrics.py
  argo_workflows/tests/fixtures/metricsv3-6+.txt
  argo_workflows/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19424 [ddqa/config] Exclude Cédric and Haïssam from container-integrations QA
  .ddqa/config.toml
Labels: changelog/no-changelog, qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/approved

#19434 Fix octopus fixture paths on windows
  octopus_deploy/tests/conftest.py
  octopus_deploy/tests/docker/Caddyfile
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/from=14_45_00.123000/to=14_45_00.123000/eventCategories=[]/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/from=14_45_00.123000/to=14_45_00.123000/eventCategories=[]/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/from=14_45_00.123000/to=14_45_15.123000/eventCategories=[]/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/from=14_45_00.123000/to=14_45_15.123000/eventCategories=[]/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/from=14_45_00.123000/to=14_45_15.123000/eventCategories=[]/skip=2/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-1/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_00.123000/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-1/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_00.123000/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-1/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_15.123000/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-1/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_15.123000/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-2/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_00.123000/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-2/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_00.123000/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-2/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_15.123000/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-2/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_15.123000/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-3/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_00.123000/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-3/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_00.123000/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-3/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_15.123000/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-3/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_15.123000/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-3/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_15.123000/skip=2/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-4/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_00.123000/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-4/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_00.123000/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-4/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_15.123000/skip=0/take=2/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-4/fromCompletedDate=14_45_00.123000/toCompletedDate=14_45_15.123000/skip=0/take=30/response.json
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19439 remove unused dependencies files
  .deps/resolved/macos_py2.txt
  .deps/resolved/macos_py3.txt
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19432 Sync octopus models and config
  octopus_deploy/changelog.d/19432.fixed
  octopus_deploy/datadog_checks/octopus_deploy/config_models/instance.py
  octopus_deploy/datadog_checks/octopus_deploy/data/conf.yaml.example
  octopus_deploy/pyproject.toml
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19411 Disable collecting consumer group state behind a feature flag
  kafka_consumer/assets/configuration/spec.yaml
  kafka_consumer/datadog_checks/kafka_consumer/config.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/defaults.py
  kafka_consumer/datadog_checks/kafka_consumer/config_models/instance.py
  kafka_consumer/datadog_checks/kafka_consumer/data/conf.yaml.example
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/common.py
  kafka_consumer/tests/test_integration.py
  kafka_consumer/tests/test_unit.py
Labels: changelog/no-changelog

#19443 [Release] Bumped ddev version to 11.1.0
  ddev/CHANGELOG.md
  ddev/changelog.d/17353.added
  ddev/changelog.d/17936.added
  ddev/changelog.d/19179.security
  ddev/changelog.d/19252.added
  ddev/changelog.d/19386.fixed
Labels: changelog/no-changelog

#19406 [postgres] collect index state attributes
  postgres/changelog.d/19406.added
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/test_metadata.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19446 Debug log on the same line as the timestamp.
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
Labels: changelog/no-changelog

#19392 Add Milvus overview dashboard
  milvus/assets/dashboards/milvus_overview.json
  milvus/manifest.json
Labels: editorial review

#19445 [mongo] increase mongo schema and index definition default collection interval to 1 hour
  mongo/assets/configuration/spec.yaml
  mongo/changelog.d/19445.added
  mongo/datadog_checks/mongo/config.py
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/tests/results/schemas-mongos.json
  mongo/tests/results/schemas-standalone-atlas-search-indexes.json
  mongo/tests/results/schemas-standalone-atlas.json
  mongo/tests/results/schemas-standalone.json
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested

#19450 [mongo] include explain operations in samples
  mongo/changelog.d/19450.added
  mongo/datadog_checks/mongo/dbm/operation_samples.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19456 [mongo] add service tag to agent operations
  mongo/changelog.d/19456.added
  mongo/datadog_checks/mongo/api.py
  mongo/tests/mocked_api.py
  mongo/tests/test_unit.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested

#19322 Update Posgres to psycopg3
  .builders/images/helpers.ps1
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
  .builders/images/windows-x86_64/Dockerfile
  .builders/images/windows-x86_64/pg_config.pl
  .ddev/ci/scripts/postgres/linux/50_install_postgres.sh
  .ddev/config.toml
  LICENSE-3rdparty.csv
  agent_requirements.in
  postgres/changelog.d/19322.added
  postgres/datadog_checks/postgres/connections.py
  postgres/datadog_checks/postgres/cursor.py
  postgres/datadog_checks/postgres/discovery.py
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/version_utils.py
  postgres/pyproject.toml
  postgres/tests/conftest.py
  postgres/tests/test_connections.py
  postgres/tests/test_cursor.py
  postgres/tests/test_deadlock.py
  postgres/tests/test_discovery.py
  postgres/tests/test_explain_parameterized_queries.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
  postgres/tests/test_relations.py
  postgres/tests/test_replication_slot.py
  postgres/tests/test_statements.py
  postgres/tests/test_unit.py
  postgres/tests/utils.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#18898 [INTPLAT-457] DDSaaS: Postmark: Integration v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  postmark/CHANGELOG.md
  postmark/README.md
  postmark/assets/dashboards/postmark_message_streams_activity.json
  postmark/assets/logs/postmark.yaml
  postmark/assets/logs/postmark_tests.yaml
  postmark/assets/monitors/postmark_high_block_rate_by_message_stream.json
  postmark/assets/monitors/postmark_high_bounce_rate_by_message_stream.json
  postmark/assets/postmark.svg
  postmark/assets/service_checks.json
  postmark/images/postmark_message_streams_activity_1.png
  postmark/images/postmark_message_streams_activity_2.png
  postmark/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19447 Add new Argo Workflow metrics
  argo_workflows/changelog.d/19447.added
  argo_workflows/datadog_checks/argo_workflows/metrics.py
  argo_workflows/metadata.csv
  argo_workflows/tests/fixtures/metricsv3-6+.txt
  argo_workflows/tests/test_unit.py
Labels: ecosystems/review-requested, product/review-requested, agent/approved

#19466 Always add bin path to $PATH on macos builders
  .builders/build.py
  .builders/images/macos-x86_64/builder_setup.sh
Labels: changelog/no-changelog, ecosystems/review-requested, product/review-requested, agent/review-requested

#19325 Upgrade PGBouncer to psycopg3
  .builders/images/macos-x86_64/builder_setup.sh
  .ddev/ci/scripts/pgbouncer/linux/50_install_postgres.sh
  .ddev/config.toml
  LICENSE-3rdparty.csv
  agent_requirements.in
  datadog_checks_dev/changelog.d/19325.security
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
  pgbouncer/changelog.d/19325.added
  pgbouncer/changelog.d/19325.security
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
  pgbouncer/pyproject.toml
  pgbouncer/tests/common.py
  pgbouncer/tests/conftest.py
  pgbouncer/tests/test_pgbouncer_integration_e2e.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/approved

#19478 Bump datadog-checks-base version
  mysql/changelog.d/19478.fixed
  mysql/pyproject.toml
  postgres/changelog.d/19478.fixed
  postgres/pyproject.toml
  sqlserver/changelog.d/19478.fixed
  sqlserver/pyproject.toml
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/approved

#19337 [AI-4453] Add Milvus recommended monitors
  milvus/assets/monitors/dml_channel_lag.json
  milvus/assets/monitors/index_build_latency.json
  milvus/assets/monitors/request_latency.json
  milvus/manifest.json
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19475 DDSaaS: RingCentral Readme change
  ringcentral/README.md
Labels: ecosystems/review-requested, product/review-requested, docs/review-requested

#19479 Add option for sampling idle recently active sessions
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/19479.added
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/tests/test_activity.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested

#19480 [mongo] add DBM for MongoDB to readme
  mongo/README.md
Labels: ecosystems/review-requested, product/review-requested, docs/review-requested

#19436 DDSaaS: Brevo: Monitor panel unfiltered
  brevo/assets/dashboards/brevo_transactional_events.json
Labels: ecosystems/review-requested, product/review-requested

#19491 SQLServer spec.yaml documentation fix
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/metadata.csv
Labels: changelog/no-changelog, qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested

#19421 [sqlserver] Emit raw query statements and plans for non prepared statements
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/19421.added
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/config.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_statements.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19492 Revert "Add option for sampling idle recently active sessions"
  sqlserver/assets/configuration/spec.yaml
  sqlserver/changelog.d/19479.added
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/config_models/instance.py
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
  sqlserver/tests/test_activity.py
Labels: changelog/no-changelog, team/database-monitoring, ecosystems/review-requested, product/review-requested, agent/review-requested

#19497 Revert "Upgrade PGBouncer to psycopg3"
  .builders/images/macos-x86_64/builder_setup.sh
  .ddev/ci/scripts/pgbouncer/linux/50_install_postgres.sh
  .ddev/config.toml
  LICENSE-3rdparty.csv
  agent_requirements.in
  datadog_checks_dev/changelog.d/19497.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/licenses.py
  pgbouncer/changelog.d/19497.fixed
  pgbouncer/datadog_checks/pgbouncer/pgbouncer.py
  pgbouncer/pyproject.toml
  pgbouncer/tests/common.py
  pgbouncer/tests/conftest.py
  pgbouncer/tests/test_pgbouncer_integration_e2e.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/approved, backport/7.63.x

#19495 [sqlserver] add raw_signature to plan event
  sqlserver/changelog.d/19495.added
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_statements.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested

#19499 Revert "Update Posgres to psycopg3 (#19322)"
  .builders/images/helpers.ps1
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos-x86_64/builder_setup.sh
  .builders/images/windows-x86_64/Dockerfile
  .builders/images/windows-x86_64/pg_config.pl
  .ddev/ci/scripts/postgres/linux/50_install_postgres.sh
  .ddev/config.toml
  LICENSE-3rdparty.csv
  agent_requirements.in
  postgres/changelog.d/19499.fixed
  postgres/datadog_checks/postgres/connections.py
  postgres/datadog_checks/postgres/cursor.py
  postgres/datadog_checks/postgres/discovery.py
  postgres/datadog_checks/postgres/explain_parameterized_queries.py
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/version_utils.py
  postgres/pyproject.toml
  postgres/tests/conftest.py
  postgres/tests/test_connections.py
  postgres/tests/test_cursor.py
  postgres/tests/test_deadlock.py
  postgres/tests/test_discovery.py
  postgres/tests/test_explain_parameterized_queries.py
  postgres/tests/test_pg_integration.py
  postgres/tests/test_pg_replication.py
  postgres/tests/test_relations.py
  postgres/tests/test_replication_slot.py
  postgres/tests/test_statements.py
  postgres/tests/test_unit.py
  postgres/tests/utils.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/approved, backport/7.63.x

#19338 Update Karpenter documentation, update default metrics port
  karpenter/README.md
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19501 Add Supabase readme and some other fixes
  supabase/README.md
  supabase/datadog_checks/supabase/metrics.py
  supabase/metadata.csv
  supabase/tests/common.py
Labels: changelog/no-changelog

#19493 [postgres] Emit raw query statements and plans for non prepared statements
  postgres/assets/configuration/spec.yaml
  postgres/changelog.d/19493.added
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19512 [Release] Bumped pgbouncer version to 8.1.1 and postgres to 22.5.1
  .in-toto/tag.3fd906bb.link
  pgbouncer/CHANGELOG.md
  pgbouncer/changelog.d/19497.fixed
  pgbouncer/datadog_checks/pgbouncer/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/19499.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog

#19481 [AI-4911] Refactor octopus test fixtures
  octopus_deploy/tests/conftest.py
  octopus_deploy/tests/constants.py
  octopus_deploy/tests/docker/Caddyfile
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/environments/high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/environments/low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/events_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/events_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/events_low_limit_pg2.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/no_events_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/events/no_events_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/machines/high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/machines/low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/machines/low_limit_pg2.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-1/projects/high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-1/projects/low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-1/projects/low_limit_pg2.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-2/projects/high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-2/projects/low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-3/projects/high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/ProjectGroups-3/projects/low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/projectgroups/low_limit_pg2.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/name=Deploy/project=Projects-4/states=Queued,Executing/skip=0/take=30/response.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_1_completed_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_1_completed_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_1_in_progress_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_1_in_progress_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_1_none_completed_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_1_none_completed_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_2_completed_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_2_completed_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_2_in_progress_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_2_in_progress_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_2_none_completed_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_2_none_completed_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_3_completed_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_3_completed_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_3_completed_low_limit_pg2.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_3_in_progress_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_3_in_progress_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_3_none_completed_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_3_none_completed_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_4_completed_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_4_completed_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_4_in_progress_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_4_in_progress_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_4_none_completed_high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/Spaces-1/tasks/project_4_none_completed_low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/octopusservernodes/high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/octopusservernodes/low_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/spaces/high_limit_pg1.json
  octopus_deploy/tests/fixtures/GET/api/spaces/low_limit_pg1.json
  octopus_deploy/tests/test_e2e.py
Labels: mergequeue-status: removed

#19472 mySQL schema data model updates
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/19472.added
  mysql/datadog_checks/mysql/databases_data.py
  mysql/datadog_checks/mysql/metadata.py
  mysql/datadog_checks/mysql/queries.py
  mysql/tests/conftest.py
  mysql/tests/test_metadata.py
Labels: ecosystems/review-requested, product/review-requested, agent/review-requested

#19441 [PLINT-539] Add octopus dashboard
  octopus_deploy/assets/dashboards/overview.json
  octopus_deploy/manifest.json
Labels: mergequeue-status: removed, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#19518 GA docs Contentful
  contentful/manifest.json
Labels: ecosystems/review-requested, product/review-requested, docs/approved

#19514 Fix further reading link
  ecs_fargate/manifest.json
Labels: product/review-requested, agent/approved, docs/approved, ecosystems/approved

#19517 Update manifest.json
  trend_micro_vision_one_xdr/manifest.json
Labels: ecosystems/review-requested, product/review-requested, docs/approved

#19515 Update manifest.json
  trend_micro_vision_one_endpoint_security/manifest.json
Labels: ecosystems/review-requested, product/review-requested, docs/approved

#19513 Port changelogs and version bumps from 7.63 RC3 to master.
  pgbouncer/CHANGELOG.md
  pgbouncer/changelog.d/19497.fixed
  pgbouncer/datadog_checks/pgbouncer/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/19499.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Labels: changelog/no-changelog, qa/skip-qa

#19331 [LOI-346] Milvus Logs
  milvus/README.md
  milvus/assets/configuration/spec.yaml
  milvus/assets/logs/milvus.yaml
  milvus/assets/logs/milvus_tests.yaml
  milvus/assets/saved_views/error_logs_overview.json
  milvus/assets/saved_views/logs_overview.json
  milvus/changelog.d/19331.added
  milvus/datadog_checks/milvus/data/conf.yaml.example
  milvus/manifest.json
Labels: assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested

#18719 DDSaaS: Plivo: Crawler Integration v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  plivo/CHANGELOG.md
  plivo/README.md
  plivo/assets/dashboards/plivo_messages.json
  plivo/assets/dashboards/plivo_voice_calls.json
  plivo/assets/logs/plivo.yaml
  plivo/assets/logs/plivo_tests.yaml
  plivo/assets/monitors/messages_budget_overrun.json
  plivo/assets/monitors/messages_error_rate_is_higher_than_usual.json
  plivo/assets/monitors/voice_calls_budget_overrun.json
  plivo/assets/monitors/voice_calls_error_rate_is_higher_than_usual.json
  plivo/assets/plivo_logo.svg
  plivo/assets/service_checks.json
  plivo/images/plivo_messages_1.png
  plivo/images/plivo_messages_2.png
  plivo/images/plivo_voice_calls_1.png
  plivo/images/plivo_voice_calls_2.png
  plivo/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, editorial review, qa/skip-qa, team/agent-integrations, team/documentation, team/logs-backend, assets/deploy-logs-staging, team/siem-logs-reviewers, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, crest/asset-pr

#19516 [DOCS-9811] Add missing JSON example in docs for AP1 region
  ecs_fargate/README.md
Labels: ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#18911 [SAASINT-3328] DDS: Avast: Crawler Integration Without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  avast/CHANGELOG.md
  avast/README.md
  avast/assets/service_checks.json
  avast/manifest.json
Labels: documentation, changelog/no-changelog, dev/testing, dev/tooling, qa/skip-qa, mergequeue-status: removed, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19373 [eci][oci] create oci oke OOTB dashboard
  oke/assets/dashboards/oci_oke_overview.json
  oke/manifest.json
Labels: mergequeue-status: removed, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#19528 DDSaaS: Adyen Dashboard Changes
  adyen/assets/dashboards/adyen_disputes.json
  adyen/assets/dashboards/adyen_payouts.json
Labels: ecosystems/review-requested, product/review-requested
