Repository DataDog/integrations-core, pull requests merged in 2025-09, with the labels that each got.

#21027 CONTINT-4744 - Add new ksm metrics
  kubernetes_state_core/metadata.csv
Labels: qa/skip-qa, integration/kubernetes_state_core, team/agent-integrations, team/container-integrations, ecosystems/review-requested, product/review-requested

#21201 [NDMII-3524] Direct users to profile onboarding docs from ddev SNMP profiles docs
  docs/developer/tutorials/snmp/profiles.md
Labels: documentation, qa/skip-qa, team/agent-integrations, ecosystems/review-requested, product/review-requested, docs/review-requested, team/ndm-core

#21221 [kafka_consumer] Improve efficiency of collecting consumer group state.
  kafka_consumer/changelog.d/21221.fixed
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_unit.py
Labels: integration/kafka_consumer, qa/skip-qa, team/agent-integrations

#21219 PG: Directly run ANALYZE for the test_analyze_progress
  postgres/tests/test_pg_integration.py
  postgres/tests/test_progress_stats.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#21151 [CONTP-902] Implement datadog_csi_driver check
  .codecov.yml
  .ddqa/config.toml
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  datadog_csi_driver/CHANGELOG.md
  datadog_csi_driver/README.md
  datadog_csi_driver/assets/configuration/spec.yaml
  datadog_csi_driver/assets/dashboards/datadog_csi_driver_overview.json
  datadog_csi_driver/changelog.d/21151.added
  datadog_csi_driver/datadog_checks/datadog_csi_driver/__about__.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/__init__.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/check.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/config_models/__init__.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/config_models/defaults.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/config_models/instance.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/config_models/shared.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/config_models/validators.py
  datadog_csi_driver/datadog_checks/datadog_csi_driver/data/auto_conf.yaml
  datadog_csi_driver/datadog_checks/datadog_csi_driver/data/conf.yaml.example
  datadog_csi_driver/hatch.toml
  datadog_csi_driver/images/IMAGES_README.md
  datadog_csi_driver/manifest.json
  datadog_csi_driver/metadata.csv
  datadog_csi_driver/pyproject.toml
  datadog_csi_driver/tests/__init__.py
  datadog_csi_driver/tests/common.py
  datadog_csi_driver/tests/conftest.py
  datadog_csi_driver/tests/docker/Caddyfile
  datadog_csi_driver/tests/docker/docker-compose.yaml
  datadog_csi_driver/tests/fixtures/metrics.txt
  datadog_csi_driver/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/container-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/datadog_csi_driver

#21225 Add PipelineRun TaskRun duration metrics and refactor test setup for Tekton
  tekton/metadata.csv
  tekton/tests/conftest.py
  tekton/tests/kind/tekton-pipeline-bye.yaml
  tekton/tests/kind/tekton-pipeline-install.yaml
  tekton/tests/kind/tekton-pipelinerun-bye.yaml
  tekton/tests/kind/tekton-task-bye.yaml
  tekton/tests/kind/tekton-taskrun-bye.yaml
  tekton/tests/kind/tekton-trigger-install.yaml
Labels: qa/skip-qa, integration/voltdb, team/agent-integrations, team/documentation, integration/tekton

#20851 [NDMII-3565]enrich ndm interface metrics with redapl tags
  cisco_aci/datadog_checks/cisco_aci/fabric.py
  cisco_aci/tests/test_fabric.py
Labels: changelog/no-changelog, integration/cisco_aci, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, team/ndm-integrations

#21198 [DBMON-5587] Always clear out state between schema collections
  mysql/changelog.d/21198.fixed
  mysql/datadog_checks/mysql/databases_data.py
  mysql/datadog_checks/mysql/metadata.py
Labels: integration/mysql, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#21237 Fix the example path used for the logo in dashboard guidelines
  docs/developer/guidelines/dashboards.md
Labels: documentation, qa/skip-qa, team/agent-integrations

#21223 [kafka_consumer] Fix context count for max_partition_contexts
  kafka_consumer/changelog.d/21223.fixed
  kafka_consumer/datadog_checks/kafka_consumer/kafka_consumer.py
  kafka_consumer/tests/test_unit.py
Labels: integration/kafka_consumer, qa/skip-qa, team/agent-integrations

#21179 DDS Updated Dashboard Images
  sanity/images/sanity_activity_overview_1.png
  sanity/images/sanity_activity_overview_2.png
  sanity/images/sanity_activity_overview_3.png
  sanity/manifest.json
  symantec_vip/images/symantec_vip_events.png
Labels: documentation, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/sanity, integration/symantec_vip

#21245 Update test-target job to install the integration in the agent when running e2e tests
  .github/workflows/test-target.yml
Labels: dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations

#21174 (DOCS-11888) Added Agent support info for container health service check
  docker_daemon/assets/service_checks.json
Labels: integration/docker_daemon, qa/skip-qa, team/agent-integrations, team/container-integrations, ecosystems/review-requested, product/review-requested

#21249 Port datadog-checks-base `37.18.1` release to master
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, base_package, team/agent-integrations

#21251 Remove broken `test_submit_is_called_if_too_many_columns` test
  sqlserver/tests/test_unit.py
Labels: integration/sqlserver, team/agent-integrations, team/database-monitoring-agent

#21232 Add BentoML integration
  .codecov.yml
  .github/workflows/config/labeler.yml
  .github/workflows/test-all.yml
  bentoml/CHANGELOG.md
  bentoml/README.md
  bentoml/assets/configuration/spec.yaml
  bentoml/assets/dashboards/placeholder.json
  bentoml/changelog.d/21232.added
  bentoml/datadog_checks/bentoml/__about__.py
  bentoml/datadog_checks/bentoml/__init__.py
  bentoml/datadog_checks/bentoml/check.py
  bentoml/datadog_checks/bentoml/config_models/__init__.py
  bentoml/datadog_checks/bentoml/config_models/defaults.py
  bentoml/datadog_checks/bentoml/config_models/instance.py
  bentoml/datadog_checks/bentoml/config_models/shared.py
  bentoml/datadog_checks/bentoml/config_models/validators.py
  bentoml/datadog_checks/bentoml/data/conf.yaml.example
  bentoml/datadog_checks/bentoml/metrics.py
  bentoml/hatch.toml
  bentoml/manifest.json
  bentoml/metadata.csv
  bentoml/pyproject.toml
  bentoml/tests/__init__.py
  bentoml/tests/common.py
  bentoml/tests/conftest.py
  bentoml/tests/fixtures/metrics.txt
  bentoml/tests/test_unit.py
Labels: documentation, dev/testing, dev/tooling, editorial review, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, integration/bentoml

#21234 Fix path in ddev size command
  ddev/changelog.d/21234.fixed
  ddev/src/ddev/cli/size/utils/common_funcs.py
Labels: ddev, team/agent-integrations

#21262 [Backport] Changelogs from psycopg3 updated integrations in 7.70.1
  pgbouncer/CHANGELOG.md
  pgbouncer/changelog.d/21173.added
  pgbouncer/datadog_checks/pgbouncer/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/21173.added
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  silverstripe_cms/CHANGELOG.md
  silverstripe_cms/changelog.d/21173.added
  silverstripe_cms/datadog_checks/silverstripe_cms/__about__.py
Labels: documentation, integration/pgbouncer, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, integration/silverstripe_cms

#21266 Downgrade paramiko back to 3.5.1
  LICENSE-3rdparty.csv
  agent_requirements.in
  ssh_check/changelog.d/21266.fixed
  ssh_check/pyproject.toml
Labels: integration/ssh_check, dependencies, team/agent-integrations

#21271 Make the validate-skip-qa action update the comment if it has been posted already
  .github/workflows/validate-skip-qa.yml
Labels: dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations

#21275 Port new integration releases from 7.71.x.
  bentoml/CHANGELOG.md
  bentoml/changelog.d/21232.added
  bentoml/datadog_checks/bentoml/__about__.py
  datadog_csi_driver/CHANGELOG.md
  datadog_csi_driver/changelog.d/21151.added
  datadog_csi_driver/datadog_checks/datadog_csi_driver/__about__.py
  hugging_face_tgi/CHANGELOG.md
  hugging_face_tgi/changelog.d/20905.added
  hugging_face_tgi/datadog_checks/hugging_face_tgi/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, team/agent-integrations, team/documentation, integration/hugging_face_tgi, integration/datadog_csi_driver, integration/bentoml, team/container-platform

#21288 Add a KindLoad context manager that allows loading custom docker images into a kind cluster
  datadog_checks_dev/changelog.d/21288.added
  datadog_checks_dev/datadog_checks/dev/kind.py
  datadog_checks_dev/tests/test_kind.py
Labels: qa/skip-qa, dev_package, team/agent-integrations

#21274 Fix Velero tests and stop using bitnami images
  velero/changelog.d/21274.fixed
  velero/pyproject.toml
  velero/tests/conftest.py
  velero/tests/kind/kubectl.Dockerfile
  velero/tests/kind/velero-values.yaml
Labels: qa/skip-qa, team/agent-integrations, integration/velero

#21005 [IDP-592] Add owner field to SaaS Integrations (Part 2/2)
  klaviyo/manifest.json
  lastpass/manifest.json
  mailchimp/manifest.json
  metabase/manifest.json
  mimecast/manifest.json
  mux/manifest.json
  okta_workflows/manifest.json
  orca_security/manifest.json
  palo_alto_cortex_xdr/manifest.json
  ping_federate/manifest.json
  ping_one/manifest.json
  plaid/manifest.json
  plivo/manifest.json
  postmark/manifest.json
  proofpoint_on_demand/manifest.json
  proofpoint_tap/manifest.json
  ringcentral/manifest.json
  sanity/manifest.json
  shopify/manifest.json
  sonicwall_firewall/manifest.json
  sophos_central_cloud/manifest.json
  streamnative/manifest.json
  symantec_vip/manifest.json
  tanium/manifest.json
  temporal_cloud/manifest.json
  tenable_io/manifest.json
  trellix_endpoint_security/manifest.json
  trend_micro_email_security/manifest.json
  trend_micro_vision_one_endpoint_security/manifest.json
  trend_micro_vision_one_xdr/manifest.json
  vonage/manifest.json
  workato/manifest.json
  zero_networks/manifest.json
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested

#21003 [IDP-592] Add owner field to cloud-network-monitoring Integrations
  network_path/manifest.json
Labels: documentation, qa/skip-qa, team/agent-integrations, team/network-device-monitoring, team/documentation, integration/checkpoint_quantum_firewall, integration/network_path, team/Networks, ecosystems/review-requested, product/review-requested, agent/approved

#21004 [IDP-592] Add owner field to SaaS Integrations (Part 1/2)
  adyen/manifest.json
  asana/manifest.json
  authorize_net/manifest.json
  avast/manifest.json
  beyondtrust_password_safe/manifest.json
  bitdefender/manifest.json
  bitwarden/manifest.json
  blazemeter/manifest.json
  box/manifest.json
  brevo/manifest.json
  carbon_black_cloud/manifest.json
  checkpoint_harmony_email_and_collaboration/manifest.json
  cisco_duo/manifest.json
  cisco_sdwan/manifest.json
  cisco_secure_email_threat_defense/manifest.json
  cisco_secure_endpoint/manifest.json
  cisco_secure_firewall/manifest.json
  cisco_umbrella_dns/manifest.json
  contentful/manifest.json
  dnsfilter/manifest.json
  docusign/manifest.json
  extrahop/manifest.json
  falco/manifest.json
  forcepoint_secure_web_gateway/manifest.json
  forcepoint_security_service_edge/manifest.json
  freshservice/manifest.json
  genesys/manifest.json
  godaddy/manifest.json
  greenhouse/manifest.json
  hubspot_content_hub/manifest.json
  iboss/manifest.json
  incident_io/manifest.json
  intercom/manifest.json
  ivanti_nzta/manifest.json
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/approved

#21303 DOCS-11957: Update codeowners for Cisco ACI
  .github/CODEOWNERS
Labels: qa/skip-qa, team/agent-integrations, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved

#21231 Replace hugo highlight syntax with native code blocks
  eks_fargate/README.md
Labels: documentation, integration/eks_fargate, qa/skip-qa, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#21291 [Hugging Face TGI] Add process signature
  hugging_face_tgi/manifest.json
Labels: documentation, qa/skip-qa, team/agent-integrations, team/documentation, integration/hugging_face_tgi

#21118 [SAASINT-4564] DDS: ZeroFox Cloud Platform: Crawler Integration v1.0.0
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  zerofox_cloud_platform/CHANGELOG.md
  zerofox_cloud_platform/README.md
  zerofox_cloud_platform/assets/dashboards/zerofox_cloud_platform_alert_insights.json
  zerofox_cloud_platform/assets/logs/zerofox-cloud-platform.yaml
  zerofox_cloud_platform/assets/logs/zerofox-cloud-platform_tests.yaml
  zerofox_cloud_platform/assets/zerofox_cloud_platform.svg
  zerofox_cloud_platform/images/zerofox_cloud_platform_alert_insights_1.png
  zerofox_cloud_platform/images/zerofox_cloud_platform_alert_insights_2.png
  zerofox_cloud_platform/images/zerofox_cloud_platform_alert_insights_3.png
  zerofox_cloud_platform/manifest.json
Labels: documentation, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, team/logs-integrations-reviewers

#21340 Add get_merge_base to ddev git
  ddev/changelog.d/21340.added
  ddev/src/ddev/utils/git.py
  ddev/tests/utils/test_git.py
Labels: ddev, team/agent-integrations

#21354 Add dummy workflow to test workflow_run trigger
  .github/workflows/testing-run-on-wf-run.yml
Labels: dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations

#21270 [Lustre] Add additional tags
  lustre/changelog.d/21270.added
  lustre/datadog_checks/lustre/check.py
  lustre/datadog_checks/lustre/constants.py
  lustre/tests/conftest.py
  lustre/tests/test_unit.py
Labels: team/agent-integrations, integration/lustre

#21360 Upgrade ddtrace to 3.12.5
  agent_requirements.in
  datadog_checks_base/changelog.d/21360.added
  datadog_checks_base/pyproject.toml
Labels: dependencies, base_package, team/agent-integrations, backport/7.71.x

#21310 Change clickhouse integration to use the official HTTP connector
  LICENSE-3rdparty.csv
  agent_requirements.in
  clickhouse/README.md
  clickhouse/assets/configuration/spec.yaml
  clickhouse/changelog.d/21310.changed
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  clickhouse/pyproject.toml
  clickhouse/tests/common.py
  clickhouse/tests/conftest.py
  clickhouse/tests/metrics.py
  clickhouse/tests/test_unit.py
Labels: documentation, integration/clickhouse, dependencies, team/agent-integrations, team/documentation

#21357 Add dummy workflow to test workflow_run trigger
  .github/workflows/testing-run-on-wf-run.yml
Labels: dev/testing, dev/tooling, qa/skip-qa

#21373 Add dummy workflow to test workflow_run trigger
  .github/workflows/testing-run-on-wf-run.yml
Labels: dev/testing, dev/tooling, team/agent-integrations

#21369 Bump cURL to 8.16.0
  .builders/images/linux-aarch64/Dockerfile
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/macos/builder_setup.sh
  .builders/images/windows-x86_64/Dockerfile
  .builders/images/windows-x86_64/build_script.ps1
Labels: team/agent-integrations, team/agent-build

#21383 IDP-592 - set saas-int as the owner of snowflake
  snowflake/manifest.json
  squid/manifest.json
Labels: documentation, integration/squid, integration/snowflake, qa/skip-qa, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested

#21343 [REMED-230] Adding template for OOMKilled monitors
  kubernetes/assets/monitors/monitor_pod_oomkilled.json
  kubernetes/manifest.json
Labels: documentation, integration/kubernetes, qa/skip-qa, mergequeue-status: removed, team/agent-integrations, team/container-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#21380 Modernize Databricks integration docs
  databricks/README.md
Labels: documentation, integration/databricks, mergequeue-status: waiting, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#21398 [AI-6103] Use bitnamilegacy for pgbouncer E2E
  pgbouncer/tests/compose/docker-compose-v3.yml
Labels: integration/pgbouncer, qa/skip-qa, team/agent-integrations

#21327 Update setup instructions for mac_audit_logs to include necessary permissions
  mac_audit_logs/README.md
Labels: documentation, qa/skip-qa, team/agent-integrations, team/documentation, integration/mac_audit_logs

#21393 PG: Handle locks without relations like transactionid or virtualxid locks
  postgres/changelog.d/21393.changed
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/tests/test_relations.py
Labels: integration/postgres, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#21299 Update README.md
  redisdb/README.md
Labels: documentation, integration/redisdb, editorial review, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, docs/approved

#21389 [CCA-1142] Make CCM SaaS Integration Dashboards consistent
  anthropic_usage_and_costs/assets/dashboards/anthropic_usage_and_costs_overview.json
  databricks/assets/dashboards/databricks_cost_overview.json
  openai/assets/dashboards/cost_overview_dashboard.json
  snowflake/assets/dashboards/snowflake_costs.json
Labels: integration/snowflake, integration/databricks, integration/openai, mergequeue-status: removed, team/agent-integrations, team/ml-observability, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/anthropic_usage_and_costs

#21108 Modify master run to avoid running in commits that do not modify specific files
  .github/workflows/master-windows.yml
  .github/workflows/master.yml
Labels: dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations

#21424 Add persistent cache information to the LogCrawlerCheck documentation
  docs/developer/base/logs-crawlers.md
Labels: documentation, qa/skip-qa, team/agent-integrations

#21421 [DBMON-5685] Ensure innodb lock queries respect disable_innodb_metrics config option
  mysql/changelog.d/21421.fixed
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/mysql.py
Labels: integration/mysql, team/agent-integrations, team/database-monitoring-agent, ecosystems/review-requested, product/review-requested, agent/review-requested

#21434 Add owner field to Container-Platform manifest files
  datadog_csi_driver/manifest.json
  kubernetes_admission/manifest.json
Labels: documentation, team/agent-integrations, ecosystems/review-requested, product/review-requested, integration/kubernetes_admission, integration/datadog_csi_driver, team/container-platform

#20444 Ensure that ddev does not treat worktrees as extra packages
  ddev/changelog.d/20444.added
  ddev/src/ddev/repo/core.py
  ddev/src/ddev/utils/git.py
  ddev/tests/cli/env/conftest.py
  ddev/tests/cli/meta/scripts/conftest.py
  ddev/tests/cli/release/test_changelog.py
  ddev/tests/cli/test/test_test.py
  ddev/tests/cli/test_dep.py
  ddev/tests/cli/validate/conftest.py
  ddev/tests/cli/validate/test_codeowners.py
  ddev/tests/cli/validate/test_metrics.py
  ddev/tests/cli/validate/test_version.py
  ddev/tests/conftest.py
  ddev/tests/helpers/api.py
  ddev/tests/integration/test_core.py
  ddev/tests/repo/test_core.py
  ddev/tests/utils/test_git.py
Labels: qa/skip-qa, ddev, team/agent-integrations

#21069 Fix title and inputs for test-agent-target
  .github/workflows/test-agent-target.yml
Labels: dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations

#20917 Fix agent image normalization in env start
  ddev/changelog.d/20917.fixed
  ddev/src/ddev/e2e/agent/docker.py
  ddev/tests/e2e/agent/test_docker.py
Labels: dev/testing, dev/tooling, qa/skip-qa, ddev, team/agent-integrations

#21442 Remove openssl-3 check bypassing mechanism
  .builders/scripts/repair_wheels.py
Labels: qa/skip-qa, ecosystems/review-requested, product/review-requested, agent/review-requested, team/agent-build

#21437 Port changelog changes from 7.71.0
  pgbouncer/CHANGELOG.md
  pgbouncer/changelog.d/21074.fixed
  pgbouncer/datadog_checks/pgbouncer/__about__.py
  postgres/CHANGELOG.md
  postgres/changelog.d/21074.fixed
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
  silverstripe_cms/CHANGELOG.md
  silverstripe_cms/changelog.d/21074.fixed
  silverstripe_cms/datadog_checks/silverstripe_cms/__about__.py
Labels: documentation, integration/pgbouncer, integration/postgres, release, qa/skip-qa, team/agent-integrations, team/database-monitoring, team/database-monitoring-agent, team/documentation, integration/silverstripe_cms

#21446 [REMED-248] Updating the OOMKilled monitor template to measure a different metric
  kubernetes/assets/monitors/monitor_pod_oomkilled.json
Labels: integration/kubernetes, qa/skip-qa, team/agent-integrations, team/container-integrations, ecosystems/review-requested, product/review-requested

#20344 [AI-5181] CloudGen Firewall Integration PR
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  cloudgen_firewall/CHANGELOG.md
  cloudgen_firewall/README.md
  cloudgen_firewall/assets/configuration/spec.yaml
  cloudgen_firewall/assets/dashboards/cloudgen_firewall_overview.json
  cloudgen_firewall/assets/logs/cloudgen_firewall.yaml
  cloudgen_firewall/assets/logs/cloudgen_firewall_tests.yaml
  cloudgen_firewall/changelog.d/20344.added
  cloudgen_firewall/datadog_checks/cloudgen_firewall/__about__.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/__init__.py
  cloudgen_firewall/datadog_checks/cloudgen_firewall/data/conf.yaml.example
  cloudgen_firewall/images/cloudgen_firewall_logs.png
  cloudgen_firewall/images/cloudgen_firewall_logs1.png
  cloudgen_firewall/images/cloudgen_firewall_overview.png
  cloudgen_firewall/manifest.json
  cloudgen_firewall/pyproject.toml
Labels: documentation, dev/testing, dev/tooling, release, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, team/logs-backend, assets/deploy-logs-staging, ecosystems/review-requested, product/review-requested, agent/approved, docs/review-requested, team/logs-integrations-reviewers

#21458 Add dummy workflow to test workflow_run trigger
  .github/workflows/testing-run-on-wf-run.yml
Labels: dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations

#21452 Add HPC Overview Dashboard to Slurm integration
  slurm/assets/dashboards/hpc_overview_dashboard.json
  slurm/manifest.json
Labels: documentation, team/agent-integrations, team/documentation, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved, integration/slurm

#21413 DDS: Cofense Triage: Crawler Integration Without Assets
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  cofense_triage/CHANGELOG.md
  cofense_triage/README.md
  cofense_triage/manifest.json
Labels: documentation, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, agent/approved, docs/approved

#21239 [SAASINT-4571] DDS: Have I Been Pwned : Crawler Integration v1.0.0
  .github/CODEOWNERS
  have_i_been_pwned/README.md
  have_i_been_pwned/assets/dashboards/have_i_been_pwned_overview.json
  have_i_been_pwned/assets/have_i_been_pwned.svg
  have_i_been_pwned/assets/logs/have-i-been-pwned.yaml
  have_i_been_pwned/assets/logs/have-i-been-pwned_tests.yaml
  have_i_been_pwned/images/have_i_been_pwned_overview_1.png
  have_i_been_pwned/images/have_i_been_pwned_overview_2.png
  have_i_been_pwned/manifest.json
Labels: documentation, dev/testing, dev/tooling, qa/skip-qa, team/agent-integrations, team/documentation, team/saas-integrations, ecosystems/review-requested, product/review-requested, docs/approved, team/logs-integrations-reviewers, integration/have_i_been_pwned

#21477 Release `datadog-checks-base`
  .in-toto/tag.bd79a691.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/21161.added
  datadog_checks_base/changelog.d/21202.added
  datadog_checks_base/changelog.d/21474.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Labels: documentation, release, qa/skip-qa, base_package, team/agent-integrations
